Repository openshift/console, pull requests merged in 2019-10, with the labels that each got.

#2873 Remove unused canExpand functionality
  frontend/__tests__/components/factory/list-page.spec.tsx
  frontend/packages/dev-console/src/components/pipelines/PipelinesPage.tsx
  frontend/public/components/factory/list-page.jsx
Labels: approved, component/core, component/dev-console, lgtm, size/M

#2601 Update Inventory card design
  frontend/packages/console-demo-plugin/src/dashboards/inventory.tsx
  frontend/packages/console-demo-plugin/src/plugin.tsx
  frontend/packages/console-plugin-sdk/src/typings/dashboards.ts
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/overview-dashboard/inventory.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/InventoryCard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/utils.ts
  frontend/public/components/dashboard/inventory-card/inventory-card.scss
  frontend/public/components/dashboard/inventory-card/inventory-item.tsx
  frontend/public/components/dashboard/inventory-card/status-group.ts
  frontend/public/components/dashboard/inventory-card/utils.ts
  frontend/public/components/dashboards-page/overview-dashboard/inventory-card.tsx
  frontend/public/components/dashboards-page/with-dashboard-resources.tsx
Labels: approved, component/ceph, component/core, component/dashboard, component/dev-console, component/kubevirt, component/metal3, component/monitoring, component/noobaa, component/olm, component/sdk, lgtm, size/XL

#2517 kubevirt: Add edit VM flavor integration test
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/detailView.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/editFlavorView.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/kubevirtDetailView.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/consts.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/types.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.flavor.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.wizard.configs.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.wizard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/virtualMachine.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/vms.list.view.ts
  frontend/packages/kubevirt-plugin/src/components/edit-button.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-resource.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
Labels: approved, component/kubevirt, component/shared, lgtm, size/L

#2809 console-shared: Move pod's getNodeName() selector
  frontend/packages/console-shared/src/selectors/index.ts
  frontend/packages/console-shared/src/selectors/pod.ts
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-details-card.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
  frontend/packages/kubevirt-plugin/src/selectors/pod/selectors.ts
Labels: approved, component/core, component/kubevirt, component/shared, lgtm, size/S

#2866 Bug 1752845: Removed the tainting of nodes from ocs install flow
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/node-list.tsx
Labels: approved, bugzilla/valid-bug, component/ceph, lgtm, size/M

#2543 Add Dashboard Activity card
  frontend/packages/console-app/src/components/dashboards-page/ClusterUpdateActivity.tsx
  frontend/packages/console-app/src/plugin.tsx
  frontend/packages/console-demo-plugin/src/dashboards/activity.tsx
  frontend/packages/console-demo-plugin/src/plugin.tsx
  frontend/packages/console-plugin-sdk/src/registry.ts
  frontend/packages/console-plugin-sdk/src/typings/dashboards.ts
  frontend/public/components/dashboard/activity-card/activity-body.tsx
  frontend/public/components/dashboard/activity-card/activity-card.scss
  frontend/public/components/dashboard/activity-card/activity-item.tsx
  frontend/public/components/dashboard/activity-card/event-item.tsx
  frontend/public/components/dashboards-page/overview-dashboard/activity-card.tsx
  frontend/public/components/dashboards-page/overview-dashboard/overview-dashboard.tsx
  frontend/public/components/utils/event-stream.tsx
  frontend/public/style.scss
Labels: approved, component/ceph, component/core, component/dashboard, component/dev-console, component/kubevirt, component/metal3, component/monitoring, component/noobaa, component/olm, component/sdk, lgtm, size/XL

#2818 fix(sort-latestrun):Enable sorting of PipelineList by latestRun - for reference
  frontend/packages/dev-console/src/components/pipelines/PipelineHeader.tsx
Labels: approved, component/dev-console, lgtm, size/XS

#2838 adds specs for knative-serving-utils and refactors service
  frontend/packages/dev-console/src/components/import/deployImage-submit-utils.ts
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/knative-plugin/src/utils/__tests__/create-knative-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-serving-data.ts
  frontend/packages/knative-plugin/src/utils/create-knative-utils.ts
Labels: approved, component/dev-console, component/knative, lgtm, size/L

#2870 Test Datavolume accessMode and volumeMode
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/consts.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/mocks.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/utils.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.wizard.configs.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.wizard.scenario.ts
Labels: approved, component/kubevirt, lgtm, size/M

#2871 Conversion of bsStyle and cleanup
  frontend/public/components/dashboard/dashboard-card/card-link.tsx
  frontend/public/components/dashboard/dashboard-card/card.scss
  frontend/public/components/overview/build-overview.tsx
  frontend/public/components/secret.jsx
Labels: approved, component/core, component/dashboard, lgtm, size/S

#2875 Ensure we don't allow invalid urls as source code links
  frontend/packages/dev-console/src/components/import/__tests__/render-utils.spec.ts
  frontend/packages/dev-console/src/components/import/render-utils.tsx
  frontend/packages/dev-console/src/components/topology/shapes/WorkloadNode.tsx
Labels: approved, component/dev-console, lgtm, size/L

#2878 Show cluster role YAML samples in create role sidebar
  frontend/public/components/sidebars/role-sidebar.tsx
Labels: approved, component/core, lgtm, size/S

#2869 Make storage class dropdown consistent
  frontend/public/components/_dropdown.scss
  frontend/public/components/_resource.scss
  frontend/public/components/utils/storage-class-dropdown.tsx
  frontend/public/style/_forms.scss
Labels: approved, component/core, lgtm, size/M

#2751 kubevirt: Add VM Dashboard Inventory Card
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/index.ts
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-inventory-card.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-dashboard.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-details-page.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/constants.ts
  frontend/packages/kubevirt-plugin/src/selectors/vmi/selectors.ts
  frontend/public/components/dashboard/inventory-card/inventory-item.tsx
Labels: approved, component/core, component/dashboard, component/kubevirt, component/metal3, component/sdk, component/shared, lgtm, size/M

#2806 Add Status card
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/health-card/health-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/health-card/utils.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
  frontend/packages/console-app/src/components/dashboards-page/ClusterUpdateActivity.tsx
  frontend/packages/console-app/src/components/dashboards-page/ControlPlaneStatus.tsx
  frontend/packages/console-app/src/components/dashboards-page/status.ts
  frontend/packages/console-app/src/plugin.tsx
  frontend/packages/console-app/src/queries.ts
  frontend/packages/console-demo-plugin/src/dashboards/health.ts
  frontend/packages/console-demo-plugin/src/plugin.tsx
  frontend/packages/console-plugin-sdk/src/typings/dashboards.ts
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/overview-dashboard/health.ts
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/HealthCard.tsx
  frontend/packages/noobaa-storage-plugin/src/components/health-card/health-card.tsx
  frontend/public/actions/dashboards.ts
  frontend/public/components/dashboard/dashboard-card/card-link.tsx
  frontend/public/components/dashboard/dashboard-card/card.scss
  frontend/public/components/dashboard/health-card/states.ts
  frontend/public/components/dashboard/health-card/utils.tsx
  frontend/public/components/dashboard/status-card/alert-item.tsx
  frontend/public/components/dashboard/status-card/health-body.tsx
  frontend/public/components/dashboard/status-card/health-item.tsx
  frontend/public/components/dashboard/status-card/status-body.tsx
  frontend/public/components/dashboard/status-card/status-card.scss
  frontend/public/components/dashboards-page/overview-dashboard/health-card.tsx
  frontend/public/components/dashboards-page/overview-dashboard/overview-dashboard.tsx
  frontend/public/components/dashboards-page/overview-dashboard/status-card.scss
  frontend/public/components/dashboards-page/overview-dashboard/status-card.tsx
  frontend/public/components/dashboards-page/utils.ts
  frontend/public/components/dashboards-page/with-dashboard-resources.tsx
  frontend/public/components/monitoring.tsx
  frontend/public/style.scss
Labels: approved, component/ceph, component/core, component/dashboard, component/kubevirt, component/metal3, component/monitoring, component/noobaa, component/olm, component/sdk, lgtm, size/XXL

#2880 Convert reveal buttons to pf4
  frontend/public/components/_route.scss
  frontend/public/components/configmap-and-secret-data.tsx
  frontend/public/components/routes.tsx
  frontend/public/style/_overrides.scss
Labels: approved, component/core, lgtm, size/M

#2888 Add `text` to ConsoleCLIDownload YAML template
  frontend/integration-tests/tests/crd-extensions.scenario.ts
  frontend/public/models/yaml-templates.ts
Labels: approved, component/core, lgtm, queue/critical-fix, size/XS

#2892 Add Storage Classes to Overview Inventory Card
  frontend/public/components/dashboard/inventory-card/inventory-item.tsx
  frontend/public/components/dashboards-page/overview-dashboard/inventory-card.tsx
Labels: approved, component/core, component/dashboard, lgtm, size/S

#2901 Add users page and impersonate user action
  frontend/public/actions/features.ts
  frontend/public/components/nav/admin-nav.tsx
  frontend/public/components/resource-pages.ts
  frontend/public/components/user.tsx
  frontend/public/const.ts
  frontend/public/models/index.ts
  frontend/public/module/k8s/index.ts
Labels: approved, component/core, lgtm, size/L

#2298 [RFR] Add tests for kubevirt VM Clone dialog
  frontend/integration-tests/protractor.conf.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/cloneDialog.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachine.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/consts.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/mocks.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/utils.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.actions.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.clone.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.migration.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.overview.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.resources.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.wizard.configs.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.wizard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/cloneDialog.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/virtualMachine.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/vm.actions.view.ts
Labels: approved, component/kubevirt, lgtm, size/XL

#2723 Dedicated pages for OB and OBC
  frontend/packages/noobaa-storage-plugin/src/components/object-bucket-claim-page/create-obc.tsx
  frontend/packages/noobaa-storage-plugin/src/components/object-bucket-claim-page/menu-actions.ts
  frontend/packages/noobaa-storage-plugin/src/components/object-bucket-claim-page/modals/attach-deployment-obc-modal.tsx
  frontend/packages/noobaa-storage-plugin/src/components/object-bucket-claim-page/object-bucket-claim.tsx
  frontend/packages/noobaa-storage-plugin/src/components/object-bucket-claim-page/secret.tsx
  frontend/packages/noobaa-storage-plugin/src/components/object-bucket-page/create-ob.tsx
  frontend/packages/noobaa-storage-plugin/src/components/object-bucket-page/object-bucket.tsx
  frontend/packages/noobaa-storage-plugin/src/components/object-bucket-page/state.ts
  frontend/packages/noobaa-storage-plugin/src/models.ts
  frontend/packages/noobaa-storage-plugin/src/plugin.ts
  frontend/packages/noobaa-storage-plugin/src/table-filters.ts
  frontend/packages/noobaa-storage-plugin/src/utils.ts
  frontend/public/components/configmap-and-secret-data.tsx
Labels: approved, component/ceph, component/core, component/noobaa, lgtm, ok-to-test, size/XXL

#2796 Add Pod Dashboard
  frontend/packages/console-shared/src/selectors/pod.ts
  frontend/public/components/pod-dashboard-context.tsx
  frontend/public/components/pod-dashboard-details.tsx
  frontend/public/components/pod-dashboard.tsx
  frontend/public/components/pod.tsx
  frontend/public/components/utils/href.ts
Labels: approved, component/core, component/kubevirt, component/shared, lgtm, size/L

#2843 Use PF4 tooltips for topology
  frontend/package.json
  frontend/packages/console-shared/src/components/SvgPodTooltip.tsx
  frontend/packages/console-shared/src/components/SvgTooltip.scss
  frontend/packages/console-shared/src/components/SvgTooltip.tsx
  frontend/packages/console-shared/src/components/pod/PodStatus.scss
  frontend/packages/console-shared/src/components/pod/PodStatus.tsx
  frontend/packages/dev-console/src/components/topology/SvgDecoratorTooltip.tsx
  frontend/packages/dev-console/src/components/topology/__tests__/Graph.spec.tsx
  frontend/packages/dev-console/src/components/topology/shapes/Decorator.tsx
  frontend/packages/dev-console/src/components/topology/shapes/WorkloadNode.tsx
  frontend/packages/dev-console/src/components/topology/shapes/__tests__/WorkloadNode.spec.tsx
  frontend/yarn.lock
Labels: approved, component/dev-console, component/shared, lgtm, size/XL

#2872 Always remove CSV when removing Subscription
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.tsx
Labels: approved, component/olm, lgtm, size/M

#2877 Bits from #2269
  frontend/packages/console-demo-plugin/src/plugin.tsx
  frontend/packages/console-plugin-sdk/src/codegen/active-plugins.ts
  frontend/packages/console-plugin-sdk/src/registry.ts
  frontend/packages/console-plugin-sdk/src/typings/clusterserviceversions.ts
  frontend/packages/console-plugin-sdk/src/typings/dashboards.ts
  frontend/packages/console-plugin-sdk/src/typings/dev-catalog.ts
  frontend/packages/console-plugin-sdk/src/typings/extension.ts
  frontend/packages/console-plugin-sdk/src/typings/features.ts
  frontend/packages/console-plugin-sdk/src/typings/global-configs.ts
  frontend/packages/console-plugin-sdk/src/typings/kebab-actions.ts
  frontend/packages/console-plugin-sdk/src/typings/models.ts
  frontend/packages/console-plugin-sdk/src/typings/nav-items.ts
  frontend/packages/console-plugin-sdk/src/typings/overview.ts
  frontend/packages/console-plugin-sdk/src/typings/pages.ts
  frontend/packages/console-plugin-sdk/src/typings/perspectives.ts
  frontend/packages/console-plugin-sdk/src/typings/plugins/ceph-storage-plugin.ts
  frontend/packages/console-plugin-sdk/src/typings/types.ts
  frontend/packages/console-plugin-sdk/src/typings/yaml-templates.ts
  frontend/packages/dev-console/src/components/import/serverless/ServerlessSection.tsx
  frontend/packages/kubevirt-plugin/src/plugin.tsx
  frontend/public/actions/k8s.ts
  frontend/public/components/about-modal.tsx
  frontend/public/components/api-explorer.tsx
  frontend/public/components/app-contents.tsx
  frontend/public/components/catalog/catalog-page.tsx
  frontend/public/components/dashboards-page/overview-dashboard/inventory-card.tsx
  frontend/public/components/nav/nav-header.tsx
  frontend/public/components/utils/resource-link.tsx
  frontend/public/reducers/features.ts
Labels: approved, component/core, component/dashboard, component/dev-console, component/kubevirt, component/sdk, lgtm, size/L

#2879 fix edit icon positioning and update btn to pf4 button component
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/resource-requirements.tsx
  frontend/packages/operator-lifecycle-manager/src/style.scss
Labels: approved, component/olm, lgtm, size/S

#2884 Introduce BareMetalHostKind
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostDetails.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostDisks.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostNICs.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostStatus.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/MachineLink.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/BareMetalHostDashboard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/DetailsCard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/EventsCard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/HealthCard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/InventoryCard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/UtilizationCard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/utils.ts
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/host-menu-actions.tsx
  frontend/packages/metal3-plugin/src/components/maintenance/MaintenancePopover.tsx
  frontend/packages/metal3-plugin/src/components/modals/PowerOffHostModal.tsx
  frontend/packages/metal3-plugin/src/components/types.ts
  frontend/packages/metal3-plugin/src/k8s/requests/host-power-operations.ts
  frontend/packages/metal3-plugin/src/selectors/baremetal-hosts.ts
  frontend/packages/metal3-plugin/src/types/host.ts
  frontend/packages/metal3-plugin/src/utils/host-status.ts
Labels: approved, component/metal3, lgtm, size/L

#2885 Bug 1746156: Show PVC capacity to align with CLI
  frontend/public/components/persistent-volume-claim.jsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/S

#2893 Redesign events card according to 4.3 design
  frontend/public/components/dashboard/events-card/event-item.tsx
  frontend/public/components/dashboard/events-card/events-body.tsx
  frontend/public/components/dashboard/events-card/events-card.scss
Labels: approved, component/core, component/dashboard, lgtm, size/M

#2899 Fix: Traffic port does not indicate to the user that the first port will be used as the default
  frontend/packages/dev-console/src/components/import/image-search/ImageSearch.tsx
Labels: approved, component/dev-console, kind/bug, lgtm, size/XS

#2902 Correctly update monaco readOnly option
  frontend/public/components/edit-yaml.jsx
Labels: approved, component/core, lgtm, size/XS

#2876 fix issue with serverless image stream with tags
  frontend/packages/dev-console/src/components/import/deployImage-submit-utils.ts
Labels: approved, component/dev-console, kind/bug, lgtm, size/S

#2907 Fix bug operand boolean switch didn't work
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/index.tsx
  frontend/packages/operator-lifecycle-manager/src/style.scss
Labels: approved, component/olm, lgtm, size/XS

#2868 Bug: Deploy image ignores target port drop down selection and always uses first entry
  frontend/packages/dev-console/src/components/import/__mocks__/deployImage-validation-mock.ts
  frontend/packages/dev-console/src/components/import/__tests__/deployImage-validation-utils.spec.ts
  frontend/packages/dev-console/src/components/import/deployImage-submit-utils.ts
  frontend/packages/dev-console/src/components/import/image-search/ImageSearch.tsx
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/utils/__tests__/__snapshots__/shared-submit-utils.spec.ts.snap
  frontend/packages/dev-console/src/utils/__tests__/shared-submit-utils.spec.ts
  frontend/packages/dev-console/src/utils/shared-submit-utils.ts
Labels: approved, component/dev-console, lgtm, size/XL

#2883 Get the status of a VM by its newest Pod
  frontend/packages/kubevirt-plugin/src/components/vms/vm-console.tsx
  frontend/packages/kubevirt-plugin/src/selectors/pod/selectors.ts
  frontend/packages/kubevirt-plugin/src/statuses/vm/vm.ts
Labels: approved, component/kubevirt, lgtm, needs-ok-to-test, size/M

#2916 [release-4.1] Bug 1758636: Add prerelease-4.2 to channel options
  frontend/public/module/k8s/cluster-settings.ts
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, lgtm, size/XS

#2859 Bug 1755477: Removes dependency on SC for filtering cpeh PVCs
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/inventory-card.tsx
  frontend/packages/ceph-storage-plugin/src/selectors/index.ts
Labels: approved, bugzilla/valid-bug, component/ceph, lgtm, size/M

#2882 Nodes refactoring
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/node-list.tsx
  frontend/packages/console-app/src/components/nodes/NodeDetails.tsx
  frontend/packages/console-app/src/components/nodes/NodeDetailsConditions.tsx
  frontend/packages/console-app/src/components/nodes/NodeDetailsImages.tsx
  frontend/packages/console-app/src/components/nodes/NodeDetailsOverview.tsx
  frontend/packages/console-app/src/components/nodes/NodeDetailsPage.tsx
  frontend/packages/console-app/src/components/nodes/NodeGraphs.tsx
  frontend/packages/console-app/src/components/nodes/NodeIPList.tsx
  frontend/packages/console-app/src/components/nodes/NodeRoles.tsx
  frontend/packages/console-app/src/components/nodes/NodeStatus.tsx
  frontend/packages/console-app/src/components/nodes/NodesPage.tsx
  frontend/packages/console-app/src/components/nodes/menu-actions.tsx
  frontend/packages/console-app/src/components/nodes/modals/ConfigureUnschedulableModal.tsx
  frontend/packages/console-app/src/components/nodes/modals/index.ts
  frontend/packages/console-app/src/index.ts
  frontend/packages/console-app/src/k8s/requests/nodes.ts
  frontend/packages/console-app/src/status/node.ts
  frontend/packages/console-shared/src/selectors/index.ts
  frontend/packages/console-shared/src/selectors/node.ts
  frontend/packages/console-shared/src/types/index.ts
  frontend/packages/console-shared/src/types/node.ts
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostDetailsPage.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostRole.tsx
  frontend/packages/metal3-plugin/src/plugin.ts
  frontend/public/components/dashboard/inventory-card/utils.ts
  frontend/public/components/factory/list.tsx
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/factory/table.tsx
  frontend/public/components/machine.tsx
  frontend/public/components/modals/configure-unschedulable-modal.jsx
  frontend/public/components/modals/index.ts
  frontend/public/components/node.tsx
  frontend/public/components/resource-pages.ts
  frontend/public/module/k8s/index.ts
  frontend/public/module/k8s/node.ts
  frontend/webpack.config.ts
Labels: approved, component/ceph, component/core, component/dashboard, component/metal3, component/shared, lgtm, size/XXL

#2832 console-shared: add pod selectors for volumes and containers
  frontend/packages/console-shared/src/selectors/pod.ts
Labels: approved, component/core, component/kubevirt, component/shared, lgtm, size/XS

#2905 fix console sidebar resources when knative installed
  frontend/packages/console-plugin-sdk/src/typings/overview.ts
  frontend/packages/knative-plugin/src/utils/create-knative-utils.ts
  frontend/packages/knative-plugin/src/utils/get-knative-resources.ts
Labels: approved, component/knative, component/sdk, kind/bug, lgtm, size/S

#2908 Query Browser: Fix query switch
  frontend/public/components/monitoring/metrics.tsx
Labels: approved, component/core, component/monitoring, lgtm, size/XS

#2912 Query Browser: Add border-radius for series buttons
  frontend/public/components/monitoring/_monitoring.scss
Labels: approved, component/core, component/monitoring, lgtm, size/XS

#2913 kubevirt: bump kubevirt-web-ui-components to v0.1.45
  frontend/packages/kubevirt-plugin/package.json
  frontend/yarn.lock
Labels: approved, component/kubevirt, lgtm, size/S

#2914 Refactor and fix bugs in kubevirt integration-tests
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachine.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/consts.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/mocks.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.actions.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.clone.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.migration.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.overview.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.resources.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.wizard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/kubevirtDetailView.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/virtualMachine.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/vm.actions.view.ts
Labels: approved, component/kubevirt, lgtm, size/L

#2826 Cleanup changes made to storage class dropdown
  frontend/public/components/utils/storage-class-dropdown.tsx
Labels: approved, component/core, component/kubevirt, lgtm, ok-to-test, size/S

#2813 Add edit vm flavor.tests.add to protractor
  frontend/integration-tests/protractor.conf.ts
Labels: approved, component/kubevirt, component/shared, lgtm, size/XS

#2592 Follow up to Ceph storage extension PRs
  frontend/packages/ceph-storage-plugin/package.json
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/capacity-card/capacity-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/top-consumers-card/top-consumers-card.tsx
  frontend/packages/ceph-storage-plugin/src/extensions/dashboards.ts
  frontend/packages/ceph-storage-plugin/src/index.ts
  frontend/packages/console-plugin-sdk/src/registry.ts
  frontend/packages/console-plugin-sdk/src/typings/dashboards.ts
  frontend/packages/console-plugin-sdk/src/typings/extension.ts
  frontend/packages/console-plugin-sdk/src/typings/index.ts
  frontend/packages/kubevirt-plugin/src/plugin.tsx
Labels: approved, component/ceph, component/kubevirt, component/sdk, lgtm, size/L

#2851 Alert Manager Configuration: Receivers Table and Edit Alert Routing Modal improvements
  frontend/public/components/modals/alert-routing-modal.tsx
  frontend/public/components/monitoring/alert-manager-config.tsx
Labels: approved, component/core, component/monitoring, lgtm, size/L

#2782 kubevirt: take storageClassConfigMap into account when creating disks
  frontend/packages/kubevirt-plugin/src/components/vm-disks/create-disk-row.tsx
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm/vm-disk-patches.ts
Labels: approved, component/kubevirt, kind/bug, lgtm, size/M

#2568 kubevirt: add ResultTab to CreateVMWizard
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard-footer.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/actions.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/result-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/internal-actions.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/reducers.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/types.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/selectors/immutable/wizard-selectors.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/strings/strings.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/result-tab/error-results.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/result-tab/pending-results.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/result-tab/request-results-part.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/result-tab/result-tab-row.scss
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/result-tab/result-tab-row.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/result-tab/result-tab.scss
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/result-tab/result-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/result-tab/success-results.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/review-tab/review-tab.scss
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/review-tab/review-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/types.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/utils/utils.ts
  frontend/packages/kubevirt-plugin/src/k8s/enhancedK8sMethods/enhancedK8sMethods.ts
  frontend/packages/kubevirt-plugin/src/k8s/enhancedK8sMethods/k8sMethodsUtils.ts
  frontend/packages/kubevirt-plugin/src/k8s/enhancedK8sMethods/types.ts
  frontend/packages/kubevirt-plugin/src/utils/strings.ts
  frontend/packages/kubevirt-plugin/src/utils/utils.ts
Labels: approved, component/kubevirt, component/shared, lgtm, size/XL

#2702 Add 'Virtual Machines' label to the vm list page
  frontend/packages/kubevirt-plugin/src/components/vms/vm.tsx
  frontend/public/components/factory/list-page.jsx
Labels: approved, component/core, component/dashboard, component/dev-console, component/kubevirt, component/metal3, component/monitoring, component/olm, lgtm, ok-to-test, size/XS

#2066 Add VM Template test cases for Kubevirt plugin
  frontend/integration-tests/protractor.conf.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachine.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachineTemplate.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/types.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.template.wizard.scenario.ts
Labels: approved, component/kubevirt, lgtm, size/L

#2906 PF4 button changes..
  frontend/packages/operator-lifecycle-manager/src/components/create-operand.tsx
  frontend/public/components/_terminal.scss
  frontend/public/components/_toggle-play.scss
  frontend/public/components/namespace.jsx
  frontend/public/components/pod-exec.jsx
  frontend/public/components/terminal.jsx
  frontend/public/components/utils/_log-window.scss
  frontend/public/components/utils/log-window.jsx
  frontend/public/components/utils/resource-log.jsx
  frontend/public/components/utils/toggle-play.jsx
Labels: approved, component/core, component/olm, lgtm, size/M

#2928 Prevent metrics and pod status from overlap
  frontend/public/components/overview/_project-overview.scss
Labels: approved, component/core, lgtm, size/S

#2922 Fix findPod to match ownerReference
  frontend/packages/kubevirt-plugin/src/selectors/pod/selectors.ts
  frontend/packages/kubevirt-plugin/src/utils/index.ts
Labels: approved, component/kubevirt, lgtm, size/M

#2670 kubevirt: refactor createNicRow to NICModal
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard-footer.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/networks-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/form/form-select-placeholder-option.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/modal/modal-footer.scss
  frontend/packages/kubevirt-plugin/src/components/modals/modal/modal-footer.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/nic-modal/index.ts
  frontend/packages/kubevirt-plugin/src/components/modals/nic-modal/nic-modal-enhanced.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/nic-modal/nic-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/vm-disks.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-nics/create-nic-row.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-nics/nic-row.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-nics/types.ts
  frontend/packages/kubevirt-plugin/src/components/vm-nics/utils.ts
  frontend/packages/kubevirt-plugin/src/components/vm-nics/vm-nics.tsx
  frontend/packages/kubevirt-plugin/src/constants/index.ts
  frontend/packages/kubevirt-plugin/src/constants/value-enum.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/constants.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/index.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/network/constants.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/network/index.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/network/network-interface-model.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/network/network-interface-type.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/network/network-type.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/nic.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-show-error-toggler.ts
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm-template/index.ts
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm/utils.ts
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm/vm-boot-patches.ts
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm/vm-disk-patches.ts
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm/vm-nic-patches.ts
  frontend/packages/kubevirt-plugin/src/k8s/utils/index.ts
  frontend/packages/kubevirt-plugin/src/k8s/utils/patch.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/common/object-with-type-property-wrapper.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/common/wrapper.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/network-interface-wrapper.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/network-wrapper.ts
  frontend/packages/kubevirt-plugin/src/selectors/nad/combined.ts
  frontend/packages/kubevirt-plugin/src/selectors/nad/index.ts
  frontend/packages/kubevirt-plugin/src/selectors/utils.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm/combined.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm/devices.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm/disk.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm/nic.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm/selectors.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm/types.ts
  frontend/packages/kubevirt-plugin/src/types/vm/index.ts
  frontend/packages/kubevirt-plugin/src/utils/grammar.ts
  frontend/packages/kubevirt-plugin/src/utils/index.ts
  frontend/packages/kubevirt-plugin/src/utils/strings.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/common.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/vm/nic.ts
Labels: approved, component/kubevirt, component/shared, lgtm, size/XXL

#2900 Add SecondaryStatus component
  frontend/packages/console-app/src/components/nodes/NodeStatus.tsx
  frontend/packages/console-app/src/components/nodes/NodesPage.tsx
  frontend/packages/console-shared/src/components/status/SecondaryStatus.tsx
  frontend/packages/console-shared/src/components/status/index.ts
  frontend/packages/console-shared/src/selectors/node.ts
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostsTable.tsx
Labels: approved, component/ceph, component/core, component/dashboard, component/metal3, component/shared, lgtm, size/M

#2933 Use https in yarn.lock resolutions
  frontend/yarn.lock
Labels: approved, lgtm, size/XS

#2911 adds spec to get knative resources utils
  frontend/packages/knative-plugin/src/utils/__tests__/get-knative-resources.spec.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-serving-data.ts
Labels: approved, component/knative, lgtm, size/L

#2858 Bug 1734431: Disable ROX access-mode for Ceph based provisioner
  frontend/packages/ceph-storage-plugin/src/selectors/index.ts
  frontend/public/components/storage/create-pvc.tsx
Labels: approved, bugzilla/valid-bug, component/ceph, component/core, component/shared, lgtm, size/S

#2934 Add Replica Sets and Replication Controllers tabs to Deployment and D…
  frontend/integration-tests/tests/performance.scenario.ts
  frontend/public/components/deployment-config.tsx
  frontend/public/components/deployment.tsx
  frontend/public/components/replicaset.jsx
  frontend/public/components/replication-controller.jsx
Labels: approved, component/core, kind/feature, lgtm, size/M

#2941 kubevirt: fix typo
  frontend/packages/kubevirt-plugin/src/selectors/vm/selectors.ts
Labels: approved, component/kubevirt, lgtm, size/XS

#2849 refactor topology-utils
  frontend/packages/console-shared/src/components/pod/PodRingDataController.tsx
  frontend/packages/console-shared/src/components/pod/PodStatus.tsx
  frontend/packages/console-shared/src/constants/index.ts
  frontend/packages/console-shared/src/constants/pod.ts
  frontend/packages/console-shared/src/constants/resource.ts
  frontend/packages/console-shared/src/types/index.ts
  frontend/packages/console-shared/src/types/pod.ts
  frontend/packages/console-shared/src/types/resource.ts
  frontend/packages/console-shared/src/utils/ResourceStatus.tsx
  frontend/packages/console-shared/src/utils/__mocks__/pod-utils-test-data.ts
  frontend/packages/console-shared/src/utils/__tests__/pod-utils.spec.ts
  frontend/packages/console-shared/src/utils/__tests__/resource-utils.spec.ts
  frontend/packages/console-shared/src/utils/index.ts
  frontend/packages/console-shared/src/utils/pod-ring-utils.ts
  frontend/packages/console-shared/src/utils/pod-utils.ts
  frontend/packages/console-shared/src/utils/resource-utils.ts
  frontend/packages/dev-console/src/components/topology/TopologyDataController.tsx
  frontend/packages/dev-console/src/components/topology/TopologyPage.tsx
  frontend/packages/dev-console/src/components/topology/TopologyResourcePanel.tsx
  frontend/packages/dev-console/src/components/topology/__tests__/Graph.spec.tsx
  frontend/packages/dev-console/src/components/topology/__tests__/TopologyDataController.spec.tsx
  frontend/packages/dev-console/src/components/topology/__tests__/__snapshots__/topology-utils.spec.ts.snap
  frontend/packages/dev-console/src/components/topology/__tests__/graph-test-data.ts
  frontend/packages/dev-console/src/components/topology/__tests__/topology-knative-test-data.ts
  frontend/packages/dev-console/src/components/topology/__tests__/topology-test-data.ts
  frontend/packages/dev-console/src/components/topology/__tests__/topology-utils.spec.ts
  frontend/packages/dev-console/src/components/topology/shapes/__tests__/WorkloadNode.spec.tsx
  frontend/packages/dev-console/src/components/topology/topology-types.ts
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
  frontend/packages/knative-plugin/src/components/overview/OverviewDetailsKnativeResourcesTab.tsx
  frontend/public/actions/ui.ts
  frontend/public/components/overview/build-overview.tsx
  frontend/public/components/overview/daemon-set-overview.tsx
  frontend/public/components/overview/deployment-config-overview.tsx
  frontend/public/components/overview/deployment-overview.tsx
  frontend/public/components/overview/index.tsx
  frontend/public/components/overview/project-overview.tsx
  frontend/public/components/overview/resource-overview-details.tsx
  frontend/public/components/overview/resource-overview-page.tsx
  frontend/public/components/overview/stateful-set-overview.tsx
  frontend/public/module/k8s/index.ts
Labels: approved, component/core, component/dev-console, component/knative, component/shared, lgtm, size/XXL

#2931 Button conversion to pf4 component groupA
  frontend/public/components/image-stream.tsx
  frontend/public/components/modals/taints-modal.tsx
  frontend/public/components/modals/tolerations-modal.tsx
  frontend/public/components/monitoring.tsx
  frontend/public/components/monitoring/alert-manager-config.tsx
  frontend/public/components/storage/attach-storage.tsx
  frontend/public/components/utils/alerts.tsx
  frontend/public/components/utils/list-input.tsx
  frontend/public/components/utils/status-box.tsx
Labels: approved, component/core, component/monitoring, lgtm, size/M

#2887 Add Activity Card to Persistent Dashboard
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/activity-card/activity-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/activity-card/data-resiliency-activity.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/data-resiliency/data-resiliency.scss
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/data-resiliency/data-resiliency.tsx
  frontend/packages/ceph-storage-plugin/src/constants/queries.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
  frontend/packages/ceph-storage-plugin/src/utils/dashboard.ts
  frontend/packages/ceph-storage-plugin/src/utils/index.ts
Labels: approved, component/ceph, lgtm, size/L

#2819 fix(PipelineRunList) - Make Pipeline Run List to be consistent and add dev preview badge.
  frontend/packages/dev-console/src/components/pipelineruns/PipelineRunResourceList.tsx
  frontend/packages/dev-console/src/components/pipelines/PipelineAugmentRuns.tsx
  frontend/packages/dev-console/src/components/pipelines/PipelineRuns.tsx
  frontend/packages/dev-console/src/plugin.tsx
  frontend/packages/dev-console/src/utils/pipeline-utils.ts
Labels: approved, component/dev-console, lgtm, size/M

#2953 Bug 1760497: Update available channels for 4.2
  frontend/public/module/k8s/cluster-settings.ts
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, component/core, lgtm, size/XS

#2950 Update node-sass to 4.12.x
  frontend/package.json
  frontend/yarn.lock
Labels: approved, area/dependency, lgtm, size/L

#2954 remove redundant resize call
  frontend/public/components/edit-yaml.jsx
Labels: approved, component/core, kind/cleanup, lgtm, size/XS

#2935 Bug 1759667: Add the official 4.2 channels to cluster upgrade settings
  frontend/public/module/k8s/cluster-settings.ts
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, lgtm, size/XS

#2897 Add Status Card to Persistent Dashboard
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/status-card/status-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/status-card/utils.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
  frontend/packages/console-shared/src/components/dashboard/health-card/states.ts
  frontend/packages/console-shared/src/components/dashboard/status-card/HealthItem.tsx
Labels: approved, component/ceph, component/core, component/dashboard, component/shared, lgtm, size/L

#2904 Add separate error message for when no projects match filter
  frontend/public/components/namespace.jsx
Labels: approved, component/core, lgtm, size/XS

#2943 Minor enhancements in status card
  frontend/packages/console-shared/src/components/dashboard/status-card/AlertItem.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/AlertsBody.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/status-card.scss
Labels: approved, component/dashboard, component/shared, lgtm, size/S

#2952 Bug 1760494: Update available channels in UI for 4.3 release
  frontend/public/module/k8s/cluster-settings.ts
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/XS

#2940 Project Details Page
  frontend/packages/dev-console/src/components/AddPage.tsx
  frontend/packages/dev-console/src/components/BuildConfigPage.tsx
  frontend/packages/dev-console/src/components/NamespacedPage.tsx
  frontend/packages/dev-console/src/components/pipelines/PipelinesPage.tsx
  frontend/packages/dev-console/src/components/projects/CreateProjectListPage.tsx
  frontend/packages/dev-console/src/components/projects/ProjectListPage.scss
  frontend/packages/dev-console/src/components/projects/ProjectListPage.tsx
  frontend/packages/dev-console/src/components/projects/details/AllProjectsDetailList.tsx
  frontend/packages/dev-console/src/components/projects/details/ProjectDetailsPage.tsx
  frontend/packages/dev-console/src/components/projects/details/__tests__/AllProjectsDetailList.spec.tsx
  frontend/packages/dev-console/src/components/projects/details/__tests__/ProjectDetailsPage.spec.tsx
  frontend/packages/dev-console/src/components/projects/details/utils.ts
  frontend/packages/dev-console/src/components/topology/TopologyPage.tsx
  frontend/packages/dev-console/src/plugin.tsx
Labels: approved, component/dev-console, lgtm, size/L

#2939 Add RBAC to add page
  frontend/packages/dev-console/src/components/EmptyState.tsx
Labels: approved, component/dev-console, lgtm, size/M

#2932 Lock kubevirt-web-ui-components version
  frontend/packages/kubevirt-plugin/package.json
  frontend/yarn.lock
Labels: approved, component/kubevirt, lgtm, size/XS

#2957 Monitoring: Prevent unnecessary graph re-renders on details pages
  frontend/public/components/monitoring.tsx
Labels: approved, component/core, lgtm, size/XS

#2895 Add Project Dashboard
  frontend/packages/console-shared/src/components/dashboard/activity-card/ActivityBody.tsx
  frontend/packages/console-shared/src/components/dashboard/details-card/details-card.scss
  frontend/packages/console-shared/src/components/dashboard/inventory-card/utils.ts
  frontend/packages/console-shared/src/components/dashboard/status-card/AlertsBody.tsx
  frontend/public/actions/dashboards.ts
  frontend/public/components/dashboard/dashboards-page/overview-dashboard/activity-card.tsx
  frontend/public/components/dashboard/project-dashboard/activity-card.scss
  frontend/public/components/dashboard/project-dashboard/activity-card.tsx
  frontend/public/components/dashboard/project-dashboard/details-card.tsx
  frontend/public/components/dashboard/project-dashboard/inventory-card.tsx
  frontend/public/components/dashboard/project-dashboard/project-dashboard-context.tsx
  frontend/public/components/dashboard/project-dashboard/project-dashboard.tsx
  frontend/public/components/dashboard/project-dashboard/queries.ts
  frontend/public/components/dashboard/project-dashboard/status-card.tsx
  frontend/public/components/dashboard/project-dashboard/utilization-card.tsx
  frontend/public/components/dashboard/with-dashboard-resources.tsx
  frontend/public/components/namespace.jsx
  frontend/public/components/persistent-volume-claim.jsx
  frontend/public/style.scss
Labels: approved, component/ceph, component/core, component/dashboard, component/kubevirt, component/metal3, component/noobaa, component/sdk, component/shared, lgtm, size/XL

#2744 Utilization card redesign
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationBody.tsx
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationItem.tsx
  frontend/packages/console-shared/src/components/dashboard/utilization-card/utilization-card.scss
  frontend/public/components/dashboard/dashboards-page/overview-dashboard/utilization-card.tsx
  frontend/public/components/dashboard/utilization-card/utilization-current.tsx
  frontend/public/components/graphs/area.tsx
Labels: approved, component/core, component/dashboard, component/dev-console, component/metal3, component/shared, lgtm, size/L

#2894 Add RBAC to pipelines
  frontend/packages/dev-console/src/components/formik-fields/field-types.ts
  frontend/packages/dev-console/src/components/formik-fields/multi-column-field/MultiColumnField.tsx
  frontend/packages/dev-console/src/components/formik-fields/multi-column-field/MultiColumnFieldRow.tsx
  frontend/packages/dev-console/src/components/pipelineruns/PipelineRunRow.tsx
  frontend/packages/dev-console/src/components/pipelines/PipelineDetailsPage.tsx
  frontend/packages/dev-console/src/components/pipelines/PipelineParameters.tsx
  frontend/packages/dev-console/src/components/pipelines/PipelineResources.tsx
  frontend/packages/dev-console/src/components/pipelines/PipelineRow.tsx
  frontend/packages/dev-console/src/utils/__tests__/pipeline-actions.spec.ts
  frontend/packages/dev-console/src/utils/pipeline-actions.tsx
Labels: approved, component/dev-console, lgtm, size/L

#2891 Add git-service utility package for git validation and language detection
  frontend/packages/console-app/package.json
  frontend/packages/git-service/OWNERS
  frontend/packages/git-service/package.json
  frontend/packages/git-service/src/index.ts
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/bitbucket/dockerfile.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/bitbucket/files.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/bitbucket/no-dockerfile.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/branches.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/dockerfile.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/files.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/languages.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/no-dockerfile.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/repo.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/gitlab/branches.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/gitlab/dockerfile.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/gitlab/files.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/gitlab/languages.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/gitlab/no-dockerfile.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/gitlab/repo.json
  frontend/packages/git-service/src/services/__tests__/bitbucket-service.spec.ts
  frontend/packages/git-service/src/services/__tests__/git-service.spec.ts
  frontend/packages/git-service/src/services/__tests__/github-service.spec.ts
  frontend/packages/git-service/src/services/__tests__/gitlab-service.spec.ts
  frontend/packages/git-service/src/services/base-service.ts
  frontend/packages/git-service/src/services/bitbucket-service.ts
  frontend/packages/git-service/src/services/git-service.ts
  frontend/packages/git-service/src/services/github-service.ts
  frontend/packages/git-service/src/services/gitlab-service.ts
  frontend/packages/git-service/src/services/index.ts
  frontend/packages/git-service/src/types/auth.ts
  frontend/packages/git-service/src/types/build-tools.ts
  frontend/packages/git-service/src/types/git.ts
  frontend/packages/git-service/src/types/index.ts
  frontend/packages/git-service/src/types/repo.ts
  frontend/packages/git-service/src/utils/__tests__/build-tool-detector.spec.ts
  frontend/packages/git-service/src/utils/__tests__/dockerfiile-parser.spec.ts
  frontend/packages/git-service/src/utils/build-tool-detector.ts
  frontend/packages/git-service/src/utils/dockerfile-parser.ts
  frontend/packages/git-service/src/utils/index.ts
  frontend/yarn.lock
Labels: approved, component/core, lgtm, size/XXL

#2839 Minor updates on the storage dashboard based on the new designs.
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/plugin.ts
  frontend/packages/noobaa-storage-plugin/src/components/details-card/details-card.tsx
  frontend/packages/noobaa-storage-plugin/src/plugin.ts
Labels: approved, component/ceph, component/noobaa, lgtm, ok-to-test, size/XS

#2961 Add `resourceNamespaceUID` to external log link variables
  frontend/public/components/utils/resource-log.jsx
Labels: approved, component/core, lgtm, size/M

#2430 Bug 1725006: Add multiple service endpoints to create route
  frontend/integration-tests/views/secrets.view.ts
  frontend/public/components/routes/_create-route.scss
  frontend/public/components/routes/create-route.tsx
  frontend/public/components/secrets/create-secret.tsx
  frontend/public/style/_forms.scss
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/L

#2834 Changes on the utilization card in the persistent storage.
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/utilization-card/utilization-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/utilization-card/utils.tsx
  frontend/packages/ceph-storage-plugin/src/constants/queries.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Labels: approved, component/ceph, component/core, component/dashboard, component/metal3, lgtm, ok-to-test, size/M

#2949 adds topology group data in sidebar as resources
  frontend/packages/dev-console/src/components/topology/ApplicationGroupResource.tsx
  frontend/packages/dev-console/src/components/topology/TopologyApplicationList.tsx
  frontend/packages/dev-console/src/components/topology/TopologyApplicationPanel.tsx
  frontend/packages/dev-console/src/components/topology/TopologyApplicationResources.scss
  frontend/packages/dev-console/src/components/topology/TopologyApplicationResources.tsx
Labels: approved, component/dev-console, lgtm, size/L

#2974 fixes: Pod donut animates between two different deployments
  frontend/public/components/deployment-config.tsx
  frontend/public/components/deployment.tsx
  frontend/public/components/overview/deployment-config-overview.tsx
  frontend/public/components/overview/deployment-overview.tsx
Labels: approved, component/core, lgtm, size/S

#2864 Bug 1753812: modify view update strategy descriptor
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/configure-update-strategy.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/update-strategy-modal.tsx
  frontend/public/components/modals/configure-update-strategy-modal.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/olm, lgtm, size/L

#2979 Bug 1756319: Fix crash with operand resources
  frontend/packages/operator-lifecycle-manager/src/components/k8s-resource.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand.tsx
Labels: approved, bugzilla/valid-bug, component/olm, lgtm, size/S

#2936 Move DNS-1123 subdomain validation logic to console/shared package
  frontend/packages/console-shared/src/utils/grammar.ts
  frontend/packages/console-shared/src/utils/index.ts
  frontend/packages/console-shared/src/utils/validation/index.ts
  frontend/packages/console-shared/src/utils/validation/strings.ts
  frontend/packages/console-shared/src/utils/validation/types.ts
  frontend/packages/console-shared/src/utils/validation/validation.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/form/form-field-row.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/form/form-field.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/types.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/utils.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/vm-settings-tab-validation.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/networking-tab/network-boot-source.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/storage-tab/storage-boot-source.tsx
  frontend/packages/kubevirt-plugin/src/components/form/form-row.tsx
  frontend/packages/kubevirt-plugin/src/components/form/k8s-resource-select-row.tsx
  frontend/packages/kubevirt-plugin/src/components/form/size-unit-form-row.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/clone-vm-modal/clone-vm-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/nic-modal/nic-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/table/validation-cell.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/types.ts
  frontend/packages/kubevirt-plugin/src/components/vm-nics/types.ts
  frontend/packages/kubevirt-plugin/src/k8s/utils/patch.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/common.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/strings.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/vm/disk.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/vm/nic.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/vm/vm.ts
Labels: approved, component/kubevirt, component/shared, lgtm, size/L

#2956 add rbac check for severless section in import form
  frontend/packages/dev-console/src/components/import/serverless/ServerlessSection.tsx
Labels: approved, component/dev-console, lgtm, size/S

#2973 Query Browser: Stop polling when graph is hidden
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, component/core, component/monitoring, lgtm, size/M

#2975 Query Browser: Fix table rows type error
  frontend/public/components/monitoring/metrics.tsx
Labels: approved, component/core, component/monitoring, lgtm, size/XS

#2959 Bug 1752845: Modified the text to remove tainting of nodes text on ocs install flow
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/create-form.tsx
Labels: approved, bugzilla/valid-bug, component/ceph, lgtm, size/XS

#2926 Show in-context API documentation on details pages
  frontend/public/components/deployment.tsx
  frontend/public/components/pod.tsx
  frontend/public/components/sidebars/explore-type-sidebar.tsx
  frontend/public/components/utils/_field-level-help.scss
  frontend/public/components/utils/details-item.tsx
  frontend/public/components/utils/details-page.tsx
  frontend/public/components/utils/index.tsx
  frontend/public/module/k8s/swagger.ts
  frontend/public/style/_common.scss
Labels: approved, component/core, lgtm, size/L

#2705 Fix(visual start) Make tasks in starting stage to appear parallel.
  frontend/packages/dev-console/src/components/pipelines/PipelineVisualizationGraph.scss
  frontend/packages/dev-console/src/components/pipelines/PipelineVisualizationTask.scss
  frontend/packages/dev-console/src/components/pipelines/__tests__/__snapshots__/PipelineVisualizationGraph.spec.tsx.snap
  frontend/packages/dev-console/src/utils/__tests__/pipeline-utils.spec.ts
  frontend/packages/dev-console/src/utils/pipeline-utils.ts
Labels: approved, component/dev-console, lgtm, size/L

#2985 Fixes loading state for Activity Card
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/activity-card/activity-card.tsx
Labels: approved, component/ceph, lgtm, size/XS

#2854 Follow up changes from ocs install PR
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/node-list.tsx
Labels: approved, component/ceph, component/core, lgtm, size/S

#2972 Add git repo validation and build tool detection using git-service
  frontend/packages/dev-console/src/components/formik-fields/InputField.tsx
  frontend/packages/dev-console/src/components/formik-fields/field-types.ts
  frontend/packages/dev-console/src/components/import/GitImportForm.tsx
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/__mocks__/import-validation-mock.ts
  frontend/packages/dev-console/src/components/import/builder/BuilderImageCard.scss
  frontend/packages/dev-console/src/components/import/builder/BuilderImageSelector.scss
  frontend/packages/dev-console/src/components/import/builder/BuilderImageSelector.tsx
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
  frontend/packages/dev-console/src/components/import/import-types.ts
Labels: approved, component/dev-console, lgtm, size/L

#2545 Add list page for network attachment definition
  frontend/packages/console-app/package.json
  frontend/packages/console-shared/src/utils/index.ts
  frontend/packages/console-shared/src/utils/table-utils.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/networking-tab/vm-wizard-nic-modal-enhanced.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/create-vm-wizard.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/nic-modal/nic-modal-enhanced.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/nic-modal/nic-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/disk-row.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/vm-disks.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-nics/nic-row.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-nics/vm-nics.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm.tsx
  frontend/packages/kubevirt-plugin/src/models/index.ts
  frontend/packages/network-attachment-definition-plugin/package.json
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/network-attachment-definition.tsx
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/types.ts
  frontend/packages/network-attachment-definition-plugin/src/index.ts
  frontend/packages/network-attachment-definition-plugin/src/models/index.ts
  frontend/packages/network-attachment-definition-plugin/src/plugin.ts
  frontend/packages/network-attachment-definition-plugin/src/selectors/index.ts
  frontend/packages/network-attachment-definition-plugin/src/types/index.ts
  frontend/packages/network-attachment-definition-plugin/src/types/types.ts
Labels: approved, component/ceph, component/core, component/dashboard, component/kubevirt, component/metal3, component/noobaa, component/sdk, component/shared, lgtm, size/L

#2947 feat(delete-group): Delete application group
  frontend/packages/console-shared/src/types/resource.ts
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
  frontend/packages/dev-console/src/components/modals/DeleteApplicationModal.tsx
  frontend/packages/dev-console/src/components/modals/index.ts
  frontend/packages/dev-console/src/components/topology/D3ForceDirectedRenderer.tsx
  frontend/packages/dev-console/src/components/topology/TopologyApplicationPanel.tsx
  frontend/packages/dev-console/src/components/topology/actions-providers.ts
  frontend/packages/dev-console/src/components/topology/actions/groupActions.ts
  frontend/packages/dev-console/src/utils/__tests__/application-utils.spec.ts
  frontend/packages/dev-console/src/utils/application-utils.ts
  frontend/packages/knative-plugin/src/plugin.tsx
  frontend/packages/knative-plugin/src/utils/__tests__/create-knative-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/__tests__/get-knative-resources.spec.ts
  frontend/packages/knative-plugin/src/utils/create-knative-utils.ts
  frontend/packages/knative-plugin/src/utils/get-knative-resources.ts
Labels: approved, component/dev-console, component/knative, component/shared, lgtm, size/XL

#2263 Fix disable delete and drag button on empty name value pair editor
  frontend/public/components/utils/list-input.tsx
  frontend/public/components/utils/name-value-editor.jsx
Labels: approved, component/core, kind/bug, lgtm, size/S

#2994 Update OWNERS
  frontend/OWNERS
  frontend/packages/operator-lifecycle-manager/OWNERS
Labels: approved, component/olm, lgtm, size/XS

#2980 Redirect the Project Details URL properly on masthead changes
  frontend/packages/dev-console/src/components/NamespacedPage.tsx
  frontend/packages/dev-console/src/components/projects/details/ProjectDetailsPage.tsx
  frontend/public/components/namespace.jsx
Labels: approved, component/core, component/dev-console, lgtm, size/M

#2963 Add User Management nav section and Groups page
  frontend/integration-tests/tests/crud.scenario.ts
  frontend/integration-tests/tests/performance.scenario.ts
  frontend/public/actions/features.ts
  frontend/public/components/RBAC/bindings.jsx
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/group.tsx
  frontend/public/components/modals/add-users-modal.tsx
  frontend/public/components/modals/index.ts
  frontend/public/components/modals/remove-user-modal.tsx
  frontend/public/components/nav/admin-nav.tsx
  frontend/public/components/resource-pages.ts
  frontend/public/const.ts
  frontend/public/models/index.ts
  frontend/public/models/yaml-templates.ts
  frontend/public/module/k8s/index.ts
Labels: approved, component/core, lgtm, size/L

#2990 Add popover help to more details pages
  frontend/__tests__/components/route-pages.spec.tsx
  frontend/packages/console-shared/src/types/resource.ts
  frontend/packages/console-shared/src/utils/resource-utils.ts
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
  frontend/public/components/deployment-config.tsx
  frontend/public/components/overview/index.tsx
  frontend/public/components/overview/networking-overview.tsx
  frontend/public/components/routes.tsx
  frontend/public/components/service.jsx
  frontend/public/components/utils/copy-to-clipboard.tsx
  frontend/public/components/utils/details-item.tsx
  frontend/public/components/utils/details-page.tsx
  frontend/public/module/k8s/index.ts
Labels: approved, component/core, component/dev-console, component/shared, lgtm, size/XL

#2711 Query Browser: Add Developer perspective version
  frontend/packages/dev-console/src/components/MetricsPage.tsx
  frontend/packages/dev-console/src/plugin.tsx
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, component/core, component/dev-console, component/monitoring, lgtm, size/L

#2938 [metal3] Utilization card redesign
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/UtilizationCard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/queries.ts
Labels: approved, component/metal3, lgtm, size/L

#2967 Metrics and Resource-sidebar updated to pf4 Button component
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/components/sidebars/explore-type-sidebar.tsx
Labels: approved, component/core, component/monitoring, lgtm, size/M

#2918 Status card object service
  frontend/packages/noobaa-storage-plugin/src/components/activity-card/activity-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/activity-card/data-resiliency-activity/data-resiliency-activity.tsx
  frontend/packages/noobaa-storage-plugin/src/components/health-card/health-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/status-card/status-card.scss
  frontend/packages/noobaa-storage-plugin/src/components/status-card/status-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/status-card/statuses.tsx
  frontend/packages/noobaa-storage-plugin/src/plugin.ts
  frontend/packages/noobaa-storage-plugin/src/queries.ts
  frontend/packages/noobaa-storage-plugin/src/utils.ts
Labels: approved, component/ceph, component/core, component/dashboard, component/noobaa, lgtm, size/L

#2070 Update CreatePVC component
  frontend/public/components/storage/attach-storage.tsx
  frontend/public/components/storage/create-pvc.tsx
Labels: approved, component/core, kind/cleanup, lgtm, size/XL

#2712 Allow creation of network attachment definition YAML
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/index.ts
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/network-attachment-definition-create-yaml.tsx
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/network-attachment-definition.tsx
  frontend/packages/network-attachment-definition-plugin/src/constants/index.ts
  frontend/packages/network-attachment-definition-plugin/src/models/templates/index.ts
  frontend/packages/network-attachment-definition-plugin/src/plugin.ts
Labels: approved, component/core, component/kubevirt, component/shared, lgtm, size/L

#2917 Adds Resource Model Badge information
  frontend/packages/console-shared/src/components/badges/__tests__/badge-factory.spec.ts
  frontend/packages/console-shared/src/components/badges/badge-factory.tsx
  frontend/packages/console-shared/src/components/badges/index.ts
  frontend/packages/dev-console/src/components/import/serverless/ServerlessSection.tsx
  frontend/packages/dev-console/src/components/pipelineruns/PipelineRunDetailsPage.tsx
  frontend/packages/dev-console/src/components/pipelineruns/PipelineRunResourceList.tsx
  frontend/packages/dev-console/src/components/pipelines/PipelineDetailsPage.tsx
  frontend/packages/dev-console/src/components/pipelines/PipelinesPage.tsx
  frontend/packages/dev-console/src/models/pipelines.ts
  frontend/packages/knative-plugin/src/components/revisions/RevisionDetailsPage.tsx
  frontend/packages/knative-plugin/src/components/revisions/RevisionsPage.tsx
  frontend/packages/knative-plugin/src/components/routes/RouteDetailsPage.tsx
  frontend/packages/knative-plugin/src/components/routes/RoutesPage.tsx
  frontend/packages/knative-plugin/src/components/services/ServiceDetailsPage.tsx
  frontend/packages/knative-plugin/src/components/services/ServicesPage.tsx
  frontend/packages/knative-plugin/src/models.ts
  frontend/packages/knative-plugin/src/plugin.tsx
  frontend/public/components/factory/details.tsx
  frontend/public/components/factory/list-page.jsx
  frontend/public/components/resource-list.tsx
  frontend/public/kinds.ts
  frontend/public/module/k8s/index.ts
  frontend/public/module/k8s/k8s.ts
Labels: approved, component/core, component/dev-console, component/knative, component/shared, lgtm, size/L

#2991 Bug 1762217: Bump kubevirt-web-ui-components v0.1.48
  frontend/packages/kubevirt-plugin/package.json
  frontend/yarn.lock
Labels: approved, bugzilla/valid-bug, component/kubevirt, lgtm, size/S

#3000 cmd/bridge: configure Thanos service
  cmd/bridge/main.go
  pkg/server/server.go
Labels: approved, component/backend, lgtm, size/L

#3015 Monitoring: Update pod metrics queries for 1.16
  frontend/public/components/build.tsx
  frontend/public/components/overview/index.tsx
  frontend/public/components/pod.tsx
Labels: approved, component/core, component/monitoring, kind/bug, lgtm, size/S

#2999 Add create route test
  frontend/__tests__/components/routes/create-route.spec.tsx
  frontend/public/components/routes/create-route.tsx
Labels: approved, component/core, lgtm, size/L

#3016 Update Job and CronJob pages
  frontend/public/components/cron-job.tsx
  frontend/public/components/job.tsx
  frontend/public/module/k8s/index.ts
Labels: approved, component/core, lgtm, size/L

#2983 Convert remaining default buttons, within the Admin console, to use pf4 component
  frontend/public/components/_row-filter.scss
  frontend/public/components/cluster-service-class.tsx
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/namespace.jsx
  frontend/public/components/overview/_project-overview.scss
  frontend/public/components/overview/project-overview.tsx
  frontend/public/components/row-filter.jsx
  frontend/public/components/utils/dropdown.jsx
  frontend/public/components/utils/name-value-editor.jsx
  frontend/public/components/utils/resource-log.jsx
  frontend/public/style/_forms.scss
  frontend/public/style/_overrides.scss
Labels: approved, component/core, lgtm, size/L

#2889 Add YAML sample CRD extension
  frontend/__tests__/reducers/features.spec.tsx
  frontend/public/components/edit-yaml.jsx
  frontend/public/components/sidebars/_resource-sidebar.scss
  frontend/public/components/sidebars/build-config-sidebar.jsx
  frontend/public/components/sidebars/network-policy-sidebar.jsx
  frontend/public/components/sidebars/resource-quota-sidebar.jsx
  frontend/public/components/sidebars/resource-sidebar-samples.tsx
  frontend/public/components/sidebars/resource-sidebar.jsx
  frontend/public/components/sidebars/resource-sidebars.ts
  frontend/public/components/sidebars/role-sidebar.tsx
  frontend/public/const.ts
  frontend/public/models/index.ts
  frontend/public/models/yaml-templates.ts
  frontend/public/reducers/features.ts
  frontend/public/style/_layout.scss
  frontend/public/style/_overrides.scss
Labels: approved, component/core, lgtm, size/XL

#2987 feat(pipeline-logs):Download Pipeline Logs
  frontend/packages/dev-console/src/components/pipelineruns/PipelineTaskLogs.scss
  frontend/packages/dev-console/src/components/pipelineruns/PipelineTaskLogs.tsx
Labels: approved, component/dev-console, lgtm, size/M

#2997 Center the placement of dropdown toggle-icon on the metrics time selection
  frontend/public/components/_dropdown.scss
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, component/core, component/monitoring, lgtm, size/S

#3008 oc-environment: add thanos route
  contrib/oc-environment.sh
Labels: approved, component/monitoring, lgtm, size/XS

#3018 Convert DaemonSet pages to TypeScript and add popover help
  frontend/public/components/daemon-set.tsx
Labels: approved, component/core, lgtm, size/M

#3012 Query Browser: Limit minimum time step to 5s
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, component/core, component/monitoring, lgtm, size/M

#3019 Convert StatefulSet pages to TypeScript
  frontend/public/components/stateful-set.tsx
Labels: approved, component/core, lgtm, size/M

#3022 Add popover help to StorageClass page
  frontend/public/components/storage-class.tsx
Labels: approved, component/core, lgtm, size/S

#3004 CONSOLE-1786: Operands' dynamic "Creation Form" not rendered correctly if no `specDescriptors` exist
  frontend/packages/operator-lifecycle-manager/src/components/create-operand.tsx
Labels: approved, component/olm, lgtm, size/XS

#3020 Add popover help to HorizontalPodAutoscaler page
  frontend/public/components/hpa.tsx
Labels: approved, component/core, lgtm, size/M

#3011 Increase timeouts for kubevirt-plugin integration tests
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/consts.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/mocks.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.actions.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.migration.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.wizard.scenario.ts
Labels: approved, component/kubevirt, lgtm, size/M

#2989 Changes in Project Details card
  frontend/packages/console-shared/src/selectors/index.ts
  frontend/packages/console-shared/src/selectors/namespace.ts
  frontend/public/components/dashboard/project-dashboard/details-card.tsx
  frontend/public/components/namespace.jsx
Labels: approved, component/core, component/dashboard, component/shared, lgtm, size/S

#3023 Bug 1763078: Left align resource name that are buttons
  frontend/public/components/namespace.jsx
  frontend/public/style/_overrides.scss
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/XS

#3017 Improve type checking for k8s resources
  frontend/packages/console-app/src/status/node.ts
  frontend/packages/console-shared/src/utils/resource-utils.ts
  frontend/public/components/factory/list.tsx
  frontend/public/components/factory/table.tsx
  frontend/public/module/k8s/index.ts
  frontend/public/module/k8s/selector.ts
Labels: approved, component/core, component/shared, lgtm, size/L

#3027 Query Browser: Add back metrics autocompletion for Dev perspective
  frontend/public/components/monitoring/metrics.tsx
Labels: approved, component/core, component/monitoring, lgtm, size/M

#2968 Add getNodeMachineName selector
  frontend/packages/console-shared/src/selectors/node.ts
Labels: approved, component/shared, lgtm, size/XS

#3001 Fix scenario file name inconsistency
  frontend/integration-tests/protractor.conf.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.flavor.scenario.ts
Labels: approved, component/kubevirt, lgtm, size/XS

#3026 Add option to disable failFast
  README.md
  frontend/integration-tests/protractor.conf.ts
Labels: approved, lgtm, size/S

#3032 Add Role Bindings tab to User details page
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/user.tsx
Labels: approved, component/core, lgtm, size/S

#2924 kubevirt: move VmStatus from web-ui-components
  frontend/packages/kubevirt-plugin/src/components/vm-status/index.ts
  frontend/packages/kubevirt-plugin/src/components/vm-status/vm-status.scss
  frontend/packages/kubevirt-plugin/src/components/vm-status/vm-status.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-status/vm-statuses.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/table-filters.ts
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/constants.ts
Labels: approved, component/kubevirt, component/shared, lgtm, size/L

#3010 Bug 1762218: Bump kubevirt-web-ui-components-v0.1.44.1
  frontend/packages/kubevirt-plugin/package.json
  frontend/yarn.lock
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, lgtm, size/S

#2937 Changed how humanize is implemented and used in Area graph
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationItem.tsx
  frontend/packages/console-shared/src/graph-helper/data-utils.ts
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/UtilizationCard.tsx
  frontend/public/components/dashboard/dashboards-page/overview-dashboard/utilization-card.tsx
  frontend/public/components/graphs/area.tsx
  frontend/public/components/utils/units.js
Labels: approved, component/core, component/dashboard, component/metal3, component/noobaa, component/shared, lgtm, size/L

#2886 View and Modify Project Membership
  frontend/integration-tests/tests/devconsole/dev-perspective.scenario.ts
  frontend/packages/dev-console/src/components/form-utils/FormFooter.tsx
  frontend/packages/dev-console/src/components/form-utils/form-utils-types.ts
  frontend/packages/dev-console/src/components/form-utils/index.ts
  frontend/packages/dev-console/src/components/formik-fields/field-types.ts
  frontend/packages/dev-console/src/components/formik-fields/multi-column-field/MultiColumnField.tsx
  frontend/packages/dev-console/src/components/formik-fields/multi-column-field/MultiColumnFieldRow.tsx
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/components/pipelines/PipelineParameters.tsx
  frontend/packages/dev-console/src/components/pipelines/PipelineResources.tsx
  frontend/packages/dev-console/src/components/project-access/ProjectAccess.tsx
  frontend/packages/dev-console/src/components/project-access/ProjectAccessForm.tsx
  frontend/packages/dev-console/src/components/project-access/ProjectAccessPage.tsx
  frontend/packages/dev-console/src/components/project-access/RenderProjectAccessPage.tsx
  frontend/packages/dev-console/src/components/project-access/__mocks__/project-access-form-mock.ts
  frontend/packages/dev-console/src/components/project-access/__tests__/project-access-form-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/project-access/__tests__/project-access-form-utils.spec.tsx
  frontend/packages/dev-console/src/components/project-access/__tests__/project-access-form-validation-utils.spec.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-submit-utils.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-utils-types.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-utils.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-validation-utils.ts
  frontend/packages/dev-console/src/plugin.tsx
Labels: approved, component/dev-console, lgtm, size/XXL

#3035 OLM package files updated to pf4 btn
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/affinity.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/match-expressions.tsx
  frontend/packages/operator-lifecycle-manager/src/components/install-plan.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/install-plan.tsx
  frontend/packages/operator-lifecycle-manager/src/components/package-manifest.tsx
  frontend/packages/operator-lifecycle-manager/src/style.scss
Labels: approved, component/olm, lgtm, size/M

#2909 kubevirt: VM status dashboard card
  frontend/packages/console-shared/src/components/dashboard/status-card/AlertsBody.tsx
  frontend/packages/console-shared/src/components/status/icons.tsx
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/index.ts
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-alerts.tsx
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-status-card.scss
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-status-card.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-dashboard.tsx
  frontend/packages/kubevirt-plugin/src/selectors/vmi/selectors.ts
  frontend/public/components/dashboard/dashboards-page/overview-dashboard/status-card.tsx
Labels: approved, component/ceph, component/core, component/dashboard, component/kubevirt, component/metal3, component/noobaa, component/sdk, component/shared, lgtm, size/L

#2439 Add tests for creating VM via YAML page
  frontend/integration-tests/protractor.conf.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.template.wizard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.yaml.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/wizard.view.ts
Labels: approved, component/kubevirt, lgtm, size/L

#2951 Use ConsoleCliDownloads instead of hardcoded cli tools
  frontend/public/components/command-line-tools.tsx
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/components/namespace.jsx
  frontend/public/const.ts
Labels: approved, component/core, lgtm, size/M

#2988 Added dropdown to overview dashboard
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/utilization-card/utilization-card.tsx
  frontend/packages/ceph-storage-plugin/src/constants/index.ts
  frontend/packages/ceph-storage-plugin/src/constants/queries.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
  frontend/packages/console-shared/src/components/dashboard/utilization-card/dropdown-value.ts
  frontend/public/components/dashboard/dashboards-page/overview-dashboard/queries.ts
  frontend/public/components/dashboard/dashboards-page/overview-dashboard/utilization-card.tsx
  frontend/public/components/dashboard/project-dashboard/queries.ts
  frontend/public/components/dashboard/project-dashboard/utilization-card.tsx
Labels: approved, component/ceph, component/core, component/dashboard, component/shared, lgtm, size/L

#3043 Bug 1763849: Pass namespace to watchPrometheus action
  frontend/public/actions/dashboards.ts
  frontend/public/components/dashboard/with-dashboard-resources.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/dashboard, lgtm, size/XS

#3053 Use @typescript-eslint/parser for all code
  frontend/packages/eslint-plugin-console/lib/config/typescript-parser.js
  frontend/packages/eslint-plugin-console/lib/config/typescript.js
  frontend/packages/eslint-plugin-console/package.json
  frontend/public/components/routes/create-route.tsx
  frontend/yarn.lock
Labels: approved, component/core, lgtm, size/M
