Repository openshift/console, pull requests merged in 2019-08, with the labels that each got.

#2228 Fix list page row filter margins
  frontend/public/components/factory/list-page.jsx
  frontend/public/components/monitoring.tsx
Labels: approved, component/core, lgtm, size/S

#2200 Pass storage-class-defaults ConfigMap down to CreateVMWizard
  frontend/packages/kubevirt-plugin/src/components/modals/create-vm-wizard.tsx
  frontend/packages/kubevirt-plugin/src/constants/index.ts
  frontend/packages/kubevirt-plugin/src/constants/storage-class.ts
Labels: approved, component/kubevirt, kind/bug, lgtm, size/S

#2235 Bug 1734709: Fix bug where dropdown items don't wrap
  frontend/public/components/_dropdown.scss
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/S

#2155 Bug 1732836: Converted Chargeback Report Usage tables to pf4 Tables
  frontend/public/components/chargeback.tsx
  frontend/public/components/factory/table.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, ok-to-test, size/L

#2188 Bug fix add app.openshift.io/runtime-version label after import
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/utils/resource-label-utils.ts
  frontend/packages/knative-plugin/src/utils/create-knative-utils.ts
Labels: approved, component/dev-console, component/knative, lgtm, size/M

#2244 Bug 1735678: Slight increase in yaml header height to prevent editor mouseover text clipping
  frontend/public/components/_edit-yaml.scss
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/XS

#2236 Show image pull secret form in a modal
  frontend/packages/dev-console/src/components/import/CreateSecretModal.tsx
  frontend/packages/dev-console/src/components/import/git/CreateSourceSecretModal.tsx
  frontend/packages/dev-console/src/components/import/git/SourceSecretSelector.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageSearch.tsx
  frontend/public/components/secrets/create-secret.tsx
Labels: approved, component/core, component/dev-console, lgtm, size/L

#2240 Fix bug where pod donut was not showing terminating status on scaling down
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
Labels: approved, component/dev-console, lgtm, size/XS

#2199 Fix bug to show an application selected by default in import flows
  frontend/packages/dev-console/src/components/dropdown/ApplicationDropdown.tsx
  frontend/packages/dev-console/src/components/dropdown/ResourceDropdown.tsx
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/app/ApplicationSelector.tsx
Labels: approved, component/dev-console, lgtm, size/M

#2246 kubevirt: fix create-nic ids
  frontend/packages/kubevirt-plugin/src/components/vm-nics/create-nic-row.tsx
Labels: approved, component/kubevirt, kind/bug, lgtm, size/XS

#2239 Typo fix, from 'Data consumption' to 'Data Consumption'
  frontend/packages/noobaa-storage-plugin/src/components/data-consumption-card/data-consumption-card.tsx
Labels: approved, component/noobaa, kind/bug, lgtm, ok-to-test, size/XS

#2216 Hides 'Egress' option for accounts in data consumption card Nooba
  frontend/packages/noobaa-storage-plugin/src/components/data-consumption-card/data-consumption-card-dropdown.tsx
Labels: approved, component/noobaa, kind/bug, lgtm, ok-to-test, size/S

#2260 Query Browser: Fix bug where `0` could be briefly visible
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, component/core, component/monitoring, lgtm, size/XS

#2247 Bump web-ui-components to 0.1.40
  frontend/packages/kubevirt-plugin/package.json
  frontend/yarn.lock
Labels: approved, component/kubevirt, lgtm, size/S

#2237 Monitoring: Fix alignment of Show / Hide Graph link
  frontend/public/components/monitoring.tsx
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/metrics.tsx
Labels: approved, component/core, component/monitoring, lgtm, size/S

#2256 Query Browser: Fix graph padding so that labels fit in the border
  frontend/public/components/graphs/themes.ts
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, component/core, component/monitoring, lgtm, size/M

#2270 Fixed incorrect terms in Object Dashboard
  frontend/packages/noobaa-storage-plugin/src/components/data-consumption-card/data-consumption-card-dropdown.tsx
  frontend/packages/noobaa-storage-plugin/src/components/data-consumption-card/data-consumption-card-utils.ts
  frontend/packages/noobaa-storage-plugin/src/components/data-consumption-card/data-consumption-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/details-card/details-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/object-data-reduction-card/object-data-reduction-card-item.tsx
  frontend/packages/noobaa-storage-plugin/src/constants/index.ts
Labels: approved, component/noobaa, kind/bug, lgtm, size/S

#2255 Bug-fix: Fixing updated prometheus queries in object service dashboard
  frontend/packages/noobaa-storage-plugin/src/components/details-card/details-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/health-card/health-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/object-data-reduction-card/object-data-reduction-card-item.tsx
  frontend/packages/noobaa-storage-plugin/src/components/object-data-reduction-card/object-data-reduction-card.tsx
  frontend/packages/noobaa-storage-plugin/src/queries.ts
Labels: approved, component/noobaa, kind/bug, lgtm, size/M

#2278 Object Dashboard : Realigned Capacity Usage and Object Data Reduction cards
  frontend/packages/noobaa-storage-plugin/src/plugin.ts
Labels: approved, component/noobaa, kind/bug, lgtm, size/XS

#2290 Monitoring: Fix unmount / mount of whole page when navigating
  frontend/public/components/monitoring.tsx
Labels: approved, component/core, lgtm, size/M

#2227 Bug 1724010: Graphs: Fix Prometheus `query_range` graphs in older browsers
  frontend/public/components/graphs/helpers.ts
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/S

#2245 Query Browser: Performance fix
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, component/core, component/monitoring, kind/bug, lgtm, size/XS

#1662 Add description column to Cluster Settings Global Configuration table
  frontend/public/components/cluster-settings/global-config.tsx
Labels: approved, component/core, lgtm, size/S

#2154 Bug 1731859: Fix "no qouta" state for resource quota gauge graphs
  frontend/public/components/dashboard/capacity-card/capacity-item.tsx
  frontend/public/components/graphs/gauge.tsx
  frontend/public/components/resource-quota.jsx
Labels: approved, bugzilla/valid-bug, component/core, kind/bug, lgtm, size/M

#2259 Bug 1726055: Query Browser: Always start Y-axis from zero
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/monitoring, kind/bug, lgtm, size/XS

#2267 fix(serverless): Add valid default YAML for serverless objects
  frontend/packages/knative-plugin/src/components/revisions/RevisionsPage.tsx
  frontend/packages/knative-plugin/src/components/routes/RoutesPage.tsx
  frontend/packages/knative-plugin/src/plugin.tsx
  frontend/packages/knative-plugin/src/yaml-templates.ts
Labels: approved, component/knative, kind/bug, lgtm, size/M

#2238 Add option to set e2e testing chrome browser binary
  README.md
  frontend/integration-tests/protractor.conf.ts
Labels: approved, lgtm, size/XS

#2268 Bump PatternFly React Charts package to 4.7.3
  frontend/package.json
  frontend/yarn.lock
Labels: approved, kind/bug, lgtm, size/S

#2292 Bug 1738403: Networking-> ingress item better to be plural form for consistency
  frontend/public/components/nav/admin-nav.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/XS

#2212 Remove LoadingInline from namespace details private ResourceQuotas component
  frontend/public/components/overview/namespace-overview.tsx
Labels: approved, component/core, kind/bug, lgtm, size/XS

#2249 Topology: ensure node is visible after selection
  frontend/packages/dev-console/src/components/topology/D3ForceDirectedRenderer.tsx
Labels: approved, component/dev-console, lgtm, size/M

#2273 fix issue with the application dropdown loading indicator
  frontend/packages/dev-console/src/components/dropdown/ResourceDropdown.tsx
Labels: approved, component/dev-console, lgtm, size/XS

#2280 Convert inline icon (delete and move) and add more buttons to pf4 styles
  frontend/integration-tests/views/environment.view.ts
  frontend/integration-tests/views/modal-annotations.view.ts
  frontend/public/components/modals/_modals.scss
  frontend/public/components/modals/taints-modal.tsx
  frontend/public/components/modals/tolerations-modal.tsx
  frontend/public/components/operator-lifecycle-manager/descriptors/spec/match-expressions.tsx
  frontend/public/components/utils/_name-value-editor.scss
  frontend/public/components/utils/name-value-editor.jsx
Labels: approved, component/core, component/olm, kind/bug, lgtm, size/L

#2284 fix(serverless): point serverless flags at different modesl since they get installed later
  frontend/packages/knative-plugin/src/const.ts
  frontend/packages/knative-plugin/src/plugin.tsx
Labels: approved, component/knative, kind/bug, lgtm, size/M

#2286 fix(serverless): Adv Search for knative resources throws error
  frontend/packages/knative-plugin/src/components/revisions/RevisionsPage.tsx
  frontend/packages/knative-plugin/src/components/routes/RoutesPage.tsx
  frontend/packages/knative-plugin/src/components/services/ServicesPage.tsx
Labels: approved, component/knative, kind/bug, lgtm, size/S

#2297 Query Browser: Add back 1px top padding
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, component/core, component/monitoring, lgtm, size/XS

#2274 Query Browser: Fix bug that caused graph to re-render when typing
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, component/core, component/monitoring, kind/bug, lgtm, size/S

#2257 Bug 1732678: Fix bar chart height in Firefox
  frontend/public/components/graphs/_graphs.scss
  frontend/public/components/graphs/bar.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/S

#2277 Bug 1737408: Show storageclass's volumeBindingMode in storageclass's overview page
  frontend/public/components/storage-class.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/XS

#2261 fix(pipeline-headers): Change `Task Progress` to `Task Status`
  frontend/packages/dev-console/src/components/pipelineruns/PipelineRunHeader.tsx
  frontend/packages/dev-console/src/components/pipelines/PipelineHeader.tsx
Labels: approved, component/dev-console, lgtm, size/S

#2279 fix bug show double ring outline at all times when there are zero pods
  frontend/packages/dev-console/src/components/topology/SvgPodTooltip.tsx
  frontend/packages/dev-console/src/components/topology/__tests__/topology-utils.spec.ts
  frontend/packages/dev-console/src/components/topology/shapes/PodStatus.tsx
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
Labels: approved, component/dev-console, lgtm, size/M

#2303 Bug 1738310: Query Browser: Fix autocompletion suggestions ordering
  frontend/public/components/monitoring/metrics.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/monitoring, lgtm, size/S

#2271 Bug 1737756: Add virtualize prop to baremetal host table
  frontend/packages/metal3-plugin/src/components/host.tsx
  frontend/packages/metal3-plugin/src/components/types.ts
Labels: approved, bugzilla/valid-bug, component/metal3, lgtm, size/M

#2294 Set 'user-auth-oidc-ca-file' flag with the TrustedCA file
  pkg/serverconfig/config.go
  pkg/serverconfig/types.go
Labels: approved, component/backend, lgtm, size/S

#2293 fix bug add cursor pointer to base node
  frontend/packages/dev-console/src/components/topology/shapes/BaseNode.scss
  frontend/packages/dev-console/src/components/topology/shapes/BaseNode.tsx
Labels: approved, component/dev-console, kind/bug, lgtm, size/XS

#1975 Add Create BaremetalHost form to metal3 plugin
  frontend/packages/metal3-plugin/src/components/add-host.tsx
  frontend/packages/metal3-plugin/src/components/host.tsx
  frontend/packages/metal3-plugin/src/plugin.ts
Labels: approved, component/metal3, lgtm, ok-to-test, size/L

#2310 Making the unhealthy icon consistent throughout all cards
  frontend/packages/noobaa-storage-plugin/src/components/buckets-card/buckets-card-item.tsx
  frontend/packages/noobaa-storage-plugin/src/components/resource-providers-card/resource-providers-card-item.tsx
Labels: approved, component/noobaa, kind/bug, lgtm, ok-to-test, size/XS

#2195 Bug RHSTOR-495: Fixed the title,height and migration of pf3 to pf4 icons
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/data-resiliency/data-resiliency.scss
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/data-resiliency/data-resiliency.tsx
  frontend/packages/noobaa-storage-plugin/src/components/data-resiliency-card/data-resiliency-card.scss
  frontend/packages/noobaa-storage-plugin/src/components/data-resiliency-card/data-resiliency-card.tsx
Labels: approved, component/ceph, component/noobaa, kind/bug, lgtm, ok-to-test, size/M

#2308 Correct envFrom form field top alignment
  frontend/public/components/utils/_value-from-pair.scss
  frontend/public/components/utils/value-from-pair.jsx
Labels: approved, component/core, lgtm, size/XS

#2285 Bug 1720333: Validate MAC when adding a NIC
  frontend/packages/kubevirt-plugin/src/components/vm-disks/create-disk-row.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-nics/create-nic-row.tsx
  frontend/packages/kubevirt-plugin/src/utils/validations/common.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/strings.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/vm/nic.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/vm/validations.ts
Labels: approved, bugzilla/valid-bug, component/kubevirt, lgtm, size/L

#2300 Fix bug where react warning was shown when visiting empty pipelines page
  frontend/packages/dev-console/src/components/pipelines/PipelinesPage.tsx
Labels: approved, component/dev-console, lgtm, size/XS

#2306 Change dropdown selection fields based on ux design requirements
  frontend/public/components/modals/create-namespace-modal.jsx
  frontend/public/components/utils/value-from-pair.jsx
Labels: approved, component/core, lgtm, size/XS

#2291 [metal3] Remove fans and psus from intenvory card
  frontend/packages/metal3-plugin/src/components/dashboard/inventory-card.tsx
Labels: approved, component/metal3, lgtm, size/M

#2295 Bug 1728099: Improve template handling in Developer Catalog
  frontend/__mocks__/catalogItemsMocks.ts
  frontend/public/components/catalog/catalog-page.jsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/L

#2314 Bug 1739390: Fix PopoverStatus by fixing the Button padding
  frontend/packages/console-shared/src/components/status/PopoverStatus.tsx
Labels: approved, bugzilla/valid-bug, component/shared, lgtm, size/XS

#2317 Bug 1739288: No 'Cancel Rollout' menu on Replication Controller list page
  frontend/public/components/replication-controller.jsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/XS

#2318 Bug 1739310: Fix node metrics query
  frontend/public/components/node.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/S

#2281 Implement unit tests for graph components
  frontend/__tests__/components/graphs/area.spec.tsx
  frontend/__tests__/components/graphs/bar.spec.tsx
  frontend/__tests__/components/graphs/gauge.spec.tsx
  frontend/__tests__/components/graphs/graph-empty.spec.tsx
  frontend/__tests__/components/graphs/helpers.spec.ts
  frontend/__tests__/components/graphs/prometheus-graph.spec.tsx
  frontend/__tests__/components/graphs/utils.spec.ts
  frontend/public/components/graphs/area.tsx
  frontend/public/components/graphs/bar.tsx
  frontend/public/components/graphs/helpers.ts
  frontend/public/components/graphs/index.tsx
Labels: approved, component/core, lgtm, size/L

#2321 Query Browser: Show internal labels in results table
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, component/core, component/monitoring, kind/bug, lgtm, size/S

#2324 Bug 1739380: Query Browser: Fix table values
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/metrics.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/monitoring, lgtm, size/L

#2254 Bug RHSTOR-664: Fixed the missing links in buckets and resource providers card
  frontend/packages/noobaa-storage-plugin/src/components/buckets-card/buckets-card-item.tsx
  frontend/packages/noobaa-storage-plugin/src/components/buckets-card/buckets-card.scss
  frontend/packages/noobaa-storage-plugin/src/components/buckets-card/buckets-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/resource-providers-card/resource-providers-card-item.tsx
  frontend/packages/noobaa-storage-plugin/src/components/resource-providers-card/resource-providers-card.scss
  frontend/packages/noobaa-storage-plugin/src/components/resource-providers-card/resource-providers-card.tsx
Labels: approved, component/noobaa, kind/bug, lgtm, size/M

#2325 Query Browser: Ignore Prometheus API AbortError errors
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, component/core, component/monitoring, lgtm, size/XS

#2328 Query Browser: Fix autocompletion selection in Firefox
  frontend/public/components/monitoring/metrics.tsx
Labels: approved, component/core, component/monitoring, lgtm, size/M

#2299 fix(name): adds validation for name and prevents auto populating name…
  frontend/packages/dev-console/src/components/import/__tests__/import-validation-utils.spec.ts
  frontend/packages/dev-console/src/components/import/deployImage-validation-utils.ts
  frontend/packages/dev-console/src/components/import/import-validation-utils.ts
Labels: approved, component/dev-console, kind/bug, lgtm, size/M

#2326 Monitoring: Fix Silence form JS warning and button alignment
  frontend/public/components/monitoring.tsx
Labels: approved, component/core, lgtm, size/S

#2276 Fix replicas limit throws "Replicas must be an integer" if any 10 digit number other than 1 is provided
  frontend/packages/dev-console/src/components/import/deployImage-validation-utils.ts
  frontend/packages/dev-console/src/components/import/import-validation-utils.ts
  frontend/packages/dev-console/src/utils/yup-validation-util.ts
Labels: approved, component/dev-console, kind/bug, lgtm, size/M

#2225 Move `Import YAML` to masthead
  frontend/public/components/_dropdown.scss
  frontend/public/components/edit-yaml.jsx
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/components/namespace.jsx
Labels: approved, component/core, lgtm, size/M

#2091 add pod status ring on overview page
  frontend/packages/console-shared/src/components/SvgPodTooltip.scss
  frontend/packages/console-shared/src/components/SvgPodTooltip.tsx
  frontend/packages/console-shared/src/components/index.ts
  frontend/packages/console-shared/src/components/pod/PodRing.scss
  frontend/packages/console-shared/src/components/pod/PodRing.tsx
  frontend/packages/console-shared/src/components/pod/PodRingDataController.tsx
  frontend/packages/console-shared/src/components/pod/PodStatus.tsx
  frontend/packages/console-shared/src/components/pod/index.ts
  frontend/packages/console-shared/src/types/index.ts
  frontend/packages/console-shared/src/types/pod.ts
  frontend/packages/console-shared/src/utils/index.ts
  frontend/packages/console-shared/src/utils/pod-ring-utils.ts
  frontend/packages/console-shared/src/utils/pod-utils.ts
  frontend/packages/dev-console/src/components/topology/SvgPodTooltip.scss
  frontend/packages/dev-console/src/components/topology/TopologyDataController.tsx
  frontend/packages/dev-console/src/components/topology/TopologySideBar.tsx
  frontend/packages/dev-console/src/components/topology/__tests__/topology-knative-test-data.ts
  frontend/packages/dev-console/src/components/topology/__tests__/topology-test-data.ts
  frontend/packages/dev-console/src/components/topology/__tests__/topology-utils.spec.ts
  frontend/packages/dev-console/src/components/topology/shapes/WorkloadNode.tsx
  frontend/packages/dev-console/src/components/topology/topology-types.ts
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
  frontend/public/components/deployment-config.tsx
  frontend/public/components/deployment.tsx
  frontend/public/components/overview/deployment-config-overview.tsx
  frontend/public/components/overview/deployment-overview.tsx
  frontend/public/components/utils/deployment-pod-counts.tsx
Labels: approved, component/core, component/dev-console, component/shared, lgtm, size/XXL

#2323 Capacity Card queries corrected (Storage Dashboard)
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/capacity-card/capacity-card.tsx
  frontend/packages/ceph-storage-plugin/src/constants/queries.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Labels: approved, component/ceph, kind/bug, lgtm, ok-to-test, size/S

#2266 fix(pipeline-visualisation): Add TaskName instead of TaskRef name
  frontend/packages/dev-console/src/components/pipelines/PipelineVisualizationGraph.tsx
  frontend/packages/dev-console/src/components/pipelines/PipelineVisualizationTask.tsx
Labels: approved, component/dev-console, lgtm, size/M

#2241 enhance(pipeline): Expand the Pipeline Run columns
  frontend/packages/dev-console/src/components/pipelineruns/pipelinerun-table.ts
  frontend/packages/dev-console/src/components/pipelines/pipeline-table.ts
Labels: approved, component/dev-console, lgtm, size/S

#2109 Add new separate suite for release prow job
  frontend/integration-tests/protractor.conf.ts
Labels: approved, lgtm, size/S

#2312 Bug 1739364: Replace Machine link with Node in BMH listing
  frontend/packages/metal3-plugin/src/components/NodeCell.tsx
  frontend/packages/metal3-plugin/src/components/host.tsx
Labels: approved, bugzilla/valid-bug, component/metal3, lgtm, size/M

#2315 Bug 1739407: Enhance host status to beter derive errors from operational status
  frontend/packages/metal3-plugin/src/components/host-detail.tsx
  frontend/packages/metal3-plugin/src/components/host-status.tsx
  frontend/packages/metal3-plugin/src/components/host.tsx
  frontend/packages/metal3-plugin/src/constants.ts
  frontend/packages/metal3-plugin/src/utils/host-status.ts
Labels: approved, bugzilla/valid-bug, component/metal3, lgtm, size/M

#2333 Fix bug where monaco-aria-container is sometimes visible in Firefox
  frontend/public/style/_overrides.scss
Labels: approved, component/core, lgtm, size/XS

#2335 fix tooltip on badges in topology
  frontend/packages/dev-console/src/components/topology/shapes/BaseNode.scss
  frontend/packages/dev-console/src/components/topology/shapes/ResourceIcon.scss
  frontend/packages/dev-console/src/components/topology/shapes/ResourceIcon.tsx
Labels: approved, component/dev-console, lgtm, size/XS

#2248 Make sure icons have same size/Fix incorrect vm off icon size
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/overview-dashboard/inventory.scss
  frontend/public/components/dashboard/inventory-card/inventory-item.tsx
Labels: approved, component/core, component/kubevirt, kind/bug, lgtm, size/S

#2330 Remove unnecessary padding in alerts title, fix icon/text position
  frontend/public/components/dashboard/health-card/alert-item.tsx
  frontend/public/components/dashboard/health-card/health-card.scss
Labels: approved, component/core, kind/bug, lgtm, size/S

#2338 Adding Florian back to metal3-plugin OWNERS file
  frontend/packages/metal3-plugin/OWNERS
Labels: approved, component/metal3, lgtm, size/XS

#2339 Bug 1735585: Add links for users to add Workloads
  frontend/public/components/overview/index.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/S

#2316 [Bug] Filtering the nodes based on label for ocs inventory
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/inventory-card.tsx
  frontend/packages/ceph-storage-plugin/src/selectors/index.ts
Labels: approved, component/ceph, kind/bug, lgtm, size/M

#2332 add cluster settings tests
  frontend/__mocks__/clusterVersinMock.js
  frontend/__tests__/components/cluster-settings.spec.tsx
  frontend/public/components/cluster-settings/cluster-settings.tsx
Labels: approved, component/core, lgtm, size/L

#2224 Bug 1731873: Fix Create Operand Form Crash
  frontend/__mocks__/k8sResourcesMocks.ts
  frontend/__tests__/components/operator-lifecycle-manager/clusterserviceversion.spec.tsx
  frontend/__tests__/components/operator-lifecycle-manager/create-operand.spec.tsx
  frontend/__tests__/components/operator-lifecycle-manager/operand.spec.tsx
  frontend/integration-tests/protractor.conf.ts
  frontend/integration-tests/tests/olm/descriptors.scenario.ts
  frontend/integration-tests/tests/performance.scenario.ts
  frontend/public/components/app-contents.tsx
  frontend/public/components/modals/tags.jsx
  frontend/public/components/modals/tags.tsx
  frontend/public/components/operator-hub/operator-hub-subscribe.tsx
  frontend/public/components/operator-lifecycle-manager/_operator-lifecycle-manager.scss
  frontend/public/components/operator-lifecycle-manager/clusterserviceversion.tsx
  frontend/public/components/operator-lifecycle-manager/create-operand.tsx
  frontend/public/components/operator-lifecycle-manager/descriptors/README.md
  frontend/public/components/operator-lifecycle-manager/descriptors/spec/affinity.tsx
  frontend/public/components/operator-lifecycle-manager/descriptors/spec/resource-requirements.tsx
  frontend/public/components/operator-lifecycle-manager/descriptors/types.ts
  frontend/public/components/operator-lifecycle-manager/index.tsx
  frontend/public/components/utils/scroll-to-top-on-mount.tsx
  frontend/public/module/k8s/index.ts
Labels: approved, bugzilla/valid-bug, component/core, component/olm, lgtm, size/XL

#2242 Removes inconsistency of Storage dashboards for no data
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/data-resiliency/data-resiliency.scss
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/data-resiliency/data-resiliency.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/top-consumers-card/top-consumers-card-body.tsx
  frontend/packages/noobaa-storage-plugin/src/components/capacity-card/capacity-card-body.tsx
  frontend/packages/noobaa-storage-plugin/src/components/data-consumption-card/data-consumption-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/data-resiliency-card/data-resiliency-card.scss
  frontend/packages/noobaa-storage-plugin/src/components/data-resiliency-card/data-resiliency-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/object-data-reduction-card/object-data-reduction-card-item.tsx
  frontend/packages/noobaa-storage-plugin/src/components/object-data-reduction-card/object-data-reduction-card.scss
Labels: approved, component/ceph, component/core, component/noobaa, kind/bug, lgtm, ok-to-test, size/M

#2347 [metal3] add firmware / bios info to host detail
  frontend/packages/metal3-plugin/src/components/host-detail.tsx
  frontend/packages/metal3-plugin/src/selectors/index.ts
Labels: approved, component/metal3, lgtm, ok-to-test, size/S

#2264 fix(pipeline) Remove Pipeline Start Action
  frontend/packages/dev-console/src/components/pipelines/PipelineDetailsPage.tsx
  frontend/packages/dev-console/src/components/pipelines/PipelineRow.tsx
Labels: approved, component/dev-console, lgtm, size/S

#2344 API Explorer tweaks
  frontend/public/components/api-explorer.tsx
  frontend/public/components/cluster-settings/global-config.tsx
  frontend/public/components/factory/table.tsx
  frontend/public/components/nav/admin-nav.tsx
  frontend/public/style.scss
  frontend/public/style/_common.scss
  frontend/public/style/mixin/_line-clamp.scss
Labels: approved, component/core, lgtm, size/M

#2357 Bug 1741265: Prevent re-triggering the host operation
  frontend/packages/metal3-plugin/src/components/HostPowerStatusIcon.tsx
  frontend/packages/metal3-plugin/src/components/host-detail.tsx
  frontend/packages/metal3-plugin/src/components/host-menu-actions.tsx
  frontend/packages/metal3-plugin/src/constants.ts
  frontend/packages/metal3-plugin/src/selectors/index.ts
Labels: approved, bugzilla/valid-bug, component/metal3, lgtm, size/M

#2350 fix issue with node label click opening overview
  frontend/packages/dev-console/src/components/svg/SvgBoxedText.tsx
  frontend/packages/dev-console/src/components/topology/shapes/ResourceIcon.scss
Labels: approved, component/dev-console, kind/bug, lgtm, size/XS

#2262 Bug 1737415: Handle error state and no IP reported in machine status
  frontend/packages/metal3-plugin/src/components/dashboard/utilization-card.tsx
Labels: approved, bugzilla/valid-bug, component/metal3, lgtm, size/S

#2343 fix bug add topology node icon for java
  frontend/public/components/catalog/catalog-item-icon.tsx
Labels: approved, component/core, kind/bug, lgtm, size/XS

#2362 Add VSCode Search exclusions
  frontend/.vscode/settings.json
Labels: approved, lgtm, ok-to-test, size/XS

#2250 Chargeback: updated to v2 table api which returns display columns and units
  frontend/public/actions/ui.ts
  frontend/public/components/chargeback.tsx
  frontend/public/components/factory/table.tsx
  frontend/public/components/monitoring.tsx
  frontend/public/reducers/ui.ts
Labels: approved, component/core, lgtm, ok-to-test, size/L

#2356 updates knative service template to latest
  frontend/packages/knative-plugin/src/utils/create-knative-utils.ts
  frontend/packages/knative-plugin/src/yaml-templates.ts
Labels: approved, component/knative, kind/bug, lgtm, size/M

#2358 Fix to determining topology connectors' targets
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
Labels: approved, component/dev-console, kind/bug, lgtm, size/XS

#2368 Bug 1741119: Use `fieldSelector` to filter events
  frontend/public/components/events.jsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/S

#2364 Bug 1741119: Remove orphaned function call to fix console error
  frontend/public/components/events.jsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/XS

#2313 Fixing the object count display logic in bucket-card
  frontend/packages/noobaa-storage-plugin/src/components/buckets-card/buckets-card-item.tsx
Labels: approved, component/noobaa, kind/bug, lgtm, ok-to-test, size/S

#2351 fix issue on topology with routes/services not shown
  frontend/packages/dev-console/src/components/import/deployImage-submit-utils.ts
Labels: approved, component/dev-console, kind/bug, lgtm, size/XS

#2353 Remove CGO_ENABLED=0 from backend builds
  build-backend.sh
Labels: approved, lgtm, size/XS

#2367 Fix bug where DefaultPage loading indicator is mis-positioned
  frontend/public/components/app-contents.tsx
Labels: approved, component/core, kind/bug, lgtm, size/XS

#2370 Bug 1741470: Correctly order overview groups
  frontend/public/actions/ui.ts
  frontend/public/components/overview/index.tsx
  frontend/public/reducers/ui.ts
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/M

#2341 Bug 1739225: Timestamp component always shows dates in the future as relative dates
  frontend/public/components/utils/timestamp.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/XS

#2204 Ensure that Jest testRegex catches all the specs
  frontend/__tests__/components/utils/datetime.spec.ts
  frontend/__tests__/container.spec.ts
  frontend/__tests__/probe.spec.ts
  frontend/__tests__/public/co-fetch.spec.js
  frontend/__tests__/resource.spec.js
  frontend/__tests__/selector-requirement.spec.js
  frontend/__tests__/selector.spec.js
  frontend/__tests__/units.spec.js
  frontend/public/components/utils/units.js
Labels: approved, component/core, lgtm, size/L

#2363 Fix bug where overview alerts can abut one another
  frontend/public/components/overview/_project-overview.scss
  frontend/public/components/overview/project-overview.tsx
Labels: approved, component/core, kind/bug, lgtm, size/S

#2376 Monitoring: Fix alert details page graph
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, component/core, component/monitoring, kind/bug, lgtm, size/XS

#2345 Switch overview tooltips to PF4 to prevent overflow clipping
  frontend/package.json
  frontend/public/components/overview/_project-overview.scss
  frontend/public/components/overview/project-overview.tsx
  frontend/yarn.lock
Labels: approved, component/core, lgtm, size/L

#2366 Bug 1739831: Fix wrapping issue with node details graphs
  frontend/public/components/graphs/graph-empty.tsx
  frontend/public/components/node.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/S

#2382 Switch timestamp tooltips to PF4 to prevent overflow clipping
  frontend/public/components/utils/timestamp.tsx
Labels: approved, component/core, lgtm, size/XS

#2377 Change integration test suite name `olm` to `<suite>`
  README.md
Labels: approved, kind/documentation, lgtm, size/XS

#2379 Remove obsolete cluster status page
  frontend/public/components/_cluster-overview.scss
  frontend/public/components/_documentation.scss
  frontend/public/components/_group.scss
  frontend/public/components/app-contents.tsx
  frontend/public/components/cluster-overview.jsx
  frontend/public/components/overview/namespace-overview.tsx
  frontend/public/components/software-details.jsx
  frontend/public/components/start-guide.tsx
  frontend/public/components/utils/documentation.tsx
  frontend/public/style.scss
Labels: approved, component/core, lgtm, size/L

#2372 Bump web-ui-components-0.1.41
  frontend/packages/kubevirt-plugin/package.json
  frontend/yarn.lock
Labels: approved, component/kubevirt, kind/bug, lgtm, size/L

#2385 apiExplorer: add spacing between dropdown components
  frontend/public/components/api-explorer.tsx
Labels: approved, component/core, lgtm, size/XS

#2146 This fixes the Capacity card logic
  frontend/packages/noobaa-storage-plugin/src/components/capacity-card/capacity-card-body.scss
  frontend/packages/noobaa-storage-plugin/src/components/capacity-card/capacity-card-body.tsx
  frontend/packages/noobaa-storage-plugin/src/components/capacity-card/capacity-card-utils.ts
  frontend/packages/noobaa-storage-plugin/src/components/capacity-card/capacity-card.tsx
  frontend/packages/noobaa-storage-plugin/src/queries.ts
Labels: approved, component/noobaa, kind/bug, lgtm, ok-to-test, size/L

#2334 Allow users to add/update pipeline parameters and resources
  frontend/packages/dev-console/src/components/formik-fields/DropdownField.tsx
  frontend/packages/dev-console/src/components/formik-fields/NSDropdownField.tsx
  frontend/packages/dev-console/src/components/formik-fields/multi-column-field/MultiColumnField.scss
  frontend/packages/dev-console/src/components/pipelines/PipelineDetailsPage.tsx
  frontend/packages/dev-console/src/components/pipelines/PipelineParameters.tsx
  frontend/packages/dev-console/src/components/pipelines/PipelineResources.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/PipelineForm.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/pipelineForm-validation-utils.ts
Labels: approved, component/dev-console, lgtm, size/L

#2389 Bug 1739981: Fix "Update to another version" logic
  frontend/public/components/cluster-settings/cluster-settings.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/XS

#2398 Migrate namespace delete tooltip to PF4
  frontend/public/components/namespace.jsx
Labels: approved, component/core, lgtm, size/XS

#2393 Fix storage class quota YAML template
  frontend/public/models/yaml-templates.ts
Labels: approved, component/core, lgtm, size/XS

#2390 Bug 1741789: Don't load templates twice when all projects is selected
  frontend/public/components/catalog/catalog-page.jsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/XS

#2403 Migrate machine sets tooltips to PF4
  frontend/public/components/machine-set.tsx
Labels: approved, component/core, lgtm, size/XS

#2400 Migrate Machine Config Pool tooltips to PF4
  frontend/public/components/machine-config-pool.tsx
Labels: approved, component/core, lgtm, size/S

#2404 Migrate monitoring tooltips to PF4
  frontend/public/components/monitoring.tsx
Labels: approved, component/core, lgtm, size/XS

#2405 Migrate configure update strategy modal tooltips to PF4
  frontend/public/components/modals/configure-update-strategy-modal.tsx
Labels: approved, component/core, lgtm, size/XS

#2406 Migrate operator subscribe tooltips to PF4
  frontend/public/components/operator-hub/operator-hub-subscribe.tsx
Labels: approved, component/core, component/olm, lgtm, size/M

#2407 Migrate affinity tooltips to PF4
  frontend/public/components/operator-lifecycle-manager/descriptors/spec/affinity.tsx
Labels: approved, component/core, component/olm, lgtm, size/XS

#2397 Migrate copy to clipboard tooltip to PF4
  frontend/__tests__/components/utils/copy-to-clipboard.spec.tsx
  frontend/public/components/utils/copy-to-clipboard.tsx
Labels: approved, component/core, lgtm, size/M

#2408 Migrate SpecDescriptor and StatusDescriptor tooltips to PF4
  frontend/public/components/operator-lifecycle-manager/descriptors/spec/index.tsx
  frontend/public/components/operator-lifecycle-manager/descriptors/status/index.tsx
Labels: approved, component/core, component/olm, lgtm, size/XS

#2283 Feat(Pipeline-run-logs): Add Pipeline Run Logs
  frontend/packages/dev-console/src/components/pipelineruns/PipelineRunDetailsPage.tsx
  frontend/packages/dev-console/src/components/pipelineruns/PipelineRunLogs.scss
  frontend/packages/dev-console/src/components/pipelineruns/PipelineRunLogs.tsx
  frontend/packages/dev-console/src/utils/pipeline-augment.ts
  frontend/packages/dev-console/yamls/pipelines/pipeline.yaml
  frontend/packages/dev-console/yamls/pipelines/task.yaml
Labels: approved, component/dev-console, lgtm, size/L

#2258 Fix ambiguous top consumer label by linking to resource details page
  frontend/packages/console-demo-plugin/src/plugin.tsx
  frontend/packages/console-plugin-sdk/src/typings/dashboards.ts
  frontend/public/components/dashboards-page/overview-dashboard/queries.ts
  frontend/public/components/dashboards-page/overview-dashboard/top-consumers-card.scss
  frontend/public/components/dashboards-page/overview-dashboard/top-consumers-card.tsx
  frontend/public/components/graphs/bar.tsx
  frontend/public/components/graphs/index.tsx
  frontend/public/components/graphs/utils.ts
  frontend/public/components/namespace.jsx
Labels: approved, component/core, component/sdk, kind/bug, lgtm, size/L

#2375 Bug 1741959: Use fieldSelector to filter event
  frontend/public/components/events.jsx
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, lgtm, size/S

#2395 Bug 1742952: Handle ClusterResourceQuota as a CRD
  frontend/public/components/resource-quota.jsx
  frontend/public/models/index.ts
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/XS

#2402 Bug 1738702: align console pod status with CLI
  frontend/packages/console-shared/src/components/status/Status.tsx
  frontend/public/module/k8s/pods.ts
Labels: approved, bugzilla/valid-bug, component/core, component/shared, lgtm, size/M

#2396 fixes edit icons based on git type
  frontend/packages/dev-console/src/components/topology/shapes/WorkloadNode.tsx
Labels: approved, component/dev-console, kind/bug, lgtm, size/S

#2416 Bug 1743566: Don't virtualize access review table
  frontend/public/components/api-explorer.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/XS

#2420 Switch from height to minHeight for empty state to prevent overflow issue
  frontend/public/components/graphs/graph-empty.tsx
Labels: approved, component/core, kind/bug, lgtm, size/XS

#2421 Correctly position loading indicator for API explorer details
  frontend/public/components/api-explorer.tsx
Labels: approved, component/core, lgtm, size/XS

#2424 Bug 1732740: YAML LS package update
  frontend/package.json
  frontend/yarn.lock
Labels: approved, bugzilla/valid-bug, lgtm, ok-to-test, size/M

#2431 remove JenkinsPipeline example from Build Config Sidebar
  frontend/public/components/sidebars/build-config-sidebar.jsx
  frontend/public/models/yaml-templates.ts
Labels: approved, component/core, lgtm, size/S

#2275 Handling 'NaN' for data resiliency card
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/data-resiliency/data-resiliency.tsx
Labels: approved, component/ceph, kind/bug, lgtm, ok-to-test, size/S

#2425 Bug 1727800: Improve OperatorHub Load Time
  frontend/__mocks__/operatorHubItemsMocks.ts
  frontend/__tests__/components/operator-hub/operator-hub.spec.tsx
  frontend/public/components/operator-hub/operator-hub-page.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/olm, lgtm, size/M

#2387 (apiExplorer): add override to align vertically to top
  frontend/public/style/_overrides.scss
Labels: approved, component/core, kind/bug, lgtm, size/XS

#2401 Query Browser: Move queries state to redux
  frontend/public/actions/ui.ts
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/components/monitoring/query-browser.tsx
  frontend/public/reducers/ui.ts
Labels: approved, component/core, component/monitoring, lgtm, size/XL

#2419 fix(table): table overlapping issue
  frontend/public/components/factory/table.tsx
Labels: approved, component/core, kind/bug, lgtm, size/XS

#2414 Align Import Flows according to UX to fix inconsistencies
  frontend/packages/dev-console/src/components/import/DeployImageForm.tsx
  frontend/packages/dev-console/src/components/import/GitImportForm.tsx
  frontend/packages/dev-console/src/components/import/SourceToImageForm.tsx
  frontend/packages/dev-console/src/components/import/advanced/AdvancedSection.tsx
  frontend/packages/dev-console/src/components/import/git/DockerSection.tsx
  frontend/packages/dev-console/src/components/import/serverless/ServerlessSection.tsx
  frontend/packages/dev-console/src/components/progressive-list/ProgressiveList.tsx
Labels: approved, component/dev-console, kind/bug, lgtm, size/M

#2437 fix loading of builder-image for non-admin
  frontend/packages/dev-console/src/components/import/ImportPage.tsx
Labels: approved, component/dev-console, lgtm, size/XS

#2438 kubevirt: use correct path in dashboard URL
  frontend/packages/kubevirt-plugin/src/plugin.tsx
Labels: approved, component/kubevirt, lgtm, size/XS

#2394 move getVmStatus to kubevirt plugin
  frontend/packages/console-shared/src/selectors/common.ts
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/overview-dashboard/inventory.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-console.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm.tsx
  frontend/packages/kubevirt-plugin/src/constants/cdi.ts
  frontend/packages/kubevirt-plugin/src/constants/index.ts
  frontend/packages/kubevirt-plugin/src/selectors/owner-reference/selectors.ts
  frontend/packages/kubevirt-plugin/src/selectors/pod/container.ts
  frontend/packages/kubevirt-plugin/src/selectors/pod/selectors.ts
  frontend/packages/kubevirt-plugin/src/selectors/selectors.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm/combined.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm/selectors.ts
  frontend/packages/kubevirt-plugin/src/selectors/vmi-migration/combined.ts
  frontend/packages/kubevirt-plugin/src/statuses/constants.ts
  frontend/packages/kubevirt-plugin/src/statuses/index.ts
  frontend/packages/kubevirt-plugin/src/statuses/pod/constants.ts
  frontend/packages/kubevirt-plugin/src/statuses/pod/pod.ts
  frontend/packages/kubevirt-plugin/src/statuses/vm/constants.ts
  frontend/packages/kubevirt-plugin/src/statuses/vm/vm.ts
  frontend/packages/kubevirt-plugin/src/utils/index.ts
  frontend/public/module/k8s/index.ts
Labels: approved, component/core, component/kubevirt, component/shared, lgtm, size/XL

#2428 Fix bug where success icon lacks enough contrast
  frontend/packages/console-shared/src/components/status/Icons.tsx
  frontend/packages/dev-console/src/components/topology/shapes/WorkloadNode.tsx
  frontend/public/components/_build-pipeline.scss
Labels: approved, component/core, component/dev-console, component/shared, kind/bug, lgtm, size/S

#2440 Remove orphaned Source to Image code
  frontend/integration-tests/tests/source-to-image.scenario.ts
  frontend/integration-tests/views/source-to-image.view.ts
  frontend/packages/dev-console/src/components/import/builder/BuilderImageTagSelector.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageSearch.tsx
  frontend/public/components/_instantiate-template.scss
  frontend/public/components/_source-to-image.scss
  frontend/public/components/catalog/catalog-item-details.jsx
  frontend/public/components/instantiate-template.tsx
  frontend/public/components/source-to-image.tsx
  frontend/public/style.scss
Labels: approved, component/core, component/dev-console, kind/bug, lgtm, size/XL

#2374 Improve performance calculating item labels for overview
  frontend/public/components/overview/index.tsx
Labels: approved, component/core, lgtm, size/S
