Repository openshift/console, pull requests merged in 2019-12, with the labels that each got.

#3623 Bug 1757752: Migrate TemplateSource component from kubevirt-web-ui-co…
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/templates/containerTemplate.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/templates/pxeTemplate.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/templates/urlTemplate.ts
  frontend/packages/kubevirt-plugin/src/components/vm-templates/__tests__/__snapshots__/vm-template-source.spec.tsx.snap
  frontend/packages/kubevirt-plugin/src/components/vm-templates/__tests__/vm-template-source.spec.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-details.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-resource.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-source.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/provision-source.ts
  frontend/packages/kubevirt-plugin/src/selectors/vmi/selectors.ts
  frontend/packages/kubevirt-plugin/src/utils/__tests__/url.spec.ts
  frontend/packages/kubevirt-plugin/src/utils/url.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/common.ts
Labels: approved, bugzilla/valid-bug, component/kubevirt, lgtm, size/XXL

#2588 First storage dashboard tests
  frontend/packages/ceph-storage-plugin/integration-tests/tests/storage-dashboard.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/views/storage-dashboard.view.ts
  frontend/packages/ceph-storage-plugin/package.json
  frontend/packages/console-shared/src/test-views/dashboard-shared.view.ts
Labels: approved, component/ceph, component/shared, lgtm, size/M

#3558 bump react-dnd version
  frontend/__tests__/components/utils/name-value-editor.spec.tsx
  frontend/package.json
  frontend/public/components/droppable-edit-yaml.tsx
  frontend/public/components/utils/drag-drop-context.tsx
  frontend/public/components/utils/file-input.tsx
  frontend/yarn.lock
Labels: approved, component/core, lgtm, size/L

#3571 Add integration tests for network attachment definitions
  frontend/packages/network-attachment-definition-plugin/integration-tests/.eslintrc.js
  frontend/packages/network-attachment-definition-plugin/integration-tests/tests/models/nad.ts
  frontend/packages/network-attachment-definition-plugin/integration-tests/tests/models/nadDetail.ts
  frontend/packages/network-attachment-definition-plugin/integration-tests/tests/models/nadForm.ts
  frontend/packages/network-attachment-definition-plugin/integration-tests/tests/nad.detail.scenario.ts
  frontend/packages/network-attachment-definition-plugin/integration-tests/tests/nad.form.configs.ts
  frontend/packages/network-attachment-definition-plugin/integration-tests/tests/nad.form.scenario.ts
  frontend/packages/network-attachment-definition-plugin/integration-tests/tests/nad.yaml.scenario.ts
  frontend/packages/network-attachment-definition-plugin/integration-tests/tests/utils/constants.ts
  frontend/packages/network-attachment-definition-plugin/integration-tests/tests/utils/mocks.ts
  frontend/packages/network-attachment-definition-plugin/integration-tests/types/index.ts
  frontend/packages/network-attachment-definition-plugin/integration-tests/views/nad.detail.view.ts
  frontend/packages/network-attachment-definition-plugin/integration-tests/views/nad.form.view.ts
  frontend/packages/network-attachment-definition-plugin/integration-tests/views/nad.list.view.ts
  frontend/packages/network-attachment-definition-plugin/package.json
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionDetails.tsx
Labels: approved, lgtm, size/L

#3523 Bug 1775720: Backport to 4.2 - Chargeback Reports and ReportQueries change to v1 apiVersion
  frontend/public/components/chargeback.tsx
  frontend/public/models/index.ts
  frontend/public/models/yaml-templates.ts
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, component/core, lgtm, size/XS

#3579 Add node maintenance activity
  frontend/packages/metal3-plugin/src/components/maintenance/MaintenanceDashboardActivity.tsx
  frontend/packages/metal3-plugin/src/plugin.ts
Labels: approved, component/metal3, lgtm, size/M

#3587 Bug 1776131: Exclude Conditions from statusDescriptors so they don't …
  frontend/packages/operator-lifecycle-manager/integration-tests/scenarios/descriptors.scenario.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand.tsx
Labels: approved, bugzilla/valid-bug, component/olm, lgtm, size/S

#3592 Bug 1777177: Query Browser: Fix Switch to enable when inserting example query
  frontend/public/components/monitoring/metrics.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/monitoring, lgtm, size/XS

#3573 Bug 1769317: Mark all resources as optional to always render card by firehose
  frontend/packages/console-app/src/components/dashboards-page/status.ts
  frontend/packages/console-app/src/plugin.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/HealthItem.tsx
  frontend/public/components/dashboard/dashboards-page/overview-dashboard/activity-card.tsx
  frontend/public/components/dashboard/dashboards-page/overview-dashboard/events-card.tsx
  frontend/public/components/dashboard/dashboards-page/overview-dashboard/health-card.tsx
  frontend/public/components/dashboard/dashboards-page/overview-dashboard/inventory-card.tsx
  frontend/public/components/dashboard/dashboards-page/overview-dashboard/status-card.tsx
  frontend/public/components/dashboard/with-dashboard-resources.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/dashboard, component/shared, lgtm, size/XL

#3604 Bug 1772565: Egress legend color mismatch with bars
  frontend/packages/noobaa-storage-plugin/src/components/data-consumption-card/data-consumption-card-utils.ts
  frontend/packages/noobaa-storage-plugin/src/components/data-consumption-card/data-consumption-card.tsx
Labels: approved, bugzilla/valid-bug, component/noobaa, lgtm, size/S

#3397 Add ability to easily run prettier from CLI
  frontend/.eslintrc
  frontend/.prettierignore
  frontend/.vscode/settings.json
  frontend/package.json
  frontend/packages/console-demo-plugin/package.json
  frontend/packages/dev-console/package.json
  frontend/packages/eslint-plugin-console/.eslintrc
  frontend/packages/eslint-plugin-console/index.js
  frontend/packages/eslint-plugin-console/lib/config/json.js
  frontend/packages/eslint-plugin-console/package.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/bitbucket/dockerfile.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/bitbucket/files.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/bitbucket/no-dockerfile.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/branches.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/dockerfile.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/files-golang.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/files-modern-webapp.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/files-nodejs.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/files.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/languages.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/no-dockerfile.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/repo.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/gitlab/branches.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/gitlab/dockerfile.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/gitlab/files.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/gitlab/languages.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/gitlab/no-dockerfile.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/gitlab/repo.json
  frontend/packages/kubevirt-plugin/package.json
  frontend/packages/noobaa-storage-plugin/src/components/create-backingstore-page/create-bs.tsx
  frontend/packages/operator-lifecycle-manager/package.json
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: approved, component/dev-console, component/kubevirt, component/noobaa, component/olm, lgtm, size/XXL

#3585 kubevirt: make VM Wizard errors more explicit
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard-footer.scss
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard-footer.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/cloud-init-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/networks-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/providers/vmware-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/result-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/review-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/storage-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/types.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/vm-settings-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/internal-actions.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/reducers.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/types.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/networks-tab-validation.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/storage-tab-validation.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/vm-settings-tab-validation.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/selectors/immutable/selectors.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/selectors/immutable/wizard-selectors.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/cloud-init-tab/cloud-init-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/networking-tab/network-boot-source.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/networking-tab/networking-tab.scss
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/networking-tab/networking-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/storage-tab/storage-boot-source.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/storage-tab/storage-tab.scss
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/storage-tab/storage-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/utils/vm-settings-tab-utils.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/cloud-init-data-helper.tsx
  frontend/packages/kubevirt-plugin/src/utils/strings.ts
Labels: approved, component/kubevirt, lgtm, size/L

#3639 kubevirt: migrate VmConsoles from web-ui-components
  frontend/packages/kubevirt-plugin/package.json
  frontend/packages/kubevirt-plugin/src/components/modals/cdrom-vm-modal/cdrom-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/desktop-viewer-selector.scss
  frontend/packages/kubevirt-plugin/src/components/vms/desktop-viewer-selector.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/serial-console-connector.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-console.tsx
  frontend/packages/kubevirt-plugin/src/selectors/vm/combined.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm/selectors.ts
  frontend/packages/kubevirt-plugin/src/selectors/vmi/basic.ts
  frontend/packages/kubevirt-plugin/src/selectors/vmi/combined.ts
Labels: approved, component/kubevirt, lgtm, size/XL

#3653 Don't shadow `yarn run prettier`
  frontend/package.json
Labels: approved, lgtm, size/XS

#3649 Bug 1774842: Fix clone build access review
  frontend/public/components/build.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/XS

#3652 Bug 1775471: Restore focus to YAML editor when hiding shortcuts popover
  frontend/public/components/edit-yaml.jsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/XS

#3420 Owner change, removal of jrist/knowncitizen
  frontend/packages/metal3-plugin/OWNERS
Labels: approved, component/metal3, lgtm, size/XS

#3547 Bug 1768496: Clarify message about Quay image scanning
  frontend/packages/container-security/src/components/summary.tsx
  frontend/packages/container-security/src/plugin.ts
Labels: approved, bugzilla/valid-bug, lgtm, size/XS

#3563 Bug 1776951: fix scaling up phase and add it to getPodData
  frontend/packages/console-shared/src/utils/pod-utils.ts
  frontend/packages/console-shared/src/utils/resource-utils.ts
Labels: approved, bugzilla/valid-bug, component/shared, lgtm, size/M

#3577 Add CNV activities
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/overview-dashboard/activity.tsx
  frontend/packages/kubevirt-plugin/src/plugin.tsx
Labels: approved, component/kubevirt, lgtm, size/M

#3636 Bug 1779014: Fixes for dashboard cards
  frontend/packages/noobaa-storage-plugin/src/components/buckets-card/buckets-card-item.tsx
  frontend/packages/noobaa-storage-plugin/src/components/status-card/statuses.tsx
Labels: approved, bugzilla/valid-bug, component/noobaa, lgtm, size/XS

#3615 Tests for install flow
  frontend/packages/ceph-storage-plugin/integration-tests/tests/installFlow.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/utils/consts.ts
  frontend/packages/ceph-storage-plugin/integration-tests/utils/helpers.ts
  frontend/packages/ceph-storage-plugin/integration-tests/views/installFlow.view.ts
Labels: approved, component/ceph, lgtm, size/L

#3630 Bug 1776479: Show error modal for invalid YAML samples
  frontend/public/components/edit-yaml.jsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/S

#3640 Enhance BMC Address regex to allow IPV6 based addresses
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/add-baremetal-host/utils.ts
Labels: approved, component/metal3, lgtm, size/S

#3643 Add view alerts link to status card
  frontend/public/components/dashboard/dashboards-page/overview-dashboard/status-card.tsx
Labels: approved, component/core, component/dashboard, lgtm, size/XS

#3606 Bug 1778006: Rerun option in pipeline run list page
  frontend/packages/dev-console/src/components/pipelineruns/PipelineRunDetailsPage.tsx
  frontend/packages/dev-console/src/utils/pipeline-actions.tsx
Labels: approved, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm, size/M

#3309 Add all components from PF4 @patternfly/react-catalog-view-extension to replace pf 3 react-extensions in console
  frontend/__tests__/components/catalog.spec.tsx
  frontend/package.json
  frontend/packages/dev-console/src/components/EmptyState.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-item-details.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/style.scss
  frontend/public/components/catalog/_catalog.scss
  frontend/public/components/catalog/catalog-item-details.jsx
  frontend/public/components/catalog/catalog-items.jsx
  frontend/public/components/utils/_skeleton-screen.scss
  frontend/public/components/utils/tile-view-page.jsx
  frontend/public/style.scss
  frontend/public/vendor.scss
  frontend/yarn.lock
Labels: approved, component/core, component/dev-console, component/olm, lgtm, size/L

#3614 Bug 1771860: Query Browser: Fix "reduced resolution" message being shown briefly
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/monitoring, lgtm, size/XS

#3607 Bug fix: hide pipeline section in add form when user has no access to list pipeline from openshift namespace
  frontend/packages/dev-console/src/components/import/pipeline/PipelineSection.tsx
  frontend/packages/dev-console/src/components/import/pipeline/PipelineTemplate.tsx
  frontend/packages/dev-console/src/const.ts
Labels: approved, component/dev-console, lgtm, size/M

#3672 [release-4.3] Bug 1779831: Rerun option in pipeline run list page
  frontend/packages/dev-console/src/components/pipelineruns/PipelineRunDetailsPage.tsx
  frontend/packages/dev-console/src/utils/pipeline-actions.tsx
Labels: approved, bugzilla/valid-bug, component/dev-console, lgtm, size/M

#3484 Bug 1779493: Disabled edit actions if the user has no permission
  frontend/packages/dev-console/src/components/topology2/componentFactory.ts
  frontend/packages/dev-console/src/components/topology2/componentUtils.ts
  frontend/packages/dev-console/src/components/topology2/components/edges/BaseEdge.tsx
  frontend/packages/dev-console/src/components/topology2/components/nodes/BaseNode.tsx
  frontend/packages/dev-console/src/components/topology2/components/nodes/KnativeService.tsx
  frontend/packages/dev-console/src/components/topology2/withEditReviewAccess.tsx
  frontend/packages/topology/package.json
  frontend/packages/topology/src/behavior/dnd-types.ts
  frontend/packages/topology/src/behavior/useDndDrag.tsx
  frontend/packages/topology/src/behavior/useDragNode.tsx
  frontend/packages/topology/stories/5-DragDrop.stories.tsx
  frontend/yarn.lock
Labels: approved, bugzilla/valid-bug, component/dev-console, lgtm, size/L

#3500 Bug 1777256: Removed disable button logic to achieve overall consistency
  frontend/packages/noobaa-storage-plugin/src/components/create-backingstore-page/create-bs.tsx
Labels: approved, bugzilla/valid-bug, component/noobaa, kind/bug, lgtm, size/S

#3610 Add new fieldDependency descriptor to OLM create operand form
  frontend/packages/operator-lifecycle-manager/src/components/create-operand.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/types.ts
Labels: approved, component/olm, kind/feature, lgtm, ok-to-test, size/L

#3642 Bug 1749469: Align event types with k8s
  frontend/packages/console-shared/src/components/dashboard/activity-card/EventItem.tsx
  frontend/packages/console-shared/src/components/dashboard/activity-card/activity-card.scss
  frontend/packages/console-shared/src/components/dashboard/events-card/EventItem.tsx
  frontend/public/components/_sysevent-icon.scss
  frontend/public/components/events.jsx
  frontend/public/components/resource-dropdown.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/dashboard, component/shared, lgtm, size/M

#3670 frontend: Fix topology empty state
  frontend/packages/dev-console/src/components/EmptyState.scss
  frontend/packages/dev-console/src/components/EmptyState.tsx
Labels: approved, component/dev-console, kind/bug, lgtm, size/L

#3671 frontend: Fix developer catalog heights
  frontend/public/components/catalog/catalog-items.jsx
Labels: approved, component/core, kind/bug, lgtm, size/XS

#3584 topology: add delay to setting hover states
  frontend/packages/dev-console/src/components/svg/SvgBoxedText.tsx
  frontend/packages/topology/src/utils/useHover.ts
Labels: approved, component/dev-console, lgtm, size/M

#3655 Bug 1779894: Fixed the display issue in operand detail view, when the value of the…
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/status/index.tsx
Labels: approved, bugzilla/valid-bug, component/olm, lgtm, ok-to-test, size/XS

#3446 kubevirt: fix outdated web-ui-components imports
  frontend/packages/kubevirt-plugin/src/components/modals/vm-flavor-modal/vm-flavor-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-resource.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
  frontend/packages/kubevirt-plugin/src/selectors/vm/selectors.ts
Labels: approved, component/kubevirt, lgtm, size/M

#3666 Bug 1779858: Fixed the required field display issue for create operand form
  frontend/packages/operator-lifecycle-manager/src/components/create-operand.tsx
Labels: approved, bugzilla/valid-bug, component/olm, lgtm, ok-to-test, size/XS

#3389 Bug 1777129: Birthday attack against 64-bit block ciphers
  cmd/bridge/main.go
  pkg/crypto/crypto.go
  pkg/serverconfig/types.go
  test-ciphers.sh
  test-prow-e2e.sh
Labels: approved, bugzilla/valid-bug, component/backend, lgtm, size/L

#3676 [release-4.3]Bug 1779915: Disabled edit actions if the user has no permission
  frontend/packages/dev-console/src/components/topology2/componentFactory.ts
  frontend/packages/dev-console/src/components/topology2/componentUtils.ts
  frontend/packages/dev-console/src/components/topology2/components/edges/BaseEdge.tsx
  frontend/packages/dev-console/src/components/topology2/components/nodes/BaseNode.tsx
  frontend/packages/dev-console/src/components/topology2/components/nodes/KnativeService.tsx
  frontend/packages/dev-console/src/components/topology2/withEditReviewAccess.tsx
  frontend/packages/topology/package.json
  frontend/packages/topology/src/behavior/dnd-types.ts
  frontend/packages/topology/src/behavior/useDndDrag.tsx
  frontend/packages/topology/src/behavior/useDragNode.tsx
  frontend/packages/topology/stories/5-DragDrop.stories.tsx
  frontend/yarn.lock
Labels: approved, bugzilla/valid-bug, component/dev-console, lgtm, size/L

#3473 Show provisioner based storage classes
  frontend/packages/ceph-storage-plugin/src/components/modals/storage-class-dropdown.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/node-list.tsx
Labels: approved, component/ceph, kind/bug, lgtm, size/M

#3583 Allow dragging of groups via the label
  frontend/packages/dev-console/src/components/svg/SvgBoxedText.tsx
  frontend/packages/dev-console/src/components/topology2/componentFactory.ts
  frontend/packages/dev-console/src/components/topology2/components/nodes/ApplicationGroup.tsx
  frontend/packages/dev-console/src/components/topology2/components/nodes/KnativeService.tsx
Labels: approved, component/dev-console, lgtm, size/M

#3070 Add tests for adding/removing disks/nics to/from a vm template
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/consts.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.cdrom.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.flavor.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.wizard.configs.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.wizard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmtemplate.resources.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmtemplate.wizard.scenario.ts
Labels: approved, component/kubevirt, lgtm, size/L

#3567 Implement Monaco editor for Alertmanager YAML editor
  frontend/integration-tests/tests/monitoring.scenario.ts
  frontend/integration-tests/views/monitoring.view.ts
  frontend/integration-tests/views/yaml.view.ts
  frontend/public/components/edit-yaml.jsx
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/alert-manager-yaml-editor.tsx
Labels: approved, component/core, component/monitoring, lgtm, size/L

#3648 fix text overflow for event source
  frontend/packages/console-shared/src/components/dashboard/activity-card/activity-card.scss
Labels: approved, component/dashboard, component/shared, kind/bug, lgtm, size/XS

#3654 Add required class to form <h3> heading that contains, at least, 1 or more required fields
  frontend/public/components/cluster-settings/request-header-idp-form.tsx
  frontend/public/style/_forms.scss
Labels: approved, component/core, lgtm, size/S

#3499 Bug 1775765: Addition of skeleton components for dashboard views
  frontend/__tests__/components/graphs/area.spec.tsx
  frontend/__tests__/components/graphs/bar.spec.tsx
  frontend/__tests__/components/graphs/graph-empty.spec.tsx
  frontend/packages/console-shared/src/components/dashboard/activity-card/ActivityBody.tsx
  frontend/packages/console-shared/src/components/dashboard/activity-card/activity-card.scss
  frontend/packages/console-shared/src/components/dashboard/details-card/DetailItem.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/AlertsBody.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/status-card.scss
  frontend/packages/console-shared/src/images/skeleton-chart-cpu.png
  frontend/packages/console-shared/src/styles/skeleton-screen.scss
  frontend/public/components/graphs/graph-empty.tsx
  frontend/public/components/utils/_skeleton-screen.scss
Labels: approved, bugzilla/valid-bug, component/core, component/dashboard, component/shared, lgtm, size/L

#3651 Update to TypeScript 3.7.2
  frontend/integration-tests/protractor.conf.ts
  frontend/integration-tests/protractor.d.ts
  frontend/integration-tests/tests/performance.scenario.ts
  frontend/integration-tests/views/secrets.view.ts
  frontend/integration-tests/views/yaml.view.ts
  frontend/package.json
  frontend/packages/console-shared/src/components/popper/Popper.tsx
  frontend/packages/console-shared/src/test-utils/utils.ts
  frontend/packages/dev-console/integration-tests/views/git-import-flow.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/utils.ts
  frontend/packages/network-attachment-definition-plugin/integration-tests/tests/models/nadForm.ts
  frontend/packages/operator-lifecycle-manager/integration-tests/scenarios/descriptors.scenario.ts
  frontend/public/module/k8s/swagger.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: approved, area/dependency, component/core, component/dev-console, component/kubevirt, component/olm, component/shared, lgtm, size/L

#3668 Add Created to Projects, Namespaces tables; add Display Name to Proje…
  frontend/public/components/namespace.jsx
  frontend/public/style/_overrides.scss
Labels: approved, component/core, lgtm, size/M

#3669 Improve display of Pods table columns
  frontend/public/components/pod.tsx
Labels: approved, component/core, lgtm, size/M

#3675 Fix header color in catalog page to match patternfly catalog view.
  frontend/public/components/catalog/_catalog.scss
Labels: approved, component/core, lgtm, size/XS

#3678 Query Browser: Simplify Query Browser link URL logic
  frontend/__tests__/components/graphs/prometheus-graph.spec.tsx
  frontend/public/components/graphs/prometheus-graph.tsx
Labels: approved, component/core, lgtm, size/M

#3679 Update cd-rom summary text
  frontend/packages/kubevirt-plugin/src/components/vm-disks/disk-summary.scss
  frontend/packages/kubevirt-plugin/src/components/vm-disks/disk-summary.tsx
Labels: approved, component/kubevirt, lgtm, size/M

#3691 Improve display of workloads table
  frontend/public/components/workload-table.tsx
  frontend/public/style/_patternfly-sizing-extension.scss
  frontend/public/vendor.scss
Labels: approved, component/core, lgtm, size/M

#3692 Bug 1780367: NumberSpinner fixes
  frontend/public/components/modals/configure-count-modal.tsx
  frontend/public/components/utils/_number-spinner.scss
  frontend/public/components/utils/number-spinner.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/M

#3646 Bug 1779201: fix(knative-connectors): add connectors to knative revision in topology
  frontend/packages/dev-console/src/components/topology/TopologyDataController.tsx
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
  frontend/packages/dev-console/src/components/topology2/componentFactory.ts
  frontend/packages/dev-console/src/components/topology2/topology-utils.tsx
  frontend/packages/dev-console/src/utils/application-utils.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-topology-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/knative-topology-utils.ts
Labels: approved, bugzilla/valid-bug, component/dev-console, component/knative, lgtm, size/L

#3609 Added integration test for expand cluster
  frontend/packages/ceph-storage-plugin/integration-tests/tests/add-capacity.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/utils/consts.ts
  frontend/packages/ceph-storage-plugin/integration-tests/utils/helpers.ts
  frontend/packages/ceph-storage-plugin/integration-tests/views/add-capacity.view.ts
  frontend/packages/ceph-storage-plugin/integration-tests/views/installFlow.view.ts
Labels: approved, component/ceph, lgtm, size/L

#3629 Bug 1780338: fix(che-icon): add che Icon in the topology
  frontend/packages/dev-console/src/components/import/render-utils.tsx
  frontend/packages/dev-console/src/components/topology/__tests__/__snapshots__/topology-utils.spec.ts.snap
  frontend/packages/dev-console/src/components/topology/shapes/CheIcon.tsx
  frontend/packages/dev-console/src/components/topology/topology-types.ts
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
  frontend/packages/dev-console/src/components/topology2/components/nodes/WorkloadNode.tsx
  frontend/packages/knative-plugin/src/utils/knative-topology-utils.ts
Labels: approved, bugzilla/valid-bug, component/core, component/dev-console, component/knative, kind/bug, lgtm, size/M

#3482 Bug fix: show scaled to 0 instead of 0 pod
  frontend/packages/console-shared/src/components/pod/PodRing.tsx
  frontend/packages/console-shared/src/components/pod/PodStatus.tsx
  frontend/packages/console-shared/src/utils/pod-ring-utils.ts
Labels: approved, component/shared, kind/bug, lgtm, size/M

#3696 Improve display of Daemon, Replica Sets tables
  frontend/public/components/daemon-set.tsx
  frontend/public/components/replicaset.jsx
Labels: approved, component/core, lgtm, size/M

#3704 [release-4.3] Bug 1776193: Monitoring: Fix graph links to Query Browser for Developer perspective
  frontend/__tests__/components/graphs/prometheus-graph.spec.tsx
  frontend/public/components/graphs/prometheus-graph.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/L

#3647 Bug 1779208: Capacity breakdown card queries - changed average to absolute values
  frontend/packages/ceph-storage-plugin/src/constants/queries.ts
Labels: approved, bugzilla/valid-bug, component/ceph, lgtm, size/S

#3699 Bug 1780666: Addition of dropdown placeholder text
  frontend/packages/operator-lifecycle-manager/src/components/create-operand.tsx
Labels: approved, bugzilla/valid-bug, component/olm, lgtm, size/XS

#3707 Bug 1780629: Add `<Status>` to Operator resources
  frontend/packages/console-shared/src/components/status/Status.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/install-plan.tsx
  frontend/packages/operator-lifecycle-manager/src/components/k8s-resource.tsx
Labels: approved, bugzilla/valid-bug, component/olm, component/shared, lgtm, size/M

#3697 Improve display of Routes table
  frontend/public/components/routes.tsx
Labels: approved, component/core, lgtm, size/M

#3703 Add metrics to pod list and update columns
  frontend/public/actions/ui.ts
  frontend/public/components/factory/table.tsx
  frontend/public/components/overview/project-overview.tsx
  frontend/public/components/pod.tsx
  frontend/public/components/utils/units.js
  frontend/public/reducers/ui.ts
Labels: approved, component/core, lgtm, size/L

#3518 fix(dev-catalog): reject the internal objects when creating from CSV
  frontend/packages/operator-lifecycle-manager/src/dev-catalog.ts
  frontend/public/components/catalog/catalog-page.tsx
Labels: approved, component/core, component/olm, lgtm, size/S

#3152 [release-4.2] Bug 1760357: "VolumeMode Block" should be set for RBD+RWX in pvc creation
  frontend/public/components/storage/create-pvc.tsx
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, component/core, lgtm, size/S

#3712 Improve display of Operators columns
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/install-plan.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand.tsx
Labels: approved, component/olm, lgtm, size/L

#3714 Bug 1780629: Move `Created` case to existing `<SuccessStatus>` to avoid duplication
  frontend/packages/console-shared/src/components/status/Status.tsx
Labels: approved, bugzilla/valid-bug, component/shared, lgtm, size/XS

#3657 add test and code coverage scripts to dev-console
  frontend/packages/dev-console/package.json
  frontend/packages/git-service/package.json
  frontend/packages/knative-plugin/package.json
  frontend/packages/topology/package.json
Labels: approved, component/dev-console, component/git-service, component/knative, lgtm, size/S

#3690 Bug 1780392: Fix `hasModel` check for CRD models
  frontend/integration-tests/tests/crud.scenario.ts
  frontend/packages/operator-lifecycle-manager/src/models.ts
  frontend/public/actions/ui.ts
  frontend/public/kinds.ts
  frontend/public/module/k8s/index.ts
  frontend/public/module/k8s/k8s-models.ts
Labels: approved, bugzilla/valid-bug, component/core, component/olm, lgtm, size/M

#3595 [release-4.2] Bug 1776769: Added CSI provisioner to storage class
  frontend/public/components/storage-class-form.tsx
  frontend/public/models/index.ts
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, component/core, lgtm, size/L

#3665 Bug 1779116: vm template should create url import dataVolumes on its creation
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/stateUpdate/vmSettings/prefill-vm-template-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/stateUpdate/vmSettings/storage-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/resource-load-errors.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/selectors/immutable/vm-settings.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/storage-tab/vm-wizard-storage-modal-enhanced.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/types.ts
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/storage-ui-source.ts
  frontend/packages/kubevirt-plugin/src/components/vm-disks/disk-row.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-details.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-resource.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-source.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/provision-source.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/combined-disk.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/data-volume-wrapper.ts
  frontend/packages/kubevirt-plugin/src/utils/index.ts
  frontend/packages/kubevirt-plugin/src/utils/url.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/vm/vm.ts
Labels: approved, bugzilla/valid-bug, component/kubevirt, lgtm, size/L

#3720 [release-4.3]Bug 1780994: show sclaed to 0 instead of 0 pod
  frontend/packages/console-shared/src/components/pod/PodRing.tsx
  frontend/packages/console-shared/src/components/pod/PodStatus.tsx
  frontend/packages/console-shared/src/utils/pod-ring-utils.ts
Labels: approved, bugzilla/valid-bug, component/shared, lgtm, size/M

#3722 [release-4.3] Bug 1781051: Fixes backingstore spelling throughout the console
  frontend/packages/noobaa-storage-plugin/src/components/bucket-class/create-bc.tsx
  frontend/packages/noobaa-storage-plugin/src/components/bucket-class/wizard-pages/backingstore-page.tsx
  frontend/packages/noobaa-storage-plugin/src/components/bucket-class/wizard-pages/review-page.tsx
  frontend/packages/noobaa-storage-plugin/src/components/create-backingstore-page/create-bs-modal.tsx
  frontend/packages/noobaa-storage-plugin/src/components/create-backingstore-page/create-bs-page.tsx
  frontend/packages/noobaa-storage-plugin/src/components/create-backingstore-page/create-bs.tsx
Labels: approved, bugzilla/valid-bug, component/noobaa, lgtm, size/M

#2977 Add tests for VM NIC binding options
  frontend/packages/kubevirt-plugin/integration-tests/tests/dialogs/networkInterfaceDialog.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/consts.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/mocks.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/utils.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.clone.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.resources.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.wizard.configs.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmtemplate.resources.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmtemplate.wizard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/dialogs/networkInterface.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/wizard.view.ts
Labels: approved, component/kubevirt, lgtm, size/L

#3581 Bug 1776870: Update knative badge abbreviations
  frontend/packages/dev-console/src/models/pipelines.ts
  frontend/packages/knative-plugin/src/components/overview/KnativeResourceOverviewPage.tsx
  frontend/packages/knative-plugin/src/models.ts
Labels: approved, bugzilla/valid-bug, component/core, component/dev-console, component/knative, lgtm, size/S

#3723 Bug 1779800: Fixes selection of SC from dropdown
  frontend/public/components/utils/storage-class-dropdown.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/S

#3631 Integration test - User without admin permissions can use VM page
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/consts.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.non-admin.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/vms.list.view.ts
Labels: approved, component/kubevirt, lgtm, size/M

#3725 refactors knative sidebar based on topology2
  frontend/packages/knative-plugin/src/components/overview/OverviewDetailsKnativeResourcesTab.tsx
  frontend/packages/knative-plugin/src/components/overview/RevisionsOverviewList.tsx
Labels: approved, component/knative, lgtm, size/M

#3727 Add test cases for VM Wizard cloud-init flow
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.cloud-init.scenario.ts
Labels: approved, component/kubevirt, lgtm, size/M

#3728 Upgrade pfly to latest version 2019.10 released november 25
  frontend/package.json
  frontend/yarn.lock
Labels: approved, area/dependency, lgtm, size/L

#3730 OperatorHub: fix case of provider filter label
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
Labels: approved, component/olm, kind/bug, lgtm, size/XS

#3436 VM Overview - set boot order
  frontend/packages/kubevirt-plugin/src/components/boot-order/add-device-button.tsx
  frontend/packages/kubevirt-plugin/src/components/boot-order/add-device-form-select.tsx
  frontend/packages/kubevirt-plugin/src/components/boot-order/add-device.tsx
  frontend/packages/kubevirt-plugin/src/components/boot-order/boot-order-empty.tsx
  frontend/packages/kubevirt-plugin/src/components/boot-order/boot-order-summary.scss
  frontend/packages/kubevirt-plugin/src/components/boot-order/boot-order.scss
  frontend/packages/kubevirt-plugin/src/components/boot-order/boot-order.tsx
  frontend/packages/kubevirt-plugin/src/components/boot-order/constants.tsx
  frontend/packages/kubevirt-plugin/src/components/boot-order/index.tsx
  frontend/packages/kubevirt-plugin/src/components/boot-order/summary/boot-order-empty-summary.tsx
  frontend/packages/kubevirt-plugin/src/components/boot-order/summary/boot-order-summary.tsx
  frontend/packages/kubevirt-plugin/src/components/dnd-list/dnd-data-list-item.tsx
  frontend/packages/kubevirt-plugin/src/components/dnd-list/dnd-data-list.tsx
  frontend/packages/kubevirt-plugin/src/components/dnd-list/index.ts
  frontend/packages/kubevirt-plugin/src/components/modals/boot-order-modal/boot-order-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/boot-order-modal/index.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/modal/modal-footer.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-resource.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
Labels: approved, component/core, component/kubevirt, lgtm, size/XL

#3742 Align cd summary list with design
  frontend/packages/kubevirt-plugin/src/components/vm-disks/disk-summary.scss
  frontend/packages/kubevirt-plugin/src/components/vm-disks/disk-summary.tsx
Labels: approved, component/kubevirt, lgtm, size/S

#3439 Create hook for k8sGet
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/details-card.tsx
  frontend/packages/console-shared/src/selectors/common.ts
  frontend/packages/noobaa-storage-plugin/src/components/details-card/details-card.tsx
  frontend/public/components/dashboard/dashboards-page/overview-dashboard/details-card.tsx
  frontend/public/components/utils/k8s-get-hook.ts
  frontend/public/components/utils/types.ts
  frontend/public/module/k8s/index.ts
Labels: approved, component/ceph, component/core, component/dashboard, component/noobaa, component/shared, lgtm, size/L

#3681 kubevirt: RDP integration test
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/detailView.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/mocks.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/types.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.consoles.rdp.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.wizard.configs.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/consolesView.ts
Labels: approved, component/kubevirt, lgtm, size/L

#3741 Improve display of Service Instances, Bindings cols
  frontend/public/components/service-binding.tsx
  frontend/public/components/service-instance.tsx
Labels: approved, component/core, lgtm, size/M

#3749 Add support for additional drivers in BMC addess validation
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/add-baremetal-host/utils.ts
Labels: approved, component/metal3, lgtm, size/XS

#3677 Fixed PVC creation and GCP issues
  frontend/packages/noobaa-storage-plugin/src/components/create-backingstore-page/create-bs-page.tsx
  frontend/packages/noobaa-storage-plugin/src/components/create-backingstore-page/create-bs.tsx
  frontend/packages/noobaa-storage-plugin/src/constants/index.ts
Labels: approved, component/noobaa, lgtm, size/L

#3732 Bug 1781246: Fix edit link for cluster-scoped operand
  frontend/packages/operator-lifecycle-manager/src/components/operand.tsx
Labels: approved, bugzilla/valid-bug, component/olm, lgtm, size/M

#3756 Bug 1782119: fix VM Template disk prefill
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/stateUpdate/vmSettings/storage-tab-state-update.ts
Labels: approved, bugzilla/valid-bug, component/kubevirt, lgtm, size/XS

#3565 Update visual grouping of layout buttons in topology control bar
  frontend/packages/dev-console/src/components/topology2/Topology.tsx
  frontend/packages/dev-console/src/components/topology2/TopologyPage.scss
Labels: approved, component/dev-console, lgtm, size/M

#3574 Add pod and network utilization to overview dashboard
  frontend/public/components/dashboard/dashboards-page/overview-dashboard/queries.ts
  frontend/public/components/dashboard/dashboards-page/overview-dashboard/utilization-card.tsx
Labels: approved, component/core, component/dashboard, lgtm, size/M

#3628 Add node maintenance status to BareMetal Nodes and BareMetal Hosts
  frontend/packages/console-app/src/components/dashboards-page/inventory-mapper.ts
  frontend/packages/console-app/src/plugin.tsx
  frontend/packages/console-app/src/status/node.ts
  frontend/packages/console-demo-plugin/src/plugin.tsx
  frontend/packages/console-plugin-sdk/src/registry.ts
  frontend/packages/console-plugin-sdk/src/typings/dashboards.ts
  frontend/packages/console-shared/src/components/dashboard/inventory-card/InventoryItem.tsx
  frontend/packages/console-shared/src/utils/utils.ts
  frontend/packages/kubevirt-plugin/src/plugin.tsx
  frontend/packages/metal3-plugin/package.json
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/utils.ts
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/table-filters.ts
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/dashboard/utils.ts
  frontend/packages/metal3-plugin/src/plugin.tsx
  frontend/packages/metal3-plugin/src/selectors/baremetal-hosts.ts
  frontend/packages/metal3-plugin/src/status/baremetal-node-status.ts
  frontend/public/components/dashboard/dashboards-page/overview-dashboard/inventory-card.tsx
Labels: approved, component/core, component/dashboard, component/kubevirt, component/metal3, component/sdk, component/shared, lgtm, size/L

#3695 Topology: Prevent user action on disabled context menu items
  frontend/packages/dev-console/src/components/topology2/nodeContextMenu.tsx
  frontend/public/components/utils/kebab.tsx
Labels: approved, component/core, component/dev-console, lgtm, size/M

#3726 Bug 1781188: fix(knative-service): knative service created via cli
  frontend/packages/knative-plugin/src/utils/__tests__/knative-topology-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/knative-topology-utils.ts
Labels: approved, bugzilla/valid-bug, component/knative, lgtm, size/S

#3716 Fix test scenarios for OCS
  frontend/packages/ceph-storage-plugin/integration-tests/tests/1-install/installFlow.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/tests/2-tests/add-capacity.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/tests/2-tests/storage-dashboard.scenario.ts
  frontend/packages/ceph-storage-plugin/package.json
Labels: approved, component/ceph, lgtm, size/M

#3735 project list: filter by name or display name
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/namespace.jsx
Labels: approved, component/core, lgtm, size/S

#3633 Bug 1773646: Extend dashboard grey background to full height of viewport
  frontend/packages/console-shared/src/components/dashboard/dashboard.scss
  frontend/packages/dev-console/src/components/NamespacedPage.scss
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-page.tsx
  frontend/public/components/_horizontal-nav.scss
  frontend/public/components/catalog/_catalog.scss
  frontend/public/components/catalog/catalog-page.tsx
  frontend/public/components/utils/_log-window.scss
  frontend/public/components/utils/_status-box.scss
  frontend/public/components/utils/horizontal-nav.tsx
  frontend/public/style/_layout.scss
Labels: approved, bugzilla/valid-bug, component/core, component/dashboard, component/dev-console, component/olm, component/shared, lgtm, size/L

#3740 Fix to allow regroup of knative services, prevent false move connector
  frontend/packages/dev-console/src/components/topology2/componentUtils.ts
  frontend/packages/dev-console/src/components/topology2/components/edges/ConnectsTo.scss
  frontend/packages/dev-console/src/components/topology2/components/edges/ConnectsTo.tsx
  frontend/packages/dev-console/src/components/topology2/components/nodes/KnativeService.tsx
Labels: approved, component/dev-console, lgtm, size/M

#3663 Deduplicate checkbox type components code
  frontend/packages/console-shared/src/components/formik-fields/CheckboxField.tsx
  frontend/packages/console-shared/src/components/formik-fields/SwitchField.tsx
  frontend/packages/console-shared/src/components/formik-fields/ToggleableFieldBase.tsx
Labels: approved, component/dev-console, component/knative, component/metal3, component/noobaa, component/shared, lgtm, size/L

#3753 kubevirt: fix storage tab row and add error to storage modal
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/review-tab/storage-review.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/storage-tab/storage-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/storage-tab/vm-wizard-storage-modal-enhanced.tsx
  frontend/packages/kubevirt-plugin/src/components/form/k8s-resource-select-row.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/storage-ui-source.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/combined-disk.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/vm/disk.ts
Labels: approved, component/kubevirt, lgtm, size/M

#3754 Remove unused dashboard cards
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/events-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/health-card/health-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/health-card/utils.ts
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/status-card/status-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/status-card/utils.ts
  frontend/packages/console-app/src/components/dashboards-page/ControlPlaneStatus.tsx
  frontend/packages/console-app/src/components/dashboards-page/status.ts
  frontend/packages/console-demo-plugin/src/components/dashboards/health.ts
  frontend/packages/console-plugin-sdk/src/typings/dashboards.ts
  frontend/packages/console-shared/src/components/dashboard/events-card/EventItem.tsx
  frontend/packages/console-shared/src/components/dashboard/events-card/EventsBody.tsx
  frontend/packages/console-shared/src/components/dashboard/events-card/events-card.scss
  frontend/packages/console-shared/src/components/dashboard/health-card/AlertItem.tsx
  frontend/packages/console-shared/src/components/dashboard/health-card/AlertsBody.tsx
  frontend/packages/console-shared/src/components/dashboard/health-card/HealthBody.tsx
  frontend/packages/console-shared/src/components/dashboard/health-card/HealthItem.tsx
  frontend/packages/console-shared/src/components/dashboard/health-card/health-card.scss
  frontend/packages/console-shared/src/components/dashboard/status-card/AlertItem.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/HealthItem.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/states.ts
  frontend/packages/console-shared/src/components/dashboard/status-card/utils.ts
  frontend/packages/container-security/src/components/__tests__/summary.spec.ts
  frontend/packages/container-security/src/components/summary.tsx
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/overview-dashboard/health.ts
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-status-card.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/StatusCard.tsx
  frontend/packages/noobaa-storage-plugin/src/components/status-card/status-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/status-card/statuses.tsx
  frontend/public/components/dashboard/dashboards-page/overview-dashboard/status-card.tsx
Labels: approved, component/ceph, component/core, component/dashboard, component/kubevirt, component/metal3, component/noobaa, component/sdk, component/shared, lgtm, size/L

#3760 project list: show memory and CPU metrics
  frontend/public/actions/ui.ts
  frontend/public/components/factory/table.tsx
  frontend/public/components/namespace.jsx
  frontend/public/components/pod.tsx
  frontend/public/reducers/ui.ts
Labels: approved, component/core, kind/feature, lgtm, size/L

#3776 Also filter by project display name in dev perspective
  frontend/packages/dev-console/src/components/projects/ProjectListPage.tsx
Labels: approved, component/dev-console, lgtm, size/XS

#3580 Add powering on/off BMH activity
  frontend/packages/console-app/src/components/dashboards-page/ClusterUpdateActivity.tsx
  frontend/packages/console-demo-plugin/src/components/dashboards/activity.tsx
  frontend/packages/console-plugin-sdk/src/typings/dashboards.ts
  frontend/packages/console-shared/src/components/dashboard/activity-card/ActivityItem.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/BareMetalStatusActivity.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/EventsCard.tsx
  frontend/packages/metal3-plugin/src/plugin.tsx
  frontend/public/components/dashboard/dashboards-page/overview-dashboard/activity-card.tsx
  frontend/public/components/dashboard/project-dashboard/activity-card.tsx
Labels: approved, component/core, component/dashboard, component/metal3, component/sdk, component/shared, lgtm, size/M

#3745 Bug 1781827: Replace multiple occurrences of log link variable expressions
  frontend/public/components/utils/resource-log.jsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/S

#3724 Add application type to dev catalog tiles
  frontend/public/components/catalog/catalog-items.jsx
Labels: approved, component/core, lgtm, size/S

#3768 kubevirt: Add missing keys to disk summary
  frontend/packages/kubevirt-plugin/src/components/vm-disks/disk-summary.tsx
Labels: approved, component/kubevirt, lgtm, size/XS

#3780 Bug 1777342: Fixes View more link in capacity breakdown card
  frontend/packages/noobaa-storage-plugin/src/queries.ts
Labels: approved, bugzilla/valid-bug, component/noobaa, lgtm, size/XS

#3559 Bug 1777317: Fix links in capacity breakdown
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/breakdown-card/bar-colors.ts
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/breakdown-card/breakdown-body.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/breakdown-card/breakdown-chart.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/breakdown-card/consts.ts
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/breakdown-card/utils.tsx
  frontend/packages/noobaa-storage-plugin/src/components/capacity-breakdown/capacity-breakdown-card.tsx
  frontend/packages/noobaa-storage-plugin/src/queries.ts
Labels: approved, bugzilla/valid-bug, component/ceph, component/core, component/noobaa, kind/bug, lgtm, size/L

#3767 Bug 1782728: [release-4.3] Fixed GCP and PVC issues
  frontend/packages/noobaa-storage-plugin/src/components/create-backingstore-page/create-bs.tsx
  frontend/packages/noobaa-storage-plugin/src/constants/index.ts
Labels: approved, bugzilla/valid-bug, component/noobaa, kind/bug, lgtm, size/L

#3771 Monitoring dashboards: Initial commit
  frontend/packages/console-shared/src/components/alerts/error.tsx
  frontend/public/components/monitoring.tsx
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/dashboards/bar-chart.tsx
  frontend/public/components/monitoring/dashboards/graph.tsx
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/dashboards/single-stat.tsx
  frontend/public/components/monitoring/dashboards/table.tsx
  frontend/public/components/monitoring/dashboards/types.ts
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, component/core, component/monitoring, component/shared, lgtm, size/L

#3786 fix topology layout overlapping namespace bar
  frontend/packages/dev-console/src/components/NamespacedPage.scss
Labels: approved, component/dev-console, lgtm, size/XS

#3637 fix(pipeline-tasks): Cancelled tasks
  frontend/packages/dev-console/src/components/pipelines/detail-page-tabs/PipelineRuns.tsx
  frontend/packages/dev-console/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationTask.tsx
  frontend/packages/dev-console/src/components/pipelines/detail-page-tabs/pipeline-details/StatusIcon.tsx
  frontend/packages/dev-console/src/components/pipelines/list-page/PipelineAugmentRuns.tsx
  frontend/packages/dev-console/src/test/pipeline-data.ts
  frontend/packages/dev-console/src/utils/__tests__/pipeline-augment.spec.ts
  frontend/packages/dev-console/src/utils/__tests__/pipeline-filter-reducer.spec.ts
  frontend/packages/dev-console/src/utils/__tests__/pipeline-test-data.ts
  frontend/packages/dev-console/src/utils/pipeline-augment.ts
  frontend/packages/dev-console/src/utils/pipeline-filter-reducer.ts
  frontend/packages/dev-console/src/utils/pipeline-utils.ts
Labels: approved, component/dev-console, lgtm, size/L

#3310 Bug 1770218: Replace mergeAfter with mergeBefore
  frontend/packages/console-plugin-sdk/src/typings/nav-items.ts
  frontend/packages/kubevirt-plugin/src/plugin.tsx
  frontend/packages/metal3-plugin/src/plugin.tsx
  frontend/packages/network-attachment-definition-plugin/src/plugin.ts
  frontend/public/components/nav/admin-nav.tsx
  frontend/public/components/nav/section.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/kubevirt, component/metal3, component/sdk, kind/cleanup, lgtm, size/M

#3777 Add count parameter to waitFor function
  frontend/packages/ceph-storage-plugin/integration-tests/utils/helpers.ts
  frontend/packages/ceph-storage-plugin/integration-tests/views/installFlow.view.ts
Labels: approved, component/ceph, lgtm, size/S

#3738 Add unit tests for dev-console/src/utils/kebab-actions.ts
  frontend/packages/dev-console/src/utils/__tests__/kebab-actions.spec.ts
Labels: approved, component/dev-console, lgtm, size/S

#3773 Reduce number of rerenders of perspective dropdown
  frontend/public/components/nav/nav-header.tsx
Labels: approved, component/core, lgtm, size/L

#3784 adds tests for RoutesOverviewList and refactor
  frontend/packages/knative-plugin/src/components/overview/RoutesOverviewList.tsx
  frontend/packages/knative-plugin/src/components/overview/RoutesOverviewListItem.tsx
  frontend/packages/knative-plugin/src/components/overview/__mocks__/overview-knative-mock.ts
  frontend/packages/knative-plugin/src/components/overview/__tests__/RoutesOverviewList.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/RoutesOverviewListItem.spec.tsx
Labels: approved, component/knative, lgtm, size/L

#3527 Bug 1775217: Fix access review message for namespaced resources
  frontend/public/components/api-explorer.tsx
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, component/core, lgtm, size/XS

#3794 Fixed flakiness in installation tests
  frontend/packages/ceph-storage-plugin/integration-tests/tests/1-install/installFlow.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/utils/consts.ts
  frontend/packages/ceph-storage-plugin/integration-tests/utils/helpers.ts
  frontend/packages/ceph-storage-plugin/integration-tests/views/installFlow.view.ts
Labels: approved, component/ceph, lgtm, size/M

#3638 Bug 1781055: Fix new/old alerts comparison in withDashboardResources
  frontend/public/components/dashboards-page/with-dashboard-resources.tsx
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, component/core, component/dashboard, lgtm, size/XS

#3743 Improve display of Pipeline Runs cols
  frontend/packages/dev-console/src/components/pipelineruns/list-page/PipelineRunHeader.tsx
  frontend/packages/dev-console/src/components/pipelineruns/list-page/PipelineRunRow.tsx
  frontend/packages/dev-console/src/components/pipelineruns/list-page/pipelinerun-table.ts
Labels: approved, component/dev-console, lgtm, size/M

#3761 Set catalog min-width at minimum shrinkable width of it's ui child elements
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-page.tsx
  frontend/public/components/catalog/_catalog.scss
  frontend/public/components/catalog/catalog-page.tsx
Labels: approved, component/core, component/olm, lgtm, size/M

#3733 Bug 1776069: Uncaught exception in UI when getting webhooks links for buildconfigs
  frontend/public/components/utils/webhooks.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/L

#3798 Fix bug where `.co-m-nav-title--detail` shrinks smaller than contents
  frontend/public/components/_nav-title.scss
Labels: approved, component/core, kind/bug, lgtm, size/XS

#3576 Bug 1776164: Filtering Storage Class logic added [release-4.2]
  frontend/packages/console-shared/src/utils/storage-utils.ts
  frontend/public/components/storage/create-pvc.tsx
  frontend/public/components/utils/storage-class-dropdown.tsx
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, component/core, component/shared, lgtm, size/L

#3799 Update node and kubectl versions for the builder image
  Dockerfile
  Dockerfile.builder
  builder-run.sh
Labels: approved, lgtm, size/XS

#3772 Add yaacov to kubevirt approvers
  frontend/packages/kubevirt-plugin/OWNERS
Labels: approved, component/kubevirt, lgtm, size/XS
