Repository openshift/console, pull requests merged in 2019-09, with the labels that each got.

#2554 build link on topology should not refresh page
  frontend/packages/dev-console/src/components/topology/shapes/Decorator.tsx
Labels: approved, component/dev-console, lgtm, size/S

#2486 Bug 1712293: frontend/public: use working set bytes for memory metrics
  frontend/public/components/build.tsx
  frontend/public/components/dashboards-page/overview-dashboard/queries.ts
  frontend/public/components/dashboards-page/overview-dashboard/top-consumers-card.tsx
  frontend/public/components/namespace.jsx
  frontend/public/components/overview/index.tsx
  frontend/public/components/pod.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/S

#2555 Apply a gap between each Pipeline status
  frontend/packages/dev-console/src/components/charts/HorizontalStackedBars.scss
  frontend/packages/dev-console/src/components/charts/HorizontalStackedBars.tsx
Labels: approved, component/dev-console, lgtm, size/M

#2557 Update NooBaa CRD Descriptions
  frontend/packages/noobaa-storage-plugin/src/models.ts
Labels: approved, component/noobaa, lgtm, ok-to-test, size/S

#2572 Update className for ceph and noobaa alerts header
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/health-card/health-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/health-card/health-card.tsx
Labels: approved, component/ceph, component/noobaa, kind/bug, lgtm, size/XS

#2559 frontend/public/components: use instance queries
  frontend/public/components/dashboards-page/overview-dashboard/queries.ts
  frontend/public/components/dashboards-page/overview-dashboard/top-consumers-card.tsx
Labels: approved, component/core, lgtm, size/S

#2574 Enable hot reload by default
  README.md
  frontend/webpack.config.ts
Labels: approved, lgtm, size/XS

#2570 Bug 1724555: Query Browser: Reduce default results per page to 50
  frontend/public/components/monitoring/metrics.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/monitoring, lgtm, size/XS

#2571 Change text to 'Alertmanager' in YAML tab/page description
  frontend/public/components/monitoring/alert-manager-yaml-editor.tsx
Labels: approved, component/core, component/monitoring, kind/bug, lgtm, size/XS

#2573 Bug 1747950: MachineSet and Machine tab should not select namespace
  frontend/public/components/nav/admin-nav.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/S

#2575 Bug 1747918: Fix service plan filter
  frontend/public/components/cluster-service-class.tsx
  frontend/public/components/cluster-service-plan.tsx
  frontend/public/components/factory/table-filters.ts
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/S

#2576 Apply correct size and margin to h1
  frontend/public/components/operator-hub/operator-hub-subscribe.tsx
Labels: approved, component/core, component/olm, kind/bug, lgtm, size/XS

#2547 fix(pipeline-bars): Cancelled tasks
  frontend/packages/dev-console/src/utils/pipeline-augment.ts
Labels: approved, component/dev-console, lgtm, size/XS

#2577 Fix query browser data series selection button in FF
  frontend/public/components/monitoring/_monitoring.scss
Labels: approved, component/core, component/monitoring, kind/bug, lgtm, size/XS

#2562 Fetching noobaa system resources irrespective of the namespace
  frontend/packages/noobaa-storage-plugin/src/components/health-card/health-card.tsx
Labels: approved, component/noobaa, kind/bug, lgtm, size/XS

#2476 Plugin for top consumer queries in storage dashboard
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/top-consumers-card/top-consumers-card.tsx
  frontend/packages/ceph-storage-plugin/src/constants/index.ts
  frontend/packages/ceph-storage-plugin/src/constants/queries.ts
  frontend/packages/console-plugin-sdk/src/registry.ts
  frontend/packages/console-plugin-sdk/src/typings/index.ts
  frontend/packages/console-plugin-sdk/src/typings/plugins/ceph-storage-plugin.ts
  frontend/packages/kubevirt-plugin/src/plugin.tsx
Labels: approved, component/ceph, component/kubevirt, component/sdk, lgtm, size/L

#2509 Bug fix for data consumption prometheus query change
  frontend/packages/noobaa-storage-plugin/src/components/data-consumption-card/data-consumption-card-utils.ts
  frontend/packages/noobaa-storage-plugin/src/components/data-consumption-card/data-consumption-card.tsx
  frontend/packages/noobaa-storage-plugin/src/constants/queries.ts
Labels: approved, component/noobaa, lgtm, size/XL

#2542 Changes made in the details card of Persistent and Object Storage Dashboard
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/selectors/index.ts
  frontend/packages/noobaa-storage-plugin/src/components/details-card/details-card.tsx
Labels: approved, component/ceph, component/noobaa, lgtm, ok-to-test, size/M

#2591 Use labels to determine machine region and zone
  frontend/packages/console-shared/src/selectors/machine.ts
  frontend/packages/metal3-plugin/src/components/host-role.tsx
  frontend/public/components/machine-deployment.tsx
  frontend/public/components/machine-set.tsx
  frontend/public/components/machine.tsx
Labels: approved, component/core, component/metal3, component/shared, lgtm, size/M

#2478 Added plugin for capacity dropdown storage
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/capacity-card/capacity-card.tsx
  frontend/packages/ceph-storage-plugin/src/constants/queries.ts
  frontend/packages/console-plugin-sdk/src/registry.ts
  frontend/packages/console-plugin-sdk/src/typings/plugins/ceph-storage-plugin.ts
  frontend/packages/kubevirt-plugin/src/plugin.tsx
Labels: approved, component/ceph, component/kubevirt, component/sdk, lgtm, size/L

#2365 Add/Move create connector in topology
  frontend/packages/console-shared/src/utils/application-utils.ts
  frontend/packages/dev-console/src/components/topology/D3ForceDirectedRenderer.tsx
  frontend/packages/dev-console/src/components/topology/Graph.tsx
  frontend/packages/dev-console/src/components/topology/Topology.tsx
  frontend/packages/dev-console/src/components/topology/shapes/BaseEdge.scss
  frontend/packages/dev-console/src/components/topology/shapes/BaseEdge.tsx
  frontend/packages/dev-console/src/components/topology/shapes/BaseNode.scss
  frontend/packages/dev-console/src/components/topology/shapes/BaseNode.tsx
  frontend/packages/dev-console/src/components/topology/shapes/ConnectsTo.scss
  frontend/packages/dev-console/src/components/topology/shapes/ConnectsTo.tsx
  frontend/packages/dev-console/src/components/topology/shapes/DefaultGroup.scss
  frontend/packages/dev-console/src/components/topology/shapes/DefaultGroup.tsx
  frontend/packages/dev-console/src/components/topology/shapes/DefaultNode.tsx
  frontend/packages/dev-console/src/components/topology/shapes/DraggingCreateConnector.scss
  frontend/packages/dev-console/src/components/topology/shapes/DraggingCreateConnector.tsx
  frontend/packages/dev-console/src/components/topology/shapes/DraggingMoveConnector.scss
  frontend/packages/dev-console/src/components/topology/shapes/DraggingMoveConnector.tsx
  frontend/packages/dev-console/src/components/topology/shapes/SvgArrowMarker.tsx
  frontend/packages/dev-console/src/components/topology/shapes/WorkloadNode.tsx
  frontend/packages/dev-console/src/components/topology/topology-types.ts
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
  frontend/packages/dev-console/src/utils/svg-utils.ts
Labels: approved, component/dev-console, component/shared, lgtm, size/XL

#2556 Bug fix hide application dropdown when no application in namespace
  frontend/packages/dev-console/src/components/dropdown/ApplicationDropdown.tsx
  frontend/packages/dev-console/src/components/dropdown/ResourceDropdown.tsx
  frontend/packages/dev-console/src/components/import/app/ApplicationSelector.tsx
  frontend/packages/dev-console/src/components/import/import-validation-utils.ts
Labels: approved, component/dev-console, lgtm, size/M

#2589 fix multiple re-rendering issue
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/PipelineResourceDropdownField.tsx
Labels: approved, component/dev-console, lgtm, size/S

#2593 Bug 1748405: Show when nodes are unschedulable in node list
  frontend/public/components/node.tsx
  frontend/public/module/k8s/index.ts
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/S

#2594 API Explorer: Let users link to specific tabs
  frontend/public/components/api-explorer.tsx
Labels: approved, component/core, lgtm, size/M

#2596 Adjust padding for search input and label line-height
  frontend/public/components/_resource-dropdown.scss
  frontend/public/style/_vars.scss
Labels: approved, component/core, lgtm, size/XS

#2539 add secondary masthead with disabled dropdowns to add flows
  frontend/integration-tests/tests/deploy-image.scenario.ts
  frontend/packages/dev-console/src/components/NamespacedPage.scss
  frontend/packages/dev-console/src/components/NamespacedPage.tsx
  frontend/packages/dev-console/src/components/dropdown/ApplicationSelector.tsx
  frontend/packages/dev-console/src/components/import/DeployImage.tsx
  frontend/packages/dev-console/src/components/import/DeployImagePage.tsx
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/ImportPage.tsx
  frontend/packages/dev-console/src/components/import/__mocks__/import-validation-mock.ts
  frontend/packages/dev-console/src/components/import/app/AppSection.tsx
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/public/components/_dropdown.scss
  frontend/public/components/namespace.jsx
Labels: approved, component/core, component/dev-console, lgtm, size/L

#2520 Added a external link to noobaa details card
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/details-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/details-card/details-card.tsx
  frontend/public/components/dashboard/details-card/detail-item.tsx
  frontend/public/components/dashboards-page/overview-dashboard/details-card.tsx
Labels: approved, component/backend, component/ceph, component/core, component/dev-console, component/knative, component/kubevirt, component/metal3, component/monitoring, component/noobaa, component/olm, component/sdk, component/shared, lgtm, ok-to-test, size/L

#2598 Remove namespace dependency and fix top consumer
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/top-consumers-card/top-consumers-card-body.tsx
  frontend/packages/ceph-storage-plugin/src/selectors/index.ts
Labels: approved, component/ceph, kind/bug, lgtm, size/S

#2578 Bug 1748855: Readjust logic so CurrentEnvVars starts up
  frontend/public/components/environment.jsx
Labels: approved, bugzilla/valid-bug, component/core, kind/bug, lgtm, size/XS

#2597 API Explorer: Add verbs and short names to details overview
  frontend/public/components/api-explorer.tsx
  frontend/public/module/k8s/get-resources.ts
  frontend/public/module/k8s/index.ts
  frontend/public/reducers/k8s.ts
Labels: approved, component/core, lgtm, size/M

#2603 API Explorer: Add text filter to the URL
  frontend/public/components/api-explorer.tsx
  frontend/public/components/factory/list-page.jsx
Labels: approved, component/core, lgtm, size/S

#2418 Add ability to edit application groupings
  frontend/packages/console-plugin-sdk/src/registry.ts
  frontend/packages/console-plugin-sdk/src/typings/index.ts
  frontend/packages/console-plugin-sdk/src/typings/kebab-actions.ts
  frontend/packages/console-shared/src/utils/index.ts
  frontend/packages/dev-console/src/actions/modify-application.ts
  frontend/packages/dev-console/src/components/dropdown/ResourceDropdown.tsx
  frontend/packages/dev-console/src/components/import/app/ApplicationSelector.tsx
  frontend/packages/dev-console/src/components/modals/EditApplicationModal.tsx
  frontend/packages/dev-console/src/components/modals/index.ts
  frontend/packages/dev-console/src/components/topology/topology-types.ts
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
  frontend/packages/dev-console/src/plugin.tsx
  frontend/packages/dev-console/src/utils/application-utils.ts
  frontend/packages/dev-console/src/utils/kebab-actions.ts
  frontend/public/components/build-config.tsx
  frontend/public/components/build.tsx
  frontend/public/components/chargeback.tsx
  frontend/public/components/cluster-service-broker.tsx
  frontend/public/components/cluster-settings/oauth.tsx
  frontend/public/components/configmap.jsx
  frontend/public/components/cron-job.jsx
  frontend/public/components/custom-resource-definition.tsx
  frontend/public/components/daemon-set.jsx
  frontend/public/components/default-resource.jsx
  frontend/public/components/deployment-config.tsx
  frontend/public/components/deployment.tsx
  frontend/public/components/hpa.tsx
  frontend/public/components/image-stream-tag.tsx
  frontend/public/components/image-stream.tsx
  frontend/public/components/job.jsx
  frontend/public/components/limit-range.tsx
  frontend/public/components/machine-autoscaler.tsx
  frontend/public/components/machine-config-pool.tsx
  frontend/public/components/machine-config.tsx
  frontend/public/components/machine-deployment.tsx
  frontend/public/components/machine-set.tsx
  frontend/public/components/machine.tsx
  frontend/public/components/network-policy.jsx
  frontend/public/components/operator-lifecycle-manager/install-plan.tsx
  frontend/public/components/overview/resource-overview-page.tsx
  frontend/public/components/persistent-volume-claim.jsx
  frontend/public/components/persistent-volume.jsx
  frontend/public/components/replicaset.jsx
  frontend/public/components/resource-quota.jsx
  frontend/public/components/routes.tsx
  frontend/public/components/service-account.jsx
  frontend/public/components/service-binding.tsx
  frontend/public/components/service-instance.tsx
  frontend/public/components/service.jsx
  frontend/public/components/stateful-set.jsx
  frontend/public/components/storage-class.tsx
  frontend/public/components/utils/kebab.tsx
Labels: approved, component/core, component/dev-console, component/olm, component/sdk, component/shared, lgtm, size/L

#2514 Bug fix add hint block when no workload in the namespace
  frontend/packages/dev-console/src/components/AddPage.tsx
  frontend/packages/dev-console/src/components/EmptyState.scss
  frontend/packages/dev-console/src/components/EmptyState.tsx
  frontend/packages/dev-console/src/components/topology/TopologyPage.tsx
Labels: approved, component/dev-console, lgtm, size/L

#2558 Bug 1748219: Detect baremetal platform
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/top-consumers-card/top-consumers-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/node-list.tsx
  frontend/packages/ceph-storage-plugin/src/selectors/index.ts
  frontend/packages/console-plugin-sdk/src/typings/dashboards.ts
  frontend/packages/console-shared/src/selectors/index.ts
  frontend/packages/console-shared/src/selectors/infrastructure.ts
  frontend/packages/metal3-plugin/src/plugin.ts
  frontend/packages/noobaa-storage-plugin/src/components/details-card/details-card.tsx
  frontend/public/actions/features.ts
  frontend/public/components/dashboard/inventory-card/inventory-item.tsx
  frontend/public/components/dashboards-page/dashboards.tsx
  frontend/public/components/dashboards-page/overview-dashboard/capacity-card.tsx
  frontend/public/components/dashboards-page/overview-dashboard/details-card.tsx
  frontend/public/components/dashboards-page/overview-dashboard/health-card.tsx
  frontend/public/components/dashboards-page/overview-dashboard/inventory-card.tsx
  frontend/public/components/dashboards-page/overview-dashboard/top-consumers-card.tsx
  frontend/public/components/dashboards-page/overview-dashboard/utilization-card.tsx
  frontend/public/components/dashboards-page/utils.ts
  frontend/public/const.ts
Labels: approved, bugzilla/valid-bug, component/ceph, component/core, component/metal3, component/noobaa, component/sdk, component/shared, lgtm, size/L

#2581 Added 'Other' option when the git type is unknown
  frontend/packages/dev-console/src/components/import/__tests__/import-validation-utils.spec.ts
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/import/import-validation-utils.ts
  frontend/packages/dev-console/src/components/topology/shapes/WorkloadNode.tsx
Labels: approved, component/dev-console, kind/bug, lgtm, size/M

#2582 fix bug change 0 pod to 0 pods
  frontend/packages/console-shared/src/components/pod/PodRing.tsx
Labels: approved, component/shared, kind/bug, lgtm, size/XS

#2595 Optimize webpack-generated KubeVirt chunks
  frontend/packages/kubevirt-plugin/src/plugin.tsx
Labels: approved, component/kubevirt, lgtm, size/S

#2604 Add missing `<title>` to Dashboards page
  frontend/public/components/dashboards-page/dashboards.tsx
Labels: approved, component/core, lgtm, size/XS

#2606 clicking on build decorator takes to build logs tab
  frontend/packages/dev-console/src/components/topology/shapes/WorkloadNode.tsx
Labels: approved, component/dev-console, lgtm, size/XS

#2583 fix bug pod donut size is inconsistent when browser is resized
  frontend/packages/console-shared/src/components/pod/PodRing.scss
Labels: approved, component/shared, kind/bug, lgtm, size/XS

#2610 Topology Rendering Improvement
  frontend/packages/console-shared/src/components/pod/PodStatus.tsx
Labels: approved, component/shared, kind/bug, lgtm, size/XS

#2125 Adding test cases for VM actions
  frontend/integration-tests/protractor.conf.ts
  frontend/packages/console-shared/src/test-utils/utils.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/detailView.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/kubevirtDetailView.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachine.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachineInstance.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/consts.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/utils.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.actions.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.migration.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.resources.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.wizard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/detailView.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/kubevirtDetailView.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/virtualMachine.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/virtualMachineInstance.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/vm.actions.view.ts
Labels: approved, component/kubevirt, component/shared, lgtm, size/XL

#2580 Bug 1744488: Use OpenAPI Discovery in Create Operand Form
  frontend/__mocks__/k8sResourcesMocks.ts
  frontend/__tests__/components/operator-lifecycle-manager/create-operand.spec.tsx
  frontend/integration-tests/tests/olm/descriptors.scenario.ts
  frontend/public/components/operator-lifecycle-manager/create-operand.tsx
  frontend/public/module/k8s/swagger.ts
Labels: approved, bugzilla/valid-bug, component/core, component/olm, lgtm, size/M

#2616 Fixed the bar seperation issue and truncated labels in data consumption card
  frontend/packages/noobaa-storage-plugin/src/components/data-consumption-card/data-consumption-card-utils.ts
  frontend/packages/noobaa-storage-plugin/src/components/data-consumption-card/data-consumption-card.tsx
  frontend/packages/noobaa-storage-plugin/src/constants/queries.ts
Labels: approved, component/noobaa, kind/bug, lgtm, size/S

#2608 get all the routes and service for a resource
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
Labels: approved, component/dev-console, lgtm, size/M

#2618 Capacity items wraps in 4-2-1 manner
  frontend/public/components/dashboards-page/overview-dashboard/capacity-card.scss
  frontend/public/components/dashboards-page/overview-dashboard/capacity-card.tsx
  frontend/public/style.scss
Labels: approved, component/core, lgtm, size/L

#2609 [release-4.1] Bug 1723706: CSRF updates
  auth/auth.go
  frontend/public/co-fetch.js
  frontend/public/module/ws-factory.js
  pkg/proxy/proxy.go
  server/middleware.go
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, lgtm, size/M

#2584 Bug 1739120: Dashboard popover does not overlap with masthead anymore
  frontend/public/components/dashboard/dashboard-card/card-link.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/XS

#2614 Bug fix for buckets card and renamed function for readability
  frontend/packages/noobaa-storage-plugin/src/components/buckets-card/buckets-card-item.tsx
  frontend/packages/noobaa-storage-plugin/src/components/buckets-card/buckets-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/data-resiliency-card/data-resiliency-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/health-card/health-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/object-data-reduction-card/object-data-reduction-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/resource-providers-card/resource-providers-card-item.tsx
  frontend/packages/noobaa-storage-plugin/src/components/resource-providers-card/resource-providers-card.tsx
  frontend/packages/noobaa-storage-plugin/src/models.ts
  frontend/packages/noobaa-storage-plugin/src/utils.ts
Labels: approved, component/noobaa, kind/bug, lgtm, size/L

#2617 Removed manual generation of ticks in top consumer card.
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/top-consumers-card/top-consumers-card-body.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/top-consumers-card/utils.ts
Labels: approved, component/ceph, lgtm, size/S

#2628 Bug 1748799: Ordering in Usage Report table will re-send getting report requests
  frontend/public/components/chargeback.tsx
Labels: approved, component/core, lgtm, size/S

#2630 Bug 1749199: Fix login integration test scenario flake
  frontend/integration-tests/tests/login.scenario.ts
Labels: approved, bugzilla/valid-bug, lgtm, size/XS

#2605 Bug 1748823: Some reports data are not shown correctly and sorting doesn't work
  frontend/public/components/chargeback.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/XS

#2499 feat(Pipeline Logs): Stream logs from all steps in one UI container
  frontend/packages/dev-console/src/components/pipelineruns/PipelineRunLogs.scss
  frontend/packages/dev-console/src/components/pipelineruns/PipelineRunLogs.tsx
  frontend/packages/dev-console/src/components/pipelineruns/PipelineTaskLogs.scss
  frontend/packages/dev-console/src/components/pipelineruns/PipelineTaskLogs.tsx
  frontend/packages/dev-console/src/utils/pipeline-utils.ts
  frontend/packages/dev-console/yamls/pipelines/exp.yaml
Labels: approved, component/dev-console, lgtm, size/L

#2587 Show the zero savings in object data reduction card
  frontend/packages/noobaa-storage-plugin/src/components/capacity-card/capacity-card-body.tsx
  frontend/packages/noobaa-storage-plugin/src/components/data-consumption-card/data-consumption-card-utils.ts
  frontend/packages/noobaa-storage-plugin/src/components/data-consumption-card/data-consumption-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/object-data-reduction-card/object-data-reduction-card-item.tsx
  frontend/packages/noobaa-storage-plugin/src/components/object-data-reduction-card/object-data-reduction-card.scss
  frontend/packages/noobaa-storage-plugin/src/components/object-data-reduction-card/object-data-reduction-card.tsx
  frontend/packages/noobaa-storage-plugin/src/queries.ts
Labels: approved, component/noobaa, kind/bug, lgtm, size/L

#2611 Bump patternfly4 and patternfly react-core
  frontend/__tests__/components/environment.spec.tsx
  frontend/__tests__/components/factory/list-page.spec.tsx
  frontend/__tests__/components/operator-lifecycle-manager/create-operand.spec.tsx
  frontend/package.json
  frontend/packages/dev-console/src/components/progressive-list/__tests__/ProgressiveList.spec.tsx
  frontend/packages/dev-console/src/components/progressive-list/__tests__/ProgressiveListFooter.spec.tsx
  frontend/yarn.lock
Labels: approved, component/dev-console, lgtm, size/M

#2621 Remove orphaned dropdown styles
  frontend/public/components/_dropdown.scss
  frontend/public/components/utils/kebab.tsx
  frontend/public/style/_overrides.scss
  frontend/public/vendor.scss
Labels: approved, component/core, lgtm, size/M

#2626 Add create IDP form unit tests.
  frontend/__tests__/components/cluster-settings/basicauth-idp-form.spec.tsx
  frontend/__tests__/components/cluster-settings/github-idp-form.spec.tsx
  frontend/__tests__/components/cluster-settings/gitlab-idp-form.spec.tsx
  frontend/__tests__/components/cluster-settings/google-idp-form.spec.tsx
  frontend/__tests__/components/cluster-settings/htpasswd-idp-form.spec.tsx
  frontend/__tests__/components/cluster-settings/keystone-idp-form.spec.tsx
  frontend/__tests__/components/cluster-settings/ldap-idp-form.spec.tsx
  frontend/__tests__/components/cluster-settings/openid-idp-form.spec.tsx
  frontend/__tests__/components/cluster-settings/request-header-idp-form.spec.tsx
  frontend/public/components/cluster-settings/basicauth-idp-form.tsx
  frontend/public/components/cluster-settings/github-idp-form.tsx
  frontend/public/components/cluster-settings/gitlab-idp-form.tsx
  frontend/public/components/cluster-settings/google-idp-form.tsx
  frontend/public/components/cluster-settings/htpasswd-idp-form.tsx
  frontend/public/components/cluster-settings/keystone-idp-form.tsx
  frontend/public/components/cluster-settings/ldap-idp-form.tsx
  frontend/public/components/cluster-settings/openid-idp-form.tsx
  frontend/public/components/cluster-settings/request-header-idp-form.tsx
Labels: approved, component/core, lgtm, size/L

#2615 Made data consumption card's points calculated correctly
  frontend/packages/noobaa-storage-plugin/src/components/data-consumption-card/data-consumption-card-utils.ts
  frontend/packages/noobaa-storage-plugin/src/components/data-consumption-card/data-consumption-card.tsx
Labels: approved, component/core, component/noobaa, kind/bug, lgtm, size/M

#2633 Bug 1749021: Ensure Using Correct PackageManifest in Subscription Detail
  frontend/__mocks__/k8sResourcesMocks.ts
  frontend/__tests__/components/operator-lifecycle-manager/clusterserviceversion.spec.tsx
  frontend/public/components/operator-lifecycle-manager/clusterserviceversion.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/olm, lgtm, size/S

#2564 Rerender only when data for given reduxes has changed
  frontend/public/components/utils/firehose.jsx
Labels: approved, component/core, lgtm, size/S

#2624 Fixed queries issue for ceph dashboard
  frontend/packages/ceph-storage-plugin/src/constants/queries.ts
  frontend/packages/kubevirt-plugin/src/plugin.tsx
Labels: approved, component/ceph, component/kubevirt, kind/bug, lgtm, size/S

#2637 Bug fix convert repo name to lower case before autofill in name field
  frontend/packages/dev-console/src/components/import/__tests__/import-validation-utils.spec.ts
  frontend/packages/dev-console/src/components/import/import-validation-utils.ts
Labels: approved, component/dev-console, kind/bug, lgtm, size/S

#2642 Fix runtime error selecting items in namespace dropdown
  frontend/public/components/namespace.jsx
Labels: approved, component/core, lgtm, size/XS

#2651 Bug 1703777: Fix race setting CSRF token after login
  frontend/public/tokener.html
Labels: approved, bugzilla/valid-bug, lgtm, size/M

#2635 Remove prevent default call which broke the expand collapse component after patternfly upgrade
  frontend/public/components/utils/expand-collapse.tsx
Labels: approved, component/core, kind/bug, lgtm, size/XS

#2602 Add ability to delete connectors in topology
  frontend/packages/dev-console/src/components/topology/D3ForceDirectedRenderer.tsx
  frontend/packages/dev-console/src/components/topology/Graph.tsx
  frontend/packages/dev-console/src/components/topology/Topology.tsx
  frontend/packages/dev-console/src/components/topology/shapes/ConnectsTo.scss
  frontend/packages/dev-console/src/components/topology/shapes/ConnectsTo.tsx
  frontend/packages/dev-console/src/components/topology/topology-types.ts
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
  frontend/packages/dev-console/src/utils/application-utils.ts
Labels: approved, component/dev-console, component/shared, lgtm, size/L

#2638 Add Open Liberty icon option
  frontend/public/components/catalog/catalog-item-icon.tsx
  frontend/public/imgs/logos/openliberty.svg
Labels: approved, component/core, lgtm, size/XS

#2646 Avoid proptype error for virtual tables
  frontend/public/components/factory/table.tsx
Labels: approved, component/core, lgtm, size/XS

#1852 Add unit test for ContainerRow on Pod page
  frontend/__tests__/components/pod.spec.tsx
Labels: approved, lgtm, size/M

#2632 API Explorer: add scope filter
  frontend/public/components/api-explorer.tsx
Labels: approved, component/core, lgtm, size/S

#2641 Use correct namespace for Subscription list on Search page
  frontend/public/components/operator-lifecycle-manager/subscription.tsx
Labels: approved, component/core, component/olm, lgtm, size/XS

#2650 Fix to highlight non-expandable top level nav items when active
  frontend/public/style/_overrides.scss
Labels: approved, component/core, lgtm, size/XS

#2566 Add project creation to Import flow when no projects exist
  frontend/packages/dev-console/src/components/AddPage.tsx
  frontend/packages/dev-console/src/components/EmptyState.scss
  frontend/packages/dev-console/src/components/EmptyState.tsx
  frontend/packages/dev-console/src/components/ProjectsExistWrapper.tsx
  frontend/packages/dev-console/src/components/formik-fields/TextAreaField.tsx
  frontend/packages/dev-console/src/components/formik-fields/field-types.ts
  frontend/packages/dev-console/src/components/formik-fields/index.ts
  frontend/packages/dev-console/src/components/import/DeployImage.tsx
  frontend/packages/dev-console/src/components/import/DeployImageForm.tsx
  frontend/packages/dev-console/src/components/import/DeployImagePage.tsx
  frontend/packages/dev-console/src/components/import/GitImportForm.tsx
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/ImportPage.tsx
  frontend/packages/dev-console/src/components/import/SourceToImageForm.tsx
  frontend/packages/dev-console/src/components/import/__mocks__/import-validation-mock.ts
  frontend/packages/dev-console/src/components/import/__tests__/import-validation-utils.spec.ts
  frontend/packages/dev-console/src/components/import/app/AppSection.tsx
  frontend/packages/dev-console/src/components/import/app/ApplicationSelector.tsx
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/import/import-validation-utils.ts
  frontend/packages/dev-console/src/components/topology/TopologyPage.tsx
Labels: approved, component/dev-console, lgtm, size/L

#2441 added integration tests - cluster setting page
  frontend/integration-tests/protractor.conf.ts
  frontend/integration-tests/tests/cluster-settings.scenario.ts
  frontend/integration-tests/tests/devconsole/git-import-flow.scenario.ts
  frontend/integration-tests/tests/developer-catalog.scenario.ts
  frontend/integration-tests/views/cluster-settings.view.ts
  frontend/integration-tests/views/crud.view.ts
  frontend/public/components/api-explorer.tsx
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/cluster-settings/global-config.tsx
  frontend/public/components/factory/modal.tsx
  frontend/public/components/monitoring.tsx
  frontend/public/components/utils/dropdown.jsx
  frontend/public/components/utils/headings.tsx
  frontend/public/components/utils/resource-link.tsx
Labels: approved, component/core, lgtm, size/L

#2639 Gets the ResourceKind before updating the app label
  frontend/packages/dev-console/src/utils/application-utils.ts
Labels: approved, component/dev-console, lgtm, size/XS

#2647 Fix for topology tooltips on Safari/Edge
  frontend/packages/console-shared/src/components/SvgPodTooltip.tsx
  frontend/packages/console-shared/src/components/SvgTooltip.tsx
  frontend/packages/dev-console/src/components/topology/SvgDecoratorTooltip.tsx
Labels: approved, component/dev-console, component/shared, lgtm, size/M

#2645 integration test: normal users can see the Operators nav section
  frontend/integration-tests/tests/login.scenario.ts
Labels: approved, kind/test-flake, lgtm, queue/fix, size/XS

#2644 Changed API version for OCS
  frontend/packages/ceph-storage-plugin/src/constants/ocs-install.ts
  frontend/packages/ceph-storage-plugin/src/models.ts
Labels: approved, component/ceph, lgtm, size/XS

#2653 Fixed Wrong storage class shown for OCS installation on OCP+VMware
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/node-list.tsx
Labels: approved, component/ceph, lgtm, size/XS

#2658 Bug: Serveless option is shown in import flows before service CRD is available
  frontend/packages/dev-console/src/components/import/serverless/ServerlessSection.tsx
Labels: approved, component/dev-console, lgtm, size/XS

#2627 Bug 1750344: [metal3] Pass node name to queries instead of IP
  frontend/packages/console-shared/src/selectors/machine.ts
  frontend/packages/metal3-plugin/src/components/dashboard/inventory-card.tsx
  frontend/packages/metal3-plugin/src/components/dashboard/queries.ts
  frontend/packages/metal3-plugin/src/components/dashboard/utilization-card.tsx
  frontend/packages/metal3-plugin/src/selectors/index.ts
Labels: approved, bugzilla/valid-bug, component/metal3, component/shared, lgtm, size/M

#2631 compute virtualized scroll container for tables
  frontend/packages/dev-console/src/components/DefaultPage.scss
  frontend/public/components/factory/table.tsx
  frontend/public/components/utils/dom-utils.tsx
  frontend/public/components/utils/index.tsx
Labels: approved, component/core, component/dev-console, lgtm, size/L

#2640 add multiple actionItems to importgit/application dropdowns
  frontend/packages/dev-console/src/components/dropdown/ApplicationDropdown.tsx
  frontend/packages/dev-console/src/components/dropdown/PipelineResourceDropdown.tsx
  frontend/packages/dev-console/src/components/dropdown/ResourceDropdown.tsx
  frontend/packages/dev-console/src/components/dropdown/SourceSecretDropdown.tsx
  frontend/packages/dev-console/src/components/import/app/ApplicationSelector.tsx
  frontend/packages/dev-console/src/components/import/git/SourceSecretSelector.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/PipelineResourceDropdownField.tsx
  frontend/public/components/namespace.jsx
  frontend/public/components/utils/dropdown.jsx
Labels: approved, component/core, component/dev-console, lgtm, size/L

#2659 Add redirects for legacy routes to avoid breaking links
  frontend/public/components/app-contents.tsx
Labels: approved, component/core, lgtm, size/XS

#2662 Fix prop type error on project list page
  frontend/package.json
  frontend/public/components/factory/list-page.jsx
  frontend/yarn.lock
Labels: approved, component/core, lgtm, size/S

#2427 fix(serverless,pipeline): apply release badges to serverless and pipeline pages
  frontend/packages/console-shared/src/components/badges/DevPreviewBadge.tsx
  frontend/packages/console-shared/src/components/badges/TechPreviewBadge.tsx
  frontend/packages/console-shared/src/components/badges/index.ts
  frontend/packages/console-shared/src/components/index.ts
  frontend/packages/dev-console/src/components/DefaultPage.tsx
  frontend/packages/dev-console/src/components/pipelineruns/PipelineRunDetailsPage.tsx
  frontend/packages/dev-console/src/components/pipelines/PipelineDetailsPage.tsx
  frontend/packages/dev-console/src/components/pipelines/PipelinesPage.tsx
  frontend/packages/knative-plugin/src/components/revisions/RevisionsPage.tsx
  frontend/packages/knative-plugin/src/components/routes/RoutesPage.tsx
  frontend/packages/knative-plugin/src/components/services/ServicesPage.tsx
  frontend/public/components/factory/details.tsx
  frontend/public/components/factory/list-page.jsx
  frontend/public/components/utils/headings.tsx
Labels: approved, component/core, component/dev-console, component/knative, component/shared, lgtm, size/M

#2655 Fix TypeError: Cannot read property 'status' of undefined for pipeline run detail page
  frontend/packages/dev-console/src/utils/pipeline-utils.ts
Labels: approved, component/dev-console, lgtm, size/XS

#2625 Fix env var typo in test scripts
  README.md
  frontend/test-e2e.sh
  test-gui.sh
  test-prow-e2e.sh
Labels: approved, lgtm, size/S

#2663 add labels to spec.selector and spec.template
  frontend/packages/dev-console/src/components/import/deployImage-submit-utils.ts
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
Labels: approved, component/dev-console, lgtm, size/XS

#2648 match pipeline visualization graph with latest UX
  frontend/packages/dev-console/src/components/pipelineruns/PipelineRunVisualization.tsx
  frontend/packages/dev-console/src/components/pipelines/PipelineVisualizationGraph.scss
  frontend/packages/dev-console/src/components/pipelines/PipelineVisualizationGraph.tsx
  frontend/packages/dev-console/src/components/pipelines/PipelineVisualizationTask.scss
  frontend/packages/dev-console/src/components/pipelines/PipelineVisualizationTask.tsx
  frontend/packages/dev-console/src/components/pipelines/__tests__/__snapshots__/PipelineVisualizationGraph.spec.tsx.snap
  frontend/packages/dev-console/src/utils/pipeline-augment.ts
Labels: approved, component/dev-console, lgtm, size/L

#2560 Bug 1748211: Add warnings to start maintenance modal
  frontend/packages/metal3-plugin/src/components/modals/create-modal-resource-launcher.tsx
  frontend/packages/metal3-plugin/src/components/modals/start-node-maintenance-modal.tsx
  frontend/packages/metal3-plugin/src/models.ts
Labels: approved, bugzilla/valid-bug, component/metal3, lgtm, size/L

#2657 Bug: Add validations to Expand cluster input field
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
Labels: approved, component/ceph, lgtm, size/S

#2676 Bug 1750281: Query Browser: Fix sidebar link to load without pre-populated query
  frontend/public/components/nav/admin-nav.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/XS

#2669 Add missing functionality for configuring webhook trigger in import flows
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
Labels: approved, component/dev-console, kind/bug, lgtm, size/M

#2599 Unit tests for ResourceDropdown Component
  frontend/packages/dev-console/src/components/dropdown/__mocks__/dropdown-data-mock.ts
  frontend/packages/dev-console/src/components/dropdown/__tests__/ResourceDropdown.spec.tsx
Labels: approved, component/dev-console, lgtm, size/L

#2607 Add OCM link to Cluster Settings page
  frontend/public/components/cluster-settings/cluster-settings.tsx
Labels: approved, component/core, lgtm, size/S

#2491 Set Resources tab as default of resources overview side panel
  frontend/public/reducers/ui.ts
Labels: approved, component/core, lgtm, size/XS

#2660 Change link color and it's hover state to match pf4
  frontend/public/components/_horizontal-nav.scss
  frontend/public/components/_masthead.scss
  frontend/public/style/_vars.scss
Labels: approved, component/core, lgtm, size/S

#2665 remove browser title tooltip from topology build status icon
  frontend/packages/console-shared/src/components/status/ErrorStatus.tsx
  frontend/packages/console-shared/src/components/status/LinkStatus.tsx
  frontend/packages/console-shared/src/components/status/PopoverStatus.tsx
  frontend/packages/console-shared/src/components/status/ProgressStatus.tsx
  frontend/packages/console-shared/src/components/status/Status.tsx
  frontend/packages/console-shared/src/components/status/StatusIconAndText.tsx
  frontend/packages/console-shared/src/components/status/SuccessStatus.tsx
  frontend/packages/dev-console/src/components/topology/shapes/WorkloadNode.tsx
Labels: approved, component/dev-console, component/shared, lgtm, size/M

#2654 test(pipeline): Container status test cases
  frontend/packages/dev-console/src/utils/__tests__/pipeline-utils.spec.ts
  frontend/packages/dev-console/src/utils/pipeline-utils.ts
Labels: approved, component/dev-console, lgtm, size/S

#2706 Bug 1751854: Alerting - Deleting all text from Alert Manager YAML Editor causes it to disappear
  frontend/public/components/monitoring/alert-manager-yaml-editor.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/monitoring, lgtm, size/S

#2713 Bug 1718047: Avoid runtime error when name isn't a string
  frontend/public/module/k8s/resource.js
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/XS

#2675 Fix Warning: React does not recognize the prop on a DOM element.
  frontend/public/components/utils/expand-collapse.tsx
Labels: approved, component/core, component/dev-console, lgtm, size/XS

#2694 Pipeline Visualization Tooltip Rework
  frontend/packages/dev-console/src/components/pipelines/PipelineVisualizationStepList.scss
  frontend/packages/dev-console/src/components/pipelines/PipelineVisualizationStepList.tsx
  frontend/packages/dev-console/src/components/pipelines/PipelineVisualizationTask.scss
  frontend/packages/dev-console/src/components/pipelines/PipelineVisualizationTask.tsx
  frontend/packages/dev-console/src/components/pipelines/StatusIcon.tsx
  frontend/packages/dev-console/src/components/pipelines/TaskComponentTaskStatus.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-step-utils.ts
  frontend/packages/dev-console/src/utils/pipeline-utils.ts
Labels: approved, component/dev-console, lgtm, size/L

#2715 Bug 1750906: Revert "fix(table): use isScrollingOptOut for virtual scroll"
  frontend/public/components/factory/table.tsx
  frontend/public/style/_overrides.scss
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/M

#2720 Bug 1751359: Fix Create Operand Form Crashes
  frontend/integration-tests/protractor.conf.ts
  frontend/integration-tests/tests/olm/descriptors.scenario.ts
  frontend/public/components/configmap-and-secret-data.tsx
  frontend/public/components/operator-lifecycle-manager/_operator-lifecycle-manager.scss
  frontend/public/components/operator-lifecycle-manager/clusterserviceversion.tsx
  frontend/public/components/operator-lifecycle-manager/create-operand.tsx
  frontend/public/components/operator-lifecycle-manager/descriptors/spec/index.tsx
  frontend/public/components/operator-lifecycle-manager/descriptors/types.ts
Labels: approved, bugzilla/valid-bug, component/core, component/olm, lgtm, size/L

#2727 vendor.scss: add patternfly/dropdowns scss
  frontend/public/vendor.scss
Labels: approved, component/core, kind/bug, lgtm, size/XS

#2721 Bug 1750363: fall back to showing image digest on nodes page
  frontend/public/components/node.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/XS

#2697 remove lastRun dependancy in start pipeline action
  frontend/packages/dev-console/src/components/pipelines/PipelineDetailsPage.tsx
  frontend/packages/dev-console/src/components/pipelines/PipelineRow.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/StartPipelineModal.tsx
  frontend/packages/dev-console/src/utils/pipeline-actions.tsx
Labels: approved, component/dev-console, lgtm, size/M

#2717 fix pipeline resource dropdown loading issue
  frontend/packages/dev-console/src/components/dropdown/PipelineResourceDropdown.tsx
  frontend/packages/dev-console/src/components/dropdown/ResourceDropdown.tsx
  frontend/packages/dev-console/src/components/dropdown/__tests__/ResourceDropdown.spec.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/PipelineParameterSection.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/PipelineResourceDropdownField.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/StartPipelineForm.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/StartPipelineModal.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/pipelineForm-validation-utils.ts
  frontend/packages/dev-console/src/components/pipelines/pipeline-resource/PipelineResourceForm.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-resource/PipelineResourceParam.tsx
Labels: approved, component/dev-console, lgtm, size/L

#2722 fixes: Pod donut shows differently in topology vs sidebar
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
Labels: approved, component/dev-console, lgtm, size/XS

#2731 Bug 1737936: Question mark missing in a delete confirmation modal
  frontend/public/components/modals/delete-modal.jsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/XS

#2695 clicking on PLR visualization bubble redirects to that task run logs
  frontend/packages/dev-console/src/components/pipelineruns/PipelineRunDetailsPage.tsx
  frontend/packages/dev-console/src/components/pipelineruns/PipelineRunLogs.tsx
  frontend/packages/dev-console/src/components/pipelineruns/PipelineRunVisualization.tsx
  frontend/packages/dev-console/src/components/pipelines/PipelineVisualizationGraph.tsx
  frontend/packages/dev-console/src/components/pipelines/PipelineVisualizationTask.tsx
  frontend/public/components/utils/horizontal-nav.tsx
Labels: approved, component/core, component/dev-console, lgtm, size/L

#2690 kubevirt: import kubevirt-web-ui-components scss at last
  frontend/packages/kubevirt-plugin/src/style.scss
Labels: approved, component/kubevirt, lgtm, size/XS

#2735 Bug 1752027: Reword the node maintenance storage health warning
  frontend/packages/metal3-plugin/src/components/modals/start-node-maintenance-modal.tsx
Labels: approved, bugzilla/valid-bug, component/metal3, lgtm, size/XS

#2708 Migrate `<Switch>` to PF4
  frontend/integration-tests/tests/olm/descriptors.scenario.ts
  frontend/public/components/operator-lifecycle-manager/create-operand.tsx
  frontend/public/components/operator-lifecycle-manager/descriptors/spec/index.tsx
  frontend/public/vendor.scss
Labels: approved, component/core, component/olm, kind/cleanup, lgtm, size/S

#2724 Fix bug pipeline details page for Pipeline with no tasks throws error
  frontend/packages/dev-console/src/components/pipelines/PipelineDetails.tsx
Labels: approved, component/dev-console, lgtm, size/M

#2725 Bug 1749388: Removed aws from ocs install create form
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/create-form.tsx
Labels: approved, bugzilla/valid-bug, component/ceph, kind/bug, lgtm, ok-to-test, size/XS

#2730 Bump kubevirt-web-ui-components to 0.1.43
  frontend/packages/kubevirt-plugin/package.json
  frontend/yarn.lock
Labels: approved, component/kubevirt, lgtm, size/S

#2737 Bug 1751178: Added check for specDescriptors
  frontend/public/components/operator-lifecycle-manager/create-operand.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/olm, lgtm, size/XS

#2726 Bug 1748559:Data point labels in chart in Top Consumers panel of Persistent Storage lacks timestamps fix
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/top-consumers-card/top-consumers-card-body.tsx
Labels: approved, bugzilla/valid-bug, component/ceph, kind/bug, lgtm, ok-to-test, size/XS

#2677 bump patternfly/react-core
  frontend/package.json
  frontend/yarn.lock
Labels: approved, lgtm, size/M

#2710 Migrate `<EmptyState>` to PF4
  frontend/integration-tests/views/catalog-page.view.ts
  frontend/public/components/catalog/_catalog.scss
  frontend/public/components/utils/tile-view-page.jsx
  frontend/public/style/_overrides.scss
  frontend/public/vendor.scss
Labels: approved, component/core, kind/cleanup, lgtm, size/M

#2736 Bug 1751762: OCS Operator version in details card fix
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/constants/index.ts
  frontend/packages/ceph-storage-plugin/src/selectors/index.ts
  frontend/packages/noobaa-storage-plugin/src/components/details-card/details-card.tsx
Labels: approved, bugzilla/valid-bug, component/ceph, component/noobaa, lgtm, ok-to-test, size/M

#2734 Fix broken OLM documentation link
  frontend/public/components/operator-lifecycle-manager/clusterserviceversion.tsx
Labels: approved, component/core, component/olm, kind/bug, lgtm, size/XS

#2622 Enable metering proxy for local development
  cmd/bridge/main.go
Labels: approved, lgtm, size/M

#2701 table: do not pass customData as rows
  frontend/public/components/factory/table.tsx
Labels: approved, component/core, kind/cleanup, lgtm, size/XS

#2747 Bug 1753018: Fix Update Strategy Modal
  frontend/__tests__/components/modals/configure-update-strategy-modal.spec.tsx
  frontend/public/components/modals/configure-update-strategy-modal.tsx
  frontend/public/components/operator-lifecycle-manager/descriptors/spec/index.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/olm, lgtm, size/M

#2668 Change font to Red Hat
  frontend/packages/dev-console/src/components/import/section/FormSection.scss
  frontend/packages/dev-console/src/components/pipelineruns/PipelineTaskLogs.scss
  frontend/public/components/RBAC/_rbac.scss
  frontend/public/components/_edit-yaml.scss
  frontend/public/components/_global-notification.scss
  frontend/public/components/_quota.scss
  frontend/public/components/_resource.scss
  frontend/public/components/_row-filter.scss
  frontend/public/components/catalog/_catalog.scss
  frontend/public/components/dashboard/capacity-card/capacity-card.scss
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/operator-lifecycle-manager/_operator-lifecycle-manager.scss
  frontend/public/components/operator-lifecycle-manager/markdown-view.tsx
  frontend/public/components/sidebars/_resource-sidebar.scss
  frontend/public/components/utils/_alerts.scss
  frontend/public/components/utils/_file-input.scss
  frontend/public/index.html
  frontend/public/style/_common.scss
  frontend/public/style/_layout.scss
  frontend/public/style/_overrides.scss
  frontend/public/style/_vars.scss
  frontend/public/vendor.scss
Labels: approved, component/core, component/dev-console, component/monitoring, component/olm, lgtm, size/L

#2716 Remove PF3 `<Row>`, `<Col>` components
  frontend/packages/metal3-plugin/src/components/host-detail.tsx
  frontend/public/components/dashboard/utilization-card/utilization-body.tsx
  frontend/public/components/dashboard/utilization-card/utilization-item.tsx
Labels: approved, component/core, component/metal3, kind/cleanup, lgtm, size/M

#2718 Migrate `<HintBlock>` from PF3
  frontend/__tests__/components/operator-lifecycle-manager/install-plan.spec.tsx
  frontend/integration-tests/views/catalog.view.ts
  frontend/integration-tests/views/operator-hub.view.ts
  frontend/packages/dev-console/src/components/AddPage.tsx
  frontend/packages/dev-console/src/components/ProjectsExistWrapper.tsx
  frontend/packages/dev-console/src/components/topology/TopologyPage.tsx
  frontend/public/components/catalog/_catalog.scss
  frontend/public/components/chargeback.tsx
  frontend/public/components/operator-hub/operator-hub-item-details.tsx
  frontend/public/components/operator-lifecycle-manager/install-plan.tsx
  frontend/public/components/service-instance.tsx
  frontend/public/components/start-guide.tsx
  frontend/public/components/utils/_hint-block.scss
  frontend/public/components/utils/hint-block.tsx
  frontend/public/components/utils/index.tsx
  frontend/public/style.scss
  frontend/public/style/_common.scss
  frontend/public/vendor.scss
Labels: approved, component/core, component/dev-console, component/olm, kind/cleanup, lgtm, size/L

#2729 Use `networking.k8s.io` API group for ingress
  frontend/public/models/index.ts
  frontend/public/models/yaml-templates.ts
Labels: approved, component/core, lgtm, size/XS

#2745 Add errata link to about dialog and cluster settings page
  frontend/public/components/about-modal.tsx
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/module/k8s/cluster-settings.ts
Labels: approved, component/core, lgtm, size/M

#2750 Bug: Update tooltip Text
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/capacity-card/capacity-card.tsx
Labels: approved, component/ceph, lgtm, ok-to-test, size/XS

#2732 Bug 1752070: Modify the conditions for health status
  frontend/packages/noobaa-storage-plugin/src/components/health-card/health-card.tsx
Labels: approved, bugzilla/valid-bug, component/noobaa, lgtm, size/M

#2743 Bug 1752829: select nodes labeling info fixed
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/create-form.tsx
Labels: approved, bugzilla/valid-bug, component/ceph, kind/bug, lgtm, ok-to-test, size/XS

#2168 Adding tests for VM Detail overview page
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachine.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/consts.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/types.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/utils.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.overview.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/virtualMachine.view.ts
Labels: approved, component/kubevirt, lgtm, size/L

#2755 Merge master into master-4.3
  frontend/__tests__/components/modals/configure-update-strategy-modal.spec.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/capacity-card/capacity-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/top-consumers-card/top-consumers-card-body.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/create-form.tsx
  frontend/packages/ceph-storage-plugin/src/constants/index.ts
  frontend/packages/ceph-storage-plugin/src/selectors/index.ts
  frontend/packages/dev-console/src/components/pipelines/PipelineDetails.tsx
  frontend/packages/kubevirt-plugin/package.json
  frontend/packages/noobaa-storage-plugin/src/components/details-card/details-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/health-card/health-card.tsx
  frontend/public/components/about-modal.tsx
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/modals/configure-update-strategy-modal.tsx
  frontend/public/components/operator-lifecycle-manager/clusterserviceversion.tsx
  frontend/public/components/operator-lifecycle-manager/create-operand.tsx
  frontend/public/components/operator-lifecycle-manager/descriptors/spec/index.tsx
  frontend/public/module/k8s/cluster-settings.ts
  frontend/yarn.lock
Labels: approved, component/ceph, component/core, component/dev-console, component/kubevirt, component/noobaa, component/olm, lgtm, size/L

#2740 Update OCM link
  frontend/public/actions/features.ts
  frontend/public/actions/ui.ts
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/module/k8s/cluster-settings.ts
  frontend/public/reducers/ui.ts
Labels: approved, component/core, lgtm, size/M

#2749 Don't show errata link for prerelease versions
  frontend/public/module/k8s/cluster-settings.ts
Labels: approved, component/core, lgtm, size/XS

#2753 Bug 1752412: cannot delete the '0' number for resource limit setting
  frontend/packages/dev-console/src/components/formik-fields/ResourceLimitField.tsx
  frontend/packages/dev-console/src/components/import/DeployImage.tsx
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/__mocks__/import-validation-mock.ts
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/import/import-validation-utils.ts
  frontend/packages/knative-plugin/src/utils/create-knative-utils.ts
Labels: approved, bugzilla/valid-bug, component/dev-console, component/knative, kind/bug, lgtm, size/M

#2613 Migrate breadcrumb to PF4
  frontend/__tests__/components/utils/page-heading.spec.tsx
  frontend/public/components/sidebars/explore-type-sidebar.tsx
  frontend/public/components/utils/headings.tsx
  frontend/public/style/_overrides.scss
  frontend/public/vendor.scss
Labels: approved, component/core, kind/cleanup, lgtm, size/M

#2754 fix knative overview extension using wrong CRD flag
  frontend/packages/knative-plugin/src/plugin.tsx
  frontend/packages/knative-plugin/src/utils/create-knative-utils.ts
  frontend/packages/knative-plugin/src/utils/get-knative-resources.ts
Labels: approved, component/knative, lgtm, size/M

#2758 Add OWNERS file for dashboards
  frontend/public/components/dashboard/OWNERS
  frontend/public/components/dashboards-page/OWNERS
Labels: approved, component/core, lgtm, size/S

#2762 kubevirt: fix getName for ownerReference
  frontend/packages/kubevirt-plugin/src/selectors/owner-reference/selectors.ts
Labels: approved, component/kubevirt, lgtm, size/XS

#2714 Migrate `<Popover>` to PF4
  frontend/public/components/dashboard/dashboard-card/card-help.tsx
  frontend/public/components/dashboard/dashboard-card/card.scss
  frontend/public/style/_common.scss
  frontend/public/style/_vars.scss
  frontend/public/vendor.scss
Labels: approved, component/core, kind/cleanup, lgtm, size/S

#2761 Minor style tweaks to container page
  frontend/public/components/container.tsx
Labels: approved, component/core, lgtm, size/S

#2742 Installed operators logo/name updates
  frontend/public/components/operator-lifecycle-manager/_operator-lifecycle-manager.scss
  frontend/public/components/operator-lifecycle-manager/clusterserviceversion.tsx
  frontend/public/style/_overrides.scss
Labels: approved, component/core, component/olm, lgtm, size/M
