Repository openshift/console, pull requests merged in 2020-02, with the labels that each got.

#4113 Bug 1796116: Add Tech/Dev Preview in dropdown and expander
  frontend/packages/console-shared/src/components/badges/badge-factory.tsx
  frontend/public/components/_resource-dropdown.scss
  frontend/public/components/factory/list-page.jsx
  frontend/public/components/resource-dropdown.tsx
  frontend/public/components/search.tsx
  frontend/public/style/_common.scss
Labels: approved, bugzilla/valid-bug, component/core, component/shared, lgtm, size/M

#4100 Bug 1797454: Fix Not available state for Control Plane
  frontend/packages/console-app/src/components/dashboards-page/ControlPlaneStatus.tsx
  frontend/packages/console-app/src/components/dashboards-page/status.ts
Labels: approved, bugzilla/valid-bug, component/core, kind/bug, lgtm, size/S

#3827 Bug 1797442: Test PipelineRun and Pipeline Details page
  frontend/packages/dev-console/src/components/pipelineruns/__tests__/PipelineRunDetailsPage.spec.tsx
  frontend/packages/dev-console/src/components/pipelines/__tests__/PipelineDetailsPage.spec.tsx
Labels: approved, bugzilla/valid-bug, component/dev-console, kind/cleanup, lgtm, size/M

#4152 Bug 1797565: Change /overview links to /details
  frontend/public/components/dashboard/project-dashboard/details-card.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/dashboard, lgtm, size/S

#3808 Bug 1797474: Add unit tests for Pipeline and Pipeline Run Lists
  frontend/packages/dev-console/src/components/pipelines/__tests__/Pipeline.spec.tsx
  frontend/packages/dev-console/src/components/pipelines/__tests__/PipelinesPage.spec.tsx
  frontend/packages/dev-console/src/components/pipelines/detail-page-tabs/__tests__/PipelineRuns.spec.tsx
Labels: approved, bugzilla/valid-bug, component/dev-console, kind/cleanup, lgtm, size/M

#4079 Bug 1797576: Import from Image Stream - Should Default To Your Current Project
  frontend/packages/dev-console/src/components/import/DeployImage.tsx
Labels: approved, bugzilla/valid-bug, component/dev-console, component/shared, kind/bug, lgtm, size/XS

#4006 Bug 1797379: pipeline test edit1
  frontend/packages/dev-console/integration-tests/tests/pipeline.scenario.ts
Labels: approved, bugzilla/valid-bug, component/dev-console, lgtm, size/S

#4070 Bug 1797440: fix(sidepanel-error) - fix error while opening topology application panel
  frontend/packages/dev-console/src/utils/__tests__/add-resources-menu-utils.spec.tsx
  frontend/packages/dev-console/src/utils/add-resources-menu-utils.ts
Labels: approved, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm, size/S

#4083 Bug 1795305: search: use accordion component
  frontend/public/components/_search.scss
  frontend/public/components/search.tsx
  frontend/public/style.scss
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/L

#4063 Bug 1796626: fix create connector arrow head in topology
  frontend/packages/console-shared/src/components/popper/Popper.tsx
  frontend/packages/topology/src/components/GraphComponent.tsx
Labels: approved, bugzilla/valid-bug, component/dev-console, component/shared, kind/bug, lgtm, size/XS

#4154 Bug 1792498: Add delete action to Node
  frontend/packages/console-app/src/components/nodes/menu-actions.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/menu-actions.ts
  frontend/public/components/modals/delete-modal.jsx
Labels: approved, bugzilla/valid-bug, component/core, component/metal3, lgtm, size/M

#4114 Bug 1797789: [Doc] Update doc for adding "fieldDependency" specDescriptor
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/reference/img/20-1_fielddependency-new.png
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/reference/img/20-2_fielddependency-dis.png
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/reference/img/20-2_fielddependency-new.png
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/reference/reference.md
Labels: approved, bugzilla/valid-bug, component/olm, kind/documentation, lgtm, ok-to-test, size/M

#4118 Bug 1796418: fixes resource tab for sidebar for knative associated deployment
  frontend/packages/knative-plugin/src/components/overview/OverviewDetailsKnativeResourcesTab.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/OverviewDetailsKnativeResourcesTab.spec.tsx
  frontend/public/components/overview/resource-overview-details.tsx
  frontend/public/components/utils/simple-tab-nav.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/knative, kind/bug, lgtm, size/L

#4137 Bug 1793893: Make clear what uninstalling an operator that works for all namespaces does
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.tsx
Labels: approved, bugzilla/valid-bug, component/olm, lgtm, size/S

#4150 Bug 1796150: fixes traffic split menu option error on kebab for core service
  frontend/packages/knative-plugin/src/utils/__tests__/kebab-actions.spec.ts
  frontend/packages/knative-plugin/src/utils/kebab-actions.ts
Labels: approved, bugzilla/valid-bug, component/knative, kind/bug, lgtm, size/M

#4151 Bug 1797521: disable pod count filter by default
  frontend/packages/dev-console/src/components/topology/redux/const.ts
Labels: approved, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm, size/XS

#4158 Bug 1797718: fix Bugzilla version prefill for 4.4
  frontend/public/module/k8s/cluster-settings.ts
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/XS

#4161 Bug 1785093: Fix bug where Upgrade Status is incorrect
  frontend/public/module/k8s/cluster-settings.ts
Labels: approved, bugzilla/valid-bug, component/core, kind/bug, lgtm, size/XS

#4164 Bug 1797770: Fix bug where search accordion descenders clip
  frontend/public/components/_search.scss
Labels: approved, bugzilla/valid-bug, component/core, kind/bug, lgtm, size/XS

#3873 Bug 1783651: Fix "requires approval" install plan link
  frontend/packages/operator-lifecycle-manager/src/components/subscription.tsx
  frontend/packages/operator-lifecycle-manager/src/models.ts
Labels: approved, bugzilla/valid-bug, component/olm, lgtm, size/XS

#4091 Bug 1796463: add view monitoring dashboard option for metrics section in monitoring overview
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringDashboard.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringDashboardCountBlock.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/__tests__/MonitoringDashboard.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/__tests__/MonitoringDashboardGraph.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/monitoringDashboardQueries.ts
  frontend/packages/dev-console/src/components/monitoring/overview/MonitoringMetrics.tsx
  frontend/packages/dev-console/src/components/monitoring/overview/MonitoringOverview.scss
  frontend/packages/dev-console/src/components/monitoring/overview/MonitoringOverview.tsx
  frontend/packages/dev-console/src/components/monitoring/overview/queries.ts
  frontend/packages/dev-console/src/components/monitoring/queries.ts
Labels: approved, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm, size/L

#4166 Bug 1797795: [Doc] Update README with field purpose and how to set default value
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/README.md
Labels: approved, bugzilla/valid-bug, component/olm, kind/documentation, lgtm, ok-to-test, size/XS

#4124 Bug 1797699: fix the order of the menu items in the project access dropdown
  frontend/packages/dev-console/src/components/project-access/ProjectAccessForm.tsx
Labels: approved, bugzilla/valid-bug, component/dev-console, component/shared, kind/bug, lgtm, size/XS

#4153 BUG 1797586: fix(operator-binding) - add operator backed service binding
  frontend/packages/dev-console/src/components/topology/componentFactory.ts
Labels: approved, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm, size/S

#4176 Bug 1798006: VM details, Align href to page name
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-details-card.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-details-page.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vmi-details-page.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/constants.ts
Labels: approved, bugzilla/valid-bug, component/kubevirt, lgtm, size/S

#4172 Bug 1797984: VMI Rename Overview pages to Details
  frontend/packages/kubevirt-plugin/src/components/vms/vmi-details-page.tsx
Labels: approved, bugzilla/valid-bug, component/kubevirt, lgtm, size/S

#4178 Bug 1798035: Fix inventory statuses for VMs
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/overview-dashboard/inventory.tsx
Labels: approved, bugzilla/valid-bug, component/kubevirt, lgtm, size/S

#4027 Bug 1797382: git test updation-1
  frontend/packages/dev-console/integration-tests/tests/git-import-flow.scenario.ts
  frontend/packages/dev-console/integration-tests/views/git-import-flow.view.ts
Labels: approved, bugzilla/valid-bug, component/dev-console, lgtm, size/S

#4097 Bug 1798101: Add test cases for VM filtering in VM list view
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/detailView.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachine.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/consts.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/mocks.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.actions.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.clone.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.dashboard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.list-filtering.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.overview.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/vms.list.view.ts
Labels: approved, bugzilla/valid-bug, component/kubevirt, lgtm, size/L

#4134 Bug 1797457: Show not available if there are no data in multiline charts
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationItem.tsx
Labels: approved, bugzilla/valid-bug, component/dashboard, component/shared, kind/bug, lgtm, size/XS

#4143 Bug 1796993: Alertmanager configuration first time setup is unclear
  frontend/public/components/monitoring/alert-manager-config.tsx
  frontend/public/components/monitoring/receiver-forms/alert-manager-receiver-forms.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/monitoring, lgtm, size/M

#4160 Bug 1797727: add error boundary around OLM descriptors
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/status/index.tsx
  frontend/public/components/utils/error-boundary.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/olm, lgtm, size/S

#4171 Bug 1797974: fix overview status
  frontend/packages/kubevirt-plugin/src/components/vms/vm-details.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm.tsx
Labels: approved, bugzilla/valid-bug, component/kubevirt, lgtm, size/S

#4186 Bug 1797729: fix bug where text can overlap on operand details page
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/status/index.tsx
  frontend/packages/operator-lifecycle-manager/src/style.scss
Labels: approved, bugzilla/valid-bug, component/olm, kind/bug, lgtm, size/S

#4093 [release-4.3] Bug 1792507: Add missing candidate-4.3 channel
  frontend/public/module/k8s/cluster-settings.ts
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, component/core, lgtm, size/XS

#4149 [release-4.3] Bug 1797501: Adds flexible OSD Sizes in the install flow
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/_add-capacity-modal.scss
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/storage-class-dropdown.scss
  frontend/packages/ceph-storage-plugin/src/components/modals/storage-class-dropdown.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/node-list.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/ocs-install.scss
  frontend/packages/ceph-storage-plugin/src/constants/ocs-install.ts
  frontend/packages/ceph-storage-plugin/src/utils/osd-size-dropdown.tsx
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, component/ceph, lgtm, size/L

#4148 Bug 1797486: Add icon next to pause/unpause events action
  frontend/packages/console-shared/src/components/dashboard/activity-card/ActivityBody.tsx
  frontend/packages/console-shared/src/components/dashboard/activity-card/activity-card.scss
Labels: approved, bugzilla/valid-bug, component/dashboard, component/shared, lgtm, size/S

#4174 Bug 1797327: Add top margin to the timed out fetching new data message
  frontend/public/components/utils/_status-box.scss
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/XS

#4188 Bug 1798121: fix bug where operator details buttons can abut
  frontend/integration-tests/views/catalog.view.ts
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
  frontend/public/components/catalog/_catalog.scss
  frontend/public/components/catalog/catalog-items.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/olm, kind/bug, lgtm, size/M

#4081 Bug 1796465: Fix for aggregate edge selection
  frontend/packages/dev-console/src/components/topology/TopologyEdgePanel.tsx
  frontend/packages/dev-console/src/components/topology/actions/edgeActions.ts
  frontend/packages/dev-console/src/components/topology/components/MoveConnectionModal.tsx
  frontend/packages/dev-console/src/components/topology/components/edges/AggregateEdge.tsx
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
  frontend/packages/topology/src/components/ElementWrapper.tsx
  frontend/packages/topology/src/elements/BaseEdge.ts
  frontend/packages/topology/src/elements/BaseElement.ts
  frontend/packages/topology/src/layouts/BaseLayout.ts
  frontend/packages/topology/src/types.ts
  frontend/packages/topology/src/utils/createAggregateEdges.ts
  frontend/packages/topology/src/utils/element-utils.ts
Labels: approved, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm, size/L

#4072 Bug 1797573: Add pod count on dev-console monitoring dashboard page
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringDashboard.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringDashboardCountBlock.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringDashboardGraph.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringDashboardPodCount.scss
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringDashboardPodCount.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/__tests__/MonitoringDashboardGraph.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/__tests__/MonitoringDashboardPodCount.spec.tsx
Labels: approved, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm, size/L

#4087 Bug 1798357: Bump formik
  frontend/package.json
  frontend/packages/console-shared/src/components/formik-fields/ToggleableFieldBase.tsx
  frontend/packages/console-shared/src/components/formik-fields/field-types.ts
  frontend/packages/dev-console/src/components/import/advanced/ResourceLimitSection.tsx
  frontend/packages/dev-console/src/components/pipelines/__tests__/PipelineResourceSection.spec.tsx
  frontend/packages/dev-console/src/components/project-access/__tests__/ProjectAccessForm.spec.tsx
  frontend/public/components/factory/modal.tsx
  frontend/public/components/modals/configure-machine-autoscaler-modal.tsx
  frontend/yarn.lock
Labels: approved, bugzilla/valid-bug, component/core, component/dev-console, component/shared, kind/bug, lgtm, size/M

#4184 Bug 1797027: Monitoring Dashboards: Fix variables handling
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/reducers/ui.ts
Labels: approved, bugzilla/valid-bug, component/core, component/monitoring, lgtm, size/L

#4182 Bug 1776682: Show network interface name for PXE boot
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/networking-tab/network-boot-source.tsx
Labels: approved, bugzilla/valid-bug, component/kubevirt, lgtm, size/XS

#4197 Bug 1798348: Removed internal objects from Installed Operator List Page
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
Labels: approved, bugzilla/valid-bug, component/olm, lgtm, size/XS

#4198 Bug 1798352: Added Mode field in Converged Mode dashboard
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/details-card.tsx
Labels: approved, bugzilla/valid-bug, component/ceph, lgtm, size/XS

#4193 Bug 1796664: Change link to external link
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
  frontend/public/components/utils/link.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/olm, lgtm, size/S

#4157 Bug 1787210: deployment config page contains an error in the pod counter
  frontend/packages/console-shared/src/components/pod/PodRing.tsx
Labels: approved, bugzilla/valid-bug, component/shared, lgtm, size/S

#3983 Bug 1790557: Fix Pipeline Params
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/StartPipelineModal.tsx
  frontend/packages/dev-console/src/utils/pipeline-actions.tsx
  frontend/packages/dev-console/src/utils/pipeline-augment.ts
  frontend/packages/dev-console/src/utils/pipeline-utils.ts
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, kind/bug, lgtm, size/M

#4130 Bug 1796641: Add error state to Notification Drawer
  frontend/public/components/notification-drawer.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/M

#4213 Bug 1781835: Fix bug where pod log links layout is wonky
  frontend/public/components/edit-yaml.jsx
  frontend/public/components/utils/resource-log.jsx
  frontend/public/style/_common.scss
Labels: approved, bugzilla/valid-bug, component/core, kind/bug, lgtm, size/S

#4183 Bug 1797681: Moved Event nav item from Advanced to Monitoring page as tab
  frontend/packages/dev-console/src/components/monitoring/MonitoringPage.tsx
  frontend/packages/dev-console/src/components/monitoring/__tests__/MonitoringPage.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/events/MonitoringEvents.tsx
  frontend/packages/dev-console/src/components/monitoring/events/__tests__/MonitoringEvents.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/overview/MonitoringOverview.tsx
  frontend/packages/dev-console/src/components/monitoring/overview/MonitoringOverviewEvents.scss
  frontend/packages/dev-console/src/components/monitoring/overview/MonitoringOverviewEvents.tsx
  frontend/packages/dev-console/src/components/monitoring/overview/MonitoringOverviewEventsWarning.scss
  frontend/packages/dev-console/src/components/monitoring/overview/MonitoringOverviewEventsWarning.tsx
  frontend/packages/dev-console/src/plugin.tsx
  frontend/public/components/events.jsx
  frontend/public/components/utils/headings.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/dev-console, kind/bug, lgtm, size/L

#4189 Bug 1798182: Fix operand tab order
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
Labels: approved, bugzilla/valid-bug, component/olm, lgtm, size/XS

#3708 Bug 1798581: Add tests for pvc creation with different options
  frontend/packages/ceph-storage-plugin/integration-tests/tests/2-tests/pvc.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/utils/consts.ts
  frontend/packages/ceph-storage-plugin/integration-tests/utils/helpers.ts
  frontend/packages/ceph-storage-plugin/integration-tests/views/pvc.view.ts
  frontend/public/components/persistent-volume-claim.jsx
Labels: approved, bugzilla/valid-bug, component/ceph, component/core, lgtm, size/L

#4200 Bug 1780176: Default VM yaml sets virtio for NIC
  frontend/packages/kubevirt-plugin/src/models/templates/vm-yaml.ts
Labels: approved, bugzilla/valid-bug, component/kubevirt, lgtm, size/XS

#4204 Bug 1798077: Cluster Inventory card shows both VM + VMI count
  frontend/packages/console-shared/src/components/dashboard/inventory-card/InventoryItem.tsx
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/overview-dashboard/inventory.tsx
Labels: approved, bugzilla/valid-bug, component/dashboard, component/kubevirt, component/shared, lgtm, size/S

#4218 Bug 1798804: Monitoring Dashboards: Don't display hidden variable dropdowns
  frontend/public/components/monitoring/dashboards/index.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/monitoring, lgtm, size/XS

#4221 Bug 1798906: Query Browser: Fix error inserting example query
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/metrics.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/monitoring, lgtm, size/S

#3859 [release-4.2] Bug 1787585: Fix off by one bug in metrics rows count
  frontend/public/components/monitoring/metrics.tsx
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, component/core, component/monitoring, lgtm, size/XS

#4196 Bug 1798288: fixes sbr to work with knative service
  frontend/packages/dev-console/src/components/topology/componentFactory.ts
  frontend/packages/dev-console/src/components/topology/components/nodes/KnativeService.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/KnativeServiceGroup.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/KnativeServiceNode.tsx
  frontend/packages/knative-plugin/src/utils/knative-topology-utils.ts
Labels: approved, bugzilla/valid-bug, component/dev-console, component/knative, kind/bug, lgtm, size/L

#4201 Bug 1798428: Show Not available status for pods if BMH does not have node assigned
  frontend/packages/console-shared/src/components/dashboard/inventory-card/InventoryItem.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/InventoryCard.tsx
Labels: approved, bugzilla/valid-bug, component/dashboard, component/metal3, component/shared, lgtm, size/S

#4202 Bug 1798451: Fix VM Events card actions layout
  frontend/packages/console-shared/src/components/dashboard/activity-card/ActivityBody.tsx
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-activity.scss
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-activity.tsx
Labels: approved, bugzilla/valid-bug, component/dashboard, component/kubevirt, component/shared, lgtm, size/M

#4203 Bug 1798465: Fix discrepancy in action items of Knative Service
  frontend/packages/knative-plugin/src/components/services/ServiceRow.tsx
  frontend/public/components/default-resource.jsx
Labels: approved, bugzilla/valid-bug, component/core, component/knative, kind/bug, lgtm, size/S

#4225 Bug 1798954: Fix view all dashboard links
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-activity.tsx
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-details-card.tsx
Labels: approved, bugzilla/valid-bug, component/kubevirt, lgtm, size/S

#4226 Bug 1797565: Use full path for link to project details
  frontend/public/components/dashboard/project-dashboard/details-card.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/dashboard, lgtm, size/XS

#4230 Bug 1790380: Pass project name to utilization item
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-utilization.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/utilization-card.tsx
  frontend/public/components/dashboard/project-dashboard/utilization-card.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/dashboard, component/kubevirt, lgtm, size/M

#3994 Bug 1797460: Fix view more button padding for cluster update message
  frontend/packages/console-shared/src/components/dashboard/status-card/status-card.scss
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/status-card.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/dashboard, component/shared, kind/bug, lgtm, size/S

#4156 Bug 1787504: include `system:authenticated` when impersonating groups
  pkg/proxy/proxy.go
Labels: approved, bugzilla/valid-bug, component/backend, lgtm, size/XS

#4165 Bug 1787028: fix runtime error creating PVC with no storage class
  frontend/public/components/storage/create-pvc.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/S

#4185 Bug 1795144: Set default pullSecret
  frontend/public/components/modals/configure-ns-pull-secret-modal.jsx
  frontend/public/module/k8s/resource.js
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/S

#4208 Bug 1798221: Swap default text for marketplace CTA
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
Labels: approved, bugzilla/valid-bug, component/olm, lgtm, size/XS

#4214 Bug 1795452: fix bug where <ErrorStatus> text can overflow table cell
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
Labels: approved, bugzilla/valid-bug, component/olm, kind/bug, lgtm, size/XS

#4190 Bug 1798177: Add expand/collapse of operator groups, type icons
  frontend/packages/dev-console/src/components/topology/Topology.tsx
  frontend/packages/dev-console/src/components/topology/componentFactory.ts
  frontend/packages/dev-console/src/components/topology/components/groups/HelmRelease.scss
  frontend/packages/dev-console/src/components/topology/components/groups/HelmReleaseNode.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/GroupNode.scss
  frontend/packages/dev-console/src/components/topology/components/nodes/GroupNode.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/KnativeService.scss
  frontend/packages/dev-console/src/components/topology/components/nodes/KnativeServiceGroup.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/KnativeServiceNode.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/OperatorBackedService.scss
  frontend/packages/dev-console/src/components/topology/components/nodes/OperatorBackedService.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/OperatorBackedServiceGroup.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/OperatorBackedServiceNode.tsx
  frontend/packages/dev-console/src/components/topology/topology-utils.scss
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
Labels: approved, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm, size/L

#4105 Bug 1796388: Support 'justWarning' validation for DiskBus validations
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/storage-tab-validation.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/storage-tab/vm-wizard-storage-modal-enhanced.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/table/validation-cell.scss
  frontend/packages/kubevirt-plugin/src/components/table/validation-cell.tsx
  frontend/packages/kubevirt-plugin/src/utils/validations/common.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/template/disk-bus-validation-result.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/template/template-validations.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/vm/disk.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/vm/types.ts
Labels: approved, bugzilla/valid-bug, component/kubevirt, lgtm, size/L

#4195 Bug 1795396: Change admin sidebar "Dashboards" item to link to new dashboards
  frontend/public/components/nav/admin-nav.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/S

#4199 Bug 1798350: Fixing Restore button for snapshot
  frontend/packages/ceph-storage-plugin/src/components/modals/restore-pvc-modal/restore-pvc-modal.tsx
Labels: approved, bugzilla/valid-bug, component/ceph, lgtm, size/S

#4179 Bug 1797643: Set shorter names when generating pipeline on import flows
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils-data.ts
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/import/pipeline/pipeline-template-utils.ts
Labels: approved, bugzilla/valid-bug, component/dev-console, lgtm, size/L

#4205 Bug 1798479: Loading and errored inventory items are shown in pluralized form
  frontend/packages/console-shared/src/components/dashboard/inventory-card/InventoryItem.tsx
  frontend/public/components/utils/details-page.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/dashboard, component/shared, lgtm, size/S

#4248 Bug 1800588: Align BMH dashboard utilization item with other dashboards
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/UtilizationCard.tsx
Labels: approved, bugzilla/valid-bug, component/metal3, lgtm, size/S

#4237 Bug 1800347: Set resource name font size to be consistent.
  frontend/public/components/_resource.scss
  frontend/public/components/overview/_overview.scss
  frontend/public/components/utils/headings.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/S

#4234 Bug 1798697: Show support links
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/index.ts
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-item-details.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-page.tsx
  frontend/packages/operator-lifecycle-manager/src/dev-catalog.ts
Labels: approved, bugzilla/valid-bug, component/core, component/olm, lgtm, size/S

#4207 Bug 1797652: Fix crash on Edit of applications
  frontend/__tests__/components/utils/truncate-utils.spec.ts
  frontend/packages/dev-console/src/actions/modify-application.ts
  frontend/packages/dev-console/src/components/svg/SvgBoxedText.tsx
  frontend/packages/dev-console/src/components/topology/components/groups/HelmReleaseGroup.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/ApplicationGroup.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/BaseNode.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/EventSource.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/GroupNode.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/KnativeServiceGroup.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/OperatorBackedServiceGroup.tsx
  frontend/packages/dev-console/src/utils/kebab-actions.ts
  frontend/public/components/utils/truncate-middle.ts
Labels: approved, bugzilla/valid-bug, component/core, component/dev-console, kind/bug, lgtm, size/L

#4254 Bug 1798096: Fix issue with prop name clash of applyFilter in CheckBoxes
  frontend/packages/dev-console/src/components/helm/HelmReleaseList.tsx
  frontend/public/components/row-filter.jsx
Labels: approved, bugzilla/valid-bug, component/core, component/dev-console, lgtm, size/XS

#4192 Bug 1795707: improve notification drawer performance
  analyze.sh
  frontend/public/components/app.jsx
  frontend/public/components/notification-drawer.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/M

#4249 Bug 1800595: Add missing View links to BMH dashboard
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/DetailsCard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/EventsCard.tsx
Labels: approved, bugzilla/valid-bug, component/metal3, lgtm, size/M

#4138 Bug 1797587: Align the Helm Release Details page with latest UX designs
  frontend/packages/dev-console/src/components/helm/HelmReleaseResourceTableHeader.tsx
  frontend/packages/dev-console/src/components/helm/HelmReleaseResourceTableRow.tsx
  frontend/packages/dev-console/src/components/helm/HelmReleaseResources.tsx
  frontend/packages/dev-console/src/components/helm/HelmReleaseRow.tsx
  frontend/packages/dev-console/src/components/helm/HelmResourcesListComponent.tsx
  frontend/packages/dev-console/src/components/helm/__tests__/HelmReleaseResourceTableRow.spec.tsx
  frontend/packages/dev-console/src/components/helm/__tests__/HelmReleaseResources.spec.tsx
  frontend/packages/dev-console/src/components/helm/__tests__/HelmResourcesListComponent.spec.tsx
  frontend/packages/dev-console/src/components/helm/helm-release-resources-utils.ts
Labels: approved, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm, size/L

#4262 Bug 1800976: Fix selection of PXE boot device
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachine.ts
Labels: approved, bugzilla/valid-bug, component/kubevirt, lgtm, size/XS

#4260 Bug 1800890: Removal of expectation for Events in advance tab
  frontend/packages/dev-console/integration-tests/tests/dev-perspective.scenario.ts
Labels: approved, bugzilla/valid-bug, component/dev-console, lgtm, size/XS

#4251 Bug 1800598: updates apiGroup for knativeServing resource
  frontend/packages/knative-plugin/src/models.ts
Labels: approved, bugzilla/valid-bug, component/knative, lgtm, size/XS

#4175 Bug 1800698: Fixed Helm chart installation
  pkg/helm/actions/config.go
Labels: approved, bugzilla/valid-bug, component/backend, lgtm, size/S

#4272 Bug 1779858: Fixed required fields display issue for create operand form
  frontend/packages/operator-lifecycle-manager/src/components/create-operand.tsx
Labels: approved, bugzilla/valid-bug, component/olm, lgtm, ok-to-test, size/XS

#4257 Bug 1796521: Notification drawer alert to setup monitoring directs user to config page
  frontend/packages/patternfly/src/components/notification-drawer/notification-entry.tsx
  frontend/public/components/notification-drawer.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/L

#4243 Bug 1789602: Property array should render its properties on schema page
  frontend/public/components/sidebars/explore-type-sidebar.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/XS

#4245 Bug 1792487: Rename Machine Running phase to Provisioned as node.
  frontend/packages/console-shared/src/components/status/Status.tsx
  frontend/public/components/machine.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/shared, lgtm, size/M

#4236 Bug 1784725: Console should do special character check when create routing labels
  frontend/__tests__/components/monitoring.spec.tsx
  frontend/public/components/monitoring/receiver-forms/alert-manager-receiver-forms.tsx
  frontend/public/components/monitoring/receiver-forms/routing-labels-editor.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/monitoring, lgtm, size/M

#4285 Bug 1801762: Don't re-run discovery on modified APIService
  frontend/public/actions/k8s.ts
  frontend/public/module/k8s/get-resources.ts
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/S

#4141 Bug 1796902: Fix for right click on graph when no workloads
  frontend/packages/dev-console/src/actions/add-resources.tsx
  frontend/packages/dev-console/src/components/EmptyState.tsx
  frontend/packages/dev-console/src/components/topology/Topology.tsx
  frontend/packages/dev-console/src/components/topology/actions/__tests__/graphActions.spec.tsx
  frontend/packages/dev-console/src/components/topology/actions/graphActions.ts
  frontend/packages/dev-console/src/components/topology/actions/groupActions.ts
  frontend/packages/dev-console/src/components/topology/application-panel/TopologyApplicationPanel.tsx
  frontend/packages/dev-console/src/components/topology/nodeContextMenu.tsx
  frontend/packages/dev-console/src/components/topology/topology-types.ts
  frontend/packages/dev-console/src/utils/__tests__/add-resources-menu-utils.spec.tsx
  frontend/packages/dev-console/src/utils/add-resources-menu-utils.ts
  frontend/packages/dev-console/src/utils/kebab-actions.ts
  frontend/packages/dev-console/src/utils/useAddToProjectAccess.ts
  frontend/public/components/utils/dropdown.jsx
Labels: approved, bugzilla/valid-bug, component/core, component/dev-console, kind/bug, lgtm, size/L

#4180 Bug 1798417: MultiColumnField should hide headers if there are no rows
  frontend/packages/console-shared/src/components/formik-fields/field-types.ts
  frontend/packages/console-shared/src/components/formik-fields/multi-column-field/MultiColumnField.scss
  frontend/packages/console-shared/src/components/formik-fields/multi-column-field/MultiColumnField.tsx
  frontend/packages/dev-console/src/components/pipelines/detail-page-tabs/PipelineParameters.tsx
  frontend/packages/dev-console/src/components/pipelines/detail-page-tabs/PipelineResources.tsx
Labels: approved, bugzilla/valid-bug, component/dev-console, component/shared, kind/bug, lgtm, size/S

#4220 Bug 1798846: Add info icon and tooltip for text filter in topology view
  frontend/packages/dev-console/src/components/topology/Topology.tsx
  frontend/packages/dev-console/src/components/topology/filters/TopologyFilterBar.scss
  frontend/packages/dev-console/src/components/topology/filters/TopologyFilterBar.tsx
  frontend/public/components/factory/list-page.jsx
Labels: approved, bugzilla/valid-bug, component/core, component/dev-console, kind/bug, lgtm, size/L

#4256 Bug 1796116: fix duplicate badge on dev console list pages
  frontend/packages/dev-console/src/components/projects/ProjectListPage.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/dev-console, lgtm, size/S

#4258 Bug 1800794: look for correct OLM cluster monitoring annotation
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
Labels: approved, bugzilla/valid-bug, component/olm, lgtm, size/XS

#4267 Bug 1801148: reinstate tech preview badge on monitoring pages
  frontend/packages/dev-console/src/components/monitoring/MonitoringPage.tsx
Labels: approved, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm, size/XS

#4269 Bug 1801278: Restructure the devconsole navigation menu
  frontend/packages/dev-console/src/plugin.tsx
Labels: approved, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm, size/M

#4283 Bug 1786271: update the number of pods in daemon set with correct status prop
  frontend/packages/console-shared/src/utils/ResourceStatus.tsx
Labels: approved, bugzilla/valid-bug, component/shared, lgtm, size/S

#4286 Bug 1801741: Update tooltip to show all the status on hovering a pod donut chart
  frontend/packages/console-shared/src/components/pod/PodStatus.scss
  frontend/packages/console-shared/src/components/pod/PodStatus.tsx
Labels: approved, bugzilla/valid-bug, component/shared, kind/bug, lgtm, size/M

#4066 Bug 1796619: useSafetyFirst in rbac useAccessReview hook
  frontend/public/components/safety-first.tsx
  frontend/public/components/utils/rbac.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/S

#4266 Bug 1798871: Fix formik low priority validation issues
  frontend/packages/console-shared/src/components/formik-fields/DropdownField.tsx
  frontend/packages/console-shared/src/components/formik-fields/NSDropdownField.tsx
  frontend/packages/console-shared/src/components/formik-fields/NumberSpinnerField.tsx
  frontend/packages/console-shared/src/components/formik-fields/ResourceDropdownField.tsx
  frontend/packages/console-shared/src/components/formik-fields/ResourceLimitField.tsx
  frontend/packages/console-shared/src/hooks/deep-compare-memoize.ts
  frontend/packages/console-shared/src/hooks/formik-validation-fix.ts
  frontend/packages/console-shared/src/hooks/index.ts
  frontend/packages/console-shared/src/index.ts
  frontend/packages/dev-console/src/components/helm/HelmReleaseList.tsx
  frontend/packages/dev-console/src/components/helm/helm-utils.ts
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/PipelineResourceDropdownField.tsx
Labels: approved, bugzilla/valid-bug, component/dev-console, component/shared, kind/bug, lgtm, size/M

#3892 Bug 1801754: Add test for VM vnc/serial console
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/consts.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/scripts/expect-file-exists.sh
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/scripts/expect-login.sh
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.consoles.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/consolesView.ts
Labels: approved, bugzilla/valid-bug, component/kubevirt, lgtm, ok-to-test, size/L

#4242 Bug 1800488: Fix d/s windows guest tools container image
  frontend/packages/kubevirt-plugin/src/components/modals/cdrom-vm-modal/constants.ts
Labels: approved, bugzilla/valid-bug, component/kubevirt, lgtm, size/S

#4296 Bug 1780268: Fix Not Found message
  frontend/packages/kubevirt-plugin/src/components/vm-disks/vm-disks.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-nics/vm-nics.tsx
Labels: approved, bugzilla/valid-bug, component/kubevirt, lgtm, size/XS

#4209 Bug 1798862: VMI list integration tests
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachine.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/mocks.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmi.list-filtering.scenario.ts
Labels: approved, bugzilla/valid-bug, component/kubevirt, lgtm, size/L

#4280 Bug 1802144: Update Snapshot CR version same as backend
  frontend/packages/ceph-storage-plugin/src/components/modals/restore-pvc-modal/restore-pvc-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/volume-snapshot-modal/volume-snapshot-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/volume-snapshot/volume-snapshot.tsx
  frontend/packages/ceph-storage-plugin/src/models.ts
Labels: approved, bugzilla/valid-bug, component/ceph, lgtm, size/S

#4282 Bug 1801748: Add Basic VM Template Details page test
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachineTemplate.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmtemplate.wizard.scenario.ts
Labels: approved, bugzilla/valid-bug, component/kubevirt, lgtm, size/M

#4289 Bug 1801440: Notification drawer, other alerts always expand by default
  frontend/public/components/notification-drawer.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/S

#4295 Bug 1777149: Rename action to Create Virtual Machine Template
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
Labels: approved, bugzilla/valid-bug, component/kubevirt, lgtm, size/XS

#4177 Bug 1797996: Packages: Change Overview pages to Details
  frontend/packages/console-app/src/components/nodes/NodeDetailsOverview.tsx
  frontend/packages/container-security/src/components/image-manifest-vuln.tsx
  frontend/packages/dev-console/src/components/pipelineruns/detail-page-tabs/PipelineRunDetails.tsx
  frontend/packages/dev-console/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineDetails.tsx
  frontend/packages/dev-console/src/components/taskruns/TaskRunDetails.tsx
  frontend/packages/knative-plugin/src/components/overview/KnativeResourceOverviewPage.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-details.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-details.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostDetails.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/BareMetalNodeDetailsOverview.tsx
  frontend/packages/network-attachment-definition-plugin/integration-tests/tests/models/nadDetail.ts
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionDetails.tsx
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionDetailsPage.tsx
  frontend/packages/noobaa-storage-plugin/src/components/noobaa-operator/noobaa-page.tsx
  frontend/packages/noobaa-storage-plugin/src/components/object-bucket-claim-page/object-bucket-claim.tsx
  frontend/packages/noobaa-storage-plugin/src/components/object-bucket-page/object-bucket.tsx
  frontend/packages/operator-lifecycle-manager/src/components/catalog-source.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/install-plan.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/install-plan.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-details.tsx
  frontend/packages/operator-lifecycle-manager/src/components/subscription.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/dev-console, component/knative, component/kubevirt, component/metal3, component/network-attachment-definition, component/noobaa, component/olm, lgtm, size/M

#4231 Bug 1801604: Add disk validation to virtual hardware on create-vm-wizard
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/utils.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/storage-tab-validation.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/virtual-hardware-tab-validation.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/selectors/template.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/storage-tab/vm-wizard-storage-row.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/virtual-hardware-tab/virtual-hardware-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/virtual-hardware-tab/vm-wizard-virtualhardware-row.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/cd-row.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/utils.ts
  frontend/packages/kubevirt-plugin/src/components/vm-disks/vm-cds.tsx
  frontend/packages/kubevirt-plugin/src/utils/validations/template/template-validations.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/vm/disk.ts
Labels: approved, bugzilla/valid-bug, component/kubevirt, lgtm, size/L

#4246 Bug 1800559: adds pod list and deployment in revision sidebar
  frontend/packages/knative-plugin/src/components/overview/DeploymentOverviewList.tsx
  frontend/packages/knative-plugin/src/components/overview/KnativeRevisionResources.tsx
  frontend/packages/knative-plugin/src/components/overview/OverviewDetailsKnativeResourcesTab.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/DeploymentOverviewList.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/KnativeRevisionResources.spec.tsx
  frontend/public/components/overview/pods-overview.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/knative, kind/bug, lgtm, size/L

#4291 Bug 1800448: Do not specify perspective for dev monitoring so we can acces the rou…
  frontend/packages/dev-console/src/plugin.tsx
Labels: approved, bugzilla/valid-bug, component/dev-console, lgtm, size/XS

#4287 Bug 1801858: Separate validation schemas for parameters and resources tab of pipelines details page
  frontend/packages/dev-console/src/components/pipelines/PipelineDetailsPage.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/PipelineForm.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/__tests__/pipeline-form-validation-utils.spec.ts
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/pipelineForm-validation-utils.ts
Labels: approved, bugzilla/valid-bug, component/dev-console, lgtm, size/M

#4271 Bug 1801028: Improve dashboard single-stat number formatting
  frontend/public/components/monitoring/dashboards/format.tsx
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/dashboards/single-stat.tsx
  frontend/public/components/monitoring/dashboards/table.tsx
  frontend/public/components/monitoring/dashboards/types.ts
Labels: approved, bugzilla/valid-bug, component/core, component/monitoring, lgtm, size/L

#4227 Bug 1772889: Do not show VM Utilization graphs for an off-VM
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-utilization.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/utilization-card.tsx
  frontend/public/components/graphs/helpers.ts
Labels: approved, bugzilla/valid-bug, component/core, component/dashboard, component/kubevirt, lgtm, size/L

#4229 Bug 1789192: Avoid confirmation for the "VM start" action
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachine.ts
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
Labels: approved, bugzilla/valid-bug, component/kubevirt, lgtm, size/S

#4294 Bug 1776062: Fix inconsistent Create action naming
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
Labels: approved, bugzilla/valid-bug, component/kubevirt, lgtm, size/XS

#4300 Bug 1799490: Correct monitoring dashboard panel issues
  frontend/public/components/graphs/prometheus-graph.tsx
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/dashboards/single-stat.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/monitoring, lgtm, size/S

#3871 Bug 1802594: test for group-by dropdown
  frontend/__tests__/components/catalog-data.ts
  frontend/__tests__/components/catalog.spec.tsx
Labels: approved, bugzilla/valid-bug, kind/cleanup, lgtm, size/S

#4222 Bug 1802399: Added export cluster metadata in storage cluster menu
  frontend/packages/ceph-storage-plugin/src/components/converged-credentials/credentials.tsx
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Labels: approved, bugzilla/valid-bug, component/ceph, lgtm, size/M

#4290 Bug 1798865: Volume snapshot in PVC's detail page show Error: 404: Page Not Found
  frontend/packages/ceph-storage-plugin/src/features.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Labels: approved, bugzilla/valid-bug, component/ceph, lgtm, size/M

#4299 Bug 1802230: Fix missing services in VM details page
  frontend/packages/kubevirt-plugin/src/selectors/service/selectors.ts
  frontend/packages/kubevirt-plugin/src/selectors/vmi/basic.ts
Labels: approved, bugzilla/valid-bug, component/kubevirt, lgtm, size/XS

#4310 Bug 1802431: Remove label input placeholder if any labels are present
  frontend/public/components/utils/selector-input.jsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/XS

#4206 Bug 1798481: Preserve choice of list view when navigating back
  frontend/packages/dev-console/src/components/topology/TopologyPage.tsx
  frontend/packages/dev-console/src/components/topology/const.ts
  frontend/packages/dev-console/src/plugin.tsx
Labels: approved, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm, size/M

#4278 Bug 1797891: fix(dev-catalog) - Remove capability level filters
  frontend/__tests__/components/catalog.spec.tsx
  frontend/public/components/catalog/catalog-items.tsx
Labels: approved, bugzilla/valid-bug, component/core, kind/bug, lgtm, size/M

#4313 Bug 1802776: Show pending icon for pipeline Idle state
  frontend/packages/dev-console/src/components/pipelines/detail-page-tabs/pipeline-details/StatusIcon.tsx
Labels: approved, bugzilla/valid-bug, component/dev-console, lgtm, size/XS

#4276 Bug 1801447: Fix for invalid edges, do not allow connection to knative revisions
  frontend/packages/dev-console/src/components/topology/componentFactory.ts
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
Labels: approved, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm, size/M

#4306 Bug 1802458: add quarkus icon to topology
  frontend/public/components/catalog/catalog-item-icon.tsx
  frontend/public/imgs/logos/quarkus.svg
Labels: approved, bugzilla/valid-bug, component/core, kind/bug, lgtm, size/XS

#3814 Bug 1802146: POC for topology UI test #3814
  frontend/integration-tests/protractor.d.ts
  frontend/packages/dev-console/integration-tests/tests/topology.scenario.ts
  frontend/packages/dev-console/integration-tests/views/git-import-flow.view.ts
  frontend/packages/dev-console/integration-tests/views/new-app-name.view.ts
  frontend/packages/dev-console/integration-tests/views/topology.view.ts
Labels: approved, bugzilla/valid-bug, component/dev-console, lgtm, size/L

#4217 Bug 1797701: allow changing the storage class back to the default one
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/stateUpdate/vmSettings/prefill-vm-template-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/cloud-init-tab/cloud-init-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/container-source.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/url-source.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/storage-ui-source.ts
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm/vm-cdrom-patches.ts
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm/vm-disk-patches.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/create.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/initialize-vm.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/common/object-with-type-property-wrapper.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/utils/utils.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/combined-disk.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/data-volume-wrapper.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/disk-wrapper.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/persistent-volume-claim-wrapper.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/volume-wrapper.ts
  frontend/packages/kubevirt-plugin/src/selectors/config-map/sc-defaults.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/vm/disk.ts
Labels: approved, bugzilla/valid-bug, component/kubevirt, lgtm, size/XL

#4265 Bug 1801142: Vmi dashboard tests
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachine.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/consts.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmi.actions.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmi.dashboard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmi.overview.scenario.ts
Labels: approved, bugzilla/valid-bug, component/kubevirt, lgtm, size/L

#4235 Bug 1797769: Resource Requirements specDescriptor fields- cpu or memory is injected with empty value into YAML
  frontend/packages/operator-lifecycle-manager/src/components/create-operand.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/resource-requirements.tsx
Labels: approved, bugzilla/valid-bug, component/olm, lgtm, size/S

#4270 Bug 1798858: Fix bug where installed operators list status is missin…
  frontend/packages/console-shared/src/components/status/Status.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
Labels: approved, bugzilla/valid-bug, component/olm, component/shared, kind/bug, lgtm, size/M

#4317 Bug 1800501: Monitoring Dashboards: Don't show cards until variables have loaded
  frontend/public/components/monitoring/dashboards/index.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/monitoring, lgtm, size/M

#4327 Bug 1798858: follow on code cleanup
  frontend/packages/console-shared/src/components/status/Status.tsx
Labels: approved, bugzilla/valid-bug, component/shared, kind/bug, lgtm, size/XS

#4274 Bug 1801419: Show an error dialog when creation of a connection fails
  frontend/packages/dev-console/src/components/topology/componentUtils.ts
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
Labels: approved, bugzilla/valid-bug, component/core, component/dev-console, kind/bug, lgtm, size/S

#4315 Bug 1802840: zoom on double click of graph only
  frontend/packages/topology/src/behavior/usePanZoom.tsx
  frontend/packages/topology/src/components/ElementWrapper.tsx
  frontend/packages/topology/src/components/layers/LayerContainer.tsx
  frontend/packages/topology/src/const.ts
Labels: approved, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm, size/M

#4140 Bug 1795713: Fix labels and Enable typeahead filter for name filter
  frontend/public/components/search-filter-dropdown.tsx
  frontend/public/components/search.tsx
Labels: approved, bugzilla/valid-bug, component/backend, component/ceph, component/core, component/dashboard, component/dev-console, component/knative, component/kubevirt, component/metal3, component/monitoring, component/olm, component/shared, lgtm, size/M

#4240 Bug 1801857: Cleanup Pipeline Builder
  frontend/packages/dev-console/src/components/pipelines/PipelineDetailsPage.tsx
  frontend/packages/dev-console/src/components/pipelines/PipelinesResourceList.tsx
  frontend/packages/dev-console/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationTask.tsx
  frontend/packages/dev-console/src/components/pipelines/list-page/PipelineRow.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/PipelineBuilderForm.scss
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/PipelineBuilderHeader.scss
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/PipelineBuilderHeader.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/PipelineBuilderPage.scss
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/PipelineBuilderPage.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/PipelineBuilderVisualization.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/const.ts
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/hooks.ts
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/task-sidebar/Sidebar.scss
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebar.scss
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebar.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarName.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarParam.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/types.ts
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/update-utils.ts
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/utils.ts
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/validation-utils.ts
  frontend/packages/dev-console/src/components/pipelines/pipeline-topology/BuilderNode.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-topology/PipelineTopologyGraph.scss
  frontend/packages/dev-console/src/components/pipelines/pipeline-topology/PipelineVisualizationSurface.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-topology/TaskNode.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-topology/const.ts
  frontend/packages/dev-console/src/components/pipelines/pipeline-topology/draw-utils.ts
  frontend/packages/dev-console/src/components/pipelines/pipeline-topology/factories.ts
  frontend/packages/dev-console/src/components/pipelines/pipeline-topology/types.ts
  frontend/packages/dev-console/src/components/pipelines/pipeline-topology/utils.ts
  frontend/packages/dev-console/src/utils/pipeline-augment.ts
  frontend/packages/topology/src/layouts/BaseLayout.ts
  frontend/packages/topology/src/layouts/DagreLayout.ts
Labels: approved, bugzilla/valid-bug, component/dev-console, kind/bug, kind/cleanup, lgtm, size/XXL

#4292 Bug 1802114: Add sort function for machine phase.
  frontend/packages/console-shared/src/selectors/machine.ts
  frontend/public/components/factory/table.tsx
  frontend/public/components/machine.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/shared, lgtm, size/M

#4326 Bug 1803213: Update collapsed groups in topology to match designs
  frontend/packages/dev-console/src/components/topology/components/groups/HelmReleaseNode.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/ApplicationNode.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/GroupNode.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/KnativeServiceNode.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/OperatorBackedServiceNode.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/ResourceKindsInfo.scss
  frontend/packages/dev-console/src/components/topology/components/nodes/ResourceKindsInfo.tsx
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
Labels: approved, bugzilla/valid-bug, component/dev-console, lgtm, size/L

#4324 Bug 1803245: add missing vertx runtime icon
  frontend/packages/dev-console/src/components/topology/components/nodes/BaseNode.tsx
  frontend/public/components/catalog/catalog-item-icon.tsx
  frontend/public/imgs/logos/vertx.svg
Labels: approved, bugzilla/valid-bug, component/core, component/dev-console, lgtm, size/S

#4325 Bug 1803252: Add connector when adding a project through connector
  frontend/packages/dev-console/src/utils/__tests__/add-resources-menu-utils.spec.tsx
  frontend/packages/dev-console/src/utils/add-resources-menu-utils.ts
Labels: approved, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm, size/XS
