Repository openshift/console, pull requests merged in 2020-08, with the labels that each got.

#6048 Add missing catches to handlePromise
  frontend/__tests__/components/utils/promise-component.spec.tsx
  frontend/packages/ceph-storage-plugin/src/components/independent-mode/install.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/restore-pvc-modal/restore-pvc-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/storage-pool-modal/storage-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/volume-snapshot-modal/volume-snapshot-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/install-lso-sc.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/create-form.tsx
  frontend/packages/console-app/src/components/modals/clone/clone-pvc-modal.tsx
  frontend/packages/console-app/src/components/modals/restore-pvc/restore-pvc-modal.tsx
  frontend/packages/console-app/src/components/nodes/modals/ConfigureUnschedulableModal.tsx
  frontend/packages/console-app/src/components/volume-snapshot/create-volume-snapshot/create-volume-snapshot.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/boot-order-modal/boot-order-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/clone-vm-modal/clone-vm-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/delete-disk-modal/delete-disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/delete-nic-modal/delete-nic-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/menu-actions-modals/confirm-vmi-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/menu-actions-modals/delete-vm-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/menu-actions-modals/delete-vm-template-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/menu-actions-modals/delete-vmi-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/nic-modal/nic-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/affinity-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/dedicated-resources-modal/dedicated-resources-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/node-selector-modal/node-selector-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/tolerations-modal/tolerations-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-modal/snapshot-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-restore-modal/snapshot-restore-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/vm-description-modal/vm-description-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/vm-flavor-modal/vm-flavor-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/vm-status-modal/vm-status-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-environment/vm-environment-page.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/create-local-volume-set.tsx
  frontend/packages/metal3-plugin/src/components/modals/PowerOffHostModal.tsx
  frontend/packages/metal3-plugin/src/components/modals/StartNodeMaintenanceModal.tsx
  frontend/packages/noobaa-storage-plugin/src/components/create-backingstore-page/create-bs.tsx
  frontend/packages/noobaa-storage-plugin/src/components/object-bucket-claim-page/modals/attach-deployment-obc-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/create-catalog-source.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/resource-requirements.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/delete-catalog-source-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/disable-default-source-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.tsx
  frontend/public/components/modals/add-users-modal.tsx
  frontend/public/components/modals/remove-user-modal.tsx
  frontend/public/components/utils/promise-component.tsx
Labels: approved, component/ceph, component/core, component/kubevirt, component/lso, component/metal3, component/noobaa, component/olm, component/shared, lgtm

#6151 Allows user to set `allowVolumeExpansion` flag for a storage class
  frontend/packages/ceph-storage-plugin/src/utils/storage-class-params.tsx
  frontend/packages/console-plugin-sdk/src/typings/storage-class-params.ts
  frontend/public/components/storage-class-form.tsx
Labels: approved, component/ceph, component/core, component/sdk, lgtm

#6155 Show alert message and hide pods when ImageStream is not ready yet
  frontend/public/components/overview/pods-overview.tsx
Labels: approved, component/core, lgtm

#6173 Query Browser: Remove unused `namespace` props
  frontend/public/components/monitoring/metrics.tsx
Labels: approved, component/core, component/monitoring, lgtm

#6179 Fix app context provider
  frontend/__tests__/components/storage-class-form.spec.tsx
  frontend/packages/console-app/src/components/detect-perspective/PerspectiveDetector.tsx
  frontend/packages/console-plugin-sdk/src/__tests__/store.spec.ts
  frontend/packages/console-plugin-sdk/src/store.ts
  frontend/packages/console-plugin-sdk/src/typings/base.ts
  frontend/packages/console-plugin-sdk/src/useExtensions.ts
  frontend/packages/console-plugin-sdk/src/withExtensions.tsx
  frontend/packages/console-shared/src/hooks/plugins-overview-tab-section.ts
  frontend/public/components/app.jsx
  frontend/public/components/cluster-settings/global-config.tsx
  frontend/public/components/storage-class-form.tsx
Labels: approved, component/core, component/sdk, component/shared, lgtm

#6149 Add uid property to all extension instances
  frontend/packages/console-app/src/components/detect-perspective/PerspectiveDetector.tsx
  frontend/packages/console-plugin-sdk/src/__tests__/store.spec.ts
  frontend/packages/console-plugin-sdk/src/store.ts
  frontend/packages/console-plugin-sdk/src/typings/base.ts
  frontend/packages/console-plugin-sdk/src/useExtensions.ts
  frontend/packages/console-plugin-sdk/src/withExtensions.tsx
  frontend/packages/console-shared/src/hooks/plugins-overview-tab-section.ts
Labels: approved, component/core, component/sdk, component/shared, lgtm

#5799 Column management for Pods Page
  frontend/__tests__/components/modals/column-management-modal.spec.tsx
  frontend/packages/console-shared/src/constants/common.ts
  frontend/public/actions/ui.ts
  frontend/public/components/_autocomplete.scss
  frontend/public/components/_filter-toolbar.scss
  frontend/public/components/factory/list-page.jsx
  frontend/public/components/factory/modal.tsx
  frontend/public/components/factory/table.tsx
  frontend/public/components/filter-toolbar.tsx
  frontend/public/components/modals/column-management-modal.tsx
  frontend/public/components/modals/index.ts
  frontend/public/components/pod.tsx
  frontend/public/components/workload-table.tsx
  frontend/public/reducers/ui.ts
Labels: approved, component/core, component/shared, kind/feature, lgtm

#6153 GuidedTour: fix fontsize and color of popover and modal
  frontend/packages/console-app/src/components/tour/StepComponent.tsx
  frontend/packages/console-app/src/components/tour/TourStepComponent.tsx
  frontend/packages/console-app/src/components/tour/steps/StepBadge.scss
  frontend/packages/console-app/src/components/tour/steps/StepBadge.tsx
  frontend/packages/console-app/src/components/tour/steps/StepContent.scss
  frontend/packages/console-app/src/components/tour/steps/StepContent.tsx
  frontend/packages/console-app/src/components/tour/steps/StepHeader.scss
  frontend/packages/console-app/src/components/tour/steps/StepHeader.tsx
  frontend/packages/console-app/src/components/tour/type.ts
Labels: approved, component/core, lgtm

#6172 Gherkin Scripts for Import VM
  frontend/packages/dev-console/integration-tests/features/virtulization/actions-on-Vm.feature
  frontend/packages/dev-console/integration-tests/features/virtulization/install-CNV-Operator.feature
Labels: approved, component/dev-console, lgtm

#5933 Add support to configure multiple helm chart repo using HelmChartRepository CRD
  go.mod
  go.sum
  pkg/helm/actions/fake/helmcrconfigs.go
  pkg/helm/actions/get_dynamic_client.go
  pkg/helm/actions/get_repos.go
  pkg/helm/actions/get_repos_test.go
  pkg/helm/chartproxy/config.go
  pkg/helm/handlers/handler_test.go
  pkg/helm/handlers/handlers.go
  pkg/helm/testdata/testdata.go
  pkg/server/server.go
  vendor/k8s.io/client-go/dynamic/fake/simple.go
  vendor/k8s.io/client-go/testing/actions.go
  vendor/k8s.io/client-go/testing/fake.go
  vendor/k8s.io/client-go/testing/fixture.go
  vendor/modules.txt
Labels: approved, component/backend, lgtm

#6023 Add warnings for managed resources
  frontend/public/components/edit-yaml.jsx
  frontend/public/components/modals/_modals.scss
  frontend/public/components/modals/delete-modal.jsx
  frontend/public/components/modals/index.ts
  frontend/public/components/modals/managed-resource-save-modal.tsx
  frontend/public/components/utils/_alerts.scss
  frontend/public/components/utils/managed-by.tsx
  frontend/public/module/k8s/managed-by.ts
Labels: approved, component/core, kind/feature, lgtm

#6148 Hide namespace for pipeline, runs, and resources for admin and dev views in a project context
  frontend/packages/dev-console/src/components/pipeline-resources/list-page/PipelineResourcesHeader.tsx
  frontend/packages/dev-console/src/components/pipeline-resources/list-page/PipelineResourcesRow.tsx
  frontend/packages/dev-console/src/components/pipelineruns/list-page/PipelineRunHeader.tsx
  frontend/packages/dev-console/src/components/pipelineruns/list-page/PipelineRunRow.tsx
  frontend/packages/dev-console/src/components/pipelines/list-page/PipelineHeader.tsx
  frontend/packages/dev-console/src/components/pipelines/list-page/PipelineRow.tsx
Labels: approved, component/dev-console, lgtm

#5961 topology smoke test- gherkin script
  frontend/packages/dev-console/integration-tests/features/topology/topology-application_grouping.feature
  frontend/packages/dev-console/integration-tests/features/topology/topology-chart_area_visual.feature
  frontend/packages/dev-console/integration-tests/features/topology/topology-connectting_nodes.feature
  frontend/packages/dev-console/integration-tests/features/topology/topology-display_option.feature
  frontend/packages/dev-console/integration-tests/features/topology/topology-editing_app-node.feature
  frontend/packages/dev-console/integration-tests/features/topology/topology-list_view.feature
  frontend/packages/dev-console/integration-tests/features/topology/topology-workload_sidebar.feature
  frontend/packages/dev-console/integration-tests/features/topology/topoplogy-deletion_of_workload.feature
Labels: approved, component/dev-console, lgtm

#6167 Gherkin script for getting started
  frontend/packages/dev-console/integration-tests/features/getting-started/getting_started _to_dev_perspective.feature
  frontend/packages/dev-console/integration-tests/features/getting-started/getting_started_tour_dev_perspective.feature
  frontend/packages/dev-console/integration-tests/features/getting-started/sample-card_Add_page.feature
Labels: approved, component/dev-console, lgtm

#6183 Bug 1862762: Fix pending changes tab redirection issue
  frontend/packages/kubevirt-plugin/src/utils/pending-changes.ts
  frontend/packages/kubevirt-plugin/src/utils/url.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#6169 Column Management Modal for Nodes Page, Projects Page and Namespaces Page
  frontend/packages/console-app/src/components/nodes/NodesPage.tsx
  frontend/packages/console-shared/src/selectors/namespace.ts
  frontend/packages/console-shared/src/sorts/nodes.ts
  frontend/packages/integration-tests-cypress/tests/crud/namespace-crud.spec.ts
  frontend/public/components/factory/table.tsx
  frontend/public/components/namespace.jsx
Labels: approved, component/core, component/shared, kind/feature, lgtm

#6164 Add support for minimal deployment of OCS
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/install-lso-sc.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/create-form.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/ocs-install.scss
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/ocs-request-data.ts
  frontend/packages/ceph-storage-plugin/src/utils/install.ts
Labels: approved, component/ceph, lgtm

#6184 Bug 1862801: Make VM's 'pending changes' warning more informative
  frontend/packages/kubevirt-plugin/src/components/vms/pending-changes-warning.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/types.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm-like/next-run-changes.ts
  frontend/packages/kubevirt-plugin/src/utils/pending-changes.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#6181 Only show namespace table column when all projects is selected (for all admin workloads)
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot.tsx
  frontend/public/components/build-config.tsx
  frontend/public/components/build.tsx
  frontend/public/components/configmap.jsx
  frontend/public/components/cron-job.tsx
  frontend/public/components/daemon-set.tsx
  frontend/public/components/hpa.tsx
  frontend/public/components/image-stream.tsx
  frontend/public/components/ingress.jsx
  frontend/public/components/job.tsx
  frontend/public/components/limit-range.tsx
  frontend/public/components/machine-autoscaler.tsx
  frontend/public/components/machine-health-check.tsx
  frontend/public/components/machine-set.tsx
  frontend/public/components/machine.tsx
  frontend/public/components/network-policy.jsx
  frontend/public/components/persistent-volume-claim.jsx
  frontend/public/components/replicaset.jsx
  frontend/public/components/replication-controller.jsx
  frontend/public/components/resource-quota.jsx
  frontend/public/components/routes.tsx
  frontend/public/components/secret.jsx
  frontend/public/components/service-account.jsx
  frontend/public/components/service.jsx
Labels: approved, component/core, lgtm

#6187 Bug 1856675: Fix filter toolbar initialization from URL parameters
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/filter-toolbar.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#6191 Bug 1863060: Spinner inside the modal footer needs a redesign
  frontend/packages/kubevirt-plugin/src/components/modals/modal/modal-footer.scss
  frontend/packages/kubevirt-plugin/src/components/modals/modal/modal-footer.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#6186 fix alert link on alerting rule details page to keep the user in same perspective
  frontend/public/components/monitoring/alerting.tsx
Labels: approved, component/core, component/monitoring, lgtm

#6170 Monitoring: Use <dl> for popover help text
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/style/_common.scss
Labels: approved, component/core, component/monitoring, lgtm

#6195 Bug 1856709: Remove single instance of whitespace from user input
  frontend/public/components/autocomplete.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#6196 Fixes for disk replacement
  frontend/packages/ceph-storage-plugin/src/components/attached-devices-mode/lso-disk-inventory/disk-replacement-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/attached-devices-mode/lso-disk-inventory/ocs-disks-list.tsx
  frontend/packages/ceph-storage-plugin/src/components/attached-devices-mode/lso-disk-inventory/ocs-kebab-options.tsx
  frontend/packages/ceph-storage-plugin/src/components/attached-devices-mode/lso-disk-inventory/ocs-status-column.tsx
  frontend/packages/local-storage-operator-plugin/src/utils/alert-actions-path.tsx
Labels: approved, component/ceph, component/lso, kind/bug, lgtm

#5929 Rename `mixin_pod_workload` recording rule name
  frontend/packages/dev-console/src/components/monitoring/queries.ts
Labels: approved, component/dev-console, lgtm

#6202 Bug 1865927: Fix import wizard
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/vm-settings-tab-state-update.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#6225 Bug 1865998: Tolerate multiple package manifests with the same name
  frontend/public/module/k8s/k8s.ts
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, component/core, lgtm

#6239 Bug 1866033: Use Monaco APIs to set YAML editor value
  frontend/public/components/edit-yaml.jsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#6200 Bug 1862956: Fix loading error message in VM's flavor modal
  frontend/packages/kubevirt-plugin/src/components/modals/vm-flavor-modal/vm-flavor-modal.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#6203 Add namespace choice to obc creation function
  frontend/packages/noobaa-storage-plugin/integration-tests/tests/obcTest.scenario.ts
  frontend/packages/noobaa-storage-plugin/integration-tests/views/obcPage.view.ts
Labels: approved, component/noobaa, lgtm

#6210 Bug 1858317: Change type of VLAN attribute for CNV bridge in NADs
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionsForm.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/network-attachment-definition, lgtm

#6217 Bug 1856645: Query Browser: Fix poller time range
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/monitoring, lgtm

#6220 Bug 1846894: remove namespace if resource is not namespaced and namespace is provided
  frontend/public/components/edit-yaml.jsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#6222 Bug 1862537: Change pending changes alert when making a change
  frontend/packages/kubevirt-plugin/src/components/Alerts/PendingChangesAlert.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/boot-order-modal/boot-order-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/vm-flavor-modal/vm-flavor-modal.tsx
  frontend/packages/kubevirt-plugin/src/selectors/vm/devices.ts
  frontend/packages/kubevirt-plugin/src/strings/vm/status.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#6226 Bug 1865930: Fix runtime error on project details page
  frontend/public/components/graphs/area.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#6235 Fix extra whitespace between types in topology sidebar
  frontend/packages/dev-console/src/components/topology/TopologyPage.scss
Labels: approved, component/dev-console, kind/bug, lgtm

#6053 fix log completiontime issue
  frontend/packages/dev-console/src/components/pipelineruns/detail-page-tabs/PipelineRunLogs.tsx
Labels: approved, component/dev-console, lgtm

#6201 tests: prefix Cypress JUnit files with `junit-`
  frontend/packages/integration-tests-cypress/reporter-config.json
Labels: approved, lgtm

#6204 Bug 1865828: Components with withHandlePromise wrapper should be called accordingly
  frontend/public/components/modals/configure-count-modal.tsx
  frontend/public/components/modals/configure-update-strategy-modal.tsx
  frontend/public/components/modals/tags.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/core, lgtm

#6198 Bug 1858229: Make Mode Detection independent of Storage Cluster CR name
  frontend/packages/ceph-storage-plugin/src/components/independent-mode/install.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/install-lso-sc.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/create-form.tsx
  frontend/packages/ceph-storage-plugin/src/features.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/ceph, lgtm

#6125 Bug 1844944: No default storage class in add disk
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/review-tab/storage-review.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/selectors/config-map/sc-defaults.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, lgtm

#6215 Unit test for IPV6 Validation
  frontend/packages/ceph-storage-plugin/src/components/independent-mode/utils.spec.ts
Labels: approved, component/ceph, lgtm

#6243 ContextProviderExtension: use spread operator instead of clonedeep
  frontend/packages/console-plugin-sdk/src/store.ts
Labels: approved, component/sdk, kind/bug, lgtm

#6189 Bug 1862934: Trigger the inactivity logout method when Masthead component is mounted
  frontend/public/components/masthead-toolbar.jsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#6232 Fix crash when knative deployment is selected in topology
  frontend/packages/dev-console/src/components/topology/TopologyResourcePanel.tsx
  frontend/packages/knative-plugin/src/components/overview/KnativeResourceOverviewPage.tsx
Labels: approved, component/dev-console, component/knative, kind/bug, lgtm

#6213 Adding lso plugin as a dependency for ceph-storage-plugin
  frontend/packages/ceph-storage-plugin/package.json
Labels: approved, component/ceph, lgtm

#6228 Bug 1866845: support pipeline task resources to be an optional field based on spec
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarResource.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/update-utils.ts
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/validation-utils.ts
  frontend/packages/dev-console/src/utils/pipeline-augment.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#6231 Bug 1860074: Address two issues on the Install Operator form
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
  frontend/public/components/utils/_details-item.scss
  frontend/public/style.scss
  frontend/public/style/_forms.scss
  frontend/public/style/mixin/_popover-button.scss
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/olm, lgtm

#6240 Add E2E tests for RGW related Items in Object Service Dashboard
  frontend/packages/noobaa-storage-plugin/integration-tests/tests/objectSerivceDashboard.scenario.ts
  frontend/packages/noobaa-storage-plugin/integration-tests/tests/objectServiceDashboard.scenario.ts
  frontend/packages/noobaa-storage-plugin/integration-tests/utils/consts.ts
  frontend/packages/noobaa-storage-plugin/integration-tests/views/noobaaDashboardPage.view.ts
  frontend/packages/noobaa-storage-plugin/package.json
  frontend/packages/noobaa-storage-plugin/src/components/capacity-breakdown/capacity-breakdown-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/data-consumption-card/performance-graph.tsx
Labels: approved, component/noobaa, lgtm

#6199 Bug 1866214: Delete only KSVC, not Route associated with KSVC
  frontend/packages/dev-console/src/utils/application-utils.ts
  frontend/packages/knative-plugin/src/topology/__tests__/data-transformer.spec.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, component/knative, lgtm

#6241 fixes edit access check on edge for pubSub, style on URI help text
  frontend/packages/knative-plugin/src/components/add/channels/sections/KafkaChannelSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/SinkSection.tsx
  frontend/packages/knative-plugin/src/topology/components/edges/EventingPubSubLink.tsx
Labels: approved, component/knative, lgtm

#6246 [release-4.5] Bug 1866330: Make the Node Labelling Note more generic to accomodate LSO and dynam…
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/create-form.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, component/ceph, lgtm

#6242 Bug 1862089: Fix Backing Store selection flickering issue in Bucket Class creation wizard
  frontend/packages/noobaa-storage-plugin/src/components/bucket-class/wizard-pages/backingstore-page.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/noobaa, lgtm

#5896 Bug 1855741: cherry-pick 4.5 fix git url validation
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-data.ts
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/__mocks__/import-validation-mock.ts
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils-data.ts
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
  frontend/packages/dev-console/src/components/import/import-types.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, lgtm

#6233 Bug 1866548: Update Cluster Settings unit test to reflect new design changes
  frontend/__mocks__/clusterVersinMock.js
  frontend/__mocks__/clusterVersionMock.ts
  frontend/__tests__/components/cluster-settings.spec.tsx
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/module/k8s/types.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#6266 Use helm chart icon for collapsed helm group node
  frontend/packages/dev-console/src/components/topology/helm/components/HelmReleaseNode.tsx
Labels: approved, component/dev-console, lgtm

#5988 [release-4.5] Bug 1856867: Do not prune empty values from sample on create operand page
  frontend/packages/console-shared/src/components/dynamic-form/utils.ts
  frontend/packages/console-shared/src/components/synced-editor/index.tsx
  frontend/packages/console-shared/src/utils/utils.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/operand-form.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, component/olm, component/shared, lgtm

#6214 Fix RGW Performance Chart
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/utilization-card/utils.tsx
  frontend/packages/noobaa-storage-plugin/src/components/capacity-breakdown/capacity-breakdown-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/data-consumption-card/data-consumption-card-dropdown.tsx
  frontend/packages/noobaa-storage-plugin/src/components/data-consumption-card/data-consumption-card.scss
  frontend/packages/noobaa-storage-plugin/src/components/data-consumption-card/data-consumption-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/data-consumption-card/performance-graph.tsx
  frontend/packages/noobaa-storage-plugin/src/queries.ts
Labels: approved, component/ceph, component/noobaa, lgtm

#5490 Bug 1829542: Add mount guest agent tools to vm wizard
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/vm-settings-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/vm-settings-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/strings/renderable-field.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/os-flavor.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/vm-settings-tab.scss
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/vm-settings-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/types.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/utils/renderable-field-utils.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/kubevirt, component/olm, lgtm

#6218 Change image stream dropdown labels
  frontend/packages/dev-console/src/components/import/image-search/ImageStreamDropdown.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageStreamNsDropdown.tsx
Labels: approved, component/dev-console, kind/bug, lgtm

#6264 Bug 1866035: fix util to get Kiali link from consoleLinks
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, lgtm

#6227 Bug 1866114: Don't store OpenAPI definitions in localStorage
  frontend/packages/console-shared/src/components/editor/yaml-editor-utils.ts
  frontend/public/components/sidebars/explore-type-sidebar.tsx
  frontend/public/module/k8s/swagger.ts
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, component/core, component/shared, lgtm

#6271 Bug 1866217: Open console in new Window, not tab
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-console.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#6270 Bug 1840958: Source can be empty in general step
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/vm-settings-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/vm-settings-tab.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#6253 tests: improve OLM scenario reliability
  frontend/packages/operator-lifecycle-manager/integration-tests/scenarios/global-installmode.scenario.ts
  frontend/packages/operator-lifecycle-manager/integration-tests/scenarios/single-installmode.scenario.ts
Labels: approved, component/olm, lgtm

#6269 Bug 1844944: Add default labels to default sc
  frontend/packages/kubevirt-plugin/src/components/form/k8s-resource-select-row.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/kubevirt, component/shared, lgtm

#6230 Add fix to prevent application reset
  frontend/packages/dev-console/src/components/import/DeployImage.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageSearch.tsx
  frontend/packages/dev-console/src/components/import/import-types.ts
Labels: approved, component/dev-console, kind/bug, lgtm

#6276 Bug 1865828: User 'close' method from the props
  frontend/public/components/modals/tags.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/core, lgtm

#6277 Bug 1840958: Dont skip validation of url and container sources
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/vm-settings-tab-initial-state.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#6238 Bug 1866090: Fix selector spec descriptor link behavior
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/index.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/index.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/olm, lgtm

#6206 Bug 1861821: Fix layout on legacy operand form
  frontend/packages/operator-lifecycle-manager/src/components/operand/DEPRECATED_operand-form.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/olm, lgtm

#6216 Bug 1866084: AWS EBS parameters for EBS CSI storageclass
  frontend/public/components/storage-class-form.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#6192 Bug 1854196: Use consistent title case for operand form labels
  frontend/packages/console-shared/src/components/dynamic-form/utils.ts
  frontend/packages/operator-lifecycle-manager/integration-tests/scenarios/descriptors.scenario.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/olm, component/shared, lgtm

#6265 preselect uri options if no resources exists
  frontend/packages/knative-plugin/src/components/add/event-sources/SinkSection.tsx
Labels: approved, component/knative, lgtm

#6274 Bug 1856807: When importing, success message say import vm
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/result-tab/success-results.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, lgtm

#6279 tests: add fake `DBUS_SESSION_BUS_ADDRESS` to improve CI reliability
  test-prow-e2e.sh
Labels: approved, lgtm

#6283 Bug 1867238: utilize channels from ClusterVersion when available
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/modals/cluster-channel-modal.tsx
  frontend/public/components/notification-drawer.tsx
  frontend/public/module/k8s/cluster-settings.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#6284 Bug 1867201: fix bug where Routes created set route.spec.port.targetP…
  frontend/public/components/routes/create-route.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/core, lgtm

#6285 Bug 1856352: Fix y-domain for area charts with all zero data points
  frontend/public/components/graphs/area.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#6258 Add create project link in all the dev console pages
  frontend/packages/dev-console/src/components/AddPage.tsx
  frontend/packages/dev-console/src/components/BuildConfigPage.tsx
  frontend/packages/dev-console/src/components/ProjectSelectPage.tsx
  frontend/packages/dev-console/src/components/helm/HelmReleaseListPage.tsx
  frontend/packages/dev-console/src/components/import/SamplesCatalog.tsx
  frontend/packages/dev-console/src/components/monitoring/MonitoringPage.tsx
  frontend/packages/dev-console/src/components/monitoring/__tests__/MonitoringPage.spec.tsx
  frontend/packages/dev-console/src/components/pipelineruns/PipelineRunsPage.tsx
  frontend/packages/dev-console/src/components/pipelines/PipelinesPage.tsx
  frontend/packages/dev-console/src/components/pipelines/__tests__/PipelinesPage.spec.tsx
  frontend/packages/dev-console/src/components/projects/CreateProjectListPage.tsx
  frontend/packages/dev-console/src/components/projects/details/ProjectDetailsPage.tsx
  frontend/packages/dev-console/src/components/projects/details/__tests__/ProjectDetailsPage.spec.tsx
  frontend/packages/dev-console/src/components/topology/TopologyPage.tsx
  frontend/packages/dev-console/src/components/topology/__tests__/TopologyPage.spec.tsx
Labels: approved, component/dev-console, lgtm

#6290 Bug 1850562: RHV URL validation is missing https://
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/providers/ovirt-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/providers/ovirt-provider-tab-validation.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#6278 Bug 1840958: Move provision source to component
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/provision-source.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/vm-settings-tab.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#6273 Bug 1863000: deployment of vmware fails if URL contains space
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/provider-definitions.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/providers/v2vvmware-tab-validation.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/selectors/immutable/provider/vmware/selectors.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/import-providers-tab/providers/vm-import-password.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#6247 PipelineRunLogs: remove padding from pipeline logs task nav
  frontend/packages/dev-console/src/components/pipelineruns/detail-page-tabs/PipelineRunLogs.scss
Labels: approved, component/dev-console, lgtm

#6319 Fix cypress test failures
  frontend/packages/integration-tests-cypress/support/login.ts
Labels: approved, lgtm

#6254 Use fallback img for icon and add base64 img for tours
  frontend/packages/console-app/src/components/quick-starts/catalog/QuickStartTile.tsx
  frontend/packages/console-app/src/components/quick-starts/data/explore-pipeline-quickstart.ts
  frontend/packages/console-app/src/components/quick-starts/data/explore-serverless-quickstart.ts
  frontend/packages/console-app/src/components/quick-starts/data/install-associate-pipeline-quickstart.ts
  frontend/packages/console-app/src/components/quick-starts/data/serverless-application-quickstart.ts
  frontend/packages/console-app/src/components/quick-starts/data/tour-icons.ts
  frontend/packages/console-shared/src/components/index.ts
  frontend/packages/console-shared/src/components/utils/FallbackImg.tsx
  frontend/packages/console-shared/src/components/utils/index.ts
Labels: approved, component/core, component/shared, lgtm

#6303 Bug 1868151: fix invalidly nested help text
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/package-manifest.tsx
  frontend/public/components/user.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/olm, lgtm

#6304 Bug 1856593: Change from hideNameFilter flag to hideToolbar
  frontend/public/components/filter-toolbar.tsx
  frontend/public/components/search.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#6308 traffic splitting modal should source info from spec and not status
  frontend/packages/knative-plugin/src/components/traffic-splitting/TrafficSplitting.tsx
Labels: approved, component/knative, lgtm

#6309 Bug 1868269: Fix VM's pending changes alert
  frontend/packages/kubevirt-plugin/src/components/modals/vm-flavor-modal/vm-flavor-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/pending-changes-warning.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/types.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#6312 remove the explicit chain method in channel selection
  frontend/packages/knative-plugin/src/components/add/channels/form-fields/ChannelSelector.tsx
Labels: approved, component/knative, kind/bug, lgtm

#6317 Bug 1868353: v2v: do not let backend delete saved secrets
  frontend/packages/kubevirt-plugin/src/constants/v2v.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/correct-vm-import-provider-secret-labels.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#6268 Fix delayed appearance of relationships when exanding groups
  frontend/packages/dev-console/src/components/topology/data-transforms/updateModelFromFilters.ts
Labels: approved, component/dev-console, kind/bug, lgtm

#6325 Bug 1867900: Fixed incorrect node name in the nodeSelector while creating Auto Discovery CR
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/create-sc.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/state.ts
  frontend/packages/local-storage-operator-plugin/src/components/auto-detect-volume/auto-detect-volume-inner.tsx
  frontend/packages/local-storage-operator-plugin/src/components/auto-detect-volume/auto-detect-volume.tsx
  frontend/packages/local-storage-operator-plugin/src/components/auto-detect-volume/discovery-request-data.ts
  frontend/packages/local-storage-operator-plugin/src/components/auto-detect-volume/state.ts
  frontend/packages/local-storage-operator-plugin/src/components/auto-detect-volume/types.ts
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/create-local-volume-set.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/local-volume-set-request-data.ts
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/state.ts
  frontend/packages/local-storage-operator-plugin/src/constants/index.ts
  frontend/packages/local-storage-operator-plugin/src/utils/index.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/ceph, component/lso, lgtm

#6315 Bug 1868394: Fix boot-order change alert when VM is running
  frontend/packages/kubevirt-plugin/src/selectors/vm-like/next-run-changes.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, lgtm

#6293 Bug 1867996: Customer Feedback Improvements Epic ODC-3418
  frontend/packages/dev-console/integration-tests/features/addFlow/runtime-Icon-ODC-3418.feature
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, lgtm

#6280 Bug 1866514: If CSV doesn't have status field, check it's labels for 'olm.copiedFrom' label
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/olm, lgtm

#6294 Update Event Source & Channel Sources for Add flow
  frontend/packages/knative-plugin/src/plugin.tsx
  frontend/packages/knative-plugin/src/topology/topology-plugin.ts
  frontend/packages/knative-plugin/src/utils/create-channel-utils.ts
  frontend/packages/knative-plugin/src/utils/fetch-dynamic-eventsources-utils.ts
Labels: approved, component/knative, lgtm

#6327 tests: update JUnit report filenames
  frontend/integration-tests/protractor.conf.ts
  frontend/packages/integration-tests-cypress/reporter-config.json
Labels: approved, lgtm

#5293 Bug 1868475: Adds test for independent Mode Dashboard
  frontend/packages/ceph-storage-plugin/src/__mocks__/independent-mode-dashboard-data.ts
  frontend/packages/ceph-storage-plugin/src/__tests__/independent-dashboard-breakdown-card.spec.tsx
  frontend/packages/ceph-storage-plugin/src/__tests__/independent-dashboard-details-card.spec.tsx
  frontend/packages/ceph-storage-plugin/src/components/independent-dashboard-page/breakdown-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/independent-dashboard-page/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/independent-dashboard-page/details-card/card.tsx
  frontend/packages/ceph-storage-plugin/src/components/independent-dashboard-page/status-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/independent-dashboard-page/utilization-card.tsx
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/ceph, lgtm

#6295 Bug 1868012: make layout of DNS help link on Route details page cons…
  frontend/public/components/routes.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#6328 Bug 1866928: add support for Grafana valueMaps to monitoring dashboards
  frontend/public/components/monitoring/dashboards/single-stat.tsx
  frontend/public/components/monitoring/dashboards/types.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/monitoring, lgtm

#6223 Fix for topology graph view being auto-reset
  frontend/packages/dev-console/src/components/topology/TopologyDataController.tsx
  frontend/packages/dev-console/src/components/topology/TopologyDataRenderer.tsx
  frontend/packages/dev-console/src/components/topology/TopologyDataRetriever.tsx
  frontend/packages/dev-console/src/components/topology/TopologyExtensionLoader.tsx
  frontend/packages/dev-console/src/components/topology/TopologyView.tsx
  frontend/packages/dev-console/src/components/topology/__tests__/TopologyDataController.spec.tsx
  frontend/packages/dev-console/src/components/topology/filters/TopologyFilterBar.tsx
  frontend/packages/dev-console/src/components/topology/filters/filter-utils.ts
  frontend/packages/dev-console/src/components/topology/list-view/TopologyListView.scss
  frontend/packages/dev-console/src/components/topology/list-view/TopologyListView.tsx
Labels: approved, component/dev-console, kind/bug, lgtm

#6329 Bug 1867824: Fix dynamic form field ordering logic
  frontend/packages/console-shared/src/components/dynamic-form/const.ts
  frontend/packages/console-shared/src/components/dynamic-form/templates.tsx
  frontend/packages/console-shared/src/components/dynamic-form/types.ts
  frontend/packages/console-shared/src/components/dynamic-form/utils.spec.ts
  frontend/packages/console-shared/src/components/dynamic-form/utils.ts
  frontend/packages/console-shared/src/components/dynamic-form/widgets.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/const.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand/utils.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/olm, component/shared, lgtm

#6272 Bug 1867475: Gherkin Scripts for ODC-3325
  frontend/packages/dev-console/integration-tests/features/Knative/channel-ODC-3225.feature
  frontend/packages/dev-console/integration-tests/features/Knative/subscription-Channel-ODC-3225.feature
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, lgtm

#6152 Bug 1861957: Overhaul kubevirt plugin tests
  frontend/packages/console-shared/src/test-utils/utils.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/kubevirtUIResource.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/non-admin.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/common.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.action.base.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.action.clone.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.base.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.boot-order.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.dedicated-resources.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.flavor.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.scheduling.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.list-filtering.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.tab.console.rdp.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.tab.console.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.tab.dashboard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.tab.yaml.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.windows-guest-tools.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.wizard.validation.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmtemplate.wizard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/wizard.validation.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/dialogs/cloneVirtualMachineDialog.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/dialogs/editAffinityView.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/dialogs/editBootOrderView.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/dialogs/editStatusView.ts
Labels: approved, component/kubevirt, component/shared, lgtm, ok-to-test

#6229 Hide topology display options that are not effective for the current view
  frontend/packages/dev-console/src/components/topology/filters/FilterDropdown.tsx
  frontend/packages/dev-console/src/components/topology/filters/TopologyFilterBar.tsx
  frontend/packages/dev-console/src/components/topology/filters/__tests__/FilterDropdown.spec.tsx
  frontend/packages/knative-plugin/src/topology/knativeFilters.ts
  frontend/packages/kubevirt-plugin/src/topology/__tests__/kubevirt-data-transformer.spec.ts
  frontend/packages/kubevirt-plugin/src/topology/index.ts
  frontend/packages/kubevirt-plugin/src/topology/kubevirtFilters.ts
  frontend/packages/kubevirt-plugin/src/topology/topology-plugin.ts
Labels: approved, component/dev-console, component/knative, component/kubevirt, kind/bug, lgtm

#6256 Fix to correctly size collapsed groups in topology view
  frontend/packages/dev-console/src/components/topology/components/groups/ApplicationNode.tsx
  frontend/packages/dev-console/src/components/topology/components/groups/GroupNode.tsx
  frontend/packages/dev-console/src/components/topology/components/groups/GroupNodeAnchor.ts
  frontend/packages/dev-console/src/components/topology/components/groups/ResourceKindsInfo.tsx
  frontend/packages/dev-console/src/components/topology/components/groups/index.ts
  frontend/packages/dev-console/src/components/topology/data-transforms/data-transformer.ts
  frontend/packages/dev-console/src/components/topology/helm/components/HelmReleaseNode.tsx
  frontend/packages/dev-console/src/components/topology/operators/components/OperatorBackedServiceNode.tsx
  frontend/packages/knative-plugin/src/topology/components/groups/KnativeServiceNode.tsx
Labels: approved, component/dev-console, component/knative, kind/bug, lgtm

#6267 Fix to hide view switch in topology when no project selected
  frontend/packages/dev-console/src/components/EmptyState.tsx
  frontend/packages/dev-console/src/components/topology/TopologyDataController.tsx
  frontend/packages/dev-console/src/components/topology/TopologyDataRenderer.tsx
  frontend/packages/dev-console/src/components/topology/TopologyPage.tsx
  frontend/packages/dev-console/src/components/topology/__tests__/TopologyDataController.spec.tsx
  frontend/packages/dev-console/src/components/topology/__tests__/TopologyPage.spec.tsx
  frontend/packages/dev-console/src/components/topology/data-transforms/ModelContext.ts
Labels: approved, component/dev-console, kind/bug, lgtm

#6207 Bug 1854151: Add project list page in developer catalog for all projects
  frontend/public/components/catalog/catalog-page.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#6310 Add spin animation to pipelinerun log tabs
  frontend/packages/dev-console/src/components/pipelineruns/detail-page-tabs/PipelineRunLogs.tsx
Labels: approved, component/dev-console, lgtm

#6348 Bug 1869196: Disable card model if using SRIOV interface
  frontend/packages/kubevirt-plugin/src/components/modals/nic-modal/nic-modal.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#6298 Bug 1868103: adds badge support for KnativeEventing creation
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.scss
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/olm, lgtm

#6332 Improved Cypress e2e reporting
  frontend/integration-tests/protractor.conf.ts
  frontend/package.json
  frontend/packages/integration-tests-cypress/reporter-config.json
  frontend/yarn.lock
  test-cypress.sh
Labels: approved, lgtm

#6296 Bug 1868353: update v2v temporary label
  frontend/packages/kubevirt-plugin/src/constants/v2v.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#6190 Bug 1862508: Create PVC dropdown text update
  frontend/packages/kubevirt-plugin/src/plugin.tsx
  frontend/public/components/persistent-volume-claim.jsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/kubevirt, lgtm

#6297 Bug 1865811: Prevent Firefox bug where cluster names could overlap
  frontend/public/components/cluster-settings/_cluster-settings.scss
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#6316 Bug 1868426: Unfilter OS dropdown in VM wizard when choosing flavor or workload
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/vm-settings-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/os-flavor.tsx
  frontend/packages/kubevirt-plugin/src/selectors/vm-template/combined-dependent.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, lgtm

#6323 Bug 1843532: Fix VM import status reporting for CDI imports
  frontend/packages/kubevirt-plugin/src/components/connected-vm-console/connected-vm-console.tsx
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/overview-dashboard/inventory.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/vm-disks.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/types.ts
  frontend/packages/kubevirt-plugin/src/components/vms/vm-console.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-dashboard.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-details-page.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-details.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm.tsx
  frontend/packages/kubevirt-plugin/src/constants/cdi.ts
  frontend/packages/kubevirt-plugin/src/plugin.tsx
  frontend/packages/kubevirt-plugin/src/selectors/pod/selectors.ts
  frontend/packages/kubevirt-plugin/src/selectors/pvc/selectors.ts
  frontend/packages/kubevirt-plugin/src/selectors/selectors.ts
  frontend/packages/kubevirt-plugin/src/statuses/vm/vm-status.ts
  frontend/packages/kubevirt-plugin/src/topology/kubevirt-data-transformer.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#6330 Bug 1866296: wait for Jaeger tile before trying to click
  frontend/packages/operator-lifecycle-manager/integration-tests/scenarios/global-installmode.scenario.ts
  frontend/packages/operator-lifecycle-manager/integration-tests/scenarios/single-installmode.scenario.ts
  frontend/packages/operator-lifecycle-manager/integration-tests/views/operator-hub.view.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/olm, lgtm

#6335 Bug 1850538: Persistent dashboard to reflect ceph health status as Warning
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/status-card/utils.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/ceph, lgtm

#6337 Bug 1869127: Don't lowercase names in `k8sCreate`
  frontend/__tests__/resource.spec.ts
  frontend/public/module/k8s/resource.js
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#6282 Bug 1867526: support pipeline task resources to be an optional field based on spec
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarResource.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/update-utils.ts
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/validation-utils.ts
  frontend/packages/dev-console/src/utils/pipeline-augment.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, lgtm

#6299 Bug 1866034: Fix to reduce pod donut text size when text is long
  frontend/packages/console-shared/src/utils/pod-ring-text.scss
  frontend/packages/console-shared/src/utils/pod-ring-utils.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/shared, kind/bug, lgtm

#6354 Bug 1869633: Show only boot-order at pending changes warning on boot order change
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/disk-wrapper.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm-like/next-run-changes.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, lgtm

#6355 Bug 1862903: "Add disk" button exist in the wizard but not active
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/networking-tab/networking-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/storage-tab/storage-tab.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#6356 Bug 1866051: Effort to left align content filters so they are consistent with pf-c-toolbar
  frontend/public/components/RBAC/_rbac.scss
  frontend/public/components/RBAC/role.jsx
  frontend/public/components/RBAC/rules.jsx
  frontend/public/components/cluster-settings/global-config.tsx
  frontend/public/components/monitoring/alert-manager-config.tsx
  frontend/public/style/_common.scss
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/monitoring, lgtm

#6360 Bug 1866296: Disable e2e OLM test flakes
  frontend/packages/operator-lifecycle-manager/integration-tests/scenarios/global-installmode.scenario.ts
  frontend/packages/operator-lifecycle-manager/integration-tests/scenarios/single-installmode.scenario.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/olm, lgtm

#6252 Bug 1859258: Pf package update with fix for nested drawers
  frontend/package.json
  frontend/packages/console-shared/src/components/pod/PodRingSet.tsx
  frontend/packages/console-shared/src/components/status/icons.tsx
  frontend/packages/container-security/src/const.ts
  frontend/packages/dev-console/src/models/pipelines.ts
  frontend/packages/knative-plugin/src/models.ts
  frontend/packages/knative-plugin/src/utils/fetch-dynamic-eventsources-utils.ts
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/status/pods.tsx
  frontend/public/actions/ui.ts
  frontend/public/components/graphs/area.tsx
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/components/notification-drawer.tsx
  frontend/public/reducers/ui.ts
  frontend/public/style/_overrides.scss
  frontend/yarn.lock
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/core, component/dev-console, component/knative, component/olm, component/shared, lgtm

#6131 [release-4.5] Bug 1861358: fixes issue with ksvc decorator not showing base route
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, component/knative, lgtm

#6286 Bug 1867864: restrict multiple selections of a revision in traffic modal
  frontend/packages/knative-plugin/src/components/revisions/DeleteRevisionModalController.tsx
  frontend/packages/knative-plugin/src/components/traffic-splitting/TrafficModalRevisionsDropdownField.tsx
  frontend/packages/knative-plugin/src/components/traffic-splitting/TrafficSplitting.tsx
  frontend/packages/knative-plugin/src/components/traffic-splitting/TrafficSplittingFields.tsx
  frontend/packages/knative-plugin/src/components/traffic-splitting/__tests__/TrafficModalRevisionsDropdownField.spec.tsx
  frontend/packages/knative-plugin/src/components/traffic-splitting/__tests__/TrafficSplittingFields.spec.tsx
  frontend/packages/knative-plugin/src/utils/__mocks__/traffic-splitting-utils-mock.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/knative, kind/bug, lgtm

#6136 [release-4.5] Bug 1861433: Show descriptions for all dynamic form fields
  frontend/packages/console-shared/src/components/dynamic-form/fields.tsx
  frontend/packages/console-shared/src/components/dynamic-form/styles.scss
  frontend/packages/console-shared/src/components/dynamic-form/templates.tsx
  frontend/packages/console-shared/src/components/dynamic-form/utils.ts
  frontend/public/components/modals/configure-update-strategy-modal.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, component/core, component/shared, lgtm

#6339 Bug 1866229: Pass impersonate info to GQL init message payload
  frontend/public/actions/ui.ts
  frontend/public/co-fetch.js
  frontend/public/graphql/client.ts
  go.mod
  go.sum
  pkg/graphql/resolver/utils.go
  pkg/server/server.go
  vendor/github.com/rawagner/graphql-transport-ws/graphqlws/http.go
  vendor/github.com/rawagner/graphql-transport-ws/graphqlws/internal/connection/connection.go
  vendor/modules.txt
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/backend, component/core, lgtm

#6378 Bug 1870271: fix vertical alignment of Capability Level line
  frontend/public/components/catalog/_catalog.scss
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#6208 Bug 1870469: Check for podName before displaying Task logs
  frontend/packages/dev-console/src/components/pipelineruns/detail-page-tabs/PipelineRunLogs.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#6209 Bug 1870474: Show monitoring alert decorator for alerts that are warning/error
  frontend/packages/console-shared/src/components/alerts/AlertSeverityIcon.tsx
  frontend/packages/console-shared/src/utils/__mocks__/alerts-and-rules-data.ts
  frontend/packages/console-shared/src/utils/__tests__/alert-utils.spec.ts
  frontend/packages/console-shared/src/utils/alert-utils.ts
  frontend/packages/dev-console/src/components/topology/components/nodes/MonitoringAlertsDecorator.tsx
  frontend/packages/dev-console/src/components/topology/list-view/TopologyListViewNode.tsx
  frontend/public/components/overview/project-overview.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/dev-console, component/shared, kind/bug, lgtm

#6300 Bug 1868358: Fix pipeline workspace volume-type empty-directory
  frontend/packages/dev-console/src/components/pipelines/modals/common/PiplelineWorkspacesSection.tsx
  frontend/packages/dev-console/src/components/pipelines/modals/start-pipeline/StartPipelineModal.tsx
  frontend/packages/dev-console/src/utils/pipeline-augment.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#6370 Bug 1870076: Gherkin Scripts for ODC-4004
  frontend/packages/dev-console/integration-tests/features/Knative/broker-ODC-4004.feature
  frontend/packages/dev-console/integration-tests/features/Knative/trigger-Broker-ODC-4004.feature
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, lgtm

#6382 Bug 1870537: Navigating to an uploading golden PVC page results in 404
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#6236 Bug 1870628: Fix actions on workload nodes in topology
  frontend/packages/dev-console/src/components/topology/actions/workloadActions.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#6281 Bug 1870632: Add context menu and details panel for SBRs in topology
  frontend/packages/dev-console/src/components/topology/TopologyEdgePanel.tsx
  frontend/packages/dev-console/src/components/topology/TopologyEdgeResourcesPanel.tsx
  frontend/packages/dev-console/src/components/topology/TopologyView.tsx
  frontend/packages/dev-console/src/components/topology/components/componentFactory.ts
  frontend/packages/dev-console/src/components/topology/components/componentUtils.ts
  frontend/packages/dev-console/src/components/topology/components/edges/ConnectsTo.tsx
  frontend/packages/dev-console/src/components/topology/components/edges/ServiceBinding.tsx
  frontend/packages/dev-console/src/components/topology/operators/TopologyServiceBindingRequestPanel.tsx
  frontend/packages/dev-console/src/components/topology/operators/actions/removeServiceBinding.tsx
  frontend/packages/dev-console/src/components/topology/operators/actions/serviceBindings.ts
  frontend/packages/dev-console/src/components/topology/operators/components/operatorsComponentFactory.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#6301 Bug 1870606: Update error message for bootstrapServers and topics
  frontend/packages/knative-plugin/src/components/add/event-sources/KafkaSourceSection.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/knative, kind/bug, lgtm

#6341 Bug 1870634: Fix slow reaction time on topology filter changes
  frontend/packages/dev-console/src/components/topology/data-transforms/updateModelFromFilters.ts
  frontend/packages/dev-console/src/components/topology/list-view/TopologyListView.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#6362 Bug 1870627: Fix to maintain URL params on topology view switch
  frontend/packages/dev-console/src/components/topology/TopologyPage.tsx
  frontend/packages/dev-console/src/components/topology/TopologyView.tsx
  frontend/packages/dev-console/src/components/topology/__tests__/TopologyPage.spec.tsx
  frontend/packages/dev-console/src/components/topology/filters/TopologyFilterBar.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#6369 Bug 1869998: Fix broken BMN list page due to name filter
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/BareMetalNodesPage.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/BareMetalNodesTable.tsx
  frontend/packages/metal3-plugin/src/components/types.ts
  frontend/packages/metal3-plugin/src/selectors/csr.ts
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, component/metal3, lgtm

#6219 Bug 1870670: Improve spacing for RadioGroupFields and the image search
  frontend/packages/console-shared/src/components/formik-fields/RadioGroupField.scss
  frontend/packages/dev-console/src/components/import/image-search/ImageSearch.scss
  frontend/packages/dev-console/src/components/import/image-search/ImageSearch.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/dev-console, component/shared, kind/bug, lgtm

#6342 Bug 1867009: Apply proper details item spacing for member status
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/status/index.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/olm, lgtm

#6383 Bug 1870536: Add check 'Failure' condition to the Status component
  frontend/packages/console-shared/src/components/status/Status.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/shared, lgtm

#6387 Bug 1862885: Stop immediate event propagation in dropdown onClick
  frontend/public/components/utils/dropdown.jsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm
