Repository openshift/console, pull requests merged in 2020-04, with the labels that each got.

#4843 New product logos
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/imgs/logos/redhat.svg
  frontend/public/imgs/okd-favicon.ico
  frontend/public/imgs/openshift-dedicated-logo.svg
  frontend/public/imgs/openshift-favicon.ico
  frontend/public/imgs/openshift-logo.svg
  frontend/public/imgs/openshift-online-logo.svg
  frontend/public/imgs/openshift-platform-logo.svg
Labels: approved, component/core, lgtm

#4785 Add upgrade actions to the helm release list
  frontend/packages/dev-console/src/actions/modify-helm-release.ts
  frontend/packages/dev-console/src/components/helm/HelmChartVersionDropdown.tsx
  frontend/packages/dev-console/src/components/helm/HelmInstallForm.tsx
  frontend/packages/dev-console/src/components/helm/HelmInstallPage.tsx
  frontend/packages/dev-console/src/components/helm/HelmInstallUpgradeForm.tsx
  frontend/packages/dev-console/src/components/helm/HelmInstallUpgradePage.tsx
  frontend/packages/dev-console/src/components/helm/HelmReleaseDetailsPage.tsx
  frontend/packages/dev-console/src/components/helm/HelmReleaseHeader.tsx
  frontend/packages/dev-console/src/components/helm/HelmReleaseRow.tsx
  frontend/packages/dev-console/src/components/helm/__tests__/HelmInstallUpgradeForm.spec.tsx
  frontend/packages/dev-console/src/components/helm/__tests__/helm-release-mock-data.ts
  frontend/packages/dev-console/src/components/helm/__tests__/helm-utils.spec.ts
  frontend/packages/dev-console/src/components/helm/helm-types.ts
  frontend/packages/dev-console/src/components/helm/helm-utils.ts
  frontend/packages/dev-console/src/components/helm/helm-validation-utils.ts
  frontend/packages/dev-console/src/components/topology/actions/helmReleaseActions.ts
  frontend/packages/dev-console/src/plugin.tsx
Labels: approved, component/backend, component/ceph, component/core, component/dashboard, component/dev-console, component/kubevirt, component/metal3, component/noobaa, component/olm, component/sdk, component/shared, kind/feature, lgtm

#4840 Created new extension to show health status from K8s Resources
  frontend/packages/console-plugin-sdk/src/typings/dashboards.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/health-item.tsx
  frontend/public/components/utils/k8s-watch-hook.ts
Labels: approved, component/core, component/dashboard, component/sdk, lgtm

#4870 Monitoring: Add alert counts by severity to silence details page
  frontend/public/components/monitoring.tsx
Labels: approved, component/core, lgtm

#4863 Monitoring: Add Alerting Rules list page
  frontend/public/actions/ui.ts
  frontend/public/components/app-contents.tsx
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/monitoring.tsx
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/reducers/monitoring.ts
  frontend/public/reducers/ui.ts
Labels: approved, component/core, component/monitoring, lgtm

#4846 Migrate kubevirt installation tests to d/s repo
  frontend/packages/kubevirt-plugin/integration-tests/Installation/cnv-installation.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/Installation/cnv-uninstallation.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/consts.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/mocks.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/templates/windowsVMForRDPL2.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/utils.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.wizard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/containerNativeVirtualization.view.ts
  frontend/packages/kubevirt-plugin/package.json
Labels: approved, component/kubevirt, lgtm

#4850 kubevirt: deprecate using StorageClassConfigMap in inappropriate placess + SC/volume-access modes fixes
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/stateUpdate/vmSettings/providers/vmware-prefill-vm.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/storage-tab-validation.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/storage-tab/vm-wizard-storage-modal-enhanced.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/types.ts
  frontend/packages/kubevirt-plugin/src/components/modals/cdrom-vm-modal/cdrom-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal-enhanced.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/storage-ui-source.ts
  frontend/packages/kubevirt-plugin/src/components/vm-disks/disk-row.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/vm-disks.tsx
  frontend/packages/kubevirt-plugin/src/constants/sc.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/storage/access-mode.ts
  frontend/packages/kubevirt-plugin/src/hooks/storage-class-config-map.ts
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm/vm-cdrom-patches.ts
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm/vm-disk-patches.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/config-map/storage-class/index.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/config-map/storage-class/storageClassConfigMap.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/import/import-v2vvmware.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/common.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/create.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/initialize-vm.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/types.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/common/k8s-resource-object-with-type-property-wrapper.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/common/k8s-resource-wrapper.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/types/types.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/combined-disk.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/data-volume-wrapper.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/persistent-volume-claim-wrapper.ts
  frontend/packages/kubevirt-plugin/src/selectors/config-map/sc-defaults.ts
Labels: approved, component/kubevirt, lgtm

#4871 Move v2vvmware CRD under v2v.kubevirt.io API group
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/objects/v2vvmware-role.ts
  frontend/packages/kubevirt-plugin/src/models/index.ts
Labels: approved, component/kubevirt, lgtm

#4855 Bug 1796516: Fix title overlap in sidepanel in dev catalog
  frontend/public/components/catalog/_catalog.scss
Labels: approved, bugzilla/valid-bug, component/core, kind/bug, lgtm

#4834 Fix remaining Table.Row prop typings
  frontend/packages/console-app/src/components/nodes/NodesPage.tsx
  frontend/packages/dev-console/src/components/custom-resource-list/__tests__/CustomResourceList.spec.tsx
  frontend/packages/dev-console/src/components/custom-resource-list/custom-resource-list-types.ts
  frontend/packages/dev-console/src/components/helm/HelmReleaseHistoryRow.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/networking-tab/vm-wizard-nic-row.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/storage-tab/vm-wizard-storage-row.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/virtual-hardware-tab/vm-wizard-virtualhardware-row.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/disk-row.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/vm-cds.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/vm-disks.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-nics/nic-row.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-nics/vm-nics.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand.tsx
  frontend/packages/operator-lifecycle-manager/src/components/package-manifest.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/package-manifest.tsx
  frontend/public/components/deployment-config.tsx
  frontend/public/components/deployment.tsx
  frontend/public/components/factory/table.tsx
  frontend/public/components/monitoring.tsx
  frontend/public/components/namespace.jsx
  frontend/public/components/pod.tsx
  frontend/public/components/stateful-set.tsx
  frontend/public/components/workload-table.tsx
Labels: approved, component/core, component/dev-console, component/kubevirt, component/olm, lgtm

#4852 Add Unit test for Breakdown Card Component
  frontend/packages/ceph-storage-plugin/src/__mocks__/breakdown-data.ts
  frontend/packages/ceph-storage-plugin/src/__tests__/breakdown-body.spec.tsx
  frontend/packages/ceph-storage-plugin/src/__tests__/breakdown-chart.spec.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/breakdown-card/breakdown-body.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/breakdown-card/breakdown-chart.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/breakdown-card/utils.tsx
Labels: approved, component/ceph, lgtm

#4873 kubevirt: fix changing the name of other sources in disk modal
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/storage-ui-source.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/vm/disk.ts
Labels: approved, component/kubevirt, lgtm

#4875 Fix infinite network calls and handle network errors gracefully
  frontend/packages/dev-console/src/components/helm/HelmChartVersionDropdown.tsx
  frontend/packages/dev-console/src/components/helm/HelmInstallUpgradePage.tsx
  frontend/packages/dev-console/src/components/helm/helm-types.ts
  frontend/packages/dev-console/src/components/helm/helm-utils.ts
Labels: approved, component/dev-console, lgtm

#4887 Bug 1818553: Fixes version while OCS upgrade
  frontend/packages/ceph-storage-plugin/src/selectors/index.ts
Labels: approved, bugzilla/valid-bug, component/ceph, component/noobaa, lgtm

#4882 destroy old graph when new model has a new graph id
  frontend/packages/dev-console/src/components/import/pipeline/PipelineTemplate.tsx
  frontend/packages/topology/src/Visualization.ts
  frontend/packages/topology/src/__tests__/Visualization.spec.ts
  frontend/packages/topology/src/components/VisualizationSurface.tsx
  frontend/packages/topology/src/elements/BaseElement.ts
  frontend/packages/topology/src/elements/BaseGraph.ts
  frontend/packages/topology/src/elements/BaseNode.ts
  frontend/packages/topology/src/types.ts
Labels: approved, component/dev-console, lgtm

#4862 BareMetalHost: Add Restart action
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostDetails.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostSecondaryStatus.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/host-menu-actions.tsx
  frontend/packages/metal3-plugin/src/components/modals/RestartHostModal.tsx
  frontend/packages/metal3-plugin/src/k8s/requests/bare-metal-host.ts
  frontend/packages/metal3-plugin/src/selectors/baremetal-hosts.ts
  frontend/packages/metal3-plugin/src/status/baremetal-node-status.ts
Labels: approved, component/metal3, lgtm

#4874 Detect and handle webpack module cycles
  .gitignore
  frontend/package.json
  frontend/webpack.circular-deps.ts
  frontend/webpack.config.ts
  frontend/yarn.lock
Labels: approved, lgtm

#4881 Added extra chart info in the Helm details page
  frontend/packages/dev-console/src/components/helm/HelmChartSummary.tsx
  frontend/packages/dev-console/src/components/helm/HelmReleaseDetailsPage.tsx
  frontend/packages/dev-console/src/components/helm/HelmReleaseOverview.tsx
  frontend/packages/dev-console/src/components/helm/__tests__/HelmReleaseOverview.spec.tsx
Labels: approved, component/dev-console, lgtm

#4824 Using resource extension to show health on dashboards
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/status-card/status-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/status-card/utils.ts
  frontend/packages/ceph-storage-plugin/src/components/independent-dashboard-page/status-card/card.tsx
  frontend/packages/ceph-storage-plugin/src/constants/resources.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
  frontend/packages/ceph-storage-plugin/src/types.ts
  frontend/packages/container-security/src/components/__tests__/summary.spec.ts
  frontend/packages/container-security/src/components/summary.tsx
  frontend/packages/container-security/src/plugin.ts
  frontend/packages/container-security/src/types.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/status-card.tsx
Labels: approved, component/ceph, component/core, component/dashboard, component/noobaa, component/sdk, lgtm

#4883 Bug 1819938: Fix PackageManifest access review
  frontend/public/actions/features.ts
Labels: approved, bugzilla/valid-bug, component/core, lgtm

#4590 Bug 1786429: Add replicas info on StatefulSet Overview
  frontend/packages/console-shared/src/components/pod/PodRingDataController.tsx
  frontend/packages/console-shared/src/utils/pod-ring-utils.ts
  frontend/packages/console-shared/src/utils/resource-utils.ts
  frontend/public/components/stateful-set.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/shared, lgtm, size/M

#4794 CONSOLE-2124: Add badges to operator attributes
  frontend/packages/operator-lifecycle-manager/mocks.ts
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/index.ts
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-item-details.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-page.tsx
  frontend/public/components/utils/tile-view-page.jsx
Labels: approved, component/core, component/olm, lgtm

#4847 feat add support to move sink for eventSource
  frontend/packages/console-shared/src/components/dropdown/ResourceDropdown.tsx
  frontend/packages/console-shared/src/components/formik-fields/ResourceDropdownField.tsx
  frontend/packages/console-shared/src/test-utils/formik-props-utils.ts
  frontend/packages/knative-plugin/src/actions/sink-source.ts
  frontend/packages/knative-plugin/src/components/modals/index.ts
  frontend/packages/knative-plugin/src/components/sink-source/SinkSource.tsx
  frontend/packages/knative-plugin/src/components/sink-source/SinkSourceController.tsx
  frontend/packages/knative-plugin/src/components/sink-source/SinkSourceModal.tsx
  frontend/packages/knative-plugin/src/components/sink-source/__tests__/SinkSource.spec.tsx
  frontend/packages/knative-plugin/src/components/sink-source/__tests__/SinkSourceModal.spec.tsx
  frontend/packages/knative-plugin/src/utils/__tests__/kebab-actions.spec.ts
  frontend/packages/knative-plugin/src/utils/kebab-actions.ts
Labels: approved, component/knative, component/shared, kind/feature, lgtm

#4878 Bug 1819598: Align console pod status with CLI
  frontend/__tests__/module/k8s/pods.spec.ts
  frontend/packages/console-shared/src/components/status/Status.tsx
  frontend/public/module/k8s/pods.ts
Labels: approved, bugzilla/valid-bug, component/core, component/shared, lgtm

#4888 Bug 1820058: Last navigation item needs more bottom padding
  frontend/public/style/_overrides.scss
Labels: approved, bugzilla/valid-bug, component/core, lgtm

#4894 Skip geckodriver download for product builds
  Dockerfile.product
Labels: approved, lgtm

#4889 Monitoring: User user's username as default silence creator value
  frontend/public/components/monitoring.tsx
Labels: approved, component/core, lgtm

#4869 Bug 1819603: Limit Bucket Class search to storage namespace in OBC creation page
  frontend/packages/noobaa-storage-plugin/src/components/object-bucket-claim-page/create-obc.tsx
  frontend/packages/noobaa-storage-plugin/src/constants/index.ts
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, component/noobaa, lgtm

#4810 adds support for apiServerSource
  frontend/packages/console-shared/src/components/dropdown/ResourceDropdown.tsx
  frontend/packages/knative-plugin/src/components/add/EventSourceForm.tsx
  frontend/packages/knative-plugin/src/components/add/__tests__/EventSourceForm.spec.tsx
  frontend/packages/knative-plugin/src/components/add/__tests__/eventSource-validation-utils.spec.ts
  frontend/packages/knative-plugin/src/components/add/event-sources/ApiServerSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/SinkSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/__tests__/ApiServerSection.spec.tsx
  frontend/packages/knative-plugin/src/components/add/eventSource-validation-utils.ts
  frontend/packages/knative-plugin/src/components/overview/EventSinkServicesOverviewList.tsx
  frontend/packages/knative-plugin/src/models.ts
  frontend/packages/knative-plugin/src/utils/__tests__/create-eventsources-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-serving-data.ts
  frontend/packages/knative-plugin/src/utils/create-eventsources-utils.ts
  frontend/public/components/utils/firehose.jsx
  frontend/public/components/utils/types.ts
Labels: approved, component/core, component/knative, component/shared, kind/feature, lgtm

#4803 Add E2E tests for Installation flow
  frontend/packages/ceph-storage-plugin/integration-tests/tests/1-install/installFlow.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/tests/ocp-tests/installFlow.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/utils/consts.ts
  frontend/packages/ceph-storage-plugin/integration-tests/utils/helpers.ts
  frontend/packages/ceph-storage-plugin/integration-tests/views/add-capacity.view.ts
  frontend/packages/ceph-storage-plugin/integration-tests/views/installFlow.view.ts
  frontend/packages/ceph-storage-plugin/package.json
Labels: approved, component/ceph, lgtm

#4895 Fix Label and ChartLegend type issue
  frontend/packages/ceph-storage-plugin/src/__tests__/breakdown-chart.spec.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/breakdown-card/breakdown-chart.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/breakdown-card/utils.tsx
Labels: approved, component/ceph, lgtm

#4909 chore: add Bugzilla component to root OWNERS file
  OWNERS
Labels: approved, lgtm

#4880 Bug 1819752: Don't virtualize volume table
  frontend/integration-tests/tests/storage.scenario.ts
  frontend/public/components/volumes-table.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm

#4908 Monitoring: Show '-' when alerting rule has no duration
  frontend/public/components/monitoring.tsx
Labels: approved, component/core, lgtm

#4838 Bug 1816032: Removed the misleading warning
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/create-form.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/node-list.tsx
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, component/ceph, lgtm

#4896 Bug 1800327: fix runtime error creating PVC with no storage class
  frontend/public/components/storage/create-pvc.tsx
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, component/core, lgtm

#4730 pipeline task name edit
  frontend/packages/dev-console/integration-tests/tests/pipeline.scenario.ts
  frontend/packages/dev-console/integration-tests/views/pipeline.view.ts
Labels: approved, component/dev-console, lgtm, size/XS

#4915 Bug 1810937: Correctly handle Unicode characters in pod terminal
  frontend/public/components/pod-exec.jsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm

#4907 Monitoring: Add alert severity badge to details pages
  frontend/public/components/monitoring.tsx
Labels: approved, component/core, lgtm

#4841 Memoize card mappings to grid
  frontend/packages/console-shared/src/components/dashboard/DashboardGrid.tsx
  frontend/public/components/dashboard/project-dashboard/project-dashboard.tsx
  frontend/public/components/utils/ref-width-hook.ts
Labels: approved, component/core, component/dashboard, component/shared, lgtm

#4923 BZ 1821024: Fix ssh_authorized_keys for cloud-init
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/cloud-init-data-helper.tsx
Labels: approved, component/kubevirt, lgtm

#4918 fixes issue with form switch for name-value-editor on eventSources
  frontend/packages/knative-plugin/src/components/add/event-sources/ApiServerSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/SinkBindingSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/__tests__/ApiServerSection.spec.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/__tests__/SinkBindingSection.spec.tsx
Labels: approved, component/knative, lgtm

#4912 Cleanup and reorganize all the helm related code
  frontend/packages/dev-console/src/components/helm/HelmInstallUpgradePage.tsx
  frontend/packages/dev-console/src/components/helm/HelmReleaseDetails.tsx
  frontend/packages/dev-console/src/components/helm/HelmReleaseDetailsPage.tsx
  frontend/packages/dev-console/src/components/helm/HelmReleaseListPage.tsx
  frontend/packages/dev-console/src/components/helm/HelmResourcesListComponent.tsx
  frontend/packages/dev-console/src/components/helm/__tests__/HelmReleaseDetails.spec.tsx
  frontend/packages/dev-console/src/components/helm/__tests__/HelmReleaseDetailsPage.spec.tsx
  frontend/packages/dev-console/src/components/helm/__tests__/HelmResourcesListComponent.spec.tsx
  frontend/packages/dev-console/src/components/helm/__tests__/helm-release-mock-data.ts
  frontend/packages/dev-console/src/components/helm/__tests__/helm-release-resources-utils.data.ts
  frontend/packages/dev-console/src/components/helm/__tests__/helm-release-resources-utils.spec.ts
  frontend/packages/dev-console/src/components/helm/__tests__/helm-utils.spec.ts
  frontend/packages/dev-console/src/components/helm/details/HelmReleaseDetails.tsx
  frontend/packages/dev-console/src/components/helm/details/HelmReleaseNotes.tsx
  frontend/packages/dev-console/src/components/helm/details/__tests__/HelmReleaseDetails.spec.tsx
  frontend/packages/dev-console/src/components/helm/details/__tests__/HelmReleaseNotes.spec.tsx
  frontend/packages/dev-console/src/components/helm/details/history/HelmReleaseHistory.tsx
  frontend/packages/dev-console/src/components/helm/details/history/HelmReleaseHistoryHeader.tsx
  frontend/packages/dev-console/src/components/helm/details/history/HelmReleaseHistoryRow.tsx
  frontend/packages/dev-console/src/components/helm/details/overview/HelmChartSummary.tsx
  frontend/packages/dev-console/src/components/helm/details/overview/HelmReleaseOverview.tsx
  frontend/packages/dev-console/src/components/helm/details/overview/__tests__/HelmReleaseOverview.spec.tsx
  frontend/packages/dev-console/src/components/helm/details/resources/HelmReleaseResources.tsx
  frontend/packages/dev-console/src/components/helm/details/resources/HelmReleaseResourcesHeader.tsx
  frontend/packages/dev-console/src/components/helm/details/resources/HelmReleaseResourcesList.tsx
  frontend/packages/dev-console/src/components/helm/details/resources/HelmReleaseResourcesRow.tsx
  frontend/packages/dev-console/src/components/helm/details/resources/__tests__/HelmReleaseResources.spec.tsx
  frontend/packages/dev-console/src/components/helm/details/resources/__tests__/HelmReleaseResourcesRow.spec.tsx
  frontend/packages/dev-console/src/components/helm/details/resources/__tests__/HelmResourcesList.spec.tsx
  frontend/packages/dev-console/src/components/helm/form/HelmChartVersionDropdown.tsx
  frontend/packages/dev-console/src/components/helm/form/HelmInstallUpgradeForm.tsx
  frontend/packages/dev-console/src/components/helm/form/__tests__/HelmInstallUpgradeForm.spec.tsx
  frontend/packages/dev-console/src/components/helm/helm-release-resources-utils.ts
  frontend/packages/dev-console/src/components/helm/helm-types.ts
  frontend/packages/dev-console/src/components/helm/helm-utils.ts
  frontend/packages/dev-console/src/components/helm/helm-validation-utils.ts
  frontend/packages/dev-console/src/components/helm/list/HelmReleaseList.tsx
  frontend/packages/dev-console/src/components/helm/list/HelmReleaseListHeader.tsx
  frontend/packages/dev-console/src/components/helm/list/HelmReleaseListRow.tsx
  frontend/packages/dev-console/src/components/topology/helm/TopologyHelmReleasePanel.tsx
  frontend/packages/dev-console/src/plugin.tsx
Labels: approved, component/dev-console, lgtm

#4893 kubevirt: fix SC access/volume modes for default URL storage
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/storage-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/stateUpdate/vmSettings/prefill-vm-template-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/stateUpdate/vmSettings/storage-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/storage-tab-validation.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/common/k8s-resource-object-with-type-property-wrapper.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/common/util/k8s-mixin.ts
Labels: approved, component/kubevirt, lgtm

#4932 Support no dockerfile pipeline template
  frontend/packages/dev-console/src/components/import/pipeline/PipelineTemplate.tsx
Labels: approved, component/dev-console, lgtm

#4762 Feat(cli-terminal): Create cli-terminal
  frontend/packages/console-app/src/components/cloud-shell/CloudShell.tsx
  frontend/packages/console-app/src/components/cloud-shell/CloudShellBody.tsx
  frontend/packages/console-app/src/components/cloud-shell/CloudShellDrawer.scss
  frontend/packages/console-app/src/components/cloud-shell/CloudShellDrawer.tsx
  frontend/packages/console-app/src/components/cloud-shell/CloudShellMastheadButton.tsx
  frontend/packages/console-app/src/components/cloud-shell/CloudShellTerminal.tsx
  frontend/packages/console-app/src/components/cloud-shell/CloudShellTerminalFrame.scss
  frontend/packages/console-app/src/components/cloud-shell/CloudShellTerminalFrame.tsx
  frontend/packages/console-app/src/components/cloud-shell/__tests__/CloudShellDrawer.spec.tsx
  frontend/packages/console-app/src/components/cloud-shell/__tests__/CloudShellTerminalFrame.spec.tsx
  frontend/packages/console-app/src/components/cloud-shell/__tests__/cloudshell-resource.spec.ts
  frontend/packages/console-app/src/components/cloud-shell/cloudShellConfirmationModal.ts
  frontend/packages/console-app/src/components/cloud-shell/utils/cloudshell-resource.ts
  frontend/packages/console-app/src/consts.ts
  frontend/packages/console-app/src/models/index.ts
  frontend/packages/console-app/src/plugin.tsx
  frontend/packages/console-app/src/redux/actions/cloud-shell-actions.ts
  frontend/packages/console-app/src/redux/reducer.ts
  frontend/packages/console-app/src/redux/reducers/cloud-shell-reducer.ts
  frontend/packages/console-shared/src/components/drawer/Drawer.scss
  frontend/packages/console-shared/src/components/drawer/Drawer.tsx
  frontend/packages/operator-lifecycle-manager/src/components/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/k8s-resource.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand-link.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand.tsx
  frontend/public/components/app.jsx
  frontend/public/components/masthead-toolbar.jsx
Labels: approved, component/core, component/olm, component/shared, kind/feature, lgtm

#4919 Monitoring: Include alert "description" when filtering by text
  frontend/integration-tests/tests/monitoring.scenario.ts
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/monitoring.tsx
  frontend/public/reducers/monitoring.ts
Labels: approved, component/core, lgtm

#4926 Bug 1820307: Hide yaml editor links when window width is less than 991px
  frontend/packages/console-shared/src/components/editor/YAMLEditorToolbar.scss
  frontend/public/components/edit-yaml.jsx
Labels: approved, bugzilla/valid-bug, component/core, component/shared, lgtm

#4936 Bug 1820224: Fix helper text for Name field for BS creation form
  frontend/packages/noobaa-storage-plugin/src/components/create-backingstore-page/create-bs.tsx
Labels: approved, bugzilla/valid-bug, component/noobaa, lgtm

#4937 Add create vm dropdown action
  frontend/packages/kubevirt-plugin/src/components/vm-templates/menu-actions.tsx
Labels: approved, component/kubevirt, lgtm

#4700 test for traffic splitting and refactor component
  frontend/packages/knative-plugin/src/components/traffic-splitting/__tests__/TrafficSplittingModal.spec.tsx
Labels: approved, component/knative, kind/cleanup, lgtm, size/L

#4886 Monitoring: Add Creator column to silences lists
  frontend/public/components/monitoring.tsx
Labels: approved, component/core, lgtm

#4910 Monitoring: Change actions menu to action button on alert details page
  frontend/integration-tests/tests/monitoring.scenario.ts
  frontend/integration-tests/views/monitoring.view.ts
  frontend/public/components/monitoring.tsx
  frontend/public/components/utils/headings.tsx
Labels: approved, component/core, lgtm

#4930 Operator Hub: add link
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-item-details.tsx
Labels: approved, component/olm, lgtm

#4934 Monitoring: Change silence form save button text to "Silence"
  frontend/public/components/monitoring.tsx
Labels: approved, component/core, lgtm

#4884 Kubevirt - Affinity modal
  frontend/packages/kubevirt-plugin/src/components/LabelsList/types.ts
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/affinity-modal.scss
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/affinity-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/components/affinity-edit/affinity-edit.scss
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/components/affinity-edit/affinity-edit.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/components/affinity-expression-list/affinity-expression-list.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/components/affinity-expression-list/affinity-expression-row.scss
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/components/affinity-expression-list/affinity-expression-row.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/components/affinity-table/affinity-row.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/components/affinity-table/affinity-table.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/connected-affinity-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/helpers.ts
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/types.ts
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/validations.ts
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/dedicated-resources-modal/dedicated-resources-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/node-selector-modal/node-selector-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/shared/consts.ts
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/shared/hooks.ts
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/tolerations-modal/tolerations-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-details.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-resource.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-details.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm/vm-scheduling-patches.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/vm-wrapper.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/vmi-wrapper.ts
  frontend/packages/kubevirt-plugin/src/selectors/affinity/selectors.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm-like/selectors.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm/selectors.ts
  frontend/packages/kubevirt-plugin/src/selectors/vmi/basic.ts
Labels: approved, component/core, component/kubevirt, lgtm

#4892 Add in-context event source creation menu in topology
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/topology/Topology.tsx
  frontend/packages/dev-console/src/components/topology/actions/__tests__/graphActions.spec.tsx
  frontend/packages/dev-console/src/components/topology/actions/__tests__/groupActions.spec.tsx
  frontend/packages/dev-console/src/components/topology/actions/graphActions.ts
  frontend/packages/dev-console/src/components/topology/actions/groupActions.ts
  frontend/packages/dev-console/src/components/topology/topology-types.ts
  frontend/packages/dev-console/src/utils/__tests__/add-resources-menu-utils.spec.tsx
  frontend/packages/dev-console/src/utils/add-resources-menu-utils.ts
  frontend/packages/knative-plugin/src/actions/add-event-source.tsx
  frontend/packages/knative-plugin/src/actions/index.ts
  frontend/packages/knative-plugin/src/components/add/EventSource.tsx
  frontend/packages/knative-plugin/src/components/add/EventSourcePage.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/SinkSection.tsx
  frontend/packages/knative-plugin/src/index.ts
  frontend/packages/knative-plugin/src/topology/__tests__/topology-knative-test-data.ts
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
Labels: approved, component/dev-console, component/knative, kind/feature, lgtm

#4837 Bug 1821846: Hide `OpenShift Cluster Manager` when branding is `azure`
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/details-card.tsx
  frontend/public/components/masthead-toolbar.jsx
Labels: approved, bugzilla/valid-bug, component/core, component/dashboard, lgtm

#4925 Metal3: Add validations to the Power Off modal
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostsTable.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/host-menu-actions.tsx
  frontend/packages/metal3-plugin/src/components/modals/PowerOffHostModal.scss
  frontend/packages/metal3-plugin/src/components/modals/PowerOffHostModal.tsx
Labels: approved, component/metal3, lgtm

#4942 Improve types/props for Details page extension
  frontend/packages/ceph-storage-plugin/src/components/modals/volume-snapshot-modal/volume-snapshot-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/volume-snapshot/volume-snapshot.tsx
  frontend/packages/ceph-storage-plugin/src/utils/snapshot-workflow.ts
  frontend/packages/console-plugin-sdk/src/typings/pages.ts
  frontend/public/components/factory/details.tsx
  frontend/public/components/utils/horizontal-nav.tsx
Labels: approved, component/ceph, component/core, component/sdk, lgtm

#4947 Bug 1819159: Improve kind plurals
  frontend/__tests__/module/k8s/get-resources.spec.ts
  frontend/package.json
  frontend/public/module/k8s/get-resources.ts
  frontend/yarn.lock
Labels: approved, bugzilla/valid-bug, component/core, lgtm

#4951 Kubevirt - Affinity modal - fix undefined id for initial expression
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/affinity-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/helpers.ts
Labels: approved, component/kubevirt, lgtm

#4943 Bug 1821757: Decode noobaa secret details before passing to SecretValue in OBC page
  frontend/packages/noobaa-storage-plugin/src/components/object-bucket-claim-page/secret.tsx
Labels: approved, bugzilla/valid-bug, component/noobaa, kind/bug, lgtm

#4927 Bug 1813369: Wrong key for selecting nodes in MachineConfigPool
  frontend/public/components/machine-config-pool.tsx
  frontend/public/components/pod.tsx
  frontend/public/components/utils/details-page.tsx
  frontend/public/models/yaml-templates.ts
  frontend/public/module/k8s/index.ts
Labels: approved, bugzilla/valid-bug, component/core, lgtm

#4969 Get version from installed CSV to show version of OCS
  frontend/packages/ceph-storage-plugin/src/selectors/index.ts
Labels: approved, component/ceph, lgtm

#4979 Bug 1819668: Make label casing consistent in create operand toggle
  frontend/packages/console-shared/src/components/editor/editor-toggle.tsx
Labels: approved, bugzilla/valid-bug, component/shared, lgtm

#4980 Bug 1822128: Fix bug where pipelines doc link is incorrect
  frontend/public/components/build.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm

#4976 Bug 1822130: Clicking “Quay Image Security" makes status card disappear
  frontend/packages/console-plugin-sdk/src/typings/dashboards.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/health-item.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/dashboard, component/sdk, lgtm

#4977 metal3: Add static pod validation to the power off modal
  frontend/packages/metal3-plugin/src/components/modals/PowerOffHostModal.tsx
  frontend/packages/metal3-plugin/src/components/modals/PowerOffStatusValidations.scss
  frontend/packages/metal3-plugin/src/components/modals/PowerOffStatusValidations.tsx
Labels: approved, component/metal3, lgtm

#4975 Bug 1819786: Improve kind plurals
  frontend/__tests__/module/k8s/get-resources.spec.ts
  frontend/package.json
  frontend/public/module/k8s/get-resources.ts
  frontend/yarn.lock
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, component/core, lgtm

#4948 Bug 1821407: Clarify alert for supported operator's install mode
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
Labels: approved, bugzilla/valid-bug, component/olm, lgtm

#4950 Fix import flows application validation
  frontend/packages/dev-console/src/components/import/app/ApplicationSelector.tsx
Labels: approved, component/dev-console, lgtm

#4953 Bug 1819628: Fix bug where networking metrics unavailable to regular users
  frontend/public/components/pod.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm

#4954 Bug 1822647: Change Azure logo to the new, generic Red Hat OpenShift logo
  frontend/public/components/masthead.jsx
  frontend/public/imgs/azure-red-hat-openshift-logo.svg
Labels: approved, bugzilla/valid-bug, component/core, lgtm

#4961 updats name for eventSources and shows loading for source selector
  frontend/packages/knative-plugin/src/components/add/EventSource.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/EventSourcesSelector.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/__tests__/EventSourcesSelector.spec.tsx
Labels: approved, component/knative, lgtm

#4986 Bug 1818553: Remove condition for subscription
  frontend/packages/ceph-storage-plugin/src/selectors/index.ts
Labels: approved, bugzilla/valid-bug, component/ceph, lgtm

#4987 Use the global text filter selector from CRUD
  frontend/packages/ceph-storage-plugin/integration-tests/tests/ocp-tests/installFlow.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/views/installFlow.view.ts
Labels: approved, component/ceph, kind/test-flake, lgtm

#4929 Bug 1821420: Support TechPreview Task Changes
  frontend/packages/dev-console/src/components/pipelines/__tests__/resource-utils.spec.ts
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebar.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/update-utils.ts
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/utils.ts
  frontend/packages/dev-console/src/components/pipelines/resource-utils.ts
  frontend/packages/dev-console/src/test/pipeline-data.ts
  frontend/packages/dev-console/src/utils/pipeline-augment.ts
Labels: approved, bugzilla/valid-bug, component/dev-console, lgtm

#4982 tests: increase timeout for installed operator
  frontend/packages/operator-lifecycle-manager/integration-tests/scenarios/global-installmode.scenario.ts
  frontend/packages/operator-lifecycle-manager/integration-tests/scenarios/single-installmode.scenario.ts
Labels: approved, component/olm, kind/test-flake, lgtm

#4998 Update cycle entry format in .webpack-cycles
  frontend/webpack.circular-deps.ts
Labels: approved, lgtm

#4899 Add KafkaSource Form
  frontend/packages/console-shared/src/components/dropdown/ResourceDropdown.tsx
  frontend/packages/knative-plugin/src/components/add/AdvancedSection.tsx
  frontend/packages/knative-plugin/src/components/add/EventSource.tsx
  frontend/packages/knative-plugin/src/components/add/EventSourceForm.tsx
  frontend/packages/knative-plugin/src/components/add/SecretKeySelector.tsx
  frontend/packages/knative-plugin/src/components/add/__tests__/EventSourceForm.spec.tsx
  frontend/packages/knative-plugin/src/components/add/__tests__/eventSource-validation-utils.spec.ts
  frontend/packages/knative-plugin/src/components/add/event-sources/ApiServerSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/KafkaSourceNetSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/KafkaSourceSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/__tests__/ApiServerSection.spec.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/__tests__/KafkaSourceNetSection.spec.tsx
  frontend/packages/knative-plugin/src/components/add/eventSource-validation-utils.ts
  frontend/packages/knative-plugin/src/components/add/import-types.ts
  frontend/packages/knative-plugin/src/components/dropdowns/ServiceAccountDropdown.tsx
  frontend/packages/knative-plugin/src/models.ts
  frontend/packages/knative-plugin/src/utils/__tests__/create-eventsources-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-serving-data.ts
  frontend/packages/knative-plugin/src/utils/create-eventsources-utils.ts
Labels: approved, component/core, component/knative, component/shared, kind/feature, lgtm

#4939 Bug 1816730: Removed NS selector from UI in BS BC flow
  frontend/packages/noobaa-storage-plugin/src/components/bucket-class/create-bc.tsx
  frontend/packages/noobaa-storage-plugin/src/components/bucket-class/wizard-pages/general-page.tsx
  frontend/packages/noobaa-storage-plugin/src/components/bucket-class/wizard-pages/review-page.tsx
  frontend/packages/noobaa-storage-plugin/src/components/create-backingstore-page/create-bs.tsx
Labels: approved, bugzilla/valid-bug, component/noobaa, kind/bug, lgtm

#4989 Bug 1822596: Add retires to OLM descriptors scenario
  frontend/packages/operator-lifecycle-manager/integration-tests/scenarios/descriptors.scenario.ts
Labels: approved, bugzilla/valid-bug, component/olm, kind/test-flake, lgtm

#4990 Extract and export object type of watch k8s resources result
  frontend/public/components/utils/k8s-watch-hook.ts
Labels: approved, component/core, lgtm

#4995 Transform public/module/k8s/index.ts into re-export-only module
  frontend/public/module/k8s/index.ts
  frontend/public/module/k8s/pods.ts
  frontend/public/module/k8s/types.ts
Labels: approved, component/core, lgtm

#4913 Reduce min-length module cycles & enforce max threshold
  frontend/public/components/image-stream-timeline.tsx
  frontend/public/components/image-stream.tsx
  frontend/public/components/monitoring.tsx
  frontend/public/components/monitoring/receiver-forms/alert-manager-receiver-forms.tsx
  frontend/public/components/notification-drawer.tsx
  frontend/public/components/service-binding.tsx
  frontend/public/components/service-instance.tsx
  frontend/public/components/utils/build-hooks.tsx
  frontend/public/components/utils/build-strategy.tsx
  frontend/public/components/utils/details-item.tsx
  frontend/public/components/utils/details-page.tsx
  frontend/public/components/utils/dropdown.jsx
  frontend/public/components/utils/entitlements.ts
  frontend/public/components/utils/firehose.jsx
  frontend/public/components/utils/horizontal-nav.tsx
  frontend/public/components/utils/list-dropdown.jsx
  frontend/public/components/utils/owner-references.tsx
  frontend/public/components/utils/request-size-input.tsx
  frontend/public/components/utils/resource-link.tsx
  frontend/public/components/utils/volume-type.tsx
  frontend/public/components/utils/webhooks.tsx
  frontend/webpack.circular-deps.ts
  frontend/webpack.config.ts
Labels: approved, component/core, component/monitoring, lgtm

#4933 new extension for contributing to +Add page
  frontend/packages/dev-console/src/components/EmptyState.tsx
  frontend/packages/dev-console/src/extensions/add-actions.ts
  frontend/packages/dev-console/src/plugin.tsx
  frontend/packages/knative-plugin/src/plugin.tsx
Labels: approved, component/core, component/dev-console, component/knative, lgtm

#4959 Monitoring: Update silence form text and styles
  frontend/public/components/_monitoring.scss
  frontend/public/components/monitoring.tsx
Labels: approved, component/core, lgtm

#4996 Fix HOT_RELOAD fallback value
  frontend/webpack.config.ts
Labels: approved, lgtm

#5000 Remove plugin-stats script
  frontend/package.json
  frontend/packages/console-plugin-sdk/src/codegen/__tests__/plugin-stats.spec.ts
  frontend/packages/console-plugin-sdk/src/codegen/index.ts
  frontend/packages/console-plugin-sdk/src/codegen/plugin-stats.ts
  frontend/plugin-stats.js
Labels: approved, component/sdk, lgtm

#4765 Add label filtering mechanism and updates row filters.
  frontend/__tests__/components/factory/list-page.spec.tsx
  frontend/integration-tests/tests/environment.scenario.ts
  frontend/integration-tests/tests/filter.scenario.ts
  frontend/integration-tests/tests/modal-annotations.scenario.ts
  frontend/integration-tests/views/crud.view.ts
  frontend/packages/console-app/src/components/nodes/NodesPage.tsx
  frontend/packages/console-shared/src/hooks/document-listener.ts
  frontend/packages/console-shared/src/hooks/index.ts
  frontend/packages/console-shared/src/selectors/node.ts
  frontend/packages/console-shared/src/utils/index.ts
  frontend/packages/console-shared/src/utils/label-filter.ts
  frontend/packages/dev-console/src/components/pipelines/list-page/PipelineAugmentRuns.tsx
  frontend/packages/operator-lifecycle-manager/integration-tests/scenarios/global-installmode.scenario.ts
  frontend/packages/operator-lifecycle-manager/integration-tests/scenarios/single-installmode.scenario.ts
  frontend/public/components/_autocomplete.scss
  frontend/public/components/_filter-toolbar.scss
  frontend/public/components/autocomplete.tsx
  frontend/public/components/build-config.tsx
  frontend/public/components/build.tsx
  frontend/public/components/cluster-settings/cluster-operator.tsx
  frontend/public/components/factory/list-page.jsx
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/filter-toolbar.tsx
  frontend/public/components/persistent-volume-claim.jsx
  frontend/public/components/pod.tsx
  frontend/public/components/routes.tsx
  frontend/public/components/search.tsx
  frontend/public/components/secret.jsx
  frontend/public/components/service-instance.tsx
  frontend/public/components/template-instance.tsx
  frontend/public/style.scss
Labels: approved, component/core, component/dashboard, component/dev-console, component/olm, component/shared, lgtm

#4819 Allow catalog providers their own types and remove custom from Operator Hub
  frontend/packages/operator-lifecycle-manager/integration-tests/scenarios/global-installmode.scenario.ts
  frontend/packages/operator-lifecycle-manager/integration-tests/scenarios/single-installmode.scenario.ts
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-utils.ts
Labels: approved, component/olm, lgtm

#5003 topology improvements: layers, bounds
  frontend/packages/dev-console/src/components/topology/Topology.tsx
  frontend/packages/dev-console/src/components/topology/components/groups/ApplicationGroup.tsx
  frontend/packages/dev-console/src/components/topology/components/groups/ApplicationNode.tsx
  frontend/packages/dev-console/src/components/topology/components/groups/GroupNode.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/BaseNode.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/WorkloadNode.tsx
  frontend/packages/dev-console/src/components/topology/helm/components/HelmReleaseNode.tsx
  frontend/packages/dev-console/src/components/topology/operators/components/OperatorBackedServiceNode.tsx
  frontend/packages/topology/src/behavior/useDragNode.tsx
  frontend/packages/topology/src/behavior/usePanZoom.tsx
  frontend/packages/topology/src/components/ElementWrapper.tsx
  frontend/packages/topology/src/components/GraphComponent.tsx
  frontend/packages/topology/src/components/VisualizationSurface.tsx
  frontend/packages/topology/src/components/layers/LayerContainer.tsx
  frontend/packages/topology/src/components/layers/LayersContext.ts
  frontend/packages/topology/src/components/layers/LayersProvider.tsx
  frontend/packages/topology/src/const.ts
  frontend/packages/topology/src/elements/BaseGraph.ts
  frontend/packages/topology/src/elements/BaseNode.ts
  frontend/packages/topology/src/geom/Dimensions.ts
  frontend/packages/topology/src/geom/Point.ts
  frontend/packages/topology/src/geom/Rect.ts
  frontend/packages/topology/src/geom/__tests__/Dimensions.spec.ts
  frontend/packages/topology/src/geom/__tests__/Rect.spec.ts
  frontend/packages/topology/src/geom/types.ts
  frontend/packages/topology/src/index.ts
  frontend/packages/topology/src/layouts/BaseLayout.ts
  frontend/packages/topology/src/layouts/ColaLayout.ts
  frontend/packages/topology/src/layouts/ForceLayout.ts
  frontend/packages/topology/src/types.ts
  frontend/packages/topology/stories/4-Connector.stories.tsx
  frontend/packages/topology/stories/5-DragDrop.stories.tsx
  frontend/packages/topology/stories/91-CollapsibleGroups.stories.tsx
  frontend/packages/topology/stories/components/DefaultGroup.tsx
  frontend/packages/topology/stories/components/DefaultNode.tsx
  frontend/packages/topology/stories/components/NodePath.tsx
  frontend/packages/topology/stories/components/NodePolygon.tsx
  frontend/packages/topology/stories/components/NodeRect.tsx
Labels: approved, component/dev-console, lgtm

#4968 Bug 1821990: Monitoring: Change text filter by alert description to not use fuzzy
  frontend/integration-tests/tests/monitoring.scenario.ts
  frontend/public/components/factory/table-filters.ts
Labels: approved, bugzilla/valid-bug, component/core, lgtm

#4981 Update getAvailableClusterChannels to current version
  frontend/public/module/k8s/cluster-settings.ts
Labels: approved, component/core, lgtm

#4952 Include minWidth to fix bug 1818965
  frontend/public/components/image-stream.tsx
Labels: approved, component/core, lgtm

#4958 Remove row class so page has proper margins at mobile.
  frontend/public/components/error.tsx
Labels: approved, component/core, lgtm

#4917 Bug 1786429 : Add replicas info on StatefulSet Overview
  frontend/public/components/overview/stateful-set-overview.tsx
Labels: approved, component/core, lgtm

#4949 Bug 1821611: Fix runtime error on OperatorHub page
  frontend/packages/console-shared/src/utils/resource-utils.ts
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/index.ts
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-page.tsx
Labels: approved, bugzilla/valid-bug, component/olm, component/shared, lgtm

#5008 Monitoring: Add duration dropdown to silence form
  frontend/public/components/monitoring.tsx
Labels: approved, component/core, lgtm

#5013 adds help text to schedule and makes data optional field
  frontend/packages/knative-plugin/src/components/add/__tests__/eventSource-validation-utils.spec.ts
  frontend/packages/knative-plugin/src/components/add/event-sources/CronJobSection.tsx
  frontend/packages/knative-plugin/src/components/add/eventSource-validation-utils.ts
  frontend/packages/knative-plugin/src/utils/__tests__/create-eventsources-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-serving-data.ts
Labels: approved, component/knative, kind/bug, lgtm

#4965 kubevirt: add sample Role to grant privileges for non-admin to run v2v
  frontend/packages/kubevirt-plugin/integration-tests/data/role.v2v-vmware.yaml
Labels: approved, component/kubevirt, lgtm

#4973 Create flag for Node Maintenance
  frontend/packages/console-shared/src/hooks/flag.ts
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostDetailsPage.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostsPage.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostsTable.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/host-menu-actions.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/BareMetalNodeDetailsPage.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/BareMetalNodesPage.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/BareMetalNodesTable.tsx
  frontend/packages/metal3-plugin/src/components/modals/PowerOffHostModal.tsx
  frontend/packages/metal3-plugin/src/features.ts
  frontend/packages/metal3-plugin/src/plugin.tsx
  frontend/public/components/factory/table.tsx
Labels: approved, component/core, component/metal3, component/shared, lgtm

#5033 Monitoring: Add "Start Immediately" option to silence form
  frontend/public/components/monitoring.tsx
Labels: approved, component/core, lgtm

#4911 Node overview
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/status-card/status-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/status-card/utils.ts
  frontend/packages/console-app/src/components/dashboards-page/ControlPlaneStatus.tsx
  frontend/packages/console-app/src/components/dashboards-page/OperatorStatus.tsx
  frontend/packages/console-app/src/components/dashboards-page/operator-status.scss
  frontend/packages/console-app/src/components/dashboards-page/status.ts
  frontend/packages/console-app/src/components/nodes/NodeDetailsPage.tsx
  frontend/packages/console-app/src/components/nodes/NodeStatus.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/ActivityCard.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/DetailsCard.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/InventoryCard.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/NodeDashboard.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/NodeDashboardContext.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/StatusCard.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/UtilizationCard.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/queries.ts
  frontend/packages/console-app/src/components/nodes/node-dashboard/status-card.scss
  frontend/packages/console-app/src/queries.ts
  frontend/packages/console-demo-plugin/src/components/dashboards/health.ts
  frontend/packages/console-plugin-sdk/src/typings/dashboards.ts
  frontend/packages/console-shared/src/components/dashboard/status-card/AlertItem.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/HealthItem.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/OperatorStatusBody.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/StatusPopup.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/operator-body.scss
  frontend/packages/console-shared/src/components/dashboard/status-card/status-popup.scss
  frontend/packages/console-shared/src/components/dashboard/utilization-card/TopConsumerPopover.tsx
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationItem.tsx
  frontend/packages/console-shared/src/components/dashboard/utilization-card/top-consumer-popover.scss
  frontend/packages/console-shared/src/components/dashboard/utilization-card/utilization-card.scss
  frontend/packages/console-shared/src/components/status/Status.tsx
  frontend/packages/console-shared/src/components/status/StatusIconAndText.tsx
  frontend/packages/console-shared/src/components/status/icons.tsx
  frontend/packages/container-security/src/components/summary.tsx
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-alerts.tsx
  frontend/packages/noobaa-storage-plugin/src/components/status-card/status-card.tsx
  frontend/packages/operator-lifecycle-manager/src/components/dashboard/csv-status.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/health-item.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/status-card.scss
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/utilization-card.tsx
  frontend/public/components/graphs/area.tsx
  frontend/public/components/graphs/index.tsx
  frontend/public/components/machine-health-check.tsx
  frontend/public/components/utils/k8s-watch-hook.ts
  frontend/public/module/k8s/types.ts
Labels: approved, component/ceph, component/core, component/dashboard, component/kubevirt, component/noobaa, component/olm, component/sdk, component/shared, lgtm

#5014 Adds Local Volume Set Creation Form and enables LSO Plugin
  frontend/packages/console-app/package.json
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/create-local-volume-set.scss
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/create-local-volume-set.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/node-selection-list.scss
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/nodes-selection-list.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/types.ts
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/utils.ts
  frontend/packages/local-storage-operator-plugin/src/models.ts
  frontend/packages/local-storage-operator-plugin/src/plugin.ts
  frontend/public/components/factory/list-page.jsx
  frontend/public/components/factory/table.tsx
Labels: approved, component/core, lgtm

#5024 Bug 1823451: Fix error handling in coFetch to return json.error
  frontend/public/co-fetch.js
Labels: approved, bugzilla/valid-bug, component/core, lgtm

#5030 Bug 1823252: spaces are needed for the error message when selected namespace does not support installation mode
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
Labels: approved, bugzilla/valid-bug, component/olm, lgtm

#5031 Bug 1821272: Fix the value of bucket name shown in OBC details page
  frontend/packages/noobaa-storage-plugin/src/components/object-bucket-claim-page/secret.tsx
Labels: approved, bugzilla/valid-bug, component/noobaa, kind/bug, lgtm

#5036 Stop user from selecting same label twice
  frontend/public/components/search.tsx
Labels: approved, component/core, lgtm

#4992 Bug 1822648: Update product logos to new brand standard
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/components/masthead.jsx
  frontend/public/imgs/azure-red-hat-openshift-logo.svg
  frontend/public/imgs/logos/redhat.svg
  frontend/public/imgs/okd-favicon.ico
  frontend/public/imgs/openshift-dedicated-logo.svg
  frontend/public/imgs/openshift-favicon.ico
  frontend/public/imgs/openshift-logo.svg
  frontend/public/imgs/openshift-online-logo.svg
  frontend/public/imgs/openshift-platform-logo.svg
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, component/core, lgtm

#4845 Multi-Stream log component
  frontend/packages/console-shared/src/hooks/__tests__/scroll.spec.ts
  frontend/packages/console-shared/src/hooks/fullscreen.ts
  frontend/packages/console-shared/src/hooks/index.ts
  frontend/packages/console-shared/src/hooks/scroll.ts
  frontend/packages/dev-console/src/components/pipelineruns/detail-page-tabs/PipelineRunLogs.scss
  frontend/packages/dev-console/src/components/pipelineruns/detail-page-tabs/PipelineRunLogs.tsx
  frontend/packages/dev-console/src/components/pipelineruns/detail-page-tabs/PipelineTaskLogs.scss
  frontend/packages/dev-console/src/components/pipelineruns/detail-page-tabs/PipelineTaskLogs.tsx
  frontend/packages/dev-console/src/components/pipelineruns/logs/Logs.scss
  frontend/packages/dev-console/src/components/pipelineruns/logs/Logs.tsx
  frontend/packages/dev-console/src/components/pipelineruns/logs/LogsWrapperComponent.tsx
  frontend/packages/dev-console/src/components/pipelineruns/logs/MultiStreamLogs.scss
  frontend/packages/dev-console/src/components/pipelineruns/logs/MultiStreamLogs.tsx
  frontend/packages/dev-console/src/components/pipelineruns/logs/__tests__/Logs.spec.tsx
  frontend/packages/dev-console/src/components/pipelineruns/logs/__tests__/MultiStreamLogs.spec.tsx
  frontend/packages/dev-console/src/components/pipelineruns/logs/__tests__/logs-test-data.ts
  frontend/packages/dev-console/src/components/pipelineruns/logs/__tests__/logs-utils.spec.ts
  frontend/packages/dev-console/src/components/pipelineruns/logs/logs-utils.ts
  frontend/packages/dev-console/src/utils/__tests__/pipeline-utils.spec.ts
  frontend/packages/dev-console/src/utils/pipeline-utils.ts
  frontend/public/co-fetch.js
  frontend/public/components/utils/resource-log.jsx
Labels: approved, component/core, component/dev-console, component/shared, kind/feature, lgtm

#5018 Remove trailing equals in label suggestion, only unique labels are se…
  frontend/public/components/filter-toolbar.tsx
Labels: approved, component/core, component/shared, lgtm

#5035 Bug 1823297: Change default bus to SCSI for CD-ROM drives added from details tab
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm/vm-cdrom-patches.ts
Labels: approved, bugzilla/valid-bug, component/kubevirt, lgtm

#5029 Bug 1822325: StartMaintenanceModal - Fetch CephCluster resources only when ceph functionality is available
  frontend/packages/metal3-plugin/src/components/modals/StartNodeMaintenanceModal.tsx
  frontend/packages/metal3-plugin/src/features.ts
Labels: approved, bugzilla/valid-bug, component/metal3, lgtm

#5044 Bug 1823540: Requested tweaks to OperatorHub by UX
  frontend/public/components/catalog/_catalog.scss
  frontend/public/components/utils/_skeleton-screen.scss
Labels: approved, bugzilla/valid-bug, component/core, lgtm

#4941 kubevirt: Add Import VM to dev-console
  frontend/packages/kubevirt-plugin/package.json
  frontend/packages/kubevirt-plugin/src/images/virtual-machine.svg
  frontend/packages/kubevirt-plugin/src/plugin.tsx
  frontend/packages/kubevirt-plugin/src/utils/accessReview-v2v.ts
Labels: approved, component/core, component/dev-console, component/knative, component/kubevirt, lgtm

#5023 Increase coFetch timeout and add timeout param to coFetchJSON
  frontend/public/co-fetch.js
Labels: approved, component/core, lgtm

#5052 Change BMH table row to component
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostsTable.tsx
Labels: approved, component/metal3, lgtm

#5037 Bug 1823854: Use ordered-values.yaml in Helm install/upgrade
  frontend/packages/dev-console/src/components/helm/HelmInstallUpgradePage.tsx
  frontend/packages/dev-console/src/components/helm/form/HelmChartVersionDropdown.tsx
  frontend/packages/dev-console/src/components/helm/form/HelmInstallUpgradeForm.tsx
  frontend/packages/dev-console/src/components/helm/form/__tests__/HelmInstallUpgradeForm.spec.tsx
  frontend/packages/dev-console/src/components/helm/helm-utils.ts
Labels: approved, bugzilla/valid-bug, component/dev-console, lgtm

#5038 Bug 1823714: Removing humanizing of CRDs
  frontend/__tests__/module/k8s/get-resources.spec.ts
  frontend/public/module/k8s/get-resources.ts
Labels: approved, bugzilla/valid-bug, component/core, lgtm

#5032 Add Workspaces to Start Modal
  frontend/packages/dev-console/src/components/pipelines/const.ts
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/MultipleKeySelector.scss
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/MultipleKeySelector.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/MultipleResourceKeySelector.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/PVCDropdown.scss
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/PVCDropdown.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/PiplelineWorkspacesSection.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/StartPipelineForm.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/StartPipelineModal.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/__tests__/pipeline-form-validation-utils.spec.ts
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/pipelineForm-validation-utils.ts
  frontend/packages/dev-console/src/utils/pipeline-actions.tsx
  frontend/packages/dev-console/src/utils/pipeline-augment.ts
  frontend/packages/dev-console/src/utils/pipeline-utils.ts
Labels: approved, component/dev-console, component/shared, kind/feature, lgtm

#5048 Monitoring: Use PatternFly TextInput and TextArea for silence form
  frontend/public/components/monitoring.tsx
Labels: approved, component/core, lgtm

#5053 Refactors create-knative-utils code and update imports
  frontend/packages/dev-console/src/components/import/deployImage-submit-utils.ts
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/knative-plugin/src/components/add/event-sources/SinkSection.tsx
  frontend/packages/knative-plugin/src/components/overview/ConfigurationsOverviewListItem.tsx
  frontend/packages/knative-plugin/src/components/overview/EventSinkServicesOverviewList.tsx
  frontend/packages/knative-plugin/src/components/overview/RevisionsOverviewListItem.tsx
  frontend/packages/knative-plugin/src/components/overview/RoutesOverviewListItem.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/ConfigurationsOverviewListItem.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/EventSinkServicesOverviewList.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/KnativeResourceOverviewPage.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/RevisionsOverviewList.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/RevisionsOverviewListItem.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/RoutesOverviewListItem.spec.tsx
  frontend/packages/knative-plugin/src/components/sink-source/SinkSourceModal.tsx
  frontend/packages/knative-plugin/src/index.ts
  frontend/packages/knative-plugin/src/plugin.tsx
  frontend/packages/knative-plugin/src/utils/__tests__/create-knative-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/__tests__/get-knative-resources.spec.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-serving-data.ts
  frontend/packages/knative-plugin/src/utils/create-knative-utils.ts
  frontend/packages/knative-plugin/src/utils/get-knative-resources.ts
  frontend/packages/knative-plugin/src/utils/traffic-splitting-utils.ts
Labels: approved, component/dev-console, component/knative, lgtm

#5056 kubevirt: fix ovirt provider bugs + VM navigation on delete
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/providers/ovirt/ovirt-prefill-vm.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/types.ts
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/import/import-ovirt.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/actions.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm-import/vm-import-ovirt-source-wrapper.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm-import/vm-import-wrapper.ts
  frontend/packages/kubevirt-plugin/src/types/vm-import/ovirt/ovirt-vm.ts
  frontend/packages/kubevirt-plugin/src/types/vm-import/ovirt/vm-import.ts
Labels: approved, component/kubevirt, lgtm

#5059 Bug 1821387: Reenable performance test "downloads new bundle for ${routeName}"
  frontend/integration-tests/tests/performance.scenario.ts
Labels: approved, bugzilla/valid-bug, lgtm

#4999 Bug 1822553: Fix channel issue by narrowing down requests and loading guard
  frontend/packages/operator-lifecycle-manager/src/components/subscription.tsx
Labels: approved, bugzilla/valid-bug, component/olm, kind/bug, lgtm

#5028 Show last 50 events in Activity card
  frontend/packages/console-shared/src/components/dashboard/activity-card/ActivityBody.tsx
  frontend/packages/console-shared/src/components/dashboard/activity-card/activity-card.scss
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/activity-card.tsx
  frontend/public/components/dashboard/project-dashboard/activity-card.tsx
Labels: approved, component/core, component/dashboard, component/shared, lgtm

#4905 add Download all button to pipeline logs
  frontend/packages/dev-console/src/components/pipelineruns/detail-page-tabs/PipelineRunLogs.tsx
  frontend/packages/dev-console/src/components/pipelineruns/logs/LogsWrapperComponent.tsx
  frontend/packages/dev-console/src/components/pipelineruns/logs/MultiStreamLogs.scss
  frontend/packages/dev-console/src/components/pipelineruns/logs/MultiStreamLogs.tsx
  frontend/packages/dev-console/src/components/pipelineruns/logs/logs-utils.ts
  frontend/packages/dev-console/src/utils/pipeline-augment.ts
Labels: approved, component/core, component/dev-console, component/shared, lgtm

#5010 Topology: Refactor types and operations
  frontend/packages/dev-console/src/components/topology/Topology.tsx
  frontend/packages/dev-console/src/components/topology/components/componentFactory.ts
  frontend/packages/dev-console/src/components/topology/components/componentUtils.ts
  frontend/packages/dev-console/src/components/topology/components/groups/Application.tsx
  frontend/packages/knative-plugin/src/topology/components/groups/KnativeService.tsx
  frontend/packages/knative-plugin/src/topology/components/groups/KnativeServiceGroup.tsx
  frontend/packages/knative-plugin/src/topology/components/groups/KnativeServiceNode.tsx
  frontend/packages/knative-plugin/src/topology/components/knativeComponentFactory.ts
  frontend/packages/knative-plugin/src/topology/components/knativeComponentUtils.ts
  frontend/packages/knative-plugin/src/topology/knativeComponentUtils.ts
  frontend/packages/topology/src/behavior/dnd-types.ts
  frontend/packages/topology/src/behavior/useBendpoint.tsx
  frontend/packages/topology/src/behavior/useDndDrag.tsx
  frontend/packages/topology/src/behavior/useDndDrop.tsx
  frontend/packages/topology/src/behavior/useDndManager.tsx
  frontend/packages/topology/src/behavior/useDragNode.tsx
  frontend/packages/topology/src/behavior/useReconnect.tsx
  frontend/packages/topology/src/behavior/withCreateConnector.tsx
  frontend/packages/topology/stories/5-DragDrop.stories.tsx
Labels: approved, component/dev-console, component/knative, kind/cleanup, lgtm

#4688 [release-4.2] Bug 1807294: Fix sort criteria for capacity for storage tables
  frontend/public/components/factory/table.tsx
  frontend/public/components/persistent-volume-claim.jsx
  frontend/public/components/persistent-volume.jsx
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, component/core, lgtm, size/XS

#4727 Bug 1813185: Add stable-4.4, fast-4.4 and candidate-4.4 channel for 4.4 release
  frontend/public/module/k8s/cluster-settings.ts
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, component/core, lgtm, size/XS

#5011 Support showing how a PipelineRun was triggered
  frontend/packages/dev-console/src/components/pipelineruns/PipelineRunDetailsPage.tsx
  frontend/packages/dev-console/src/components/pipelineruns/__tests__/PipelineRunDetailsPage.spec.tsx
  frontend/packages/dev-console/src/components/pipelineruns/detail-page-tabs/PipelineRunDetails.tsx
  frontend/packages/dev-console/src/components/pipelineruns/detail-page-tabs/TriggeredBySection.scss
  frontend/packages/dev-console/src/components/pipelineruns/detail-page-tabs/TriggeredBySection.tsx
  frontend/packages/dev-console/src/components/pipelineruns/list-page/PipelineRunRow.tsx
  frontend/packages/dev-console/src/components/pipelineruns/triggered-by/ResourceKebabWithUserLabel.tsx
  frontend/packages/dev-console/src/components/pipelineruns/triggered-by/hooks.ts
  frontend/packages/dev-console/src/components/pipelineruns/triggered-by/index.ts
  frontend/packages/dev-console/src/components/pipelines/PipelineDetailsPage.tsx
  frontend/packages/dev-console/src/components/pipelines/__tests__/PipelineDetailsPage.spec.tsx
  frontend/packages/dev-console/src/components/pipelines/const.ts
  frontend/packages/dev-console/src/components/pipelines/list-page/PipelineRow.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/StartPipelineModal.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-overview/TriggerLastRunButton.tsx
  frontend/packages/dev-console/src/models/pipelines.ts
  frontend/packages/dev-console/src/utils/pipeline-actions.tsx
  frontend/packages/dev-console/src/utils/pipeline-augment.ts
Labels: approved, component/dev-console, lgtm

#5049 [release-4.4] Bug 1822716: Fetch CephCluster resources only when ceph functionality is available
  frontend/packages/metal3-plugin/src/components/modals/StartNodeMaintenanceModal.tsx
  frontend/packages/metal3-plugin/src/features.ts
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, component/metal3, lgtm

#5017 Refactored Node Selection Page for OCS Installation Flow
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/storage-class-dropdown.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/create-form.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/create-ocs-service.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/node-list.tsx
  frontend/packages/ceph-storage-plugin/src/utils/install.ts
Labels: approved, component/ceph, component/core, lgtm

#5055 Hide messages part of Status card while loading/empty
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/status-card/status-card.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/StatusCard.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/AlertsBody.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/HealthBody.tsx
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-alerts.tsx
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-status-card.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/StatusCard.tsx
  frontend/packages/noobaa-storage-plugin/src/components/status-card/status-card.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/status-card.tsx
  frontend/public/components/dashboard/project-dashboard/status-card.tsx
Labels: approved, component/ceph, component/core, component/dashboard, component/kubevirt, component/metal3, component/noobaa, component/shared, lgtm

#4955 Add credential management section in start pipeline modal.
  frontend/packages/dev-console/src/components/pipelines/const.ts
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/PipelineSecretSection.scss
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/PipelineSecretSection.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/SecretAnnotation.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/SecretForm.scss
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/SecretForm.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/SecretsList.scss
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/SecretsList.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/StartPipelineForm.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/StartPipelineModal.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-form/pipelineForm-validation-utils.ts
  frontend/packages/dev-console/src/components/pipelines/pipeline-resource/PipelineResourceForm.tsx
  frontend/packages/dev-console/src/utils/__tests__/pipeline-utils.spec.ts
  frontend/packages/dev-console/src/utils/pipeline-utils.ts
  frontend/public/components/secrets/create-secret.tsx
Labels: approved, component/core, component/dev-console, kind/feature, lgtm

#5072 Fix helm rollback request type
  frontend/packages/dev-console/src/components/helm/HelmReleaseRollbackPage.tsx
  frontend/packages/dev-console/src/components/helm/details/history/HelmReleaseHistoryRow.tsx
Labels: approved, component/dev-console, lgtm

#5005 Add pipeline trigger resource pages and related links in details pages
  frontend/packages/dev-console/src/components/pipelineruns/detail-page-tabs/PipelineRunDetails.tsx
  frontend/packages/dev-console/src/components/pipelineruns/detail-page-tabs/__tests__/PipelineRunDetails.spec.tsx
  frontend/packages/dev-console/src/components/pipelines/EventListenerPage.tsx
  frontend/packages/dev-console/src/components/pipelines/TriggerBindingPage.tsx
  frontend/packages/dev-console/src/components/pipelines/TriggerTemplatePage.tsx
  frontend/packages/dev-console/src/components/pipelines/detail-page-tabs/EventListenerDetails.tsx
  frontend/packages/dev-console/src/components/pipelines/detail-page-tabs/TriggerBindingDetails.tsx
  frontend/packages/dev-console/src/components/pipelines/detail-page-tabs/TriggerTemplateDetails.tsx
  frontend/packages/dev-console/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineDetails.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/utils.ts
  frontend/packages/dev-console/src/components/pipelines/resource-overview/ResourceLinkList.scss
  frontend/packages/dev-console/src/components/pipelines/resource-overview/ResourceLinkList.tsx
  frontend/packages/dev-console/src/components/pipelines/resource-overview/TriggerTemplateResourceLink.scss
  frontend/packages/dev-console/src/components/pipelines/resource-overview/TriggerTemplateResourceLink.tsx
  frontend/packages/dev-console/src/components/pipelines/resource-overview/__tests__/ResourceLinkList.spec.tsx
  frontend/packages/dev-console/src/components/pipelines/resource-types/index.ts
  frontend/packages/dev-console/src/components/pipelines/resource-types/triggers.ts
  frontend/packages/dev-console/src/components/pipelines/utils/triggers.ts
  frontend/packages/dev-console/src/models/pipelines.ts
  frontend/packages/dev-console/src/plugin.tsx
  frontend/packages/dev-console/src/utils/__tests__/pipeline-actions.spec.ts
  frontend/packages/dev-console/src/utils/pipeline-augment.ts
Labels: approved, component/dev-console, kind/feature, lgtm

#5061 Add container source form in event source add flow
  frontend/packages/knative-plugin/src/components/add/EventSourceForm.tsx
  frontend/packages/knative-plugin/src/components/add/__tests__/eventSource-validation-utils.spec.ts
  frontend/packages/knative-plugin/src/components/add/event-sources/ContainerSourceSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/__tests__/ContainerSourceSection.spec.tsx
  frontend/packages/knative-plugin/src/components/add/eventSource-validation-utils.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-serving-data.ts
  frontend/packages/knative-plugin/src/utils/create-eventsources-utils.ts
Labels: approved, component/knative, kind/feature, lgtm

#4944 Dynamically generated operand form
  frontend/package.json
  frontend/packages/console-shared/src/components/dynamic-form/const.ts
  frontend/packages/console-shared/src/components/dynamic-form/fields.tsx
  frontend/packages/console-shared/src/components/dynamic-form/index.tsx
  frontend/packages/console-shared/src/components/dynamic-form/styles.scss
  frontend/packages/console-shared/src/components/dynamic-form/templates.tsx
  frontend/packages/console-shared/src/components/dynamic-form/types.ts
  frontend/packages/console-shared/src/components/dynamic-form/utils.ts
  frontend/packages/console-shared/src/components/dynamic-form/widgets.tsx
  frontend/packages/console-shared/src/components/synced-editor/editor-toggle.tsx
  frontend/packages/console-shared/src/components/synced-editor/index.tsx
  frontend/packages/console-shared/src/components/synced-editor/styles.scss
  frontend/packages/console-shared/src/utils/utils.ts
  frontend/packages/operator-lifecycle-manager/integration-tests/mocks.tsx
  frontend/packages/operator-lifecycle-manager/integration-tests/scenarios/descriptors.scenario.ts
  frontend/packages/operator-lifecycle-manager/integration-tests/scenarios/global-installmode.scenario.ts
  frontend/packages/operator-lifecycle-manager/integration-tests/scenarios/single-installmode.scenario.ts
  frontend/packages/operator-lifecycle-manager/integration-tests/views/descriptors.view.ts
  frontend/packages/operator-lifecycle-manager/src/components/create-operand-form.tsx
  frontend/packages/operator-lifecycle-manager/src/components/create-operand.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/affinity.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/field-group.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/match-expressions.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/spec-descriptor-input.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/types.ts
  frontend/packages/operator-lifecycle-manager/src/components/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/k8s-resource.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/const.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/operand-form.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/operand-link.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/operand-yaml.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/utils.spec.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand/utils.ts
  frontend/packages/operator-lifecycle-manager/src/plugin.tsx
  frontend/packages/operator-lifecycle-manager/src/style.scss
  frontend/public/components/utils/selector-input.jsx
  frontend/public/module/k8s/types.ts
  frontend/yarn.lock
Labels: approved, component/core, component/olm, component/shared, lgtm

#5058 Bug 1820339: update expected name for AMQ Streams operator
  frontend/integration-tests/tests/operator-hub/operator-hub.scenario.ts
  frontend/integration-tests/views/operator-hub.view.ts
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, kind/test-flake, lgtm, priority/critical-urgent

#4931 create health checks form component
  frontend/packages/console-shared/src/components/form-utils/ActionGroupWithIcons.tsx
  frontend/packages/console-shared/src/components/form-utils/form-utils-types.ts
  frontend/packages/console-shared/src/components/form-utils/index.ts
  frontend/packages/console-shared/src/components/formik-fields/BaseInputField.tsx
  frontend/packages/console-shared/src/components/formik-fields/InputField.tsx
  frontend/packages/console-shared/src/components/formik-fields/InputGroupField.tsx
  frontend/packages/console-shared/src/components/formik-fields/TextColumnField.tsx
  frontend/packages/console-shared/src/components/formik-fields/field-types.ts
  frontend/packages/console-shared/src/components/formik-fields/index.ts
  frontend/packages/dev-console/src/components/health-checks/HealthCheckProbe.scss
  frontend/packages/dev-console/src/components/health-checks/HealthCheckProbe.tsx
  frontend/packages/dev-console/src/components/health-checks/HealthChecks.tsx
  frontend/packages/dev-console/src/components/health-checks/ProbeForm.scss
  frontend/packages/dev-console/src/components/health-checks/ProbeForm.tsx
  frontend/packages/dev-console/src/components/health-checks/RequestTypeForms.tsx
  frontend/packages/dev-console/src/components/health-checks/health-check-probe-utils.ts
  frontend/packages/dev-console/src/components/health-checks/health-check-probe-validation-utils.ts
  frontend/packages/dev-console/src/components/health-checks/health-checks-types.ts
Labels: approved, component/dev-console, component/shared, kind/feature, lgtm

#4971 Baremetal Node overview
  frontend/packages/console-app/src/components/nodes/node-dashboard/InventoryCard.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/StatusCard.tsx
  frontend/packages/console-shared/src/components/status/Status.tsx
  frontend/packages/console-shared/src/components/status/StatusIconAndText.tsx
  frontend/packages/console-shared/src/components/status/types.ts
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostDetails.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostDisks.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostNICs.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostStatus.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostsTable.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/BareMetalNodeDetails.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/BareMetalNodeDetailsOverview.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/BareMetalNodeDetailsPage.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/BareMetalNodeStatus.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/BareMetalNodesTable.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/DisksPage.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/NICsPage.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/dashboard/BareMetalNodeDashboard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/dashboard/BareMetalNodeDashboardContext.ts
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/dashboard/DetailsCard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/dashboard/InventoryCard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/dashboard/StatusCard.tsx
  frontend/packages/metal3-plugin/src/components/maintenance/MaintenancePopover.tsx
  frontend/packages/metal3-plugin/src/components/maintenance/StartingMaintenancePopoverContent.tsx
  frontend/packages/metal3-plugin/src/components/maintenance/UnderMaintenancePopoverContent.tsx
  frontend/packages/metal3-plugin/src/components/types.ts
  frontend/packages/metal3-plugin/src/plugin.tsx
  frontend/packages/metal3-plugin/src/status/baremetal-node-status.ts
  frontend/packages/metal3-plugin/src/status/host-status.ts
  frontend/packages/metal3-plugin/src/status/node-maintenance-status.ts
  frontend/public/components/utils/k8s-watch-hook.ts
Labels: approved, component/ceph, component/core, component/dashboard, component/kubevirt, component/metal3, component/noobaa, component/olm, component/sdk, component/shared, lgtm

#5012 Add Remove Trigger
  frontend/packages/dev-console/src/components/pipelines/modals/common/ModalStructure.tsx
  frontend/packages/dev-console/src/components/pipelines/modals/index.ts
  frontend/packages/dev-console/src/components/pipelines/modals/triggers/RemoveTriggerForm.tsx
  frontend/packages/dev-console/src/components/pipelines/modals/triggers/RemoveTriggerModal.tsx
  frontend/packages/dev-console/src/components/pipelines/modals/triggers/TriggerTemplateSelector.scss
  frontend/packages/dev-console/src/components/pipelines/modals/triggers/TriggerTemplateSelector.tsx
  frontend/packages/dev-console/src/components/pipelines/modals/triggers/remove-utils.ts
  frontend/packages/dev-console/src/components/pipelines/modals/triggers/types.ts
  frontend/packages/dev-console/src/components/pipelines/modals/triggers/validation-utils.ts
  frontend/packages/dev-console/src/components/pipelines/utils/triggers.ts
  frontend/packages/dev-console/src/utils/pipeline-actions.tsx
Labels: approved, component/dev-console, kind/feature, lgtm

#5051 [release-4.4] Bug 1824058: Remove namespace selector from BS and BC creation flow
  frontend/packages/noobaa-storage-plugin/src/components/bucket-class/create-bc.tsx
  frontend/packages/noobaa-storage-plugin/src/components/bucket-class/wizard-pages/general-page.tsx
  frontend/packages/noobaa-storage-plugin/src/components/bucket-class/wizard-pages/review-page.tsx
  frontend/packages/noobaa-storage-plugin/src/components/create-backingstore-page/create-bs.tsx
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, component/noobaa, kind/bug, lgtm

#4755 Fix capitalization and wording in Slack receiver form
  frontend/public/components/monitoring/receiver-forms/slack-receiver-form.tsx
Labels: approved, component/core, component/monitoring, lgtm

#4828 Add Helm Chart README to catalog page sidebar
  frontend/public/components/catalog/catalog-item-details.jsx
  frontend/public/components/catalog/catalog-page.tsx
Labels: approved, component/core, kind/feature, lgtm

#4903 Add pinned resource pages to dev perspective navigation
  frontend/__tests__/actions/ui.spec.ts
  frontend/packages/console-plugin-sdk/src/typings/perspectives.ts
  frontend/packages/console-shared/src/constants/common.ts
  frontend/packages/dev-console/integration-tests/tests/dev-perspective.scenario.ts
  frontend/packages/dev-console/src/plugin.tsx
  frontend/public/actions/ui.ts
  frontend/public/components/_resource-dropdown.scss
  frontend/public/components/nav/_perspective-nav.scss
  frontend/public/components/nav/confirmNavUnpinModal.tsx
  frontend/public/components/nav/items.tsx
  frontend/public/components/nav/perspective-nav.tsx
  frontend/public/components/nav/section.tsx
  frontend/public/components/search.tsx
  frontend/public/reducers/ui.ts
Labels: approved, component/core, component/dev-console, component/sdk, component/shared, kind/feature, lgtm

#4994 fix: cache parsed OpenAPI JSON
  frontend/public/module/k8s/swagger.ts
Labels: approved, component/core, lgtm
