Repository openshift/console, pull requests merged in 2020-12, with the labels that each got.

#7367 Cypress: disable Monitoring test suite
  frontend/packages/integration-tests-cypress/tests/monitoring/monitoring.spec.ts
Labels: approved, kind/test-flake, lgtm

#7095 Add API to create user settings
  cmd/bridge/main.go
  pkg/server/server.go
  pkg/usersettings/handlers.go
  pkg/usersettings/helpers.go
  pkg/usersettings/helpers_test.go
  pkg/usersettings/types.go
  pkg/usersettings/types_test.go
Labels: approved, component/backend, component/shared, lgtm

#7231 Use console.flag/model extension in console-app package
  frontend/.vscode/settings.json
  frontend/dynamic-demo-plugin/package.json
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/src/plugin.tsx
  frontend/packages/console-demo-plugin/console-extensions.json
  frontend/packages/console-dynamic-plugin-sdk/README.md
  frontend/packages/console-plugin-sdk/README.md
  frontend/packages/container-security/console-extensions.json
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/insights-plugin/console-extensions.json
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/local-storage-operator-plugin/console-extensions.json
  frontend/packages/metal3-plugin/console-extensions.json
  frontend/packages/network-attachment-definition-plugin/console-extensions.json
  frontend/packages/noobaa-storage-plugin/console-extensions.json
  frontend/packages/operator-lifecycle-manager/console-extensions.json
  frontend/packages/pipelines-plugin/console-extensions.json
  frontend/packages/topology/console-extensions.json
Labels: approved, component/ceph, component/core, component/dev-console, component/insights, component/knative, component/kubevirt, component/lso, component/metal3, component/network-attachment-definition, component/noobaa, component/olm, component/sdk, lgtm, qe-approved

#7258 Convert QuickStarts localstorage to user settings
  frontend/packages/console-app/src/components/quick-starts/QuickStartController.tsx
  frontend/packages/console-app/src/components/quick-starts/QuickStartDrawer.tsx
  frontend/packages/console-app/src/components/quick-starts/catalog/QuickStartCatalog.tsx
  frontend/packages/console-app/src/components/quick-starts/catalog/QuickStartTileFooter.tsx
  frontend/packages/console-app/src/components/quick-starts/catalog/__tests__/QuickStartCatalog.spec.tsx
  frontend/packages/console-app/src/components/quick-starts/catalog/__tests__/QuickStartTileFooter.spec.tsx
  frontend/packages/console-app/src/components/quick-starts/utils/quick-start-context.ts
  frontend/packages/console-app/src/plugin.tsx
  frontend/packages/console-shared/src/components/quick-starts/QuickStartsCatalogCard.tsx
  frontend/packages/console-shared/src/components/quick-starts/__tests__/QuickStartsCatalogCard.spec.tsx
  frontend/packages/dev-console/src/components/EmptyState.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/cluster-dashboard.tsx
  frontend/public/components/dashboard/dashboards-page/quick-start-badge.scss
  frontend/public/components/dashboard/dashboards-page/quick-start-badge.tsx
  frontend/public/locales/en/dashboard.json
Labels: approved, component/core, component/dashboard, component/dev-console, component/shared, lgtm

#7338 Add event sources in catalog using catalog extension API
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/formik-fields/item-selector-field/ItemSelectorField.tsx
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/catalog/event-source-data.ts
  frontend/packages/knative-plugin/src/catalog/index.ts
  frontend/packages/knative-plugin/src/catalog/useEventSourceProvider.ts
  frontend/packages/knative-plugin/src/catalog/useKameletsProvider.ts
  frontend/packages/knative-plugin/src/components/add/CatalogEventSourceForm.tsx
  frontend/packages/knative-plugin/src/components/add/EventSource.tsx
  frontend/packages/knative-plugin/src/components/add/EventSourceForm.tsx
  frontend/packages/knative-plugin/src/components/add/EventSourcePage.tsx
  frontend/packages/knative-plugin/src/components/add/__tests__/EventSource.spec.tsx
  frontend/packages/knative-plugin/src/components/add/__tests__/EventSourceForm.spec.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/EventSourcesSelector.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/__tests__/EventSourcesSelector.spec.tsx
  frontend/packages/knative-plugin/src/const.ts
  frontend/packages/knative-plugin/src/models.ts
  frontend/packages/knative-plugin/src/plugin.tsx
  frontend/packages/knative-plugin/src/utils/__tests__/create-eventsources-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/create-eventsources-utils.ts
Labels: approved, component/knative, component/shared, lgtm

#7349 i18n for kubevirt basic VM wizard
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm/create-vm.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form-reducer.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/create-vm-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/tabs/boot-source.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/tabs/review-create.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/tabs/select-template.tsx
  frontend/packages/kubevirt-plugin/src/components/form/form-row.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/add-template-source/add-template-source.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-resource.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-source.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
  frontend/packages/kubevirt-plugin/src/hooks/use-error-translation.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm-template/basic.ts
Labels: approved, component/kubevirt, lgtm

#7035 feature flag Helm based on HelmRepository CRs
  frontend/packages/dev-console/src/components/catalog/catalog-plugin.ts
  frontend/packages/dev-console/src/const.ts
  frontend/packages/dev-console/src/models/helm.ts
  frontend/packages/dev-console/src/models/index.ts
  frontend/packages/dev-console/src/plugin.tsx
  frontend/packages/dev-console/src/utils/helm-plugin-utils.ts
Labels: approved, component/core, component/dev-console, kind/feature, lgtm

#7131 generic component to highlight any part of the ui
  frontend/packages/console-app/src/components/tour/Spotlight.scss
  frontend/packages/console-app/src/components/tour/Spotlight.tsx
  frontend/packages/console-app/src/components/tour/TourStepComponent.tsx
  frontend/packages/console-app/src/components/tour/__tests__/TourStepComponent.spec.tsx
  frontend/packages/console-shared/src/components/index.ts
  frontend/packages/console-shared/src/components/spotlight/InteractiveSpotlight.tsx
  frontend/packages/console-shared/src/components/spotlight/Spotlight.tsx
  frontend/packages/console-shared/src/components/spotlight/StaticSpotlight.tsx
  frontend/packages/console-shared/src/components/spotlight/__tests__/Spotlight.spec.tsx
  frontend/packages/console-shared/src/components/spotlight/index.ts
  frontend/packages/console-shared/src/components/spotlight/spotlight.scss
Labels: approved, component/core, component/shared, lgtm

#7326 convert Topology filters localStorage to userSettings
  frontend/packages/topology/src/__tests__/Graph.spec.tsx
  frontend/packages/topology/src/components/page/TopologyDataRenderer.tsx
  frontend/packages/topology/src/components/page/TopologyView.tsx
  frontend/packages/topology/src/filters/FilterProvider.tsx
  frontend/packages/topology/src/filters/TopologyFilterBar.tsx
  frontend/packages/topology/src/filters/filter-utils.ts
  frontend/packages/topology/src/filters/useAppliedDisplayFilters.ts
  frontend/packages/topology/src/filters/useDisplayFilters.ts
  frontend/packages/topology/src/redux/action.ts
  frontend/packages/topology/src/redux/reducer.ts
Labels: approved, lgtm

#7332 Generate assets on postinstall hook
  frontend/package.json
Labels: approved, lgtm

#7361 Bug 1902123: Bump gorilla/websocket
  go.mod
  go.sum
  vendor/github.com/gorilla/websocket/.travis.yml
  vendor/github.com/gorilla/websocket/README.md
  vendor/github.com/gorilla/websocket/client.go
  vendor/github.com/gorilla/websocket/conn.go
  vendor/github.com/gorilla/websocket/doc.go
  vendor/github.com/gorilla/websocket/go.mod
  vendor/github.com/gorilla/websocket/go.sum
  vendor/github.com/gorilla/websocket/join.go
  vendor/github.com/gorilla/websocket/prepared.go
  vendor/github.com/gorilla/websocket/proxy.go
  vendor/github.com/gorilla/websocket/server.go
  vendor/github.com/gorilla/websocket/util.go
  vendor/modules.txt
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#7323 Add quick-search and add functionality in topology
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/quick-search/QuickSearch.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchBar.scss
  frontend/packages/topology/src/components/quick-search/QuickSearchBar.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchButton.scss
  frontend/packages/topology/src/components/quick-search/QuickSearchButton.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchContent.scss
  frontend/packages/topology/src/components/quick-search/QuickSearchContent.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchController.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchDetails.scss
  frontend/packages/topology/src/components/quick-search/QuickSearchDetails.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchIcon.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchList.scss
  frontend/packages/topology/src/components/quick-search/QuickSearchList.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchModal.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchModalBody.tsx
  frontend/packages/topology/src/filters/TopologyFilterBar.tsx
  frontend/packages/topology/src/filters/quick-search/QuickSearchButton.tsx
Labels: approved, lgtm

#7328 Catalog-Operator Hub: remove local storage and user filter preference
  frontend/packages/console-shared/src/constants/common.ts
  frontend/packages/dev-console/src/components/catalog/CatalogController.tsx
  frontend/packages/dev-console/src/components/catalog/catalog-view/CatalogView.tsx
  frontend/packages/dev-console/src/components/catalog/utils/filter-utils.ts
  frontend/public/components/catalog/catalog-items.tsx
  frontend/public/components/utils/tile-view-page.jsx
Labels: approved, component/core, component/dev-console, component/shared, lgtm

#5439 Edit backing store in bucket class modal
  frontend/packages/noobaa-storage-plugin/src/components/bucket-class/_backingstore-table.scss
  frontend/packages/noobaa-storage-plugin/src/components/bucket-class/backingstore-table.tsx
  frontend/packages/noobaa-storage-plugin/src/components/bucket-class/create-bc.scss
  frontend/packages/noobaa-storage-plugin/src/components/bucket-class/create-bc.tsx
  frontend/packages/noobaa-storage-plugin/src/components/bucket-class/modals/_bs-modal.scss
  frontend/packages/noobaa-storage-plugin/src/components/bucket-class/modals/edit-backingstore-modal.tsx
  frontend/packages/noobaa-storage-plugin/src/components/bucket-class/state.ts
  frontend/packages/noobaa-storage-plugin/src/components/bucket-class/wizard-pages/backingstore-page.tsx
  frontend/packages/noobaa-storage-plugin/src/components/bucket-class/wizard-pages/placement-policy-page.tsx
  frontend/packages/noobaa-storage-plugin/src/components/bucket-class/wizard-pages/review-page.tsx
  frontend/packages/noobaa-storage-plugin/src/constants/providers.ts
  frontend/packages/noobaa-storage-plugin/src/plugin.ts
  frontend/packages/noobaa-storage-plugin/src/types.ts
  frontend/packages/noobaa-storage-plugin/src/utils.ts
  frontend/public/components/factory/list-page.jsx
  frontend/public/components/filter-toolbar.tsx
Labels: approved, component/core, component/noobaa, component/shared, lgtm

#7303 Unify advanced/simple flow boot sources
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/storage-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/vm-settings-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/prefill-vm-template-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/vm-settings-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/storage-tab-validation.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/container-source.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/provision-source.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/url-source.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form-reducer.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form.tsx
  frontend/packages/kubevirt-plugin/src/components/form/helper/container-source-help.tsx
  frontend/packages/kubevirt-plugin/src/components/form/helper/url-source-help.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/add-template-source/add-template-source.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/storage-ui-source.ts
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-resource.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/provision-source.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/storage/data-volume-source-type.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/simple-create.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/combined-disk.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/data-volume-wrapper.ts
  frontend/packages/kubevirt-plugin/src/utils/strings.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/vm/disk.ts
Labels: approved, component/kubevirt, lgtm

#7322 Removing Protractor annotations test from e2e, crud, and all test suites due to flakyness
  frontend/integration-tests/tests/modal-annotations.scenario.ts
Labels: approved, lgtm

#7355 guest agent test: alert when delete vm while user is logged in
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.guest.agent.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/virtualMachine.view.ts
Labels: approved, component/kubevirt, lgtm, ok-to-test

#7362 Import console i18n instance
  frontend/packages/kubevirt-plugin/src/plugin.tsx
  frontend/webpack.config.ts
Labels: approved, component/kubevirt, lgtm

#7366 Bug 1898532: Remove _.startCase from FieldSet title
  frontend/packages/console-shared/src/components/dynamic-form/fields.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/shared, lgtm

#7370 Bug 1901395: Remove edit template link
  frontend/packages/kubevirt-plugin/src/components/vm-templates/menu-actions.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7051 Use User settings hook for topology layout data, topology view state (graph/list) and cloudshell terminal
  frontend/packages/console-app/src/components/cloud-shell/CloudShellTerminal.tsx
  frontend/packages/console-app/src/components/cloud-shell/__tests__/CloudShellTerminal.spec.tsx
  frontend/packages/console-app/src/components/cloud-shell/cloud-shell-utils.ts
  frontend/packages/console-app/src/components/cloud-shell/const.ts
  frontend/packages/console-shared/src/constants/common.ts
  frontend/packages/console-shared/src/hooks/useUserSettings.ts
  frontend/packages/console-shared/src/utils/user-settings.ts
  frontend/packages/topology/src/__tests__/TopologyPage.spec.tsx
  frontend/packages/topology/src/components/graph-view/Topology.tsx
  frontend/packages/topology/src/components/page/TopologyPage.tsx
  frontend/packages/topology/src/components/page/TopologyView.tsx
  frontend/packages/topology/src/const.ts
Labels: approved, component/ceph, component/core, component/dev-console, component/knative, component/kubevirt, component/lso, component/metal3, component/olm, component/sdk, component/shared, lgtm

#7223 Add ability to filter quick starts catalog
  frontend/packages/console-app/locales/en/quickstart.json
  frontend/packages/console-app/src/components/quick-starts/QuickStartCatalogPage.tsx
  frontend/packages/console-app/src/components/quick-starts/__tests__/QuickStartCatalogPage.spec.tsx
  frontend/packages/console-app/src/components/quick-starts/catalog/QuickStartCatalog.tsx
  frontend/packages/console-app/src/components/quick-starts/catalog/QuickStartCatalogFilter.scss
  frontend/packages/console-app/src/components/quick-starts/catalog/QuickStartCatalogFilter.tsx
  frontend/packages/console-app/src/components/quick-starts/catalog/__tests__/QuickStartCatalog.spec.tsx
  frontend/packages/console-app/src/components/quick-starts/utils/const.ts
  frontend/packages/console-app/src/components/quick-starts/utils/quick-start-utils.ts
Labels: approved, component/core, lgtm

#7310 Gherkin script for Pipelines - Improve Pipeline Creation Process- ODC…
  frontend/packages/dev-console/integration-tests/features/topology/topology_pipeline_feature-ODC-3925
Labels: approved, component/dev-console, lgtm

#7312 Gherkin Scripts for epic ODC-4645
  frontend/packages/dev-console/integration-tests/features/Knative/eventingPage-Admin.feature
  frontend/packages/dev-console/integration-tests/features/Knative/filters-Serving-Eventing-Admin.feature
  frontend/packages/dev-console/integration-tests/features/Knative/serverless-Admin-EmptyState.feature
  frontend/packages/dev-console/integration-tests/features/Knative/servingPage-Admin.feature
Labels: approved, component/dev-console, lgtm

#7371 Bug 1902969: Added a check on the value return from getOwnerReferences
  frontend/packages/kubevirt-plugin/src/components/info-messages/VMIDetailsPageInfoMessage.tsx
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, component/kubevirt, lgtm

#7372 i18n overview dashboard health state messages
  frontend/packages/console-app/src/components/dashboards-page/ControlPlaneStatus.tsx
  frontend/packages/console-app/src/components/dashboards-page/status.ts
  frontend/packages/console-plugin-sdk/src/typings/dashboards.ts
  frontend/packages/console-shared/src/components/dashboard/status-card/HealthItem.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/state-utils.ts
  frontend/packages/console-shared/src/components/dashboard/status-card/states.tsx
  frontend/packages/noobaa-storage-plugin/src/components/status-card/object-service-health.tsx
  frontend/packages/noobaa-storage-plugin/src/components/status-card/status-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/status-card/statuses.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/health-item.tsx
  frontend/public/locales/en/dashboard.json
Labels: approved, component/core, component/dashboard, component/noobaa, component/sdk, component/shared, lgtm

#7272 GitOps- Renamed Application Stages in nav to Environments
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/gitops/GitOpsListPage.tsx
  frontend/packages/dev-console/src/components/gitops/details/GitOpsDetailsPageHeading.tsx
  frontend/packages/dev-console/src/components/gitops/list/GitOpsListItem.tsx
  frontend/packages/dev-console/src/plugin.tsx
Labels: approved, component/core, component/dev-console, component/kubevirt, component/noobaa, component/shared, lgtm, ok-to-test

#7311 Custom support statement for templates
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/vm-settings-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/strings/renderable-field.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/vm-settings-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/types.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/utils/renderable-field-utils.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form-reducer.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/tabs/select-template.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/add-template-source/add-template-source.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/label.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm-templates/constants.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/constants.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-support-modal.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/common.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/default-template.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/default-vm.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/simple-create.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm-template/basic.ts
  frontend/packages/kubevirt-plugin/src/statuses/template/template-source-status.ts
  frontend/packages/kubevirt-plugin/src/statuses/template/types.ts
  frontend/public/components/factory/table.tsx
Labels: approved, component/core, component/kubevirt, lgtm

#7327 Update user settings hook to use bridge call to create ConfigMap
  frontend/__tests__/utils/hooks-utils.tsx
  frontend/packages/console-shared/src/hooks/__tests__/useUserSettings.spec.ts
  frontend/packages/console-shared/src/hooks/useUserSettings.ts
  frontend/packages/console-shared/src/utils/__tests__/user-settings.spec.ts
  frontend/packages/console-shared/src/utils/user-settings.ts
Labels: approved, component/backend, component/shared, lgtm

#7169 Bug 1896302: Fix 4.6 test failures
  frontend/packages/kubevirt-plugin/integration-tests/tests/cdi-upload.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/mocks/mocks.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/mocks/vmBuilderPresets.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/baseVirtualMachine.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/kubevirtUIResource.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/rhvImportWizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachine.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/vmwareImportWizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/common.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/enums/provisionSource.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/scripts/expect-login.sh
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/templates/windowsVMForRDPL2.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/utils.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.action.migration.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.base.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.flavor.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.next.run.configuration.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.resources.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.tab.console.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.tab.yaml.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.wizard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.wizard.validation.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmi.overview.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmtemplate.wizard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/pvc.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/uiResource.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/vm.disks.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/vm.environment.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/wizard.view.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7153 Kms cluster encryption
  frontend/packages/ceph-storage-plugin/src/components/kms-config/kms-config.scss
  frontend/packages/ceph-storage-plugin/src/components/kms-config/kms-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/utils.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/advanced-kms-modal/advanced-kms-modal.scss
  frontend/packages/ceph-storage-plugin/src/components/modals/advanced-kms-modal/advanced-kms-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/create-sc.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/state.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/review-and-create-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/configure.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/install-wizard.scss
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard-steps/review-and-create.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/ocs-request-data.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/types.ts
  frontend/packages/ceph-storage-plugin/src/constants/ocs-install.ts
  frontend/packages/ceph-storage-plugin/src/types.ts
  frontend/packages/ceph-storage-plugin/src/utils/common-ocs-install-el.tsx
Labels: approved, component/ceph, lgtm

#7333 Metal3 i18n form
  frontend/packages/metal3-plugin/locales/en/metal3-plugin.json
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostDetailsPage.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostsTable.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/add-baremetal-host/AddBareMetalHost.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/add-baremetal-host/AddBareMetalHostForm.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/add-baremetal-host/AddBareMetalHostPage.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/host-menu-actions.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/BareMetalNodeDetailsOverview.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/BareMetalNodeDetailsPage.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/BareMetalNodesPage.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/BareMetalNodesTable.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/CSRStatus.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/dashboard/DetailsCard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/dashboard/InventoryCard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/dashboard/StatusCard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/menu-actions.ts
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/table-filters.ts
  frontend/packages/metal3-plugin/src/components/maintenance/MaintenanceDashboardActivity.tsx
  frontend/packages/metal3-plugin/src/components/maintenance/StartingMaintenancePopoverContent.tsx
  frontend/packages/metal3-plugin/src/components/maintenance/UnderMaintenancePopoverContent.tsx
  frontend/packages/metal3-plugin/src/components/modals/PowerOffHostModal.tsx
  frontend/packages/metal3-plugin/src/components/modals/PowerOffStatusValidations.tsx
  frontend/packages/metal3-plugin/src/components/modals/RestartHostModal.tsx
  frontend/packages/metal3-plugin/src/components/modals/StartNodeMaintenanceModal.tsx
  frontend/packages/metal3-plugin/src/components/modals/StopNodeMaintenanceModal.tsx
  frontend/packages/metal3-plugin/src/constants/node-maintenance.ts
Labels: approved, component/core, component/metal3, lgtm

#7368 i18n ocs dashboards
  frontend/__tests__/components/graphs/area.spec.tsx
  frontend/__tests__/components/graphs/bar.spec.tsx
  frontend/__tests__/components/graphs/graph-empty.spec.tsx
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/__tests__/breakdown-body.spec.tsx
  frontend/packages/ceph-storage-plugin/src/__tests__/breakdown-chart.spec.tsx
  frontend/packages/ceph-storage-plugin/src/__tests__/independent-dashboard-breakdown-card.spec.tsx
  frontend/packages/ceph-storage-plugin/src/__tests__/independent-dashboard-details-card.spec.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/activity-card/activity-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/activity-card/cluster-expand-activity.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/activity-card/data-resiliency-activity.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/activity-card/ocs-upgrade-activity.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/breakdown-card/breakdown-body.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/breakdown-card/breakdown-capacity.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/breakdown-card/breakdown-dropdown.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/breakdown-card/consts.ts
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/breakdown-card/utils.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/capacity-breakdown/capacity-breakdown-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/inventory-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/status-card/status-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/status-card/utils.ts
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/storage-efficiency-card/storage-efficiency-card-item.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/storage-efficiency-card/storage-efficiency-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/utilization-card/utilization-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/independent-dashboard-page/breakdown-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/independent-dashboard-page/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/independent-dashboard-page/status-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/independent-dashboard-page/utilization-card.tsx
  frontend/packages/ceph-storage-plugin/src/plugin.ts
  frontend/packages/console-plugin-sdk/src/typings/dashboards.ts
  frontend/packages/console-shared/src/components/dashboard/details-card/DetailItem.tsx
  frontend/packages/console-shared/src/components/dashboard/inventory-card/InventoryItem.tsx
  frontend/packages/noobaa-storage-plugin/locales/en/noobaa-storage-plugin.json
  frontend/packages/noobaa-storage-plugin/src/components/activity-card/activity-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/activity-card/data-resiliency-activity/data-resiliency-activity.tsx
  frontend/packages/noobaa-storage-plugin/src/components/buckets-card/buckets-card-item.tsx
  frontend/packages/noobaa-storage-plugin/src/components/buckets-card/buckets-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/capacity-breakdown/capacity-breakdown-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/data-consumption-card/data-consumption-card-dropdown.tsx
  frontend/packages/noobaa-storage-plugin/src/components/data-consumption-card/data-consumption-card-utils.ts
  frontend/packages/noobaa-storage-plugin/src/components/data-consumption-card/data-consumption-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/data-consumption-card/data-consumption-graph.tsx
  frontend/packages/noobaa-storage-plugin/src/components/data-consumption-card/performance-graph.tsx
  frontend/packages/noobaa-storage-plugin/src/components/details-card/details-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/resource-providers-card/resource-providers-card-body.tsx
  frontend/packages/noobaa-storage-plugin/src/components/resource-providers-card/resource-providers-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/status-card/object-service-health.tsx
  frontend/packages/noobaa-storage-plugin/src/components/status-card/status-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/status-card/statuses.tsx
  frontend/packages/noobaa-storage-plugin/src/components/storage-efficiency-card/storage-efficiency-card.tsx
  frontend/packages/noobaa-storage-plugin/src/constants/data-consumption.ts
  frontend/packages/noobaa-storage-plugin/src/constants/status.ts
  frontend/packages/noobaa-storage-plugin/src/plugin.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/health-item.tsx
  frontend/public/components/graphs/graph-empty.tsx
  frontend/public/i18n.js
  frontend/public/locales/en/monitoring.json
  frontend/webpack.config.ts
Labels: approved, component/ceph, component/core, component/dashboard, component/noobaa, component/sdk, component/shared, lgtm

#7188 Add VM Create to Dev console
  frontend/package.json
  frontend/packages/dev-console/src/components/catalog/details/CatalogDetailsPanel.tsx
  frontend/packages/dev-console/src/components/catalog/providers/useBuilderImages.tsx
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm/create-vm.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/dev-console/create-vm-side-drawer.scss
  frontend/packages/kubevirt-plugin/src/components/create-vm/dev-console/dev-console-create-vm-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/dev-console/use-catalog-vm-templates.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/create-vm-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/hooks/use-vm-templates-filters.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/hooks/use-vm-templates-resources.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/tabs/select-template.tsx
  frontend/packages/kubevirt-plugin/src/components/form/popover-helper.tsx
  frontend/packages/kubevirt-plugin/src/plugin.tsx
  frontend/packages/kubevirt-plugin/src/selectors/vm-template/advanced.ts
  frontend/packages/kubevirt-plugin/src/topology/TopologyVmPanel.tsx
  frontend/yarn.lock
Labels: approved, component/core, component/dev-console, component/kubevirt, component/sdk, lgtm

#7240 gherkin script for quick search to add project in topology view- ODC-2925
  frontend/packages/dev-console/integration-tests/features/topology/quick_search_from_topology_views _to_add_to_project_ODC-2925
Labels: approved, component/dev-console, lgtm

#7012 Bug 1891314: Return helm charts based on the installed kubernetes version
  docs/helm/endpoints_api.md
  pkg/helm/actions/kube_version.go
  pkg/helm/chartproxy/proxy.go
  pkg/helm/chartproxy/proxy_test.go
  pkg/helm/chartproxy/repos_test.go
  pkg/helm/chartproxy/testdata/RepoIndexPreRelease.yaml
  pkg/helm/chartproxy/testdata/incompatibleRepoIndex.yaml
  pkg/helm/chartproxy/testdata/mergedRepoIndexPreReleaseV1-20-0-0.yaml
  pkg/helm/chartproxy/testdata/mergedRepoIndexPreReleaseV1-20-0-alpha2.yaml
  pkg/helm/chartproxy/testdata/mergedRepoIndexPreReleaseV1-20-0-beta2.yaml
  pkg/helm/chartproxy/testdata/sampleRepoIndex3.yaml
  pkg/helm/chartproxy/testdata/sampleRepoIndex3FilteredKube1-16-0.yaml
  pkg/helm/chartproxy/testdata/sampleRepoIndexFilteredKube1-14-0.yaml
  pkg/helm/chartproxy/testdata/sampleRepoIndexFilteredKube1-15-0.yaml
  pkg/helm/handlers/handler_test.go
  pkg/helm/handlers/handlers.go
  pkg/server/server.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/backend, component/ceph, component/core, component/dashboard, component/dev-console, component/kubevirt, component/noobaa, component/olm, component/shared, lgtm

#7335 Localize Virtualization nav name
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-virtualization.json
  frontend/packages/kubevirt-plugin/src/plugin.tsx
Labels: approved, component/kubevirt, lgtm

#7365 Bug 1901594: bump node-sass to 5.0.0
  Dockerfile.product
  frontend/package.json
  frontend/yarn.lock
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, kind/dependency-change, kind/test-flake, lgtm

#7383 setting storage class when selectedKey is set in storageClassDropDown
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/create-local-volume-set.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/storage-and-nodes-step.tsx
  frontend/public/components/utils/storage-class-dropdown.tsx
Labels: approved, component/ceph, component/core, lgtm

#7387 Bug 1903402: Added isVMPage boolean to choose correct links for Nics and Disks
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-inventory-card.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-dashboard-context.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-dashboard.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7388 Add missed i18n strings
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-alerts.tsx
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-inventory-card.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-details-page.tsx
  frontend/packages/kubevirt-plugin/src/strings/vm/messages.ts
Labels: approved, component/kubevirt, lgtm

#7281 Enable quickstart hints in quickstart sidepanel
  frontend/packages/console-app/src/components/quick-starts/QuickStartMarkdownView.tsx
  frontend/packages/console-app/src/components/quick-starts/controller/QuickStartConclusion.tsx
  frontend/packages/console-app/src/components/quick-starts/controller/QuickStartIntroduction.tsx
  frontend/packages/console-app/src/components/quick-starts/controller/QuickStartTaskReview.tsx
  frontend/packages/console-app/src/components/quick-starts/controller/QuickStartTasks.tsx
  frontend/packages/console-app/src/components/quick-starts/controller/__tests__/QuickStartConclusion.spec.tsx
  frontend/packages/console-app/src/components/quick-starts/controller/__tests__/QuickStartTaskReview.spec.tsx
  frontend/packages/console-app/src/components/quick-starts/controller/__tests__/QuickStartTasks.spec.tsx
  frontend/packages/console-shared/src/components/index.ts
  frontend/packages/console-shared/src/components/markdown-highlight-extension/MarkdownHighlightExtension.tsx
  frontend/packages/console-shared/src/components/markdown-highlight-extension/__tests__/highlight-consts.spec.ts
  frontend/packages/console-shared/src/components/markdown-highlight-extension/__tests__/test-data.ts
  frontend/packages/console-shared/src/components/markdown-highlight-extension/highlight-consts.ts
  frontend/packages/console-shared/src/components/markdown-highlight-extension/index.ts
  frontend/packages/console-shared/src/components/spotlight/InteractiveSpotlight.tsx
  frontend/packages/console-shared/src/components/spotlight/Spotlight.tsx
  frontend/packages/dev-console/src/components/helm/details/__tests__/HelmReleaseNotes.spec.tsx
  frontend/public/components/markdown-view.tsx
Labels: approved, component/core, component/dev-console, component/shared, lgtm

#7396 Add support for samples & snippets in pipeline builder yaml editor
  frontend/packages/console-shared/src/components/editor/YAMLEditor.tsx
  frontend/packages/console-shared/src/components/editor/YAMLEditorSidebar.tsx
  frontend/packages/console-shared/src/components/editor/yaml-editor-utils.ts
  frontend/packages/console-shared/src/components/formik-fields/YAMLEditorField.tsx
  frontend/packages/console-shared/src/components/formik-fields/field-types.ts
  frontend/packages/console-shared/src/utils/index.ts
  frontend/packages/console-shared/src/utils/sample-utils.ts
  frontend/packages/dev-console/src/components/helm/form/HelmInstallUpgradeForm.tsx
  frontend/packages/dev-console/src/components/hpa/HPAForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/public/components/edit-yaml.jsx
  frontend/public/components/sidebars/resource-sidebar-samples.tsx
  frontend/public/components/sidebars/resource-sidebar.tsx
  frontend/public/components/utils/async.tsx
Labels: approved, component/core, component/dev-console, component/shared, lgtm

#7344 add Kamelets- schema generated forms & yaml/form switching
  frontend/packages/console-shared/src/components/dynamic-form/index.tsx
  frontend/packages/console-shared/src/components/formik-fields/DynamicFormField.tsx
  frontend/packages/dev-console/src/components/catalog/details/CatalogDetailsModal.tsx
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/components/add/EventSource.tsx
  frontend/packages/knative-plugin/src/components/add/EventSourceForm.tsx
  frontend/packages/knative-plugin/src/components/add/EventSourcePage.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/EventSourceSection.tsx
  frontend/packages/knative-plugin/src/components/add/import-types.ts
  frontend/packages/knative-plugin/src/plugin.tsx
  frontend/packages/knative-plugin/src/utils/create-eventsources-utils.ts
Labels: approved, component/dev-console, component/knative, component/shared, lgtm

#7400 adds feature flag to catalog item provider
  frontend/packages/kubevirt-plugin/src/plugin.tsx
Labels: approved, component/kubevirt, lgtm

#6882 Bug 1882057: Fixes access mode support for PVC creation
  frontend/packages/console-app/src/components/access-modes/access-mode.tsx
  frontend/packages/console-app/src/components/modals/clone/_clone-pvc-modal.scss
  frontend/packages/console-app/src/components/modals/clone/clone-pvc-modal.tsx
  frontend/packages/console-app/src/components/modals/restore-pvc/restore-pvc-modal.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#7319 Bug 1899200: - In Installed Operators page I cannot search for an Operator by it's name
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/public/components/factory/table-filters.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/olm, lgtm

#7389 Validation on storage & nodes install step
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/create-sc.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard.tsx
Labels: approved, component/ceph, lgtm

#7336 Localize the Bare Metal Hosts side nav name
  frontend/packages/metal3-plugin/src/plugin.tsx
  frontend/webpack.config.ts
Labels: approved, component/metal3, lgtm

#7345 add pipeline metrics dashboard
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelineDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/hooks.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetrics.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetrics.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetricsEmptyState.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetricsRefreshDropdown.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetricsTimeRangeDropdown.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineRunCount.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineRunDurationGraph.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineRunTaskRunGraph.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineSuccessRatioDonut.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineMetrics.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineRunCount.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineRunDuration.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineRunTaskRunGraph.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineSuccessRatioDonut.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/pipeline-metrics-test-data.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/pipeline-metrics-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/charts/TimeSeriesChart.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/charts/lineChart.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/charts/successRatioDonut.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/pipeline-chart.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/pipeline-metrics-utils.ts
Labels: approved, kind/feature, lgtm

#7346 Update associated pipeline during the edit flow
  frontend/packages/dev-console/src/components/edit-application/EditApplication.tsx
  frontend/packages/dev-console/src/components/edit-application/EditApplicationForm.tsx
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/import/import-types.ts
  frontend/packages/pipelines-plugin/src/components/import/pipeline/PipelineSection.tsx
  frontend/packages/pipelines-plugin/src/components/import/pipeline/PipelineTemplate.tsx
  frontend/packages/pipelines-plugin/src/components/import/pipeline/__tests__/pipeline-template-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/import/pipeline/pipeline-template-utils.ts
  frontend/packages/pipelines-plugin/src/const.ts
  frontend/packages/pipelines-plugin/src/plugin.tsx
Labels: approved, component/dev-console, lgtm

#7351 Added init state to insights plugin
  frontend/packages/insights-plugin/src/components/InsightsPopup/index.tsx
  frontend/packages/insights-plugin/src/components/InsightsPopup/mappers.ts
  frontend/packages/insights-plugin/src/components/InsightsPopup/status.ts
  frontend/packages/insights-plugin/src/plugin.tsx
Labels: approved, component/insights, lgtm

#7369 Helm chart list should not return helm charts if the repo is disabled.
  pkg/helm/chartproxy/proxy.go
  pkg/helm/chartproxy/repos.go
  pkg/helm/chartproxy/repos_test.go
Labels: approved, component/backend, lgtm

#7395 Bug 1903196: Position Overview status popovers to display on top
  frontend/packages/console-shared/src/components/dashboard/dashboard-card/DashboardCardLink.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/dashboard, component/shared, lgtm

#7397 Bug 1901531: Fix runtime error in create CR form
  frontend/packages/console-shared/src/components/dynamic-form/fields.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/shared, lgtm

#7398 remove vm templates from template catalog
  frontend/packages/console-plugin-sdk/src/typings/dev-catalog.ts
  frontend/packages/dev-console/src/components/catalog/hooks/useCatalogExtensions.ts
  frontend/packages/dev-console/src/components/catalog/providers/useTemplates.tsx
  frontend/packages/dev-console/src/components/catalog/service/CatalogServiceProvider.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/dev-console/dev-catalog-vm-templates-filter.ts
  frontend/packages/kubevirt-plugin/src/plugin.tsx
Labels: approved, component/dev-console, component/kubevirt, component/sdk, lgtm

#7403 Fix common template providers
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vm-templates/label.tsx
  frontend/packages/kubevirt-plugin/src/selectors/vm-template/basic.ts
Labels: approved, component/kubevirt, lgtm

#7404 Changes to Capacity Metrics in OCS Persistent Storage Dashboard
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/capacity-breakdown/capacity-breakdown-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/raw-capacity-card/raw-capacity-card.scss
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/raw-capacity-card/raw-capacity-card.tsx
  frontend/packages/ceph-storage-plugin/src/constants/queries.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Labels: approved, component/ceph, lgtm

#6907 Bug 1874968: Pressing escape key doesn't exit the dropdown list
  frontend/public/components/utils/dropdown.jsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#7291 Convert Pinned Resources local storage to user settings
  frontend/__tests__/actions/ui.spec.ts
  frontend/packages/console-shared/src/hooks/__tests__/useUserSettings.spec.ts
  frontend/packages/console-shared/src/hooks/index.ts
  frontend/packages/console-shared/src/hooks/usePinnedResources.ts
  frontend/packages/console-shared/src/hooks/useUserSettings.ts
  frontend/packages/console-shared/src/hooks/useUserSettingsCompatibility.ts
  frontend/public/actions/ui.ts
  frontend/public/components/nav/perspective-nav.tsx
  frontend/public/components/search.tsx
  frontend/public/reducers/ui.ts
Labels: approved, component/core, component/shared, lgtm

#7392 Bug 1902595: Fix to show alerts in topology list view
  frontend/packages/console-shared/src/hooks/index.ts
  frontend/packages/console-shared/src/hooks/useReplicationControllersWatcher.ts
  frontend/packages/console-shared/src/utils/resource-utils.ts
  frontend/packages/topology/src/components/list-view/cells/AlertsCell.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/shared, lgtm

#7145 [ODC-4388] Allow cluster admins to create terminals
  frontend/packages/console-app/src/components/cloud-shell/CloudShellTerminal.tsx
  frontend/packages/console-app/src/components/cloud-shell/__tests__/CloudShellTerminal.spec.tsx
  frontend/packages/console-app/src/components/cloud-shell/cloud-shell-utils.ts
  frontend/packages/console-app/src/components/cloud-shell/setup/CloudShellAdminSetup.tsx
  frontend/packages/console-app/src/components/cloud-shell/setup/CloudShellDeveloperSetup.tsx
  frontend/packages/console-app/src/components/cloud-shell/useCloudShellWorkspace.ts
  pkg/terminal/auth.go
  pkg/terminal/proxy.go
Labels: approved, component/backend, component/core, lgtm, ok-to-test

#7288 Add ArgoCD application links to GitOpsDetailsPage cards
  frontend/packages/dev-console/src/components/gitops/GitOpsDetailsPage.tsx
  frontend/packages/dev-console/src/components/gitops/details/GitOpsDetails.scss
  frontend/packages/dev-console/src/components/gitops/details/GitOpsDetails.tsx
  frontend/packages/dev-console/src/components/gitops/details/GitOpsDetailsController.tsx
Labels: approved, component/dev-console, lgtm, ok-to-test

#7394 kubevirt i18n Actions
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/modals/menu-actions-modals/confirm-vmi-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/save-and-restart-modal/save-and-restart-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/disk-row.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/menu-actions.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/constants.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
Labels: approved, component/kubevirt, lgtm

#7339 Convert custom table column configuration from localStorage to user settings
  frontend/__tests__/components/modals/column-management-modal.spec.tsx
  frontend/packages/console-app/src/components/nodes/NodesPage.tsx
  frontend/packages/console-shared/src/constants/common.ts
  frontend/packages/console-shared/src/hoc/withUserSettingsCompatibility.tsx
  frontend/packages/console-shared/src/types/index.ts
  frontend/packages/console-shared/src/types/tableColumn.ts
  frontend/public/actions/ui.ts
  frontend/public/components/factory/table.tsx
  frontend/public/components/modals/column-management-modal.tsx
  frontend/public/components/namespace.jsx
  frontend/public/components/pod.tsx
  frontend/public/reducers/ui.ts
Labels: approved, component/core, component/shared, lgtm

#7377 Gherkin display task runs associated with pipeline run odc 3712
  frontend/packages/dev-console/integration-tests/features/pipelines/pipeline-Display_task_runs_ODC-3712.feature
Labels: approved, component/dev-console, lgtm

#7337 Localize remaining kubevirt-plugin modals
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-virtualization.json
  frontend/packages/kubevirt-plugin/src/components/LabelsList/consts.ts
  frontend/packages/kubevirt-plugin/src/components/LabelsList/labels-list.tsx
  frontend/packages/kubevirt-plugin/src/components/boot-order/add-device.tsx
  frontend/packages/kubevirt-plugin/src/components/boot-order/boot-order.tsx
  frontend/packages/kubevirt-plugin/src/components/boot-order/constants.tsx
  frontend/packages/kubevirt-plugin/src/components/boot-order/summary/boot-order-empty-summary.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/boot-order-modal/boot-order-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/delete-disk-modal/delete-disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/delete-nic-modal/delete-nic-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/delete-source/delete-source.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/description-modal/description-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/menu-actions-modals/delete-vm-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/menu-actions-modals/delete-vm-template-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/menu-actions-modals/delete-vmi-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/menu-actions-modals/vmi-users-alert.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/save-and-restart-modal/save-and-restart-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/components/affinity-edit/affinity-edit.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/components/affinity-expression-list/affinity-expression-list.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/components/affinity-expression-list/affinity-expression-row.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/validations.ts
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/eviction-strategy-modal/eviction-strategy-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/node-selector-modal/node-selector-header.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/node-selector-modal/node-selector-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/tolerations-modal/toleration-header.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/tolerations-modal/toleration-row.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-modal/snapshot-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/support-modal/support-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/vm-flavor-modal/vm-flavor-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/vm-status-modal/vm-status-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/vm-template-modals/source-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-status/vm-status.tsx
  frontend/packages/kubevirt-plugin/src/plugin.tsx
  frontend/packages/kubevirt-plugin/src/strings/vm/status.ts
  frontend/packages/kubevirt-plugin/src/utils/strings.ts
Labels: approved, component/kubevirt, lgtm

#7407 convert last used perspective local storage to user settings
  frontend/__tests__/actions/ui.spec.ts
  frontend/__tests__/components/graphs/prometheus-graph.spec.tsx
  frontend/__tests__/reducers/ui.spec.ts
  frontend/packages/console-app/src/components/detect-perspective/DetectPerspective.tsx
  frontend/packages/console-app/src/components/detect-perspective/__tests__/DetectPerspective.spec.tsx
  frontend/packages/console-app/src/components/detect-perspective/perspective-context.ts
  frontend/packages/console-shared/src/components/dashboard/utilization-card/TopConsumerPopover.tsx
  frontend/packages/console-shared/src/constants/common.ts
  frontend/packages/console-shared/src/hoc/index.ts
  frontend/packages/console-shared/src/hoc/withActivePerspective.tsx
  frontend/packages/console-shared/src/hooks/index.ts
  frontend/packages/console-shared/src/hooks/useActivePerspective.ts
  frontend/packages/console-shared/src/hooks/usePinnedResources.ts
  frontend/packages/console-shared/src/hooks/useTabbedTableBreadcrumb.ts
  frontend/packages/dev-console/src/components/edit-application/EditApplication.tsx
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/monitoring/overview/MonitoringOverviewAlerts.tsx
  frontend/packages/knative-plugin/src/components/add/EventSource.tsx
  frontend/packages/knative-plugin/src/components/add/__tests__/EventSource.spec.tsx
  frontend/packages/knative-plugin/src/components/add/channels/AddChannel.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.tsx
  frontend/public/actions/ui.ts
  frontend/public/components/app-contents.tsx
  frontend/public/components/graphs/prometheus-graph.tsx
  frontend/public/components/instantiate-template.tsx
  frontend/public/components/nav/nav-header.tsx
  frontend/public/components/nav/perspective-nav.tsx
  frontend/public/components/nav/section.tsx
  frontend/public/components/search.tsx
  frontend/public/reducers/ui.ts
Labels: approved, component/core, component/dashboard, component/dev-console, component/knative, component/olm, component/shared, lgtm

#7354 Cypress automation add flow container image scenarios - odc 5181
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-container-image.feature
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-container-image.ts
Labels: approved, component/dev-console, lgtm

#7382 Bug 1897008: Cypress: reenable check for 'aria-hidden-focus' rule & checkA11y test for modals
  frontend/packages/integration-tests-cypress/support/a11y.ts
  frontend/packages/integration-tests-cypress/support/project.ts
  frontend/packages/integration-tests-cypress/tests/crud/namespace-crud.spec.ts
  frontend/packages/integration-tests-cypress/tests/monitoring/monitoring.spec.ts
  frontend/public/components/app.jsx
  frontend/public/components/factory/modal.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#7393 Bug 1897354: make CRDCard display consistent with tabs
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/olm, lgtm

#7401 Gherkin Scripts for ODC-4181 and ODC-3954
  frontend/packages/dev-console/integration-tests/features/Knative/create-event-sources.feature
  frontend/packages/dev-console/integration-tests/features/Knative/event-Sources-InstallationView.feature
  frontend/packages/dev-console/integration-tests/features/Knative/event-Sources.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/developer-Catalog-Details.feature
  frontend/packages/dev-console/integration-tests/features/helm/install-HelmChart.feature
Labels: approved, component/dev-console, lgtm

#7415 Fix error state for Raw Capacity Card
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/breakdown-card/breakdown-body.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/breakdown-card/breakdown-card.scss
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/raw-capacity-card/raw-capacity-card.tsx
Labels: approved, component/ceph, lgtm

#7420 Move gitops code out into its own monorepo package
  frontend/packages/console-app/package.json
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/const.ts
  frontend/packages/dev-console/src/models/index.ts
  frontend/packages/dev-console/src/plugin.tsx
  frontend/packages/gitops-plugin/OWNERS
  frontend/packages/gitops-plugin/console-extensions.json
  frontend/packages/gitops-plugin/locales/en/gitops-plugin.json
  frontend/packages/gitops-plugin/package.json
  frontend/packages/gitops-plugin/src/components/GitOpsDetailsPage.tsx
  frontend/packages/gitops-plugin/src/components/GitOpsEmptyState.scss
  frontend/packages/gitops-plugin/src/components/GitOpsEmptyState.tsx
  frontend/packages/gitops-plugin/src/components/GitOpsListPage.scss
  frontend/packages/gitops-plugin/src/components/GitOpsListPage.tsx
  frontend/packages/gitops-plugin/src/components/details/CommitDetails.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetails.scss
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetails.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetailsController.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetailsPageHeading.scss
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetailsPageHeading.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsServiceDetailsSection.scss
  frontend/packages/gitops-plugin/src/components/details/GitOpsServiceDetailsSection.tsx
  frontend/packages/gitops-plugin/src/components/details/PodRingWrapper.tsx
  frontend/packages/gitops-plugin/src/components/details/TimestampWrapper.tsx
  frontend/packages/gitops-plugin/src/components/list/GitOpsList.scss
  frontend/packages/gitops-plugin/src/components/list/GitOpsList.tsx
  frontend/packages/gitops-plugin/src/components/list/GitOpsListItem.scss
  frontend/packages/gitops-plugin/src/components/list/GitOpsListItem.tsx
  frontend/packages/gitops-plugin/src/components/utils/gitops-data.ts
  frontend/packages/gitops-plugin/src/components/utils/gitops-types.ts
  frontend/packages/gitops-plugin/src/components/utils/gitops-utils.ts
  frontend/packages/gitops-plugin/src/components/utils/useConsoleURL.ts
  frontend/packages/gitops-plugin/src/components/utils/useDefaultSecret.tsx
  frontend/packages/gitops-plugin/src/const.ts
  frontend/packages/gitops-plugin/src/images/gitops.svg
  frontend/packages/gitops-plugin/src/models/gitops.ts
  frontend/packages/gitops-plugin/src/models/index.ts
  frontend/packages/gitops-plugin/src/plugin.ts
  frontend/packages/helm-plugin/package.json
  frontend/public/i18n.js
  frontend/webpack.config.ts
Labels: approved, component/core, component/dev-console, lgtm

#7218 [release-4.6] Bug 1898096: Ensure correct git URL for topology edit icon
  frontend/package.json
  frontend/packages/dev-console/src/components/topology/data-transforms/__tests__/data-transformer.spec.ts
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
  frontend/yarn.lock
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, lgtm

#7426 Bug 1856803: Fix cluster monitoring link
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/olm, lgtm

#7376 Create stretch cluster with arbiter node.
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/attached-devices.scss
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/create-sc.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/state.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/create-local-volume-set.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/review-and-create-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/storage-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/capacity-and-nodes.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/node-list.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/ocs-request-data.ts
  frontend/packages/ceph-storage-plugin/src/constants/index.ts
  frontend/packages/ceph-storage-plugin/src/constants/ocs-install.ts
  frontend/packages/ceph-storage-plugin/src/types.ts
  frontend/packages/ceph-storage-plugin/src/utils/install.ts
Labels: approved, component/ceph, component/core, lgtm

#7410 Use extensions to add decorators to topology nodes
  frontend/packages/helm-plugin/src/topology/helm-topology-plugin.tsx
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/topology/__tests__/topology-knative-test-data.ts
  frontend/packages/knative-plugin/src/topology/components/decorators/ServiceRouteDecorator.tsx
  frontend/packages/knative-plugin/src/topology/components/decorators/getServiceRouteDecorator.tsx
  frontend/packages/knative-plugin/src/topology/components/decorators/index.ts
  frontend/packages/knative-plugin/src/topology/components/groups/KnativeServiceGroup.tsx
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
  frontend/packages/knative-plugin/src/topology/topology-plugin.ts
  frontend/packages/knative-plugin/src/topology/topology-types.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-overview/PipelineOverview.tsx
  frontend/packages/pipelines-plugin/src/plugin.tsx
  frontend/packages/pipelines-plugin/src/topology/build-decorators/PipelineRunDecorator.tsx
  frontend/packages/pipelines-plugin/src/topology/build-decorators/__tests__/PipelineRunDecorator.spec.tsx
  frontend/packages/pipelines-plugin/src/topology/build-decorators/__tests__/decorator-data.tsx
  frontend/packages/pipelines-plugin/src/topology/build-decorators/getPipelineRunDecorator.tsx
  frontend/packages/pipelines-plugin/src/topology/build-decorators/index.ts
  frontend/packages/pipelines-plugin/src/topology/getPipelinesDataModelReconciler.ts
  frontend/packages/pipelines-plugin/src/topology/index.ts
  frontend/packages/pipelines-plugin/src/topology/pipelinesTopologyPlugin.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-plugin-utils.ts
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/package.json
  frontend/packages/topology/src/__tests__/topology-test-data.ts
  frontend/packages/topology/src/components/graph-view/components/nodes/WorkloadNode.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/build-decorators/BuildDecorator.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/build-decorators/__tests__/BuildDecorator.spec.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/build-decorators/__tests__/decorator-data.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/build-decorators/index.ts
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/BuildDecorator.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/BuildDecoratorBubble.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/Decorator.scss
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/Decorator.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/EditDecorator.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/MonitoringAlertsDecorator.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/UrlDecorator.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/defaultDecorators.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/defaultDecoratorsPlugin.ts
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/getDefaultDecorators.ts
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/getNodeDecorators.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/index.ts
  frontend/packages/topology/src/components/graph-view/components/nodes/index.ts
  frontend/packages/topology/src/components/page/TopologyView.tsx
  frontend/packages/topology/src/data-transforms/data-transformer.ts
  frontend/packages/topology/src/data-transforms/transform-utils.ts
  frontend/packages/topology/src/extensions/topology.ts
  frontend/packages/topology/src/operators/operatorsTopologyPlugin.ts
  frontend/packages/topology/src/plugin.tsx
  frontend/packages/topology/src/topology-types.ts
Labels: approved, component/knative, kind/cleanup, kind/feature, lgtm

#7418 add sc detection to vm snapshots
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-modal/snapshot-modal.scss
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-modal/snapshot-modal.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm-templates/constants.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm/selectors.ts
Labels: approved, component/kubevirt, lgtm

#7422 i18n for dropdown object enums
  frontend/packages/console-shared/src/utils/validation/validation.ts
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/flavor.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/provision-source.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/workload-profile.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/storage-ui-source.ts
  frontend/packages/kubevirt-plugin/src/components/modals/nic-modal/nic-modal.tsx
  frontend/packages/kubevirt-plugin/src/constants/select-dropdown-object-enum.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/constants.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/flavor.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/network/network-interface-model.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/network/network-interface-type.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/provision-source.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/storage/data-volume-source-type.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/storage/disk-bus.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/workload-profile.ts
  frontend/packages/kubevirt-plugin/src/utils/strings.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/vm/disk.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/vm/nic.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/vm/vm.ts
  frontend/packages/network-attachment-definition-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionsForm.tsx
Labels: approved, component/kubevirt, component/network-attachment-definition, component/shared, lgtm

#7423 Localize more kubevirt strings
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/LabelsList/LabelRow/label-row.tsx
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/tabs/select-template.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/clone-vm-modal/clone-vm-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/affinity-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/components/affinity-table/affinity-table.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/shared/NodeChecker/node-checker.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/shared/consts.ts
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/tolerations-modal/tolerations-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/guest-agent-file-systems.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/vm-snapshot-details.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm-templates/constants.ts
Labels: approved, component/core, component/kubevirt, lgtm

#7379 Fix sorting of nav section items
  frontend/__tests__/components/nav/navSortUtils.spec.ts
  frontend/public/components/nav/navSortUtils.ts
  frontend/public/components/nav/perspective-nav.tsx
  frontend/public/components/nav/section.tsx
Labels: approved, component/core, kind/bug, lgtm

#7390 Save dropdown bookmarks and favoriteKey in user settings
  frontend/packages/console-shared/src/components/dropdown/ResourceDropdown.tsx
  frontend/packages/console-shared/src/components/dropdown/__tests__/ResourceDropdown.spec.tsx
  frontend/packages/console-shared/src/components/dynamic-form/fields.tsx
  frontend/packages/console-shared/src/constants/common.ts
  frontend/packages/topology/src/components/dropdowns/ApplicationDropdown.tsx
  frontend/packages/topology/src/components/dropdowns/NamespaceBarApplicationSelector.tsx
  frontend/public/components/namespace.jsx
  frontend/public/components/routes/create-route.tsx
  frontend/public/components/utils/dropdown.jsx
Labels: approved, component/core, component/shared, lgtm

#7413 Bug 1903172: Background shadow appears under datalist in column management modal
  frontend/public/components/modals/column-management-modal.tsx
  frontend/public/style/_overrides.scss
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#7330 KMS flow for storage class creation
  frontend/packages/ceph-storage-plugin/src/components/kms-config/kms-config.scss
  frontend/packages/ceph-storage-plugin/src/components/kms-config/kms-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/utils.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/advanced-kms-modal/advanced-kms-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/configure.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/types.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.scss
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
  frontend/packages/ceph-storage-plugin/src/constants/ocs-install.ts
  frontend/packages/ceph-storage-plugin/src/utils/ocs-storage-class-params.tsx
  frontend/packages/ceph-storage-plugin/src/utils/storage-pool.tsx
Labels: approved, component/ceph, component/sdk, lgtm

#7356 Cypress Automation - Add flow docker flow scenarios-ODC-5182
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-docker-file.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-git.feature
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-docker-file.ts
Labels: approved, component/dev-console, lgtm

#7357 Cpress automation scripts for Add Flow catalog scenarios-odc-5184
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-catalog.feature
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/catalog-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-catalog.ts
Labels: approved, component/dev-console, lgtm

#7409 gherkin_usability_enhancement_for_quick_start-ODC-4653
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/ability_to_filter_quick_starts_catalog_ODC-4872.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/quick_start_card_on_cluster_overview_ODC-4922.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/quick_start_hints_in_quickstart_sidepanel_ODC-4964.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/quick_start_in_developer_perspective.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick_start.feature
Labels: approved, component/dev-console, lgtm

#7425 Revert "remove tech preview badge from web terminal"
  frontend/packages/console-app/src/components/cloud-shell/CloudShellDrawer.tsx
  frontend/packages/console-app/src/components/cloud-shell/CloudShellTab.tsx
Labels: approved, component/core, lgtm

#7196 Get customized catalog categories in dev catalog from server flags
  cmd/bridge/main.go
  frontend/@types/console/declarations.d.ts
  frontend/packages/dev-console/src/components/catalog/catalog-view/CatalogCategories.tsx
  frontend/packages/dev-console/src/components/catalog/catalog-view/CatalogToolbar.tsx
  frontend/packages/dev-console/src/components/catalog/catalog-view/CatalogView.tsx
  frontend/packages/dev-console/src/components/catalog/hooks/useCatalogCategories.ts
  frontend/packages/dev-console/src/components/catalog/utils/catalog-utils.tsx
  frontend/packages/dev-console/src/components/catalog/utils/category-utils.ts
  frontend/packages/dev-console/src/components/catalog/utils/default-categories.ts
  frontend/packages/dev-console/src/components/catalog/utils/types.ts
  pkg/server/server.go
  pkg/serverconfig/config.go
  pkg/serverconfig/config_test.go
  pkg/serverconfig/test/bind-address-config.yaml
  pkg/serverconfig/types.go
  pkg/serverconfig/validate.go
  pkg/serverconfig/validate_test.go
Labels: approved, component/backend, component/core, component/dev-console, lgtm

#7297 Provide code snippet for default console catalog categories
  frontend/packages/console-shared/src/utils/sample-utils.ts
  frontend/public/components/sidebars/resource-sidebar-samples.tsx
  frontend/public/models/index.ts
Labels: approved, component/backend, component/core, component/dev-console, component/shared, lgtm

#7428 Do not load topology resources when in all namespaces project is selected
  frontend/packages/topology/src/data-transforms/DataModelProvider.tsx
  frontend/packages/topology/src/data-transforms/TopologyDataRetriever.tsx
Labels: approved, kind/bug, lgtm

#7416 (feat): Enable flexible scaling in storage cluster deployment
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/create-sc.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/state.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/review-and-create-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/storage-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard-steps/review-and-create.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard-steps/select-capacity-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/ocs-request-data.ts
  frontend/packages/ceph-storage-plugin/src/types.ts
  frontend/packages/ceph-storage-plugin/src/utils/common-ocs-install-el.tsx
Labels: approved, component/ceph, lgtm

#7375 Cypress Automation - Pipelines for add options-odc-5188
  frontend/packages/dev-console/integration-tests/features/pipelines/create-from-add-options.feature
  frontend/packages/dev-console/integration-tests/support/commands/app.ts
  frontend/packages/dev-console/integration-tests/support/constants/pageTitle.ts
  frontend/packages/dev-console/integration-tests/support/constants/pipelines.ts
  frontend/packages/dev-console/integration-tests/support/constants/staticText/global-text.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/global-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/pipelines-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/createGitWorkload.ts
  frontend/packages/dev-console/integration-tests/support/pages/pipelines/pipelineBuilder-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/pipelines/pipelineDetails-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/pipelines/pipelineRun-details-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/pipelines/pipelines-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/addFlow.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/operators.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/topology.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/pipelines/create-from-add-options.ts
Labels: approved, component/dev-console, lgtm

#7434 Bug 1904776: Snapshot modal alert is not pluralized
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-modal/snapshot-modal.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7439 Bug 1902981: Namespace is passed differently when using create vm from template.
  frontend/packages/kubevirt-plugin/src/components/vm-templates/menu-actions.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/utils.ts
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7009 CONSOLE-2431: i18n for home/api-explorer
  frontend/public/components/api-explorer.tsx
  frontend/public/i18n.js
  frontend/public/locales/en/api-explorer.json
Labels: approved, component/core, docs-approved, lgtm, px-approved, qe-approved

#7038 Bug 1892198: Fix runtime error on operand details page.
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/olm, lgtm

#7266 CONSOLE-2391: Monitoring: Add i18n for Metrics and Dashboards pages
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/components/monitoring/poll-interval-dropdown.tsx
  frontend/public/locales/en/monitoring.json
Labels: approved, component/core, component/monitoring, docs-approved, lgtm, px-approved, qe-approved

#7445 Cypress: do not test for i18n pseudo-translation of timestamps
  frontend/packages/integration-tests-cypress/tests/crud/k8-openshift-cruds.spec.ts
  frontend/packages/integration-tests-cypress/tests/i18n/pseudolocalization.spec.ts
Labels: approved, lgtm

#7259 CONSOLE-2477: Improve OperatorHub -> Sources view
  frontend/packages/operator-lifecycle-manager/locales/en/catalog-source.json
  frontend/packages/operator-lifecycle-manager/src/components/catalog-source.tsx
  frontend/packages/operator-lifecycle-manager/src/types.ts
Labels: approved, component/olm, docs-approved, lgtm, px-approved, qe-approved

#7442 Bug 1905104: Snapshot modal disk items missing keys
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-modal/snapshot-modal.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7248 Bug 1872166: Fix Silences link redirection from developer perspective
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/utils.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/dev-console, component/monitoring, kind/bug, lgtm

#7433 convert last used namespace local storage to userSettings
  frontend/packages/console-app/src/components/detect-namespace/DetectNamespace.tsx
  frontend/packages/console-app/src/components/detect-namespace/namespace.ts
  frontend/packages/console-shared/src/hoc/index.ts
  frontend/packages/console-shared/src/hoc/withLastNamespace.tsx
  frontend/packages/console-shared/src/hooks/index.ts
  frontend/packages/console-shared/src/hooks/redux-selectors.ts
  frontend/packages/console-shared/src/hooks/useActiveNamespace.ts
  frontend/packages/dev-console/src/components/projects/CreateProjectListPage.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard-footer.tsx
  frontend/public/actions/ui.ts
  frontend/public/components/RBAC/bindings.jsx
  frontend/public/components/app.jsx
  frontend/public/components/modals/delete-namespace-modal.tsx
  frontend/public/components/namespace.jsx
  frontend/public/components/nav/admin-nav.tsx
  frontend/public/components/nav/items.tsx
  frontend/public/components/utils/breadcrumbs.ts
  frontend/public/reducers/ui.ts
Labels: approved, component/core, component/dev-console, component/kubevirt, component/shared, lgtm

#6314 Bug 1882268: Add snapshots integration test
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/kubevirtUIResource.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.tab.snapshots.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/vm.snapshots.view.ts
  frontend/packages/kubevirt-plugin/package.json
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/vm-snapshot-row.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7449 Bug 1904993: Remove &amp; in strings
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/route/SecureRoute.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, lgtm

#7452 route eventsource from Admin to catalog for source and workload on create
  frontend/packages/knative-plugin/src/components/add/EventSourcePage.tsx
  frontend/packages/knative-plugin/src/components/eventing/EventingListPage.tsx
  frontend/packages/knative-plugin/src/plugin.tsx
Labels: approved, component/knative, kind/bug, lgtm

#7444 Hide scale buttons of pod donut for Pod resources
  frontend/packages/console-shared/src/utils/__tests__/pod-ring-utils.spec.ts
  frontend/packages/console-shared/src/utils/pod-ring-utils.ts
Labels: approved, component/shared, kind/bug, lgtm

#7269 Check certificate before uploading
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/create-vm.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form-reducer.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form.tsx
  frontend/packages/kubevirt-plugin/src/components/form/project-dropdown.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/add-template-source/add-template-source.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-source.tsx
  frontend/packages/kubevirt-plugin/src/hooks/use-error-translation.ts
  frontend/public/components/factory/modal.tsx
  frontend/public/components/utils/list-dropdown.jsx
Labels: approved, component/core, component/kubevirt, lgtm

#7454 Bug 1904244: Drop usage of i18next.t from plugin.ts files
  frontend/packages/ceph-storage-plugin/src/plugin.ts
  frontend/packages/local-storage-operator-plugin/src/plugin.ts
  frontend/packages/noobaa-storage-plugin/src/plugin.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/ceph, component/lso, component/noobaa, lgtm

#7455 Bug 1905146: Fix helm unit test failures
  pkg/helm/chartproxy/repos_test.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/backend, lgtm

#7463 Bug 1905542: Replace 'Baremetal' with 'BareMetal' in the supported platforms for I…
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-page.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/ceph, lgtm, ok-to-test

#7468 Show type badge on every tile in all catalogs
  frontend/packages/dev-console/src/components/catalog/CatalogController.tsx
Labels: approved, component/dev-console, lgtm

#7427 Bug 1903192: - Role name missing on create role binding form
  frontend/public/components/RBAC/role.jsx
Labels: approved, component/core, lgtm

#7460 add minwidth to taskBar
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunLogs.scss
Labels: approved, lgtm

#7458 Bug 1881268: Image uploading failed but wizard claim the source
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/add-template-source/add-template-source.tsx
  frontend/packages/kubevirt-plugin/src/k8s/requests/cdi-upload/cdi-upload-requests.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#7419 Add feature guard for Multus
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/configure-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/review-and-create-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/install.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard-steps/configure.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard-steps/review-and-create.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/features.ts
Labels: approved, component/ceph, lgtm

#7453 Bug 1905380: Default to Red Hat/KubeVirt provider if common template does not have …
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
  frontend/packages/kubevirt-plugin/src/hooks/use-support-modal.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm-template/basic.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7443 Fix to not show misleading alert message in Project Access Page
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/project-access/ProjectAccessForm.tsx
  frontend/packages/dev-console/src/components/project-access/__tests__/ProjectAccessForm.spec.tsx
Labels: approved, component/dev-console, kind/bug, lgtm

#7459 Show error if common template does not have SRC_PV params
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/vm-settings-tab-validation.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form-reducer.ts
  frontend/packages/kubevirt-plugin/src/components/modals/add-template-source/add-template-source.tsx
Labels: approved, component/kubevirt, lgtm

#7479 Bug 1879419: Improve boot source description for Container and URL
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/provision-source.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#6873 Improve secret hostname hint
  frontend/packages/dev-console/integration-tests/features/pipelines/pipelines-secrets.feature
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/PipelineSecretSection.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/SecretAnnotation.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/SecretAnnotation.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/SecretForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/SecretsList.tsx
Labels: approved, component/dev-console, kind/bug, lgtm

#7052 Adds default label to snapshot class with the correct annotation
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot-class.tsx
Labels: approved, component/core, lgtm

#7462 Bug 1900377: Add selector for active users on Overview tab
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.guest.agent.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/dashboard.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/virtualMachine.view.ts
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-details-card.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7438 Fix pipelinerun visualization inprogress crash
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunVisualization.scss
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunVisualization.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/__tests__/PipelineRunVisualization.spec.tsx
Labels: approved, kind/bug, lgtm

#7448 Cypress Annotations tests
  frontend/integration-tests/protractor.conf.ts
  frontend/integration-tests/tests/modal-annotations.scenario.ts
  frontend/integration-tests/views/crud.view.ts
  frontend/integration-tests/views/environment.view.ts
  frontend/integration-tests/views/modal-annotations.view.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/topology-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/modal.ts
  frontend/packages/dev-console/integration-tests/support/pages/topology/topology-side-pane-page.ts
  frontend/packages/dev-console/integration-tests/views/git-import-flow.view.ts
  frontend/packages/dev-console/integration-tests/views/topology.view.ts
  frontend/packages/integration-tests-cypress/tests/crud/annotations.spec.ts
  frontend/packages/integration-tests-cypress/views/modal.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachine.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/uiResource.view.ts
  frontend/public/components/utils/details-page.tsx
  frontend/public/components/utils/name-value-editor.jsx
Labels: approved, component/core, component/dev-console, component/kubevirt, lgtm

#7491 Fixed endless loading state for insights plugin
  frontend/packages/insights-plugin/src/components/InsightsPopup/status.ts
Labels: approved, component/insights, lgtm

#7493 Remove border rule since upstream fix has merged
  frontend/public/components/_dropdown.scss
Labels: approved, component/core, lgtm

#7170 Use kubevirt sc config map
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form-reducer.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/create-vm-form.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/add-template-source/add-template-source.tsx
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/simple-create.ts
Labels: approved, component/core, component/kubevirt, lgtm

#7441 Bug 1905348: Gherkin Script Scenarios for epic ODC-4658
  frontend/packages/dev-console/integration-tests/features/Knative/eventing-kamletes.feature
  frontend/packages/dev-console/integration-tests/features/operators.feature
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, lgtm

#7485 Add missing OS name to details popover.
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
  frontend/packages/kubevirt-plugin/src/selectors/vm-template/advanced.ts
Labels: approved, component/kubevirt, lgtm

#7492 fix quick start catalog tile icon alignment
  frontend/packages/console-app/src/components/quick-starts/catalog/QuickStartTile.scss
Labels: approved, component/core, lgtm

#7487 Bug 1866298: Label namespace during storage cluster creation
  frontend/packages/ceph-storage-plugin/src/components/independent-mode/install.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/create-sc.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/install-lso-sc.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/ocs-request-data.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/ceph, lgtm

#7503 Bug 1906318: kubevirt: use proper term for Authorized SSH Keys
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/cloud-init-tab/cloud-init-tab.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7483 Bug 1879013: Improve CD-ROM interface selection
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7504 Bug 1888544: Trim user provided name for OBC before attempting creation
  frontend/packages/noobaa-storage-plugin/src/components/object-bucket-claim-page/create-obc.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/noobaa, lgtm

#7506 Externalize the recent changes on kms and flexible scaling
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
  frontend/packages/ceph-storage-plugin/src/utils/common-ocs-install-el.tsx
Labels: approved, component/ceph, lgtm

#7494 Bug 1905941: Add optional chaining to catalog source Status field
  frontend/packages/operator-lifecycle-manager/src/components/catalog-source.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/olm, lgtm

#7510 Bug 1906186: use 'the' instead of 'this/these' in alert message
  frontend/public/components/monitoring/alert-manager-config.tsx
  frontend/public/locales/en/alert-manager-config.json
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/monitoring, lgtm

#7219 [release-4.5] Bug 1898102: Ensure correct git URL for topology edit icon
  frontend/package.json
  frontend/packages/dev-console/src/components/topology/data-transforms/__tests__/data-transformer.spec.ts
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
  frontend/yarn.lock
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, lgtm

#7514 Bug 1906441: fix keys for HorizontalNav and NavBar
  frontend/public/components/utils/horizontal-nav.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#7008 [release-4.6] Bug 1891499: Show additional machine config pools while updating
  frontend/__tests__/components/cluster-settings.spec.tsx
  frontend/public/components/cluster-settings/_cluster-settings.scss
  frontend/public/components/cluster-settings/cluster-settings.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, component/core, lgtm

#7179 [release-4.6.z] Bug 1896625: update apiVersion for eventing resources wrt serverless 1.10
  frontend/packages/knative-plugin/src/components/add/event-sources/ApiServerSection.tsx
  frontend/packages/knative-plugin/src/models.ts
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
  frontend/packages/knative-plugin/src/utils/__mocks__/dynamic-channels-crd-mock.ts
  frontend/packages/knative-plugin/src/utils/__mocks__/dynamic-event-source-crd-mock.ts
  frontend/packages/knative-plugin/src/utils/create-eventsources-utils.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, component/knative, lgtm

#7215 Bug 1897766: [release-4.6]Incorrect instructions in the Serverless operator and application quick starts (edit)
  frontend/packages/console-app/src/components/quick-starts/data/explore-serverless-quickstart.ts
  frontend/packages/console-app/src/components/quick-starts/data/serverless-application-quickstart.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, component/core, lgtm

#7263 [release-4.6.z] Bug 1899056: Update dc strategy type and rolling params
  frontend/public/components/deployment-config.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, component/core, lgtm

#7264 [release-4.6.z] Bug 1899382: removes techpreview badge from eventing
  frontend/packages/knative-plugin/src/components/add/EventSourcePage.tsx
  frontend/packages/knative-plugin/src/components/add/EventingChannelPage.tsx
  frontend/packages/knative-plugin/src/models.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, component/knative, lgtm

#7451 Bug 1905347: Gherkin Scripts Scenarios epic ODC-1052
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-devfile.feature
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, lgtm

#7464 Bug 1905622: Remove restriction on disk type selection for LocalVolumeSet
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/create-sc.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/state.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/create-local-volume-set.tsx
  frontend/packages/ceph-storage-plugin/src/constants/ocs-install.ts
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/local-volume-set-inner.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/local-volume-set-request-data.ts
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/state.ts
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/types.ts
  frontend/packages/local-storage-operator-plugin/src/constants/index.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, component/ceph, component/lso, lgtm

#7508 Bug 1906679: Fix QuickStartPanelContent style
  frontend/packages/console-app/src/components/quick-starts/QuickStartPanelContent.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/bug, lgtm

#7509 Bug 1906691: Added doc for disabling helm chart repository
  docs/helm/configure-3rdparty-repos-access.md
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm
