Repository openshift/console, pull requests merged in 2020-05, with the labels that each got.

#5255 Bug 1830096: Fix helm side panel in topology
  frontend/packages/dev-console/src/components/topology/helm/TopologyHelmReleaseResourceItem.tsx
  frontend/packages/dev-console/src/components/topology/helm/TopologyHelmReleaseResourcesPanel.tsx
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, component/dev-console, lgtm

#5253 Bug 1703757: Fix bug where some masthead actions cannot open in new tab
  frontend/integration-tests/views/login.view.ts
  frontend/public/components/masthead-toolbar.jsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/bug, lgtm

#5257 Bug 1830144: Fix bug where edit yaml sidebar contents can be narrowe…
  frontend/public/components/edit-yaml.jsx
  frontend/public/components/sidebars/resource-sidebar.jsx
  frontend/public/style/_layout.scss
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/bug, lgtm

#5213 Bug 1828844: Fix for node/group background issue in firefox
  frontend/packages/dev-console/src/components/topology/TopologyDataController.tsx
  frontend/packages/dev-console/src/components/topology/TopologyPage.scss
  frontend/packages/dev-console/src/components/topology/TopologyPage.tsx
  frontend/packages/dev-console/src/components/topology/__tests__/TopologyDataController.spec.tsx
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#5261 Bug 1783109: Use buttons for perspective switcher dropdown items
  frontend/public/components/nav/nav-header.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#5262 Bug 1830337: Fix masthead toolbar warnings
  frontend/public/components/masthead-toolbar.jsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#5251 Bug 1827568: Fix json parsing exception in create operand workflow
  frontend/packages/operator-lifecycle-manager/src/components/index.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/olm, lgtm

#5265 Bug 1823870: Improve display and layout of operand status descriptors
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/status/pods.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/status/pods.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
  frontend/public/components/graphs/_graphs.scss
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/olm, kind/bug, lgtm

#5218 Bug 1828922: Fix to get the CSV icon for operator workloads
  frontend/packages/dev-console/src/components/topology/operators/operators-data-transformer.ts
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#5263 Bug 1806031: Switch dashboard chart to svg for better rendering
  frontend/packages/console-shared/src/images/skeleton-chart-cpu.png
  frontend/packages/console-shared/src/images/skeleton-chart.svg
  frontend/packages/console-shared/src/styles/skeleton-screen.scss
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/shared, lgtm

#5264 Bug 1624328: Filter on both role ref name and kind
  frontend/public/components/RBAC/role.jsx
  frontend/public/components/factory/table-filters.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#5266 Bug 1830378: Query input needs accessible label on metrics page
  frontend/public/components/monitoring/metrics.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/monitoring, lgtm, ok-to-test

#5267 Bug 1774844: Make Fixable Vulnerabilities open a new window
  frontend/packages/container-security/src/components/summary.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#5249 Bug 1828993: Affinity Modal needs refinement
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/affinity-modal.scss
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/affinity-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/components/affinity-edit/affinity-edit.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/shared/consts.ts
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, component/kubevirt, lgtm

#5226 Bug 1830863: Align kubevirt integration-tests with navigation changes
  frontend/packages/kubevirt-plugin/integration-tests/tests/dialogs/diskDialog.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/dialogs/networkInterfaceDialog.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/baseVirtualMachine.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/detailView.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/importWizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/kubevirtUIResource.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/uiResource.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachine.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachineInstance.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachineTemplate.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/consts.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/mocks.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/types.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/utils.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.actions.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.clone.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.cloud-init.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.dashboard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.boot-order.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.cdrom.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.dedicated-resources.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.flavor.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.list-filtering.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.resources.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.windows-guest-tools.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.wizard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.yaml.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmi.actions.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmi.dashboard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmi.detail.editing.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmi.list-filtering.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmi.overview.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmtemplate.wizard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/wizard.validation.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/detailView.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/dialogs/diskDialog.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/dialogs/editBootOrderView.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/dialogs/editCDView.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/dialogs/editDedicatedResourcesView.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/dialogs/editFlavorView.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/dialogs/editStatusView.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/kubevirtUIResource.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/uiResource.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/virtualMachine.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/vms.list.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/wizard.view.ts
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-link.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, lgtm

#5288 Bug 1831131: Fix Cluster Dashboard test
  frontend/integration-tests/tests/dashboards/cluster-dashboard.scenario.ts
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, kind/test-flake, lgtm

#5022 Bug 1823253: Fix Textfilter issue in Filter Toolbar
  frontend/packages/operator-lifecycle-manager/src/components/catalog-source.tsx
  frontend/public/components/factory/list-page.jsx
  frontend/public/components/filter-toolbar.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/olm, component/shared, kind/bug, lgtm

#5196 Bug 1822112: include OpenShift Project as part of deployImage flow
  frontend/packages/console-shared/src/components/dropdown/ResourceDropdown.tsx
  frontend/packages/console-shared/src/components/formik-fields/ResourceDropdownField.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageStream.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageStreamNsDropdown.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, component/shared, lgtm

#5244 Bug 1828744: do not support SLIRP NetworkInterface in NIC modal
  frontend/packages/kubevirt-plugin/src/components/modals/nic-modal/nic-modal.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/network/network-type.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#5245 Bug 1830929: Feat(pl-filter-status): Add others as a filter status
  frontend/packages/dev-console/src/components/pipelines/list-page/PipelineAugmentRuns.tsx
  frontend/packages/dev-console/src/utils/pipeline-utils.ts
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, component/dev-console, lgtm

#5272 Bug 1830878: event source connector drop target should only be knative service
  frontend/packages/knative-plugin/src/topology/components/knativeComponentUtils.ts
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, component/knative, lgtm

#5243 Bug 1828964: Adjust kubevirt modals footer buttons
  frontend/packages/kubevirt-plugin/src/components/modals/boot-order-modal/boot-order-modal.scss
  frontend/packages/kubevirt-plugin/src/components/modals/boot-order-modal/boot-order-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/modal/modal-footer.scss
  frontend/packages/kubevirt-plugin/src/components/modals/modal/modal-footer.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#5269 Bug 1827156: Tolerations in VM details does not find node
  frontend/packages/console-shared/src/selectors/node.ts
  frontend/packages/kubevirt-plugin/src/components/LabelsList/types.ts
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/affinity-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/components/affinity-edit/affinity-edit.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/dedicated-resources-modal/dedicated-resources-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/node-selector-modal/node-selector-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/shared/hooks.ts
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/tolerations-modal/tolerations-modal.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, component/shared, lgtm

#5281 Bug 1831071: Remove View Image Vulnerabilities action
  frontend/packages/container-security/src/__tests__/kebab-actions.spec.ts
  frontend/packages/container-security/src/kebab-actions.ts
  frontend/packages/container-security/src/plugin.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#5242 Bug 1829788: take migrating/importing statuses into account in VM topology view
  frontend/packages/dev-console/src/components/topology/topology-types.ts
  frontend/packages/kubevirt-plugin/src/plugin.tsx
  frontend/packages/kubevirt-plugin/src/topology/TopologyVmDetailsPanel.tsx
  frontend/packages/kubevirt-plugin/src/topology/__tests__/kubevirt-data-transformer.spec.ts
  frontend/packages/kubevirt-plugin/src/topology/components/kubevirtComponentFactory.ts
  frontend/packages/kubevirt-plugin/src/topology/components/nodes/VmNode.tsx
  frontend/packages/kubevirt-plugin/src/topology/kubevirt-data-transformer.ts
  frontend/packages/kubevirt-plugin/src/topology/types.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, component/kubevirt, lgtm

#5277 Bug 1830985: use nic profile ID instead of network ID
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/providers/ovirt/ovirt-prefill-vm.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/types.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/import/import-ovirt.ts
  frontend/packages/kubevirt-plugin/src/models/index.ts
  frontend/packages/kubevirt-plugin/src/types/vm-import/ovirt/ovirt-vm.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#5283 Bug 1824358: null creationTimestamp shows as relative time of 50 years ago
  frontend/public/components/utils/timestamp.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#5282 Bug 1831108: show all failed VMImports
  frontend/packages/kubevirt-plugin/src/components/vms/vm.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#5291 Bug 1831305: fix bug where page contents are not scrollable using ke…
  frontend/public/components/app-contents.tsx
  frontend/public/components/sidebars/resource-sidebar.jsx
  frontend/public/style/_layout.scss
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/bug, lgtm

#5299 Bug 1830010: Event streaming grid is inaccessible on events page
  frontend/packages/console-shared/src/components/dashboard/activity-card/EventItem.tsx
  frontend/public/components/events.jsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/dashboard, component/shared, lgtm, ok-to-test

#5258 Bug 1830181: Hide 'Start Last Run' button on topology overview page when no PLR present
  frontend/packages/dev-console/src/components/pipelineruns/triggered-by/hooks.ts
  frontend/packages/dev-console/src/components/pipelines/pipeline-overview/PipelineOverview.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-overview/TriggerLastRunButton.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/dev-console, lgtm

#5247 Bug 1829928: Fixes: missing pod donut for DS in sidebar overview tab
  frontend/packages/console-shared/src/components/pod/PodRing.tsx
  frontend/packages/console-shared/src/components/pod/PodRingDataController.tsx
  frontend/packages/console-shared/src/utils/pod-ring-utils.ts
  frontend/packages/console-shared/src/utils/resource-utils.ts
  frontend/public/components/daemon-set.tsx
  frontend/public/components/overview/daemon-set-overview.tsx
  frontend/public/components/stateful-set.tsx
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, component/core, component/shared, lgtm

#5289 Bug 1831887: Address comments to PR 5336
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/kubevirtUIResource.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/uiResource.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachine.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachineInstance.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachineTemplate.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/consts.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/mocks.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/selectors.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/templates/windowsVMForRDPL2.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/types.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/uiResource.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/vms.list.view.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, lgtm

#5279 Bug 1831084: Adjust Pipeline Details Tooltip for Clarity
  frontend/packages/dev-console/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationStepList.scss
  frontend/packages/dev-console/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationStepList.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/dev-console, lgtm

#5273 Bug 1830921: Project Access form should not reorder on save
  frontend/packages/dev-console/src/components/project-access/ProjectAccess.tsx
  frontend/packages/dev-console/src/components/project-access/__tests__/project-access-form-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-submit-utils.ts
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#5300 Bug 1831735: Disable Pipeline Secret resource link
  frontend/packages/dev-console/src/components/pipelines/modals/common/SecretsList.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, lgtm

#5208 Bug 1828703: Task listing improvements on Pipeline detail page
  frontend/packages/dev-console/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineDetails.tsx
  frontend/packages/dev-console/src/components/pipelines/resource-overview/DynamicResourceLinkList.tsx
  frontend/packages/dev-console/src/components/pipelines/resource-overview/__tests__/DynamicResourceLinkList.spec.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#5309 Bug 1832141: make tag as optional field in traffic split modal
  frontend/packages/knative-plugin/src/components/traffic-splitting/TrafficSplitting.tsx
  frontend/packages/knative-plugin/src/components/traffic-splitting/TrafficSplittingModal.tsx
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, component/knative, kind/bug, lgtm

#5270 Bug 1830841: updates api-endpoint to fetch event sources and update default sources
  frontend/packages/knative-plugin/src/components/overview/__tests__/OverviewDetailsKnativeResourcesTab.spec.tsx
  frontend/packages/knative-plugin/src/topology/__tests__/topology-knative-test-data.ts
  frontend/packages/knative-plugin/src/topology/__tests__/topology-model.spec.ts
  frontend/packages/knative-plugin/src/utils/__tests__/fetch-dynamic-eventsources-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/fetch-dynamic-eventsources-utils.ts
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, component/knative, lgtm

#5295 Bug 1827688: kubvirt redirect vm, vmi and vmtemplates to virtualization page
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-details-page.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/virtualization.tsx
  frontend/packages/kubevirt-plugin/src/plugin.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, lgtm

#5179 Bug 1827415: Fix imagestream icon in internal registry flow
  frontend/packages/dev-console/src/components/import/__tests__/deployImage-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/import/deployImage-submit-utils.ts
  frontend/packages/dev-console/src/components/import/image-search/ImageStreamTagDropdown.tsx
  frontend/packages/dev-console/src/utils/imagestream-utils.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#5254 Bug 1830046: Helm redirects based on the origin of the action
  frontend/packages/dev-console/src/actions/modify-helm-release.ts
  frontend/packages/dev-console/src/components/helm/HelmInstallUpgradePage.tsx
  frontend/packages/dev-console/src/components/helm/HelmReleaseRollbackPage.tsx
  frontend/packages/dev-console/src/components/helm/details/HelmReleaseDetails.tsx
  frontend/packages/dev-console/src/components/helm/helm-types.ts
  frontend/packages/dev-console/src/components/helm/helm-utils.ts
  frontend/packages/dev-console/src/components/helm/list/HelmReleaseListRow.tsx
  frontend/packages/dev-console/src/components/topology/actions/helmReleaseActions.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, lgtm

#5312 Bug 1830373: Fix bug where too much whitespace can appear above YAML…
  frontend/public/components/edit-yaml.jsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/bug, lgtm

#5274 Bug 1830935: Fix helm resource tab to show all resources
  frontend/packages/dev-console/src/components/helm/details/resources/HelmReleaseResources.tsx
  frontend/packages/dev-console/src/components/helm/details/resources/HelmReleaseResourcesRow.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/dev-console, lgtm

#5280 bug 1832371: CNV-4046: Add integration test for vm environment tab
  frontend/integration-tests/views/environment.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/kubevirtUIResource.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/consts.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/mocks.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/scripts/expect-vm-env-readable.sh
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/types.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/utils.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.environment.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/vm.environment.view.ts
  frontend/public/module/k8s/types.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/kubevirt, lgtm

#5314 Bug 1831315: Improve formatting of markdown tables
  frontend/public/components/markdown-view.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#5317 Bug 1829886: Fix to close left nav when item selected at mobile widths
  frontend/public/components/nav/_perspective-nav.scss
  frontend/public/components/nav/items.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#5083 Bug 1821432: Toggle controls in OLM CR details page do not update the CR correctly
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/types.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/olm, lgtm

#5276 Bug 1826873: Add redirect listener to console backend
  cmd/bridge/main.go
  pkg/serverconfig/config.go
  pkg/serverconfig/types.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/backend, lgtm

#5307 Bug 1825191: Disallow user to select the same channel installation strategy
  frontend/packages/operator-lifecycle-manager/src/components/modals/installplan-approval-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/subscription-channel-modal.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/olm, kind/bug, lgtm

#5308 Bug 1830041: fix bug where create dropdown menu is clipped at >= 768px
  frontend/public/components/_dropdown.scss
  frontend/public/components/factory/list-page.jsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/bug, lgtm

#5315 Bug 1831810: fix bug where operand list status does not show latest …
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, component/olm, kind/bug, lgtm

#5229 Bug 1829385: fix alignment issues with MultiColumnField in Traffic Splitting modal
  frontend/packages/console-shared/src/components/formik-fields/field-types.ts
  frontend/packages/console-shared/src/components/formik-fields/multi-column-field/MultiColumnField.scss
  frontend/packages/console-shared/src/components/formik-fields/multi-column-field/MultiColumnField.tsx
  frontend/packages/console-shared/src/components/formik-fields/multi-column-field/MultiColumnFieldHeader.tsx
  frontend/packages/console-shared/src/components/formik-fields/multi-column-field/MultiColumnFieldRow.tsx
  frontend/packages/console-shared/src/components/formik-fields/multi-column-field/__tests__/multicolumn-field-utils.spec.ts
  frontend/packages/console-shared/src/components/formik-fields/multi-column-field/multicolumn-field-utils.ts
  frontend/packages/knative-plugin/src/components/traffic-splitting/TrafficSplittingModal.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, component/knative, component/shared, lgtm

#5248 Bug 1830004: Add listener for keys in search page
  frontend/__tests__/components/factory/list-page.spec.tsx
  frontend/integration-tests/views/crud.view.ts
  frontend/packages/console-shared/src/constants/common.ts
  frontend/packages/console-shared/src/hooks/document-listener.ts
  frontend/packages/dev-console/src/components/custom-resource-list/CustomResourceList.tsx
  frontend/packages/dev-console/src/components/topology/filters/TopologyFilterBar.tsx
  frontend/public/components/RBAC/role.jsx
  frontend/public/components/_search.scss
  frontend/public/components/api-explorer.tsx
  frontend/public/components/autocomplete.tsx
  frontend/public/components/cluster-settings/global-config.tsx
  frontend/public/components/events.jsx
  frontend/public/components/factory/list-page.jsx
  frontend/public/components/monitoring.tsx
  frontend/public/components/monitoring/alert-manager-config.tsx
  frontend/public/components/overview/index.tsx
  frontend/public/components/search-filter-dropdown.tsx
  frontend/public/style/_forms.scss
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/dev-console, component/monitoring, component/shared, kind/bug, lgtm

#5322 Bug 1718489: Use a natural sort for list views
  frontend/packages/dev-console/src/components/helm/details/history/HelmReleaseHistoryHeader.tsx
  frontend/packages/dev-console/src/components/helm/form/rollback/RevisionListHeader.tsx
  frontend/public/actions/ui.ts
  frontend/public/components/chargeback.tsx
  frontend/public/components/factory/table.tsx
  frontend/public/components/monitoring.tsx
  frontend/public/reducers/ui.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/dev-console, lgtm

#5324 Bug 1827980: Fix hidden descriptor
  frontend/packages/console-shared/src/components/dynamic-form/fields.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/spec-descriptor-input.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/olm, component/shared, lgtm

#5145 Bug 1826664: handle Builder image detection when url is changed
  frontend/packages/console-shared/src/components/formik-fields/item-selector-field/ItemSelectorField.tsx
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, component/dev-console, component/shared, kind/bug, lgtm

#5230 Bug 1816947: Add support for IBM in console
  frontend/packages/noobaa-storage-plugin/src/components/create-backingstore-page/create-bs.tsx
  frontend/packages/noobaa-storage-plugin/src/constants/index.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/noobaa, lgtm

#4787 Bug 1810630: Set Default Bucket Class Preselected in Create OBC page BucketClass dropdown
  frontend/packages/noobaa-storage-plugin/src/components/object-bucket-page/state.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/noobaa, lgtm

#5333 Bug 1828448: Align VM tab order with other resources
  frontend/packages/kubevirt-plugin/src/components/vms/vm-details-page.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, lgtm

#5184 Bug 1827753: autoselect query from metric dropdown
  frontend/packages/dev-console/src/components/monitoring/metrics/MetricsQueryInput.tsx
  frontend/packages/dev-console/src/components/monitoring/metrics/MonitoringMetrics.tsx
  frontend/packages/dev-console/src/components/monitoring/queries.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, lgtm

#5235 Bug 1829567: Pipeline Builder treats task param default properly
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/__tests__/utils.spec.ts
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarParam.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/update-utils.ts
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/utils.ts
  frontend/packages/dev-console/src/utils/pipeline-augment.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, lgtm

#5268 Bug 1753666: Don't redirect back to error page after login
  frontend/public/module/auth.js
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#5284 Bug 1831240: Avoid multiple rerendering of tab components registered via plugin
  frontend/packages/console-shared/src/hooks/__tests__/usePluginsOverviewTabSection.spec.ts
  frontend/packages/console-shared/src/hooks/plugins-overview-tab-section.ts
  frontend/public/components/overview/resource-overview-page.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/core, component/shared, kind/bug, lgtm

#5325 Bug 1832582: Do not force a min with on images in the Add selector cards
  frontend/packages/console-shared/src/components/formik-fields/item-selector-field/SelectorCard.scss
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, component/shared, kind/bug, lgtm

#5340 Bug 1816059: Address getting starting page having two primary buttons
  frontend/public/components/start-guide.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#5318 Bug 1832509: Fix to show available items in topology when some are restricted
  frontend/packages/console-shared/src/utils/resource-utils.ts
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, component/shared, kind/bug, lgtm

#5323 Bug 1832561: Health Checks alert should not visible to the user has view access
  frontend/packages/console-shared/src/components/health-checks/HealthChecksAlert.tsx
  frontend/packages/console-shared/src/components/health-checks/__tests__/HealthChecksAlert.spec.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/shared, lgtm

#5256 Bug 1830080: Prompt user to update traffic on revision deletion
  frontend/packages/knative-plugin/src/actions/delete-revision.ts
  frontend/packages/knative-plugin/src/actions/getRevisionActions.ts
  frontend/packages/knative-plugin/src/components/modals/index.ts
  frontend/packages/knative-plugin/src/components/overview/KnativeResourceOverviewPage.tsx
  frontend/packages/knative-plugin/src/components/revisions/DeleteRevisionModal.tsx
  frontend/packages/knative-plugin/src/components/revisions/DeleteRevisionModalController.tsx
  frontend/packages/knative-plugin/src/components/revisions/RevisionDetailsPage.tsx
  frontend/packages/knative-plugin/src/components/revisions/RevisionRow.tsx
  frontend/packages/knative-plugin/src/components/traffic-splitting/TrafficSplitting.tsx
  frontend/packages/knative-plugin/src/components/traffic-splitting/TrafficSplittingController.tsx
  frontend/packages/knative-plugin/src/components/traffic-splitting/TrafficSplittingFields.tsx
  frontend/packages/knative-plugin/src/components/traffic-splitting/TrafficSplittingModal.tsx
  frontend/packages/knative-plugin/src/components/traffic-splitting/__tests__/TrafficSplittingFields.spec.tsx
  frontend/packages/knative-plugin/src/components/traffic-splitting/__tests__/TrafficSplittingModal.spec.tsx
  frontend/packages/knative-plugin/src/plugin.tsx
  frontend/packages/knative-plugin/src/topology/components/knativeComponentFactory.ts
  frontend/packages/knative-plugin/src/utils/traffic-splitting-utils.ts
  frontend/public/components/default-resource.jsx
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, component/core, component/knative, kind/bug, lgtm

#5348 Bug 1833132: Fix bitbucket service in firefox
  frontend/packages/git-service/package.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/bitbucket/branches.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/bitbucket/dockerfile.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/bitbucket/files-modern-webapp.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/bitbucket/files.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/bitbucket/languages.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/bitbucket/no-dockerfile.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/bitbucket/repo-not-reachable.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/bitbucket/repo.json
  frontend/packages/git-service/src/services/bitbucket-service.ts
  frontend/yarn.lock
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/dev-console, component/git-service, lgtm

#5349 Bug 1833140: Add sticky footer in edit flow forms
  frontend/packages/dev-console/src/components/edit-application/EditApplicationForm.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/dev-console, lgtm

#5345 Bug 1832576: Fix type error
  frontend/public/components/resource-dropdown.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#5237 Bug 1827538: Fix create operand yaml editor runtime error
  frontend/packages/console-shared/src/components/synced-editor/index.tsx
  frontend/packages/console-shared/src/utils/yaml.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.tsx
  frontend/public/components/create-yaml.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/olm, component/shared, lgtm

#4860 Bug 1833208: Add tests for PVC expand flow
  frontend/packages/ceph-storage-plugin/integration-tests/mocks/expand-test-mocks.ts
  frontend/packages/ceph-storage-plugin/integration-tests/tests/2-tests/test-expand.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/utils/helpers.ts
  frontend/packages/ceph-storage-plugin/integration-tests/views/add-capacity.view.ts
  frontend/packages/ceph-storage-plugin/integration-tests/views/pvc.view.ts
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, component/ceph, lgtm

#5356 Bug 1833217: Monitoring: Fix JS warning on silence save form
  frontend/public/components/monitoring.tsx
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, component/core, lgtm

#5357 Bug 1833218: Monitoring: Fix JS warnings when updating some silence form fields
  frontend/public/components/monitoring.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#5326 Bug 1826354: Container Security Fixes
  frontend/packages/container-security/src/components/__tests__/image-manifest-vuln.spec.tsx
  frontend/packages/container-security/src/components/image-manifest-vuln.tsx
  frontend/packages/container-security/src/components/summary.tsx
  frontend/packages/container-security/src/const.ts
  frontend/packages/container-security/src/plugin.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#5327 Bug 1832752: Monitoring silence form time tests
  frontend/integration-tests/tests/monitoring.scenario.ts
  frontend/integration-tests/views/monitoring.view.ts
  frontend/public/components/monitoring.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#5351 Bug 1829589: Fix prop warning for missing radius property
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/status/pods.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/olm, lgtm

#5259 Bug 1830259: Do not allow regrouping of helm charts or OBS groupings
  frontend/packages/dev-console/src/components/topology/actions/workloadActions.ts
  frontend/packages/dev-console/src/components/topology/components/nodeContextMenu.tsx
  frontend/packages/dev-console/src/components/topology/helm/TopologyHelmReleasePanel.tsx
  frontend/packages/dev-console/src/components/topology/helm/actions/helmReleaseActions.ts
  frontend/packages/dev-console/src/components/topology/helm/components/HelmReleaseGroup.tsx
  frontend/packages/dev-console/src/components/topology/helm/components/HelmReleaseNode.tsx
  frontend/packages/dev-console/src/components/topology/helm/components/helmComponentFactory.ts
  frontend/packages/dev-console/src/components/topology/operators/components/OperatorBackedServiceGroup.tsx
  frontend/packages/dev-console/src/components/topology/operators/components/operatorsComponentFactory.ts
  frontend/packages/dev-console/src/utils/__tests__/kebab-actions.spec.ts
  frontend/packages/dev-console/src/utils/kebab-actions.ts
  frontend/packages/knative-plugin/src/components/overview/KnativeResourceOverviewPage.tsx
  frontend/packages/knative-plugin/src/topology/components/knativeComponentFactory.ts
  frontend/packages/knative-plugin/src/utils/__tests__/kebab-actions.spec.ts
  frontend/packages/knative-plugin/src/utils/kebab-actions.ts
  frontend/packages/kubevirt-plugin/src/topology/components/kubevirtComponentFactory.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, component/knative, component/kubevirt, kind/bug, lgtm

#5305 Bug 1822852: Provided APIs are empty on Installed Operators list when all provided APIs are internal
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/olm, lgtm

#5360 Bug 1833343: Remove fetch timeout for Helm actions
  frontend/packages/dev-console/src/actions/modify-helm-release.ts
  frontend/packages/dev-console/src/components/helm/HelmInstallUpgradePage.tsx
  frontend/packages/dev-console/src/components/helm/HelmReleaseRollbackPage.tsx
  frontend/packages/dev-console/src/components/helm/helm-types.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/dev-console, lgtm

#5224 Bug 1829549: fix resizing issues with cloud shell terminal drawer
  frontend/packages/console-app/src/components/cloud-shell/CloudShellDrawer.tsx
  frontend/packages/console-app/src/components/cloud-shell/CloudShellTerminalFrame.scss
  frontend/packages/console-shared/src/components/drawer/DraggableCoreIFrameFix.scss
  frontend/packages/console-shared/src/components/drawer/DraggableCoreIFrameFix.tsx
  frontend/packages/console-shared/src/components/drawer/Drawer.tsx
  frontend/packages/console-shared/src/components/drawer/__tests__/DraggableCoreIFrameFix.spec.tsx
  frontend/packages/console-shared/src/components/drawer/__tests__/Drawer.spec.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/shared, lgtm

#5302 Bug 1831741: Operator hub and catalog need proper input field labels
  frontend/public/components/utils/tile-view-page.jsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm, ok-to-test

#5352 Bug 1786251: Add Access Denied error handling on Access Review
  frontend/public/components/api-explorer.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#5231 Bug 1829445: Fixes: Container image does not validate dynamically
  frontend/packages/console-shared/src/hooks/debounce.ts
  frontend/packages/console-shared/src/hooks/index.ts
  frontend/packages/dev-console/src/components/import/image-search/ImageSearch.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, component/shared, lgtm

#5275 Bug 1831002: Fix for pod text / icon overlap in topology
  frontend/packages/console-shared/src/components/pod/PodRing.tsx
  frontend/packages/console-shared/src/utils/__tests__/pod-ring-utils.spec.ts
  frontend/packages/console-shared/src/utils/pod-ring-text.scss
  frontend/packages/console-shared/src/utils/pod-ring-utils.ts
  frontend/packages/console-shared/src/utils/pod-utils.ts
  frontend/packages/dev-console/src/components/topology/components/nodes/BaseNode.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/PodSet.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/WorkloadNode.scss
  frontend/packages/dev-console/src/components/topology/components/nodes/WorkloadNode.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, component/shared, kind/bug, lgtm

#5286 Bug 1831087: Storage persistent volume claim form inputs need proper labels
  frontend/public/components/storage/create-pvc.tsx
  frontend/public/components/utils/request-size-input.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm, ok-to-test

#5079 Bug 1826477: Snapshot feature for is part of 4.6v
  frontend/packages/ceph-storage-plugin/src/components/independent-mode/utils.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-page.tsx
  frontend/packages/ceph-storage-plugin/src/constants/index.ts
  frontend/packages/ceph-storage-plugin/src/features.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/ceph, lgtm

#5370 Bug 1832821: Fix bugs on VM Environment tab
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.environment.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/vm.environment.view.ts
  frontend/packages/kubevirt-plugin/src/components/vms/vm-environment/selectors.ts
  frontend/packages/kubevirt-plugin/src/components/vms/vm-environment/vm-environment-page.tsx
  frontend/public/components/utils/name-value-editor.jsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/kubevirt, lgtm

#5377 Bug 1834205: Node checker intersection is wrong in Affinity Modal
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/components/affinity-edit/affinity-edit.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#5374 Bug 1826291: Pass correct flag resolution function for repeated try of CLUSTER_VER…
  frontend/public/actions/features.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#5271 Bug 1830846: updates apiGroup for KnativeEventing to latest supported
  frontend/packages/knative-plugin/src/models.ts
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, component/knative, lgtm

#5343 Bug 1833065: Fixes: EventSource card on Add should show if knativeEventing Crd is present and have EventSources
  frontend/packages/dev-console/src/components/EmptyState.tsx
  frontend/packages/dev-console/src/extensions/add-actions.ts
  frontend/packages/knative-plugin/src/components/overview/__tests__/OverviewDetailsKnativeResourcesTab.spec.tsx
  frontend/packages/knative-plugin/src/plugin.tsx
  frontend/packages/knative-plugin/src/topology/__tests__/topology-model.spec.ts
  frontend/packages/knative-plugin/src/utils/__mocks__/dynamic-event-source-crd-mock.ts
  frontend/packages/knative-plugin/src/utils/__tests__/fetch-dynamic-eventsources-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/__tests__/kebab-actions.spec.ts
  frontend/packages/knative-plugin/src/utils/fetch-dynamic-eventsources-utils.ts
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, component/dev-console, component/knative, lgtm

#5350 Bug 1833146: Hide Project Access Tab when the user have no access to role bindings
  frontend/packages/dev-console/src/components/project-access/ProjectAccess.tsx
  frontend/packages/dev-console/src/components/projects/details/ProjectDetailsPage.tsx
  frontend/packages/dev-console/src/components/projects/details/__tests__/ProjectDetailsPage.spec.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#5376 Bug 1800769: Define pointerLength prop for multiline charts
  frontend/public/components/graphs/area.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#5379 Bug 1834254: fetch eventSource icon based on type and update icon for ping
  frontend/packages/knative-plugin/src/imgs/logos/cronjobsource.png
  frontend/packages/knative-plugin/src/imgs/logos/cronjobsource.svg
  frontend/packages/knative-plugin/src/utils/create-eventsources-utils.ts
  frontend/packages/knative-plugin/src/utils/get-knative-icon.ts
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, component/knative, lgtm

#5375 Bug 1832808: Fix zone lookup for Node Overview Details card
  frontend/packages/console-app/src/components/nodes/node-dashboard/DetailsCard.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#5381 bug 1829915: Disallow namespace change on VM wizard after user input
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard-footer.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#5353 Bug 1822860: Fix Img Alt text size to make it look better
  frontend/packages/operator-lifecycle-manager/src/components/index.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/olm, lgtm

#5369 Bug 1831758: Search page inputs need proper label
  frontend/public/components/search-filter-dropdown.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm, ok-to-test

#5371 Bug 1833844: Add tests for wizard review tab
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachine.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/utils.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/wizard.view.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/form/form-field-review-row.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/review-tab/advanced-tab.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, lgtm

#5386 Bug 1834354: Fix helm resource link in topology side panel
  frontend/packages/dev-console/src/components/topology/helm/TopologyHelmReleasePanel.tsx
  frontend/packages/dev-console/src/components/topology/helm/TopologyHelmReleaseResourceItem.tsx
  frontend/packages/dev-console/src/components/topology/helm/TopologyHelmReleaseResourceList.tsx
  frontend/packages/dev-console/src/components/topology/helm/TopologyHelmReleaseResourcesPanel.tsx
  frontend/packages/dev-console/src/components/topology/helm/__tests__/TopologyHelmReleasePanel.spec.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/dev-console, lgtm

#5380 Bug 1834304: Always show dialog message when `Edit YAML` link in Pipeline Builder Page is clicked
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/PipelineBuilderHeader.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/modals/index.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#5387 Bug 1833877: Update virtualization breadcumbs
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-details-page.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-details-page.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#5388 Bug 1834260: Update vm teamplates kebab lables
  frontend/packages/kubevirt-plugin/src/components/vm-templates/menu-actions.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, lgtm

#5306 Bug 1831871: Revert "Update action/install buttons"
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/olm, lgtm

#5354 Bug 1828490: Add identifier for tab names that are CRD specific
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/olm, lgtm

#5391 Bug 1833222: Update yaml template meter example to current year
  frontend/public/models/yaml-templates.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#5382 Bug 1834293: Unnecessary optional chaining after ternary operator check
  frontend/public/components/persistent-volume-claim.jsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#5399 Bug 1834499: Storage Class details page missing <dl> for proper structure
  frontend/public/components/storage-class.tsx
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, component/core, lgtm, ok-to-test

#5403 Bug 1834622: access to access mode
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/review-tab/storage-review.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#5143 Bug 1834384: Added few tests + workaround for a bug1814611 applied (Conversion PV…
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/importWizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/consts.ts
  frontend/packages/kubevirt-plugin/integration-tests/v2v/v2v.configs.ts
  frontend/packages/kubevirt-plugin/integration-tests/v2v/v2v.import.2vms.ts
  frontend/packages/kubevirt-plugin/integration-tests/v2v/v2v.import.all.flavors.ts
  frontend/packages/kubevirt-plugin/integration-tests/v2v/v2v.import.scenario.multi.nic.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm, ok-to-test

#5373 Bug 1834172: Detect remediation strategy for Machine
  frontend/packages/console-app/src/components/nodes/node-dashboard/NodeAlerts.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/NodeDashboard.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/NodeDashboardContext.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/NodeHealth.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/messages.ts
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/dashboard/BareMetalNodeDashboard.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/metal3, lgtm

#5301 Bug 1819038: fix NIC modal title
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/error-components/wizard-errors.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/networking-tab/vm-wizard-nic-modal-enhanced.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/networking-tab/vm-wizard-nic-row.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/storage-tab/vm-wizard-storage-modal-enhanced.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/nic-modal/nic-modal-enhanced.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/nic-modal/nic-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-nics/nic-row.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#5344 Bug 1830095: Update Control Plane status logic to include no. of not healthy compo…
  frontend/packages/console-app/src/components/dashboards-page/ControlPlaneStatus.tsx
  frontend/packages/console-app/src/components/dashboards-page/status.ts
  frontend/packages/console-shared/src/components/dashboard/status-card/state-utils.ts
  frontend/packages/console-shared/src/components/dashboard/status-card/states.tsx
  frontend/packages/operator-lifecycle-manager/src/components/dashboard/utils.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/core, component/dashboard, component/olm, component/shared, lgtm

#5404 Bug 1820067: Dont show start guied on virtualization tabs
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/virtualization.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#5384 Bug 1834335: Fixed replacement of storage class name while adding capacity
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, component/ceph, lgtm

#5405 Bug 1834671: Check runStrategy when checking for running vm
  frontend/packages/kubevirt-plugin/src/selectors/vm/selectors.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#5104 Bug 1834729: add integration test for node-selector modal
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/kubevirtUIResource.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.node-selector.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/editNodeSelectorView.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/virtualMachine.view.ts
  frontend/packages/kubevirt-plugin/src/components/LabelsList/LabelRow/label-row.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-resource.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, component/kubevirt, lgtm

#5303 Bug 1828829: Update delete action for vm
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#5342 Bug 1833034: fix traffic percentage shown for same revisions in topology sidebar
  frontend/packages/dev-console/src/components/topology/topology-types.ts
  frontend/packages/knative-plugin/src/components/overview/RevisionsOverviewListItem.tsx
  frontend/packages/knative-plugin/src/components/overview/RoutesOverviewList.tsx
  frontend/packages/knative-plugin/src/components/overview/RoutesOverviewListItem.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/RevisionsOverviewListItem.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/RoutesOverviewListItem.spec.tsx
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
  frontend/packages/knative-plugin/src/types.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-topology-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/__tests__/resource-overview-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/resource-overview-utils.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, component/knative, kind/bug, lgtm

#5328 Bug 1832758: Add Polarion IDs to VM environment tests
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.environment.scenario.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, lgtm

#5396 Bug 1834467: Alert manager missing <dl> for proper structure in alert routing section
  frontend/public/components/monitoring/alert-manager-config.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/monitoring, lgtm, ok-to-test

#5408 bug 1834174: Save changes on VM environment tab only on valid changes
  frontend/packages/kubevirt-plugin/src/components/vms/vm-environment/constants.ts
  frontend/packages/kubevirt-plugin/src/components/vms/vm-environment/vm-environment-footer.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-environment/vm-environment-page.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#5413 Bug 1787503: Add error if `metadata` not found in YAML
  frontend/public/components/edit-yaml.jsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/bug, lgtm

#5297 Bug 1827259: kubevirt: fix VM statuses
  frontend/packages/kubevirt-plugin/src/constants/vmi/phase.ts
  frontend/packages/kubevirt-plugin/src/selectors/selectors.ts
  frontend/packages/kubevirt-plugin/src/statuses/vm/vm-status.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#5294 Bug 1827086: Align list view toolbar with search using pf toolbar component
  frontend/public/components/_filter-toolbar.scss
  frontend/public/components/filter-toolbar.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#5411 Bug 1819892: display 'Version not found' for update status when vers…
  frontend/public/components/cluster-settings/cluster-settings.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/bug, lgtm

#5412 Bug 1834886: Machine details page missing <dl> for proper structure
  frontend/public/components/machine.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm, ok-to-test

#5417 Bug 1834963: Update uninstall operator modal text
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/olm, kind/bug, lgtm

#5392 Bug 1834345: Handle import for all namespaces in dev perspective
  frontend/packages/dev-console/src/plugin.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#5341 Bug 1785928: Correct the incompatibility between noobaa names and linking issue
  frontend/packages/console-shared/src/components/dashboard/inventory-card/InventoryItem.tsx
  frontend/packages/console-shared/src/components/dashboard/inventory-card/utils.ts
  frontend/packages/noobaa-storage-plugin/src/components/buckets-card/buckets-card-item.tsx
  frontend/packages/noobaa-storage-plugin/src/components/buckets-card/buckets-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/buckets-card/utils.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/ceph, component/dashboard, component/noobaa, component/shared, lgtm

#5418 Bug 1830095: Update apiserver_request_count metric to apiserver_request_total
  frontend/packages/console-app/src/queries.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/core, lgtm

#5128 Bug 1834733: add integration test for tolerations modal
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/kubevirtUIResource.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.tolerations.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/editTolerationsView.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/virtualMachine.view.ts
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/tolerations-modal/toleration-row.tsx
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, component/kubevirt, lgtm

#5420 bug 1834155: Fix network attachment definitions label
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinition.tsx
  frontend/public/components/factory/table.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/network-attachment-definition, lgtm

#5421 Bug 1832241: Don't set net-attach-def type at root
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionsForm.tsx
  frontend/packages/network-attachment-definition-plugin/src/types/types.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/network-attachment-definition, lgtm

#5250 Bug 1788810: deprecate usage of flavor.template.kubevirt.io/Custom label
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/vm-settings-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/prefill-vm-template-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/selectors/immutable/wizard-selectors.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/review-tab/utils.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/os-flavor.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/clone-vm-modal/configuration-summary.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/vm-flavor-modal/vm-flavor-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-resource.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/constants.ts
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm/vm-patches.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/common.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/initialize-vm.ts
  frontend/packages/kubevirt-plugin/src/models/templates/vm-template-yaml.ts
  frontend/packages/kubevirt-plugin/src/models/templates/vm-yaml.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm-like/flavor.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm-template/combined-dependent.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm/flavor-text.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm/selectors.ts
  frontend/packages/kubevirt-plugin/src/utils/sort.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, lgtm

#5188 Bug 1834734: add integration test for affinity modal
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/kubevirtUIResource.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.affinity.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/editAffinityView.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/virtualMachine.view.ts
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, component/kubevirt, lgtm

#5393 Bug 1834446: fix learn more link for health checks
  frontend/packages/dev-console/src/components/health-checks/AddHealthChecks.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/dev-console, lgtm

#5419 Bug 1835092: In VM status popup link to pod events instead of pod overview
  frontend/packages/kubevirt-plugin/src/components/vm-status/vm-status.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#5423 Bug 1835211: Can't edit Affinities if VM is Running
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/components/affinity-table/affinity-row.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#5431 [Release 4.4] Bug 1826512: Include an override to use PF4 link colors in the catalog vertical-tabs
  frontend/public/components/catalog/_catalog.scss
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, component/core, lgtm

#5287 Bug 1830125: Add fallback create operand form if schema is missing or invalid
  frontend/packages/console-shared/src/components/dynamic-form/utils.ts
  frontend/packages/console-shared/src/components/synced-editor/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/field-group.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/DEPRECATED_operand-form.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/const.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/operand-form.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/utils.spec.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand/utils.ts
  frontend/public/components/utils/expandable-section.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/olm, component/shared, lgtm

#5361 Bug 1829869: Add confirmation step when toggling from yaml to form during operand creation
  frontend/packages/console-shared/src/components/synced-editor/index.tsx
  frontend/packages/console-shared/src/components/synced-editor/styles.scss
  frontend/packages/console-shared/src/utils/yaml.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/shared, lgtm

#5401 Bug 1826050: Health check editor shouldn't restrict ports to those in pod spec
  frontend/packages/dev-console/src/components/health-checks/AddHealthChecksForm.tsx
  frontend/packages/dev-console/src/components/health-checks/HealthChecksProbe.tsx
  frontend/packages/dev-console/src/components/health-checks/ProbeForm.tsx
  frontend/packages/dev-console/src/components/health-checks/RequestTypeForms.tsx
  frontend/packages/dev-console/src/components/health-checks/health-checks-probe-utils.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, lgtm

#4978 Bug 1820130: [release-4.4] Backport 4.4 correct ocs version
  frontend/packages/ceph-storage-plugin/src/selectors/index.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, component/ceph, lgtm

#5092 Bug 1835381: Gate Control Plane health on IBMCloud
  frontend/packages/console-app/src/plugin.tsx
  frontend/packages/console-plugin-sdk/src/typings/dashboards.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/cluster-dashboard.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/context.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/details-card.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/status-card.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/dashboard, component/sdk, component/shared, lgtm

#5416 Bug 1834956: Remove topology text filter from redux and rely on URL search params
  frontend/packages/dev-console/src/components/topology/Topology.tsx
  frontend/packages/dev-console/src/components/topology/TopologyPage.tsx
  frontend/packages/dev-console/src/components/topology/components/GraphComponent.tsx
  frontend/packages/dev-console/src/components/topology/data-transforms/__tests__/topology-model.spec.ts
  frontend/packages/dev-console/src/components/topology/filters/TopologyFilterBar.tsx
  frontend/packages/dev-console/src/components/topology/filters/__tests__/useSearchFilter.spec.ts
  frontend/packages/dev-console/src/components/topology/filters/filter-utils.ts
  frontend/packages/dev-console/src/components/topology/filters/useSearchFilter.ts
  frontend/packages/dev-console/src/components/topology/redux/const.ts
  frontend/packages/dev-console/src/components/topology/redux/reducer.ts
  frontend/packages/knative-plugin/src/topology/__tests__/topology-model.spec.ts
  frontend/packages/kubevirt-plugin/src/topology/__tests__/kubevirt-topology-model.spec.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/dev-console, component/knative, component/kubevirt, lgtm

#5117 [release-4.4] Bug 1823855: Use ordered-values.yaml in Helm install
  frontend/packages/dev-console/src/components/helm/HelmInstallPage.tsx
  frontend/packages/dev-console/src/components/helm/helm-types.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, lgtm
