Repository openshift/console, pull requests merged in 2020-11, with the labels that each got.

#7066 Bug 1866087: Fix crash when helm manifest yaml contains duplicate keys
  frontend/packages/dev-console/src/components/helm/__tests__/helm-utils.spec.ts
  frontend/packages/dev-console/src/components/helm/details/resources/HelmReleaseResources.tsx
  frontend/packages/dev-console/src/components/helm/helm-utils.ts
  frontend/packages/dev-console/src/components/topology/helm/helm-data-transformer.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#7068 Bug 1893724: Use correct service account for operator monitoring
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/olm, lgtm

#6969 Bug 1889348: Remove Project link from Application Details page
  frontend/packages/dev-console/src/components/gitops/details/GitOpsDetails.tsx
  frontend/packages/dev-console/src/components/gitops/details/GitOpsEnvClusterLink.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/dev-console, lgtm

#7015 add cloudinit doc link
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/cloud-init-tab/cloud-init-info-helper.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/cloud-init-tab/cloud-init-tab.tsx
  frontend/packages/kubevirt-plugin/src/utils/strings.ts
Labels: approved, component/kubevirt, lgtm

#7039 CONSOLE-2451: i18n for daemonsets
  frontend/public/components/daemon-set.tsx
  frontend/public/i18n.js
  frontend/public/locales/en/workload.json
Labels: approved, component/core, docs-approved, lgtm, px-approved, qe-approved

#6970 update pending Icon in Pipeline Run visualization
  frontend/packages/dev-console/src/components/pipelines/detail-page-tabs/pipeline-details/StatusIcon.tsx
Labels: approved, component/dev-console, kind/bug, lgtm

#7053 CONSOLE-2426: Cypress & Protractor: Optimized shell and yarn scripts
  README.md
  frontend/integration-tests/protractor.conf.ts
  frontend/package.json
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/README.md
  test-cypress.sh
  test-protractor.sh
  test-prow-e2e.sh
Labels: approved, component/olm, lgtm

#6955 Add start button to fresh start pipeline from sidebar
  frontend/packages/dev-console/src/components/pipelines/pipeline-overview/PipelineOverview.spec.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-overview/PipelineOverview.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-overview/PipelineStartButton.tsx
Labels: approved, component/dev-console, lgtm

#7075 E2E test: Use KUBEADM_PASSWORD_FILE by default
  test-prow-e2e.sh
Labels: approved, lgtm

#6941 Gherkin Scripts for epic ODC-4388
  frontend/packages/dev-console/integration-tests/features/operators.feature
  frontend/packages/dev-console/integration-tests/features/web-terminal/web-Terminal-adminuser.feature
  frontend/packages/dev-console/integration-tests/features/web-terminal/web-Terminal-devuser.feature
  frontend/packages/dev-console/integration-tests/features/web-terminal/web-teminal-basic.feature
Labels: approved, component/dev-console, lgtm

#7079 Update kubevirt-plugin OWNERS file
  frontend/packages/kubevirt-plugin/OWNERS
Labels: approved, component/kubevirt, lgtm

#7082 Bug 1893963: Dont use lookbehinds regexp
  frontend/packages/kubevirt-plugin/src/components/vms/vm-console.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#7056 CONSOLE-2446: statefulset i18n
  frontend/public/components/stateful-set.tsx
  frontend/public/components/utils/container-table.tsx
  frontend/public/components/volumes-table.tsx
  frontend/public/components/workload-table.tsx
  frontend/public/locales/en/workload.json
Labels: approved, component/core, docs-approved, lgtm, px-approved, qe-approved

#7083 Bug 1894110: Handle values of 0 for maxUnavailable and maxSurge
  frontend/public/components/deployment-config.tsx
  frontend/public/components/deployment.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/core, lgtm

#6939 Add Eventing tab and Event Source, Broker, Channel pages under Serverless for Admin perspective
  frontend/packages/console-shared/src/components/multi-tab-list/MultiTabListPage.tsx
  frontend/packages/console-shared/src/components/multi-tab-list/multi-tab-list-page-types.ts
  frontend/packages/knative-plugin/src/components/add/EventSource.tsx
  frontend/packages/knative-plugin/src/components/add/__tests__/EventSource.spec.tsx
  frontend/packages/knative-plugin/src/components/add/channels/AddChannel.tsx
  frontend/packages/knative-plugin/src/components/eventing/EventingListPage.tsx
  frontend/packages/knative-plugin/src/components/eventing/brokers-list/BrokerHeaders.tsx
  frontend/packages/knative-plugin/src/components/eventing/brokers-list/BrokerList.tsx
  frontend/packages/knative-plugin/src/components/eventing/brokers-list/BrokerListPage.tsx
  frontend/packages/knative-plugin/src/components/eventing/brokers-list/BrokerRow.tsx
  frontend/packages/knative-plugin/src/components/eventing/channels-list/ChannelHeaders.tsx
  frontend/packages/knative-plugin/src/components/eventing/channels-list/ChannelList.tsx
  frontend/packages/knative-plugin/src/components/eventing/channels-list/ChannelListPage.tsx
  frontend/packages/knative-plugin/src/components/eventing/channels-list/ChannelRow.tsx
  frontend/packages/knative-plugin/src/components/eventing/eventsource-list/EventSourceHeaders.tsx
  frontend/packages/knative-plugin/src/components/eventing/eventsource-list/EventSourceList.tsx
  frontend/packages/knative-plugin/src/components/eventing/eventsource-list/EventSourceListPage.tsx
  frontend/packages/knative-plugin/src/components/eventing/eventsource-list/EventSourceRow.tsx
  frontend/packages/knative-plugin/src/components/revisions/RevisionDetailsPage.tsx
  frontend/packages/knative-plugin/src/components/revisions/RevisionHeader.tsx
  frontend/packages/knative-plugin/src/components/revisions/RevisionRow.tsx
  frontend/packages/knative-plugin/src/components/routes/RouteDetailsPage.tsx
  frontend/packages/knative-plugin/src/components/routes/RouteHeader.tsx
  frontend/packages/knative-plugin/src/components/routes/RouteRow.tsx
  frontend/packages/knative-plugin/src/components/services/ServiceDetailsPage.tsx
  frontend/packages/knative-plugin/src/components/services/ServiceHeader.tsx
  frontend/packages/knative-plugin/src/components/services/ServiceRow.tsx
  frontend/packages/knative-plugin/src/components/services/hooks.ts
  frontend/packages/knative-plugin/src/const.ts
  frontend/packages/knative-plugin/src/plugin.tsx
  frontend/packages/knative-plugin/src/utils/__tests__/fetch-dynamic-eventsources-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/create-eventsources-utils.ts
  frontend/packages/knative-plugin/src/utils/fetch-dynamic-eventsources-utils.ts
Labels: approved, component/dev-console, component/knative, component/shared, kind/feature, lgtm

#7006 Add descriptions to flavor, workload dropdowns
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/vm-settings-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/strings/renderable-field.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/flavor.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/vm-settings-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/workload-profile.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/constants.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/flavor.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/workload-profile.ts
  frontend/packages/kubevirt-plugin/src/selectors/immutable/template/combined.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm-template/combined-dependent.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm/flavor-text.ts
  frontend/packages/kubevirt-plugin/src/utils/strings.ts
Labels: approved, component/kubevirt, lgtm

#6874 Create buildConfig or pipeline based on user input
  frontend/packages/console-shared/src/components/status/Status.tsx
  frontend/packages/dev-console/src/components/edit-application/EditApplicationPage.tsx
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-data.ts
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-utils.spec.ts
  frontend/packages/dev-console/src/components/edit-application/edit-application-types.ts
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/import/advanced/AdvancedSection.tsx
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/components/import/pipeline/__tests__/pipeline-template-utils.spec.ts
  frontend/packages/dev-console/src/components/import/pipeline/pipeline-template-utils.ts
  frontend/packages/dev-console/src/components/topology/components/nodes/build-decorators/build-decorator-utils.tsx
  frontend/packages/dev-console/src/utils/pipeline-utils.ts
  frontend/public/components/overview/build-overview.tsx
Labels: approved, component/core, component/dev-console, component/shared, kind/feature, lgtm

#6933 i18n common components: PVC modals
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/modals/clone/clone-pvc-modal.tsx
  frontend/packages/console-app/src/components/modals/restore-pvc/restore-pvc-modal.tsx
  frontend/packages/console-app/src/plugin.tsx
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/public/i18n.js
Labels: approved, component/core, component/shared, docs-approved, hacktoberfest-accepted, lgtm, px-approved, qe-approved

#7041 Fix status icon size in topology and alignments
  frontend/packages/console-shared/src/components/status/GenericStatus.tsx
  frontend/packages/console-shared/src/components/status/statuses.tsx
Labels: approved, component/shared, kind/bug, lgtm

#6776 Bug 1878873 : cypress-cucumber-automation-framework
  .gitignore
  README.md
  frontend/package.json
  frontend/packages/dev-console/integration-tests/.eslintrc
  frontend/packages/dev-console/integration-tests/.eslintrc.js
  frontend/packages/dev-console/integration-tests/README.md
  frontend/packages/dev-console/integration-tests/cypress.json
  frontend/packages/dev-console/integration-tests/features/project-creation.feature
  frontend/packages/dev-console/integration-tests/package.json
  frontend/packages/dev-console/integration-tests/plugins/index.js
  frontend/packages/dev-console/integration-tests/reporter-config.json
  frontend/packages/dev-console/integration-tests/support/commands/app.ts
  frontend/packages/dev-console/integration-tests/support/commands/index.ts
  frontend/packages/dev-console/integration-tests/support/constants/add.ts
  frontend/packages/dev-console/integration-tests/support/constants/global.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/project-creation.ts
  frontend/packages/dev-console/integration-tests/tsconfig.json
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringWorkloadFilter.tsx
  frontend/packages/dev-console/src/components/monitoring/metrics/MetricsQueryInput.tsx
  frontend/packages/integration-tests-cypress/support/project.ts
  frontend/packages/integration-tests-cypress/support/selectors.ts
  frontend/packages/integration-tests-cypress/views/common.ts
  frontend/packages/integration-tests-cypress/views/modal.ts
  frontend/yarn.lock
  test-cypress.sh
Labels: approved, component/ceph, component/core, component/dashboard, component/dev-console, component/knative, component/kubevirt, component/lso, component/monitoring, component/noobaa, component/olm, component/shared, lgtm

#7005 check for taskRef kind in the TR spec
  frontend/packages/dev-console/src/components/taskruns/list-page/TaskRunsRow.tsx
  frontend/packages/dev-console/src/utils/pipeline-augment.ts
Labels: approved, component/dev-console, kind/bug, lgtm

#7025 CONSOLE-2442: i18n for replicasets
  frontend/public/components/replicaset.jsx
  frontend/public/locales/en/workload.json
Labels: approved, component/core, docs-approved, lgtm, px-approved, qe-approved

#7029 Fix to warn user when creating an application grouping that exists
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/dropdown/ApplicationDropdown.tsx
  frontend/packages/dev-console/src/components/import/app/ApplicationSelector.tsx
  frontend/packages/dev-console/src/components/import/app/__tests__/ApplicationSelector.spec.tsx
  frontend/packages/dev-console/src/const.ts
  frontend/public/i18n.js
  frontend/webpack.config.ts
Labels: approved, component/core, component/dev-console, lgtm

#7093 Fix to maintain data on the graph element on a settings restoral
  frontend/packages/dev-console/src/components/topology/Topology.tsx
Labels: approved, component/dev-console, lgtm

#7013 Create an extension to support inContext for import Flows
  frontend/packages/console-plugin-sdk/src/typings/index.ts
  frontend/packages/console-plugin-sdk/src/typings/post-form-submit.ts
  frontend/packages/console-shared/src/hooks/index.ts
  frontend/packages/console-shared/src/hooks/post-form-submit-action.ts
  frontend/packages/dev-console/src/components/import/DeployImage.tsx
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/__tests__/DeployImage.spec.tsx
  frontend/packages/dev-console/src/components/topology/data-transforms/transform-utils.ts
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
  frontend/packages/dev-console/src/const.ts
  frontend/packages/dev-console/src/plugin.tsx
  frontend/packages/dev-console/src/utils/__tests__/add-resources-menu-utils.spec.tsx
  frontend/packages/dev-console/src/utils/__tests__/connector-utils.spec.ts
  frontend/packages/dev-console/src/utils/add-resources-menu-utils.ts
  frontend/packages/dev-console/src/utils/application-utils.ts
  frontend/packages/dev-console/src/utils/connector-utils.ts
Labels: approved, component/core, component/dev-console, component/kubevirt, component/sdk, component/shared, lgtm

#6851 TaskRun details and log page
  frontend/packages/dev-console/src/components/pipelineruns/detail-page-tabs/PipelineRunDetails.tsx
  frontend/packages/dev-console/src/components/pipelineruns/logs/LogSnippetBlock.tsx
  frontend/packages/dev-console/src/components/pipelineruns/logs/PipelineRunDetailsErrorLog.tsx
  frontend/packages/dev-console/src/components/pipelineruns/logs/RunDetailsErrorLog.tsx
  frontend/packages/dev-console/src/components/pipelineruns/logs/__tests__/log-snippet-test-data.ts
  frontend/packages/dev-console/src/components/pipelineruns/logs/__tests__/log-snippet-utils.spec.ts
  frontend/packages/dev-console/src/components/pipelineruns/logs/__tests__/pipelineRunLogSnippet.spec.ts
  frontend/packages/dev-console/src/components/pipelineruns/logs/log-snippet-types.ts
  frontend/packages/dev-console/src/components/pipelineruns/logs/log-snippet-utils.ts
  frontend/packages/dev-console/src/components/pipelineruns/logs/pipelineRunLogSnippet.ts
  frontend/packages/dev-console/src/components/pipelines/pipeline-overview/PipelineRunItem.tsx
  frontend/packages/dev-console/src/components/taskruns/TaskRunDetails.scss
  frontend/packages/dev-console/src/components/taskruns/TaskRunDetails.tsx
  frontend/packages/dev-console/src/components/taskruns/TaskRunDetailsPage.tsx
  frontend/packages/dev-console/src/components/taskruns/TaskRunLog.scss
  frontend/packages/dev-console/src/components/taskruns/TaskRunLog.tsx
  frontend/packages/dev-console/src/components/taskruns/__tests__/TaskRunLog.spec.tsx
  frontend/packages/dev-console/src/components/taskruns/__tests__/taskrun-test-data.ts
  frontend/packages/dev-console/src/components/taskruns/events/__tests__/TaskRunDetailsPage.spec.tsx
  frontend/packages/dev-console/src/components/taskruns/list-page/__tests__/TaskRunsRow.spec.tsx
  frontend/packages/dev-console/src/components/taskruns/logs/taskRunLogSnippet.ts
  frontend/packages/dev-console/src/utils/pipeline-augment.ts
  frontend/packages/dev-console/src/utils/pipeline-filter-reducer.ts
Labels: approved, component/dev-console, kind/feature, lgtm

#7080 not all disk types can be selected as the boot source
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/storage-tab-validation.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/strings/storage.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/storage-tab/storage-boot-source.tsx
Labels: approved, component/kubevirt, lgtm

#7067 CONSOLE-2391: Monitoring: Initial i18n for list & details pages
  frontend/packages/integration-tests-cypress/tests/monitoring/monitoring.spec.ts
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/components/monitoring/query-browser.tsx
  frontend/public/i18n.js
  frontend/public/locales/en/monitoring.json
Labels: approved, component/core, component/monitoring, docs-approved, lgtm, px-approved, qe-approved

#6857 Bug 1856354: Keep swagger definitions up to date
  frontend/public/actions/k8s.ts
  frontend/public/components/app.jsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#7037 add pipelinerun watcher to add or remove the last run menu item
  frontend/packages/dev-console/src/components/pipelines/PipelineDetailsPage.tsx
  frontend/packages/dev-console/src/components/pipelines/__tests__/hooks.spec.ts
  frontend/packages/dev-console/src/components/pipelines/__tests__/pipelineDetailsPage.spec.tsx
  frontend/packages/dev-console/src/components/pipelines/const.ts
  frontend/packages/dev-console/src/components/pipelines/hooks.ts
  frontend/packages/dev-console/src/test/pipeline-data.ts
Labels: approved, component/dev-console, kind/bug, lgtm

#7102 Bug 1894503: add automated test for Polarion CNV-5045
  frontend/packages/console-shared/src/test-utils/utils.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.wizard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/wizard.view.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, component/shared, lgtm, ok-to-test

#7036 Console-2450: i18n for jobs
  frontend/public/components/job.tsx
  frontend/public/locales/en/workload.json
Labels: approved, component/core, docs-approved, lgtm, px-approved, qe-approved

#7081 Knative Test Cases Rearrangement
  frontend/packages/dev-console/integration-tests/features/Knative/actions-on-event-source-side-bar.feature
  frontend/packages/dev-console/integration-tests/features/Knative/actions-on-knative-revision.feature
  frontend/packages/dev-console/integration-tests/features/Knative/actions-on-knative-service.feature
  frontend/packages/dev-console/integration-tests/features/Knative/actions_on_event_sources.feature
  frontend/packages/dev-console/integration-tests/features/Knative/broker-ODC-4004.feature
  frontend/packages/dev-console/integration-tests/features/Knative/channel-ODC-3225.feature
  frontend/packages/dev-console/integration-tests/features/Knative/connector-Event-Sources-ODC-4230.feature
  frontend/packages/dev-console/integration-tests/features/Knative/create-event-sources.feature
  frontend/packages/dev-console/integration-tests/features/Knative/create-knative-workload.feature
  frontend/packages/dev-console/integration-tests/features/Knative/event-Sources.feature
  frontend/packages/dev-console/integration-tests/features/Knative/event-sources-sink-to-URI.feature
  frontend/packages/dev-console/integration-tests/features/Knative/eventing-Broker-Trigger.feature
  frontend/packages/dev-console/integration-tests/features/Knative/eventing-Broker.feature
  frontend/packages/dev-console/integration-tests/features/Knative/eventing-Camelk.feature
  frontend/packages/dev-console/integration-tests/features/Knative/eventing-Channel-Subscription.feature
  frontend/packages/dev-console/integration-tests/features/Knative/eventing-Channel.feature
  frontend/packages/dev-console/integration-tests/features/Knative/eventing-Kafka-EventSource.feature
  frontend/packages/dev-console/integration-tests/features/Knative/knative-Actions_on_event_sources.feature
  frontend/packages/dev-console/integration-tests/features/Knative/knative-Actions_on_knative_revision.feature
  frontend/packages/dev-console/integration-tests/features/Knative/knative-Actions_on_knative_service.feature
  frontend/packages/dev-console/integration-tests/features/Knative/knative-Apcahe_camel.feature
  frontend/packages/dev-console/integration-tests/features/Knative/knative-Create_event_sources.feature
  frontend/packages/dev-console/integration-tests/features/Knative/knative-Create_workload.feature
  frontend/packages/dev-console/integration-tests/features/Knative/knative-Event_source_side_pane.feature
  frontend/packages/dev-console/integration-tests/features/Knative/knative-side_pane.feature
  frontend/packages/dev-console/integration-tests/features/Knative/scroll-Bar-ODC-4232.feature
  frontend/packages/dev-console/integration-tests/features/Knative/side-bar-of-knative-revision-and-service.feature
  frontend/packages/dev-console/integration-tests/features/Knative/sink-to-URI-ODC-3924.feature
  frontend/packages/dev-console/integration-tests/features/Knative/subscription-Channel-ODC-3225.feature
  frontend/packages/dev-console/integration-tests/features/Knative/trigger-Broker-ODC-4004.feature
  frontend/packages/dev-console/integration-tests/features/Knative/usability-Enhancement-Eventing-ODC-3953.feature
  frontend/packages/dev-console/integration-tests/features/e2e/knative-service-workload.feature
Labels: approved, component/dev-console, lgtm

#6901 Add graph view to project overview workloads tab
  frontend/packages/dev-console/src/components/NamespacedPage.tsx
  frontend/packages/dev-console/src/components/topology/TopologyDataRenderer.tsx
  frontend/packages/dev-console/src/components/topology/TopologyPage.tsx
  frontend/packages/dev-console/src/components/topology/TopologyPageToolbar.tsx
  frontend/packages/dev-console/src/components/topology/__tests__/DataModelProvider.spec.tsx
  frontend/packages/dev-console/src/components/topology/__tests__/TopologyPage.spec.tsx
  frontend/packages/dev-console/src/components/topology/__tests__/TopologyPageToolbar.spec.tsx
  frontend/packages/dev-console/src/components/topology/data-transforms/ModelContext.ts
  frontend/public/components/instantiate-template.tsx
  frontend/public/components/namespace.jsx
  frontend/public/components/overview/OverviewListPage.tsx
Labels: approved, component/core, component/dev-console, component/olm, lgtm

#7070 Fetch pods when displaying pods resources in overview pages
  frontend/packages/console-shared/src/hooks/index.ts
  frontend/packages/console-shared/src/hooks/usePodsWatcher.ts
  frontend/packages/console-shared/src/utils/__tests__/pod-resource-utils.spec.ts
  frontend/packages/console-shared/src/utils/__tests__/resource-utils.spec.ts
  frontend/packages/console-shared/src/utils/index.ts
  frontend/packages/console-shared/src/utils/pod-resource-utils.ts
  frontend/packages/console-shared/src/utils/pod-ring-utils.ts
  frontend/packages/console-shared/src/utils/resource-utils.ts
  frontend/packages/knative-plugin/src/components/overview/EventSinkServicesOverviewList.tsx
  frontend/packages/knative-plugin/src/components/overview/KnativeRevisionResources.tsx
  frontend/packages/knative-plugin/src/components/overview/KnativeServiceResources.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/EventSinkServicesOverviewList.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/KnativeRevisionResources.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/KnativeServiceResources.spec.tsx
  frontend/packages/kubevirt-plugin/src/topology/TopologyVmResourcesPanel.tsx
  frontend/public/components/overview/cron-job-overview.tsx
  frontend/public/components/overview/job-overview.tsx
  frontend/public/components/overview/pod-overview.tsx
  frontend/public/components/overview/pods-overview.tsx
  frontend/public/components/overview/resource-overview-page.tsx
Labels: approved, component/core, component/knative, component/kubevirt, component/shared, kind/cleanup, lgtm

#7027 [release-4.6.z] Bug 1892695: update kafkaSource v1beta1 spec to remove resources
  frontend/packages/knative-plugin/src/components/add/AdvancedSection.tsx
  frontend/packages/knative-plugin/src/components/add/EventSource.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/EventSourceSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/KafkaSourceSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/__tests__/KafkaSourceSection.spec.tsx
  frontend/packages/knative-plugin/src/components/add/import-types.ts
  frontend/packages/knative-plugin/src/models.ts
  frontend/packages/knative-plugin/src/utils/__tests__/create-eventsources-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-serving-data.ts
  frontend/packages/knative-plugin/src/utils/create-eventsources-utils.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, component/knative, lgtm

#7091 [release-4.6] Bug 1894235: Fix to allow shift-drag to regroup knative services in topology
  frontend/package.json
  frontend/packages/dev-console/src/components/topology/components/componentUtils.ts
  frontend/packages/dev-console/src/components/topology/helm/components/HelmReleaseGroup.tsx
  frontend/packages/dev-console/src/components/topology/helm/components/HelmReleaseNode.tsx
  frontend/packages/dev-console/src/components/topology/operators/components/OperatorBackedServiceGroup.tsx
  frontend/packages/dev-console/src/components/topology/operators/components/OperatorBackedServiceNode.tsx
  frontend/packages/knative-plugin/src/topology/components/groups/KnativeServiceGroup.tsx
  frontend/packages/knative-plugin/src/topology/components/groups/KnativeServiceNode.tsx
  frontend/yarn.lock
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, component/knative, lgtm

#6835 Bug 1885309: Fix bug where <Timestamp> for 12 hour has incorrect suffix
  frontend/public/components/utils/timestamp.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, component/core, lgtm

#7045 CONSOLE-2448: i18n for configmaps
  frontend/public/components/configmap-and-secret-data.tsx
  frontend/public/components/configmap.jsx
  frontend/public/locales/en/workload.json
Labels: approved, component/core, docs-approved, lgtm, px-approved, qe-approved

#7089 [release-4.6] Bug 1893626: Fix Encryption request for OCS
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/create-form.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, component/ceph, lgtm

#7055 [release-4.5.z] Bug 1893277: deployment of vmware fails if VMware URL contains space at the end
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/provider-definitions.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/providers/v2vvmware-tab-validation.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/selectors/immutable/provider/vmware/selectors.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/import-providers-tab/providers/vm-import-password.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, lgtm

#7046 Bug 1893022: Fix git validation on selecting git type
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/gitlab/custom-domain-with-subdomain.json
  frontend/packages/git-service/src/services/__tests__/gitlab-service.spec.ts
  frontend/packages/git-service/src/services/gitlab-service.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, component/git-service, lgtm

#7118 Make the 'Reveal Values' match the string from locales/en
  frontend/integration-tests/views/secrets.view.ts
Labels: approved, lgtm

#7021 Show custom builder image in edit flows BuilderImage section
  frontend/packages/dev-console/src/components/edit-application/EditApplication.tsx
  frontend/packages/dev-console/src/components/import/builder/BuilderImageSelector.tsx
  frontend/packages/dev-console/src/components/import/builder/BuilderSection.tsx
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
Labels: approved, component/dev-console, lgtm

#7112 Bug 1891047: Access server API via kubernetes.default.svc from Helm endpoints
  pkg/server/server.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/backend, lgtm

#6854 Add Vulnerabilities tab in project details page
  frontend/packages/console-shared/src/components/badges/EmptyStateResourceBadge.scss
  frontend/packages/console-shared/src/components/badges/EmptyStateResourceBadge.tsx
  frontend/packages/console-shared/src/components/badges/index.ts
  frontend/packages/container-security/locales/en/container-security.json
  frontend/packages/container-security/src/components/__tests__/image-manifest-vuln.spec.tsx
  frontend/packages/container-security/src/components/image-manifest-vuln.tsx
  frontend/packages/container-security/src/plugin.ts
  frontend/public/components/factory/table-filters.ts
  frontend/public/i18n.js
  frontend/webpack.config.ts
Labels: approved, component/core, component/dev-console, component/shared, kind/feature, lgtm

#6960 update pipelinerun graph to show past pipeline structure
  frontend/packages/dev-console/src/components/pipelineruns/detail-page-tabs/PipelineRunVisualization.tsx
  frontend/packages/dev-console/src/components/pipelineruns/logs/__tests__/log-snippet-test-data.ts
  frontend/packages/dev-console/src/components/pipelineruns/logs/__tests__/pipelineRunLogSnippet.spec.ts
  frontend/packages/dev-console/src/components/pipelineruns/status/LinkedPipelineRunTaskStatus.tsx
  frontend/packages/dev-console/src/components/pipelineruns/status/PipelineBars.tsx
  frontend/packages/dev-console/src/components/pipelineruns/status/PipelineTaskStatus.tsx
  frontend/packages/dev-console/src/components/pipelines/list-page/PipelineRow.tsx
  frontend/packages/dev-console/src/components/pipelines/modals/common/__tests__/utils.spec.ts
  frontend/packages/dev-console/src/components/topology/components/nodes/build-decorators/PipelineBuildDecoratorTooltip.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/build-decorators/build-decorator-utils.tsx
  frontend/packages/dev-console/src/test/pipeline-data.ts
  frontend/packages/dev-console/src/utils/__tests__/pipeline-actions.spec.ts
  frontend/packages/dev-console/src/utils/__tests__/pipeline-augment-test-data.ts
  frontend/packages/dev-console/src/utils/__tests__/pipeline-augment.spec.ts
  frontend/packages/dev-console/src/utils/__tests__/pipeline-test-data.ts
  frontend/packages/dev-console/src/utils/__tests__/pipeline-utils.spec.ts
  frontend/packages/dev-console/src/utils/pipeline-augment.ts
  frontend/packages/dev-console/src/utils/pipeline-utils.ts
Labels: approved, component/dev-console, kind/feature, lgtm

#7031 CONSOLE-2449: cron jobs i18n
  frontend/public/components/cron-job.tsx
  frontend/public/locales/en/workload.json
Labels: approved, component/core, docs-approved, lgtm, px-approved, qe-approved

#7114 fix quickstart subtitle
  frontend/packages/console-app/src/components/quick-starts/controller/QuickStartTaskHeader.scss
  frontend/packages/console-app/src/components/quick-starts/controller/QuickStartTaskHeader.tsx
  frontend/packages/console-app/src/components/quick-starts/controller/__tests__/QuickStartTaskHeader.spec.tsx
Labels: approved, component/core, lgtm

#6929 CONSOLE-2392: i18n: externalize strings in Compute nav section
  frontend/packages/console-app/locales/en/nodes.json
  frontend/packages/console-app/src/components/nodes/NodeDetailsConditions.tsx
  frontend/packages/console-app/src/components/nodes/NodeDetailsImages.tsx
  frontend/packages/console-app/src/components/nodes/NodeDetailsOverview.tsx
  frontend/packages/console-app/src/components/nodes/NodeDetailsPage.tsx
  frontend/packages/console-app/src/components/nodes/NodeStatus.tsx
  frontend/packages/console-app/src/components/nodes/NodeTerminal.tsx
  frontend/packages/console-app/src/components/nodes/NodesPage.tsx
  frontend/packages/console-app/src/components/nodes/menu-actions.tsx
  frontend/packages/console-app/src/components/nodes/modals/ConfigureUnschedulableModal.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/ActivityCard.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/DetailsCard.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/InventoryCard.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/NodeAlerts.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/NodeHealth.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/StatusCard.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/UtilizationCard.tsx
  frontend/packages/console-app/src/components/nodes/popovers/MarkAsSchedulablePopover.tsx
  frontend/packages/console-shared/src/components/dashboard/utilization-card/TopConsumerPopover.tsx
  frontend/packages/console-shared/src/selectors/machine.ts
  frontend/packages/console-shared/src/selectors/node.ts
  frontend/public/components/machine-autoscaler.tsx
  frontend/public/components/machine-config-pool.tsx
  frontend/public/components/machine-config.tsx
  frontend/public/components/machine-deployment.tsx
  frontend/public/components/machine-health-check.tsx
  frontend/public/components/machine-set.tsx
  frontend/public/components/machine.tsx
  frontend/public/components/modals/configure-machine-autoscaler-modal.tsx
  frontend/public/components/resource-pages.ts
  frontend/public/i18n.js
  frontend/public/locales/en/machine-autoscalers.json
  frontend/public/locales/en/machine-config-pools.json
  frontend/public/locales/en/machine-configs.json
  frontend/public/locales/en/machine-health-checks.json
  frontend/public/locales/en/machine-sets.json
  frontend/public/locales/en/machines.json
  frontend/public/locales/en/public.json
Labels: approved, component/core, component/dashboard, component/shared, docs-approved, lgtm, px-approved, qe-approved

#7096 Bug 1894330: update channels list
  frontend/public/module/k8s/cluster-settings.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#7121 Fix edit flow in case of custom template application
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/utils/resource-label-utils.ts
Labels: approved, component/dev-console, lgtm

#7120 Fix typo in error message
  frontend/packages/kubevirt-plugin/src/strings/vm/messages.ts
Labels: approved, component/kubevirt, lgtm

#7136 Bug 1894519: Enable external mode for OpenStack and oVirt platform
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-page.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/ceph, lgtm

#7125 Bug 1895065: Fix sample / snippet toggle in resource sidebar
  frontend/public/components/overview/resource-overview-details.tsx
  frontend/public/components/sidebars/resource-sidebar-samples.tsx
  frontend/public/components/sidebars/resource-sidebar.tsx
  frontend/public/components/utils/simple-tab-nav.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/bug, lgtm

#7138 Bug 1893944: Update Multi Cloud Gateway brand name to Multicloud Object Gateway
  frontend/packages/noobaa-storage-plugin/src/components/resource-providers-card/resource-providers-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/status-card/object-service-health.tsx
  frontend/packages/noobaa-storage-plugin/src/constants/capacity-breakdown.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/noobaa, lgtm

#6871 Add tests for guest agent data
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/common.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/templates/windowsVMForRDPL2.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.guest.agent.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.tab.console.rdp.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.tab.dashboard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/dashboard.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/virtualMachine.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/vm.disks.view.ts
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-alerts.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/guest-agent-file-systems.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-users.tsx
  frontend/packages/kubevirt-plugin/src/strings/vm/messages.ts
Labels: approved, component/kubevirt, lgtm

#7094 CONSOLE-2395: Add language switcher
  frontend/public/components/_masthead.scss
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/components/modals/index.ts
  frontend/public/components/modals/language-preferences-modal.tsx
  frontend/public/i18n.js
  frontend/public/locales/en/language-preferences-modal.json
  frontend/public/locales/en/masthead.json
Labels: approved, component/core, docs-approved, lgtm, px-approved, qe-approved

#7111 Bug 1894860: fixed test "returned merged index file for all accessible helm repos"
  pkg/helm/chartproxy/proxy_test.go
  pkg/helm/chartproxy/testdata/mergedAzureRepoIndex.yaml
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/backend, lgtm

#7140 Bug 1878701: Filter out events from old VM with the same nam
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-activity.tsx
  frontend/packages/kubevirt-plugin/src/selectors/event/filters.ts
  frontend/public/components/events.jsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/kubevirt, lgtm

#7043 CONSOLE-2453: Hpa i18n
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/status/index.spec.tsx
  frontend/public/components/conditions.tsx
  frontend/public/components/hpa.tsx
  frontend/public/locales/en/workload.json
Labels: approved, component/core, component/olm, docs-approved, lgtm, px-approved, qe-approved

#7100 add validation for RHV certificate
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/providers/ovirt-provider-tab-validation.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/import-providers-tab/providers/vm-import-password.tsx
Labels: approved, component/kubevirt, lgtm

#7042 CONSOLE-2452: i18n for replicationControllers
  frontend/public/components/replication-controller.jsx
  frontend/public/locales/en/workload.json
Labels: approved, component/core, docs-approved, lgtm, px-approved, qe-approved

#7054 Bug 1882653: Convey automatic subscriptions in same namespace as a m…
  frontend/packages/operator-lifecycle-manager/locales/en/operator-hub-subscribe.json
  frontend/packages/operator-lifecycle-manager/locales/en/subscription.json
  frontend/packages/operator-lifecycle-manager/mocks.ts
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
  frontend/packages/operator-lifecycle-manager/src/components/subscription.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/subscription.tsx
  frontend/public/components/_detail-table.scss
  frontend/public/i18n.js
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/olm, lgtm

#7128 CONSOLE-2466: Bump i18n dependencies
  frontend/package.json
  frontend/yarn.lock
Labels: approved, docs-approved, lgtm, px-approved, qe-approved

#6464 Add option for Deep Compare hook to use JSON.stringify.
  frontend/packages/console-shared/src/hooks/deep-compare-memoize.ts
  frontend/public/components/utils/k8s-watch-hook.ts
Labels: approved, component/core, component/shared, lgtm

#6963 Ensure Console plugin init logic is executed only once
  frontend/public/plugins.ts
Labels: approved, component/ceph, component/core, component/dev-console, component/git-service, component/knative, component/olm, component/sdk, component/shared, lgtm

#6992 Bug 1891498: Show additional machine config pools while updating
  frontend/__tests__/components/cluster-settings.spec.tsx
  frontend/public/components/cluster-settings/_cluster-settings.scss
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/locales/en/cluster-settings.json
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, docs-approved, lgtm, px-approved, qe-approved

#7071 Bug 1893351: Determine Secret type upon the save
  frontend/public/components/secrets/create-secret.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#7034 Fix application dropdown to fetch resources based on extensions.
  frontend/packages/dev-console/src/components/dropdown/ApplicationDropdown.tsx
  frontend/packages/dev-console/src/components/import/__tests__/DeployImage.spec.tsx
  frontend/packages/dev-console/src/components/topology/TopologyDataRetriever.tsx
  frontend/packages/dev-console/src/extensions/topology.ts
Labels: approved, component/core, component/dev-console, lgtm

#7060 CONSOLE-2443: pod i18n
  frontend/public/components/pod.tsx
  frontend/public/locales/en/workload.json
Labels: approved, component/core, docs-approved, lgtm, px-approved, qe-approved

#7088 Add quick search button and keyboard shortcut in topology
  frontend/packages/dev-console/src/components/topology/TopologyShortcuts.tsx
  frontend/packages/dev-console/src/components/topology/filters/TopologyFilterBar.tsx
  frontend/packages/dev-console/src/components/topology/filters/quick-search/QuickSearchButton.scss
  frontend/packages/dev-console/src/components/topology/filters/quick-search/QuickSearchButton.tsx
  frontend/packages/dev-console/src/components/topology/filters/quick-search/QuickSearchIcon.tsx
Labels: approved, component/dev-console, kind/feature, lgtm

#7097 add to application support for required resources
  frontend/packages/dev-console/src/actions/add-resources.tsx
  frontend/packages/dev-console/src/components/topology/actions/__tests__/graphActions.spec.tsx
  frontend/packages/dev-console/src/components/topology/actions/groupActions.ts
  frontend/packages/knative-plugin/src/topology/create-connector-utils.ts
Labels: approved, component/dev-console, component/knative, lgtm

#7116 Bug 1894860: Correctly report errors when backend tests fail
  test-backend.sh
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#7124 i18n support in devconsole monitoring components
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/monitoring/MonitoringPage.tsx
  frontend/packages/dev-console/src/components/monitoring/__tests__/MonitoringPage.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlerts.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/SilenceDurationDropdown.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/__tests__/MonitoringAlerts.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/monitoring-alerts-utils.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringDashboard.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringWorkloadFilter.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/__tests__/MonitoringDashboard.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/__tests__/MonitoringDashboardGraph.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/metrics/EmptyStateQuery.tsx
  frontend/packages/dev-console/src/components/monitoring/metrics/MetricsQueryInput.tsx
  frontend/packages/dev-console/src/components/monitoring/metrics/MonitoringMetrics.tsx
  frontend/packages/dev-console/src/components/monitoring/metrics/__tests__/MetricsQueryInput.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/metrics/__tests__/MonitoringMetrics.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/overview/MonitoringMetrics.tsx
  frontend/packages/dev-console/src/components/monitoring/overview/MonitoringOverview.tsx
  frontend/packages/dev-console/src/components/monitoring/overview/MonitoringOverviewEvents.tsx
  frontend/packages/dev-console/src/components/monitoring/overview/__tests__/MonitoringOverview.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/queries.ts
Labels: approved, component/dev-console, lgtm

#7129 Fix to allow in context create after page reload
  frontend/packages/dev-console/src/components/topology/TopologyView.tsx
Labels: approved, component/dev-console, kind/bug, lgtm

#7146 add expect library to kubevirt tests
  frontend/packages/kubevirt-plugin/integration-tests/Dockerfile
Labels: approved, component/kubevirt, lgtm

#7058 CONSOLE-2444: deployment i18n
  frontend/public/components/deployment.tsx
  frontend/public/locales/en/workload.json
Labels: approved, component/core, docs-approved, lgtm, px-approved, qe-approved

#6249 Bug 1896101: Added negative tests for migration from VMWare and RHV
  frontend/packages/kubevirt-plugin/integration-tests/tests/dialogs/diskDialog.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/dialogs/networkInterfaceDialog.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/mocks/mocks.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/importWizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/rhvImportWizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/vmwareImportWizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/types/types.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/common.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/utils.ts
  frontend/packages/kubevirt-plugin/integration-tests/v2v/rhv/v2v.rhv.basic.import.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/v2v/rhv/v2v.rhv.configs.ts
  frontend/packages/kubevirt-plugin/integration-tests/v2v/rhv/v2v.rhv.import.incorrect.names.negative.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/v2v/rhv/v2v.rhv.import.scenario.basic.ts
  frontend/packages/kubevirt-plugin/integration-tests/v2v/vmware/v2v.configs.ts
  frontend/packages/kubevirt-plugin/integration-tests/v2v/vmware/v2v.import.2vms.ts
  frontend/packages/kubevirt-plugin/integration-tests/v2v/vmware/v2v.import.all.flavors.ts
  frontend/packages/kubevirt-plugin/integration-tests/v2v/vmware/v2v.import.scenario.multi.nic.ts
  frontend/packages/kubevirt-plugin/integration-tests/v2v/vmware/v2v.import.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/v2v/vmware/v2v.import.windows.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/v2v/vmware/v2v.vmware.basic.import.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/v2v/vmware/v2v.vmware.import.incorrect.names.negative.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/importWizard.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/rhvImportWizard.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/wizard.view.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/ceph, component/core, component/dashboard, component/dev-console, component/knative, component/kubevirt, component/metal3, component/noobaa, component/olm, component/shared, lgtm

#7134 Bug 1890104: update apiVersion for eventing resources wrt serverless 1.10
  frontend/packages/knative-plugin/src/components/add/event-sources/ApiServerSection.tsx
  frontend/packages/knative-plugin/src/models.ts
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
  frontend/packages/knative-plugin/src/utils/__mocks__/dynamic-channels-crd-mock.ts
  frontend/packages/knative-plugin/src/utils/__mocks__/dynamic-event-source-crd-mock.ts
  frontend/packages/knative-plugin/src/utils/create-eventsources-utils.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/knative, lgtm

#7033 Bug 1896529: Updates to the serverless quicks starts content to fix errors and update areas that have changed based on the new operator release.
  frontend/packages/console-app/src/components/quick-starts/data/explore-serverless-quickstart.ts
  frontend/packages/console-app/src/components/quick-starts/data/serverless-application-quickstart.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#7166 Consistency display resource details in a two equal column layout
  frontend/public/components/cluster-settings/oauth.tsx
  frontend/public/components/configmap.jsx
  frontend/public/components/default-resource.jsx
  frontend/public/components/group.tsx
  frontend/public/components/image-stream.tsx
  frontend/public/components/ingress.jsx
  frontend/public/components/limit-range.tsx
  frontend/public/components/machine-autoscaler.tsx
  frontend/public/components/machine-config.tsx
  frontend/public/components/machine-set.tsx
  frontend/public/components/network-policy.jsx
  frontend/public/components/secret.jsx
  frontend/public/components/service-account.jsx
  frontend/public/components/stateful-set.tsx
Labels: approved, component/core, lgtm

#7106 remove tech preview badge from web terminal
  frontend/packages/console-app/src/components/cloud-shell/CloudShellDrawer.tsx
  frontend/packages/console-app/src/components/cloud-shell/CloudShellTab.tsx
Labels: approved, component/core, lgtm

#7154 add support for customSchema in resource sidebar for helm charts
  frontend/packages/console-shared/src/components/formik-fields/YAMLEditorField.tsx
  frontend/packages/console-shared/src/components/formik-fields/field-types.ts
  frontend/packages/dev-console/src/components/helm/form/HelmInstallUpgradeForm.tsx
  frontend/public/components/sidebars/explore-type-sidebar.tsx
  frontend/public/components/sidebars/resource-sidebar.tsx
Labels: approved, component/core, component/dev-console, component/shared, kind/bug, lgtm

#7167 Bug 1888870: Remove resolveCompletionItem from yaml editor since it's not needed
  frontend/packages/console-shared/src/components/editor/yaml-editor-utils.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/shared, lgtm, ok-to-test

#7157 Fix to use graph view for default for dev perspective topology page
  frontend/packages/dev-console/src/components/topology/TopologyDataRenderer.tsx
  frontend/packages/dev-console/src/components/topology/TopologyPage.tsx
  frontend/packages/dev-console/src/components/topology/TopologyPageToolbar.tsx
  frontend/packages/dev-console/src/components/topology/TopologyView.tsx
  frontend/packages/dev-console/src/components/topology/__tests__/DataModelProvider.spec.tsx
  frontend/packages/dev-console/src/components/topology/__tests__/Graph.spec.tsx
  frontend/packages/dev-console/src/components/topology/__tests__/TopologyPage.spec.tsx
  frontend/packages/dev-console/src/components/topology/__tests__/TopologyPageToolbar.spec.tsx
  frontend/packages/dev-console/src/components/topology/filters/FilterDropdown.tsx
  frontend/packages/dev-console/src/components/topology/filters/TopologyFilterBar.tsx
  frontend/packages/dev-console/src/components/topology/filters/__tests__/FilterDropdown.spec.tsx
  frontend/public/components/overview/OverviewListPage.tsx
Labels: approved, component/core, component/dev-console, kind/bug, lgtm

#7171 Wait for models to be loaded
  frontend/public/components/utils/k8s-watch-hook.ts
Labels: approved, component/core, lgtm

#7172 Bug 1895372: Tolerate missing `status` on OperatorGroups
  frontend/packages/operator-lifecycle-manager/src/components/operator-group.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/olm, lgtm

#7173 Bug 1888530 - [RHOCS Usability Study]No clear statement what rules users violated when failed the naming requirements
  frontend/public/components/storage-class-form.tsx
  frontend/public/components/storage/create-pvc.tsx
Labels: approved, component/core, lgtm

#7023 Add new catalog extensions and catalog service provider
  frontend/packages/console-dynamic-plugin-sdk/src/api/useResolvedExtensions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/__tests__/coderef-utils.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/coderef-utils.ts
  frontend/packages/console-plugin-sdk/src/typings/base.ts
  frontend/packages/console-plugin-sdk/src/typings/dev-catalog.ts
  frontend/packages/dev-console/src/components/catalog/CatalogController.tsx
  frontend/packages/dev-console/src/components/catalog/CatalogPage.tsx
  frontend/packages/dev-console/src/components/catalog/catalog-plugin.ts
  frontend/packages/dev-console/src/components/catalog/hooks/useCatalogExtensions.ts
  frontend/packages/dev-console/src/components/catalog/providers/index.ts
  frontend/packages/dev-console/src/components/catalog/providers/useBuilderImages.tsx
  frontend/packages/dev-console/src/components/catalog/providers/useHelmCharts.tsx
  frontend/packages/dev-console/src/components/catalog/providers/useTemplates.tsx
  frontend/packages/dev-console/src/components/catalog/service/CatalogExtensionHookResolver.tsx
  frontend/packages/dev-console/src/components/catalog/service/CatalogItemsLoader.tsx
  frontend/packages/dev-console/src/components/catalog/service/CatalogServiceProvider.tsx
  frontend/packages/dev-console/src/components/catalog/utils/utils.ts
  frontend/packages/dev-console/src/components/helm/helm-types.ts
  frontend/packages/dev-console/src/plugin.tsx
  frontend/packages/operator-lifecycle-manager/src/dev-catalog.ts
  frontend/packages/operator-lifecycle-manager/src/plugin.tsx
  frontend/packages/operator-lifecycle-manager/src/utils/useClusterServiceVersions.tsx
Labels: approved, component/dev-console, component/olm, component/sdk, lgtm

#7074 Determine metrics status in list view nodes
  frontend/packages/dev-console/src/components/topology/list-view/TopologyListViewNode.tsx
  frontend/packages/dev-console/src/components/topology/list-view/cells/CpuCell.tsx
  frontend/packages/dev-console/src/components/topology/list-view/cells/MemoryCell.tsx
  frontend/packages/dev-console/src/components/topology/list-view/cells/StatusCell.tsx
  frontend/packages/dev-console/src/components/topology/list-view/listViewComponentFactory.ts
  frontend/packages/dev-console/src/components/topology/list-view/metricStats.ts
  frontend/packages/dev-console/src/components/topology/list-view/useMetricStats.ts
  frontend/packages/knative-plugin/src/topology/listView/KnativeRevisionListViewNode.tsx
  frontend/packages/knative-plugin/src/topology/listView/NoStatusListViewNode.tsx
  frontend/packages/knative-plugin/src/topology/listView/SinkUriListViewNode.tsx
  frontend/packages/knative-plugin/src/topology/listView/knativeListViewComponentFactory.ts
  frontend/packages/knative-plugin/src/utils/usePodsForRevisions.ts
  frontend/packages/kubevirt-plugin/src/topology/listView/VmListViewNode.tsx
  frontend/packages/kubevirt-plugin/src/topology/listView/kubevirtListViewComponentFactory.ts
  frontend/packages/kubevirt-plugin/src/utils/usePodsForVm.ts
Labels: approved, component/dev-console, component/knative, component/kubevirt, component/shared, kind/cleanup, lgtm

#7099 Bug 1894374: prevent prevent loading by type
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#7126 i18n support in devconsole hpa components
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/hpa/HPADetailsForm.tsx
  frontend/packages/dev-console/src/components/hpa/HPAForm.tsx
  frontend/packages/dev-console/src/components/hpa/HPAFormikForm.tsx
  frontend/packages/dev-console/src/components/hpa/HPAPage.tsx
  frontend/packages/dev-console/src/components/hpa/HPAPageHeader.tsx
  frontend/packages/dev-console/src/components/hpa/validation-utils.ts
Labels: approved, component/dev-console, lgtm

#7101 Gherkin Scripts for scenarios in ODC-4419
  frontend/packages/dev-console/integration-tests/features/topology/topology-in-context-add-operator-backed-service.feature
  frontend/packages/dev-console/integration-tests/features/topology/topology-in-context-add-options.feature
Labels: approved, component/dev-console, lgtm

#7077 Change PodRingSet to fetch pods, remove PodRingController
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/pod/PodRingDataController.tsx
  frontend/packages/console-shared/src/components/pod/PodRingSet.tsx
  frontend/packages/console-shared/src/components/pod/__tests__/PodRingSet.spec.tsx
  frontend/packages/console-shared/src/components/pod/index.ts
  frontend/packages/console-shared/src/utils/pod-ring-utils.ts
  frontend/packages/dev-console/src/components/topology/components/nodes/PodSet.tsx
  frontend/packages/dev-console/src/components/topology/data-transforms/transform-utils.ts
  frontend/packages/dev-console/src/components/topology/topology-types.ts
  frontend/public/components/daemon-set.tsx
  frontend/public/components/deployment-config.tsx
  frontend/public/components/deployment.tsx
  frontend/public/components/overview/cron-job-overview.tsx
  frontend/public/components/overview/deployment-config-overview.tsx
  frontend/public/components/overview/deployment-overview.tsx
  frontend/public/components/overview/job-overview.tsx
  frontend/public/components/overview/pod-overview.tsx
  frontend/public/components/overview/stateful-set-overview.tsx
  frontend/public/components/stateful-set.tsx
Labels: approved, component/core, component/dev-console, component/shared, kind/cleanup, lgtm

#7174 Bug 1896229: Hide empty cards
  frontend/public/components/monitoring/dashboards/index.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/monitoring, lgtm

#6967 Bug 1889928: add more tests for golden os
  frontend/packages/console-shared/src/test-utils/utils.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/cdi-upload.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/pvc.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/pvcUploadForm.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachine.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/non-admin.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/types/pvc.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/common.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/pvc.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/scripts/expect-login.sh
  frontend/packages/kubevirt-plugin/integration-tests/views/pvc.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/wizard.view.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, component/shared, lgtm, ok-to-test

#7092 CONSOLE-2325: Add machine translations for Japanese
  frontend/packages/console-app/locales/ja/cloudshell.json
  frontend/packages/console-app/locales/ja/quickstart.json
  frontend/packages/console-app/locales/ja/tour.json
  frontend/packages/console-shared/locales/ja/badge.json
  frontend/packages/console-shared/locales/ja/editor.json
  frontend/packages/operator-lifecycle-manager/locales/ja/catalog-source.json
  frontend/packages/operator-lifecycle-manager/locales/ja/create-catalog-source.json
  frontend/packages/operator-lifecycle-manager/locales/ja/operator-hub-details.json
  frontend/public/locales/ja/alert-manager-config.json
  frontend/public/locales/ja/alert-manager-receiver-forms.json
  frontend/public/locales/ja/alert-manager-yaml-editor.json
  frontend/public/locales/ja/alert-routing-modal.json
  frontend/public/locales/ja/basicauth-idp-form.json
  frontend/public/locales/ja/build-config.json
  frontend/public/locales/ja/build-strategy.json
  frontend/public/locales/ja/cluster-channel-modal.json
  frontend/public/locales/ja/cluster-operator.json
  frontend/public/locales/ja/cluster-settings.json
  frontend/public/locales/ja/cluster-update-modal.json
  frontend/public/locales/ja/cluster-version.json
  frontend/public/locales/ja/custom-resource-definition.json
  frontend/public/locales/ja/dashboard.json
  frontend/public/locales/ja/details-page.json
  frontend/public/locales/ja/email-receiver-form.json
  frontend/public/locales/ja/github-idp-form.json
  frontend/public/locales/ja/gitlab-idp-form.json
  frontend/public/locales/ja/global-config.json
  frontend/public/locales/ja/google-idp-form.json
  frontend/public/locales/ja/htpasswd-idp-form.json
  frontend/public/locales/ja/idp-cafile-input.json
  frontend/public/locales/ja/idp-name-input.json
  frontend/public/locales/ja/ingress.json
  frontend/public/locales/ja/keystone-idp-form.json
  frontend/public/locales/ja/ldap-idp-form.json
  frontend/public/locales/ja/limit-range.json
  frontend/public/locales/ja/logs.json
  frontend/public/locales/ja/masthead.json
  frontend/public/locales/ja/modal.json
  frontend/public/locales/ja/nav.json
  frontend/public/locales/ja/network-policy.json
  frontend/public/locales/ja/network-route.json
  frontend/public/locales/ja/network-service.json
  frontend/public/locales/ja/oauth.json
  frontend/public/locales/ja/openid-idp-form.json
  frontend/public/locales/ja/pagerduty-receiver-form.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ja/related-objects.json
  frontend/public/locales/ja/request-header-idp-form.json
  frontend/public/locales/ja/resource-quota.json
  frontend/public/locales/ja/routing-labels-editor.json
  frontend/public/locales/ja/search.json
  frontend/public/locales/ja/sidebar.json
  frontend/public/locales/ja/slack-receiver-form.json
  frontend/public/locales/ja/utils.json
  frontend/public/locales/ja/webhook-receiver-form.json
  frontend/public/locales/ja/yaml.json
Labels: approved, component/core, component/olm, component/shared, docs-approved, lgtm, px-approved, qe-approved

#7176 Fix i18n key in ResourceQuotas
  frontend/public/components/resource-quota.jsx
  frontend/public/locales/en/resource-quota.json
Labels: approved, component/core, lgtm

#7076 Bug 1882660: Show all operators that will be approved with manual ins…
  frontend/packages/operator-lifecycle-manager/locales/en/operator-install-page.json
  frontend/packages/operator-lifecycle-manager/src/components/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/install-plan.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-install-page.tsx
  frontend/public/i18n.js
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/olm, lgtm

#7182 kubevirt: update integration tests dockerfile
  frontend/packages/kubevirt-plugin/integration-tests/Dockerfile
Labels: approved, component/kubevirt, lgtm

#7183 Bug 1896732: disable os upload if no os avaliable
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7185 Update i18n json files
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/public/locales/en/machines.json
Labels: approved, component/core, component/shared, lgtm

#6949 CONSOLE-2390: i18n build page and image stream page
  frontend/public/components/build.tsx
  frontend/public/components/image-stream.tsx
  frontend/public/components/modals/confirm-modal.jsx
  frontend/public/i18n.js
  frontend/public/locales/en/build.json
  frontend/public/locales/en/image-stream.json
  frontend/public/locales/en/public.json
Labels: approved, component/core, component/shared, docs-approved, lgtm, ok-to-test, px-approved, qe-approved

#7151 i18n support in devconsole Project and QuickStart components
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/AddPage.tsx
  frontend/packages/dev-console/src/components/BuildConfigPage.tsx
  frontend/packages/dev-console/src/components/EmptyState.tsx
  frontend/packages/dev-console/src/components/HintBlock.tsx
  frontend/packages/dev-console/src/components/ProjectSelectPage.tsx
  frontend/packages/dev-console/src/components/ProjectsExistWrapper.tsx
  frontend/packages/dev-console/src/components/QuickStartTile.tsx
  frontend/packages/dev-console/src/components/__tests__/ProjectsExistWrapper.spec.tsx
  frontend/packages/dev-console/src/components/__tests__/QuickStartTile.spec.tsx
  frontend/packages/dev-console/src/components/projects/CreateProjectListPage.tsx
  frontend/packages/dev-console/src/components/projects/details/ProjectDetailsPage.tsx
  frontend/packages/dev-console/src/components/projects/details/__tests__/ProjectDetailsPage.spec.tsx
Labels: approved, component/dev-console, lgtm

#7165 Add cypress integration test support for Ceph plugin
  .gitignore
  frontend/package.json
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/.eslintrc
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/cypress-ceph.json
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/reporter-config.json
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/subscribe-to-ocs.spec.ts
  frontend/packages/console-shared/src/components/status/icons.tsx
  frontend/packages/integration-tests-cypress/support/selectors.ts
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
  frontend/public/components/utils/tile-view-page.jsx
  test-cypress.sh
Labels: approved, component/ceph, component/core, component/olm, component/shared, lgtm

#7057 CONSOLE-2445: deploymentConfig i18n
  frontend/public/components/deployment-config.tsx
  frontend/public/locales/en/workload.json
Labels: approved, component/core, docs-approved, lgtm, px-approved, qe-approved

#7189 Add Japanese to language switcher
  frontend/public/i18next-parser.config.js
Labels: approved, component/core, lgtm

#7156 Gherkin Script for epic ODC-3396
  frontend/packages/dev-console/integration-tests/features/topology/topology-layout-save.feature
Labels: approved, component/dev-console, lgtm

#7115 i18n support in devconsole health checks components
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/health-checks/AddHealthChecks.tsx
  frontend/packages/dev-console/src/components/health-checks/AddHealthChecksForm.tsx
  frontend/packages/dev-console/src/components/health-checks/HealthChecksProbe.tsx
  frontend/packages/dev-console/src/components/health-checks/ProbeForm.tsx
  frontend/packages/dev-console/src/components/health-checks/RequestTypeForms.tsx
  frontend/packages/dev-console/src/components/health-checks/__tests__/AddHealthChecks.spec.tsx
  frontend/packages/dev-console/src/components/health-checks/__tests__/AddHealthChecksForm.spec.tsx
  frontend/packages/dev-console/src/components/health-checks/health-checks-probe-utils.ts
Labels: approved, component/dev-console, lgtm

#7110 Bug 1894810: removes techpreview badge from eventing
  frontend/packages/knative-plugin/src/components/add/EventSourcePage.tsx
  frontend/packages/knative-plugin/src/components/add/EventingChannelPage.tsx
  frontend/packages/knative-plugin/src/models.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/knative, lgtm

#6977 Bug 1887651: Add support for phase values of CephObjectStoreKind CRD used in OCS 4.5
  frontend/packages/noobaa-storage-plugin/src/components/data-consumption-card/data-consumption-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/status-card/statuses.tsx
  frontend/packages/noobaa-storage-plugin/src/constants/status.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/noobaa, lgtm

#7162 Topology, fetch build config data when necessary
  frontend/packages/console-shared/src/hooks/__tests__/usePluginsOverviewTabSection.spec.ts
  frontend/packages/console-shared/src/hooks/index.ts
  frontend/packages/console-shared/src/hooks/useBuildConfigsWatcher.ts
  frontend/packages/console-shared/src/types/resource.ts
  frontend/packages/console-shared/src/utils/__tests__/resource-utils.spec.ts
  frontend/packages/console-shared/src/utils/resource-utils.ts
  frontend/packages/dev-console/src/components/monitoring/overview/__tests__/MonitoringTab.spec.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-overview/PipelineOverview.spec.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/WorkloadNode.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/build-decorators/BuildDecorator.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/build-decorators/__tests__/build-decorator-utils-data.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/build-decorators/__tests__/build-decorator-utils.spec.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/build-decorators/build-decorator-utils.tsx
  frontend/packages/dev-console/src/components/topology/data-transforms/transform-utils.ts
  frontend/packages/dev-console/src/components/topology/topology-types.ts
  frontend/packages/dev-console/src/utils/__tests__/application-utils.spec.ts
  frontend/packages/dev-console/src/utils/application-utils.ts
  frontend/packages/knative-plugin/src/components/overview/KnativeServiceResources.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/EventPubSubResources.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/KnativeOverview.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/KnativeResourceOverviewPage.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/KnativeServiceResources.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/OverviewDetailsKnativeResourcesTab.spec.tsx
  frontend/packages/knative-plugin/src/topology/__tests__/data-transformer.spec.ts
  frontend/packages/knative-plugin/src/topology/__tests__/topology-knative-test-data.ts
  frontend/packages/knative-plugin/src/topology/components/groups/KnativeServiceGroup.tsx
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
  frontend/packages/kubevirt-plugin/src/topology/kubevirt-data-transformer.ts
  frontend/public/components/overview/cron-job-overview.tsx
  frontend/public/components/overview/resource-overview-page.tsx
Labels: approved, component/core, component/dev-console, component/knative, component/kubevirt, component/shared, kind/cleanup, lgtm

#7084 add support for Operator Backed SBR through topology inContext
  frontend/__tests__/components/catalog.spec.tsx
  frontend/packages/console-plugin-sdk/src/typings/post-form-submit.ts
  frontend/packages/console-shared/src/hoc/index.ts
  frontend/packages/console-shared/src/hoc/withPostFormSubmissionCallback.tsx
  frontend/packages/console-shared/src/hooks/index.ts
  frontend/packages/console-shared/src/hooks/post-form-submit-action.ts
  frontend/packages/console-shared/src/hooks/useQueryParams.ts
  frontend/packages/console-shared/src/hooks/useQueryParams.tsx
  frontend/packages/console-shared/src/index.ts
  frontend/packages/dev-console/src/actions/add-resources.tsx
  frontend/packages/dev-console/src/components/topology/actions/__tests__/graphActions.spec.tsx
  frontend/packages/dev-console/src/components/topology/operators/operatorsTopologyPlugin.ts
  frontend/packages/dev-console/src/const.ts
  frontend/packages/dev-console/src/plugin.tsx
  frontend/packages/dev-console/src/utils/__tests__/add-resources-menu-utils.spec.tsx
  frontend/packages/dev-console/src/utils/add-resources-menu-utils.ts
  frontend/packages/dev-console/src/utils/connector-utils.ts
  frontend/packages/dev-console/src/utils/useAddToProjectAccess.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand/DEPRECATED_operand-form.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/operand-form.tsx
  frontend/packages/operator-lifecycle-manager/src/dev-catalog.ts
  frontend/packages/operator-lifecycle-manager/src/plugin.tsx
  frontend/public/components/catalog/catalog-items.tsx
  frontend/public/components/edit-yaml.jsx
Labels: approved, component/core, component/dev-console, component/olm, component/sdk, component/shared, lgtm

#7195 kubevirt: update integration tests dockerfile
  frontend/packages/kubevirt-plugin/integration-tests/Dockerfile
Labels: approved, component/kubevirt, lgtm

#7028 Add YAML switcher to pipeline builder form
  frontend/packages/console-shared/src/components/formik-fields/SyncedEditorField.tsx
  frontend/packages/dev-console/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualization.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/PipelineBuilderForm.scss
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/PipelineBuilderFormEditor.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/PipelineBuilderHeader.scss
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/PipelineBuilderHeader.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/PipelineBuilderPage.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/PipelineBuilderVisualization.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/const.ts
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/modals/index.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebar.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/types.ts
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/utils.ts
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/validation-utils.ts
  frontend/packages/dev-console/src/utils/__tests__/pipeline-utils.spec.ts
  frontend/packages/dev-console/src/utils/pipeline-actions.tsx
  frontend/packages/dev-console/src/utils/pipeline-utils.ts
Labels: approved, component/dev-console, component/shared, lgtm

#6833 [release-4.5] Bug 1885228: Fix runtime error for basic users creating Prometheus instance
  frontend/public/module/k8s/swagger.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, component/core, lgtm

#7159 Topology, fetch service and route data when necessary
  frontend/packages/console-shared/src/hooks/index.ts
  frontend/packages/console-shared/src/hooks/useRoutesWatcher.ts
  frontend/packages/console-shared/src/hooks/useServicesWatcher.ts
  frontend/packages/console-shared/src/types/resource.ts
  frontend/packages/console-shared/src/utils/__tests__/resource-utils.spec.ts
  frontend/packages/console-shared/src/utils/resource-utils.ts
  frontend/packages/dev-console/src/components/monitoring/overview/__tests__/MonitoringTab.spec.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-overview/PipelineOverview.spec.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/WorkloadNode.tsx
  frontend/packages/dev-console/src/components/topology/data-transforms/index.ts
  frontend/packages/dev-console/src/components/topology/data-transforms/transform-utils.ts
  frontend/packages/dev-console/src/components/topology/data-transforms/useRoutesURL.ts
  frontend/packages/dev-console/src/components/topology/topology-types.ts
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
  frontend/packages/knative-plugin/src/components/overview/__tests__/EventPubSubResources.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/KnativeOverview.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/KnativeResourceOverviewPage.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/OverviewDetailsKnativeResourcesTab.spec.tsx
  frontend/packages/knative-plugin/src/topology/__tests__/data-transformer.spec.ts
  frontend/packages/knative-plugin/src/topology/components/nodes/RevisionNode.tsx
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
  frontend/packages/kubevirt-plugin/src/topology/TopologyVmResourcesPanel.tsx
  frontend/packages/kubevirt-plugin/src/topology/kubevirt-data-transformer.ts
  frontend/packages/kubevirt-plugin/src/topology/types.ts
  frontend/public/components/overview/networking-overview.tsx
  frontend/public/components/overview/pod-overview.tsx
  frontend/public/components/overview/resource-overview-page.tsx
Labels: approved, component/core, component/dev-console, component/knative, component/kubevirt, component/shared, kind/cleanup, lgtm

#7197 Remove reviewer Abhishek from the DevConsole packages
  frontend/packages/dev-console/OWNERS
  frontend/packages/git-service/OWNERS
  frontend/packages/knative-plugin/OWNERS
Labels: approved, component/dev-console, component/git-service, component/knative, lgtm

#7164 Topology, fetch jobs for cronjobs when necessary
  frontend/packages/console-shared/src/hooks/index.ts
  frontend/packages/console-shared/src/hooks/useJobsForCronJobWatcher.ts
  frontend/packages/console-shared/src/types/resource.ts
  frontend/packages/console-shared/src/utils/__tests__/resource-utils.spec.ts
  frontend/packages/console-shared/src/utils/pod-resource-utils.ts
  frontend/packages/console-shared/src/utils/resource-utils.ts
  frontend/packages/dev-console/src/components/topology/data-transforms/__tests__/data-transformer.spec.ts
  frontend/public/components/overview/cron-job-overview.tsx
  frontend/public/components/overview/pods-overview.tsx
Labels: approved, component/core, component/dev-console, component/shared, kind/cleanup, lgtm

#7065 gherkin script- adding event tab in pipeline run and task run pages
  frontend/packages/dev-console/integration-tests/features/pipelines/event_tab_pipeline_run_page_ODC_4314
Labels: approved, component/dev-console, lgtm

#7198 tests: disable Cypress colors in CI
  test-prow-e2e.sh
Labels: approved, lgtm

#7168 add i18n for kubevirt-plugin [details page]
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-details-card.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/guest-agent-file-systems.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/vm-snapshot-details.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-details-page.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-details.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-details-page.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-details.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-users.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vmi-details-page.tsx
  frontend/packages/kubevirt-plugin/src/strings/vm/messages.ts
  frontend/packages/kubevirt-plugin/src/utils/guest-agent-strings.ts
  frontend/public/i18n.js
Labels: approved, component/core, component/kubevirt, lgtm

#7158 Bug 1896296: Ensure correct git URL for topology edit icon
  frontend/package.json
  frontend/packages/dev-console/src/components/topology/data-transforms/__tests__/data-transformer.spec.ts
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
  frontend/yarn.lock
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/dev-console, lgtm

#6888 CONSOLE-2439: i18n common components: list view/details components
  frontend/__tests__/components/factory/details.spec.tsx
  frontend/__tests__/components/factory/list-page.spec.tsx
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/operator-lifecycle-manager/src/components/catalog-source.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/index.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/status/index.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/install-plan.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/__tests__/PipelineRunDetailsPage.spec.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/events/__tests__/TaskRunDetailsPage.spec.tsx
  frontend/public/components/conditions.tsx
  frontend/public/components/factory/details.tsx
  frontend/public/components/factory/list-page.jsx
  frontend/public/components/filter-toolbar.tsx
  frontend/public/components/utils/breadcrumbs.ts
  frontend/public/components/utils/details-item.tsx
  frontend/public/components/utils/details-page.tsx
  frontend/public/components/utils/horizontal-nav.tsx
  frontend/public/components/utils/managed-by.tsx
  frontend/public/i18n.js
  frontend/public/locales/en/details-page.json
  frontend/public/locales/en/filter-toolbar.json
  frontend/public/locales/en/image-stream.json
  frontend/public/locales/en/list-page.json
  frontend/public/locales/en/public.json
  frontend/public/locales/en/workload.json
Labels: approved, component/core, component/dashboard, component/dev-console, component/olm, component/shared, docs-approved, lgtm, px-approved, qe-approved

#7200 Bug 1897423: Update dc strategy type and rolling params
  frontend/public/components/deployment-config.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#6993 CONSOLE-2437: i18n common components: dropdowns
  frontend/integration-tests/tests/crd-extensions.scenario.ts
  frontend/integration-tests/tests/crud.scenario.ts
  frontend/integration-tests/views/crud.view.ts
  frontend/integration-tests/views/storage.view.ts
  frontend/public/components/namespace.jsx
  frontend/public/components/utils/dropdown.jsx
  frontend/public/components/utils/kebab.tsx
  frontend/public/i18n.js
  frontend/public/locales/en/details-page.json
  frontend/public/locales/en/dropdown.json
Labels: approved, component/core, component/shared, docs-approved, lgtm, px-approved, qe-approved

#7030 Update i18n scripts
  .gitignore
  frontend/i18n-scripts/.eslintrc.js
  frontend/i18n-scripts/export-pos.sh
  frontend/i18n-scripts/i18n-to-po.js
  frontend/i18n-scripts/i18n-to-pot.js
  frontend/i18n-scripts/po-to-i18n.js
  frontend/package.json
  frontend/public/i18n.js
  frontend/yarn.lock
Labels: approved, component/core, lgtm

#7193 Cypress fixes: 'Create Project' timing issue and temporarily disable a11y check for 'aria-hidden-focus'
  frontend/packages/integration-tests-cypress/support/a11y.ts
  frontend/packages/integration-tests-cypress/support/project.ts
  frontend/packages/integration-tests-cypress/views/list-page.ts
  frontend/public/components/app.jsx
  frontend/public/components/factory/modal.tsx
Labels: approved, component/core, lgtm

#7210 Fix continual poll for pod graph data in pod details page
  frontend/public/components/graphs/area.tsx
Labels: approved, component/core, kind/bug, lgtm

#7212 Fix loading errors for i18n keys
  frontend/public/components/pod.tsx
Labels: approved, component/core, lgtm

#6891 CONSOLE-2438: i18n common components: environment tab
  frontend/__tests__/components/environment.spec.tsx
  frontend/__tests__/components/utils/name-value-editor.spec.tsx
  frontend/integration-tests/views/environment.view.ts
  frontend/integration-tests/views/modal-annotations.view.ts
  frontend/public/components/environment.jsx
  frontend/public/components/storage-class-form.tsx
  frontend/public/components/utils/name-value-editor.jsx
  frontend/public/components/utils/value-from-pair.jsx
  frontend/public/i18n.js
  frontend/public/locales/en/environment.json
Labels: approved, component/core, component/dashboard, component/dev-console, component/knative, component/shared, docs-approved, lgtm, px-approved, qe-approved

#7203 kubevirt: update integration tests dockerfile
  frontend/packages/kubevirt-plugin/integration-tests/Dockerfile
  frontend/packages/kubevirt-plugin/integration-tests/deploy-kubevirt-gating.sh
Labels: approved, component/kubevirt, lgtm

#6934 show image vulnerability in status under project details
  frontend/packages/console-shared/src/components/dashboard/status-card/status-card.scss
  frontend/packages/container-security/locales/en/container-security.json
  frontend/packages/container-security/src/components/__tests__/summary.spec.ts
  frontend/packages/container-security/src/components/__tests__/summary.spec.tsx
  frontend/packages/container-security/src/components/summary.tsx
  frontend/packages/container-security/src/plugin.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/health-item.tsx
  frontend/public/components/dashboard/project-dashboard/status-card.scss
  frontend/public/components/dashboard/project-dashboard/status-card.tsx
Labels: approved, component/core, component/dashboard, component/shared, lgtm

#7216 Hide edit icon for nodes without vcs URI
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
Labels: approved, component/dev-console, lgtm

#7160 add error status popover in the pipleline, pipelinerun and taskrun list
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunDetails.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/status/PipelineResourceStatus.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/status/PipelineRunStatus.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/status/StatusPopoverContent.scss
  frontend/packages/pipelines-plugin/src/components/pipelineruns/status/StatusPopoverContent.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/status/__tests__/PipelineResourceStatus.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/list-page/PipelineRow.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/list-page/TaskRunsHeader.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/list-page/TaskRunsRow.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/status/TaskRunStatus.tsx
Labels: approved, component/dev-console, lgtm

#7019 Bug 1890235: update Protractor's checkErrors logging
  frontend/@types/console/declarations.d.ts
  frontend/integration-tests/protractor.conf.ts
  frontend/packages/integration-tests-cypress/support/index.ts
  frontend/public/components/app.jsx
  frontend/public/i18n.js
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#7214 Add Cypress Operator single install mode test
  frontend/integration-tests/protractor.conf.ts
  frontend/packages/console-shared/src/components/dynamic-form/index.tsx
  frontend/packages/integration-tests-cypress/support/selectors.ts
  frontend/packages/integration-tests-cypress/views/modal.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-single-namespace.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests/scenarios/single-installmode.scenario.ts
  frontend/packages/operator-lifecycle-manager/package.json
  frontend/public/components/utils/status-box.tsx
  test-prow-e2e.sh
Labels: approved, component/core, component/olm, component/shared, lgtm

#7187 Fix i18n file diff test
  frontend/i18n-scripts/build-i18n.sh
  frontend/i18n-scripts/consolidate-public-folders.js
  frontend/i18next-parser.config.js
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/selectors/node.ts
  frontend/packages/container-security/locales/en/container-security.json
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/public/components/modals/language-preferences-modal.tsx
  frontend/public/i18n.js
  frontend/webpack.config.ts
  test-frontend.sh
Labels: approved, component/core, component/dev-console, component/shared, lgtm

#7225 Add Cypress Operator global install mode test
  frontend/integration-tests/protractor.conf.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-global.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests/scenarios/global-installmode.scenario.ts
  frontend/packages/operator-lifecycle-manager/package.json
Labels: approved, component/core, component/olm, component/shared, lgtm

#7232 Bug 1898320: - Incorrect Apostrophe Translation of "it's" in Scheduling Disabled Popover
  frontend/packages/console-app/locales/en/nodes.json
  frontend/packages/console-app/src/components/nodes/popovers/MarkAsSchedulablePopover.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#7234 add translation capabilities to extensions
  frontend/__tests__/components/catalog.spec.tsx
  frontend/__tests__/utils/hooks-utils.tsx
  frontend/packages/console-app/src/components/cloud-shell/__tests__/useActivityTick.spec.ts
  frontend/packages/console-app/src/components/tour/__tests__/tour-context.spec.ts
  frontend/packages/console-plugin-sdk/src/api/useExtensions.ts
  frontend/packages/console-plugin-sdk/src/utils/__tests__/useTranslationExt.spec.ts
  frontend/packages/console-plugin-sdk/src/utils/useTranslationExt.ts
  frontend/packages/console-shared/src/hooks/__tests__/select-list.spec.ts
  frontend/packages/console-shared/src/hooks/__tests__/usePluginsOverviewTabSection.spec.ts
  frontend/packages/console-shared/src/utils/__tests__/pod-ring-utils.spec.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/topology/filters/__tests__/useSearchFilter.spec.ts
  frontend/packages/dev-console/src/plugin.tsx
  frontend/packages/dev-console/src/utils/__tests__/usePerspectiveDetection.spec.ts
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/plugin.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/events/__tests__/event-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/__tests__/hooks.spec.ts
Labels: approved, component/core, component/dev-console, component/knative, component/sdk, component/shared, lgtm

#7230 Bug:1898357 Address operatorhub image name overlap bug. Enable overflow-wrap on string.
  frontend/packages/operator-lifecycle-manager/src/style.scss
Labels: approved, component/olm, lgtm

#7226 CONSOLE-2461: Add infrastructure for Korean
  frontend/i18n-scripts/consolidate-public-folders.js
  frontend/i18n-scripts/export-pos.sh
  frontend/public/i18n.js
  frontend/public/locales/ko/public.json
  frontend/webpack.config.ts
Labels: approved, component/core, lgtm

#7236 Query Browser: Remove Y-axis ticks
  frontend/public/components/graphs/themes.ts
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, component/core, component/monitoring, lgtm

#7243 Fix issue using 'byTestDropDownMenu' in a chain
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-single-namespace.spec.ts
Labels: approved, component/olm, lgtm

#7249 Bug 1896511: Fix the request for lvs and lvd
  frontend/packages/local-storage-operator-plugin/integration-tests/tests/disks-list-page.scenario.ts
  frontend/packages/local-storage-operator-plugin/src/components/auto-detect-volume/auto-detect-volume.tsx
  frontend/packages/local-storage-operator-plugin/src/components/auto-detect-volume/discovery-request-data.ts
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/create-local-volume-set.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/local-volume-set-request-data.ts
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, component/lso, lgtm

#6945 Add Broker details page
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/components/eventing/BrokerTriggerTab.tsx
  frontend/packages/knative-plugin/src/components/eventing/EventingListPage.tsx
  frontend/packages/knative-plugin/src/components/eventing/triggers-list/TriggerHeaders.tsx
  frontend/packages/knative-plugin/src/components/eventing/triggers-list/TriggerList.tsx
  frontend/packages/knative-plugin/src/components/eventing/triggers-list/TriggerListPage.tsx
  frontend/packages/knative-plugin/src/components/eventing/triggers-list/TriggerRow.tsx
  frontend/packages/knative-plugin/src/components/eventing/triggers-list/trigger-table.ts
  frontend/packages/knative-plugin/src/plugin.tsx
  frontend/packages/knative-plugin/src/types.ts
Labels: approved, component/dev-console, component/knative, component/shared, lgtm

#7253 Fix pipeline builder sidebar crash
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebar.tsx
Labels: approved, kind/bug, lgtm

#7244 Add Cypress OperatorHub test
  frontend/integration-tests/protractor.conf.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-hub.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests/scenarios/operator-hub.scenario.ts
  frontend/packages/operator-lifecycle-manager/integration-tests/views/operator-hub.view.ts
  frontend/packages/operator-lifecycle-manager/package.json
  frontend/public/components/utils/tile-view-page.jsx
Labels: approved, component/core, component/olm, lgtm
