Repository openshift/console, pull requests merged in 2020-10, with the labels that each got.

#6775 Bug 1872620: Support unnamed interface in pod network charts
  frontend/public/components/graphs/stack.tsx
  frontend/public/components/graphs/utils.ts
  frontend/public/components/pod.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#6784 Bug 1883602: Fix for disappearing backgrounds in topology on firefox
  frontend/packages/dev-console/src/components/topology/Topology.scss
  frontend/packages/dev-console/src/components/topology/Topology.tsx
  frontend/packages/dev-console/src/components/topology/TopologyPage.scss
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#6804 Bug 1871742: It is not possible to delete a PVC created using a data upload
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/consts.ts
  frontend/packages/kubevirt-plugin/src/selectors/pvc/selectors.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#6764 Bug 1883306: Include repo branch in URL for che icon
  frontend/packages/dev-console/src/components/topology/components/nodes/WorkloadNode.tsx
  frontend/packages/dev-console/src/components/topology/data-transforms/__tests__/data-transformer.spec.ts
  frontend/packages/dev-console/src/components/topology/data-transforms/transform-utils.ts
  frontend/packages/dev-console/src/components/topology/topology-types.ts
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#6805 Bug 1884181: fix kafkachannel plural to be lowercase
  frontend/packages/knative-plugin/src/models.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/knative, lgtm

#6790 Bug 1884150: Fix timeout issue in ceph test suite
  frontend/packages/ceph-storage-plugin/integration-tests/tests/2-tests/ocp-dashboard-card-healthcheck.scenario.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/ceph, lgtm

#6808 Bug 1883679: Fix runtime error in legacy operand form
  frontend/packages/operator-lifecycle-manager/src/components/operand/DEPRECATED_operand-form.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/olm, lgtm

#6809 Bug 1884402: Fix to draw aggregate edges to Event Brokers correctly in topology
  frontend/packages/knative-plugin/src/topology/components/nodes/EventingPubSubNode.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/knative, kind/bug, lgtm

#6806 Bug 1884175: Update latency queries for RGW Performance Card
  frontend/packages/noobaa-storage-plugin/src/components/data-consumption-card/performance-graph.tsx
  frontend/packages/noobaa-storage-plugin/src/queries.ts
  frontend/packages/noobaa-storage-plugin/src/utils.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/noobaa, lgtm

#6802 Bug 1883414: Update BMH utilization queries
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/queries.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/metal3, lgtm

#6812 Bug 1872893: Improve poweroff message for nodes in maintenance
  frontend/packages/metal3-plugin/src/components/modals/PowerOffHostModal.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/metal3, lgtm

#6640 Bug 1879580: gherkin updation- ux enhancement from bugs
  frontend/packages/dev-console/integration-tests/features/Knative/knative-Actions_on_knative_service.feature
  frontend/packages/dev-console/integration-tests/features/topology/topology-chart_area_visual.feature
  frontend/packages/dev-console/integration-tests/features/topology/topology-list_view.feature
  frontend/packages/dev-console/integration-tests/features/topology/workload-Groupings-ODC-2922.feature
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/dev-console, lgtm

#6756 Bug 1883200: fix silence toggle in devconsole monitoring
  frontend/packages/dev-console/src/components/monitoring/alerts/SilenceAlert.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/SilenceDurationDropdown.scss
  frontend/packages/dev-console/src/components/monitoring/alerts/SilenceDurationDropdown.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/monitoring-alerts-utils.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/dev-console, lgtm

#6609 Bug 1877728: Fixes bug attaching block storage to pods, deployments in attach-storage page
  frontend/public/components/storage/attach-storage.tsx
  frontend/public/components/utils/list-dropdown.jsx
  frontend/public/module/k8s/types.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, component/core, lgtm

#6743 Bug 1874890: Include accessibility text for screenreaders only, applied to dashboard status sections when displaying loading status skeleton
  frontend/packages/console-shared/src/components/dashboard/status-card/HealthItem.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dashboard, component/shared, lgtm

#6822 Bug 1884760: add candidate-4.6, fast-4.6, and stable-4.6 channels
  frontend/public/module/k8s/cluster-settings.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, component/core, lgtm

#6821 Bug 1884613: Fix runtime error for basic users creating Prometheus instance
  frontend/public/module/k8s/swagger.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/core, lgtm

#6832 Bug 1885218: Add virtctl binary to kubevirt-plugin gating script
  frontend/packages/kubevirt-plugin/integration-tests/deploy-kubevirt-gating.sh
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, lgtm

#6697 add password type to StatusDescriptors
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/status/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/types.ts
Labels: approved, component/olm, lgtm

#6825 Bug 1870800: Explain namespace missing namespace column in column management
  frontend/public/components/modals/column-management-modal.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#6579 Report actual vendors bundle limit
  analyze.sh
Labels: approved, lgtm

#6778 Bug 1885343: Fallback to GQL HTTP on iOS devices
  frontend/package.json
  frontend/public/actions/features.ts
  frontend/public/components/app.jsx
  frontend/public/graphql/client.ts
  frontend/yarn.lock
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#6801 Bug 1884664: Start the install status page as soon as subscription exist
  frontend/packages/operator-lifecycle-manager/src/components/operator-install-page.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/olm, lgtm

#6816 Bug 1852743: Show total cores in node list
  frontend/packages/console-app/src/components/nodes/NodesPage.tsx
  frontend/public/actions/ui.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#6823 Bug 1884724: quickstart update of serverless install steps
  frontend/packages/console-app/src/components/quick-starts/data/explore-serverless-quickstart.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#6831 Query Browser: Keep tooltip constrained to graph frame
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, component/core, component/monitoring, lgtm

#5968 Remove Snapshot related components from OCS Plugin
  frontend/packages/ceph-storage-plugin/src/__mocks__/volume-snapshot-data.tsx
  frontend/packages/ceph-storage-plugin/src/__tests__/__snapshots__/volume-snapshot.spec.tsx.snap
  frontend/packages/ceph-storage-plugin/src/__tests__/restore-pvc-modal.spec.tsx
  frontend/packages/ceph-storage-plugin/src/__tests__/volume-snapshot-modal.spec.tsx
  frontend/packages/ceph-storage-plugin/src/__tests__/volume-snapshot.spec.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/restore-pvc-modal/_restore-pvc-modal.scss
  frontend/packages/ceph-storage-plugin/src/components/modals/restore-pvc-modal/restore-pvc-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/volume-snapshot-modal/_volume-snapshot-modal.scss
  frontend/packages/ceph-storage-plugin/src/components/modals/volume-snapshot-modal/volume-snapshot-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/volume-snapshot/_volume-snapshot.scss
  frontend/packages/ceph-storage-plugin/src/components/volume-snapshot/volume-snapshot.tsx
  frontend/packages/ceph-storage-plugin/src/models.ts
  frontend/packages/ceph-storage-plugin/src/utils/delete-snapshot-workflow.ts
  frontend/packages/ceph-storage-plugin/src/utils/kebab-actions.ts
  frontend/packages/ceph-storage-plugin/src/utils/restore-pvc-workflow.ts
  frontend/packages/ceph-storage-plugin/src/utils/snapshot-workflow.ts
Labels: approved, component/ceph, lgtm

#6577 Use better fix for messed JSON output in yarn analyze command
  frontend/package.json
Labels: approved, lgtm

#6826 test: Account osd sizing in add capacity tests
  frontend/packages/ceph-storage-plugin/integration-tests/tests/2-tests/add-capacity.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/utils/consts.ts
  frontend/packages/ceph-storage-plugin/integration-tests/views/add-capacity.view.ts
Labels: approved, component/ceph, lgtm

#6820 Bug 1879282: Update doc links in installed operators page
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/olm, lgtm

#6828 update kafkaSource v1beta1 spec to remove resources
  frontend/packages/knative-plugin/src/components/add/AdvancedSection.tsx
  frontend/packages/knative-plugin/src/components/add/EventSource.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/EventSourceSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/KafkaSourceSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/__tests__/KafkaSourceSection.spec.tsx
  frontend/packages/knative-plugin/src/components/add/import-types.ts
  frontend/packages/knative-plugin/src/models.ts
  frontend/packages/knative-plugin/src/utils/__tests__/create-eventsources-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-serving-data.ts
  frontend/packages/knative-plugin/src/utils/create-eventsources-utils.ts
Labels: approved, component/knative, lgtm

#6841 Bug 1885315: specify full regex for jest transform
  frontend/package.json
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#6827 Bug 1884654: show vmi utilization data
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-utilization.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#6859 Append '\n' to ssh private key, if it ends without one.
  frontend/public/components/secrets/create-secret.tsx
Labels: approved, component/core, lgtm, ok-to-test

#6660 Added insights-plugin
  frontend/packages/console-app/package.json
  frontend/packages/console-plugin-sdk/src/typings/dashboards.ts
  frontend/packages/insights-plugin/OWNERS
  frontend/packages/insights-plugin/package.json
  frontend/packages/insights-plugin/src/components/InsightsPopup/CriticalIcon.tsx
  frontend/packages/insights-plugin/src/components/InsightsPopup/index.tsx
  frontend/packages/insights-plugin/src/components/InsightsPopup/mappers.ts
  frontend/packages/insights-plugin/src/components/InsightsPopup/status.ts
  frontend/packages/insights-plugin/src/components/InsightsPopup/style.scss
  frontend/packages/insights-plugin/src/plugin.tsx
Labels: approved, component/core, component/insights, component/sdk, lgtm, ok-to-test

#6837 Simplify topology component structure
  frontend/packages/dev-console/src/components/topology/Topology.tsx
  frontend/packages/dev-console/src/components/topology/TopologyControlBar.tsx
  frontend/packages/dev-console/src/components/topology/TopologyDataController.tsx
  frontend/packages/dev-console/src/components/topology/TopologyDataRenderer.tsx
  frontend/packages/dev-console/src/components/topology/TopologyDataRetriever.tsx
  frontend/packages/dev-console/src/components/topology/TopologyExtensionLoader.tsx
  frontend/packages/dev-console/src/components/topology/TopologyPage.tsx
  frontend/packages/dev-console/src/components/topology/TopologyView.tsx
  frontend/packages/dev-console/src/components/topology/__tests__/DataModelProvider.spec.tsx
  frontend/packages/dev-console/src/components/topology/__tests__/Graph.spec.tsx
  frontend/packages/dev-console/src/components/topology/__tests__/TopologyDataController.spec.tsx
  frontend/packages/dev-console/src/components/topology/__tests__/TopologyPage.spec.tsx
  frontend/packages/dev-console/src/components/topology/data-transforms/DataModelExtension.tsx
  frontend/packages/dev-console/src/components/topology/data-transforms/DataModelProvider.tsx
  frontend/packages/dev-console/src/components/topology/data-transforms/ModelContext.ts
  frontend/packages/dev-console/src/components/topology/data-transforms/transform-utils.ts
  frontend/packages/dev-console/src/components/topology/list-view/TopologyListView.tsx
  frontend/packages/dev-console/src/components/topology/operators/operatorsTopologyPlugin.ts
  frontend/packages/dev-console/src/extensions/topology.ts
  frontend/public/components/overview/OverviewListPage.tsx
Labels: approved, component/core, component/dev-console, kind/cleanup, lgtm

#6852 Bug 1878301: Improve display of node unschedulable status
  frontend/packages/console-app/src/components/nodes/NodeStatus.tsx
  frontend/packages/console-app/src/components/nodes/NodesPage.tsx
  frontend/packages/console-app/src/components/nodes/popovers/MarkAsSchedulablePopover.tsx
  frontend/packages/console-shared/src/components/status/NodeUnschedulableStatus.tsx
  frontend/packages/console-shared/src/components/status/index.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/shared, lgtm

#6692 Bug 1881898: fix Quickstart subtitle block
  frontend/packages/console-app/src/components/quick-starts/QuickStartDrawer.scss
  frontend/packages/console-app/src/components/quick-starts/QuickStartDrawer.tsx
  frontend/packages/console-app/src/components/quick-starts/controller/QuickStartTaskHeader.scss
  frontend/packages/console-app/src/components/quick-starts/controller/QuickStartTaskHeader.tsx
  frontend/packages/console-app/src/components/quick-starts/controller/__tests__/QuickStartTaskHeader.spec.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, kind/bug, lgtm

#6863 update subscriber message if none exists
  frontend/packages/knative-plugin/src/components/pub-sub/form-fields/PubSubSubscriber.tsx
Labels: approved, component/knative, kind/bug, lgtm

#6845 Bug 1885676: Update trigger limit for Minimal Deployment
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/install-lso-sc.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/ocs-request-data.ts
  frontend/packages/ceph-storage-plugin/src/utils/common-ocs-install-el.tsx
  frontend/packages/ceph-storage-plugin/src/utils/install.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/ceph, lgtm

#6869 Bug 1886397: Move object-enum to console shared
  frontend/packages/console-shared/src/constants/object-enum.ts
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/storage-ui-source.ts
  frontend/packages/kubevirt-plugin/src/constants/index.ts
  frontend/packages/kubevirt-plugin/src/constants/select-dropdown-object-enum.ts
  frontend/packages/kubevirt-plugin/src/constants/status-enum.ts
  frontend/packages/kubevirt-plugin/src/constants/status-group.ts
  frontend/packages/kubevirt-plugin/src/constants/v2v-import/ovirt/ovirt-disk-bus.ts
  frontend/packages/kubevirt-plugin/src/constants/v2v-import/ovirt/ovirt-network-interface-model.ts
  frontend/packages/kubevirt-plugin/src/constants/v2v-import/ovirt/v2v-vm-import-status.ts
  frontend/packages/kubevirt-plugin/src/constants/v2v-import/ovirt/vm-import-type.ts
  frontend/packages/kubevirt-plugin/src/constants/v2v-import/vmware/vmware-firmware.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/console-type.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/default-os-selection.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/network/network-interface-model.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/network/network-interface-type.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/network/network-type.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/provision-source.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/storage/access-mode.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/storage/data-volume-source-type.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/storage/disk-bus.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/storage/disk-type.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/storage/volume-mode.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/storage/volume-type.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/vm-status.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/common/__tests__/mocks/smoothie-wrapper.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/common/k8s-resource-object-with-type-property-wrapper.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/common/object-with-type-property-wrapper.ts
  frontend/packages/kubevirt-plugin/src/statuses/pod-deployment/constants.ts
  frontend/packages/kubevirt-plugin/src/statuses/v2v/constants.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/template/template-validations.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, component/shared, lgtm

#6860 Bug 1883847: Fix subscription name issue for OCS
  frontend/packages/ceph-storage-plugin/src/features.ts
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, component/ceph, lgtm

#6771 Bug 1847074: PF fix for filter bar layout issues at some screen widths on search page
  frontend/package.json
  frontend/packages/console-shared/src/components/alerts/AlertSeverityIcon.tsx
  frontend/packages/console-shared/src/components/dashboard/activity-card/EventItem.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/AlertItem.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/states.tsx
  frontend/packages/console-shared/src/components/status/icons.tsx
  frontend/packages/container-security/src/components/summary.tsx
  frontend/packages/dev-console/src/components/import/render-utils.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/WorkloadNode.tsx
  frontend/packages/knative-plugin/src/topology/components/groups/KnativeServiceGroup.tsx
  frontend/packages/knative-plugin/src/topology/components/nodes/SinkUriNode.tsx
  frontend/public/components/custom-resource-definition.tsx
  frontend/public/components/search.tsx
  frontend/yarn.lock
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/dashboard, component/dev-console, component/knative, component/shared, lgtm

#6884 Refactors feature enable code for OCS
  frontend/packages/ceph-storage-plugin/src/features.ts
Labels: approved, component/ceph, lgtm

#6842 Don't attempt to retrieve pipeline data in topology when unsupported
  frontend/packages/dev-console/src/components/topology/data-transforms/transform-utils.ts
  frontend/packages/dev-console/src/components/topology/pipelines/pipelinesTopologyPlugin.ts
  frontend/packages/dev-console/src/plugin.tsx
Labels: approved, component/dev-console, kind/cleanup, lgtm

#6894 fixes issue with containersource selection
  frontend/packages/knative-plugin/src/components/add/__tests__/eventSource-validation-utils.spec.ts
  frontend/packages/knative-plugin/src/components/add/event-sources/ApiServerSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/ContainerSourceSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/CronJobSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/EventSourcesSelector.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/KafkaSourceNetSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/KafkaSourceSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/PingSourceSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/SinkBindingSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/__tests__/ContainerSourceSection.spec.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/__tests__/EventSourcesSelector.spec.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/__tests__/KafkaSourceNetSection.spec.tsx
  frontend/packages/knative-plugin/src/components/add/eventSource-validation-utils.ts
  frontend/packages/knative-plugin/src/utils/__tests__/create-eventsources-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-serving-data.ts
  frontend/packages/knative-plugin/src/utils/create-eventsources-utils.ts
Labels: approved, component/knative, lgtm

#6896 Added Kanika(a2batic) to list of approvers
  frontend/packages/ceph-storage-plugin/OWNERS
  frontend/packages/local-storage-operator-plugin/OWNERS
  frontend/packages/noobaa-storage-plugin/OWNERS
Labels: approved, component/ceph, component/lso, component/noobaa, lgtm

#6895 Query Browser: Remove SeriesButton's key prop
  frontend/public/components/monitoring/metrics.tsx
Labels: approved, component/core, component/monitoring, lgtm

#6194 i18n support
  analyze.sh
  frontend/__tests__/components/utils/datetime.spec.ts
  frontend/i18n-scripts/build-i18n.sh
  frontend/i18n-scripts/common.js
  frontend/i18n-scripts/consolidate-public-folders.js
  frontend/i18n-scripts/i18n-to-pot.js
  frontend/i18n-scripts/po-to-i18n.js
  frontend/i18n-scripts/set-english-defaults.js
  frontend/jest-resolver.js
  frontend/package.json
  frontend/packages/console-app/src/components/dashboards-page/activity.ts
  frontend/packages/console-shared/locales/en/badge.json
  frontend/packages/console-shared/locales/en/dashboard.json
  frontend/packages/console-shared/src/components/badges/DevPreviewBadge.tsx
  frontend/packages/console-shared/src/components/badges/InlineBadge.tsx
  frontend/packages/console-shared/src/components/badges/TechPreviewBadge.tsx
  frontend/packages/console-shared/src/components/dashboard/activity-card/ActivityBody.tsx
  frontend/packages/console-shared/src/components/dashboard/activity-card/EventItem.tsx
  frontend/packages/console-shared/src/components/dashboard/activity-card/activity-card.scss
  frontend/packages/console-shared/src/components/dashboard/status-card/AlertItem.tsx
  frontend/packages/console-shared/src/components/dashboard/utilization-card/TopConsumerPopover.tsx
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationBody.tsx
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationItem.tsx
  frontend/packages/console-shared/src/components/dashboard/utilization-card/utilization-card.scss
  frontend/packages/console-shared/src/components/pod/PodStatus.tsx
  frontend/packages/console-shared/src/index.ts
  frontend/packages/console-shared/src/utils/__tests__/pod-utils.spec.ts
  frontend/packages/console-shared/src/utils/pod-utils.ts
  frontend/packages/integration-tests-cypress/support/i18n.ts
  frontend/packages/integration-tests-cypress/support/index.ts
  frontend/packages/integration-tests-cypress/support/login.ts
  frontend/packages/integration-tests-cypress/support/selectors.ts
  frontend/packages/integration-tests-cypress/tests/i18n/pseudolocalization.spec.ts
  frontend/packages/integration-tests-cypress/views/common.ts
  frontend/packages/integration-tests-cypress/views/masthead.ts
  frontend/public/actions/ui.ts
  frontend/public/components/app.jsx
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/components/nav/admin-nav.tsx
  frontend/public/components/nav/items.tsx
  frontend/public/components/nav/section.tsx
  frontend/public/components/storage-class-form.tsx
  frontend/public/components/utils/datetime.ts
  frontend/public/components/utils/k8s-watcher.js
  frontend/public/components/utils/rbac.tsx
  frontend/public/components/utils/timestamp.tsx
  frontend/public/i18n.js
  frontend/public/i18next-parser.config.js
  frontend/public/locales/en-gb/public.json
  frontend/public/locales/en/masthead.json
  frontend/public/locales/en/nav.json
  frontend/public/locales/en/public.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/zh/public.json
  frontend/public/module/k8s/k8s-models.ts
  frontend/public/plugins.ts
  frontend/public/reducers/k8s.ts
  frontend/webpack.config.ts
  frontend/yarn.lock
  test-frontend.sh
Labels: approved, component/ceph, component/core, component/dashboard, component/dev-console, component/kubevirt, component/shared, docs-approved, lgtm, px-approved, qe-approved

#6862 Bug 1854567: Dont list Subscrition when matching CSV exists on the Installed Operators page
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/olm, lgtm

#6824 Bug 1876701: Fix some spec descriptor widgets inline edit behavior
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/configure-size.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/configure-update-strategy.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/olm, lgtm

#6870 Bug 1886423: New Affinities dont contain ID until saving
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/affinity-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/helpers.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#6878 Bug 1885706: Cypress: Fix 'link-name' accesibility violation
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationItem.tsx
  frontend/public/components/graphs/area.tsx
  frontend/public/components/graphs/prometheus-graph.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/dashboard, component/shared, lgtm

#6902 Bug 1887380: Add additional provisioners to their AccessMode mapping
  frontend/public/components/storage/shared.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#6904 Remove notification drawer header override fix
  frontend/public/components/_notification-drawer.scss
Labels: approved, component/core, lgtm

#6906 Bug 1886524: Change default terminal command for Windows Pods
  frontend/public/components/pod-exec.jsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#6847 Rearranged Helm Test Cases and added E2E for Helm
  frontend/packages/dev-console/integration-tests/features/e2e/helm.feature
  frontend/packages/dev-console/integration-tests/features/helm/actions-on-HelmRelease.feature
  frontend/packages/dev-console/integration-tests/features/helm/default-HelmCharts-Installation.feature
  frontend/packages/dev-console/integration-tests/features/helm/helm-Chart-Version-ODC-3022.feature
  frontend/packages/dev-console/integration-tests/features/helm/helm-Installation-View-ODC-2993.feature
  frontend/packages/dev-console/integration-tests/features/helm/helm-Installation-View.feature
  frontend/packages/dev-console/integration-tests/features/helm/helm-compatability.feature
  frontend/packages/dev-console/integration-tests/features/helm/install-HelmChart.feature
  frontend/packages/dev-console/integration-tests/features/helm/topology-HelmRelease.feature
Labels: approved, component/dev-console, lgtm

#6898 Fix topology to layout updated graph when application changes
  frontend/packages/dev-console/src/components/topology/TopologyView.tsx
Labels: approved, component/dev-console, kind/bug, lgtm

#6920 Avoid traversing node_modules when running i18next on packages/*
  frontend/i18n-scripts/build-i18n.sh
Labels: approved, lgtm

#6838 add Channels, EventSources, OperatorBacked, HelmCharts menu action to Add To Project context menu
  frontend/packages/dev-console/src/actions/add-resources.tsx
  frontend/packages/dev-console/src/components/helm/HelmChartsIcon.tsx
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/topology/actions/__tests__/graphActions.spec.tsx
  frontend/packages/dev-console/src/utils/add-resources-menu-utils.ts
  frontend/packages/knative-plugin/src/actions/add-channel.tsx
  frontend/packages/knative-plugin/src/topology/create-connector-utils.ts
Labels: approved, component/dev-console, component/knative, component/shared, kind/feature, lgtm

#6922 Bug 1887783: PVC upload cannot continue after approve the certificate
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/cdi-upload-provider.tsx
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/consts.ts
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#6910 Bug 1885702: Cypress: Fix 'aria-hidden-focus' accesibility violations
  frontend/packages/integration-tests-cypress/support/a11y.ts
  frontend/public/components/app.jsx
  frontend/public/components/factory/modal.tsx
  frontend/public/components/modals/delete-namespace-modal.jsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#6925 Bug 1887797: asign masquerade to pod interface in RHV import
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/providers/ovirt/ovirt-prefill-vm.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#6924 Increase timeout in dashboard test for better stability
  frontend/packages/ceph-storage-plugin/integration-tests/tests/2-tests/ocp-dashboard-card-healthcheck.scenario.ts
Labels: approved, component/ceph, lgtm

#6927 Bug 1888150: Format markdown text in Install Operand Form
  frontend/packages/operator-lifecycle-manager/src/components/operator-install-page.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/olm, lgtm

#6769 Bug 1883342: [Release 4.5] Convert Pipeline StartedBy Label to Annotation
  frontend/packages/dev-console/src/components/pipelineruns/PipelineRunDetailsPage.tsx
  frontend/packages/dev-console/src/components/pipelineruns/detail-page-tabs/TriggeredBySection.tsx
  frontend/packages/dev-console/src/components/pipelineruns/triggered-by/ResourceKebabWithUserLabel.tsx
  frontend/packages/dev-console/src/components/pipelineruns/triggered-by/hooks.ts
  frontend/packages/dev-console/src/components/pipelines/PipelineDetailsPage.tsx
  frontend/packages/dev-console/src/components/pipelines/const.ts
  frontend/packages/dev-console/src/components/pipelines/modals/common/__tests__/utils.spec.ts
  frontend/packages/dev-console/src/components/pipelines/modals/common/utils.ts
  frontend/packages/dev-console/src/components/pipelines/modals/start-pipeline/StartPipelineModal.tsx
  frontend/packages/dev-console/src/components/pipelines/modals/start-pipeline/submit-utils.ts
  frontend/packages/dev-console/src/components/pipelines/modals/triggers/submit-utils.ts
  frontend/packages/dev-console/src/components/pipelines/pipeline-overview/TriggerLastRunButton.tsx
  frontend/packages/dev-console/src/utils/pipeline-actions.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, lgtm

#6803 [release-4.5.z] Bug 1879973: properly encode vpx URL
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/import-providers-tab/providers/vmware-import-provider/vmware-vms.tsx
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/import/import-v2vvmware.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, lgtm

#6926 Bug 1888363: log namespaces errors instead of crashing in dev
  frontend/public/components/namespace.jsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#6930 i18n: update namespace consolidator
  frontend/i18n-scripts/consolidate-public-folders.js
  frontend/public/i18next-parser.config.js
Labels: approved, component/core, lgtm

#6830 [release-4.4] Bug 1881058: Use library-go crypto to setup default TLSConfig
  cmd/bridge/main.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, lgtm

#6935 Remove cluster credentials download action for Internal Mode
  frontend/packages/ceph-storage-plugin/src/components/converged-credentials/credentials.tsx
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Labels: approved, component/ceph, lgtm

#6946 make KUBEVIRT_PROJECT_NAME customizable in kubevirt-plugin tests
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/common.ts
Labels: approved, component/kubevirt, lgtm

#6892 (feat): Add wizard flow for internal mode cluster creation
  frontend/packages/ceph-storage-plugin/integration-tests/tests/1-install/installFlow.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/tests/2-tests/add-capacity.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/tests/3-tests/multiple-storage-class-selection.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/utils/helpers.ts
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/create-sc.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/create-local-volume-set.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/install-lso-sc.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/create-form.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-page.scss
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard-steps/index.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard-steps/step1.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard-steps/step2.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard-steps/step3.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard.scss
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/node-list.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/ocs-install.scss
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/ocs-request-data.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/types.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/wizard-steps/capacity-and-nodes.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/wizard-steps/configure.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/wizard-steps/review-and-create.tsx
  frontend/packages/ceph-storage-plugin/src/constants/index.ts
  frontend/packages/ceph-storage-plugin/src/constants/ocs-install.ts
  frontend/packages/ceph-storage-plugin/src/features.ts
  frontend/packages/ceph-storage-plugin/src/types.ts
  frontend/packages/ceph-storage-plugin/src/utils/add-capacity.ts
  frontend/packages/ceph-storage-plugin/src/utils/common-ocs-install-el.tsx
  frontend/packages/ceph-storage-plugin/src/utils/install.ts
  frontend/packages/ceph-storage-plugin/src/utils/osd-size-dropdown.tsx
  frontend/packages/console-shared/src/hooks/select-list.ts
  frontend/packages/local-storage-operator-plugin/src/components/auto-detect-volume/auto-detect-volume-inner.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/create-local-volume-set.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/nodes-selection-list.tsx
  frontend/packages/local-storage-operator-plugin/src/utils/index.ts
  frontend/public/components/utils/storage-class-dropdown.tsx
Labels: approved, component/ceph, component/core, component/lso, component/shared, lgtm

#6951 Bug 1888985: Fix Cypress test flake and accesibility violation: 'Ensures buttons have discernible text'
  .gitignore
  frontend/packages/integration-tests-cypress/tests/crud/k8-openshift-cruds.spec.ts
  frontend/packages/integration-tests-cypress/views/details-page.ts
  frontend/public/components/utils/field-level-help.tsx
  frontend/public/components/utils/horizontal-nav.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#6914 Query Browser: All pressing Escape key to cancel zoom
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, component/core, component/monitoring, lgtm

#6912 Bug 1887375: Add volumeMode to the create form and yaml of a pvc
  frontend/public/components/storage/create-pvc.tsx
  frontend/public/components/storage/shared.ts
  frontend/public/models/yaml-templates.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#6850 Bug 1883766: Adjust tests due to UI changes
  frontend/packages/console-shared/src/constants/object-enum.ts
  frontend/packages/console-shared/src/test-utils/utils.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/dialogs/diskDialog.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/dialogs/networkInterfaceDialog.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/mocks/mocks.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/mocks/vmBuilderPresets.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/baseVMBuilder.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/kubevirtUIResource.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachine.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachineTemplate.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/non-admin.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/types/types.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/types/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/enums/provisionSource.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/utils.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.action.base.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.action.clone.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.action.migration.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.base.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.boot-order.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.dedicated-resources.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.flavor.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.scheduling.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.list-filtering.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.resources.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.tab.console.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.tab.dashboard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.tab.yaml.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.wizard.cloud-init.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.wizard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.wizard.validation.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmi.actions.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmi.dashboard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmi.detail.editing.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmi.list-filtering.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmi.overview.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmtemplate.resources.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmtemplate.wizard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/dialogs/diskDialog.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/dialogs/networkInterface.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/kubevirtUIResource.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/wizard.view.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, component/shared, lgtm

#6840 Update TaskRun List Page Columns & PipelineRun Tab
  frontend/packages/dev-console/src/components/pipelineruns/PipelineRunDetailsPage.tsx
  frontend/packages/dev-console/src/components/pipelineruns/detail-page-tabs/TaskRuns.tsx
  frontend/packages/dev-console/src/components/taskruns/list-page/TaskRunsHeader.tsx
  frontend/packages/dev-console/src/components/taskruns/list-page/TaskRunsList.tsx
  frontend/packages/dev-console/src/components/taskruns/list-page/TaskRunsListPage.tsx
  frontend/packages/dev-console/src/components/taskruns/list-page/TaskRunsRow.tsx
  frontend/packages/dev-console/src/components/taskruns/list-page/__tests__/TaskRunsRow.spec.tsx
  frontend/packages/dev-console/src/components/taskruns/list-page/taskruns-table.ts
  frontend/packages/dev-console/src/plugin.tsx
Labels: approved, component/dev-console, kind/feature, lgtm

#6897 Cleanup unused topology resources
  frontend/packages/console-plugin-sdk/src/typings/overview.ts
  frontend/packages/console-shared/src/utils/__tests__/resource-utils.spec.ts
  frontend/packages/console-shared/src/utils/resource-utils.ts
  frontend/packages/dev-console/src/components/topology/operators/components/OperatorWorkloadNode.tsx
  frontend/packages/dev-console/src/components/topology/operators/components/const.ts
  frontend/packages/dev-console/src/components/topology/operators/components/operatorsComponentFactory.ts
  frontend/packages/dev-console/src/components/topology/operators/index.ts
  frontend/packages/dev-console/src/components/topology/operators/isOperatorResource.ts
  frontend/packages/dev-console/src/components/topology/operators/operator-resources.ts
  frontend/packages/dev-console/src/components/topology/operators/operatorsTopologyPlugin.ts
  frontend/packages/dev-console/src/plugin.tsx
  frontend/packages/knative-plugin/src/plugin.tsx
  frontend/packages/kubevirt-plugin/src/plugin.tsx
Labels: approved, component/dev-console, component/knative, component/kubevirt, component/sdk, component/shared, kind/cleanup, lgtm

#6909 Bug 1887472: Fix to allow shift-drag to regroup knative services in topology
  frontend/package.json
  frontend/packages/dev-console/src/components/topology/components/componentUtils.ts
  frontend/packages/dev-console/src/components/topology/helm/components/HelmReleaseGroup.tsx
  frontend/packages/dev-console/src/components/topology/helm/components/HelmReleaseNode.tsx
  frontend/packages/dev-console/src/components/topology/operators/components/OperatorBackedServiceGroup.tsx
  frontend/packages/dev-console/src/components/topology/operators/components/OperatorBackedServiceNode.tsx
  frontend/packages/knative-plugin/src/topology/components/groups/KnativeServiceGroup.tsx
  frontend/packages/knative-plugin/src/topology/components/groups/KnativeServiceNode.tsx
  frontend/yarn.lock
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, component/knative, kind/bug, lgtm

#6867 Add events tab in pipelinerun and taskrun details page
  frontend/packages/dev-console/src/components/pipelineruns/PipelineRunDetailsPage.tsx
  frontend/packages/dev-console/src/components/pipelineruns/__tests__/PipelineRunDetailsPage.spec.tsx
  frontend/packages/dev-console/src/components/pipelineruns/events/PipelineRunEvents.tsx
  frontend/packages/dev-console/src/components/pipelineruns/events/__tests__/PipelineRunEvents.spec.tsx
  frontend/packages/dev-console/src/components/pipelineruns/events/__tests__/event-utils.spec.ts
  frontend/packages/dev-console/src/components/pipelineruns/events/event-utils.ts
  frontend/packages/dev-console/src/components/pipelines/const.ts
  frontend/packages/dev-console/src/components/taskruns/TaskRunDetailsPage.tsx
  frontend/packages/dev-console/src/components/taskruns/events/TaskRunEvents.tsx
  frontend/packages/dev-console/src/components/taskruns/events/__tests__/TaskRunDetailsPage.spec.tsx
  frontend/packages/dev-console/src/components/taskruns/events/__tests__/TaskRunEvents.spec.tsx
  frontend/packages/dev-console/src/test/pipeline-data.ts
  frontend/packages/dev-console/src/utils/pipeline-augment.ts
Labels: approved, component/dev-console, kind/feature, lgtm

#6957 Bug 1872923: Fix cancel button to return to operator details
  frontend/packages/console-shared/src/components/dynamic-form/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/operand-form.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/olm, component/shared, lgtm

#6959 Query Browser: Fix tooltips next to the edge of the graph
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, component/core, component/monitoring, lgtm

#6954 Bug 1886168: Check if the label exists before comparing its value
  frontend/packages/console-app/src/components/nodes/NodeDetailsPage.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/core, lgtm

#6961 Bug 1889630: - Scheduling disabled popovers are missing for Node status in Node Overview and Details pages
  frontend/packages/console-app/src/components/nodes/NodeDetailsOverview.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/NodeHealth.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#6875 Move topology monitoring data fetching into Hooks
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlerts.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlertsRulesDetailsPage.tsx
  frontend/packages/dev-console/src/components/topology/TopologyDataRetriever.tsx
  frontend/packages/dev-console/src/components/topology/hooks/useOverviewAlertsUpdater.ts
  frontend/packages/dev-console/src/components/topology/hooks/useOverviewMetricsUpdater.ts
  frontend/packages/dev-console/src/components/topology/list-view/TopologyListView.tsx
  frontend/public/components/graphs/helpers.ts
  frontend/public/components/graphs/prometheus-rules-hook.ts
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/notification-drawer.tsx
  frontend/public/components/overview/metricUtils.ts
Labels: approved, component/core, component/dev-console, component/monitoring, kind/cleanup, lgtm

#6940 Handle missing labels as empty
  frontend/public/reducers/monitoring.ts
Labels: approved, component/core, lgtm, ok-to-test

#6872 Bug 1886452: Fix for topology layout options style on select
  frontend/packages/dev-console/src/components/topology/TopologyControlBar.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#6865 Add Node qualifier to Affinity table
  frontend/packages/console-shared/src/components/status/Status.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/affinity-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/components/affinity-edit/affinity-edit.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/helpers.ts
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/types.ts
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/validations.ts
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/shared/NodeChecker/node-checker.scss
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/shared/NodeChecker/node-checker.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/shared/consts.ts
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/shared/hooks.ts
  frontend/packages/kubevirt-plugin/src/selectors/affinity/selectors.ts
Labels: approved, component/kubevirt, component/shared, lgtm

#6829 Bug 1885173: Add VM next run configuration test
  frontend/packages/kubevirt-plugin/integration-tests/tests/mocks/mocks.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/kubevirtUIResource.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/common.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.next.run.configuration.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/kubevirtUIResource.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/vm.next.run.configuration.view.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/dev-console, component/knative, component/kubevirt, lgtm

#6903 Localize the console-app package
  frontend/packages/console-app/locales/en/cloudshell.json
  frontend/packages/console-app/locales/en/quickstart.json
  frontend/packages/console-app/locales/en/tour.json
  frontend/packages/console-app/src/components/cloud-shell/CloudShellDrawer.tsx
  frontend/packages/console-app/src/components/cloud-shell/CloudShellExec.tsx
  frontend/packages/console-app/src/components/cloud-shell/CloudShellMastheadButton.tsx
  frontend/packages/console-app/src/components/cloud-shell/CloudShellTab.tsx
  frontend/packages/console-app/src/components/cloud-shell/CloudShellTerminal.tsx
  frontend/packages/console-app/src/components/cloud-shell/TerminalLoadingBox.tsx
  frontend/packages/console-app/src/components/cloud-shell/__tests__/CloudShellDrawer.spec.tsx
  frontend/packages/console-app/src/components/cloud-shell/__tests__/CloudShellTab.spec.tsx
  frontend/packages/console-app/src/components/cloud-shell/__tests__/CloudShellTerminal.spec.tsx
  frontend/packages/console-app/src/components/cloud-shell/__tests__/TerminalLoadingBox.spec.tsx
  frontend/packages/console-app/src/components/cloud-shell/cloudShellConfirmationModal.ts
  frontend/packages/console-app/src/components/cloud-shell/setup/CloudShellSetup.tsx
  frontend/packages/console-app/src/components/cloud-shell/setup/CloudShellSetupForm.tsx
  frontend/packages/console-app/src/components/cloud-shell/setup/NamespaceSection.tsx
  frontend/packages/console-app/src/components/cloud-shell/setup/__tests__/CloudShellSetupForm.spec.tsx
  frontend/packages/console-app/src/components/cloud-shell/setup/__tests__/NamespaceSection.spec.tsx
  frontend/packages/console-app/src/components/quick-starts/QuickStartCatalogPage.tsx
  frontend/packages/console-app/src/components/quick-starts/QuickStartCloseModal.tsx
  frontend/packages/console-app/src/components/quick-starts/QuickStartDrawer.tsx
  frontend/packages/console-app/src/components/quick-starts/__tests__/QuickStartCatalogPage.spec.tsx
  frontend/packages/console-app/src/components/quick-starts/catalog/QuickStartCatalog.tsx
  frontend/packages/console-app/src/components/quick-starts/catalog/QuickStartTileDescription.tsx
  frontend/packages/console-app/src/components/quick-starts/catalog/QuickStartTileFooter.tsx
  frontend/packages/console-app/src/components/quick-starts/catalog/QuickStartTileHeader.scss
  frontend/packages/console-app/src/components/quick-starts/catalog/QuickStartTileHeader.tsx
  frontend/packages/console-app/src/components/quick-starts/catalog/__tests__/QuickStartCatalog.spec.tsx
  frontend/packages/console-app/src/components/quick-starts/controller/QuickStartConclusion.tsx
  frontend/packages/console-app/src/components/quick-starts/controller/QuickStartFooter.tsx
  frontend/packages/console-app/src/components/quick-starts/controller/QuickStartIntroduction.tsx
  frontend/packages/console-app/src/components/quick-starts/controller/QuickStartTaskHeader.tsx
  frontend/packages/console-app/src/components/quick-starts/controller/QuickStartTaskReview.tsx
  frontend/packages/console-app/src/components/quick-starts/controller/QuickStartTasks.tsx
  frontend/packages/console-app/src/components/quick-starts/controller/__tests__/QuickStartConclusion.spec.tsx
  frontend/packages/console-app/src/components/tour/GuidedTour.tsx
  frontend/packages/console-app/src/components/tour/GuidedTourMastheadTrigger.tsx
  frontend/packages/console-app/src/components/tour/StepComponent.tsx
  frontend/packages/console-app/src/components/tour/TourStepComponent.tsx
  frontend/packages/console-app/src/components/tour/__tests__/GuidedTourMastheadTrigger.spec.tsx
  frontend/packages/console-app/src/components/tour/__tests__/TourStepComponent.spec.tsx
  frontend/packages/console-app/src/components/tour/steps/StepBadge.tsx
  frontend/packages/console-app/src/index.ts
  frontend/public/i18n.js
  frontend/webpack.config.ts
Labels: approved, component/core, component/dashboard, component/shared, lgtm

#6968 Bug 1889698: Fix form re-render on cancelling
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/create-local-volume-set.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/ceph, lgtm

#6899 Only re-create pod donut if data changes
  frontend/packages/console-shared/src/components/pod/PodRing.tsx
  frontend/packages/console-shared/src/components/pod/PodStatus.tsx
  frontend/packages/console-shared/src/hooks/useForceUpdate.ts
  frontend/packages/console-shared/src/utils/__tests__/pod-ring-utils.spec.ts
  frontend/packages/console-shared/src/utils/pod-ring-utils.ts
  frontend/packages/dev-console/src/components/topology/components/nodes/PodSet.tsx
Labels: approved, component/dev-console, component/shared, kind/cleanup, lgtm

#5885 [release-4.5.z] Bug 1852530: kubevirt - fix importing VMs with same vnicIDs for ovirt provider
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/providers/ovirt/ovirt-prefill-vm.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/providers/ovirt/ovirt-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/types.ts
  frontend/packages/kubevirt-plugin/src/components/modals/nic-modal/nic-modal.tsx
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/import/import-ovirt.ts
  frontend/packages/kubevirt-plugin/src/types/ui/nic.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, lgtm

#6948 CONSOLE-2428: i18n for search section of home nav
  frontend/public/components/search.tsx
  frontend/public/i18n.js
  frontend/public/locales/en/search.json
Labels: approved, component/core, docs-approved, lgtm, px-approved, qe-approved

#6952 Fix edit app flow in case service not available
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/dev-console/src/components/import/deployImage-submit-utils.ts
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
Labels: approved, component/dev-console, kind/bug, lgtm

#6781 Bug 1883177: Update node queries to exclude fstype, mountpoint
  frontend/packages/console-app/src/components/nodes/NodesPage.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/queries.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, component/core, lgtm

#6815 [release-4.5] Bug 1884574: Include repo branch in URL for che icon
  frontend/packages/dev-console/src/components/topology/components/nodes/WorkloadNode.tsx
  frontend/packages/dev-console/src/components/topology/data-transforms/__tests__/__snapshots__/data-transformer.spec.ts.snap
  frontend/packages/dev-console/src/components/topology/data-transforms/__tests__/data-transformer.spec.ts
  frontend/packages/dev-console/src/components/topology/data-transforms/transform-utils.ts
  frontend/packages/dev-console/src/components/topology/topology-types.ts
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, lgtm

#6719 Bug 1881881: Replace route dropdown input with typeahead select menu in import/edit flow
  frontend/packages/dev-console/src/components/import/route/CreateRoute.tsx
  frontend/packages/dev-console/src/components/import/route/PortInputField.tsx
  frontend/packages/dev-console/src/components/import/serverless/ServerlessRouteSection.tsx
  frontend/packages/dev-console/src/components/import/validation-schema.ts
  frontend/packages/dev-console/src/utils/__tests__/shared-submit-utils.spec.ts
  frontend/packages/dev-console/src/utils/shared-submit-utils.ts
  frontend/packages/knative-plugin/src/utils/__tests__/create-knative-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/create-knative-utils.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, component/knative, kind/bug, lgtm

#6919 Save/Restore topology graph layout during current session
  frontend/package.json
  frontend/packages/dev-console/src/components/topology/Topology.tsx
  frontend/packages/dev-console/src/components/topology/list-view/TopologyListView.tsx
  frontend/packages/dev-console/src/components/topology/redux/action.ts
  frontend/packages/dev-console/src/components/topology/redux/reducer.ts
  frontend/packages/knative-plugin/src/topology/layouts/layoutConstraints.ts
  frontend/yarn.lock
Labels: approved, component/dev-console, component/knative, lgtm

#6921 add details page for eventing trigger and subscription
  frontend/packages/knative-plugin/src/components/pub-sub/details/DynamicResourceLink.scss
  frontend/packages/knative-plugin/src/components/pub-sub/details/DynamicResourceLink.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/details/SubscriptionDetails.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/details/SubscriptionDetailsPage.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/details/TriggerDetails.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/details/TriggerDetailsPage.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/details/__test__/DynamicResourceLink.spec.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/details/__test__/SubscriptionDetails.spec.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/details/__test__/TriggerDetails.spec.tsx
  frontend/packages/knative-plugin/src/models.ts
  frontend/packages/knative-plugin/src/plugin.tsx
  frontend/packages/knative-plugin/src/utils/__tests__/knative-eventing-data.ts
Labels: approved, component/knative, lgtm

#6964 Add missing key when mapping urls
  frontend/packages/knative-plugin/src/components/overview/RoutesUrlLink.tsx
Labels: approved, component/knative, lgtm

#6706 [release-4.5] Bug 1881380: Disable creation of External Mode Cluster in cloud environments
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-page.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, component/ceph, lgtm

#6807 Re-enable Snapshots tab
  frontend/packages/kubevirt-plugin/src/components/modals/description-modal/_description-modal.scss
  frontend/packages/kubevirt-plugin/src/components/modals/description-modal/description-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/description-modal/index.ts
  frontend/packages/kubevirt-plugin/src/components/modals/index.ts
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-modal/snapshot-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-restore-modal/snapshot-restore-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/vm-description-modal/index.ts
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/snapshot-row.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/types.ts
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/use-mapped-vm-restores.ts
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/utils.ts
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/vm-snapshot-details.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/vm-snapshot-row.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/vm-snapshot-status.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/vm-snapshots.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-resource.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-details-page.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm/vm-patches.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/vm-snapshot-wrapper.ts
  frontend/packages/kubevirt-plugin/src/plugin.tsx
  frontend/packages/kubevirt-plugin/src/selectors/selectors.ts
  frontend/packages/kubevirt-plugin/src/selectors/snapshot/snapshot.ts
  frontend/packages/kubevirt-plugin/src/types/vm/index.ts
  frontend/public/components/factory/table.tsx
Labels: approved, component/core, component/kubevirt, component/shared, lgtm

#6889 i18n common components: YAML
  frontend/packages/console-shared/locales/en/editor.json
  frontend/packages/console-shared/src/components/editor/ShortcutsLink.tsx
  frontend/packages/dev-console/src/components/topology/helm/__tests__/TopologyHelmReleasePanel.spec.tsx
  frontend/public/components/edit-yaml.jsx
  frontend/public/components/sidebars/resource-sidebar.jsx
  frontend/public/components/utils/simple-tab-nav.tsx
  frontend/public/i18n.js
  frontend/public/locales/en/sidebar.json
  frontend/public/locales/en/yaml.json
Labels: approved, component/core, component/dashboard, component/dev-console, component/shared, docs-approved, hacktoberfest-accepted, lgtm, px-approved, qe-approved

#6962 Bug 1889783: Support ServiceBinding breaking api changes
  frontend/packages/dev-console/src/components/topology/TopologyDataController.tsx
  frontend/packages/dev-console/src/components/topology/__tests__/service-binding-test-data.ts
  frontend/packages/dev-console/src/components/topology/data-transforms/transform-utils.ts
  frontend/packages/dev-console/src/models/service-binding.ts
  frontend/packages/dev-console/src/plugin.tsx
  frontend/packages/dev-console/src/utils/application-utils.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, lgtm

#6965 [release-4.5.z] Bug 1889982: pick latestCRDversion instead of latest/served true
  frontend/packages/knative-plugin/src/components/add/event-sources/ApiServerSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/EventSourceSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/KafkaSourceSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/PingSourceSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/__tests__/KafkaSourceSection.spec.tsx
  frontend/packages/knative-plugin/src/models.ts
  frontend/packages/knative-plugin/src/utils/__mocks__/dynamic-event-source-crd-mock.ts
  frontend/packages/knative-plugin/src/utils/__tests__/create-eventsources-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/create-eventsources-utils.ts
  frontend/packages/knative-plugin/src/utils/fetch-dynamic-eventsources-utils.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, component/knative, lgtm

#6655 Add useResolvedExtensions hook and improve related code
  frontend/packages/console-dynamic-plugin-sdk/src/api/useResolvedExtensions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/coderef-resolver.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/feature-flags.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-loader.ts
  frontend/packages/console-dynamic-plugin-sdk/src/types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/validation/ExtensionValidator.ts
  frontend/packages/console-plugin-sdk/src/__tests__/store.spec.ts
  frontend/packages/console-plugin-sdk/src/api/subscribeToExtensions.ts
  frontend/packages/console-plugin-sdk/src/api/useExtensions.ts
  frontend/packages/console-plugin-sdk/src/api/withExtensions.tsx
  frontend/packages/console-plugin-sdk/src/index.ts
  frontend/packages/console-plugin-sdk/src/store.ts
  frontend/packages/console-plugin-sdk/src/typings/base.ts
  frontend/packages/console-shared/src/hooks/__tests__/usePluginsOverviewTabSection.spec.ts
  frontend/packages/console-shared/src/hooks/useForceRender.ts
  frontend/packages/dev-console/src/components/topology/__tests__/DataModelProvider.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/KnativeServiceResources.spec.tsx
  frontend/public/actions/features.ts
  frontend/public/plugins.ts
  frontend/public/reducers/features.ts
Labels: approved, component/ceph, component/core, component/dev-console, component/git-service, component/knative, component/olm, component/sdk, component/shared, lgtm

#6980 Monitoring: Add legend to alerting rule details page graph
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, component/core, component/monitoring, lgtm

#6567 [release-4.5.z] Bug 1877278: report errors when v2v-vmware ConfigMap is not available
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/error-components/resource-load-errors.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/form/form-field.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/main-actions/create-vm.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/providers/ovirt/ovirt-provider-actions.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/providers/vmware/vmware-provider-actions.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/import-providers-tab/providers/vm-import-provider-controller-errors.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/result-tab/error-results.tsx
  frontend/packages/kubevirt-plugin/src/components/errors/errors.scss
  frontend/packages/kubevirt-plugin/src/components/errors/errors.tsx
  frontend/packages/kubevirt-plugin/src/constants/errors/common.ts
  frontend/packages/kubevirt-plugin/src/constants/v2v.ts
  frontend/packages/kubevirt-plugin/src/k8s/enhancedK8sMethods/__tests__/enhancedK8sMethods.spec.ts
  frontend/packages/kubevirt-plugin/src/k8s/enhancedK8sMethods/enhancedK8sMethods.ts
  frontend/packages/kubevirt-plugin/src/k8s/enhancedK8sMethods/errors.ts
  frontend/packages/kubevirt-plugin/src/k8s/enhancedK8sMethods/k8sMethodsUtils.ts
  frontend/packages/kubevirt-plugin/src/k8s/enhancedK8sMethods/types.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/import/import-v2vvmware.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/start-v2vvmware-controller.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/v2vvmware-configmap.ts
  frontend/packages/kubevirt-plugin/src/selectors/v2v/selectors.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, lgtm

#6984 Bug 1889692: Fix selected capacity to reflect correct disk size
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/create-sc.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/state.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/donut-chart.tsx
  frontend/packages/ceph-storage-plugin/src/utils/install.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/ceph, lgtm

#6551 [release-4.5.z] Bug 1874373: RHV URL validation is missing https://
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/providers/ovirt-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/providers/ovirt-provider-tab-validation.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, lgtm

#6887 i18n common components: modals
  frontend/__tests__/components/modals/column-management-modal.spec.tsx
  frontend/packages/console-shared/locales/en/dashboard.json
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/resource-requirements.spec.tsx
  frontend/public/components/about-modal.tsx
  frontend/public/components/factory/modal.tsx
  frontend/public/components/modals/column-management-modal.tsx
  frontend/public/components/modals/configure-count-modal.tsx
  frontend/public/components/modals/delete-modal.jsx
  frontend/public/components/modals/delete-modal.tsx
  frontend/public/components/modals/expand-pvc-modal.jsx
  frontend/public/components/modals/expand-pvc-modal.tsx
  frontend/public/components/modals/labels-modal.jsx
  frontend/public/components/modals/managed-resource-save-modal.tsx
  frontend/public/components/modals/tags.tsx
  frontend/public/components/modals/taints-modal.tsx
  frontend/public/components/modals/tolerations-modal.tsx
  frontend/public/components/utils/status-box.tsx
  frontend/public/i18n.js
  frontend/public/locales/en/modal.json
  frontend/public/locales/en/public.json
  frontend/public/locales/en/utils.json
Labels: approved, component/core, component/dashboard, component/olm, component/shared, docs-approved, hacktoberfest-accepted, lgtm, px-approved, qe-approved

#6973 Bug 1890145: Add classname to decrease font size for Status Ready
  frontend/packages/console-shared/src/components/dashboard/status-card/HealthItem.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/status-card.scss
  frontend/packages/console-shared/src/components/status/SecondaryStatus.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/dashboard, component/shared, lgtm

#6971 Bug 1889515: - Accessibility - The checkmark in the Node > overview page has no text description, label, or other accessible information
  frontend/packages/console-shared/src/components/status/statuses.tsx
  frontend/packages/operator-lifecycle-manager/src/components/install-plan.spec.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/olm, component/shared, lgtm

#6976 (feat) : Updated baremetal install wizard flow
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/attached-devices.scss
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/create-sc.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/state.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/auto-detect-volume.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/configure-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/create-local-volume-set.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/review-and-create-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/storage-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/install-lso-sc.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/install.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/sc-node-list.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/capacity-and-nodes.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/configure.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/install-wizard.scss
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/review-and-create.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard-steps/configure.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard-steps/index.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard-steps/review-and-create.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard-steps/select-capacity-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/node-list.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/ocs-install.scss
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/ocs-request-data.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/types.ts
  frontend/packages/ceph-storage-plugin/src/constants/ocs-install.ts
  frontend/packages/ceph-storage-plugin/src/utils/common-ocs-install-el.tsx
Labels: approved, component/ceph, component/sdk, lgtm

#1862 CONSOLE-1523: Switch logging to klog
  cmd/bridge/main.go
  pkg/auth/auth.go
  pkg/auth/session.go
  pkg/bridge/validate.go
  pkg/helm/actions/config.go
  pkg/helm/chartproxy/proxy.go
  pkg/helm/chartproxy/repos.go
  pkg/helm/handlers/handlers.go
  pkg/knative/utils.go
  pkg/server/middleware.go
  pkg/server/resource_lister.go
  pkg/server/server.go
  pkg/serverutils/utils.go
  pkg/terminal/proxy.go
  vendor/github.com/coreos/go-systemd/LICENSE
  vendor/github.com/coreos/go-systemd/NOTICE
  vendor/github.com/coreos/go-systemd/journal/journal.go
  vendor/github.com/coreos/pkg/capnslog/README.md
  vendor/github.com/coreos/pkg/capnslog/formatters.go
  vendor/github.com/coreos/pkg/capnslog/glog_formatter.go
  vendor/github.com/coreos/pkg/capnslog/init.go
  vendor/github.com/coreos/pkg/capnslog/init_windows.go
  vendor/github.com/coreos/pkg/capnslog/journald_formatter.go
  vendor/github.com/coreos/pkg/capnslog/log_hijack.go
  vendor/github.com/coreos/pkg/capnslog/logmap.go
  vendor/github.com/coreos/pkg/capnslog/pkg_logger.go
  vendor/github.com/coreos/pkg/capnslog/syslog_formatter.go
  vendor/modules.txt
Labels: approved, component/backend, docs-approved, lgtm, px-approved, qe-approved, size/XXL

#6818 Bug 1883563: Handle promise rejection error
  frontend/public/components/modals/create-namespace-modal.jsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#6994 Query Browser: Small clean-up of legend CSS
  frontend/public/components/monitoring/_monitoring.scss
Labels: approved, component/core, component/monitoring, kind/cleanup, lgtm

#6991 Made singulars for Insights plugin
  frontend/packages/insights-plugin/src/components/InsightsPopup/index.tsx
  frontend/packages/insights-plugin/src/components/InsightsPopup/status.ts
Labels: approved, component/insights, lgtm

#6996 Bug 1891419: Wrong detail head on network policy detail page
  frontend/public/components/network-policy.jsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#6799 Treat console-extensions.json file as JSON with Comments (jsonc)
  frontend/.vscode/settings.json
  frontend/dynamic-demo-plugin/console-extensions.json
  frontend/packages/console-dynamic-plugin-sdk/package.json
  frontend/packages/console-dynamic-plugin-sdk/src/api/useResolvedExtensions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/webpack/ConsoleAssetPlugin.ts
  frontend/packages/console-plugin-sdk/src/api/subscribeToExtensions.ts
  frontend/packages/console-plugin-sdk/src/api/useExtensions.ts
  frontend/packages/console-plugin-sdk/src/store.ts
  frontend/packages/console-plugin-sdk/src/typings/base.ts
  frontend/yarn.lock
Labels: approved, component/ceph, component/core, component/dev-console, component/git-service, component/knative, component/olm, component/sdk, component/shared, lgtm

#6932 CONSOLE-2430: i18n for cluster dashboard section of home nav
  frontend/integration-tests/tests/dashboards/cluster-dashboard.scenario.ts
  frontend/integration-tests/tests/dashboards/project-dashboard.scenario.ts
  frontend/packages/console-shared/locales/en/dashboard.json
  frontend/packages/console-shared/src/components/dashboard/details-card/details-card.scss
  frontend/packages/console-shared/src/components/dashboard/duration-hook.ts
  frontend/packages/console-shared/src/components/dashboard/status-card/AlertItem.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/AlertsBody.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/activity-card.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/details-card.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/health-item.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/inventory-card.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/status-card.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/utilization-card.tsx
  frontend/public/components/dashboard/dashboards-page/dashboards.tsx
  frontend/public/components/dashboard/dashboards-page/quick-start-badge.tsx
  frontend/public/locales/en/dashboard.json
Labels: approved, component/core, component/dashboard, component/shared, docs-approved, lgtm, px-approved, qe-approved, tide/merge-method-squash

#6900 Bug 1875516: - disabled scheduling is easy to miss in node page of OCP console
  frontend/public/style/_overrides.scss
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/dashboard, component/shared, lgtm

#6483 CONSOLE-2423: upgrade yaml language server
  frontend/package.json
  frontend/yarn.lock
Labels: approved, docs-approved, lgtm, ok-to-test, px-approved, qe-approved

#7001 Bug 1891376: Extra text in Cluster Utilization charts
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationItem.tsx
  frontend/public/components/graphs/area.tsx
  frontend/public/components/graphs/prometheus-graph.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/dashboard, component/shared, lgtm

#6999 fix cnv base images loading
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/flavor.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/os.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/vm-settings-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/workload-profile.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/types.ts
Labels: approved, component/kubevirt, lgtm

#7000 pass copied secret to the vmimport object instead of the original one
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/import/import-ovirt.ts
Labels: approved, component/kubevirt, lgtm

#7003 Bug 1889529: Check for any CR name versus a specific name
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
Labels: approved, component/olm, lgtm

#6995 Add Owner Reference to VM Snapshots
  frontend/packages/kubevirt-plugin/src/components/modals/menu-actions-modals/delete-vm-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-modal/snapshot-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-restore-modal/snapshot-restore-modal.tsx
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/common/k8s-resource-object-with-type-property-wrapper.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/common/k8s-resource-wrapper.ts
Labels: approved, component/kubevirt, lgtm

#7011 Bug 1885676: Minimal deployment warning message is corrected
  frontend/packages/ceph-storage-plugin/src/utils/common-ocs-install-el.tsx
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, component/ceph, lgtm

#6879 Bug 1856351: Fix build details page charts
  frontend/__tests__/components/graphs/utils.spec.ts
  frontend/packages/console-shared/src/constants/index.ts
  frontend/packages/console-shared/src/constants/time.ts
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-utilization.tsx
  frontend/public/components/build.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/utilization-card.tsx
  frontend/public/components/graphs/area.tsx
  frontend/public/components/graphs/helpers.ts
  frontend/public/components/graphs/index.tsx
  frontend/public/components/graphs/prometheus-poll-hook.ts
  frontend/public/components/graphs/stack.tsx
  frontend/public/components/graphs/utils.ts
  frontend/public/components/monitoring/query-browser.tsx
  frontend/public/components/utils/datetime.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/dashboard, component/kubevirt, component/monitoring, component/shared, lgtm

#6928 CONSOLE-2372: i18n - Networking pages
  frontend/public/components/ingress.jsx
  frontend/public/components/network-policy.jsx
  frontend/public/components/routes.tsx
  frontend/public/components/routes/route-charts.tsx
  frontend/public/components/service.jsx
  frontend/public/i18n.js
  frontend/public/locales/en/ingress.json
  frontend/public/locales/en/network-policy.json
  frontend/public/locales/en/network-route.json
  frontend/public/locales/en/network-service.json
Labels: approved, component/core, docs-approved, lgtm, px-approved, qe-approved

#6765 CONSOLE-2297: Added Create Namespace option during operator install
  frontend/package.json
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/cypress-olm.json
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/reporter-config.json
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/create-namespace.spec.ts
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
  frontend/public/components/radio.tsx
  frontend/public/components/utils/list-dropdown.jsx
Labels: approved, component/core, component/olm, docs-approved, lgtm, px-approved, qe-approved

#6975 Bug 1887465: Fall back to "all namespaces" when currently active namespace is deleted
  frontend/packages/console-shared/src/hooks/promise-handler.ts
  frontend/packages/console-shared/src/hooks/redux-selectors.ts
  frontend/public/components/modals/delete-namespace-modal.jsx
  frontend/public/components/modals/delete-namespace-modal.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/shared, lgtm

#6913 CONSOLE-2390: i18n build config page
  frontend/public/components/build-config.tsx
  frontend/public/components/utils/build-strategy.tsx
  frontend/public/components/utils/details-page.tsx
  frontend/public/components/utils/kebab.tsx
  frontend/public/i18n.js
  frontend/public/locales/en/build-config.json
  frontend/public/locales/en/build-strategy.json
  frontend/public/locales/en/details-page.json
Labels: approved, component/core, docs-approved, lgtm, ok-to-test, px-approved, qe-approved

#6864 fix pod donut information
  frontend/packages/console-shared/src/components/pod/PodRingSet.tsx
  frontend/packages/console-shared/src/constants/resource.ts
  frontend/packages/console-shared/src/utils/pod-utils.ts
  frontend/packages/dev-console/src/utils/resource-label-utils.ts
Labels: approved, component/dev-console, component/shared, kind/bug, lgtm

#7024 Bug 1884629: pf update to fix dropdown accessibility bug
  frontend/package.json
  frontend/yarn.lock
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#7017 Bug 1892358: update feature gate for kubevirt-gating job
  frontend/packages/kubevirt-plugin/integration-tests/deploy-kubevirt-gating.sh
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, lgtm

#7016 Fix po-to-i18n script
  frontend/i18n-scripts/.eslintrc.js
  frontend/i18n-scripts/common.js
  frontend/i18n-scripts/consolidate-public-folders.js
  frontend/i18n-scripts/i18n-to-pot.js
  frontend/i18n-scripts/po-to-i18n.js
  frontend/i18n-scripts/set-english-defaults.js
Labels: approved, lgtm

#6886 Cover static and dynamic plugin SDKs with unit tests
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/__tests__/coderef-resolver.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/__tests__/coderef-utils.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/coderef-resolver.ts
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/coderef-utils.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/__tests__/plugin-loader.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/__tests__/plugin-manifest.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-loader.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-manifest.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/test-utils.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/url.ts
  frontend/packages/console-dynamic-plugin-sdk/src/validation/ExtensionValidator.ts
  frontend/packages/console-dynamic-plugin-sdk/src/validation/SchemaValidator.ts
  frontend/packages/console-dynamic-plugin-sdk/src/validation/ValidationAssertions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/validation/ValidationResult.ts
  frontend/packages/console-dynamic-plugin-sdk/src/validation/__tests__/ExtensionValidator.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/validation/__tests__/SchemaValidator.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/validation/__tests__/ValidationResult.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/webpack/ConsoleRemotePlugin.ts
  frontend/packages/console-plugin-sdk/src/__tests__/store.spec.ts
  frontend/packages/console-plugin-sdk/src/codegen/__tests__/plugin-integration-tests.spec.ts
  frontend/packages/console-plugin-sdk/src/codegen/__tests__/plugin-resolver.spec.ts
  frontend/packages/console-plugin-sdk/src/store.ts
Labels: approved, component/ceph, component/core, component/dev-console, component/git-service, component/knative, component/olm, component/sdk, component/shared, lgtm

#6989 Bug 1891999: Fix compression card metrics for Persitent dashboard
  frontend/packages/ceph-storage-plugin/src/constants/queries.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/ceph, lgtm

#7014 use FocusTrap for popover and remount StepComponent to remove the focus from Next button
  frontend/packages/console-app/src/components/tour/StepComponent.tsx
  frontend/packages/console-shared/src/components/popover/Popover.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-topology/TaskListNode.tsx
  frontend/public/components/utils/kebab.tsx
Labels: approved, component/core, component/dev-console, component/shared, kind/bug, lgtm

#6861 Updating openshift-enterprise-console builder & base images to be consistent with ART
  Dockerfile.product
Labels: approved, lgtm

#7040 CONSOLE-2296: Update node-sass version
  frontend/package.json
  frontend/yarn.lock
Labels: approved, kind/dependency-change, lgtm

#6956 packages/console-shared localization
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/alerts/AlertSeverityIcon.tsx
  frontend/packages/console-shared/src/components/alerts/error.tsx
  frontend/packages/console-shared/src/components/dropdown/ResourceDropdown.tsx
  frontend/packages/console-shared/src/components/dropdown/__tests__/ResourceDropdown.spec.tsx
  frontend/packages/console-shared/src/components/dynamic-form/fields.tsx
  frontend/packages/console-shared/src/components/dynamic-form/index.tsx
  frontend/packages/console-shared/src/components/dynamic-form/templates.tsx
  frontend/packages/console-shared/src/components/dynamic-form/widgets.tsx
  frontend/packages/console-shared/src/components/form-utils/FormFooter.tsx
  frontend/packages/console-shared/src/components/form-utils/__tests__/FormFooter.spec.tsx
  frontend/packages/console-shared/src/components/formik-fields/EnvironmentField.tsx
  frontend/packages/console-shared/src/components/formik-fields/SyncedEditorField.tsx
  frontend/packages/console-shared/src/components/formik-fields/TextColumnField.tsx
  frontend/packages/console-shared/src/components/formik-fields/YAMLEditorField.tsx
  frontend/packages/console-shared/src/components/formik-fields/__tests__/DropdownField.spec.tsx
  frontend/packages/console-shared/src/components/formik-fields/__tests__/ItemSelectorField.spec.tsx
  frontend/packages/console-shared/src/components/formik-fields/__tests__/SyncedEditorField.spec.tsx
  frontend/packages/console-shared/src/components/formik-fields/item-selector-field/ItemSelectorField.tsx
  frontend/packages/console-shared/src/components/formik-fields/multi-column-field/MultiColumnFieldFooter.tsx
  frontend/packages/console-shared/src/components/formik-fields/multi-column-field/MultiColumnFieldRow.tsx
  frontend/packages/console-shared/src/components/health-checks/HealthChecksAlert.tsx
  frontend/packages/console-shared/src/components/health-checks/__tests__/HealthChecksAlert.spec.tsx
  frontend/packages/console-shared/src/components/hpa/DeleteHPAModal.tsx
  frontend/packages/console-shared/src/components/pod/PodRing.tsx
  frontend/packages/console-shared/src/components/pod/PodRingDataController.tsx
  frontend/packages/console-shared/src/components/popover/Popover.tsx
  frontend/packages/console-shared/src/components/shortcuts/Shortcut.tsx
  frontend/packages/console-shared/src/components/synced-editor/editor-toggle.tsx
  frontend/packages/console-shared/src/components/synced-editor/index.tsx
  frontend/packages/console-shared/src/utils/__tests__/pod-ring-utils.spec.ts
  frontend/packages/console-shared/src/utils/pod-ring-utils.ts
  frontend/packages/dev-console/src/components/import/__tests__/DeployImage.spec.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/PodSet.tsx
  frontend/public/i18n.js
Labels: approved, component/core, component/dev-console, component/shared, lgtm

#7032 [release-4.6] Bug 1886541: Update trigger limit for Minimal Deployment
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/install-lso-sc.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/ocs-request-data.ts
  frontend/packages/ceph-storage-plugin/src/utils/common-ocs-install-el.tsx
  frontend/packages/ceph-storage-plugin/src/utils/install.ts
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, component/ceph, lgtm

#6881 Monitoring: Fix graph refresh on alert and rule details pages
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, component/core, component/monitoring, lgtm

#6796 Bug 1886766: Changes 'Persistent Volume' to 'Persistent Volume Claim' for PVC dropdown in snapshot create page
  frontend/packages/console-app/src/components/volume-snapshot/create-volume-snapshot/create-volume-snapshot.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#7048 Remove Tech Preview badge from dev console monitoring
  frontend/packages/dev-console/src/components/monitoring/MonitoringPage.tsx
Labels: approved, component/dev-console, lgtm
