Repository openshift/console, pull requests merged in 2020-09, with the labels that each got.

#6289 Bug 1868551: Added Node Modal for BM OCS install
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/attached-devices.scss
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/create-sc.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/state.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/create-local-volume-set.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/disk-list.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/donut-chart.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/install-lso-sc.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/sc-node-list.tsx
  frontend/packages/ceph-storage-plugin/src/utils/install.ts
  frontend/packages/local-storage-operator-plugin/src/components/disks-list/types.ts
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/local-volume-set-inner.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/ceph, component/lso, lgtm

#6407 Bug 1871742: can't delete a PVC created using a data upload
  frontend/packages/console-plugin-sdk/src/typings/pvc.ts
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/consts.ts
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/pvc-delete-extension.tsx
  frontend/packages/kubevirt-plugin/src/plugin.tsx
  frontend/packages/kubevirt-plugin/src/selectors/pvc/selectors.ts
  frontend/public/components/modals/delete-pvc-modal.tsx
  frontend/public/components/persistent-volume-claim.jsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/core, component/kubevirt, component/sdk, lgtm

#6078 Bug 1855318: Add external link icon to 'Open Console' VM menu action
  frontend/packages/dev-console/src/components/topology/components/nodeContextMenu.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.scss
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
  frontend/public/components/utils/kebab.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/dev-console, component/kubevirt, lgtm

#6484 Bug 1874436: Query Browser: Clear all series when the namespace changes
  frontend/public/actions/ui.ts
  frontend/public/components/monitoring/query-browser.tsx
  frontend/public/reducers/ui.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/monitoring, lgtm

#6435 Bug 1872385: Connect SBRs to the operator grouping rather than a random workload within
  frontend/packages/dev-console/src/components/topology/__tests__/service-binding-test-data.ts
  frontend/packages/dev-console/src/components/topology/components/componentUtils.ts
  frontend/packages/dev-console/src/components/topology/data-transforms/__tests__/data-transformer.spec.ts
  frontend/packages/dev-console/src/components/topology/operators/__tests__/operator-data-transformer.spec.ts
  frontend/packages/dev-console/src/components/topology/operators/actions/serviceBindings.ts
  frontend/packages/dev-console/src/components/topology/operators/components/OperatorBackedService.scss
  frontend/packages/dev-console/src/components/topology/operators/components/OperatorBackedService.tsx
  frontend/packages/dev-console/src/components/topology/operators/components/OperatorBackedServiceGroup.tsx
  frontend/packages/dev-console/src/components/topology/operators/components/OperatorBackedServiceNode.tsx
  frontend/packages/dev-console/src/components/topology/operators/components/OperatorWorkloadNode.tsx
  frontend/packages/dev-console/src/components/topology/operators/operators-data-transformer.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#6487 Bug 1871768: Add supported types to file upload
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/consts.ts
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form-status.tsx
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
  frontend/public/components/utils/button-bar.jsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/core, component/kubevirt, lgtm

#6460 Bug 1871676: Monitoring: Change rules list to filter by alert state, not rule state
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/factory/table.tsx
  frontend/public/components/filter-toolbar.tsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/types.ts
  frontend/public/reducers/monitoring.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/monitoring, lgtm

#6262 Bug 1865817: Values for cpu/memeory are empty in Metrics table on HPA detail page
  frontend/public/components/hpa.tsx
  frontend/public/module/k8s/types.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#6492 Bug 1872125: Fixed DeviceMechanicalProperties field name for create local volume set flow
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/create-sc.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/local-volume-set-request-data.ts
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/types.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/ceph, component/lso, lgtm

#6138 Bug 1871085: Wait for the first ImageStream update before creating the Deployment
  frontend/packages/dev-console/src/components/import/DeployImage.tsx
  frontend/packages/dev-console/src/components/import/DeployImageForm.tsx
  frontend/packages/dev-console/src/components/import/deployImage-submit-utils.ts
  frontend/public/components/utils/index.tsx
  frontend/public/components/utils/router-hooks.ts
  frontend/public/module/k8s/resource.js
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/dev-console, kind/bug, lgtm

#6480 Bug 1874055: report errors when v2v-vmware ConfigMap is not available
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/error-components/resource-load-errors.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/form/form-field.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/main-actions/create-vm.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/providers/ovirt/ovirt-provider-actions.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/providers/vmware/vmware-provider-actions.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/import-providers-tab/providers/vm-import-provider-controller-errors.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/result-tab/error-results.tsx
  frontend/packages/kubevirt-plugin/src/components/errors/errors.scss
  frontend/packages/kubevirt-plugin/src/components/errors/errors.tsx
  frontend/packages/kubevirt-plugin/src/constants/errors/common.ts
  frontend/packages/kubevirt-plugin/src/constants/v2v.ts
  frontend/packages/kubevirt-plugin/src/k8s/enhancedK8sMethods/__tests__/enhancedK8sMethods.spec.ts
  frontend/packages/kubevirt-plugin/src/k8s/enhancedK8sMethods/enhancedK8sMethods.ts
  frontend/packages/kubevirt-plugin/src/k8s/enhancedK8sMethods/errors.ts
  frontend/packages/kubevirt-plugin/src/k8s/enhancedK8sMethods/k8sMethodsUtils.ts
  frontend/packages/kubevirt-plugin/src/k8s/enhancedK8sMethods/types.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/cdi-upload/cdi-upload-requests.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/import/import-v2vvmware.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/start-v2vvmware-controller.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/v2vvmware-configmap.ts
  frontend/packages/kubevirt-plugin/src/selectors/v2v/selectors.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#6437 bug 1871109: Add a user friendly error message in VM import wizard
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/error-components/resource-load-errors.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/error-components/utils.ts
  frontend/packages/kubevirt-plugin/src/components/errors/errors.scss
  frontend/packages/kubevirt-plugin/src/components/errors/errors.tsx
  frontend/packages/kubevirt-plugin/src/constants/errors/common.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/start-v2vvmware-controller.ts
Labels: bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt

#6458 Bug 1873037: Show inline alert message "Waiting for build" only if there is a BuildConfig
  frontend/public/components/overview/pods-overview.tsx
  frontend/public/components/overview/resource-overview-page.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/core, lgtm

#6340 Bug 1872340: Tests for Snapshot Creation, List and Deletion
  frontend/packages/console-app/src/components/volume-snapshot/create-volume-snapshot/create-volume-snapshot.tsx
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot-details.tsx
  frontend/packages/console-shared/src/components/status/StatusIconAndText.tsx
  frontend/packages/integration-tests-cypress/.eslintrc
  frontend/packages/integration-tests-cypress/mocks/snapshot.ts
  frontend/packages/integration-tests-cypress/support/nav.ts
  frontend/packages/integration-tests-cypress/tests/storage/snapshot.spec.ts
  frontend/packages/integration-tests-cypress/views/common.ts
  frontend/packages/integration-tests-cypress/views/storage/snapshot.ts
  frontend/public/components/utils/camel-case-wrap.tsx
  frontend/public/components/utils/dropdown.jsx
  frontend/public/components/utils/list-dropdown.jsx
  frontend/public/components/utils/pvc-dropdown.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/shared, lgtm

#6440 Bug 1873623: Revert of add label changes in #5998
  frontend/packages/console-shared/src/components/formik-fields/EnvironmentField.tsx
  frontend/packages/console-shared/src/components/formik-fields/multi-column-field/MultiColumnFieldFooter.tsx
  frontend/packages/dev-console/integration-tests/features/Knative/knative-Actions_on_knative_revision.feature
  frontend/packages/dev-console/integration-tests/views/git-import-flow.view.ts
  frontend/packages/dev-console/src/components/health-checks/RequestTypeForms.tsx
  frontend/packages/dev-console/src/components/pipelines/detail-page-tabs/PipelineParameters.tsx
  frontend/packages/dev-console/src/components/pipelines/detail-page-tabs/PipelineResources.tsx
  frontend/packages/dev-console/src/components/pipelines/modals/common/MultipleKeySelector.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/task-sidebar/temp-utils.tsx
  frontend/packages/dev-console/src/components/project-access/ProjectAccessForm.tsx
  frontend/packages/dev-console/src/components/project-access/__tests__/ProjectAccessForm.spec.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/ApiServerSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/ContainerSourceSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/SinkBindingSection.tsx
  frontend/packages/knative-plugin/src/components/traffic-splitting/TrafficSplittingFields.tsx
  frontend/public/components/modals/taints-modal.tsx
  frontend/public/components/modals/tolerations-modal.tsx
  frontend/public/components/monitoring/receiver-forms/routing-labels-editor.tsx
  frontend/public/components/monitoring/silence-form.tsx
  frontend/public/components/storage/create-pvc.tsx
  frontend/public/components/utils/name-value-editor.jsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/dev-console, component/knative, component/monitoring, component/shared, lgtm

#6481 Bug 1874895: Enabling use of $BRIDGE_E2E_BROWSER_NAME with Cypress
  README.md
  frontend/package.json
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#6490 Bug 1873612: Handle empty responses if Content-Length is not specified
  frontend/public/co-fetch.js
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#6488 Bug 1873303: Protractor - added wait for Launcher Card to not initially exist, then is displayed when CR exists
  frontend/integration-tests/tests/dashboards/project-dashboard.scenario.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#6116 Bug 1874832: Fix test for ocp 4.4 4.5
  frontend/packages/ceph-storage-plugin/integration-tests/tests/2-tests/ocp-dashboard-card-healthcheck.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/views/ocp-dashboard-card-healthcheck.view.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/ceph, lgtm

#6502 Bug 1866338: Remove View More link from all the Capacity Breakdown Cards
  frontend/packages/ceph-storage-plugin/src/__tests__/independent-dashboard-breakdown-card.spec.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/breakdown-card/breakdown-header.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/capacity-breakdown/capacity-breakdown-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/independent-dashboard-page/breakdown-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/capacity-breakdown/capacity-breakdown-card.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/ceph, component/noobaa, lgtm

#6486 Bug 1860985: Update the minimum requirement for OCS
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/create-form.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/node-list.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/nodes-selection-list.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/ceph, component/lso, lgtm

#6470 Bug 1873427: GuidedTour: remove the confirmation modal while closing out the guide…
  frontend/integration-tests/views/overview.view.ts
  frontend/packages/console-app/src/components/tour/GuidedTour.tsx
  frontend/packages/console-app/src/components/tour/StepComponent.tsx
  frontend/packages/console-app/src/components/tour/TourCloseModal.tsx
  frontend/packages/console-app/src/components/tour/__tests__/tour-context.spec.ts
  frontend/packages/console-app/src/components/tour/const.ts
  frontend/packages/console-app/src/components/tour/tour-context.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#6489 Bug 1874547: fix unexpected changes of tabs when importing VMWare VMs
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/finalize-state-update/import-provider-finalize-state-update.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#6479 Bug 1869620: kubevirt support only e1000e and virtio
  frontend/packages/kubevirt-plugin/src/components/modals/nic-modal/nic-modal.tsx
  frontend/packages/kubevirt-plugin/src/constants/v2v-import/ovirt/ovirt-network-interface-model.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/network/network-interface-model.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#6373 Bug 1872283: Align UI with gitops-backend and remove mock-data
  frontend/packages/dev-console/src/components/gitops/GitOpsDetailsPage.tsx
  frontend/packages/dev-console/src/components/gitops/GitOpsEmptyState.scss
  frontend/packages/dev-console/src/components/gitops/GitOpsEmptyState.tsx
  frontend/packages/dev-console/src/components/gitops/GitOpsListPage.tsx
  frontend/packages/dev-console/src/components/gitops/details/CommitDetails.tsx
  frontend/packages/dev-console/src/components/gitops/details/GitOpsDetails.scss
  frontend/packages/dev-console/src/components/gitops/details/GitOpsDetails.tsx
  frontend/packages/dev-console/src/components/gitops/details/GitOpsDetailsController.tsx
  frontend/packages/dev-console/src/components/gitops/details/GitOpsDetailsPageHeading.scss
  frontend/packages/dev-console/src/components/gitops/details/GitOpsDetailsPageHeading.tsx
  frontend/packages/dev-console/src/components/gitops/details/GitOpsServiceDetailsSection.tsx
  frontend/packages/dev-console/src/components/gitops/details/PodRingWrapper.tsx
  frontend/packages/dev-console/src/components/gitops/list/GitOpsList.scss
  frontend/packages/dev-console/src/components/gitops/list/GitOpsList.tsx
  frontend/packages/dev-console/src/components/gitops/utils/gitops-utils.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/dev-console, lgtm

#6465 Bug 1873230: show message for retrying in conclusion if there are failed tasks
  frontend/packages/console-app/src/components/quick-starts/controller/QuickStartConclusion.tsx
  frontend/packages/console-app/src/components/quick-starts/controller/__tests__/QuickStartConclusion.spec.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#6474 Bug 1866739: Filter incompatible x-descriptors before rendering operand form
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/const.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand/utils.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/olm, lgtm

#6499 Bug 1874763: Fix import error status on VMs with a successfully completed CDI import
  frontend/packages/kubevirt-plugin/src/selectors/pod/selectors.ts
  frontend/packages/kubevirt-plugin/src/statuses/vm/vm-status.ts
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, component/kubevirt, lgtm

#6509 Bug 1875345: Query Browser: Fix JS error when label key is `id`
  frontend/public/components/monitoring/metrics.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/monitoring, lgtm

#6347 Bug 1872369: Fix reading TLSConfig for HelmChartRepository
  cmd/bridge/main.go
  pkg/helm/actions/fake/helmcrconfigs.go
  pkg/helm/actions/get_repos.go
  pkg/helm/actions/get_repos_test.go
  pkg/helm/chartproxy/config.go
  pkg/helm/chartproxy/proxy.go
  pkg/helm/chartproxy/proxy_test.go
  pkg/helm/chartproxy/repos.go
  pkg/helm/chartproxy/repos_test.go
  pkg/helm/chartproxy/testdata/azureRepoIndex.yaml
  pkg/helm/chartproxy/testdata/mergedRepoIndex.yaml
  pkg/helm/chartproxy/testdata/sampleRepoIndex.yaml
  pkg/helm/handlers/handler_test.go
  pkg/helm/handlers/handlers.go
  pkg/server/server.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/backend, lgtm

#6516 Bug 1875371: Fix to show topology list view filtered items correctly
  frontend/packages/dev-console/src/components/topology/filters/__tests__/useSearchFilter.spec.ts
  frontend/packages/dev-console/src/components/topology/filters/useSearchFilter.ts
  frontend/packages/dev-console/src/components/topology/list-view/TopologyListView.scss
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#6517 Bug 1875488: Fix sample application form create
  frontend/packages/dev-console/src/components/import/ImportSampleForm.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#6519 Bug 1875397: Update wording in quick start panel
  frontend/packages/console-app/src/components/quick-starts/controller/QuickStartIntroduction.tsx
  frontend/packages/console-app/src/components/quick-starts/data/explore-pipeline-quickstart.ts
  frontend/packages/console-app/src/components/quick-starts/data/explore-serverless-quickstart.ts
  frontend/packages/console-app/src/components/quick-starts/data/install-associate-pipeline-quickstart.ts
  frontend/packages/console-app/src/components/quick-starts/data/serverless-application-quickstart.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, kind/bug, lgtm

#6515 Bug 1871676: Monitoring: Fix "Not Firing" option in Rules list filter
  frontend/public/components/monitoring/alerting.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/monitoring, lgtm

#6520 Bug 1875440: Make pipeline task parameter editable (if it was only defined in the pipeline, not in the task)
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/__tests__/update-utils.spec.ts
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/update-utils.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#6259 Bug 1857399: Fix chip to show All when no other selected
  frontend/public/components/events.jsx
  frontend/public/components/resource-dropdown.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#6497 Bug 1873331: Adds alt-text to masthead icons
  frontend/public/components/masthead-toolbar.jsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#6508 Bug 1875287: update virtualmachineimport CRD version
  frontend/packages/kubevirt-plugin/src/models/index.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#6426 Bug 1872279: Added e2e tests for ocs install for Attached Devices
  frontend/packages/ceph-storage-plugin/integration-tests/tests/1-install/installFlow.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/utils/consts.ts
  frontend/packages/ceph-storage-plugin/integration-tests/views/installFlow.view.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/state.ts
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/local-volume-set-inner.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/ceph, component/lso, lgtm

#6514 Bug 1843222: fixes issue with internal image imports for self-provisioner with edi…
  frontend/packages/dev-console/src/components/import/deployImage-submit-utils.ts
  frontend/packages/dev-console/src/components/import/image-search/ImageStreamNsDropdown.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, lgtm

#6524 Bug 1872926: Remove overriding of generic CSS from LSO plugin
  frontend/packages/local-storage-operator-plugin/src/components/auto-detect-volume/auto-detect-volume.scss
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/create-local-volume-set.scss
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/lso, lgtm

#6442 Bug 1872644: gherkin script for HPA-add,edit an delete-ODC-3556
  frontend/packages/dev-console/integration-tests/features/topology/horizonta_pod_autoscaling/Add_HPA_Action.feature
  frontend/packages/dev-console/integration-tests/features/topology/horizonta_pod_autoscaling/Delete_HPA_Action.feature
  frontend/packages/dev-console/integration-tests/features/topology/horizonta_pod_autoscaling/Edit_HPA_Action.feature
  frontend/packages/dev-console/integration-tests/features/topology/horizonta_pod_autoscaling/HPA_Topology_&_Sidebar.feature
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/dev-console, lgtm

#6494 Bug 1874817: fixes issue with route creation in case of no ports exposed
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-data.ts
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/ImportSamplePage.tsx
  frontend/packages/dev-console/src/components/import/__mocks__/deployImage-validation-mock.ts
  frontend/packages/dev-console/src/components/import/__mocks__/import-validation-mock.ts
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/utils/__tests__/__snapshots__/shared-submit-utils.spec.ts.snap
  frontend/packages/dev-console/src/utils/__tests__/shared-submit-utils.spec.ts
  frontend/packages/dev-console/src/utils/shared-submit-utils.ts
  frontend/packages/git-service/src/types/build-tools.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, component/git-service, lgtm

#6530 Bug 1875790: add additional namespace for kubevirt-storage-class-defaults
  frontend/packages/kubevirt-plugin/src/constants/sc.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#6496 Bug 1850583: add better connection error message for VM Import
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/strings/import-providers.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/import-providers-tab/providers/vm-import-provider-object-status.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#6472 Bug 1873481: Show workspace volume-type item fields only when added
  frontend/packages/dev-console/src/components/pipelines/modals/common/MultipleKeySelector.scss
  frontend/packages/dev-console/src/components/pipelines/modals/common/MultipleKeySelector.tsx
  frontend/packages/dev-console/src/components/pipelines/modals/common/MultipleResourceKeySelector.tsx
  frontend/packages/dev-console/src/components/pipelines/modals/common/PiplelineWorkspacesSection.tsx
  frontend/packages/dev-console/src/components/pipelines/modals/common/validation-utils.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#6523 Bug 1872919: Add routes for OCS OLM pages with full resource references
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/ceph, component/noobaa, lgtm

#6534 Bug 1875870: fixes: Guided Tour welcome screen show OpenShift undefined
  frontend/packages/dev-console/src/components/guided-tour/GuidedTourText.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, lgtm

#6436 Bug 1872405: Add requested capacity to pvc details page
  frontend/public/components/persistent-volume-claim.jsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#6537 Bug 1875347: can't have a disk provision source and use cdrom type as a disk
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/storage-tab-validation.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#6495 Bug 1862918: add support for import SRIOV networks from oVirt
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/providers/ovirt/ovirt-prefill-vm.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/providers/ovirt/update-ws-queries.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/types.ts
  frontend/packages/kubevirt-plugin/src/components/modals/nic-modal/nic-modal.tsx
  frontend/packages/kubevirt-plugin/src/types/ui/nic.ts
  frontend/packages/kubevirt-plugin/src/types/vm-import/ovirt/ovirt-vm.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#6526 Bug 1875758: Remove extensions for Volume Snapshot from Ceph Plugin
  frontend/packages/ceph-storage-plugin/README.md
  frontend/packages/ceph-storage-plugin/src/features.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/ceph, lgtm

#6529 Bug 1875794: Feature guards for Minimal Deployment and Cluster Encryption
  frontend/packages/ceph-storage-plugin/README.md
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/install-lso-sc.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/create-form.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/ocs-request-data.ts
  frontend/packages/ceph-storage-plugin/src/features.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/ceph, lgtm

#6539 Bug 1876442: fixes custom query selection should not show any query
  frontend/packages/dev-console/src/components/monitoring/metrics/MetricsQueryInput.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, lgtm

#6410 Bug 1871895: Use form data for application ImageStream name
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/dev-console/src/components/import/deployImage-submit-utils.ts
  frontend/packages/dev-console/src/components/import/image-search/ImageStreamNsDropdown.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#6313 Bug 1873140: fix Alert State filter for dev perspective Alerts
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlerts.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/__tests__/MonitoringAlerts.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/__tests__/monitoring-alerts-utils.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/monitoring-alerts-utils.tsx
  frontend/public/components/monitoring/alerting.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/core, component/dev-console, component/monitoring, lgtm

#6394 Bug 1872981: Add basic functionality tests for selecting multiple storage classes
  frontend/packages/ceph-storage-plugin/integration-tests/mocks/storage-class.ts
  frontend/packages/ceph-storage-plugin/integration-tests/tests/1-install/installFlow.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/tests/2-tests/add-capacity.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/tests/3-tests/multiple-storage-class-selection.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/views/add-capacity.view.ts
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
  frontend/packages/ceph-storage-plugin/src/utils/add-capacity.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/ceph, component/lso, lgtm

#6504 Bug 1875274: Add test for open vnc in new window
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.tab.console.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/consolesView.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm, ok-to-test

#6542 Bug 1876511: fixes issue with validation on pubsub modal
  frontend/packages/knative-plugin/src/components/pub-sub/PubSubModal.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/knative, lgtm

#6547 Bug 1876845: List and use Projects instead of Namespaces in GitOps list page
  frontend/packages/dev-console/src/components/gitops/GitOpsListPage.tsx
  frontend/packages/dev-console/src/components/gitops/details/PodRingWrapper.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#6544 Bug 1863331: fix devicePath when using block mode
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/providers/vmware/vmware-prefill-vm.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#6545 Bug 1876377: remove the import VM from dev perspective
  frontend/packages/kubevirt-plugin/src/images/virtual-machine.svg
  frontend/packages/kubevirt-plugin/src/plugin.tsx
  frontend/packages/kubevirt-plugin/src/utils/accessReview-v2v.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#6548 Bug 1848957: Removes the objects count from buckets card
  frontend/packages/noobaa-storage-plugin/src/components/buckets-card/buckets-card.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/noobaa, lgtm

#6221 Bug 1853599: Fixes bug attaching block storage PVC to deployments
  frontend/public/components/storage/attach-storage.tsx
  frontend/public/components/utils/list-dropdown.jsx
  frontend/public/components/utils/pvc-dropdown.tsx
  frontend/public/module/k8s/types.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/core, lgtm

#6393 Bug 1862500: Use initialization-resource annotation for yaml
  frontend/packages/knative-plugin/src/utils/create-eventsources-utils.ts
  frontend/packages/operator-lifecycle-manager/src/components/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-install-page.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/knative, component/olm, lgtm

#6525 Bug 1875702: Add test to check network supported models
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.resources.scenario.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm, ok-to-test

#6555 Bug 1874257: Hide cluster upgrade UI on OpenShift Dedicated
  frontend/public/components/about-modal.tsx
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/details-card.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/status-card.tsx
  frontend/public/components/notification-drawer.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/dashboard, lgtm

#6510 Bug 1875349: Smoke Test Cases for Monitoring
  frontend/packages/dev-console/integration-tests/features/monitoring/monitoring-Page-Smoke-Metrics-ODC-4116.feature
  frontend/packages/dev-console/integration-tests/features/monitoring/monitoring-Page-Smoke-Tests-ODC-4116.feature
  frontend/packages/dev-console/integration-tests/features/monitoring/monitoring-Tab-Sidebar-ODC-4116.feature
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, lgtm

#6564 Bug 1876420: Label changes for logged in users table
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-details-card.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-details.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-users.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#6563 Bug 1876985: Change the text message display for guest agent feature
  frontend/packages/kubevirt-plugin/src/strings/vm/messages.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#6532 Bug 1875797: remove vmware-to-kubevirt-os warning from vmWare import wizard
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/providers/vmware/update-ws-queries.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, lgtm

#6546 Bug 1876778: fixes issue with metrics not showing graph via topology
  frontend/packages/dev-console/src/components/monitoring/metrics/MetricsQueryInput.tsx
  frontend/packages/dev-console/src/components/monitoring/metrics/MonitoringMetrics.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/dev-console, lgtm

#6536 Bug 1867034: Updated cluster dashboard queries
  frontend/packages/console-shared/src/promql/cluster-dashboard.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/shared, lgtm

#6561 Bug 1877198: Query Browser: Improve error message when Prometheus API returns 403
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/components/monitoring/query-browser.tsx
  frontend/public/components/monitoring/types.ts
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, component/core, component/monitoring, lgtm

#6565 Bug 1873402: Add deleting status
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/overview-dashboard/inventory.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/vm-status.ts
  frontend/packages/kubevirt-plugin/src/statuses/vm/vm-status.ts
  frontend/packages/kubevirt-plugin/src/topology/components/nodes/VmNode.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#6224 Bug 1875360: Update project workloads tab to use topology list view
  frontend/integration-tests/tests/overview/overview.scenario.ts
  frontend/integration-tests/views/overview.view.ts
  frontend/packages/console-shared/src/utils/resource-utils.ts
  frontend/packages/dev-console/src/components/topology/TopologyDataRenderer.tsx
  frontend/public/components/namespace.jsx
  frontend/public/components/overview/OverviewListPage.tsx
  frontend/public/components/overview/_project-overview.scss
  frontend/public/components/overview/index.tsx
  frontend/public/components/overview/list-view/_list-view.scss
  frontend/public/components/overview/list-view/index.tsx
  frontend/public/components/overview/list-view/list-view-additional-info.tsx
  frontend/public/components/overview/list-view/list-view-body.tsx
  frontend/public/components/overview/list-view/list-view-description-heading.tsx
  frontend/public/components/overview/list-view/list-view-description.tsx
  frontend/public/components/overview/list-view/list-view-group-item.tsx
  frontend/public/components/overview/list-view/list-view-item.tsx
  frontend/public/components/overview/list-view/list-view-main-info.tsx
  frontend/public/components/overview/list-view/list-view-row.tsx
  frontend/public/components/overview/list-view/list-view.tsx
  frontend/public/components/overview/pod-overview.tsx
  frontend/public/components/overview/project-overview.tsx
  frontend/public/components/overview/resource-overview-pages.tsx
  frontend/public/components/utils/headings.tsx
  frontend/public/style.scss
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/dev-console, component/shared, kind/bug, lgtm

#6485 Bug 1872340: E2E test for restoring a claim from Snapshot
  frontend/packages/console-app/src/components/modals/restore-pvc/restore-pvc-modal.tsx
  frontend/packages/integration-tests-cypress/mocks/snapshot.ts
  frontend/packages/integration-tests-cypress/tests/storage/snapshot.spec.ts
  frontend/packages/integration-tests-cypress/views/common.ts
  frontend/packages/integration-tests-cypress/views/storage/snapshot.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/shared, lgtm

#6439 Bug 1872480: Fixes node-list alignment on storageCluster creation
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/attached-devices.scss
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/install-lso-sc.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/sc-node-list.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/create-form.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/node-list.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/ocs-install.scss
  frontend/packages/local-storage-operator-plugin/src/components/auto-detect-volume/auto-detect-volume.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/create-local-volume-set.scss
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/create-local-volume-set.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/nodes-selection-list.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/ceph, component/lso, lgtm

#6540 Bug 1866315: Inconsistent naming in storage cluster creation
  frontend/packages/ceph-storage-plugin/src/models.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/ceph, lgtm

#6570 Bug 1877351: Add fallback to builder image detection
  frontend/packages/dev-console/src/components/edit-application/EditApplicationForm.tsx
  frontend/packages/dev-console/src/components/import/GitImportForm.tsx
  frontend/packages/dev-console/src/components/import/SourceToImageForm.tsx
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#6574 Bug 1814611: use emptyDir instead of persistent storage for temp disk
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/importWizard.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/providers/vmware/vmware-prefill-vm.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/storage-tab/vm-wizard-storage-row.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/types.ts
  frontend/packages/kubevirt-plugin/src/constants/v2v.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/import/import-v2vvmware.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/import/objects/conversion-pod.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#6513 Bug 1875381: Manual cherrypick fix log whitescreen (release-4.4)
  frontend/packages/dev-console/src/components/pipelineruns/detail-page-tabs/PipelineRunLogs.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, kind/bug, lgtm

#6518 Bug 1875599: trigger groupings in Event Listener details page
  frontend/packages/dev-console/src/components/pipelines/detail-page-tabs/EventListenerDetails.tsx
  frontend/packages/dev-console/src/components/pipelines/detail-page-tabs/EventListenerTriggers.scss
  frontend/packages/dev-console/src/components/pipelines/detail-page-tabs/EventListenerTriggers.tsx
  frontend/packages/dev-console/src/components/pipelines/resource-overview/DynamicResourceLinkList.scss
  frontend/packages/dev-console/src/components/pipelines/resource-overview/DynamicResourceLinkList.tsx
  frontend/packages/dev-console/src/components/pipelines/utils/triggers.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#6522 Bug 1875494: Operatorhub side panel overlaps quick start side panel
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/create-local-volume-set.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/disk-list.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/donut-chart.tsx
  frontend/packages/console-app/src/components/quick-starts/QuickStartCloseModal.tsx
  frontend/packages/console-app/src/components/quick-starts/QuickStartDrawer.scss
  frontend/packages/console-app/src/components/quick-starts/QuickStartDrawer.tsx
  frontend/packages/console-app/src/components/tour/TourStepComponent.tsx
  frontend/packages/console-app/src/components/tour/__tests__/TourStepComponent.spec.tsx
  frontend/packages/console-shared/src/components/index.ts
  frontend/packages/console-shared/src/components/modal/Modal.scss
  frontend/packages/console-shared/src/components/modal/Modal.tsx
  frontend/packages/console-shared/src/components/modal/index.ts
  frontend/packages/kubevirt-plugin/src/components/modals/vm-status-modal/vm-status-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
  frontend/public/components/app.jsx
  frontend/public/components/catalog/_catalog.scss
  frontend/public/components/catalog/catalog-items.tsx
  frontend/public/components/factory/modal.tsx
  frontend/public/components/modals/_modals.scss
  frontend/public/index.html
  frontend/public/style/_overrides.scss
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/ceph, component/core, component/kubevirt, component/olm, component/shared, lgtm

#6550 Bug 1876741: undo filtering of incompatible helm charts
  frontend/__mocks__/catalogItemsMocks.ts
  frontend/packages/dev-console/src/components/helm/__tests__/helm-release-mock-data.ts
  frontend/packages/dev-console/src/components/helm/__tests__/helm-utils.spec.ts
  frontend/packages/dev-console/src/components/helm/form/HelmChartVersionDropdown.tsx
  frontend/packages/dev-console/src/components/helm/helm-utils.ts
  frontend/public/components/catalog/catalog-page.tsx
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, component/core, component/dev-console, kind/bug, lgtm

#6580 Bug 1874069: Accessibility - An incorrect focus order is provided when a user tabs through the “View Settings” control in Overview page
  frontend/packages/console-shared/src/components/dashboard/dashboard-card/DashboardCardLink.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dashboard, component/shared, lgtm

#6582 Bug 1873779: show the correct access mode for ovirt import
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/providers/ovirt/ovirt-prefill-vm.ts
  frontend/packages/kubevirt-plugin/src/types/vm-import/ovirt/ovirt-vm.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#6583 Bug 1877736: fixes warning shown on close of delete revision modal
  frontend/packages/knative-plugin/src/components/revisions/DeleteRevisionModal.tsx
  frontend/packages/knative-plugin/src/components/revisions/DeleteRevisionModalController.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/knative, lgtm

#6163 Bug 1860535: show project description
  frontend/integration-tests/tests/dashboards/project-dashboard.scenario.ts
  frontend/public/components/_resource.scss
  frontend/public/components/dashboard/project-dashboard/_details-card.scss
  frontend/public/components/dashboard/project-dashboard/details-card.tsx
  frontend/public/components/namespace.jsx
  frontend/public/style.scss
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/dashboard, kind/bug, lgtm

#6307 Bug 1868070: Updates to content for quick starts
  frontend/packages/console-app/src/components/quick-starts/controller/__tests__/QuickStartTasks.spec.tsx
  frontend/packages/console-app/src/components/quick-starts/data/add-healthchecks-quickstart.ts
  frontend/packages/console-app/src/components/quick-starts/data/explore-pipeline-quickstart.ts
  frontend/packages/console-app/src/components/quick-starts/data/explore-serverless-quickstart.ts
  frontend/packages/console-app/src/components/quick-starts/data/install-associate-pipeline-quickstart.ts
  frontend/packages/console-app/src/components/quick-starts/data/monitor-sampleapp-quickstart.ts
  frontend/packages/console-app/src/components/quick-starts/data/quick-start-data.ts
  frontend/packages/console-app/src/components/quick-starts/data/sample-application-quickstart.ts
  frontend/packages/console-app/src/components/quick-starts/data/serverless-application-quickstart.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#6402 Bug 1871103: Remove 'Template' field from VM wizard
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard-footer.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/error-components/resource-load-errors.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/storage-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/vm-settings-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/internal-actions.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/main-actions/create-vm.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/reducers.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/prefill-vm-template-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/vm-settings-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/types.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/vm-settings-tab-validation.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/selectors/combined.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/selectors/immutable/vm-settings.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/selectors/template.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/strings/renderable-field.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/review-tab/general-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/review-tab/utils.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/os-flavor.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/user-templates.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/vm-settings-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/workload-profile.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/types.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/utils/renderable-field-utils.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/create.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/types.ts
  frontend/packages/kubevirt-plugin/src/selectors/immutable/template/combined.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm-template/combined-dependent.ts
  frontend/packages/kubevirt-plugin/src/utils/immutable.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#6562 Bug 1862564: Fix column visibility on various screen sizes
  frontend/packages/console-app/src/components/nodes/NodesPage.tsx
  frontend/public/components/factory/table.tsx
  frontend/public/components/modals/column-management-modal.tsx
  frontend/public/components/namespace.jsx
  frontend/public/components/pod.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#6571 Bug 1874028: Update node queries to exclude fstype, mountpoint
  frontend/packages/console-app/src/components/nodes/NodesPage.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/queries.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#6575 Bug 1877390: Do not show helm resources until helm release is ready.
  frontend/packages/dev-console/src/components/topology/helm/helm-data-transformer.ts
  frontend/packages/dev-console/src/components/topology/helm/isHelmResource.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#6586 Bug 1877821: Show quick start prerequisites only if provided
  frontend/packages/console-app/src/components/quick-starts/catalog/QuickStartTileDescription.tsx
  frontend/packages/console-app/src/components/quick-starts/catalog/__tests__/QuickStartTileDescription.spec.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#6557 Bug 1877083: add RBAC checks to cluster upgrade UI
  frontend/__tests__/components/cluster-settings.spec.tsx
  frontend/public/components/about-modal.tsx
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/details-card.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/status-card.tsx
  frontend/public/components/notification-drawer.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, component/core, component/dashboard, lgtm

#6507 Bug 1851013: Disable creation of External Mode Cluster in cloud environments
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-page.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/ceph, lgtm

#6446 Bug 1872625: cherry-pick 4.5 add resource icon to task and cluster-task
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/hooks.ts
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/update-utils.ts
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/utils.ts
  frontend/packages/dev-console/src/components/pipelines/pipeline-topology/TaskListNode.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, lgtm

#6506 Bug 1875308: Add support for more params and create resources only if required
  frontend/packages/dev-console/src/components/import/pipeline/pipeline-template-utils.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/dev-console, lgtm

#6592 Bug 1875193: Check CONSOLE_LINK flag instead of making links optional
  frontend/__tests__/reducers/features.spec.tsx
  frontend/packages/console-shared/src/constants/common.ts
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/reducers/features.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/shared, lgtm

#6374 Bug 1872340: Fix PVC E2E tests
  frontend/packages/ceph-storage-plugin/integration-tests/tests/2-tests/pvc.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/tests/2-tests/test-expand.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/views/pvc.view.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/ceph, lgtm

#6590 Bug 1877858: render ConsoleNotification BannerTop if notification.spec.…
  frontend/public/components/console-notifier.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#6599 Bug 1867034: follow on fix cluster dashboard queries
  frontend/packages/console-shared/src/promql/cluster-dashboard.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/shared, lgtm

#6493 Bug 1875809: Restyle Time to inlineblock for Topology - Pipeline & Builds
  frontend/packages/dev-console/src/components/pipelines/pipeline-overview/PipelineRunItem.scss
  frontend/packages/dev-console/src/components/pipelines/pipeline-overview/PipelineRunItem.tsx
  frontend/public/components/overview/_build-overview.scss
  frontend/public/components/overview/build-overview.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/dev-console, kind/bug, lgtm

#6512 Bug 1875376: Show helm charts created by operators as a child of the operator
  frontend/packages/console-shared/src/utils/resource-utils.ts
  frontend/packages/dev-console/src/components/topology/TopologyDataRenderer.tsx
  frontend/packages/dev-console/src/components/topology/__tests__/topology-utils.spec.ts
  frontend/packages/dev-console/src/components/topology/components/componentUtils.ts
  frontend/packages/dev-console/src/components/topology/components/groups/ResourceKindsInfo.tsx
  frontend/packages/dev-console/src/components/topology/components/nodeContextMenu.tsx
  frontend/packages/dev-console/src/components/topology/data-transforms/DataModelExtension.tsx
  frontend/packages/dev-console/src/components/topology/data-transforms/ModelContext.ts
  frontend/packages/dev-console/src/components/topology/helm/__tests__/helm-data-transformer.spec.ts
  frontend/packages/dev-console/src/components/topology/helm/helm-data-transformer.ts
  frontend/packages/dev-console/src/components/topology/list-view/ListElementWrapper.tsx
  frontend/packages/dev-console/src/components/topology/list-view/TopologyListView.scss
  frontend/packages/dev-console/src/components/topology/list-view/TopologyListViewNode.tsx
  frontend/packages/dev-console/src/components/topology/list-view/cells/TypedResourceBadgeCell.tsx
  frontend/packages/dev-console/src/components/topology/operators/TopologyOperatorBackedResources.tsx
  frontend/packages/dev-console/src/components/topology/operators/__tests__/operator-data-transformer.spec.ts
  frontend/packages/dev-console/src/components/topology/operators/index.ts
  frontend/packages/dev-console/src/components/topology/operators/operators-data-transformer.ts
  frontend/packages/dev-console/src/components/topology/operators/operatorsDataModelReconciler.ts
  frontend/packages/dev-console/src/components/topology/operators/operatorsTopologyPlugin.ts
  frontend/packages/dev-console/src/components/topology/topology-types.ts
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
  frontend/packages/dev-console/src/extensions/topology.ts
  frontend/packages/dev-console/src/utils/application-utils.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/dev-console, component/shared, kind/bug, lgtm

#6569 Bug 1875216: update smoke test suite gherkin scripts with test data
  frontend/packages/dev-console/integration-tests/features/Helm/actions-on-HelmRelease.feature
  frontend/packages/dev-console/integration-tests/features/Helm/default-HelmCharts-Installation.feature
  frontend/packages/dev-console/integration-tests/features/Helm/helm-Navigation.feature
  frontend/packages/dev-console/integration-tests/features/Helm/sidebar-HelmRelease.feature
  frontend/packages/dev-console/integration-tests/features/Knative/knative-Actions_on_event_sources.feature
  frontend/packages/dev-console/integration-tests/features/Knative/knative-Actions_on_knative_revision.feature
  frontend/packages/dev-console/integration-tests/features/Knative/knative-Actions_on_knative_service.feature
  frontend/packages/dev-console/integration-tests/features/Knative/knative-Apcahe_camel.feature
  frontend/packages/dev-console/integration-tests/features/Knative/knative-Create_event_sources.feature
  frontend/packages/dev-console/integration-tests/features/Knative/knative-Create_workload.feature
  frontend/packages/dev-console/integration-tests/features/Knative/knative-Event_source_side_pane.feature
  frontend/packages/dev-console/integration-tests/features/Knative/knative-side_pane.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/addFlow-Create_From_Catalog.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/addFlow-Create_From_Container_Image.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/addFlow-Create_From_Database.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/addFlow-Create_From_Docker_File.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/addFlow-Create_From_Git.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/addFlow-Create_From_Yaml.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/addFlow-Create_Operator_Backed.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/addFlow-Page-Details.feature
  frontend/packages/dev-console/integration-tests/features/helm/actions-on-HelmRelease.feature
  frontend/packages/dev-console/integration-tests/features/helm/default-HelmCharts-Installation.feature
  frontend/packages/dev-console/integration-tests/features/helm/helm-Chart-Version-ODC-3022.feature
  frontend/packages/dev-console/integration-tests/features/helm/helm-Installation-View-ODC-2993.feature
  frontend/packages/dev-console/integration-tests/features/helm/helm-Navigation.feature
  frontend/packages/dev-console/integration-tests/features/helm/helm-compatability-ODC-3430.feature
  frontend/packages/dev-console/integration-tests/features/helm/sidebar-HelmRelease.feature
  frontend/packages/dev-console/integration-tests/features/operators.feature
  frontend/packages/dev-console/integration-tests/features/pipelines/pipelines-Actions.feature
  frontend/packages/dev-console/integration-tests/features/pipelines/pipelines-Add_pages_for_tekton_trigger_3096
  frontend/packages/dev-console/integration-tests/features/pipelines/pipelines-Create_From_Builder_Page.feature
  frontend/packages/dev-console/integration-tests/features/pipelines/pipelines-Created_From_Add_Options.feature
  frontend/packages/dev-console/integration-tests/features/pipelines/pipelines-Runs.feature
  frontend/packages/dev-console/integration-tests/features/pipelines/pipelines-Triggers.feature
  frontend/packages/dev-console/integration-tests/features/pipelines/pipelines-secrets.feature
  frontend/packages/dev-console/integration-tests/features/pipelines/pipelines-workspaces.feature
  frontend/packages/dev-console/integration-tests/features/project-creation.feature
  frontend/packages/dev-console/integration-tests/features/topology/topology-application_grouping.feature
  frontend/packages/dev-console/integration-tests/features/topology/topology-chart_area_visual.feature
  frontend/packages/dev-console/integration-tests/features/topology/topology-connectting_nodes.feature
  frontend/packages/dev-console/integration-tests/features/topology/topology-display_option.feature
  frontend/packages/dev-console/integration-tests/features/topology/topology-editing_app-node.feature
  frontend/packages/dev-console/integration-tests/features/topology/topology-list_view.feature
  frontend/packages/dev-console/integration-tests/features/topology/topology-workload_sidebar.feature
  frontend/packages/dev-console/integration-tests/features/topology/topoplogy-deletion_of_workload.feature
  frontend/packages/dev-console/integration-tests/features/virtulization/actions-on-Vm.feature
  frontend/packages/dev-console/integration-tests/features/virtulization/install-CNV-Operator.feature
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, lgtm

#6600 Bug 1867824: Follow on fix for operand form field sort order.
  frontend/packages/console-shared/src/components/dynamic-form/utils.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/shared, lgtm

#6521 Bug 1872469: Port login tests from protractor to Cypress
  frontend/integration-tests/tests/login.scenario.ts
  frontend/packages/console-app/src/components/tour/TourStepComponent.tsx
  frontend/packages/console-app/src/components/tour/steps/StepFooter.tsx
  frontend/packages/integration-tests-cypress/plugins/index.js
  frontend/packages/integration-tests-cypress/support/login.ts
  frontend/packages/integration-tests-cypress/tests/app/auth-multiuser-login.spec.ts
  frontend/packages/integration-tests-cypress/tests/monitoring/monitoring.spec.ts
  frontend/packages/integration-tests-cypress/tests/storage/snapshot.spec.ts
  frontend/packages/integration-tests-cypress/views/guided-tour.ts
  frontend/packages/integration-tests-cypress/views/masthead.ts
  frontend/packages/integration-tests-cypress/views/nav.ts
  frontend/public/components/global-notifications.jsx
  frontend/public/components/masthead-toolbar.jsx
  test-cypress.sh
  test-prow-e2e.sh
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/core, lgtm

#6585 Bug 1877806: Skip updating iframe height when component is unmounted
  frontend/public/components/markdown-view.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#6601 Bug 1863402: Fix for Developer console tables show extra columns due to column management
  frontend/public/components/namespace.jsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#6556 Bug 1873326: Adding accessibility alt and title to icons within overview status and activity sections
  frontend/packages/console-shared/src/components/dashboard/activity-card/EventItem.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/AlertItem.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/states.tsx
  frontend/packages/console-shared/src/components/status/icons.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dashboard, component/shared, lgtm

#6605 Bug 1878618: Update kubevirt gating image to centos 8
  frontend/packages/kubevirt-plugin/integration-tests/dockerfile
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, lgtm

#6477 Bug 1872140: Adjust vm console url
  frontend/packages/kubevirt-plugin/src/constants/vm/constants.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, lgtm

#6584 Bug 1874245: fix non-admin access review for create VM from template
  frontend/packages/kubevirt-plugin/src/components/vm-templates/menu-actions.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#6248 Bug 1872336: Use metadata.generatorName when create a pipeline trigger
  frontend/packages/dev-console/src/components/pipelines/modals/common/__tests__/utils.spec.ts
  frontend/packages/dev-console/src/components/pipelines/modals/common/utils.ts
  frontend/packages/dev-console/src/components/pipelines/modals/triggers/resource-utils.ts
  frontend/packages/dev-console/src/components/pipelines/modals/triggers/submit-utils.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/dev-console, lgtm

#6433 Bug 1871108: usability bug: the ui selections are unclear
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/form/form-field.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/strings/renderable-field.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/container-source.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/flavor.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/os.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/provision-source.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/url-source.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/vm-settings-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/workload-profile.tsx
  frontend/packages/kubevirt-plugin/src/components/form/form-pf-select.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/storage-ui-source.ts
  frontend/packages/kubevirt-plugin/src/components/modals/nic-modal/nic-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/__tests__/__snapshots__/vm-template-source.spec.tsx.snap
  frontend/packages/kubevirt-plugin/src/constants/select-dropdown-object-enum.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/constants.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/network/network-interface-model.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/network/network-interface-type.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/provision-source.ts
  frontend/packages/kubevirt-plugin/src/utils/strings.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#6613 Bug 1878835: Make whole quick start badge clickable
  frontend/public/components/dashboard/dashboards-page/quick-start-badge.scss
  frontend/public/components/dashboard/dashboards-page/quick-start-badge.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/dashboard, lgtm

#6543 Bug 1876440: Cloud init section of common-templates is ignored
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/vm-settings-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/cloud-init-tab/cloud-init-tab.tsx
  frontend/packages/kubevirt-plugin/src/selectors/immutable/template/combined.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#6611 Bug 1878653: fixes event source form create button enabled when form is invalid
  frontend/packages/knative-plugin/src/components/add/event-sources/EventSourcesSelector.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/__tests__/EventSourcesSelector.spec.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/knative, lgtm

#6620 Bug 1878996: Passing both deviceTypes to allow disk and part to be provisioned while creating Local Volume Set
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/local-volume-set-request-data.ts
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/types.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/lso, lgtm

#6626 Bug 1878037: Dont provide non-admin user a link to upload an image
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/os.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/vm-settings-tab.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#6324 Bug 1878016: Add documentation to describe configuring multiple helm chart repos
  docs/helm/README.md
  docs/helm/ca-certifcate-configmap.png
  docs/helm/client-tls-secret.png
  docs/helm/configure-3rdparty-repos-access.md
  docs/helm/endpoints_api.md
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, lgtm

#6541 Bug 1876515: Fix inline taskSpec error in pipeline page
  frontend/packages/dev-console/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualization.tsx
  frontend/packages/dev-console/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationTask.tsx
  frontend/packages/dev-console/src/components/pipelines/detail-page-tabs/pipeline-details/__tests__/PipelineVisualization.spec.tsx
  frontend/packages/dev-console/src/utils/__tests__/pipeline-actions.spec.ts
  frontend/packages/dev-console/src/utils/__tests__/pipeline-test-data.ts
  frontend/packages/dev-console/src/utils/__tests__/pipeline-utils.spec.ts
  frontend/packages/dev-console/src/utils/pipeline-actions.tsx
  frontend/packages/dev-console/src/utils/pipeline-augment.ts
  frontend/packages/dev-console/src/utils/pipeline-utils.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, lgtm

#6624 Bug 1878968: Empty secret should be editable in generic secret form
  frontend/public/components/secrets/create-secret.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#6625 Bug 1878781: Not clear what disk interface to use
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/network/network-interface-model.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/storage/disk-bus.ts
  frontend/packages/kubevirt-plugin/src/utils/strings.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#6578 Bug 1877441: Watch for changes to Tasks & ClusterTasks when in pipeline builder
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/hooks.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#6608 Bug 1872972: Make efficiency cards consistent
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/storage-efficiency-card/storage-efficiency-card-item.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/storage-efficiency-card/storage-efficiency-card.tsx
  frontend/packages/noobaa-storage-plugin/integration-tests/tests/objectServiceDashboard.scenario.ts
  frontend/packages/noobaa-storage-plugin/integration-tests/views/noobaaDashboardPage.view.ts
  frontend/packages/noobaa-storage-plugin/src/components/object-data-reduction-card/object-data-reduction-card-item.tsx
  frontend/packages/noobaa-storage-plugin/src/components/object-data-reduction-card/object-data-reduction-card.scss
  frontend/packages/noobaa-storage-plugin/src/components/object-data-reduction-card/object-data-reduction-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/storage-efficiency-card/storage-efficiency-card.tsx
  frontend/packages/noobaa-storage-plugin/src/plugin.ts
  frontend/packages/noobaa-storage-plugin/src/queries.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/ceph, component/noobaa, lgtm

#6560 Bug 1877595: fix height for reason column of knative service table
  frontend/packages/console-shared/src/components/index.ts
  frontend/packages/console-shared/src/components/text/ClampedText.scss
  frontend/packages/console-shared/src/components/text/ClampedText.tsx
  frontend/packages/console-shared/src/components/text/index.ts
  frontend/packages/knative-plugin/src/components/revisions/RevisionRow.tsx
  frontend/packages/knative-plugin/src/components/revisions/__tests__/RevisionRow.spec.tsx
  frontend/packages/knative-plugin/src/components/services/ServiceRow.tsx
  frontend/packages/knative-plugin/src/components/services/__tests__/ServiceRow.spec.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/knative, component/shared, lgtm

#6473 Bug 1873582: Add access review and feature flags to quick starts
  frontend/packages/console-app/src/components/quick-starts/QuickStartCatalogPage.tsx
  frontend/packages/console-app/src/components/quick-starts/__tests__/QuickStartCatalogPage.spec.tsx
  frontend/packages/console-app/src/components/quick-starts/catalog/QuickStartCatalog.tsx
  frontend/packages/console-app/src/components/quick-starts/data/explore-pipeline-quickstart.ts
  frontend/packages/console-app/src/components/quick-starts/data/explore-serverless-quickstart.ts
  frontend/packages/console-app/src/components/quick-starts/data/install-associate-pipeline-quickstart.ts
  frontend/packages/console-app/src/components/quick-starts/data/quick-start-data.ts
  frontend/packages/console-app/src/components/quick-starts/data/serverless-application-quickstart.ts
  frontend/packages/console-app/src/components/quick-starts/loader/QuickStartPermissionChecker.tsx
  frontend/packages/console-app/src/components/quick-starts/loader/QuickStartsLoader.tsx
  frontend/packages/console-app/src/components/quick-starts/utils/quick-start-types.ts
  frontend/packages/console-app/src/components/quick-starts/utils/useQuickStartPermission.ts
  frontend/packages/dev-console/src/components/EmptyState.tsx
  frontend/packages/dev-console/src/components/QuickStartTile.tsx
  frontend/packages/dev-console/src/components/__tests__/QuickStartTile.spec.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/core, component/dev-console, lgtm

#6538 Bug 1876328: Update virtualization os images namespace
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/storage-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/vm-settings-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/provision-source.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/types.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-pvc-base-images.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#6645 Bug 1851013: Independent mode disabled for Cloud Platforms
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-page.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/ceph, lgtm

#6631 Bug 1879164: fixes route decorator to show up if unique route is there for that revision
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
  frontend/packages/knative-plugin/src/topology/components/anchors/RevisionTrafficTargetAnchor.ts
  frontend/packages/knative-plugin/src/topology/components/anchors/__tests__/RevisionTrafficTargetAnchor.spec.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, component/knative, lgtm

#6604 Bug 1878375: Show different operator instances from same CSV separately in topology
  frontend/packages/dev-console/src/components/topology/components/componentUtils.ts
  frontend/packages/dev-console/src/components/topology/data-transforms/ModelContext.ts
  frontend/packages/dev-console/src/components/topology/operators/operatorsDataModelReconciler.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#6633 Bug 1879171: Fix for lost selectedId param in URL when navigating to topology
  frontend/packages/dev-console/src/components/topology/TopologyView.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#6588 Bug 1877861: fix: return empty Helm repo index file when no HelmChartRepository instances are available in cluster
  cmd/bridge/main.go
  pkg/helm/chartproxy/config.go
  pkg/helm/chartproxy/proxy_test.go
  pkg/helm/chartproxy/repos.go
  pkg/helm/chartproxy/repos_test.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/backend, lgtm

#6634 Bug 1876532: Corrected system names for object service dashboard
  frontend/packages/ceph-storage-plugin/integration-tests/views/noobaa-sso.view.ts
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/independent-dashboard-page/details-card.tsx
  frontend/packages/noobaa-storage-plugin/integration-tests/tests/objectServiceDashboard.scenario.ts
  frontend/packages/noobaa-storage-plugin/integration-tests/views/noobaaDashboardPage.view.ts
  frontend/packages/noobaa-storage-plugin/src/components/details-card/details-card.scss
  frontend/packages/noobaa-storage-plugin/src/components/details-card/details-card.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/ceph, component/noobaa, lgtm

#6649 Bug 1877822: The OS which already has a golden image can not be selected
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#6552 [release-4.5.z] Bug 1876461: remove the import VM from dev perspective
  frontend/packages/kubevirt-plugin/src/images/virtual-machine.svg
  frontend/packages/kubevirt-plugin/src/plugin.tsx
  frontend/packages/kubevirt-plugin/src/utils/accessReview-v2v.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, lgtm

#6648 Bug 1880117: Fix Protractor flake: display Global Configuration page, click Explore Console API in dropdown link
  frontend/integration-tests/tests/cluster-settings.scenario.ts
  frontend/integration-tests/views/cluster-settings.view.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#6654 Bug 1879623: Increase max kind abbrev to 4 chars
  frontend/public/module/k8s/get-resources.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#6662 Bug 1872145: Detect enablement of BMO.
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostDetailsPage.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostsTable.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/host-menu-actions.tsx
  frontend/packages/metal3-plugin/src/features.ts
  frontend/packages/metal3-plugin/src/models.ts
  frontend/packages/metal3-plugin/src/plugin.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/metal3, lgtm

#6612 Bug 1878700: Fix Add Pipeline Trigger for Pipeline Operator 1.1
  frontend/package.json
  frontend/packages/dev-console/src/components/pipelines/modals/triggers/resource-utils.ts
  frontend/packages/dev-console/src/components/pipelines/modals/triggers/submit-utils.ts
  frontend/packages/dev-console/src/components/pipelines/resource-types/triggers.ts
  frontend/packages/dev-console/src/components/pipelines/utils/__tests__/pipeline-operator.spec.ts
  frontend/packages/dev-console/src/components/pipelines/utils/pipeline-operator.ts
  frontend/packages/dev-console/src/components/pipelines/utils/triggers.ts
  frontend/public/module/k8s/cluster-settings.ts
  frontend/yarn.lock
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/core, component/dev-console, kind/bug, lgtm

#6365 Bug 1872340: E2E test for pool creation flow
  frontend/packages/ceph-storage-plugin/integration-tests/mocks/storage-pool.ts
  frontend/packages/ceph-storage-plugin/integration-tests/tests/2-tests/multiple-pool.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/views/multiple-pool.view.ts
  frontend/packages/ceph-storage-plugin/src/components/modals/storage-pool-modal/storage-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
  frontend/packages/ceph-storage-plugin/src/constants/resources.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/ceph, lgtm

#6432 Bug 1879517: Add support for External mode RGW queries in Data Resiliency and Capacity breakdown Cards
  frontend/packages/console-shared/src/components/dashboard/utilization-card/prometheus-hook.ts
  frontend/packages/noobaa-storage-plugin/src/components/activity-card/activity-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/capacity-breakdown/capacity-breakdown-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/status-card/object-service-health.tsx
  frontend/packages/noobaa-storage-plugin/src/components/status-card/status-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/status-card/statuses.tsx
  frontend/packages/noobaa-storage-plugin/src/constants/capacity-breakdown.ts
  frontend/packages/noobaa-storage-plugin/src/constants/index.ts
  frontend/packages/noobaa-storage-plugin/src/constants/resources.ts
  frontend/packages/noobaa-storage-plugin/src/constants/status.ts
  frontend/packages/noobaa-storage-plugin/src/queries.ts
  frontend/packages/noobaa-storage-plugin/src/utils.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/dashboard, component/noobaa, component/shared, lgtm

#6572 Bug 1877368: Disable Helm Chart Install form and show error alert if chart is not reachable
  frontend/packages/dev-console/src/components/helm/HelmInstallUpgradePage.tsx
  frontend/packages/dev-console/src/components/helm/form/HelmChartVersionDropdown.tsx
  frontend/packages/dev-console/src/components/helm/form/HelmInstallUpgradeForm.tsx
  frontend/packages/dev-console/src/components/helm/form/__tests__/HelmInstallUpgradeForm.spec.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#6628 Bug 1880118: Cypress: Disable eslint rule, remove `return cy...`'s to fix flake
  frontend/packages/integration-tests-cypress/.eslintrc
  frontend/packages/integration-tests-cypress/tests/crud/k8-openshift-cruds.spec.ts
  frontend/packages/integration-tests-cypress/tests/monitoring/monitoring.spec.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#6641 Bug 1879460: Regression Test Cases for Helm, Monitoring and Knative
  frontend/packages/dev-console/integration-tests/features/monitoring/monitoring-Page-Smoke-Tests-ODC-4116.feature
  frontend/packages/dev-console/integration-tests/features/monitoring/monitoring-Tab-Sidebar-ODC-4116.feature
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, lgtm

#6643 Bug 1879054: UI should display password in cloud-init
  frontend/packages/kubevirt-plugin/src/components/vms/vm-console.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#6644 Bug 1879461: Update kubevirt-plugin test suite
  frontend/packages/kubevirt-plugin/integration-tests/dockerfile
  frontend/packages/kubevirt-plugin/package.json
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, lgtm

#6653 Bug 1844238: Detect phased restart annotation for powering off hosts
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/host-menu-actions.tsx
  frontend/packages/metal3-plugin/src/selectors/baremetal-hosts.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/metal3, lgtm
