Repository openshift/console, pull requests merged in 2020-07, with the labels that each got.

#5764 Add guided tour catlog page
  frontend/packages/console-app/src/components/guided-tours/GuidedTourCatalog.scss
  frontend/packages/console-app/src/components/guided-tours/GuidedTourCatalog.tsx
  frontend/packages/console-app/src/components/guided-tours/GuidedTourItem.scss
  frontend/packages/console-app/src/components/guided-tours/GuidedTourItem.tsx
  frontend/packages/console-app/src/components/guided-tours/GuidedTours.tsx
  frontend/packages/console-app/src/components/guided-tours/TourItemDescription.scss
  frontend/packages/console-app/src/components/guided-tours/TourItemDescription.tsx
  frontend/packages/console-app/src/components/guided-tours/TourItemFooter.tsx
  frontend/packages/console-app/src/components/guided-tours/TourItemHeader.scss
  frontend/packages/console-app/src/components/guided-tours/TourItemHeader.tsx
  frontend/packages/console-app/src/components/guided-tours/__tests__/GuidedTourCatalog.spec.tsx
  frontend/packages/console-app/src/components/guided-tours/__tests__/GuidedTourItem.spec.tsx
  frontend/packages/console-app/src/components/guided-tours/__tests__/GuidedTours.spec.tsx
  frontend/packages/console-app/src/components/guided-tours/__tests__/TourItemFooter.spec.tsx
  frontend/packages/console-app/src/components/guided-tours/utils/guided-tour-mocks.ts
  frontend/packages/console-app/src/components/guided-tours/utils/guided-tour-status.ts
  frontend/packages/console-app/src/components/guided-tours/utils/guided-tour-typings.ts
  frontend/packages/console-app/src/components/guided-tours/utils/guided-tour-utils.ts
  frontend/packages/console-app/src/plugin.tsx
  frontend/public/components/masthead-toolbar.jsx
Labels: approved, component/core, lgtm

#5868 kubevirt: don't show GA help info inside the wizard
  frontend/packages/kubevirt-plugin/src/components/vm-disks/vm-disks.tsx
Labels: approved, component/kubevirt, lgtm

#5870 Gherkin Scripts Topology (Job, Cron Job, Pod Workloads) Scenarios - [ODC-3320]
  frontend/packages/dev-console/integration-tests/features/topology/cronjob-Workload-ODC-4048.feature
  frontend/packages/dev-console/integration-tests/features/topology/job-Workload-ODC-4045.feature
  frontend/packages/dev-console/integration-tests/features/topology/pod-Workload-ODC-4047.feature
Labels: approved, component/dev-console, lgtm

#5844 Monitoring: Move silence form, types and utils into monitoring/ dir
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/status-card/status-card.tsx
  frontend/packages/ceph-storage-plugin/src/selectors/index.ts
  frontend/packages/console-shared/src/components/dashboard/status-card/AlertItem.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/alert-utils.ts
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/StatusCard.tsx
  frontend/packages/noobaa-storage-plugin/src/components/status-card/status-card.tsx
  frontend/packages/noobaa-storage-plugin/src/utils.ts
  frontend/packages/operator-lifecycle-manager/src/components/catalog-source.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/status-card.tsx
  frontend/public/components/monitoring.tsx
  frontend/public/components/monitoring/silence-form.tsx
  frontend/public/components/monitoring/types.ts
  frontend/public/components/monitoring/utils.ts
  frontend/public/components/notification-drawer.tsx
  frontend/public/reducers/monitoring.ts
  frontend/public/reducers/ui.ts
Labels: approved, component/ceph, component/core, component/dashboard, component/metal3, component/monitoring, component/noobaa, component/olm, component/shared, lgtm

#5869 Bug 1852689: When node disk is under pressure NodeTerminalError should show pod's status message
  frontend/packages/console-app/src/components/nodes/NodeTerminal.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#5827 Add markdown support to OperatorHub and InstalledOperators pages
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/DEPRECATED_operand-form.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/operand-form.tsx
  frontend/public/components/markdown-view.tsx
Labels: approved, component/core, component/olm, lgtm

#5874 Address usability concerns with cluster upgrade visualization
  frontend/public/components/cluster-settings/_cluster-settings.scss
Labels: approved, component/core, lgtm

#5872 Bug 1842992: Fix Noobaa delay issues in creating secret
  frontend/packages/noobaa-storage-plugin/src/components/object-bucket-claim-page/secret.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/noobaa, component/shared, kind/bug, lgtm

#5873 Add subscription status conditions
  frontend/packages/operator-lifecycle-manager/src/components/subscription.tsx
  frontend/public/components/_resource.scss
  frontend/public/components/monitoring.tsx
  frontend/public/components/utils/headings.tsx
  frontend/public/components/utils/index.tsx
  frontend/public/components/utils/resource-status.tsx
Labels: approved, component/core, component/olm, lgtm

#5880 kubevirt: show pvc size and storage class when available in VM disks
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/combined-disk.ts
Labels: approved, component/kubevirt, lgtm

#5736 Add Related Objects Page in Cluster Operators
  frontend/__tests__/reducers/features.spec.tsx
  frontend/public/components/cluster-settings/cluster-operator.tsx
  frontend/public/components/cluster-settings/related-objects.tsx
  frontend/public/components/resource-dropdown.tsx
  frontend/public/module/k8s/get-resources.ts
  frontend/public/module/k8s/k8s-models.ts
  frontend/public/module/k8s/types.ts
  frontend/public/reducers/k8s.ts
Labels: approved, component/core, lgtm

#5846 show pipeline secret errors
  frontend/packages/dev-console/src/components/pipelines/modals/common/PipelineSecretSection.tsx
Labels: approved, component/dev-console, kind/bug, lgtm

#5871 Bug 1852473: kubevirt: fix importing VMs with same vnicIDs for ovirt provider
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/providers/ovirt/ovirt-prefill-vm.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/providers/ovirt/ovirt-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/types.ts
  frontend/packages/kubevirt-plugin/src/components/modals/nic-modal/nic-modal.tsx
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/import/import-ovirt.ts
  frontend/packages/kubevirt-plugin/src/types/ui/nic.ts
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, component/kubevirt, lgtm

#5879 fix kubevirt-gating dockerfile
  frontend/packages/kubevirt-plugin/integration-tests/dockerfile
Labels: approved, component/kubevirt, lgtm

#5593 open the VNC console in a new window
  frontend/packages/kubevirt-plugin/src/components/connected-vm-console/connected-vm-console.tsx
  frontend/packages/kubevirt-plugin/src/components/connected-vm-console/vm-console-empty-state.scss
  frontend/packages/kubevirt-plugin/src/components/connected-vm-console/vm-console-empty-state.tsx
  frontend/packages/kubevirt-plugin/src/components/connected-vm-console/vm-console-page.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/types.ts
  frontend/packages/kubevirt-plugin/src/components/vms/vm-console.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/console-type.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm/selectors.ts
  frontend/public/components/app.jsx
Labels: approved, component/core, component/kubevirt, lgtm

#5763 Add additional metrics to PVC Page
  frontend/packages/console-shared/src/sorts/index.ts
  frontend/packages/console-shared/src/sorts/pvc.ts
  frontend/public/actions/ui.ts
  frontend/public/components/_persistent-volume-claim.scss
  frontend/public/components/factory/table.tsx
  frontend/public/components/persistent-volume-claim.jsx
  frontend/public/reducers/ui.ts
  frontend/public/style.scss
Labels: approved, component/core, component/shared, lgtm

#5851 Add FormHeader and update helm form title to be reactive
  frontend/packages/console-shared/src/components/form-utils/FormHeader.tsx
  frontend/packages/console-shared/src/components/form-utils/index.ts
  frontend/packages/console-shared/src/components/formik-fields/DynamicFormField.tsx
  frontend/packages/console-shared/src/components/formik-fields/SyncedEditorField.tsx
  frontend/packages/dev-console/src/components/helm/HelmInstallUpgradePage.tsx
  frontend/packages/dev-console/src/components/helm/HelmReleaseRollbackPage.tsx
  frontend/packages/dev-console/src/components/helm/__tests__/helm-utils.spec.ts
  frontend/packages/dev-console/src/components/helm/form/HelmChartVersionDropdown.tsx
  frontend/packages/dev-console/src/components/helm/form/HelmInstallUpgradeForm.tsx
  frontend/packages/dev-console/src/components/helm/form/HelmReleaseRollbackForm.tsx
  frontend/packages/dev-console/src/components/helm/form/__tests__/HelmInstallUpgradeForm.spec.tsx
  frontend/packages/dev-console/src/components/helm/helm-types.ts
  frontend/packages/dev-console/src/components/helm/helm-utils.ts
Labels: approved, component/dev-console, component/shared, lgtm

#5852 Changing context in monitoring dashboard
  frontend/packages/dev-console/integration-tests/features/monitoring/Changing_context_in_Monitoring_Dashboard_3898
Labels: approved, component/dev-console, lgtm

#5840 Add react-refresh for WDS
  frontend/package.json
  frontend/webpack.config.ts
  frontend/yarn.lock
Labels: approved, lgtm

#5849 adds capability for sources to sink to channel and broker along with ksvc
  frontend/packages/knative-plugin/src/components/add/EventSource.tsx
  frontend/packages/knative-plugin/src/components/add/EventSourceAlert.tsx
  frontend/packages/knative-plugin/src/components/add/EventSourcePage.tsx
  frontend/packages/knative-plugin/src/components/add/__tests__/EventSource.spec.tsx
  frontend/packages/knative-plugin/src/components/add/__tests__/EventSourceAlert.spec.tsx
  frontend/packages/knative-plugin/src/components/add/__tests__/eventSource-validation-utils.spec.ts
  frontend/packages/knative-plugin/src/components/add/event-sources/SinkSection.tsx
  frontend/packages/knative-plugin/src/components/add/eventSource-validation-utils.ts
  frontend/packages/knative-plugin/src/components/add/import-types.ts
  frontend/packages/knative-plugin/src/const.ts
  frontend/packages/knative-plugin/src/models.ts
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-serving-data.ts
  frontend/packages/knative-plugin/src/utils/create-eventsources-utils.ts
  frontend/packages/knative-plugin/src/utils/get-knative-resources.ts
Labels: approved, component/knative, lgtm

#5861 Rename PipelineRun filter label
  frontend/packages/dev-console/src/utils/pipeline-utils.ts
Labels: approved, component/dev-console, lgtm

#5787 Bug 1848930: Move URL from EventListener details page to it's own section
  frontend/packages/dev-console/src/components/pipelines/detail-page-tabs/EventListenerDetails.tsx
  frontend/packages/dev-console/src/components/pipelines/detail-page-tabs/EventListenerURL.scss
  frontend/packages/dev-console/src/components/pipelines/detail-page-tabs/EventListenerURL.tsx
  frontend/packages/dev-console/src/components/pipelines/utils/triggers.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, lgtm

#5891 Give permitive permissions to selenium for kubevirt-plugin UI testing
  frontend/packages/kubevirt-plugin/integration-tests/dockerfile
Labels: approved, component/kubevirt, lgtm

#5892 Fix dockerfile for kubevirt-plugin gating job
  frontend/packages/kubevirt-plugin/integration-tests/dockerfile
Labels: approved, component/kubevirt, lgtm

#5889 check for loaded or loadError in topology
  frontend/packages/dev-console/src/components/topology/TopologyDataRenderer.tsx
Labels: approved, component/dev-console, lgtm

#5895 Fix kubevirt-plugin dockerfile for gating job
  frontend/packages/kubevirt-plugin/integration-tests/dockerfile
Labels: approved, component/kubevirt, lgtm

#5890 anchor channel edges to left and right middle of node
  frontend/packages/knative-plugin/src/topology/components/anchors/PubSubSourceAnchor.ts
  frontend/packages/knative-plugin/src/topology/components/anchors/PubSubTargetAnchor.ts
  frontend/packages/knative-plugin/src/topology/components/anchors/__tests__/PubSubSourceAnchor.spec.ts
  frontend/packages/knative-plugin/src/topology/components/anchors/__tests__/PubSubTargetAnchor.spec.ts
  frontend/packages/knative-plugin/src/topology/components/edges/EventSourceLink.tsx
  frontend/packages/knative-plugin/src/topology/components/edges/EventingPubSubLink.tsx
  frontend/packages/knative-plugin/src/topology/components/groups/KnativeServiceGroup.tsx
  frontend/packages/knative-plugin/src/topology/components/groups/KnativeServiceNode.tsx
  frontend/packages/knative-plugin/src/topology/components/nodes/EventingPubSubNode.tsx
  frontend/packages/knative-plugin/src/topology/components/nodes/RevisionNode.tsx
  frontend/packages/knative-plugin/src/topology/const.ts
Labels: approved, component/knative, lgtm

#5802 Allow Tekton Event Listeners to render without a full route
  frontend/packages/dev-console/src/components/pipelines/utils/triggers.ts
Labels: approved, component/dev-console, lgtm

#5887 Guard against missing user info
  frontend/packages/dev-console/src/components/pipelineruns/triggered-by/hooks.ts
Labels: approved, component/dev-console, lgtm

#5818 Add Jobs, CronJobs, and standalone Pods to topology view
  frontend/packages/console-shared/src/types/resource.ts
  frontend/packages/console-shared/src/utils/__tests__/resource-utils.spec.ts
  frontend/packages/console-shared/src/utils/pod-ring-utils.ts
  frontend/packages/console-shared/src/utils/resource-utils.ts
  frontend/packages/dev-console/src/components/svg/SvgResourceIcon.scss
  frontend/packages/dev-console/src/components/topology/__tests__/topology-test-data.ts
  frontend/packages/dev-console/src/components/topology/actions/workloadActions.ts
  frontend/packages/dev-console/src/components/topology/data-transforms/__tests__/data-transformer.spec.ts
  frontend/packages/dev-console/src/components/topology/data-transforms/__tests__/updateModelFromFilters.spec.ts
  frontend/packages/dev-console/src/components/topology/data-transforms/transform-utils.ts
  frontend/packages/dev-console/src/components/topology/operators/__tests__/operator-data-transformer.spec.ts
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
  frontend/public/components/cron-job.tsx
  frontend/public/components/job.tsx
  frontend/public/components/overview/_job-overview.scss
  frontend/public/components/overview/_overview.scss
  frontend/public/components/overview/cron-job-overview.tsx
  frontend/public/components/overview/index.tsx
  frontend/public/components/overview/job-overview.tsx
  frontend/public/components/overview/jobs-overview.tsx
  frontend/public/components/overview/pod-overview.tsx
  frontend/public/components/overview/resource-overview-pages.tsx
  frontend/public/style.scss
Labels: approved, component/core, component/dev-console, component/shared, kind/feature, lgtm

#5862 Add support for edit action in DetailsItem component
  frontend/public/components/utils/_details-item.scss
  frontend/public/components/utils/details-item.tsx
  frontend/public/components/utils/details-page.tsx
  frontend/public/style.scss
  frontend/public/style/_common.scss
Labels: approved, component/core, lgtm

#5882 Don't download geckodriver when CHROME_VERSION is defined
  test-gui.sh
Labels: approved, lgtm

#5904 Monitoring: Add Refresh Interval dropdown to Metrics page
  frontend/public/actions/ui.ts
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/components/monitoring/poll-interval-dropdown.tsx
  frontend/public/components/monitoring/query-browser.tsx
  frontend/public/reducers/ui.ts
Labels: approved, component/core, component/monitoring, lgtm

#5865 added service to fetch knative channel crds
  cmd/bridge/main.go
  pkg/knative/types.go
  pkg/knative/utils.go
  pkg/server/server.go
Labels: approved, component/backend, lgtm

#5898 Fix react-refresh socket error
  frontend/package.json
  frontend/webpack.config.ts
  frontend/yarn.lock
Labels: approved, lgtm

#5901 Bug 1854131: Machine's 'Provisioned as node' phase should use SuccessStatus component with GreenCheckCircleIcon icon
  frontend/packages/console-shared/src/components/status/Status.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/shared, lgtm

#5853 Monitoring: Improve alert sort by severity ordering
  frontend/public/components/factory/table.tsx
  frontend/public/components/monitoring.tsx
  frontend/public/reducers/monitoring.ts
Labels: approved, component/core, component/monitoring, lgtm

#5905 Bug 1854406: Fix Used Capacity in PVC List Page
  frontend/public/components/persistent-volume-claim.jsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#5886 fix log message
  frontend/packages/dev-console/src/components/pipelineruns/detail-page-tabs/PipelineRunLogs.scss
  frontend/packages/dev-console/src/components/pipelineruns/detail-page-tabs/PipelineRunLogs.tsx
Labels: approved, component/dev-console, lgtm

#5903 Bug 1853520: Add column for Group of a resource in Related Objects
  frontend/public/components/cluster-settings/related-objects.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#5917 Add google-chrome package to kubevirt-plugin dockerfile
  frontend/packages/kubevirt-plugin/integration-tests/dockerfile
Labels: approved, component/kubevirt, lgtm

#5920 fix google-chrome installation source in kubevirt-plugin dockerfile
  frontend/packages/kubevirt-plugin/integration-tests/dockerfile
Labels: approved, component/kubevirt, lgtm

#5918 Fix crash (white screen) when cancel Pipeline Create with open sidebar
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
Labels: approved, component/dev-console, lgtm

#5909 Fix styling of popover buttons
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/public/components/cluster-settings/cluster-settings.tsx
Labels: approved, component/core, component/olm, lgtm

#5921 Bug 1854957: Only show in-page edit labels link when editable
  frontend/public/components/namespace.jsx
  frontend/public/components/utils/details-item.tsx
  frontend/public/components/utils/details-page.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#5838 Add broker and trigger datamodel and visualization
  frontend/packages/console-shared/src/utils/__tests__/resource-utils.spec.ts
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/topology/__tests__/topology-test-data.ts
  frontend/packages/dev-console/src/components/topology/actions/graphActions.ts
  frontend/packages/dev-console/src/components/topology/actions/groupActions.ts
  frontend/packages/dev-console/src/utils/add-resources-menu-utils.ts
  frontend/packages/knative-plugin/src/actions/add-pubsub-actions.tsx
  frontend/packages/knative-plugin/src/actions/add-subscription.tsx
  frontend/packages/knative-plugin/src/actions/add-trigger.tsx
  frontend/packages/knative-plugin/src/actions/index.ts
  frontend/packages/knative-plugin/src/actions/sink-source.ts
  frontend/packages/knative-plugin/src/components/add/EventSourceAlert.tsx
  frontend/packages/knative-plugin/src/components/overview/EventPubSubResources.tsx
  frontend/packages/knative-plugin/src/components/overview/KnativeResourceOverviewPage.tsx
  frontend/packages/knative-plugin/src/components/overview/OverviewDetailsKnativeResourcesTab.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/EventPubSubResources.spec.tsx
  frontend/packages/knative-plugin/src/const.ts
  frontend/packages/knative-plugin/src/models.ts
  frontend/packages/knative-plugin/src/topology/__tests__/data-transformer.spec.ts
  frontend/packages/knative-plugin/src/topology/__tests__/topology-knative-test-data.ts
  frontend/packages/knative-plugin/src/topology/components/edges/EventingPubSubLink.tsx
  frontend/packages/knative-plugin/src/topology/components/groups/KnativeServiceGroup.tsx
  frontend/packages/knative-plugin/src/topology/components/knativeComponentFactory.ts
  frontend/packages/knative-plugin/src/topology/components/knativeComponentUtils.ts
  frontend/packages/knative-plugin/src/topology/components/nodes/EventingPubSubNode.scss
  frontend/packages/knative-plugin/src/topology/components/nodes/EventingPubSubNode.tsx
  frontend/packages/knative-plugin/src/topology/data-transformer.ts
  frontend/packages/knative-plugin/src/topology/index.ts
  frontend/packages/knative-plugin/src/topology/isKnativeResource.ts
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
  frontend/packages/knative-plugin/src/topology/topology-plugin.ts
  frontend/packages/knative-plugin/src/types.ts
  frontend/packages/knative-plugin/src/utils/get-knative-resources.ts
  frontend/packages/knative-plugin/src/utils/kebab-actions.ts
  frontend/packages/topology/src/behavior/withCreateConnector.tsx
  frontend/packages/topology/src/utils/svg-utils.ts
Labels: approved, component/dev-console, component/knative, component/shared, lgtm

#5907 Bug 1854565: Use `openshiftHelpBase` instead of hard-coded doc links
  frontend/packages/dev-console/src/components/project-access/ProjectAccess.tsx
  frontend/public/components/cluster-settings/cluster-settings.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/dev-console, lgtm

#5912 Remove overflow:hidden so that yaml help tool tips aren't clipped.
  frontend/packages/console-shared/src/components/editor/YAMLEditor.scss
Labels: approved, component/shared, lgtm

#5914 Query Browser: Remove unused TechPreview component
  frontend/public/components/monitoring/metrics.tsx
Labels: approved, component/core, component/monitoring, lgtm

#5915 Monitoring Dashboards: Restore "Refresh Interval" dropdown label
  frontend/public/components/monitoring/dashboards/index.tsx
Labels: approved, component/core, component/monitoring, lgtm

#5916 Monitoring: Clean up the getAlerts helper
  frontend/packages/console-shared/src/components/dashboard/status-card/alert-utils.ts
  frontend/public/components/monitoring/utils.ts
  frontend/public/components/notification-drawer.tsx
Labels: approved, component/core, component/dashboard, component/monitoring, component/shared, kind/cleanup, lgtm

#5925 Bug 1854643: Fix bug where sortable table header buttons can overlay …
  frontend/integration-tests/tests/storage.scenario.ts
  frontend/public/style/_overrides.scss
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, component/core, kind/bug, lgtm

#5927 Remove PF3 `FormControl` dependency from `TileViewPage`
  frontend/public/components/utils/tile-view-page.jsx
Labels: approved, component/core, kind/cleanup, lgtm

#5906 Bug 1849505: Pin Minimist dependecy package to 1.2.5 version
  frontend/package.json
  frontend/yarn.lock
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#5897 Add Thanos tenancy proxy for rules
  cmd/bridge/main.go
  pkg/server/server.go
Labels: approved, component/backend, lgtm

#5922 Bug 1845189: Fix NPE on VM Templates Disks tab
  frontend/packages/kubevirt-plugin/src/components/vm-disks/vm-disks.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-details-page.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vmi-details-page.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#5822 add Guided tour tile
  frontend/packages/dev-console/src/components/EmptyState.tsx
  frontend/packages/dev-console/src/components/GuidedTourTile.scss
  frontend/packages/dev-console/src/components/GuidedTourTile.tsx
  frontend/packages/dev-console/src/components/__tests__/GuidedTourTile.spec.tsx
Labels: approved, component/core, component/dev-console, lgtm

#5908 Show channels doc link in update channel modal
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/modals/cluster-channel-modal.tsx
Labels: approved, component/core, component/dev-console, lgtm

#5935 Add GitOps to dev-console nav
  frontend/packages/dev-console/src/components/gitops/GitOpsDashboard.tsx
  frontend/packages/dev-console/src/const.ts
  frontend/packages/dev-console/src/models/gitops.ts
  frontend/packages/dev-console/src/models/index.ts
  frontend/packages/dev-console/src/plugin.tsx
Labels: approved, component/dev-console, lgtm

#5936 Side navigation correction of font-size to match PF4
  frontend/public/style/_vars.scss
Labels: approved, component/core, lgtm

#5795 Create VirtualizedGrid component for catalog view
  frontend/__tests__/components/catalog.spec.tsx
  frontend/packages/console-shared/src/components/index.ts
  frontend/packages/console-shared/src/components/virtualized-grid/Cell.tsx
  frontend/packages/console-shared/src/components/virtualized-grid/Grid.tsx
  frontend/packages/console-shared/src/components/virtualized-grid/GroupByFilterGrid.tsx
  frontend/packages/console-shared/src/components/virtualized-grid/VirtualizedGrid.tsx
  frontend/packages/console-shared/src/components/virtualized-grid/__tests__/Cell.spec.tsx
  frontend/packages/console-shared/src/components/virtualized-grid/__tests__/utils.spec.ts
  frontend/packages/console-shared/src/components/virtualized-grid/const.ts
  frontend/packages/console-shared/src/components/virtualized-grid/index.ts
  frontend/packages/console-shared/src/components/virtualized-grid/types.ts
  frontend/packages/console-shared/src/components/virtualized-grid/utils.ts
  frontend/public/components/catalog/_catalog.scss
  frontend/public/components/catalog/catalog-items.tsx
  frontend/public/components/catalog/catalog-tile.tsx
  frontend/public/components/catalog/types.ts
  frontend/public/components/catalog/utils.ts
  frontend/public/components/utils/tile-view-page.jsx
Labels: approved, component/core, component/shared, lgtm

#5527 Update monitoring pages to use new common filter component
  frontend/integration-tests/views/monitoring.view.ts
  frontend/packages/console-shared/src/utils/label-filter.ts
  frontend/public/components/autocomplete.tsx
  frontend/public/components/factory/list-page.jsx
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/filter-toolbar.tsx
  frontend/public/components/monitoring.tsx
  frontend/public/components/monitoring/types.ts
Labels: approved, component/core, component/monitoring, component/shared, lgtm

#5830 Add no power management status and alert for BMH
  frontend/packages/console-shared/src/components/status/GenericStatus.tsx
  frontend/packages/console-shared/src/components/status/PopoverStatus.tsx
  frontend/packages/console-shared/src/components/status/statuses.tsx
  frontend/packages/kubevirt-plugin/src/components/form/form-row.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostDetails.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostSecondaryStatus.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostStatus.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/DetailsCard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/StatusCard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/host-menu-actions.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/table-filters.ts
  frontend/packages/metal3-plugin/src/components/maintenance/MaintenancePopover.tsx
  frontend/packages/metal3-plugin/src/constants/bare-metal-host.ts
  frontend/packages/metal3-plugin/src/plugin.tsx
  frontend/packages/metal3-plugin/src/selectors/baremetal-hosts.ts
  frontend/packages/metal3-plugin/src/status/host-status.ts
  frontend/packages/metal3-plugin/src/types/host.ts
  frontend/packages/operator-lifecycle-manager/src/components/catalog-source.tsx
Labels: approved, component/kubevirt, component/metal3, component/olm, component/shared, lgtm

#5436 Bug 1826457: Include node name in node maintenance CR name by default.
  frontend/packages/metal3-plugin/src/k8s/objects/node-maintenance/index.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/metal3, lgtm

#5937 Editable TT, EL, CTB, TB
  frontend/packages/dev-console/src/components/pipelines/EventListenerPage.tsx
  frontend/packages/dev-console/src/components/pipelines/TriggerBindingPage.tsx
  frontend/packages/dev-console/src/components/pipelines/TriggerTemplatePage.tsx
Labels: approved, component/dev-console, lgtm

#5940 make react-virtualized inner container width 100%
  frontend/packages/console-shared/src/components/virtualized-grid/Grid.scss
  frontend/packages/console-shared/src/components/virtualized-grid/Grid.tsx
  frontend/packages/console-shared/src/components/virtualized-grid/GroupByFilterGrid.tsx
  frontend/packages/console-shared/src/components/virtualized-grid/VirtualizedGrid.tsx
  frontend/packages/console-shared/src/components/virtualized-grid/utils.ts
Labels: approved, component/shared, lgtm

#5945 Monitoring: Minor clean up for new filters component
  frontend/public/components/autocomplete.tsx
  frontend/public/components/filter-toolbar.tsx
  frontend/public/components/monitoring.tsx
Labels: approved, component/core, lgtm

#5900 Adjustments for alignment and spacing on the following search elements
  frontend/public/components/_nav-title.scss
  frontend/public/components/_search.scss
  frontend/public/components/utils/_status-box.scss
  frontend/public/style/_overrides.scss
Labels: approved, component/core, lgtm

#5938 Rearrange operand details page
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
Labels: approved, component/olm, kind/feature, lgtm

#5875 Add capability for selecting multiple bootstrapServers and topics
  frontend/packages/console-shared/src/components/formik-fields/SelectInputField.tsx
  frontend/packages/console-shared/src/components/formik-fields/field-types.ts
  frontend/packages/console-shared/src/components/formik-fields/index.ts
  frontend/packages/knative-plugin/src/components/add/__tests__/eventSource-validation-utils.spec.ts
  frontend/packages/knative-plugin/src/components/add/event-sources/KafkaSourceSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/__tests__/KafkaSourceSection.spec.tsx
  frontend/packages/knative-plugin/src/components/add/eventSource-validation-utils.ts
  frontend/packages/knative-plugin/src/const.ts
  frontend/packages/knative-plugin/src/models.ts
  frontend/packages/knative-plugin/src/utils/__tests__/create-eventsources-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-serving-data.ts
  frontend/packages/knative-plugin/src/utils/create-eventsources-utils.ts
  frontend/packages/knative-plugin/src/utils/get-knative-resources.ts
  frontend/public/style/_overrides.scss
Labels: approved, component/core, component/knative, component/shared, lgtm

#5934 Fixes deletion of node connected to a split node
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/update-utils.ts
Labels: approved, component/dev-console, lgtm

#5949 Add knative event source, channels and brokers to topology application dropdown
  frontend/packages/dev-console/src/components/dropdown/ApplicationDropdown.tsx
Labels: approved, component/dev-console, kind/bug, lgtm

#5952 Fix Dockerfile and deploy script for kubevirt-plugin gating
  frontend/packages/kubevirt-plugin/integration-tests/deploy-kubevirt-gating.sh
  frontend/packages/kubevirt-plugin/integration-tests/dockerfile
Labels: approved, component/kubevirt, lgtm

#5911 Add support for perspective detection using extensions
  frontend/__tests__/reducers/ui.spec.ts
  frontend/integration-tests/tests/login.scenario.ts
  frontend/packages/console-app/src/components/detect-perspective/DetectPerspective.tsx
  frontend/packages/console-app/src/components/detect-perspective/PerspectiveDetector.tsx
  frontend/packages/console-app/src/components/detect-perspective/__tests__/DetectPerspective.spec.tsx
  frontend/packages/console-app/src/components/detect-perspective/__tests__/PerspectiveDetector.spec.tsx
  frontend/packages/console-plugin-sdk/src/typings/perspectives.ts
  frontend/packages/dev-console/src/plugin.tsx
  frontend/packages/dev-console/src/utils/__tests__/usePerspectiveDetection.spec.ts
  frontend/packages/dev-console/src/utils/usePerspectiveDetection.ts
  frontend/public/components/app.jsx
  frontend/public/reducers/ui.ts
Labels: approved, component/core, component/dev-console, component/sdk, lgtm

#5953 Fix Dockerfile for kubevirt-plugin gating job
  frontend/packages/kubevirt-plugin/integration-tests/dockerfile
Labels: approved, component/kubevirt, lgtm

#5855 Bug 1852301: Add integration test for Utilization and Events
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/mocks.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.tab.dashboard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/dashboard.view.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, lgtm, ok-to-test

#5939 Move disk explanations to popovers
  frontend/packages/kubevirt-plugin/src/components/vm-disks/guest-agent-file-systems.scss
  frontend/packages/kubevirt-plugin/src/components/vm-disks/guest-agent-file-systems.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/vm-disks.tsx
  frontend/packages/kubevirt-plugin/src/strings/vm/messages.ts
Labels: approved, component/kubevirt, lgtm

#5960 Monitoring: Add Severity filter to alerts list
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/monitoring.tsx
  frontend/public/components/monitoring/types.ts
  frontend/public/reducers/monitoring.ts
Labels: approved, component/core, component/monitoring, lgtm

#5902 Add List and Details Page for Volume Snapshot
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot-details.tsx
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot.tsx
  frontend/packages/console-app/src/status/index.ts
  frontend/packages/console-app/src/status/snapshot.ts
  frontend/packages/console-shared/src/sorts/index.ts
  frontend/packages/console-shared/src/sorts/snapshot.ts
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/factory/table.tsx
  frontend/public/components/nav/admin-nav.tsx
  frontend/public/components/resource-pages.ts
  frontend/public/models/index.ts
  frontend/public/module/k8s/types.ts
Labels: approved, component/core, component/shared, lgtm

#5942 Add/Edit BMH - make BMC optional
  frontend/packages/console-shared/src/hooks/previous.ts
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostStatus.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/add-baremetal-host/AddBareMetalHost.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/add-baremetal-host/AddBareMetalHostForm.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/add-baremetal-host/AddBareMetalHostPage.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/add-baremetal-host/types.ts
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/StatusCard.tsx
  frontend/packages/metal3-plugin/src/hooks/index.ts
  frontend/packages/metal3-plugin/src/k8s/objects/bare-metal-host.ts
  frontend/packages/metal3-plugin/src/k8s/requests/bare-metal-host.ts
  frontend/packages/metal3-plugin/src/selectors/secret.ts
  frontend/packages/metal3-plugin/src/types/host.ts
  frontend/packages/metal3-plugin/src/utils/index.ts
  frontend/public/components/notification-drawer.tsx
  frontend/public/components/utils/k8s-watch-hook.ts
Labels: approved, component/core, component/kubevirt, component/metal3, component/olm, component/shared, lgtm

#5965 Bug 1853706: Add tooltip to name value editor delete button
  frontend/public/components/utils/name-value-editor.jsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#5966 Bug 1847921: Do not prune empty values from sample data on create operand …
  frontend/packages/console-shared/src/components/dynamic-form/utils.spec.ts
  frontend/packages/console-shared/src/components/dynamic-form/utils.ts
  frontend/packages/console-shared/src/components/synced-editor/index.tsx
  frontend/packages/console-shared/src/utils/utils.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/operand-form.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/olm, component/shared, lgtm

#5974 Apply break-word mixin so that long strings don't cause horiztonal scroll within notifications bar.
  frontend/public/components/_notification-drawer.scss
Labels: approved, component/core, lgtm

#5967 Revert 'tab key opens drawer fix' in console since css added upstream for PFv4
  frontend/public/style/_overrides.scss
Labels: approved, component/core, lgtm

#5957 Bug 1856583: Monitoring: Fix table sort order for alert state and severity
  frontend/public/components/factory/table.tsx
  frontend/public/components/monitoring.tsx
  frontend/public/reducers/monitoring.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#5962 Bug 1856251: fix test env expect script timeout
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/scripts/expect-vm-env-readable.sh
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, component/kubevirt, lgtm

#5867 Bug 1856479: Added support for automated migration from RHV to CNV
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/importWizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/rhvImportWizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/vmwareImportWizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/consts.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/types.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/wizard.validation.scenario.negative.ts
  frontend/packages/kubevirt-plugin/integration-tests/v2v/rhv/v2v.rhv.configs.ts
  frontend/packages/kubevirt-plugin/integration-tests/v2v/rhv/v2v.rhv.import.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/v2v/vmware/v2v.configs.ts
  frontend/packages/kubevirt-plugin/integration-tests/v2v/vmware/v2v.import.2vms.ts
  frontend/packages/kubevirt-plugin/integration-tests/v2v/vmware/v2v.import.all.flavors.ts
  frontend/packages/kubevirt-plugin/integration-tests/v2v/vmware/v2v.import.scenario.multi.nic.ts
  frontend/packages/kubevirt-plugin/integration-tests/v2v/vmware/v2v.import.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/v2v/vmware/v2v.import.scenario.windows.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/importWizard.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/rhvImportWizard.view.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm, ok-to-test

#5931 Add List and Details Page for Volume Snapshot Classes
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot-class-details.tsx
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot-class.tsx
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot-details.tsx
  frontend/public/components/nav/admin-nav.tsx
  frontend/public/components/resource-pages.ts
  frontend/public/module/k8s/types.ts
Labels: approved, component/core, lgtm

#5956 Pipeline Run Details Log Snippet
  frontend/packages/dev-console/src/components/pipelineruns/detail-page-tabs/PipelineRunDetails.tsx
  frontend/packages/dev-console/src/components/pipelineruns/logs/LogSnippetFromPod.tsx
  frontend/packages/dev-console/src/components/pipelineruns/logs/PipelineRunDetailsErrorLog.tsx
  frontend/packages/dev-console/src/components/pipelineruns/logs/__tests__/pipelineRunLogSnippet.spec.ts
  frontend/packages/dev-console/src/components/pipelineruns/logs/logs-utils.ts
  frontend/packages/dev-console/src/components/pipelineruns/logs/pipelineRunLogSnippet.ts
  frontend/packages/dev-console/src/test/pipeline-data.ts
  frontend/packages/dev-console/src/utils/pipeline-augment.ts
  frontend/public/components/build.tsx
Labels: approved, component/core, component/dev-console, component/shared, lgtm

#5970 Fix inline radio group after PF4 upgrade
  frontend/packages/console-shared/src/components/formik-fields/RadioGroupField.scss
  frontend/packages/console-shared/src/components/formik-fields/RadioGroupField.tsx
  frontend/packages/console-shared/src/components/formik-fields/SyncedEditorField.tsx
  frontend/packages/console-shared/src/components/formik-fields/__tests__/SyncedEditorField.spec.tsx
  frontend/packages/console-shared/src/components/formik-fields/field-types.ts
Labels: approved, component/shared, lgtm

#5971 Fix for dev perspective nav items with double separators
  frontend/packages/console-plugin-sdk/src/typings/nav-items.ts
  frontend/packages/dev-console/src/plugin.tsx
  frontend/public/components/nav/_perspective-nav.scss
  frontend/public/components/nav/perspective-nav.tsx
  frontend/public/components/nav/section.tsx
Labels: approved, component/core, component/dev-console, component/sdk, kind/bug, lgtm

#5982 Monitoring: Convert MonitoringListPage into a functional component
  frontend/public/components/monitoring.tsx
  frontend/public/components/monitoring/types.ts
Labels: approved, component/core, component/monitoring, kind/cleanup, lgtm

#5984 Bug 1856803: Fix incorrect monitoring doc link
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/olm, lgtm

#5894 sidebar for guided tours
  frontend/packages/console-app/src/components/guided-tours/DrawerComponent.tsx
  frontend/packages/console-app/src/components/guided-tours/GuidedTourCatalog.tsx
  frontend/packages/console-app/src/components/guided-tours/GuidedTourDrawer.scss
  frontend/packages/console-app/src/components/guided-tours/GuidedTourDrawer.tsx
  frontend/packages/console-app/src/components/guided-tours/GuidedTourItem.tsx
  frontend/packages/console-app/src/components/guided-tours/TourItemHeader.tsx
  frontend/packages/console-app/src/components/guided-tours/__tests__/GuidedTourCatalog.spec.tsx
  frontend/packages/console-app/src/components/guided-tours/__tests__/GuidedTourItem.spec.tsx
  frontend/packages/console-app/src/components/guided-tours/__tests__/guided-tour-utils.spec.ts
  frontend/packages/console-app/src/components/guided-tours/utils/guided-tour-mocks.ts
  frontend/packages/console-app/src/components/guided-tours/utils/guided-tour-typings.ts
  frontend/packages/console-app/src/components/guided-tours/utils/guided-tour-utils.ts
  frontend/packages/console-app/src/redux/actions/guided-tour-actions.ts
  frontend/packages/console-app/src/redux/reducer.ts
  frontend/packages/console-app/src/redux/reducers/guided-tour-reducer.ts
  frontend/packages/patternfly/src/components/notification-drawer/notification-drawer.tsx
  frontend/public/components/app.jsx
  frontend/public/style/_overrides.scss
Labels: approved, component/core, lgtm

#5987 Bump to latest @patternfly/patternfly release (4.23.1)
  frontend/package.json
  frontend/packages/console-shared/src/components/status/PopoverStatus.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/WorkloadNode.tsx
  frontend/packages/knative-plugin/src/topology/components/groups/KnativeServiceGroup.tsx
  frontend/packages/knative-plugin/src/topology/components/nodes/EventingPubSubNode.tsx
  frontend/packages/kubevirt-plugin/src/topology/components/nodes/VmNode.tsx
  frontend/packages/topology/src/components/DefaultCreateConnector.tsx
  frontend/yarn.lock
Labels: approved, component/dev-console, component/knative, component/kubevirt, component/shared, lgtm

#5963 Added type for queryParams in fetchK8s
  frontend/public/graphql/client.ts
Labels: approved, component/core, lgtm

#5989 Add PVC Extensions
  frontend/packages/console-plugin-sdk/src/typings/index.ts
  frontend/packages/console-plugin-sdk/src/typings/pvc.ts
  frontend/public/components/persistent-volume-claim.jsx
Labels: approved, component/core, component/sdk, lgtm

#5973 Add Jobs and CronJobs to list views
  frontend/packages/console-shared/src/utils/resource-utils.ts
  frontend/public/components/overview/index.tsx
Labels: approved, component/core, component/shared, kind/feature, lgtm

#5992 Correct table column alignment
  frontend/public/style/_overrides.scss
Labels: approved, component/core, lgtm

#5959 Bug 1849503: Pin Minimist dependency package to 1.2.5 version
  frontend/package.json
  frontend/yarn.lock
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#5991 Fix label alignment on Namespace details 'Memory Usage' bar charts.
  frontend/public/components/graphs/bar.tsx
Labels: approved, component/core, lgtm

#5995 update namespace for sources created through yaml if edited
  frontend/packages/knative-plugin/src/utils/__tests__/create-eventsources-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/create-eventsources-utils.ts
Labels: approved, component/knative, lgtm

#5996 Fix queries and constants organization in Noobaa Plugin
  frontend/packages/noobaa-storage-plugin/src/components/capacity-breakdown/capacity-breakdown-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/data-consumption-card/data-consumption-card-utils.ts
  frontend/packages/noobaa-storage-plugin/src/constants/common.ts
  frontend/packages/noobaa-storage-plugin/src/constants/data-consumption.ts
  frontend/packages/noobaa-storage-plugin/src/constants/index.ts
  frontend/packages/noobaa-storage-plugin/src/constants/providers.ts
  frontend/packages/noobaa-storage-plugin/src/constants/queries.ts
  frontend/packages/noobaa-storage-plugin/src/queries.ts
Labels: approved, component/noobaa, lgtm

#5877 Added bare metal views for OCS install
  frontend/packages/ceph-storage-plugin/src/components/independent-mode/install.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/storage-class-dropdown.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/attached-devices.scss
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/install-lso-sc.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/install.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/sc-node-list.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/create-form.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-page.scss
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/node-list.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/ocs-install.scss
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/ocs-request-data.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/pvs-available-capacity.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/types.ts
  frontend/packages/ceph-storage-plugin/src/constants/index.ts
  frontend/packages/ceph-storage-plugin/src/constants/ocs-install.ts
  frontend/packages/ceph-storage-plugin/src/constants/resources.ts
  frontend/packages/ceph-storage-plugin/src/features.ts
  frontend/packages/ceph-storage-plugin/src/utils/common-ocs-install-el.tsx
  frontend/packages/ceph-storage-plugin/src/utils/install.ts
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/create-local-volume-set.scss
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/create-local-volume-set.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/local-volume-set-inner.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/local-volume-set-request-data.ts
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/nodes-selection-list.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/state.ts
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/types.ts
  frontend/packages/local-storage-operator-plugin/src/constants/index.ts
  frontend/packages/local-storage-operator-plugin/src/constants/resources.ts
  frontend/packages/local-storage-operator-plugin/src/utils/index.ts
Labels: approved, component/ceph, component/lso, lgtm

#5994 Monitoring: Add severity filter to Alerting Rules list
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/monitoring.tsx
  frontend/public/components/monitoring/types.ts
  frontend/public/reducers/monitoring.ts
Labels: approved, component/core, component/monitoring, lgtm

#5785 Add Alerts tab in devconsole monitoring
  frontend/packages/dev-console/src/components/monitoring/MonitoringPage.tsx
  frontend/packages/dev-console/src/components/monitoring/__tests__/MonitoringPage.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlerts.scss
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlerts.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/__tests__/MonitoringAlerts.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/__tests__/monitoring-alerts-utils.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/__tests__/rules-mocks.ts
  frontend/packages/dev-console/src/components/monitoring/alerts/monitoring-alerts-utils.tsx
  frontend/public/actions/ui.ts
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/factory/table.tsx
  frontend/public/components/monitoring.tsx
  frontend/public/components/monitoring/types.ts
  frontend/public/reducers/monitoring.ts
  frontend/public/reducers/ui.ts
Labels: approved, component/core, component/dev-console, component/monitoring, lgtm

#5842 Extension for customized components for provisioner
  frontend/__tests__/components/storage-class-form.spec.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form.tsx
  frontend/packages/ceph-storage-plugin/src/constants/resources.ts
  frontend/packages/ceph-storage-plugin/src/models.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
  frontend/packages/ceph-storage-plugin/src/utils/storage-class-params.tsx
  frontend/packages/console-plugin-sdk/src/typings/index.ts
  frontend/packages/console-plugin-sdk/src/typings/storage-class-params.ts
  frontend/public/components/storage-class-form.tsx
Labels: approved, component/ceph, component/core, component/sdk, lgtm

#6003 Adds Pipelines back to Topology
  frontend/packages/dev-console/src/components/topology/data-transforms/data-transformer.ts
  frontend/packages/dev-console/src/components/topology/data-transforms/transform-utils.ts
  frontend/packages/dev-console/src/utils/pipeline-plugin-utils.ts
Labels: approved, component/dev-console, lgtm

#6005 Add topology pipeline error
  frontend/packages/console-shared/src/components/index.ts
  frontend/packages/console-shared/src/components/log/LogSnippet.scss
  frontend/packages/console-shared/src/components/log/LogSnippet.tsx
  frontend/packages/console-shared/src/components/log/index.ts
  frontend/packages/dev-console/src/components/pipelineruns/logs/LogSnippetBlock.tsx
  frontend/packages/dev-console/src/components/pipelineruns/logs/LogSnippetFromPod.tsx
  frontend/packages/dev-console/src/components/pipelineruns/logs/PipelineRunDetailsErrorLog.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-overview/PipelineRunItem.tsx
  frontend/public/components/overview/_build-overview.scss
  frontend/public/components/overview/build-overview.tsx
Labels: approved, component/core, component/dev-console, component/shared, lgtm

#6007 add andrewballantyne to console-shared/OWNERS
  frontend/packages/console-shared/OWNERS
Labels: approved, component/shared, lgtm

#5980 Added List & details page for SnapshotContent
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot-content-details.tsx
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot-content.tsx
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot.tsx
  frontend/packages/console-app/src/plugin.tsx
  frontend/packages/console-app/src/status/snapshot.ts
  frontend/public/models/index.ts
  frontend/public/module/k8s/types.ts
Labels: approved, component/core, lgtm

#6004 use useEffect for usePrevious hook
  frontend/packages/console-shared/src/hooks/previous.ts
Labels: approved, component/shared, lgtm

#5998 add tool-tip to remove icon
  frontend/packages/console-shared/src/components/formik-fields/EnvironmentField.tsx
  frontend/packages/console-shared/src/components/formik-fields/TextColumnField.tsx
  frontend/packages/console-shared/src/components/formik-fields/multi-column-field/MultiColumnFieldFooter.tsx
  frontend/packages/console-shared/src/components/formik-fields/multi-column-field/MultiColumnFieldRow.tsx
  frontend/packages/dev-console/integration-tests/features/Knative/knative-Actions_on_knative_revision.feature
  frontend/packages/dev-console/integration-tests/views/git-import-flow.view.ts
  frontend/packages/dev-console/src/components/health-checks/HealthChecksProbe.tsx
  frontend/packages/dev-console/src/components/health-checks/RequestTypeForms.tsx
  frontend/packages/dev-console/src/components/pipelines/detail-page-tabs/PipelineParameters.tsx
  frontend/packages/dev-console/src/components/pipelines/detail-page-tabs/PipelineResources.tsx
  frontend/packages/dev-console/src/components/pipelines/modals/common/MultipleKeySelector.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/task-sidebar/temp-utils.tsx
  frontend/packages/dev-console/src/components/project-access/ProjectAccessForm.tsx
  frontend/packages/dev-console/src/components/project-access/__tests__/ProjectAccessForm.spec.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/ApiServerSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/ContainerSourceSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/SinkBindingSection.tsx
  frontend/packages/knative-plugin/src/components/traffic-splitting/TrafficSplittingFields.tsx
  frontend/public/components/environment.jsx
  frontend/public/components/modals/taints-modal.tsx
  frontend/public/components/modals/tolerations-modal.tsx
  frontend/public/components/monitoring/receiver-forms/routing-labels-editor.tsx
  frontend/public/components/monitoring/silence-form.tsx
  frontend/public/components/storage/create-pvc.tsx
  frontend/public/components/utils/name-value-editor.jsx
Labels: approved, component/core, component/dev-console, component/knative, component/monitoring, component/shared, lgtm

#6013 Bug 1857407: Revert badge css updates with pf package update
  frontend/package.json
  frontend/yarn.lock
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#6000 [release-4.3] Bug 1825722: Handle undefined MachineConfigPools status
  frontend/public/components/machine-config-pool.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, component/core, lgtm

#5706 Bug 1841909: Fix git validation on selecting git type
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/gitlab/custom-domain-with-subdomain.json
  frontend/packages/git-service/src/services/__tests__/gitlab-service.spec.ts
  frontend/packages/git-service/src/services/gitlab-service.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/dev-console, component/git-service, component/kubevirt, component/network-attachment-definition, component/sdk, component/shared, lgtm

#5944 Monitoring: Move monitoring.tsx to monitoring/alerting.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/monitoring-alerts-utils.tsx
  frontend/public/components/app-contents.tsx
  frontend/public/components/monitoring/alerting.tsx
Labels: approved, component/core, component/dev-console, component/monitoring, lgtm

#5883 Support sink to URI for sources creation
  frontend/packages/console-shared/src/components/formik-fields/RadioGroupField.scss
  frontend/packages/console-shared/src/utils/icon-utils.ts
  frontend/packages/console-shared/src/utils/utils.ts
  frontend/packages/dev-console/src/components/svg/SvgCircledIcon.tsx
  frontend/packages/knative-plugin/src/components/add/EventSource.tsx
  frontend/packages/knative-plugin/src/components/add/EventSourceAlert.tsx
  frontend/packages/knative-plugin/src/components/add/EventSourcePage.tsx
  frontend/packages/knative-plugin/src/components/add/__tests__/EventSource.spec.tsx
  frontend/packages/knative-plugin/src/components/add/__tests__/EventSourceAlert.spec.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/SinkSection.tsx
  frontend/packages/knative-plugin/src/components/add/eventSource-validation-utils.ts
  frontend/packages/knative-plugin/src/components/add/import-types.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-serving-data.ts
  frontend/packages/knative-plugin/src/utils/create-eventsources-utils.ts
Labels: approved, component/dev-console, component/knative, component/shared, lgtm

#5969 Make getResource a first class function on Dev Console topology items.
  frontend/packages/console-shared/src/utils/__tests__/resource-utils.spec.ts
  frontend/packages/console-shared/src/utils/resource-utils.ts
  frontend/packages/dev-console/src/components/modals/EditApplicationModal.tsx
  frontend/packages/dev-console/src/components/modals/index.ts
  frontend/packages/dev-console/src/components/topology/Topology.tsx
  frontend/packages/dev-console/src/components/topology/TopologyEdgePanel.tsx
  frontend/packages/dev-console/src/components/topology/__tests__/topology-test-data.ts
  frontend/packages/dev-console/src/components/topology/__tests__/topology-utils.spec.ts
  frontend/packages/dev-console/src/components/topology/actions/__tests__/graphActions.spec.tsx
  frontend/packages/dev-console/src/components/topology/actions/__tests__/groupActions.spec.tsx
  frontend/packages/dev-console/src/components/topology/actions/edgeActions.ts
  frontend/packages/dev-console/src/components/topology/actions/graphActions.ts
  frontend/packages/dev-console/src/components/topology/actions/groupActions.ts
  frontend/packages/dev-console/src/components/topology/actions/nodeActions.ts
  frontend/packages/dev-console/src/components/topology/actions/regroupActions.ts
  frontend/packages/dev-console/src/components/topology/actions/workloadActions.ts
  frontend/packages/dev-console/src/components/topology/components/componentFactory.ts
  frontend/packages/dev-console/src/components/topology/components/componentUtils.ts
  frontend/packages/dev-console/src/components/topology/components/createConnection.tsx
  frontend/packages/dev-console/src/components/topology/components/edges/BaseEdge.tsx
  frontend/packages/dev-console/src/components/topology/components/edges/ConnectsTo.tsx
  frontend/packages/dev-console/src/components/topology/components/moveNodeToGroup.tsx
  frontend/packages/dev-console/src/components/topology/components/nodeContextMenu.tsx
  frontend/packages/dev-console/src/components/topology/components/withEditReviewAccess.tsx
  frontend/packages/dev-console/src/components/topology/data-transforms/__tests__/data-transformer.spec.ts
  frontend/packages/dev-console/src/components/topology/data-transforms/data-transformer.ts
  frontend/packages/dev-console/src/components/topology/data-transforms/transform-utils.ts
  frontend/packages/dev-console/src/components/topology/elements/OdcBaseEdge.ts
  frontend/packages/dev-console/src/components/topology/elements/OdcBaseNode.ts
  frontend/packages/dev-console/src/components/topology/elements/index.ts
  frontend/packages/dev-console/src/components/topology/elements/odcElementFactory.ts
  frontend/packages/dev-console/src/components/topology/helm/__tests__/mockData.ts
  frontend/packages/dev-console/src/components/topology/helm/actions/helmReleaseActions.ts
  frontend/packages/dev-console/src/components/topology/helm/components/HelmRelease.tsx
  frontend/packages/dev-console/src/components/topology/helm/helm-data-transformer.ts
  frontend/packages/dev-console/src/components/topology/helm/isHelmResource.ts
  frontend/packages/dev-console/src/components/topology/index.ts
  frontend/packages/dev-console/src/components/topology/operators/components/OperatorBackedService.tsx
  frontend/packages/dev-console/src/components/topology/operators/isOperatorResource.ts
  frontend/packages/dev-console/src/components/topology/operators/operators-data-transformer.ts
  frontend/packages/dev-console/src/components/topology/topology-types.ts
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
  frontend/packages/dev-console/src/utils/__tests__/add-resources-menu-utils.spec.tsx
  frontend/packages/knative-plugin/src/topology/__tests__/data-transformer.spec.ts
  frontend/packages/knative-plugin/src/topology/components/edges/EventSourceLink.tsx
  frontend/packages/knative-plugin/src/topology/components/groups/KnativeService.tsx
  frontend/packages/knative-plugin/src/topology/components/knativeComponentFactory.ts
  frontend/packages/knative-plugin/src/topology/isKnativeResource.ts
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
  frontend/packages/kubevirt-plugin/src/topology/TopologyVmPanel.tsx
  frontend/packages/kubevirt-plugin/src/topology/components/kubevirtComponentFactory.ts
  frontend/packages/kubevirt-plugin/src/topology/components/nodes/VmNode.tsx
  frontend/packages/kubevirt-plugin/src/topology/isKubevirtResource.ts
  frontend/packages/kubevirt-plugin/src/topology/kubevirt-data-transformer.ts
  frontend/packages/kubevirt-plugin/src/topology/types.ts
  frontend/public/components/overview/index.tsx
Labels: approved, component/core, component/dev-console, component/knative, component/kubevirt, component/shared, kind/cleanup, lgtm

#6010 Add Prometheus hook to listen for multiple queries
  frontend/packages/console-shared/src/components/dashboard/utilization-card/prometheus-hook.ts
Labels: approved, component/dashboard, component/shared, lgtm

#5997 adds support for camel K connector in ES create and visualisation
  frontend/packages/knative-plugin/src/components/add/__tests__/EventSourceAlert.spec.tsx
  frontend/packages/knative-plugin/src/components/add/__tests__/EventSourceForm.spec.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/ApiServerSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/ContainerSourceSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/CronJobSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/EventSourceSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/EventSourcesSelector.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/KafkaSourceSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/PingSourceSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/SinkBindingSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/YAMLEditorSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/__tests__/ApiServerSection.spec.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/__tests__/ContainerSourceSection.spec.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/__tests__/KafkaSourceSection.spec.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/__tests__/SinkBindingSection.spec.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/__tests__/YAMLEditorSection.spec.tsx
  frontend/packages/knative-plugin/src/const.ts
  frontend/packages/knative-plugin/src/models.ts
  frontend/packages/knative-plugin/src/topology/components/nodes/EventSource.tsx
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
  frontend/packages/knative-plugin/src/topology/topology-plugin.ts
  frontend/packages/knative-plugin/src/utils/__tests__/create-eventsources-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-serving-data.ts
  frontend/packages/knative-plugin/src/utils/create-eventsources-utils.ts
  frontend/packages/knative-plugin/src/utils/fetch-dynamic-eventsources-utils.ts
  frontend/packages/knative-plugin/src/utils/get-knative-icon.ts
  frontend/packages/knative-plugin/src/utils/get-knative-resources.ts
Labels: approved, component/knative, lgtm

#5765 PVC CDI Image Upload
  frontend/package.json
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/cdi-upload-provider.tsx
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/consts.ts
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/pvc-alert-extension.tsx
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form-status.tsx
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.scss
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-popover.tsx
  frontend/packages/kubevirt-plugin/src/k8s/requests/cdi-upload/cdi-upload-requests.ts
  frontend/packages/kubevirt-plugin/src/models/index.ts
  frontend/packages/kubevirt-plugin/src/plugin.tsx
  frontend/packages/kubevirt-plugin/src/selectors/cdi/index.ts
  frontend/packages/kubevirt-plugin/src/selectors/pvc/selectors.ts
  frontend/public/components/storage/create-pvc.tsx
  frontend/public/components/storage/shared.ts
  frontend/public/components/utils/button-bar.jsx
  frontend/yarn.lock
Labels: approved, component/core, component/dev-console, component/kubevirt, component/sdk, component/shared, lgtm

#6026 Read URLs from monitoring-shared-config configmap
  contrib/oc-environment.sh
  examples/run-bridge.sh
Labels: approved, lgtm

#5972 Hide upgrade paths and show checklist progress during upgrades
  frontend/package.json
  frontend/public/components/cluster-settings/_cluster-settings.scss
  frontend/public/components/cluster-settings/cluster-operator.tsx
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/cluster-settings/cluster-version.tsx
  frontend/public/components/utils/headings.tsx
  frontend/public/module/k8s/cluster-settings.ts
  frontend/yarn.lock
Labels: approved, component/core, lgtm

#6025 Bug 1857561: Monitoring: Fix list filter by state titles
  frontend/public/components/monitoring/alerting.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/monitoring, lgtm

#6036 Bug 1857843: add RBAC checks to cluster upgrade notifications
  frontend/__tests__/components/cluster-settings.spec.tsx
  frontend/public/components/about-modal.tsx
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/details-card.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/status-card.tsx
  frontend/public/components/notification-drawer.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/dashboard, lgtm

#5976 Bug 1856622: Add integration test for vm scheduling
  frontend/packages/kubevirt-plugin/integration-tests/tests/dialogs/nodeSelectorDialog.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/dialogs/schedulingDialog.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachine.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/utils.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.affinity.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.node-selector.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.tolerations.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.scheduling.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/dialogs/editAffinityView.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/dialogs/editLabelView.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/dialogs/editNodeSelectorView.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/dialogs/editTolerationsView.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm, ok-to-test

#6014 [feat]:Add disk inventory to Nodes View
  frontend/packages/local-storage-operator-plugin/src/components/disks-list/disks-list-page.tsx
  frontend/packages/local-storage-operator-plugin/src/constants/disks-list.ts
  frontend/packages/local-storage-operator-plugin/src/models.ts
  frontend/packages/local-storage-operator-plugin/src/plugin.ts
  frontend/public/components/factory/table-filters.ts
Labels: approved, component/core, component/lso, lgtm

#5950 Add create eventing channel via add flow
  frontend/packages/knative-plugin/src/components/add/EventSource.tsx
  frontend/packages/knative-plugin/src/components/add/EventingChannelPage.tsx
  frontend/packages/knative-plugin/src/components/add/channels/AddChannel.tsx
  frontend/packages/knative-plugin/src/components/add/channels/ChannelForm.tsx
  frontend/packages/knative-plugin/src/components/add/channels/form-fields/ChannelSelector.tsx
  frontend/packages/knative-plugin/src/components/add/channels/form-fields/ChannelYamlEditor.tsx
  frontend/packages/knative-plugin/src/components/add/channels/sections/DefaultChannelSection.tsx
  frontend/packages/knative-plugin/src/components/add/channels/sections/FormViewSection.tsx
  frontend/packages/knative-plugin/src/components/add/channels/sections/KafkaChannelSection.tsx
  frontend/packages/knative-plugin/src/components/add/eventSource-validation-utils.ts
  frontend/packages/knative-plugin/src/components/add/import-types.ts
  frontend/packages/knative-plugin/src/imgs/channel.svg
  frontend/packages/knative-plugin/src/imgs/event-pub-sub.svg
  frontend/packages/knative-plugin/src/models.ts
  frontend/packages/knative-plugin/src/plugin.tsx
  frontend/packages/knative-plugin/src/topology/components/nodes/EventingPubSubNode.tsx
  frontend/packages/knative-plugin/src/utils/__tests__/create-channel-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-serving-data.ts
  frontend/packages/knative-plugin/src/utils/create-channel-utils.ts
  frontend/packages/knative-plugin/src/utils/fetch-dynamic-eventsources-utils.ts
Labels: approved, component/dashboard, component/knative, component/shared, kind/feature, lgtm

#6028 (feat): Support multiple storage class selection during storage cluster expansion
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/install-lso-sc.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/create-form.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/ocs-request-data.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/pvs-available-capacity.tsx
  frontend/packages/ceph-storage-plugin/src/constants/index.ts
  frontend/packages/ceph-storage-plugin/src/constants/resources.ts
Labels: approved, component/ceph, lgtm

#6046 Fix Top Consumers popover error when passing null resource
  frontend/packages/console-shared/src/components/dashboard/utilization-card/TopConsumerPopover.tsx
Labels: approved, component/dashboard, component/shared, lgtm

#5828 Show alert details page on click of alert under alert rules in dev-perspective
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlerts.scss
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlerts.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlertsDetailsPage.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/__tests__/monitoring-alerts-utils.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/monitoring-alerts-utils.tsx
  frontend/packages/dev-console/src/plugin.tsx
  frontend/public/actions/ui.ts
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/utils.ts
  frontend/public/reducers/ui.ts
Labels: approved, component/core, component/dev-console, component/knative, component/kubevirt, component/metal3, component/monitoring, component/olm, component/sdk, component/shared, kind/feature, lgtm

#5893 Add option to create snapshot for PVC
  frontend/packages/console-app/src/components/volume-snapshot/create-volume-snapshot/_create-volume-snapshot.scss
  frontend/packages/console-app/src/components/volume-snapshot/create-volume-snapshot/create-volume-snapshot.tsx
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot-class.tsx
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot-content.tsx
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot.tsx
  frontend/packages/console-app/src/status/snapshot.ts
  frontend/public/components/app-contents.tsx
  frontend/public/components/persistent-volume-claim.jsx
  frontend/public/components/storage/attach-storage.tsx
  frontend/public/components/utils/kebab.tsx
  frontend/public/components/utils/pvc-dropdown.tsx
  frontend/public/module/k8s/types.ts
Labels: approved, component/ceph, component/core, lgtm

#6015 Bug 1857809: Resource Quota title is duplicated
  frontend/public/components/resource-quota.jsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#6032 Add kind and apiVersion to resources returned from k8sList
  frontend/packages/console-shared/src/utils/resource-utils.ts
  frontend/packages/dev-console/src/components/topology/__tests__/topology-test-data.ts
  frontend/public/module/k8s/resource.js
Labels: approved, component/core, component/dev-console, component/shared, kind/bug, lgtm

#6040 Remove `set -x` from oc-environment.sh
  contrib/oc-environment.sh
Labels: approved, lgtm

#6042 Monitoring: Make alert state ordering consistent
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/reducers/monitoring.ts
Labels: approved, component/core, component/monitoring, lgtm

#6043 Bug 1856573: Monitoring: Fix FilterToolbar's defaultSelected handling
  frontend/public/components/filter-toolbar.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#6049 Update BMH unmanaged state
  frontend/packages/console-shared/src/hooks/previous.ts
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostStatus.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/add-baremetal-host/AddBareMetalHost.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/StatusCard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/status.scss
  frontend/packages/metal3-plugin/src/status/baremetal-node-status.ts
Labels: approved, component/metal3, component/shared, lgtm

#5930 Add filter and scroll for EventSource selector
  frontend/packages/console-shared/src/components/formik-fields/__tests__/ItemSelectorField.spec.tsx
  frontend/packages/console-shared/src/components/formik-fields/item-selector-field/ItemSelectorField.scss
  frontend/packages/console-shared/src/components/formik-fields/item-selector-field/ItemSelectorField.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/EventSourcesSelector.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/__tests__/EventSourcesSelector.spec.tsx
Labels: approved, component/knative, component/shared, lgtm

#6030 Correct the vertical alignment of operatorhub icons
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
  frontend/public/components/catalog/_catalog.scss
  frontend/public/style/_overrides.scss
Labels: approved, component/core, component/olm, lgtm

#6051 Bug 1855556: Include only node-level network traffic in Network Utilization item.
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/queries.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/utilization-card.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/dashboard, lgtm

#6058 Bug 1859279: Add aria-labelledby for the operator hub catalog item modal
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/olm, lgtm

#6012 rename guided tours to quickstart
  frontend/packages/console-app/src/components/guided-tours/GuidedTourCatalog.tsx
  frontend/packages/console-app/src/components/guided-tours/GuidedTourDrawer.tsx
  frontend/packages/console-app/src/components/guided-tours/GuidedTourItem.tsx
  frontend/packages/console-app/src/components/guided-tours/GuidedTours.tsx
  frontend/packages/console-app/src/components/guided-tours/TourItemHeader.tsx
  frontend/packages/console-app/src/components/guided-tours/__tests__/GuidedTourCatalog.spec.tsx
  frontend/packages/console-app/src/components/guided-tours/__tests__/GuidedTourItem.spec.tsx
  frontend/packages/console-app/src/components/guided-tours/__tests__/GuidedTours.spec.tsx
  frontend/packages/console-app/src/components/guided-tours/__tests__/guided-tour-utils.spec.ts
  frontend/packages/console-app/src/components/guided-tours/utils/guided-tour-typings.ts
  frontend/packages/console-app/src/components/guided-tours/utils/guided-tour-utils.ts
  frontend/packages/console-app/src/components/quick-starts/QuickStartCatalog.scss
  frontend/packages/console-app/src/components/quick-starts/QuickStartCatalog.tsx
  frontend/packages/console-app/src/components/quick-starts/QuickStartDescription.scss
  frontend/packages/console-app/src/components/quick-starts/QuickStartDescription.tsx
  frontend/packages/console-app/src/components/quick-starts/QuickStartDrawer.scss
  frontend/packages/console-app/src/components/quick-starts/QuickStartDrawer.tsx
  frontend/packages/console-app/src/components/quick-starts/QuickStartDrawerComponent.tsx
  frontend/packages/console-app/src/components/quick-starts/QuickStartFooter.tsx
  frontend/packages/console-app/src/components/quick-starts/QuickStartHeader.scss
  frontend/packages/console-app/src/components/quick-starts/QuickStartHeader.tsx
  frontend/packages/console-app/src/components/quick-starts/QuickStartItem.scss
  frontend/packages/console-app/src/components/quick-starts/QuickStartItem.tsx
  frontend/packages/console-app/src/components/quick-starts/QuickStartsPage.tsx
  frontend/packages/console-app/src/components/quick-starts/__tests__/QuickStartCatalog.spec.tsx
  frontend/packages/console-app/src/components/quick-starts/__tests__/QuickStartFooter.spec.tsx
  frontend/packages/console-app/src/components/quick-starts/__tests__/QuickStartItem.spec.tsx
  frontend/packages/console-app/src/components/quick-starts/__tests__/QuickStartsPage.spec.tsx
  frontend/packages/console-app/src/components/quick-starts/__tests__/quick-start-utils.spec.tsx
  frontend/packages/console-app/src/components/quick-starts/utils/quick-start-mocks.ts
  frontend/packages/console-app/src/components/quick-starts/utils/quick-start-status.ts
  frontend/packages/console-app/src/components/quick-starts/utils/quick-start-typings.ts
  frontend/packages/console-app/src/components/quick-starts/utils/quick-start-utils.ts
  frontend/packages/console-app/src/plugin.tsx
  frontend/packages/console-app/src/redux/actions/guided-tour-actions.ts
  frontend/packages/console-app/src/redux/actions/quick-start-actions.ts
  frontend/packages/console-app/src/redux/reducer.ts
  frontend/packages/console-app/src/redux/reducers/guided-tour-reducer.ts
  frontend/packages/console-app/src/redux/reducers/quick-start-reducer.ts
  frontend/packages/dev-console/src/components/EmptyState.tsx
  frontend/packages/dev-console/src/components/QuickStartTile.scss
  frontend/packages/dev-console/src/components/QuickStartTile.tsx
  frontend/packages/dev-console/src/components/__tests__/GuidedTourTile.spec.tsx
  frontend/packages/dev-console/src/components/__tests__/QuickStartTile.spec.tsx
  frontend/public/components/app.jsx
  frontend/public/components/masthead-toolbar.jsx
Labels: approved, component/core, component/dev-console, lgtm

#6057 Add an alert action extension
  frontend/packages/console-plugin-sdk/src/typings/index.ts
  frontend/packages/console-plugin-sdk/src/typings/notification-alerts.ts
  frontend/packages/console-shared/src/components/dashboard/status-card/AlertItem.tsx
  frontend/packages/local-storage-operator-plugin/src/plugin.ts
  frontend/packages/local-storage-operator-plugin/src/utils/alert-actions-path.tsx
  frontend/public/components/notification-drawer.tsx
Labels: approved, component/core, component/dashboard, component/lso, component/sdk, component/shared, lgtm

#5653 [release-4.5.z] Bug 1842968: - Operand's tab for Operand list view is missing
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, component/olm, lgtm

#5941 pkg/server: get rules/alerts from thanos
  cmd/bridge/main.go
  contrib/oc-environment.sh
  examples/run-bridge.sh
  pkg/server/server.go
Labels: approved, component/backend, lgtm

#6066 add selectors for datavolume annotations
  frontend/packages/kubevirt-plugin/src/constants/vm/constants.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/data-volume-wrapper.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm-template/advanced.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm/selectors.ts
  frontend/packages/kubevirt-plugin/src/types/types.ts
Labels: approved, component/kubevirt, lgtm

#5954 Add Snapshots to VM Details
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-inventory-card.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-modal/snapshot-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-restore-modal/snapshot-restore-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/snapshot-row.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/types.ts
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/utils.ts
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/vm-snapshots.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-details-page.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/constants.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/vm-restore-wrapper.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/vm-snapshot-wrapper.ts
  frontend/packages/kubevirt-plugin/src/models/index.ts
  frontend/packages/kubevirt-plugin/src/selectors/snapshot/snapshot.ts
  frontend/packages/kubevirt-plugin/src/types/vm/index.ts
  frontend/packages/kubevirt-plugin/src/utils/strings.ts
Labels: approved, component/backend, component/ceph, component/core, component/dashboard, component/dev-console, component/knative, component/kubevirt, component/lso, component/metal3, component/monitoring, component/olm, component/sdk, component/shared, lgtm

#5986 Use DetailsItem component on operand details page
  frontend/packages/console-shared/src/hooks/useK8sModel.ts
  frontend/packages/console-shared/src/utils/utils.ts
  frontend/packages/operator-lifecycle-manager/integration-tests/views/operator.view.ts
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/index.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/status/index.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/status/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/status/pods.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/status/pods.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/types.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
  frontend/public/components/utils/_details-item.scss
  frontend/public/components/utils/details-item.tsx
  frontend/public/kinds.ts
Labels: approved, component/core, component/olm, component/shared, lgtm
