Repository openshift/console, pull requests merged in 2020-01, with the labels that each got.

#3847 tests: avoid deprecated `kubectl run` in secrets scenario
  frontend/integration-tests/protractor.conf.ts
  frontend/integration-tests/tests/monitoring.scenario.ts
  frontend/integration-tests/tests/secrets.scenario.ts
Labels: approved, kind/test-flake, lgtm, size/M

#3746 view # of pods in topology
  frontend/packages/console-shared/src/components/pod/PodRing.tsx
  frontend/packages/console-shared/src/utils/pod-ring-utils.ts
  frontend/packages/dev-console/src/components/topology/Topology.tsx
  frontend/packages/dev-console/src/components/topology/TopologyDataController.tsx
  frontend/packages/dev-console/src/components/topology/__tests__/TopologyDataController.spec.tsx
  frontend/packages/dev-console/src/components/topology/__tests__/__snapshots__/topology-utils.spec.ts.snap
  frontend/packages/dev-console/src/components/topology/components/nodes/BaseNode.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/PodSet.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/WorkloadNode.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/__tests__/PodSet.spec.tsx
  frontend/packages/dev-console/src/components/topology/filters/FilterDropdown.tsx
  frontend/packages/dev-console/src/components/topology/filters/TopologyFilterBar.scss
  frontend/packages/dev-console/src/components/topology/filters/TopologyFilterBar.tsx
  frontend/packages/dev-console/src/components/topology/filters/__tests__/FilterDropdown.spec.tsx
  frontend/packages/dev-console/src/components/topology/filters/filter-utils.ts
  frontend/packages/dev-console/src/components/topology/redux/action.ts
  frontend/packages/dev-console/src/components/topology/redux/const.ts
  frontend/packages/dev-console/src/components/topology/redux/reducer.ts
  frontend/packages/dev-console/src/components/topology/topology-types.ts
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
  frontend/packages/dev-console/src/plugin.tsx
  frontend/packages/dev-console/src/utils/reducer.ts
  frontend/packages/knative-plugin/src/utils/knative-topology-utils.ts
Labels: approved, component/core, component/dev-console, component/knative, component/shared, kind/feature, lgtm, size/XL

#3815 add support for creating a connector to a new node
  frontend/packages/topology/src/behavior/dnd-types.ts
  frontend/packages/topology/src/behavior/useDndDrag.tsx
  frontend/packages/topology/src/behavior/useDndDrop.tsx
  frontend/packages/topology/src/behavior/useDndManager.tsx
  frontend/packages/topology/src/behavior/withCreateConnector.tsx
  frontend/packages/topology/src/components/DefaultCreateConnector.scss
  frontend/packages/topology/src/components/DefaultCreateConnector.tsx
  frontend/packages/topology/stories/4-Connector.stories.tsx
Labels: approved, component/dev-console, lgtm, size/L

#3734 Show full CSV description as markdown in dev catalog item details
  frontend/packages/operator-lifecycle-manager/src/dev-catalog.ts
  frontend/public/components/catalog/catalog-item-details.jsx
Labels: approved, component/core, component/olm, kind/feature, lgtm, size/S

#3744 Rename CA file router-ca to default-ingress-cert
  test-ciphers.sh
Labels: approved, lgtm, size/XS

#3752 updates test and refactors component for RevisionsOverviewList
  frontend/packages/dev-console/src/components/topology/__tests__/topology-knative-test-data.ts
  frontend/packages/knative-plugin/src/components/overview/RevisionsOverviewList.scss
  frontend/packages/knative-plugin/src/components/overview/RevisionsOverviewList.tsx
  frontend/packages/knative-plugin/src/components/overview/RevisionsOverviewListItem.scss
  frontend/packages/knative-plugin/src/components/overview/RevisionsOverviewListItem.tsx
  frontend/packages/knative-plugin/src/components/overview/__mocks__/overview-knative-mock.ts
  frontend/packages/knative-plugin/src/components/overview/__tests__/RevisionsOverviewList.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/RevisionsOverviewListItem.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/RoutesOverviewList.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/RoutesOverviewListItem.spec.tsx
Labels: approved, component/dev-console, component/knative, lgtm, size/L

#3758 Dev catalog- group by Operator
  frontend/__tests__/components/catalog-data.ts
  frontend/__tests__/components/catalog.spec.tsx
  frontend/public/components/catalog/_catalog.scss
  frontend/public/components/catalog/catalog-items.jsx
  frontend/public/components/utils/tile-view-page.jsx
Labels: approved, component/core, kind/feature, lgtm, size/L

#3775 Bug 1782811: Let server do validation of PVC name
  frontend/public/components/storage/create-pvc.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/XS

#3788 Add edit application functionality from topology
  frontend/packages/console-shared/src/components/formik-fields/field-types.ts
  frontend/packages/dev-console/src/actions/modify-application.ts
  frontend/packages/dev-console/src/components/edit-application/EditApplication.tsx
  frontend/packages/dev-console/src/components/edit-application/EditApplicationForm.tsx
  frontend/packages/dev-console/src/components/edit-application/EditApplicationWrapper.tsx
  frontend/packages/dev-console/src/components/edit-application/edit-application-types.ts
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/dev-console/src/components/import/DeployImage.tsx
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/__mocks__/deployImage-validation-mock.ts
  frontend/packages/dev-console/src/components/import/__mocks__/import-validation-mock.ts
  frontend/packages/dev-console/src/components/import/__tests__/deployImage-submit-utils-data.ts
  frontend/packages/dev-console/src/components/import/__tests__/deployImage-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils-data.ts
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/import/advanced/AdvancedSection.tsx
  frontend/packages/dev-console/src/components/import/advanced/ResourceLimitSection.tsx
  frontend/packages/dev-console/src/components/import/app/AppSection.tsx
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/modals/index.ts
  frontend/packages/dev-console/src/utils/__tests__/kebab-actions.spec.ts
  frontend/packages/dev-console/src/utils/kebab-actions.ts
  frontend/packages/dev-console/src/utils/shared-submit-utils.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-serving-data.ts
  frontend/packages/knative-plugin/src/utils/create-knative-utils.ts
  frontend/packages/knative-plugin/src/utils/kebab-actions.ts
Labels: approved, component/dev-console, component/knative, component/shared, kind/feature, lgtm, size/XL

#3789 Define chromium base branch and checksum at one place
  README.md
  chromium-version.sh
  frontend/test-e2e.sh
  test-prow-e2e.sh
Labels: approved, lgtm, size/S

#3792 Additional Setup Information
  frontend/packages/dev-console/README.md
  frontend/packages/knative-plugin/README.md
Labels: approved, component/dev-console, component/knative, kind/documentation, lgtm, size/S

#3797 kubevirt: fix Disk provision source in tests
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachine.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachineTemplate.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmtemplate.wizard.scenario.ts
Labels: approved, component/kubevirt, lgtm, size/S

#3801 Bug 1784854: Added legacy plural url field in the OB/C models
  frontend/packages/noobaa-storage-plugin/src/models.ts
Labels: approved, bugzilla/valid-bug, component/noobaa, kind/bug, lgtm, size/XS

#3803 Update ESLint autoFixOnSave settings to the new code action format
  frontend/.vscode/settings.json
Labels: approved, lgtm, size/XS

#3807 Fix spelling of "reconciling"
  frontend/packages/console-app/src/components/dashboards-page/ControlPlaneStatus.tsx
Labels: approved, component/core, lgtm, size/XS

#3816 add invincibleJai as an approver to packages/knative-plugin
  frontend/packages/knative-plugin/OWNERS
Labels: approved, component/knative, lgtm, size/XS

#3824 Bug 1776855: Fixes negative values in capacity breakdown
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/breakdown-card/breakdown-body.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/breakdown-card/breakdown-chart.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/breakdown-card/consts.ts
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/breakdown-card/utils.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/capacity-breakdown/capacity-breakdown-card.tsx
  frontend/packages/ceph-storage-plugin/src/constants/queries.ts
Labels: approved, bugzilla/valid-bug, component/ceph, lgtm, size/M

#3828 refactor and added specs for OverviewDetailsKnativeResourcesTab
  frontend/packages/knative-plugin/src/components/overview/KnativeRevisionResources.tsx
  frontend/packages/knative-plugin/src/components/overview/KnativeServiceResources.tsx
  frontend/packages/knative-plugin/src/components/overview/OverviewDetailsKnativeResourcesTab.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/OverviewDetailsKnativeResourcesTab.spec.tsx
Labels: approved, component/knative, lgtm, size/L

#3833 adds spec for RevisionRow component
  frontend/packages/dev-console/src/components/topology/__tests__/topology-knative-test-data.ts
  frontend/packages/knative-plugin/src/components/revisions/__tests__/RevisionRow.spec.tsx
  frontend/packages/knative-plugin/src/index.ts
  frontend/packages/knative-plugin/src/types.ts
Labels: approved, component/dev-console, component/knative, kind/cleanup, lgtm, size/L

#3840 Add VMI link to VM detauls page
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
Labels: approved, component/kubevirt, lgtm, size/XS

#3658 [Doc] Link descriptor Reference to README file and add statusDescriptor section
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/README.md
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/reference/reference.md
Labels: approved, component/olm, lgtm, ok-to-test, size/L

#3796 Add unit tests for dev-console/src/components/topology/topology-utils.ts
  frontend/packages/dev-console/src/components/topology/__tests__/service-binding-test-data.ts
  frontend/packages/dev-console/src/components/topology/__tests__/topology-test-data.ts
  frontend/packages/dev-console/src/components/topology/__tests__/topology-utils.spec.ts
Labels: approved, component/dev-console, component/knative, component/shared, kind/cleanup, lgtm, size/L

#3834 adds tests for RouteRow Component
  frontend/packages/dev-console/src/components/topology/__tests__/topology-knative-test-data.ts
  frontend/packages/knative-plugin/src/components/routes/RouteRow.tsx
  frontend/packages/knative-plugin/src/components/routes/__tests__/RouteRow.spec.tsx
  frontend/packages/knative-plugin/src/types.ts
Labels: approved, component/dev-console, component/knative, lgtm, size/L

#3627 Bug 1760828: update Active RC logic to not show Failed deployments
  frontend/packages/console-shared/src/constants/resource.ts
  frontend/packages/console-shared/src/utils/resource-utils.ts
Labels: approved, bugzilla/valid-bug, component/shared, kind/bug, lgtm, size/M

#3822 Fixed dropdown in data consumption card in compliant with patternfly
  frontend/packages/noobaa-storage-plugin/src/components/data-consumption-card/data-consumption-card-dropdown.tsx
Labels: approved, component/noobaa, kind/bug, lgtm, size/XS

#3823 Bug 1785454: Namespacing pod links
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/breakdown-card/breakdown-body.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/breakdown-card/breakdown-chart.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/breakdown-card/utils.tsx
Labels: approved, bugzilla/valid-bug, component/ceph, lgtm, size/XS

#3854 Bug 1787491: Buckets card do not update unhealthy status
  frontend/packages/noobaa-storage-plugin/src/components/buckets-card/buckets-card.tsx
Labels: approved, bugzilla/valid-bug, component/noobaa, lgtm, size/S

#3835 adds test to serviceRow component
  frontend/packages/dev-console/src/components/topology/__tests__/topology-knative-test-data.ts
  frontend/packages/knative-plugin/src/components/services/__tests__/serviceRow.spec.tsx
Labels: approved, component/dev-console, component/knative, lgtm, size/L

#3795 add serialColumn to BareMetalHost list
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostsTable.tsx
Labels: approved, component/metal3, lgtm, size/S

#3849 Modified the fieldDependency spec descriptor to allow multiple value …
  frontend/packages/operator-lifecycle-manager/src/components/create-operand.tsx
Labels: approved, component/olm, kind/feature, lgtm, ok-to-test, size/S

#3858 Bug 1787583: Fix off by one bug in metrics rows count
  frontend/public/components/monitoring/metrics.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/monitoring, kind/bug, lgtm, size/XS

#3817 Add unit tests for ProjectsExistWrapper
  frontend/packages/dev-console/src/components/ProjectsExistWrapper.tsx
  frontend/packages/dev-console/src/components/__tests__/ProjectsExistWrapper.spec.tsx
Labels: approved, component/dev-console, component/kubevirt, kind/cleanup, lgtm, size/M

#3737 Add gradient effect to activity card
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/activity-card/activity-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/status-card/status-card.tsx
  frontend/packages/console-shared/src/components/dashboard/dashboard-card/DashboardCard.tsx
  frontend/packages/console-shared/src/components/dashboard/dashboard-card/card.scss
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-activity.tsx
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-status-card.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/EventsCard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/StatusCard.tsx
  frontend/packages/noobaa-storage-plugin/src/components/activity-card/activity-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/status-card/status-card.tsx
  frontend/public/components/dashboard/dashboards-page/overview-dashboard/activity-card.tsx
  frontend/public/components/dashboard/dashboards-page/overview-dashboard/status-card.tsx
  frontend/public/components/dashboard/project-dashboard/activity-card.tsx
  frontend/public/components/dashboard/project-dashboard/status-card.tsx
Labels: approved, component/ceph, component/core, component/dashboard, component/kubevirt, component/metal3, component/noobaa, component/shared, lgtm, size/M

#3632 Bug 1778958: Remove serviceAccount in favour of serviceAccountName
  frontend/packages/dev-console/src/components/pipelines/detail-page-tabs/pipeline-details/__tests__/pipelinerun-mock.ts
  frontend/packages/dev-console/src/utils/__tests__/pipeline-actions.spec.ts
  frontend/packages/dev-console/src/utils/pipeline-actions.tsx
  frontend/packages/dev-console/src/utils/pipeline-augment.ts
Labels: approved, bugzilla/valid-bug, component/dev-console, kind/cleanup, lgtm, size/M

#3838 Topology filter
  frontend/packages/dev-console/src/components/topology/components/GraphComponent.tsx
  frontend/packages/dev-console/src/components/topology/components/edges/BaseEdge.scss
  frontend/packages/dev-console/src/components/topology/components/nodes/ApplicationGroup.scss
  frontend/packages/dev-console/src/components/topology/components/nodes/ApplicationGroup.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/BaseNode.scss
  frontend/packages/dev-console/src/components/topology/components/nodes/BaseNode.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/EventSource.scss
  frontend/packages/dev-console/src/components/topology/components/nodes/EventSource.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/KnativeService.scss
  frontend/packages/dev-console/src/components/topology/filters/__tests__/useFilter.spec.tsx
  frontend/packages/dev-console/src/components/topology/filters/useFilter.ts
Labels: approved, component/core, component/dev-console, component/knative, component/shared, kind/feature, lgtm, size/L

#3867 Bug fix: ODC-2540 Deploy Image - 2nd bullet has incorrect text
  frontend/packages/dev-console/src/utils/imagestream-utils.ts
Labels: approved, component/dev-console, kind/bug, lgtm, size/XS

#3787 Show csv icon in topology for operator backed services
  frontend/packages/console-shared/src/images/operator.svg
  frontend/packages/console-shared/src/utils/__tests__/icon-utils.spec.ts
  frontend/packages/console-shared/src/utils/__tests__/resource-utils.spec.ts
  frontend/packages/console-shared/src/utils/icon-utils.ts
  frontend/packages/console-shared/src/utils/index.ts
  frontend/packages/dev-console/src/components/topology/TopologyDataController.tsx
  frontend/packages/dev-console/src/components/topology/__tests__/__snapshots__/topology-utils.spec.ts.snap
  frontend/packages/dev-console/src/components/topology/__tests__/topology-knative-test-data.ts
  frontend/packages/dev-console/src/components/topology/__tests__/topology-test-data.ts
  frontend/packages/dev-console/src/components/topology/__tests__/topology-utils.spec.ts
  frontend/packages/dev-console/src/components/topology/topology-types.ts
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
  frontend/packages/knative-plugin/src/utils/knative-topology-utils.ts
Labels: approved, component/dev-console, component/knative, component/olm, component/shared, kind/feature, lgtm, size/XXL

#3865 Fix OCS install flow for OCP 4.3
  frontend/packages/ceph-storage-plugin/integration-tests/views/installFlow.view.ts
Labels: approved, component/ceph, lgtm, size/S

#3839 Add memory validations in the VM wizard
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/common-template-validations/common-templates-validations.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/common-template-validations/selectors.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/common-template-validations/validation-types.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/vm-settings-tab-validation.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm-template/selectors.ts
Labels: approved, component/kubevirt, lgtm, size/L

#3830 Test Noobaa SSO link from OCP dashboard
  frontend/packages/ceph-storage-plugin/integration-tests/tests/2-tests/noobaa-sso-scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/views/noobaa-sso.view.ts
Labels: approved, component/ceph, component/kubevirt, lgtm, size/M

#3237 Add Virtual Hardware tab to Create VM Wizard
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/virtual-hardware-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/strings/storage.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/strings/strings.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/storage-tab/storage-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/storage-tab/vm-wizard-storage-modal-enhanced.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/storage-tab/vm-wizard-storage-row.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/virtual-hardware-tab/types.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/virtual-hardware-tab/virtual-hardware-tab.scss
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/virtual-hardware-tab/virtual-hardware-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/virtual-hardware-tab/vm-wizard-virtualhardware-row.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/types.ts
  frontend/packages/kubevirt-plugin/src/components/modals/cdrom-vm-modal/cdrom-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/cdrom-vm-modal/helpers.ts
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal-enhanced.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/storage-ui-source.ts
  frontend/packages/kubevirt-plugin/src/components/vm-disks/cd-row.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/disk-row.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/types.ts
  frontend/packages/kubevirt-plugin/src/components/vm-disks/utils.ts
  frontend/packages/kubevirt-plugin/src/components/vm-disks/vm-cds.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/vm-disks.tsx
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/combined-disk.ts
Labels: approved, component/dev-console, component/knative, component/kubevirt, lgtm, size/XL

#3790 Optimize utilization card by splitting items to smaller components ea…
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationItem.tsx
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-utilization.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/UtilizationCard.tsx
  frontend/public/components/dashboard/dashboards-page/overview-dashboard/utilization-card.tsx
  frontend/public/components/dashboard/project-dashboard/utilization-card.tsx
Labels: approved, component/core, component/dashboard, component/kubevirt, component/metal3, component/shared, lgtm, size/XL

#3791 add boot MAC address to BareMetalHostDetails
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostDetails.scss
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostDetails.tsx
  frontend/packages/metal3-plugin/src/selectors/baremetal-hosts.ts
Labels: approved, component/metal3, lgtm, size/M

#3810 move PatchBuilder from kubevirt to shared
  frontend/packages/console-shared/src/k8s/index.ts
  frontend/packages/console-shared/src/k8s/patch.ts
  frontend/packages/console-shared/src/selectors/common.ts
  frontend/packages/kubevirt-plugin/src/components/modals/boot-order-modal/boot-order-modal.tsx
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm/utils.ts
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm/vm-boot-patches.ts
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm/vm-cdrom-patches.ts
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm/vm-disk-patches.ts
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm/vm-nic-patches.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/correct-vcenter-secret-labels.ts
Labels: approved, component/kubevirt, component/shared, lgtm, size/M

#3751 kubevirt: move and refactor request logic from web-ui-components
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/types.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/selectors/vm-settings.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/constants.ts
  frontend/packages/kubevirt-plugin/src/k8s/helpers/vm-clone.ts
  frontend/packages/kubevirt-plugin/src/k8s/objects/common/safe-metadata.ts
  frontend/packages/kubevirt-plugin/src/k8s/objects/vm/vm/index.ts
  frontend/packages/kubevirt-plugin/src/k8s/objects/vm/vm/safe-vm.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/clone.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/common.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/create.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/initialize-vm.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/selectors.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/types.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/utils/utils.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/network-wrapper.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/vm-template-wrapper.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/vm-wrapper.ts
  frontend/packages/kubevirt-plugin/src/models/models.ts
  frontend/packages/kubevirt-plugin/src/utils/index.ts
Labels: approved, component/kubevirt, lgtm, size/XXL

#3831 Bug 1784264: add namespace level imagestream fetching
  frontend/packages/console-shared/src/components/dropdown/ResourceDropdown.tsx
  frontend/packages/console-shared/src/components/formik-fields/ResourceDropdownField.tsx
  frontend/packages/dev-console/src/components/import/DeployImage.tsx
  frontend/packages/dev-console/src/components/import/DeployImageForm.tsx
  frontend/packages/dev-console/src/components/import/DeployImagePage.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageSearchSection.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageStream.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageStreamContext.ts
  frontend/packages/dev-console/src/components/import/image-search/ImageStreamDropdown.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageStreamNsDropdown.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageStreamTagDropdown.tsx
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/utils/__tests__/imagestream-utils.spec.ts
  frontend/packages/dev-console/src/utils/imagestream-utils.ts
Labels: approved, bugzilla/valid-bug, component/core, component/dev-console, component/shared, kind/bug, lgtm, size/XL

#3561 firehose: add optimization for those who do not require mapped redux data to JS
  frontend/__tests__/components/utils/firehose.spec.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/providers/vmware-import-provider/vmware-import-provider.tsx
  frontend/public/components/utils/firehose.jsx
Labels: approved, component/core, component/kubevirt, lgtm, size/M

#3793 Added ceph osd tree related test cases for OCS expand
  frontend/packages/ceph-storage-plugin/integration-tests/tests/2-tests/add-capacity.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/utils/consts.ts
  frontend/packages/ceph-storage-plugin/integration-tests/utils/helpers.ts
Labels: approved, component/ceph, lgtm, size/L

#3806 add test to EventSinkServicesOverviewList component
  frontend/packages/dev-console/src/components/topology/__tests__/topology-knative-test-data.ts
  frontend/packages/knative-plugin/src/components/overview/__tests__/EventSinkServicesOverviewList.spec.tsx
Labels: approved, component/dev-console, component/knative, kind/cleanup, lgtm, size/M

#3878 Fix dashboard gradient for all browsers
  frontend/packages/console-shared/src/components/dashboard/dashboard-card/card.scss
Labels: approved, component/dashboard, component/shared, lgtm, size/XS

#3837 Added monitoring page with tabs as part of ODC-2571
  frontend/packages/dev-console/src/components/monitoring/MonitoringPage.tsx
  frontend/packages/dev-console/src/components/monitoring/__tests__/MonitoringPage.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringDashboard.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/__tests__/MonitoringDashboard.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/metrics/MonitoringMetrics.tsx
  frontend/packages/dev-console/src/components/monitoring/metrics/__tests__/MonitoringMetrics.spec.tsx
  frontend/packages/dev-console/src/plugin.tsx
Labels: approved, component/dev-console, kind/feature, lgtm, size/L

#3885 [release-4.2] Bug 1788705: Lazy load images in OperatorHub
  frontend/__tests__/components/operator-hub/operator-hub.spec.tsx
  frontend/integration-tests/protractor.conf.ts
  frontend/integration-tests/tests/olm/descriptors.scenario.ts
  frontend/integration-tests/tests/olm/global-installmode.scenario.ts
  frontend/integration-tests/tests/olm/single-installmode.scenario.ts
  frontend/integration-tests/views/catalog.view.ts
  frontend/integration-tests/views/crud.view.ts
  frontend/package.json
  frontend/public/components/operator-hub/operator-hub-items.tsx
  frontend/yarn.lock
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, component/core, component/olm, lgtm, size/L

#3843 Bug 1786591: Shows the values in expand modal dropdown
  frontend/public/components/utils/storage-class-dropdown.tsx
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, component/core, lgtm, size/XS

#3900 Bug 1789139: support snippets in edit mode, not just create
  frontend/public/components/edit-yaml.jsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/S

#3898 [release-4.2] Bug 1789119: Support for Pipeline Operator 0.9 on OpenShift 4.2
  frontend/packages/dev-console/src/components/pipelines/__tests__/pipelinerun-mock.ts
  frontend/packages/dev-console/src/utils/__tests__/pipeline-actions.spec.ts
  frontend/packages/dev-console/src/utils/pipeline-actions.tsx
  frontend/packages/dev-console/src/utils/pipeline-augment.ts
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, lgtm, size/M

#3879 Nitpicks from #3839
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/common-template-validations/common-templates-validations.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/common-template-validations/selectors.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/vm-settings-tab-validation.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm-template/selectors.ts
Labels: approved, component/kubevirt, lgtm, size/L

#3888 Fix non-admin test scenario, vm template scenario
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachine.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/consts.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/mocks.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/types.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.non-admin.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.wizard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmtemplate.wizard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/vms.list.view.ts
Labels: approved, component/kubevirt, lgtm, size/M

#3914 Bug 1787096: Sorting by 'Starting Deadlines Seconds' don't work on CronJob list page
  frontend/public/components/cron-job.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/XS

#3813 Basic pipeline test
  frontend/integration-tests/protractor.conf.ts
  frontend/packages/dev-console/integration-tests/tests/pipeline.scenario.ts
  frontend/packages/dev-console/integration-tests/views/pipeline.view.ts
  frontend/packages/dev-console/integration-tests/views/simple-pipeline-demo.yaml
Labels: approved, component/dev-console, lgtm, size/L

#3800 add test to ConfigurationsOverviewList and refactor
  frontend/packages/dev-console/src/components/topology/__tests__/topology-knative-test-data.ts
  frontend/packages/knative-plugin/src/components/overview/ConfigurationsOverviewList.tsx
  frontend/packages/knative-plugin/src/components/overview/ConfigurationsOverviewListItem.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/ConfigurationsOverviewList.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/ConfigurationsOverviewListItem.spec.tsx
Labels: approved, component/dev-console, component/knative, kind/cleanup, lgtm, size/L

#3920 [release-4.2] Bug 1789903: Fixed the display issue in operand detail view, when the value of the…
  frontend/public/components/operator-lifecycle-manager/descriptors/spec/index.tsx
  frontend/public/components/operator-lifecycle-manager/descriptors/status/index.tsx
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, component/core, component/olm, kind/bug, lgtm, size/XS

#3857 packages/git-service: add tests
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/bitbucket/branches.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/bitbucket/files-modern-webapp.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/bitbucket/languages.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/bitbucket/repo-not-reachable.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/bitbucket/repo.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/repo-not-reachable.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/gitlab/repo-not-reachable.json
  frontend/packages/git-service/src/services/__tests__/bitbucket-service.spec.ts
  frontend/packages/git-service/src/services/__tests__/github-service.spec.ts
  frontend/packages/git-service/src/services/__tests__/gitlab-service.spec.ts
Labels: approved, component/dev-console, component/git-service, kind/cleanup, lgtm, size/XL

#3880 Bug 1786259: Fix Edit YAML link on NAD creation page
  frontend/packages/network-attachment-definition-plugin/src/models/index.ts
Labels: approved, bugzilla/valid-bug, lgtm, size/XS

#3919 Make operator logo as default if the service is operator backed
  frontend/packages/console-shared/src/utils/icon-utils.ts
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
Labels: approved, component/dev-console, component/shared, lgtm, size/XS

#3890 feat(dev-catalog): Rename & Reorder existing filters in Dev Catalog
  frontend/__tests__/components/catalog.spec.tsx
  frontend/public/components/catalog/catalog-items.jsx
Labels: approved, component/core, kind/feature, lgtm, size/M

#3895 Bug fix: Edit application from dockerfile throws type-error on save
  frontend/packages/dev-console/src/components/edit-application/EditApplication.tsx
Labels: approved, component/dev-console, kind/bug, lgtm, size/XS

#3897 Bug 1786418: The filter does not work on catalog sources list page
  frontend/packages/operator-lifecycle-manager/src/components/catalog-source.tsx
  frontend/public/components/factory/table-filters.ts
Labels: approved, bugzilla/valid-bug, component/core, component/olm, lgtm, size/XS

#3911 Remove min-height rules that can cause content overlap at mobile
  frontend/public/components/_nav-title.scss
Labels: approved, component/core, lgtm, size/XS

#3774 feat(topology filter): added filter for knative event sources
  frontend/packages/dev-console/src/components/topology/__tests__/topology-utils.spec.ts
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
Labels: approved, component/dev-console, kind/feature, lgtm, size/M

#3832 packages/dev-console/src/component/project-access: tests for ProjectAccessForm
  frontend/packages/dev-console/src/components/project-access/__tests__/ProjectAccessForm.spec.tsx
Labels: approved, component/dev-console, kind/cleanup, lgtm, size/L

#3841 List VMIs in the VM list view
  frontend/packages/kubevirt-plugin/src/components/vm-status/vm-status.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm.tsx
  frontend/packages/kubevirt-plugin/src/selectors/vm/vmlike.ts
  frontend/packages/kubevirt-plugin/src/selectors/vmi/basic.ts
  frontend/packages/kubevirt-plugin/src/statuses/vm/constants.ts
Labels: approved, component/kubevirt, lgtm, size/L

#3846 add test to KnativeResourceOverviewPage
  frontend/packages/dev-console/src/components/topology/TopologyResourcePanel.tsx
  frontend/packages/knative-plugin/src/components/overview/KnativeOverview.tsx
  frontend/packages/knative-plugin/src/components/overview/KnativeResourceOverviewPage.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/KnativeOverview.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/KnativeResourceOverviewPage.spec.tsx
Labels: approved, component/dev-console, component/knative, kind/cleanup, lgtm, size/L

#3848 Adapt CNV to Native k8s
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/native/consts.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/stateUpdate/vmSettings/vm-settings-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/strings/strings.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/os-flavor.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/user-templates.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/vm-settings-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/types.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/constants.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/config-map/storage-class/constants.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/common.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/create.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/types.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/vm-template-wrapper.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/vm-wrapper.ts
  frontend/packages/kubevirt-plugin/src/plugin.tsx
Labels: approved, component/kubevirt, lgtm, size/L

#3860 metal3: move yaml creation link to the list menu in BareMetalHosts
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostsPage.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/add-baremetal-host/AddBareMetalHostPage.tsx
Labels: approved, component/metal3, lgtm, size/M

#3910 shared: make separator optional in joinGrammaticallyListOfItems
  frontend/packages/console-shared/src/utils/grammar.ts
Labels: approved, component/shared, lgtm, size/XS

#3915 cluster settings: add text filter for global config table
  frontend/public/components/cluster-settings/global-config.tsx
Labels: approved, component/core, lgtm, size/M

#3441 Bug 1767851: Link on problematic obcs directed to OBC page
  frontend/packages/noobaa-storage-plugin/src/components/buckets-card/buckets-card-item.tsx
  frontend/packages/noobaa-storage-plugin/src/components/buckets-card/buckets-card.scss
  frontend/packages/noobaa-storage-plugin/src/components/buckets-card/buckets-card.tsx
Labels: approved, bugzilla/valid-bug, component/noobaa, lgtm, size/L

#3804 Support drag and drop of sink for event source from one knative service to another
  frontend/packages/dev-console/src/components/topology/__tests__/topology-utils.spec.ts
  frontend/packages/dev-console/src/components/topology/componentFactory.ts
  frontend/packages/dev-console/src/components/topology/componentUtils.ts
  frontend/packages/dev-console/src/components/topology/components/createConnection.tsx
  frontend/packages/dev-console/src/components/topology/components/edges/EventSourceLink.scss
  frontend/packages/dev-console/src/components/topology/components/edges/EventSourceLink.tsx
  frontend/packages/dev-console/src/components/topology/components/nodes/KnativeService.scss
  frontend/packages/dev-console/src/components/topology/components/nodes/KnativeService.tsx
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
  frontend/packages/dev-console/src/components/topology/withEditReviewAccess.tsx
  frontend/packages/dev-console/src/utils/application-utils.ts
  frontend/packages/knative-plugin/src/components/overview/EventSinkServicesOverviewList.tsx
  frontend/packages/knative-plugin/src/utils/__tests__/knative-topology-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/knative-topology-utils.ts
  frontend/packages/topology/src/behavior/useDndDrop.tsx
Labels: approved, component/dev-console, component/knative, kind/feature, lgtm, size/L

#3820 packages/dev-console/src/component/project-access: Add tests
  frontend/packages/dev-console/src/components/project-access/ProjectAccessForm.tsx
  frontend/packages/dev-console/src/components/project-access/ProjectAccessPage.tsx
  frontend/packages/dev-console/src/components/project-access/RenderProjectAccessPage.tsx
  frontend/packages/dev-console/src/components/project-access/__tests__/ProjectAccess.spec.tsx
  frontend/packages/dev-console/src/components/project-access/__tests__/ProjectAccessPage.spec.tsx
  frontend/packages/dev-console/src/components/project-access/__tests__/RenderProjectAccessPage.spec.tsx
  frontend/packages/dev-console/src/components/project-access/__tests__/project-access-form-data.ts
  frontend/packages/dev-console/src/components/project-access/__tests__/project-access-form-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/project-access/__tests__/project-access-form-utils.spec.tsx
  frontend/packages/dev-console/src/components/project-access/__tests__/project-access-form-validation-utils.spec.ts
Labels: approved, component/dev-console, kind/cleanup, lgtm, size/L

#3926 createLookup take firehose object not list ...
  frontend/packages/kubevirt-plugin/src/components/vms/vm.tsx
Labels: approved, component/kubevirt, lgtm, size/XS

#3912 Console backend endpoint for requesting dashboard config
  cmd/bridge/main.go
  pkg/server/resource_lister.go
  pkg/server/server.go
Labels: approved, component/backend, lgtm, size/M

#3625 Added PR template for devconsole
  .github/PULL_REQUEST_TEMPLATE/devconsole_pr.md
Labels: approved, kind/documentation, lgtm, size/S

#3906 Fix utilization loading state if totalQuery is not defined
  frontend/public/components/dashboard/dashboards-page/overview-dashboard/utilization-card.tsx
Labels: approved, component/core, component/dashboard, lgtm, size/XS

#3930 kubevirt: fix commonData change detection for validations
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/utils.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/utils.ts
Labels: approved, component/kubevirt, lgtm, size/S

#3922 add submenu support to resource action menus
  frontend/packages/console-shared/src/components/popper/Popper.tsx
  frontend/packages/dev-console/src/components/topology/nodeContextMenu.tsx
  frontend/packages/topology/src/behavior/withCreateConnector.tsx
  frontend/packages/topology/src/components/contextmenu/ContextMenu.scss
  frontend/packages/topology/src/components/contextmenu/ContextMenu.tsx
  frontend/packages/topology/src/components/contextmenu/ContextSubMenuItem.scss
  frontend/packages/topology/src/components/contextmenu/ContextSubMenuItem.tsx
  frontend/packages/topology/src/components/contextmenu/index.ts
  frontend/public/components/utils/_kebab.scss
  frontend/public/components/utils/kebab.tsx
Labels: approved, component/core, component/dev-console, component/shared, kind/feature, lgtm, size/L

#3935 Fix create-vm-wizard so it won't stall on pulling templates
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard.tsx
Labels: approved, component/kubevirt, lgtm, size/XS

#3925 Update VirtualMachineInstance badge color
  frontend/packages/kubevirt-plugin/src/models/index.ts
Labels: approved, component/core, lgtm, size/XS

#3121 Updates to "Custom Resources list" view
  frontend/packages/operator-lifecycle-manager/src/components/operand.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand.tsx
Labels: approved, component/olm, component/shared, lgtm, size/L

#3936 Add ActionFeatureFlag extension
  frontend/packages/console-app/src/__tests__/extension-checks/features.spec.ts
  frontend/packages/console-plugin-sdk/src/registry.ts
  frontend/packages/console-plugin-sdk/src/typings/features.ts
  frontend/public/actions/features.ts
  frontend/public/reducers/features.ts
Labels: approved, lgtm

#3940 Make subscriptions & catalog sources optional so normal users can see installed operators
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/plugin.tsx
  frontend/public/actions/features.ts
  frontend/public/const.ts
Labels: approved, component/core, component/olm, lgtm, size/M

#3956 Bug 1790891: Fix 'View alerts' link URL
  frontend/public/components/dashboard/dashboards-page/overview-dashboard/status-card.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/dashboard, kind/bug, lgtm, size/XS

#3929 Bug 1789979: Fix webhook triggers hooks to re-run on prop change
  frontend/public/components/utils/webhooks.tsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/M

#3941 fix(TopologyResourcePanel): fix breaking TopologyResourcePanel
  frontend/packages/dev-console/src/components/topology/TopologyResourcePanel.tsx
  frontend/packages/knative-plugin/src/components/overview/KnativeOverview.tsx
  frontend/packages/knative-plugin/src/components/overview/KnativeResourceOverviewPage.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/KnativeOverview.spec.tsx
  frontend/packages/knative-plugin/src/utils/get-knative-resources.ts
Labels: approved, component/dev-console, component/knative, lgtm, size/M

#3946 Monitoring Dashboards: Add variable dropdowns
  frontend/public/actions/ui.ts
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/reducers/ui.ts
Labels: approved, component/core, component/monitoring, lgtm, size/L

#3957 Fix race condition for kebab actions
  frontend/integration-tests/views/crud.view.ts
  frontend/integration-tests/views/monitoring.view.ts
Labels: approved, component/core, lgtm, size/XS

#3962 Bug 1784352: Fix bug where regular users cannot view Pods tab pods
  frontend/public/components/pod.tsx
Labels: approved, bugzilla/valid-bug, component/core, kind/bug, lgtm, size/XS

#3765 Add Cluster Operator upgrade activity
  frontend/packages/console-app/src/components/dashboards-page/ClusterOperatorUpgradeActivity.tsx
  frontend/packages/console-app/src/components/dashboards-page/ClusterUpdateActivity.tsx
  frontend/packages/console-app/src/components/dashboards-page/activity.scss
  frontend/packages/console-app/src/components/dashboards-page/activity.ts
  frontend/packages/console-app/src/plugin.tsx
  frontend/packages/console-shared/src/components/dashboard/activity-card/ActivityItem.tsx
  frontend/packages/console-shared/src/components/dashboard/activity-card/activity-card.scss
Labels: approved, component/core, component/dashboard, component/metal3, component/sdk, component/shared, lgtm, size/L

#3932 [metal3] Add detailed information in popover for Host states
  frontend/packages/console-shared/src/components/status/statuses.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostStatus.tsx
Labels: approved, component/metal3, component/shared, lgtm, size/M

#3908 Extract logic for managing dashboard query ranges to hook
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/utilization-card/utilization-card.tsx
  frontend/packages/console-shared/src/components/dashboard/duration-hook.ts
  frontend/packages/console-shared/src/components/dashboard/utilization-card/dropdown-value.ts
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-utilization.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/UtilizationCard.tsx
  frontend/public/components/dashboard/dashboards-page/overview-dashboard/utilization-card.tsx
  frontend/public/components/dashboard/project-dashboard/utilization-card.tsx
Labels: approved, component/ceph, component/core, component/dashboard, component/kubevirt, component/metal3, component/shared, lgtm, size/L

#3933 Bug 1786068: Bug 1786070: Bug 1786091: Fixes kubevirt cdrom bugs
  frontend/packages/kubevirt-plugin/src/components/modals/cdrom-vm-modal/cdrom-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/cdrom-vm-modal/cdrom-row.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/cdrom-vm-modal/constants.ts
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm/vm-cdrom-patches.ts
Labels: approved, bugzilla/valid-bug, component/kubevirt, kind/bug, lgtm, size/L

#3951 Create tests for VM dashboard
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/detailView.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/consts.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.dashboard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.cdrom.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/dashboard.view.ts
Labels: approved, component/kubevirt, lgtm, size/L

#3965 Monitoring Dashboards: Fix "Time Range" dropdown
  frontend/public/components/monitoring/dashboards/graph.tsx
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, component/core, component/monitoring, lgtm, size/M

#3968 Monitoring Dashboards: Add stacked area graphs
  frontend/public/components/monitoring/dashboards/graph.tsx
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/dashboards/types.ts
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, component/core, component/monitoring, lgtm, size/L

#3901 Show network metrics on pod page
  frontend/public/components/pod.tsx
Labels: approved, component/core, lgtm, size/S

#3974 Bug 1785487: [UX] Remove Create Binding button from Role Bindings page when empty state
  frontend/public/components/RBAC/bindings.jsx
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/XS

#3882 Refactor code to use formatNamespacedRouteForResource from @console/shared
  frontend/__tests__/actions/ui.spec.ts
  frontend/packages/console-shared/src/utils/index.ts
  frontend/packages/console-shared/src/utils/namespace.ts
  frontend/packages/dev-console/src/components/EmptyState.tsx
  frontend/public/actions/ui.ts
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/components/nav/admin-nav.tsx
  frontend/public/components/nav/items.tsx
  frontend/public/components/overview/index.tsx
Labels: approved, component/core, component/dashboard, component/dev-console, component/kubevirt, component/metal3, component/olm, component/shared, lgtm, size/M

#3896 Add Capability Levels to OperatorHub items
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-item-details.tsx
  frontend/public/components/catalog/_catalog.scss
Labels: approved, component/core, component/olm, lgtm, size/L

#3947 Bug 1790757: Fix input type for inputs that hold URL in cluster-setting forms
  frontend/public/components/cluster-settings/basicauth-idp-form.tsx
  frontend/public/components/cluster-settings/github-idp-form.tsx
  frontend/public/components/cluster-settings/gitlab-idp-form.tsx
  frontend/public/components/cluster-settings/google-idp-form.tsx
  frontend/public/components/cluster-settings/htpasswd-idp-form.tsx
  frontend/public/components/cluster-settings/index.ts
  frontend/public/components/cluster-settings/keystone-idp-form.tsx
  frontend/public/components/cluster-settings/ldap-idp-form.tsx
  frontend/public/components/cluster-settings/openid-idp-form.tsx
  frontend/public/components/cluster-settings/request-header-idp-form.tsx
  frontend/public/module/k8s/resource.js
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/L

#3755 Add operators status to Dashboards
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/status-card/status-card.tsx
  frontend/packages/console-app/src/components/dashboards-page/OperatorStatus.tsx
  frontend/packages/console-app/src/components/dashboards-page/operator-status.scss
  frontend/packages/console-app/src/components/dashboards-page/status.ts
  frontend/packages/console-app/src/plugin.tsx
  frontend/packages/console-plugin-sdk/src/typings/dashboards.ts
  frontend/packages/console-shared/src/components/dashboard/status-card/AlertItem.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/HealthItem.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/OperatorStatusBody.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/alert-utils.ts
  frontend/packages/console-shared/src/components/dashboard/status-card/operator-body.scss
  frontend/packages/console-shared/src/components/dashboard/status-card/state-utils.ts
  frontend/packages/console-shared/src/components/dashboard/status-card/states.ts
  frontend/packages/console-shared/src/components/dashboard/status-card/states.tsx
  frontend/packages/console-shared/src/components/status/icons.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/StatusCard.tsx
  frontend/packages/noobaa-storage-plugin/src/components/status-card/status-card.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/dashboard/csv-status.scss
  frontend/packages/operator-lifecycle-manager/src/components/dashboard/csv-status.tsx
  frontend/packages/operator-lifecycle-manager/src/components/dashboard/utils.ts
  frontend/packages/operator-lifecycle-manager/src/plugin.tsx
  frontend/packages/operator-lifecycle-manager/src/status/csv-status.ts
  frontend/packages/operator-lifecycle-manager/src/types.ts
  frontend/public/components/dashboard/dashboards-page/overview-dashboard/health-item.tsx
  frontend/public/components/dashboard/dashboards-page/overview-dashboard/status-card.tsx
  frontend/public/components/utils/async.tsx
  frontend/public/components/utils/resource-link.tsx
  frontend/public/components/utils/types.ts
Labels: approved, component/ceph, component/core, component/dashboard, component/kubevirt, component/metal3, component/noobaa, component/olm, component/sdk, component/shared, lgtm, size/XXL

#3984 Bug 1790528: Fix removal of OPERATOR_LIFECYCLE_MANAGER flag from olm package causi…
  frontend/packages/operator-lifecycle-manager/src/plugin.tsx
Labels: approved, bugzilla/valid-bug, component/olm, lgtm, size/XS

#3945 [metal3] Remove Node maintenance limit validation
  frontend/packages/metal3-plugin/src/components/modals/StartNodeMaintenanceModal.tsx
Labels: approved, component/metal3, lgtm, size/S

#3953 BMH Power off modal enhancements
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/host-menu-actions.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/menu-actions.ts
  frontend/packages/metal3-plugin/src/components/modals/PowerOffHostModal.tsx
  frontend/packages/metal3-plugin/src/constants/bare-metal-host.ts
Labels: approved, component/metal3, lgtm, size/M

#3975 Introduce V2V VM Import test case
  frontend/packages/kubevirt-plugin/integration-tests/tests/dialogs/diskDialog.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/dialogs/networkInterfaceDialog.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/importWizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachine.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/consts.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/types.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/utils.ts
  frontend/packages/kubevirt-plugin/integration-tests/v2v/v2v.configs.ts
  frontend/packages/kubevirt-plugin/integration-tests/v2v/v2v.import.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/importWizard.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/wizard.view.ts
  frontend/packages/kubevirt-plugin/package.json
Labels: approved, component/kubevirt, lgtm, size/L

#3982 Change memory in Flavor text from GB to GiB
  frontend/packages/kubevirt-plugin/src/components/flavor-text.tsx
Labels: approved, component/kubevirt, lgtm, size/XS

#3991 Bug 1791182: Add 4.3 channels to UI in 4.2.z
  frontend/public/module/k8s/cluster-settings.ts
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, component/core, lgtm, size/XS

#4007 Use dependencies from vendor dir
  build-backend.sh
  test-backend.sh
Labels: approved, lgtm, size/XS

#4017 backend: disable HTTP/2
  cmd/bridge/main.go
Labels: approved, lgtm, size/XS

#3972 Bug 1790711: Remove nightly-4.1 channel from console
  frontend/public/module/k8s/cluster-settings.ts
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, lgtm, size/XS

#3868 Increased height of activity card in overview dashboard
  frontend/public/components/dashboard/dashboards-page/overview-dashboard/activity-card.scss
  frontend/public/components/dashboard/dashboards-page/overview-dashboard/activity-card.tsx
  frontend/public/style.scss
Labels: approved, component/core, component/dashboard, lgtm, size/XS

#3851 ApplicationGroupResource unit tests
  frontend/packages/dev-console/src/components/topology/ApplicationGroupResource.tsx
  frontend/packages/dev-console/src/components/topology/Topology.tsx
  frontend/packages/dev-console/src/components/topology/application-panel/ApplicationGroupResource.tsx
  frontend/packages/dev-console/src/components/topology/application-panel/TopologyApplicationList.tsx
  frontend/packages/dev-console/src/components/topology/application-panel/TopologyApplicationPanel.tsx
  frontend/packages/dev-console/src/components/topology/application-panel/TopologyApplicationResources.scss
  frontend/packages/dev-console/src/components/topology/application-panel/TopologyApplicationResources.tsx
  frontend/packages/dev-console/src/components/topology/application-panel/__tests__/ApplicationGroupResource.spec.tsx
Labels: approved, component/dev-console, kind/cleanup, lgtm, size/L

#3928 Added helm chart repo proxy to the console backend
  cmd/bridge/main.go
  pkg/helm/config.go
  pkg/server/server.go
  pkg/serverconfig/config.go
  pkg/serverconfig/types.go
Labels: approved, component/backend, lgtm, size/M

#3948 Make extra step in VM Wizard to procceed trough Virtual Hardware tab
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachine.ts
Labels: approved, component/kubevirt, lgtm, size/XS

#3988 Fix modal close on confirmation of a node regroup
  frontend/packages/dev-console/src/components/topology/components/moveNodeToGroup.tsx
  frontend/public/components/modals/_modals.scss
Labels: approved, component/core, component/dev-console, lgtm, size/XS

#3995 Bug 1792435: Add 4.4 channels
  frontend/public/module/k8s/cluster-settings.ts
Labels: approved, bugzilla/valid-bug, component/core, lgtm, size/XS

#3999 bump formik
  frontend/package.json
  frontend/yarn.lock
Labels: approved, lgtm, size/S

#4000 shared: make alert props optional in FormFooter and update patch
  frontend/packages/console-shared/src/components/form-utils/FormFooter.tsx
  frontend/packages/console-shared/src/components/form-utils/form-utils-types.ts
  frontend/packages/console-shared/src/k8s/patch.ts
Labels: approved, component/shared, lgtm, size/M

#4002 Monitoring Dashboards: Change "Refresh Interval" options
  frontend/public/components/monitoring/dashboards/index.tsx
Labels: approved, component/core, component/monitoring, lgtm, size/S

#3891 Dev metrics: visualisation of queries in metrics
  frontend/packages/dev-console/src/components/monitoring/metrics/EmptyStateQuery.tsx
  frontend/packages/dev-console/src/components/monitoring/metrics/MetricsChart.scss
  frontend/packages/dev-console/src/components/monitoring/metrics/MetricsChart.tsx
  frontend/packages/dev-console/src/components/monitoring/metrics/MetricsQueryInput.scss
  frontend/packages/dev-console/src/components/monitoring/metrics/MetricsQueryInput.tsx
  frontend/packages/dev-console/src/components/monitoring/metrics/MonitoringMetrics.tsx
  frontend/packages/dev-console/src/components/monitoring/metrics/__tests__/MetricsChart.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/queries.ts
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, component/core, component/dev-console, component/monitoring, kind/feature, lgtm, size/L

#3818 Noobaa Operators Page remaining stuffs
  frontend/packages/noobaa-storage-plugin/src/components/noobaa-operator/helper.tsx
  frontend/packages/noobaa-storage-plugin/src/components/noobaa-operator/infoPage.scss
  frontend/packages/noobaa-storage-plugin/src/components/noobaa-operator/infoPage.tsx
  frontend/packages/noobaa-storage-plugin/src/components/noobaa-operator/noobaa-page.tsx
  frontend/packages/noobaa-storage-plugin/src/components/noobaa-operator/resourceTable.tsx
  frontend/packages/noobaa-storage-plugin/src/models.ts
  frontend/packages/noobaa-storage-plugin/src/plugin.ts
Labels: approved, component/core, component/noobaa, lgtm, size/XL

#3992 chore: bump builder image dependencies
  Dockerfile
  Dockerfile.builder
  README.md
  builder-run.sh
  frontend/public/components/utils/units.js
Labels: approved, area/dependency, component/core, lgtm, size/M

#3904 Initial boot order tests
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/kubevirtDetailView.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachine.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/mocks.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/scripts/drag-drop.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/types.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/utils.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.boot-order.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/editBootOrderView.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/virtualMachine.view.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm/devices.ts
Labels: approved, component/kubevirt, lgtm, size/L

#3918 feat(topology-resourcemenu): add resource menu actions
  frontend/packages/dev-console/src/actions/add-resources.tsx
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/topology/actions/graphActions.ts
  frontend/packages/dev-console/src/components/topology/actions/groupActions.ts
  frontend/packages/dev-console/src/components/topology/componentFactory.ts
  frontend/packages/dev-console/src/components/topology/components/GraphComponent.tsx
  frontend/packages/dev-console/src/components/topology/nodeContextMenu.tsx
  frontend/packages/dev-console/src/utils/__tests__/add-resources-menu-utils.spec.tsx
  frontend/packages/dev-console/src/utils/add-resources-menu-utils.ts
  frontend/packages/topology/src/components/GraphComponent.tsx
  frontend/public/components/utils/_kebab.scss
  frontend/public/components/utils/kebab.tsx
Labels: approved, component/core, component/dev-console, kind/feature, lgtm, size/L

#3969 Allow children components on DetailsPage header
  frontend/public/components/factory/details.tsx
Labels: approved, component/core, lgtm, size/XS

#3996 Remove cluster operator upgrade activity
  frontend/packages/console-app/src/components/dashboards-page/ClusterOperatorUpgradeActivity.tsx
  frontend/packages/console-app/src/components/dashboards-page/activity.scss
  frontend/packages/console-app/src/components/dashboards-page/activity.ts
  frontend/packages/console-app/src/components/dashboards-page/inventory-mapper.ts
  frontend/packages/console-app/src/plugin.tsx
Labels: approved, component/core, lgtm, size/M

#3964 BaremetalHost: Use new errorType field in Host CR
  frontend/packages/metal3-plugin/src/constants/bare-metal-host.ts
  frontend/packages/metal3-plugin/src/selectors/baremetal-hosts.ts
  frontend/packages/metal3-plugin/src/status/host-status.ts
Labels: approved, component/metal3, lgtm, ok-to-test, size/S

#4001 make k8sPatch resilient to arrays with null values
  frontend/public/module/k8s/resource.js
Labels: approved, component/core, lgtm, size/XS

#4014 shared: move compareOwnerReferences from kubevirt
  frontend/packages/console-shared/src/utils/owner-references.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/correct-vcenter-secret-labels.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/data-volume-wrapper.ts
  frontend/packages/kubevirt-plugin/src/selectors/pod/selectors.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm/combined.ts
  frontend/packages/kubevirt-plugin/src/utils/index.ts
Labels: approved, component/kubevirt, component/shared, lgtm, size/M

#4016 enhance FirehoseResult type
  frontend/public/components/utils/types.ts
Labels: approved, component/core, lgtm, size/XS

#3889 Add List component for detail properties
  frontend/packages/console-app/src/components/nodes/NodeIPList.tsx
  frontend/packages/console-shared/src/components/index.ts
  frontend/packages/console-shared/src/components/lists/DetailPropertyList.scss
  frontend/packages/console-shared/src/components/lists/DetailPropertyList.tsx
  frontend/packages/console-shared/src/components/lists/DetailPropertyListItem.tsx
  frontend/packages/console-shared/src/components/lists/index.ts
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostDetails.scss
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostDetails.tsx
  frontend/public/components/_node-ip-list.scss
  frontend/public/style.scss
Labels: approved, component/core, component/metal3, component/shared, lgtm, size/L

#3923 Add monitoring dashboard graph
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringDashboard.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringDashboardCountBlock.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringDashboardGraph.scss
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringDashboardGraph.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/__tests__/MonitoringDashboard.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/__tests__/MonitoringDashboardGraph.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/monitoringDashboardQueries.ts
Labels: approved, component/dev-console, kind/feature, lgtm, size/L

#3937 Alertmanager: Refactored
  frontend/integration-tests/tests/monitoring.scenario.ts
  frontend/integration-tests/views/form.view.ts
  frontend/public/actions/features.ts
  frontend/public/components/app-contents.tsx
  frontend/public/components/modals/alert-routing-modal.tsx
  frontend/public/components/monitoring.tsx
  frontend/public/components/monitoring/alert-manager-config.tsx
  frontend/public/components/monitoring/alert-manager-receiver-forms.tsx
  frontend/public/components/monitoring/alert-manager-utils.tsx
  frontend/public/components/monitoring/alert-manager-yaml-editor.tsx
  frontend/public/components/monitoring/receiver-forms/alert-manager-receiver-forms.tsx
  frontend/public/components/monitoring/receiver-forms/pagerduty-receiver-form.tsx
  frontend/public/components/monitoring/receiver-forms/routing-labels-editor.tsx
  frontend/public/components/monitoring/receiver-forms/webhook-receiver-form.tsx
  frontend/public/components/utils/dropdown.jsx
  frontend/public/reducers/monitoring.ts
Labels: approved, component/core, component/monitoring, lgtm, size/XXL

#3805 Add CPU Pinning modal and functionality
  frontend/packages/console-shared/src/selectors/common.ts
  frontend/packages/kubevirt-plugin/src/components/modals/dedicated-resources-modal/consts.ts
  frontend/packages/kubevirt-plugin/src/components/modals/dedicated-resources-modal/dedicated-resources-modal.scss
  frontend/packages/kubevirt-plugin/src/components/modals/dedicated-resources-modal/dedicated-resources-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/modal/modal-footer.scss
  frontend/packages/kubevirt-plugin/src/components/modals/modal/modal-footer.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-resource.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm/vm-cpu-patches.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm/selectors.ts
  frontend/packages/kubevirt-plugin/src/types/vm/index.ts
  frontend/public/components/utils/label-list.tsx
Labels: approved, component/core, component/kubevirt, component/shared, lgtm, size/L

#3863 dashboards: initial support for tables in monitoring dashboards
  frontend/public/components/graphs/prometheus-poll-hook.ts
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/dashboards/table.tsx
  frontend/public/components/monitoring/dashboards/types.ts
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/components/utils/units.js
Labels: approved, component/core, component/monitoring, kind/feature, lgtm, size/L

#3881 Bug 1777966: Use HrefNavItem for BMH nav link
  frontend/packages/metal3-plugin/src/plugin.tsx
Labels: approved, bugzilla/valid-bug, component/core, component/dashboard, component/dev-console, component/kubevirt, component/metal3, component/olm, component/shared, lgtm, size/S

#3909 kubevirt: enhance memory validation and template selection
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/stateUpdate/vmSettings/prefill-vm-template-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/common-template-validations/common-templates-validations.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/common-template-validations/selectors.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/utils/templates-validations.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/vm-settings-tab-validation.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/strings/vm-settings.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/common.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/create.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/selectors.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/types.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/vm-wrapper.ts
  frontend/packages/kubevirt-plugin/src/selectors/immutable/common.ts
  frontend/packages/kubevirt-plugin/src/selectors/immutable/template/combined.ts
  frontend/packages/kubevirt-plugin/src/selectors/immutable/template/selectors.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm-template/selectors.ts
  frontend/packages/kubevirt-plugin/src/types/template/index.ts
  frontend/packages/kubevirt-plugin/src/utils/immutable.ts
  frontend/packages/kubevirt-plugin/src/utils/strings.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/template/interval-validation-result.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/template/template-validations.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/template/types.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/template/utils.ts
Labels: approved, component/kubevirt, component/shared, lgtm, size/XL

#3913 Add the component and utility for helm release grouping
  frontend/packages/dev-console/src/components/svg/SvgBoxedText.tsx
  frontend/packages/dev-console/src/components/topology/__tests__/__snapshots__/topology-utils.spec.ts.snap
  frontend/packages/dev-console/src/components/topology/__tests__/topology-test-data.ts
  frontend/packages/dev-console/src/components/topology/__tests__/topology-utils.spec.ts
  frontend/packages/dev-console/src/components/topology/componentFactory.ts
  frontend/packages/dev-console/src/components/topology/components/groups/HelmRelease.scss
  frontend/packages/dev-console/src/components/topology/components/groups/HelmRelease.tsx
  frontend/packages/dev-console/src/components/topology/const.ts
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
  frontend/public/components/catalog/catalog-item-icon.tsx
  frontend/public/imgs/logos/helm.svg
Labels: approved, component/core, component/dev-console, component/knative, kind/feature, lgtm, size/L

#3931 Add edit application feature for apps created using deploy image flow
  frontend/packages/console-shared/src/components/formik-fields/RadioButtonField.tsx
  frontend/packages/console-shared/src/components/formik-fields/field-types.ts
  frontend/packages/dev-console/src/actions/modify-application.ts
  frontend/packages/dev-console/src/components/edit-application/EditApplication.tsx
  frontend/packages/dev-console/src/components/edit-application/EditApplicationForm.tsx
  frontend/packages/dev-console/src/components/edit-application/EditApplicationPage.tsx
  frontend/packages/dev-console/src/components/edit-application/EditApplicationWrapper.tsx
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-data.ts
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-utils.spec.ts
  frontend/packages/dev-console/src/components/edit-application/edit-application-types.ts
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/dev-console/src/components/import/DeployImage.tsx
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/__tests__/deployImage-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/import/advanced/AdvancedSection.tsx
  frontend/packages/dev-console/src/components/import/deployImage-submit-utils.ts
  frontend/packages/dev-console/src/components/import/image-search/ImageSearch.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageSearchSection.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageStreamDropdown.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageStreamNsDropdown.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageStreamTagDropdown.tsx
  frontend/packages/dev-console/src/components/import/image-search/SearchResults.tsx
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/import/route/RouteCheckbox.tsx
  frontend/packages/dev-console/src/components/modals/index.ts
  frontend/packages/dev-console/src/plugin.tsx
  frontend/packages/dev-console/src/utils/resource-label-utils.ts
  frontend/packages/dev-console/src/utils/shared-submit-utils.ts
  frontend/packages/knative-plugin/src/utils/create-knative-utils.ts
Labels: approved, component/dev-console, component/knative, component/shared, kind/feature, lgtm, size/XXL

#3939 Change page title to alertmanager
  frontend/public/components/monitoring.tsx
Labels: approved, component/core, lgtm, size/XS

#3978 Minor Enhancements for Storage Dashboards
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/breakdown-card/breakdown-chart.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/breakdown-card/utils.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/inventory-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/utilization-card/utilization-card.tsx
  frontend/packages/ceph-storage-plugin/src/plugin.ts
  frontend/packages/ceph-storage-plugin/src/selectors/index.ts
  frontend/packages/noobaa-storage-plugin/src/plugin.ts
Labels: approved, component/ceph, component/kubevirt, component/noobaa, lgtm, size/L

#3987 Reconcile feature flag extensions
  frontend/packages/console-app/src/__tests__/extension-checks/features.spec.ts
  frontend/packages/console-plugin-sdk/src/registry.ts
  frontend/packages/console-plugin-sdk/src/typings/dashboards.ts
  frontend/packages/console-plugin-sdk/src/typings/features.ts
  frontend/packages/console-shared/src/components/dashboard/inventory-card/InventoryItem.tsx
  frontend/packages/operator-lifecycle-manager/src/const.ts
  frontend/packages/operator-lifecycle-manager/src/plugin.tsx
  frontend/public/actions/features.ts
  frontend/public/components/app-contents.tsx
  frontend/public/components/dashboard/dashboards-page/dashboards.tsx
  frontend/public/components/dashboard/dashboards-page/overview-dashboard/activity-card.tsx
  frontend/public/components/dashboard/dashboards-page/overview-dashboard/inventory-card.tsx
  frontend/public/components/dashboard/dashboards-page/overview-dashboard/status-card.tsx
  frontend/public/components/dashboard/dashboards-page/overview-dashboard/utilization-card.tsx
  frontend/public/components/dashboard/project-dashboard/activity-card.tsx
  frontend/public/components/dashboard/project-dashboard/inventory-card.tsx
  frontend/public/reducers/features.ts
  frontend/public/redux.ts
Labels: approved, component/core, component/dashboard, component/olm, component/sdk, component/shared, lgtm, size/L
