Repository openshift/console, pull requests merged in 2021-02, with the labels that each got.

#7990 test: don't hard-code artifact dir path
  test-backend.sh
Labels: approved, lgtm

#7659 Bug 1911129: Fix Monitoring charts renders nothing when switching from a Deployment to "All workloads"
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringDashboard.tsx
  frontend/public/components/utils/router.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/dev-console, kind/bug, lgtm

#7972 Bug 1921880: Load all dynamic plugins enabled on the cluster upon Console startup
  frontend/@types/console/declarations.d.ts
  frontend/__mocks__/serverFlags.js
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-loader.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-manifest.ts
  frontend/public/plugins.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/core, component/sdk, lgtm

#7789 Migrate storageclass tests to cypress
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/consts.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/mocks/storageclass.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/multiple-storageclass-selection-scenarios.ts
Labels: approved, component/ceph, component/core, lgtm, ok-to-test

#7923 Bug 1920248: fix pipeline rerun when pipelineSpec is embedded
  frontend/packages/pipelines-plugin/src/components/pipelines/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/__tests__/utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/utils.ts
  frontend/packages/pipelines-plugin/src/test-data/pipeline-data.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-actions.tsx
  frontend/packages/pipelines-plugin/src/utils/pipeline-augment.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, lgtm

#7949 Bug 1920320: Show link to common template in vm details view
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-resource.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/VMDetailsItem.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/VMDetailsItemTemplate.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/types.ts
  frontend/packages/kubevirt-plugin/src/components/vms/vm-details.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vmi-details-page.tsx
  frontend/packages/kubevirt-plugin/src/topology/TopologyVmDetailsPanel.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, kind/i18n, lgtm

#7960 Bug 1921541: skip guide page if it presents
  frontend/packages/kubevirt-plugin/integration-tests/tests/with-non-admin.scenario.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7965 Bug 1921713: Fix migration tests
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/baseVirtualMachine.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/utils.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.action.migration.scenario.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7971 Bug 1921836: Internationalize AccessTableRows
  frontend/public/components/api-explorer.tsx
  frontend/public/locales/en/public.json
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/i18n, lgtm

#7978 Bug 1922075: Fix kubevirt flavor string
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmi.overview.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmtemplate.wizard.scenario.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7980 Bug 1922066: Search for boot disk by boot order, not PVC value
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/error-components/resource-load-errors.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/vm-settings-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/prefill-vm-template-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/vm-settings-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/selectors/immutable/storage.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/storage-tab/vm-wizard-storage-modal-enhanced.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/clone-pvc-source.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/vm-settings-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/types.ts
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/storage-ui-source.ts
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-source.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/provision-source.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/create.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/initialize-vm.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/simple-create.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/vm-wrapper.ts
  frontend/packages/kubevirt-plugin/src/utils/index.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/vm/vm.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, kind/i18n, lgtm

#7987 Bug 1922098: project dropdown should close after user pick a project
  frontend/packages/kubevirt-plugin/src/components/create-vm/tabs/select-template.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7988 Bug 1922782: Data sanity was false
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/container-source.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7992 Bug 1921644: [e2e][automation]revert endlines to backslach
  frontend/packages/kubevirt-plugin/integration-tests/tests/mocks/mocks.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.base.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.guest.agent.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.tab.dashboard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.tab.environment.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmi.overview.scenario.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7993 Bug 1920912: Fix poweroff modal
  frontend/packages/metal3-plugin/locales/en/metal3-plugin.json
  frontend/packages/metal3-plugin/src/components/modals/PowerOffHostModal.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/metal3, kind/i18n, lgtm

#7572 Bug 1908367: pipeline triggers scripts
  frontend/packages/dev-console/integration-tests/cypress.json
  frontend/packages/dev-console/integration-tests/features/pipelines/pipelines-triggers.feature
  frontend/packages/dev-console/integration-tests/support/constants/pageTitle.ts
  frontend/packages/dev-console/integration-tests/support/pages/pipelines/pipelineBuilder-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/pipelines/pipelineDetails-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/pipelines/pipelines-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/topology.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/pipelines/pipelines-secrets.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/pipelines/pipelines-triggers.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, lgtm

#7574 Bug 1908375: added pipelines workspaces scripts
  frontend/packages/dev-console/integration-tests/features/pipelines/pipelines-workspaces.feature
  frontend/packages/dev-console/integration-tests/support/pageObjects/pipelines-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/pipelines/pipelineBuilder-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/pipelines/pipelines-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/pipelines/pipelines-workspaces.ts
  frontend/packages/dev-console/integration-tests/testData/pipelines/pipelines-workspaces/pipeline-with-workspace.yaml
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, lgtm

#7889 Bug 1918639: add missing trigger types and update the optional fields
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/EventListenerDetails.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/EventListenerTriggers.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/__tests__/EventListenerDetails.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/resource-types/triggers.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/utils/triggers.ts
  frontend/packages/pipelines-plugin/src/test-data/event-listener-data.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, kind/bug, lgtm

#7918 Bug 1920200: Throw error if ConfigMap creation fails with unexpected response
  frontend/packages/console-shared/src/hooks/useUserSettings.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/shared, kind/bug, lgtm

#7999 Bug 1916747: Dont link to missing quickstarts
  frontend/packages/kubevirt-plugin/src/components/vms/vm.tsx
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinition.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, component/network-attachment-definition, lgtm

#8000 Remove Kanika from Maintainers file
  frontend/packages/ceph-storage-plugin/OWNERS
  frontend/packages/noobaa-storage-plugin/OWNERS
Labels: approved, component/ceph, component/noobaa, lgtm

#8004 Bug 1922015: prevent catalog modal header from collapsing
  frontend/public/style/_overrides.scss
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#7948 Bug 1921774: fix delete app modal error when resource not found
  frontend/packages/knative-plugin/src/topology/__tests__/data-transformer.spec.ts
  frontend/packages/topology/src/utils/application-utils.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/knative, kind/bug, lgtm

#7953 Bug 1921253: i18n TextFilter placeholder
  frontend/__tests__/components/factory/list-page.spec.tsx
  frontend/public/components/RBAC/role.jsx
  frontend/public/components/factory/list-page.jsx
  frontend/public/locales/en/public.json
  frontend/public/locales/en/role.json
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/i18n, lgtm

#7957 Bug 1913969: Fix edge case exception for fieldDependency spec descriptor
  frontend/packages/console-shared/src/components/dynamic-form/utils.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand/utils.spec.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand/utils.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/olm, component/shared, lgtm

#7897 [interop-ui-tests] update scenarios
  frontend/packages/dev-console/integration-tests/features/helm/actions-on-HelmRelease.feature
  frontend/packages/dev-console/integration-tests/features/helm/helm-Installation-View.feature
  frontend/packages/dev-console/integration-tests/features/helm/helm-Navigation.feature
  frontend/packages/dev-console/integration-tests/features/helm/install-HelmChart.feature
  frontend/packages/dev-console/integration-tests/features/helm/topology-HelmRelease.feature
Labels: approved, component/backend, component/ceph, component/core, component/dashboard, component/dev-console, component/knative, component/kubevirt, component/lso, component/monitoring, component/olm, component/shared, kind/i18n, lgtm

#7925 Bug 1919387: Wait till the DOM is loaded when writing to the body localStorage issue
  frontend/public/tokener.html
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#8005 Remove anonymous exports in NADs plugin
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionCreateYaml.tsx
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkTypeOptions.tsx
Labels: approved, component/network-attachment-definition, lgtm

#7997 Bug 1923003: Update Insights widget state
  frontend/packages/insights-plugin/src/components/InsightsPopup/index.tsx
  frontend/packages/insights-plugin/src/components/InsightsPopup/mappers.ts
  frontend/packages/insights-plugin/src/components/InsightsPopup/status.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/insights, lgtm, ok-to-test

#8008 Bug 1921556: Modified certificate secrets key name as per rook
  frontend/packages/ceph-storage-plugin/src/components/kms-config/utils.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/ceph, lgtm, ok-to-test

#7885 Bug 1921762: Fix knative serving and eventing breadcrumbs
  frontend/packages/console-plugin-sdk/src/typings/detail-page-bread-crumbs.ts
  frontend/packages/console-plugin-sdk/src/typings/index.ts
  frontend/packages/console-shared/src/hooks/useTabbedTableBreadcrumb.ts
  frontend/packages/knative-plugin/src/components/eventing/triggers-list/TriggerRow.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/details/SubscriptionDetailsPage.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/details/TriggerDetailsPage.tsx
  frontend/packages/knative-plugin/src/components/revisions/RevisionDetailsPage.tsx
  frontend/packages/knative-plugin/src/components/routes/RouteDetailsPage.tsx
  frontend/packages/knative-plugin/src/components/services/ServiceDetailsPage.tsx
  frontend/packages/knative-plugin/src/plugin.tsx
  frontend/packages/knative-plugin/src/providers/index.ts
  frontend/packages/knative-plugin/src/providers/useBrokerDetailPageBreadcrumbs.ts
  frontend/packages/knative-plugin/src/providers/useChannelDetailPageBreadcrumbs.ts
  frontend/packages/knative-plugin/src/providers/useEventSourceDetailPageBreadcrumbs.ts
  frontend/packages/knative-plugin/src/utils/fetch-dynamic-eventsources-utils.ts
  frontend/packages/knative-plugin/src/utils/serverless-tab-utils.ts
  frontend/public/components/factory/details-breadcrumb-resolver.tsx
  frontend/public/components/factory/details.tsx
  frontend/public/components/utils/headings.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/knative, component/sdk, component/shared, kind/bug, lgtm

#7564 Bug 1908277: Pipeline Actions scripts
  frontend/packages/dev-console/integration-tests/features/pipelines/pipelines-actions.feature
  frontend/packages/dev-console/integration-tests/support/pageObjects/pipelines-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/pipelines/pipelineDetails-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/pipelines.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/pipelines/pipelines-actions.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, lgtm

#7924 Bug 1916888: Modifying OCS wizard Donor chart based on selected device type
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/state.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/donut-chart.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/ceph, lgtm, ok-to-test

#7989 Bug 1905338: updated add flow test scenarios
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-catalog.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-container-image.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-database.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-devfile.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-docker-file.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-git.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-yaml.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/create-operator-backed.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/developer-catalog-details.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/page-details.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/runtime-Icon-ODC-3418.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/runtime-Icon-display.feature
  frontend/packages/dev-console/integration-tests/support/constants/add.ts
  frontend/packages/dev-console/integration-tests/support/constants/pageTitle.ts
  frontend/packages/dev-console/integration-tests/support/constants/staticText/global-text.ts
  frontend/packages/dev-console/integration-tests/support/constants/topology.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/topology-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/catalog-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/yaml-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/modal.ts
  frontend/packages/dev-console/integration-tests/support/pages/operators-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/topology/topology-actions-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/topology/topology-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/topology/topology-side-pane-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-catalog.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-container-image.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-databse.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-devfile.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-docker-file.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-git.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-operator-backed.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-yaml.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/page-details.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/addFlow.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/operators.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, lgtm

#8001 Bug 1923081: Improve test for checking common templates
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmtemplate.wizard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/template.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/virtualMachine.view.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7903 Bug 1915200: [OCP 4.7+ OCS 4.6]Arbiter related Note should not show u…
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/create-local-volume-set.tsx
  frontend/packages/ceph-storage-plugin/src/constants/ocs-install.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/ceph, component/core, component/shared, kind/i18n, lgtm, ok-to-test

#7890 Bug 1891766: Stop non-positive values from being entered by users for min disk size
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/create-local-volume-set.scss
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/local-volume-set-inner.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/lso, lgtm, needs-ok-to-test

#7941 Bug 1918438: adds i18n for serving/eventing
  frontend/__tests__/components/create-yaml.spec.tsx
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/__tests__/DeployImage.spec.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageSearchSection.tsx
  frontend/packages/dev-console/src/utils/imagestream-utils.ts
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/components/add/event-sources/SinkSection.tsx
  frontend/packages/knative-plugin/src/components/add/import-types.ts
  frontend/packages/knative-plugin/src/components/overview/KnativeServingDetailsPage.tsx
  frontend/packages/knative-plugin/src/components/overview/serving-list/ServingListsPage.tsx
  frontend/packages/knative-plugin/src/components/revisions/RevisionDetailsPage.tsx
  frontend/packages/knative-plugin/src/components/revisions/RevisionHeader.tsx
  frontend/packages/knative-plugin/src/components/routes/RouteDetailsPage.tsx
  frontend/packages/knative-plugin/src/components/services/ServiceDetailsPage.tsx
  frontend/packages/knative-plugin/src/components/services/ServiceHeader.tsx
  frontend/packages/knative-plugin/src/components/traffic-splitting/TrafficSplittingFields.tsx
  frontend/packages/pipelines-plugin/src/components/cluster-tasks/ClusterTaskDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/ClusterTriggerBindingPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineConditionDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineResourceDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/tasks/TaskDetailsPage.tsx
  frontend/public/components/create-yaml.tsx
  frontend/public/components/default-resource.tsx
  frontend/public/components/factory/table.tsx
  frontend/public/locales/en/public.json
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/dev-console, component/knative, kind/i18n, lgtm

#7998 Bug 1910492: Fix KMS details getting auto popluated due to incorrect state manipulation.
  frontend/packages/ceph-storage-plugin/src/components/kms-config/kms-config.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/ceph, lgtm

#8006 Bug 1921949: Fix source code URL for apps created using self-hosted repositories
  frontend/packages/topology/src/data-transforms/__tests__/data-transformer.spec.ts
  frontend/packages/topology/src/utils/topology-utils.ts
Labels: approved, kind/bug, lgtm

#8011 Bug 1922021: i18n three Terminal terms
  frontend/public/components/pod-exec.jsx
  frontend/public/components/terminal.jsx
  frontend/public/locales/en/public.json
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/i18n, lgtm

#8012 Bug 1922911: Query Browser: Show empty state when all series are disabled
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/monitoring, lgtm

#8016 Bug 1923951: fixes eveting menuoptions for create flow for all namespace selection
  frontend/packages/knative-plugin/src/components/eventing/EventingListPage.tsx
  frontend/packages/knative-plugin/src/components/eventing/__tests__/EventingListPage.spec.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/knative, lgtm

#8020 Bug 1923945: Keep PVC name and namespace when os/flavor/workload is changed
  frontend/packages/console-shared/src/test-utils/actions.view.ts
  frontend/packages/console-shared/src/test-utils/utils.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmtemplate.wizard.scenario.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/storage-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/create-vm-form.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, component/shared, lgtm

#8021 Bug 1906118: Fix Ceph Polling Issue by adding flag guards
  frontend/packages/ceph-storage-plugin/src/plugin.ts
  frontend/public/actions/features.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/ceph, component/core, lgtm

#7936 Bug 1920684: Update language preferences modal
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/components/modals/language-preferences-modal.tsx
  frontend/public/locales/en/language-preferences-modal.json
  frontend/public/locales/en/masthead.json
  frontend/public/locales/ja/language-preferences-modal.json
  frontend/public/locales/ja/masthead.json
  frontend/public/locales/zh/language-preferences-modal.json
  frontend/public/locales/zh/masthead.json
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/i18n, lgtm

#8009 Bug 1924188: Update language selector modal dropdown
  frontend/public/components/modals/language-preferences-modal.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#8018 Bug 1923894: Listing Subscriptions in OLM should also show them when 'All Projects' namespace is picked
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/olm, lgtm

#8030 For ODC-5460: downgrade pf topology package to fix create of service binding connector.
  frontend/package.json
  frontend/yarn.lock
Labels: approved, lgtm

#7570 Add noobaa sso test migration to cypress
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/noobaa-sso.spec.ts
Labels: approved, component/ceph, lgtm, ok-to-test

#7846 Bug 1915995: - "Edit RoleBinding Subject" action under RoleBinding list page kebab actions causes unhandled exception
  frontend/public/components/RBAC/bindings.jsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#8035 Bug 1924365: Add blank disk when choosing network boot
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/storage-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7983 Restrict 'BackingStore' name to 43 characters
  frontend/packages/noobaa-storage-plugin/src/components/create-backingstore-page/create-bs.tsx
Labels: approved, component/noobaa, lgtm, ok-to-test

#8013 Bug 1891951: Info message while creating pools with compression on
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/modals/storage-pool-modal/storage-pool-modal.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/ceph, kind/i18n, lgtm, ok-to-test

#8036 Bug 1924480: When creating Snapshoot blockOwnerDeletion is now false
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-modal/snapshot-modal.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#7996 Bug 1920981: Add capacity changes for arbiter enabled
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, component/ceph, lgtm, ok-to-test

#8029 Bug 1924078: Make Topology quick search View all results footer sticky
  frontend/packages/topology/src/components/quick-search/QuickSearchContent.scss
  frontend/packages/topology/src/components/quick-search/QuickSearchContent.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchList.scss
  frontend/packages/topology/src/components/quick-search/QuickSearchList.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchModalBody.scss
  frontend/packages/topology/src/components/quick-search/QuickSearchModalBody.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, kind/bug, lgtm

#7986 Reduce thickness of donut chart in selected capacity
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/donut-chart.tsx
Labels: approved, component/ceph, lgtm, ok-to-test

#8038 Bug 1924583: Deprectaed templates are listed in the Templates screen
  frontend/packages/kubevirt-plugin/src/components/vm-templates/utils.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/constants.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm-template/basic.ts
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, component/kubevirt, lgtm

#5525 Bug 1797766: Resource Requirements" specDescriptor fields - CPU and Memory injects empty string YAML editor
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/resource-requirements.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/olm, lgtm

#8019 Bug 1923973: Update dynamic plugin demo README to inform about how to enable the ConsolePlugins
  frontend/dynamic-demo-plugin/README.md
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#7642 Bug 1907877: Added cypress automation scripts for pipleline builder
  frontend/packages/dev-console/integration-tests/.eslintrc
  frontend/packages/dev-console/integration-tests/cypress.json
  frontend/packages/dev-console/integration-tests/features/BestPractices.md
  frontend/packages/dev-console/integration-tests/features/pipelines/create-from-add-options.feature
  frontend/packages/dev-console/integration-tests/features/pipelines/create-from-builder-page.feature
  frontend/packages/dev-console/integration-tests/support/commands/app.ts
  frontend/packages/dev-console/integration-tests/support/constants/pageTitle.ts
  frontend/packages/dev-console/integration-tests/support/constants/staticText/pipeline-text.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/pipelines-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/topology-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/pages/pipelines/pipelineBuilder-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/topology/topology-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-devfile.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/pipelines/create-from-builder-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/pipelines/pipelines-actions.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, lgtm

#8002 Bug 1874192: Add support for creation of GCP BS with a pre-created secret
  frontend/packages/noobaa-storage-plugin/locales/en/noobaa-storage-plugin.json
  frontend/packages/noobaa-storage-plugin/src/components/create-backingstore-page/create-bs.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/noobaa, kind/i18n, lgtm

#8022 Bug 1924046: Avoid checking user settings if url has namespace
  frontend/packages/console-app/src/components/detect-namespace/namespace.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, kind/bug, lgtm

#8043 Bug 1921023: Disable flexible scaling for internal mode
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard-steps/review-and-create.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard-steps/select-capacity-and-nodes-step.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/ceph, lgtm

#8042 e2e automation add wait for RDP data
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.guest.agent.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/consolesView.ts
Labels: approved, component/kubevirt, lgtm

#8014 Bug 1923911: improve test for vm filter and details page
  frontend/packages/kubevirt-plugin/integration-tests/tests/cdi-upload.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/common.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/pvc.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/utils.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.base.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.list-filtering.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/virtualMachine.view.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#8052 Bug 1925020: Console demo plugin deployment image should not point to dockerhub
  frontend/dynamic-demo-plugin/oc-manifest.yaml
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#8054 Bug 1925039: Fix Test - ID(CNV-5327)
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.next.run.configuration.scenario.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7842 Add tests for VM template source and VM empty state
  frontend/package.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/.eslintrc
  frontend/packages/kubevirt-plugin/integration-tests-cypress/README.md
  frontend/packages/kubevirt-plugin/integration-tests-cypress/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/cypress.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/enums/provisionSource.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/fixtures/data-volume.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/fixtures/example.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/plugins/index.js
  frontend/packages/kubevirt-plugin/integration-tests-cypress/reporter-config.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/source-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/empty-state.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tsconfig.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/add-source.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/virtualization.ts
  frontend/packages/kubevirt-plugin/integration-tests/deploy-kubevirt-gating.sh
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-source.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm.tsx
  test-prow-e2e.sh
Labels: approved, component/kubevirt, lgtm

#7913 Update gitops backend service namespace
  cmd/bridge/main.go
  contrib/oc-environment.sh
Labels: approved, lgtm

#8032 Bug 1920677: Fix for i18n for dev console guided tour
  frontend/packages/console-app/src/components/cloud-shell/cloudShellConfirmationModal.ts
  frontend/packages/dev-console/src/components/guided-tour/index.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/dev-console, kind/bug, lgtm

#8033 Add check errors in add capacity tests
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/add-capacity.spec.ts
Labels: approved, component/ceph, lgtm, ok-to-test

#8056 Bug 1922911: Query Browser: Fix graph crash after hiding and then showing a series
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/monitoring, lgtm

#7801 Bug 1915176: Update snapshot API CRDs to v1 in web-console when creating volumesnapshot related resource
  frontend/packages/integration-tests-cypress/mocks/snapshot.ts
  frontend/packages/integration-tests-cypress/tests/crud/k8-openshift-cruds.spec.ts
  frontend/packages/integration-tests-cypress/tests/storage/snapshot.spec.ts
  frontend/public/models/index.ts
  frontend/public/models/yaml-templates.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#8028 Bug 1924143: Create application edit url based on git provider
  frontend/package.json
  frontend/packages/dev-console/src/utils/__tests__/__snapshots__/shared-submit-utils.spec.ts.snap
  frontend/packages/dev-console/src/utils/resource-label-utils.ts
  frontend/packages/topology/src/data-transforms/__tests__/data-transformer.spec.ts
  frontend/packages/topology/src/utils/topology-utils.ts
  frontend/yarn.lock
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#8046 Bug 1924955: Fix that image containers are fetched from external container registries (which doesn't work for private image containers)
  frontend/packages/dev-console/src/components/import/__mocks__/deployImage-validation-mock.ts
  frontend/packages/dev-console/src/components/import/__tests__/deployImage-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/import/deployImage-submit-utils.ts
  frontend/packages/dev-console/src/utils/__tests__/imagestream-test-data.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#8051 Bug 1925024: removes form validation from net(sasl/tls) section for kafkaSource
  frontend/packages/knative-plugin/src/components/add/SecretKeySelector.tsx
  frontend/packages/knative-plugin/src/components/add/__tests__/eventSource-validation-utils.spec.ts
  frontend/packages/knative-plugin/src/components/add/eventSource-validation-utils.ts
  frontend/packages/knative-plugin/src/utils/__tests__/create-eventsources-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/create-eventsources-utils.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/knative, lgtm

#8059 Bug 1925163: Add info about dev catalog to boot source column
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
Labels: approved, component/kubevirt, kind/i18n, lgtm

#8007 Bug 1923721: Handle pipeline svg icon spin using a wrapped <g> element
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationTask.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationTask.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/StatusIcon.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/StatusIcon.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, kind/bug, lgtm

#8017 Make OCS local volume set step responsive in wizard flow
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/attached-devices.scss
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/create-local-volume-set.tsx
Labels: approved, component/ceph, lgtm, ok-to-test

#7829 Bug 1867400: Not allow creation of second storagecluster
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/existing-cluster-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-page.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/ceph, kind/i18n, lgtm

#7984 Bug 1905066: Added smoke suite - monitoring test Scenarios
  frontend/packages/dev-console/integration-tests/features/healthChecks/add-health-checks-in-git-page.feature
  frontend/packages/dev-console/integration-tests/features/healthChecks/add-health-checks-in-topology-page.feature
  frontend/packages/dev-console/integration-tests/features/monitoring/Changing_context_in_Monitoring_Dashboard_3898.feature
  frontend/packages/dev-console/integration-tests/features/monitoring/add-Namespace-ToServiceMesh-Nonadmin-ODC-3697.feature
  frontend/packages/dev-console/integration-tests/features/monitoring/alert-Details-in-Sidebar-ODC-3923.feature
  frontend/packages/dev-console/integration-tests/features/monitoring/alert-details-in-topology-sidebar.feature
  frontend/packages/dev-console/integration-tests/features/monitoring/changing-context-in-monitoring-dashboard.feature
  frontend/packages/dev-console/integration-tests/features/monitoring/dashboard-display.feature
  frontend/packages/dev-console/integration-tests/features/monitoring/filter-the-alerts.feature
  frontend/packages/dev-console/integration-tests/features/monitoring/filters-Alerts-Page-ODC-3923.feature
  frontend/packages/dev-console/integration-tests/features/monitoring/metrics-display-for-workload.feature
  frontend/packages/dev-console/integration-tests/features/monitoring/monitoring-Page-Smoke-Metrics-ODC-4116.feature
  frontend/packages/dev-console/integration-tests/features/monitoring/monitoring-Page-Smoke-Tests-ODC-4116.feature
  frontend/packages/dev-console/integration-tests/features/monitoring/monitoring-Tab-Sidebar-ODC-4116.feature
  frontend/packages/dev-console/integration-tests/features/monitoring/topology-sidebar-actions.feature
  frontend/packages/dev-console/integration-tests/features/serviceMesh/add-Namespace-ToServiceMesh-Admin.feature
  frontend/packages/dev-console/integration-tests/features/serviceMesh/add-Namespace-ToServiceMesh-Nonadmin.feature
  frontend/packages/dev-console/integration-tests/support/constants/monitoring.ts
  frontend/packages/dev-console/integration-tests/support/constants/pageTitle.ts
  frontend/packages/dev-console/integration-tests/support/constants/staticText/topology-text.ts
  frontend/packages/dev-console/integration-tests/support/constants/topology.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/addHealthChecks-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/monitoring-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/topology-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/addHealthChecks-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/pages/helm/helm-details-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/monitoring/monitoring-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/operators-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/topology/topology-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/topology/topology-side-pane-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/addFlow.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/monitoring.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/monitoring/dashboard-display.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/monitoring/filter-the-alerts.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/monitoring/metrics-display-for-workload.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/monitoring/topology-sidebar-actions.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, component/noobaa, kind/i18n, lgtm

#7616 Multiple pool cypress test migration
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/multiple-pool.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/utils/consts.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/multiple-pool.ts
  frontend/packages/ceph-storage-plugin/src/components/modals/storage-pool-modal/storage-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
  frontend/public/components/storage-class-form.tsx
Labels: approved, component/ceph, component/core, lgtm, ok-to-test

#7954 Bug 1920367: When creating localvolumeset instance from the web console, the title for setting volumeMode is `Disk Mode`
  frontend/packages/local-storage-operator-plugin/locales/en/lso-plugin.json
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/local-volume-set-inner.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/ceph, component/lso, kind/i18n, lgtm

#7995 Template provider tests
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/source-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/template-support.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/add-source.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/virtualization.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/wizard.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/result-tab/success-results.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/support-modal/support-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/label.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/common.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm-template/basic.ts
Labels: approved, component/kubevirt, lgtm

#8039 Bug 1924083: Stop events related to Object Storage from showing up in Persistent Storage Dashboard
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/activity-card/activity-card.tsx
  frontend/packages/ceph-storage-plugin/src/models.ts
  frontend/packages/ceph-storage-plugin/src/utils/events.ts
  frontend/packages/ceph-storage-plugin/src/utils/index.ts
  frontend/packages/noobaa-storage-plugin/src/components/activity-card/activity-card.tsx
  frontend/packages/noobaa-storage-plugin/src/models.ts
  frontend/packages/noobaa-storage-plugin/src/plugin.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/ceph, component/noobaa, lgtm

#8058 Bug 1925200: show warning when alert type cannot be recognized
  frontend/packages/console-shared/src/components/alerts/AlertSeverityIcon.tsx
  frontend/packages/console-shared/src/utils/__mocks__/alerts-and-rules-data.ts
  frontend/packages/console-shared/src/utils/__tests__/resource-utils.spec.ts
  frontend/packages/dev-console/src/components/monitoring/overview/__tests__/MonitoringOverview.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/overview/__tests__/MonitoringOverviewAlerts.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/overview/monitoring-overview-alerts-utils.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/dev-console, component/monitoring, component/shared, lgtm

#8062 Bug 1925516: Pipeline metrics tooltips
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineRunCount.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineRunDurationGraph.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineRunTaskRunGraph.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineSuccessRatioDonut.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/charts/TimeSeriesChart.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/charts/lineChart.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, kind/i18n, lgtm

#8065 Bug 1925415: waiting for VM importing before move on
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.action.base.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.scheduling.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.resources.scenario.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#8066 Bug 1891951: Compression pool info message
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/modals/storage-pool-modal/storage-pool-modal.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/ceph, kind/i18n, lgtm

#7798 Bug 1925562: Add new ArgoCD link from GitOps application environments page
  frontend/packages/gitops-plugin/src/components/GitOpsListPage.tsx
  frontend/packages/gitops-plugin/src/components/list/GitOpsList.tsx
  frontend/packages/gitops-plugin/src/components/list/GitOpsListItem.tsx
  frontend/packages/gitops-plugin/src/components/utils/gitops-utils.ts
  frontend/public/components/utils/link.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#7945 Bug 1921087: Next quick start link update
  frontend/packages/console-app/locales/en/quickstart.json
  frontend/packages/console-app/locales/ja/quickstart.json
  frontend/packages/console-app/locales/zh/quickstart.json
  frontend/packages/console-app/src/components/quick-starts/QuickStartController.tsx
  frontend/packages/console-app/src/components/quick-starts/QuickStartPanelContent.tsx
  frontend/packages/console-app/src/components/quick-starts/controller/QuickStartConclusion.tsx
  frontend/packages/console-app/src/components/quick-starts/controller/QuickStartContent.tsx
  frontend/packages/console-app/src/components/quick-starts/controller/__tests__/QuickStartConclusion.spec.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/ceph, component/core, component/dev-console, component/insights, component/knative, component/kubevirt, component/monitoring, component/shared, kind/bug, kind/i18n, lgtm

#8064 Bug 1925596: Text overflows Card boundary; Add Commit msg to details
  frontend/packages/gitops-plugin/locales/en/gitops-plugin.json
  frontend/packages/gitops-plugin/src/components/details/CommitDetails.scss
  frontend/packages/gitops-plugin/src/components/details/CommitDetails.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsServiceDetailsSection.scss
  frontend/packages/gitops-plugin/src/components/details/GitOpsServiceDetailsSection.tsx
  frontend/packages/gitops-plugin/src/components/utils/gitops-types.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, kind/i18n, lgtm

#8070 Bug 1924387: Fix malformed ja/zh modal delete message
  frontend/public/components/modals/delete-modal.tsx
  frontend/public/locales/en/modal.json
  frontend/public/locales/ja/modal.json
  frontend/public/locales/zh/modal.json
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/core, kind/i18n, lgtm

#8071 ODC-5487: Temp fix for search-input bug
  frontend/public/style/_overrides.scss
Labels: approved, component/core, lgtm

#8075 Bug 1924585: Fix translation for edit annotation
  frontend/public/locales/zh/details-page.json
  frontend/public/locales/zh/modal.json
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, kind/i18n, lgtm

#8073 Update OWNERS components
  frontend/packages/gitops-plugin/OWNERS
  frontend/packages/helm-plugin/OWNERS
  frontend/packages/pipelines-plugin/OWNERS
Labels: approved, component/dev-console, component/git-service, lgtm

#8091 Interop UI - actions on helm release
  frontend/packages/dev-console/integration-tests/cypress.json
  frontend/packages/dev-console/integration-tests/features/helm/install-HelmChart.feature
  frontend/packages/dev-console/integration-tests/support/commands/app.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/global-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/helm-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/topology-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/catalog-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/pages/common.ts
  frontend/packages/dev-console/integration-tests/support/pages/helm/helm-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/topology/topology-helper-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/topology/topology-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-catalog.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-sidebar.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/addFlow.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/topology.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/helm/helm-release.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/helm/helm.ts
Labels: approved, component/dev-console, lgtm

#8085 Add storage.bind.immediate.requested annotation to golden image dvs
  frontend/packages/kubevirt-plugin/integration-tests/deploy-kubevirt-gating.sh
  frontend/packages/kubevirt-plugin/src/components/modals/add-template-source/add-template-source.tsx
Labels: approved, component/kubevirt, lgtm

#8079 Bug 1925017: Remove trailing comma
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vm-nics/vm-nics.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, kind/i18n, lgtm

#8086 Document kubevirt DOWNSTREAM variable
  frontend/packages/kubevirt-plugin/integration-tests-cypress/README.md
  frontend/packages/kubevirt-plugin/integration-tests-cypress/cypress.json
Labels: approved, component/kubevirt, lgtm

#7860 adding reducer extension types to dynamic-plugin-sdk
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/redux.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
Labels: approved, component/sdk, lgtm

#7968 Bug 1921781: i18n DefaultList
  frontend/packages/knative-plugin/src/components/overview/KnativeServingDetailsPage.tsx
  frontend/packages/knative-plugin/src/components/revisions/RevisionDetailsPage.tsx
  frontend/packages/knative-plugin/src/components/routes/RouteDetailsPage.tsx
  frontend/packages/knative-plugin/src/components/services/ServiceDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/cluster-tasks/ClusterTaskDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/ClusterTriggerBindingPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineConditionDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineResourceDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/tasks/TaskDetailsPage.tsx
  frontend/public/components/default-resource.tsx
  frontend/public/locales/en/public.json
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/knative, component/shared, kind/i18n, lgtm

#8094 Remove stale files and functions which are not required
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/install-lso-sc.tsx
  frontend/packages/ceph-storage-plugin/src/utils/common-ocs-install-el.tsx
Labels: approved, component/ceph, lgtm, ok-to-test

#8102 Remove Noobaa Operator Page as this is an Internal CRD
  frontend/packages/noobaa-storage-plugin/src/components/noobaa-operator/helper.tsx
  frontend/packages/noobaa-storage-plugin/src/components/noobaa-operator/infoPage.scss
  frontend/packages/noobaa-storage-plugin/src/components/noobaa-operator/infoPage.tsx
  frontend/packages/noobaa-storage-plugin/src/components/noobaa-operator/noobaa-page.tsx
  frontend/packages/noobaa-storage-plugin/src/components/noobaa-operator/resourceTable.tsx
  frontend/packages/noobaa-storage-plugin/src/plugin.ts
Labels: approved, component/noobaa, lgtm

#8107 Bug 1926735: add template support check if use it separately
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/wizard.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7967 Bug 1921780: Clean up Search i18n
  frontend/public/components/search-filter-dropdown.tsx
  frontend/public/components/search.tsx
  frontend/public/locales/en/public.json
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/i18n, lgtm

#8100 i18n: avoid 404 errors attempting to load en-US
  frontend/public/i18n.js
Labels: approved, component/core, lgtm

#8118 Bug 1927075: fix pvc string in pvc.view
  frontend/packages/kubevirt-plugin/integration-tests/views/pvc.view.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7881 Model Feature Flag - convert kubevirt extension to dynamic
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/src/plugin.tsx
Labels: approved, component/kubevirt, lgtm

#8081 Fix filname for multiple storage class test in cypress
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/multiple-storageclass-selection.spec.ts
Labels: approved, component/ceph, lgtm

#7760 Bug 1902003: Clarification of Jobs completions column data when sorting
  frontend/public/components/factory/table.tsx
  frontend/public/components/job.tsx
  frontend/public/components/machine-set.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#7882 adding context provider extension types to dynamic-plugin-sdk
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/context-providers.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
Labels: approved, component/sdk, lgtm

#8027 Bug 1922992: i18n missing items in YAML sidebar
  frontend/public/components/sidebars/explore-type-sidebar.tsx
  frontend/public/components/sidebars/resource-sidebar-samples.tsx
  frontend/public/components/sidebars/resource-sidebar.tsx
  frontend/public/locales/en/public.json
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, kind/i18n, lgtm

#8119 Bug 1927013: update pf virtualized dependency to fix breakpoint prop missing in virtualized table
  frontend/package.json
  frontend/yarn.lock
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#7898 Bug 1921227: Improve code reference handling for Console dynamic plugins
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/__tests__/coderef-resolver.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/__tests__/coderef-utils.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/coderef-resolver.ts
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/coderef-utils.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/test-utils.ts
  frontend/packages/console-plugin-sdk/src/__tests__/store.spec.ts
  frontend/packages/console-plugin-sdk/src/codegen/__tests__/active-plugins.spec.ts
  frontend/packages/console-plugin-sdk/src/codegen/active-plugins.ts
  frontend/packages/console-plugin-sdk/src/typings/base.ts
  frontend/packages/console-plugin-sdk/src/typings/detail-page-bread-crumbs.ts
  frontend/packages/console-plugin-sdk/src/typings/dev-catalog.ts
  frontend/packages/console-plugin-sdk/src/webpack/ConsoleActivePluginsModule.ts
  frontend/packages/kubevirt-plugin/src/topology/topology-plugin.ts
  frontend/packages/topology/src/extensions/topology.ts
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, component/kubevirt, component/sdk, component/topology, lgtm

#7859 [release-4.6] Bug 1915013: Fix pipeline visualization issue when taskspecs is used
  frontend/packages/dev-console/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualization.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-builder/hooks.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, kind/bug, lgtm

#8115 Bug 1874931: Add shortcut above YAML editor and tab toggle action shortcut to popover to improve accessibility
  frontend/packages/console-shared/locales/en/editor.json
  frontend/packages/console-shared/src/components/editor/ShortcutsLink.tsx
  frontend/packages/console-shared/src/components/editor/YAMLEditorToolbar.scss
  frontend/packages/console-shared/src/components/editor/YAMLEditorToolbar.tsx
  frontend/packages/console-shared/src/components/shortcuts/Shortcut.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/shared, kind/i18n, lgtm

#7843 [release-4.6] Bug 1916378: fix skipped tasks in conditional pipelines
  frontend/packages/dev-console/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationTask.tsx
  frontend/packages/dev-console/src/components/pipelines/pipeline-topology/TaskNode.tsx
  frontend/packages/dev-console/src/test/pipeline-data.ts
  frontend/packages/dev-console/src/utils/__tests__/pipeline-augment.spec.ts
  frontend/packages/dev-console/src/utils/__tests__/pipeline-filter-reducer.spec.ts
  frontend/packages/dev-console/src/utils/pipeline-augment.ts
  frontend/packages/dev-console/src/utils/pipeline-filter-reducer.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, lgtm

#7985 [release-4.6] Bug 1921603: Fix crash when loaded is true but the data set doesn't include the pods
  frontend/public/components/daemon-set.tsx
  frontend/public/components/deployment-config.tsx
  frontend/public/components/stateful-set.tsx
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, component/core, kind/bug, lgtm

#7955 Bug 1921267: i18n ResourceListDropdown
  frontend/public/components/resource-dropdown.tsx
  frontend/public/locales/en/public.json
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/i18n, lgtm

#8037 Workloads on Topology Page Automation
  frontend/packages/dev-console/integration-tests/features/topology/Horizontal Pod Autoscaler/add-hpa.feature
  frontend/packages/dev-console/integration-tests/features/topology/Horizontal Pod Autoscaler/delete-hpa.feature
  frontend/packages/dev-console/integration-tests/features/topology/Horizontal Pod Autoscaler/edit-hpa.feature
  frontend/packages/dev-console/integration-tests/features/topology/Horizontal Pod Autoscaler/hpa-topology-sidebar.feature
  frontend/packages/dev-console/integration-tests/features/topology/cronjob-Workload-ODC-4048.feature
  frontend/packages/dev-console/integration-tests/features/topology/job-Workload-ODC-4045.feature
  frontend/packages/dev-console/integration-tests/features/topology/pipelines-on-topology.feature
  frontend/packages/dev-console/integration-tests/features/topology/pod-Workload-ODC-4047.feature
  frontend/packages/dev-console/integration-tests/features/topology/quick-search-topology.feature
  frontend/packages/dev-console/integration-tests/features/topology/topology-add-operator-backed-service.feature
  frontend/packages/dev-console/integration-tests/features/topology/topoplogy-delete-workload.feature
  frontend/packages/dev-console/integration-tests/features/topology/workload-groupings.feature
  frontend/packages/dev-console/integration-tests/features/topology/workloads-on-topology.feature
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/topology/create-workloads.ts
  frontend/packages/dev-console/integration-tests/testData/YAMLs/create-cronjob.yaml
  frontend/packages/dev-console/integration-tests/testData/YAMLs/create-job.yaml
  frontend/packages/dev-console/integration-tests/testData/YAMLs/create-pod.yaml
  frontend/packages/dev-console/integration-tests/testData/YAMLs/create-statefulsets.yaml
Labels: approved, component/dev-console, lgtm

#8103 Fixes inconsistent fonts on step 1 and step 2 of baremetal wizard
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/auto-detect-volume.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/create-local-volume-set.tsx
  frontend/packages/local-storage-operator-plugin/src/components/auto-detect-volume/auto-detect-volume-inner.tsx
  frontend/packages/local-storage-operator-plugin/src/components/auto-detect-volume/auto-detect-volume.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/create-local-volume-set.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/local-volume-set-inner.tsx
Labels: approved, component/ceph, component/lso, lgtm, ok-to-test

#8122 Fix flakes in Ceph CI
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/add-capacity.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/multiple-pool.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/multiple-pool.ts
Labels: approved, component/ceph, lgtm

#8077 Bug 1925083: IDP Creation not fully i18ned
  frontend/public/components/cluster-settings/openid-idp-form.tsx
  frontend/public/components/utils/file-input.tsx
  frontend/public/components/utils/list-input.tsx
  frontend/public/locales/en/openid-idp-form.json
  frontend/public/locales/en/public.json
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, kind/i18n, lgtm

#5978 Refactor constants in Ceph Plugin
  frontend/packages/ceph-storage-plugin/src/components/kms-config/kms-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/utils.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/state.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/configure-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/review-and-create-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/sc-node-list.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/configure.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard-steps/configure.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard-steps/review-and-create.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/node-list.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/types.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
  frontend/packages/ceph-storage-plugin/src/constants/common.ts
  frontend/packages/ceph-storage-plugin/src/constants/disks.ts
  frontend/packages/ceph-storage-plugin/src/constants/index.ts
  frontend/packages/ceph-storage-plugin/src/constants/kms.ts
  frontend/packages/ceph-storage-plugin/src/constants/network.ts
  frontend/packages/ceph-storage-plugin/src/constants/ocs-install.ts
  frontend/packages/ceph-storage-plugin/src/constants/pool.ts
  frontend/packages/ceph-storage-plugin/src/constants/tooltips.ts
  frontend/packages/ceph-storage-plugin/src/types.ts
  frontend/packages/ceph-storage-plugin/src/utils/common-ocs-install-el.tsx
  frontend/packages/ceph-storage-plugin/src/utils/storage-pool.tsx
Labels: approved, component/ceph, lgtm

#8110 Bug 1926843: Consider finally tasks when calculating task status
  frontend/packages/pipelines-plugin/src/test-data/pipeline-data.ts
  frontend/packages/pipelines-plugin/src/types/pipeline.ts
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-augment.spec.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-augment.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/pipelines, kind/bug, lgtm

#8116 Bug 1920699: retry co-fetch on 409 POST or 429
  frontend/__tests__/public/co-fetch.spec.js
  frontend/public/co-fetch.js
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/core, lgtm

#8114 Use dry run options directly to remove bad dependency
  frontend/public/components/cluster-settings/index.ts
Labels: approved, component/core, lgtm

#8112 Remove dead code related to developer catalog and service catalog
  frontend/__tests__/components/catalog-data.ts
  frontend/__tests__/components/catalog.spec.tsx
  frontend/integration-tests/protractor.conf.ts
  frontend/integration-tests/tests/developer-catalog.scenario.ts
  frontend/integration-tests/tests/service-catalog/service-binding.scenario.ts
  frontend/integration-tests/tests/service-catalog/service-broker.scenario.ts
  frontend/integration-tests/tests/service-catalog/service-catalog.scenario.ts
  frontend/integration-tests/tests/service-catalog/service-class.scenario.ts
  frontend/integration-tests/views/service-catalog.view.ts
  frontend/public/components/app-contents.tsx
  frontend/public/components/catalog/catalog-item-details.tsx
  frontend/public/components/catalog/catalog-items.tsx
  frontend/public/components/catalog/catalog-page.tsx
  frontend/public/components/catalog/catalog-tile.tsx
  frontend/public/components/catalog/description-utils.tsx
  frontend/public/components/catalog/full-description.tsx
  frontend/public/components/catalog/types.ts
  frontend/public/components/catalog/utils.ts
  frontend/public/components/service-catalog/create-binding.tsx
  frontend/public/components/service-catalog/create-instance.tsx
  frontend/public/components/service-catalog/schema-form.tsx
Labels: approved, component/core, lgtm

#8097 add copy to clipboard functionality to EventListenerURL
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/EventListenerURL.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/__tests__/EventListenerURL.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/resource-overview/TriggerTemplateResourceLink.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/resource-overview/TriggerTemplateResourceLink.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/resource-overview/__tests__/TriggerTemplateResourceLink.spec.tsx
Labels: approved, component/pipelines, lgtm

#7617 Migrates backing store test to cypress
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/create-backing-store.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/bs.ts
  frontend/packages/noobaa-storage-plugin/src/components/create-backingstore-page/create-bs.tsx
Labels: approved, component/ceph, component/dev-console, component/kubevirt, component/noobaa, component/pipelines, kind/i18n, lgtm

#8092 Bug 1891766: Disable submit button for incorrect validations (LSO/OCS local volume set)
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/create-sc.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/state.ts
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/create-local-volume-set.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/local-volume-set-inner.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/state.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/ceph, component/lso, lgtm, ok-to-test

#8105 Bug 1926072: Fix close button in the new 'Storage cluster exists' warning alert modal
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/existing-cluster-modal.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/ceph, kind/i18n, lgtm, ok-to-test

#8125 Fix tests for CNV 2.5
  frontend/packages/console-shared/src/test-utils/utils.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/cdi-upload.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/baseVMBuilder.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/kubevirtUIResource.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/pvc.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/types/pvc.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/types/types.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/types/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/common.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.base.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.flavor.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.list-filtering.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.tab.snapshots.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmtemplate.wizard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/virtualMachine.view.ts
  frontend/packages/kubevirt-plugin/src/components/vms/VMDetailsItem.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/VMDetailsItemTemplate.tsx
Labels: approved, component/kubevirt, component/shared, lgtm

#8153 Adds Christoph as an approver to DevConsole packages
  frontend/packages/dev-console/OWNERS
  frontend/packages/git-service/OWNERS
  frontend/packages/gitops-plugin/OWNERS
  frontend/packages/helm-plugin/OWNERS
  frontend/packages/pipelines-plugin/OWNERS
  frontend/packages/topology/OWNERS
Labels: approved, component/dev-console, component/git-service, component/gitops, component/helm, component/pipelines, component/topology, lgtm

#8143 Bug 1927465: i18n Dashboard content
  frontend/packages/console-shared/src/components/dashboard/status-card/status-card.scss
  frontend/packages/insights-plugin/locales/en/insights-plugin.json
  frontend/packages/insights-plugin/src/components/InsightsPopup/index.tsx
  frontend/packages/insights-plugin/src/components/InsightsPopup/status.ts
  frontend/public/i18n.js
  frontend/webpack.config.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/dashboard, component/insights, component/olm, component/shared, kind/i18n, lgtm

#8142 Bug 1901207: Pipeline resources table not immediately updated after Name filter applied or removed
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelinesResourceList.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/pipelines, lgtm

#8144 Bug 1927898: i18n Admin Notifier
  frontend/public/components/kube-admin-notifier.jsx
  frontend/public/locales/en/public.json
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/i18n, lgtm

#8082 odc-5475-updated setting.json in frontend folder
  .gitignore
  frontend/.gherkin-lintrc
  frontend/.vscode/settings.json
  frontend/packages/gitops-plugin/integration-tests/OWNERS
  frontend/packages/helm-plugin/integration-tests/OWNERS
  frontend/packages/pipelines-plugin/integration-tests/OWNERS
Labels: approved, component/gitops, component/helm, component/pipelines, lgtm

#8160 Check for kindObj before accessing its properties
  frontend/public/components/sidebars/explore-type-sidebar.tsx
Labels: approved, component/core, lgtm

#8106 Add support for taskSpec in pipeline visualization component in the pipeline details page.
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualization.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationTask.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/__tests__/PipelineVisualization.spec.tsx
  frontend/packages/pipelines-plugin/src/types/task.ts
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-test-data.ts
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-utils.spec.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-utils.ts
Labels: approved, component/pipelines, kind/feature, kind/i18n, lgtm

#8113 Bug 1924586: internationalize control plane and operator status
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/dashboards-page/ControlPlaneStatus.tsx
  frontend/packages/console-app/src/plugin.tsx
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/dashboard/status-card/OperatorStatusBody.tsx
  frontend/packages/insights-plugin/locales/en/insights-plugin.json
  frontend/packages/insights-plugin/src/plugin.tsx
  frontend/packages/operator-lifecycle-manager/src/plugin.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/dashboard, component/insights, component/olm, component/shared, kind/bug, kind/i18n, lgtm

#8133 Bug 1905147: Show multiple pre-requisites as unordered list in popover
  frontend/packages/console-app/locales/en/quickstart.json
  frontend/packages/console-app/src/components/quick-starts/catalog/QuickStartTileDescription.scss
  frontend/packages/console-app/src/components/quick-starts/catalog/QuickStartTileDescription.tsx
  frontend/packages/console-app/src/components/quick-starts/catalog/__tests__/QuickStartTileDescription.spec.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, kind/i18n, lgtm

#8164 Bug 1926336: Switch grid column responsive size to prevent breakage of Service port mappings content
  frontend/public/components/service.jsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#8137 Bug 1927797: Add "Pod" in HPA pod donut label
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/utils/pod-ring-utils.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/shared, kind/i18n, lgtm

#8167 Bug 1927882: allow choice of binding type when creating RoleBinding
  frontend/public/components/RBAC/bindings.jsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/core, lgtm

#8117 Bug 1926154: Fix for creating new pool with arbiter - wrong replica
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/storage-pool-modal/storage-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/utils/common.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/ceph, lgtm

#8135 Gherkin: Added all types of health check
  frontend/packages/dev-console/integration-tests/features/healthChecks/add-health-checks-in-git-page.feature
  frontend/packages/dev-console/integration-tests/features/healthChecks/add-health-checks-in-topology-page.feature
Labels: approved, component/dev-console, lgtm
