Repository openshift/console, pull requests merged in 2021-09, with the labels that each got.

#9944 Bug 1999615: Use target closest method only when available
  frontend/packages/console-shared/src/components/namespace/NamespaceMenuToggle.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/shared, bugzilla/severity-high

#9935 Bug 1999729: Fix spelling of ActivityItem in plugin-api
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-api.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/sdk, bugzilla/severity-low

#9955 Bug 1999823: Linkify condition and alert messages
  frontend/public/components/cluster-settings/cluster-operator.tsx
  frontend/public/components/conditions.tsx
  frontend/public/components/monitoring/alerting.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, bugzilla/severity-low

#9768 Gherkin: Generic managed service flow - topology
  frontend/packages/topology/integration-tests/features/topology/topology-chart-area-visual.feature
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/topology

#9911 Bug 1999614: Add name field in edit deployment form
  frontend/packages/dev-console/src/components/edit-deployment/EditDeploymentFormEditor.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-low

#9928 Bug 1997422: Missing translation addition to create volume snapshot form alert message
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/volume-snapshot/create-volume-snapshot/create-volume-snapshot.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low, kind/i18n

#9575 CONSOLE-2319: Expose instanceType in MachineSet list/details
  frontend/packages/console-shared/src/selectors/index.ts
  frontend/packages/console-shared/src/selectors/machineSet.ts
  frontend/public/components/factory/table.tsx
  frontend/public/components/machine-set.tsx
  frontend/public/locales/en/public.json
  frontend/public/module/k8s/types.ts
Labels: approved, lgtm, component/shared, component/core, docs-approved, qe-approved, px-approved, kind/i18n

#9921 Bug 1999075: Pan the selected workload into the full view
  frontend/packages/topology/src/components/graph-view/Topology.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium, component/topology

#9933 test cases for PAC
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-as-code.feature
  frontend/packages/pipelines-plugin/integration-tests/testData/repository-crd-testdata/test-repo.yaml
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/pipelines

#9948 Bug 1999656: fix pipeline run count chart discrepancies with other chart values
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineRunCount.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/pipeline-metrics-test-data.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/pipeline-metrics-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/charts/TimeSeriesChart.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/pipeline-metrics-utils.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium

#9432 Override dynamic plugin sdk module in runtime
  frontend/@types/console/index.d.ts
  frontend/dynamic-demo-plugin/package.json
  frontend/dynamic-demo-plugin/src/components/ExtensionConsumer.tsx
  frontend/dynamic-demo-plugin/src/components/Nav.tsx
  frontend/dynamic-demo-plugin/src/components/UtilityConsumer.tsx
  frontend/dynamic-demo-plugin/src/utils/bar.ts
  frontend/dynamic-demo-plugin/tsconfig.json
  frontend/dynamic-demo-plugin/webpack.config.ts
  frontend/dynamic-demo-plugin/yarn.lock
  frontend/packages/console-dynamic-plugin-sdk/scripts/generate-pkg-assets.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/api-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/component-api-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal/dashboard/api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/useResolvedExtensions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/actions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/notification-alert.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/storage-provider.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/topology-details.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/topology-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/topology.ts
  frontend/packages/console-dynamic-plugin-sdk/src/index-lib.ts
  frontend/packages/console-dynamic-plugin-sdk/src/index-webpack.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-init.ts
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/fetch/console-fetch.ts
  frontend/packages/console-dynamic-plugin-sdk/src/webpack/ConsoleRemotePlugin.ts
  frontend/packages/console-dynamic-plugin-sdk/tsconfig.json
  frontend/packages/console-shared/src/components/dashboard/activity-card/ActivityBody.tsx
  frontend/packages/console-shared/src/components/dashboard/activity-card/ActivityItem.tsx
  frontend/packages/console-shared/src/components/dashboard/dashboard-card/DashboardCard.tsx
  frontend/packages/console-shared/src/components/dashboard/dashboard-card/DashboardCardBody.tsx
  frontend/packages/console-shared/src/components/dashboard/dashboard-card/DashboardCardHeader.tsx
  frontend/packages/console-shared/src/components/dashboard/dashboard-card/DashboardCardTitle.tsx
  frontend/packages/console-shared/src/components/dashboard/details-card/DetailItem.tsx
  frontend/packages/console-shared/src/components/dashboard/details-card/DetailsBody.tsx
  frontend/packages/console-shared/src/components/dashboard/inventory-card/InventoryItem.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/AlertItem.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/AlertsBody.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/HealthItem.tsx
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationBody.tsx
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationDurationDropdown.tsx
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationItem.tsx
  frontend/packages/console-shared/src/graph-helper/data-utils.ts
  frontend/packages/console-shared/src/hooks/useUtilizationDuration.ts
  frontend/public/components/graphs/helpers.ts
  frontend/public/components/graphs/prometheus-poll-hook.ts
  frontend/public/components/utils/horizontal-nav.tsx
  frontend/public/components/utils/k8s-watch-hook.ts
Labels: approved, lgtm, component/shared, component/dashboard, component/core, component/sdk, docs-approved, qe-approved, px-approved

#9905 Bug 1998394: add tests for RHEL9 template
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/clone.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/migration.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/devconsole/devconsole.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/validate-disk-preallocation.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/validate-storage-profile.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/pvc-upload/pvc-upload.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/action.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-creation.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-tabs.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/snapshot.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/create-template-from-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/custom-template-support.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/customize-source.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/source-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/template-rhel9.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/template-support.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/advanced-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#9915 Bug 1998563: Fix machine page columns visibility
  frontend/public/components/factory/Table/VirtualizedTable.tsx
  frontend/public/components/factory/Table/active-columns-hook.ts
  frontend/public/components/machine.tsx
  frontend/public/components/pod.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#9922 Bug 1994975: fix validate endpoint before go next
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/ibm-flashsystem/index.tsx
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, component/ceph, bugzilla/severity-medium

#9924 Bug 1999179: Create BuildConfig webhook secrets before creating knative resources
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-medium

#9964 Bug 2000259: chore(i18n): update translations
  frontend/packages/ceph-storage-plugin/locales/ja/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/ko/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/zh/ceph-storage-plugin.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-shared/locales/ja/console-shared.json
  frontend/packages/console-shared/locales/ko/console-shared.json
  frontend/packages/console-shared/locales/zh/console-shared.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/gitops-plugin/locales/ja/gitops-plugin.json
  frontend/packages/gitops-plugin/locales/ko/gitops-plugin.json
  frontend/packages/gitops-plugin/locales/zh/gitops-plugin.json
  frontend/packages/helm-plugin/locales/ja/helm-plugin.json
  frontend/packages/helm-plugin/locales/ko/helm-plugin.json
  frontend/packages/helm-plugin/locales/zh/helm-plugin.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/network-attachment-definition-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/network-attachment-definition-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/network-attachment-definition-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ko/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/packages/topology/locales/ja/topology.json
  frontend/packages/topology/locales/ko/topology.json
  frontend/packages/topology/locales/zh/topology.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/dev-console, component/kubevirt, component/knative, component/ceph, component/core, component/olm, component/network-attachment-definition, bugzilla/severity-low, kind/i18n, component/helm, component/topology, component/gitops, component/pipelines

#9780 Bug 1995148: change secret key name
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/ibm-flashsystem/index.tsx
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, component/ceph, bugzilla/severity-high

#9962 Bug 2000108: fix devconsole metrics page
  frontend/packages/dev-console/src/components/monitoring/metrics/MetricsQueryInput.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-high

#9942 Bug 1999422: Guard display of supported vendors
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/README.md
  frontend/packages/ceph-storage-plugin/src/constants/common.ts
  frontend/packages/ceph-storage-plugin/src/utils/create-storage-system.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-low

#9897 Bug 1998207: Prune empty values before switching to yaml or submitting form
  frontend/packages/console-shared/src/components/formik-fields/SyncedEditorField.tsx
  frontend/packages/dev-console/integration-tests/features/e2e/helm.feature
  frontend/packages/dev-console/integration-tests/features/monitoring/topology-sidebar-actions.feature
  frontend/packages/dev-console/integration-tests/support/constants/add.ts
  frontend/packages/dev-console/integration-tests/support/constants/global.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/catalog-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/createHelmChartFromAddPage.ts
  frontend/packages/helm-plugin/integration-tests/features/helm/actions-on-helm-release-after-upgrade.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/actions-on-helm-release.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-installation-view.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-navigation.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/install-helm-chart.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/topology-helm-release.feature
  frontend/packages/helm-plugin/integration-tests/support/pages/helm/helm-details-page.ts
  frontend/packages/helm-plugin/integration-tests/support/pages/helm/helm-page.ts
  frontend/packages/helm-plugin/integration-tests/support/pages/helm/upgrade-helm-release-page.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-navigation.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-release.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm.ts
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradeForm.tsx
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradePage.tsx
  frontend/packages/topology/integration-tests/features/topology/topology-chart-area-visual.feature
  frontend/packages/topology/integration-tests/support/pages/topology/topology-side-pane-page.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/dev-console, bugzilla/severity-medium, component/helm, component/topology

#9969 Bug 2000473: Monitoring dashboards: Fix clearing variables when changing dashboard
  frontend/public/actions/ui.ts
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/reducers/ui.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, bugzilla/severity-medium

#9934 Bug 1999404: add test for rootdisk validation
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/validate-rootdisk.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/template-rhel9.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/types/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/errorString.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/provisionSource.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/dialog.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector-wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-low

#9973 Bug 2000491: removes techpreview badge from RH Camel K integration operator
  frontend/packages/knative-plugin/src/components/add/EventSourcePage.tsx
  frontend/packages/knative-plugin/src/models.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/knative, bugzilla/severity-medium

#9919 Bug 1999393: Form / YAML switch makes unnecessary network calls to save latest editor type
  frontend/packages/console-shared/src/components/synced-editor/useEditorType.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, bugzilla/severity-low

#9963 Bug 1999210: add tests for VM wizard Cloudinit editor fields
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/cloud-init.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector-wizard.ts
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#9812 Bug 2000689: Expandable section in mirroring card is empty when no image found under a pool
  frontend/packages/ceph-storage-plugin/src/components/dashboards/block-pool/mirroring-card.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-medium

#9925 Expose list, table, ResourceLink componens and useK8sModel(s) hooks via plugin SDK
  frontend/__tests__/components/modals/column-management-modal.spec.tsx
  frontend/dynamic-demo-plugin/console-extensions.json
  frontend/dynamic-demo-plugin/package.json
  frontend/dynamic-demo-plugin/src/components/ListPage.tsx
  frontend/packages/ceph-storage-plugin/src/components/odf-resources/resource-list-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/odf-system/odf-system-list.tsx
  frontend/packages/ceph-storage-plugin/src/utils/table-filters.ts
  frontend/packages/console-app/src/components/nodes/NodesPage.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/api/api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-shared/src/components/dashboard/resource-quota-card/ResourceQuotaItem.tsx
  frontend/packages/console-shared/src/hooks/useK8sModel.ts
  frontend/packages/console-shared/src/hooks/useK8sModels.ts
  frontend/packages/container-security/src/components/ImageVulnerabilitiesList.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlerts.tsx
  frontend/packages/knative-plugin/src/components/eventing/channels-list/ChannelListPage.tsx
  frontend/packages/knative-plugin/src/components/eventing/eventsource-list/EventSourceListPage.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/table-filters.ts
  frontend/packages/kubevirt-plugin/src/components/vm-templates/customize-source/CustomizeSourceStatus.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/table-filters.ts
  frontend/packages/local-storage-operator-plugin/src/components/disks-list/disks-list-page.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/table-filters.ts
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/table-filters.ts
  frontend/packages/operator-lifecycle-manager/src/components/operator-install-page.tsx
  frontend/public/actions/k8s.ts
  frontend/public/components/factory/ListPage/ListPageCreate.tsx
  frontend/public/components/factory/ListPage/ListPageFilter.tsx
  frontend/public/components/factory/ListPage/ListPageHeader.tsx
  frontend/public/components/factory/ListPage/filter-hook.ts
  frontend/public/components/factory/Table/VirtualizedTable.tsx
  frontend/public/components/factory/Table/VirtualizedTableBody.tsx
  frontend/public/components/factory/Table/active-columns-hook.ts
  frontend/public/components/factory/list-page.tsx
  frontend/public/components/factory/table-data-hook.ts
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/factory/table.tsx
  frontend/public/components/filter-toolbar.tsx
  frontend/public/components/machine.tsx
  frontend/public/components/modals/column-management-modal.tsx
  frontend/public/components/pod.tsx
  frontend/public/components/utils/resource-link.tsx
Labels: approved, lgtm, component/shared, component/dev-console, component/kubevirt, component/dashboard, component/knative, component/ceph, component/monitoring, component/core, component/metal3, component/sdk, component/olm, component/lso, docs-approved, qe-approved, px-approved

#9966 Bug 1988905: External mode deployments fails on parsing json in ODF wizard
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-steps.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/review-and-create-step/review-and-create-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/red-hat-ceph-storage/index.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/red-hat-ceph-storage/index.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/types.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/payloads.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/use-fetch-csv.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/external-mode/utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-high, kind/i18n

#9902 Bug 1998347: fix user preference for language and sync with local storage
  frontend/packages/ceph-storage-plugin/src/utils/common.tsx
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/detect-language/DetectLanguage.tsx
  frontend/packages/console-app/src/components/quick-starts/utils/quick-start-context.tsx
  frontend/packages/console-app/src/components/user-preferences/language/LanguageDropdown.scss
  frontend/packages/console-app/src/components/user-preferences/language/LanguageDropdown.tsx
  frontend/packages/console-app/src/components/user-preferences/language/__tests__/LanguageDropdown.spec.tsx
  frontend/packages/console-app/src/components/user-preferences/language/const.ts
  frontend/packages/console-app/src/components/user-preferences/language/getLastLanguage.ts
  frontend/packages/console-app/src/components/user-preferences/language/index.ts
  frontend/packages/console-app/src/components/user-preferences/language/useLanguage.ts
  frontend/packages/console-app/src/components/user-preferences/language/usePreferredLanguage.ts
  frontend/public/components/app.jsx
  frontend/public/components/utils/datetime.ts
  frontend/public/i18n.js
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, component/core, bugzilla/severity-high, kind/i18n

#9947 Bug 1999648: Remove remaining Storage Class string
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/modals/clone/clone-pvc-modal.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low, kind/i18n

#9979 Bug 1998616: Add clusterwide hostname to Service details page
  frontend/public/components/service.jsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#9954 Bug 1999039: Fix status of StorageSystem in list page
  frontend/packages/ceph-storage-plugin/src/components/odf-system/odf-system-list.tsx
  frontend/packages/ceph-storage-plugin/src/components/odf-system/utils.ts
  frontend/packages/ceph-storage-plugin/src/queries/odf-queries.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-high

#9957 Console 2271: allow for configuring upstream server for air gapped envs
  frontend/packages/console-shared/src/constants/common.ts
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/cluster-settings/cluster-version.tsx
  frontend/public/components/modals/configure-cluster-upstream-modal.tsx
  frontend/public/components/modals/index.ts
  frontend/public/components/utils/details-page.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/shared, component/core, docs-approved, qe-approved, px-approved, kind/i18n

#9967 Bug 2000391: review kubevirt skipped tests
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/custom-template-support.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/source-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/advanced-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/empty-state.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-low

#9980 Bug 2000576: Change MCG only deployment payload
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/payloads.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-high

#9330 Bug 1967934: fix issues in add capacity modal
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.scss
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-low, kind/i18n

#9972 Created separate helm release spec for CI purpose
  frontend/packages/dev-console/integration-tests/support/constants/pageTitle.ts
  frontend/packages/helm-plugin/integration-tests/.eslintrc
  frontend/packages/helm-plugin/integration-tests/features/helm-release.feature
  frontend/packages/helm-plugin/integration-tests/package.json
  frontend/packages/helm-plugin/integration-tests/support/commands/hooks.ts
  frontend/packages/helm-plugin/integration-tests/support/pages/helm/helm-details-page.ts
  frontend/packages/helm-plugin/integration-tests/support/pages/helm/upgrade-helm-release-page.ts
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, component/helm

#9918 Bug 1999026: detect managed ODF when operator is installed
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-low

#9961 Bug 2000499: dismiss toast if export cr gives 404
  frontend/packages/console-shared/src/components/toast/ToastContext.tsx
  frontend/packages/console-shared/src/components/toast/ToastProvider.tsx
  frontend/packages/console-shared/src/components/toast/__tests__/ToastProvider.spec.tsx
  frontend/packages/topology/src/components/export-app/export-app-context.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, bugzilla/severity-medium, component/topology

#9958 Bug 1999931: move event sources add option to serverless add group
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-page.ts
  frontend/packages/dev-console/src/components/add/__tests__/add-page-test-data.tsx
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, component/knative, bugzilla/severity-medium, kind/i18n

#9866 Bug 1997108: fix react warnings while loading topology page
  frontend/packages/dev-console/src/plugin.tsx
  frontend/packages/helm-plugin/src/utils/helm-utils.ts
  frontend/packages/topology/src/__tests__/TopologyPage.spec.tsx
  frontend/packages/topology/src/components/graph-view/Topology.tsx
  frontend/packages/topology/src/components/list-view/TopologyListView.tsx
  frontend/packages/topology/src/components/page/TopologyPage.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-low, component/helm, component/topology

#9984 Bug 2000858: Add documentation link for MON_DISK_LOW
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/status-card/whitelisted-health-checks.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-low

#9727 Automation to verify the href url's from the quick starts
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/quick-start-devperspective.feature
  frontend/packages/dev-console/integration-tests/support/pageObjects/quickStarts-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/quck-starts/quick-start-devperspective.ts
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved

#9959 Bug 2000633: fix observer dashboard variables dropdown when screen size is reduced
  frontend/packages/dev-console/src/components/monitoring/MonitoringPage.scss
  frontend/packages/dev-console/src/components/monitoring/MonitoringPage.tsx
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/dashboards/index.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/dev-console, component/monitoring, component/core, bugzilla/severity-low

#9971 Bug 2000935: add volume mode selection in storage creation
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/ibm-flashsystem/index.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/ibm-flashsystem/type.ts
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, component/ceph, bugzilla/severity-low, kind/i18n

#9975 Bug 2000590: Warning on topology context menu right click
  frontend/packages/topology/src/components/graph-view/components/nodeContextMenu.tsx
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low, component/topology

#9983 Bug 2000833: Remove webpack missing type export warnings
  frontend/packages/ceph-storage-plugin/src/components/disk-inventory/ocs-disks-list.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/create-block-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/create-storage-class/selected-capacity.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
  frontend/packages/ceph-storage-plugin/src/components/storage-popover.tsx
  frontend/packages/ceph-storage-plugin/src/resources.ts
  frontend/packages/console-app/src/components/cloud-shell/useCloudShellWorkspace.ts
  frontend/packages/console-app/src/components/console-operator/ConsoleOperatorConfig.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/NodeHealth.tsx
  frontend/packages/console-plugin-sdk/src/typings/dashboards.ts
  frontend/packages/console-shared/src/components/formik-fields/YAMLEditorField.tsx
  frontend/packages/container-security/src/components/summary.tsx
  frontend/packages/dev-console/src/components/edit-application/EditApplicationComponent.tsx
  frontend/packages/dev-console/src/components/edit-application/EditApplicationPage.tsx
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/import/jar/UploadJar.tsx
  frontend/packages/dev-console/src/components/import/jar/UploadJarForm.tsx
  frontend/packages/dev-console/src/components/import/jar/UploadJarPage.tsx
  frontend/packages/dev-console/src/components/import/jar/useUploadJarFormToast.ts
  frontend/packages/dev-console/src/components/import/serverless/ServerlessRouteSection.tsx
  frontend/packages/helm-plugin/src/catalog/providers/useHelmCharts.tsx
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmChartVersionDropdown.tsx
  frontend/packages/knative-plugin/src/components/knatify/CreateKnatifyPage.tsx
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
  frontend/packages/knative-plugin/src/utils/get-knative-resources.ts
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/cdi-upload-provider.tsx
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/pvc-delete-extension.tsx
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-inventory-card.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/menu-actions-modals/delete-vm-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/use-mapped-vm-restores.ts
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/vm-snapshots.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/VMDetailsItemTemplate.tsx
  frontend/packages/kubevirt-plugin/src/hooks/use-base-images.ts
  frontend/packages/local-storage-operator-plugin/src/resources.ts
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/add-baremetal-host/AddBareMetalHost.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/events/event-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/hooks.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/MultipleResourceKeySelector.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/utils/triggers.ts
  frontend/packages/topology/src/data-transforms/ModelContext.ts
  frontend/packages/topology/src/data-transforms/TopologyDataRetriever.tsx
  frontend/packages/topology/src/data-transforms/transform-utils.ts
  frontend/packages/topology/src/data-transforms/updateTopologyDataModel.ts
  frontend/packages/topology/src/extensions/topology.ts
  frontend/packages/topology/src/operators/operatorResources.ts
  frontend/packages/topology/src/topology-types.ts
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/details-card.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/health-item.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/inventory-card.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/status-card.tsx
  frontend/public/components/dashboard/project-dashboard/inventory-card.tsx
  frontend/public/components/utils/k8s-watch-hook.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/dev-console, component/kubevirt, component/dashboard, component/knative, component/ceph, component/core, component/metal3, component/sdk, component/olm, component/lso, bugzilla/severity-low, component/helm, component/topology, component/pipelines

#9986 Bug 2000873: override list style for toast
  frontend/packages/console-shared/src/components/toast/ToastProvider.scss
  frontend/packages/console-shared/src/components/toast/ToastProvider.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, bugzilla/severity-low

#9988 update gherkin scripts to include language preference
  frontend/packages/dev-console/integration-tests/features/user-preferences/user-preferences-dev-perspective.feature
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved

#9951 Bug 1999723: disable drag for QuickSearch when hovering over text input
  frontend/packages/console-shared/src/components/quick-search/QuickSearchBar.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchBar.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchContent.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModalBody.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, bugzilla/severity-medium

#9945 Bug 1999719: persist last viewed tab on topology side panel
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradePage.tsx
  frontend/packages/topology/src/components/side-bar/components/SideBarBody.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-medium, kind/i18n, component/helm, component/topology

#9766 Bug 2000636: reload entered data if any when switching strategies
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/edit-deployment/deployment-strategy/DeploymentStrategySection.tsx
  frontend/packages/dev-console/src/components/edit-deployment/deployment-strategy/advanced-options/ExecNewPodForm.tsx
  frontend/packages/dev-console/src/components/edit-deployment/utils/edit-deployment-utils.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-low, kind/i18n

#9927 Bug 1999627: Fix to set required data when multiple strategies exist
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/GitImportForm.tsx
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/ImportStrategySection.tsx
  frontend/packages/dev-console/src/components/import/ImportStrategySelector.tsx
  frontend/packages/dev-console/src/components/import/SourceToImageForm.tsx
  frontend/packages/dev-console/src/components/import/builder/BuilderSection.tsx
  frontend/packages/dev-console/src/components/import/devfile/DevfileStrategySection.tsx
  frontend/packages/dev-console/src/components/import/devfile/devfileHooks.ts
  frontend/packages/dev-console/src/components/import/git/DockerSection.tsx
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/import/import-validation-utils.ts
  frontend/packages/dev-console/src/components/import/validation-schema.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-low, kind/i18n

#9929 Bug 1975391: fix install operator description iframe
  frontend/__tests__/components/markdown-view.spec.tsx
  frontend/packages/helm-plugin/src/components/details-page/__tests__/HelmReleaseNotes.spec.tsx
  frontend/packages/helm-plugin/src/topology/__tests__/TopologyHelmReleasePanel.spec.tsx
  frontend/public/components/markdown-view.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low, component/helm

#9977 Bug 2000607: Add an alert for the domain mapping linked with other knative service
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/serverless/ServerlessRouteSection.tsx
  frontend/packages/dev-console/src/components/import/serverless/__tests__/ServerlessRouteSection.spec.tsx
  frontend/packages/dev-console/src/components/import/serverless/__tests__/serverless-utils.data.ts
  frontend/packages/dev-console/src/components/import/serverless/__tests__/serverless-utils.spec.ts
  frontend/packages/dev-console/src/components/import/serverless/serverless-utils.ts
  frontend/packages/dev-console/src/components/import/validation-schema.ts
  frontend/packages/knative-plugin/src/utils/create-knative-utils.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/dev-console, component/knative, bugzilla/severity-low, kind/i18n

#9968 Adding test cases for Pipeline run details page as part of PAC
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-as-code.feature
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/pipelines

#9982 Bug 2000965: remove login prompt check until it's clearly needed
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/clone.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/migration.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/devconsole/devconsole.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/pvc-upload/pvc-upload.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/action.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-tabs.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/snapshot.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/expect-login.sh
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/vm.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-low

#9990 Bug 2001263: create vm from template list and action dropdown
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/clone.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/migration.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/validate-disk-preallocation.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/validate-rootdisk.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/validate-storage-profile.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ipv6/ipv6.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/pvc-upload/pvc-upload.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/regression/validate-nad-for-pxe.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/regression/validate-virtio-win-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/action.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-creation.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-tabs.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/snapshot.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/create-template-from-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/create-vm-from-template.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/advanced-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/cloud-init.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/types/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector-wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/virtualization.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/wizard.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-low

#9941 Bug 1993999: Update helper texts
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/capacity-and-nodes-step/capacity-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set-step/body.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set-step/selected-capacity.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/security-and-network-step/encryption.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/ibm-flashsystem/index.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/red-hat-ceph-storage/index.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/header.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/kms-config.tsx
  frontend/packages/ceph-storage-plugin/src/constants/tooltips.tsx
  frontend/packages/ceph-storage-plugin/src/utils/ocs-storage-class-params.tsx
  frontend/packages/local-storage-operator-plugin/locales/en/lso-plugin.json
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/body.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, component/lso, bugzilla/severity-low, kind/i18n

#9994 Bug 2001292: Hide the import vm action
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vms/virtualization.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high, kind/i18n

#9993 Bug 2001288: Kubevirt, use currect API when checking healthz
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/src/flags/const.ts
  frontend/packages/kubevirt-plugin/src/flags/detect-kubevirt-virtual-machines.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#9938 Bug 1999669: Add a wrapper around AddCapacityModal to inject StorageCluster
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/modals/edit-backingstore-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/odf-resources/resource-details-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/odf-resources/resource-list-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/odf-system/actions.tsx
  frontend/packages/ceph-storage-plugin/src/constants/common.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-medium, kind/i18n

#9985 Bug 2001337: Update references to OCS in Dashboards
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/__tests__/independent-dashboard-details-card.spec.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/details-card/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-external/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/constants/common.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
  frontend/packages/ceph-storage-plugin/src/selectors/index.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-low, kind/i18n

#9960 Bug 2000096: Git URL is not re-validated on edit build-config form reload
  frontend/packages/dev-console/src/components/buildconfig/BuildConfigForm.tsx
  frontend/packages/dev-console/src/components/buildconfig/EditBuildConfig.tsx
  frontend/packages/dev-console/src/components/buildconfig/form-utils/types.ts
  frontend/packages/dev-console/src/components/buildconfig/sections/SourceSection.tsx
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, component/core, bugzilla/severity-low, kind/i18n

#10005 Bug 2000573: Disable flexible scaling for internal mode
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/capacity-and-nodes-step/capacity-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/payloads.ts
  frontend/packages/ceph-storage-plugin/src/utils/create-storage-system.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-urgent

#10009 Bug 2001959: Allow side nav borders to extend to left and right edges of yaml sidebar
  frontend/public/components/_horizontal-nav.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#10015 Bug 1996023: Fix select all nodes request
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/create-local-volume-set.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/lso, bugzilla/severity-low

#10008 Bug 1961391: Textual updates follow-up
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/utils/common.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-low, kind/i18n

#9999 Bug 2001578: add tests for vm dashboard tab
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/devconsole/devconsole.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/dashboard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/details.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/virtualization.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-low

#10028 Bug 2001855: Enable add capacity if osd size is not matching
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-high

#10018 Bug 1999076: Page Not Found error when clicking on Storage link provided in Overview page
  frontend/packages/ceph-storage-plugin/src/components/storage-popover.tsx
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, component/ceph, bugzilla/severity-high

#10025 Bug 2002443: Fix disks undefined on create local volume set step
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set-step/selected-capacity.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-urgent

#10003 Bug 2002133: add support/virtualization and improve deleteResource
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/virtualization.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/clone.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/migration.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/devconsole/devconsole.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/validate-disk-preallocation.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/validate-rootdisk.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/validate-storage-profile.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ipv6/ipv6.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/pvc-upload/pvc-upload.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/regression/validate-nad-for-pxe.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/regression/validate-virtio-win-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/action.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/template-tabs.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-creation.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-tabs.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vmi-tabs.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/sysprep/sysprep.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/dashboard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/details.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/snapshot.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/create-template-from-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/create-vm-from-template.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/custom-template-support.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/customize-source.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/source-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/template-rhel9.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/template-support.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/advanced-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/cloud-init.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/empty-state.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/errorString.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/virtualization.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/vm.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-low

#10012 Bug 2002027: Use exact secret label match when creating HelmRelease topology node model
  frontend/packages/helm-plugin/src/topology/helm-data-transformer.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low, component/helm

#9976 Bug 1997245: Dont validate the install operator form when submitted
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, bugzilla/severity-low

#9656 Bug 1991573: [NETOBSERV-29] Turn on strictNullCheck on network-policies files
  frontend/packages/console-app/src/__tests__/network-policies/network-policy-model.spec.ts
  frontend/packages/console-app/src/components/network-policies/network-policy-conditional-selector.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-form.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-model.ts
  frontend/packages/console-app/src/components/network-policies/network-policy-rule-config.tsx
  frontend/packages/console-app/src/components/network-policies/tsconfig.json
  frontend/public/module/k8s/types.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#10031 Bug 2001835: Fix to show image-tag selector in s2i form and re-validate git url on git-type change
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/builder/BuilderImageTagSelector.tsx
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-medium

#10039 Bug 2001810: Fix list page route for build configs
  frontend/packages/dev-console/src/plugin.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-medium

#10038 Bug 2002763: Fix creating two storage system for external RHCS
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-high

#10026 Bug 2003096: check bootsource URL is displaying on review step
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/validate-rootdisk.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/regression/validate-nad-for-pxe.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/template-rhel9.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector-wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/wizard.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-low

#9732 [release-4.8] Bug 1990141: Console overview operators shown upgrading when still waiting on approval
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/dashboard/status-card/states.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/dashboard/utils.ts
  frontend/packages/operator-lifecycle-manager/src/components/subscription.tsx
  frontend/packages/operator-lifecycle-manager/src/status/csv-status.ts
  frontend/packages/operator-lifecycle-manager/src/utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/shared, component/dashboard, component/olm, bugzilla/severity-medium, qe-approved, kind/i18n

#9838 Bug 1996758: Update Resource Dropdown Tech preview text [Release-4.8]
  frontend/public/components/_resource-dropdown.scss
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/core, bugzilla/severity-low

#9970 [release-4.8] Bug 2000474: Create BuildConfig webhook secrets before creating knative resources
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, bugzilla/severity-medium

#10042 Bug 2001784: show loading page before final results instead of showing a transient message No log files exist
  frontend/packages/console-app/src/components/nodes/NodeLogs.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#9996 Bug 2001413: add/delete nic and disk to template
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disk/validate-disk-preallocation.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disk/validate-rootdisk.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disk/validate-storage-profile.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/template/create-template-from-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/template/create-vm-from-template.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/template/custom-template-support.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/template/customize-source.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/template/source-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/template/template-resource.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/template/template-rhel9.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/template/template-support.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/dialog.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/virtualization.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/vm.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-low

#10048 Bug 2003426: add test for vm details bootorder
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/details-bootorder.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector.ts
  frontend/packages/kubevirt-plugin/src/components/vms/VMEditWithPencil.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-low

#10049 Bug 2003357: Remove 4.9 related epic tags
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-devfile.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-docker-file.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-git.feature
  frontend/packages/dev-console/integration-tests/features/build-config/edit-build-config.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/quick-start-devperspective.feature
  frontend/packages/dev-console/integration-tests/features/healthChecks/add-health-checks-topology-sidebar.feature
  frontend/packages/dev-console/integration-tests/features/monitoring/dashboard-display.feature
  frontend/packages/dev-console/integration-tests/features/monitoring/topology-sidebar-actions.feature
  frontend/packages/dev-console/integration-tests/features/service-mesh/service-mesh-console-links-admin.feature
  frontend/packages/dev-console/integration-tests/features/user-preferences/user-preferences-dev-perspective.feature
  frontend/packages/dev-console/integration-tests/features/web-terminal/web-teminal-basic.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/eventing-broker-actions.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/eventing-camelk.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/eventing-create-sink-broker.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/create-knative-workload.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/domain-mapping.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-add-options.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-builder-page.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-as-code.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-secrets.feature
  frontend/packages/topology/integration-tests/features/export-application/export-of-applicaton.feature
  frontend/packages/topology/integration-tests/features/topology/topology-chart-area-visual.feature
  frontend/packages/topology/integration-tests/features/topology/topology-in-context-add-options.feature
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, component/knative, bugzilla/severity-low, component/topology, component/pipelines

#10052 Bug 2001339: Text updates
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/storage-tab/storage-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/HotplugFieldLevelHelp.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/vm-disks.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium, kind/i18n

#9997 convert topology-helm-workload sidepanel to use dynamic extensions
  frontend/packages/topology/console-extensions.json
  frontend/packages/topology/src/components/side-bar/getSelectedEntityDetails.tsx
  frontend/packages/topology/src/components/side-bar/providers/useDetailsResourceLink.tsx
  frontend/packages/topology/src/components/workload/CronJobSideBarDetails.tsx
  frontend/packages/topology/src/components/workload/DaemonSetSideBarDetails.tsx
  frontend/packages/topology/src/components/workload/DeploymentConfigSideBarDetails.tsx
  frontend/packages/topology/src/components/workload/DeploymentSideBarDetails.tsx
  frontend/packages/topology/src/components/workload/JobSideBarDetails.tsx
  frontend/packages/topology/src/components/workload/PodSideBarDetails.tsx
  frontend/packages/topology/src/components/workload/StatefulSetSideBarDetails.tsx
  frontend/packages/topology/src/components/workload/jobs-tab-section.tsx
  frontend/packages/topology/src/components/workload/utils.ts
  frontend/packages/topology/src/components/workload/workload-resource-link.tsx
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/topology

#10046 Bug 2003251: Explicit removal of list item bullets so they are not shown on several PF components.
  frontend/packages/console-shared/src/components/toast/ToastProvider.scss
  frontend/packages/console-shared/src/components/toast/ToastProvider.tsx
  frontend/public/style/_overrides.scss
  frontend/public/style/ancillary/_bootstrap-residual.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/core, bugzilla/severity-low

#10058 Bug 2003808: chore(i18n): update translations
  frontend/packages/ceph-storage-plugin/locales/ja/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/ko/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/zh/ceph-storage-plugin.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-shared/locales/ja/console-shared.json
  frontend/packages/console-shared/locales/ko/console-shared.json
  frontend/packages/console-shared/locales/zh/console-shared.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/helm-plugin/locales/ja/helm-plugin.json
  frontend/packages/helm-plugin/locales/ko/helm-plugin.json
  frontend/packages/helm-plugin/locales/zh/helm-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/ja/lso-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/ko/lso-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/zh/lso-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/operator-lifecycle-manager/locales/ko/olm.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/topology/locales/ja/topology.json
  frontend/packages/topology/locales/ko/topology.json
  frontend/packages/topology/locales/zh/topology.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/dev-console, component/kubevirt, component/ceph, component/core, component/olm, component/lso, bugzilla/severity-low, kind/i18n, component/helm, component/topology

#10059 Bug 2003715: Fix state of volume mode dropdown
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set-step/body.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-medium

#10023 Bug 2002397: Avoid using state for search page resources filter
  frontend/public/components/resource-dropdown.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#10053 Bug 2002588: Use sentence case
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/review-tab/storage-review.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/guest-agent-file-systems.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/vm-cds.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/vm-disks.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium, kind/i18n

#10064 Bug 2003651: Storage class name not passed in CR
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set-step/create-local-volume-set-step.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-high

#10013 Bug 2004060: Fix basic spring boot sample form crash
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
  frontend/packages/dev-console/src/components/import/import-validation-utils.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-high

#10061 Bug 2002007: Enable error stack trace messages to scroll
  frontend/public/components/utils/_copy-to-clipboard.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#10057 Bug 1999619: #cloud-config is now added to yaml
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/initialize-vm.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/volume-wrapper.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-urgent

#10073 Bug 2003711: Fix to fetch ocs csv in external mode
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/red-hat-ceph-storage/index.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-high

#10063 Bug 2004059: fix current tests for downstream
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/virtualization.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/migration.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/devconsole/devconsole.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-creation.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/snapshot.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/template/source-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/template/template-support.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/advanced-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/provisionSource.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/actions.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/add-source.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/dialog.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/snapshot.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/wizard.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-low

#10084 Bug 2004901: improve kubevirt devconsole tests
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/devconsole/devconsole.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/actions.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/vm.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-low

#10051 Bug 2003496: add test for vm resources requirment settings
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disk/validate-rootdisk.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/details-resources-requirement.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/errorString.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/string.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector-tabs.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-low

#9752 Add annotation to Web Terminals to enable Operator metrics
  frontend/packages/console-app/src/components/cloud-shell/cloud-shell-utils.ts
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved

#10068 Refactor ActionMenu and LazyActionMenu to use PF menu and flyout menu
  frontend/packages/console-shared/src/components/actions/LazyActionMenu.tsx
  frontend/packages/console-shared/src/components/actions/menu/ActionMenu.tsx
  frontend/packages/console-shared/src/components/actions/menu/ActionMenuContent.tsx
  frontend/packages/console-shared/src/components/actions/menu/ActionMenuItem.tsx
  frontend/packages/console-shared/src/components/actions/menu/ActionMenuRenderer.tsx
  frontend/packages/console-shared/src/components/actions/menu/ActionMenuToggle.tsx
Labels: approved, lgtm, component/shared, docs-approved, qe-approved, px-approved

#10085 Bug 2004870: [External Mode] Insufficient spacing along y-axis in RGW Latency Performance Card
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/data-consumption-card/performance-graph.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-low

#10091 Bug 1989843: 'More' and 'Show Less' chips are not translated
  frontend/package.json
  frontend/public/components/filter-toolbar.tsx
  frontend/yarn.lock
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#10092 Bug 1999091: Console update toast notification can appear multiple times
  frontend/public/components/app.jsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#10083 Bug 2000651: fixes imagestream from reference for alias to existing IS
  frontend/public/components/image-stream.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#10088 Bug 2004962: disable thread-loader in CI
  frontend/webpack.config.ts
  test-frontend.sh
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium

#10078 Bug 2004578: Add monitoring and nodes label for external storage platform
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-urgent

#10095 Bug 1998377: Fix file systems table styles
  frontend/packages/kubevirt-plugin/src/components/vm-disks/guest-agent-file-systems.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#10102 Bug 1999621: Removed ssh_authorized_keys empty array
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/utils/cloudinit-utils.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#10001 Bug 2001617: Disallow forward jumps for BucketClass Flow
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/backingstore-table.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/create-bc.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-medium, kind/i18n

#9514 Bug 1981396: Faulty BlockPool status after deletion
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/delete-block-pool-modal.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, component/core, bugzilla/severity-medium

#10099 Bug 1990193: Internationalize Search page ToolbarFilter props
  frontend/public/components/search.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#9710 Bug 2005761: Implementing crw-basic feature file.
  frontend/packages/dev-console/integration-tests/features/codeready-workspaces/crw-basic.feature
  frontend/packages/dev-console/integration-tests/support/constants/global.ts
  frontend/packages/dev-console/integration-tests/support/constants/pageTitle.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/operators-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/pages/crw/authorizeAccess.ts
  frontend/packages/dev-console/integration-tests/support/pages/crw/keycloak.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/installCRW.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/installOperatorOnCluster.ts
  frontend/packages/dev-console/integration-tests/support/pages/operators-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/masthead.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/operatorParam.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/operators.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/crw/crw-basic.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-medium, kind/cypress

#9158 Bug 2005783: Fix accessibility issues in Wizard Modes
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/configure.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/types.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, component/core, bugzilla/severity-low, kind/i18n

#10020 Bug 2002238: persist imagestream info when switching from yaml to form editor
  frontend/packages/dev-console/src/components/import/image-search/ImageStreamDropdown.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageStreamNsDropdown.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-unspecified

#9790 Bug 1979562: Cluster operators: don't show messages when neither progressing, degraded or unavailable
  frontend/public/module/k8s/cluster-operator.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#10000 Bug 2001760: BreadCrumbs and OCS/ODF naming fixes
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/create-bc.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-backingstore-page/create-bs-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/create-namespace-store.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-medium, kind/i18n

#10075 Bug 2004459: update gherkin scripts for 4.9 Release and few more fixes
  frontend/packages/dev-console/integration-tests/cypress.json
  frontend/packages/dev-console/integration-tests/features/addFlow/add-page.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-devfile.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-git.feature
  frontend/packages/dev-console/integration-tests/features/e2e/add-flow-ci.feature
  frontend/packages/dev-console/integration-tests/package.json
  frontend/packages/dev-console/integration-tests/support/commands/app.ts
  frontend/packages/dev-console/integration-tests/support/commands/hooks.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-docker-file.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-git.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/page-details.ts
  frontend/packages/dev-console/integration-tests/testData/add-flow/git-dc.yaml
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-medium

#10024 Move Perspective logic to sdk
  frontend/__tests__/components/graphs/prometheus-graph.spec.tsx
  frontend/packages/console-app/src/components/detect-perspective/DetectPerspective.tsx
  frontend/packages/console-app/src/components/detect-perspective/PerspectiveDetector.tsx
  frontend/packages/console-app/src/components/detect-perspective/__tests__/useValuesForPerspectiveContext.spec.ts
  frontend/packages/console-app/src/components/detect-perspective/useLastPerspective.ts
  frontend/packages/console-app/src/components/detect-perspective/useValuesForPerspectiveContext.ts
  frontend/packages/console-app/src/components/tour/__tests__/tour-context.spec.ts
  frontend/packages/console-app/src/components/tour/tour-context.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/perspective/__tests__/perspective.data.ts
  frontend/packages/console-dynamic-plugin-sdk/src/perspective/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/perspective/perspective-context.ts
  frontend/packages/console-dynamic-plugin-sdk/src/perspective/useActivePerspective.ts
  frontend/packages/console-shared/src/components/dashboard/utilization-card/TopConsumerPopover.tsx
  frontend/packages/console-shared/src/hoc/withActivePerspective.tsx
  frontend/packages/console-shared/src/hooks/__tests__/usePinnedResources.spec.ts
  frontend/packages/console-shared/src/hooks/index.ts
  frontend/packages/console-shared/src/hooks/perspectiveUtils.ts
  frontend/packages/console-shared/src/hooks/useActivePerspective.ts
  frontend/packages/console-shared/src/hooks/usePinnedResources.ts
  frontend/packages/console-shared/src/hooks/useTabbedTableBreadcrumb.ts
  frontend/packages/dev-console/src/components/edit-application/EditApplication.tsx
  frontend/packages/dev-console/src/components/edit-deployment/EditDeployment.tsx
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/jar/UploadJar.tsx
  frontend/packages/dev-console/src/components/monitoring/overview/MonitoringOverviewAlerts.tsx
  frontend/packages/knative-plugin/src/components/add/EventSource.tsx
  frontend/packages/knative-plugin/src/components/add/brokers/AddBroker.tsx
  frontend/packages/knative-plugin/src/components/add/channels/AddChannel.tsx
  frontend/packages/knative-plugin/src/components/knatify/CreateKnatifyPage.tsx
  frontend/packages/knative-plugin/src/providers/useChannelDetailPageBreadcrumbs.ts
  frontend/packages/knative-plugin/src/providers/useEventSourceDetailPageBreadcrumbs.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/__tests__/pipelineDetailsPage.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/hooks.ts
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryDetailsPage.tsx
  frontend/public/components/app-contents.tsx
  frontend/public/components/graphs/prometheus-graph.tsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/dashboards/graph.tsx
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/dashboards/timespan-dropdown.tsx
  frontend/public/components/nav/nav-header.tsx
  frontend/public/components/nav/perspective-nav.tsx
  frontend/public/components/search.tsx
Labels: approved, lgtm, component/shared, component/dev-console, component/dashboard, component/knative, component/monitoring, component/core, component/sdk, component/olm, docs-approved, qe-approved, px-approved, component/pipelines

#10019 [release-4.6] Bug 2002151: Fix the event listener optional types
  frontend/packages/dev-console/src/components/pipelines/utils/triggers.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, bugzilla/severity-medium

#10114 Bug 2003120: Prevent null references and "ResizeObserver loop limit exceeded" errors in IFrameMarkdownView
  frontend/public/components/app.jsx
  frontend/public/components/markdown-view.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#9823 Bug 1998087: Active Health Checks cleanup chores
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/status-card/status-card.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/HealthItem.tsx
  frontend/packages/console-shared/src/components/status/SecondaryStatus.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/dashboard, component/ceph, bugzilla/severity-low

#10120 Bug 1999836: Add 'Unavailable' status for cluster operator
  frontend/public/components/cluster-settings/cluster-operator.tsx
  frontend/public/module/k8s/cluster-operator.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#10124 Bug 1998235: Set csrf-token cookie's SameSite attribute to Lax
  pkg/auth/auth.go
  pkg/auth/auth_openshift.go
Labels: approved, lgtm, bugzilla/valid-bug, component/backend, bugzilla/severity-medium

#9974 Console 2926: Bug 1995545: Update console page markup structure to closer align with Patternfly page component structure.
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/cypress-ceph.json
  frontend/packages/integration-tests-cypress/cypress.json
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/cypress-olm.json
  frontend/public/components/_notification-drawer.scss
  frontend/public/components/app-contents.tsx
  frontend/public/components/app.jsx
  frontend/public/style/_layout.scss
  frontend/public/style/_overrides.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, component/core, component/olm, bugzilla/severity-low, kind/cypress

#10045 Bug 2006329: Allow web terminal to be installed in any namespace
  frontend/packages/console-app/src/components/cloud-shell/CloudShellTerminal.tsx
  frontend/packages/console-app/src/components/cloud-shell/__tests__/CloudShellTerminal.spec.tsx
  frontend/packages/console-app/src/components/cloud-shell/__tests__/cloud-shell-utils.spec.ts
  frontend/packages/console-app/src/components/cloud-shell/cloud-shell-utils.ts
  frontend/packages/console-app/src/components/cloud-shell/setup/CloudShellAdminSetup.tsx
  frontend/packages/console-app/src/components/cloud-shell/setup/CloudShellDeveloperSetup.tsx
  frontend/packages/console-app/src/components/cloud-shell/useCloudShellNamespace.ts
  frontend/packages/console-app/src/components/cloud-shell/useCloudShellWorkspace.ts
  pkg/server/server.go
  pkg/terminal/operator.go
  pkg/terminal/proxy.go
Labels: approved, lgtm, bugzilla/valid-bug, component/core, component/backend, bugzilla/severity-medium

#10090 Bug 2007328: Updated patternfly to v4.125.3 and pf.quickstarts to v1.2.3.
  frontend/package.json
  frontend/packages/console-app/src/components/user-preferences/UserPreferencePage.tsx
  frontend/packages/topology/src/components/quick-search/topology-quick-search-utils.tsx
  frontend/yarn.lock
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low, component/topology

#10047 Bug 1986502: Fix state bug to eliminate duplicates in dragged files
  frontend/public/components/droppable-edit-yaml.tsx
  frontend/public/components/import-yaml-results.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#9952 Bug 1999717: Block and File and Object dashboards should not be part of OCP Console for ODF Managed Services
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/ceph-storage-plugin/src/components/dashboards/ocs-dashboards.tsx
  frontend/packages/ceph-storage-plugin/src/constants/common.ts
  frontend/packages/ceph-storage-plugin/src/features.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/ceph, bugzilla/severity-medium

#10086 Bug 2004736: Fix create broker button in Add broker page
  frontend/packages/knative-plugin/src/components/add/brokers/AddBrokerForm.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/knative, bugzilla/severity-high

#10119 Bug 2006308: Backing Store YAML tab on click displays a blank screen on UI
  frontend/packages/ceph-storage-plugin/console-extensions.json
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-medium

#9956 CONSOLE-2967: Expose CPU and memory in MachineSet list/details
  frontend/public/components/machine-set.tsx
  frontend/public/components/utils/units.js
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/shared, component/core, docs-approved, qe-approved, px-approved, kind/i18n

#10138 Bug 2008256: Update Internationalization README with scope info
  INTERNATIONALIZATION.md
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low

#10117 Bug 2006060: fix issue with standalone dashboards
  frontend/packages/ceph-storage-plugin/src/components/dashboards/ocs-system-dashboard.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/odf-system-dashboard.tsx
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-high

#10112 Bug 2002125: Network policy details page heading should be updated to Network Policy details
  frontend/public/components/network-policy.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low, kind/i18n

#10121 Bug 2007289: add test for vm console tab
  frontend/packages/kubevirt-plugin/integration-tests-cypress/fixtures/user-template.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/virtualization.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/console.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/dashboard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/details-scheduling.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/details.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/snapshot.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/template/customize-source.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/string.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/expect-login.sh
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/console.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector-tabs.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/tab.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/virtualization.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/vm.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#10147 Bug 2003178: Memoize knative filtered revisions for sidebar
  frontend/packages/knative-plugin/src/components/overview/RevisionsOverviewList.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/knative, bugzilla/severity-medium

#10080 CONSOLE-2972: Upgrade webpack 4.x dependencies
  frontend/package.json
  frontend/packages/integration-tests-cypress/tsconfig.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tsconfig.json
  frontend/webpack.config.ts
  frontend/yarn.lock
Labels: approved, lgtm, component/kubevirt, kind/dependency-change, docs-approved, qe-approved, px-approved, kind/cypress

#10030 Bug 2002559: User preference for topology list view does not follow when a new namespace is created
  frontend/packages/helm-plugin/src/utils/helm-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low, component/helm

#9628 Network policy forms: hide unavailable features for admin users
  frontend/packages/console-app/src/__tests__/network-policies/create-network-policy.spec.tsx
  frontend/packages/console-app/src/__tests__/network-policies/network-policy-form.spec.tsx
  frontend/packages/console-app/src/__tests__/network-policies/network-policy-peer-ipblock.spec.tsx
  frontend/packages/console-app/src/components/network-policies/create-network-policy.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-form.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-peer-ipblock.tsx
  frontend/public/locales/en/public.json
  frontend/public/models/index.ts
  frontend/public/module/k8s/network.ts
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n

#10150 Bug 2003845: change the Image Vulnerabilities tab to be project and not cluster scoped
  frontend/packages/container-security/console-extensions.json
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium

#9456 Add proxy endpoint for Prometheus targets
  pkg/server/server.go
Labels: approved, lgtm, component/backend, docs-approved, qe-approved, px-approved

#10142 Monitoring: CSS small cleanups
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved

#10055 convert topology SBR sidepanel to use dynamic extensions
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/src/actions/providers.ts
  frontend/packages/dev-console/src/components/topology/index.ts
  frontend/packages/dev-console/src/components/topology/sbr-sidebar/index.ts
  frontend/packages/dev-console/src/components/topology/sbr-sidebar/resource-link.tsx
  frontend/packages/dev-console/src/components/topology/sbr-sidebar/tab-section.tsx
  frontend/packages/topology/src/components/side-bar/getSelectedEntityDetails.tsx
  frontend/packages/topology/src/operators/TopologyServiceBindingRequestPanel.tsx
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, component/topology

#10035 use dynamic plugin for side panel and action provider for rhoas
  frontend/packages/rhoas-plugin/console-extensions.json
  frontend/packages/rhoas-plugin/locales/en/rhoas-plugin.json
  frontend/packages/rhoas-plugin/package.json
  frontend/packages/rhoas-plugin/src/actions/index.ts
  frontend/packages/rhoas-plugin/src/actions/provider.ts
  frontend/packages/rhoas-plugin/src/models/rhoas.ts
  frontend/packages/rhoas-plugin/src/topology/components/TopologyKafkaPanel.scss
  frontend/packages/rhoas-plugin/src/topology/components/TopologyKafkaPanel.tsx
  frontend/packages/rhoas-plugin/src/topology/sidebar/KafkaConnectionPanelResourceLink.tsx
  frontend/packages/rhoas-plugin/src/topology/sidebar/index.ts
  frontend/packages/rhoas-plugin/src/topology/sidebar/kafka-connection-tab-section.tsx
  frontend/packages/rhoas-plugin/src/topology/sidebar/useKafkaConnectionAlert.tsx
  frontend/packages/topology/src/components/side-bar/getSelectedEntityDetails.tsx
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, kind/i18n, component/topology

#10077 contribute actions , sidepanel for channel, subscription, broker and trigger
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/package.json
  frontend/packages/knative-plugin/src/actions/creators.ts
  frontend/packages/knative-plugin/src/actions/index.ts
  frontend/packages/knative-plugin/src/actions/providers.ts
  frontend/packages/knative-plugin/src/actions/sink-pubsub.ts
  frontend/packages/knative-plugin/src/components/eventing/subscription-list/SubscriptionRow.tsx
  frontend/packages/knative-plugin/src/components/eventing/triggers-list/TriggerRow.tsx
  frontend/packages/knative-plugin/src/components/overview/OverviewDetailsKnativeResourcesTab.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/OverviewDetailsKnativeResourcesTab.spec.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/details/SubscriptionDetailsPage.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/details/TriggerDetailsPage.tsx
  frontend/packages/knative-plugin/src/topology/sidebar/index.ts
  frontend/packages/knative-plugin/src/topology/sidebar/knative-tab-section.tsx
  frontend/packages/knative-plugin/src/utils/kebab-actions.ts
  frontend/packages/topology/src/components/side-bar/getSelectedEntityDetails.tsx
Labels: approved, lgtm, component/knative, docs-approved, qe-approved, px-approved, kind/i18n, component/topology

#10152 Bug 2008151: Bump @patternfly/react-core package to v4.157.8
  frontend/package.json
  frontend/yarn.lock
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium
