Repository openshift/console, pull requests merged in 2021-07, with the labels that each got.

#9356 Fix a11y warnings in External mode
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/external-mode/fileUpload.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/external-mode/install.tsx
Labels: approved, component/ceph, lgtm

#9373 updated regex for resource name validation and convert to kebabCase if name is not valid
  frontend/packages/dev-console/src/components/import/__tests__/import-validation-utils.spec.ts
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
  frontend/packages/dev-console/src/components/import/import-validation-utils.ts
Labels: approved, component/dev-console, component/shared, lgtm

#9360 Fix a11y issues and re-enable cypress ace checks again
  frontend/packages/console-shared/src/components/formik-fields/item-selector-field/ItemSelectorField.tsx
  frontend/packages/console-shared/src/components/formik-fields/item-selector-field/SelectorCard.tsx
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-page.ts
  frontend/packages/dev-console/src/components/import/jar/section/JarSection.tsx
Labels: approved, component/dev-console, component/shared, lgtm

#9393 Bug 1973333: Adjust PO generation script
  frontend/i18n-scripts/i18n-to-po.js
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, kind/i18n, lgtm

#9329 CONSOLE-2152: Improve upgrade messaging when ClusterVersion Upgradeab…
  frontend/__mocks__/clusterVersionMock.ts
  frontend/__tests__/components/cluster-settings.spec.tsx
  frontend/public/components/about-modal.tsx
  frontend/public/components/cluster-settings/_cluster-settings.scss
  frontend/public/components/cluster-settings/cluster-operator.tsx
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/modals/cluster-more-updates-modal.tsx
  frontend/public/components/modals/cluster-update-modal.tsx
  frontend/public/components/utils/index.tsx
  frontend/public/components/utils/release-notes-link.tsx
  frontend/public/locales/en/public.json
  frontend/public/module/k8s/cluster-operator.ts
  frontend/public/module/k8s/cluster-settings.ts
  frontend/public/module/k8s/types.ts
Labels: approved, component/core, docs-approved, kind/i18n, lgtm, px-approved, qe-approved

#9347 Automation: Filter quick starts catalog
  frontend/packages/console-app/src/components/quick-starts/QuickStartCatalogPage.tsx
  frontend/packages/console-app/src/components/quick-starts/QuickStartPanelContent.tsx
  frontend/packages/console-app/src/components/quick-starts/catalog/QuickStartCatalog.tsx
  frontend/packages/console-app/src/components/quick-starts/catalog/QuickStartTile.tsx
  frontend/packages/console-app/src/components/quick-starts/catalog/QuickStartTileHeader.tsx
  frontend/packages/console-app/src/components/quick-starts/controller/QuickStartFooter.tsx
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/filter-quick-starts-catalog.feature
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/index.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/quickStarts-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/index.ts
  frontend/packages/dev-console/integration-tests/support/pages/quickStartsPage.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/quck-starts/filter-quick-starts-catalog.ts
Labels: approved, component/core, component/dev-console, lgtm

#9365 Use action group extensions for group/submenus and create new action menu components using PF menu
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/actions/__tests__/menu-utils-test-data.ts
  frontend/packages/console-shared/src/components/actions/__tests__/menu-utils.spec.ts
  frontend/packages/console-shared/src/components/actions/index.ts
  frontend/packages/console-shared/src/components/actions/loader/ActionsHookResolver.tsx
  frontend/packages/console-shared/src/components/actions/loader/ActionsLoader.tsx
  frontend/packages/console-shared/src/components/actions/menu/ActionMenu.tsx
  frontend/packages/console-shared/src/components/actions/menu/ActionMenuContent.tsx
  frontend/packages/console-shared/src/components/actions/menu/ActionMenuItem.tsx
  frontend/packages/console-shared/src/components/actions/menu/menu-types.ts
  frontend/packages/console-shared/src/components/actions/menu/menu-utils.ts
  frontend/packages/console-shared/src/components/kebab/KebabItem.tsx
  frontend/packages/console-shared/src/components/kebab/KebabMenu.tsx
  frontend/packages/console-shared/src/components/kebab/KebabMenuItems.tsx
  frontend/packages/console-shared/src/components/kebab/kebab-types.ts
  frontend/packages/console-shared/src/components/kebab/kebab-utils.ts
  frontend/packages/helm-plugin/src/components/details-page/HelmReleaseDetails.tsx
  frontend/packages/helm-plugin/src/components/details-page/history/HelmReleaseHistoryRow.tsx
  frontend/packages/helm-plugin/src/components/list-page/HelmReleaseListRow.tsx
  frontend/public/components/factory/details.tsx
  frontend/public/components/utils/headings.tsx
Labels: approved, component/core, component/helm, component/shared, kind/i18n, lgtm

#9364 remove usage of digest from helm catalog item uid
  frontend/packages/helm-plugin/src/catalog/utils/catalog-utils.tsx
Labels: approved, component/helm, kind/bug, lgtm

#9309 PF update packages to 2021.8
  frontend/package.json
  frontend/yarn.lock
Labels: approved, lgtm

#9382 Add optional checks in health checks probes
  frontend/packages/dev-console/src/components/health-checks/__tests__/create-health-check-probe-utils.spec.ts
  frontend/packages/dev-console/src/components/health-checks/create-health-checks-probe-utils.ts
Labels: approved, component/dev-console, lgtm

#8792 CONSOLE-2829: Convert list page to ts
  frontend/__tests__/components/factory/list-page.spec.tsx
  frontend/packages/container-security/src/components/ImageVulnerabilitiesList.tsx
  frontend/packages/helm-plugin/src/components/__tests__/helm-release-mock-data.ts
  frontend/packages/helm-plugin/src/utils/helm-utils.ts
  frontend/packages/kubevirt-plugin/src/components/vm-disks/vm-disks.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
  frontend/packages/local-storage-operator-plugin/src/components/disks-list/disks-list-page.tsx
  frontend/packages/operator-lifecycle-manager/src/components/catalog-source.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/k8s-resource.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/package-manifest.tsx
  frontend/packages/operator-lifecycle-manager/src/types.ts
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/TaskRuns.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelinesResourceList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineRuns.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/list-page/PipelineAugmentRunsWrapper.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/list-page/__tests__/PipelineAugmentRunsWrapper.spec.tsx
  frontend/public/components/chargeback.tsx
  frontend/public/components/cron-job.tsx
  frontend/public/components/factory/list-page.tsx
  frontend/public/components/utils/types.ts
  frontend/public/locales/en/public.json
Labels: approved, component/ceph, component/core, component/dev-console, component/helm, component/kubevirt, component/lso, component/olm, component/pipelines, docs-approved, kind/i18n, lgtm, px-approved, qe-approved

#9384 Bug 1978403: chore(i18n): update translations
  frontend/packages/ceph-storage-plugin/locales/ja/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/ko/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/zh/ceph-storage-plugin.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-app/locales/zh/nodes.json
  frontend/packages/console-shared/locales/ko/console-shared.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/helm-plugin/locales/ko/helm-plugin.json
  frontend/packages/helm-plugin/locales/zh/helm-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/metal3-plugin/locales/ja/metal3-plugin.json
  frontend/packages/metal3-plugin/locales/ko/metal3-plugin.json
  frontend/packages/metal3-plugin/locales/zh/metal3-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/operator-lifecycle-manager/locales/ko/olm.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ko/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/packages/rhoas-plugin/locales/ja/rhoas-plugin.json
  frontend/packages/rhoas-plugin/locales/ko/rhoas-plugin.json
  frontend/packages/rhoas-plugin/locales/zh/rhoas-plugin.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/ceph, component/core, component/dev-console, component/gitops, component/helm, component/insights, component/knative, component/kubevirt, component/lso, component/metal3, component/olm, component/pipelines, component/shared, component/topology, kind/i18n, lgtm

#9375 update the text for Knative Service to Serverless Deployment
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/import/section/ResourceSection.tsx
  frontend/packages/pipelines-plugin/src/components/import/pipeline/PipelineTemplate.tsx
Labels: approved, component/dev-console, component/pipelines, kind/i18n, lgtm

#9414 Cypress: disable OLM single install (couchbase operator) test
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-single-namespace.spec.ts
Labels: approved, component/olm, lgtm

#9407 Fix i18n issue on edit health checks page
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/health-checks/AddHealthChecks.tsx
Labels: approved, component/dev-console, kind/i18n, lgtm

#9405 Show N/A when catalog side panel property detail is not available
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/catalog/details/CatalogDetailsPanel.tsx
Labels: approved, component/dev-console, kind/i18n, lgtm

#9406 Fix i18n issue for submit label in delete resource modal
  frontend/packages/console-shared/src/components/modals/DeleteResourceModal.tsx
  frontend/packages/helm-plugin/src/actions/creators.ts
Labels: approved, component/helm, component/shared, lgtm

#9331 Bug 1970011: Fix edge case for "managed by" links
  frontend/public/components/utils/managed-by.tsx
  frontend/public/module/k8s/managed-by.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#9417 Bug 1979620: Parent descriptors don't overwrite children
  frontend/packages/operator-lifecycle-manager/src/components/operand/utils.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/olm, lgtm

#9422 Bug 1978403: Fix bracket regression
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/i18n, lgtm

#9416 Don't show error message when all add actions are disabled
  frontend/packages/dev-console/src/components/add/AddPageLayout.tsx
  frontend/packages/dev-console/src/utils/useAddActionExtensions.ts
Labels: approved, component/dev-console, lgtm

#9391 adds support for domainMappings to serverless deployment
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-utils.spec.ts
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/dev-console/src/components/import/DeployImage.tsx
  frontend/packages/dev-console/src/components/import/__mocks__/serverless-mock.ts
  frontend/packages/dev-console/src/components/import/__tests__/upload-jar-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/import/deployImage-submit-utils.ts
  frontend/packages/dev-console/src/components/import/form-initial-values.ts
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/import/serverless/ServerlessRouteSection.tsx
  frontend/packages/dev-console/src/components/import/serverless/__tests__/ServerlessRouteSection.spec.tsx
  frontend/packages/dev-console/src/components/import/upload-jar-submit-utils.ts
  frontend/packages/dev-console/src/components/import/validation-schema.ts
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/components/knatify/CreateKnatifyPage.tsx
  frontend/packages/knative-plugin/src/components/overview/KnativeServiceResources.tsx
  frontend/packages/knative-plugin/src/components/overview/domain-mapping/DomainMappingOverviewList.tsx
  frontend/packages/knative-plugin/src/models.ts
  frontend/packages/knative-plugin/src/topology/__tests__/topology-knative-test-data.ts
  frontend/packages/knative-plugin/src/topology/data-transformer.ts
  frontend/packages/knative-plugin/src/types.ts
  frontend/packages/knative-plugin/src/utils/__mocks__/knatify-mock.ts
  frontend/packages/knative-plugin/src/utils/__tests__/get-knative-resources.spec.ts
  frontend/packages/knative-plugin/src/utils/create-knative-utils.ts
  frontend/packages/knative-plugin/src/utils/get-knative-resources.ts
  frontend/packages/knative-plugin/src/utils/knatify-utils.ts
Labels: approved, component/dev-console, component/knative, docs-approved, kind/i18n, lgtm, px-approved, qe-approved

#9404 fixes i18n miss in pubsub modal
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/components/sink-pubsub/SinkPubsubModal.tsx
Labels: approved, component/knative, kind/i18n, lgtm

#9306 create topology side panel using dynamic plugin extensions
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/topology-details.ts
  frontend/packages/helm-plugin/console-extensions.json
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/package.json
  frontend/packages/helm-plugin/src/actions/providers.ts
  frontend/packages/helm-plugin/src/components/details-page/overview/HelmReleaseOverview.tsx
  frontend/packages/helm-plugin/src/topology/sidebar/index.ts
  frontend/packages/helm-plugin/src/topology/sidebar/release-panel/index.ts
  frontend/packages/helm-plugin/src/topology/sidebar/release-panel/resource-link.tsx
  frontend/packages/helm-plugin/src/topology/sidebar/release-panel/tab-sections.tsx
  frontend/packages/topology/src/actions/TopologyActions.tsx
  frontend/packages/topology/src/actions/index.ts
  frontend/packages/topology/src/components/side-bar/TopologySideBarContent.tsx
  frontend/packages/topology/src/components/side-bar/components/SideBarAlerts.tsx
  frontend/packages/topology/src/components/side-bar/components/SideBarBody.tsx
  frontend/packages/topology/src/components/side-bar/components/SideBarHeading.scss
  frontend/packages/topology/src/components/side-bar/components/SideBarHeading.tsx
  frontend/packages/topology/src/components/side-bar/getSelectedEntityDetails.tsx
  frontend/packages/topology/src/components/side-bar/providers/SideBarTabLoader.tsx
  frontend/packages/topology/src/components/side-bar/providers/useDetailsResourceLink.tsx
Labels: approved, component/dev-console, component/helm, component/sdk, component/shared, component/topology, kind/i18n, lgtm

#9408 adds access-review on upload jar extension
  frontend/packages/dev-console/console-extensions.json
Labels: approved, component/dev-console, kind/bug, lgtm

#9231 Bug 1970332: Fix page disappearing issue while creating sc for rbd provisioner
  frontend/packages/ceph-storage-plugin/src/components/kms-config/kms-config.tsx
  frontend/public/components/storage-class-form.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/ceph, component/core, lgtm

#9387 Bug 1978724: Add cypress tests for key/value secrets with binary, ascii, and unicode values.
  frontend/package.json
  frontend/packages/integration-tests-cypress/fixtures/asciisecret.txt
  frontend/packages/integration-tests-cypress/fixtures/binarysecret.bin
  frontend/packages/integration-tests-cypress/fixtures/unicodesecret.utf8
  frontend/packages/integration-tests-cypress/tests/crud/secrets.spec.ts
  frontend/packages/integration-tests-cypress/views/form.ts
  frontend/packages/integration-tests-cypress/views/secret.ts
  frontend/public/components/secrets/create-secret.tsx
  frontend/public/components/utils/file-input.tsx
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, kind/cypress, lgtm

#9415 Fix NaN warning issue in request input size component
  frontend/public/components/utils/request-size-input.tsx
Labels: approved, component/core, lgtm

#9436 Bug 1978416: convert tfunction to Trans function
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/olm, kind/i18n, lgtm

#9368 Add Monitoring i18n tests
  frontend/packages/integration-tests-cypress/tests/i18n/pseudolocalization.spec.ts
  frontend/packages/integration-tests-cypress/views/list-page.ts
  frontend/public/components/monitoring/alerting.tsx
Labels: approved, component/core, component/monitoring, kind/cypress, lgtm

#9430 Deploy versioned HCO for prow
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/custom-template-support.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests/deploy-kubevirt-gating.sh
  frontend/packages/kubevirt-plugin/package.json
Labels: approved, component/kubevirt, lgtm

#9400 Bug 1977037: VNC console stays in Connecting state
  frontend/packages/kubevirt-plugin/src/models/kubevirtReferenceForModel.ts
  frontend/packages/kubevirt-plugin/src/selectors/vmi/selectors.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#9427 Gherkin: unique url quick starts
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/quick-start-devperspective.feature
Labels: approved, component/dev-console, lgtm

#9441 Add an option to choose to use template size pvc or not
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
Labels: approved, component/kubevirt, kind/i18n, lgtm

#9445 Small changes and fixes for the advanced tab
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/AdvancedTab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/Cloudinit.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/CloudinitForm.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/CloudinitFormOrYamlSelector.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/CloudinitInfoHelper.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/cloud-init.scss
  frontend/packages/kubevirt-plugin/src/utils/validations/cloudint-utils.ts
Labels: approved, component/kubevirt, kind/i18n, lgtm

#8756 CONSOLE-2828: Convert Table to React.FC
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/backingstore-table.tsx
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/namespace-store-table.tsx
  frontend/packages/container-security/src/components/__tests__/ImageVulnerabilitiesTable.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlerts.tsx
  frontend/packages/helm-plugin/src/components/details-page/resources/__tests__/HelmResourcesList.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/install-plan.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/package-manifest.tsx
  frontend/public/components/default-resource.tsx
  frontend/public/components/factory/table-data-hook.ts
  frontend/public/components/factory/table.tsx
Labels: approved, component/ceph, component/core, component/dev-console, component/helm, component/olm, docs-approved, lgtm, px-approved, qe-approved

#9443 Bug 1979571: end shell process when exiting the terminal
  frontend/public/components/pod-exec.jsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#9096 Bug 1904155: Make utilization chart domain match duration
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-external/utilization-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/utilization-card/utilization-card.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/UtilizationCard.tsx
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/dashboard/duration-hook.ts
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationBody.tsx
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationDurationDropdown.tsx
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationItem.tsx
  frontend/packages/console-shared/src/constants/duration.ts
  frontend/packages/console-shared/src/constants/index.ts
  frontend/packages/console-shared/src/hooks/index.ts
  frontend/packages/console-shared/src/hooks/useUtilizationDuration.ts
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-utilization.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/UtilizationCard.tsx
  frontend/public/actions/ui.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/utilization-card.tsx
  frontend/public/components/dashboard/project-dashboard/utilization-card.tsx
  frontend/public/reducers/ui.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/ceph, component/core, component/dashboard, component/kubevirt, component/metal3, component/shared, kind/i18n, lgtm

#9385 Cypress: Updated isPseudoLocalized() to correctly process multiple elements
  frontend/packages/console-shared/src/components/dashboard/dashboard-card/DashboardCardTitle.tsx
  frontend/packages/integration-tests-cypress/support/i18n.ts
  frontend/packages/integration-tests-cypress/tests/i18n/pseudolocalization.spec.ts
  frontend/packages/integration-tests-cypress/views/list-page.ts
  frontend/public/components/filter-toolbar.tsx
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/locales/en/public.json
  frontend/public/module/k8s/cluster-settings.ts
Labels: approved, component/core, component/dashboard, component/shared, kind/cypress, kind/i18n, lgtm

#9437 Bug 1978222: make Users list empty state message more clear
  frontend/packages/console-shared/src/hooks/oauth.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/cluster-setup-identity-provider-link.ts
  frontend/public/components/user.tsx
  frontend/public/locales/en/public.json
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/dashboard, component/shared, kind/i18n, lgtm

#9418 Rename monitoring tab to Observe
  frontend/packages/console-app/src/components/quick-starts/data/mocks/json/monitor-sampleapp-quickstart.ts
  frontend/packages/console-app/src/components/quick-starts/data/mocks/yamls/monitor-sampleapp-quickstart.yaml
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/integration-tests/support/constants/global.ts
  frontend/packages/dev-console/integration-tests/support/constants/pageTitle.ts
  frontend/packages/dev-console/integration-tests/support/constants/staticText/topology-text.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/monitoring.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/monitoring/dashboard-display.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/monitoring/topology-sidebar-actions.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/guided-tour/index.ts
  frontend/packages/dev-console/src/components/monitoring/MonitoringPage.tsx
  frontend/packages/dev-console/src/components/monitoring/__tests__/MonitoringPage.spec.tsx
  frontend/packages/dev-console/src/plugin.tsx
  frontend/packages/integration-tests-cypress/tests/monitoring/monitoring.spec.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/MonitoringAlertsDecorator.tsx
  frontend/packages/topology/src/components/list-view/TopologyListViewNode.tsx
  frontend/public/components/nav/admin-nav.tsx
  frontend/public/components/nav/section.tsx
  frontend/public/locales/en/public.json
Labels: approved, component/core, component/dashboard, component/dev-console, component/knative, component/monitoring, component/shared, component/topology, kind/cypress, kind/i18n, lgtm

#9412 Bug 1979114: Don't override template api in cusomtization wizard and demo yaml
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/vm-template-wrapper.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#9446 Bug 1978225: add alert when new IDP is added
  frontend/public/components/cluster-settings/index.ts
  frontend/public/components/cluster-settings/oauth.tsx
  frontend/public/locales/en/public.json
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, kind/i18n, lgtm

#9448 Bug ODC-6126- login function fix
  frontend/packages/integration-tests-cypress/support/login.ts
Labels: approved, kind/cypress, lgtm

#9313 Migrate Helm actions on topology to use the new extensions
  frontend/packages/helm-plugin/src/topology/components/helmComponentFactory.ts
  frontend/packages/topology/src/actions/contextMenuActions.tsx
  frontend/packages/topology/src/components/graph-view/components/nodeContextMenu.tsx
Labels: approved, component/core, component/helm, component/sdk, component/shared, component/topology, lgtm

#9450 Bug 1977595: pseudo translation missing on OperatorHub page
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
  frontend/public/components/utils/tile-view-page.jsx
  frontend/public/locales/en/public.json
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/olm, kind/i18n, lgtm

#9397 Bug 1967979: Masthead Dropdowns options are not accessible via the keyboard
  frontend/packages/console-app/src/components/tour/GuidedTourMastheadTrigger.tsx
  frontend/public/components/masthead-toolbar.jsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#9296 add vm clone and migration tests
  frontend/packages/kubevirt-plugin/integration-tests-cypress/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/cypress.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/fixtures/cdi-cloner.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/fixtures/nad.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/clone.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/migration.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/devconsole/devconsole.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/customize-source.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/types/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/actions.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/clone.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/dialog.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/selector.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/tab.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/vm.ts
Labels: approved, component/kubevirt, lgtm

#9340 Feature flag MultiClusterHub and disable Web Terminal
  frontend/@types/console/index.d.ts
  frontend/packages/console-app/src/components/cloud-shell/CloudShellMastheadButton.tsx
  frontend/packages/console-app/src/components/cloud-shell/CloudShellTab.tsx
  frontend/packages/console-app/src/components/cloud-shell/__tests__/CloudShellTab.spec.tsx
  frontend/packages/console-app/src/utils/__tests__/isMultiClusterEnabled.spec.ts
  frontend/packages/console-app/src/utils/isMultiClusterEnabled.ts
Labels: approved, component/core, lgtm

#9362 Update devconsole empty state pages
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/ProjectSelectPage.tsx
  frontend/packages/dev-console/src/components/ProjectsExistWrapper.tsx
  frontend/packages/dev-console/src/components/SearchPage.tsx
  frontend/packages/dev-console/src/components/__tests__/ProjectsExistWrapper.spec.tsx
  frontend/packages/dev-console/src/components/add/AddPage.tsx
  frontend/packages/dev-console/src/components/add/__tests__/AddPage.spec.tsx
  frontend/packages/dev-console/src/plugin.tsx
  frontend/packages/topology/src/__tests__/TopologyPage.spec.tsx
  frontend/packages/topology/src/components/page/TopologyPage.tsx
  frontend/public/components/search.tsx
  frontend/public/components/start-guide.tsx
Labels: approved, component/core, component/dev-console, component/topology, kind/bug, kind/i18n, lgtm

#9451 Bug 1980548: Add missing plugin locales folders to webpack config
  frontend/public/i18n.js
  frontend/webpack.config.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#9455 Bug 1979996: Monitoring dashboards: Support units for graph Y-axes
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/dashboards/graph.tsx
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/dashboards/single-stat.tsx
  frontend/public/components/monitoring/dashboards/table.tsx
  frontend/public/components/monitoring/dashboards/types.ts
  frontend/public/components/monitoring/format.tsx
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/monitoring, lgtm

#9444 move ObjectEnum from console-shared to kubevirt
  frontend/packages/kubevirt-plugin/integration-tests-cypress/enums/provisionSource.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/baseVMBuilder.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachine.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachineTemplate.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/enums/provisionSource.ts
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/storage-ui-source.ts
  frontend/packages/kubevirt-plugin/src/constants/index.ts
  frontend/packages/kubevirt-plugin/src/constants/object-enum.ts
  frontend/packages/kubevirt-plugin/src/constants/select-dropdown-object-enum.ts
  frontend/packages/kubevirt-plugin/src/constants/status-enum.ts
  frontend/packages/kubevirt-plugin/src/constants/status-group.ts
  frontend/packages/kubevirt-plugin/src/constants/v2v-import/ovirt/ovirt-disk-bus.ts
  frontend/packages/kubevirt-plugin/src/constants/v2v-import/ovirt/ovirt-network-interface-model.ts
  frontend/packages/kubevirt-plugin/src/constants/v2v-import/ovirt/v2v-vm-import-status.ts
  frontend/packages/kubevirt-plugin/src/constants/v2v-import/ovirt/vm-import-type.ts
  frontend/packages/kubevirt-plugin/src/constants/v2v-import/vmware/vmware-firmware.ts
  frontend/packages/kubevirt-plugin/src/constants/vm-templates/support.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/console-type.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/default-os-selection.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/flavor.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/network/network-interface-model.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/network/network-interface-type.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/network/network-type.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/provision-source.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/storage/access-mode.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/storage/data-volume-source-type.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/storage/disk-bus.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/storage/disk-type.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/storage/volume-mode.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/storage/volume-type.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/vm-status.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/workload-profile.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/common/__tests__/mocks/smoothie-wrapper.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/common/k8s-resource-object-with-type-property-wrapper.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/common/object-with-type-property-wrapper.ts
  frontend/packages/kubevirt-plugin/src/statuses/pod-deployment/constants.ts
  frontend/packages/kubevirt-plugin/src/statuses/v2v/constants.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/template/template-validations.ts
Labels: approved, component/kubevirt, component/sdk, lgtm

#9424 Bug 1978429: Swapped coma for semi-colon in error strings
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/__tests__/validation-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/validation-utils.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/pipelines, kind/i18n, lgtm

#9425 Removes Pipeline Graph alignment setting
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/const.ts
Labels: approved, component/pipelines, lgtm

#9466 import remaining kubevirt selectors
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/error-components/utils.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/vm-settings-tab-validation.ts
  frontend/packages/kubevirt-plugin/src/components/form/size-unit-utils.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/cd-row.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/vm-cds.tsx
  frontend/packages/kubevirt-plugin/src/hooks/storage-class-config-map.ts
  frontend/packages/kubevirt-plugin/src/utils/index.ts
Labels: approved, component/kubevirt, lgtm

#9411 change placeholder text for external registry input field in container image form
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/image-search/ImageSearch.tsx
Labels: approved, component/dev-console, kind/i18n, lgtm

#8655 NETOBSERV-4 Create NetworkPolicy dialog
  frontend/packages/console-app/src/__tests__/network-policies/create-network-policy.spec.tsx
  frontend/packages/console-app/src/__tests__/network-policies/network-policy-model.spec.ts
  frontend/packages/console-app/src/components/network-policies/_create-network-policy.scss
  frontend/packages/console-app/src/components/network-policies/create-network-policy.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-add-peer-dropdown.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-conditional-selector.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-form.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-model.ts
  frontend/packages/console-app/src/components/network-policies/network-policy-peer-ipblock.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-peer-selectors.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-ports.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-rule-config.tsx
  frontend/packages/integration-tests-cypress/tests/crud/resource-crud.spec.ts
  frontend/public/components/app-contents.tsx
  frontend/public/components/network-policy.tsx
  frontend/public/components/utils/name-value-editor.jsx
  frontend/public/locales/en/public.json
  frontend/public/module/k8s/types.ts
Labels: approved, component/core, component/shared, kind/cypress, kind/i18n, lgtm, ok-to-test, qe-approved

#9473 CNV-6393: [dev] add the status icon next to the VM name to the VM details page
  frontend/packages/kubevirt-plugin/src/components/vms/vm-details-page.tsx
  frontend/packages/kubevirt-plugin/src/hooks/use-vm-status.ts
Labels: approved, component/kubevirt, lgtm

#9479 Skip empty categories (id and label) in OperatorHub tab view
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
Labels: approved, component/olm, lgtm

#9475 Bug 1967047: Add new HealthState to signify an operator is upgradable in the cluster dashboard
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/dashboard/status-card/states.tsx
  frontend/packages/operator-lifecycle-manager/src/components/dashboard/utils.ts
  frontend/packages/operator-lifecycle-manager/src/status/csv-status.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dashboard, component/olm, component/shared, kind/i18n, lgtm

#9491 Bug 1981882: Update CatalogSource not found message
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/subscription.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/olm, kind/i18n, lgtm

#9483 move connectToFlags to avoid circular dependency
  frontend/__tests__/reducers/features.spec.tsx
  frontend/packages/console-app/src/components/cloud-shell/CloudShell.tsx
  frontend/packages/console-app/src/components/cloud-shell/CloudShellExec.tsx
  frontend/packages/console-app/src/components/cloud-shell/setup/NamespaceSection.tsx
  frontend/packages/dev-console/src/components/import/section/ResourceSection.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard.tsx
  frontend/packages/pipelines-plugin/src/components/import/pipeline/PipelineSection.tsx
  frontend/public/components/RBAC/bindings.jsx
  frontend/public/components/api-explorer.tsx
  frontend/public/components/app-contents.tsx
  frontend/public/components/chargeback.tsx
  frontend/public/components/command-line-tools.tsx
  frontend/public/components/console-notifier.tsx
  frontend/public/components/edit-yaml.jsx
  frontend/public/components/events.jsx
  frontend/public/components/graphs/require-prometheus.tsx
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/components/namespace.jsx
  frontend/public/components/network-policy.tsx
  frontend/public/components/persistent-volume-claim.jsx
  frontend/public/components/pod-exec.jsx
  frontend/public/components/resource-quota.jsx
  frontend/public/components/routes/route-metrics.tsx
  frontend/public/components/start-guide.tsx
  frontend/public/components/utils/resource-link.tsx
  frontend/public/reducers/connectToFlags.ts
  frontend/public/reducers/features.ts
Labels: approved, component/core, component/dev-console, component/kubevirt, component/pipelines, lgtm

#9349 remove hard coded model versions from kubevirt
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/vm-snapshot-details.tsx
  frontend/packages/kubevirt-plugin/src/models/kubevirtReferenceForModel.ts
Labels: approved, component/core, component/kubevirt, component/sdk, lgtm

#9486 Bug 1964941: Increase HTTP plugin proxy request timeout
  pkg/server/server.go
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/backend, lgtm

#9494 Remove NotStartedIcon as it is available in PatternFly
  frontend/packages/console-shared/src/components/status/NotStartedIcon.tsx
  frontend/packages/console-shared/src/components/status/Status.tsx
Labels: approved, component/shared, lgtm

#9438 (feat): Setup create storage system wizard
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/package.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-steps.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/index.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/error-handler.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/header.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/payloads.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/reducer.ts
  frontend/packages/ceph-storage-plugin/src/constants/create-storage-system.ts
  frontend/packages/ceph-storage-plugin/src/models.ts
  frontend/packages/ceph-storage-plugin/src/odf-external-providers/external-providers.ts
  frontend/packages/ceph-storage-plugin/src/odf-external-providers/types.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
  frontend/packages/ceph-storage-plugin/src/types.ts
Labels: approved, component/ceph, kind/i18n, lgtm

#9468 Set add page background based on active namespace
  frontend/packages/dev-console/src/components/add/AddPage.tsx
Labels: approved, component/dev-console, kind/bug, lgtm

#9493 ODC-6140-Removed dotnet related gherkin script from this pipelines plugin folder
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-git.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-add-options.feature
Labels: approved, component/dev-console, component/pipelines, lgtm

#9314 Bug 1972011: Fix time range for drag & drop in devconsole monitoring
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringDashboardGraph.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/__tests__/MonitoringDashboardGraph.spec.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#9440 CONSOLE-2361: Conversion of bootstrap table column and visibility classes to similar PF4 classes
  frontend/public/components/RBAC/role.jsx
  frontend/public/components/api-explorer.tsx
  frontend/public/components/chargeback.tsx
  frontend/public/components/cluster-settings/cluster-operator.tsx
  frontend/public/components/job.tsx
  frontend/public/components/machine-autoscaler.tsx
  frontend/public/components/machine-config-pool.tsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/volumes-table.tsx
  frontend/public/style/_overrides.scss
Labels: approved, component/core, component/monitoring, docs-approved, lgtm, px-approved, qe-approved

#9452 CONSOLE-2361: Remove orphaned patternfly-react 3 styles and patternfly-react 3 depe…
  frontend/package.json
  frontend/packages/kubevirt-plugin/src/style.scss
  frontend/packages/operator-lifecycle-manager/src/style.scss
  frontend/public/style/_overrides.scss
  frontend/yarn.lock
Labels: approved, component/core, component/kubevirt, component/olm, docs-approved, kind/cleanup, kind/dependency-change, lgtm, px-approved, qe-approved

#9481 Making sure ISO flow is now working, both upload and import
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/vm-settings-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/types.ts
Labels: approved, component/kubevirt, kind/i18n, lgtm

#9496 consolidate kubevirt cypress tests for d/s
  frontend/packages/kubevirt-plugin/integration-tests-cypress/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh-advanced-wizard-testing.includes.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh-simple-wizard-test.includes.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh-vm-details-page-testing.includes.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/source-image.spec.ts
Labels: approved, component/kubevirt, lgtm

#9504 copy shared annotations and namespace key to kubevirt
  frontend/packages/kubevirt-plugin/src/components/create-vm/dev-console/dev-console-create-vm-form.tsx
  frontend/packages/kubevirt-plugin/src/constants/namespace.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-namespace.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vmtemplate/customize.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm-template/basic.ts
Labels: approved, component/kubevirt, lgtm

#9510 Bug 1982090: Translate resource names in top consumers dropdown
  frontend/packages/console-shared/src/components/dashboard/utilization-card/TopConsumerPopover.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dashboard, component/shared, lgtm

#9428 Bug 1980257: Remove kube admin notifier for kubeadmin crc user
  frontend/packages/console-shared/src/constants/common.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/shared, lgtm

#9419 CONSOLE-2361: Update react-catalog-view-extension to version that does not require PatternFly 3
  analyze.sh
  frontend/package.json
  frontend/public/components/nav/_nav-header.scss
  frontend/public/style.scss
  frontend/public/style/_overrides.scss
  frontend/public/vendor.scss
  frontend/yarn.lock
Labels: approved, component/core, kind/cleanup, kind/dependency-change, lgtm, qe-approved

#9462 CONSOLE-2361: Remove orphaned Bootstrap 3 input-group styles
  frontend/public/components/modals/_modals.scss
  frontend/public/vendor.scss
Labels: approved, component/core, docs-approved, kind/cleanup, lgtm, px-approved, qe-approved

#9484 Bug 1982376: Remove update overrides now that upstream issues have been fixed
  frontend/packages/patternfly/src/components/notification-drawer/notification-entry.tsx
  frontend/public/components/_about-modal.scss
  frontend/public/components/_notification-drawer.scss
  frontend/public/components/about-modal.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/cleanup, lgtm

#9485 Bug 1982376: Remove app-launcher alignment fix now that upstream supports position…
  frontend/public/components/_masthead.scss
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/cleanup, lgtm

#9487 Bug 1982376: Remove button overrides now that upstream issue has been fixed
  frontend/public/style/_overrides.scss
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/cleanup, lgtm

#9488 Bug 1982376: Remove modal box header override now that upstream issue has been fixed
  frontend/public/style/_overrides.scss
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/cleanup, lgtm

#9490 ODC-6147-updating cypress.sh and frontend/package.json files
  frontend/package.json
  test-cypress.sh
Labels: approved, lgtm

#9513 Bug 1982079: Translate utilization card tooltip
  frontend/public/components/graphs/area.tsx
  frontend/public/components/graphs/utils.ts
  frontend/public/locales/en/public.json
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/i18n, lgtm

#9499 Fix a11y form errors when import a container image
  frontend/packages/console-shared/src/components/formik-fields/ToggleableFieldBase.tsx
  frontend/packages/dev-console/integration-tests/package.json
  frontend/packages/dev-console/src/components/import/icon/IconDropdown.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageSearch.tsx
Labels: approved, component/dev-console, component/shared, lgtm

#9500 Fix a11y file input form issue, for example when creating a Secret
  frontend/public/components/utils/file-input.tsx
  frontend/public/locales/en/public.json
Labels: approved, component/core, kind/i18n, lgtm

#9489 fix resource limit form validation
  frontend/packages/console-shared/src/components/formik-fields/ResourceLimitField.tsx
  frontend/packages/console-shared/src/components/formik-fields/field-types.ts
  frontend/packages/dev-console/src/components/import/advanced/ResourceLimitSection.tsx
  frontend/packages/dev-console/src/components/import/advanced/ServerlessScalingSection.tsx
Labels: approved, component/dev-console, component/shared, kind/bug, lgtm

#9383 Show evicted pods last in resources tab for topology side panel
  frontend/public/components/overview/__tests__/pods-overview.spec.ts
  frontend/public/components/overview/pods-overview.tsx
Labels: approved, component/core, kind/bug, lgtm

#9520 Fix fuzzy text (pending task name) in pipeline run visualization
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationTask.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationTask.tsx
Labels: approved, component/pipelines, kind/bug, lgtm

#9361 ODC-6023-update devconsole-ci-tests
  frontend/packages/dev-console/integration-tests/support/constants/global.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/operators-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/catalog-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/developer-catalog-details.ts
  frontend/packages/dev-console/src/components/catalog/catalog-view/CatalogCategories.tsx
  frontend/packages/dev-console/src/components/catalog/catalog-view/CatalogTypeSelector.tsx
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm.ts
Labels: approved, component/core, component/dev-console, component/helm, kind/i18n, lgtm

#9453 ODC-6064: Update PatternFly to fix unexpected spacing below topology toolbar
  frontend/package.json
  frontend/scripts/update-patternfly.sh
  frontend/yarn.lock
Labels: approved, component/core, kind/bug, lgtm

#9476 Move QuickSearch to Shared Package
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/index.ts
  frontend/packages/console-shared/src/components/quick-search/QuickSearchBar.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchBar.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchContent.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchContent.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchController.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchDetails.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchDetails.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchIcon.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchList.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchList.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModal.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModalBody.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModalBody.tsx
  frontend/packages/console-shared/src/components/quick-search/index.ts
  frontend/packages/console-shared/src/components/quick-search/utils/quick-search-types.ts
  frontend/packages/console-shared/src/components/quick-search/utils/quick-search-utils.tsx
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/page/TopologyView.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchButton.scss
  frontend/packages/topology/src/components/quick-search/TopologyQuickSearch.tsx
  frontend/packages/topology/src/components/quick-search/TopologyQuickSearchButton.scss
  frontend/packages/topology/src/components/quick-search/TopologyQuickSearchButton.tsx
  frontend/packages/topology/src/components/quick-search/topology-quick-search-utils.tsx
  frontend/packages/topology/src/filters/TopologyFilterBar.tsx
Labels: approved, component/shared, component/topology, docs-approved, kind/feature, kind/i18n, lgtm, px-approved, qe-approved

#9526 Bug 1982659: Workloads - Jobs 'Type' column's Value 'Non-parallel' is in English 
  frontend/public/locales/en/public.json
  frontend/public/module/k8s/job.js
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/i18n, lgtm

#9498 fix when expression tooltip for failed task
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationTask.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/WhenExpressionDecorator.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/__tests__/WhenExpressionDecorator.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/__tests__/utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/types.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/utils.ts
Labels: approved, component/pipelines, kind/bug, lgtm

#9472 Bug 1980704: Web console doesn't list all the registries credentials in a secret
  frontend/public/components/modals/configure-ns-pull-secret-modal.jsx
  frontend/public/components/namespace.jsx
  frontend/public/locales/en/public.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, kind/i18n, lgtm

#9282 fix crashing ui due invalid yaml structure for task workspaces
  frontend/packages/console-shared/src/components/formik-fields/SyncedEditorField.tsx
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/__tests__/form-switcher-validation.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/__tests__/switch-to-form-validation-utils-data.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/__tests__/switch-to-form-validation-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/form-switcher-validation.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/switch-to-form-validation-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/validation-utils.ts
Labels: approved, component/pipelines, component/shared, kind/bug, kind/i18n, lgtm

#9434 Add RBAC check on view shortcuts actions
  frontend/packages/topology/src/__tests__/TopologyShortcuts.spec.tsx
  frontend/packages/topology/src/components/graph-view/TopologyShortcuts.tsx
  frontend/packages/topology/src/components/page/TopologyPageToolbar.tsx
Labels: approved, component/topology, lgtm

#9511 Bug 1982150: Add a TechPreviewBadge for Multus
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/_configure.scss
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/configure.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/ceph, lgtm

#9523 Remove TechPreviewBadge from Arbiter feature
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/capacity-and-nodes.tsx
Labels: approved, component/ceph, lgtm

#9459 CONSOLE-2361: Remove Bootstrap 3/PatternFly 3 dropdown styles
  frontend/integration-tests/views/crud.view.ts
  frontend/packages/ceph-storage-plugin/src/components/block-pool/body.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-backingstore-page/backing-store-dropdown.tsx
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/namespace-store-dropdown.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/capacity-and-nodes.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
  frontend/public/components/_dropdown.scss
  frontend/public/components/utils/dropdown.jsx
  frontend/public/components/utils/kebab.tsx
  frontend/public/style/_common.scss
  frontend/public/vendor.scss
Labels: approved, component/ceph, component/core, docs-approved, kind/cleanup, lgtm, px-approved, qe-approved

#9469 Bug 1981417: Change OCM links from cloud. to console.redhat.com
  frontend/packages/insights-plugin/src/components/InsightsPopup/index.tsx
  frontend/packages/knative-plugin/src/utils/__tests__/knative-serving-data.ts
  frontend/packages/rhoas-plugin/locales/en/rhoas-plugin.json
  frontend/packages/rhoas-plugin/src/components/access-services/ServicesToken.tsx
  frontend/packages/rhoas-plugin/src/components/service-list/ServiceInstance.tsx
  frontend/public/module/k8s/cluster-settings.ts
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, component/core, component/insights, component/knative, kind/i18n, lgtm

#9531 CONSOLE-2361: remove and replace Bootstrap close styles and consolidate close button code
  frontend/packages/console-app/src/components/cloud-shell/CloudShellDrawer.tsx
  frontend/packages/console-app/src/components/cloud-shell/__tests__/CloudShellDrawer.spec.tsx
  frontend/packages/console-shared/src/components/close-button/CloseButton.scss
  frontend/packages/console-shared/src/components/close-button/CloseButton.tsx
  frontend/packages/console-shared/src/components/close-button/index.ts
  frontend/packages/console-shared/src/components/form-utils/ActionGroupWithIcons.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarHeader.tsx
  frontend/packages/topology/src/__tests__/TopologySideBar.spec.tsx
  frontend/packages/topology/src/components/side-bar/TopologySideBar.tsx
  frontend/public/components/_global-notification.scss
  frontend/public/components/events.jsx
  frontend/public/components/factory/modal.tsx
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/components/sidebars/resource-sidebar.tsx
  frontend/public/components/utils/close-button.jsx
  frontend/public/components/utils/index.tsx
  frontend/public/locales/en/public.json
  frontend/public/style/_common.scss
  frontend/public/style/_layout.scss
  frontend/public/style/_overrides.scss
  frontend/public/vendor.scss
Labels: approved, component/core, component/monitoring, component/pipelines, component/shared, component/topology, docs-approved, kind/i18n, lgtm, px-approved, qe-approved

#9517 CONSOLE-2361: Replace Bootstrap float utility class with PF equivalent
  frontend/public/components/sidebars/resource-sidebar-samples.tsx
Labels: approved, component/core, lgtm, qe-approved

#9534 Bug 1983220: Fix pod terminal second scrollbar when user reduce the window size
  frontend/public/components/terminal.jsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#9394 Add support for eventing broker creation
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/utils/add-resources-menu-utils.ts
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/actions/add-broker.tsx
  frontend/packages/knative-plugin/src/components/add/EventSource.tsx
  frontend/packages/knative-plugin/src/components/add/EventingBrokerPage.tsx
  frontend/packages/knative-plugin/src/components/add/brokers/AddBroker.tsx
  frontend/packages/knative-plugin/src/components/add/brokers/AddBrokerForm.tsx
  frontend/packages/knative-plugin/src/components/add/brokers/__tests__/add-broker-utils.spec.ts
  frontend/packages/knative-plugin/src/components/add/brokers/add-broker-utils.ts
  frontend/packages/knative-plugin/src/components/add/brokers/broker-validation-utils.ts
  frontend/packages/knative-plugin/src/components/add/const.ts
  frontend/packages/knative-plugin/src/components/add/import-types.ts
  frontend/packages/knative-plugin/src/components/eventing/EventingListPage.tsx
  frontend/packages/knative-plugin/src/plugin.tsx
  frontend/packages/knative-plugin/src/topology/create-connector-utils.ts
  frontend/packages/topology/src/actions/__tests__/graphActions.spec.tsx
  frontend/packages/topology/src/actions/__tests__/groupActions.spec.tsx
Labels: approved, component/dev-console, component/knative, component/topology, docs-approved, kind/i18n, lgtm, px-approved, qe-approved

#9502 (feat): Add an interface for external vendors to contribute the UI
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/connection-details.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-steps.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-storage-class-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/README.md
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/index.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/red-hat-ceph-storage/index.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/red-hat-ceph-storage/index.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/types.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/payloads.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/reducer.ts
  frontend/packages/ceph-storage-plugin/src/constants/create-storage-system.ts
  frontend/packages/ceph-storage-plugin/src/odf-external-providers/external-providers.ts
  frontend/packages/ceph-storage-plugin/src/odf-external-providers/types.ts
  frontend/packages/ceph-storage-plugin/src/utils/create-storage-system.ts
Labels: approved, component/ceph, kind/i18n, lgtm

#9546 Bug 1982776: Namespaces - RoleBindings - Edit ClusterRoleBinding subject : An incomprehensible Japanese translation
  frontend/public/components/RBAC/bindings.jsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#9547 Bug 1982997: Add translation a page title for import yaml
  frontend/public/components/import-yaml.tsx
  frontend/public/locales/en/public.json
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/i18n, lgtm

#9458 CONSOLE-2361: Remove Bootstrap 3/PatternFly 3 button, button-group styles
  frontend/integration-tests/views/catalog-page.view.ts
  frontend/packages/ceph-storage-plugin/src/utils/time-duration-dropdown.tsx
  frontend/packages/kubevirt-plugin/src/components/edit-button.tsx
  frontend/public/components/RBAC/role.jsx
  frontend/public/components/_dropdown.scss
  frontend/public/components/api-explorer.tsx
  frontend/public/components/events.jsx
  frontend/public/components/pod-exec.jsx
  frontend/public/components/utils/dropdown.jsx
  frontend/public/components/utils/request-size-input.tsx
  frontend/public/style/_common.scss
  frontend/public/style/_overrides.scss
  frontend/public/vendor.scss
Labels: approved, component/ceph, component/core, component/kubevirt, docs-approved, kind/cleanup, lgtm, px-approved, qe-approved

#9512 CONSOLE-2361: Conversion of Bootstrap text alignment class to PF utility classes
  frontend/integration-tests/views/crud.view.ts
  frontend/packages/ceph-storage-plugin/integration-tests/views/noobaa-sso.view.ts
  frontend/packages/dev-console/src/components/health-checks/AddHealthChecksForm.tsx
  frontend/packages/knative-plugin/src/components/overview/EventPubSubSubscribers.tsx
  frontend/packages/knative-plugin/src/components/overview/RevisionsOverviewListItem.tsx
  frontend/packages/knative-plugin/src/components/overview/RoutesOverviewListItem.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/RevisionsOverviewListItem.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/RoutesOverviewListItem.spec.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/modal-resource-launcher.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/guest-agent-file-systems.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-users.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-overview/PipelineRunItem.tsx
  frontend/public/components/build.tsx
  frontend/public/components/chargeback.tsx
  frontend/public/components/conditions.tsx
  frontend/public/components/error.tsx
  frontend/public/components/events.jsx
  frontend/public/components/import-yaml-results.tsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/overview/pods-overview.tsx
  frontend/public/components/routes.tsx
  frontend/public/components/utils/status-box.tsx
  frontend/public/vendor.scss
Labels: approved, component/ceph, component/core, component/dev-console, component/knative, component/kubevirt, component/monitoring, component/pipelines, docs-approved, lgtm, px-approved, qe-approved

#9529 CNV-11794: Switch UI internal implementation to use SC profile resources instead of SC config map
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/hooks/use-storage-profile-settings.ts
  frontend/packages/kubevirt-plugin/src/models/index.ts
  frontend/packages/kubevirt-plugin/src/types/vm/index.ts
Labels: approved, component/kubevirt, kind/i18n, lgtm

#9505 copy shared patch builder to kubevirt
  frontend/packages/kubevirt-plugin/src/components/modals/boot-order-modal/boot-order-modal.tsx
  frontend/packages/kubevirt-plugin/src/k8s/enhancedK8sMethods/__tests__/enhancedK8sMethods.spec.ts
  frontend/packages/kubevirt-plugin/src/k8s/helpers/patch.ts
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm/utils.ts
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm/vm-boot-patches.ts
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm/vm-cpu-patches.ts
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm/vm-disk-patches.ts
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm/vm-nic-patches.ts
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm/vm-patches.ts
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm/vm-scheduling-patches.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/free-owned-resources.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/correct-vm-import-provider-secret-labels.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/create-ovirt-provider-object.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/create-v2vvmware-object.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/import/import-ovirt.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/import/import-v2vvmware.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/request-ovirt-provider-vm-detail.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/request-v2vmware-vm-detail.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/start-v2vvmware-controller.ts
Labels: approved, component/kubevirt, lgtm

#9548 copy pod types and resource utils to kubevirt
  frontend/packages/kubevirt-plugin/src/types/pod.ts
  frontend/packages/kubevirt-plugin/src/utils/resource-utils.ts
  frontend/packages/kubevirt-plugin/src/utils/usePodsForVm.ts
Labels: approved, component/kubevirt, lgtm

#9420 Bug 1966499: Switch Cypress OLM tests to use supported Red Hat operators
  frontend/packages/integration-tests-cypress/views/list-page.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-global.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-single-namespace.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/views/operator.view.ts
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/olm, kind/cypress, lgtm

#9551 Bug 1984031: Monitoring: Fix Created by field when refreshing Create Silence form
  frontend/public/components/monitoring/silence-form.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/monitoring, lgtm

#9552 (doc): Fix urls in contribution guide
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/README.md
Labels: approved, component/ceph, lgtm

#9527 ODC-6128: Fix form footer shadow
  frontend/packages/console-shared/src/components/form-utils/FormFooter.scss
  frontend/packages/console-shared/src/components/form-utils/FormFooter.tsx
Labels: approved, component/shared, lgtm

#9410 CNV-6071: UI for VM disk hot-plug
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/clone.ts
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/VMLabel.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/delete-disk-modal/delete-disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/HotplugFieldLevelHelp.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal-enhanced.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/storage-ui-source.ts
  frontend/packages/kubevirt-plugin/src/components/modals/save-and-restart-modal/save-and-restart-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/RemovalDiskAlert.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/disk-row.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/vm-disks.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/vm-snapshot-row.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/ActionMessage.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/storage/disk-bus.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/actions.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vmi/actions.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/data-volume-wrapper.ts
  frontend/packages/kubevirt-plugin/src/selectors/disks/hotplug.ts
  frontend/packages/kubevirt-plugin/src/types/api/V1AddVolumeOptions.ts
  frontend/packages/kubevirt-plugin/src/types/api/V1HotplugVolumeSource.ts
  frontend/packages/kubevirt-plugin/src/types/api/V1HotplugVolumeStatus.ts
  frontend/packages/kubevirt-plugin/src/types/api/V1RemoveVolumeOptions.ts
  frontend/packages/kubevirt-plugin/src/types/api/V1VirtualMachineVolumeRequest.ts
  frontend/packages/kubevirt-plugin/src/types/api/V1VolumeStatus.ts
  frontend/packages/kubevirt-plugin/src/types/api/index.ts
  frontend/packages/kubevirt-plugin/src/types/vm/index.ts
  frontend/packages/kubevirt-plugin/src/utils/pending-changes.ts
Labels: approved, component/kubevirt, kind/i18n, lgtm

#9550 ODC-6159: Update quickstarts to fix missing shadow when user can scroll content
  frontend/package.json
  frontend/yarn.lock
Labels: approved, lgtm

#9480 Bug 1978421: String updates (typos, etc.)
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/block-pool/create-block-pool.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/create-storage-class/create-storage-class-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install.tsx
  frontend/packages/ceph-storage-plugin/src/components/storage-popover.tsx
  frontend/packages/ceph-storage-plugin/src/constants/bucket-class.ts
  frontend/packages/ceph-storage-plugin/src/utils/block-pool.tsx
  frontend/packages/ceph-storage-plugin/src/utils/common-ocs-install-el.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/ceph, kind/i18n, lgtm

#9558 Bug 1983707: filter null yaml objects before validating to prevent undefined exception
  frontend/public/components/edit-yaml.jsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#9541 Bug 1977936: OCS deployment using Multus: UI allows StorageCluster creation with empty public and cluster network in "Internal - Attached Devices"
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/ceph, lgtm

#9497 create vm by using customize wizard
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/regression/validate-nad-for-pxe.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/advanced-wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/types/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/selector-wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/selector.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/wizard.ts
Labels: approved, component/kubevirt, lgtm

#9413 remove color variation spotlight wrapper
  frontend/packages/console-shared/src/components/spotlight/spotlight.scss
Labels: approved, component/shared, kind/bug, lgtm

#9562 Bug 1984156: chore(i18n): update translations
  frontend/packages/ceph-storage-plugin/locales/ja/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/ko/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/zh/ceph-storage-plugin.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-shared/locales/ja/console-shared.json
  frontend/packages/console-shared/locales/ko/console-shared.json
  frontend/packages/console-shared/locales/zh/console-shared.json
  frontend/packages/container-security/locales/ja/container-security.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/gitops-plugin/locales/ja/gitops-plugin.json
  frontend/packages/gitops-plugin/locales/ko/gitops-plugin.json
  frontend/packages/helm-plugin/locales/ja/helm-plugin.json
  frontend/packages/helm-plugin/locales/ko/helm-plugin.json
  frontend/packages/helm-plugin/locales/zh/helm-plugin.json
  frontend/packages/insights-plugin/locales/ja/insights-plugin.json
  frontend/packages/insights-plugin/locales/ko/insights-plugin.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/ja/lso-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/ko/lso-plugin.json
  frontend/packages/metal3-plugin/locales/ja/metal3-plugin.json
  frontend/packages/metal3-plugin/locales/ko/metal3-plugin.json
  frontend/packages/network-attachment-definition-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/operator-lifecycle-manager/locales/ko/olm.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/patternfly/locales/ja/notification-drawer.json
  frontend/packages/patternfly/locales/ko/notification-drawer.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ko/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/packages/rhoas-plugin/locales/ja/rhoas-plugin.json
  frontend/packages/rhoas-plugin/locales/ko/rhoas-plugin.json
  frontend/packages/topology/locales/ja/topology.json
  frontend/packages/topology/locales/ko/topology.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/ceph, component/core, component/dev-console, component/gitops, component/helm, component/insights, component/knative, component/kubevirt, component/lso, component/metal3, component/network-attachment-definition, component/olm, component/pipelines, component/shared, component/topology, kind/i18n, lgtm

#9261 CONSOLE-2810: Update react-jsonschema-form package
  frontend/package.json
  frontend/packages/console-shared/src/components/dynamic-form/fields.tsx
  frontend/packages/console-shared/src/components/dynamic-form/index.tsx
  frontend/packages/console-shared/src/components/dynamic-form/templates.tsx
  frontend/packages/console-shared/src/components/dynamic-form/utils.spec.ts
  frontend/packages/console-shared/src/components/dynamic-form/utils.ts
  frontend/packages/console-shared/src/components/dynamic-form/widgets.tsx
  frontend/packages/console-shared/src/components/editor/YAMLEditorSidebar.tsx
  frontend/packages/console-shared/src/components/formik-fields/DynamicFormField.tsx
  frontend/packages/console-shared/src/components/formik-fields/field-types.ts
  frontend/packages/console-shared/src/utils/utils.ts
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradePage.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/EventSourceSection.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/status/conditions.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/utils.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/const.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/operand-form.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/utils.ts
  frontend/public/module/k8s/types.ts
  frontend/yarn.lock
Labels: approved, component/core, component/helm, component/knative, component/olm, component/shared, docs-approved, lgtm, px-approved, qe-approved

#9372 Add a tooltip to certified badge in helm catalog
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/src/catalog/utils/catalog-utils.tsx
Labels: approved, component/helm, kind/i18n, lgtm

#9501 copy shared hooks to kubevirt
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard.tsx
  frontend/packages/kubevirt-plugin/src/hooks/use-debounce.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-deep-compare-memoize.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-previous.ts
  frontend/packages/kubevirt-plugin/src/utils/usePodsForVm.ts
Labels: approved, component/kubevirt, lgtm

#9524 CONSOLE-2361: Remove orphaned Bootstrap and PatternFly styles
  frontend/public/vendor.scss
Labels: approved, component/core, docs-approved, lgtm, px-approved, qe-approved

#9563 (feat): Allow only object storage deployment
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/advanced-section.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-steps.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/payloads.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/reducer.ts
  frontend/packages/ceph-storage-plugin/src/constants/create-storage-system.ts
  frontend/packages/ceph-storage-plugin/src/utils/create-storage-system.ts
Labels: approved, component/ceph, kind/i18n, lgtm

#9567 Fix cypress olm flake
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/views/operator.view.ts
Labels: approved, component/olm, lgtm

#9568 CNV-11416: Added MTV to virtualization screen
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vms/migration-tool/MigrationTool.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/migration-tool/MigrationToolContent.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/migration-tool/migration-tool.scss
  frontend/packages/kubevirt-plugin/src/components/vms/virtualization.tsx
  frontend/packages/kubevirt-plugin/src/hooks/use-migration-tool.ts
  frontend/packages/kubevirt-plugin/src/models/index.ts
  frontend/packages/kubevirt-plugin/src/utils/migration-tool-utils.ts
Labels: approved, component/kubevirt, kind/i18n, lgtm

#9585 (fix): Fix wizard requests
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/security-and-network-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/README.md
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/index.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/red-hat-ceph-storage/index.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/types.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/payloads.ts
  frontend/packages/ceph-storage-plugin/src/utils/create-storage-system.ts
Labels: approved, component/ceph, lgtm

#9252 Pool list page
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/package.json
  frontend/packages/ceph-storage-plugin/src/components/block-pool/block-pool-list-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/block-pool/block-pool-menu-action.ts
  frontend/packages/ceph-storage-plugin/src/components/block-pool/create-block-pool.tsx
  frontend/packages/ceph-storage-plugin/src/components/block-pool/states.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/delete-block-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/update-block-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/queries/ceph-queries.ts
  frontend/packages/ceph-storage-plugin/src/utils/block-pool.tsx
  frontend/packages/ceph-storage-plugin/src/utils/common.tsx
  frontend/packages/ceph-storage-plugin/src/utils/popover-helper.tsx
Labels: approved, component/ceph, component/core, component/dashboard, component/shared, kind/i18n, lgtm

#9522 disable duck type EventSource/Channel discovery in multicluster environment
  frontend/packages/knative-plugin/src/utils/__tests__/fetch-dynamic-eventsources-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/fetch-dynamic-eventsources-utils.ts
Labels: approved, component/knative, lgtm

#9533 Fix Pipeline Download All
  frontend/public/components/utils/line-buffer.ts
Labels: approved, component/core, kind/bug, lgtm

#9555 CONSOLE-2361: remove orphaned styles
  frontend/public/style/_common.scss
  frontend/public/style/_icons.scss
Labels: approved, component/core, docs-approved, lgtm, px-approved, qe-approved

#9556 CONSOLE-2361: tidy base styles
  frontend/public/style/_base.scss
Labels: approved, component/core, docs-approved, lgtm, px-approved, qe-approved

#9557 fix source image test
  frontend/packages/kubevirt-plugin/integration-tests-cypress/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/cypress.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/customize-source.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/source-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/virtualization.ts
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/VMTemplateRow.tsx
Labels: approved, component/kubevirt, lgtm

#9572 ODC-6127: Fix missing build status translation in topology sidebar
  frontend/public/components/overview/build-overview.tsx
  frontend/public/locales/en/public.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, component/core, kind/i18n, lgtm

#9581 (feat): Add capacity and nodes step and review step to ODF wizard
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-steps.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/capacity-and-nodes-step/capacity-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/capacity-and-nodes-step/capacity-and-nodes.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/capacity-and-nodes-step/selected-nodes-table.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/connection-details-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/index.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/review-and-create-step/review-and-create-step.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/review-and-create-step/review-and-create-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/storage-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/capacity-and-nodes.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard-steps/select-capacity-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/utils/create-storage-system.ts
Labels: approved, component/ceph, kind/i18n, lgtm

#9586 Add react-router react-router-dom react-helmet as shared modules
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules.ts
Labels: approved, component/sdk, lgtm

#9588 Update @patternfly/quickstarts to latest version
  frontend/package.json
  frontend/yarn.lock
Labels: approved, lgtm

#9341 Create extensible git service utility
  frontend/packages/dev-console/src/components/import/devfile/devfileHooks.ts
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
  frontend/packages/git-service/src/services/__tests__/git-service.spec.ts
  frontend/packages/git-service/src/services/bitbucket-service.ts
  frontend/packages/git-service/src/services/git-service.ts
  frontend/packages/git-service/src/services/github-service.ts
  frontend/packages/git-service/src/services/gitlab-service.ts
  frontend/packages/git-service/src/services/hooks.ts
  frontend/packages/git-service/src/services/index.ts
  frontend/packages/git-service/src/types/git.ts
  frontend/packages/git-service/src/utils/__tests__/build-tool-detector.spec.ts
  frontend/packages/git-service/src/utils/__tests__/build-tool-type-detector.spec.ts
  frontend/packages/git-service/src/utils/__tests__/import-strategy-detector.spec.ts
  frontend/packages/git-service/src/utils/build-tool-detector.ts
  frontend/packages/git-service/src/utils/build-tool-type-detector.ts
  frontend/packages/git-service/src/utils/git-provider-detector.ts
  frontend/packages/git-service/src/utils/import-strategy-detector.ts
Labels: approved, component/dev-console, component/git-service, lgtm

#9363 CONSOLE-2904: Allow disabling dynamic plugins via query parameter
  frontend/@types/console/index.d.ts
  frontend/packages/console-dynamic-plugin-sdk/README.md
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-init.ts
  frontend/packages/console-plugin-sdk/src/__tests__/store.spec.ts
  frontend/packages/console-plugin-sdk/src/store.ts
  frontend/public/components/utils/link.tsx
  frontend/public/plugins.ts
Labels: approved, component/core, component/olm, component/sdk, component/shared, docs-approved, kind/i18n, lgtm, px-approved, qe-approved

#9461 Add unit tests using react-testing-library for edit-deployment
  frontend/package.json
  frontend/packages/console-shared/src/components/alerts/SwitchToYAMLAlert.tsx
  frontend/packages/console-shared/src/components/form-utils/FormFooter.tsx
  frontend/packages/console-shared/src/components/formik-fields/EnvironmentField.tsx
  frontend/packages/console-shared/src/components/formik-fields/ResourceDropdownField.tsx
  frontend/packages/console-shared/src/components/formik-fields/SyncedEditorField.tsx
  frontend/packages/console-shared/src/components/formik-fields/YAMLEditorField.tsx
  frontend/packages/dev-console/src/components/edit-deployment/AdvancedSection.tsx
  frontend/packages/dev-console/src/components/edit-deployment/EditDeployment.tsx
  frontend/packages/dev-console/src/components/edit-deployment/EditDeploymentForm.tsx
  frontend/packages/dev-console/src/components/edit-deployment/EnvironmentVariablesSection.tsx
  frontend/packages/dev-console/src/components/edit-deployment/PauseRolloutsSection.tsx
  frontend/packages/dev-console/src/components/edit-deployment/__mocks__/MockForm.tsx
  frontend/packages/dev-console/src/components/edit-deployment/__mocks__/edit-deployment-data.ts
  frontend/packages/dev-console/src/components/edit-deployment/__tests__/AdvancedSection.spec.tsx
  frontend/packages/dev-console/src/components/edit-deployment/__tests__/DeploymentStrategySection.spec.tsx
  frontend/packages/dev-console/src/components/edit-deployment/__tests__/EditDeploymentForm.spec.tsx
  frontend/packages/dev-console/src/components/edit-deployment/__tests__/EnvironmentVariablesSection.spec.tsx
  frontend/packages/dev-console/src/components/edit-deployment/__tests__/ImagesSection.spec.tsx
  frontend/packages/dev-console/src/components/edit-deployment/__tests__/PauseRolloutsSection.spec.tsx
  frontend/packages/dev-console/src/components/edit-deployment/deployment-strategy/CustomStrategy.tsx
  frontend/packages/dev-console/src/components/edit-deployment/deployment-strategy/DeploymentStrategySection.tsx
  frontend/packages/dev-console/src/components/edit-deployment/deployment-strategy/RecreateStrategy.tsx
  frontend/packages/dev-console/src/components/edit-deployment/deployment-strategy/RollingStrategy.tsx
  frontend/packages/dev-console/src/components/edit-deployment/images/AdvancedImageOptions.tsx
  frontend/packages/dev-console/src/components/edit-deployment/images/ContainerImageField.tsx
  frontend/packages/dev-console/src/components/edit-deployment/images/ImagesSection.tsx
  frontend/packages/dev-console/src/components/import/advanced/ScalingSection.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageStream.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageStreamTagDropdown.tsx
  frontend/packages/dev-console/src/components/import/section/FormSection.tsx
  frontend/public/components/factory/modal.tsx
  frontend/yarn.lock
Labels: approved, component/core, component/dev-console, component/shared, component/topology, lgtm

#9584 Replaced CDROM and rootDisk names, revised a translation
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form.tsx
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/simple-create.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/disk-wrapper.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/volume-wrapper.ts
  frontend/packages/kubevirt-plugin/src/utils/storage.ts
Labels: approved, component/kubevirt, kind/i18n, lgtm

#9396 CONSOLE-2838: masthead changes to better align with ACM
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/locales/en/public.json
  frontend/public/style/_overrides.scss
Labels: approved, component/core, docs-approved, kind/i18n, lgtm, px-approved, qe-approved

#9577 CONSOLE-2877: Additional Operator badge for Single-Node Compatibility
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/index.ts
Labels: approved, component/olm, docs-approved, lgtm, px-approved, qe-approved, tide/merge-method-squash
