Repository openshift/console, pull requests merged in 2021-01, with the labels that each got.

#7689 Bug 1911796: uploading flow being displayed before submitting the form
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.scss
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7690 Bug 1911387: Hit error - "Cannot read property value of undefined" while creating VM
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7651 Bug 1908717: Monitoring Dashboards: Add support for $__rate_interval variable
  frontend/public/components/monitoring/dashboards/index.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/monitoring, lgtm

#7693 Bug 1888544: Stop OBC creation page from accepting whitespace
  frontend/packages/noobaa-storage-plugin/src/components/object-bucket-claim-page/create-obc.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/noobaa, lgtm

#7628 Bug 1910024: fallback to localstorage for 404 on create ConfigMap
  frontend/packages/console-shared/src/hooks/__tests__/useUserSettings.spec.ts
  frontend/packages/console-shared/src/hooks/useUserSettings.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/shared, kind/bug, lgtm

#7692 Bug 1912115: Increase heap memory size for analyze job to 8GB
  frontend/package.json
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#7696 Bug 1907908: VM Wizard always uses VirtIO for the VM rootdisk regardless what is defined
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/storage-tab-initial-state.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7430 CONSOLE-2457: Modify CatalogSource Details view and include new
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/catalog-source-details.spec.ts
  frontend/packages/operator-lifecycle-manager/locales/en/catalog-source.json
  frontend/packages/operator-lifecycle-manager/locales/en/edit-registry-poll-interval-modal.json
  frontend/packages/operator-lifecycle-manager/mocks.ts
  frontend/packages/operator-lifecycle-manager/src/components/catalog-source.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/catalog-source.tsx
  frontend/packages/operator-lifecycle-manager/src/components/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/edit-registry-poll-interval-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
  frontend/packages/operator-lifecycle-manager/src/components/package-manifest.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/package-manifest.tsx
  frontend/packages/operator-lifecycle-manager/src/plugin.tsx
  frontend/packages/operator-lifecycle-manager/src/utils/useOperatorHubConfig.tsx
  frontend/public/components/factory/table.tsx
  frontend/public/components/utils/details-item.tsx
Labels: approved, component/core, component/olm, docs-approved, lgtm, ok-to-test, px-approved, qe-approved

#7446 Bug 1905128: Fix prow's e2e test script
  frontend/integration-tests/tests/crd-extensions.scenario.ts
  frontend/integration-tests/tests/dashboards/project-dashboard.scenario.ts
  frontend/integration-tests/tests/performance.scenario.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/catalog/catalog-plugin.ts
  test-prow-e2e.sh
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, component/dev-console, lgtm

#7691 Bug 1911574: Expose volume mode on Upload Data form
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/Alerts/ConfigMapDefaultModesAlert.tsx
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7499 CONSOLE-2371: [i18n] Externalize olm modal strings
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/modals/delete-catalog-source-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/disable-default-source-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/installplan-approval-modal.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/installplan-approval-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/installplan-preview-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/subscription-channel-modal.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/subscription-channel-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/update-strategy-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/const.ts
  frontend/public/i18n.js
  frontend/public/locales/en/public.json
Labels: approved, component/core, component/olm, docs-approved, lgtm, qe-approved

#6893 Bug 1872124: Adds a dropdown for device type selection.
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/state.ts
  frontend/packages/console-shared/src/utils/index.ts
  frontend/packages/console-shared/src/utils/multiselectdropdown.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/create-local-volume-set.scss
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/local-volume-set-inner.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/local-volume-set-request-data.ts
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/state.ts
  frontend/packages/local-storage-operator-plugin/src/constants/index.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/ceph, component/core, component/lso, component/shared, lgtm

#7467 Bug 1905253: update events timeline empty state and end messages
  frontend/public/components/_sysevent-stream.scss
  frontend/public/components/events.jsx
  frontend/public/locales/en/events.json
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#7050 Selects the default class or the first item in SnapshotClassDropdown
  frontend/packages/console-app/src/components/volume-snapshot/create-volume-snapshot/create-volume-snapshot.tsx
Labels: approved, component/core, lgtm

#7702 Bug 1912115: Fix analyze command
  frontend/package.json
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#7708 Bug 1907459: The Boot source is also maintained by Red Hat. is always shown for all boot sources
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm/dev-console/dev-console-create-vm-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/dev-console/use-catalog-vm-templates.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7646 Bug 1766287: Fix use of hello-openshift imagestream
  frontend/public/models/yaml-templates.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/core, lgtm

#7710 Bug 1889213: The error message of uploading failure is not clear enough
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form-status.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7305 Bug 1888036: Only show latest version for each CSV and PackageManifest provided API.
  frontend/packages/console-shared/src/hooks/useK8sModels.ts
  frontend/packages/console-shared/src/utils/annotations.ts
  frontend/packages/console-shared/src/utils/resource-utils.ts
  frontend/packages/eslint-plugin-console/lib/config/rules/airbnb-base-overrides.js
  frontend/packages/eslint-plugin-console/lib/config/rules/typescript.js
  frontend/packages/operator-lifecycle-manager/mocks.ts
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/k8s-resource.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-group.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-page.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
  frontend/packages/operator-lifecycle-manager/src/const.ts
  frontend/packages/operator-lifecycle-manager/src/dev-catalog.ts
  frontend/packages/operator-lifecycle-manager/src/utils.ts
  frontend/packages/operator-lifecycle-manager/src/utils/useClusterServiceVersions.tsx
  frontend/packages/topology/src/operators/TopologyOperatorBackedResources.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/dev-console, component/olm, component/shared, lgtm

#7529 Bug 1906879: Fix missing i18n key error
  frontend/packages/console-shared/src/components/multi-tab-list/MultiTabListPage.tsx
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/actions/add-subscription.ts
  frontend/packages/knative-plugin/src/actions/add-trigger.ts
  frontend/packages/knative-plugin/src/actions/delete-revision.ts
  frontend/packages/knative-plugin/src/actions/edit-sink-uri.ts
  frontend/packages/knative-plugin/src/actions/sink-pubsub.ts
  frontend/packages/knative-plugin/src/actions/sink-source.ts
  frontend/packages/knative-plugin/src/actions/traffic-splitting.ts
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/plugin.tsx
  frontend/packages/pipelines-plugin/src/plugin.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, component/knative, component/kubevirt, component/shared, lgtm

#7605 Bug 1908983: i18n Deployments/DeploymentConfigs dropdowns
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/actions/modify-hpa.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#7625 Bug 1909958: Add QuickStart highlight labels
  frontend/packages/console-app/src/components/cloud-shell/CloudShellMastheadButton.tsx
  frontend/packages/console-plugin-sdk/src/typings/nav-items.ts
  frontend/packages/console-shared/src/components/markdown-highlight-extension/MarkdownHighlightExtension.tsx
  frontend/packages/dev-console/src/plugin.tsx
  frontend/packages/helm-plugin/src/plugin.ts
  frontend/packages/pipelines-plugin/src/plugin.tsx
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/components/nav/admin-nav.tsx
  frontend/public/components/nav/items.tsx
  frontend/public/components/nav/nav-header.tsx
  frontend/public/components/nav/section.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/core, component/dev-console, component/sdk, component/shared, kind/bug, lgtm

#7654 Bug 1784298: Query Browser: Fix "reduced resolution" showing unnecessarily
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/monitoring, lgtm

#7685 Bug 1878953: Fix RBAC with upload form and golden images
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
  frontend/public/components/utils/rbac.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/kubevirt, lgtm

#7695 Bug 1910829: Cannot delete a PVC if the dv phase is WaitForFirstConsumer
  frontend/packages/kubevirt-plugin/src/selectors/pvc/selectors.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7700 Bug 1912536: Put correct version on the console-demo-plugin CR
  frontend/dynamic-demo-plugin/oc-manifest.yaml
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#7706 Bug 1887797: asing masquerade to pod interface in VMware import
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/providers/vmware/vmware-prefill-vm.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7709 tests: fix timeout loading logs in CRD extensions test
  frontend/integration-tests/tests/crd-extensions.scenario.ts
Labels: approved, lgtm

#7417 Cypress: Re-enable Monitoring test suite
  frontend/packages/integration-tests-cypress/tests/monitoring/monitoring.spec.ts
Labels: approved, kind/test-flake, lgtm

#7712 Bug 1912849: Use default os variant label
  frontend/packages/kubevirt-plugin/src/components/vm-templates/utils.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#7648 Fix error message title
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/dynamic-form/templates.tsx
Labels: approved, component/shared, lgtm

#7721 Bug 1912381: Add id to nad form inputs
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkTypeOptions.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/network-attachment-definition, lgtm

#7408 Query Browser: Redesign tooltips and add stacked graph option
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringDashboardGraph.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/__tests__/MonitoringDashboardGraph.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/metrics/MetricsChart.tsx
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/dashboards/graph.tsx
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, component/core, component/dev-console, component/monitoring, docs-approved, lgtm, px-approved, qe-approved

#7457 CONSOLE-2479: Add YAML Sample for QuickStart CRD
  frontend/public/models/yaml-templates.ts
Labels: approved, component/core, docs-approved, lgtm, px-approved, qe-approved

#7697 Bug 1913210: fix failure test for 4.7 part1
  frontend/packages/kubevirt-plugin/integration-tests/tests/cdi-upload.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/mocks/mocks.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/mocks/vmBuilderPresets.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/kubevirtUIResource.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/common.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/enums/provisionSource.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/templates/windowsVMForRDPL2.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/utils.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.action.clone.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.tab.dashboard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.tab.environment.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.tab.yaml.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmi.detail.editing.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/kubevirtUIResource.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/wizard.view.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7717 Bug 1912703: Query Browser: Hide graph empty state when hideGraphs is true
  frontend/public/components/monitoring/metrics.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/monitoring, lgtm

#7607 Bug 1899725: Reduce Quickstart side panel width when browser widths between 769 - 1600px to prevent usability display issues
  frontend/packages/console-app/src/components/quick-starts/QuickStartPanelContent.scss
  frontend/packages/console-app/src/components/quick-starts/QuickStartPanelContent.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#7680 Bug 1911809: [interop-ui-tests] update steps in install helm chart feature file
  frontend/packages/dev-console/integration-tests/features/helm/install-HelmChart.feature
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, lgtm

#7722 Bug 1913249: Update info text alerting this template can't be adited
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-details.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, lgtm

#7731 Bug 1913371: Fix Administrator missing key error
  frontend/packages/console-app/src/plugin.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#7732 Export zh-cn and zh-tw po files
  frontend/i18n-scripts/export-pos.sh
Labels: approved, lgtm

#7302 CONSOLE-2024: Add popover for Unschedulable Pending, CrashLoopBackoff, ErrImagePull, ImagePullBackOff statuses
  frontend/packages/console-shared/src/components/status/Status.tsx
  frontend/public/components/pod.tsx
  frontend/public/locales/en/workload.json
Labels: approved, component/core, component/shared, docs-approved, lgtm, px-approved, qe-approved

#7542 Bug 1907892: Hide edit app action for apps created using devfile flow
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/utils/resource-label-utils.ts
  frontend/packages/topology/src/actions/modify-application.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#7728 Bug 1908650: The title of customize wizard is inconsistent
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7734 Bug 1913292: Fix flexible scaling when arbiter enabled
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/storage-and-nodes-step.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/ceph, lgtm

#7677 Bug 1911474: Delete Devfile Application Group without any errors
  frontend/packages/console-shared/src/utils/__tests__/test-resource-data.ts
  frontend/packages/topology/src/utils/__tests__/application-utils.spec.ts
  frontend/packages/topology/src/utils/application-utils.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/shared, kind/bug, lgtm

#7726 Bug 1913297: Remove restriction of taints for arbiter node
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/storage-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/sc-node-list.tsx
  frontend/packages/ceph-storage-plugin/src/utils/install.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/ceph, lgtm

#7688 Fix for Storage cluster creation failed with 'Cannot read property "protocol" of null ' on adding& then cancelling Encryption
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/configure.tsx
Labels: approved, component/ceph, lgtm, ok-to-test

#7743 Bug 1907307: Check DV provider if PVC does not have any
  frontend/packages/kubevirt-plugin/src/statuses/template/template-source-status.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7603 Bug 1909207: Fix accessibility issues on monitoring page
  frontend/packages/console-shared/src/components/dropdown/ResourceDropdown.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringWorkloadFilter.tsx
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/poll-interval-dropdown.tsx
  frontend/public/components/utils/dropdown.jsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/dev-console, component/monitoring, component/shared, kind/bug, lgtm

#7606 Bug 1909236: Fix for overlapping remove pin icon on long nav items
  frontend/public/components/nav/_perspective-nav.scss
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/shared, lgtm

#7608 Bug 1909276: Fix for a11y errors in project dropdown
  frontend/packages/console-shared/src/components/dropdown/__tests__/ResourceDropdown.spec.tsx
  frontend/public/components/utils/dropdown.jsx
  frontend/public/locales/en/dropdown.json
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/shared, lgtm

#7674 Bug 1911434: update Enviroment empty state icon
  frontend/packages/gitops-plugin/src/components/GitOpsEmptyState.tsx
  frontend/packages/gitops-plugin/src/images/gitops.svg
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#7698 Bug 1912434: update the guided tour modal heading
  frontend/packages/dev-console/src/components/guided-tour/index.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/dev-console, lgtm

#7713 Bug 1912938: Update texts of confirmation modal for quick starts
  frontend/packages/console-app/locales/en/quickstart.json
  frontend/packages/console-app/src/components/quick-starts/QuickStartCloseModal.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#7719 Bug 1913209: Adjust messaging in support modal for community supported templates
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/modals/support-modal/support-modal.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/constants.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-support-modal.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/common.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm-template/basic.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7746 Bug 1907908: VM Wizard always uses VirtIO for the VM rootdisk
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/storage-tab-initial-state.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7748 Bug 1913560: Make DataVolumes and DV pods optional when fetching base images
  frontend/packages/kubevirt-plugin/src/hooks/use-base-images.ts
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, component/kubevirt, lgtm

#7496 CONSOLE-2371: [i18n] Externalize strings in ./packages/operator-lifecycle-manager/src
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/locales/en/operator-lifecycle-manager.json
  frontend/packages/operator-lifecycle-manager/src/dev-catalog.ts
  frontend/packages/operator-lifecycle-manager/src/plugin.tsx
  frontend/packages/operator-lifecycle-manager/src/status/csv-status.ts
  frontend/packages/operator-lifecycle-manager/src/types.ts
  frontend/packages/operator-lifecycle-manager/src/utils/useClusterServiceVersions.tsx
  frontend/public/i18n.js
Labels: approved, component/core, component/olm, docs-approved, lgtm, px-approved, qe-approved

#7739 Bug 1909004: make filesystem queries compatible with both RHCOS and RHEL nodes
  frontend/packages/console-app/src/components/nodes/NodesPage.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/queries.ts
  frontend/packages/console-shared/src/promql/cluster-dashboard.ts
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/queries.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/metal3, component/shared, lgtm

#7744 Bug 1913685: disable OS field when creating a VM from a template
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/vm-settings-tab-initial-state.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, lgtm

#7745 Bug 1895169: VM Template does not properly manage Mount Windows guest tools check box
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/vm-settings-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/selectors/immutable/template/combined.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7750 Bug 1913568: Normal user cannot create URL template
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/create.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7753 Bug 1913420: Fix i18n display of seconds
  frontend/public/components/cron-job.tsx
  frontend/public/components/deployment-config.tsx
  frontend/public/components/deployment.tsx
  frontend/public/components/job.tsx
  frontend/public/components/pod.tsx
  frontend/public/locales/en/workload.json
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#7650 Fixed issue: Not able to select access modes for snapshot and clone
  frontend/packages/console-app/src/components/access-modes/access-mode.tsx
  frontend/packages/console-app/src/components/modals/restore-pvc/restore-pvc-modal.tsx
Labels: approved, component/core, lgtm, ok-to-test

#7757 Bug 1913951: Swap Devfile Sample for an official repo
  frontend/packages/dev-console/src/components/import/devfile/DevfileImportForm.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/dev-console, lgtm

#7724 Bug 1913285: VM list empty state links to virtualization quick starts
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vms/vm.scss
  frontend/packages/kubevirt-plugin/src/components/vms/vm.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, lgtm

#7755 Bug 1886154: - System roles are not present while trying to create new role binding through web console
  frontend/public/components/RBAC/bindings.jsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#7751 Bug 1913783: To fix the merging pr issue, commenting the afterEach() block
  frontend/packages/dev-console/integration-tests/support/commands/app.ts
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, component/dev-console, lgtm

#7758 Bug 1913864: Update ImageStreamTag in sample BuildConfig YAML
  frontend/public/models/yaml-templates.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#7761 (bug-fix): Fixes warnings and errors for OCS in console
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/storage-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/capacity-and-nodes.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/review-and-create.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard-steps/review-and-create.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard-steps/select-capacity-and-nodes-step.tsx
Labels: approved, component/ceph, lgtm

#7747 Bug 1913725: Refactor Insights Operator Plugin states
  frontend/packages/insights-plugin/src/components/InsightsPopup/index.tsx
  frontend/packages/insights-plugin/src/components/InsightsPopup/mappers.ts
  frontend/packages/insights-plugin/src/components/InsightsPopup/status.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/insights, lgtm, ok-to-test

#7386 CONSOLE-2391: Monitoring: i18n for kebab menus and silence create / edit form
  frontend/packages/integration-tests-cypress/tests/monitoring/monitoring.spec.ts
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/silence-form.tsx
  frontend/public/locales/en/monitoring.json
Labels: approved, component/core, component/monitoring, docs-approved, kind/i18n, lgtm, px-approved, qe-approved

#7763 Bug 1913567: Monitoring: Change stacked graph tooltips to not use cumulative values
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/monitoring, lgtm

#7636 [release-4.6] Bug 1910156: Add tolerations for ocs taint in localvolumeset and localvolumediscovery
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/create-sc.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/auto-detect-volume.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/create-local-volume-set.tsx
  frontend/packages/ceph-storage-plugin/src/constants/ocs-install.ts
  frontend/packages/local-storage-operator-plugin/src/components/auto-detect-volume/auto-detect-volume-inner.tsx
  frontend/packages/local-storage-operator-plugin/src/components/auto-detect-volume/discovery-request-data.ts
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/local-volume-set-inner.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/local-volume-set-request-data.ts
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/nodes-selection-list.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/types.ts
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, component/ceph, component/lso, lgtm

#7742 Bug 1913585: fix text for `Create a Project`
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/projects/CreateProjectListPage.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/dev-console, lgtm

#7772 chore: add OWNERS files to locale folders
  frontend/i18n-scripts/OWNERS
  frontend/packages/ceph-storage-plugin/locales/OWNERS
  frontend/packages/console-app/locales/OWNERS
  frontend/packages/console-shared/locales/OWNERS
  frontend/packages/container-security/locales/OWNERS
  frontend/packages/dev-console/locales/OWNERS
  frontend/packages/git-service/locales/OWNERS
  frontend/packages/gitops-plugin/locales/OWNERS
  frontend/packages/helm-plugin/locales/OWNERS
  frontend/packages/knative-plugin/locales/OWNERS
  frontend/packages/kubevirt-plugin/locales/OWNERS
  frontend/packages/local-storage-operator-plugin/locales/OWNERS
  frontend/packages/metal3-plugin/locales/OWNERS
  frontend/packages/network-attachment-definition-plugin/locales/OWNERS
  frontend/packages/noobaa-storage-plugin/locales/OWNERS
  frontend/packages/operator-lifecycle-manager/locales/OWNERS
  frontend/packages/pipelines-plugin/locales/OWNERS
  frontend/packages/topology/locales/OWNERS
  frontend/public/locales/OWNERS
Labels: approved, component/ceph, component/core, component/dev-console, component/git-service, component/knative, component/kubevirt, component/lso, component/metal3, component/network-attachment-definition, component/noobaa, component/olm, component/shared, lgtm

#7775 Bug 1914334: Sort items alphabetically in samples catalog
  frontend/packages/dev-console/src/components/import/SamplesCatalog.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/dev-console, lgtm

#7635 [release-4.6] Bug 1910066: fix yaml editor from remounting
  frontend/public/components/utils/horizontal-nav.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, component/core, lgtm

#7599 [release-4.5] Bug 1908587: fix filesystem queries
  frontend/packages/console-app/src/components/nodes/NodesPage.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/queries.ts
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/queries.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/queries.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, component/core, component/dashboard, component/metal3, lgtm

#7497 CONSOLE-2371: [i18n] Externalize strings in olm root components
  frontend/packages/console-shared/src/hooks/redux-selectors.ts
  frontend/packages/console-shared/src/utils/index.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/catalog-source-details.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/create-namespace.spec.ts
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/locales/en/operator-hub-subscribe.json
  frontend/packages/operator-lifecycle-manager/src/components/catalog-source.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/catalog-source.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/create-catalog-source.tsx
  frontend/packages/operator-lifecycle-manager/src/components/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/install-plan.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/install-plan.tsx
  frontend/packages/operator-lifecycle-manager/src/components/k8s-resource.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-group.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-install-page.tsx
  frontend/packages/operator-lifecycle-manager/src/components/package-manifest.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/package-manifest.tsx
  frontend/packages/operator-lifecycle-manager/src/components/subscription.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/subscription.tsx
  frontend/packages/operator-lifecycle-manager/src/style.scss
  frontend/public/components/utils/details-item.tsx
  frontend/public/components/utils/link.tsx
  frontend/public/locales/en/public.json
Labels: approved, component/core, component/olm, component/shared, docs-approved, kind/i18n, lgtm, px-approved, qe-approved

#7778 Bug 1914349: Fix alignment of plus and minus icon in number spinner
  frontend/public/components/utils/number-spinner.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#7768 Bug 1914204: Set TemplateItem metadata to default template
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vm-templates/utils.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#7766 Bug 1914183: Link to NAD Quickstarts
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm/tabs/select-template.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/support-modal/support-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm.tsx
  frontend/packages/network-attachment-definition-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinition.scss
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinition.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, component/network-attachment-definition, lgtm

#7780 Bug 1914060: choose first boot disk when not using PXE
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/storage-tab/storage-boot-source.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/storage-tab/storage-tab.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7770 Bug 1914212: Add test to validate bootable disk souce
  frontend/packages/kubevirt-plugin/integration-tests/tests/dialogs/diskDialog.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/mocks/mocks.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/vmBuilder.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/types/types.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/types/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/common.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/utils.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.dedicated-resources.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.flavor.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.wizard.validation.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/dialogs/diskDialog.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/uiResource.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/wizard.view.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7781 Bug 1912852: Use value of value for disk size
  frontend/packages/kubevirt-plugin/src/selectors/vm-template/advanced.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7749 Bug 1911382: If source PVC is selected, volumeMode changes to source volumeMode.
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/storage-tab/vm-wizard-storage-modal-enhanced.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form-reducer.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal-enhanced.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-source.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/provision-source.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-update-data-volume.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/combined-disk.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/data-volume-wrapper.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, kind/i18n, lgtm

#7782 Bug 1914642: Customize Wizard Storage tab does not pass validation
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/storage-tab-validation.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7784 Bug 1911465: Fix humanize IOPS function
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/utilization-card/utils.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/ceph, lgtm

#7765 Bug 1883614: Warn user when restarting BMH
  frontend/packages/metal3-plugin/locales/en/metal3-plugin.json
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/host-menu-actions.tsx
  frontend/packages/metal3-plugin/src/components/modals/PowerOffHostModal.tsx
  frontend/packages/metal3-plugin/src/components/modals/RestartHostModal.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/metal3, kind/i18n, lgtm

#7723 Bug 1914405: Fix to keep quick-search modal opened with previous input on coming back from a selection
  frontend/packages/topology/src/components/quick-search/QuickSearchController.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchDetails.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchList.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchModalBody.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, kind/bug, lgtm

#7752 Bug 1913807: Show support badge only for Full support
  frontend/packages/kubevirt-plugin/src/components/vm-templates/label.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7764 Bug 1883388: Show maintenance and power status in BMH status card
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostStatus.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/BareMetalHostDashboard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/BareMetalHostDashboardContext.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/StatusCard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/status.scss
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/metal3, lgtm

#7773 Bug 1914301: Use custom template provider as provider for source too
  frontend/packages/kubevirt-plugin/src/statuses/template/template-source-status.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, lgtm

#7779 Bug 1914427: Use kube_running_pod_ready to exclude terminal pods
  frontend/packages/ceph-storage-plugin/src/constants/queries.ts
  frontend/packages/console-shared/src/promql/cluster-dashboard.ts
  frontend/packages/console-shared/src/promql/project-dashboard.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/ceph, component/shared, lgtm

#7787 Bug 1913563: Dont break h1 line in action dropdown
  frontend/packages/kubevirt-plugin/src/components/vms/virtualization.scss
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, lgtm

#7788 Bug 1914793: HW devices dont need to be translated
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/disk-wrapper.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/network-interface-wrapper.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, lgtm

#7790 Bug 1912852: Show not available when storage is not available
  frontend/packages/kubevirt-plugin/src/components/create-vm/dev-console/use-catalog-vm-templates.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/create-vm-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/tabs/select-template.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
  frontend/packages/kubevirt-plugin/src/selectors/vm-template/advanced.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7515 Bug 1867965: Don't override volumes and volumeMounts in D/DC
  frontend/packages/dev-console/src/utils/__tests__/resource-label-utils-data.ts
  frontend/packages/dev-console/src/utils/__tests__/resource-label-utils.spec.tsx
  frontend/packages/dev-console/src/utils/resource-label-utils.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#7701 Bug 1912558: Show pending status for taskRuns that haven't started
  frontend/packages/pipelines-plugin/src/components/taskruns/list-page/TaskRunsRow.tsx
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-filter-reducer.spec.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-filter-reducer.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, kind/bug, lgtm

#7704 Bug 1912730: create visual connector if service binding is not available for operator backed resource
  frontend/packages/dev-console/src/actions/add-resources.tsx
  frontend/packages/dev-console/src/const.ts
  frontend/packages/dev-console/src/utils/__tests__/add-resources-menu-utils.spec.tsx
  frontend/packages/dev-console/src/utils/add-resources-menu-utils.ts
  frontend/packages/dev-console/src/utils/useAddToProjectAccess.ts
  frontend/packages/topology/src/actions/__tests__/graphActions.spec.tsx
  frontend/packages/topology/src/operators/operators-data-transformer.ts
  frontend/packages/topology/src/utils/connector-utils.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, lgtm

#7754 Bug 1913851: sort cluster task in pipeline builder
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/TaskListNode.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#7774 Bug 1914309: Redirect user to root when terminal operator is not installed
  frontend/packages/console-app/src/components/cloud-shell/CloudShellTab.tsx
  frontend/packages/console-app/src/components/cloud-shell/__tests__/CloudShellTab.spec.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#7791 Bug 1914938: Selected PVC from short wizard is not passed to advanced wizard
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/vm-settings-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/clone-pvc-source.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7794 Bug 1905370: Fix catalog dropdown alignment for firefox
  frontend/public/components/catalog/_catalog.scss
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#7783 Bug 1891189: Stop non-positive values from being entered by users for max disk size and limit
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/local-volume-set-inner.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/state.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/lso, lgtm

#7565 Bug 1908296: Fix pipeline builder form yaml switcher validation issue
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, kind/bug, lgtm

#7655 Bug 1910753: Use context directory to find devfile
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/bitbucket/devfile.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/bitbucket/no-devfile.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/devfile.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/no-devfile.json
  frontend/packages/git-service/src/services/bitbucket-service.ts
  frontend/packages/git-service/src/services/github-service.ts
  frontend/packages/git-service/src/services/gitlab-service.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, component/git-service, kind/bug, lgtm

#7488 Bug 1906898: Missing User RoleBindings in the Project Access Web UI
  frontend/packages/dev-console/src/components/project-access/ProjectAccess.tsx
  frontend/packages/dev-console/src/components/project-access/__tests__/project-access-form-data.ts
  frontend/packages/dev-console/src/components/project-access/__tests__/project-access-form-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/project-access/__tests__/project-access-form-utils.spec.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-submit-utils.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-utils-types.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-utils.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#7498 CONSOLE-2371: [i18n] Externalize olm package descriptor strings
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/common.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/affinity.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/configure-size.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/configure-update-strategy.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/endpoint.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/index.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/match-expressions.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/resource-requirements.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/resource-requirements.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/status/index.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/status/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/status/pods.tsx
  frontend/public/components/modals/configure-count-modal.tsx
  frontend/public/locales/en/public.json
Labels: approved, component/core, component/olm, docs-approved, kind/i18n, lgtm, px-approved, qe-approved

#7727 Bug 1894020: fix Internal registry deploy flow
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-data.ts
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/dev-console/src/components/import/DeployImage.tsx
  frontend/packages/dev-console/src/components/import/deployImage-submit-utils.ts
  frontend/packages/dev-console/src/components/import/image-search/ImageStream.scss
  frontend/packages/dev-console/src/components/import/image-search/ImageStream.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageStreamDropdown.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageStreamNsDropdown.tsx
  frontend/packages/dev-console/src/components/import/image-search/__tests__/ImageStream.spec.tsx
  frontend/packages/dev-console/src/components/import/import-types.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/dev-console, lgtm

#7769 Bug 1914209: Associate image secret name to pipeline serviceaccount imagePullSecrets
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/PipelineSecretSection.tsx
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-serviceaccount-test-data.ts
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-utils.spec.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-utils.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, kind/bug, lgtm

#7699 Bug 1909836: Re-enable and update operator-install-* tests to add catalog-source
  frontend/packages/integration-tests-cypress/support/selectors.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-global.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-single-namespace.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/views/catalog-source.view.ts
  frontend/packages/operator-lifecycle-manager/src/components/catalog-source.tsx
  frontend/packages/operator-lifecycle-manager/src/components/create-catalog-source.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/delete-catalog-source-modal.tsx
  frontend/public/components/filter-toolbar.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/olm, lgtm

#7714 Bug 1910859: breadcrumbs and nav doesn't use last namespace
  frontend/packages/dev-console/integration-tests/support/commands/app.ts
  frontend/packages/integration-tests-cypress/support/nav.ts
  frontend/packages/integration-tests-cypress/tests/crud/k8-openshift-cruds.spec.ts
  frontend/packages/integration-tests-cypress/tests/crud/namespace-crud.spec.ts
  frontend/packages/integration-tests-cypress/tests/monitoring/monitoring.spec.ts
  frontend/packages/integration-tests-cypress/views/common.ts
  frontend/packages/integration-tests-cypress/views/list-page.ts
  frontend/public/actions/ui.ts
  frontend/public/components/nav/items.tsx
  frontend/public/components/utils/breadcrumbs.ts
  frontend/public/components/utils/dropdown.jsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/dev-console, lgtm

#7729 Bug 1913332: Fix pipeline visualization issue when taskspecs is used
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualization.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/hooks.ts
Labels: approved, kind/bug, lgtm

#7730 Bug 1913331: Remove master as default branch and use only when ref is given
  frontend/packages/dev-console/src/components/import/git/AdvancedGitOptions.tsx
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/branches.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/devfile.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/dockerfile.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/files-dotnet.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/files-golang.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/files-java.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/files-modern-webapp.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/files-nodejs.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/files.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/languages.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/no-devfile.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/no-dockerfile.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/repo-not-reachable.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/repo.json
  frontend/packages/git-service/src/services/__tests__/github-service.spec.ts
  frontend/packages/git-service/src/services/github-service.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/dev-console, component/git-service, lgtm

#7767 Bug 1914196: Use route port field for docker container port in Dockerfile import
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-data.ts
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/ImportSamplePage.tsx
  frontend/packages/dev-console/src/components/import/__mocks__/import-validation-mock.ts
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils-data.ts
  frontend/packages/dev-console/src/components/import/__tests__/import-validation-utils.spec.ts
  frontend/packages/dev-console/src/components/import/git/DockerSection.tsx
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/utils/__tests__/shared-submit-utils.spec.ts
  frontend/packages/dev-console/src/utils/shared-submit-utils.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, kind/bug, kind/i18n, lgtm

#7771 Bug 1914257: Fix test for NAD on ocp 4.7
  frontend/packages/network-attachment-definition-plugin/integration-tests/tests/models/nadDetail.ts
  frontend/packages/network-attachment-definition-plugin/integration-tests/tests/nad.form.scenario.ts
  frontend/packages/network-attachment-definition-plugin/integration-tests/views/nad.form.view.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/network-attachment-definition, lgtm

#7786 CONSOLE-2523: Add resource requests to cluster and project overview
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationItem.tsx
  frontend/packages/console-shared/src/promql/cluster-dashboard.ts
  frontend/packages/console-shared/src/promql/project-dashboard.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/utilization-card.tsx
  frontend/public/components/dashboard/project-dashboard/utilization-card.tsx
Labels: approved, component/core, component/dashboard, component/shared, docs-approved, lgtm, px-approved, qe-approved

#7792 Bug 1914926: Upgrade Protractor to pick up webdriver-manager fix for…
  frontend/package.json
  frontend/yarn.lock
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#7799 Bug 1915133: Fix missing default pinned nav items in dev perspective
  frontend/packages/console-shared/src/hooks/__tests__/usePinnedResources.spec.ts
  frontend/packages/console-shared/src/hooks/usePinnedResources.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/shared, kind/bug, lgtm

#7618 Bug 1909790: fix pipeline yaml edit flow
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, kind/bug, lgtm

#7803 Bug 1915379: Make template provider mandatory.
  frontend/packages/kubevirt-plugin/integration-tests/tests/mocks/vmBuilderPresets.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/vmtemplateBuilder.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/types/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/wizard.view.ts
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/vm-settings-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/strings/renderable-field.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/vm-settings-tab.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm-templates/support.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/common.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/default-template.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, kind/i18n, lgtm

#7805 Bug 1915357: Only show load error in catalog when no items are loaded with error
  frontend/packages/dev-console/src/components/catalog/service/CatalogExtensionHookResolver.tsx
  frontend/packages/dev-console/src/components/catalog/service/CatalogServiceProvider.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, lgtm

#7807 Bug 1911307: scale pods using the 'scale' subresource
  frontend/packages/console-shared/src/components/pod/PodRing.tsx
  frontend/packages/console-shared/src/utils/pod-ring-utils.ts
  frontend/packages/console-shared/src/utils/pod-utils.ts
  frontend/public/components/modals/configure-count-modal.tsx
  frontend/public/components/utils/kebab.tsx
  frontend/public/components/utils/rbac.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/shared, lgtm

#7808 Bug 1915187: remove 'TechPreview' badge from VolumeSnapshot*
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot-class.tsx
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot-content.tsx
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#7500 CONSOLE-2371: [i18n] Externalize olm operand related strings
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/operand/DEPRECATED_operand-form.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/operand-form.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/utils.ts
  frontend/public/locales/en/public.json
Labels: approved, component/core, component/olm, docs-approved, kind/i18n, lgtm, px-approved, qe-approved

#7756 CONSOLE-2521: Migrate Role Binding CRUD tests to Cypress
  frontend/integration-tests/tests/crud.scenario.ts
  frontend/integration-tests/views/create-role-binding.view.ts
  frontend/packages/integration-tests-cypress/tests/crud/rolebindings.spec.ts
  frontend/packages/integration-tests-cypress/views/rolebindings.ts
  frontend/public/components/RBAC/bindings.jsx
Labels: approved, component/core, lgtm

#7733 Bug 1913660: update location and text of Pipeline edit flow alert
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/edit-application/EditApplicationForm.tsx
  frontend/packages/dev-console/src/components/import/builder/BuilderImageSelector.tsx
  frontend/packages/dev-console/src/components/import/builder/BuilderSection.tsx
  frontend/packages/dev-console/src/components/import/builder/__tests__/BuilderImageSelector.spec.tsx
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/import/pipeline/PipelineTemplate.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#7810 Bug 1888554: Improve help text for label selectors on PVC creation form
  frontend/public/components/storage/create-pvc.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#7802 Bug 1915277: [e2e][automation]fix cdi upload form test
  frontend/packages/kubevirt-plugin/integration-tests/tests/cdi-upload.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/pvcUploadForm.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/types/pvc.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/pvc.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/pvc.view.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7812 Bug 1915594: add test for disk validation
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.flavor.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.wizard.validation.scenario.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7814 Bug 1915627: translate all of guided tour text
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/guided-tour/index.ts
Labels: approved, bugzilla/severity-unspecified, bugzilla/valid-bug, component/dev-console, kind/i18n, lgtm

#7817 Bug 1915624: Template provider name is required field only for vm templates
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/vm-settings-tab-initial-state.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#7818 Bug 1915649: template support message is not a warning
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/modals/support-modal/support-modal.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, kind/i18n, lgtm

#7819 Bug 1915654: Add a verification for Affinity match hint
  frontend/packages/kubevirt-plugin/integration-tests/tests/mocks/vmBuilderPresets.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.scheduling.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.tab.dashboard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.tab.environment.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/dialogs/editAffinityView.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7548 Bug 1904713: Fix issue getting kubernetes cluster version from API Server.
  pkg/helm/actions/kube_version.go
  pkg/helm/chartproxy/proxy.go
  pkg/helm/chartproxy/proxy_test.go
  pkg/helm/handlers/handlers.go
  pkg/server/kube_version.go
  pkg/server/server.go
  pkg/version/version.go
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, component/backend, lgtm

#7562 Bug 1873480: Fix accessibility issue on Topology page
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/page/TopologyPageToolbar.tsx
  frontend/packages/topology/src/filters/TopologyFilterBar.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, kind/i18n, lgtm

#7725 Bug 1886977: show correct VM Import Provider in status
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vm-status/vm-status.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
  frontend/packages/kubevirt-plugin/src/constants/status-enum.ts
  frontend/packages/kubevirt-plugin/src/constants/status-group.ts
  frontend/packages/kubevirt-plugin/src/constants/v2v-import/ovirt/v2v-vm-import-status.ts
  frontend/packages/kubevirt-plugin/src/constants/v2v-import/ovirt/vm-import-type.ts
  frontend/packages/kubevirt-plugin/src/types/vm-import/ovirt/vm-import.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#7813 Bug 1913608: Query Browser: Fix bug where `None` table values were not cleared
  frontend/public/components/monitoring/metrics.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/monitoring, lgtm

#7586 Bug 1908687: Use localstorage fallback when running a local bridge
  cmd/bridge/main.go
  contrib/oc-environment.sh
  frontend/@types/console/declarations.d.ts
  frontend/packages/console-shared/src/hooks/useUserSettings.ts
  frontend/packages/console-shared/src/hooks/useUserSettingsLocalStorage.ts
  pkg/server/server.go
  pkg/serverconfig/validate.go
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/backend, component/shared, lgtm

#7657 Bug 1910805: add translation for pipeline status
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/hooks/useTabbedTableBreadcrumb.ts
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunDetails.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/status/PipelineBars.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/status/PipelineResourceStatus.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/status/PipelineRunStatus.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/status/TaskStatusTooltip.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines-lists/PipelinesListsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelinesPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelinesResourceList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationStepList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/StatusIcon.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/TaskComponentTaskStatus.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/list-page/PipelineRow.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/TriggerBindingSection.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/TaskRunDetails.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/status/TaskRunStatus.tsx
  frontend/packages/pipelines-plugin/src/components/tasks/list-page/TasksListsPage.tsx
  frontend/packages/pipelines-plugin/src/components/triggers-lists/TriggersPage.tsx
  frontend/packages/pipelines-plugin/src/topology/build-decorators/PipelineBuildDecoratorTooltip.tsx
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-augment.spec.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-augment.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-filter-reducer.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/shared, kind/i18n, lgtm

#7711 Bug 1912907: Helm chart repository index can contain unresolvable relative URL's
  pkg/helm/chartproxy/repos.go
  pkg/helm/chartproxy/repos_test.go
  pkg/helm/chartproxy/testdata/sampleRepoIndexWithRelativeURLs.yaml
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/backend, lgtm

#7718 Bug 1913196: handle resizing of browser for guided tour
  frontend/packages/console-shared/src/components/spotlight/StaticSpotlight.tsx
  frontend/packages/console-shared/src/hooks/index.ts
  frontend/packages/console-shared/src/hooks/useBoundingClientRect.ts
  frontend/packages/console-shared/src/hooks/useResizeObserver.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/shared, lgtm

#7735 Bug 1912523: Fix to update standalone pods and pods side panels for topology
  frontend/packages/console-shared/src/components/formik-fields/item-selector-field/ItemSelectorField.tsx
  frontend/packages/console-shared/src/components/text/ClampedText.tsx
  frontend/packages/console-shared/src/hooks/debounce.ts
  frontend/packages/console-shared/src/hooks/usePodsWatcher.ts
  frontend/packages/dev-console/src/components/import/git/AdvancedGitOptions.tsx
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageSearch.tsx
  frontend/packages/knative-plugin/src/utils/usePodsForRevisions.ts
  frontend/packages/kubevirt-plugin/src/utils/usePodsForVm.ts
  frontend/packages/topology/src/data-transforms/TopologyDataRetriever.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, component/knative, component/kubevirt, component/shared, kind/bug, lgtm

#7759 Bug 1909027: Modifying selected disk count based on selected disk type
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/donut-chart.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/ceph, lgtm, ok-to-test

#7762 Bug 1909043: Show an info instead of warning for flexible scaling on internal mode
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/review-and-create-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/storage-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/utils/common-ocs-install-el.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/ceph, kind/i18n, lgtm

#7793 Bug 1914941: VM Template rootdisk is not deleted after fetching default disk bus
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/storage-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/prefill-vm-template-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/storage-tab-validation.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/storage-tab/storage-tab.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#7816 Bug 1915647: adds check for drophint for eventSource connector
  frontend/packages/knative-plugin/src/catalog/useKameletsProvider.ts
  frontend/packages/knative-plugin/src/topology/components/knativeComponentUtils.ts
  frontend/packages/knative-plugin/src/utils/create-eventsources-utils.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/knative, lgtm
