Repository openshift/console, pull requests merged in 2021-06, with the labels that each got.

#9081 show helptext for workspaces in start pipeline form
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/PipelineWorkspacesSection.tsx
Labels: approved, component/pipelines, kind/bug, lgtm

#8998 Supplement: Add and update data-test for new add page
  frontend/packages/console-shared/src/components/getting-started/GettingStartedCard.tsx
  frontend/packages/console-shared/src/components/getting-started/GettingStartedGrid.tsx
  frontend/packages/console-shared/src/components/getting-started/QuickStartGettingStartedCard.tsx
  frontend/packages/console-shared/src/components/getting-started/RestoreGettingStartedButton.tsx
  frontend/packages/console-shared/src/components/getting-started/__tests__/GettingStartedCard.spec.tsx
  frontend/packages/console-shared/src/components/getting-started/__tests__/QuickStartGettingStartedCard.spec.tsx
  frontend/packages/dev-console/integration-tests/features/healthChecks/add-health-checks-git-form.feature
  frontend/packages/dev-console/integration-tests/features/healthChecks/add-health-checks-topology-sidebar.feature
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-page.ts
  frontend/packages/dev-console/src/components/add/AddCard.tsx
  frontend/packages/dev-console/src/components/add/AddCardItem.scss
  frontend/packages/dev-console/src/components/add/AddCardItem.tsx
  frontend/packages/dev-console/src/components/add/AddCardSection.tsx
  frontend/packages/dev-console/src/components/add/AddPageLayout.tsx
  frontend/packages/dev-console/src/components/add/DeveloperFeaturesGettingStartedCard.tsx
  frontend/packages/dev-console/src/components/add/SampleGettingStartedCard.tsx
  frontend/packages/dev-console/src/components/add/__tests__/AddCard.spec.tsx
  frontend/packages/dev-console/src/components/add/__tests__/DeveloperFeaturesGettingStartedCard.spec.tsx
  frontend/packages/dev-console/src/components/add/__tests__/SampleGettingStartedCard.spec.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/__tests__/cluster-setup-alert-receiver-link.spec.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/__tests__/cluster-setup-getting-started-card.spec.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/__tests__/cluster-setup-identity-provider-link.spec.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/__tests__/explore-admin-features-getting-started-card.spec.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/cluster-setup-alert-receiver-link.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/cluster-setup-getting-started-card.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/cluster-setup-identity-provider-link.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/explore-admin-features-getting-started-card.tsx
Labels: approved, component/core, component/dashboard, component/dev-console, component/shared, lgtm

#9087 Bug 1966401: Revamp Ceph Table in Install Wizard flow
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/node-list.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/ceph, lgtm

#9065 Bug 1962429: Images are now saved in redux and can be accessed earlier in vm creation
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/storage-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/selectors/selectors.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm/create-vm.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/dev-console/dev-console-create-vm-form.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/wintools.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-v2v-config-map.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/simple-create.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vmtemplate/customize.ts
  frontend/packages/kubevirt-plugin/src/redux/actions/v2v-config-map-actions.ts
  frontend/packages/kubevirt-plugin/src/redux/index.ts
  frontend/packages/kubevirt-plugin/src/redux/reducers/v2v-config-map-reducer.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#8936 update table column classes for pipeline, helm, revision
  frontend/packages/helm-plugin/src/components/details-page/history/HelmReleaseHistoryHeader.tsx
  frontend/packages/helm-plugin/src/components/details-page/resources/HelmReleaseResourcesHeader.tsx
  frontend/packages/helm-plugin/src/components/forms/rollback/RevisionListHeader.tsx
  frontend/packages/helm-plugin/src/components/list-page/HelmReleaseListHeader.tsx
  frontend/packages/knative-plugin/src/components/routes/route-table.ts
  frontend/packages/operator-lifecycle-manager/src/components/k8s-resource.tsx
  frontend/packages/operator-lifecycle-manager/src/components/subscription.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/list-page/pipeline-table.ts
Labels: approved, component/helm, component/knative, component/olm, component/pipelines, lgtm

#9049 remove visual fix that was breaking patternfly table
  frontend/packages/rhoas-plugin/src/components/service-table/ServiceInstanceTable.scss
  frontend/packages/rhoas-plugin/src/components/service-table/ServiceInstanceTable.tsx
Labels: approved, kind/bug, lgtm, ok-to-test

#9068 Fix keyboard scroll issue of namespaced pages
  frontend/packages/dev-console/src/components/NamespacedPage.scss
Labels: approved, component/dev-console, lgtm

#9080 Update OWNERS for Insights Advisor plugin
  frontend/packages/insights-plugin/OWNERS
Labels: approved, component/insights, lgtm

#9090 updates kafka source gherkin script
  frontend/packages/knative-plugin/integration-tests/features/kafka-event-source/eventing-kafka-event-source.feature
Labels: approved, component/knative, lgtm

#9091 Fix traffic splitting modal crashing UI with no revision loaded
  frontend/packages/knative-plugin/src/utils/traffic-splitting-utils.ts
Labels: approved, component/knative, lgtm

#9093 Update failure_domain field of block pool from storage cluster CR
  frontend/packages/ceph-storage-plugin/src/components/block-pool/body.tsx
  frontend/packages/ceph-storage-plugin/src/types.ts
Labels: approved, component/ceph, lgtm

#9100 Disable portworx operator Cypress test until upstream version change is merged
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-global.spec.ts
Labels: approved, component/olm, lgtm

#9019 Bug 1935087: Align Arbiter text with the new behaviour introduced by BZ #1928319
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/storage-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/capacity-and-nodes.tsx
  frontend/packages/ceph-storage-plugin/src/constants/tooltips.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/ceph, kind/i18n, lgtm, ok-to-test

#9097 Bug 1966520: Add button from ocs add capacity should not be enabled if there are no PV's
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
  frontend/packages/ceph-storage-plugin/src/utils/install.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/ceph, lgtm

#9094 Bug 1942736: update Admin resource translations to new standard
  frontend/public/components/cluster-settings/cluster-operator.tsx
  frontend/public/components/cluster-settings/cluster-version.tsx
  frontend/public/components/cluster-settings/oauth.tsx
  frontend/public/components/custom-resource-definition.tsx
  frontend/public/components/limit-range.tsx
  frontend/public/components/resource-quota.jsx
  frontend/public/locales/en/public.json
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/i18n, lgtm

#9092 ODC-5910-update kafka event source feature file
  frontend/packages/knative-plugin/integration-tests/features/eventing/kafka-event-source.feature
  frontend/packages/knative-plugin/integration-tests/features/kafka-event-source/eventing-kafka-event-source.feature
Labels: approved, component/knative, lgtm

#8701 Bug 1938903: Monitoring dashboards: Add "Custom time range" modal
  frontend/public/components/monitoring/dashboards/custom-time-range-modal.tsx
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/query-browser.tsx
  frontend/public/locales/en/public.json
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/monitoring, docs-approved, kind/i18n, lgtm, px-approved, qe-approved

#8978 Bug 1960612: Make filesystem queries use all devices
  frontend/packages/console-app/src/components/nodes/NodesPage.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/queries.ts
  frontend/packages/console-shared/src/promql/cluster-dashboard.ts
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/queries.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/metal3, component/shared, lgtm

#9062 Gherkin: Devfile samples should be included in Samples catalog & "searchable" via Topology
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-devfile.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/developer-catalog-details.feature
  frontend/packages/dev-console/integration-tests/features/getting-started/sample-card-add-page.feature
  frontend/packages/topology/integration-tests/features/topology/quick-search-topology.feature
Labels: approved, component/dev-console, component/topology, lgtm

#9102 Bug 1964902: rework network policy details page
  frontend/public/components/network-policy.tsx
  frontend/public/locales/en/public.json
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/i18n, lgtm

#9098 ODC 5914 update addflow gherkin scripts
  frontend/packages/dev-console/integration-tests/features/addFlow/add-page.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/create-operator-backed.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/developer-catalog-details.feature
Labels: approved, component/dev-console, component/knative, component/pipelines, lgtm

#9116 handles check for kafkasource update with managed kafka
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/topology/components/knativeComponentUtils.ts
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
Labels: approved, component/knative, kind/bug, kind/i18n, lgtm

#9119 Bug 1967197: Fix 404 errors loading i18n namespaces
  frontend/public/i18n.js
  frontend/webpack.config.ts
Labels: approved, component/core, lgtm

#9084 Allow installation storageClass as default in the add capacity modal
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/storage-class-dropdown.scss
  frontend/packages/ceph-storage-plugin/src/components/modals/storage-class-dropdown.tsx
  frontend/packages/ceph-storage-plugin/src/constants/ocs-install.ts
  frontend/packages/ceph-storage-plugin/src/utils/install.ts
Labels: approved, component/ceph, lgtm

#7670 Bug 1967316: Sweep frontend/public folder for i18n - part 2 (was CONSOLE-2474)
  frontend/public/components/RBAC/edit-rule.jsx
  frontend/public/components/monitoring/alert-manager-config.tsx
  frontend/public/components/monitoring/dashboards/table.tsx
  frontend/public/components/monitoring/query-browser.tsx
  frontend/public/components/monitoring/receiver-forms/slack-receiver-form.tsx
  frontend/public/components/nav/confirmNavUnpinModal.tsx
  frontend/public/components/overview/cron-job-overview.tsx
  frontend/public/components/overview/job-overview.tsx
  frontend/public/components/overview/jobs-overview.tsx
  frontend/public/components/overview/networking-overview.tsx
  frontend/public/components/overview/pod-overview.tsx
  frontend/public/locales/en/public.json
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/backend, component/ceph, component/core, component/dashboard, component/dev-console, component/helm, component/knative, component/kubevirt, component/lso, component/monitoring, component/olm, component/pipelines, component/sdk, component/shared, component/topology, kind/cypress, kind/i18n, lgtm, ok-to-test, px-approved

#9122 Bug 1967208: Use semver to parse version for "Getting started" card
  frontend/packages/console-shared/src/hooks/version.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/add/DeveloperFeaturesGettingStartedCard.tsx
  frontend/packages/dev-console/src/components/add/__tests__/DeveloperFeaturesGettingStartedCard.spec.tsx
  frontend/packages/dev-console/src/components/guided-tour/GuidedTourText.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/__tests__/explore-admin-features-getting-started-card.spec.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/explore-admin-features-getting-started-card.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/dashboard, component/dev-console, component/shared, kind/i18n, lgtm

#8973 Bug 1957457: Support secondary text in ResourceDropdown
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/configure.tsx
  frontend/packages/console-shared/src/components/dropdown/ResourceDropdown.tsx
  frontend/public/components/_dropdown.scss
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/ceph, component/core, component/shared, kind/i18n, lgtm

#8657 Block pool creation testing - cypress
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/block-pool-create.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/multiple-pool.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/block-pool.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/multiple-pool.ts
  frontend/packages/ceph-storage-plugin/src/components/block-pool/body.tsx
  frontend/packages/ceph-storage-plugin/src/components/block-pool/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/modal-footer.tsx
Labels: approved, component/ceph, component/core, kind/i18n, lgtm

#9059 fix terminal new tab redirect
  frontend/packages/console-app/src/components/cloud-shell/CloudShellTab.tsx
  frontend/packages/console-app/src/components/cloud-shell/__tests__/CloudShellTab.spec.tsx
Labels: approved, component/core, lgtm

#9108 ODC-5919-Pipeline Actions script fixes
  frontend/packages/dev-console/integration-tests/support/constants/pageTitle.ts
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-actions.feature
  frontend/packages/pipelines-plugin/integration-tests/support/constants/pipelines.ts
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
Labels: approved, component/dev-console, component/pipelines, lgtm

#9133 Gherkin: customization of available roles in project membership
  frontend/packages/dev-console/integration-tests/features/project/project-access.feature
Labels: approved, component/dev-console, lgtm

#9073 Bug 1966798: [release-4.7] Remove monitoring labelling step for 4.7 tests
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/support/index.ts
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, component/ceph, lgtm

#9147 Make string interpolated in PROGRESS_STATUS function for i18n
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/block-pool/body.tsx
  frontend/packages/ceph-storage-plugin/src/utils/block-pool.tsx
Labels: approved, component/ceph, kind/i18n, lgtm

#8987 [release-4.7] Bug 1962493: Hide TaskRun edit actions for rows in Pipelinerun's TaskRun tab
  frontend/packages/pipelines-plugin/src/components/taskruns/list-page/TaskRunsRow.tsx
  frontend/packages/pipelines-plugin/src/utils/pipeline-actions.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, lgtm

#9129 test: test pseudolocalization of all pages in CRUD tests
  frontend/packages/integration-tests-cypress/tests/crud/k8-openshift-cruds.spec.ts
  frontend/packages/integration-tests-cypress/tests/crud/resource-crud.spec.ts
Labels: approved, kind/cypress, lgtm

#8582 [release-4.7] Bug 1947091: Fix skipped task status when using conditions
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/TaskNode.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, kind/bug, lgtm

#8935 Bug 1960686: Fix hot loop in global config page
  frontend/public/components/cluster-settings/global-config.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, component/core, lgtm, qe-approved

#8895 CONSOLE-2769: Remove console plugin on operator uninstall
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.tsx
Labels: approved, component/core, component/olm, docs-approved, kind/i18n, lgtm, px-approved, qe-approved

#9105 fixes: multiline code snippet buttons doesn't work properly
  frontend/__tests__/components/markdown-view.spec.tsx
  frontend/packages/console-shared/src/components/markdown-extensions/MarkdownExecuteSnippet.tsx
  frontend/packages/console-shared/src/hooks/index.ts
  frontend/public/components/markdown-view.tsx
Labels: approved, component/core, component/shared, lgtm

#9107 Bug 1942125: add i18n for serverless breadcrumbs
  frontend/packages/console-shared/src/hooks/useTabbedTableBreadcrumb.ts
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/models.ts
  frontend/packages/knative-plugin/src/utils/__tests__/fetch-dynamic-eventsources-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/fetch-dynamic-eventsources-utils.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/knative, component/shared, kind/bug, kind/i18n, lgtm

#8859 Bug 1957499: OperatorHub - console accepts any value for infraFeatures
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/index.ts
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-item-details.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-page.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, component/olm, lgtm, qe-approved

#9143 pipeline builder cleanup
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineWorkspaceSuggestionIcon.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarName.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarWhenExpression.tsx
Labels: approved, component/pipelines, kind/bug, kind/i18n, lgtm

#8870 Bug 1959356: Tech preview badge for arbiter
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/_capacity-and-nodes.scss
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/capacity-and-nodes.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, component/ceph, kind/i18n, lgtm, ok-to-test

#9083 [release-4.7]Bug 1958873: Fix disk replacement during second replacement
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/attached-devices-mode/lso-disk-inventory/disk-replacement-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/attached-devices-mode/lso-disk-inventory/ocs-disks-list.tsx
  frontend/packages/ceph-storage-plugin/src/components/attached-devices-mode/lso-disk-inventory/ocs-kebab-options.tsx
  frontend/packages/ceph-storage-plugin/src/components/attached-devices-mode/lso-disk-inventory/ocs-status-column.tsx
  frontend/packages/ceph-storage-plugin/src/components/attached-devices-mode/lso-disk-inventory/state-reducer.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, component/ceph, kind/i18n, lgtm

#8909 fixes: WebTerminal widget should send resize events
  frontend/packages/console-app/src/components/cloud-shell/CloudShellExec.tsx
  frontend/packages/console-app/src/components/cloud-shell/Terminal.tsx
Labels: approved, component/core, kind/bug, lgtm

#9145 Revert unintended changes during translations
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineDetails.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationStepList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/BuilderFinallyNode.tsx
Labels: approved, component/pipelines, kind/bug, kind/i18n, lgtm

#8984 Fix isSubmitting logic of formik forms
  frontend/packages/console-app/src/components/cloud-shell/setup/CloudShellDeveloperSetup.tsx
  frontend/packages/console-app/src/components/modals/resource-limits/ResourceLimitsModal.tsx
  frontend/packages/console-app/src/components/modals/resource-limits/ResourceLimitsModalLauncher.tsx
  frontend/packages/dev-console/src/components/edit-deployment/EditDeploymentForm.tsx
  frontend/packages/dev-console/src/components/health-checks/AddHealthChecks.tsx
  frontend/packages/dev-console/src/components/health-checks/AddHealthChecksForm.tsx
  frontend/packages/dev-console/src/components/hpa/HPAForm.tsx
  frontend/packages/dev-console/src/components/hpa/HPAFormikForm.tsx
  frontend/packages/dev-console/src/components/project-access/ProjectAccess.tsx
  frontend/packages/dev-console/src/components/project-access/ProjectAccessForm.tsx
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradeForm.tsx
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradePage.tsx
  frontend/packages/helm-plugin/src/components/forms/rollback/HelmReleaseRollbackForm.tsx
  frontend/packages/helm-plugin/src/components/forms/rollback/HelmReleaseRollbackPage.tsx
  frontend/packages/knative-plugin/src/components/add/EventSource.tsx
  frontend/packages/knative-plugin/src/components/add/EventSourceForm.tsx
  frontend/packages/knative-plugin/src/components/add/channels/AddChannel.tsx
  frontend/packages/knative-plugin/src/components/add/channels/ChannelForm.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/PubSub.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/PubSubModal.tsx
  frontend/packages/knative-plugin/src/components/revisions/DeleteRevisionModal.tsx
  frontend/packages/knative-plugin/src/components/revisions/DeleteRevisionModalController.tsx
  frontend/packages/knative-plugin/src/components/sink-pubsub/SinkPubsub.tsx
  frontend/packages/knative-plugin/src/components/sink-source/SinkSource.tsx
  frontend/packages/knative-plugin/src/components/sink-uri/SinkUri.tsx
  frontend/packages/knative-plugin/src/components/traffic-splitting/TrafficSplitting.tsx
  frontend/packages/knative-plugin/src/components/traffic-splitting/TrafficSplittingModal.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/add-baremetal-host/AddBareMetalHost.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/ModalStructure.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/PipelineSecretSection.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/start-pipeline/StartPipelineModal.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/AddTriggerModal.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/RemoveTriggerModal.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderPage.tsx
  frontend/packages/topology/src/components/modals/EditApplicationModal.tsx
  frontend/packages/topology/src/components/modals/MoveConnectionModal.tsx
Labels: approved, component/core, component/dev-console, component/helm, component/knative, component/metal3, component/pipelines, component/topology, docs-approved, lgtm, px-approved, qe-approved

#9106 ODC-5916-Fix the pipeline triggers scripts
  frontend/packages/dev-console/integration-tests/support/constants/pageTitle.ts
  frontend/packages/pipelines-plugin/integration-tests/cypress.json
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-triggers.feature
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-triggers.ts
Labels: approved, component/dev-console, component/pipelines, lgtm

#9134 Bug 1967276: Remove tooltips from masthead toolbar
  frontend/packages/console-app/locales/en/cloudshell.json
  frontend/packages/console-app/src/components/cloud-shell/CloudShellMastheadButton.tsx
  frontend/public/components/masthead-toolbar.jsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/i18n, lgtm

#9140 Remove tabIndex from scrollable containers to fix keyboard scroll issue
  frontend/packages/dev-console/src/components/NamespacedPage.scss
  frontend/public/components/app-contents.tsx
  frontend/public/components/app.jsx
  frontend/public/components/sidebars/resource-sidebar.tsx
Labels: approved, component/core, component/dev-console, lgtm

#9017 Bug 1961391: String updates
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/block-pool.ts
  frontend/packages/ceph-storage-plugin/integration-tests/views/multiple-pool.view.ts
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/block-pool/create-block-pool.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/backingstore-table.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/backingstore-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/namespace-store-pages/cache-namespace-store.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/namespace-store-pages/multi-namespace-store.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/namespace-store-pages/single-namespace-store.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-backingstore-page/create-bs-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/buckets-card/buckets-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-external/status-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/activity-card/cluster-expand-activity.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/activity-card/ocs-upgrade-activity.tsx
  frontend/packages/ceph-storage-plugin/src/components/disk-inventory/ocs-disks-list.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/delete-block-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/object-bucket-claim-page/object-bucket-claim.tsx
  frontend/packages/ceph-storage-plugin/src/components/object-bucket-page/object-bucket.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/create-storage-class/create-storage-class-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/review-and-create-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/storage-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/existing-cluster-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/external-mode/install.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/capacity-and-nodes.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/configure.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard-steps/review-and-create.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard-steps/select-capacity-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
  frontend/packages/ceph-storage-plugin/src/components/storage-popover.tsx
  frontend/packages/ceph-storage-plugin/src/constants/bucket-class.ts
  frontend/packages/ceph-storage-plugin/src/constants/tooltips.tsx
  frontend/packages/ceph-storage-plugin/src/utils/block-pool.tsx
  frontend/packages/ceph-storage-plugin/src/utils/common-ocs-install-el.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/ceph, kind/i18n, lgtm, ok-to-test

#8788 Bug 1888517: Text changes in expand PVC modal
  frontend/public/components/modals/expand-pvc-modal.tsx
  frontend/public/locales/en/public.json
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/i18n, lgtm, needs-ok-to-test

#9137 Bug 1966675: Update Image Stream to ImageStream
  frontend/public/components/image-stream.tsx
  frontend/public/locales/en/public.json
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/i18n, lgtm

#9113 Add Codeready Workspaces feature files.
  frontend/packages/dev-console/integration-tests/features/codeready-workspaces/crw-basic.feature
  frontend/packages/dev-console/integration-tests/features/codeready-workspaces/open-app-in-crw.feature
Labels: approved, component/dev-console, lgtm

#9138 Bug 1967713: Show link to the OCM landing page when cluster ID is missing
  frontend/packages/insights-plugin/locales/en/insights-plugin.json
  frontend/packages/insights-plugin/src/components/InsightsPopup/index.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/insights, lgtm

#9155 ODC-5013 - Epic Automation
  frontend/packages/dev-console/integration-tests/features/addFlow/add-page.feature
  frontend/packages/dev-console/integration-tests/support/constants/add.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/page-details.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/operators.ts
Labels: approved, component/dev-console, component/pipelines, kind/i18n, lgtm

#9160 Resized Perspective Switcher to match height of side Nav Items
  frontend/public/components/nav/_nav-header.scss
  frontend/public/components/nav/nav-header.tsx
Labels: approved, component/core, lgtm

#8821 Bug 1934229: Improve performance of ToolbarFilter
  frontend/integration-tests/tests/dashboards/project-dashboard.scenario.ts
  frontend/packages/integration-tests-cypress/tests/crud/namespace-crud.spec.ts
  frontend/public/components/_filter-toolbar.scss
  frontend/public/components/autocomplete.tsx
  frontend/public/components/filter-toolbar.tsx
  frontend/public/components/utils/router.ts
  frontend/public/locales/en/public.json
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, kind/cypress, kind/i18n, lgtm

#9139 Bug 1967717: Rename Insights to Insights Advisor and add missing paragraph
  frontend/packages/insights-plugin/locales/en/insights-plugin.json
  frontend/packages/insights-plugin/src/components/InsightsPopup/index.tsx
  frontend/packages/insights-plugin/src/plugin.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/insights, lgtm

#9089 Bug 1966487: Update IP address on pods list to show podIP other than …
  frontend/public/components/pod.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#9162 Allow passing additional arguments to run-bridge.sh
  examples/run-bridge.sh
Labels: approved, lgtm

#9168 Bug 1966077: Don't show empty hidden fields on operand details page
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/types.ts
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/utils.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/olm, lgtm

#9077 Bug 1965391: Skip to 3rd step when SC present
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/types.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/ceph, lgtm

#9079 CNV-6685: UI: Add preallocation option to advanced VM disk parameters
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/storage-ui-source.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/data-volume-wrapper.ts
  frontend/packages/kubevirt-plugin/src/selectors/dv/selectors.ts
  frontend/packages/kubevirt-plugin/src/types/api/V1alpha1DataVolumeSpec.ts
  frontend/packages/kubevirt-plugin/src/utils/strings.ts
Labels: approved, component/kubevirt, kind/i18n, lgtm

#9099 Block pool management page capitalization
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/multiple-pool.spec.ts
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/block-pool/create-block-pool.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/create-block-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/delete-block-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/update-block-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/models.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Labels: approved, component/ceph, kind/i18n, lgtm

#9165 ODC-5915-update create from git feature scripts
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/addHealthChecks-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-git.ts
Labels: approved, component/dev-console, lgtm

#9111 Omit bitbucket branch in URL if it contains slash
  frontend/packages/topology/src/utils/topology-utils.ts
Labels: approved, component/topology, kind/bug, lgtm

#9167 Add error boundary to topology page
  frontend/packages/topology/src/__tests__/TopologyPage.spec.tsx
  frontend/packages/topology/src/components/graph-view/Topology.tsx
  frontend/packages/topology/src/components/list-view/TopologyListView.tsx
  frontend/packages/topology/src/components/page/TopologyPage.tsx
Labels: approved, component/topology, docs-approved, lgtm, px-approved, qe-approved

#9174 Bug 1969284: Query Browser: Fix resetting the zoom after dragging to zoom
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/monitoring, lgtm

#9128 add cypress automation script for pipeline builder
  frontend/packages/console-shared/src/components/formik-fields/field-types.ts
  frontend/packages/console-shared/src/components/formik-fields/multi-column-field/MultiColumnField.tsx
  frontend/packages/console-shared/src/components/formik-fields/multi-column-field/MultiColumnFieldFooter.tsx
  frontend/packages/console-shared/src/components/formik-fields/multi-column-field/MultiColumnFieldRow.tsx
  frontend/packages/console-shared/src/components/formik-fields/text-column-field/TextColumnField.tsx
  frontend/packages/dev-console/integration-tests/support/commands/app.ts
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-builder-page.feature
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineBuilder-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineDetails-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-from-builder-page.ts
  frontend/packages/pipelines-plugin/integration-tests/testData/pipelines-workspaces/pipeline-task-tkn.yaml
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/OptionalableWorkspace.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineParameters.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineResources.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineWorkspaces.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualization.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationTask.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderVisualization.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarName.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarParam.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarWhenExpression.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarWorkspace.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/BuilderFinallyNode.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/BuilderNode.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/FinallyNode.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/PipelineTopologyGraph.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/TaskList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/WhenExpressionDecorator.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/WhenExpressionForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/__tests__/WhenExpressionDecorator.spec.tsx
  frontend/public/components/masthead-toolbar.jsx
Labels: approved, component/core, component/dev-console, component/pipelines, component/shared, kind/i18n, lgtm

#9130 Explicitly touch pipeline builder task fields when workspaces are changed
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/hooks.ts
Labels: approved, component/pipelines, lgtm

#9132 Update the name and value titles to primary texts
  frontend/public/components/utils/name-value-editor.jsx
Labels: approved, component/core, lgtm

#9154 update eventsources static model version to latest supported
  frontend/packages/knative-plugin/src/models.ts
  frontend/packages/knative-plugin/src/utils/__mocks__/dynamic-event-source-crd-mock.ts
Labels: approved, component/knative, lgtm

#9163 Bug 1966684: Fix creating snapshot for claim <name> string
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/volume-snapshot/create-volume-snapshot/create-volume-snapshot.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/i18n, lgtm

#9166 Inline Event Listener URL
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/EventListenerURL.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/resource-overview/TriggerTemplateResourceLink.tsx
Labels: approved, component/pipelines, lgtm

#9170 Bug 1963209: Some strings in public.json have errors
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/container.tsx
  frontend/public/components/modals/remove-user-modal.tsx
  frontend/public/components/monitoring/receiver-forms/pagerduty-receiver-form.tsx
  frontend/public/locales/en/public.json
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/monitoring, kind/i18n, lgtm

#9169 Bug 1967234: Console is continuously polling for ConsoleLink acm-link
  frontend/public/components/nav/nav-header.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#7720 Bug 1967316: Sweep frontend/public folder for i18n - part 1
  frontend/public/components/cluster-settings/cluster-operator.tsx
  frontend/public/components/factory/modal.tsx
  frontend/public/components/modals/add-secret-to-workload.tsx
  frontend/public/components/modals/configure-ns-pull-secret-modal.jsx
  frontend/public/locales/en/public.json
Labels: approved, component/core, kind/i18n, lgtm, ok-to-test, px-approved

#8940 Fix project access reload and form footer
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/project-access/ProjectAccess.tsx
  frontend/packages/dev-console/src/components/project-access/ProjectAccessForm.scss
  frontend/packages/dev-console/src/components/project-access/ProjectAccessForm.tsx
  frontend/packages/dev-console/src/components/project-access/ProjectAccessPage.tsx
  frontend/packages/dev-console/src/components/project-access/__tests__/ProjectAccess.spec.tsx
  frontend/packages/dev-console/src/components/project-access/__tests__/ProjectAccessForm.spec.tsx
  frontend/packages/dev-console/src/components/project-access/__tests__/project-access-form-utils.spec.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-utils.ts
Labels: approved, component/dev-console, component/shared, kind/bug, kind/i18n, lgtm

#9058 Add pipeline annotation to secrets for private git repo import with pipeline
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
Labels: approved, component/dev-console, kind/bug, lgtm

#9121 Bug 1967207: Update "Getting started resources" links
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/__tests__/explore-admin-features-getting-started-card.spec.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/explore-admin-features-getting-started-card.tsx
  frontend/public/locales/en/public.json
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/dashboard, kind/i18n, lgtm

#9151 Update gherkin files according to test defenition implementation
  frontend/packages/dev-console/integration-tests/features/web-terminal/web-teminal-basic.feature
  frontend/packages/dev-console/integration-tests/features/web-terminal/web-terminal-adminuser.feature
  frontend/packages/dev-console/integration-tests/features/web-terminal/web-terminal-devuser.feature
Labels: approved, component/dev-console, lgtm

#7683 Tier-1 test cases for KMS workflow
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/helpers/vault.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/support/vault-standalone.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/kms-encryption-sc.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/common.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/storage-class.ts
  frontend/packages/ceph-storage-plugin/src/components/kms-config/kms-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/advanced-kms-modal/advanced-kms-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
Labels: approved, component/ceph, component/core, lgtm, ok-to-test

#9173 fix pipeline graph height restriction issue
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/PipelineVisualizationSurface.tsx
Labels: approved, component/pipelines, lgtm

#9175 kubevirt e2e: Scroll dev console add+ tab to bottom
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/devconsole/devconsole.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests/deploy-kubevirt-gating.sh
Labels: approved, component/kubevirt, lgtm

#9177 Topology - Connecting Workloads using Edit Annotations
  frontend/packages/topology/integration-tests/features/topology/topology-connecting-workloads.feature
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-actions-page.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/edit-workload.ts
Labels: approved, component/topology, lgtm

#8380 Bug 1936788: Fix for RBD + RWX Access Mode UI issue
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/access-modes/access-mode.tsx
  frontend/packages/console-app/src/components/modals/clone/clone-pvc-modal.tsx
  frontend/packages/console-app/src/components/modals/restore-pvc/restore-pvc-modal.tsx
  frontend/packages/console-app/src/components/volume-modes/volume-mode.tsx
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/VolumeClaimTemplateForm.tsx
  frontend/public/components/storage/create-pvc.tsx
  frontend/public/components/storage/shared.ts
  frontend/public/locales/en/public.json
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/ceph, component/core, component/kubevirt, component/pipelines, component/shared, kind/i18n, lgtm

#9131 Bug 1969900: Move testing CRDs from v1beta1 to v1
  frontend/packages/console-shared/src/utils/__tests__/test-resource-data.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/mocks/index.tsx
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/descriptors.spec.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/olm, component/shared, lgtm

#8967 Console-2857: port protractor Overview list tests
  frontend/integration-tests/protractor.conf.ts
  frontend/integration-tests/tests/overview/overview.scenario.ts
  frontend/packages/integration-tests-cypress/tests/app/overview.spec.ts
  frontend/packages/integration-tests-cypress/views/overview.ts
Labels: approved, kind/cypress, lgtm

#9103 ODC-5917-Fix the scripts for create-from-add-options feature
  frontend/packages/dev-console/integration-tests/support/constants/pageTitle.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/operators-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/dockerfile-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/index.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/installOperatorOnCluster.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/knativeSubscriptions.ts
  frontend/packages/dev-console/integration-tests/support/pages/operators-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-git.ts
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-add-options.feature
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-from-add-options.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-runs.ts
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-side-pane-page.ts
Labels: approved, component/dev-console, component/pipelines, component/topology, lgtm

#9110 Bug 1966677: Change comma to semicolon
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/modals/add-template-source/add-template-source.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, kind/i18n, lgtm

#9146 add unique name to the radio buttons to avoid name collision
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/VolumeClaimTemplateForm.tsx
Labels: approved, component/pipelines, lgtm

#9152 kubevirt: Add ci scripts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/inclusive-language.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests/ci-scripts/install-virtctl.sh
  frontend/packages/kubevirt-plugin/integration-tests/ci-scripts/setup-storage.sh
Labels: approved, component/kubevirt, lgtm

#9156 Fix issue with selected capacity donut chart
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/create-storage-class/selected-capacity.tsx
Labels: approved, component/ceph, kind/bug, lgtm

#9184 Bug 1967275: Prevent awkward wrap of icons with getting started links and buttons
  frontend/packages/console-shared/src/components/getting-started/GettingStartedCard.tsx
  frontend/packages/console-shared/src/components/getting-started/__tests__/GettingStartedCard.spec.tsx
  frontend/public/style/_common.scss
Labels: approved, component/core, component/shared, lgtm

#9191 Deploy new version of FormWithEditor.
  frontend/packages/kubevirt-plugin/src/components/form-with-editor/FormWithEditor.tsx
  frontend/packages/kubevirt-plugin/src/components/form-with-editor/form-with-editor-utils.ts
Labels: approved, component/kubevirt, lgtm

#9194 Restructure Knative Plugin
  frontend/packages/knative-plugin/integration-tests/features/eventing/event-sources-installation-view.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/eventing-broker.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/eventing-camelk.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/kafka-event-source-actions.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/kafka-source-connection-to-kafka-connection-instance.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/managed-services-kafka-connection.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/actions-on-knative-revision.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/actions-on-knative-service.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/cards-display-on-serverless-operator-installation.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/create-knative-service-from-deployment-or-deployment-config.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/create-knative-workload.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/serverless-function.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/side-bar-of-knative-revision-and-service.feature
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/actions-on-knative-revision.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/actions-on-knative-service.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/create-apache-camel.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/create-knative-workload.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/side-bar-of-knative-revision-and-service.ts
Labels: approved, component/knative, lgtm

#9176 Replace storage class with StorageClass
  frontend/packages/local-storage-operator-plugin/locales/en/lso-plugin.json
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/body.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/header.tsx
Labels: approved, component/lso, kind/i18n, lgtm, ok-to-test

#9182 Bug 1969386: deprecated metric kubevirt_vmi_storage_traffic_bytes_total
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/queries.ts
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-utilization.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, kind/i18n, lgtm

#9197 Bug 1969951: update cluster-local label for ksvc
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-utils.spec.ts
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/knative-plugin/src/utils/__tests__/create-knative-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/create-knative-utils.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, component/knative, kind/bug, lgtm

#8838 Bug 1955220: Bump postcss
  frontend/package.json
  frontend/yarn.lock
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#8660 Block pool update testing - cypress
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/block-pool-update.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/multiple-pool.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/block-pool.ts
Labels: approved, component/ceph, component/core, component/kubevirt, kind/i18n, lgtm

#8863 fix(OCS dashboard): s/namesapce/namespace/ prometheus query typos
  frontend/packages/ceph-storage-plugin/src/queries/object-storage-queries.ts
Labels: approved, component/ceph, lgtm, ok-to-test

#9150 GitOps environment UI page validation
  frontend/packages/gitops-plugin/integration-tests/features/gitops/add-manifest-url.feature
Labels: approved, component/gitops, lgtm

#9164 Update hard coded colors to PF tokens and vars
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/modals/_bs-modal.scss
  frontend/packages/ceph-storage-plugin/src/components/dashboards/common/breakdown-card/utils.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/common/capacity-breakdown/utils.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/raw-capacity-card/raw-capacity-card.tsx
  frontend/packages/console-app/src/components/cloud-shell/CloudShellExec.scss
  frontend/packages/console-shared/src/components/editor/yaml-editor-utils.ts
  frontend/packages/console-shared/src/constants/pod.ts
  frontend/packages/knative-plugin/src/topology/components/groups/KnativeIcon.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/result-tab/error-results.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/result-tab/success-results.tsx
  frontend/packages/kubevirt-plugin/src/components/table/validation-cell.scss
  frontend/packages/operator-lifecycle-manager/src/style.scss
  frontend/packages/pipelines-plugin/src/components/charts/HorizontalStackedBars.scss
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunLogs.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/Sidebar.scss
  frontend/packages/topology/src/components/quick-search/QuickSearchIcon.tsx
  frontend/packages/topology/src/components/svg/SvgDropShadowFilter.tsx
  frontend/packages/topology/src/components/svg/SvgResourceIcon.scss
  frontend/public/components/_autocomplete.scss
  frontend/public/components/_resource.scss
  frontend/public/components/_row-filter.scss
  frontend/public/components/catalog/_catalog.scss
  frontend/public/components/graphs/themes.ts
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/utils/_label.scss
  frontend/public/components/utils/_skeleton-screen.scss
  frontend/public/style/_common.scss
Labels: approved, component/ceph, component/core, component/knative, component/kubevirt, component/monitoring, component/olm, component/pipelines, component/shared, component/topology, lgtm

#9178 Fix rendering of add-capacity modal for smaller screen
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
Labels: approved, component/ceph, lgtm

#9181 Update helm OWNERS
  pkg/helm/OWNERS
Labels: approved, component/backend, lgtm

#9187 Updating the quick starts gherkin scripts with respect to latest UX
  frontend/packages/dev-console/integration-tests/features/guided-tour/associate-pipeline-with-application.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/create-serverless-application.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/getting-started-pipelines.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/getting-started-serverless.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/filter-quick-starts-catalog.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/quick-start-access-code-snippet.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/quick-start-devperspective.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/quick-starts-cluster-overview.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/quickstart-sidepanel-hints.feature
  frontend/packages/dev-console/integration-tests/testData/quick-start/copy-execute-demo.yaml
Labels: approved, component/dev-console, lgtm

#9193 fix guided tour spotlight
  frontend/packages/console-shared/src/components/spotlight/Spotlight.tsx
  frontend/packages/console-shared/src/components/spotlight/__tests__/Spotlight.spec.tsx
Labels: approved, component/shared, lgtm

#9195 Gherkin updation for topology and pipeline
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-git.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-add-options.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-builder-page.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipeline-metrics.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipeline-task-runs-display.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-runs.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-workspaces.feature
  frontend/packages/pipelines-plugin/integration-tests/testData/pipelines-workspaces/demo-optional-resources.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/pipelines-workspaces/sum-three-pipeline.yaml
  frontend/packages/topology/integration-tests/features/topology/pipelines-on-topology.feature
  frontend/packages/topology/integration-tests/features/topology/quick-search-topology.feature
Labels: approved, component/dev-console, component/pipelines, component/topology, lgtm

#9200 show `Stop` pipelinerun action if any of the tasks is running
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-augment.spec.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-actions.tsx
  frontend/packages/pipelines-plugin/src/utils/pipeline-augment.ts
Labels: approved, component/pipelines, kind/bug, lgtm

#9201 CNV-6896: New IP's popover for multi ip's
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-details-card.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/VMIP.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-ip.scss
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm.tsx
Labels: approved, component/kubevirt, kind/i18n, lgtm

#9202 replace storage cluster with StorageCluster in external dashboard
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-external/status-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/status-card/status-card.tsx
Labels: approved, component/ceph, kind/i18n, lgtm, ok-to-test

#9203 Remove &apos; from the text
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/capacity-and-nodes.tsx
Labels: approved, component/ceph, kind/i18n, lgtm

#9204 Bug 1970381: Monitoring dashboards: Custom time range inputs should retain values
  frontend/public/components/monitoring/dashboards/custom-time-range-modal.tsx
  frontend/public/components/utils/datetime.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/monitoring, lgtm

#8763 CONSOLE-2384: Add metrics tab to select resources
  frontend/packages/console-shared/src/promql/resource-metrics.ts
  frontend/public/components/build.tsx
  frontend/public/components/daemon-set.tsx
  frontend/public/components/deployment.tsx
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/query-browser.tsx
  frontend/public/components/pod.tsx
  frontend/public/components/routes.tsx
  frontend/public/components/routes/route-charts.tsx
  frontend/public/components/routes/route-metrics.tsx
  frontend/public/components/stateful-set.tsx
  frontend/public/components/utils/horizontal-nav.tsx
  frontend/public/components/utils/resource-metrics.tsx
  frontend/public/locales/en/public.json
Labels: approved, component/core, component/dashboard, component/monitoring, component/shared, docs-approved, kind/i18n, lgtm, px-approved, qe-approved

#8865 CONSOLE-1338: Add support for multiple documents when importing YAML
  frontend/__tests__/components/import-yaml-results.spec.tsx
  frontend/packages/integration-tests-cypress/tests/crud/bulk-create-resources.spec.ts
  frontend/packages/integration-tests-cypress/views/yaml-editor.ts
  frontend/public/components/_import-yaml-results.scss
  frontend/public/components/droppable-edit-yaml.tsx
  frontend/public/components/edit-yaml.jsx
  frontend/public/components/import-yaml-results.tsx
  frontend/public/components/import-yaml.tsx
  frontend/public/locales/en/public.json
  frontend/public/style.scss
Labels: approved, component/core, docs-approved, kind/cypress, kind/i18n, lgtm, px-approved, qe-approved

#9001 Add support for default repo overwrites
  pkg/helm/actions/fake/helmcrconfigs.go
  pkg/helm/chartproxy/proxy.go
  pkg/helm/chartproxy/proxy_test.go
  pkg/helm/chartproxy/repos.go
  pkg/helm/chartproxy/testdata/mergedRepoOverwriteNoDups.yaml
  pkg/helm/chartproxy/testdata/sampleOverwrite1.yaml
  pkg/helm/chartproxy/testdata/sampleOverwrite2.yaml
Labels: approved, component/backend, lgtm, ok-to-test

#9210 Filter disabled add actions for topology menus
  frontend/packages/dev-console/src/actions/add-resources.tsx
  frontend/packages/dev-console/src/utils/useAddActionExtensions.ts
  frontend/packages/knative-plugin/src/actions/add-channel.tsx
  frontend/packages/knative-plugin/src/actions/add-event-source.tsx
  frontend/packages/knative-plugin/src/topology/create-connector-utils.ts
Labels: approved, component/dev-console, component/knative, lgtm

#9212 ODC-5954-Clean up code for 4.8 release
  frontend/packages/dev-console/integration-tests/.gherkin-lintrc
  frontend/packages/dev-console/integration-tests/cypress.json
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-devfile.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/developer-catalog-details.feature
  frontend/packages/dev-console/integration-tests/features/getting-started/sample-card-add-page.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/quick-start-access-code-snippet.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/quick-start-devperspective.feature
  frontend/packages/dev-console/integration-tests/features/project/project-access.feature
  frontend/packages/gitops-plugin/integration-tests/cypress.json
  frontend/packages/helm-plugin/integration-tests/cypress.json
  frontend/packages/knative-plugin/integration-tests/cypress.json
  frontend/packages/knative-plugin/integration-tests/features/eventing/kafka-source-connection-to-kafka-connection-instance.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/managed-services-kafka-connection.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/create-knative-service-from-deployment-or-deployment-config.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/serverless-function.feature
  frontend/packages/pipelines-plugin/integration-tests/cypress.json
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-builder-page.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipeline-task-runs-display.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-actions.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-triggers.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-workspaces.feature
  frontend/packages/topology/integration-tests/cypress.json
  frontend/packages/topology/integration-tests/features/topology/quick-search-topology.feature
Labels: approved, component/dev-console, component/gitops, component/helm, component/knative, component/pipelines, component/topology, lgtm

#8197 Install workflows - textual updates based on doc review
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/create-storage-class/create-storage-class-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/discover-disks-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/capacity-and-nodes.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard.tsx
  frontend/packages/local-storage-operator-plugin/locales/en/lso-plugin.json
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-discovery/body.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-discovery/create-local-volume-discovery.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/body.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/header.tsx
Labels: approved, component/ceph, component/lso, docs-approved, kind/i18n, lgtm, ok-to-test

#9109 ODC-5920-Fixing Pipeline runs scripts
  frontend/packages/dev-console/integration-tests/support/commands/app.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/topology.ts
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-add-options.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-runs.feature
  frontend/packages/pipelines-plugin/integration-tests/support/commands/hooks.ts
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineBuilder-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineRun-details-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelines-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/common/pipelines.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-from-add-options.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipeline-task-runs-display.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-actions.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-runs.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-triggers.ts
Labels: approved, component/dev-console, component/pipelines, lgtm

#9211 ODC-5918-fixed the create from builder image feature scripts
  frontend/packages/dev-console/integration-tests/features/addFlow/add-page.feature
  frontend/packages/dev-console/integration-tests/features/monitoring/dashboard-display.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-builder-page.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipeline-task-runs-display.feature
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/common/pipelines.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-from-builder-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-workspaces.ts
  frontend/packages/pipelines-plugin/integration-tests/testData/pipelines-workspaces/s2i-build-and-deploy-pipeline-using-workspace.yaml
Labels: approved, component/dev-console, component/pipelines, lgtm

#9207 [release-4.7] Bug 1970485: Add pipeline annotation to secrets for private git repo import with pipeline
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, lgtm

#9115 ODC-5922-pipeline workspaces script fixes
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-workspaces.feature
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-runs.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-workspaces.ts
  frontend/packages/pipelines-plugin/integration-tests/testData/pipelines-workspaces/pipeline-for-config-map-workspaces.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/pipelines-workspaces/s2i-build-and-deploy-pipeline-using-workspace.yaml
Labels: approved, component/dev-console, component/pipelines, lgtm

#8775 Bug 1953606: Fixing failure domain issue with custom pools (4.7 backport)
  frontend/packages/ceph-storage-plugin/src/components/modals/storage-pool-modal/storage-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/types.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, component/ceph, lgtm

#8953 [release-4.7] Bug 1963025: Fix documentation link to network policies
  frontend/public/components/network-policy.jsx
  frontend/public/components/utils/documentation.tsx
  frontend/public/locales/en/network-policy.json
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, component/core, kind/i18n, lgtm, qe-approved

#9085 Bug 1966275: Fix Pipeline Parameters in Modals accept empty string defaults
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/PipelineParameterSection.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/__tests__/utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/types.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/validation-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/utils.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, lgtm

#9190 [release-4.7] Bug 1969791: fixes: WebTerminal widget should send resize events
  frontend/packages/console-app/src/components/cloud-shell/CloudShellExec.tsx
  frontend/packages/console-app/src/components/cloud-shell/Terminal.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, cherry-pick-approved, component/core, lgtm

#9104 Bug 1966672: Update translations for Sprint 201
  frontend/packages/ceph-storage-plugin/locales/ja/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/ko/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/zh/ceph-storage-plugin.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-app/locales/zh/volume-snapshot-content.json
  frontend/packages/console-app/locales/zh/volume-snapshot-details.json
  frontend/packages/console-app/locales/zh/volume-snapshot.json
  frontend/packages/console-shared/locales/ja/console-shared.json
  frontend/packages/console-shared/locales/ko/console-shared.json
  frontend/packages/console-shared/locales/zh/console-shared.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/gitops-plugin/locales/ja/gitops-plugin.json
  frontend/packages/gitops-plugin/locales/ko/gitops-plugin.json
  frontend/packages/gitops-plugin/locales/zh/gitops-plugin.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/ja/lso-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/ko/lso-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/zh/lso-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/operator-lifecycle-manager/locales/ko/olm.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/patternfly/locales/ja/notification-drawer.json
  frontend/packages/patternfly/locales/ko/notification-drawer.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ko/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/ceph, component/core, component/dev-console, component/gitops, component/knative, component/kubevirt, component/lso, component/olm, component/pipelines, component/shared, kind/i18n, lgtm

#9123 Refactor multiple-storage-class-selection tests
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/mocks/storageclass.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/multiple-storageclass-selection.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/multiple-storageclass.ts
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
Labels: approved, component/ceph, lgtm

#9179 Bug 1963027: Upload qcow2 too PVC to small
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form-status.tsx
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form.tsx
  frontend/public/components/utils/request-size-input.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/kubevirt, kind/i18n, lgtm

#9214 translate the page heading in the edit flow
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/edit-application/EditApplication.tsx
  frontend/packages/dev-console/src/components/edit-application/EditApplicationForm.tsx
  frontend/packages/dev-console/src/components/edit-application/__tests__/EditApplicationForm.spec.tsx
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-utils.spec.ts
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
Labels: approved, component/dev-console, kind/bug, kind/i18n, lgtm

#9217 Fix a11y issue in virtualized tables with sortable headers and redesigned add page
  frontend/packages/console-shared/src/components/getting-started/GettingStartedGrid.tsx
  frontend/public/components/factory/table.tsx
Labels: approved, component/core, component/shared, lgtm

#9218 Fix quick starts label text
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/quick-search/utils/quick-search-utils.tsx
Labels: approved, component/topology, kind/bug, kind/i18n, lgtm

#9219 adds feature flag for revision decorator plugin
  frontend/packages/knative-plugin/src/topology/components/decorators/getRevisionRouteDecorator.tsx
  frontend/packages/knative-plugin/src/topology/topology-plugin.ts
Labels: approved, component/knative, lgtm

#8661 Block pool deletion testing - cypress
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/block-pool-delete.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/kms-encryption-sc.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/block-pool.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/storage-class.ts
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/create-block-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/delete-block-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/modal-footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/update-block-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/utils/block-pool.tsx
Labels: approved, component/ceph, component/core, component/kubevirt, kind/i18n, lgtm

#9153 Bug 1967639: fixes: console whitescreens if user settings fails to load
  frontend/packages/console-shared/src/hooks/__tests__/useUserSettings.spec.ts
  frontend/packages/console-shared/src/hooks/useUserSettings.ts
  frontend/packages/console-shared/src/hooks/useUserSettingsLocalStorage.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/shared, lgtm

#9144 Update Web Terminal custom resources to use v1alpha2
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/src/components/cloud-shell/CloudShellExec.tsx
  frontend/packages/console-app/src/components/cloud-shell/CloudShellTerminal.tsx
  frontend/packages/console-app/src/components/cloud-shell/__tests__/CloudShellTerminal.spec.tsx
  frontend/packages/console-app/src/components/cloud-shell/__tests__/cloud-shell-utils.spec.ts
  frontend/packages/console-app/src/components/cloud-shell/cloud-shell-utils.ts
  frontend/packages/console-app/src/components/cloud-shell/setup/CloudShellAdminSetup.tsx
  frontend/packages/console-app/src/components/cloud-shell/setup/CloudShellDeveloperSetup.tsx
  frontend/packages/console-app/src/components/cloud-shell/useCloudShellWorkspace.ts
  frontend/packages/console-app/src/consts.ts
  frontend/packages/console-app/src/models/index.ts
Labels: approved, component/backend, component/core, lgtm

#9225 (fix): Hide RGW storage class in add capacity modal
  frontend/packages/ceph-storage-plugin/src/constants/ocs-install.ts
Labels: approved, component/ceph, lgtm

#9078 Bug 1965909: Replace "Enable Taint Nodes" by "Mark nodes as dedicated"
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/capacity-and-nodes.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/ceph, kind/i18n, lgtm

#9159 No color change on Add card hover
  frontend/packages/console-shared/src/components/getting-started/GettingStartedCard.scss
  frontend/packages/dev-console/src/components/add/AddCardItem.scss
Labels: approved, component/dev-console, component/shared, lgtm

#9135 Bug 1967667: Update translations for Sprint 202 (first half)
  frontend/packages/ceph-storage-plugin/locales/ja/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/ko/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/zh/ceph-storage-plugin.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/ko/volume-snapshot-content.json
  frontend/packages/console-app/locales/ko/volume-snapshot-details.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-shared/locales/ja/console-shared.json
  frontend/packages/console-shared/locales/ko/console-shared.json
  frontend/packages/console-shared/locales/zh/console-shared.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ko/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/packages/rhoas-plugin/locales/ja/rhoas-plugin.json
  frontend/packages/rhoas-plugin/locales/ko/rhoas-plugin.json
  frontend/packages/rhoas-plugin/locales/zh/rhoas-plugin.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/ceph, component/core, component/dev-console, component/gitops, component/knative, component/kubevirt, component/lso, component/olm, component/pipelines, component/shared, kind/i18n, lgtm

#8726 Bug 1949019: - PersistentVolumes page cannot sync project status automatically which will block user to create PV
  frontend/public/components/start-guide.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#9112 cnv-5162: [dev] change mouse cursor and add URL to results step
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/review-tab/general-tab.tsx
Labels: approved, component/kubevirt, kind/i18n, lgtm

#9228 Bug 1971499: Do not render samples column and helm link when add page customization disabled them
  frontend/packages/console-shared/src/components/getting-started/GettingStartedCard.tsx
  frontend/packages/dev-console/src/components/add/DeveloperFeaturesGettingStartedCard.tsx
  frontend/packages/dev-console/src/components/add/SampleGettingStartedCard.tsx
  frontend/packages/dev-console/src/components/add/__tests__/DeveloperFeaturesGettingStartedCard.spec.tsx
  frontend/packages/dev-console/src/components/add/__tests__/SampleGettingStartedCard.spec.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/dev-console, component/shared, lgtm

#9236 Bug 1971544: adds check for kamelet source in provider
  frontend/packages/knative-plugin/src/catalog/useKameletsProvider.ts
  frontend/packages/knative-plugin/src/const.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/knative, kind/bug, lgtm

#9215 Bug 1908772: Fix a11y violation: Dev Console Nav Menu UL contains non-LI elements
  frontend/packages/integration-tests-cypress/support/a11y.ts
  frontend/public/components/nav/_perspective-nav.scss
  frontend/public/components/nav/admin-nav.tsx
  frontend/public/components/nav/index.tsx
  frontend/public/components/nav/perspective-nav.tsx
  frontend/public/components/nav/section.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/cypress, lgtm

#9245 Fix monitoring error box alignment
  frontend/public/components/monitoring/_monitoring.scss
Labels: approved, component/core, component/monitoring, kind/bug, lgtm

#9247 Always use http protocol for gitlab host
  frontend/packages/git-service/src/services/gitlab-service.ts
Labels: approved, component/dev-console, component/git-service, kind/bug, lgtm
