Repository openshift/console, pull requests merged in 2021-04, with the labels that each got.

#8513 Bug 1944602: fixing-project-creation-and-updated-packageJson
  frontend/package.json
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-container-image.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/page-details.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/runtime-Icon-display.feature
  frontend/packages/dev-console/integration-tests/features/common/project-creation.feature
  frontend/packages/dev-console/integration-tests/package.json
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, lgtm

#8526 Bug 1945146: Remove pipeline Tech preview badge for pipelines GA operator
  frontend/packages/pipelines-plugin/src/components/cluster-tasks/ClusterTaskDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/cluster-tasks/ClusterTaskListPage.tsx
  frontend/packages/pipelines-plugin/src/components/conditions/ConditionListPage.tsx
  frontend/packages/pipelines-plugin/src/components/import/pipeline/PipelineSection.tsx
  frontend/packages/pipelines-plugin/src/components/pipeline-resources/list-page/PipelineResourcesListPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunsResourceList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/__tests__/PipelineRunsResourceList.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines-lists/PipelinesListsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelineDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelinesPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelinesResourceList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineConditionDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineResourceDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderHeader.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/TaskRunDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/list-page/TaskRunsListPage.tsx
  frontend/packages/pipelines-plugin/src/components/tasks/TaskDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/tasks/TaskListPage.tsx
  frontend/packages/pipelines-plugin/src/components/tasks/list-page/TasksListsPage.tsx
  frontend/packages/pipelines-plugin/src/models/pipelines.ts
  frontend/packages/pipelines-plugin/src/plugin.tsx
  frontend/packages/pipelines-plugin/src/utils/__tests__/hooks.spec.ts
  frontend/packages/pipelines-plugin/src/utils/hooks.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/pipelines, kind/bug, lgtm

#8539 ODC-5725-Add owners file to topology folder
  frontend/packages/topology/integration-tests/OWNERS
Labels: approved, component/topology, lgtm

#8503 [release-4.7] Bug 1944349: fix backwards incompatible trigger api changes
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/__tests__/submit-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/__tests__/trigger-data.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/remove-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/resource-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/utils/pipeline-operator.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/utils/triggers.ts
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, kind/bug, lgtm

#8489 [release-4.7] Bug 1943643: fix pipeline metrics endpoint for 1.4 osp
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelineDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/__tests__/pipelineDetailsPage.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineRuns.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/__tests__/PipelineRuns.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineDetails.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/types.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/hooks.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetrics.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineRunCount.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineRunDurationGraph.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineRunTaskRunGraph.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineSuccessRatioDonut.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineMetrics.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineRunCount.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineRunDuration.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineRunTaskRunGraph.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineSuccessRatioDonut.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/pipeline-metrics-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/utils/__tests__/pipeline-operator.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/utils/pipeline-operator.ts
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, lgtm

#8514 Bug 1942839: Use digest for virtio-win container image
  frontend/packages/kubevirt-plugin/src/constants/vm/constants.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#8479 Bug 1943356: change "UI extension" to "plugin"
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/console-plugin-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/utils/console-plugin-form-group.tsx
  frontend/packages/operator-lifecycle-manager/src/utils/console-plugin-warning.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/olm, kind/i18n, lgtm

#8387 ODC-5545-cypress cucumber helm setup
  frontend/packages/dev-console/integration-tests/features/helm/actions-on-HelmRelease.feature
  frontend/packages/dev-console/integration-tests/features/helm/helm-Installation-View.feature
  frontend/packages/dev-console/integration-tests/features/helm/helm-Navigation.feature
  frontend/packages/dev-console/integration-tests/features/helm/helm-compatability.feature
  frontend/packages/dev-console/integration-tests/features/helm/helm-feature-flag.feature
  frontend/packages/dev-console/integration-tests/features/helm/install-HelmChart.feature
  frontend/packages/dev-console/integration-tests/features/helm/topology-HelmRelease.feature
  frontend/packages/dev-console/integration-tests/support/constants/global.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/helm-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/catalog-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/createHelmChartFromAddPage.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/createHelmRelease.ts
  frontend/packages/dev-console/integration-tests/support/pages/helm/helm-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/index.ts
  frontend/packages/dev-console/integration-tests/support/pages/topology/topology-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/topology/topology-side-pane-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-catalog.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/helm/helm.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/monitoring/topology-sidebar-actions.ts
  frontend/packages/helm-plugin/integration-tests/README.md
  frontend/packages/helm-plugin/integration-tests/cypress.json
  frontend/packages/helm-plugin/integration-tests/features/BestPractices.md
  frontend/packages/helm-plugin/integration-tests/features/helm/actions-on-helm-release.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-compatibility.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-feature-flag.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-installation-view.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-navigation.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/install-helm-chart.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/topology-helm-release.feature
  frontend/packages/helm-plugin/integration-tests/package.json
  frontend/packages/helm-plugin/integration-tests/reporter-config.json
  frontend/packages/helm-plugin/integration-tests/support/commands/app.ts
  frontend/packages/helm-plugin/integration-tests/support/commands/index.ts
  frontend/packages/helm-plugin/integration-tests/support/constants/index.ts
  frontend/packages/helm-plugin/integration-tests/support/constants/static-text/helm-text.ts
  frontend/packages/helm-plugin/integration-tests/support/pages/helm/helm-details-page.ts
  frontend/packages/helm-plugin/integration-tests/support/pages/helm/helm-page.ts
  frontend/packages/helm-plugin/integration-tests/support/pages/helm/index.ts
  frontend/packages/helm-plugin/integration-tests/support/pages/helm/rollBack-helm-release-page.ts
  frontend/packages/helm-plugin/integration-tests/support/pages/helm/upgrade-helm-release-page.ts
  frontend/packages/helm-plugin/integration-tests/support/pages/index.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-compatibility.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-installation-view.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-navigation.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-release.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm.ts
  frontend/packages/helm-plugin/integration-tests/tsconfig.json
Labels: approved, component/dev-console, component/helm, lgtm

#8392 Bug 1932281: inform user when channels are unknown
  frontend/__mocks__/clusterVersionMock.ts
  frontend/integration-tests/tests/cluster-settings.scenario.ts
  frontend/integration-tests/views/cluster-settings.view.ts
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/modals/cluster-channel-modal.tsx
  frontend/public/locales/en/cluster-channel-modal.json
  frontend/public/locales/en/cluster-settings.json
  frontend/public/module/k8s/cluster-settings.ts
  frontend/public/module/k8s/types.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/i18n, lgtm

#8406 CONSOLE-2524: Add Kata container RuntimeClass to workload detail pages
  frontend/public/components/deployment-config.tsx
  frontend/public/components/deployment.tsx
  frontend/public/components/pod.tsx
  frontend/public/components/replicaset.jsx
  frontend/public/components/replication-controller.jsx
  frontend/public/components/stateful-set.tsx
  frontend/public/components/utils/details-page.tsx
  frontend/public/locales/en/public.json
Labels: approved, component/core, docs-approved, kind/i18n, lgtm, px-approved, qe-approved

#8443 Bug 1933857: Follow on fix to ensure operand details page 404s when no model is found
  frontend/packages/console-shared/src/hooks/useK8sModel.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
  frontend/public/components/utils/details-item.tsx
  frontend/public/components/utils/rbac.tsx
  frontend/public/module/k8s/swagger.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/olm, component/shared, lgtm

#8467 Add extension types for console actions and topology details panel
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/actions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/catalog.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/topology-details.ts
  frontend/packages/console-dynamic-plugin-sdk/src/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/common.ts
  frontend/packages/dev-console/src/components/catalog/providers/useBuilderImages.tsx
  frontend/packages/dev-console/src/components/catalog/providers/useTemplates.tsx
  frontend/packages/dev-console/src/components/catalog/service/CatalogExtensionHookResolver.tsx
  frontend/packages/helm-plugin/src/catalog/providers/useHelmCharts.tsx
  frontend/packages/knative-plugin/src/catalog/useEventSourceProvider.ts
  frontend/packages/knative-plugin/src/catalog/useKameletsProvider.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm/dev-console/use-catalog-vm-templates.tsx
  frontend/packages/operator-lifecycle-manager/src/utils/useClusterServiceVersions.tsx
  frontend/packages/rhoas-plugin/src/catalog/providers/useRhoasCatalog.tsx
Labels: approved, component/dev-console, component/helm, component/knative, component/kubevirt, component/olm, component/sdk, lgtm

#8510 Align checkboxes
  frontend/packages/kubevirt-plugin/src/style.scss
Labels: approved, component/kubevirt, lgtm

#8522 Support URLs in Result values
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/shared/results/ResultsList.tsx
  frontend/packages/pipelines-plugin/src/components/shared/results/__tests__/ResultsList.spec.tsx
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-utils.spec.ts
  frontend/packages/pipelines-plugin/src/utils/__tests__/render-utils.spec.tsx
  frontend/packages/pipelines-plugin/src/utils/pipeline-utils.ts
  frontend/packages/pipelines-plugin/src/utils/render-utils.scss
  frontend/packages/pipelines-plugin/src/utils/render-utils.tsx
Labels: approved, component/pipelines, kind/i18n, lgtm

#8540 Bug 1932673: Virtual machine template provided by red hat should not be editable
  frontend/packages/kubevirt-plugin/src/components/vm-disks/vm-disks.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-nics/vm-nics.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-details-page.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-resource.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/types.ts
  frontend/public/components/utils/details-page.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/core, component/kubevirt, lgtm

#8534 Bug 1916116: Pf update to fix NavExpandable component
  frontend/package.json
  frontend/yarn.lock
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#8372 workspaces in pipeline start modal
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/import/pipeline/pipeline-template-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/PVCDropdown.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/PipelineWorkspacesSection.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/PipelineWorkspacesSection.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/VolumeClaimTemplateForm.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/VolumeClaimTemplateForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/__tests__/utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/types.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/validation-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/start-pipeline/StartPipelineForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/AddTriggerForm.tsx
  frontend/packages/pipelines-plugin/src/test-data/trigger-data.ts
  frontend/packages/pipelines-plugin/src/types/pipelineRun.ts
Labels: approved, component/core, component/pipelines, kind/i18n, lgtm

#8506 Simplify Console extension types
  frontend/package.json
  frontend/packages/console-app/src/components/file-upload/__tests__/file-upload-utils.spec.ts
  frontend/packages/console-app/src/components/file-upload/file-upload-context.ts
  frontend/packages/console-app/src/components/file-upload/file-upload-utils.ts
  frontend/packages/console-dynamic-plugin-sdk/package.json
  frontend/packages/console-dynamic-plugin-sdk/scripts/generate-doc.ts
  frontend/packages/console-dynamic-plugin-sdk/scripts/generate-schema.parsers.ts
  frontend/packages/console-dynamic-plugin-sdk/scripts/generate-schema.ts
  frontend/packages/console-dynamic-plugin-sdk/scripts/parsers/CodeRefTypeReferenceParser.ts
  frontend/packages/console-dynamic-plugin-sdk/scripts/parsers/ConstructorTypeParser.ts
  frontend/packages/console-dynamic-plugin-sdk/scripts/parsers/ExtensionDeclarationParser.ts
  frontend/packages/console-dynamic-plugin-sdk/scripts/templates/console-extensions.md.ejs
  frontend/packages/console-dynamic-plugin-sdk/scripts/utils/path.ts
  frontend/packages/console-dynamic-plugin-sdk/scripts/utils/type-resolver.ts
  frontend/packages/console-dynamic-plugin-sdk/scripts/utils/typescript.ts
  frontend/packages/console-dynamic-plugin-sdk/scripts/validate-extensions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/__tests__/coderef-resolver.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/actions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/add-actions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/catalog.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/cluster-settings.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-internal-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/context-providers.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/feature-flags.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/file-upload.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/navigation.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/pages.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/pvc.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/redux.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/resource-metadata.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/yaml-templates.ts
  frontend/packages/console-dynamic-plugin-sdk/src/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/common.ts
  frontend/packages/console-plugin-sdk/src/codegen/__tests__/active-plugins.spec.ts
  frontend/packages/dev-console/src/components/EmptyState.tsx
  frontend/packages/dev-console/src/components/catalog/hooks/useCatalogExtensions.ts
  frontend/public/actions/features.ts
  frontend/public/module/k8s/types-common.ts
  frontend/public/module/k8s/types.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: approved, component/core, component/dev-console, component/sdk, lgtm

#8492 convert samples page to use catalog extensions
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/catalog.ts
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/catalog/CatalogController.tsx
  frontend/packages/dev-console/src/components/catalog/CatalogPage.tsx
  frontend/packages/dev-console/src/components/catalog/CatalogTile.tsx
  frontend/packages/dev-console/src/components/catalog/catalog-view/CatalogView.tsx
  frontend/packages/dev-console/src/components/catalog/hooks/useCatalogExtensions.ts
  frontend/packages/dev-console/src/components/catalog/providers/index.ts
  frontend/packages/dev-console/src/components/catalog/providers/useBuilderImageSamples.ts
  frontend/packages/dev-console/src/components/catalog/service/CatalogServiceProvider.tsx
  frontend/packages/dev-console/src/components/import/SamplesCatalog.tsx
  frontend/packages/helm-plugin/console-extensions.json
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/operator-lifecycle-manager/console-extensions.json
  frontend/packages/rhoas-plugin/console-extensions.json
  frontend/packages/topology/src/components/quick-search/QuickSearch.tsx
Labels: approved, component/dev-console, component/helm, component/knative, component/kubevirt, component/olm, component/sdk, component/topology, kind/i18n, lgtm

#8520 Adding data test for ssh cypress tests
  frontend/packages/kubevirt-plugin/src/components/form/helper/container-source-help.tsx
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHCreateService/SSHCreateService.tsx
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHDetailsPage/SSHDetailsPage.tsx
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHPopover/SSHPopover.tsx
  frontend/packages/kubevirt-plugin/src/hooks/use-ssh-keys.ts
Labels: approved, component/kubevirt, lgtm

#8266 Adds support for creating single namespace store bucket class
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/bucket-class-spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/bc.ts
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/backingstore-table.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/create-bc.scss
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/create-bc.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/modals/edit-backingstore-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/review-utils.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/state.ts
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/backingstore-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/general-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/namespace-policy-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/namespace-store-pages/single-namespace-store.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/placement-policy-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/review-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-backingstore-page/create-bs-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-backingstore-page/create-bs-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-backingstore-page/create-bs.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/capacity-breakdown/capacity-breakdown-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/create-namespace-store.tsx
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/namespace-store-dropdown.tsx
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/namespace-store-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/object-bucket-claim-page/create-obc.tsx
  frontend/packages/ceph-storage-plugin/src/constants/bucket-class.ts
  frontend/packages/ceph-storage-plugin/src/constants/providers.ts
  frontend/packages/ceph-storage-plugin/src/utils/bucket-class.ts
Labels: approved, component/ceph, component/core, component/dev-console, component/helm, component/knative, component/kubevirt, component/noobaa, component/pipelines, component/sdk, component/shared, component/topology, kind/i18n, lgtm

#8559 Bug 1945630: Fix default resource log download file name
  frontend/public/components/utils/resource-log.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#8553 Monitoring dashboards: All optional "All" to variable dropdowns
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, component/core, component/monitoring, lgtm

#8557 Organize remaining files
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/customize-source.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/source-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/template-support.spec.ts
Labels: approved, component/kubevirt, lgtm

#8504 Bug 1936620: Fix create operand form default boolean field
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/dynamic-form/fields.tsx
  frontend/packages/console-shared/src/components/dynamic-form/widgets.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/spec-descriptor-input.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/olm, component/shared, kind/i18n, lgtm

#8544 Monitoring: Tidy files & imports
  frontend/packages/console-shared/src/utils/alert-utils.ts
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlerts.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlertsRulesDetailsPage.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/SilenceAlert.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/SilenceDurationDropdown.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/monitoring-alerts-utils.tsx
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/factory/table.tsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/dashboards/table.tsx
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/components/monitoring/silence-form.tsx
  frontend/public/components/monitoring/table-pagination.tsx
  frontend/public/components/monitoring/utils.ts
  frontend/public/reducers/monitoring.ts
  frontend/public/reducers/ui.ts
Labels: approved, component/core, component/dev-console, component/monitoring, component/shared, kind/cleanup, lgtm

#8476 Create KSVC with min/max scale if workload has related HPA
  frontend/packages/knative-plugin/src/actions/knatify.ts
  frontend/packages/knative-plugin/src/components/knatify/CreateKnatifyPage.tsx
  frontend/packages/knative-plugin/src/components/knatify/__tests__/CreateKnatifyPage.spec.tsx
  frontend/packages/knative-plugin/src/utils/__tests__/knatify-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-serving-data.ts
  frontend/packages/knative-plugin/src/utils/knatify-utils.ts
Labels: approved, component/knative, lgtm

#8342 Rework terminal to check if the operator is installed before showing the terminal button
  pkg/terminal/operator.go
  pkg/terminal/proxy.go
Labels: approved, component/backend, component/dev-console, component/knative, component/noobaa, component/pipelines, kind/i18n, lgtm

#8568 Bug 1937717: Set a kebab column in the template list
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/source-image.spec.ts
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/VMTemplateRow.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/VMTemplateTable.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/utils.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#8570 Bug 1937941: Fix wording for favorite templates
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vm-templates/menu-actions.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/os-icons.scss
  frontend/packages/kubevirt-plugin/src/components/vm-templates/os-icons.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, kind/i18n, lgtm, ok-to-test

#7736 CONSOLE-2400: Bump react to v17
  frontend/before-tests.js
  frontend/package.json
  frontend/yarn.lock
Labels: approved, docs-approved, kind/dependency-change, lgtm, px-approved, qe-approved

#8330 Pool management - Update block pool
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/block-pool/body.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/create-block-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/modal-footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/update-block-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/constants/storage-pool-const.ts
  frontend/packages/ceph-storage-plugin/src/utils/block-pool.tsx
Labels: approved, component/ceph, component/olm, component/sdk, kind/i18n, lgtm

#8525 updates icon for serverless functions
  frontend/public/components/catalog/catalog-item-icon.tsx
  frontend/public/imgs/logos/serverlessfx.png
  frontend/public/imgs/logos/serverlessfx.svg
Labels: approved, component/core, lgtm

#8538 Embedded Tasks in Pipeline Builder
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationTask.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderVisualization.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/__tests__/utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/__tests__/validation-utils-data.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/__tests__/validation-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/hooks.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebar.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebar.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarHeader.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarHeader.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/types.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/validation-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/types.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/resource-utils.ts
  frontend/packages/pipelines-plugin/src/test-data/pipeline-data.ts
  frontend/packages/pipelines-plugin/src/types/coreTekton.ts
  frontend/packages/pipelines-plugin/src/types/pipeline.ts
  frontend/packages/pipelines-plugin/src/types/task.ts
  frontend/packages/pipelines-plugin/src/types/taskRun.ts
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-actions.spec.ts
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-augment.spec.ts
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-utils.spec.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-actions.tsx
  frontend/packages/pipelines-plugin/src/utils/pipeline-augment.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-utils.ts
Labels: approved, component/pipelines, kind/i18n, lgtm

#8554 Test vm ssh connect - cypress
  frontend/packages/kubevirt-plugin/integration-tests-cypress/README.md
  frontend/packages/kubevirt-plugin/integration-tests-cypress/cypress.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/fixtures/ssh.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh-advanced-wizard-testing.includes.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh-simple-wizard-test.includes.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh.spec.ts
  frontend/packages/kubevirt-plugin/src/components/modals/support-modal/support-modal.tsx
Labels: approved, component/kubevirt, lgtm

#8577 Fix skipped task status when using conditions
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/FinallyNode.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/TaskNode.tsx
Labels: approved, component/pipelines, lgtm

#8565 cypress tests for ssh
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh-secret-testing.includes.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh-service-testing.includes.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh-vm-details-page-testing.includes.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh.spec.ts
Labels: approved, component/kubevirt, lgtm

#8586 Fix for Protractor project details dashboard card (Labels) test
  frontend/integration-tests/tests/dashboards/project-dashboard.scenario.ts
Labels: approved, lgtm

#8088 converting global config extension to dynamic-plugin-sdk
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/src/plugin.tsx
  frontend/public/components/cluster-settings/global-config.tsx
Labels: approved, component/core, component/knative, component/kubevirt, component/monitoring, component/sdk, kind/i18n, lgtm

#8458 Create Edit flow for Upload Jar Form
  frontend/packages/dev-console/src/components/edit-application/EditApplication.tsx
  frontend/packages/dev-console/src/components/edit-application/EditApplicationForm.tsx
  frontend/packages/dev-console/src/components/edit-application/__tests__/EditApplicationForm.spec.tsx
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-data.ts
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-utils.spec.ts
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/import/jar/UploadJar.tsx
  frontend/packages/dev-console/src/components/import/jar/useUploadJarFormToast.ts
  frontend/packages/dev-console/src/components/import/upload-jar-submit-utils.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-serving-data.ts
  frontend/packages/knative-plugin/src/utils/create-knative-utils.ts
  frontend/packages/topology/src/actions/modify-application.ts
Labels: approved, component/dev-console, component/knative, component/topology, kind/i18n, lgtm

#8566 Bug 1946449: fix cloud init tests as UI changed
  frontend/packages/kubevirt-plugin/integration-tests/tests/mocks/vmBuilderPresets.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.wizard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/wizard.view.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#8574 update label app.kubernetes.io/name and remove unused yamls
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/dev-console/src/components/import/__mocks__/deployImage-validation-mock.ts
  frontend/packages/dev-console/src/utils/__tests__/__snapshots__/shared-submit-utils.spec.ts.snap
  frontend/packages/dev-console/src/utils/resource-label-utils.ts
  frontend/packages/dev-console/yamls/applications/analytics/build.yaml
  frontend/packages/dev-console/yamls/applications/analytics/deployment.yaml
  frontend/packages/dev-console/yamls/applications/analytics/imagestream.yaml
  frontend/packages/dev-console/yamls/applications/analytics/route.yaml
  frontend/packages/dev-console/yamls/applications/analytics/service.yaml
  frontend/packages/dev-console/yamls/applications/wit/build.yaml
  frontend/packages/dev-console/yamls/applications/wit/deployment.yaml
  frontend/packages/dev-console/yamls/applications/wit/imagestream.yaml
  frontend/packages/dev-console/yamls/applications/wit/route.yaml
  frontend/packages/dev-console/yamls/applications/wit/service.yaml
  frontend/packages/dev-console/yamls/catalog_source3.yaml
  frontend/packages/dev-console/yamls/catalog_source4.yaml
  frontend/packages/dev-console/yamls/pipelines/exp.yaml
  frontend/packages/dev-console/yamls/pipelines/install_pipeline_mocks.sh
  frontend/packages/dev-console/yamls/pipelines/pipeline.yaml
  frontend/packages/dev-console/yamls/pipelines/pipelinerun.yaml
  frontend/packages/dev-console/yamls/pipelines/resources.yaml
  frontend/packages/dev-console/yamls/pipelines/task.yaml
  frontend/packages/dev-console/yamls/pipelines/taskrun.yaml
  frontend/packages/dev-console/yamls/subscription3.yaml
  frontend/packages/dev-console/yamls/subscription4.yaml
Labels: approved, component/dev-console, lgtm

#8497 Adds UI support for creating cache bucket class
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/create-bc.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/review-utils.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/state.ts
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/namespace-store-pages/cache-namespace-store.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/namespace-store-pages/single-namespace-store.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/review-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-backingstore-page/backing-store-dropdown.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-backingstore-page/create-bs.tsx
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/namespace-store-dropdown.tsx
  frontend/packages/ceph-storage-plugin/src/constants/bucket-class.ts
  frontend/packages/ceph-storage-plugin/src/utils/bucket-class.ts
  frontend/packages/ceph-storage-plugin/src/utils/time-duration-dropdown.tsx
Labels: approved, component/ceph, kind/i18n, lgtm

#8576 Add support for MultiColumnField to support multiline
  frontend/packages/console-shared/src/components/formik-fields/field-types.ts
  frontend/packages/console-shared/src/components/formik-fields/multi-column-field/MultiColumnField.scss
  frontend/packages/console-shared/src/components/formik-fields/multi-column-field/MultiColumnField.tsx
  frontend/packages/console-shared/src/components/formik-fields/multi-column-field/MultiColumnFieldRow.tsx
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/OptionalableWorkspace.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineWorkspaces.tsx
Labels: approved, component/pipelines, component/shared, kind/i18n, lgtm

#8580 Bug 1941915: Added validation check for in progress custom boot source template name
  frontend/packages/kubevirt-plugin/src/components/vm-templates/customize-source/CustomizeSourceForm.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#8161 Replaces _.get with optional chaining in Ceph Storage Plugin
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/helpers/installation.ts
  frontend/packages/ceph-storage-plugin/integration-tests/tests/2-tests/add-capacity.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/utils/helpers.ts
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/activity-card/data-resiliency-activity/data-resiliency-activity.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/capacity-breakdown-card/capacity-breakdown-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/inventory-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/top-consumers-card/top-consumers-card-body.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/top-consumers-card/utils.ts
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/utilization-card/utils.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/storage-class-dropdown.tsx
  frontend/packages/ceph-storage-plugin/src/selectors/index.ts
  frontend/packages/ceph-storage-plugin/src/utils/dashboard.ts
Labels: approved, component/ceph, component/sdk, lgtm, ok-to-test

#8432 Bug 1935176: Indicate single node deployment on cluster overview page
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/dashboards-page/status.ts
  frontend/packages/console-demo-plugin/src/components/dashboards/health.ts
  frontend/packages/console-plugin-sdk/src/typings/dashboards.ts
  frontend/packages/console-shared/src/selectors/infrastructure.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/details-card.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/health-item.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/status-card.scss
  frontend/public/locales/en/dashboard.json
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/dashboard, component/insights, component/sdk, component/shared, kind/i18n, lgtm

#8224 Reconcile resolved extension types
  frontend/dynamic-demo-plugin/src/utils/bar.ts
  frontend/packages/console-app/src/components/file-upload/__tests__/file-upload-utils.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/common-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/useResolvedExtensions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/__tests__/coderef-resolver.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/__tests__/coderef-utils.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/coderef-resolver.ts
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/coderef-utils.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/actions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/catalog.ts
  frontend/packages/console-dynamic-plugin-sdk/src/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/promise.ts
  frontend/packages/dev-console/src/components/EmptyState.tsx
  frontend/packages/helm-plugin/src/topology/helm-topology-plugin.tsx
  frontend/packages/knative-plugin/src/providers/index.ts
  frontend/packages/knative-plugin/src/topology/topology-plugin.ts
  frontend/packages/kubevirt-plugin/src/topology/topology-plugin.ts
  frontend/packages/pipelines-plugin/src/topology/pipelinesTopologyPlugin.ts
  frontend/packages/rhoas-plugin/src/plugin.ts
  frontend/packages/rhoas-plugin/src/topology/rhoas-topology-plugin.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/defaultDecoratorsPlugin.ts
  frontend/packages/topology/src/components/page/TopologyView.tsx
  frontend/packages/topology/src/operators/operatorsTopologyPlugin.ts
  frontend/public/actions/features.ts
  frontend/public/components/app.jsx
  frontend/public/components/factory/details.tsx
  frontend/public/reducers/features.ts
Labels: approved, component/core, component/dev-console, component/helm, component/knative, component/kubevirt, component/pipelines, component/sdk, component/topology, lgtm

#8411 Bug 1940361: enhance vm action test with storageClass HPP
  frontend/packages/kubevirt-plugin/integration-tests/tests/cdi-upload.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/baseVirtualMachine.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/scripts/expect-login.sh
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.action.clone.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.action.migration.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.list-filtering.scenario.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#8474 Bug 1942716: Fix different Image Manifest Vulnerabilities issues
  frontend/packages/container-security/src/components/__tests__/image-manifest-vuln.spec.tsx
  frontend/packages/container-security/src/components/image-manifest-vuln.tsx
  frontend/packages/container-security/src/const.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, kind/bug, lgtm

#8579 Bug 1930015 - OS list is overlapped by buttons in template wizard
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard-footer.scss
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard-footer.tsx
Labels: approved, component/kubevirt, lgtm, ok-to-test

#8293 Adds support for creating multi namespace bucket class
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/backingstore-table.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/create-bc.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/modals/edit-backingstore-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/namespace-store-pages/multi-namespace-store.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/review-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/namespace-store-dropdown.tsx
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/namespace-store-table.scss
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/namespace-store-table.tsx
  frontend/packages/ceph-storage-plugin/src/utils/noobaa-utils.ts
Labels: approved, component/ceph, component/core, component/noobaa, kind/i18n, lgtm

#8471 Bug 1942749: standardize field level help to use FieldLevelHelp
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/catalog/catalog-view/CatalogTypeSelector.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
  frontend/packages/operator-lifecycle-manager/src/utils/console-plugin-form-group.tsx
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/storage/create-pvc.tsx
  frontend/public/components/utils/field-level-help.tsx
  frontend/public/style/_common.scss
  frontend/public/style/_forms.scss
  frontend/public/style/_overrides.scss
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/dev-console, component/olm, kind/i18n, lgtm

#8521 Fix remove trigger issue
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/EventListenerDetails.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/EventListenerTriggers.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/__tests__/EventListenerDetails.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/RemoveTriggerForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/TriggerTemplateSelector.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/__tests__/remove-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/__tests__/submit-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/remove-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/resource-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/submit-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/resource-types/triggers.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/utils/triggers.ts
  frontend/packages/pipelines-plugin/src/models/pipelines.ts
  frontend/packages/pipelines-plugin/src/test-data/event-listener-data.ts
Labels: approved, component/pipelines, kind/bug, kind/i18n, lgtm

#8581 Add support for conditionally task in pipeline visualization
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualization.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationTask.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/FinallyNode.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/FinallyNode.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/WhenExpressionDecorator.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/WhenExpressionDecorator.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/__tests__/WhenExpressionDecorator.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/__tests__/utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/factories.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/utils.ts
Labels: approved, component/pipelines, kind/feature, kind/i18n, lgtm

#8515 View shortcuts on the topology list view
  frontend/packages/console-shared/src/components/shortcuts/Shortcut.tsx
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/__tests__/TopologyPageToolbar.spec.tsx
  frontend/packages/topology/src/__tests__/TopologyShortcuts.spec.tsx
  frontend/packages/topology/src/components/graph-view/TopologyShortcuts.tsx
  frontend/packages/topology/src/components/page/TopologyPageToolbar.tsx
Labels: approved, component/shared, component/topology, kind/bug, kind/i18n, lgtm

#8518 Kafka Source creation form to support bootstrap server host from KC
  frontend/packages/knative-plugin/src/components/add/event-sources/EventSourceSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/KafkaSourceSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/__tests__/KafkaSourceSection.spec.tsx
  frontend/packages/knative-plugin/src/utils/__tests__/create-eventsources-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-serving-data.ts
  frontend/packages/knative-plugin/src/utils/create-eventsources-utils.ts
  frontend/packages/knative-plugin/src/utils/get-knative-resources.ts
Labels: approved, component/knative, lgtm

#8569 Add support for Alert Action in Dynamic SDK
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/package.json
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/status-card/status-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/status-card/status-card.tsx
  frontend/packages/ceph-storage-plugin/src/plugin.ts
  frontend/packages/ceph-storage-plugin/src/utils/alert-action-path.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/notification-alert.ts
  frontend/packages/console-dynamic-plugin-sdk/src/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
  frontend/packages/console-plugin-sdk/src/typings/index.ts
  frontend/packages/console-plugin-sdk/src/typings/notification-alerts.ts
  frontend/packages/console-shared/src/components/dashboard/status-card/AlertItem.tsx
  frontend/packages/local-storage-operator-plugin/src/plugin.ts
  frontend/packages/patternfly/src/components/notification-drawer/notification-entry.tsx
  frontend/public/components/notification-drawer.tsx
Labels: approved, component/ceph, component/core, component/dashboard, component/lso, component/sdk, component/shared, kind/i18n, lgtm

#8573 add support for workspaces
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarWorkspace.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/validation-utils.ts
  frontend/packages/pipelines-plugin/src/components/shared/workspaces/VolumeClaimTemplateLink.tsx
  frontend/packages/pipelines-plugin/src/components/shared/workspaces/WorkspaceDefinitionList.tsx
  frontend/packages/pipelines-plugin/src/components/shared/workspaces/WorkspaceResourceLinkList.tsx
  frontend/packages/pipelines-plugin/src/components/shared/workspaces/__tests__/WorkspaceDefinitionList.spec.tsx
  frontend/packages/pipelines-plugin/src/components/shared/workspaces/__tests__/WorkspaceResourceLinkList.spec.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/__tests__/taskrun-test-data.ts
  frontend/packages/pipelines-plugin/src/test-data/pipeline-data.ts
  frontend/packages/pipelines-plugin/src/types/coreTekton.ts
  frontend/packages/pipelines-plugin/src/types/pipeline.ts
Labels: approved, component/pipelines, component/shared, kind/i18n, lgtm

#8589 Adds description in bucket class dropdown for OBC page
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/object-bucket-claim-page/create-obc.tsx
Labels: approved, component/ceph, kind/i18n, lgtm

#8519 Bug 1942557: Remove cluster label from predefined monitoring queries
  frontend/packages/dev-console/src/components/monitoring/queries.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, kind/bug, lgtm

#8590 Bug 1866331: Add tooltips
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/buckets-card/buckets-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/capacity-breakdown/capacity-breakdown-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/data-consumption-card/data-consumption-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/storage-efficiency-card/storage-efficiency-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/capacity-breakdown-card/capacity-breakdown-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/raw-capacity-card/raw-capacity-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/storage-efficiency-card/storage-efficiency-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/utilization-card/utilization-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/storage-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/capacity-and-nodes.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/configure.tsx
  frontend/packages/ceph-storage-plugin/src/constants/tooltips.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/ceph, kind/i18n, lgtm, ok-to-test

#8592 Gherkin script for updating empty state of topology-ODC-5595
  frontend/packages/topology/integration-tests/features/topology/quick-search-from-topology-views-to-add-to-project.feature
  frontend/packages/topology/integration-tests/features/topology/topology-chart-area-visual.feature
Labels: approved, component/topology, lgtm

#8496 Bug 1866318: [RHOCS Usability Study][Dashboard] Users found it difficult to navigate to the OCS dashboard
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/noobaa-sso.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/object-service-dashboards.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/ocs-presistent-dashboard.spec.ts
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/dashboards/ocs-dashboards.tsx
  frontend/packages/ceph-storage-plugin/src/plugin.ts
  frontend/packages/console-demo-plugin/src/plugin.tsx
  frontend/packages/console-plugin-sdk/src/typings/dashboards.ts
  frontend/public/components/dashboard/dashboards-page/dashboards.tsx
  frontend/public/components/nav/admin-nav.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/ceph, component/core, component/dashboard, component/sdk, kind/i18n, lgtm, ok-to-test

#8578 Fixes inconsistency in tables in attached devices
  frontend/packages/local-storage-operator-plugin/locales/en/lso-plugin.json
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-discovery/body.scss
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-discovery/body.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/body.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/create-local-volume-set.scss
  frontend/packages/local-storage-operator-plugin/src/components/tables/nodes-table.scss
  frontend/packages/local-storage-operator-plugin/src/components/tables/nodes-table.tsx
Labels: approved, component/lso, kind/i18n, lgtm, ok-to-test

#8481 Bug 1943449: Bump hosted-git-info package as part of CVE
  frontend/package.json
  frontend/yarn.lock
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#8555 Gherkin Script for Enhancements for feature parity with Tekton-ODC-5151
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipeline-task-runs-display.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-runs.feature
Labels: approved, component/pipelines, lgtm

#8588 Gherkin script for Form based edit for Deployment & DeploymentConfig-ODC-5007
  frontend/packages/topology/integration-tests/features/topology/topology-editing-app-node.feature
Labels: approved, component/topology, lgtm

#8594 Adds support to edit bucket class with namespace store resources
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/modals/edit-backingstore-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/general-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/namespace-store-pages/cache-namespace-store.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/namespace-store-pages/multi-namespace-store.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/namespace-store-pages/single-namespace-store.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-backingstore-page/backing-store-dropdown.tsx
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/namespace-store-dropdown.tsx
  frontend/packages/ceph-storage-plugin/src/features.ts
  frontend/packages/ceph-storage-plugin/src/types.ts
Labels: approved, component/ceph, kind/i18n, lgtm

#8599 Make multus behaviour common between two modes
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard-steps/configure.tsx
Labels: approved, component/ceph, lgtm

#8337 Bug 1910500: Fixes CSI provisioner additional parameters
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.scss
  frontend/public/components/storage-class-form.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/ceph, component/core, lgtm, ok-to-test

#8457 show modal for editing resource limits
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/actions/edit-resource-limits.ts
  frontend/packages/console-app/src/components/modals/resource-limits/ResourceLimitsModal.tsx
  frontend/packages/console-app/src/components/modals/resource-limits/ResourceLimitsModalLauncher.tsx
  frontend/packages/console-app/src/components/modals/resource-limits/__tests__/ResourceLimitsModal.spec.tsx
  frontend/packages/console-app/src/components/modals/resource-limits/index.ts
  frontend/packages/console-shared/src/types/resource.ts
  frontend/packages/console-shared/src/utils/__tests__/resource-utils.spec.ts
  frontend/packages/console-shared/src/utils/resource-utils.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/dev-console/src/components/hpa/hpa-utils.ts
  frontend/packages/dev-console/src/components/import/advanced/ResourceLimitSection.tsx
  frontend/packages/dev-console/src/components/import/advanced/__tests__/ResourceLimitSection.spec.tsx
  frontend/packages/dev-console/src/components/import/deployImage-submit-utils.ts
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/import/upload-jar-submit-utils.ts
  frontend/packages/knative-plugin/src/utils/__tests__/kebab-actions.spec.ts
  frontend/packages/knative-plugin/src/utils/kebab-actions.ts
  frontend/packages/knative-plugin/src/utils/knatify-utils.ts
  frontend/public/components/deployment-config.tsx
  frontend/public/components/deployment.tsx
  frontend/public/locales/en/modal.json
Labels: approved, component/core, component/dev-console, component/knative, component/shared, kind/feature, kind/i18n, lgtm

#8575 Bug 1942193: Override default PF Accordion blue border on the edit Operator form. Only target the field group heading when used to display dynamic form field groups.
  frontend/packages/operator-lifecycle-manager/src/components/operand/operand-form.tsx
  frontend/public/style/_overrides.scss
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/olm, lgtm

#8602 Bug 1848151: Don't poll ClusterVersion when user doesn't have authority
  frontend/public/components/notification-drawer.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#8424 Bug 1940905: [release-4.6] Remove master as default branch and use only when ref is given
  frontend/packages/dev-console/src/components/import/git/AdvancedGitOptions.tsx
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/dockerfile.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/files-golang.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/files-java.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/files-modern-webapp.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/files-nodejs.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/no-dockerfile.json
  frontend/packages/git-service/src/services/__tests__/github-service.spec.ts
  frontend/packages/git-service/src/services/github-service.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, component/git-service, lgtm

#8378 CONSOLE-2379: Add build config for dynamic plugin SDK
  frontend/.eslintignore
  frontend/@types/console/index.d.ts
  frontend/packages/console-dynamic-plugin-sdk/.gitignore
  frontend/packages/console-dynamic-plugin-sdk/package.json
  frontend/packages/console-dynamic-plugin-sdk/scripts/generate-pkg-assets.ts
  frontend/packages/console-dynamic-plugin-sdk/scripts/generate-schema.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/api-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/coderef-resolver.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/actions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/add-actions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/catalog.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/cluster-settings.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-internal-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/context-providers.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/feature-flags.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/file-upload.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/navigation.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/pages.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/pvc.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/redux.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/resource-metadata.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/yaml-templates.ts
  frontend/packages/console-dynamic-plugin-sdk/src/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-manifest.ts
  frontend/packages/console-dynamic-plugin-sdk/src/types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/store.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/test-utils.ts
  frontend/packages/console-dynamic-plugin-sdk/src/webpack/ConsoleAssetPlugin.ts
  frontend/packages/console-dynamic-plugin-sdk/src/webpack/ConsoleRemotePlugin.ts
  frontend/packages/console-dynamic-plugin-sdk/tsconfig.json
  frontend/packages/console-plugin-sdk/src/__tests__/store.spec.ts
  frontend/packages/console-plugin-sdk/src/api/useExtensions.ts
  frontend/packages/console-plugin-sdk/src/store.ts
  frontend/packages/console-plugin-sdk/src/typings/base.ts
  frontend/public/components/utils/k8s-watch-hook.ts
  frontend/public/module/k8s/types.ts
  frontend/public/plugins.ts
  frontend/yarn.lock
Labels: approved, component/ceph, component/core, component/dashboard, component/dev-console, component/helm, component/knative, component/kubevirt, component/monitoring, component/olm, component/pipelines, component/sdk, component/shared, component/topology, lgtm

#8550 Pool management - delete
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/multiple-pool.ts
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/block-pool/create-block-pool.tsx
  frontend/packages/ceph-storage-plugin/src/components/block-pool/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/create-block-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/delete-block-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/modal-footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/update-block-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/constants/storage-pool-const.ts
  frontend/packages/ceph-storage-plugin/src/selectors/index.ts
  frontend/packages/ceph-storage-plugin/src/types.ts
  frontend/packages/ceph-storage-plugin/src/utils/block-pool.tsx
  frontend/packages/ceph-storage-plugin/src/utils/common.ts
Labels: approved, component/ceph, kind/i18n, lgtm

#8597 Add support to override and hide CSV Actions
  frontend/packages/ceph-storage-plugin/src/plugin.ts
  frontend/packages/console-plugin-sdk/src/typings/clusterserviceversions.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
Labels: approved, component/ceph, component/olm, component/sdk, lgtm

#8605 (fix): Remove `i18nKey` for translation
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/existing-cluster-modal.tsx
Labels: approved, component/ceph, kind/i18n, lgtm

#8598 Bug 1947828: fix resource log download filename for long lines
  frontend/public/components/utils/resource-log.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#8484 fix: remove stray `}` from end of aria-label in delete dialog
  frontend/public/components/modals/delete-namespace-modal.tsx
  frontend/public/locales/en/public.json
Labels: approved, component/core, kind/i18n, lgtm

#8527 Create component to visualize copy/execute snippets in the Quickstarts
  frontend/__tests__/components/markdown-view.spec.tsx
  frontend/packages/console-app/src/components/quick-starts/QuickStartMarkdownView.tsx
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/Tooltip/Tooltip.scss
  frontend/packages/console-shared/src/components/Tooltip/Tooltip.tsx
  frontend/packages/console-shared/src/components/index.ts
  frontend/packages/console-shared/src/components/markdown-extensions/MarkdownCopyClipboard.tsx
  frontend/packages/console-shared/src/components/markdown-extensions/MarkdownExecuteSnippet.tsx
  frontend/packages/console-shared/src/components/markdown-extensions/__tests__/MarkdownCopyClipboard.spec.tsx
  frontend/packages/console-shared/src/components/markdown-extensions/__tests__/MarkdownExecuteSnippet.spec.tsx
  frontend/packages/console-shared/src/components/markdown-extensions/__tests__/test-data.ts
  frontend/packages/console-shared/src/components/markdown-extensions/const.ts
  frontend/packages/console-shared/src/components/markdown-extensions/index.ts
  frontend/packages/console-shared/src/components/markdown-extensions/inline-clipboard-extension.ts
  frontend/packages/console-shared/src/components/markdown-extensions/inline-execute-extension.ts
  frontend/packages/console-shared/src/components/markdown-extensions/multiline-clipboard-extension.ts
  frontend/packages/console-shared/src/components/markdown-extensions/multiline-execute-extension.ts
  frontend/packages/console-shared/src/components/markdown-extensions/showdown-extension.scss
  frontend/packages/console-shared/src/components/markdown-extensions/utils.ts
  frontend/packages/console-shared/src/components/popper/Tippy.tsx
  frontend/packages/console-shared/src/hooks/index.ts
  frontend/packages/console-shared/src/hooks/useEventListener.ts
  frontend/public/components/markdown-view.tsx
Labels: approved, component/core, component/shared, kind/i18n, lgtm

#8541 Fix for creation of visual connectors
  frontend/packages/rhoas-plugin/src/topology/createConnector.ts
Labels: approved, lgtm

#8595 Support FormSelect for Pipeline Resources
  frontend/packages/console-shared/src/components/formik-fields/FormSelectField.tsx
  frontend/packages/console-shared/src/components/formik-fields/field-types.ts
  frontend/packages/console-shared/src/components/formik-fields/index.ts
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineResources.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/PipelineResourceDropdown.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/PipelineResourceDropdownField.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-resource/PipelineResourceParam.tsx
Labels: approved, component/pipelines, component/shared, kind/i18n, lgtm

#8501 Gherkin script for Pipeline Builder enhancements and parity with Tekton
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-builder-page.feature
  frontend/packages/pipelines-plugin/integration-tests/testData/pipelines-workspaces/pipelineRun-using_context_variables.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/pipelines-workspaces/sum-and-multiply-pipeline/pipelineRun-sum-and-multiply-pipeline.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/pipelines-workspaces/sum-and-multiply-pipeline/sum-and-multiply-pipeline.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/pipelines-workspaces/sum-and-multiply-pipeline/task-multiply.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/pipelines-workspaces/sum-and-multiply-pipeline/task-sum.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/pipelines-workspaces/using-optional-workspaces-in-when-expressions-pipelineRun/configMap-test-motd.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/pipelines-workspaces/using-optional-workspaces-in-when-expressions-pipelineRun/pipelineRun-using-optional-workspaces-in-when-expressions.yaml
Labels: approved, component/pipelines, lgtm

#8561 Bug 1946320: Fix empty state message for PVC dropdown
  frontend/public/components/utils/list-dropdown.jsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/i18n, lgtm

#8585 Use redhat-developer devfile sample repository
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-devfile.feature
Labels: approved, component/dev-console, lgtm

#8600 Added plugin for delete block pool modal
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Labels: approved, component/ceph, component/olm, component/sdk, lgtm

#8607 Edit flow for knatified workload for git import with buildConfig, Pipelines and Container Image
  frontend/packages/console-shared/src/utils/resource-utils.ts
  frontend/packages/dev-console/src/components/edit-application/EditApplication.tsx
  frontend/packages/dev-console/src/components/edit-application/EditApplicationComponent.tsx
  frontend/packages/dev-console/src/components/edit-application/EditApplicationPage.tsx
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-data.ts
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/dev-console/src/components/import/__tests__/upload-jar-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/import/deployImage-submit-utils.ts
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/import/upload-jar-submit-utils.ts
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/actions/edit-ksvc.tsx
  frontend/packages/knative-plugin/src/actions/index.ts
  frontend/packages/knative-plugin/src/components/knatify/CreateKnatifyPage.tsx
  frontend/packages/knative-plugin/src/topology/__tests__/knative-modify-applicaton.spec.ts
  frontend/packages/knative-plugin/src/utils/__mocks__/knatify-mock.ts
  frontend/packages/knative-plugin/src/utils/__tests__/kebab-actions.spec.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knatify-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/create-knative-utils.ts
  frontend/packages/knative-plugin/src/utils/kebab-actions.ts
  frontend/packages/knative-plugin/src/utils/knatify-utils.ts
  frontend/packages/pipelines-plugin/src/components/import/pipeline/__tests__/pipeline-template-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/import/pipeline/pipeline-template-utils.ts
  frontend/packages/topology/src/actions/__tests__/modify-application.spec.ts
  frontend/packages/topology/src/actions/modify-application.ts
Labels: approved, component/dev-console, component/knative, component/pipelines, component/shared, component/topology, kind/i18n, lgtm

#8543 Improve generated dist/doc/console-extensions.md
  frontend/packages/console-dynamic-plugin-sdk/scripts/generate-doc.ts
  frontend/packages/console-dynamic-plugin-sdk/scripts/templates/console-extensions.md.ejs
  frontend/packages/console-dynamic-plugin-sdk/scripts/utils/type-resolver.ts
Labels: approved, component/core, component/dev-console, component/sdk, lgtm

#8609 Prow script point to deleted resource
  frontend/packages/kubevirt-plugin/integration-tests/deploy-kubevirt-gating.sh
Labels: approved, component/kubevirt, lgtm

#8156 Converting context provider extensions to dynamic
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/package.json
  frontend/packages/console-app/src/components/file-upload/file-upload-context.ts
  frontend/packages/console-app/src/components/quick-starts/utils/quick-start-context.ts
  frontend/packages/console-app/src/components/tour/tour-context.ts
  frontend/packages/console-app/src/plugin.tsx
  frontend/packages/console-plugin-sdk/src/typings/index.ts
  frontend/packages/console-plugin-sdk/src/typings/providers.ts
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/package.json
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/cdi-upload-provider.tsx
  frontend/packages/kubevirt-plugin/src/plugin.tsx
  frontend/public/components/app.jsx
Labels: approved, component/core, component/kubevirt, component/sdk, lgtm

#8611 Bug 1925207: fix custom template cloudint disk
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#8516 show type header for serverless function in topology
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/components/overview/KnativeOverview.tsx
  frontend/packages/knative-plugin/src/components/overview/KnativeResourceOverviewPage.tsx
  frontend/packages/knative-plugin/src/components/overview/ServerlessFunctionType.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/KnativeOverview.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/KnativeResourceOverviewPage.spec.tsx
  frontend/packages/knative-plugin/src/components/services/ServiceDetailsPage.tsx
  frontend/packages/knative-plugin/src/topology/__tests__/topology-knative-test-data.ts
  frontend/packages/knative-plugin/src/topology/components/groups/KnativeServiceGroup.tsx
  frontend/packages/knative-plugin/src/topology/const.ts
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
  frontend/packages/knative-plugin/src/topology/listView/KnativeServiceListViewNode.tsx
  frontend/packages/knative-plugin/src/utils/__tests__/knative-topology-utils.spec.ts
  frontend/public/components/default-resource.tsx
  frontend/public/components/secret.jsx
  frontend/public/components/secrets/create-secret.tsx
  frontend/public/components/utils/details-page.tsx
  frontend/public/module/k8s/types.ts
Labels: approved, component/core, component/knative, kind/feature, kind/i18n, lgtm

#8549 Bug 1942839: Image is now pulled from config map data
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/storage-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/vm-disks/disk-summary.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/constants.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/wintools.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/start-v2vvmware-controller.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/v2vvmware-configmap-validator.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/v2vvmware-configmap.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm/volume.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#8615 Bug 1922065: Rootdisk size is default to 15GiB in customize wizard
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/storage-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm/create-vm.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#8618 Added missing styling and machine ready check
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHDetailsPage/SSHDetailsPage.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
Labels: approved, component/kubevirt, lgtm

#8621 Use active namespace for creating sample href
  frontend/packages/dev-console/src/components/catalog/providers/useBuilderImageSamples.ts
Labels: approved, component/dev-console, lgtm

#8604 Misc Pipeline Workspace updates
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineParameters.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineParametersForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineResources.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineResourcesForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineWorkspaces.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/PipelineWorkspacesSection.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/types.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/utils.ts
  frontend/packages/pipelines-plugin/src/components/shared/workspaces/EmptyDirectoriesSection.tsx
  frontend/packages/pipelines-plugin/src/components/shared/workspaces/VolumeClaimTemplateSection.tsx
  frontend/packages/pipelines-plugin/src/components/shared/workspaces/WorkspaceDefinitionList.tsx
  frontend/packages/pipelines-plugin/src/components/shared/workspaces/WorkspaceResourceLinkList.tsx
  frontend/packages/pipelines-plugin/src/components/shared/workspaces/WorkspaceResourcesSection.tsx
  frontend/packages/pipelines-plugin/src/components/shared/workspaces/__tests__/EmptyDirectoriesSection.spec.tsx
  frontend/packages/pipelines-plugin/src/components/shared/workspaces/__tests__/WorkspaceDefinitionList.spec.tsx
  frontend/packages/pipelines-plugin/src/components/shared/workspaces/__tests__/WorkspaceResourceLinkList.spec.tsx
  frontend/packages/pipelines-plugin/src/components/shared/workspaces/__tests__/WorkspaceResourcesSection.spec.tsx
Labels: approved, component/pipelines, kind/i18n, lgtm

#8626 Fix broken link document Sealing Virtual Machines on CNV
  frontend/packages/kubevirt-plugin/src/components/vm-templates/customize-source/CustomizeSourceStatus.tsx
Labels: approved, component/kubevirt, lgtm, ok-to-test

#8623 Bug 1946922: Fix ingress details page to show referenced secret name
  frontend/public/components/ingress.jsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#8606 Bug 1918785: Update all resource request/limit queries based on new labels
  frontend/packages/console-shared/src/promql/project-dashboard.ts
  frontend/public/components/pod.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, component/shared, lgtm

#8630 Support Embedded Task/Pipeline/Pipeline Resources
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunCustomDetails.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/__tests__/utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineDetails.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/__tests__/utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/hooks.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarHeader.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarHeader.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/validation-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/resource-overview/DynamicResourceLinkList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/resource-overview/ResourceLinkList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/resource-overview/__tests__/DynamicResourceLinkList.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/utils/triggers.ts
  frontend/packages/pipelines-plugin/src/components/shared/common/PipelineResourceRef.scss
  frontend/packages/pipelines-plugin/src/components/shared/common/PipelineResourceRef.tsx
  frontend/packages/pipelines-plugin/src/models/pipelines.ts
  frontend/packages/pipelines-plugin/src/types/pipelineRun.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-augment.ts
Labels: approved, component/pipelines, kind/i18n, lgtm

#8620 Bug 1948333: Force glob-parent version to ^5.1.2
  frontend/package.json
  frontend/yarn.lock
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, lgtm

#8635 Bug 1948919: change "desired channel" to "desired version"
  frontend/public/components/modals/cluster-channel-modal.tsx
  frontend/public/locales/en/cluster-channel-modal.json
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/i18n, lgtm

#8634 Bug 1949093: fix a.pf-c-button hover issues
  frontend/public/style/_overrides.scss
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#8603 topology i18n misses
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/components/overview/EventSourceResources.tsx
  frontend/packages/knative-plugin/src/components/overview/KnativeResourceOverviewPage.tsx
  frontend/packages/knative-plugin/src/components/overview/KnativeTopologyEdgePanel.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/EventSourceResources.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/KnativeResourceOverviewPage.spec.tsx
  frontend/packages/kubevirt-plugin/src/topology/TopologyVmPanel.tsx
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/application-panel/ApplicationGroupResource.tsx
  frontend/packages/topology/src/components/application-panel/TopologyApplicationResources.tsx
  frontend/packages/topology/src/components/application-panel/__tests__/ApplicationGroupResource.spec.tsx
  frontend/packages/topology/src/filters/FilterDropdown.tsx
  frontend/packages/topology/src/operators/TopologyOperatorBackedResources.tsx
  frontend/public/components/overview/build-overview.tsx
  frontend/public/components/overview/daemon-set-overview.tsx
  frontend/public/components/overview/deployment-config-overview.tsx
  frontend/public/components/overview/deployment-overview.tsx
  frontend/public/components/overview/networking-overview.tsx
  frontend/public/components/overview/stateful-set-overview.tsx
  frontend/public/locales/en/public.json
Labels: approved, component/core, component/knative, component/kubevirt, component/topology, kind/i18n, lgtm

#8612 Bug 1924916: PVC reported as Uploading when it is actually cloning
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/consts.ts
  frontend/packages/kubevirt-plugin/src/selectors/pvc/selectors.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, lgtm

#8572 Bug 1946705: Use search terms as separate words in quick add search
  frontend/packages/console-shared/src/utils/index.ts
  frontend/packages/console-shared/src/utils/keyword-filter.ts
  frontend/packages/dev-console/src/components/catalog/service/CatalogServiceProvider.tsx
  frontend/packages/dev-console/src/components/catalog/utils/catalog-utils.tsx
  frontend/packages/dev-console/src/components/catalog/utils/filter-utils.ts
  frontend/packages/topology/src/components/quick-search/utils/quick-search-utils.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, component/shared, component/topology, kind/bug, lgtm

#8632 fixes issue with kn resources not shown if KS is created
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-topology-utils.spec.ts
Labels: approved, component/knative, lgtm

#8640 Bug 1949180: Parse Pipelines kinds
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/models/pipelines.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/pipelines, kind/i18n, lgtm

#8648 Remove noobaa package
  frontend/packages/noobaa-storage-plugin/OWNERS
  frontend/packages/noobaa-storage-plugin/console-extensions.json
  frontend/packages/noobaa-storage-plugin/integration-tests/.eslintrc.js
  frontend/packages/noobaa-storage-plugin/integration-tests/OWNERS
  frontend/packages/noobaa-storage-plugin/integration-tests/mocks/default-backing-store.ts
  frontend/packages/noobaa-storage-plugin/integration-tests/mocks/deploymentData.ts
  frontend/packages/noobaa-storage-plugin/integration-tests/mocks/obcData.ts
  frontend/packages/noobaa-storage-plugin/integration-tests/tests/backingStoreTest.scenario.ts
  frontend/packages/noobaa-storage-plugin/integration-tests/tests/bucketClassTest.scenario.ts
  frontend/packages/noobaa-storage-plugin/integration-tests/tests/obcTest.scenario.ts
  frontend/packages/noobaa-storage-plugin/integration-tests/tests/objectServiceDashboard.scenario.ts
  frontend/packages/noobaa-storage-plugin/integration-tests/utils/consts.ts
  frontend/packages/noobaa-storage-plugin/integration-tests/views/createBC.view.ts
  frontend/packages/noobaa-storage-plugin/integration-tests/views/createBS.view.ts
  frontend/packages/noobaa-storage-plugin/integration-tests/views/noobaaDashboardPage.view.ts
  frontend/packages/noobaa-storage-plugin/integration-tests/views/obcPage.view.ts
  frontend/packages/noobaa-storage-plugin/package.json
  frontend/packages/noobaa-storage-plugin/src/plugin.ts
Labels: approved, component/noobaa, lgtm, ok-to-test

#8636 Bug 1916553: Default template description is empty on details tab
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-resource.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#8654 Add files required for plow deployment script
  frontend/packages/kubevirt-plugin/integration-tests/ci-scripts/add-support-annotations.sh
  frontend/packages/kubevirt-plugin/integration-tests/ci-scripts/hostpath-provisioner-setup.yml
Labels: approved, component/kubevirt, lgtm

#8462 Bug 1942843: Modified description for storage class encryption - 4.7 Backport
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/configure.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, cherry-pick-approved, component/ceph, kind/i18n, lgtm

#8649 Disallow executable permissions for all groups.
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/multiple-pool.spec.ts
Labels: approved, component/ceph, lgtm

#8652 Bug 1942858: [RFE]Confusing detach volume UX
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/modals/delete-disk-modal/delete-disk-modal.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, kind/i18n, lgtm

#8658 Bug 1949514: make Location column visible at smaller screen resolutions
  frontend/public/components/routes.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#8291 Bug 1888525: Adding capacity to the storage cluster [RHOCS Usability Study]
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/dashboards/common/capacity-breakdown/consts.ts
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/raw-capacity-card/raw-capacity-card.scss
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/raw-capacity-card/raw-capacity-card.tsx
  frontend/packages/ceph-storage-plugin/src/utils/alert-action-path.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/ceph, kind/i18n, lgtm, ok-to-test

#8356 ODC-5698 - knative smoke test cases
  frontend/packages/dev-console/integration-tests/support/constants/staticText/global-text.ts
  frontend/packages/dev-console/integration-tests/support/constants/topology.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/pages/modal.ts
  frontend/packages/dev-console/integration-tests/support/pages/operators-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-git.ts
  frontend/packages/knative-plugin/integration-tests/cypress.json
  frontend/packages/knative-plugin/integration-tests/features/knative/actions-on-knative-revision.feature
  frontend/packages/knative-plugin/integration-tests/features/knative/actions-on-knative-service.feature
  frontend/packages/knative-plugin/integration-tests/features/knative/cards-display-on-serverless-operator-installation.feature
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/knative/actions-on-knative-revision.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/knative/actions-on-knative-service.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/knative/create-apache-camel.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/knative/create-knative-workload.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/knative/side-bar-of-knative-revision-and-service.ts
  frontend/packages/knative-plugin/integration-tests/support/testData/installation-yamls/createBootStrap-CR.yaml
  frontend/packages/knative-plugin/integration-tests/support/testData/installation-yamls/createKnativeKafka-CR.yaml
  frontend/packages/topology/integration-tests/support/pages/topology/topology-page.ts
Labels: approved, component/dev-console, component/knative, component/topology, lgtm

#8650 Update CTA and description based on design
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/actions/knatify.ts
  frontend/packages/knative-plugin/src/components/knatify/CreateKnatifyPage.tsx
Labels: approved, component/knative, kind/i18n, lgtm

#8651 Topology - Workload Sidebar
  frontend/packages/topology/integration-tests/features/topology/topology-workload-sidebar.feature
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-side-pane-page.ts
  frontend/packages/topology/integration-tests/support/step-definitions/common/topology.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/workload-sidebar.ts
Labels: approved, component/dev-console, component/topology, lgtm

#8560 Bug 1888521: Add support for adding dynamic storage providers for a Deployment
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/package.json
  frontend/packages/ceph-storage-plugin/src/components/attach-obc/attach-obc-deployment.scss
  frontend/packages/ceph-storage-plugin/src/components/attach-obc/attach-obc-deployment.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/attach-deployment-obc-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/object-bucket-claim-page/create-obc.tsx
  frontend/packages/ceph-storage-plugin/src/components/object-bucket-page/state.ts
  frontend/packages/ceph-storage-plugin/src/utils/noobaa-utils.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/storage-provider.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
  frontend/public/components/app-contents.tsx
  frontend/public/components/storage/attach-pvc-storage.tsx
  frontend/public/components/storage/attach-storage.scss
  frontend/public/components/storage/attach-storage.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/ceph, component/core, component/sdk, kind/i18n, lgtm

#8617 Bug 1926289: create app-content div with modal-container as sibling
  frontend/packages/integration-tests-cypress/support/project.ts
  frontend/packages/integration-tests-cypress/tests/crud/namespace-crud.spec.ts
  frontend/packages/integration-tests-cypress/tests/monitoring/monitoring.spec.ts
  frontend/public/components/app.jsx
  frontend/public/components/factory/modal.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/core, kind/cypress, lgtm

#8666 Insights Makes review page for multiple namespace bucket class consistent
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/review-page.tsx
Labels: approved, component/ceph, kind/i18n, lgtm, ok-to-test

#8668 Highlight only the navigation button when quick start hint clicked
  frontend/public/components/nav/section.tsx
Labels: approved, component/core, lgtm

#8670 Bug 1949935: Fix start pipeline action access review
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-actions.spec.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-actions.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/pipelines, lgtm

#8679 Bug 1948427: Fix issue where react-modal was removing Operator modal from the DOM
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-community-provider-modal.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/olm, lgtm

#8656 fixes multi-namespace bucket class page, table and dropdown sync
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/namespace-store-pages/multi-namespace-store.tsx
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/namespace-store-dropdown.tsx
Labels: approved, component/ceph, lgtm

#8490 Bug 1862084: Consistent formatting of dates and times
  frontend/@types/console/index.d.ts
  frontend/__tests__/components/utils/datetime.spec.ts
  frontend/package.json
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/activity-card/data-resiliency-activity/data-resiliency-activity.tsx
  frontend/packages/console-shared/src/components/dashboard/activity-card/EventItem.tsx
  frontend/packages/console-shared/src/components/dashboard/activity-card/activity-card.scss
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationBody.tsx
  frontend/packages/dev-console/src/components/monitoring/overview/MonitoringOverviewEvents.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineRunDurationGraph.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineRunTaskRunGraph.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/pipeline-metrics-utils.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-utils.ts
  frontend/public/components/_icon-and-text.scss
  frontend/public/components/build.tsx
  frontend/public/components/cluster-settings/oauth.tsx
  frontend/public/components/graphs/area.tsx
  frontend/public/components/graphs/stack.tsx
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/query-browser.tsx
  frontend/public/components/utils/datetime.ts
  frontend/public/components/utils/timestamp.tsx
  frontend/public/i18n.js
  frontend/public/locales/en/public.json
  frontend/public/module/k8s/builds.ts
  frontend/webpack.circular-deps.ts
  frontend/webpack.config.ts
  frontend/yarn.lock
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/ceph, component/core, component/dashboard, component/dev-console, component/monitoring, component/pipelines, component/shared, kind/i18n, lgtm

#8653 Bug 1949410: Fix "Create binding" link from Role page, RoleBindings tab
  frontend/public/components/RBAC/role.jsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#8257 Bug 1888517: Implements increament when expanding storage
  frontend/public/components/modals/expand-pvc-modal.tsx
  frontend/public/locales/en/modal.json
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/i18n, lgtm, ok-to-test

#8671 Avoid memoizing topology sidebar components
  frontend/packages/topology/src/components/page/TopologyView.tsx
Labels: approved, component/topology, lgtm

#8674 Bug 1949774: force postcss to ^8.2.0
  frontend/package.json
  frontend/yarn.lock
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, kind/dependency-change, lgtm

#8678 Bug 1948788: always link to metrics viewer even if graph is empty
  frontend/__tests__/components/graphs/area.spec.tsx
  frontend/__tests__/components/graphs/bar.spec.tsx
  frontend/public/components/graphs/area.tsx
  frontend/public/components/graphs/bar.tsx
  frontend/public/components/graphs/stack.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#8684 Bug 1949411: VolumeSnapshot, VolumeSnapshotClass and VolumeSnapshotConent Details tab is not translated - i18n misses
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot-class-details.tsx
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot-content-details.tsx
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot-details.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/i18n, lgtm

#8677 Fix dynamic demo plugin build
  frontend/dynamic-demo-plugin/package.json
  frontend/dynamic-demo-plugin/src/utils/bar.ts
  frontend/dynamic-demo-plugin/tsconfig.json
  frontend/dynamic-demo-plugin/yarn.lock
  frontend/packages/console-dynamic-plugin-sdk/package.json
  frontend/packages/console-dynamic-plugin-sdk/scripts/generate-pkg-assets.ts
Labels: approved, component/sdk, lgtm

#8533 provide code snippet to customize roles in project access
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/utils/sample-utils.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-utils-types.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-utils.ts
Labels: approved, component/dev-console, component/shared, kind/feature, kind/i18n, lgtm

#8639 Bug 1949155: correctly check for favorited or last namespace on load
  frontend/packages/console-app/src/components/detect-namespace/namespace.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, lgtm

#8625 Bug 1924788: Not clear error message when there are no NADs available for the user
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/form/form-row.scss
  frontend/packages/kubevirt-plugin/src/components/form/form-row.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/nic-modal/nic-modal.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, kind/i18n, lgtm, ok-to-test

#8610 Bug 1862989: [RFE]VM import wizard - storage class filter or a tooltip
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/storage-tab/storage-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/storage-tab/vm-wizard-storage-modal-enhanced.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/utils/strings.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, kind/i18n, lgtm

#8699 Moved isWinToolsImage function to a different file
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/prefill-vm-template-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/combined-disk.ts
  frontend/packages/kubevirt-plugin/src/selectors/immutable/template/combined.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm/volume.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm/winimage.ts
Labels: approved, component/kubevirt, lgtm

#8352 Bug 1950912: kubevirt devconsole tests
  frontend/packages/kubevirt-plugin/integration-tests-cypress/README.md
  frontend/packages/kubevirt-plugin/integration-tests-cypress/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/cypress.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/devconsole/devconsole.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/customize-source.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/source-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tsconfig.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/expect-login.sh
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/actions.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/clone.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/dev-perspective.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/vm.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#8700 Bug 1924728: Add warning events to vm status and changed appearance to be more similar to cluster overview
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/status/GuestAgentStatusHealth.tsx
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/status/VMStatusHealth.tsx
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-alerts.tsx
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-details-card.tsx
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-status-card.scss
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-status-card.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/guest-agent-file-systems.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/VMEventsStatusCard.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-events-status-card.scss
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-users.tsx
  frontend/packages/kubevirt-plugin/src/constants/index.ts
  frontend/packages/kubevirt-plugin/src/constants/status-constants.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-guest-agent-info.ts
  frontend/packages/kubevirt-plugin/src/utils/guest-agent-utils.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, kind/i18n, lgtm

#8698 Bug 1922280: No oVirt label in upstream
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/strings/import-providers.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#8709 Bug 1951214: fix isEnvType null ptr and add missing volume types
  frontend/packages/kubevirt-plugin/src/constants/vm/storage/volume-type.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm-like/next-run-changes.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#8680 Bug 1949384: Localize Default Pull Secret modal
  frontend/public/components/modals/configure-ns-pull-secret-modal.jsx
  frontend/public/locales/en/public.json
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/i18n, lgtm

#8691 Bug 1922063: "Virtual Machine" should be "Templates" in template wizard
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/form/form-field.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/vm-settings-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/strings/renderable-field.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/os.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/vm-settings-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/types.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/utils/renderable-field-utils.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, kind/i18n, lgtm, ok-to-test

#8628 Bug 1942673: Fix pipeline model label references not using keys
  frontend/packages/pipelines-plugin/src/components/cluster-tasks/ClusterTaskDetails.tsx
  frontend/packages/pipelines-plugin/src/components/pipeline-resources/list-page/PipelineResourcesList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunDetails.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/TriggerBindingDetails.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/list-page/PipelineList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/MultipleResourceKeySelector.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/TriggerBindingSelector.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-overview/PipelineOverview.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/resource-overview/ResourceLinkList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/resource-overview/TriggerTemplateResourceLink.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/resource-overview/__tests__/TriggerTemplateResourceLink.spec.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/TaskRunDetails.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/TaskRunDetailsSection.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/list-page/TaskRunsList.tsx
  frontend/packages/pipelines-plugin/src/components/tasks/TaskDetails.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/pipelines, lgtm

#8659 build strategy i18n miss
  frontend/public/components/build-config.tsx
  frontend/public/locales/en/public.json
Labels: approved, component/core, kind/bug, kind/i18n, lgtm
