Repository openshift/console, pull requests merged in 2021-08, with the labels that each got.

#9673 Bug 1984807: Move tooltip 'Restore is only enabled for offline virtual machine' to the button when it's disabled
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/vm-snapshot-row.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#9687 Bug 1988812: [e2e][flaky] Don't fail smoke tests if vm exist before test start
  frontend/packages/kubevirt-plugin/integration-tests-cypress/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/action.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#9634 Bug 1985724: Added missing translations to Affinity rules and Toleration rules
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, kind/i18n, lgtm

#9545 persist dashboard selection
  frontend/public/components/monitoring/dashboards/custom-time-range-modal.tsx
  frontend/public/components/monitoring/dashboards/graph.tsx
  frontend/public/components/monitoring/dashboards/index.tsx
Labels: approved, component/core, component/monitoring, docs-approved, kind/feature, lgtm, px-approved, qe-approved

#9691 Bug 1988812: Delete test project after creating it
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/clone.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/migration.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/devconsole/devconsole.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/pvc-upload/pvc-upload.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/regression/validate-nad-for-pxe.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/regression/validate-virtio-win-image.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/action.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/template-tabs.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-creation.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-tabs.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vmi-tabs.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/sysprep/sysprep.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/custom-template-support.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/customize-source.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/source-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/template-support.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/advanced-wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/empty-state.spec.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#9579 odc-6192-updated the test-headless script in dev-console/package.json file
  frontend/packages/dev-console/integration-tests/.gherkin-lintrc
  frontend/packages/dev-console/integration-tests/cypress.json
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-git.feature
  frontend/packages/dev-console/integration-tests/package.json
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-helper-page.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-page.ts
Labels: approved, component/dev-console, component/topology, docs-approved, lgtm, px-approved, qe-approved

#9626 Bug 1985933: Changed example label for image input
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/container-source.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/vm-settings-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form.tsx
  frontend/packages/kubevirt-plugin/src/components/form/helper/container-source-help.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/utils/strings.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, lgtm

#9674 Bug 1986819: fix string typos for hot-plug disks
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/modals/delete-disk-modal/delete-disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/HotplugFieldLevelHelp.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/RemovalDiskAlert.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/storage/disk-bus.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/kubevirt, kind/i18n, lgtm

#9688 Bug 1987169: Cannot create network attachment definition while operator is installed.
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionsForm.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/network-attachment-definition, lgtm

#9693 Bug 1985164: Regular user cannot restore VM snapshot
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-restore-modal/snapshot-restore-modal.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#9681 Bug 1988133: Cypress - re-enable OLM globall install test
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-global.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/views/operator.view.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/olm, lgtm

#9686 Bug 1972966: Virtualization is not available in Home Overview
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/health-item.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/core, component/dashboard, lgtm

#9699 Bug 1989143: [e2e][automation] Add hostpath-provisioner-setup.yml used in release-4.8 tests
  frontend/packages/kubevirt-plugin/integration-tests/ci-scripts/add-support-annotations.sh
  frontend/packages/kubevirt-plugin/integration-tests/ci-scripts/hostpath-provisioner-setup.yml
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, component/kubevirt, lgtm

#9583 Convert task selection to quick search modal in pipeline builder
  frontend/packages/console-shared/src/components/quick-search/QuickSearchBar.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchContent.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchController.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchDetails.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchList.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchList.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModal.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModalBody.tsx
  frontend/packages/pipelines-plugin/console-extensions.json
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineBuilder-page.ts
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/package.json
  frontend/packages/pipelines-plugin/src/components/catalog/index.ts
  frontend/packages/pipelines-plugin/src/components/catalog/providers/index.ts
  frontend/packages/pipelines-plugin/src/components/catalog/providers/useTasksProvider.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderFormEditor.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderVisualization.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/hooks.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/types.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/BuilderFinallyNode.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/BuilderNode.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/ErrorNodeDecorator.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/InvalidTaskListNode.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/RemoveNodeDecorator.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/RemoveNodeDecorator.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/TaskList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/TaskListNode.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/types.ts
  frontend/packages/pipelines-plugin/src/components/quicksearch/PipelineQuickSearch.tsx
  frontend/packages/pipelines-plugin/src/types/coreTekton.ts
  frontend/packages/topology/src/components/quick-search/TopologyQuickSearch.tsx
  frontend/public/components/catalog/catalog-item-icon.tsx
  frontend/public/imgs/logos/build-icon.svg
Labels: approved, component/core, component/pipelines, component/shared, component/topology, docs-approved, kind/i18n, lgtm, px-approved, qe-approved

#9715 Bug 1989707: Fixing Formik Promise.reject() issues by .resolve()-ing
  frontend/packages/dev-console/src/components/hpa/HPAFormikForm.tsx
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradePage.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/dev-console, component/helm, lgtm

#9682 Bug 1986502: Fix previously deleted dragged files that show up in import yaml editor
  frontend/public/components/droppable-edit-yaml.tsx
  frontend/public/components/edit-yaml.jsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#9643 Bug 1986495: Add missing translation for deployment strategy
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/edit-deployment/EditDeploymentFormEditor.tsx
  frontend/packages/dev-console/src/components/edit-deployment/deployment-strategy/DeploymentStrategySection.tsx
  frontend/packages/dev-console/src/components/edit-deployment/deployment-strategy/utils/__tests__/deployment-strategy-utils.spec.ts
  frontend/packages/dev-console/src/components/edit-deployment/deployment-strategy/utils/deployment-strategy-utils.ts
  frontend/packages/dev-console/src/components/edit-deployment/deployment-strategy/utils/types.ts
  frontend/packages/dev-console/src/components/edit-deployment/utils/edit-deployment-utils.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/dev-console, kind/i18n, lgtm

#9431 Monitoring dashboards: Add text filter to the Dashboards dropdown and the variable dropdowns
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringDashboard.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/__tests__/MonitoringDashboard.spec.tsx
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/dashboards/timespan-dropdown.tsx
  frontend/public/locales/en/public.json
Labels: approved, component/core, component/dev-console, component/monitoring, docs-approved, kind/i18n, lgtm, px-approved, qe-approved

#9519 odc-6017-updated helm scripts with new page objects
  frontend/packages/dev-console/integration-tests/support/constants/helm.ts
  frontend/packages/dev-console/integration-tests/support/constants/index.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/helm-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/catalog-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/helm-plugin/integration-tests/cypress.json
  frontend/packages/helm-plugin/integration-tests/features/helm/actions-on-helm-release.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-compatibility.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-feature-flag.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-installation-view.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-navigation.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/install-helm-chart.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/topology-helm-release.feature
  frontend/packages/helm-plugin/integration-tests/support/commands/app.ts
  frontend/packages/helm-plugin/integration-tests/support/pages/helm/helm-details-page.ts
  frontend/packages/helm-plugin/integration-tests/support/pages/helm/helm-page.ts
  frontend/packages/helm-plugin/integration-tests/support/pages/helm/upgrade-helm-release-page.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-release.ts
  test-cypress.sh
Labels: approved, component/dev-console, component/helm, docs-approved, lgtm, px-approved, qe-approved

#9670 Migrate helm plugin to use dynamic extensions
  frontend/packages/helm-plugin/console-extensions.json
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/package.json
  frontend/packages/helm-plugin/src/components/index.ts
  frontend/packages/helm-plugin/src/plugin.ts
  frontend/packages/helm-plugin/src/topology/helm-topology-plugin.tsx
  frontend/packages/helm-plugin/src/topology/helmFilters.ts
  frontend/packages/helm-plugin/src/topology/index.ts
  frontend/packages/helm-plugin/src/utils/helm-detection-utils.ts
  frontend/packages/helm-plugin/src/utils/index.ts
  frontend/packages/topology/src/components/page/TopologyView.tsx
Labels: approved, component/helm, component/topology, docs-approved, kind/i18n, lgtm, px-approved, qe-approved

#9702 Bug 1980531: Remove check for two sections in help menu
  frontend/packages/integration-tests-cypress/tests/i18n/pseudolocalization.spec.ts
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, kind/cypress, lgtm

#9707 odc-6226-rename-the-tags-in-gherkin-lintrc
  frontend/packages/dev-console/integration-tests/.gherkin-lintrc
  frontend/packages/dev-console/integration-tests/cypress.json
Labels: approved, component/dev-console, docs-approved, lgtm, px-approved, qe-approved

#9716 Bug 1985850: Default to the WaitForFirstConsumer volume binding mode for storage classes
  frontend/public/components/storage-class-form.tsx
  frontend/public/locales/en/public.json
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/i18n, lgtm

#9721 Bug 1989914: [e2e][flaky] Increase timeout and adding non fail exit for delete resource
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#9645 Bug 1985161: Fix translation of incorrect addSecretDescription string within modal
  frontend/public/components/modals/add-secret-to-workload.tsx
  frontend/public/locales/en/public.json
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, kind/i18n, lgtm

#9689 Bug 1975042: added v2v config map to customize flow
  frontend/packages/kubevirt-plugin/src/components/vm-templates/customize-source/CustomizeSourceForm.tsx
  frontend/packages/kubevirt-plugin/src/hooks/use-v2v-config-map.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vmtemplate/customize.ts
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#9700 Bug 1989152: [Release-4.8] Use specific release for files used in e2e tests
  frontend/packages/kubevirt-plugin/integration-tests/deploy-kubevirt-gating.sh
Labels: approved, bugzilla/severity-urgent, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, lgtm

#9535 CONSOLE-2276: Add relevant alerts to node and project overviews
  frontend/packages/console-app/src/components/nodes/node-dashboard/StatusCard.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/status-card.tsx
  frontend/public/components/dashboard/project-dashboard/status-card.tsx
Labels: approved, component/core, component/dashboard, docs-approved, lgtm, px-approved, qe-approved

#9653 Bug 1986631: Do not drop environment variables without name but with a value, also fix crash when ref is empty
  frontend/public/components/environment.jsx
  frontend/public/components/utils/value-from-pair.jsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/core, lgtm

#9697 Bug 1986297: Windows guest tool is always mounted
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/vm-settings-tab.tsx
  frontend/packages/kubevirt-plugin/src/selectors/vm/winimage.ts
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, lgtm

#9705 Bug 1989462: MTV string changes
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vms/migration-tool/MigrationTool.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/migration-tool/MigrationToolContent.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, kind/i18n, lgtm

#9711 Bug 1989889: Render 404 create page if CRD model is missing
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/model-status-box.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
  frontend/public/components/utils/horizontal-nav.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/core, component/olm, kind/i18n, lgtm

#9712 Bug 1989507: replace configmap with storageprofile
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, kind/i18n, lgtm

#9706 Bug 1988406: Added support for SSH key is now passed from simple to advanced wizard
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/Cloudinit.tsx
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, component/kubevirt, lgtm

#9729 Bug 1990024: Fix typo
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/network-policies/network-policy-peer-selectors.tsx
  frontend/public/components/app.jsx
  frontend/public/locales/en/public.json
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, kind/i18n, lgtm

#9720 Bug 1989842: Query Browser: Remove null value entries from the tooltip
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, bugzilla/severity-low, bugzilla/valid-bug, component/core, component/monitoring, lgtm

#9730 Bug 1987171: When customizing boot source, password is shown in default font
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vms/vm-console/VMConsoles.tsx
Labels: approved, bugzilla/severity-medium, bugzilla/valid-bug, component/kubevirt, kind/i18n, lgtm

#9738 Bug 1986565: [OCP48][WebUI] "How to seal boot source for template usage" link points to /foo
  frontend/packages/kubevirt-plugin/src/components/modals/template-customization/FinishCustomizationModal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/customize-source/CustomizeSourceStatus.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm-templates/constants.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-low

#9735 Bug 1985356: Check for nonexistent CSVs in installed block
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-item-details.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/olm, bugzilla/severity-medium

#9537 Gherkin: Consolidating core dashboard with dev perspective- Monitoring
  frontend/packages/dev-console/integration-tests/features/monitoring/changing-context-monitoring-dashboard.feature
  frontend/packages/dev-console/integration-tests/features/monitoring/dashboard-display.feature
  frontend/packages/dev-console/integration-tests/features/monitoring/monitoring-alerts.feature
  frontend/packages/dev-console/integration-tests/features/monitoring/topology-sidebar-actions.feature
  frontend/packages/dev-console/integration-tests/features/monitoring/topology-sidebar-alert-details.feature
  frontend/packages/dev-console/integration-tests/features/monitoring/workload-metrics-display.feature
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved

#9736 Bug 1990205: Monitoring dashboards: Fix state transition during render
  frontend/public/components/monitoring/dashboards/index.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, bugzilla/severity-low

#9731 Migrate workload resource actions to new extension based actions
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/actions/creators/deployment-factory.ts
  frontend/packages/console-app/src/actions/creators/hpa-factory.ts
  frontend/packages/console-app/src/actions/creators/job-factory.ts
  frontend/packages/console-app/src/actions/providers/daemon-set-provider.ts
  frontend/packages/console-app/src/actions/providers/deployment-provider.ts
  frontend/packages/console-app/src/actions/providers/index.ts
  frontend/packages/console-app/src/actions/providers/job-provider.ts
  frontend/packages/console-app/src/actions/providers/pod-provider.ts
  frontend/packages/console-app/src/actions/providers/stateful-set-provider.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/common-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/actions.ts
  frontend/packages/console-shared/src/components/actions/loader/ActionsLoader.tsx
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/src/actions/providers.ts
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/src/actions/providers.ts
  frontend/public/components/cron-job.tsx
  frontend/public/components/daemon-set.tsx
  frontend/public/components/deployment-config.tsx
  frontend/public/components/job.tsx
  frontend/public/components/pod.tsx
  frontend/public/components/stateful-set.tsx
Labels: approved, lgtm, component/shared, component/dev-console, component/knative, component/core, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n

#9636 Gherkin:Manage user preferences
  frontend/packages/dev-console/integration-tests/features/user-preferences/user-preferences-dev-perspective.feature
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved

#9743 Bug 1990732: Use `Immediate` as the default `volumeBindingMode`
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/storage-class.ts
  frontend/public/components/storage-class-form.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, component/core, bugzilla/severity-high

#9728 Bug 1990018: chore(i18n): update translations
  frontend/packages/ceph-storage-plugin/locales/ja/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/ko/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/zh/ceph-storage-plugin.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-shared/locales/ja/console-shared.json
  frontend/packages/console-shared/locales/ko/console-shared.json
  frontend/packages/console-shared/locales/zh/console-shared.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/helm-plugin/locales/ja/helm-plugin.json
  frontend/packages/helm-plugin/locales/ko/helm-plugin.json
  frontend/packages/helm-plugin/locales/zh/helm-plugin.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/metal3-plugin/locales/ja/metal3-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/operator-lifecycle-manager/locales/ko/olm.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ko/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/packages/rhoas-plugin/locales/ja/rhoas-plugin.json
  frontend/packages/rhoas-plugin/locales/ko/rhoas-plugin.json
  frontend/packages/rhoas-plugin/locales/zh/rhoas-plugin.json
  frontend/packages/topology/locales/ja/topology.json
  frontend/packages/topology/locales/ko/topology.json
  frontend/packages/topology/locales/zh/topology.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/dev-console, component/kubevirt, component/knative, component/ceph, component/core, component/metal3, component/olm, bugzilla/severity-low, kind/i18n, component/helm, component/topology, component/pipelines

#9696 Bug 1946232: VM List can consume very high CPU
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vm-status/lazy-vm-row-kebab.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-status/lazy-vm-status.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-status/use-vm-status-resources.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-status/vm-status.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/table-filters.ts
  frontend/packages/kubevirt-plugin/src/components/vms/vm.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high, kind/i18n

#9478 Bug 1975038: Cannot delete user created vm template
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/regression/validate-nad-for-pxe.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-vm-like-entity.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#9741 Bug 1990493: [e2e][automation] test for storageProfile settings
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/validate-storage-profile.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#9717 Update PF packages to 2021-10
  frontend/package.json
  frontend/packages/console-shared/src/components/actions/menu/ActionMenuContent.tsx
  frontend/packages/console-shared/src/components/actions/menu/ActionMenuItem.tsx
  frontend/packages/pipelines-plugin/src/components/shared/common/auto-complete/AutoCompletePopover.tsx
  frontend/yarn.lock
Labels: approved, lgtm, component/shared, docs-approved, qe-approved, px-approved, component/pipelines

#9398 Bug 1940059: Add ceph-dashboard link for OCS external cluster overview page
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-external/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/constants/common.ts
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, component/ceph, bugzilla/severity-medium, kind/i18n

#9757 Bug 1991519: [WIP][e2e][flaky] fix kubevirt hco creation
  frontend/packages/kubevirt-plugin/integration-tests/deploy-kubevirt-gating.sh
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#9070 Support code references at any level within extension's properties
  frontend/@types/console/index.d.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/useResolvedExtensions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/__tests__/coderef-resolver.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/coderef-resolver.ts
  frontend/packages/console-dynamic-plugin-sdk/src/types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/__tests__/object.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/__tests__/url.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/object.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/promise.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/store.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/url.ts
  frontend/packages/console-dynamic-plugin-sdk/src/validation/ExtensionValidator.ts
  frontend/packages/console-dynamic-plugin-sdk/src/validation/SchemaValidator.ts
  frontend/packages/console-dynamic-plugin-sdk/src/validation/__tests__/ExtensionValidator.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/tsconfig.json
  frontend/packages/console-plugin-sdk/src/__tests__/store.spec.ts
  frontend/packages/console-plugin-sdk/src/api/useExtensions.ts
  frontend/packages/console-plugin-sdk/src/utils/__tests__/extension-i18n.spec.ts
  frontend/packages/console-plugin-sdk/src/utils/__tests__/useTranslationExt.spec.ts
  frontend/packages/console-plugin-sdk/src/utils/extension-i18n.ts
  frontend/packages/console-plugin-sdk/src/utils/useTranslationExt.ts
  frontend/packages/console-shared/src/hooks/useTelemetry.ts
Labels: approved, lgtm, component/shared, component/sdk, docs-approved, qe-approved, px-approved

#9758 Bug 1979116: create vm from customize wizard using currect api
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/package.json
  frontend/packages/kubevirt-plugin/src/flags/const.ts
  frontend/packages/kubevirt-plugin/src/flags/detect-kubevirt-virtual-machines.ts
  frontend/packages/kubevirt-plugin/src/flags/index.ts
  frontend/packages/kubevirt-plugin/src/k8s/enhancedK8sMethods/enhancedK8sMethods.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#9770 Bug 1991942: Fix aignment of (?) at sysprep and MTV button on FF
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/sysprep/sysprep.scss
  frontend/packages/kubevirt-plugin/src/components/vms/migration-tool/migration-tool.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#9409 Bug 1969965, Bug 1969989: Bugs Related to StorageClass KMS flow
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/storage-class.ts
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/kms-config/kms-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/utils.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/advanced-kms-modal/advanced-kms-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.scss
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
  frontend/packages/ceph-storage-plugin/src/utils/kms-encryption.ts
  frontend/packages/ceph-storage-plugin/src/utils/ocs-storage-class-params.tsx
  frontend/packages/console-plugin-sdk/src/typings/storage-class-params.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, component/sdk, bugzilla/severity-medium, kind/i18n

#9762 Bug 1991095: External Mode Dashboard shows incorrect deployment mode
  frontend/packages/ceph-storage-plugin/src/components/dashboards/ocs-system-dashboard.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-medium

#9530 Bug 1976072: Ensure supported x-descriptors take priority in Operand details view
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/const.ts
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/status/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/utils.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, bugzilla/severity-medium

#9701 Bug 1982765: Networking - Services - Edit Pod Selector : An incomprehensible Japanese sentence
  frontend/public/components/modals/labels-modal.jsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low, kind/i18n

#9722 Bug 1989876: Fix routing for ODF 4.9(OCS) Dashboard and link Ceph Block Pools
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/package.json
  frontend/packages/ceph-storage-plugin/src/components/dashboards/ocs-system-dashboard.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/odf-system-dashboard.tsx
  frontend/packages/ceph-storage-plugin/src/components/odf-resources/resource-list-page.tsx
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-low, kind/i18n

#9775 Bug 1967108: Add name to coderef function.
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/coderef-resolver.ts
  frontend/public/components/utils/async.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, component/sdk, bugzilla/severity-medium

#9779 Bug 1983693: Null check when pressing enter on import yaml page
  frontend/packages/console-shared/src/components/editor/yaml-editor-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, bugzilla/severity-low

#9763 Bug 1989610: Don't render incompatible descriptors on operand details page
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/common.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/core, component/olm, bugzilla/severity-low, kind/i18n

#9776 Bug 1990577: Update Ingress to v1 API version
  frontend/public/components/ingress.jsx
  frontend/public/locales/en/public.json
  frontend/public/models/index.ts
  frontend/public/models/yaml-templates.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-high, kind/i18n

#9671 [release-4.8] Bug 1987167: Add inspect url to devconsole monitoring chart
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringDashboardGraph.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/__tests__/MonitoringDashboardGraph.spec.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, bugzilla/severity-medium, kind/i18n

#9781 Bug 1992502: Return loadError from use storage profile
  frontend/packages/kubevirt-plugin/src/hooks/use-storage-profile-settings.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-urgent

#9660 Convert coFetch utilities to typescript and move to plugin SDK
  frontend/dynamic-demo-plugin/console-extensions.json
  frontend/dynamic-demo-plugin/package.json
  frontend/dynamic-demo-plugin/src/components/UtilityConsumer.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/api/api-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/error/__tests__/custom-error.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/error/__tests__/http-error.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/error/__tests__/test-utils.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/error/custom-error.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/error/http-error.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/fetch/__tests__/console-fetch.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/fetch/console-fetch-utils.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/fetch/console-fetch.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/fetch/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/redux.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/actions.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vmi/actions.ts
  frontend/public/co-fetch.js
  frontend/public/components/utils/status-box.tsx
  frontend/public/module/k8s/resource.ts
Labels: approved, lgtm, component/kubevirt, component/core, component/sdk, docs-approved, qe-approved, px-approved

#9601 [release-4.8] Bug 1985193: Add create resource extension
  frontend/packages/ceph-storage-plugin/src/components/block-pool/create-block-pool.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/create-bc.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-backingstore-page/create-bs-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/create-namespace-store.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-page.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/create-resource.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
  frontend/packages/console-shared/src/hooks/create-resource-hook.ts
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-discovery/create-local-volume-discovery.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/create-local-volume-set.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/operand-yaml.tsx
  frontend/packages/operator-lifecycle-manager/src/plugin.tsx
  frontend/packages/operator-lifecycle-manager/src/style.scss
  frontend/public/components/app-contents.tsx
  frontend/public/components/create-resource.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/shared, component/ceph, component/core, component/sdk, component/olm, component/lso, bugzilla/severity-medium

#9638 Bug 1992950: create template from wizard
  frontend/packages/kubevirt-plugin/integration-tests-cypress/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/create-template-from-wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/types/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/selector-wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/virtualization.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/wizard.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#9709 odc-6227-upgraded the helm scripts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/catalog-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/monitoring/topology-sidebar-actions.ts
  frontend/packages/helm-plugin/integration-tests/cypress.json
  frontend/packages/helm-plugin/integration-tests/features/helm/actions-on-helm-release-after-upgrade.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/actions-on-helm-release.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-compatibility.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-navigation.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/install-helm-chart.feature
  frontend/packages/helm-plugin/integration-tests/support/pages/helm/rollBack-helm-release-page.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/actions-on-helm-release-after-upgrade.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-navigation.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-release.ts
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, component/helm

#9793 Bug 1992004: Fix flaky e2e test by updating a workaround for rate limit error by GitHub
  frontend/packages/console-shared/src/components/formik-fields/item-selector-field/SelectorCard.tsx
  frontend/packages/dev-console/integration-tests/support/constants/add.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/dev-console, bugzilla/severity-high

#9796 Bug 1992013: Fill out the component name when catching a rate limit error
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-devfile.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-docker-file.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-git.feature
  frontend/packages/dev-console/integration-tests/support/constants/staticText/global-text.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/dev-file-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/createGitWorkload.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-container-image.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-devfile.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-docker-file.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-git.ts
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/common/addFlow.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/create-knative-workload.ts
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-add-options.feature
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-page.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, component/knative, bugzilla/severity-high, component/helm, component/topology, component/pipelines

#9782 Bug 1978202: Use list of supported templates instead of logic
  frontend/packages/kubevirt-plugin/src/components/vm-templates/VMTemplateCommnunityLabel.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#9800 Bug 1993306: Disable broken Event Sources on default Developer Catalog test
  frontend/packages/dev-console/integration-tests/features/addFlow/developer-catalog-details.feature
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-medium

#7741 Bug 1967316: Sweep frontend/public folder for i18n support - part 3
  frontend/public/components/alert-manager.tsx
  frontend/public/components/build-logs.jsx
  frontend/public/components/build-pipeline.tsx
  frontend/public/locales/en/public.json
  frontend/public/module/k8s/cluster-settings.ts
  frontend/public/module/k8s/container.ts
  frontend/public/module/k8s/pods.ts
  frontend/public/module/k8s/probe.ts
Labels: approved, lgtm, ok-to-test, component/core, docs-approved, qe-approved, px-approved, kind/i18n

#9740 Add Repository Details Page
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryDetails.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryLinkList.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunHeader.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunList.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunListPage.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/components/repository/__tests__/RepositoryDetails.spec.tsx
  frontend/packages/pipelines-plugin/src/components/repository/__tests__/RepositoryLinkList.spec.tsx
  frontend/packages/pipelines-plugin/src/components/repository/consts.ts
  frontend/packages/pipelines-plugin/src/components/repository/types.ts
  frontend/packages/pipelines-plugin/src/plugin.tsx
  frontend/packages/pipelines-plugin/src/test-data/pipeline-data.ts
  frontend/packages/pipelines-plugin/src/types/pipelineRun.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines

#9764 migrate static extension to dynamic for knative plugin
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/package.json
  frontend/packages/knative-plugin/src/components/add/index.ts
  frontend/packages/knative-plugin/src/components/eventing/index.ts
  frontend/packages/knative-plugin/src/components/index.ts
  frontend/packages/knative-plugin/src/components/knatify/index.ts
  frontend/packages/knative-plugin/src/components/overview/index.ts
  frontend/packages/knative-plugin/src/components/pub-sub/index.ts
  frontend/packages/knative-plugin/src/components/revisions/index.ts
  frontend/packages/knative-plugin/src/components/routes/index.ts
  frontend/packages/knative-plugin/src/components/services/index.ts
  frontend/packages/knative-plugin/src/plugin.tsx
  frontend/packages/knative-plugin/src/topology/components/decorators/getRevisionRouteDecorator.tsx
  frontend/packages/knative-plugin/src/topology/components/decorators/getServiceRouteDecorator.tsx
  frontend/packages/knative-plugin/src/topology/components/decorators/index.ts
  frontend/packages/knative-plugin/src/topology/create-connector-utils.ts
  frontend/packages/knative-plugin/src/topology/index.ts
  frontend/packages/knative-plugin/src/topology/knativeFilters.ts
  frontend/packages/knative-plugin/src/topology/topology-plugin.ts
  frontend/packages/knative-plugin/src/topology/topology.ts
Labels: approved, lgtm, component/knative, docs-approved, qe-approved, px-approved

#9771 Tekton hub integration
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/catalog.ts
  frontend/packages/console-shared/src/components/quick-search/QuickSearchContent.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchController.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchDetails.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchList.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModal.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModalBody.tsx
  frontend/packages/console-shared/src/components/quick-search/utils/quick-search-utils.tsx
  frontend/packages/dev-console/src/components/catalog/catalog-view/CatalogView.tsx
  frontend/packages/pipelines-plugin/console-extensions.json
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/catalog/const.ts
  frontend/packages/pipelines-plugin/src/components/catalog/hooks/useApiResponse.ts
  frontend/packages/pipelines-plugin/src/components/catalog/providers/index.ts
  frontend/packages/pipelines-plugin/src/components/catalog/providers/useTasksProvider.tsx
  frontend/packages/pipelines-plugin/src/components/catalog/providers/useTekonHubTasksProvider.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/form-switcher-validation.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/hooks.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebar.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarHeader.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/types.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/update-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/BuilderFinallyNode.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/InstallingNodeDecorator.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/InstallingNodeDecorator.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/LoadingNode.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/LoadingTask.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/LoadingTask.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/factories.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/types.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/utils.ts
  frontend/packages/pipelines-plugin/src/components/quicksearch/PipelineQuickSearch.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/PipelineQuickSearchDetails.scss
  frontend/packages/pipelines-plugin/src/components/quicksearch/PiplineQuickSearchDetails.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/__tests__/pipeline-quicksearch-data.ts
  frontend/packages/pipelines-plugin/src/components/quicksearch/__tests__/pipeline-quicksearch-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/quicksearch/const.ts
  frontend/packages/pipelines-plugin/src/components/quicksearch/pipeline-quicksearch-utils.ts
  frontend/packages/pipelines-plugin/src/types/tektonHub.ts
Labels: approved, lgtm, component/shared, component/dev-console, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines

#9804 Bug 1993793: Move from v1beta to v1 for CSIDrivers
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/block-pool-delete.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/kms-encryption-sc.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/multiple-pool.spec.ts
  frontend/public/models/index.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, component/core, bugzilla/severity-medium

#9773 Bug 1993975: remove kubevirt dependants #1
  frontend/packages/kubevirt-plugin/integration-tests/tests/a-with-non-admin.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/kubevirtUIResource.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/rhvImportWizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachine.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/vmwareImportWizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.resources.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.tab.dashboard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.tab.yaml.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.wizard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.wizard.validation.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/v2v/rhv/v2v.rhv.import.incorrect.names.negative.scenario.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/sysprep/utils/sysprep-utils.ts
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/status/GuestAgentStatusHealth.tsx
  frontend/packages/kubevirt-plugin/src/components/info-messages/__tests__/mock_data.ts
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHDetailsPage/SSHDetailsPage.tsx
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHForm/SSHForm.tsx
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHForm/ssh-form-utils.ts
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHModal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/customize-source/CustomizeSourceForm.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/VMEventsStatusCard.tsx
  frontend/packages/kubevirt-plugin/src/hooks/use-ssh-command.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-ssh-keys.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-ssh-service.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/cdi-upload/cdi-upload-requests.ts
  frontend/packages/kubevirt-plugin/src/utils/guest-agent-utils.ts
  frontend/packages/network-attachment-definition-plugin/integration-tests/tests/models/nadForm.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, component/network-attachment-definition, bugzilla/severity-medium

#9703 Bug 1989440: Fix clusterNetwork only selection issue with OCS
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/ocs-request-data.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-high

#9787 Bug 1992714: use existing pvc hotplug crashes
  frontend/packages/kubevirt-plugin/src/components/modals/delete-disk-modal/delete-disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/storage-ui-source.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#9803 Bug 1993955: Fix margin issue with Details card on External Block and File Dashboard
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-external/details-card.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-low

#9805 Bug 1993788: VM creation (customize flow): storage class mismatch between actual SC and "Edit Disk" screen
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#9809 Bug 1991439: i18n overlooked string
  frontend/public/components/routes.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low, kind/i18n

#9806 Bug 1993920: Improve sysprep helper text
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/sysprep/SysprepInfo.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/sysprep/sysprep-autounattend/SysprepAutounattendHelperPopup.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/sysprep/sysprep-unattend/SysprepUnattendHelperPopup.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium, kind/i18n

#9251 Bug 1993147: Add aria-label for axe issues (Internal Mode Dashboard)
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/dashboards/common/capacity-breakdown/breakdown-chart.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/data-consumption-card/data-consumption-card-dropdown.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/data-consumption-card/data-consumption-graph.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-low, kind/i18n

#9814 Bug 1994253: Kubevirt provided templates are supported
  frontend/packages/kubevirt-plugin/src/components/vm-templates/VMTemplateCommnunityLabel.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-low

#9724 Bug 1989887: Fix issues in Storage System List Page
  frontend/packages/ceph-storage-plugin/src/components/odf-system/odf-system-list.tsx
  frontend/packages/ceph-storage-plugin/src/components/odf-system/system-link.tsx
  frontend/packages/ceph-storage-plugin/src/components/odf-system/utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-low

#9815 Bug 1994439: Review page of ODF wizard does not follow console conventions
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/advanced-section.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/review-and-create-step/review-and-create-step.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/review-and-create-step/review-and-create-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/reducer.ts
  frontend/packages/ceph-storage-plugin/src/constants/create-storage-system.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-low, kind/i18n

#9811 Bug 1980531: step 3 additionalHelpActions 'HelpMenu' ConsoleLinks not translated
  frontend/packages/integration-tests-cypress/tests/i18n/pseudolocalization.spec.ts
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low, kind/i18n, kind/cypress

#9751 drag and resize quicksearch modal
  frontend/package.json
  frontend/packages/console-shared/src/components/quick-search/QuickSearchBar.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchBar.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchContent.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchContent.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchController.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchDetails.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchDetails.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchList.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchList.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModal.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModal.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModalBody.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModalBody.tsx
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineBuilder-page.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/PipelineQuickSearch.tsx
  frontend/packages/topology/src/components/quick-search/TopologyQuickSearch.tsx
  frontend/yarn.lock
Labels: approved, kind/feature, lgtm, component/shared, docs-approved, qe-approved, px-approved, component/topology, component/pipelines

#9759 Bug 1991548: add test for disk preallocation
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/validate-disk-preallocation.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/types/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/dialog.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/selector.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-low

#9813 Bug 1975820: Handle patches for multiple plugins
  frontend/packages/console-shared/src/utils/console-plugin.ts
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/olm, bugzilla/severity-medium

#9742 Bug 1978649: Block and File and Object dashboards should not be part of OCP Console for ODF Managed Services
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/ceph-storage-plugin/src/constants/common.ts
  frontend/packages/ceph-storage-plugin/src/features.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-medium, kind/i18n

#9792 Bug 1992974: fixes styles for revision and route list
  frontend/packages/knative-plugin/src/components/revisions/revision-table.ts
  frontend/packages/knative-plugin/src/components/routes/route-table.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/knative, bugzilla/severity-low

#9753 Bug 1986971: Make customized template password a parameter
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/vm-common-templates-updater.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/constants.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/create.ts
  frontend/packages/kubevirt-plugin/src/models/templates/vm-template-yaml.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#9821 Bug 1991338: Hide Network Attachment Definitions tab for non-admin users
  frontend/packages/network-attachment-definition-plugin/console-extensions.json
  frontend/packages/network-attachment-definition-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/network-attachment-definition-plugin/package.json
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionDetails.tsx
  frontend/packages/network-attachment-definition-plugin/src/flags/check-nad-permissions.ts
  frontend/packages/network-attachment-definition-plugin/src/flags/const.ts
  frontend/packages/network-attachment-definition-plugin/src/flags/index.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/network-attachment-definition, bugzilla/severity-medium, kind/i18n

#9822 Bug 1995049: fix resource dropdown tech preview badge
  frontend/public/components/_resource-dropdown.scss
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#9242 Add enhancements to GitOpsDetailsPage
  frontend/packages/gitops-plugin/locales/en/gitops-plugin.json
  frontend/packages/gitops-plugin/src/components/GitOpsDetailsPage.tsx
  frontend/packages/gitops-plugin/src/components/details/CommitDetails.scss
  frontend/packages/gitops-plugin/src/components/details/CommitDetails.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetails.scss
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetails.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetailsController.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetailsPageHeading.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsResourcesSection.scss
  frontend/packages/gitops-plugin/src/components/details/GitOpsResourcesSection.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsServiceDetailsSection.scss
  frontend/packages/gitops-plugin/src/components/details/GitOpsServiceDetailsSection.tsx
  frontend/packages/gitops-plugin/src/components/details/PodRingWrapper.tsx
  frontend/packages/gitops-plugin/src/components/details/deploymentHistory/GitOpsDeploymentHistory.tsx
  frontend/packages/gitops-plugin/src/components/utils/gitops-types.ts
  frontend/packages/gitops-plugin/src/components/utils/gitops-utils.ts
  frontend/packages/gitops-plugin/src/components/utils/useEnvDetails.ts
Labels: approved, kind/feature, lgtm, docs-approved, qe-approved, px-approved, kind/i18n, component/gitops

#9794 Bug 1993148: Monitoring: Memoize some components and other optimizations
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/dashboards/timespan-dropdown.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, bugzilla/severity-low, kind/i18n

#9655 [release-4.7] Bug 1986724: Show the content of Insights widget when there are 0 recommendations for cluster
  frontend/packages/insights-plugin/src/components/InsightsPopup/index.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, component/insights

#9818 Bug 1994586: Create local volume set step says "An error has occurred"
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-steps.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/capacity-and-nodes-step/capacity-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/capacity-and-nodes-step/selected-nodes-table.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set-step/body.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set-step/create-local-volume-set-step.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set-step/create-local-volume-set-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set-step/selected-capacity.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set-step/selected-capacity.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/review-and-create-step/review-and-create-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/error-handler.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/payloads.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/select-nodes-table/select-nodes-table-footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/select-nodes-table/select-nodes-table.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/select-nodes-table/select-nodes-table.tsx
  frontend/packages/ceph-storage-plugin/src/utils/create-storage-system.ts
  frontend/packages/ceph-storage-plugin/src/utils/install.ts
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/request.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, component/lso, bugzilla/severity-high, kind/i18n

#9619 Expose HorizontalNav as part of Stable API
  frontend/dynamic-demo-plugin/console-extensions.json
  frontend/dynamic-demo-plugin/package.json
  frontend/dynamic-demo-plugin/src/components/Nav.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/api/api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/component-api-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-api.ts
  frontend/public/components/utils/horizontal-nav.tsx
Labels: approved, lgtm, component/core, component/sdk, docs-approved, qe-approved, px-approved

#9820 Bug 1995523: Add checks for annotations in pipeline quicksearch utils
  frontend/packages/pipelines-plugin/src/components/quicksearch/PiplineQuickSearchDetails.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/__tests__/pipeline-quicksearch-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/quicksearch/pipeline-quicksearch-utils.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium, component/pipelines

#9831 Bug 1995325: Move useMemo before first return
  frontend/public/components/namespace.jsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-unspecified

#9784 Add tabbed view for Pipelines and Repository resources
  frontend/packages/console-shared/src/hooks/useTabbedTableBreadcrumb.ts
  frontend/packages/pipelines-plugin/console-extensions.json
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/package.json
  frontend/packages/pipelines-plugin/src/components/pipelines-lists/PipelinesListsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelineDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelineTabbedPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/__tests__/PipelineTabbedPage.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/__tests__/pipelineDetailsPage.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/hooks.ts
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/repository/__tests__/repository-mock.ts
  frontend/packages/pipelines-plugin/src/components/repository/__tests__/repository-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/repository/list-page/RepositoriesList.tsx
  frontend/packages/pipelines-plugin/src/components/repository/list-page/RepositoryHeader.tsx
  frontend/packages/pipelines-plugin/src/components/repository/list-page/RepositoryRow.tsx
  frontend/packages/pipelines-plugin/src/components/repository/list-page/ReppositoryList.tsx
  frontend/packages/pipelines-plugin/src/components/repository/list-page/index.ts
  frontend/packages/pipelines-plugin/src/components/repository/repository-utils.ts
  frontend/packages/pipelines-plugin/src/const.ts
  frontend/packages/pipelines-plugin/src/models/pipelines.ts
  frontend/packages/pipelines-plugin/src/plugin.tsx
  frontend/packages/pipelines-plugin/src/utils/pipeline-utils.ts
Labels: approved, kind/feature, lgtm, component/shared, component/core, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines

#9795 Bug 1995901: TS is giving warnings when re-exporting types
  frontend/public/components/monitoring/types.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, bugzilla/severity-medium

#9644 consolidate admin dashboard in dev console
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/monitoring/MonitoringPage.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringDashboard.scss
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringDashboard.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringDashboardGraph.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringWorkloadFilter.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/__tests__/MonitoringDashboard.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/overview/MonitoringOverview.tsx
  frontend/packages/dev-console/src/components/monitoring/queries.ts
  frontend/public/actions/ui.ts
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/dashboards/custom-time-range-modal.tsx
  frontend/public/components/monitoring/dashboards/graph.tsx
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/dashboards/monitoring-dashboard-utils.ts
  frontend/public/components/monitoring/dashboards/timespan-dropdown.tsx
  frontend/public/components/monitoring/dashboards/types.ts
  frontend/public/components/monitoring/dashboards/useFetchDashboards.ts
  frontend/public/locales/en/public.json
  frontend/public/reducers/ui.ts
Labels: approved, kind/feature, lgtm, component/dev-console, component/monitoring, component/core, docs-approved, qe-approved, px-approved, kind/i18n

#9817 adds support for export app in topology
  frontend/packages/topology/console-extensions.json
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/package.json
  frontend/packages/topology/src/components/export-app/ExportApplication.tsx
  frontend/packages/topology/src/components/export-app/__tests__/ExportApplication.spec.tsx
  frontend/packages/topology/src/components/export-app/__tests__/export-data.ts
  frontend/packages/topology/src/components/export-app/export-app-context.ts
  frontend/packages/topology/src/components/export-app/export-app-modal.tsx
  frontend/packages/topology/src/components/export-app/types.ts
  frontend/packages/topology/src/const.ts
  frontend/packages/topology/src/filters/TopologyFilterBar.tsx
  frontend/packages/topology/src/models/gitops-primer.ts
  frontend/packages/topology/src/models/index.ts
  frontend/packages/topology/src/utils/export-app-utils.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, kind/i18n, component/topology

#9827 Improve git section performance in git import flow
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
  frontend/packages/dev-console/src/components/import/git/SourceSecretSelector.tsx
  frontend/packages/dev-console/src/components/import/section/ResourceSection.tsx
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved

#9836 Bug 1995043: Two storage systems got created while creating one from UI
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/payloads.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/ocs-request-data.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-high

#9386 Create user preferences extensions and a page to view and update them
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/package.json
  frontend/packages/console-app/src/components/detect-namespace/__tests__/checkNamespaceExists.spec.ts
  frontend/packages/console-app/src/components/detect-namespace/__tests__/getValueForNamespace.spec.ts
  frontend/packages/console-app/src/components/detect-namespace/__tests__/namespace.spec.ts
  frontend/packages/console-app/src/components/detect-namespace/checkNamespaceExists.ts
  frontend/packages/console-app/src/components/detect-namespace/getValueForNamespace.ts
  frontend/packages/console-app/src/components/detect-namespace/namespace.ts
  frontend/packages/console-app/src/components/detect-namespace/useLastNamespace.ts
  frontend/packages/console-app/src/components/detect-perspective/__tests__/perspective.data.ts
  frontend/packages/console-app/src/components/detect-perspective/__tests__/useValuesForPerspectiveContext.spec.ts
  frontend/packages/console-app/src/components/detect-perspective/useLastPerspective.ts
  frontend/packages/console-app/src/components/detect-perspective/useValuesForPerspectiveContext.ts
  frontend/packages/console-app/src/components/user-preferences/UserPreferenceCheckboxField.tsx
  frontend/packages/console-app/src/components/user-preferences/UserPreferenceCustomField.tsx
  frontend/packages/console-app/src/components/user-preferences/UserPreferenceDropdownField.tsx
  frontend/packages/console-app/src/components/user-preferences/UserPreferenceField.tsx
  frontend/packages/console-app/src/components/user-preferences/UserPreferenceForm.scss
  frontend/packages/console-app/src/components/user-preferences/UserPreferenceForm.tsx
  frontend/packages/console-app/src/components/user-preferences/UserPreferencePage.scss
  frontend/packages/console-app/src/components/user-preferences/UserPreferencePage.tsx
  frontend/packages/console-app/src/components/user-preferences/__tests__/UserPreferenceCheckboxField.spec.tsx
  frontend/packages/console-app/src/components/user-preferences/__tests__/UserPreferenceCustomField.spec.tsx
  frontend/packages/console-app/src/components/user-preferences/__tests__/UserPreferenceDropdownField.spec.tsx
  frontend/packages/console-app/src/components/user-preferences/__tests__/UserPreferenceField.spec.tsx
  frontend/packages/console-app/src/components/user-preferences/__tests__/UserPreferenceForm.spec.tsx
  frontend/packages/console-app/src/components/user-preferences/__tests__/UserPreferencesPage.spec.tsx
  frontend/packages/console-app/src/components/user-preferences/__tests__/getUserPreferenceGroups.spec.ts
  frontend/packages/console-app/src/components/user-preferences/__tests__/userPreferences.data.tsx
  frontend/packages/console-app/src/components/user-preferences/const.ts
  frontend/packages/console-app/src/components/user-preferences/index.ts
  frontend/packages/console-app/src/components/user-preferences/namespace/NamespaceDropdown.tsx
  frontend/packages/console-app/src/components/user-preferences/namespace/__tests__/NamespaceDropdown.spec.tsx
  frontend/packages/console-app/src/components/user-preferences/namespace/__tests__/namespace.data.ts
  frontend/packages/console-app/src/components/user-preferences/namespace/index.ts
  frontend/packages/console-app/src/components/user-preferences/namespace/usePreferredNamespace.ts
  frontend/packages/console-app/src/components/user-preferences/perspective/PerspectiveDropdown.tsx
  frontend/packages/console-app/src/components/user-preferences/perspective/__tests__/PerspectiveDropdown.spec.tsx
  frontend/packages/console-app/src/components/user-preferences/perspective/__tests__/perspective.data.ts
  frontend/packages/console-app/src/components/user-preferences/perspective/index.ts
  frontend/packages/console-app/src/components/user-preferences/perspective/usePreferredPerspective.ts
  frontend/packages/console-app/src/components/user-preferences/types.ts
  frontend/packages/console-app/src/components/user-preferences/utils/getUserPreferenceGroups.ts
  frontend/packages/console-app/src/consts.ts
  frontend/packages/console-app/src/plugin.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/user-preferences.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
  frontend/packages/topology/console-extensions.json
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/__tests__/TopologyPage.spec.tsx
  frontend/packages/topology/src/components/page/TopologyPage.tsx
  frontend/packages/topology/src/user-preferences/usePreferredTopologyView.ts
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/components/utils/list-dropdown.jsx
  frontend/public/components/utils/namespace-redirect.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/shared, component/dev-console, component/core, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n, component/topology

#9825 Update helm side panel info in developer catalog
  frontend/packages/dev-console/integration-tests/features/e2e/helm.feature
  frontend/packages/dev-console/integration-tests/support/constants/add.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/catalog-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/createHelmChartFromAddPage.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/catalog/details/CatalogDetailsPanel.tsx
  frontend/packages/helm-plugin/integration-tests/README.md
  frontend/packages/helm-plugin/integration-tests/features/helm/actions-on-helm-release-after-upgrade.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/actions-on-helm-release.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-installation-view.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-navigation.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/install-helm-chart.feature
  frontend/packages/helm-plugin/integration-tests/support/pages/helm/helm-page.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-navigation.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm.ts
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/src/catalog/utils/catalog-utils.tsx
  frontend/packages/helm-plugin/src/catalog/utils/const.ts
  frontend/packages/topology/integration-tests/features/topology/topology-chart-area-visual.feature
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, kind/i18n, component/helm, component/topology

#9713 Add topology data model factory for bindable resources
  frontend/packages/console-dynamic-plugin-sdk/src/utils/fetch/console-fetch-utils.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/topology/bindable-services/bindable-service-resources.ts
  frontend/packages/dev-console/src/components/topology/bindable-services/data-transformer.ts
  frontend/packages/dev-console/src/components/topology/bindable-services/fetch-bindable-services-utils.ts
  frontend/packages/dev-console/src/components/topology/bindable-services/isBindable.ts
  frontend/packages/dev-console/src/components/topology/bindable-services/models.ts
  frontend/packages/dev-console/src/components/topology/bindable-services/types.ts
  frontend/packages/dev-console/src/plugin.tsx
Labels: approved, kind/feature, lgtm, component/dev-console, component/kubevirt, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n, component/helm, component/topology

#9841 Bug 1996156: show a default sidebar for resources that doesn't have sidebar
  frontend/packages/topology/src/components/side-bar/TopologyResourcePanel.tsx
  frontend/packages/topology/src/components/side-bar/providers/useDetailsResourceLink.tsx
  frontend/public/components/overview/resource-overview-page.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-high, component/topology

#9840 Gherkin form based edit build config
  frontend/packages/dev-console/integration-tests/features/build-config/edit-build-config.feature
  frontend/packages/dev-console/integration-tests/testData/yamls/BuildConfig/buildconfig-with-strategy-docker-source-dockerfile.yaml
  frontend/packages/dev-console/integration-tests/testData/yamls/BuildConfig/buildconfig-with-strategy-docker-source-git.yaml
  frontend/packages/dev-console/integration-tests/testData/yamls/BuildConfig/buildconfig-with-strategy-source-source-binary.yaml
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved

#9828 Bug 1975038: Cannot delete user created vm template
  frontend/packages/kubevirt-plugin/src/hooks/use-vm-like-entity.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#9774 Bug 1991977: fetch kamelets form both current namespace and global namespace where operator is installed
  frontend/packages/knative-plugin/src/catalog/useKameletsProvider.ts
  frontend/packages/knative-plugin/src/const.ts
  frontend/packages/knative-plugin/src/hooks/index.ts
  frontend/packages/knative-plugin/src/hooks/useEventSourceStatus.ts
  frontend/packages/knative-plugin/src/hooks/useKameletsData.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/knative, bugzilla/severity-medium

#9844 Bug 1996535: Improve detect namespace hook and fix redirect loop and e2e tests
  frontend/packages/console-app/src/components/detect-namespace/__tests__/getValueForNamespace.spec.ts
  frontend/packages/console-app/src/components/detect-namespace/__tests__/namespace.spec.ts
  frontend/packages/console-app/src/components/detect-namespace/getValueForNamespace.ts
  frontend/packages/console-app/src/components/detect-namespace/namespace.ts
  frontend/public/module/k8s/cluster-settings.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/core, component/sdk, bugzilla/severity-urgent, kind/i18n, component/topology

#9808 Console-2951: Prune unused styles from getting started card
  frontend/packages/console-shared/src/components/getting-started/GettingStartedCard.scss
Labels: approved, lgtm, component/shared, docs-approved, qe-approved, px-approved

#9845 Add psrna to integration-tests approvers.
  frontend/packages/dev-console/integration-tests/OWNERS
  frontend/packages/gitops-plugin/integration-tests/OWNERS
  frontend/packages/helm-plugin/integration-tests/OWNERS
  frontend/packages/knative-plugin/integration-tests/OWNERS
  frontend/packages/pipelines-plugin/integration-tests/OWNERS
  frontend/packages/topology/integration-tests/OWNERS
Labels: approved, lgtm, ok-to-test, component/dev-console, component/knative, docs-approved, qe-approved, px-approved, component/helm, component/topology, component/gitops, component/pipelines

#9848 Bug 1963027: Upload qcow2 to PVC too small
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/cdi-upload-provider.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#9849 Bug 1996539: show only route resource id sidepanel if route exists and show external url if status is present and has url
  frontend/packages/knative-plugin/src/components/overview/KSRoutesOverviewListItem.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/KSRoutesOverviewListItem.spec.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/knative, bugzilla/severity-high

#9850 Bug 1996644: Fix issues in horizontal nav match object
  frontend/public/components/utils/horizontal-nav.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#9833 User preferences language preference
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/user-preferences/index.ts
  frontend/packages/console-app/src/components/user-preferences/language/LanguageDropdown.tsx
  frontend/packages/console-app/src/components/user-preferences/language/__tests__/LanguageDropdown.spec.tsx
  frontend/packages/console-app/src/components/user-preferences/language/const.ts
  frontend/packages/console-app/src/components/user-preferences/language/index.ts
  frontend/packages/console-app/src/components/user-preferences/language/usePreferredLanguage.ts
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/components/modals/index.ts
  frontend/public/components/modals/language-preferences-modal.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n, component/topology

#9851 Bug 1996566: handles unknown kamelets with title, description, meta info
  frontend/packages/knative-plugin/src/catalog/useKameletsProvider.ts
  frontend/packages/knative-plugin/src/utils/create-eventsources-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/knative, bugzilla/severity-medium

#9868 Bug 1997179: disable serverless operator installation in catalog
  frontend/packages/dev-console/integration-tests/features/addFlow/developer-catalog-details.feature
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-high

#9791 Bug 1992730: Fix i18n for dynamic plugins
  .dockerignore
  frontend/dynamic-demo-plugin/README.md
  frontend/dynamic-demo-plugin/console-extensions.json
  frontend/dynamic-demo-plugin/i18next-parser.config.js
  frontend/dynamic-demo-plugin/locales/en/plugin__console-demo-plugin.json
  frontend/dynamic-demo-plugin/package.json
  frontend/dynamic-demo-plugin/src/components/ExtensionConsumer.tsx
  frontend/dynamic-demo-plugin/webpack.config.ts
  frontend/dynamic-demo-plugin/yarn.lock
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules.ts
  frontend/public/components/app.jsx
  frontend/public/i18n.js
Labels: approved, lgtm, bugzilla/valid-bug, component/core, component/sdk, bugzilla/severity-medium

#9663 CONSOLE-2422: Add logs page to node details
  frontend/packages/console-app/src/components/nodes/NodeDetailsPage.tsx
  frontend/packages/console-app/src/components/nodes/NodeLogs.tsx
  frontend/packages/console-app/src/components/nodes/NodeLogsUnitFilter.tsx
  frontend/packages/console-app/src/components/nodes/node-logs.scss
  frontend/packages/console-shared/src/constants/common.ts
  frontend/public/components/utils/_alerts.scss
  frontend/public/components/utils/_log-window.scss
  frontend/public/components/utils/resource-log.tsx
  frontend/public/locales/en/public.json
  frontend/public/module/k8s/types.ts
  frontend/public/style/_common.scss
Labels: approved, lgtm, component/shared, component/core, docs-approved, qe-approved, px-approved, kind/i18n

#9861 Bug 1997029: Hide OCS Overview when ODF StorageSystem Model is present
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-medium

#9873 Bug 1996914: Check for internal redux store and return if not initialized
  frontend/packages/console-dynamic-plugin-sdk/src/utils/fetch/console-fetch-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/sdk, bugzilla/severity-medium

#9772 Bug 1995612: Breadcrumbs link fix for block pool related pages
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/block-pool/block-pool-details-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/block-pool/block-pool-list-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/block-pool/create-block-pool.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/dev-console, component/kubevirt, component/dashboard, component/knative, component/ceph, component/monitoring, component/core, component/sdk, component/backend, component/olm, kind/dependency-change, bugzilla/severity-medium, kind/i18n, component/helm, component/topology, kind/cypress

#9789 Bug 1992744: Incorrect spacing in ActionAlert component
  frontend/packages/ceph-storage-plugin/src/utils/common-ocs-install-el.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, component/core, bugzilla/severity-low

#9857 Bug 1995116: Pod logs shows incorrect lines number in the log window top banner
  frontend/public/components/utils/log-window.jsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#9859 Bug 1988903: Kms details empty in only MCG deployment
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-steps.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/advanced-section.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/index.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/review-and-create-step/review-and-create-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/security-and-network-step/encryption.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/security-and-network-step/encryption.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/security-and-network-step/security-and-network-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/payloads.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/kms-config/kms-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/advanced-kms-modal/advanced-kms-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/configure.tsx
  frontend/packages/ceph-storage-plugin/src/constants/create-storage-system.ts
  frontend/packages/ceph-storage-plugin/src/constants/kms.ts
  frontend/packages/ceph-storage-plugin/src/types.ts
  frontend/packages/ceph-storage-plugin/src/utils/create-storage-system.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-high, kind/i18n

#9863 Bug 1997079: Fix moitoring custom time range
  frontend/public/components/monitoring/dashboards/custom-time-range-modal.tsx
  frontend/public/components/monitoring/dashboards/timespan-dropdown.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, bugzilla/severity-medium

#9874 Bug 1997267: chore(i18n): update translations
  frontend/packages/ceph-storage-plugin/locales/ja/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/ko/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/zh/ceph-storage-plugin.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/helm-plugin/locales/ja/helm-plugin.json
  frontend/packages/helm-plugin/locales/ko/helm-plugin.json
  frontend/packages/helm-plugin/locales/zh/helm-plugin.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/ja/lso-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/ko/lso-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/zh/lso-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/operator-lifecycle-manager/locales/ko/olm.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ko/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/packages/rhoas-plugin/locales/ja/rhoas-plugin.json
  frontend/packages/rhoas-plugin/locales/ko/rhoas-plugin.json
  frontend/packages/rhoas-plugin/locales/zh/rhoas-plugin.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, component/kubevirt, component/knative, component/ceph, component/core, component/olm, component/lso, bugzilla/severity-low, kind/i18n, component/helm, component/pipelines

#9785 Bug 1992820: Move event sources add option to serverless add group
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-page.ts
  frontend/packages/dev-console/src/components/add/__tests__/add-page-test-data.tsx
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/integration-tests/features/eventing/eventing-broker-actions.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/eventing-create-sink-broker.feature
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, component/knative, bugzilla/severity-unspecified, kind/i18n

#9858 Bug 1997187: Increase analyze script to 3.5 MiB
  analyze.sh
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low

#9852 Bug 1995525: Use fake model for StorageSystem to hide NavItems from Operators Page
  frontend/packages/ceph-storage-plugin/src/mock-models.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-high

#9880 Bug 1997482: Remove backdrop from Pipeline tasks search modal
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModal.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/packages/topology/src/components/page/TopologyView.scss
  frontend/packages/topology/src/components/page/TopologyView.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/shared, bugzilla/severity-low, component/topology, component/pipelines

#9898 Bug 1997929: Update MachineSet page headers
  frontend/public/components/machine-set.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low, kind/i18n

#9685 migrate perspective extension from static to dynamic
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/package.json
  frontend/packages/console-app/src/__tests__/extension-checks/nav-items.spec.ts
  frontend/packages/console-app/src/__tests__/extension-checks/perspectives.spec.ts
  frontend/packages/console-app/src/components/detect-perspective/DetectPerspective.tsx
  frontend/packages/console-app/src/components/detect-perspective/PerspectiveDetector.tsx
  frontend/packages/console-app/src/components/detect-perspective/__tests__/PerspectiveDetector.spec.tsx
  frontend/packages/console-app/src/components/detect-perspective/__tests__/perspective.data.ts
  frontend/packages/console-app/src/components/detect-perspective/useValuesForPerspectiveContext.ts
  frontend/packages/console-app/src/components/user-preferences/perspective/PerspectiveDropdown.tsx
  frontend/packages/console-app/src/components/user-preferences/perspective/__tests__/perspective.data.ts
  frontend/packages/console-app/src/plugin.tsx
  frontend/packages/console-app/src/utils/perspective.tsx
  frontend/packages/console-demo-plugin/console-extensions.json
  frontend/packages/console-demo-plugin/package.json
  frontend/packages/console-demo-plugin/src/components/test-icon.tsx
  frontend/packages/console-demo-plugin/src/plugin.tsx
  frontend/packages/console-demo-plugin/src/utils/perspective.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/perspectives.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
  frontend/packages/console-plugin-sdk/src/typings/index.ts
  frontend/packages/console-plugin-sdk/src/typings/perspectives.ts
  frontend/packages/console-shared/src/hooks/__tests__/usePinnedResources.spec.ts
  frontend/packages/console-shared/src/hooks/usePinnedResources.ts
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/package.json
  frontend/packages/dev-console/src/components/edit-application/EditApplication.tsx
  frontend/packages/dev-console/src/components/edit-deployment/EditDeployment.tsx
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/components/import/jar/UploadJar.tsx
  frontend/packages/dev-console/src/plugin.tsx
  frontend/packages/dev-console/src/utils/__tests__/usePerspectiveDetection.spec.ts
  frontend/packages/dev-console/src/utils/perspective.tsx
  frontend/packages/dev-console/src/utils/usePerspectiveDetection.ts
  frontend/packages/knative-plugin/src/components/add/EventSource.tsx
  frontend/packages/knative-plugin/src/components/add/brokers/AddBroker.tsx
  frontend/packages/knative-plugin/src/components/add/channels/AddChannel.tsx
  frontend/packages/knative-plugin/src/components/knatify/CreateKnatifyPage.tsx
  frontend/packages/knative-plugin/src/utils/create-eventsources-utils.ts
  frontend/public/components/app-contents.tsx
  frontend/public/components/instantiate-template.tsx
  frontend/public/components/nav/nav-header.tsx
  frontend/public/components/nav/section.tsx
Labels: approved, lgtm, component/shared, component/dev-console, component/knative, component/core, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines

#9855 Bug 1993886: Fix OLM descriptors getCompatibleCapabilities util function
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/utils.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, bugzilla/severity-medium

#9884 Bug 1998413: Fix helm dynamic form field accordion
  frontend/packages/console-shared/src/components/dynamic-form/styles.scss
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/shared, bugzilla/severity-low

#9894 Bug 1998058: Remove extra white space from Kafka instance table
  frontend/packages/rhoas-plugin/src/components/service-table/ServiceInstanceTable.scss
  frontend/packages/rhoas-plugin/src/components/service-table/ServiceInstanceTable.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low

#9854 Bug 1991439: remove < > from string
  frontend/public/components/routes.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low, kind/i18n

#9916 added support for cancel and restart in export app
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/export-app/ExportApplication.tsx
  frontend/packages/topology/src/components/export-app/ExportApplicationModal.tsx
  frontend/packages/topology/src/components/export-app/__tests__/ExportApplicationModal.spec.tsx
  frontend/packages/topology/src/components/export-app/export-app-modal.tsx
  frontend/packages/topology/src/utils/__tests__/export-app-utils.spec.ts
  frontend/packages/topology/src/utils/export-app-utils.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, kind/i18n, component/topology

#9917 Bug 1998408: Avoid resetting dockerfile path when switching build strategies
  frontend/packages/dev-console/src/components/import/devfile/DevfileStrategySection.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-medium

#9920 Bug 1999131: adjust layout by cypress conventions
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/clone.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/migration.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/devconsole/devconsole.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/validate-disk-preallocation.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/validate-storage-profile.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ipv6/ipv6.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/pvc-upload/pvc-upload.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/regression/validate-nad-for-pxe.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/regression/validate-virtio-win-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/action.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/template-tabs.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-creation.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-tabs.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vmi-tabs.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh-advanced-wizard-testing.includes.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh-simple-wizard-test.includes.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh-vm-details-page-testing.includes.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/sysprep/sysprep.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/snapshot.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/create-template-from-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/custom-template-support.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/customize-source.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/source-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/template-support.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/advanced-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/empty-state.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/types/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/provisionSource.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/actions.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/add-source.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/clone.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/customize-source.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/dev-perspective.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/dialog.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/pvc.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector-wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/snapshot.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/tab.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/template-support-modal.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/virtualization.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/wizard.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-low
