Repository openshift/console, pull requests merged in 2021-12, with the labels that each got.

#10458 internal kubevirt 3
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-api-kubevirt.ts
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved

#10504 Add filter by label in topology
  frontend/packages/helm-plugin/src/topology/components/HelmReleaseGroup.tsx
  frontend/packages/helm-plugin/src/topology/components/HelmReleaseNode.tsx
  frontend/packages/knative-plugin/src/topology/components/groups/KnativeServiceGroup.tsx
  frontend/packages/knative-plugin/src/topology/components/groups/KnativeServiceNode.tsx
  frontend/packages/knative-plugin/src/topology/components/nodes/EventSource.tsx
  frontend/packages/knative-plugin/src/topology/components/nodes/EventingPubSubNode.tsx
  frontend/packages/kubevirt-plugin/src/topology/components/nodes/VmNode.tsx
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/graph-view/components/nodes/BaseNode.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/trapezoidNode/TrapezoidBaseNode.tsx
  frontend/packages/topology/src/components/list-view/TopologyListViewNode.tsx
  frontend/packages/topology/src/components/page/TopologyView.tsx
  frontend/packages/topology/src/filters/NameLabelFilterDropdown.tsx
  frontend/packages/topology/src/filters/TopologyFilterBar.tsx
  frontend/packages/topology/src/filters/__tests__/useSearchFilter.spec.ts
  frontend/packages/topology/src/filters/filter-utils.ts
  frontend/packages/topology/src/filters/useSearchFilter.ts
  frontend/packages/topology/src/operators/components/OperatorBackedServiceGroup.tsx
  frontend/packages/topology/src/operators/components/OperatorBackedServiceNode.tsx
Labels: approved, lgtm, component/kubevirt, component/knative, component/core, docs-approved, qe-approved, px-approved, kind/i18n, component/helm, component/topology

#10577 [Release-4.8] Bug 2026950: Fix autofocus on pf select component for search resource dropdown
  frontend/package.json
  frontend/yarn.lock
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium, qe-approved, backport-risk-assessed

#10587 Bug 2025903: - RoleBindings tab doesn't show correct rolebindings
  frontend/public/components/factory/table-filters.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#10579 Bug 2014352: Could not filter out machine by using node name on machines page (temp fix)
  frontend/public/components/machine.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#10137 CONSOLE-922: Support AppliedClusterResourceQuota for normal users
  frontend/__tests__/components/resource-quota.spec.tsx
  frontend/integration-tests/tests/dashboards/project-dashboard.scenario.ts
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/dashboard/resource-quota-card/AppliedClusterResourceQuotaItem.tsx
  frontend/packages/console-shared/src/components/dashboard/resource-quota-card/ResourceQuotaBody.tsx
  frontend/packages/integration-tests-cypress/tests/crud/quotas.spec.ts
  frontend/public/components/dashboard/project-dashboard/resource-quota-card.tsx
  frontend/public/components/dashboard/with-dashboard-resources.tsx
  frontend/public/components/factory/list-page.tsx
  frontend/public/components/graphs/donut.tsx
  frontend/public/components/resource-pages.ts
  frontend/public/components/resource-quota.jsx
  frontend/public/locales/en/public.json
  frontend/public/models/index.ts
  frontend/public/module/k8s/types.ts
Labels: approved, lgtm, component/shared, component/dashboard, component/core, docs-approved, qe-approved, px-approved, kind/i18n, kind/cypress

#10516 Bug 2024399: Remove spaces from a couple of translations
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low, kind/i18n

#10541 Bug 2028162: chore(i18n): update translations
  frontend/packages/ceph-storage-plugin/locales/ja/ceph-storage-plugin.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-shared/locales/ko/console-shared.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/git-service/locales/ja/git-service.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/dev-console, component/kubevirt, component/knative, component/ceph, component/core, component/git-service, component/network-attachment-definition, bugzilla/severity-low, kind/i18n, component/gitops

#10499 Bug 2028106: convert vm,vmi actions to dynamic
  frontend/packages/console-shared/src/components/actions/menu/ActionMenuToggle.tsx
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/devconsole/devconsole.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/action.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.action.migration.scenario.ts
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/actions/provider.ts
  frontend/packages/kubevirt-plugin/src/components/modals/clone-vm-modal/clone-vm-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/menu-actions-modals/delete-vmi-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-status/lazy-vm-row-kebab.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-details-page.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-page-new.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vmi-details-page.tsx
  frontend/packages/kubevirt-plugin/src/topology/components/kubevirtComponentFactory.ts
  frontend/packages/kubevirt-plugin/src/utils/index.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/dev-console, component/kubevirt, component/dashboard, component/ceph, component/monitoring, component/core, component/sdk, component/olm, bugzilla/severity-medium, kind/i18n, component/topology, component/pipelines

#10487 Bug 2022399: Fix troubleshoot link for MON_DISK_LOW
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/status-card/whitelisted-health-checks.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-high

#10600 Bug 2024448: Yaml editor will not show empty ssh array
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/Cloudinit.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/CloudinitForm.tsx
  frontend/packages/kubevirt-plugin/src/components/form-with-editor/form-with-editor-utils.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/cloud-init-data-helper.tsx
  frontend/packages/kubevirt-plugin/src/utils/validations/cloudint-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#10589 Bug 2018275: show context menu for operator backed service
  frontend/packages/topology/src/actions/__tests__/contextMenuActions.spec.ts
  frontend/packages/topology/src/actions/contextMenuActions.tsx
  frontend/packages/topology/src/operators/components/OperatorBackedService.tsx
  frontend/packages/topology/src/operators/components/OperatorBackedServiceGroup.tsx
  frontend/packages/topology/src/operators/components/OperatorBackedServiceNode.tsx
  frontend/packages/topology/src/operators/components/operatorsComponentFactory.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium, component/topology

#10338 Bug 2019948: Improving console.extensions links and routes
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/virtualization.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-tabs.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-a/customize-source.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-b/empty-state.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/virtualization.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/wizard.ts
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/package.json
  frontend/packages/kubevirt-plugin/src/components/VirtualizationWizardNavigator/VirtualizationWizardNavigator.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard-footer.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/create-vm.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/menu-actions-modals/utils.ts
  frontend/packages/kubevirt-plugin/src/components/modals/template-customization/CancelCustomizationModal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/vm-snapshot-details.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/customize-source/CustomizeSourceFinish.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/customize-source/CustomizeSourceForm.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/RowActions.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/VMCustomizeRow.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/VMTemplateRow.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-create-yaml.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-details-page.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-link.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/virtualization.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-details-page.tsx
  frontend/packages/kubevirt-plugin/src/constants/url-params.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/constants.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-customize-source-modal.ts
  frontend/packages/kubevirt-plugin/src/utils/url.ts
  frontend/packages/kubevirt-plugin/src/utils/utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, component/core, bugzilla/severity-medium, kind/i18n

#10149 CONSOLE-2975: Migrate from Node Sass to Dart Sass
  Dockerfile.product
  frontend/package.json
  frontend/public/components/_build-pipeline.scss
  frontend/public/components/sidebars/_resource-sidebar.scss
  frontend/yarn.lock
Labels: approved, lgtm, component/shared, component/dashboard, component/core, component/olm, docs-approved, qe-approved, px-approved, component/topology

#10496 [release-4.8] Bug 2024206: Fix resource metrics 403 errors for project admin users
  frontend/packages/console-shared/src/promql/resource-metrics.ts
  frontend/packages/dev-console/src/components/monitoring/queries.ts
  frontend/public/components/utils/resource-metrics.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/shared, component/dev-console, component/core, bugzilla/severity-high, qe-approved, backport-risk-assessed

#10608 Bug 2028042: Fix NodePort RDP bug
  frontend/packages/kubevirt-plugin/src/components/vms/vm-console/DesktopViewerSelector.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-console/VMConsoles.tsx
  frontend/packages/kubevirt-plugin/src/selectors/service/rdp/index.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-urgent

#10602 Bug 2020498: Trim the strings before localCompare
  frontend/packages/dev-console/src/components/monitoring/metrics/MetricsQueryInput.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-low

#10609 [release-4.9] Bug 2029297: Fix troubleshoot link for MON_DISK_LOW
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/status-card/whitelisted-health-checks.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/ceph, bugzilla/severity-high, qe-approved, backport-risk-assessed

#10583 Bug 2027563: Wait for developer catalog to load in e2e-console cypress tests
  frontend/packages/dev-console/integration-tests/features/e2e/add-flow-ci.feature
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-page.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-helper-page.ts
Labels: approved, bugzilla/valid-bug, component/dev-console, bugzilla/severity-high, component/topology

#10570 Bug 2027288: Devfile samples can't be loaded after fixing it on Safari (redirect caching issue)
  frontend/packages/dev-console/src/components/catalog/providers/__tests__/useDevfileSamples.spec.ts
  frontend/packages/dev-console/src/components/catalog/providers/useDevfile.tsx
  frontend/packages/dev-console/src/components/catalog/providers/useDevfileSamples.tsx
  frontend/packages/dev-console/src/components/import/devfile/devfileHooks.ts
  pkg/server/server.go
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, component/backend, bugzilla/severity-low

#10594 Bug 2028141: Catch unhandled promises when running tests (to support Node.js 15 and 16)
  frontend/__tests__/components/resource-pages.spec.tsx
  frontend/before-tests.js
  frontend/packages/console-app/src/components/detect-namespace/__tests__/checkNamespaceExists.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/__tests__/coderef-resolver.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/__tests__/plugin-loader.spec.ts
  frontend/packages/dev-console/src/components/import/__tests__/DeployImage.spec.tsx
  frontend/packages/dev-console/src/components/import/serverless/useUpdateKnScalingDefaultValues.ts
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.spec.tsx
  frontend/packages/topology/src/components/export-app/ExportApplication.tsx
  frontend/packages/topology/src/components/export-app/__tests__/ExportApplication.spec.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, component/core, component/sdk, component/olm, bugzilla/severity-low, component/topology

#10476 Bug 2025823: Add plugin seperator to admin nav
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/navigation.ts
  frontend/public/components/nav/admin-nav.tsx
  frontend/public/components/nav/section.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, component/sdk, bugzilla/severity-medium

#10599 Bug 2029369: Mock github API requests when importing projects in cypress tests
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/dev-console/integration-tests/testData/git-import/cakephp-ex/contents.json
  frontend/packages/dev-console/integration-tests/testData/git-import/cakephp-ex/repo.json
  frontend/packages/dev-console/integration-tests/testData/git-import/dancer-ex/contents.json
  frontend/packages/dev-console/integration-tests/testData/git-import/dancer-ex/repo.json
  frontend/packages/dev-console/integration-tests/testData/git-import/django-ex/contents.json
  frontend/packages/dev-console/integration-tests/testData/git-import/django-ex/repo.json
  frontend/packages/dev-console/integration-tests/testData/git-import/golang-ex/contents.json
  frontend/packages/dev-console/integration-tests/testData/git-import/golang-ex/repo.json
  frontend/packages/dev-console/integration-tests/testData/git-import/nodejs-ex/contents.json
  frontend/packages/dev-console/integration-tests/testData/git-import/nodejs-ex/package.json
  frontend/packages/dev-console/integration-tests/testData/git-import/nodejs-ex/repo.json
  frontend/packages/dev-console/integration-tests/testData/git-import/repos.ts
  frontend/packages/dev-console/integration-tests/testData/git-import/ruby-ex/contents.json
  frontend/packages/dev-console/integration-tests/testData/git-import/ruby-ex/repo.json
  frontend/packages/dev-console/integration-tests/testData/git-import/spring-boot/contents.json
  frontend/packages/dev-console/integration-tests/testData/git-import/spring-boot/repo.json
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-medium

#10618 Bug 2028949: Remove unutilized css causing bug
  frontend/public/components/_dropdown.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#10610 Bug 2029273: Fix all-projects-wizard link
  frontend/packages/kubevirt-plugin/src/constants/url-params.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#10100 Use dynamic add actions for topology context menu
  frontend/packages/console-shared/src/components/actions/loader/ActionsLoader.tsx
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/actions/add-actions.tsx
  frontend/packages/dev-console/src/actions/add-resources.tsx
  frontend/packages/dev-console/src/actions/context-menu.ts
  frontend/packages/dev-console/src/actions/providers.ts
  frontend/packages/dev-console/src/components/add/DeveloperFeaturesGettingStartedCard.tsx
  frontend/packages/dev-console/src/components/add/SampleGettingStartedCard.tsx
  frontend/packages/dev-console/src/components/add/hooks/__tests__/useAccessFilterExtensions.spec.ts
  frontend/packages/dev-console/src/components/add/hooks/useAccessFilterExtensions.ts
  frontend/packages/dev-console/src/utils/__tests__/add-resources-menu-utils.spec.tsx
  frontend/packages/dev-console/src/utils/add-resources-menu-utils.ts
  frontend/packages/helm-plugin/console-extensions.json
  frontend/packages/helm-plugin/src/actions/add-resources.tsx
  frontend/packages/helm-plugin/src/actions/providers.ts
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/src/actions/add-broker.tsx
  frontend/packages/knative-plugin/src/actions/add-channel.tsx
  frontend/packages/knative-plugin/src/actions/add-event-source.tsx
  frontend/packages/knative-plugin/src/actions/add-subscription.ts
  frontend/packages/knative-plugin/src/actions/add-trigger.ts
  frontend/packages/knative-plugin/src/actions/providers.ts
  frontend/packages/knative-plugin/src/topology/components/knativeComponentFactory.ts
  frontend/packages/knative-plugin/src/topology/components/knativeComponentUtils.ts
  frontend/packages/knative-plugin/src/topology/create-connector-utils.ts
  frontend/packages/topology/console-extensions.json
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/actions/TopologyActions.tsx
  frontend/packages/topology/src/actions/__tests__/graphActions.spec.tsx
  frontend/packages/topology/src/actions/__tests__/groupActions.spec.tsx
  frontend/packages/topology/src/actions/graphActions.ts
  frontend/packages/topology/src/actions/groupActions.ts
  frontend/packages/topology/src/actions/index.ts
  frontend/packages/topology/src/actions/provider.ts
  frontend/packages/topology/src/components/application-panel/TopologyApplicationPanel.tsx
  frontend/packages/topology/src/components/graph-view/components/componentFactory.ts
  frontend/packages/topology/src/components/graph-view/components/nodeContextMenu.tsx
Labels: approved, lgtm, component/shared, component/dev-console, component/kubevirt, component/knative, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n, component/helm, component/topology

#10588 Bug 2013996: Project detail page: Action "Delete Project" does nothing for the default project
  frontend/public/components/utils/__tests__/kebab.spec.tsx
  frontend/public/components/utils/kebab.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#9561 CONSOLE-2832, CONSOLE-2834: Integrate multicluster POC front and back end changes
  cmd/bridge/main.go
  contrib/multicluster-environment.sh
  frontend/@types/console/index.d.ts
  frontend/packages/console-app/src/components/detect-cluster/DetectCluster.tsx
  frontend/packages/console-app/src/components/detect-cluster/cluster.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/fetch/console-fetch-utils.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/fetch/console-fetch.ts
  frontend/packages/console-shared/src/constants/common.ts
  frontend/packages/console-shared/src/hooks/index.ts
  frontend/packages/console-shared/src/hooks/useActiveCluster.ts
  frontend/packages/console-shared/src/hooks/useUserSettings.ts
  frontend/packages/console-shared/src/utils/__tests__/user-settings.spec.ts
  frontend/packages/console-shared/src/utils/user-settings.ts
  frontend/public/actions/k8s.ts
  frontend/public/actions/ui.ts
  frontend/public/components/app.jsx
  frontend/public/components/factory/list-page.tsx
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/components/nav/nav-header.tsx
  frontend/public/components/pod-exec.jsx
  frontend/public/components/utils/firehose.jsx
  frontend/public/components/utils/k8s-watch-hook.ts
  frontend/public/components/utils/k8s-watcher.js
  frontend/public/components/utils/rbac.tsx
  frontend/public/components/utils/resource-log.tsx
  frontend/public/locales/en/public.json
  frontend/public/module/auth.js
  frontend/public/module/k8s/resource.ts
  frontend/public/multicluster-logout.html
  frontend/public/reducers/ui.ts
  frontend/webpack.config.ts
  pkg/auth/auth.go
  pkg/auth/auth_oidc.go
  pkg/auth/auth_openshift.go
  pkg/auth/session.go
  pkg/auth/util.go
  pkg/helm/chartproxy/proxy.go
  pkg/helm/chartproxy/proxy_test.go
  pkg/server/kube_version.go
  pkg/server/middleware.go
  pkg/server/server.go
  pkg/serverconfig/config.go
  pkg/serverconfig/types.go
  pkg/serverconfig/validate.go
  pkg/serverutils/utils.go
  pkg/version/version.go
Labels: approved, lgtm, component/shared, component/core, component/sdk, component/backend, kind/i18n

#10616 Bug 2025295: Add new option for VIRTIOWIN ConfigMap name
  frontend/packages/kubevirt-plugin/src/constants/v2v.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/v2vvmware-configmap-validator.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/v2vvmware-configmap.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#10623 Bug 2022880: Fix pipeline builder edge spacing to avoid improper edge shapes
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/const.ts
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low, component/pipelines

#10592 Bug 2028174: chore(i18n): update translations
  frontend/packages/ceph-storage-plugin/locales/ko/ceph-storage-plugin.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/topology/locales/ja/topology.json
  frontend/packages/topology/locales/ko/topology.json
  frontend/packages/topology/locales/zh/topology.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/dev-console, component/kubevirt, component/knative, component/ceph, component/core, component/git-service, bugzilla/severity-low, kind/i18n, component/topology

#10631 Bug 2029872: Disable replacement procedure from ODF UI
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/plugin.ts
  frontend/packages/ceph-storage-plugin/src/utils/alert-action-path.tsx
  frontend/packages/local-storage-operator-plugin/src/features.ts
  frontend/packages/local-storage-operator-plugin/src/plugin.ts
  frontend/packages/local-storage-operator-plugin/src/utils/alert-actions-path.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, component/lso, bugzilla/severity-high, kind/i18n

#10402 Bug 2021466: [e2e][automation] Windows guest tool mount
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-b/win-guest-tools-mount.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector-wizard.ts
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#10412 Bug 2019827: Fix navigation display issue effecting demo plugin
  frontend/public/components/nav/items.tsx
  frontend/public/style/_overrides.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#10466 Update PF packages to release 2021-15
  frontend/package.json
  frontend/packages/console-shared/src/components/namespace/NamespaceDropdown.tsx
  frontend/yarn.lock
Labels: approved, lgtm, component/shared, docs-approved, qe-approved, px-approved

#10537 Fix Ceph Block pool missing from ODF system level dashboard
  frontend/packages/ceph-storage-plugin/src/components/dashboards/odf-system-dashboard.tsx
Labels: approved, lgtm, component/ceph, docs-approved, qe-approved, px-approved

#10584 Bug 2020904: Add edge items in kubevirt topology data model factory
  frontend/packages/kubevirt-plugin/src/topology/kubevirt-data-transformer.ts
  frontend/packages/topology/src/utils/__tests__/connector-utils.spec.ts
  frontend/packages/topology/src/utils/connector-utils.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium, component/topology

#10614 Bug 2029394: missing empty text for hardware devices at wizard review
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/VirtualMachineHardware.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-low

#10633 Bug 2019284: fix dynamic actions disabling conditions
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/vm-status.ts
  frontend/packages/kubevirt-plugin/src/statuses/vm/vm-status.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#10630 Bug 2030228: Fix StorageSpec resources field to use correct API
  frontend/packages/kubevirt-plugin/src/types/api/K8sIoApiCoreV1ResourceRequirements.ts
  frontend/packages/kubevirt-plugin/src/types/api/V1PersistentVolumeClaimSpec.ts
  frontend/packages/kubevirt-plugin/src/types/api/V1beta1StorageSpec.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#10250 Monitoring: Move monitoring Redux data to a separate store
  frontend/packages/ceph-storage-plugin/src/components/disk-inventory/ocs-disks-list.tsx
  frontend/packages/console-shared/src/hooks/useNotificationAlerts.ts
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlerts.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlertsRulesDetailsPage.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/SilenceAlert.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/SilenceDurationDropdown.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringDashboardGraph.tsx
  frontend/packages/dev-console/src/components/monitoring/metrics/MetricsChart.tsx
  frontend/packages/dev-console/src/components/monitoring/metrics/MetricsQueryInput.tsx
  frontend/packages/topology/src/components/list-view/TopologyListView.tsx
  frontend/public/actions/observe.ts
  frontend/public/actions/ui.ts
  frontend/public/components/dashboard/with-dashboard-resources.tsx
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/dashboards/custom-time-range-modal.tsx
  frontend/public/components/monitoring/dashboards/graph.tsx
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/dashboards/timespan-dropdown.tsx
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/components/monitoring/query-browser.tsx
  frontend/public/components/monitoring/silence-form.tsx
  frontend/public/components/notification-drawer.tsx
  frontend/public/reducers/observe.ts
  frontend/public/reducers/ui.ts
  frontend/public/redux.ts
Labels: approved, lgtm, component/shared, component/dev-console, component/dashboard, component/ceph, component/monitoring, component/core, docs-approved, qe-approved, px-approved, component/topology

#10639 Bug 2030556: Monitoring: Don't assume rules have Description & Message annotations
  frontend/public/components/monitoring/alerting.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, bugzilla/severity-low

#10590 Expose Overview status popover components
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/status-card/object-service-health.tsx
  frontend/packages/ceph-storage-plugin/src/components/storage-popover.tsx
  frontend/packages/console-app/src/components/dashboards-page/ControlPlaneStatus.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/NodeHealth.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/node-health.scss
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/dashboard-types.ts
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/dashboard/status-card/OperatorStatusBody.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/StatusPopup.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/operator-body.scss
  frontend/packages/console-shared/src/components/dashboard/status-card/status-popup.scss
  frontend/packages/container-security/src/components/summary.tsx
  frontend/packages/insights-plugin/src/components/InsightsPopup/index.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/health-item.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/status-card.tsx
Labels: approved, lgtm, component/shared, component/dashboard, component/ceph, component/core, component/sdk, docs-approved, qe-approved, px-approved, component/insights, kind/i18n

#10593 Support custom builder image environment variables in edit flow
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/import-environments.ts
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-git.feature
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/addFlow.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/topology.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/monitoring/topology-sidebar-actions.ts
  frontend/packages/dev-console/src/components/import/advanced/BuildConfigSection.tsx
  frontend/packages/dev-console/src/components/import/advanced/__tests__/BuildConfigSection.spec.tsx
  frontend/packages/dev-console/src/components/import/builder/BuilderImageEnvironments.tsx
  frontend/packages/dev-console/src/components/import/builder/__tests__/BuilderImageEnvironments.spec.tsx
  frontend/packages/dev-console/src/components/import/builder/builderImageHooks.ts
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-page.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-side-pane-page.ts
  frontend/packages/topology/src/components/workload/BuildOverview.tsx
  frontend/public/components/overview/build-overview.tsx
Labels: approved, lgtm, component/dev-console, component/core, component/sdk, docs-approved, qe-approved, px-approved, component/topology

#10115 Bug 1998519: Provide options to file fstype in create-local-volume-set
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/reducer.ts
  frontend/packages/local-storage-operator-plugin/locales/en/lso-plugin.json
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/body.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/request.ts
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/state.ts
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/types.ts
  frontend/packages/local-storage-operator-plugin/src/constants/index.ts
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, component/ceph, component/lso, bugzilla/severity-medium, kind/i18n

#10641 Bug 2031502: New common templates crash fix
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/workload-profile.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#10564 [Feature] Namespace store filesystem update
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/namespace-store-form.tsx
  frontend/packages/ceph-storage-plugin/src/constants/providers.ts
  frontend/packages/ceph-storage-plugin/src/utils/noobaa-utils.ts
Labels: approved, lgtm, component/ceph, docs-approved, qe-approved, px-approved, kind/i18n

#10470 [EPIC] Utilization Card updates
  frontend/packages/ceph-storage-plugin/locales/en/console-shared.json
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/utilization-card/area-chart.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/utilization-card/multi-utilization-item.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/utilization-card/prometheus-multi-utilization-item.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/utilization-card/prometheus-utilization-item.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/utilization-card/utilization-card.scss
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/utilization-card/utilization-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/utilization-card/utilization-item.tsx
  frontend/packages/ceph-storage-plugin/src/queries/ceph-queries.ts
Labels: approved, lgtm, component/shared, component/dashboard, component/ceph, component/core, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n

#10475 Implement UI for IBM ROKS HPCS KMS
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-steps.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/review-and-create-step/review-and-create-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/security-and-network-step/encryption.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/security-and-network-step/security-and-network-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/payloads.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/kms-config/hpcs-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/kms-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/providers.ts
  frontend/packages/ceph-storage-plugin/src/components/kms-config/utils.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/vault-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/advanced-kms-modal/advanced-ibm-kms-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/advanced-kms-modal/advanced-vault-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/configure.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.scss
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
  frontend/packages/ceph-storage-plugin/src/constants/kms.ts
  frontend/packages/ceph-storage-plugin/src/features.ts
  frontend/packages/ceph-storage-plugin/src/types.ts
Labels: approved, lgtm, component/ceph, docs-approved, qe-approved, px-approved, kind/i18n

#10613 Bug 1992509: Could not customize boot source due to source PVC not found
  frontend/packages/kubevirt-plugin/src/components/vm-templates/customize-source/CustomizeSource.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/customize-source/CustomizeSourceFinish.tsx
  frontend/packages/kubevirt-plugin/src/k8s/requests/vmtemplate/customize.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#10255 Bug 2009664: fix edit ksvc in git import flow
  frontend/packages/dev-console/src/components/edit-application/EditApplicationComponent.tsx
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-utils.spec.ts
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/dev-console/src/components/import/__tests__/deployImage-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/import/deployImage-submit-utils.ts
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/knative-plugin/src/utils/create-knative-utils.ts
  frontend/packages/knative-plugin/src/utils/knatify-utils.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/dev-console, component/knative, bugzilla/severity-high

#10595 Migrate usek8sWatchResource(s)
  frontend/__tests__/actions/k8s.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/k8s/actions/__tests__/k8s.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/k8s/actions/k8s.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/k8s/reducers/k8s.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/k8s/reducers/k8sSelector.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/redux-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/redux.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/k8s-watch-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/k8s-watcher.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useDeepCompareMemoize.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sWatchResource.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sWatchResources.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useModelsLoaded.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/usePrevious.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-utils.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/ws-factory.ts
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlerts.tsx
  frontend/public/actions/k8s.ts
  frontend/public/components/factory/list-page.tsx
  frontend/public/components/filter-toolbar.tsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/namespace.jsx
  frontend/public/components/row-filter.jsx
  frontend/public/components/utils/firehose.jsx
  frontend/public/components/utils/k8s-watch-hook.ts
  frontend/public/components/utils/k8s-watcher.js
  frontend/public/module/k8s/resource.ts
  frontend/public/module/ws-factory.ts
  frontend/public/reducers/k8s.ts
Labels: approved, lgtm, component/dev-console, component/monitoring, component/core, component/sdk, docs-approved, qe-approved, px-approved

#10656 Bug 2026383: Monitoring: Handle null ref.current in useIsVisible hook
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/hooks/useIsVisible.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, bugzilla/severity-medium

#10658 Add frontend OWNERS to demo plugin
  dynamic-demo-plugin/OWNERS
Labels: approved, lgtm, docs-approved, qe-approved, px-approved

#10642 Bug 2028160: Remove i18nKey in network-policy-peer-selectors.tsx
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/network-policies/network-policy-peer-selectors.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low, kind/i18n

#10571 Bug 2027311: Fix k8s watch hooks to work with core resources
  dynamic-demo-plugin/src/components/ListPage.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sModel.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sWatchResource.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sWatchResources.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/core, component/sdk, bugzilla/severity-high

#9376 Monitoring: Add runbook URLs to alert and rule details pages
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved, kind/i18n

#10657 Bug 2018094: Monitoring dashboards: Allow tooltip width to extend further
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, bugzilla/severity-low

#10622 Move kindToAbbr to the SDK
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-get-resource.ts
Labels: approved, lgtm, component/shared, component/knative, component/core, component/sdk, docs-approved, qe-approved, px-approved, component/topology

#10650 Automation of toast notification and route label for epic ODC-6266
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-git.feature
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-git.ts
  frontend/public/components/routes.tsx
Labels: approved, lgtm, component/dev-console, component/core, docs-approved, qe-approved, px-approved

#10628 Bug 2005902: Add support for storage class selection for mcg standalone
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-steps.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/advanced-section.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/select-deployment.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/capacity-and-nodes-step/capacity-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set-step/body.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set-step/create-local-volume-set-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/review-and-create-step/review-and-create-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/payloads.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/ocs-request-data.ts
  frontend/packages/ceph-storage-plugin/src/types.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-medium, kind/i18n

#10671 Bug 2015472: Form and YAML view switch button should have distinguishable status
  frontend/public/components/radio.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#10653 Bug 2026209: Fix tektonhub task upgrading issue
  frontend/packages/pipelines-plugin/src/components/quicksearch/__tests__/pipeline-quicksearch-data.ts
  frontend/packages/pipelines-plugin/src/components/quicksearch/__tests__/pipeline-quicksearch-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/quicksearch/pipeline-quicksearch-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium, component/pipelines

#10667 Bug 2032831: Fix an error to show Knative Services and Revisions also if the Service has no owner revision
  frontend/packages/knative-plugin/src/utils/__tests__/get-knative-resources.spec.ts
  frontend/packages/knative-plugin/src/utils/get-knative-resources.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/knative, bugzilla/severity-medium

#10547 Remember the last selected node in topology
  frontend/packages/topology/src/components/page/TopologyPage.tsx
  frontend/packages/topology/src/components/page/TopologyView.tsx
  frontend/packages/topology/src/const.ts
Labels: approved, kind/feature, lgtm, component/shared, docs-approved, qe-approved, px-approved, component/topology

#10550 Create Service Binding CTA to topology nodes actions menu
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/actions/creators/deployment-factory.ts
  frontend/packages/console-app/src/actions/providers/index.ts
  frontend/packages/console-app/src/actions/providers/service-binding-provider.ts
  frontend/packages/console-app/src/components/modals/service-binding/BindableServices.tsx
  frontend/packages/console-app/src/components/modals/service-binding/CreateServiceBindingForm.tsx
  frontend/packages/console-app/src/components/modals/service-binding/ServiceBindingModalLauncher.tsx
  frontend/packages/console-app/src/components/modals/service-binding/__tests__/bindable-services-utils-data.ts
  frontend/packages/console-app/src/components/modals/service-binding/__tests__/bindable-services-utils.spec.ts
  frontend/packages/console-app/src/components/modals/service-binding/__tests__/service-binding-modal-launcher-utils.spec.ts
  frontend/packages/console-app/src/components/modals/service-binding/bindable-services-utils.ts
  frontend/packages/console-app/src/components/modals/service-binding/index.ts
  frontend/packages/console-app/src/components/modals/service-binding/service-binding-modal-launcher-utils.ts
  frontend/packages/console-app/src/components/modals/service-binding/servicebinding-validation-utils.ts
  frontend/packages/dev-console/src/components/topology/bindable-services/bindable-service-resources.ts
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/graph-view/components/componentFactory.ts
  frontend/packages/topology/src/operators/actions/serviceBindings.ts
  frontend/packages/topology/src/operators/components/OperatorBackedServiceGroup.tsx
  frontend/packages/topology/src/operators/components/OperatorBackedServiceNode.tsx
Labels: approved, kind/feature, lgtm, component/dev-console, component/knative, component/core, docs-approved, qe-approved, px-approved, kind/i18n, component/topology

#10585 Add Support information in the event source catalog side panel
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/catalog.ts
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/catalog/__tests__/CatalogDetailsPanel.spec.tsx
  frontend/packages/console-shared/src/components/catalog/__tests__/catalog-item-data.ts
  frontend/packages/console-shared/src/components/catalog/details/CatalogDetailsPanel.tsx
  frontend/packages/console-shared/src/components/catalog/utils/catalog-utils.tsx
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/catalog/__tests__/eventSourceKamelets-data.ts
  frontend/packages/knative-plugin/src/catalog/__tests__/utils.spec.ts
  frontend/packages/knative-plugin/src/catalog/event-source-data.ts
  frontend/packages/knative-plugin/src/catalog/useEventSourceProvider.ts
  frontend/packages/knative-plugin/src/catalog/useKameletsProvider.ts
  frontend/packages/knative-plugin/src/catalog/utils.ts
Labels: approved, kind/feature, lgtm, component/shared, component/knative, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n

#10681 Bug 2033138: No model registered for Templates
  frontend/packages/kubevirt-plugin/src/utils/redux/id-reference.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#10649 Bug 2031831: Scope toolbar for specific left alignment use on list pages and remove...
  frontend/packages/operator-lifecycle-manager/src/style.scss
  frontend/public/components/catalog/_catalog.scss
  frontend/public/components/factory/modal.tsx
  frontend/public/components/filter-toolbar.tsx
  frontend/public/components/markdown-view.tsx
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/search.tsx
  frontend/public/components/sidebars/explore-type-sidebar.tsx
  frontend/public/components/user.tsx
  frontend/public/style/_overrides.scss
  frontend/public/style/ancillary/_patternfly4.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, component/olm, bugzilla/severity-medium

#10179 [ODC-6371] Migrate contextmenu for VmNode, Service Binding
  frontend/packages/kubevirt-plugin/src/topology/components/kubevirtComponentFactory.ts
  frontend/packages/topology/console-extensions.json
  frontend/packages/topology/src/actions/provider.ts
  frontend/packages/topology/src/operators/components/operatorsComponentFactory.ts
Labels: approved, lgtm, component/shared, component/dev-console, component/kubevirt, component/knative, component/ceph, component/core, docs-approved, qe-approved, px-approved, kind/i18n, component/helm, component/topology, component/pipelines

#10500 GITOPS-1285 set equal width for details page card
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetails.scss
  frontend/packages/gitops-plugin/src/components/details/GitOpsResourcesSection.tsx
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/gitops

#10554 Gherkin and Automation for dev console usability improvements
  frontend/packages/console-shared/src/components/quick-search/QuickSearchBar.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchDetails.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchList.tsx
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-git.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/quick-search-add.feature
  frontend/packages/dev-console/integration-tests/features/user-preferences/user-preferences-dev-perspective.feature
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/quickStarts-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-quick-search.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-git.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/quick-search-add.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/userPreferences/user-preferences-dev-perspective.ts
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-runs.feature
  frontend/packages/pipelines-plugin/integration-tests/testData/petclinic-pipeline-all.yaml
  frontend/packages/topology/src/components/quick-search/TopologyQuickSearchButton.tsx
Labels: approved, lgtm, component/shared, component/dev-console, docs-approved, qe-approved, px-approved, component/topology, component/pipelines

#10640 NETOBSERV-32 Use new CNO configmap to get network features
  frontend/packages/console-app/src/__tests__/network-policies/network-policy-form.spec.tsx
  frontend/packages/console-app/src/__tests__/network-policies/network-policy-peer-ipblock.spec.tsx
  frontend/public/module/k8s/network.ts
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved

#10670 Bug 2032516: Add support for checking .devfile.yaml during strategy detection
  frontend/packages/git-service/src/utils/import-strategy-detector.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, component/git-service, bugzilla/severity-medium

#10673 Bug 2032851: Fix networking status in Status card
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/VirtOverviewStatusCard.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#10674 Bug 2033215: Do not render an empty button if it has no content to fix a11y check
  frontend/packages/console-shared/src/components/dashboard/utilization-card/TopConsumerPopover.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/dashboard, bugzilla/severity-medium

#10679 Bug 2033290: fix sdk build
  frontend/packages/git-service/src/services/base-service.ts
  frontend/public/components/factory/modal.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, component/core, component/git-service, bugzilla/severity-high

#10591 Export Application view log
  frontend/packages/console-shared/src/constants/duration.ts
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/export-app/ExportApplication.tsx
  frontend/packages/topology/src/components/export-app/ExportApplicationModal.tsx
  frontend/packages/topology/src/components/export-app/ExportViewLogButton.tsx
  frontend/packages/topology/src/components/export-app/__tests__/ExportApplicationModal.spec.tsx
  frontend/packages/topology/src/components/export-app/__tests__/ExportViewLogButton.spec.tsx
  frontend/packages/topology/src/const.ts
Labels: approved, lgtm, component/shared, docs-approved, qe-approved, px-approved, kind/i18n, component/topology

#10665 Bug 2032732: Fix styling conflicts stemming from console wide changes
  frontend/packages/ceph-storage-plugin/src/components/dashboards/common/capacity-card/capacity-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/capacity-breakdown/capacity-breakdown-card.scss
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/capacity-breakdown/capacity-breakdown-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/data-consumption-card/data-consumption-card.scss
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/data-consumption-card/data-consumption-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/storage-efficiency-card/storage-efficiency-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/capacity-breakdown-card/capacity-breakdown-card.scss
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/capacity-breakdown-card/capacity-breakdown-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/storage-efficiency-card/storage-efficiency-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/utilization-card/utilization-card.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-high

#10624 Bug 2019972: Update CSR model & fix approval/denial process
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/menu-actions.ts
  frontend/packages/metal3-plugin/src/selectors/csr.ts
  frontend/public/models/index.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/core, component/metal3, bugzilla/severity-high

#10311 Bug 2019360: Create Virtualization Overview Running VMs Per Template card
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/VirtualizationOverviewPage.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/running-vms-per-template-card/RunningVMsPerTemplateCard.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/running-vms-per-template-card/running-vms-per-template-card.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/kubevirt, bugzilla/severity-medium, kind/i18n

#10413 Gherkin and Automation changes for topology usability improvements
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/topology/integration-tests/features/topology/topology-chart-area-visual.feature
  frontend/packages/topology/integration-tests/features/topology/topology-workload-sidebar.feature
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/chart-view.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/workload-sidebar.ts
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/Decorator.tsx
Labels: approved, lgtm, component/dev-console, component/core, docs-approved, qe-approved, px-approved, component/topology

#10559 Cluster wide encryption - Service Account for KMS authentication
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/review-and-create-step/review-and-create-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/payloads.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/kms-config/hpcs-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/kms-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/utils.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/vault-auth-methods.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/vault-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/advanced-kms-modal/advanced-vault-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
  frontend/packages/ceph-storage-plugin/src/constants/kms.ts
  frontend/packages/ceph-storage-plugin/src/features.ts
  frontend/packages/ceph-storage-plugin/src/types.ts
Labels: approved, lgtm, component/ceph, docs-approved, qe-approved, px-approved, kind/i18n

#10561 Create new cluster inventory extension for custom components
  dynamic-demo-plugin/console-extensions.json
  dynamic-demo-plugin/locales/en/plugin__console-demo-plugin.json
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/src/components/ClusterOverview/Inventory.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/InventoryCard.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/cluster-overview.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
  frontend/packages/console-shared/src/components/dashboard/inventory-card/InventoryCard.tsx
  frontend/packages/console-shared/src/components/dashboard/inventory-card/InventoryItem.tsx
  frontend/packages/console-shared/src/components/dashboard/inventory-card/inventory-card.scss
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-inventory-card.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/inventory-card/VMStatusInventoryItem.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/InventoryCard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/dashboard/InventoryCard.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/inventory-card.tsx
Labels: approved, lgtm, component/shared, component/kubevirt, component/dashboard, component/ceph, component/core, component/metal3, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n

#10569 Bug 2024262: Sample catalog is not displayed when one API call to the backend fails
  frontend/@types/console/index.d.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/catalog.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/error/http-error.ts
  frontend/packages/console-shared/src/components/catalog/service/CatalogExtensionHookResolver.tsx
  frontend/packages/console-shared/src/components/catalog/service/CatalogServiceProvider.tsx
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/src/components/catalog/providers/useDevfile.tsx
  frontend/packages/helm-plugin/console-extensions.json
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/operator-lifecycle-manager/console-extensions.json
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/pipelines-plugin/console-extensions.json
  frontend/packages/rhoas-plugin/console-extensions.json
  frontend/packages/rhoas-plugin/locales/en/rhoas-plugin.json
  frontend/public/components/utils/__tests__/status-box.spec.tsx
  frontend/public/components/utils/status-box.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/dev-console, component/kubevirt, component/knative, component/core, component/sdk, component/olm, bugzilla/severity-low, kind/i18n, component/helm, component/pipelines

#10582 Automation enhance export app ux experience odc 6296
  frontend/packages/dev-console/integration-tests/support/constants/global.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/operators-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/installOperatorOnCluster.ts
  frontend/packages/dev-console/integration-tests/support/pages/operators-page.ts
  frontend/packages/topology/integration-tests/features/export-application/export-of-applicaton.feature
  frontend/packages/topology/integration-tests/support/page-objects/export-applications-po.ts
  frontend/packages/topology/integration-tests/support/pages/export-application/export-applications.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-helper-page.ts
  frontend/packages/topology/integration-tests/support/step-definitions/common/topology.ts
  frontend/packages/topology/integration-tests/support/step-definitions/export-application/export-of-application.ts
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, component/topology

#10617 Bug 2032407: UI will show the default openshift template wizard for HANA template
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/VirtualizationWizardNavigator/VirtualizationWizardNavigator.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/create-vm.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/menu-actions-modals/utils.ts
  frontend/packages/kubevirt-plugin/src/components/vm-templates/instantiate-template/CreateFromTemplate.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/instantiate-template/TemplateForm.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/instantiate-template/TemplateInfo.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/instantiate-template/TemplateResourceDetails.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/instantiate-template/template-form.scss
  frontend/packages/kubevirt-plugin/src/constants/url-params.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/workload-profile.ts
  frontend/packages/kubevirt-plugin/src/utils/url.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, component/core, bugzilla/severity-high, kind/i18n

#10659 Bug 2032421: UI integration with new auto update images
  frontend/packages/kubevirt-plugin/src/components/create-vm/create-vm.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/dev-console/dev-console-create-vm-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/dev-console/use-catalog-vm-templates.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/hooks/use-vm-templates-resources.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/tabs/select-template.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/customize-source/CustomizeSourceForm.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/VMTemplateRow.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/VMTemplateTable.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/types.ts
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-details-page.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/constants.ts
  frontend/packages/kubevirt-plugin/src/models/index.ts
  frontend/packages/kubevirt-plugin/src/statuses/template/template-source-status.ts
  frontend/packages/kubevirt-plugin/src/statuses/template/types.ts
  frontend/packages/kubevirt-plugin/src/types/api/V1alpha1DataVolumeSpec.ts
  frontend/packages/kubevirt-plugin/src/types/api/v1beta1DataVolumeSourceRef.ts
  frontend/packages/kubevirt-plugin/src/types/vm/index.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#10661 Bug 2032547: hardware devices table have filter when table is empty
  frontend/packages/kubevirt-plugin/src/components/FilteredTable/FilteredTable.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#10663 ODC-6443: Add adv. option to customize route labels
  frontend/packages/console-shared/src/components/formik-fields/SelectorInputField.tsx
  frontend/packages/console-shared/src/components/formik-fields/__tests__/SelectorInputField.spec.tsx
  frontend/packages/console-shared/src/components/formik-fields/index.ts
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-git.feature
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-git.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/addFlow.ts
  frontend/packages/dev-console/integration-tests/views/git-import-flow.view.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-data.ts
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-utils.spec.ts
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/dev-console/src/components/import/advanced/LabelSection.tsx
  frontend/packages/dev-console/src/components/import/advanced/RouteSection.tsx
  frontend/packages/dev-console/src/components/import/advanced/__tests__/LabelSection.spec.tsx
  frontend/packages/dev-console/src/components/import/advanced/__tests__/RouteSection.spec.tsx
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/import/route/AdvancedRouteOptions.tsx
  frontend/packages/dev-console/src/components/import/route/__tests__/AdvancedRouteOptions.spec.tsx
  frontend/packages/dev-console/src/utils/__tests__/shared-submit-utils.spec.ts
  frontend/packages/dev-console/src/utils/shared-submit-utils.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/actions-on-knative-service.ts
Labels: approved, lgtm, component/shared, component/dev-console, component/knative, docs-approved, qe-approved, px-approved, kind/i18n

#10680 Bug 2033290: Use TypeScript 4 when building SDK packages
  frontend/packages/console-dynamic-plugin-sdk/package.json
Labels: approved, lgtm, bugzilla/valid-bug, component/sdk, bugzilla/severity-high

#10682 Bug 2033403: Show provider information for devfiles in catalog
  frontend/packages/dev-console/src/components/catalog/providers/useDevfile.tsx
  frontend/packages/dev-console/src/components/catalog/providers/useDevfileSamples.tsx
  frontend/packages/dev-console/src/components/import/devfile/devfile-types.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-low

#10686 Bug 2033587: Wait for the quota chart row to improve test stability
  frontend/integration-tests/tests/dashboards/project-dashboard.scenario.ts
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium

#10687 Bug 2033407: Fix secure route pre-filled issue in edit flow
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-data.ts
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/dev-console/src/components/import/DeployImage.tsx
  frontend/packages/dev-console/src/components/import/__mocks__/deployImage-validation-mock.ts
  frontend/packages/dev-console/src/components/import/__mocks__/import-validation-mock.ts
  frontend/packages/dev-console/src/components/import/__mocks__/upload-jar-mock.ts
  frontend/packages/dev-console/src/components/import/__tests__/deployImage-submit-utils-data.ts
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils-data.ts
  frontend/packages/dev-console/src/components/import/advanced/__tests__/RouteSection.spec.tsx
  frontend/packages/dev-console/src/components/import/form-initial-values.ts
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/import/route/SecureRoute.tsx
  frontend/packages/dev-console/src/utils/__tests__/__snapshots__/shared-submit-utils.spec.ts.snap
  frontend/packages/dev-console/src/utils/shared-submit-utils.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-serving-data.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/dev-console, component/knative, bugzilla/severity-high

#10655 Bug 1911173: Monitoring dashboards: Improve series titles when a label is missing
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, bugzilla/severity-low, qe-approved

#10557 migrate context menu actions of WorkloadNode and application group to use new action extn mechanism
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-api-kubevirt.ts
  frontend/packages/dev-console/src/components/topology/components/devConsoleComponetFactory.ts
  frontend/packages/dev-console/src/plugin.tsx
  frontend/packages/dev-console/src/utils/__tests__/kebab-actions.spec.ts
  frontend/packages/dev-console/src/utils/kebab-actions.ts
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/src/actions/modify-helm-release.ts
  frontend/packages/helm-plugin/src/topology/TopologyHelmReleasePanel.tsx
  frontend/packages/helm-plugin/src/topology/__tests__/TopologyHelmReleaseNotesPanel.spec.tsx
  frontend/packages/helm-plugin/src/topology/actions/helmReleaseActions.ts
  frontend/packages/kubevirt-plugin/src/topology/components/kubevirtComponentFactory.ts
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/actions/__tests__/modify-application.spec.ts
  frontend/packages/topology/src/actions/edgeActions.ts
  frontend/packages/topology/src/actions/index.ts
  frontend/packages/topology/src/actions/modify-application.ts
  frontend/packages/topology/src/actions/workloadActions.ts
  frontend/packages/topology/src/components/graph-view/components/componentFactory.ts
  frontend/packages/topology/src/components/graph-view/components/nodeContextMenu.tsx
Labels: approved, lgtm, component/dev-console, component/kubevirt, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n, component/helm, component/topology

#10598 Add K8sServices as a sinkable resource
  frontend/packages/console-shared/src/components/formik-fields/ResourceDropdownField.tsx
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/components/add/EventSource.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/SinkSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/form-fields/SinkResources.scss
  frontend/packages/knative-plugin/src/components/add/event-sources/form-fields/SinkResources.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/form-fields/SinkUri.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/form-fields/SinkUriResourcesGroup.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/form-fields/__tests__/SinkResources.spec.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/PubSub.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/__tests__/pub-sub-utils.spec.ts
  frontend/packages/knative-plugin/src/components/pub-sub/form-fields/PubSubSubscriber.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/pub-sub-utils.ts
  frontend/packages/knative-plugin/src/components/sink-pubsub/SinkPubsub.tsx
  frontend/packages/knative-plugin/src/components/sink-pubsub/SinkPubsubModal.tsx
  frontend/packages/knative-plugin/src/components/sink-pubsub/__tests__/SinkPubsub.spec.tsx
  frontend/packages/knative-plugin/src/components/sink-source/SinkSource.tsx
  frontend/packages/knative-plugin/src/components/sink-source/SinkSourceModal.tsx
  frontend/packages/knative-plugin/src/components/sink-source/__tests__/SinkSourceModal.spec.tsx
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
  frontend/packages/knative-plugin/src/utils/__tests__/get-knative-resources.spec.ts
  frontend/packages/knative-plugin/src/utils/get-knative-resources.ts
  frontend/packages/topology/src/data-transforms/transform-utils.ts
Labels: approved, kind/feature, lgtm, component/shared, component/knative, docs-approved, qe-approved, px-approved, kind/i18n, component/topology

#10643 Enable Secure Route option by default in Deploy Image & Import from git flow
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-shared/src/components/formik-fields/DroppableFileInputField.tsx
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/package.json
  frontend/packages/dev-console/src/components/import/route/SecureRoute.tsx
  frontend/packages/dev-console/src/components/user-preferences/SecureRouteFields.tsx
  frontend/packages/dev-console/src/components/user-preferences/__tests__/SecureRouteFields.spec.tsx
  frontend/packages/dev-console/src/components/user-preferences/index.ts
  frontend/packages/dev-console/src/components/user-preferences/usePreferredRoutingOptions.tsx
Labels: approved, kind/feature, lgtm, component/shared, component/dev-console, component/knative, component/core, docs-approved, qe-approved, px-approved, kind/i18n

#10684 Bug 2033013: Fix user preferences project dropdown
  frontend/packages/console-app/src/components/user-preferences/namespace/NamespaceDropdown.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#10494 Bug 2028885: Add a message to all console errors which just logs an error object
  frontend/i18n-scripts/common.js
  frontend/i18n-scripts/i18n-to-po.js
  frontend/i18n-scripts/po-to-i18n.js
  frontend/packages/ceph-storage-plugin/src/plugin.ts
  frontend/packages/console-app/src/components/cloud-shell/CloudShellExec.tsx
  frontend/packages/console-app/src/components/detect-perspective/PerspectiveDetector.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-loader.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/fetch/console-fetch.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/ws-factory.ts
  frontend/packages/console-shared/src/components/editor/yaml-download-utils.ts
  frontend/packages/console-shared/src/components/error/error-boundary.tsx
  frontend/packages/console-shared/src/hooks/useUserSettings.ts
  frontend/packages/console-shared/src/test-utils/actions.view.ts
  frontend/packages/console-shared/src/utils/pod-ring-utils.ts
  frontend/packages/console-shared/src/utils/user-settings.ts
  frontend/packages/dev-console/src/components/import/DeployImage.tsx
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/components/import/upload-jar-submit-utils.ts
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmChartVersionDropdown.tsx
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradePage.tsx
  frontend/packages/helm-plugin/src/topology/helm-data-transformer.ts
  frontend/packages/knative-plugin/src/hooks/useEventSourceModelsWithAccess.ts
  frontend/packages/knative-plugin/src/utils/__tests__/create-eventsources-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/create-eventsources-utils.ts
  frontend/packages/knative-plugin/src/utils/create-knative-utils.ts
  frontend/packages/kubevirt-plugin/integration-tests/utils/shared-actions.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/actions.view.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/main-actions/create-vm.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/utils/cloudinit-utils.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/sysprep/utils/sysprep-utils.ts
  frontend/packages/kubevirt-plugin/src/components/form-with-editor/FormWithEditor.tsx
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHForm/ssh-form-utils.ts
  frontend/packages/kubevirt-plugin/src/hooks/storage-class-config-map.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-migration-tool.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-secret.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/correct-vm-import-provider-secret-labels.ts
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionsForm.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-item-details.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
  frontend/packages/pipelines-plugin/src/components/catalog/providers/useTekonHubTasksProvider.tsx
  frontend/packages/topology/src/components/hooks/useOverviewAlertsUpdater.ts
  frontend/packages/topology/src/components/hooks/useOverviewMetricsUpdater.ts
  frontend/public/actions/features.ts
  frontend/public/components/utils/promise-component.tsx
  frontend/public/module/auth.js
  frontend/public/tokener.html
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/dev-console, component/kubevirt, component/knative, component/ceph, component/core, component/sdk, component/olm, component/network-attachment-definition, bugzilla/severity-low, kind/i18n, component/helm, component/topology, component/pipelines

#10668 Bug 2033693: Support VM Descheduler integration in the UI
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/modals/descheduler-modal/descheduler-modal.scss
  frontend/packages/kubevirt-plugin/src/components/modals/descheduler-modal/descheduler-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/constants.ts
  frontend/packages/kubevirt-plugin/src/models/index.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/vm/vm.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-unspecified, kind/i18n

#10563 Add encrypted RBD storage class during deployment
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/payloads.ts
  frontend/packages/ceph-storage-plugin/src/components/kms-config/utils.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/ocs-request-data.ts
  frontend/packages/ceph-storage-plugin/src/constants/kms.ts
  frontend/packages/ceph-storage-plugin/src/types.ts
Labels: approved, lgtm, component/ceph, docs-approved, qe-approved, px-approved, kind/i18n

#10693 Bug 2025525: overview page consume high CPU
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/overview-dashboard/health.ts
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/overview-dashboard/inventory.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/table-filters.ts
  frontend/packages/kubevirt-plugin/src/components/vms/vm-page-new.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/vm-status.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#10696 Bug 2019634: Pause and migration is enabled in action list
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-low

#10523 Add new cluster utilization item extension
  dynamic-demo-plugin/console-extensions.json
  dynamic-demo-plugin/locales/en/plugin__console-demo-plugin.json
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/src/i18n.ts
  dynamic-demo-plugin/src/utils/cluster-overview.ts
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/utilization-card/utilization-item.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/NodeAlerts.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/UtilizationCard.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/utilization-popovers.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/cluster-overview.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
  frontend/packages/console-shared/src/components/dashboard/utilization-card/TopConsumerPopover.tsx
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationItem.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/utilization-card.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/utilization-popovers.tsx
  frontend/public/components/dashboard/project-dashboard/utilization-card.tsx
  frontend/public/components/dashboard/project-dashboard/utilization-popovers.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/shared, component/dashboard, component/ceph, component/core, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n

#10485 Bug 2021632: Fix OLM breadcrumb link
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
  frontend/public/components/factory/details.tsx
  frontend/public/components/utils/horizontal-nav.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, component/olm, bugzilla/severity-high, kind/i18n

#10698 Bug 2034243: regular user cant load template list
  frontend/packages/kubevirt-plugin/src/components/create-vm/hooks/use-vm-templates-resources.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#10615 Bug 2019360: Create the Virtualization Overview Top Consumers card
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/VirtualizationOverviewPage.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/top-consumers-card/NoDataAvailableMessage.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/top-consumers-card/TopConsumerCard.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/top-consumers-card/TopConsumersChartList.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/top-consumers-card/TopConsumersGridRow.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/top-consumers-card/TopConsumersProgressChart.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/top-consumers-card/VirtOverviewTopConsumersCard.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/top-consumers-card/queries.ts
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/top-consumers-card/top-consumers-card.scss
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/top-consumers-card/utils.ts
  frontend/packages/kubevirt-plugin/src/constants/virt-overview/index.ts
  frontend/packages/kubevirt-plugin/src/constants/virt-overview/top-consumers-card/top-consumer-metric.ts
  frontend/packages/kubevirt-plugin/src/constants/virt-overview/top-consumers-card/top-consumer-scope.ts
  frontend/packages/kubevirt-plugin/src/constants/virt-overview/top-consumers-card/top-consumers-metric.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium, kind/i18n

#10675 Bug 2031006: Application name input field is not autofocused when user selects "Create new application"
  frontend/packages/topology/src/components/dropdowns/ApplicationSelector.tsx
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low, component/topology

#10689 Gherkin for disabling tektonhub integration in pipeline builder
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-builder-page.feature
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/pipelines

#10692 Bug 2023560: "Network Attachment Definitions" has no project field on the top in the list view
  frontend/packages/network-attachment-definition-plugin/console-extensions.json
Labels: approved, lgtm, bugzilla/valid-bug, component/network-attachment-definition, bugzilla/severity-medium

#10695 Bug 2019636: Actions in VM tabs should be disabled
  frontend/packages/kubevirt-plugin/src/components/vm-disks/vm-disks.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-nics/vm-nics.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/vm-snapshots.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-environment/vm-environment-page.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-low

#10699 Bug 2034257: regular user `Create VM` missing permissions alert
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/RowActions.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#10676 Bug 1977929: Show NADs from openshift-multus
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/configure.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-medium

#9992 Moving block pool cypress testcases to ODF console
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/block-pool-create.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/block-pool-delete.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/block-pool-update.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/multiple-pool.spec.ts
  frontend/packages/ceph-storage-plugin/src/components/block-pool/block-pool-details-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/block-pool/mirroring-card-item.tsx
  frontend/packages/console-shared/src/components/dashboard/details-card/DetailItem.tsx
Labels: approved, lgtm, component/shared, component/dashboard, component/ceph, docs-approved, qe-approved, px-approved

#10456 Bug 2023090: [e2e][automation] Examples of Import URL for VM templates
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-b/url-examples.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/index.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#10697 Bug 2018985: The rootdisk size is 15Gi of windows VM
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/storage-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/selectors/immutable/template/combined.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#10701 Bug 2025765: It should not try to load from storageProfile after unchecking"Apply optimized StorageProfile settings"
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#10708 Uncommented automation code for Export app enhancements
  frontend/packages/topology/integration-tests/support/page-objects/export-applications-po.ts
  frontend/packages/topology/integration-tests/support/step-definitions/export-application/export-of-application.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/topology

#10716 Bug 2034474: Additional checks for PVC's existence
  frontend/packages/kubevirt-plugin/src/statuses/template/template-source-status.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#10713 Bug 2034647: missing volumes list in snapshot modal
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-modal/SupportedSnapshotVolumesList.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#10722 Add support to show platform supported tektonhub tasks in pipeline builder
  frontend/packages/pipelines-plugin/src/components/catalog/__tests__/catalog-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/catalog/catalog-utils.ts
  frontend/packages/pipelines-plugin/src/components/catalog/providers/useTekonHubTasksProvider.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/__tests__/PipelineQuickSearchVersionDropdown.spec.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/__tests__/PipelineQuicksearchDetails.spec.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/__tests__/pipeline-quicksearch-utils.spec.ts
  frontend/packages/pipelines-plugin/src/test-data/catalog-item-data.ts
  frontend/packages/pipelines-plugin/src/test-data/event-listener-data.ts
  frontend/packages/pipelines-plugin/src/types/tektonHub.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/pipelines

#10666 Disable Features based on CSV annotations
  frontend/packages/ceph-storage-plugin/src/actions/csv-actions.ts
  frontend/packages/ceph-storage-plugin/src/components/block-pool/body.tsx
  frontend/packages/ceph-storage-plugin/src/components/block-pool/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/modals/edit-backingstore-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/general-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/capacity-and-nodes-step/capacity-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set-step/create-local-volume-set-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/review-and-create-step/review-and-create-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/security-and-network-step/encryption.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/security-and-network-step/security-and-network-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/kms-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/vault-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/modal-footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/configure-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/create-storage-class/create-storage-class-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/review-and-create-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/storage-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/configure.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard-steps/configure.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard-steps/review-and-create.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard-steps/select-capacity-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-thick-provisioner.tsx
  frontend/packages/ceph-storage-plugin/src/constants/common.ts
  frontend/packages/ceph-storage-plugin/src/features.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Labels: approved, lgtm, component/ceph, docs-approved, qe-approved, px-approved

#10700 Re-enable test case which checks for "Import from Git" action
  frontend/packages/dev-console/integration-tests/features/addFlow/add-page.feature
  frontend/packages/dev-console/integration-tests/support/constants/add.ts
  frontend/packages/dev-console/integration-tests/support/constants/topology.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-devfile.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/page-details.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/userPreferences/user-preferences-dev-perspective.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-actions-page.ts
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, component/topology

#10730 Bug 2019647: "Remove favorite" and "Create new Template" should be disabled
  frontend/packages/kubevirt-plugin/src/components/vm-templates/menu-actions.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-low

#10632 Bug 2016296: Windows machine can be created with import URL
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/types.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#10627 Show Create Service Binding modal on dnd of binding connector in topology
  frontend/packages/console-app/src/actions/creators/deployment-factory.ts
  frontend/packages/console-app/src/components/modals/service-binding/CreateServiceBindingForm.tsx
  frontend/packages/console-app/src/components/modals/service-binding/ServiceBindingModalLauncher.tsx
  frontend/packages/console-app/src/components/modals/service-binding/__tests__/CreateServiceBindingForm.spec.tsx
  frontend/packages/dev-console/src/components/topology/relationship-provider.ts
  frontend/packages/knative-plugin/src/topology/relationship-provider.ts
  frontend/packages/topology/src/operators/actions/serviceBindings.ts
  frontend/packages/topology/src/utils/connector-utils.ts
Labels: approved, kind/feature, lgtm, component/dev-console, component/knative, component/core, docs-approved, qe-approved, px-approved, kind/i18n, component/topology

#10710 Bug 2034621: show context menu for application group
  frontend/packages/topology/src/components/graph-view/components/componentFactory.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium, component/topology

#10683 Show binding secret in service binding sidebar
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/side-bar/TopologyEdgeResourcesPanel.tsx
  frontend/packages/topology/src/components/side-bar/__tests__/TopologyEdgeResourcesPanel.spec.tsx
  frontend/packages/topology/src/components/side-bar/__tests__/topology-edge-resources-panel-data.ts
Labels: approved, kind/feature, lgtm, docs-approved, qe-approved, px-approved, kind/i18n, component/topology

#10703 add pipeline task hubURL link
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/catalog/const.ts
  frontend/packages/pipelines-plugin/src/components/quicksearch/PipelineQuickSearchDetails.scss
  frontend/packages/pipelines-plugin/src/components/quicksearch/PipelineQuickSearchDetails.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/__tests__/PipelineQuicksearchDetails.spec.tsx
  frontend/packages/pipelines-plugin/src/test-data/catalog-item-data.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines

#10735 Bug 2030534: Node selector/tolerations rules are evaluated too early
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/shared/hooks.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#10712 Bug 2015422: No conflict checking on snapshot name
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-modal/SnapshotsModal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/vm-snapshots.tsx
  frontend/packages/kubevirt-plugin/src/utils/validations/vm/snapshot.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-low, kind/i18n

#10734 Bug 2025770: Added try and catch block to prevent crash
  frontend/packages/kubevirt-plugin/src/constants/vm/wintools.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#10720 Bug 1992580: storageProfile should stay with the same value by check/uncheck the apply button
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/AccessMode/AccessModeSelector.tsx
  frontend/packages/kubevirt-plugin/src/components/VolumeMode/VolumeModeSelector.tsx
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium, kind/i18n

#10732 Bug 2035264: [RFE] Provide a proper message for nonpriv user who not able to add PCI devices
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium, kind/i18n

#10709 Add webhook resources in git import pipeline flow
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils-data.ts
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/submit-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-overview/PipelineOverview.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-overview/TriggerResourceLinks.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-overview/TriggerResourceLinks.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-overview/TriggersOverview.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-overview/__tests__/TriggersOverview.spec.tsx
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines

#10717 Bug 2034170: add support for new labels for serverless function
  frontend/packages/knative-plugin/src/const.ts
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-topology-utils.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/knative, bugzilla/severity-medium

#10728 Add ability to modify the URL of the URL decorator in Topology
  frontend/packages/dev-console/src/components/import/__mocks__/deployImage-validation-mock.ts
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils.spec.ts
  frontend/packages/dev-console/src/utils/__tests__/__snapshots__/shared-submit-utils.spec.ts.snap
  frontend/packages/dev-console/src/utils/resource-label-utils.ts
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/UrlDecorator.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/__tests__/URLDecorator.spec.tsx
  frontend/packages/topology/src/const.ts
Labels: approved, kind/feature, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, component/topology

#10737 Bug 2035146: Missing T function for translation
  frontend/packages/kubevirt-plugin/src/components/form/k8s-resource-select-row.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#10702 Automation and gherkin for Serverless Usability Improvements
  frontend/packages/dev-console/integration-tests/features/monitoring/dashboard-display.feature
  frontend/packages/dev-console/integration-tests/support/constants/add.ts
  frontend/packages/dev-console/integration-tests/support/constants/pageTitle.ts
  frontend/packages/dev-console/integration-tests/support/constants/topology.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/monitoring-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/createBroker.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/monitoring/dashboard-display.ts
  frontend/packages/knative-plugin/integration-tests/features/eventing/create-event-sources.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/eventing-broker-trigger.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/eventing-channel-subscription.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/eventing-channel.feature
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/eventing/create-event-sources.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/eventing/eventing-broker-trigger.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/eventing/eventing-channel-subscription.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/eventing/eventing-channel.ts
  frontend/packages/knative-plugin/src/components/add/event-sources/ApiServerSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/ContainerSourceSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/SinkBindingSection.tsx
Labels: approved, lgtm, component/dev-console, component/knative, docs-approved, qe-approved, px-approved

#10738 Bug 1992414: Removed the check for windows machines
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#10731 Bug 2034248: GPU/Host device modal is too small
  frontend/packages/kubevirt-plugin/src/components/modals/hardware-devices/HardwareDevicesModal.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#10715 Bug 2031057: Topology sidebar for Knative services shows a small pod ring with "0 undefined" as tooltip
  frontend/packages/console-shared/src/components/pod/PodStatus.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/knative, bugzilla/severity-low

#10741 Bug 2034823: Added RHEL 9 as pinned template
  frontend/packages/kubevirt-plugin/src/constants/vm/constants.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-pinned-templates.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#10108 Bug 1998241: Support OB/C pages for Ceph Standalone Mode if RGW is present
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/ceph-storage-plugin/src/components/object-bucket-claim-page/object-bucket-claim.tsx
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-medium

#10688 Bug 2033044: Shift invalid devfile alert down
  frontend/packages/dev-console/src/components/import/devfile/DevfileStrategySection.scss
  frontend/packages/dev-console/src/components/import/devfile/DevfileStrategySection.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-medium

#10747 Bug 2029671: VM action "pause" and "clone" should be disabled
  frontend/packages/kubevirt-plugin/src/actions/provider.ts
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#10736 Bug 2034129: Fix guided-tour popover title
  frontend/packages/console-shared/src/components/popover/Popover.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/shared, bugzilla/severity-high

#10751 Bug 2019639: "Take snapshot" should be disabled
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/vm-snapshots.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#10733 Bug 2034647: missing volumes list in snapshot modal
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-modal/SupportedSnapshotVolumesList.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high
