Repository openshift/console, pull requests merged in 2022-04, with the labels that each got.

#11254 fix the quick search style to support dark theme
  frontend/packages/console-shared/src/components/quick-search/QuickSearchBar.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchList.scss
Labels: approved, lgtm, component/shared, docs-approved, qe-approved, px-approved

#11191 Add multitabbed terminal for cloudshell
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/cloud-shell/CloudShell.tsx
  frontend/packages/console-app/src/components/cloud-shell/CloudShellDrawer.scss
  frontend/packages/console-app/src/components/cloud-shell/CloudShellDrawer.tsx
  frontend/packages/console-app/src/components/cloud-shell/CloudShellTab.tsx
  frontend/packages/console-app/src/components/cloud-shell/MultiTabbedTerminal.scss
  frontend/packages/console-app/src/components/cloud-shell/MultiTabbedTerminal.tsx
  frontend/packages/console-app/src/components/cloud-shell/__tests__/CloudShellDrawer.spec.tsx
  frontend/packages/console-app/src/components/cloud-shell/__tests__/CloudShellTab.spec.tsx
  frontend/packages/console-app/src/components/cloud-shell/__tests__/MultiTabbedTerminal.spec.tsx
  frontend/packages/console-app/src/components/tabs/Tabs.tsx
  frontend/packages/console-app/src/components/tabs/__tests__/Generated/Tabs.test.tsx
  frontend/packages/console-app/src/components/tabs/__tests__/Generated/__snapshots__/Tabs.test.tsx.snap
  frontend/packages/console-app/src/components/tabs/__tests__/Tabs.test.tsx
  frontend/packages/console-app/src/components/tabs/__tests__/__snapshots__/Tabs.test.tsx.snap
  frontend/packages/console-app/src/components/tabs/index.ts
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n

#11150 Add and Edit configmap form
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/dnd/DragAndDrop.tsx
  frontend/packages/console-shared/src/components/dnd/index.ts
  frontend/packages/console-shared/src/components/form-utils/FormFooter.tsx
  frontend/packages/console-shared/src/components/formik-fields/DroppableFileInputField.tsx
  frontend/packages/console-shared/src/components/formik-fields/RadioButtonField.tsx
  frontend/packages/console-shared/src/components/formik-fields/field-types.ts
  frontend/packages/console-shared/src/components/formik-fields/key-value-file-input-field/KeyValueFileInputField.scss
  frontend/packages/console-shared/src/components/formik-fields/key-value-file-input-field/KeyValueFileInputField.tsx
  frontend/packages/console-shared/src/components/formik-fields/key-value-file-input-field/__tests__/KeyValueFileInputField.spec.tsx
  frontend/packages/console-shared/src/components/formik-fields/text-column-field/TextColumnField.tsx
  frontend/packages/console-shared/src/components/formik-fields/text-column-field/TextColumnItemWithDnd.tsx
  frontend/packages/console-shared/src/components/formik-fields/text-column-field/__tests__/TextColumnItem.spec.tsx
  frontend/packages/integration-tests-cypress/tests/crud/annotations.spec.ts
  frontend/packages/integration-tests-cypress/tests/crud/resource-crud.spec.ts
  frontend/public/components/app-contents.tsx
  frontend/public/components/configmap.jsx
  frontend/public/components/configmaps/ConfigMapForm.tsx
  frontend/public/components/configmaps/ConfigMapFormEditor.tsx
  frontend/public/components/configmaps/ConfigMapFormFields.tsx
  frontend/public/components/configmaps/ConfigMapPage.tsx
  frontend/public/components/configmaps/__tests__/configmap-data.ts
  frontend/public/components/configmaps/__tests__/configmap-utils.spec.ts
  frontend/public/components/configmaps/_create-configmap.scss
  frontend/public/components/configmaps/configmap-utils.ts
  frontend/public/components/configmaps/types.ts
  frontend/public/components/nav/PinnedResource.tsx
  frontend/public/components/nav/__tests__/perspective-nav.spec.tsx
  frontend/public/components/nav/perspective-nav.tsx
  frontend/public/components/utils/drag-drop-context.tsx
  frontend/public/components/utils/kebab.tsx
  frontend/public/locales/en/public.json
  frontend/public/style.scss
Labels: approved, lgtm, component/shared, component/core, docs-approved, qe-approved, px-approved, kind/i18n, kind/cypress

#11259 add Event Sink option to broker and channel connector and context menu
  frontend/packages/dev-console/src/components/import/app/AppSection.tsx
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/actions/add-event-sink.tsx
  frontend/packages/knative-plugin/src/actions/providers.ts
  frontend/packages/knative-plugin/src/components/add/EventSink.tsx
  frontend/packages/knative-plugin/src/components/add/import-types.ts
Labels: approved, lgtm, component/dev-console, component/knative, component/core, docs-approved, qe-approved, px-approved, kind/i18n, component/topology

#11234 CONSOLE-3081: updated --pf-global--BorderColor—100 to --pf-global--BorderColor--100
  frontend/public/components/secrets/_create-secret.scss
  frontend/public/components/sidebars/_resource-sidebar.scss
  frontend/public/components/utils/_copy-to-clipboard.scss
  frontend/public/style/_forms.scss
  frontend/public/style/_layout.scss
Labels: approved, lgtm, docs-approved, qe-approved, px-approved

#11156 Add synced form-yaml editor for routes
  frontend/__tests__/components/routes/create-route.spec.tsx
  frontend/packages/integration-tests-cypress/tests/crud/resource-crud.spec.ts
  frontend/public/components/app-contents.tsx
  frontend/public/components/routes.tsx
  frontend/public/components/routes/RouteForm.tsx
  frontend/public/components/routes/RoutePage.tsx
  frontend/public/components/routes/create-route.tsx
  frontend/public/components/routes/utils.ts
  frontend/public/components/utils/dropdown.jsx
  frontend/public/components/utils/kebab.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/shared, component/core, docs-approved, qe-approved, px-approved, kind/i18n, kind/cypress

#11220 Automation of Pipeline Metrics
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipeline-metrics.feature
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipeline-metrics.ts
  frontend/public/components/graphs/graph-empty.tsx
Labels: approved, lgtm, component/dev-console, component/core, docs-approved, qe-approved, px-approved, component/pipelines

#11248 Bug 2068594: follow on fix to remove timeout value
  frontend/integration-tests/tests/dashboards/cluster-dashboard.scenario.ts
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium

#11249 Bug 2069685: Fix UI crash when pinned resource model does not exist
  frontend/public/components/nav/__tests__/perspective-nav.spec.tsx
  frontend/public/components/nav/perspective-nav.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#11275 Bug 2069632: fix 'linkURL' for 'previous' logs
  frontend/public/components/utils/resource-log.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#11278 Bug 2063753: Translate Extensions On Each Language Change
  frontend/packages/console-dynamic-plugin-sdk/src/utils/__tests__/object.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/object.ts
  frontend/packages/console-plugin-sdk/src/api/useExtensions.ts
  frontend/packages/console-plugin-sdk/src/utils/extension-i18n.ts
  frontend/packages/console-plugin-sdk/src/utils/useTranslatedExtensions.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/sdk, bugzilla/severity-medium

#11277 Bug 2071700: Use 'reportingComponent' field for v1 Events
  frontend/public/components/events.jsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#11286 Bug 2069577: Update dynamic-demo-plugin readme
  dynamic-demo-plugin/README.md
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium

#11216 Bug 2065840: Fix CronJob resource version to batch/v1
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-shared/src/utils/__tests__/test-resource-data.ts
  frontend/packages/dev-console/integration-tests/testData/yamls/create-cronjob.yaml
  frontend/public/models/index.ts
  frontend/public/models/yaml-templates.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/dev-console, component/core, bugzilla/severity-medium

#11227 create form for adding project helm chart repo
  frontend/packages/helm-plugin/console-extensions.json
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/src/components/forms/ProjectHelmChartRepository/CreateProjectHelmChartRepositoryForm.tsx
  frontend/packages/helm-plugin/src/components/forms/ProjectHelmChartRepository/CreateProjectHelmChartRepositoryPage.tsx
  frontend/packages/helm-plugin/src/components/forms/ProjectHelmChartRepository/projecthelmchartrepository-validation-utils.ts
  frontend/packages/helm-plugin/src/components/index.ts
Labels: approved, kind/feature, lgtm, docs-approved, qe-approved, px-approved, kind/i18n, component/helm

#11287 Bug 2057183: Only show operator detail page "Valid Subscriptions" item when it's not empty
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-item-details.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, bugzilla/severity-urgent

#11288 Bug 2058282: Fix WebSockets not reconnecting during upgrade
  frontend/packages/console-dynamic-plugin-sdk/src/app/k8s/actions/k8s.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/ws-factory.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/sdk, bugzilla/severity-high

#11188 chore(OWNERS): remove rebeccaalpert
  frontend/i18n-scripts/OWNERS
  frontend/packages/console-app/locales/OWNERS
Labels: approved, lgtm, bugzilla/valid-bug, component/core, kind/i18n

#11268 Bug 2069914: fix casing of 'Red Hat Applications' so all links appear…
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium, kind/i18n

#11283 Bug 2069760: Added divider to developer console navigation
  frontend/public/components/nav/_perspective-nav.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#11285 Bug 2071599: fix bug where RoleBindings are not displaying in ClusterRole > RoleBindings
  frontend/public/components/RBAC/bindings.jsx
  frontend/public/components/RBAC/role.jsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#11293 Bug 2072807: Monitoring dashboards: Handle tables without `panel.styles` attribute
  frontend/public/components/monitoring/dashboards/table.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, bugzilla/severity-low, kind/i18n

#11135 [release-4.7] Bug 2060451: Fix a crash when the preferred namespace contains just numbers
  frontend/packages/console-app/src/components/detect-namespace/namespace.ts
  frontend/packages/console-app/src/components/detect-namespace/useLastNamespace.ts
  frontend/packages/console-app/src/components/user-preferences/namespace/usePreferredNamespace.ts
  frontend/packages/console-shared/src/constants/common.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/shared, component/core, bugzilla/severity-high, backport-risk-assessed

#11257 Bug 2072570: test: use stable test titles
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-single-namespace.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, bugzilla/severity-medium

#11244 Bug 2058051: Expose YAMLEditor to Core SDK
  dynamic-demo-plugin/console-extensions.json
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/src/components/YAMLEditorPage.tsx
  dynamic-demo-plugin/yarn.lock
  frontend/__tests__/components/create-yaml.spec.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-create-yaml.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-create-yaml.tsx
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionCreateYaml.tsx
  frontend/public/components/AsyncResourceYAMLEditor.tsx
  frontend/public/components/create-yaml.tsx
  frontend/public/components/droppable-edit-yaml.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, component/core, component/sdk, component/network-attachment-definition, bugzilla/severity-high

#11296 Bug 2068594: disable Details Card test since it was flaking at a high…
  frontend/integration-tests/tests/dashboards/cluster-dashboard.scenario.ts
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium

#11304 Bug 2056841: Improve handling of /api/check-updates request failure in PollConsoleUpdates
  frontend/public/components/app.jsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#10827 Bug 2038244: Use hostname from provided git url when making git api calls
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/bitbucket/devfile.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/bitbucket/dockerfile.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/bitbucket/files-modern-webapp.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/bitbucket/no-devfile.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/bitbucket/no-dockerfile.json
  frontend/packages/git-service/src/services/__tests__/bitbucket-service.spec.ts
  frontend/packages/git-service/src/services/__tests__/github-service.spec.ts
  frontend/packages/git-service/src/services/__tests__/gitlab-service.spec.ts
  frontend/packages/git-service/src/services/bitbucket-service.ts
  frontend/packages/git-service/src/services/github-service.ts
  frontend/packages/git-service/src/utils/build-tool-type-detector.ts
  frontend/packages/git-service/src/utils/import-strategy-detector.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/dev-console, component/git-service, bugzilla/severity-medium

#11271 [release-4.8] Bug 2066365: (Topology) Performance improvement by reducing rerenderings and deep-copy toJSON() calls
  frontend/packages/console-shared/src/hooks/__tests__/useK8sModels.spec.tsx
  frontend/public/components/utils/__tests__/firehose.data.tsx
  frontend/public/components/utils/__tests__/firehose.spec.tsx
  frontend/public/components/utils/__tests__/k8s-watch-hook.spec.tsx
  frontend/public/components/utils/__tests__/useK8sWatchResource.data.tsx
  frontend/public/components/utils/__tests__/useK8sWatchResource.spec.tsx
  frontend/public/components/utils/__tests__/useK8sWatchResources.data.tsx
  frontend/public/components/utils/__tests__/useK8sWatchResources.spec.tsx
  frontend/public/components/utils/firehose.jsx
  frontend/public/components/utils/k8s-watch-hook.ts
  frontend/public/components/utils/k8s-watcher.js
  frontend/public/module/k8s/k8s-ref.ts
  frontend/public/module/k8s/k8s.ts
  frontend/public/redux.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/shared, component/core, bugzilla/severity-high, backport-risk-assessed

#10285 Bug 2015375: Add IBM Flashsystem volume types
  frontend/public/components/storage/shared.ts
Labels: lifecycle/rotten, approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#11294 Automation of pipeline-task-runs-display | pipelines-plugin
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipeline-task-runs-display.feature
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipeline-task-runs-display.ts
  frontend/packages/pipelines-plugin/integration-tests/testData/pipelines-workspaces/sum-and-multiply-pipeline/passed-task-run-results.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/pipelines-workspaces/sum-and-multiply-pipeline/pipeline-failed-task.yaml
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/pipelines

#11230 Automation of event-tab-in-pipeline-run | pipelines-plugin
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/event-tab-in-pipeline-run-page.feature
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineBuilder-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/task-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/common/pipelines.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/event-tab-in-pipeline-run-page.ts
  frontend/packages/pipelines-plugin/integration-tests/testData/task-creation-with-yaml/create-pipeline-with-task.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/task-creation-with-yaml/new-task.yaml
  frontend/public/components/nav/admin-nav.tsx
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, component/pipelines

#11306 Bug 2071719: remove `.pf-c-button.pf-m-link` override
  frontend/public/style/_overrides.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#11261 Update pf packages to pf-2022-4
  frontend/package.json
  frontend/public/vendor.scss
  frontend/yarn.lock
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved

#11280 chore(i18n): update translations - Completed-7034-OCP 4.11 UI Localization- Sprint 216
  frontend/packages/ceph-storage-plugin/locales/ja/ceph-storage-plugin.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-shared/locales/ja/console-shared.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/topology/locales/ja/topology.json
  frontend/packages/topology/locales/ko/topology.json
  frontend/packages/topology/locales/zh/topology.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, component/shared, component/dev-console, component/kubevirt, component/knative, component/ceph, component/core, component/olm, docs-approved, qe-approved, px-approved, kind/i18n, component/topology, component/pipelines

#11176 [Release-4.9]-Bug 2021595: Key value field is not getting updated under Environment Tab in OpenShift Web Console
  frontend/public/components/utils/value-from-pair.jsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/core, bugzilla/severity-medium, qe-approved, backport-risk-assessed

#11053 CONSOLE-2976: add update mode to Update cluster
  frontend/__mocks__/clusterVersionMock.ts
  frontend/__tests__/components/cluster-settings.spec.tsx
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/machine-config-pools-selector.tsx
  frontend/public/components/modals/cluster-update-modal.tsx
  frontend/public/locales/en/public.json
  frontend/public/module/k8s/cluster-settings.ts
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n

#11148 fix(modal): removed drop shadow, updated colors
  frontend/public/components/factory/modal.tsx
  frontend/public/components/modals/_modals.scss
  frontend/public/style.scss
  frontend/public/style/mixin/_scroll-shadows.scss
Labels: approved, lgtm, ok-to-test, component/core, docs-approved, qe-approved, px-approved

#11298 Automation of Pipelines-as-code(PAC)
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-as-code.feature
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineRun-details-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/repositoryDetails-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipeline-as-code.ts
  frontend/packages/pipelines-plugin/integration-tests/testData/repository-crd-testdata/pac-installation-release0.1.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/repository-crd-testdata/pipelineRun.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/repository-crd-testdata/repository.yaml
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunRow.tsx
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/pipelines

#11314 Bug 2074475: fix kubevirt gating
  frontend/package.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/cypress-kubevirt.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/plugins/index.js
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#11317 Update OWNERS for promql/ directory
  frontend/packages/console-shared/src/promql/OWNERS
Labels: approved, lgtm, component/shared, docs-approved, qe-approved, px-approved

#11267 [release-4.10] Bug 2061250: Update ConsolePlugin manifest
  dynamic-demo-plugin/README.md
  dynamic-demo-plugin/oc-manifest.yaml
  dynamic-demo-plugin/src/components/ExampleProxyPage.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium, qe-approved, backport-risk-assessed

#11264 Add form for PAC repository
  frontend/packages/pipelines-plugin/console-extensions.json
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines-lists/PipelinesListsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelineTabbedPage.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryForm.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryFormPage.tsx
  frontend/packages/pipelines-plugin/src/components/repository/__tests__/repository-form-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/repository/consts.ts
  frontend/packages/pipelines-plugin/src/components/repository/index.ts
  frontend/packages/pipelines-plugin/src/components/repository/list-page/RepositoriesList.tsx
  frontend/packages/pipelines-plugin/src/components/repository/repository-form-utils.ts
  frontend/packages/pipelines-plugin/src/components/repository/types.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines

#11263 Bug 2070160: Remove custom classes pre and code element and apply using a custom class.
  dynamic-demo-plugin/src/components/k8sConsumer/K8sAPIConsumer.tsx
  frontend/__tests__/components/utils/copy-to-clipboard.spec.tsx
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/red-hat-ceph-storage/index.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/external-mode/install.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/capacity-and-nodes.tsx
  frontend/packages/console-app/src/components/nodes/NodeTerminal.tsx
  frontend/packages/console-shared/src/components/log/LogSnippet.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/common.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/status/index.tsx
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelineruns/logs/RunDetailsErrorLog.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/status/StatusPopoverContent.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/TriggerBindingSection.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebar.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarWhenExpression.tsx
  frontend/public/components/build.tsx
  frontend/public/components/chargeback.tsx
  frontend/public/components/container.tsx
  frontend/public/components/environment.jsx
  frontend/public/components/markdown-view.tsx
  frontend/public/components/modals/configure-ns-pull-secret-modal.jsx
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/utils/_code-pre.scss
  frontend/public/components/utils/_copy-to-clipboard.scss
  frontend/public/components/utils/build-hooks.tsx
  frontend/public/components/utils/build-strategy.tsx
  frontend/public/components/utils/copy-to-clipboard.tsx
  frontend/public/style.scss
  frontend/public/style/ancillary/_bootstrap-residual.scss
  frontend/public/style/ancillary/_bootstrap-variables.scss
  frontend/public/style/ancillary/_patternfly4.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/kubevirt, component/ceph, component/monitoring, component/core, component/olm, bugzilla/severity-medium, docs-approved, px-approved, kind/i18n, component/pipelines

#11284 Bug 2071761: - Translation Keys Are Not Namespaced
  frontend/packages/dev-console/src/components/import/import-types.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-medium

#10450 Bug 2074447: cluster-dashboard: exclude iowait and steal from CPU Utilisation
  frontend/packages/console-shared/src/promql/cluster-dashboard.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, bugzilla/severity-medium

#11322 Automation of Pipeline-Workspaces | Pipeline-Plugin
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-workspaces.feature
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineBuilder-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelines-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-workspaces.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/pipelines

#11330 add data test ids for MultiTabTerminal
  frontend/packages/console-app/src/components/cloud-shell/CloudShellDrawer.tsx
  frontend/packages/console-app/src/components/cloud-shell/MultiTabbedTerminal.tsx
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved

#11305 Bug 2075149: Fix translation of flag-enabled extensions
  frontend/packages/console-plugin-sdk/src/utils/useTranslatedExtensions.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/sdk, bugzilla/severity-medium

#11321 Bug 2071691: Update and scope our breadcrumb padding rule so it doesn't effect a pure implementation
  frontend/public/components/sidebars/explore-type-sidebar.tsx
  frontend/public/components/utils/details-item.tsx
  frontend/public/components/utils/headings.tsx
  frontend/public/style/_common.scss
  frontend/public/style/_overrides.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#11327 Bug 2040180: handle dashboards single column case
  frontend/public/components/monitoring/dashboards/table.tsx
  frontend/public/components/monitoring/dashboards/types.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, bugzilla/severity-low

#11340 Bug 2065513: Fix ResourceQuota dashboard card and ACRQ donut label
  frontend/public/components/dashboard/project-dashboard/resource-quota-card.tsx
  frontend/public/components/resource-quota.jsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/dashboard, component/core, bugzilla/severity-medium, kind/i18n

#11291 Automation of create-from-add-options feature file | pipelines-plugin
  frontend/packages/dev-console/src/components/import/ImportStrategySelector.tsx
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-add-options.feature
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-from-add-options.ts
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, component/pipelines

#11231 [Dark theme]: fix Observe dashboard, Topology list page and web terminal tab view
  frontend/packages/console-app/src/components/cloud-shell/CloudShellTab.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetrics.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineRunTaskRunGraph.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/charts/TimeSeriesChart.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/charts/lineChart.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/charts/successRatioDonut.tsx
  frontend/packages/topology/src/components/list-view/TopologyListView.scss
  frontend/public/components/graphs/themes.ts
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/query-browser.tsx
  frontend/public/style/ancillary/_bootstrap-residual.scss
Labels: approved, lgtm, component/shared, component/monitoring, component/core, docs-approved, qe-approved, px-approved, component/topology, component/pipelines

#11338 Bug 2073329: fix pipelineruns name in repository details page
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryDetailsPage.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low, component/pipelines

#11350 Bug 2075778: Fix failing TestGetRegistrySamples test
  pkg/devfile/sample_test.go
Labels: approved, lgtm, bugzilla/valid-bug, component/backend, bugzilla/severity-high

#11339 Hide Upgrade Cluster Alert in About Modal When Externally Managed
  frontend/packages/console-shared/src/hooks/index.ts
  frontend/packages/console-shared/src/hooks/useCanClusterUpgrade.ts
  frontend/public/components/about-modal.tsx
Labels: approved, lgtm, component/shared, component/core, docs-approved, qe-approved, px-approved

#11344 Bug 2071617: Stop disabling extensions with non-existing `disallowed` flags
  frontend/packages/console-plugin-sdk/src/__tests__/store.spec.ts
  frontend/packages/console-plugin-sdk/src/store.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/sdk, bugzilla/severity-medium

#11273 Bug 2071617: remove Kubevirt extensions in favour of dynamic plugin
  frontend/packages/kubevirt-plugin/console-extensions.json
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium, kind/i18n

#11190 Bug 2071578: Add new MONITORING flag to hide dev perspective nav item and topology sidebar observe section if not available
  frontend/__tests__/reducers/features.spec.tsx
  frontend/packages/console-shared/src/components/dashboard/utilization-card/TopConsumerPopover.tsx
  frontend/packages/console-shared/src/constants/common.ts
  frontend/packages/dev-console/console-extensions.json
  frontend/public/components/nav/admin-nav.tsx
  frontend/public/reducers/features.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/dev-console, component/dashboard, component/core, bugzilla/severity-low

#11335 use incluster tekton hub Api endpoint in pipeline builder
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/catalog/apis/__tests__/tektonHub.spec.ts
  frontend/packages/pipelines-plugin/src/components/catalog/apis/tektonHub.ts
  frontend/packages/pipelines-plugin/src/components/catalog/providers/useTekonHubTasksProvider.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/PipelineQuickSearchDetails.tsx
  frontend/packages/pipelines-plugin/src/models/pipelines.ts
  frontend/packages/pipelines-plugin/src/test-data/tektonhub-data.ts
  frontend/packages/pipelines-plugin/src/types/hub.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines

#11342 Update links to examples - descriptors reference.md
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/reference/reference.md
Labels: approved, lgtm, ok-to-test, component/olm, docs-approved, qe-approved, px-approved

#11299 Bug 2061918: Topology sidebar broken issue is fixed
  frontend/packages/topology/src/components/side-bar/TopologySideBar.tsx
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low, component/topology

#11323 Bug 2074465: Fix default branch param in pipeline import from git flow
  frontend/packages/pipelines-plugin/src/components/import/pipeline/__tests__/pipeline-template-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/import/pipeline/pipeline-template-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high, component/pipelines

#11347 Bug 2074100: fix CRD name filter
  frontend/integration-tests/tests/crd-extensions.scenario.ts
  frontend/public/components/custom-resource-definition.tsx
  frontend/public/components/factory/table-filters.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#11353 Bug 2074756: fix bug where ClusterRole > RoleBindings did not display…
  frontend/public/components/RBAC/role.jsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#11337 Bug 2071715: fix 404 on Environments nav
  frontend/packages/gitops-plugin/console-extensions.json
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium, component/gitops

#11313 Add infotip and remove not bindable filter
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/catalog.ts
  frontend/packages/console-shared/src/components/catalog/CatalogController.tsx
  frontend/packages/console-shared/src/components/catalog/catalog-view/CatalogFilters.tsx
  frontend/packages/console-shared/src/components/catalog/catalog-view/CatalogView.tsx
  frontend/packages/console-shared/src/components/catalog/utils/types.ts
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/catalog/providers/useBindableItemMetadataProvider.ts
Labels: approved, kind/feature, lgtm, component/shared, component/dev-console, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n

#11326 Gherkin for service binding enhancement- discoverability
  frontend/packages/dev-console/integration-tests/features/addFlow/create-operator-backed.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/quick-search-add.feature
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved

#11274 Bug 2076614: Expose ResourceEventStream Component as part of the Core SDK
  dynamic-demo-plugin/console-extensions.json
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/src/components/APIServerEvents.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/public/components/events.jsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, component/sdk, bugzilla/severity-medium

#10644 CONSOLE-2925: Add initial dynamic demo plugin tests
  dynamic-demo-plugin/oc-manifest.yaml
  dynamic-demo-plugin/src/components/ExtensionConsumer.tsx
  dynamic-demo-plugin/src/components/UtilityConsumer.tsx
  dynamic-demo-plugin/src/components/k8sConsumer/K8sAPIConsumer.tsx
  dynamic-demo-plugin/src/components/k8sConsumer/k8s-data.ts
  dynamic-demo-plugin/yarn.lock
  frontend/packages/console-shared/src/components/toast/ToastContext.tsx
  frontend/packages/console-shared/src/components/toast/ToastProvider.tsx
  frontend/packages/integration-tests-cypress/tests/app/demo-dynamic-plugin.spec.ts
  frontend/packages/integration-tests-cypress/views/common.ts
  frontend/packages/integration-tests-cypress/views/form.ts
Labels: approved, lgtm, component/shared, docs-approved, qe-approved, px-approved, kind/cypress

#11202 Bug 2065804: Fix Web Terminal availability check to verify operator is installed
  pkg/terminal/operator.go
  pkg/terminal/proxy.go
Labels: approved, lgtm, bugzilla/valid-bug, component/backend, bugzilla/severity-medium

#11328 Bug 2073176: Fix key/value pair removal issue in configmap form yaml switcher
  frontend/public/components/configmaps/ConfigMapForm.tsx
  frontend/public/components/configmaps/__tests__/configmap-utils.spec.ts
  frontend/public/components/configmaps/configmap-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#11359 Bug 2015555: keep query table and chart in sync
  frontend/public/actions/observe.ts
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/components/monitoring/query-browser.tsx
  frontend/public/reducers/observe.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, bugzilla/severity-low

#11279 [release-4.9] Bug 2071579: fix RoleBindings list page filter
  frontend/public/components/RBAC/bindings.jsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/core, bugzilla/severity-medium, qe-approved, backport-risk-assessed

#11303 CONSOLE-3090: [Dark Theme] Several dark theme fixes. Includes borders, hr, disabled form element, row hover, hint blocks
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/utilization-card/multi-utilization-item.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/utilization-card/utilization-item.tsx
  frontend/packages/console-shared/src/components/dynamic-form/templates.tsx
  frontend/packages/console-shared/src/components/shortcuts/Shortcut.tsx
  frontend/packages/dev-console/src/components/projects/ProjectListPage.scss
  frontend/packages/dev-console/src/components/projects/ProjectListPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarHeader.tsx
  frontend/packages/rhoas-plugin/src/components/service-table/ServiceInstanceFilter.tsx
  frontend/public/components/RBAC/_rbac.scss
  frontend/public/components/RBAC/edit-rule.jsx
  frontend/public/components/RBAC/rules.jsx
  frontend/public/components/_deploy-image.scss
  frontend/public/components/_detail-table.scss
  frontend/public/components/_image-stream.scss
  frontend/public/components/cluster-settings/_cluster-settings.scss
  frontend/public/components/command-line-tools.tsx
  frontend/public/components/container.tsx
  frontend/public/components/edit-yaml.jsx
  frontend/public/components/factory/list-page.tsx
  frontend/public/components/graphs/_graphs.scss
  frontend/public/components/instantiate-template.tsx
  frontend/public/components/utils/_disabled.scss
  frontend/public/components/utils/_hint-block.scss
  frontend/public/components/utils/_name-value-editor.scss
  frontend/public/style/_common.scss
  frontend/public/style/_forms.scss
  frontend/public/style/_vars.scss
  frontend/public/style/ancillary/_bootstrap-residual.scss
Labels: approved, lgtm, component/shared, component/dev-console, component/kubevirt, component/ceph, component/core, docs-approved, qe-approved, px-approved, component/pipelines

#11243 [release-4.9] Bug 2069258: Decode secrets before authorizing repository
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
  frontend/packages/dev-console/src/components/import/git/SourceSecretSelector.tsx
  frontend/packages/git-service/src/services/bitbucket-service.ts
  frontend/packages/git-service/src/services/github-service.ts
  frontend/packages/git-service/src/services/gitlab-service.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, component/git-service, bugzilla/severity-high, backport-risk-assessed

#11201 Bug 2039477: Add a workaround to show the PF validation status also when the input field is autofilled.
  frontend/packages/console-shared/src/components/formik-fields/InputField.scss
  frontend/packages/console-shared/src/components/formik-fields/InputField.tsx
  frontend/public/style/_overrides.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/core, bugzilla/severity-low

#11218 [release-4.9] Bug 2066771: Enhance Insights widget empty states
  frontend/packages/insights-plugin/locales/en/insights-plugin.json
  frontend/packages/insights-plugin/src/components/InsightsPopup/index.tsx
  frontend/packages/insights-plugin/src/components/InsightsPopup/mappers.ts
  frontend/packages/insights-plugin/src/components/InsightsPopup/status.ts
  frontend/packages/insights-plugin/src/plugin.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium, qe-approved, component/insights, backport-risk-assessed

#11307 Bug 2073437: Improve Firehose cache, so that it does not return unexpected data also if isList differs on two concurrent calls
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/__tests__/k8s-watcher.spec.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/__tests__/useK8sWatchResource.data.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/__tests__/useK8sWatchResource.spec.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/__tests__/useK8sWatchResources.data.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/__tests__/useK8sWatchResources.spec.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/k8s-watcher.ts
  frontend/packages/dev-console/src/components/import/git/SourceSecretSelector.tsx
  frontend/public/components/utils/__tests__/firehose.data.tsx
  frontend/public/components/utils/__tests__/firehose.spec.tsx
  frontend/public/components/utils/firehose.jsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, component/core, component/sdk, bugzilla/severity-medium

#11203 Epic Automation for ODC-4315
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-builder-page.feature
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineBuilder-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-from-builder-page.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/RemoveNodeDecorator.tsx
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/pipelines

#11324 Automation of pipeline-runs | pipelines-plugin
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-runs.feature
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-runs.ts
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/topology, component/pipelines

#11312 [release-4.9] Bug 2073999: avoid pre-fetching tekton hub task versions
  frontend/packages/pipelines-plugin/src/components/catalog/apis/__tests__/tektonHub.spec.ts
  frontend/packages/pipelines-plugin/src/components/catalog/apis/tektonHub.ts
  frontend/packages/pipelines-plugin/src/components/catalog/const.ts
  frontend/packages/pipelines-plugin/src/components/catalog/providers/useTekonHubTasksProvider.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/PipelineQuickSearch.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/PipelineQuickSearchDetails.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/PipelineQuickSearchVersionDropdown.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/__tests__/PipelineQuickSearchVersionDropdown.spec.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/__tests__/PipelineQuicksearchDetails.spec.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/__tests__/pipeline-quicksearch-data.ts
  frontend/packages/pipelines-plugin/src/components/quicksearch/__tests__/pipeline-quicksearch-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/quicksearch/pipeline-quicksearch-utils.ts
  frontend/packages/pipelines-plugin/src/test-data/catalog-item-data.ts
  frontend/packages/pipelines-plugin/src/test-data/tekon-config-data.ts
  frontend/packages/pipelines-plugin/src/types/tektonHub.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium, component/pipelines, backport-risk-assessed

#11380 Bug 2075575: Align url polling interval for Overview pages with other pages
  frontend/public/actions/dashboards.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#11345 Add Helm Chart repositories add action on Add page
  frontend/packages/helm-plugin/console-extensions.json
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/src/components/forms/ProjectHelmChartRepository/CreateProjectHelmChartRepositoryForm.tsx
  frontend/packages/helm-plugin/src/components/forms/ProjectHelmChartRepository/CreateProjectHelmChartRepositoryPage.tsx
  frontend/packages/helm-plugin/src/utils/icons.ts
  frontend/packages/helm-plugin/src/utils/icons.tsx
  frontend/packages/helm-plugin/src/utils/index.ts
Labels: approved, kind/feature, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, kind/i18n, component/helm

#11336 adds support for Pipelines as code
  frontend/packages/console-shared/src/components/multi-tab-list/MultiTabListPage.tsx
  frontend/packages/console-shared/src/components/multi-tab-list/multi-tab-list-page-types.ts
  frontend/packages/pipelines-plugin/console-extensions.json
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/package.json
  frontend/packages/pipelines-plugin/src/components/pac/PacAppForm.tsx
  frontend/packages/pipelines-plugin/src/components/pac/PacForm.tsx
  frontend/packages/pipelines-plugin/src/components/pac/PacOverview.tsx
  frontend/packages/pipelines-plugin/src/components/pac/PacPage.tsx
  frontend/packages/pipelines-plugin/src/components/pac/PacPermissions.tsx
  frontend/packages/pipelines-plugin/src/components/pac/__tests__/PacForm.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pac/__tests__/PacOverview.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pac/__tests__/PacPage.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pac/const.ts
  frontend/packages/pipelines-plugin/src/components/pac/hooks/__tests__/usePacData.spec.ts
  frontend/packages/pipelines-plugin/src/components/pac/hooks/__tests__/usePacGHManifest.spec.ts
  frontend/packages/pipelines-plugin/src/components/pac/hooks/index.ts
  frontend/packages/pipelines-plugin/src/components/pac/hooks/usePacData.ts
  frontend/packages/pipelines-plugin/src/components/pac/hooks/usePacGHManifest.ts
  frontend/packages/pipelines-plugin/src/components/pac/index.ts
  frontend/packages/pipelines-plugin/src/components/pac/pac-utils.ts
  frontend/packages/pipelines-plugin/src/components/pac/pac-validation-schema.ts
  frontend/packages/pipelines-plugin/src/components/pipelines-lists/PipelinesListsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines-lists/__tests__/PipelinesListPage.spec.tsx
  frontend/packages/pipelines-plugin/src/test-data/pac-data.ts
Labels: approved, lgtm, component/shared, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines

#11363 CONSOLE-3071: update Cluster Settings and ClusterVersion Details page…
  frontend/__tests__/components/cluster-settings.spec.tsx
  frontend/packages/console-shared/src/hooks/useCanClusterUpgrade.ts
  frontend/public/components/about-modal.tsx
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/cluster-settings/cluster-version.tsx
  frontend/public/components/utils/details-page.tsx
  frontend/public/components/utils/horizontal-nav.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/shared, component/core, docs-approved, qe-approved, px-approved, kind/i18n

#11349 Make project access form discoverable
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/package.json
  frontend/packages/dev-console/src/components/project-access/ProjectAccess.tsx
  frontend/packages/dev-console/src/components/project-access/ProjectAccessForm.tsx
  frontend/packages/dev-console/src/components/project-access/ProjectAccessPage.tsx
  frontend/packages/dev-console/src/components/project-access/__tests__/ProjectAccessPage.spec.tsx
  frontend/packages/dev-console/src/components/project-access/index.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-validation-utils.ts
  frontend/packages/dev-console/src/utils/icons.tsx
Labels: approved, kind/feature, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, kind/i18n

#11311 Bug 2070731: details switch label is not clickable on add page
  frontend/packages/dev-console/src/components/add/AddPageLayout.scss
  frontend/packages/dev-console/src/components/add/AddPageLayout.tsx
  frontend/packages/dev-console/src/components/add/__tests__/AddPageLayout.spec.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-low, component/topology

#11357 [Dark Theme]: fix mutilStream logs and pod logs viewer and console header to support dark theme
  frontend/packages/pipelines-plugin/src/components/pipelineruns/logs/MultiStreamLogs.scss
  frontend/public/components/utils/_log-window.scss
  frontend/public/style/_overrides.scss
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, component/pipelines

#11352 Automation of Service bindings | dev-console
  frontend/packages/dev-console/integration-tests/features/addFlow/create-operator-backed.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/quick-search-add.feature
  frontend/packages/dev-console/integration-tests/support/constants/global.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/operators-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/operators-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-operator-backed.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/quick-search-add.ts
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved

#11386 Bug 2061918: Fixed side-bar scrolling issue
  frontend/packages/topology/src/components/side-bar/TopologySideBar.tsx
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium, component/topology

#11388 Bug 1965934: Fix Run queries button UX
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/components/monitoring/query-browser.tsx
  frontend/public/reducers/observe.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, bugzilla/severity-low

#11385 CONSOLE-3090: [Dark Theme] This is to reassign the correct blue and orange heading colors that are used in the getting started sections on both Admin and Dev console
  frontend/packages/dev-console/src/components/add/DeveloperFeaturesGettingStartedCard.tsx
  frontend/packages/dev-console/src/components/add/SampleGettingStartedCard.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/getting-started-card/FeatureHighlightsCard.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/getting-started-card/RecommendedOperatorsCard.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/cluster-setup-getting-started-card.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/explore-admin-features-getting-started-card.tsx
  frontend/public/style/_theme-dark.scss
Labels: approved, lgtm, component/dev-console, component/kubevirt, component/dashboard, component/core, docs-approved, qe-approved, px-approved

#11346 Bug 2024708: Don't use lodash startCase on default operand field labels
  frontend/packages/console-shared/src/components/dynamic-form/utils.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/descriptors.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/olm, bugzilla/severity-low

#11379 Bug 2075117: Added inline-flex styling for searchbar filter div
  frontend/packages/console-shared/src/components/catalog/catalog-view/CatalogToolbar.tsx
  frontend/public/components/catalog/_catalog.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/dev-console, component/kubevirt, component/dashboard, component/monitoring, component/core, component/sdk, component/olm, bugzilla/severity-low, kind/i18n, component/helm, component/topology, component/pipelines

#11325 Gherkin and automation for project vulnerability
  frontend/packages/console-shared/src/components/dashboard/status-card/HealthItem.tsx
  frontend/packages/container-security/src/components/summary.tsx
  frontend/packages/dev-console/integration-tests/features/vulnerability/project-vulnerability.feature
  frontend/packages/dev-console/integration-tests/support/constants/global.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/index.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/operators-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/vulnerability-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/pages/operators-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/vulnerability.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/operators.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/vulnerability/project-vulnerability.ts
  frontend/packages/dev-console/integration-tests/testData/vulnerability/create-quarkus-deployment.yaml
Labels: approved, lgtm, component/shared, component/dev-console, component/dashboard, docs-approved, qe-approved, px-approved

#11393 [Dark Theme]: fix Topology empty state to support dark theme
  frontend/public/style/_overrides.scss
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved

#11160 Bug 2042852: Topology toolbars are unaligned to other toolbars
  frontend/packages/topology/src/components/graph-view/TopologyControlBar.scss
  frontend/packages/topology/src/components/graph-view/TopologyControlBar.tsx
  frontend/packages/topology/src/components/list-view/TopologyListView.scss
  frontend/packages/topology/src/filters/TopologyFilterBar.scss
  frontend/public/components/_dropdown.scss
  frontend/public/components/namespace.jsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low, component/topology

#11394 Bug 2077150: Required parent class added so that margin spacing for breadcrumbs is applied.
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetailsPageHeading.tsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/targets.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, bugzilla/severity-low, component/gitops

#11381 Bug 2075189: Fix failed module resoltion errors in console sdk
  frontend/packages/console-dynamic-plugin-sdk/scripts/package-definitions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/sdk, bugzilla/severity-high

#11402 Bug 2079062: increase timeout to render toast notification for demo plugin test
  frontend/packages/integration-tests-cypress/tests/app/demo-dynamic-plugin.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium, kind/cypress

#11143 Monitoring: Integrate PromQL codemirror for better autocomplete UX
  frontend/package.json
  frontend/packages/dev-console/src/components/monitoring/metrics/MetricsQueryInput.tsx
  frontend/packages/dev-console/src/components/monitoring/metrics/QueryInput.tsx
  frontend/packages/dev-console/src/components/monitoring/metrics/__tests__/MetricsQueryInput.spec.tsx
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/_promql-expression-input.scss
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/components/monitoring/promql-expression-input.tsx
  frontend/public/locales/en/public.json
  frontend/yarn.lock
  pkg/server/server.go
Labels: approved, lgtm, component/dev-console, component/monitoring, component/core, component/backend, docs-approved, qe-approved, px-approved, kind/i18n

#11400 Bug 1994117: remove orphaned Service Catalog and Chargeback code
  frontend/__mocks__/catalogItemsMocks.ts
  frontend/__tests__/reducers/features.spec.tsx
  frontend/integration-tests/protractor.conf.ts
  frontend/integration-tests/views/catalog.view.ts
  frontend/packages/console-shared/src/constants/common.ts
  frontend/packages/operator-lifecycle-manager/mocks.ts
  frontend/public/actions/features.ts
  frontend/public/components/_cluster-service-instance.scss
  frontend/public/components/app-contents.tsx
  frontend/public/components/broker-management.tsx
  frontend/public/components/catalog/_catalog.scss
  frontend/public/components/catalog/catalog-item-icon.tsx
  frontend/public/components/chargeback.tsx
  frontend/public/components/cluster-service-broker.tsx
  frontend/public/components/cluster-service-class-info.tsx
  frontend/public/components/cluster-service-class.tsx
  frontend/public/components/cluster-service-plan.tsx
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/factory/table.tsx
  frontend/public/components/instantiate-template.tsx
  frontend/public/components/nav/admin-nav.tsx
  frontend/public/components/nav/section.tsx
  frontend/public/components/provisioned-services.tsx
  frontend/public/components/resource-pages.ts
  frontend/public/components/service-binding.tsx
  frontend/public/components/service-catalog-parameters.tsx
  frontend/public/components/service-instance.tsx
  frontend/public/components/utils/horizontal-nav.tsx
  frontend/public/components/utils/index.tsx
  frontend/public/components/utils/link.tsx
  frontend/public/components/utils/service-catalog-status.tsx
  frontend/public/locales/en/public.json
  frontend/public/models/index.ts
  frontend/public/models/yaml-templates.ts
  frontend/public/module/k8s/index.ts
  frontend/public/module/k8s/service-catalog.ts
  frontend/public/reducers/features.ts
  frontend/public/style.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/core, component/olm, bugzilla/severity-low, kind/i18n

#11370 CONSOLE-3081: moved imports
  frontend/public/components/app.jsx
  frontend/public/vendor.scss
Labels: approved, lgtm, ok-to-test, component/core, docs-approved, qe-approved, px-approved

#11407 Bug 2079216: Update cluster update reference doc link
  frontend/public/components/modals/cluster-update-modal.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#11414 Bug 2079062: Update the wait time for demo plugin to 60s
  frontend/packages/integration-tests-cypress/tests/app/demo-dynamic-plugin.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium, kind/cypress

#10978 Bug 2039161: text visibility fixed
  frontend/packages/ceph-storage-plugin/src/components/kms-config/vault-auth-methods.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/vault-config.tsx
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, component/ceph, bugzilla/severity-medium

#10818 Bug 2027613: use the correct Alertmanager tenancy proxy
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlerts.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/SilenceAlert.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/SilenceDurationDropdown.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/monitoring-alerts-utils.tsx
  pkg/server/server.go
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/dev-console, component/backend, bugzilla/severity-medium, kind/i18n

#11276 Gherkin and Automation of e2e support for event sinks
  frontend/packages/dev-console/integration-tests/support/constants/add.ts
  frontend/packages/dev-console/integration-tests/support/constants/pageTitle.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/catalog-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/event-sink-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/index.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/createBroker.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/createChannel.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/createEventSink.ts
  frontend/packages/knative-plugin/integration-tests/features/eventing/create-event-sink.feature
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/eventing/create-event-sink.ts
Labels: approved, lgtm, component/dev-console, component/knative, docs-approved, qe-approved, px-approved

#11333 KafkaSink Visualization
  frontend/packages/integration-tests-cypress/tests/app/demo-dynamic-plugin.spec.ts
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/actions/providers.ts
  frontend/packages/knative-plugin/src/models.ts
  frontend/packages/knative-plugin/src/topology/__tests__/data-transformer.spec.ts
  frontend/packages/knative-plugin/src/topology/__tests__/topology-knative-test-data.ts
  frontend/packages/knative-plugin/src/topology/components/knativeComponentFactory.ts
  frontend/packages/knative-plugin/src/topology/components/nodes/EventSink.tsx
  frontend/packages/knative-plugin/src/topology/const.ts
  frontend/packages/knative-plugin/src/topology/data-transformer.ts
  frontend/packages/knative-plugin/src/topology/index.ts
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
  frontend/packages/knative-plugin/src/topology/topology-types.ts
  frontend/packages/topology/src/__tests__/topology-test-data.ts
  frontend/packages/topology/src/components/side-bar/components/SideBarBody.tsx
  frontend/packages/topology/src/utils/__tests__/application-utils.spec.ts
  frontend/packages/topology/src/utils/application-utils.ts
Labels: approved, lgtm, component/knative, docs-approved, qe-approved, px-approved, kind/i18n, component/topology, kind/cypress

#11205 Bug 2079673: disable migrated components
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/ceph-storage-plugin/src/features.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-high

#11366 CONSOLE-3072: Cluster overview page changes for HyperShift provisioned clusters
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/details-card.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/__tests__/cluster-setup-getting-started-card.spec.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/cluster-setup-getting-started-card.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/status-card.tsx
Labels: approved, lgtm, component/dashboard, component/core, docs-approved, qe-approved, px-approved

#11416 Bug 2079062: use xl timeout to verify the demo pull spec is accurate
  frontend/packages/integration-tests-cypress/tests/app/demo-dynamic-plugin.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium, kind/cypress

#11417 Bug 2071747: Fix the machine configuration docs link
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/__tests__/cluster-setup-getting-started-card.spec.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/cluster-setup-getting-started-card.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dashboard, component/core, bugzilla/severity-low

#11360 CONSOLE 3132: Introduce new console-plugin-shared npm package
  frontend/packages/ceph-storage-plugin/src/components/dashboards/block-pool/compression-details-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/block-pool/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/details-card/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-external/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/details-card.tsx
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/nodes/node-dashboard/DetailsCard.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-api.ts
  frontend/packages/console-plugin-shared/LICENSE
  frontend/packages/console-plugin-shared/OWNERS
  frontend/packages/console-plugin-shared/README.md
  frontend/packages/console-plugin-shared/package.json
  frontend/packages/console-plugin-shared/src/components/OverviewPage/OverviewDetailItem.scss
  frontend/packages/console-plugin-shared/src/components/OverviewPage/OverviewDetailItem.tsx
  frontend/packages/console-plugin-shared/src/components/OverviewPage/index.ts
  frontend/packages/console-plugin-shared/src/components/index.ts
  frontend/packages/console-plugin-shared/src/index.ts
  frontend/packages/console-plugin-shared/tsconfig.json
  frontend/packages/console-shared/src/components/dashboard/details-card/DetailItem.tsx
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-details-card.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/VirtOverviewDetailsCard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/DetailsCard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/dashboard/DetailsCard.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/details-card.tsx
  frontend/public/components/dashboard/project-dashboard/details-card.tsx
  frontend/webpack.config.ts
Labels: approved, lgtm, component/shared, component/kubevirt, component/dashboard, component/ceph, component/core, component/metal3, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n

#11391 CCXDEV-5788: render the "last refresh" timestamp in the Insights Advisor widget
  frontend/packages/insights-plugin/locales/en/insights-plugin.json
  frontend/packages/insights-plugin/src/components/InsightsPopup/CriticalIcon.tsx
  frontend/packages/insights-plugin/src/components/InsightsPopup/index.tsx
  frontend/packages/insights-plugin/src/components/InsightsPopup/mappers.ts
  frontend/packages/insights-plugin/src/components/InsightsPopup/style.scss
  frontend/packages/insights-plugin/src/plugin.tsx
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/insights

#11398 CONSOLE-3141: Hide 'Control Plane' section in the status card for External controlPlaneTopology
  frontend/packages/console-app/src/plugin.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/dashboards.ts
  frontend/packages/console-plugin-sdk/src/typings/dashboards.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/status-card.tsx
Labels: approved, lgtm, component/shared, component/dashboard, component/core, component/sdk, docs-approved, qe-approved, px-approved
