Repository openshift/console, pull requests merged in 2022-06, with the labels that each got.

#11568 Prometheus hook returns loaded instead of loading - same as k8s watch…
  dynamic-demo-plugin/src/components/ExamplePage.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved

#11589 Bug 2063732: Workloads - StatefulSets : I18n misses
  frontend/public/components/modals/configure-count-modal.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#11602 Bug 2079818: Remove duplicate padding from catalog side panel
  frontend/public/components/catalog/_catalog.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#11612 Bug 2091854: Add 'Unavailable' status to clusteroperator status filter
  frontend/public/components/cluster-settings/cluster-operator.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#11419 Bug 2077386: Replaced enum type with const to add translation
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-data.ts
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/dev-console/src/components/import/DeployImage.tsx
  frontend/packages/dev-console/src/components/import/__mocks__/deployImage-validation-mock.ts
  frontend/packages/dev-console/src/components/import/__mocks__/import-validation-mock.ts
  frontend/packages/dev-console/src/components/import/__mocks__/upload-jar-mock.ts
  frontend/packages/dev-console/src/components/import/__tests__/deployImage-submit-utils-data.ts
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils-data.ts
  frontend/packages/dev-console/src/components/import/advanced/__tests__/RouteSection.spec.tsx
  frontend/packages/dev-console/src/components/import/form-initial-values.ts
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/import/route/SecureRoute.tsx
  frontend/packages/dev-console/src/components/user-preferences/SecureRouteFields.tsx
  frontend/packages/knative-plugin/src/utils/__tests__/knative-serving-data.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, component/knative, bugzilla/severity-low, kind/i18n

#11575 [Dark Theme]: fix dark theme issues in pipeline task visualization
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationTask.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/BuilderFinallyNode.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/BuilderFinallyNode.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/PlusNodeDecorator.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/PlusNodeDecorator.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/TaskList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/TaskListNode.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/WhenExpressionDecorator.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/__tests__/utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/utils.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/pipelines

#11498 Bug 2079685: Kms details enabled in the StorageClass creation page
  frontend/packages/ceph-storage-plugin/src/constants/kms.ts
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, component/ceph, bugzilla/severity-high

#11516 Bug 2084615: Fix Add to navigation alignment on search page
  frontend/public/components/_resource-dropdown.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#11517 Bug 2089996: Don't rerun yarn install when running tests
  test-cypress.sh
  test-protractor.sh
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low

#11548 Bug 2084438: Change Ping source spec.jsonData (deprecated) field to spec.data
  frontend/packages/knative-plugin/integration-tests/support/testData/createPingSource.yaml
  frontend/packages/knative-plugin/src/components/add/event-sources/PingSourceSection.tsx
  frontend/packages/knative-plugin/src/utils/__tests__/create-eventsources-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-serving-data.ts
  frontend/packages/knative-plugin/src/utils/create-eventsources-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/knative, bugzilla/severity-medium

#11597 Bug 2074635: fix web terminal start
  frontend/packages/console-app/src/components/cloud-shell/useCloudShellWorkspace.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-high, qe-approved, px-approved

#11614 Bug 2070000: Add high priority alerts to overview
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/HighPriorityAlerts.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/VirtualizationOverviewPage.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/high-priority-alerts.scss
  frontend/packages/kubevirt-plugin/src/hooks/useFilteredAlerts.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium, kind/i18n

#11615 Bug 2080387: Pass contextSource to TopologyApplicationActionProvider
  frontend/packages/dev-console/src/actions/providers.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-medium

#11549 Add console-telemetry-plugin
  frontend/@types/console/index.d.ts
  frontend/packages/console-app/package.json
  frontend/packages/console-shared/src/hooks/useTelemetry.ts
  frontend/packages/console-telemetry-plugin/console-extensions.json
  frontend/packages/console-telemetry-plugin/package.json
  frontend/packages/console-telemetry-plugin/src/flags/detect-telemetry.ts
  frontend/packages/console-telemetry-plugin/src/flags/index.ts
  frontend/packages/console-telemetry-plugin/src/listeners/const.ts
  frontend/packages/console-telemetry-plugin/src/listeners/index.ts
  frontend/packages/console-telemetry-plugin/src/listeners/segment.ts
  frontend/packages/console-telemetry-plugin/src/plugin.ts
Labels: approved, lgtm, component/shared, component/core, docs-approved, qe-approved, px-approved

#11608 Bug 2088489: fix app selection in list view
  frontend/packages/topology/integration-tests/features/topology/topology-application-grouping.feature
  frontend/packages/topology/integration-tests/support/pages/topology/topology-page.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/application-groupings.ts
  frontend/packages/topology/src/components/list-view/TopologyListViewAppGroup.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium, component/topology

#11600 Bug 2086546: [Dark Theme]: update Service binding connector color to support dark mode
  frontend/packages/topology/src/components/graph-view/components/edges/ServiceBinding.scss
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium, component/topology

#11613 Bug 2091746: Check if spec is available in MCP details page
  frontend/public/components/machine-config-pool.tsx
  frontend/public/components/utils/workload-pause.tsx
  frontend/public/module/k8s/types.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#11583 Bug 2063764: Operators - OperatorHub : i18n misses
  frontend/public/components/utils/tile-view-page.jsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/core, component/olm, bugzilla/severity-low, kind/i18n

#11578 CONSOLE-3163: kubeadmin notifier changes
  frontend/public/components/kube-admin-notifier.jsx
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved

#11572 Bug 2077138: fix {{execute}} regex for multiline executables in QuickStart
  frontend/packages/console-shared/src/components/markdown-extensions/multiline-execute-extension.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, bugzilla/severity-low

#11627 Add pipelines as code Repository form
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pac/const.ts
  frontend/packages/pipelines-plugin/src/components/pac/hooks/__tests__/usePacData.spec.ts
  frontend/packages/pipelines-plugin/src/components/pac/hooks/usePacData.ts
  frontend/packages/pipelines-plugin/src/components/pac/hooks/usePacGHManifest.ts
  frontend/packages/pipelines-plugin/src/components/pac/pac-utils.ts
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryForm.scss
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryForm.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryFormPage.tsx
  frontend/packages/pipelines-plugin/src/components/repository/__tests__/repository-form-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/repository/consts.ts
  frontend/packages/pipelines-plugin/src/components/repository/form-fields/CopyPipelineRunButton.tsx
  frontend/packages/pipelines-plugin/src/components/repository/hooks/pac-hook.ts
  frontend/packages/pipelines-plugin/src/components/repository/hooks/useBuilderImages.ts
  frontend/packages/pipelines-plugin/src/components/repository/repository-form-utils.ts
  frontend/packages/pipelines-plugin/src/components/repository/sections/AdvancedConfigurations.tsx
  frontend/packages/pipelines-plugin/src/components/repository/sections/GithubSection.tsx
  frontend/packages/pipelines-plugin/src/components/repository/sections/PermissionsSection.tsx
  frontend/packages/pipelines-plugin/src/components/repository/sections/RepositoryFormSection.tsx
  frontend/packages/pipelines-plugin/src/components/repository/sections/RepositoryOverview.tsx
  frontend/packages/pipelines-plugin/src/components/repository/sections/WebhookSection.tsx
  frontend/packages/pipelines-plugin/src/components/repository/types.ts
  frontend/packages/pipelines-plugin/src/models/pipelines.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines

#11579 captures telemetry events for userPreferences, SBO, WTO and getting started
  frontend/packages/console-app/src/components/cloud-shell/CloudShellDrawer.tsx
  frontend/packages/console-app/src/components/cloud-shell/CloudShellExec.tsx
  frontend/packages/console-app/src/components/cloud-shell/CloudShellMastheadButton.tsx
  frontend/packages/console-app/src/components/cloud-shell/CloudShellTerminal.tsx
  frontend/packages/console-app/src/components/cloud-shell/MultiTabbedTerminal.tsx
  frontend/packages/console-app/src/components/cloud-shell/__tests__/CloudShellExec.spec.tsx
  frontend/packages/console-app/src/components/modals/service-binding/ServiceBindingModalLauncher.tsx
  frontend/packages/console-app/src/components/user-preferences/UserPreferenceCheckboxField.tsx
  frontend/packages/console-app/src/components/user-preferences/UserPreferenceDropdownField.tsx
  frontend/packages/console-app/src/components/user-preferences/language/LanguageDropdown.tsx
  frontend/packages/console-app/src/components/user-preferences/language/usePreferredLanguage.ts
  frontend/packages/console-app/src/components/user-preferences/namespace/NamespaceDropdown.tsx
  frontend/packages/console-app/src/components/user-preferences/namespace/usePreferredNamespace.ts
  frontend/packages/console-app/src/components/user-preferences/perspective/PerspectiveDropdown.tsx
  frontend/packages/console-app/src/components/user-preferences/perspective/usePreferredPerspective.ts
  frontend/packages/console-shared/src/components/getting-started/GettingStartedCard.tsx
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils-data.ts
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/import/form-initial-values.ts
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/import/serverless/useUpdateKnScalingDefaultValues.ts
  frontend/packages/dev-console/src/components/user-preferences/SecureRouteFields.tsx
  frontend/packages/dev-console/src/components/user-preferences/usePreferredRoutingOptions.tsx
  frontend/packages/topology/src/filters/FilterDropdown.tsx
Labels: approved, lgtm, component/shared, component/dev-console, component/core, docs-approved, qe-approved, px-approved, component/topology

#11632 Update pf packages to pf-2022-7
  frontend/package.json
  frontend/public/components/app.jsx
  frontend/yarn.lock
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved

#11554 [release-4.9] Bug 2084028: Improve Firehose cache, fix broken import
  frontend/public/components/utils/__tests__/firehose.spec.tsx
  frontend/public/components/utils/firehose.jsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/core, bugzilla/severity-medium, qe-approved, backport-risk-assessed

#11610 Topology-Toolbar Filter Group Gherkin Design and Automation
  frontend/packages/topology/integration-tests/features/topology/topology-display-filter.feature
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/topology-filters.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/topology

#11531 ODC-6670: Add --telemetry support to console backend (bridge)
  cmd/bridge/main.go
  pkg/server/server.go
  pkg/serverconfig/config.go
  pkg/serverconfig/config_test.go
  pkg/serverconfig/types.go
Labels: approved, lgtm, component/backend, docs-approved, qe-approved, px-approved

#11646 Bug 2091901: fix bug where log stream pauses in Chrome
  frontend/public/components/utils/resource-log.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#11539 [release-4.8] Bug 2088756: Improve Firehose cache, so that it does not return unexpected data also if isList differs on two concurrent calls
  frontend/public/components/utils/__tests__/firehose.data.tsx
  frontend/public/components/utils/__tests__/firehose.spec.tsx
  frontend/public/components/utils/__tests__/k8s-watch-hook.spec.tsx
  frontend/public/components/utils/__tests__/useK8sWatchResource.data.tsx
  frontend/public/components/utils/__tests__/useK8sWatchResources.data.tsx
  frontend/public/components/utils/__tests__/useK8sWatchResources.spec.tsx
  frontend/public/components/utils/firehose.jsx
  frontend/public/components/utils/k8s-watch-hook.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/core, bugzilla/severity-medium, backport-risk-assessed

#11630 [release-4.9] Bug 2082493: - Rolebindings page doesn't load for normal users
  frontend/public/components/RBAC/bindings.jsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/core, bugzilla/severity-medium, qe-approved, backport-risk-assessed

#11662 Bug 2065840: redirect v1beta1 CronJobs
  frontend/public/components/app-contents.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#11563 Bug 2085407: Update Node details page to include inline edit labels button
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/nodes/NodeDetailsOverview.tsx
  frontend/public/components/utils/details-page.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low, kind/i18n

#11652 Bug 2094104: Demo dynamic plugin image tests should be skipped when testing console-operator
  frontend/packages/integration-tests-cypress/plugins/index.js
  frontend/packages/integration-tests-cypress/tests/app/demo-dynamic-plugin.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low, kind/cypress

#8930 CONSOLE-2321: Allow operators installed globally to display operand instances for all managed namespaces in their details
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/operand/ShowOperandsInAllNamespacesRadioGroup.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/useShowOperandsInAllNamespaces.ts
  frontend/packages/operator-lifecycle-manager/src/style.scss
  frontend/public/actions/ui.ts
  frontend/public/components/factory/ListPage/ListPageHeader.tsx
  frontend/public/reducers/ui.ts
Labels: approved, lgtm, component/shared, component/core, component/sdk, component/olm, docs-approved, qe-approved, px-approved, kind/i18n

#11683 Bug 2095231: Fix default sidebar for resources like Kafka sink, Kafka connection
  frontend/packages/topology/src/components/side-bar/providers/SideBarTabHookResolver.tsx
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium, component/topology

#11643 Gherkin for console dark theme
  frontend/packages/dev-console/integration-tests/features/user-preferences/user-preferences-dev-perspective.feature
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved

#11663 Render icon as a svg instead of img tag to support dark theme
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/add-actions.ts
  frontend/packages/dev-console/src/components/add/AddCardItem.scss
  frontend/packages/dev-console/src/components/add/AddCardItem.tsx
  frontend/packages/helm-plugin/console-extensions.json
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/src/imgs/channel.svg
  frontend/packages/pipelines-plugin/src/images/pipeline.svg
  frontend/packages/rhoas-plugin/console-extensions.json
  frontend/public/imgs/logos/helm.svg
Labels: approved, lgtm, component/dev-console, component/knative, component/core, component/sdk, docs-approved, qe-approved, px-approved, component/helm, component/pipelines

#11670 Bug 2094833: Fix empty pipeline run template section for non-admin users
  frontend/packages/pipelines-plugin/src/components/repository/__tests__/repository-form-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/repository/repository-form-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low, component/pipelines

#11671 ODC-6694: New service binding plugin with a list and detail page, updated topology package
  frontend/packages/console-app/package.json
  frontend/packages/console-app/src/actions/creators/deployment-factory.ts
  frontend/packages/console-app/src/components/modals/service-binding/ServiceBindingModalLauncher.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/status/Status.tsx
  frontend/packages/dev-console/src/actions/providers.ts
  frontend/packages/dev-console/src/components/topology/bindable-services/bindable-service-resources.ts
  frontend/packages/dev-console/src/components/topology/sbr-sidebar/tab-section.tsx
  frontend/packages/dev-console/src/plugin.tsx
  frontend/packages/dev-console/src/utils/useAddToProjectAccess.ts
  frontend/packages/service-binding-plugin/OWNERS
  frontend/packages/service-binding-plugin/README.md
  frontend/packages/service-binding-plugin/console-extensions.json
  frontend/packages/service-binding-plugin/locales/en/service-binding-plugin.json
  frontend/packages/service-binding-plugin/package.json
  frontend/packages/service-binding-plugin/src/__tests__/mock-data.ts
  frontend/packages/service-binding-plugin/src/__tests__/utils.spec.ts
  frontend/packages/service-binding-plugin/src/components/service-binding-details/ServiceBindingDetailsPage.tsx
  frontend/packages/service-binding-plugin/src/components/service-binding-details/ServiceBindingDetailsTab.tsx
  frontend/packages/service-binding-plugin/src/components/service-binding-details/ServiceBindingSummary.tsx
  frontend/packages/service-binding-plugin/src/components/service-binding-details/__tests__/ServiceBindingDetailsPage.spec.tsx
  frontend/packages/service-binding-plugin/src/components/service-binding-details/__tests__/ServiceBindingDetailsTab.spec.tsx
  frontend/packages/service-binding-plugin/src/components/service-binding-list/ServiceBindingListPage.tsx
  frontend/packages/service-binding-plugin/src/components/service-binding-list/ServiceBindingTable.tsx
  frontend/packages/service-binding-plugin/src/components/service-binding-list/__tests__/ServiceBindingListPage.spec.tsx
  frontend/packages/service-binding-plugin/src/components/service-binding-list/__tests__/ServiceBindingTable.spec.tsx
  frontend/packages/service-binding-plugin/src/components/service-binding-status/ServiceBindingStatus.tsx
  frontend/packages/service-binding-plugin/src/components/service-binding-status/__tests__/ServiceBindingStatus.spec.tsx
  frontend/packages/service-binding-plugin/src/const.ts
  frontend/packages/service-binding-plugin/src/models.ts
  frontend/packages/service-binding-plugin/src/pages.ts
  frontend/packages/service-binding-plugin/src/plugin.ts
  frontend/packages/service-binding-plugin/src/types.ts
  frontend/packages/service-binding-plugin/src/utils.ts
  frontend/packages/topology/src/__tests__/service-binding-test-data.ts
  frontend/packages/topology/src/components/graph-view/components/edges/ServiceBinding.tsx
  frontend/packages/topology/src/const.ts
  frontend/packages/topology/src/models/index.ts
  frontend/packages/topology/src/operators/actions/serviceBindings.ts
  frontend/packages/topology/src/operators/operatorResources.ts
  frontend/packages/topology/src/operators/operatorsTopologyPlugin.ts
  frontend/packages/topology/src/plugin.tsx
  frontend/packages/topology/src/utils/topology-utils.ts
  frontend/public/components/utils/breadcrumbs.ts
  frontend/public/components/utils/resource-link.tsx
  frontend/public/i18n.js
  frontend/webpack.config.ts
Labels: approved, lgtm, component/dev-console, component/core, component/sdk, docs-approved, qe-approved, px-approved, component/topology

#11650 Bug 2091603: move terminal tick & add phase handlers
  frontend/packages/console-app/src/components/cloud-shell/CloudShellExec.tsx
  frontend/packages/console-app/src/components/cloud-shell/CloudShellTerminal.tsx
  frontend/packages/console-app/src/components/cloud-shell/MultiTabbedTerminal.tsx
  frontend/packages/console-app/src/components/cloud-shell/__tests__/CloudShellExec.spec.tsx
  frontend/packages/console-app/src/components/cloud-shell/__tests__/MultiTabbedTerminal.spec.tsx
  frontend/packages/console-app/src/components/cloud-shell/cloud-shell-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-high

#11682 Bug 2095247: update fetch for dynamic channels in sink as done for source
  frontend/packages/knative-plugin/src/components/add/event-sinks/form-fields/SourceResources.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/knative, bugzilla/severity-medium

#11684 CONSOLE-3081: Adjust pf-c-card background color, when on dark theme, so that it is discernible.
  frontend/public/style/_overrides.scss
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved

#11609 Remove now unused function getPrometheusExpressionBrowserURL
  frontend/__tests__/components/graphs/prometheus-graph.spec.tsx
  frontend/public/components/graphs/prometheus-graph.tsx
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved

#11653 Bug 2094152: Filter alerts in virtualization overview status card
  frontend/packages/console-shared/src/components/dashboard/status-card/AlertItem.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/alert-utils.ts
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/HighPriorityAlerts.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/status-card/VirtOverviewDashboardAlerts.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/status-card/VirtOverviewStatusCard.tsx
  frontend/packages/kubevirt-plugin/src/hooks/useFilteredAlerts.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/kubevirt, component/dashboard, bugzilla/severity-medium

#11688 Bug 2086521: [Dark Theme]: fix Topology context menu icon to support dark theme
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/add-actions.ts
  frontend/packages/dev-console/src/components/add/AddCardItem.scss
  frontend/packages/dev-console/src/components/add/AddCardItem.tsx
  frontend/packages/helm-plugin/console-extensions.json
  frontend/packages/helm-plugin/src/components/list-page/HelmReleaseList.scss
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/rhoas-plugin/console-extensions.json
  frontend/packages/topology/src/components/graph-view/components/ContextMenu.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, component/knative, component/sdk, bugzilla/severity-medium, component/helm, component/topology

#11689 Bug 2096053: [Dark Theme]: Add white background to Builder Image icons in Git import flow
  frontend/packages/console-shared/src/components/formik-fields/item-selector-field/ItemSelectorField.scss
  frontend/packages/console-shared/src/components/formik-fields/item-selector-field/SelectorCard.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, bugzilla/severity-medium

#11687 Bug 2095687: fix issue with debugcontainer for build logs
  frontend/public/components/utils/resource-log.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-high

#11694 Bug 2094239: do not show NodesUpdateGroup if there are 0 nodes
  frontend/public/components/cluster-settings/cluster-settings.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#11494 Bug 2084453: - Edit PodDisruptionBudget page sometimes takes user to not synced YAML view
  frontend/packages/console-app/src/components/pdb/PDBForm.tsx
  frontend/packages/console-app/src/components/pdb/PDBFormPage.tsx
  frontend/packages/console-app/src/components/pdb/pdb-models.ts
  frontend/packages/console-shared/src/components/synced-editor/index.tsx
  frontend/public/components/create-yaml.tsx
  frontend/public/models/yaml-templates.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/core, bugzilla/severity-medium

#11450 Automation of event-sources-sink-to-uri | knative-plugin
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/knative-plugin/integration-tests/features/eventing/event-sources-sink-to-uri.feature
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/eventing/actions-on-event-sources.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/eventing/event-sources-sink-to-uri.ts
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-page.ts
Labels: approved, lgtm, component/shared, component/dev-console, component/knative, docs-approved, qe-approved, px-approved, kind/i18n, component/topology

#11685 CONSOLE-3081: Adjust darkest purple resource color to one PF shade lighter for better contrast on dark theme.
  frontend/public/style/_vars.scss
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved

#11265 Bug 2057251: promql: Improve a few cluster-dashboard queries
  frontend/packages/console-shared/src/promql/OWNERS
  frontend/packages/console-shared/src/promql/cluster-dashboard.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, bugzilla/severity-medium

#11576 Automation of eventing-broker-trigger | knative-eventing
  frontend/packages/knative-plugin/integration-tests/features/eventing/eventing-broker-trigger.feature
  frontend/packages/knative-plugin/integration-tests/support/pageObjects/global-po.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/eventing/eventing-broker-trigger.ts
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
Labels: approved, lgtm, component/knative, docs-approved, qe-approved, px-approved, component/topology

#11674 Bug 2090457: openshift-debug-node- namespaces do not get deleted for…
  frontend/packages/console-app/src/components/nodes/NodeTerminal.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#11705 Bug 2093047: Clean up duplicate entries in api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/sdk, bugzilla/severity-high

#11710 [release-4.10] Bug 2095637: Fix failing backend test after devfile registry update
  frontend/integration-tests/tests/dashboards/cluster-dashboard.scenario.ts
  pkg/devfile/sample_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/backend, bugzilla/severity-high, backport-risk-assessed

#11545 [release-4.10] Bug 2089315: fix rolebinding in DevConsole dropping all subjects when updating
  frontend/packages/dev-console/src/components/project-access/ProjectAccess.tsx
  frontend/packages/dev-console/src/components/project-access/ProjectAccessForm.tsx
  frontend/packages/dev-console/src/components/project-access/__tests__/ProjectAccessForm.spec.tsx
  frontend/packages/dev-console/src/components/project-access/__tests__/project-access-form-data.ts
  frontend/packages/dev-console/src/components/project-access/__tests__/project-access-form-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/project-access/__tests__/project-access-form-utils.spec.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-submit-utils.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-utils-types.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-utils.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-validation-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, bugzilla/severity-high, backport-risk-assessed

#11601 Gherkin and automation of dev usability improvements
  frontend/packages/console-shared/src/components/form-utils/FormHeader.tsx
  frontend/packages/dev-console/integration-tests/features/addFlow/helm-chart-repositories.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/sharing.feature
  frontend/packages/dev-console/integration-tests/features/config-maps/config-maps-dev-perspective.feature
  frontend/packages/dev-console/integration-tests/features/deployment/deployment-dev-perspective.feature
  frontend/packages/dev-console/integration-tests/features/route/route-dev-perspective.feature
  frontend/packages/dev-console/integration-tests/support/constants/add.ts
  frontend/packages/dev-console/integration-tests/support/constants/global.ts
  frontend/packages/dev-console/integration-tests/support/constants/pageTitle.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/config-map-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/global-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/route-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/pages/config-maps.ts
  frontend/packages/dev-console/integration-tests/support/pages/routes.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/helm-chart-repositories.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/sharing.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/config-maps/config-maps-dev-perspective.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/deployment/deployment-dev-perspective.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/route/route-dev-perspective.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/vulnerability/project-vulnerability.ts
  frontend/packages/helm-plugin/src/components/forms/ProjectHelmChartRepository/CreateProjectHelmChartRepositoryPage.tsx
Labels: approved, lgtm, component/shared, component/dev-console, docs-approved, qe-approved, px-approved, component/helm

#11681 Gherkin for add git repository in pipeline as code
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-as-code.feature
  frontend/packages/pipelines-plugin/integration-tests/testData/imageContentPolicy1.8.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/installPipelineOperator1.8.yaml
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/pipelines

#11552 [release-4.10] Bug 2089589: add debounce to tektonhub versions api call to avoid many calls
  frontend/packages/pipelines-plugin/src/components/quicksearch/PipelineQuickSearchDetails.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/__tests__/PipelineQuicksearchDetails.spec.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-low, component/pipelines, backport-risk-assessed

#11595 [release-4.10] Bug 2091482: change metrics queries based on metrics level configurations
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipeline-metrics.ts
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelineDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/__tests__/pipelineDetailsPage.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/__tests__/PipelineRuns.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/types.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/hooks.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetrics.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetricsQuickstart.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineRunCount.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineRunDurationGraph.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineRunTaskRunGraph.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineSuccessRatioDonut.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineMetrics.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineRunCount.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineRunDuration.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineRunTaskRunGraph.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineSuccessRatioDonut.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/pipeline-metrics-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/utils/__tests__/pipeline-config.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/utils/__tests__/pipeline-operator.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/utils/pipeline-config.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/utils/pipeline-operator.ts
  frontend/packages/pipelines-plugin/src/test-data/tekon-config-data.ts
  frontend/packages/pipelines-plugin/src/types/coreTekton.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium, kind/i18n, component/pipelines, backport-risk-assessed

#11655 [release-4.10] Bug 2094211: Change Ping source spec.jsonData (deprecated) field to spec.data
  frontend/packages/knative-plugin/src/components/add/event-sources/PingSourceSection.tsx
  frontend/packages/knative-plugin/src/utils/__tests__/create-eventsources-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-serving-data.ts
  frontend/packages/knative-plugin/src/utils/create-eventsources-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/knative, bugzilla/severity-medium, backport-risk-assessed

#11704 Bug 2093600: Added create call before delete call
  frontend/packages/dev-console/src/components/project-access/ProjectAccess.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-medium

#11584 Bug 2092496: [release-4.10] Added vault_tenants_sa to the list of supported providers
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
  frontend/packages/ceph-storage-plugin/src/constants/kms.ts
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, cherry-pick-approved, component/ceph, bugzilla/severity-high, qe-approved, backport-risk-assessed

#11452 Topology-connecting-workloads and editing app | Topology Automation
  frontend/packages/topology/integration-tests/features/topology/topology-connecting-workloads.feature
  frontend/packages/topology/integration-tests/features/topology/topology-editing-app-node.feature
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-page.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/edit-workload.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/topology

#11586 CONSOLE-3162: Implement check for the new i18n annotation for dynamic plugins
  cmd/bridge/main.go
  dynamic-demo-plugin/README.md
  dynamic-demo-plugin/oc-manifest.yaml
  frontend/@types/console/index.d.ts
  frontend/packages/console-plugin-sdk/src/store.ts
  frontend/public/i18n.js
  frontend/public/plugins.ts
  pkg/server/server.go
  pkg/serverconfig/config.go
  pkg/serverconfig/types.go
Labels: approved, lgtm, component/core, component/sdk, component/backend, docs-approved, qe-approved, px-approved

#11605 Topology-workload-sidebar feature
  frontend/packages/topology/integration-tests/features/topology/topology-workload-sidebar.feature
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/pages/functions/add-secret.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-page.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-side-pane-page.ts
  frontend/packages/topology/integration-tests/support/step-definitions/common/topology.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/workload-sidebar.ts
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved, component/topology

#11617 Bug 2043068: <x> available of <y> text disappears in Utilization item if x is 0
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationItem.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/dashboard, bugzilla/severity-low

#11709 Gherkin and automation of support builds v2 in Dev Console
  frontend/packages/dev-console/integration-tests/features/build-config/shipwright-build/shipwright-build-detail-page.feature
  frontend/packages/dev-console/integration-tests/support/constants/global.ts
  frontend/packages/dev-console/integration-tests/support/constants/pageTitle.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/build-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/global-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/operators-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/installOperatorOnCluster.ts
  frontend/packages/dev-console/integration-tests/support/pages/operators-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/builds/shipwright-build-detail-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/operators.ts
  frontend/packages/dev-console/integration-tests/testData/builds/shipwrightBuild.yaml
  frontend/packages/dev-console/integration-tests/testData/builds/shipwrightBuildRun.yaml
  frontend/packages/dev-console/integration-tests/testData/builds/shipwrightBuildStrategies.yaml
  frontend/packages/shipwright-plugin/src/components/buildrun-status/BuildRunStatus.tsx
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved

#11660 Bug 2090895: Support startsWith Nav Extension property
  frontend/public/components/nav/NavLink.tsx
  frontend/public/components/nav/NavLinkHref.tsx
  frontend/public/components/nav/NavLinkResourceCluster.tsx
  frontend/public/components/nav/NavLinkResourceNS.tsx
  frontend/public/components/nav/NavLinkRoot.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#11692 Bug 2027603: Fix arbiter zone selection issue
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/capacity-and-nodes-step/stretch-cluster.tsx
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, component/ceph, bugzilla/severity-low

#11718 Bug 2097000: fix visualisation of kafka connection along with kafka sink
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/rhoas-plugin/console-extensions.json
Labels: approved, lgtm, bugzilla/valid-bug, component/knative, bugzilla/severity-high

#11648 Bug 2091029: - Cancel rollout action only appears when rollout is completed
  frontend/packages/console-app/src/actions/providers/replication-controllers-provider.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#11707 Bug 2096394: Switch from overriding dark theme pf-c-card background to increasing its boxshadow.
  frontend/public/style/_overrides.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#11723 Bug 2089675: Fix for setting position of topology groups with no children
  frontend/packages/topology/src/elements/BaseNode.ts
  frontend/packages/topology/src/elements/OdcBaseNode.ts
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low, component/topology

#11566 Gherkin and automation of topology usability improvements
  frontend/packages/dev-console/integration-tests/support/constants/global.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/operators-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/catalog-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/createOperatorBacked.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/index.ts
  frontend/packages/dev-console/integration-tests/support/pages/operators-page.ts
  frontend/packages/topology/integration-tests/features/topology/topology-chart-area-visual.feature
  frontend/packages/topology/integration-tests/support/page-objects/chart-area-po.ts
  frontend/packages/topology/integration-tests/support/pages/functions/chart-functions.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-page.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/chart-view.ts
  frontend/packages/topology/integration-tests/support/test-data/hippo-postgres-cluster.yaml
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, component/topology

#11721 Bug 2072793: Update top consumer metrics
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/top-consumers-card/VirtOverviewTopConsumersCard.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/top-consumers-card/queries.ts
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/top-consumers-card/utils.ts
  frontend/packages/kubevirt-plugin/src/constants/virt-overview/top-consumers-card/top-consumer-metric.ts
  frontend/packages/kubevirt-plugin/src/constants/virt-overview/top-consumers-card/top-consumer-scope.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, component/core, bugzilla/severity-high, kind/i18n

#11415 Bug 1993916: Visual feedback on OBC deletion
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/object-bucket-claim-page/object-bucket-claim.tsx
  frontend/public/components/utils/kebab.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, component/core, bugzilla/severity-low, kind/i18n

#11633 CONSOLE-3169: Publish console dynamic plugin extension and api docs
  README.md
  frontend/packages/console-dynamic-plugin-sdk/README.md
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/docs/console-extensions.md
  frontend/packages/console-dynamic-plugin-sdk/scripts/generate-doc.ts
  frontend/packages/console-dynamic-plugin-sdk/scripts/package-definitions.ts
  test-frontend.sh
Labels: approved, lgtm, tide/merge-method-squash, component/sdk, docs-approved, qe-approved, px-approved

#11722 Bug 2089405: fix topology build decorator color
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/status/icons.scss
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/status/icons.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/sdk, bugzilla/severity-medium, component/pipelines

#11717 eventing-create-sink-broker feature | knative-plugin
  frontend/packages/dev-console/integration-tests/support/pages/functions/createBroker.ts
  frontend/packages/knative-plugin/integration-tests/features/eventing/eventing-create-sink-broker.feature
  frontend/packages/knative-plugin/integration-tests/support/pageObjects/global-po.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/eventing/eventing-create-sink-broker.ts
Labels: approved, lgtm, component/dev-console, component/knative, docs-approved, qe-approved, px-approved

#11713 Bug 2093601: allow project access page to update the settings twice
  frontend/packages/dev-console/src/components/project-access/ProjectAccess.tsx
  frontend/packages/dev-console/src/components/project-access/project-access-form-submit-utils.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-utils-types.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-validation-utils.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-medium

#11706 Bug 2096908: [Dark Theme]: fix several issues in the dark mode.
  frontend/packages/helm-plugin/src/components/forms/rollback/HelmReleaseRollbackForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunLogs.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/InstallingNodeDecorator.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/InstallingNodeDecorator.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/LoadingTask.scss
  frontend/packages/topology/src/components/list-view/TopologyListView.scss
  frontend/public/components/catalog/_catalog.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium, kind/i18n, component/helm, component/topology, component/pipelines

#11491 Console 3155: Display Operator logos on a white background on dark them to prevent visual issues and consistency
  frontend/packages/console-shared/src/components/catalog/CatalogTile.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchList.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchList.tsx
  frontend/packages/dev-console/src/components/import/devfile/DevfileInfo.tsx
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmChartMetaDescription.tsx
  frontend/packages/knative-plugin/src/components/add/KnEventMetaDescription.tsx
  frontend/packages/operator-lifecycle-manager/src/components/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
  frontend/packages/operator-lifecycle-manager/src/style.scss
  frontend/public/components/catalog/_catalog.scss
  frontend/public/components/catalog/catalog-item-icon.tsx
  frontend/public/components/instantiate-template.tsx
  frontend/public/style.scss
  frontend/public/style/_overrides.scss
  frontend/public/style/mixin/_catalog-logo-background.scss
Labels: approved, lgtm, component/shared, component/dev-console, component/knative, component/core, component/olm, docs-approved, qe-approved, px-approved, component/helm

#11737 Bug 2099582: Format and update the repository overview page
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/repository/sections/RepositoryOverview.tsx
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low, kind/i18n, component/pipelines

#11695 chore(i18n): update translations: Completed-7034-OCP 4.11 UI Localization- print 219
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-shared/locales/ja/console-shared.json
  frontend/packages/console-shared/locales/ko/console-shared.json
  frontend/packages/console-shared/locales/zh/console-shared.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/gitops-plugin/locales/ja/gitops-plugin.json
  frontend/packages/gitops-plugin/locales/ko/gitops-plugin.json
  frontend/packages/gitops-plugin/locales/zh/gitops-plugin.json
  frontend/packages/helm-plugin/locales/ja/helm-plugin.json
  frontend/packages/helm-plugin/locales/ko/helm-plugin.json
  frontend/packages/helm-plugin/locales/zh/helm-plugin.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/metal3-plugin/locales/ja/metal3-plugin.json
  frontend/packages/metal3-plugin/locales/ko/metal3-plugin.json
  frontend/packages/metal3-plugin/locales/zh/metal3-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/operator-lifecycle-manager/locales/ko/olm.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ko/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/packages/topology/locales/ja/topology.json
  frontend/packages/topology/locales/ko/topology.json
  frontend/packages/topology/locales/zh/topology.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, component/shared, component/dev-console, component/kubevirt, component/knative, component/core, component/metal3, component/olm, docs-approved, qe-approved, px-approved, kind/i18n, component/helm, component/topology, component/gitops, component/pipelines

#11698 ODC-6660: Render topology differently based on zoom level
  frontend/packages/dev-console/src/components/topology/components/devConsoleComponetFactory.ts
  frontend/packages/helm-plugin/src/topology/components/helmComponentFactory.ts
  frontend/packages/knative-plugin/src/topology/components/groups/KnativeService.tsx
  frontend/packages/knative-plugin/src/topology/components/groups/KnativeServiceGroup.tsx
  frontend/packages/knative-plugin/src/topology/components/knativeComponentFactory.ts
  frontend/packages/knative-plugin/src/topology/components/nodes/EventSink.tsx
  frontend/packages/knative-plugin/src/topology/components/nodes/EventSource.tsx
  frontend/packages/knative-plugin/src/topology/components/nodes/EventingPubSubNode.tsx
  frontend/packages/knative-plugin/src/topology/components/nodes/SinkUriNode.scss
  frontend/packages/knative-plugin/src/topology/components/nodes/SinkUriNode.tsx
  frontend/packages/kubevirt-plugin/src/topology/components/kubevirtComponentFactory.ts
  frontend/packages/kubevirt-plugin/src/topology/components/nodes/VmNode.tsx
  frontend/packages/pipelines-plugin/src/topology/getPipelinesDataModelReconciler.ts
  frontend/packages/rhoas-plugin/src/topology/components/rhoasComponentFactory.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-page.ts
  frontend/packages/topology/src/behavior/index.ts
  frontend/packages/topology/src/behavior/useHover.ts
  frontend/packages/topology/src/behavior/withCreateConnector.tsx
  frontend/packages/topology/src/components/graph-view/components/componentFactory.ts
  frontend/packages/topology/src/components/graph-view/components/nodes/BaseNode.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/BindableNode.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/WorkloadNode.tsx
  frontend/packages/topology/src/filters/useShowLabel.tsx
Labels: approved, lgtm, component/dev-console, component/kubevirt, component/knative, docs-approved, qe-approved, px-approved, component/helm, component/topology, component/pipelines

#11731 Bug 2099763: update icons for eventSource and eventSink
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/src/actions/add-event-sink.tsx
  frontend/packages/knative-plugin/src/actions/add-event-source.tsx
  frontend/packages/knative-plugin/src/const.ts
  frontend/packages/knative-plugin/src/imgs/event-sink.svg
  frontend/packages/knative-plugin/src/imgs/event-source.svg
  frontend/packages/knative-plugin/src/topology/components/nodes/EventSink.tsx
  frontend/packages/knative-plugin/src/topology/components/nodes/EventSource.tsx
  frontend/packages/knative-plugin/src/topology/listView/NoStatusListViewNode.tsx
  frontend/packages/knative-plugin/src/utils/get-knative-icon.ts
  frontend/packages/knative-plugin/src/utils/icons.tsx
  frontend/packages/topology/src/components/graph-view/components/ContextMenu.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/knative, bugzilla/severity-medium, component/topology

#11738 Bug 2077373: fix dev perspective accessibility issue
  frontend/public/components/nav/NavSection.tsx
  frontend/public/components/nav/PerspectiveNav.tsx
  frontend/public/locales/en/public.json
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low, kind/i18n

#11649 Bug 2015042: Adding a template from the catalog creates a secret that is not owned by the TemplateInstance
  frontend/public/components/instantiate-template.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium, kind/i18n

#11727 Bug 2022611: Remove BlockPools tab in external mode
  frontend/packages/ceph-storage-plugin/src/components/dashboards/odf-system-dashboard.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-medium

#11699 Bug 2096392: [Dark Theme]: Add white background to node icons in Topology in dark mode
  frontend/packages/knative-plugin/src/topology/components/nodes/EventSink.tsx
  frontend/packages/knative-plugin/src/topology/components/nodes/EventSource.scss
  frontend/packages/knative-plugin/src/topology/components/nodes/EventSource.tsx
  frontend/packages/knative-plugin/src/topology/components/nodes/EventingPubSubNode.scss
  frontend/packages/knative-plugin/src/topology/components/nodes/EventingPubSubNode.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/BaseNode.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/knative, bugzilla/severity-medium, component/topology

#11668 Bug 2071747: Fix the machine configuration docs link
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/__tests__/cluster-setup-getting-started-card.spec.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/cluster-setup-getting-started-card.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dashboard, component/core, bugzilla/severity-low

#11702 Bug 2094227: Added Create Service Binding to the top of the action list
  frontend/packages/console-app/console-extensions.json
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#11730 Bug 2072883: Fix dashboard graph width tracking
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, bugzilla/severity-medium

#11741 Bug 2093586: Close quick-search modal on ctrl+space
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModalBody.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/shared, bugzilla/severity-low

#11693 CONSOLE-3153: Expose timestamp component as part of the dynamic plugin sdk API
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/insights-plugin/src/components/InsightsPopup/index.tsx
  frontend/public/components/utils/timestamp.tsx
Labels: approved, lgtm, component/core, component/sdk, docs-approved, qe-approved, px-approved, component/insights

#11711 Bug 2087772: Fix layout issue caused by badges in header of catalog details panel
  frontend/packages/console-shared/src/components/catalog/details/CatalogDetailsModal.scss
  frontend/packages/console-shared/src/components/catalog/details/CatalogDetailsModal.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/shared, bugzilla/severity-low

#11748 Bug 2062920: Remove the namespace dropdown set menu height to prevent unneccessary…
  frontend/packages/console-shared/src/components/namespace/NamespaceDropdown.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, bugzilla/severity-low

#11696 Bug 2029797: if linkTo is false, do not attempt to get path
  frontend/public/components/utils/resource-link.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#11749 Bug 2099654: Fix endless re-render loop when associatedDeployment is not defined
  frontend/packages/console-shared/src/hooks/usePodsWatcher.ts
  frontend/packages/console-shared/src/utils/pod-resource-utils.ts
  frontend/packages/knative-plugin/src/topology/components/nodes/EventSink.tsx
  frontend/packages/knative-plugin/src/topology/sidebar/knative-resource-tab-sections.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/shared, component/knative, bugzilla/severity-medium

#11596 Quota charts now show all resource types
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/resource-quota/AppliedClusterResourceQuotaCharts.tsx
  frontend/packages/console-app/src/components/resource-quota/ClusterResourceQuotaCharts.tsx
  frontend/packages/console-app/src/components/resource-quota/ResourceQuotaCharts.tsx
  frontend/packages/console-app/src/components/resource-quota/resource-quota.scss
  frontend/packages/console-app/src/components/resource-quota/utils.ts
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/dashboard/DashboardGrid.tsx
  frontend/packages/console-shared/src/components/dashboard/resource-quota-card/AppliedClusterResourceQuotaItem.tsx
  frontend/packages/console-shared/src/components/dashboard/resource-quota-card/QuotaSummary.tsx
  frontend/packages/console-shared/src/components/dashboard/resource-quota-card/ResourceQuotaItem.tsx
  frontend/packages/console-shared/src/components/dashboard/resource-quota-card/quota-summary.scss
  frontend/packages/console-shared/src/components/dashboard/resource-quota-card/resource-quota-card.scss
  frontend/packages/integration-tests-cypress/tests/dashboards/project-dashboard.spec.ts
  frontend/public/components/_quota.scss
  frontend/public/components/dashboard/project-dashboard/resource-quota-card.tsx
  frontend/public/components/graphs/donut.tsx
  frontend/public/components/graphs/gauge.tsx
  frontend/public/components/resource-quota.jsx
  frontend/public/components/utils/ref-width-hook.ts
  frontend/public/components/utils/resource-link.tsx
  frontend/public/locales/en/public.json
  frontend/public/module/k8s/types.ts
Labels: approved, lgtm, component/shared, component/dashboard, component/core, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n, kind/cypress

#11642 Actions on Horizontal-pod-autoscaler | Topology
  frontend/packages/dev-console/integration-tests/support/pages/functions/createGitWorkload.ts
  frontend/packages/topology/integration-tests/features/topology/horizontal-pod-autoscaler/action-on-hpa-admin-perspective.feature
  frontend/packages/topology/integration-tests/features/topology/horizontal-pod-autoscaler/actions-on-hpa.feature
  frontend/packages/topology/integration-tests/support/page-objects/hpa-po.ts
  frontend/packages/topology/integration-tests/support/pages/functions/add-secret.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/horizontal-pod-autoscaler/action-on-hpa.ts
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, component/topology

#11664 CONSOLE-3062: add Dynamic Plugins to Cluster Overview Status card
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/package.json
  frontend/packages/console-app/src/components/console-operator/ConsoleOperatorConfig.tsx
  frontend/packages/console-app/src/components/dashboards-page/dynamic-plugins-health-resource/DynamicPluginsPopover.tsx
  frontend/packages/console-app/src/components/dashboards-page/dynamic-plugins-health-resource/NotLoadedDynamicPlugins.tsx
  frontend/packages/console-app/src/components/dashboards-page/dynamic-plugins-health-resource/index.ts
  frontend/packages/console-app/src/components/dashboards-page/dynamic-plugins-health-resource/status.ts
  frontend/packages/console-dynamic-plugin-sdk/README.md
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/index.ts
  frontend/packages/console-plugin-sdk/src/store.ts
  frontend/packages/integration-tests-cypress/tests/dashboards/cluster-dashboard.spec.ts
Labels: approved, lgtm, component/core, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n, kind/cypress

#11740 Bug 2094023: Add correct pod template labels via add flows
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/import/deployImage-submit-utils.ts
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/import/upload-jar-submit-utils.ts
  frontend/packages/dev-console/src/utils/resource-label-utils.ts
  frontend/packages/dev-console/src/utils/shared-submit-utils.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-low

#11745 Bug 2099330: Add accessReview to Edit application grouping option
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/actions/modify-application.ts
  frontend/packages/topology/src/components/modals/EditApplicationModal.tsx
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium, kind/i18n, component/topology

#11703 [release-4.10] Bug 2099600: Topology toolbars are unaligned to other toolbars
  frontend/packages/topology/src/components/graph-view/TopologyControlBar.scss
  frontend/packages/topology/src/components/graph-view/TopologyControlBar.tsx
  frontend/packages/topology/src/components/list-view/TopologyListView.scss
  frontend/packages/topology/src/filters/TopologyFilterBar.scss
  frontend/public/components/_dropdown.scss
  frontend/public/components/namespace.jsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/core, bugzilla/severity-low, component/topology, backport-risk-assessed

#11224 Bug 1948556: Add check if model is defined to prevent RTE
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, bugzilla/severity-medium

#11634 eventing-channel feature | knative-plugin
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/knative-plugin/integration-tests/features/eventing/eventing-channel.feature
  frontend/packages/knative-plugin/integration-tests/support/pageObjects/global-po.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/eventing/eventing-channel.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-helper-page.ts
Labels: approved, lgtm, component/dev-console, component/knative, docs-approved, qe-approved, px-approved, component/topology

#11750 Bug 2100356: remove Condition tab and create option if the crd is not available
  frontend/packages/pipelines-plugin/console-extensions.json
  frontend/packages/pipelines-plugin/src/components/pipelines-lists/PipelinesListsPage.tsx
  frontend/packages/pipelines-plugin/src/const.ts
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium, component/pipelines

#11752 Bug 2099358: Fix application group background colors
  frontend/packages/topology/src/components/graph-view/components/groups/Application.scss
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low, component/topology

#11755 Bug 2099528: Restore spacing between/below modal body content
  frontend/public/components/modals/_modals.scss
  frontend/public/components/modals/delete-modal.tsx
  frontend/public/components/modals/delete-namespace-modal.tsx
  frontend/public/components/modals/managed-resource-save-modal.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#11756 Bug 2100159: [dark theme] Fix build pending icon color in topology sidebar
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/status/Status.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/sdk, bugzilla/severity-low

#11759 Bug 2100669: Don't log usernames with the telemetry plugin
  frontend/public/components/app.jsx
  frontend/public/components/utils/__tests__/telemetry.spec.ts
  frontend/public/components/utils/telemetry.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#11762 Bug 2096350: fix bug where Cluster update modal errors weren't displa…
  frontend/public/components/modals/cluster-update-modal.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-high

#11639 CONSOLE-3083: Update API docs for dynamic plugin sdk
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/perspective/perspective-context.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-resource.ts
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved

#11715 [release-4.10] Bug 2097338: Filter virtualization alerts in status card
  frontend/packages/console-shared/src/components/dashboard/status-card/AlertItem.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/alert-utils.ts
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/HighPriorityAlerts.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/VirtualizationOverviewPage.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/status-card/VirtOverviewStatusCard.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/status-card/VirtualizationAlerts.tsx
  frontend/packages/kubevirt-plugin/src/hooks/use-filtered-alerts.ts
  frontend/packages/kubevirt-plugin/src/hooks/useFilteredAlerts.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/shared, component/kubevirt, component/dashboard, bugzilla/severity-medium, kind/i18n, backport-risk-assessed

#11770 [release-4.10] Bug 2100345: fix clone vm error creating DV
  frontend/packages/kubevirt-plugin/src/components/modals/clone-vm-modal/clone-vm-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/clone-vm-modal/configuration-summary.tsx
  frontend/packages/kubevirt-plugin/src/k8s/helpers/vm-clone.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, bugzilla/severity-high, backport-risk-assessed

#11766 Update PF packages to pf-2022-8
  frontend/package.json
  frontend/yarn.lock
Labels: approved, lgtm, docs-approved, qe-approved, px-approved
