Repository openshift/console, pull requests merged in 2022-09, with the labels that each got.

#11700 CONSOLE-3179: Improve control over shared modules provided by Console to dynamic plugins
  frontend/packages/console-dynamic-plugin-sdk/src/__tests__/shared-modules-init.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules.ts
  frontend/packages/console-dynamic-plugin-sdk/src/webpack/ConsoleRemotePlugin.ts
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved

#11868 Gherkin for "Cancelled" and "Stopped" status of pipeline run
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-runs.feature
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-runs.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/pipelines

#12011 Bug 2112812: Update registry library dependency to pick up proxy support
  go.mod
  go.sum
  pkg/server/devfile-handler.go
  vendor/github.com/devfile/api/v2/pkg/apis/workspaces/v1alpha2/devfile.go
  vendor/github.com/devfile/api/v2/pkg/apis/workspaces/v1alpha2/endpoint.go
  vendor/github.com/devfile/api/v2/pkg/apis/workspaces/v1alpha2/zz_generated.parent_overrides.go
  vendor/github.com/devfile/api/v2/pkg/apis/workspaces/v1alpha2/zz_generated.plugin_overrides.go
  vendor/github.com/devfile/api/v2/pkg/validation/endpoints.go
  vendor/github.com/devfile/api/v2/pkg/validation/errors.go
  vendor/github.com/devfile/api/v2/pkg/validation/validation-rule.md
  vendor/github.com/devfile/library/pkg/devfile/generator/generators.go
  vendor/github.com/devfile/library/pkg/devfile/generator/utils.go
  vendor/github.com/devfile/library/pkg/devfile/parser/configurables.go
  vendor/github.com/devfile/library/pkg/devfile/parser/data/interface.go
  vendor/github.com/devfile/library/pkg/devfile/parser/data/mock_interface.go
  vendor/github.com/devfile/library/pkg/devfile/parser/data/v2/2.2.0/devfileJsonSchema220.go
  vendor/github.com/devfile/library/pkg/devfile/parser/data/v2/commands.go
  vendor/github.com/devfile/library/pkg/devfile/parser/data/v2/common/options.go
  vendor/github.com/devfile/library/pkg/devfile/parser/data/v2/components.go
  vendor/github.com/devfile/library/pkg/devfile/parser/data/v2/containers.go
  vendor/github.com/devfile/library/pkg/devfile/parser/data/v2/projects.go
  vendor/github.com/devfile/library/pkg/devfile/parser/parse.go
  vendor/github.com/devfile/library/pkg/testingutil/filesystem/default_fs.go
  vendor/github.com/devfile/library/pkg/testingutil/filesystem/fake_fs.go
  vendor/github.com/devfile/library/pkg/testingutil/filesystem/filesystem.go
  vendor/github.com/devfile/library/pkg/testingutil/filesystem/singleton.go
  vendor/github.com/devfile/library/pkg/testingutil/filesystem/watcher.go
  vendor/github.com/devfile/library/pkg/util/util.go
  vendor/github.com/devfile/registry-support/index/generator/schema/schema.go
  vendor/github.com/devfile/registry-support/registry-library/LICENSE
  vendor/github.com/devfile/registry-support/registry-library/library/library.go
  vendor/github.com/devfile/registry-support/registry-library/library/util.go
  vendor/github.com/fsnotify/fsnotify/.editorconfig
  vendor/github.com/fsnotify/fsnotify/.gitattributes
  vendor/github.com/fsnotify/fsnotify/.gitignore
  vendor/github.com/fsnotify/fsnotify/.mailmap
  vendor/github.com/fsnotify/fsnotify/AUTHORS
  vendor/github.com/fsnotify/fsnotify/CHANGELOG.md
  vendor/github.com/fsnotify/fsnotify/CONTRIBUTING.md
  vendor/github.com/fsnotify/fsnotify/LICENSE
  vendor/github.com/fsnotify/fsnotify/README.md
  vendor/github.com/fsnotify/fsnotify/fen.go
  vendor/github.com/fsnotify/fsnotify/fsnotify.go
  vendor/github.com/fsnotify/fsnotify/inotify.go
  vendor/github.com/fsnotify/fsnotify/inotify_poller.go
  vendor/github.com/fsnotify/fsnotify/kqueue.go
  vendor/github.com/fsnotify/fsnotify/open_mode_bsd.go
  vendor/github.com/fsnotify/fsnotify/open_mode_darwin.go
  vendor/github.com/fsnotify/fsnotify/windows.go
  vendor/modules.txt
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, component/backend, bugzilla/severity-high

#11957 kafka-event-source & kafka-source-connection feature | Knative
  frontend/packages/dev-console/integration-tests/support/constants/global.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/operators-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/operators-page.ts
  frontend/packages/knative-plugin/integration-tests/features/eventing/kafka-event-source.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/kafka-source-connection-to-kafka-connection-instance.feature
  frontend/packages/knative-plugin/integration-tests/support/pageObjects/global-po.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/eventing/kafka-event-source.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/eventing/kafka-souce-connection.ts
  frontend/packages/knative-plugin/integration-tests/support/testData/createKafkaConnection.yaml
  frontend/packages/knative-plugin/integration-tests/support/testData/createSecret.yaml
  frontend/packages/topology/integration-tests/support/pages/topology/topology-helper-page.ts
Labels: approved, lgtm, component/dev-console, component/knative, docs-approved, qe-approved, px-approved, component/topology

#12013 Disable all OCS tests
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/add-capacity.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/bucket-class-spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/create-backing-store.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/expand-pvc.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/multiple-storageclass-selection.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/namespace-store.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/noobaa-sso.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/obc-test.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/object-service-dashboards.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/ocs-presistent-dashboard.spec.ts
Labels: approved, lgtm, component/ceph, docs-approved, qe-approved, px-approved

#11931 Migrates StorageClass Provisioner to dynamic-plugin-sdk
  frontend/__tests__/components/storage-class-form.spec.tsx
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/package.json
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-thick-provisioner.tsx
  frontend/packages/ceph-storage-plugin/src/plugin.ts
  frontend/packages/ceph-storage-plugin/src/utils/ocs-storage-class-params.tsx
  frontend/packages/ceph-storage-plugin/src/utils/odf-provisioners.ts
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/package.json
  frontend/packages/console-app/src/components/storage/Documentation.ts
  frontend/packages/console-app/src/components/storage/StorageClassProviders.ts
  frontend/packages/console-dynamic-plugin-sdk/docs/console-extensions.md
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/storage-class-provisioner.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
  frontend/packages/console-plugin-sdk/src/typings/index.ts
  frontend/packages/integration-tests-cypress/mocks/storage-class.ts
  frontend/packages/integration-tests-cypress/tests/storage/create-storage-class.spec.ts
  frontend/packages/integration-tests-cypress/views/storage/create-storage-class.ts
  frontend/public/components/storage-class-form.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/ceph, component/core, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n, kind/cypress

#12016 OCPBUGS-869: correct Azure product name for support link
  frontend/public/module/k8s/cluster-settings.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/core, jira/valid-bug, jira/severity-moderate

#11981 Update pf packages to pf-2022-10
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/yarn.lock
  frontend/package.json
  frontend/yarn.lock
Labels: approved, lgtm, docs-approved, qe-approved, px-approved

#11989 chore(i18n): update translations: Completed-7034-OCP 4.12/Master Branch UI Localization- Sprint 222
  frontend/packages/ceph-storage-plugin/locales/ja/ceph-storage-plugin.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-shared/locales/ja/console-shared.json
  frontend/packages/console-shared/locales/ko/console-shared.json
  frontend/packages/console-shared/locales/zh/console-shared.json
  frontend/packages/container-security/locales/ja/container-security.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/gitops-plugin/locales/ja/gitops-plugin.json
  frontend/packages/helm-plugin/locales/ja/helm-plugin.json
  frontend/packages/helm-plugin/locales/ko/helm-plugin.json
  frontend/packages/helm-plugin/locales/zh/helm-plugin.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/ja/lso-plugin.json
  frontend/packages/metal3-plugin/locales/ja/metal3-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ko/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/packages/rhoas-plugin/locales/ja/rhoas-plugin.json
  frontend/packages/service-binding-plugin/locales/ja/service-binding-plugin.json
  frontend/packages/shipwright-plugin/locales/ja/shipwright-plugin.json
  frontend/packages/shipwright-plugin/locales/zh/shipwright-plugin.json
  frontend/packages/topology/locales/ja/topology.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, component/shared, component/dev-console, component/kubevirt, component/knative, component/ceph, component/core, component/metal3, component/olm, component/lso, docs-approved, qe-approved, px-approved, kind/i18n, component/helm, component/topology, component/gitops, component/pipelines

#12002 [release-4.9] OCPBUGS-695: Input values in Instantiate Template are disappeared randomly in the developer console
  frontend/public/components/instantiate-template.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/core, backport-risk-assessed, jira/valid-bug

#11952 Pass className to HealthItem popup top-level component
  frontend/packages/console-dynamic-plugin-sdk/docs/console-extensions.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/dashboard-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/dashboards.ts
  frontend/packages/console-plugin-sdk/src/typings/dashboards.ts
  frontend/packages/console-shared/src/components/dashboard/status-card/HealthItem.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/health-item.tsx
Labels: approved, lgtm, component/shared, component/dashboard, component/core, component/sdk, docs-approved, qe-approved, px-approved

#11986 [release-4.9] OCPBUGS-686: fix helm readme bug
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/locales/ja/helm-plugin.json
  frontend/packages/helm-plugin/locales/ko/helm-plugin.json
  frontend/packages/helm-plugin/locales/zh/helm-plugin.json
  frontend/packages/helm-plugin/src/catalog/components/HelmReadmeLoader.tsx
  frontend/packages/helm-plugin/src/catalog/utils/catalog-utils.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, kind/i18n, component/helm, backport-risk-assessed, jira/valid-bug, jira/severity-moderate

#12018 OCPBUGS-896: Allows launching of modals from alert actions
  frontend/packages/console-dynamic-plugin-sdk/docs/console-extensions.md
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/notification-alert.ts
  frontend/packages/console-shared/src/components/dashboard/status-card/AlertItem.tsx
  frontend/public/components/notification-drawer.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/dashboard, component/core, component/sdk, jira/valid-bug

#12021 OCPBUGS-238: enable knative e2e in ci
  test-cypress.sh
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug, jira/severity-important

#12009 Monitoring: Clean up and make more use of the dynamic plugin SDK
  frontend/packages/ceph-storage-plugin/src/components/disk-inventory/ocs-disks-list.tsx
  frontend/packages/ceph-storage-plugin/src/selectors/index.ts
  frontend/packages/ceph-storage-plugin/src/utils/noobaa-utils.ts
  frontend/packages/console-shared/src/components/dashboard/status-card/alert-utils.ts
  frontend/packages/console-shared/src/types/resource.ts
  frontend/packages/console-shared/src/utils/__mocks__/alerts-and-rules-data.ts
  frontend/packages/console-shared/src/utils/__tests__/resource-utils.spec.ts
  frontend/packages/console-shared/src/utils/alert-utils.ts
  frontend/packages/console-shared/src/utils/resource-utils.ts
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlerts.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/SilenceAlert.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/SilenceDurationDropdown.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/monitoring-alerts-utils.tsx
  frontend/packages/dev-console/src/components/monitoring/overview/MonitoringOverview.tsx
  frontend/packages/dev-console/src/components/monitoring/overview/MonitoringOverviewAlerts.tsx
  frontend/packages/kubevirt-plugin/src/hooks/useFilteredAlerts.ts
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/StatusCard.tsx
  frontend/packages/topology/src/components/list-view/TopologyListView.tsx
  frontend/packages/topology/src/components/utils/subscribeOverviewAlerts.ts
  frontend/packages/topology/src/data-transforms/useMonitoringAlerts.tsx
  frontend/public/actions/observe.ts
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/graphs/themes.ts
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/query-browser-theme.ts
  frontend/public/components/monitoring/query-browser.tsx
  frontend/public/components/monitoring/silence-form.tsx
  frontend/public/components/monitoring/targets.tsx
  frontend/public/components/monitoring/types.ts
  frontend/public/components/monitoring/utils.ts
  frontend/public/components/notification-drawer.tsx
  frontend/public/components/overview/metricUtils.ts
  frontend/public/reducers/observe.ts
Labels: approved, lgtm, component/shared, component/dev-console, component/kubevirt, component/dashboard, component/ceph, component/monitoring, component/core, component/metal3, docs-approved, qe-approved, px-approved, component/topology

#11899 [release-4.11] Bug 2109887: remove redundant model check to prevent tab reloading
  frontend/packages/operator-lifecycle-manager/src/components/model-status-box.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/olm, bugzilla/severity-medium, qe-approved, backport-risk-assessed

#12023 OCPBUGS-939: Fix flaky CI and usability issue: Disable create button until Devfile is parsed
  frontend/packages/dev-console/src/components/import/devfile/devfileHooks.ts
  frontend/packages/dev-console/src/components/import/validation-schema.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, jira/valid-bug, jira/severity-low

#11985 OCPBUGS-548: Changes to the application menu with search and favorite options so it is consistent with PatternFly menu and aligns with Project selection menu
  frontend/packages/dev-console/integration-tests/views/git-import-flow.view.ts
  frontend/packages/integration-tests-cypress/views/rolebindings.ts
  frontend/packages/topology/src/components/dropdowns/NamespaceBarApplicationSelector.tsx
  frontend/public/components/_dropdown.scss
  frontend/public/components/utils/dropdown.jsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, component/core, component/topology, kind/cypress, jira/valid-bug, jira/severity-low

#11954 [release-4.9] Bug 2117608: use the correct Alertmanager tenancy proxy
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlerts.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/SilenceAlert.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/SilenceDurationDropdown.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/monitoring-alerts-utils.tsx
  pkg/server/server.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, component/backend, bugzilla/severity-medium, kind/i18n, backport-risk-assessed

#11926 [release-4.9] Bug 2114863: fix bug where Cluster update modal errors weren't displa…
  frontend/public/components/modals/cluster-update-modal.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, qe-approved, backport-risk-assessed

#11938 Bug 2115899: BuildConfig form: Change image repository to image registry
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/buildconfig/sections/ImagesSection.tsx
  frontend/packages/dev-console/src/components/buildconfig/sections/__tests__/ImagesSection.spec.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageSearch.tsx
  frontend/packages/shipwright-plugin/README.md
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-low, kind/i18n

#11976 RHSTOR-2124: Add support for documentation links in status card.
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/dashboard/status-card/AlertItem.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/status-card.scss
Labels: approved, lgtm, tide/merge-method-squash, cherry-pick-approved, component/shared, component/dashboard, docs-approved, qe-approved, px-approved, kind/i18n

#11922 [release-4.10] OCPBUGS-382: [OSD] ClusterVersion YAML editor should be read only
  frontend/packages/console-shared/src/hooks/oauth.ts
  frontend/packages/console-shared/src/hooks/useCanClusterUpgrade.ts
  frontend/public/components/cluster-settings/cluster-version.tsx
  frontend/public/components/cluster-settings/global-config.tsx
  frontend/public/components/cluster-settings/oauth.tsx
  frontend/public/components/utils/horizontal-nav.tsx
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, cherry-pick-approved, component/shared, component/core, qe-approved, backport-risk-assessed, jira/valid-bug

#8814 Automate DevConsole Interop WTO Scenarios
  frontend/packages/dev-console/integration-tests/features/web-terminal/web-teminal-basic.feature
  frontend/packages/dev-console/integration-tests/features/web-terminal/web-terminal-adminuser.feature
  frontend/packages/dev-console/integration-tests/features/web-terminal/web-terminal-devuser.feature
  frontend/packages/dev-console/integration-tests/support/constants/global.ts
  frontend/packages/dev-console/integration-tests/support/constants/staticText/global-text.ts
  frontend/packages/dev-console/integration-tests/support/constants/webTerminal.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/build-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/global-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/search-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/webterminal-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/pages/devworspace/devworkspacePage.ts
  frontend/packages/dev-console/integration-tests/support/pages/search-resources/search-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/web-terminal/initTerminal-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/web-terminal/webTerminal-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/operators.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/webTerminal.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/web-terminal/web-Terminal-devuser.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/web-terminal/web-teminal-basic.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/web-terminal/web-terminal-adminuser.ts
  frontend/packages/dev-console/integration-tests/testData/yamls/web-terminal/dev-ws-custom-idling-config.yaml
  frontend/packages/dev-console/integration-tests/testData/yamls/web-terminal/web-terminal.yaml
Labels: approved, lgtm, ok-to-test, component/shared, component/dev-console, component/kubevirt, component/dashboard, component/knative, component/ceph, component/monitoring, component/core, component/metal3, component/sdk, component/backend, component/olm, component/git-service, component/network-attachment-definition, component/lso, docs-approved, qe-approved, px-approved, component/insights, kind/i18n, component/helm, component/topology, component/gitops, component/pipelines, kind/cypress

#12026 OU-85: Monitoring: Add runbook URLs to alert and rule details pages
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved, kind/i18n

#12019 OCPBUGS-270: Show already loaded catalog items after a timeout (3sec)
  frontend/packages/console-shared/src/components/catalog/service/CatalogServiceProvider.tsx
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-catalog.feature
  frontend/packages/dev-console/integration-tests/features/e2e/add-flow-ci.feature
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/catalog-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-catalog.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-navigation.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/create-knative-workload.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/common/common.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/dev-console, component/knative, component/helm, component/pipelines, jira/valid-bug, jira/severity-important

#11909 [release-4.10] Bug 2080389: Link to documentation from the overview page goes to a missing link
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/cluster-setup-getting-started-card.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/dashboard, component/core, bugzilla/severity-low, qe-approved, backport-risk-assessed

#11962 Added resource quota warning message in topology and add page
  frontend/packages/dev-console/integration-tests/features/addFlow/resource-quota-warning.feature
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/resource-quota-warning.ts
  frontend/packages/dev-console/integration-tests/testData/resource-quota/resource-quota.yaml
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/add/AddPageLayout.scss
  frontend/packages/dev-console/src/components/add/AddPageLayout.tsx
  frontend/packages/dev-console/src/components/resource-quota/ResourceQuotaAlert.tsx
  frontend/packages/topology/integration-tests/.eslintrc
  frontend/packages/topology/integration-tests/features/topology/resource-quota-warning.feature
  frontend/packages/topology/integration-tests/support/step-definitions/topology/resource-quota-warning.ts
  frontend/packages/topology/integration-tests/testData/resource-quota/resource-quota.yaml
  frontend/packages/topology/src/components/utils/__tests__/CheckResourceQuota.spec.tsx
  frontend/packages/topology/src/components/utils/__tests__/mockData.ts
  frontend/packages/topology/src/components/utils/checkResourceQuota.ts
  frontend/packages/topology/src/filters/TopologyFilterBar.scss
  frontend/packages/topology/src/filters/TopologyFilterBar.tsx
  frontend/public/components/resource-quota.jsx
  frontend/public/locales/en/public.json
Labels: approved, kind/feature, lgtm, component/dev-console, component/core, docs-approved, qe-approved, px-approved, kind/i18n, component/topology

#12008 OU-68 Add PodMonitors to Metrics targets Page
  frontend/public/components/monitoring/targets.tsx
  frontend/public/locales/en/public.json
  frontend/public/models/index.ts
Labels: needs-ok-to-test, approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved, kind/i18n

#12048 OCPBUGS-1290: updates description for kafkaSink
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/catalog/event-sink-data.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/knative, kind/i18n, jira/valid-bug, jira/severity-moderate

#12044 OCPBUGS-1256: Improve OLM descriptors e2e tests
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/descriptors.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, qe-approved, jira/valid-bug

#12022 OCPBUGS-943: Use the Deployment as resource kind and label also when importing a Devfile
  frontend/packages/dev-console/src/components/import/deployImage-submit-utils.ts
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/import/upload-jar-submit-utils.ts
  frontend/packages/dev-console/src/utils/resource-label-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, jira/valid-bug, jira/severity-moderate

#12035 OCPBUGS-1141: fetch shared resource imagestreams based on labels instance and name
  frontend/packages/dev-console/src/components/edit-application/EditApplicationComponent.tsx
  frontend/packages/dev-console/src/components/edit-application/EditApplicationPage.tsx
  frontend/packages/dev-console/src/const.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, jira/valid-bug, jira/severity-important

#12001 Expose the NamespaceBar component in the dynamic plugin SDK API
  dynamic-demo-plugin/console-extensions.json
  dynamic-demo-plugin/locales/en/plugin__console-demo-plugin.json
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/src/components/ExampleNamespacedPage.tsx
  dynamic-demo-plugin/src/i18n.ts
  dynamic-demo-plugin/yarn.lock
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/dev-console/src/components/NamespacedPage.tsx
  frontend/packages/knative-plugin/src/components/eventing/EventingListPage.tsx
  frontend/packages/knative-plugin/src/components/eventing/__tests__/EventingListPage.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/serving-list/ServingListsPage.tsx
  frontend/packages/knative-plugin/src/components/overview/serving-list/__tests__/ServingListPage.spec.tsx
  frontend/public/components/app-contents.tsx
  frontend/public/components/namespace-bar.tsx
  frontend/public/components/namespace.jsx
Labels: approved, lgtm, component/dev-console, component/knative, component/core, component/sdk, docs-approved, qe-approved, px-approved

#12042 OCPBUGS-1268: Remove required flags from helm actions to show the HCR actions also if no helm repo is enabled
  frontend/packages/helm-plugin/console-extensions.json
Labels: approved, lgtm, bugzilla/valid-bug, component/helm, jira/valid-bug, jira/severity-moderate

#12047 ODC-6780: Provide a code snippet for the console CRD for adding Subcatalogs in Dev Catalog
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/utils/sample-utils.ts
Labels: approved, lgtm, component/shared, docs-approved, qe-approved, px-approved, kind/i18n

#12038 Bug 2077138: update version of quick-start library to latest
  frontend/package.json
  frontend/yarn.lock
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low

#12039 Bug 2057972: Switch to "verb kind" phrase so that Chinese translations do not have spaces between.
  frontend/public/components/RBAC/bindings.jsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low, kind/i18n

#12034 Action on Knative-Revision | Knative Serverless
  frontend/packages/dev-console/integration-tests/support/pages/modal.ts
  frontend/packages/knative-plugin/integration-tests/cypress.json
  frontend/packages/knative-plugin/integration-tests/features/serverless/actions-on-knative-revision.feature
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/actions-on-knative-revision.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-page.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-side-pane-page.ts
Labels: approved, lgtm, component/dev-console, component/knative, docs-approved, qe-approved, px-approved, component/topology

#12058 CONSOLE-3183: Improve console.dashboards/overview/detail/item extension
  dynamic-demo-plugin/console-extensions.json
  dynamic-demo-plugin/locales/en/plugin__console-demo-plugin.json
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/src/components/CustomOverviewDetailItem.tsx
  dynamic-demo-plugin/src/i18n.ts
  dynamic-demo-plugin/yarn.lock
  frontend/packages/console-dynamic-plugin-sdk/docs/console-extensions.md
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/cluster-overview.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/details-card.tsx
Labels: approved, lgtm, component/dashboard, component/core, component/sdk, docs-approved, qe-approved, px-approved

#12060 [release-4.8] OCPBUGS-1455: show Limit exceeded state for large number of nodes in topology
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/page/LimitExceededState.tsx
  frontend/packages/topology/src/components/page/TopologyView.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, kind/i18n, component/topology, backport-risk-assessed, jira/valid-bug, jira/severity-important

#12074 OCPBUGS-1570: fixes issue with eventsources vis on topology
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/knative, jira/severity-critical, jira/valid-bug

#12079 Bug 2030406: Remove nav override for fixed demo plugin nav component dom structure
  frontend/public/style/_overrides.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#12075 ODC-6784: Added Code Snippets for Hiding Perspectives in Dev Console
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/utils/sample-utils.ts
Labels: approved, lgtm, component/shared, docs-approved, qe-approved, px-approved, kind/i18n

#12027 OCPBUGS-1569: add admin flag to disabled extensions
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/ceph-storage-plugin/src/features.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, jira/valid-bug, jira/severity-moderate

#12063 PF-2022-12 package updates
  dynamic-demo-plugin/yarn.lock
  frontend/package.json
  frontend/yarn.lock
Labels: approved, lgtm, docs-approved, qe-approved, px-approved

#11996 Console-3249: Trim whitespace from when creating image pull Secret
  frontend/packages/integration-tests-cypress/tests/crud/image-pull-secret.spec.ts
  frontend/public/components/secrets/create-secret.tsx
Labels: approved, lgtm, tide/merge-method-squash, component/core, docs-approved, qe-approved, px-approved, kind/cypress

#11997 YAML Editor with forwardRef
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/public/components/AsyncYAMLEditor.tsx
Labels: approved, lgtm, component/core, component/sdk, docs-approved, qe-approved, px-approved

#11712 Bug 2100860: Use Alertmanager services for user-defined alerts from config
  cmd/bridge/main.go
  frontend/@types/console/index.d.ts
  frontend/public/components/graphs/index.tsx
  pkg/server/server.go
  pkg/serverconfig/config.go
  pkg/serverconfig/types.go
Labels: approved, lgtm, bugzilla/valid-bug, component/core, component/backend, bugzilla/severity-medium

#12083 chore(i18n): update translations: Completed-7034-OCP 4.12/Master Branch UI Localization- Sprint 223
  frontend/packages/ceph-storage-plugin/locales/ja/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/ko/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/zh/ceph-storage-plugin.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/helm-plugin/locales/ja/helm-plugin.json
  frontend/packages/helm-plugin/locales/ko/helm-plugin.json
  frontend/packages/helm-plugin/locales/zh/helm-plugin.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/shipwright-plugin/locales/ja/shipwright-plugin.json
  frontend/packages/shipwright-plugin/locales/ko/shipwright-plugin.json
  frontend/packages/shipwright-plugin/locales/zh/shipwright-plugin.json
  frontend/packages/topology/locales/ja/topology.json
  frontend/packages/topology/locales/ko/topology.json
  frontend/packages/topology/locales/zh/topology.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, component/dev-console, component/kubevirt, component/knative, component/ceph, component/core, docs-approved, qe-approved, px-approved, kind/i18n, component/helm, component/topology

#11993 add list of enabled/disabled perspectives to server flags
  cmd/bridge/main.go
  frontend/@types/console/index.d.ts
  pkg/server/server.go
  pkg/serverconfig/config.go
  pkg/serverconfig/types.go
  pkg/serverconfig/validate.go
  pkg/serverconfig/validate_test.go
Labels: approved, kind/feature, lgtm, component/backend, docs-approved, qe-approved, px-approved

#12098 OCPBUGS-1522: Allow regular users to access debug pods
  frontend/public/components/debug-terminal.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, jira/valid-bug

#11984 ODC-6778: add list of disabled dev catalog types to server flags
  cmd/bridge/main.go
  frontend/@types/console/index.d.ts
  pkg/server/server.go
  pkg/serverconfig/config.go
  pkg/serverconfig/types.go
  pkg/serverconfig/validate.go
  pkg/serverconfig/validate_test.go
Labels: approved, kind/feature, lgtm, component/backend, docs-approved, qe-approved, px-approved

#12033 OU-66 Add a 'Select/Unselect All' button to Observe > Metrics Page > …
  frontend/public/actions/observe.ts
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/locales/en/public.json
  frontend/public/reducers/observe.ts
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved, kind/i18n

#12070 [release-4.11] OCPBUGS-1523: Show already loaded catalog items after a timeout (3sec)
  frontend/packages/console-shared/src/components/catalog/service/CatalogServiceProvider.tsx
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-catalog.feature
  frontend/packages/dev-console/integration-tests/features/e2e/add-flow-ci.feature
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/catalog-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-catalog.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-navigation.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/create-knative-workload.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/common/common.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/shared, component/dev-console, component/knative, component/helm, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/severity-important

#12053 Monitoring: Clean up use of ISO datetime helpers
  frontend/public/components/monitoring/dashboards/custom-time-range-modal.tsx
  frontend/public/components/utils/datetime.ts
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved

#12087 Bug 1904106: Fix Y-axis labels for minimal / no data
  frontend/public/components/monitoring/query-browser.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, bugzilla/severity-low

#12096 OCPBUGS-803:Handle fake helm chart repository
  pkg/helm/chartproxy/proxy.go
  pkg/helm/chartproxy/repos.go
Labels: approved, lgtm, bugzilla/valid-bug, component/backend, qe-approved, jira/valid-bug, jira/severity-important

#12093 OCPBUGS-183: fix bug where line numbers greater than 5 digits overlay…
  frontend/package.json
  frontend/packages/console-app/src/components/nodes/NodeLogs.tsx
  frontend/public/components/utils/resource-log.tsx
  frontend/yarn.lock
Labels: approved, lgtm, bugzilla/valid-bug, component/core, jira/valid-bug, jira/severity-low

#12037 Move some datetime functions to @openshift-console/plugin-shared
  frontend/__tests__/components/utils/datetime.spec.ts
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/activity-card/data-resiliency-activity/data-resiliency-activity.tsx
  frontend/packages/console-plugin-shared/src/datetime/index.ts
  frontend/packages/console-plugin-shared/src/datetime/prometheus.ts
  frontend/packages/console-plugin-shared/src/index.ts
  frontend/packages/dev-console/src/components/monitoring/alerts/SilenceDurationDropdown.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetrics.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetricsTimeRangeDropdown.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineRunDurationGraph.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineRunTaskRunGraph.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineRunCount.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineRunDuration.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineRunTaskRunGraph.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineSuccessRatioDonut.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/charts/TimeSeriesChart.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/pipeline-metrics-utils.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-utils.ts
  frontend/public/components/cluster-settings/oauth.tsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/dashboards/timespan-dropdown.tsx
  frontend/public/components/monitoring/poll-interval-dropdown.tsx
  frontend/public/components/monitoring/query-browser.tsx
  frontend/public/components/monitoring/silence-form.tsx
  frontend/public/components/utils/datetime.ts
  frontend/public/module/k8s/builds.ts
Labels: approved, lgtm, component/dev-console, component/ceph, component/monitoring, component/core, docs-approved, qe-approved, px-approved, component/pipelines

#12105 OCPBUGS-184: Fix OperatorHub "View it here" link for installed operators
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-item-details.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, jira/valid-bug

#12056 [release-4.11] OCPBUGS-1419: fetch shared resource imagestreams based on labels instance or name
  frontend/packages/dev-console/src/components/edit-application/EditApplicationComponent.tsx
  frontend/packages/dev-console/src/components/edit-application/EditApplicationPage.tsx
  frontend/packages/dev-console/src/const.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, backport-risk-assessed, jira/valid-bug, jira/severity-important

#12040 [release-4.10] OCPBUGS-1634: Update registry library dependency to pick up proxy support
  go.mod
  go.sum
  vendor/github.com/devfile/registry-support/registry-library/library/library.go
  vendor/modules.txt
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, cherry-pick-approved, component/backend, kind/dependency-change, backport-risk-assessed, jira/valid-bug, jira/severity-important

#11907 Bug 2107898: Access mode and volume mode with sourceRef will now be taken from default storageclass
  frontend/packages/kubevirt-plugin/src/components/create-vm/create-vm.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, bugzilla/severity-high, backport-risk-assessed
