Repository openshift/console, pull requests merged in 2022-11, with the labels that each got.

#12124 CONSOLE-3246: Update i18next to version 21.x.x
  frontend/i18n-scripts/set-english-defaults.js
  frontend/package.json
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/backingstore-table.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/namespace-store-pages/multi-namespace-store.tsx
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/__tests__/network-policies/network-policy-model.spec.ts
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/insights-plugin/locales/en/insights-plugin.json
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/en/lso-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/patternfly/locales/en/notification-drawer.json
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/shipwright-plugin/locales/en/shipwright-plugin.json
  frontend/packages/topology/locales/en/topology.json
  frontend/public/components/secrets/create-secret.tsx
  frontend/public/components/storage-class-form.tsx
  frontend/public/i18n.js
  frontend/public/locales/en/public.json
  frontend/yarn.lock
Labels: approved, lgtm, component/shared, component/dev-console, component/kubevirt, component/ceph, component/core, component/olm, component/lso, docs-approved, qe-approved, px-approved, component/insights, kind/i18n, component/topology, component/pipelines

#12208 CONSOLE-3185: Improve information available for Pending or Failed plugins so user can better troubleshoot plugins
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/console-operator/ConsoleOperatorConfig.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/status/Status.tsx
Labels: approved, lgtm, component/core, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n

#12228 OCPBUGS-2961: Change installed operator text when custom resource required.
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/operator-install-page.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, kind/i18n, jira/valid-bug

#12211 Monitoring: Fix type of bodyContent prop passed to PopoverField
  frontend/public/components/monitoring/alerting.tsx
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved

#12214 add capacity action for SS CSV list page [OCP 4.12 & ODF 4.11]
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/ceph-storage-plugin/src/actions/csv-actions.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, jira/valid-bug

#12202 OCPBUGS-3161: 'CatalogSource not found' in the virtualization
  frontend/packages/kubevirt-plugin/src/hooks/use-kubevirt-csv-details.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, backport-risk-assessed, jira/valid-bug

#12222 OCPBUGS-3172: check that user can patch console operator config in s…
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, jira/valid-bug

#12149 CONSOLE-3287, CONSOLE-3288: OLM Pages work when copied CSVs are disabled
  cmd/bridge/main.go
  frontend/@types/console/index.d.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-global.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-single-namespace.spec.ts
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/k8s-resource.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
  frontend/packages/operator-lifecycle-manager/src/const.ts
  frontend/packages/operator-lifecycle-manager/src/plugin.tsx
  frontend/packages/operator-lifecycle-manager/src/utils/clusterserviceversions.ts
  frontend/packages/operator-lifecycle-manager/src/utils/useClusterServiceVersion.tsx
  frontend/packages/operator-lifecycle-manager/src/utils/useClusterServiceVersionPath.tsx
  frontend/public/components/factory/details.tsx
  pkg/server/server.go
  pkg/serverconfig/config.go
  pkg/serverconfig/types.go
Labels: approved, lgtm, tide/merge-method-squash, component/core, component/backend, component/olm, docs-approved, qe-approved, px-approved

#12204 [release-4.10] OCPBUGS-2781: Fix broken advanced options layout on the add page
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/dev-console/src/components/buildconfig/BuildConfigFormEditor.tsx
  frontend/packages/dev-console/src/components/edit-deployment/AdvancedSection.tsx
  frontend/packages/dev-console/src/components/edit-deployment/__tests__/AdvancedSection.spec.tsx
  frontend/packages/dev-console/src/components/edit-deployment/__tests__/EditDeploymentForm.spec.tsx
  frontend/packages/dev-console/src/components/import/ImportStrategySection.scss
  frontend/packages/dev-console/src/components/import/__tests__/DeployImage.spec.tsx
  frontend/packages/dev-console/src/components/import/advanced/AdvancedSection.tsx
  frontend/packages/dev-console/src/components/progressive-list/ProgressiveList.tsx
  frontend/packages/dev-console/src/components/progressive-list/ProgressiveListFooter.tsx
  frontend/packages/dev-console/src/components/progressive-list/ProgressiveListItem.tsx
  frontend/packages/dev-console/src/components/progressive-list/__tests__/ProgressiveList.spec.tsx
  frontend/packages/dev-console/src/components/progressive-list/__tests__/ProgressiveListFooter.spec.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, kind/i18n, backport-risk-assessed, jira/valid-bug, jira/severity-moderate

#11860 Bug 1993916: Show tooltips for contextual information
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/block-pool/block-pool-list-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/object-bucket-claim-page/object-bucket-claim.tsx
  frontend/packages/ceph-storage-plugin/src/components/object-bucket-page/object-bucket.tsx
  frontend/public/components/persistent-volume.jsx
  frontend/public/components/utils/kebab.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, component/core, bugzilla/severity-low, kind/i18n

#12226 Monitoring: Don't import CloseButton
  frontend/public/components/monitoring/promql-expression-input.tsx
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved

#12230 Monitoring: Move codicon font into monitoring/ dir
  frontend/public/components/monitoring/_promql-expression-input.scss
  frontend/public/components/monitoring/codicon.ttf
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved

#12247 OCPBUGS-3316: Remove `refs-heads` from the branch name for Repository pipelineRun row
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryLinkList.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/components/repository/__tests__/repository-utils.spec.tsx
  frontend/packages/pipelines-plugin/src/components/repository/repository-utils.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/pipelines, jira/valid-bug, jira/severity-important

#12217 CONSOLE-3120: Allow operator to specify where to run with CSV suggested namespace template annotation
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
Labels: approved, lgtm, component/olm, docs-approved, qe-approved, px-approved, kind/i18n

#12253 OCPBUGS-2735: Switch spacing for inline radio & checkbox elements
  frontend/packages/operator-lifecycle-manager/src/style.scss
  frontend/public/style/ancillary/_bootstrap-residual.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/core, component/olm, jira/valid-bug, jira/severity-moderate

#12195 OCPBUGS-1671: frontend: use UBI httpd for StatefulSet template
  frontend/packages/dev-console/integration-tests/testData/yamls/create-statefulsets.yaml
  frontend/packages/topology/src/__tests__/graph-test-data.ts
  frontend/public/models/yaml-templates.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, component/core, component/topology, jira/valid-bug, jira/severity-moderate

#12186 [release-4.11] OCPBUGS-2716: Update dependencies to the registry library and devfile parser
  go.mod
  go.sum
  pkg/devfile/sample.go
  pkg/server/devfile-handler.go
  vendor/github.com/devfile/library/pkg/devfile/parser/parse.go
  vendor/github.com/devfile/library/pkg/util/util.go
  vendor/github.com/devfile/registry-support/registry-library/library/library.go
  vendor/github.com/devfile/registry-support/registry-library/library/util.go
  vendor/modules.txt
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, cherry-pick-approved, component/backend, backport-risk-assessed, jira/valid-bug, jira/severity-moderate

#12209 CONSOLE-3243: Rename "master" to "control plane node" in node pages
  frontend/__tests__/components/cluster-settings.spec.tsx
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/dashboards-page/ControlPlaneStatus.tsx
  frontend/packages/console-app/src/components/dashboards-page/status.ts
  frontend/packages/console-app/src/components/nodes/NodesPage.tsx
  frontend/packages/console-shared/src/selectors/node.ts
  frontend/packages/local-storage-operator-plugin/src/components/disks-list/disks-list-page.tsx
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-resource/PipelineClusterOptions.tsx
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/details-card.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/utilization-card.tsx
  frontend/public/components/modals/cluster-update-modal.tsx
  frontend/public/locales/en/public.json
  frontend/public/module/k8s/cluster-settings.ts
Labels: approved, lgtm, tide/merge-method-squash, component/shared, component/dashboard, component/core, component/lso, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines

#12125 Create-knative-service-from-deployment-or-deployment-config feature
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/knative-plugin/integration-tests/features/serverless/create-knative-service-from-deployment-or-deployment-config.feature
  frontend/packages/knative-plugin/integration-tests/support/pageObjects/global-po.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/actions-on-knative-service.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/create-knative-service-from-deployment-or-deployment-config.ts
  frontend/packages/topology/integration-tests/support/page-objects/hpa-po.ts
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-page.ts
Labels: approved, lgtm, component/dev-console, component/knative, docs-approved, qe-approved, px-approved, component/topology

#12229 Bug 2080260: Fix runtime erros in ImageManifestVuln related pages
  frontend/packages/container-security/src/components/ImageVulnerabilitiesList.tsx
  frontend/packages/container-security/src/components/image-manifest-vuln.tsx
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low

#12219 OCPBUGS-2306: fix number spinner input
  frontend/packages/console-shared/src/components/formik-fields/NumberSpinnerField.tsx
  frontend/packages/console-shared/src/components/formik-fields/__tests__/NumberSpinnerField.spec.tsx
  frontend/packages/console-shared/src/test-utils/unit-test-utils.tsx
  frontend/public/components/utils/number-spinner.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/shared, component/core, jira/valid-bug, jira/severity-low

#12261 OCPBUGS-3458: improve display of RetrievedUpdate condition in Update status
  frontend/public/components/cluster-settings/_cluster-settings.scss
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/core, kind/i18n, jira/valid-bug, jira/severity-low

#12191 [release-4.10] OCPBUGS-2717: Update dependencies to the registry library and devfile parser
  go.mod
  go.sum
  pkg/devfile/sample.go
  pkg/server/devfile-handler.go
  vendor/github.com/devfile/library/pkg/devfile/parser/parse.go
  vendor/github.com/devfile/library/pkg/util/util.go
  vendor/modules.txt
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, cherry-pick-approved, component/backend, kind/dependency-change, backport-risk-assessed, jira/valid-bug, jira/severity-moderate

#12223 OCPBUGS-3709: URI encode subjectName in CreateRoleBinding
  frontend/public/components/RBAC/bindings.jsx
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, component/core, jira/valid-bug, jira/severity-moderate

#12218 Monitoring: Add popover help text for silence form's negative matchers
  frontend/public/components/monitoring/silence-form.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved, kind/i18n

#12251 OCPBUGS-3069: add Release not accepted to Update status on Cluster Se…
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/locales/en/public.json
  frontend/public/module/k8s/cluster-settings.ts
  frontend/public/module/k8s/types.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/core, kind/i18n, jira/valid-bug, jira/severity-moderate

#12269 Bug 2092289: Don't proxy CORS response headers
  pkg/proxy/proxy.go
Labels: approved, lgtm, bugzilla/valid-bug, component/backend, bugzilla/severity-medium

#12267 OCPBUGS-2551: show 403 error when normal user check operands on All …
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, jira/valid-bug

#12250 OCPBUGS-1604: Add cluster to query params of websocket requests
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/sdk, jira/valid-bug, jira/severity-moderate

#12197 OCPBUGS-2579: Helm Charts and Samples are not disabled in topology actions if actions are disabled in customization
  frontend/packages/dev-console/src/actions/add-resources.tsx
  frontend/packages/helm-plugin/src/actions/providers.ts
  frontend/packages/helm-plugin/src/const.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/dev-console, component/helm, jira/valid-bug, jira/severity-low

#12231 Monitoring: Import from the dynamic plugin SDK where possible and minor imports clean up
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/dashboards/table.tsx
  frontend/public/components/monitoring/promql-expression-input.tsx
  frontend/public/components/monitoring/silence-form.tsx
  frontend/public/components/monitoring/targets.tsx
  frontend/public/components/monitoring/utils.ts
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved

#12236 OCPBUGS-2904: If all the actions are disabled in add page, Details on/off toggle switch to be disabled
  frontend/packages/dev-console/src/components/add/AddPageLayout.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, jira/valid-bug, jira/severity-low

#12286 OCPBUGS-3761: migrate Events integration test to Cypress to mitigate …
  frontend/integration-tests/protractor.conf.ts
  frontend/integration-tests/tests/event.scenario.ts
  frontend/packages/integration-tests-cypress/tests/events/events.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, kind/cypress, jira/valid-bug

#12264 OCPBUGS-3235: Fix for initial showing of topology contents
  frontend/packages/topology/src/data-transforms/TopologyDataRetriever.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/topology, jira/valid-bug

#12268 OCPBUGS-3395: show event source, event sink card on add and associated action only if eventing is enabled
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/src/actions/providers.ts
  frontend/packages/knative-plugin/src/catalog/useEventSourceProvider.ts
  frontend/packages/knative-plugin/src/const.ts
  frontend/packages/knative-plugin/src/topology/topology-plugin.ts
  frontend/packages/topology/src/components/page/TopologyView.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/knative, component/topology, jira/valid-bug, jira/severity-low

#12196 Monitoring: Refactor silence dropdowns to use PatternFly directly
  frontend/packages/integration-tests-cypress/tests/monitoring/monitoring.spec.ts
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/silence-form.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved, kind/i18n, kind/cypress

#12266 OCPBUGS-2480: Task delete icon is not align properly on the Pipeline builder page
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/RemoveNodeDecorator.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/pipelines, jira/valid-bug, jira/severity-low

#12290 OCPBUGS-3776: Update the tooltip to trigger only on mouseenter to remove focus trigger
  frontend/public/components/filter-toolbar.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, jira/valid-bug, jira/severity-moderate

#12297 OCPBUGS-4012: disabled Serverless add actions is not displayed in topology menu
  frontend/packages/knative-plugin/src/actions/providers.ts
  frontend/packages/knative-plugin/src/const.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/knative, jira/valid-bug, jira/severity-low

#12232 OCPBUGS-3024: Add support for other Service types in Service list
  frontend/public/components/service.jsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/core, jira/valid-bug, jira/severity-informational

#12295 OCPBUGS-4022: Fix react warning when open console, add missing keys in navigation
  frontend/packages/console-app/src/components/nav/NavSection.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/core, jira/valid-bug

#12296 OCPBUGS-4026: Fix rerender loop/crash when bindable-kinds is found but has no status
  frontend/packages/dev-console/src/components/catalog/providers/useBindableItemMetadataProvider.ts
  frontend/packages/dev-console/src/components/topology/bindable-services/types.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/dev-console, jira/valid-bug, jira/severity-moderate

#12260 OCPBUGS-2500: Pan nodes into view if all nodes are not visible on load
  frontend/packages/topology/src/components/graph-view/Topology.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/topology, jira/valid-bug, jira/severity-important

#12242 OCPBUGS-3432: Re-enable pipelines e2e tests
  test-cypress.sh
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug, jira/severity-important

#12274 OCPBUGS-3476: Show Tag label and tag name if tag is detected in repository PipelineRun list and details page
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryLinkList.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunHeader.tsx
  frontend/packages/pipelines-plugin/src/components/repository/__tests__/RepositoryLinkList.spec.tsx
  frontend/packages/pipelines-plugin/src/components/repository/__tests__/repository-utils.spec.tsx
  frontend/packages/pipelines-plugin/src/components/repository/repository-utils.tsx
Labels: approved, lgtm, bugzilla/valid-bug, kind/i18n, component/pipelines, jira/valid-bug, jira/severity-moderate

#12243 OCPBUGS-2281: Re-enable serverless e2e tests
  frontend/packages/dev-console/integration-tests/support/pages/functions/knativeSubscriptions.ts
  test-cypress.sh
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, jira/valid-bug, jira/severity-important

#12227 Monitoring: Don't import EmptyBox
  frontend/public/components/monitoring/dashboards/table.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved, kind/i18n

#12049 OCPBUGS-1305: Re-enable Shipwright e2e tests
  test-cypress.sh
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug, jira/severity-moderate

#12303 Monitoring: Use PatternFly components instead of Breadcrumbs component
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/targets.tsx
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved

#12192 [release-4.9] OCPBUGS-2718: Update dependencies to the registry library and devfile parser
  go.mod
  go.sum
  pkg/devfile/sample.go
  pkg/server/devfile-handler.go
  vendor/github.com/devfile/library/pkg/devfile/parser/parse.go
  vendor/github.com/devfile/library/pkg/util/util.go
  vendor/modules.txt
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, cherry-pick-approved, component/backend, kind/dependency-change, backport-risk-assessed, jira/valid-bug, jira/severity-moderate

#12248 [release-4.12] OCPBUGS-3333: Promote ConsolePlugins API version to v1 in console repository
  dynamic-demo-plugin/README.md
  dynamic-demo-plugin/oc-manifest.yaml
  frontend/public/models/index.ts
  frontend/public/module/k8s/types.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/core, qe-approved, backport-risk-assessed, jira/valid-bug

#12287 OCPBUGS-3027: Do not disable metrics when auth is disabled
  cmd/bridge/main.go
  pkg/server/server.go
Labels: approved, lgtm, bugzilla/valid-bug, component/backend, jira/valid-bug, jira/severity-low

#12313 OCPBUGS-3761: follow on fix to ensure Administrator perspective is se…
  frontend/packages/integration-tests-cypress/tests/events/events.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, kind/cypress, jira/valid-bug

#12302 Monitoring: Use PatternFly components instead of ActionButtons
  frontend/public/components/monitoring/alerting.tsx
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved
