Repository openshift/console, pull requests merged in 2022-10, with the labels that each got.

#11974 [release-4.10] OCPBUGS-403: fix broken update server link
  frontend/public/components/modals/configure-cluster-upstream-modal.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/core, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate

#12114 OCPBUGS-1827: disable e2e for knative
  test-cypress.sh
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug

#12041 [release-4.9] OCPBUGS-1635: Update registry library dependency to pick up proxy support
  go.mod
  go.sum
  vendor/github.com/devfile/registry-support/registry-library/library/library.go
  vendor/github.com/spf13/afero/.travis.yml
  vendor/modules.txt
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, cherry-pick-approved, component/backend, kind/dependency-change, backport-risk-assessed, jira/valid-bug, jira/severity-important

#12099 Bug 2057972: Remove space in Chinese translation for Duplicate {{kindLabel}}
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low, kind/i18n

#12046 Update PL/PLR visualization to use new PF pipeline package
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualization.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualization.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationStepList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/StatusIcon.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/__tests__/PipelineVisualization.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderVisualization.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/PipelineTaskNode.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/PipelineTopologyGraph.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/PipelineTopologyGraph.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/PipelineVisualizationSurface.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/__tests__/dag.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/__tests__/utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/dag.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/factories.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/types.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/utils.ts
  frontend/packages/pipelines-plugin/src/types/pipeline.ts
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-utils.spec.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-utils.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/pipelines

#12066 OCPBUGS-1479: PDB list page should only show Create Pod button to user has sufficient permission
  frontend/packages/console-app/src/components/pdb/PDBPage.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, jira/valid-bug

#12071 Bug 2079249: Find latest pipeline run without firehose selector
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelinesResourceList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/hooks.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/list-page/PipelineAugmentRuns.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/list-page/PipelineAugmentRunsWrapper.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/list-page/PipelinesList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/list-page/__tests__/PipelineAugmentRunsWrapper.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-overview/TriggerLastRunButton.tsx
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-augment-test-data.ts
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-augment.spec.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-augment.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium, component/pipelines

#12076 OU-56: Query browser: Refactor timespan dropdown to use PatternFly components
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved

#12081 Action on Knative-Service | Knative Serverless
  frontend/packages/knative-plugin/integration-tests/features/serverless/actions-on-knative-service.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/cards-display-on-serverless-operator-installation.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/create-knative-service-from-deployment-or-deployment-config.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/create-knative-workload.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/domain-mapping.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/serverless-function.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/side-bar-of-knative-revision-and-service.feature
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/actions-on-knative-revision.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/actions-on-knative-service.ts
Labels: approved, lgtm, component/knative, docs-approved, qe-approved, px-approved

#12101 OU-38: Monitoring: Refactor silence duration dropdown to use PatternFly
  frontend/packages/integration-tests-cypress/tests/monitoring/monitoring.spec.ts
  frontend/public/components/monitoring/silence-form.tsx
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved, kind/cypress

#12088 OCPBUGS-1678: Use local test data to mock a devfile registry
  pkg/devfile/sample.go
  pkg/devfile/sample_test.go
  pkg/devfile/testdata/registrystagedevfileio/sample.json
Labels: approved, lgtm, bugzilla/valid-bug, component/backend, jira/valid-bug

#12102 Bug 2115522: Strange padding in new Helm Chart Repository table row
  frontend/packages/helm-plugin/src/components/list-page/HelmChartRepositoryRow.tsx
  frontend/packages/helm-plugin/src/components/list-page/ProjectHelmChartRepositoryRow.tsx
  frontend/packages/helm-plugin/src/components/list-page/RepositoriesRow.tsx
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low, component/helm

#12111 OCPBUGS-194: Switch api explorer filters to use PF toolbar component for structure and adjustments.
  frontend/public/components/api-explorer.tsx
  frontend/public/style/_common.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/core, jira/valid-bug, jira/severity-low

#12132 [release-4.8] OCPBUGS-1977: Helm readme bugfix
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/locales/ja/helm-plugin.json
  frontend/packages/helm-plugin/locales/ko/helm-plugin.json
  frontend/packages/helm-plugin/locales/zh/helm-plugin.json
  frontend/packages/helm-plugin/src/catalog/components/HelmReadmeLoader.tsx
  frontend/packages/helm-plugin/src/catalog/utils/catalog-utils.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, kind/i18n, component/helm, backport-risk-assessed, jira/valid-bug, jira/severity-moderate

#12029 ODC-6772: Show resource quota alert in deployment side-panel
  frontend/packages/topology/console-extensions.json
  frontend/packages/topology/integration-tests/features/topology/resource-quota-warning.feature
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-page.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-side-pane-page.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/resource-quota-warning.ts
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/graph-view/components/nodes/BaseNode.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/WorkloadNode.tsx
  frontend/packages/topology/src/components/side-bar/components/SideBarAlerts.tsx
  frontend/packages/topology/src/components/workload/resource-alert.tsx
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, kind/i18n, component/topology

#12052 Refactor ResourceSection and move it under Advanced options
  frontend/packages/console-shared/src/components/formik-fields/SelectInputField.tsx
  frontend/packages/console-shared/src/components/formik-fields/field-types.ts
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-docker-file.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/upload-jar-file.feature
  frontend/packages/dev-console/integration-tests/features/e2e/add-flow-ci.feature
  frontend/packages/dev-console/integration-tests/support/constants/add.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-docker-file.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-git.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/upload-JAR-file.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/monitoring/dashboard-display.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/userPreferences/user-preferences-dev-perspective.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/DeployImageForm.tsx
  frontend/packages/dev-console/src/components/import/GitImportForm.tsx
  frontend/packages/dev-console/src/components/import/SourceToImageForm.tsx
  frontend/packages/dev-console/src/components/import/__tests__/DeployImage.spec.tsx
  frontend/packages/dev-console/src/components/import/__tests__/DeployImageForm.spec.tsx
  frontend/packages/dev-console/src/components/import/advanced/AdvancedSection.tsx
  frontend/packages/dev-console/src/components/import/advanced/__tests__/AdvancedSection.spec.tsx
  frontend/packages/dev-console/src/components/import/jar/UploadJarForm.tsx
  frontend/packages/dev-console/src/components/import/jar/__tests__/UploadJarForm.spec.tsx
  frontend/packages/dev-console/src/components/import/section/ResourceSection.tsx
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/create-knative-workload.ts
Labels: approved, lgtm, component/shared, component/dev-console, component/knative, docs-approved, qe-approved, px-approved, kind/i18n

#12025 ODC-6785: Enable/Disable perspective(s) based on customization
  frontend/packages/console-app/src/components/detect-perspective/DetectPerspective.tsx
  frontend/packages/console-app/src/components/detect-perspective/PerspectiveDetector.tsx
  frontend/packages/console-app/src/components/detect-perspective/__tests__/DetectPerspective.spec.tsx
  frontend/packages/console-app/src/components/detect-perspective/__tests__/PerspectiveDetector.spec.tsx
  frontend/packages/console-app/src/components/detect-perspective/__tests__/useValuesForPerspectiveContext.spec.ts
  frontend/packages/console-app/src/components/detect-perspective/useValuesForPerspectiveContext.ts
  frontend/packages/console-app/src/components/modals/service-binding/ServiceBindingModalLauncher.tsx
  frontend/packages/console-app/src/components/user-preferences/perspective/PerspectiveDropdown.tsx
  frontend/packages/console-shared/src/hooks/__tests__/perspective-utils.spec.ts
  frontend/packages/console-shared/src/hooks/__tests__/usePinnedResources.spec.ts
  frontend/packages/console-shared/src/hooks/index.ts
  frontend/packages/console-shared/src/hooks/perspective-utils.ts
  frontend/packages/console-shared/src/hooks/perspectiveUtils.ts
  frontend/packages/console-shared/src/hooks/usePinnedResources.ts
  frontend/packages/dev-console/integration-tests/features/perspectives/configure-perspectives.feature
  frontend/packages/dev-console/src/components/edit-application/EditApplication.tsx
  frontend/packages/dev-console/src/components/edit-deployment/EditDeployment.tsx
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/jar/UploadJar.tsx
  frontend/packages/knative-plugin/src/components/add/EventSink.tsx
  frontend/packages/knative-plugin/src/components/add/EventSource.tsx
  frontend/packages/knative-plugin/src/components/add/brokers/AddBroker.tsx
  frontend/packages/knative-plugin/src/components/add/channels/AddChannel.tsx
  frontend/packages/knative-plugin/src/components/knatify/CreateKnatifyPage.tsx
  frontend/public/components/app-contents.tsx
  frontend/public/components/nav/NavHeader.scss
  frontend/public/components/nav/NavHeader.tsx
  frontend/public/components/nav/__tests__/PerspectiveNav.spec.tsx
  frontend/public/components/nav/useNavExtensionForPerspective.ts
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/shared, component/dev-console, component/knative, component/core, component/backend, docs-approved, qe-approved, px-approved, kind/i18n

#12140 ODC-6771: Add telemetry support
  frontend/packages/dev-console/src/components/resource-quota/ResourceQuotaAlert.tsx
  frontend/packages/topology/src/components/workload/resource-alert.tsx
Labels: approved, lgtm, component/dev-console, component/kubevirt, component/knative, component/ceph, component/monitoring, component/core, component/sdk, component/backend, component/olm, docs-approved, qe-approved, px-approved, kind/i18n, component/helm, component/topology, component/pipelines, kind/cypress

#12090 [release-4.10] Bug 2072790: Select template using also queryParams
  frontend/packages/kubevirt-plugin/src/components/create-vm/create-vm.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, bugzilla/severity-medium, backport-risk-assessed

#12091 [release-4.10] Bug 2054917: Fix template example yaml
  frontend/packages/kubevirt-plugin/src/models/templates/vm-template-yaml.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, bugzilla/severity-medium, backport-risk-assessed

#12092 [release-4.10] Bug 2094074: Remove error on user template with DS
  frontend/packages/kubevirt-plugin/src/statuses/template/template-source-status.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, bugzilla/severity-medium, backport-risk-assessed

#12147 OCPBUGS-2102: updates e2e to call resource type selection in advance option
  frontend/packages/dev-console/integration-tests/features/addFlow/resource-quota-warning.feature
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/container-image-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-docker-file.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-git.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/monitoring/dashboard-display.ts
  frontend/packages/topology/integration-tests/features/e2e/topology-ci.feature
  frontend/packages/topology/integration-tests/features/topology/resource-quota-warning.feature
  frontend/packages/topology/integration-tests/support/step-definitions/common/topology.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, component/topology, jira/valid-bug, jira/severity-important

#12082 [release-4.10] Bug 2090127: CNV 20527: Enable boot source select for vm template
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/storage-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/vm-settings-tab-state-update.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, bugzilla/severity-medium, backport-risk-assessed

#12061 OCPBUGS-938: do not show NodesUpdateGroup if there are 0 nodes
  frontend/public/components/cluster-settings/cluster-settings.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/core, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-low

#12069 Bug 2100843: Fix selection on add connector context menu option opens the side panel of the node
  frontend/packages/console-shared/src/components/actions/menu/ActionMenuItem.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, bugzilla/severity-low

#12126 [release-4.9] OCPBUGS-1956: fetch shared resource imagestreams based on labels instance or name
  frontend/packages/dev-console/src/components/edit-application/EditApplicationComponent.tsx
  frontend/packages/dev-console/src/components/edit-application/EditApplicationPage.tsx
  frontend/packages/dev-console/src/const.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, backport-risk-assessed, jira/valid-bug, jira/severity-important

#12072 CONSOLE-3190: update OperatorHub filter to use nodeArchitectures instead of GOARCH
  cmd/bridge/main.go
  frontend/@types/console/index.d.ts
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
  pkg/server/server.go
  pkg/serverconfig/config.go
  pkg/serverconfig/types.go
Labels: approved, lgtm, component/backend, component/olm, docs-approved, qe-approved, px-approved

#12160 Bug 2072790: Regression "Create VM"
  frontend/packages/kubevirt-plugin/src/components/create-vm/create-vm.tsx
  frontend/packages/kubevirt-plugin/src/types/url.ts
  frontend/packages/kubevirt-plugin/src/utils/url.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, bugzilla/severity-urgent, backport-risk-assessed

#12043 OCPBUGS-1105: OCPBUGS-1106: Update dependencies to the registry library and devfile parser
  go.mod
  go.sum
  pkg/devfile/sample.go
  pkg/server/devfile-handler.go
  vendor/github.com/devfile/api/v2/pkg/apis/workspaces/v1alpha2/component_image_dockerfile.go
  vendor/github.com/devfile/api/v2/pkg/apis/workspaces/v1alpha2/endpoint.go
  vendor/github.com/devfile/api/v2/pkg/apis/workspaces/v1alpha2/import_reference.go
  vendor/github.com/devfile/api/v2/pkg/apis/workspaces/v1alpha2/zz_generated.parent_overrides.go
  vendor/github.com/devfile/api/v2/pkg/apis/workspaces/v1alpha2/zz_generated.plugin_overrides.go
  vendor/github.com/devfile/api/v2/pkg/validation/endpoints.go
  vendor/github.com/devfile/api/v2/pkg/validation/errors.go
  vendor/github.com/devfile/api/v2/pkg/validation/validation-rule.md
  vendor/github.com/devfile/library/pkg/devfile/generator/generators.go
  vendor/github.com/devfile/library/pkg/devfile/parse.go
  vendor/github.com/devfile/library/pkg/devfile/parser/context/context.go
  vendor/github.com/devfile/library/pkg/devfile/parser/data/v2/2.2.0/devfileJsonSchema220.go
  vendor/github.com/devfile/library/pkg/devfile/parser/devfileobj.go
  vendor/github.com/devfile/library/pkg/devfile/parser/parse.go
  vendor/github.com/devfile/library/pkg/devfile/parser/reader.go
  vendor/github.com/devfile/library/pkg/devfile/parser/writer.go
  vendor/github.com/devfile/library/pkg/util/util.go
  vendor/github.com/devfile/registry-support/registry-library/library/library.go
  vendor/github.com/devfile/registry-support/registry-library/library/util.go
  vendor/gopkg.in/yaml.v3/decode.go
  vendor/gopkg.in/yaml.v3/parserc.go
  vendor/modules.txt
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, component/backend, jira/valid-bug, jira/severity-moderate

#12167 OCPBUGS-2181: updates test id for 3scale
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-single-namespace.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, jira/valid-bug

#12118 OCPBUGS-1040: Add checks for pods in hpaPodRingLabel
  frontend/packages/console-shared/src/utils/pod-ring-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, jira/valid-bug, jira/severity-moderate

#12143 Add resource quota alert to topology list view node
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/topology-details.ts
  frontend/packages/topology/integration-tests/features/topology/resource-quota-warning.feature
  frontend/packages/topology/integration-tests/support/pages/topology/topology-page.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/list-view.ts
  frontend/packages/topology/src/components/list-view/cells/AlertsCell.tsx
  frontend/packages/topology/src/components/workload/resource-alert.tsx
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n, component/topology

#11992 Updates flags and blocks migrated extensions
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/ceph-storage-plugin/src/features.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Labels: approved, lgtm, component/ceph, docs-approved, qe-approved, px-approved

#12089 Cards-display-on-serverless-operator-installation | Knative-serverless
  frontend/packages/knative-plugin/integration-tests/features/serverless/cards-display-on-serverless-operator-installation.feature
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/cards-display-on-serverless-operator-installation.ts
Labels: approved, lgtm, component/knative, docs-approved, qe-approved, px-approved

#12156 OCPBUGS-2195: fixes npe on topology
  frontend/packages/console-shared/src/components/catalog/service/CatalogServiceProvider.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, jira/valid-bug

#12080 Bug 2100334: separate fetching of serving and eventing as they can be enabled independently
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/src/topology/__tests__/data-transformer.spec.ts
  frontend/packages/knative-plugin/src/topology/components/knativeComponentFactory.ts
  frontend/packages/knative-plugin/src/topology/data-transformer.ts
  frontend/packages/knative-plugin/src/topology/index.ts
  frontend/packages/knative-plugin/src/topology/topology-plugin.ts
  frontend/packages/knative-plugin/src/utils/get-knative-resources.ts
  frontend/packages/topology/src/utils/__tests__/application-utils.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/knative, bugzilla/severity-medium, component/topology

#12152 OCPBUGS-2075: Hide silent switch for alerting rule if no associated alerts are present in devconsole
  frontend/packages/dev-console/src/components/monitoring/alerts/monitoring-alerts-utils.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, jira/valid-bug

#12169 OCPBUGS-2369: adds check for metadata as metadata is not required in template spec
  frontend/public/module/k8s/label-selector.js
Labels: approved, lgtm, bugzilla/valid-bug, component/core, jira/valid-bug, jira/severity-important

#11980 OCPBUGS-193: Corrected kebab action overlapping issue in Helm page
  frontend/packages/console-shared/src/components/actions/menu/ActionMenuToggle.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/helm, jira/valid-bug, jira/severity-low

#12162 OCPBUGS-1746: Update the Github App events and permissions
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pac/PacPermissions.tsx
  frontend/packages/pipelines-plugin/src/components/pac/hooks/usePacGHManifest.ts
Labels: approved, lgtm, bugzilla/valid-bug, kind/i18n, component/pipelines, jira/valid-bug, jira/severity-moderate

#12166 OCPBUGS-2438: Monitoring: Fix help popovers
  frontend/public/components/monitoring/alerting.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, jira/valid-bug, jira/severity-moderate

#12055 OCPBUGS-1416: Fix outdated, broken ODC add-page e2e test
  frontend/packages/dev-console/integration-tests/features/addFlow/add-page.feature
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/page-details.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/add/AddPageLayout.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, kind/i18n, jira/valid-bug, jira/severity-low

#12141 OCPBUGS-2344:Change annotation to be used for fake helm repositories
  pkg/helm/chartproxy/proxy.go
  pkg/helm/chartproxy/repos.go
Labels: approved, lgtm, bugzilla/valid-bug, component/backend, jira/valid-bug, jira/severity-moderate

#12179 OCPBUGS-1017: Persist last cluster dropdown selection in session storage only
  frontend/packages/console-app/src/components/detect-cluster/cluster.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/core, jira/valid-bug, jira/severity-important

#12024 OCPBUGS-800: Name of workload get changed, when project and image stream gets changed on reloading the form on the edit deployment page of the workload
  frontend/packages/dev-console/src/components/edit-deployment/EditDeployment.tsx
  frontend/packages/dev-console/src/components/edit-deployment/EditDeploymentForm.tsx
  frontend/packages/dev-console/src/components/edit-deployment/utils/edit-deployment-types.ts
  frontend/packages/dev-console/src/components/edit-deployment/utils/edit-deployment-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, jira/valid-bug

#12067 ODC-6779 - Hide sub-catalog(s) in the developer catalog or the entire dev catalog based on customization
  frontend/packages/console-shared/src/components/catalog/CatalogController.tsx
  frontend/packages/console-shared/src/components/catalog/service/CatalogServiceProvider.tsx
  frontend/packages/console-shared/src/components/catalog/utils/catalog-utils.tsx
  frontend/packages/console-shared/src/utils/__tests__/catalogTypeExtensions.data.tsx
  frontend/packages/console-shared/src/utils/__tests__/isSubCatalogTypeEnabled.spec.ts
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/integration-tests/features/customization/customization-of-catalog.feature
  frontend/packages/dev-console/src/actions/providers.ts
  frontend/packages/dev-console/src/components/add/DeveloperFeaturesGettingStartedCard.tsx
  frontend/packages/dev-console/src/components/add/SampleGettingStartedCard.tsx
  frontend/packages/dev-console/src/components/catalog/CatalogPage.tsx
  frontend/packages/dev-console/src/const.ts
  frontend/packages/helm-plugin/console-extensions.json
  frontend/packages/helm-plugin/src/actions/providers.ts
  frontend/packages/helm-plugin/src/components/forms/HelmChartRepository/CreateHelmChartRepository.tsx
  frontend/packages/helm-plugin/src/components/list-page/HelmReleaseList.tsx
  frontend/packages/helm-plugin/src/components/list-page/HelmTabbedPage.tsx
  frontend/packages/helm-plugin/src/const.ts
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/src/actions/providers.ts
  frontend/packages/knative-plugin/src/catalog/index.ts
  frontend/packages/knative-plugin/src/catalog/useEventSourceProvider.ts
  frontend/packages/knative-plugin/src/components/eventing/EventingListPage.tsx
  frontend/packages/knative-plugin/src/const.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm/dev-console/dev-console-create-vm-form.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/constants.ts
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-page.tsx
  frontend/packages/rhoas-plugin/console-extensions.json
  frontend/packages/rhoas-plugin/src/actions/index.ts
  frontend/packages/rhoas-plugin/src/actions/provider.ts
  frontend/packages/rhoas-plugin/src/components/service-list/ServiceListPage.tsx
  frontend/packages/rhoas-plugin/src/const.ts
Labels: approved, lgtm, component/shared, component/dev-console, component/kubevirt, component/knative, component/sdk, component/backend, component/olm, docs-approved, qe-approved, px-approved, kind/i18n, component/helm

#12171 OCPBUGS-2430: Add missing Quick Start translation
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/quick-starts/loader/QuickStartsLoader.tsx
  frontend/packages/console-app/src/components/quick-starts/utils/quick-start-context.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/core, kind/i18n, jira/valid-bug, jira/severity-low

#12065 OCPBUGS-1470: i18n Incorrect plural for maxUnavailable pod count
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/pdb/AvailabilityRequirement.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, kind/i18n, jira/valid-bug

#12119 OCPBUGS-548: Tweaks to make the "Favorites" section heading consistent with project menu section heading
  frontend/public/components/utils/dropdown.jsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, jira/valid-bug, jira/severity-low

#12120 OCPBUGS-1916: Workloads list page has different HPA action items from details page when All Projects selected
  frontend/packages/console-app/src/actions/creators/hpa-factory.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/core, jira/valid-bug, jira/severity-low

#12177 OCPBUGS-2100: Fix warning icon color
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/status/Status.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/sdk, jira/valid-bug

#12178 OCPBUGS-2455: Pods and PDBs list page just reports 'Not found' when no Pod/PDB
  frontend/packages/console-app/src/components/pdb/PDBList.tsx
  frontend/public/components/pod.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, jira/valid-bug, jira/severity-low

#12068 MGMT-9085 Add vSphere Connection plugin
  frontend/packages/console-app/package.json
  frontend/packages/vsphere-plugin/OWNERS
  frontend/packages/vsphere-plugin/README.md
  frontend/packages/vsphere-plugin/__tests__/__snapshots__/utils.spec.ts.snap
  frontend/packages/vsphere-plugin/__tests__/utils.spec.ts
  frontend/packages/vsphere-plugin/console-extensions.json
  frontend/packages/vsphere-plugin/locales/en/vsphere-plugin.json
  frontend/packages/vsphere-plugin/package.json
  frontend/packages/vsphere-plugin/src/PopoverHelpButton.tsx
  frontend/packages/vsphere-plugin/src/components/ClusterOverview/VSphereStatus.css
  frontend/packages/vsphere-plugin/src/components/ClusterOverview/VSphereStatus.tsx
  frontend/packages/vsphere-plugin/src/components/ConnectionFormContext.tsx
  frontend/packages/vsphere-plugin/src/components/InProgress.tsx
  frontend/packages/vsphere-plugin/src/components/VSphereConnection.tsx
  frontend/packages/vsphere-plugin/src/components/VSphereConnectionForm.css
  frontend/packages/vsphere-plugin/src/components/VSphereConnectionForm.tsx
  frontend/packages/vsphere-plugin/src/components/VSphereConnectionModal.css
  frontend/packages/vsphere-plugin/src/components/VSphereConnectionModal.tsx
  frontend/packages/vsphere-plugin/src/components/VSphereOperatorStatuses.tsx
  frontend/packages/vsphere-plugin/src/components/getVSphereHealth.ts
  frontend/packages/vsphere-plugin/src/components/initialLoad.ts
  frontend/packages/vsphere-plugin/src/components/persist.ts
  frontend/packages/vsphere-plugin/src/components/types.ts
  frontend/packages/vsphere-plugin/src/components/utils.ts
  frontend/packages/vsphere-plugin/src/constants.ts
  frontend/packages/vsphere-plugin/src/flag.ts
  frontend/packages/vsphere-plugin/src/plugin.ts
  frontend/packages/vsphere-plugin/src/resources/clusterOperator.ts
  frontend/packages/vsphere-plugin/src/resources/configMap.ts
  frontend/packages/vsphere-plugin/src/resources/index.ts
  frontend/packages/vsphere-plugin/src/resources/infrastructure.ts
  frontend/packages/vsphere-plugin/src/resources/k8sResource.ts
  frontend/packages/vsphere-plugin/src/resources/kubeControllerManager.ts
  frontend/packages/vsphere-plugin/src/resources/node.ts
  frontend/packages/vsphere-plugin/src/resources/persistentVolumeClaim.ts
  frontend/packages/vsphere-plugin/src/resources/secret.ts
  frontend/packages/vsphere-plugin/src/resources/statusCondition.ts
  frontend/packages/vsphere-plugin/src/resources/storageClass.ts
  frontend/public/i18n.js
  frontend/webpack.config.ts
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved

#12198 OCPBUGS-2654: Update OperatorHub tests
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-hub.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, jira/valid-bug, jira/severity-important

#12129 OCPBUGS-1696: Handle missing BMH for Node gracefully
  frontend/packages/console-app/src/components/nodes/node-dashboard/NodeAlerts.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/NodeHealth.tsx
  frontend/packages/metal3-plugin/locales/en/metal3-plugin.json
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostDisks.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostNICs.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/DisksPage.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/NICsPage.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/dashboard/BareMetalNodeDashboard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/dashboard/BareMetalNodeDashboardContext.ts
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/dashboard/DetailsCard.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/core, component/metal3, qe-approved, kind/i18n, backport-risk-assessed, jira/severity-critical, jira/valid-bug

#11970 CONSOLE-3241: Use cluster proxy for managed cluster API server requests
  cmd/bridge/main.go
  pkg/proxy/proxy.go
  pkg/server/kube_version.go
  pkg/server/server.go
  pkg/serverconfig/types.go
  pkg/serverconfig/validate.go
Labels: approved, lgtm, tide/merge-method-squash, component/backend, docs-approved, qe-approved, px-approved

#12117 Bug 2110321: Workloads list page has different PDB action items from details page when All Projects selected
  frontend/packages/console-app/src/actions/creators/pdb-factory.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#12201 [release-4.9] OCPBUGS-2576, OCPBUGS-2719: Fix backend test (devfile registry change), fix console e2e test (3scale operator name change)
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-single-namespace.spec.ts
  pkg/devfile/sample.go
  pkg/devfile/sample_test.go
  pkg/devfile/testdata/registrystagedevfileio/sample.json
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/backend, component/olm, qe-approved, backport-risk-assessed, jira/valid-bug

#12168 Replace resource URI with inline yaml in devfile
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-devfile.feature
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-devfile.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/topology.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/devfile/__tests__/devfile-utils.spec.ts
  frontend/packages/dev-console/src/components/import/devfile/devfile-types.ts
  frontend/packages/dev-console/src/components/import/devfile/devfile-utils.ts
  frontend/packages/dev-console/src/components/import/devfile/devfileHooks.ts
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/git-service/src/services/base-service.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-page.ts
Labels: approved, lgtm, component/dev-console, component/git-service, docs-approved, qe-approved, px-approved, kind/i18n, component/topology

#12170 CONSOLE-3276: Expose ErrorBoundary capabilities in the SDK
  dynamic-demo-plugin/console-extensions.json
  dynamic-demo-plugin/locales/en/plugin__console-demo-plugin.json
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/src/components/ErrorBoundary/DemoErrorBoundary.tsx
  dynamic-demo-plugin/src/components/ErrorBoundary/SampleErrorBoundaryPage.tsx
  dynamic-demo-plugin/src/i18n.ts
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-shared/src/components/error/error-boundary.tsx
  frontend/packages/console-shared/src/components/error/fallbacks/ErrorBoundaryFallbackInline.tsx
  frontend/packages/console-shared/src/components/error/fallbacks/ErrorBoundaryFallbackPage.tsx
  frontend/packages/console-shared/src/components/error/fallbacks/ErrorDetailsBlock.tsx
  frontend/packages/console-shared/src/components/error/index.ts
  frontend/packages/console-shared/src/components/error/types.ts
Labels: approved, lgtm, component/shared, component/sdk, docs-approved, qe-approved, px-approved

#12185 chore(i18n): update translations: Completed-7034-OCP 4.12/Master Branch UI Localization- Sprint 224
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-shared/locales/ja/console-shared.json
  frontend/packages/console-shared/locales/ko/console-shared.json
  frontend/packages/console-shared/locales/zh/console-shared.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/ja/lso-plugin.json
  frontend/packages/metal3-plugin/locales/ja/metal3-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, component/shared, component/dev-console, component/kubevirt, component/knative, component/core, component/metal3, component/olm, component/lso, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines

#12015 CONSOLE 3250: Configure default behavior for "Wrap lines" in log viewers
  frontend/public/components/utils/resource-log.tsx
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved

#12139 Bug 2115347: Monitoring: Add support for Alertmanager negative matchers
  frontend/packages/console-dynamic-plugin-sdk/src/api/common-types.ts
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/labels.tsx
  frontend/public/components/monitoring/silence-form.tsx
  frontend/public/components/monitoring/utils.ts
  frontend/public/components/notification-drawer.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, component/sdk, bugzilla/severity-medium, docs-approved, px-approved, kind/i18n

#12078 CONSOLE-3336: Make dynamic plugin dependencies optional
  dynamic-demo-plugin/package.json
  frontend/packages/console-dynamic-plugin-sdk/README.md
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/__tests__/plugin-dependencies.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-dependencies.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/plugin-package.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/test-utils.ts
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved

#12151 CONSOLE-3224: Expose errorMessage and errorCause for failed plugins
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/__tests__/plugin-dependencies.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/__tests__/plugin-loader.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-init.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-loader.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/error/custom-error.ts
  frontend/packages/console-plugin-sdk/src/__tests__/store.spec.ts
  frontend/packages/console-plugin-sdk/src/store.ts
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved

#12144 [release-4.11] OCPBUGS-2077: Find latest pipeline run without firehose selector
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelinesResourceList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/hooks.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/list-page/PipelineAugmentRuns.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/list-page/PipelineAugmentRunsWrapper.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/list-page/PipelinesList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/list-page/__tests__/PipelineAugmentRunsWrapper.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-overview/TriggerLastRunButton.tsx
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-augment-test-data.ts
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-augment.spec.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-augment.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/severity-moderate

#12153 [release-4.9] OCPBUGS-2173: do not show NodesUpdateGroup if there are 0 nodes
  frontend/public/components/cluster-settings/cluster-settings.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/core, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-low

#12136 [release-4.9] OCPBUGS-2008: Show already loaded catalog items after a timeout (3sec)
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-catalog.feature
  frontend/packages/dev-console/integration-tests/features/e2e/add-flow-ci.feature
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/catalog-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-catalog.ts
  frontend/packages/dev-console/src/components/catalog/service/CatalogServiceProvider.tsx
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-navigation.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/create-knative-workload.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/common/common.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, component/knative, component/helm, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/severity-important

#12123 CONSOLE-3164: Move main nav components
  frontend/__tests__/components/nav/utils.spec.ts
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/nav/ExternalLink.tsx
  frontend/packages/console-app/src/components/nav/NavHeader.scss
  frontend/packages/console-app/src/components/nav/NavHeader.tsx
  frontend/packages/console-app/src/components/nav/NavItemHref.tsx
  frontend/packages/console-app/src/components/nav/NavItemResource.tsx
  frontend/packages/console-app/src/components/nav/NavLink.tsx
  frontend/packages/console-app/src/components/nav/NavSection.tsx
  frontend/packages/console-app/src/components/nav/PerspectiveNav.scss
  frontend/packages/console-app/src/components/nav/PerspectiveNav.tsx
  frontend/packages/console-app/src/components/nav/PinnedResource.scss
  frontend/packages/console-app/src/components/nav/PinnedResource.tsx
  frontend/packages/console-app/src/components/nav/PluginNavItem.tsx
  frontend/packages/console-app/src/components/nav/__tests__/PerspectiveNav.spec.tsx
  frontend/packages/console-app/src/components/nav/__tests__/perspective-nav.spec.tsx
  frontend/packages/console-app/src/components/nav/confirmNavUnpinModal.tsx
  frontend/packages/console-app/src/components/nav/index.tsx
  frontend/packages/console-app/src/components/nav/useNavExtensionForPerspective.ts
  frontend/packages/console-app/src/components/nav/useNavExtensionsForSection.ts
  frontend/packages/console-app/src/components/nav/utils.ts
  frontend/public/components/app.jsx
  frontend/public/components/search.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, ok-to-test, component/core, docs-approved, qe-approved, px-approved, kind/i18n

#12193 OCPBUGS-1950: Devfile samples (in Developer Catalog) link doesn't include the current selected namespace
  frontend/packages/dev-console/src/components/catalog/providers/__tests__/useDevfileSamples.data.ts
  frontend/packages/dev-console/src/components/catalog/providers/__tests__/useDevfileSamples.spec.ts
  frontend/packages/dev-console/src/components/catalog/providers/useDevfileSamples.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, jira/valid-bug, jira/severity-low

#12213 Bug 2110256: Storage -> PVC -> upload data, does not support source reference
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
  frontend/packages/kubevirt-plugin/src/selectors/vm-template/advanced.ts
  frontend/packages/kubevirt-plugin/src/types/types.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#12180 OCPBUGS-2478: Fix i18n issue in Remove component node from application modal
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/utils/moveNodeToGroup.tsx
Labels: approved, lgtm, bugzilla/valid-bug, kind/i18n, component/topology, jira/valid-bug

#12181 OCPBUGS-2909: Fix documentation link which leads to 404
  frontend/packages/knative-plugin/README.md
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, component/knative, jira/valid-bug, jira/severity-informational

#12157 OCPBUGS-2651: Show focus border on pipeline run nodes
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/PipelineTaskNode.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/PipelineTaskNode.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/pipelines, jira/valid-bug, jira/severity-moderate

#12109 add tab extension to dev console
  dynamic-demo-plugin/console-extensions.json
  frontend/packages/console-dynamic-plugin-sdk/docs/console-extensions.md
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/horizontal-nav-tabs.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
  frontend/packages/dev-console/src/components/monitoring/MonitoringPage.tsx
  frontend/public/components/utils/horizontal-nav.tsx
Labels: approved, lgtm, component/dev-console, component/core, component/sdk, docs-approved, qe-approved, px-approved

#12220 OCPBUGS-2894: UI crash when storage class had missing annotation
  frontend/packages/kubevirt-plugin/src/components/create-vm/create-vm.tsx
  frontend/packages/kubevirt-plugin/src/selectors/config-map/sc-defaults.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, backport-risk-assessed, jira/severity-critical, jira/valid-bug

#12165 Create-Knative-Workload | Knative Serverless
  frontend/packages/knative-plugin/integration-tests/features/serverless/create-knative-workload.feature
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/create-knative-workload.ts
Labels: approved, lgtm, component/knative, docs-approved, qe-approved, px-approved

#12164 [release-4.10] Bug 2052469: Filter template list for boot source available
  frontend/packages/kubevirt-plugin/src/components/create-vm/tabs/select-template.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, bugzilla/severity-medium, backport-risk-assessed

#12206 OCPBUGS-1061: Monitoring: Fix permission check for Prometheus & Alertmanager pollers
  frontend/public/components/notification-drawer.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/core, kind/i18n, jira/valid-bug, jira/severity-moderate

#12161 [release-4.10] Bug 2090127: Remove nodeSelectorTerms if not defined
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/helpers.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, bugzilla/severity-medium, backport-risk-assessed

#12172 Bug 2071517: Fix swap usage queries for Top Consumers card in virtualization Overview page
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/top-consumers-card/queries.ts
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/top-consumers-card/utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, bugzilla/severity-medium, backport-risk-assessed

#12103 CONSOLE-3077: Promote ConsolePlugins API version to v1 in console repository
  dynamic-demo-plugin/README.md
  dynamic-demo-plugin/oc-manifest.yaml
  frontend/public/models/index.ts
  frontend/public/module/k8s/types.ts
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved
