Repository openshift/console, pull requests merged in 2022-08, with the labels that each got.

#11887 Bug 2100103: Can't delete rootdisk in customization wizard
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/main-actions/create-vm.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/main-actions/dispose-wizard.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/redux/actions/diskActions.ts
  frontend/packages/kubevirt-plugin/src/redux/index.ts
  frontend/packages/kubevirt-plugin/src/redux/reducers/storage-new-reducer-delete-rootdisk.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, bugzilla/severity-high, backport-risk-assessed

#11908 Bug 2112862: Fix broken Namespace CRUD e2e test
  frontend/packages/integration-tests-cypress/tests/crud/namespace-crud.spec.ts
  frontend/packages/integration-tests-cypress/views/list-page.ts
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high, kind/cypress

#11881 Bug 2099795: README file for helm charts encoded in Chinese shows messy characters in the UI
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/locales/ja/helm-plugin.json
  frontend/packages/helm-plugin/locales/ko/helm-plugin.json
  frontend/packages/helm-plugin/locales/zh/helm-plugin.json
  frontend/packages/helm-plugin/src/catalog/components/HelmReadmeLoader.tsx
  frontend/packages/helm-plugin/src/catalog/utils/catalog-utils.tsx
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium, kind/i18n, component/helm

#11914 Bug 2112910: Fix search redirect
  frontend/packages/kubevirt-plugin/src/components/vms/virtualization.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, bugzilla/severity-high, backport-risk-assessed

#11805 Bug 2001211: Resource usage measurement data display the concatenati…
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationItem.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/dashboard, bugzilla/severity-low, kind/i18n

#11896 Bug 1951901: incorrect Worker nodes number calculated when nodes have…
  frontend/packages/console-app/src/components/nodes/NodesPage.tsx
  frontend/packages/console-shared/src/selectors/node.ts
  frontend/public/components/factory/table-filters.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/core, bugzilla/severity-low

#11903 Bug 2112481: Fix visual inconsistencies across synched editor forms
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/network-policies/create-network-policy.tsx
  frontend/packages/console-app/src/components/pdb/PDBFormPage.tsx
  frontend/packages/console-shared/src/components/formik-fields/RadioGroupField.scss
  frontend/packages/console-shared/src/components/formik-fields/SyncedEditorField.scss
  frontend/packages/console-shared/src/components/formik-fields/YAMLEditorField.scss
  frontend/packages/console-shared/src/components/synced-editor/styles.scss
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradeForm.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/public/style/_layout.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/core, component/olm, bugzilla/severity-medium, kind/i18n, component/helm, component/pipelines

#11838 Bug 2105918, Bug 2105303: specify namespace and index entry along with chart url to get the chart details
  frontend/packages/helm-plugin/src/catalog/components/HelmReadmeLoader.tsx
  frontend/packages/helm-plugin/src/catalog/utils/catalog-utils.tsx
  frontend/packages/helm-plugin/src/components/__tests__/helm-release-mock-data.ts
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmChartVersionDropdown.tsx
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradeForm.tsx
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradePage.tsx
  frontend/packages/helm-plugin/src/utils/__tests__/helm-utils.spec.ts
  frontend/packages/helm-plugin/src/utils/helm-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium, component/helm

#11895 Bug 2084504: can not silence platform alert from developer console
  frontend/packages/dev-console/src/components/monitoring/alerts/SilenceDurationDropdown.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-low, docs-approved, qe-approved, px-approved

#11870 CONSOLE-3140: Expose ResourceIcon to dynamic-plugin-sdk
  dynamic-demo-plugin/src/components/ListPage.tsx
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/public/components/utils/resource-icon.tsx
Labels: approved, lgtm, component/core, component/sdk, docs-approved, qe-approved, px-approved

#11886 Bug 2111335: Cannot edit ssh even vm is stopped
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHForm/ssh-form-utils.ts
  frontend/packages/kubevirt-plugin/src/components/vms/vm-details.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
  frontend/packages/kubevirt-plugin/src/hooks/use-ssh-command.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-ssh-service.ts
  frontend/packages/kubevirt-plugin/src/selectors/service/selectors.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, bugzilla/severity-high, backport-risk-assessed

#11889 ODC-6740: Move Build v2 e2e tests from dev-console to shipwright-plugin package
  frontend/package.json
  frontend/packages/shipwright-plugin/integration-tests/.eslintrc
  frontend/packages/shipwright-plugin/integration-tests/OWNERS
  frontend/packages/shipwright-plugin/integration-tests/cypress.json
  frontend/packages/shipwright-plugin/integration-tests/features/e2e/shipwright-ci.feature
  frontend/packages/shipwright-plugin/integration-tests/package.json
  frontend/packages/shipwright-plugin/integration-tests/reporter-config.json
  frontend/packages/shipwright-plugin/integration-tests/support/commands/index.ts
  frontend/packages/shipwright-plugin/integration-tests/support/pageObjects/build-po.ts
  frontend/packages/shipwright-plugin/integration-tests/support/pageObjects/index.ts
  frontend/packages/shipwright-plugin/integration-tests/support/step-definitions/builds/shipwright-build-detail-page.ts
  frontend/packages/shipwright-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/shipwright-plugin/integration-tests/support/step-definitions/common/operators.ts
  frontend/packages/shipwright-plugin/integration-tests/testData/builds/shipwrightBuild.yaml
  frontend/packages/shipwright-plugin/integration-tests/testData/builds/shipwrightBuildRun.yaml
  frontend/packages/shipwright-plugin/integration-tests/testData/builds/shipwrightBuildStrategies.yaml
  frontend/packages/shipwright-plugin/integration-tests/tsconfig.json
  test-cypress.sh
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved

#11920 Add Cancel option and update the stop status for the PipelineRun
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/status/Status.tsx
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-runs.feature
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelineruns/logs/pipelineRunLogSnippet.ts
  frontend/packages/pipelines-plugin/src/test-data/pipeline-data.ts
  frontend/packages/pipelines-plugin/src/types/computedStatus.ts
  frontend/packages/pipelines-plugin/src/types/pipelineRun.ts
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-actions.spec.ts
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-augment.spec.ts
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-filter-reducer.spec.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-actions.tsx
  frontend/packages/pipelines-plugin/src/utils/pipeline-augment.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-filter-reducer.ts
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines

#11893 Gherkin for Builds v2 in Dev Console - Topology
  frontend/packages/shipwright-plugin/integration-tests/features/shipwright-build-in-topology.feature
  frontend/packages/shipwright-plugin/integration-tests/testData/workload/201-full-openshift-deployment-example.yaml
  frontend/packages/shipwright-plugin/integration-tests/testData/workload/202-full-openshift-deploymentconfig-example.yaml
  frontend/packages/shipwright-plugin/integration-tests/testData/workload/203-full-openshift-knative-service-example.yaml
Labels: approved, lgtm, docs-approved, qe-approved, px-approved

#11833 Add Resource type dropdown on the User preferences page
  frontend/packages/console-app/src/components/user-preferences/UserPreferenceCheckboxField.tsx
  frontend/packages/console-app/src/components/user-preferences/UserPreferenceDropdownField.tsx
  frontend/packages/console-app/src/components/user-preferences/UserPreferenceField.scss
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/user-preferences.ts
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/integration-tests/features/user-preferences/user-preferences-dev-perspective.feature
  frontend/packages/dev-console/integration-tests/support/pageObjects/userPreference-po.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/userPreferences/user-preferences-dev-perspective.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/section/ResourceSection.tsx
  frontend/packages/dev-console/src/components/import/section/useResourceType.ts
  frontend/packages/dev-console/src/const.ts
Labels: approved, lgtm, component/dev-console, component/core, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n

#11897 CONSOLE-3188: Add alert with message for Console plugins page when console operator spec.managementState is Unmanaged
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/console-operator/ConsoleOperatorConfig.tsx
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n

#11898 Bug 2107469: Fix service-binding modal sub-title text when the target is available
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/modals/service-binding/CreateServiceBindingForm.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low, kind/i18n

#11937 Bug 2115799: Fix Resource selection for import flow
  frontend/packages/dev-console/src/components/import/section/useResourceType.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-high

#11871 Bug 2110525: Clear the error when switching between the Form and YAML editor
  frontend/packages/console-shared/src/components/formik-fields/SyncedEditorField.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/shared, bugzilla/severity-low

#11928 Bug 2114488: Fix Monitoring Alert decorator icon color in Topology
  frontend/packages/console-shared/src/components/alerts/AlertSeverityIcon.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, bugzilla/severity-medium

#11934 Bug 2102341: Include min-width on operator icon img so that Firefox displays them correctly
  frontend/public/components/catalog/_catalog.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#11859 Bug 2109511: fix failed PipelineRun log texts color in light mode
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunLogs.scss
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium, component/pipelines

#11791 Bug 2111686: [OKD/nanokube] Fix NPE when project or build status is not defined
  frontend/packages/console-shared/src/components/namespace/filters.ts
  frontend/public/components/build.tsx
  frontend/public/components/dashboard/project-dashboard/status-card.tsx
  frontend/public/components/namespace.jsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/shared, component/dashboard, component/core, bugzilla/severity-low

#11932 Revert "Bug 2100103: Can't delete rootdisk in customization wizard"
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/main-actions/create-vm.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/main-actions/dispose-wizard.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/redux/actions/diskActions.ts
  frontend/packages/kubevirt-plugin/src/redux/index.ts
  frontend/packages/kubevirt-plugin/src/redux/reducers/storage-new-reducer-delete-rootdisk.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, bugzilla/severity-high, backport-risk-assessed

#11919 CONSOLE-3244: Make status.HostIP for Pods visible in the OCP Web Console
  frontend/public/components/pod.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n

#11866 Allow editing of Repositories using the form-yaml experience
  frontend/packages/helm-plugin/console-extensions.json
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-page-tabs.feature
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-navigation.ts
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/src/actions/creators.ts
  frontend/packages/helm-plugin/src/actions/providers.ts
  frontend/packages/helm-plugin/src/catalog/components/HelmCatalogTypeDescription.tsx
  frontend/packages/helm-plugin/src/components/forms/HelmChartRepository/CreateHelmChartRepository.tsx
  frontend/packages/helm-plugin/src/components/forms/HelmChartRepository/CreateHelmChartRepositoryForm.tsx
  frontend/packages/helm-plugin/src/components/forms/HelmChartRepository/CreateHelmChartRepositoryFormEditor.tsx
  frontend/packages/helm-plugin/src/components/forms/HelmChartRepository/CreateHelmChartRepositoryPage.tsx
  frontend/packages/helm-plugin/src/components/forms/HelmChartRepository/helmchartrepository-create-utils.ts
  frontend/packages/helm-plugin/src/components/list-page/HelmChartRepositoryHeader.tsx
  frontend/packages/helm-plugin/src/components/list-page/HelmChartRepositoryRow.tsx
  frontend/packages/helm-plugin/src/components/list-page/HelmTabbedPage.tsx
  frontend/packages/helm-plugin/src/components/list-page/ProjectHelmChartRepositoryListPage.tsx
  frontend/packages/helm-plugin/src/components/list-page/ProjectHelmChartRepositoryRow.tsx
  frontend/packages/helm-plugin/src/components/list-page/RepositoriesList.tsx
  frontend/packages/helm-plugin/src/components/list-page/RepositoriesRow.tsx
  frontend/packages/helm-plugin/src/utils/helm-tab-utils.ts
  frontend/public/components/utils/kebab.tsx
Labels: approved, lgtm, component/shared, component/dev-console, component/knative, component/core, docs-approved, qe-approved, px-approved, kind/i18n, component/helm, component/pipelines

#11904 Updated dynamic demo plugin instructions
  dynamic-demo-plugin/README.md
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/start-console.sh
Labels: approved, lgtm, docs-approved, qe-approved, px-approved

#11947 Bug 2116415: e2e: Disable Shipwright e2e tests
  test-cypress.sh
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium

#11933 [release-4.11] Bug 2115315: fix helm readme bug
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/locales/ja/helm-plugin.json
  frontend/packages/helm-plugin/locales/ko/helm-plugin.json
  frontend/packages/helm-plugin/locales/zh/helm-plugin.json
  frontend/packages/helm-plugin/src/catalog/components/HelmReadmeLoader.tsx
  frontend/packages/helm-plugin/src/catalog/utils/catalog-utils.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium, kind/i18n, component/helm, backport-risk-assessed

#11854 [release-4.11] Bug 2109052: Unset the overflow to display sub menu content
  frontend/packages/console-shared/src/components/actions/menu/ActionMenu.scss
  frontend/packages/console-shared/src/components/actions/menu/ActionMenu.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/shared, bugzilla/severity-medium, backport-risk-assessed

#11921 Capture telemetry event for Export application action
  frontend/packages/topology/src/components/export-app/ExportApplicationModal.tsx
Labels: approved, kind/feature, lgtm, component/dev-console, component/kubevirt, component/knative, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n, component/helm, component/topology, component/pipelines

#11784 Monitoring: Clean up imports and types
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/dashboards/custom-time-range-modal.tsx
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/dashboards/single-stat.tsx
  frontend/public/components/monitoring/dashboards/table.tsx
  frontend/public/components/monitoring/dashboards/useFetchDashboards.ts
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/components/monitoring/poll-interval-dropdown.tsx
  frontend/public/components/monitoring/promql-expression-input.tsx
  frontend/public/components/monitoring/query-browser.tsx
  frontend/public/components/monitoring/table-pagination.tsx
  frontend/public/components/monitoring/targets.tsx
  frontend/public/components/monitoring/types.ts
  frontend/public/components/monitoring/utils.ts
  frontend/public/components/notification-drawer.tsx
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved

#11943 Bug 2115280: kubevirt-e2e-aws see two duplicated navigation items
  frontend/package.json
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high, kind/i18n

#11951 Bug 2117367: Include referenced .scss files when building core plugin SDK package
  frontend/packages/console-dynamic-plugin-sdk/scripts/package-definitions.ts
  frontend/packages/console-dynamic-plugin-sdk/tsconfig-base.json
Labels: approved, lgtm, bugzilla/valid-bug, component/sdk, bugzilla/severity-unspecified

#11945 Bug 2103090: - Storage - StorageClasses - Create StorageClass - Provisioner: Upon selection of Provisoner i18n misses
  frontend/public/components/storage-class-form.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low, kind/i18n

#11874 Bug 2109502: improve bug report links
  frontend/public/module/k8s/cluster-settings.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium, kind/i18n

#11958 Bug 2091555: - Sort function doesn't work on "Namespaces" column on operator details page
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, bugzilla/severity-medium

#11949 Bug 2094502: Fix bug where the create required custom resource button points to the wrong namespace.
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-install-page.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, bugzilla/severity-medium

#11876 CONSOLE-3179: Add deprecation note for react-helmet
  frontend/packages/console-dynamic-plugin-sdk/README.md
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved

#11955 Bug 2117738: reset ErrorBoundary state on location change
  frontend/packages/console-shared/src/components/error/error-boundary.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, bugzilla/severity-medium

#11961 Monitoring: Import enums from dynamic plugin SDK
  frontend/packages/console-shared/src/components/alerts/AlertSeverityIcon.tsx
  frontend/packages/console-shared/src/utils/__mocks__/alerts-and-rules-data.ts
  frontend/packages/console-shared/src/utils/__tests__/alert-utils.spec.ts
  frontend/packages/console-shared/src/utils/alert-utils.ts
  frontend/packages/dev-console/src/components/monitoring/alerts/SilenceAlert.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/SilenceDurationDropdown.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/__tests__/monitoring-alerts-utils.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/monitoring-alerts-utils.tsx
  frontend/packages/dev-console/src/components/monitoring/overview/__tests__/MonitoringOverview.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/overview/monitoring-overview-alerts-utils.ts
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/HighPriorityAlerts.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/WorkloadNode.tsx
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/silence-form.tsx
  frontend/public/components/monitoring/types.ts
  frontend/public/reducers/observe.ts
Labels: approved, lgtm, component/shared, component/dev-console, component/kubevirt, component/monitoring, component/core, docs-approved, qe-approved, px-approved, component/topology

#11950 [release-4.10] Bug 2117351: fix helm readme bug
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/locales/ja/helm-plugin.json
  frontend/packages/helm-plugin/locales/ko/helm-plugin.json
  frontend/packages/helm-plugin/locales/zh/helm-plugin.json
  frontend/packages/helm-plugin/src/catalog/components/HelmReadmeLoader.tsx
  frontend/packages/helm-plugin/src/catalog/utils/catalog-utils.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium, kind/i18n, component/helm, backport-risk-assessed

#11793 CONSOLE-3166, Bug 2116973: Refactor nav components and console app nav extensions
  frontend/__tests__/components/nav/utils.spec.ts
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/navigation.ts
  frontend/packages/console-shared/src/utils/utils.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/operators-po.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-b/ssh-advanced-wizard-testing.includes.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-b/ssh-secret-testing.includes.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-b/ssh-service-testing.includes.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-b/ssh-vm-details-page-testing.includes.ts
  frontend/public/components/nav/NavItemHref.tsx
  frontend/public/components/nav/NavItemResource.tsx
  frontend/public/components/nav/NavLink.tsx
  frontend/public/components/nav/NavLinkHref.tsx
  frontend/public/components/nav/NavLinkResourceCluster.tsx
  frontend/public/components/nav/NavLinkResourceNS.tsx
  frontend/public/components/nav/NavLinkRoot.tsx
  frontend/public/components/nav/NavSection.tsx
  frontend/public/components/nav/PerspectiveNav.tsx
  frontend/public/components/nav/PinnedResource.tsx
  frontend/public/components/nav/PluginNavItem.tsx
  frontend/public/components/nav/PluginNavItems.tsx
  frontend/public/components/nav/__tests__/perspective-nav.spec.tsx
  frontend/public/components/nav/useNavExtensionsForSection.ts
  frontend/public/components/nav/utils.ts
  frontend/public/components/utils/firehose.jsx
  frontend/public/kinds.ts
Labels: approved, lgtm, tide/merge-method-squash, bugzilla/valid-bug, component/shared, component/dev-console, component/kubevirt, component/core, component/sdk, bugzilla/severity-medium, docs-approved, qe-approved, px-approved

#11960 OCPBUGS-180: Change 'Role' title to 'Roles'
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/nodes/NodesPage.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/DetailsCard.tsx
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, component/core, kind/i18n, jira/valid-bug, jira/severity-low

#11963 OCPBUGS-238: enable knative e2e in ci
  frontend/packages/dev-console/integration-tests/support/pages/functions/knativeSubscriptions.ts
  test-cypress.sh
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, jira/valid-bug, jira/severity-important

#11883 Bug 2080260: Update OLM pages to use details and list page extensions for operands when they exist
  frontend/packages/console-shared/src/hooks/useResourceDetailsPage.ts
  frontend/packages/console-shared/src/hooks/useResourceDetailsPages.tsx
  frontend/packages/console-shared/src/hooks/useResourceListPage.ts
  frontend/packages/console-shared/src/hooks/useResourceListPages.tsx
  frontend/packages/container-security/src/plugin.ts
  frontend/packages/dev-console/src/components/builds/BuildsTabListPage.tsx
  frontend/packages/integration-tests-cypress/views/list-page.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-global.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-single-namespace.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-uninstall.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/views/operator.view.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/operand-link.tsx
  frontend/packages/operator-lifecycle-manager/src/components/topology/sidebar/TopologyOperatorBackedResources.tsx
  frontend/public/components/factory/ListPage/ListPageCreate.tsx
  frontend/public/components/resource-list.tsx
  frontend/public/components/utils/managed-by.tsx
  frontend/public/components/utils/resource-link.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/dev-console, component/core, component/olm, bugzilla/severity-low, kind/cypress

#11944 Update pf packages to pf-2022-9
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/yarn.lock
  frontend/package.json
  frontend/yarn.lock
Labels: approved, lgtm, tide/merge-method-squash, docs-approved, qe-approved, px-approved

#11966 Bug 2117642: Backport CI test fix to relase 4.10
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/create-namespace.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/olm, bugzilla/severity-medium, qe-approved, backport-risk-assessed

#11878 correcting nightly failures: topology
  frontend/packages/dev-console/integration-tests/support/pages/functions/createGitWorkload.ts
  frontend/packages/topology/integration-tests/features/export-application/export-of-applicaton.feature
  frontend/packages/topology/integration-tests/features/topology/pipelines-on-topology.feature
  frontend/packages/topology/integration-tests/features/topology/topology-chart-area-visual.feature
  frontend/packages/topology/integration-tests/features/topology/topology-display-filter.feature
  frontend/packages/topology/integration-tests/features/topology/topology-workload-sidebar.feature
  frontend/packages/topology/integration-tests/support/page-objects/export-applications-po.ts
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/pages/functions/chart-functions.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-page.ts
  frontend/packages/topology/integration-tests/support/step-definitions/common/topology.ts
  frontend/packages/topology/integration-tests/support/step-definitions/export-application/export-of-application.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/chart-view.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/edit-workload.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/pipelines-on-topology.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/topology-filters.ts
Labels: approved, lgtm, component/dev-console, component/kubevirt, component/monitoring, component/core, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n, component/helm, component/topology

#11758 Bug 2091102: Name of workload get changed, when project and image stream gets changed on edit deployment page of the workload
  frontend/packages/dev-console/src/components/edit-deployment/EditDeployment.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-medium

#11959 Query browser: Use PatternFly components directly for Actions and kebab dropdown menus
  frontend/public/components/monitoring/metrics.tsx
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved

#11967 Bug 2091573: Input values in Instantiate Template are disappeared randomly in the developer console
  frontend/public/components/instantiate-template.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-high

#11163 RHSTOR-3593: Add basic support for Modals
  dynamic-demo-plugin/console-extensions.json
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/src/components/Modals/ModalPage.tsx
  dynamic-demo-plugin/src/components/Modals/modal.scss
  frontend/packages/ceph-storage-plugin/src/plugin.ts
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/modal-support/ModalProvider.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/modal-support/useModal.ts
  frontend/packages/console-plugin-sdk/src/typings/clusterserviceversions.ts
  frontend/packages/console-plugin-sdk/src/typings/index.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
  frontend/public/components/app.jsx
Labels: approved, lgtm, lifecycle/stale, component/ceph, component/core, component/sdk, component/olm, docs-approved, qe-approved, px-approved

#11891 correcting nightly failures: pipelines
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-builder-page.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipeline-metrics.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-as-code.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-runs.feature
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-from-builder-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipeline-as-code.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipeline-metrics.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-runs.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/pipelines

#11948 create kafkaSink support in catalog
  frontend/packages/dev-console/integration-tests/support/constants/pageTitle.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/operators-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/installOperatorOnCluster.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/knativeSubscriptions.ts
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/integration-tests/cypress.json
  frontend/packages/knative-plugin/integration-tests/features/eventing/kafka-event-sink.feature
  frontend/packages/knative-plugin/integration-tests/support/pageObjects/global-po.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/eventing/kafka-event-sink.ts
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/catalog/event-sink-data.ts
  frontend/packages/knative-plugin/src/catalog/index.ts
  frontend/packages/knative-plugin/src/catalog/useKafkaSinkProvider.ts
  frontend/packages/knative-plugin/src/components/add/EventSink.tsx
  frontend/packages/knative-plugin/src/components/add/EventSinkPage.tsx
  frontend/packages/knative-plugin/src/components/add/__mocks__/Kamelet-data.ts
  frontend/packages/knative-plugin/src/components/add/__tests__/EventSink.spec.tsx
  frontend/packages/knative-plugin/src/components/add/__tests__/EventSinkPage.spec.tsx
  frontend/packages/knative-plugin/src/components/add/event-sinks/EventSinkSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sinks/KafkaSinkSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sinks/__mocks__/event-kafka-sink-data.ts
  frontend/packages/knative-plugin/src/components/add/event-sinks/__tests__/EventSinkSection.spec.tsx
  frontend/packages/knative-plugin/src/components/add/event-sinks/__tests__/KafkaSinkSection.spec.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/KafkaSourceSection.tsx
  frontend/packages/knative-plugin/src/components/add/eventSink-validation-utils.ts
  frontend/packages/knative-plugin/src/components/add/import-types.ts
  frontend/packages/knative-plugin/src/hooks/__tests__/useBootstrapServers.spec.ts
  frontend/packages/knative-plugin/src/hooks/index.ts
  frontend/packages/knative-plugin/src/hooks/useBootstrapServers.ts
  frontend/packages/knative-plugin/src/hooks/useEventSinkStatus.ts
  frontend/packages/knative-plugin/src/utils/__tests__/create-eventsink-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/create-eventsink-utils.ts
  frontend/packages/knative-plugin/src/utils/get-knative-icon.ts
  frontend/packages/knative-plugin/src/utils/get-knative-resources.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-page.ts
Labels: approved, lgtm, component/dev-console, component/knative, docs-approved, qe-approved, px-approved, kind/i18n, component/topology

#11923 Include ActionServiceProvider in dynamic-plugin-sdk
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/actions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-shared/src/components/actions/ActionServiceProvider.tsx
  frontend/packages/console-shared/src/components/actions/__tests__/utils.spec.ts
  frontend/packages/console-shared/src/components/actions/menu/ActionMenu.tsx
  frontend/packages/console-shared/src/components/actions/menu/ActionMenuContent.tsx
  frontend/packages/console-shared/src/components/actions/types.ts
  frontend/packages/console-shared/src/components/actions/utils.ts
  frontend/packages/topology/src/actions/contextMenuActions.tsx
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/metrics.tsx
Labels: approved, lgtm, component/shared, component/monitoring, component/core, component/sdk, docs-approved, qe-approved, px-approved, component/topology

#11802 Bug 2102681: Fix zh locale (greater than pod)
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, component/core, bugzilla/severity-low, kind/i18n

#11940 chore(i18n): update translations: Completed-7034-OCP 4.12 UI Localization- sprint 221
  frontend/packages/ceph-storage-plugin/locales/ja/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/ja/console-shared.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-shared/locales/ja/console-shared.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/helm-plugin/locales/ja/helm-plugin.json
  frontend/packages/helm-plugin/locales/ko/helm-plugin.json
  frontend/packages/helm-plugin/locales/zh/helm-plugin.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/metal3-plugin/locales/ja/metal3-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/operator-lifecycle-manager/locales/ko/olm.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ko/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/packages/rhoas-plugin/locales/ja/rhoas-plugin.json
  frontend/packages/service-binding-plugin/locales/ja/service-binding-plugin.json
  frontend/packages/shipwright-plugin/locales/ja/shipwright-plugin.json
  frontend/packages/topology/locales/ja/topology.json
  frontend/packages/topology/locales/ko/topology.json
  frontend/packages/topology/locales/zh/topology.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, component/shared, component/dev-console, component/kubevirt, component/knative, component/ceph, component/core, component/metal3, component/olm, docs-approved, qe-approved, px-approved, kind/i18n, component/helm, component/topology, component/pipelines

#11973 [release-4.9] OCPBUGS-410: show Limit exceeded state for large number of nodes in topology
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/page/LimitExceededState.tsx
  frontend/packages/topology/src/components/page/TopologyView.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, kind/i18n, component/topology, backport-risk-assessed, jira/valid-bug, jira/severity-important

#11988 OCPBUGS-435: Dropdown items on storageclass creation page need i18n support
  frontend/public/components/storage-class-form.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/core, kind/i18n, jira/valid-bug

#11925 Add functionality to add kafka-sinks as subscriber, trigger and event-source sink target
  frontend/packages/knative-plugin/integration-tests/features/eventing/kafka-event-sink.feature
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/eventing/kafka-event-sink.ts
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/components/add/event-sources/form-fields/SinkResources.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/form-fields/__tests__/SinkResources.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/EventPubSubResources.tsx
  frontend/packages/knative-plugin/src/topology/components/knativeComponentFactory.ts
  frontend/packages/knative-plugin/src/topology/components/knativeComponentUtils.ts
  frontend/packages/knative-plugin/src/topology/components/nodes/EventSink.tsx
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
  frontend/packages/knative-plugin/src/utils/__tests__/get-knative-resources.spec.ts
  frontend/packages/knative-plugin/src/utils/get-knative-resources.ts
Labels: approved, kind/feature, lgtm, component/knative, docs-approved, qe-approved, px-approved, kind/i18n

#11990 [release-4.8] OCPBUGS-604: Backport CI test fix to previous releases
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/create-namespace.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/olm, qe-approved, backport-risk-assessed, jira/valid-bug

#11917 Bug 2112999: Replace sum_irate with sum_rate for Deployments CPU graph
  frontend/packages/console-shared/src/promql/resource-metrics.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/shared, bugzilla/severity-medium, qe-approved, backport-risk-assessed

#11782 HELM-342: Add basic authentication support for Helm repositories
  docs/helm/README.md
  docs/helm/configure-namespaced-helm-repos.md
  go.mod
  go.sum
  pkg/helm/actions/auth.go
  pkg/helm/actions/get_chart_test.go
  pkg/helm/actions/install_chart_test.go
  pkg/helm/actions/setup_test.go
  pkg/helm/actions/template_test.go
  pkg/helm/actions/testdata/cacertCreate.sh
  pkg/helm/actions/testdata/chartmuseum-stop.sh
  pkg/helm/actions/testdata/chartmuseumWithBasicAuth.sh
  pkg/helm/actions/testdata/uploadCharts.sh
  pkg/helm/actions/testdata/uploadChartsWithBasicAuth.sh
  pkg/helm/actions/testdata/uploadChartsWithoutTls.sh
  pkg/helm/chartproxy/repos.go
  pkg/helm/chartproxy/testdata/cacertCreate.sh
  pkg/helm/chartproxy/testdata/chartmuseum-stop.sh
  pkg/helm/chartproxy/testdata/uploadCharts.sh
  vendor/github.com/openshift/api/config/v1/0000_00_cluster-version-operator_01_clusterversion.crd.yaml
  vendor/github.com/openshift/api/config/v1/types_cluster_version.go
  vendor/github.com/openshift/api/helm/v1beta1/0000_10-project-helm-chart-repository.crd.yaml
  vendor/github.com/openshift/api/helm/v1beta1/types_project_helm_chart_repository.go
  vendor/github.com/openshift/api/helm/v1beta1/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: approved, lgtm, component/backend, docs-approved, qe-approved, px-approved

#11991 OU-59: Query browser: Remove the metrics list dropdown
  frontend/public/actions/observe.ts
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/locales/en/public.json
  frontend/public/reducers/observe.ts
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved, kind/i18n

#11998 OWNERS: add jerolimov to approvers
  OWNERS
Labels: approved, lgtm, docs-approved, qe-approved, px-approved

#12003 OCPBUGS-451: show git icon in repository details page based on git provider
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryDetails.tsx
  frontend/packages/pipelines-plugin/src/components/repository/__tests__/repository-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/repository/__tests__/repository-utils.spec.tsx
  frontend/packages/pipelines-plugin/src/components/repository/repository-utils.ts
  frontend/packages/pipelines-plugin/src/components/repository/repository-utils.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/pipelines, jira/valid-bug, jira/severity-low

#11953 Add support for param of array type when starting a Pipeline
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-builder-page.feature
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-from-builder-page.ts
  frontend/packages/pipelines-plugin/integration-tests/testData/pipelineWithParameterTypeArray.yaml
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/__tests__/utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/PipelineParameterSection.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/__tests__/switch-to-form-validation-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/switch-to-form-validation-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/utils.ts
Labels: approved, kind/feature, lgtm, docs-approved, qe-approved, px-approved, component/pipelines

#11867 Bug 2109854: Fix description for Max unavailable and Max surge
  frontend/public/components/modals/configure-update-strategy-modal.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, component/core, bugzilla/severity-low, kind/i18n

#11901 [release-4.11] Bug 2102335: Implement dynamic plugin dependency resolution
  cmd/bridge/main.go
  frontend/.vscode/settings.json
  frontend/@types/console/index.d.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/__tests__/plugin-dependencies.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/__tests__/plugin-loader.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/__tests__/plugin-utils.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-dependencies.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-loader.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-utils.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/plugin-package.ts
  pkg/server/server.go
  pkg/serverconfig/config.go
  pkg/serverconfig/types.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/sdk, component/backend, bugzilla/severity-high, qe-approved, backport-risk-assessed

#12006 OCPBUGS-704: Disable knative test suite
  test-cypress.sh
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug
