Repository openshift/console, pull requests merged in 2022-12, with the labels that each got.

#12294 CONSOLE-3282: add Dynamic plugins to about modal
  frontend/public/components/about-modal.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n

#12318 OCPBUGS-4206: fix getContainerStateValue i18n
  frontend/public/components/container.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, jira/valid-bug, jira/severity-low

#12280 OCPBUGS-3771: Add managed cluster proxy endpoint env var to multicluster-environment.sh script
  contrib/multicluster-environment.sh
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug, jira/severity-low

#12321 OCPBUGS-3896: Make aria-expanded state label reflect correct expanded state in the masthead navigation button
  frontend/public/components/app.jsx
  frontend/public/components/masthead.jsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, jira/valid-bug

#12324 Monitoring: Extract Alertmanager config related code
  frontend/integration-tests/tests/alertmanager.scenario.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/cluster-setup-alert-receiver-link.ts
  frontend/public/components/modals/alert-routing-modal.tsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/alertmanager/alertmanager-config.tsx
  frontend/public/components/monitoring/alertmanager/alertmanager-page.tsx
  frontend/public/components/monitoring/alertmanager/alertmanager-utils.tsx
  frontend/public/components/monitoring/alertmanager/alertmanager-yaml-editor.tsx
  frontend/public/components/monitoring/receiver-forms/alert-manager-receiver-forms.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/dashboard, component/monitoring, component/core, docs-approved, qe-approved, px-approved, kind/i18n

#12334 OCPBUGS-4415: Disable shipwright tests again
  test-cypress.sh
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug

#12306 OCPBUGS-4110: fixes misaligned form footer btn controls for WTO
  frontend/packages/console-app/src/components/cloud-shell/setup/CloudShellDeveloperSetup.tsx
  frontend/packages/console-app/src/components/cloud-shell/setup/CloudShellSetupForm.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, jira/valid-bug, jira/severity-low

#12322 OCPBUGS-4252: fix issue where node debug terminal doesn't load
  frontend/packages/console-app/src/components/nodes/NodeTerminal.tsx
  frontend/packages/integration-tests-cypress/tests/app/node-terminal.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/core, kind/cypress, jira/valid-bug, jira/severity-important

#12298 Bug 2077138: update pf-quickstart version
  frontend/package.json
  frontend/packages/console-shared/src/components/markdown-extensions/inline-execute-extension.ts
  frontend/packages/console-shared/src/components/markdown-extensions/multiline-execute-extension.ts
  frontend/yarn.lock
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, bugzilla/severity-low

#12300 CONSOLE-3367: Back end code for passing up hubConsoleURL to the GUI
  cmd/bridge/main.go
  frontend/@types/console/index.d.ts
  pkg/server/server.go
Labels: approved, lgtm, tide/merge-method-squash, component/backend, docs-approved, qe-approved, px-approved

#12316 OCPBUGS-4047: delete each created secret in case first test attempt r…
  frontend/packages/integration-tests-cypress/tests/crud/secrets.spec.ts
  frontend/packages/integration-tests-cypress/views/secret.ts
Labels: approved, lgtm, bugzilla/valid-bug, kind/cypress, jira/valid-bug

#12341 OCPBUGS-4518: Monitoring: Fix alert descriptions with duplicate resources
  frontend/public/components/monitoring/alerting.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, jira/valid-bug

#12331 OCPBUGS-2525: migrate CRD extensions tests to Cypress to mitigate flakes
  frontend/integration-tests/protractor.conf.ts
  frontend/integration-tests/tests/crd-extensions.scenario.ts
  frontend/packages/integration-tests-cypress/tests/crd-extensions/console-cli-download.spec.ts
  frontend/packages/integration-tests-cypress/tests/crd-extensions/console-external-log-link.spec.ts
  frontend/packages/integration-tests-cypress/tests/crd-extensions/console-link.spec.ts
  frontend/packages/integration-tests-cypress/tests/crd-extensions/console-notification.spec.ts
  frontend/public/components/utils/resource-log.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, kind/cypress, jira/valid-bug

#12275 OU-75 New Query Added to the Beginning of List
  frontend/public/components/monitoring/metrics.tsx
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved

#12344 OCPBUGS-4540: Fix NavSection bug
  frontend/packages/console-app/src/components/nav/NavSection.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, jira/severity-critical, jira/valid-bug

#12326 Monitoring: Convert remaining kebab menus to use PatternFly directly
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/kebab-dropdown.tsx
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/components/monitoring/silence-form.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved, kind/i18n

#12301 Update helm and dev-console tests file
  frontend/packages/dev-console/integration-tests/features/addFlow/developer-catalog-details.feature
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/developer-catalog-details.ts
  frontend/packages/helm-plugin/integration-tests/features/helm/install-helm-chart.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/create-event-sources.feature
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/eventing/create-event-sources.ts
Labels: approved, lgtm, component/dev-console, component/knative, docs-approved, qe-approved, px-approved, component/helm

#12346 OCPBUGS-3863: Set proper return code for plugin handlers
  pkg/plugins/handlers.go
Labels: approved, lgtm, bugzilla/valid-bug, component/backend, jira/valid-bug

#12332 Bug 2110570: Topology sidebar: Edit pod count shows not the latest replicas value when edit the count again
  frontend/packages/topology/src/actions/TopologyActions.tsx
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium, component/topology

#12289 HELM-450: Return secret for async install/upgrade
  docs/helm/endpoints_api.md
  pkg/helm/actions/install_chart.go
  pkg/helm/actions/install_chart_test.go
  pkg/helm/actions/list_releases.go
  pkg/helm/actions/upgrade_release.go
  pkg/helm/actions/upgrade_release_test.go
  pkg/helm/actions/utility.go
  pkg/helm/handlers/handler_test.go
  pkg/helm/handlers/handlers.go
  pkg/server/server.go
Labels: approved, lgtm, component/backend, docs-approved, qe-approved, px-approved

#12312 CONSOLE-3371: Add missing children prop to ResourceLink
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved

#12339 OCPBUGS-4352: bump HorizontalPodAutoscaler to v2 and add redirect for…
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-shared/src/utils/__tests__/hpa-utils-data.ts
  frontend/packages/dev-console/src/components/hpa/__tests__/hpa-utils-data.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-serving-data.ts
  frontend/public/components/app-contents.tsx
  frontend/public/models/index.ts
  frontend/public/models/yaml-templates.ts
  frontend/public/module/k8s/types.ts
Labels: approved, lgtm, tide/merge-method-squash, bugzilla/valid-bug, component/shared, component/dev-console, component/knative, component/core, jira/valid-bug, jira/severity-important

#12347 OCPBUGS-3951: Do not disable dynamic plugin if extension coderef fail…
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-loader.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/sdk, jira/valid-bug, jira/severity-moderate

#12365 OCPBUGS-4691: Fix that topology sidebar actions shows outdated data (Edit labels, Edit annotations, etc.)
  frontend/packages/helm-plugin/src/actions/providers.ts
  frontend/packages/topology/src/actions/TopologyActions.tsx
  frontend/packages/topology/src/actions/provider.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/helm, component/topology, jira/valid-bug, jira/severity-moderate

#12292 OCPBUGS-3033: Update admin landing page if monitoring is disabled
  frontend/packages/console-app/src/utils/perspective.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, jira/valid-bug, jira/severity-moderate

#12340 "OCPBUGS-4512: Fix navsection bug"
  frontend/packages/console-app/src/components/nav/NavSection.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/core, backport-risk-assessed, jira/severity-critical, jira/valid-bug

#12343 Domain-Mapping feature | Knative Serverless
  frontend/packages/knative-plugin/integration-tests/features/serverless/domain-mapping.feature
  frontend/packages/knative-plugin/integration-tests/support/pageObjects/global-po.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/domain-mapping.ts
Labels: approved, lgtm, component/knative, docs-approved, qe-approved, px-approved

#12355 CONSOLE-3282: update display of Dynamic plugins in About modal
  frontend/public/components/about-modal.tsx
  frontend/public/locales/en/public.json
  frontend/public/style/_common.scss
Labels: approved, lgtm, tide/merge-method-squash, component/core, docs-approved, qe-approved, px-approved, kind/i18n

#12358 OCPBUGS-3761: close the guided tour modal before any action
  frontend/packages/integration-tests-cypress/tests/events/events.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, kind/cypress, jira/valid-bug

#12272 ODC-7179 : Allow users to see which pods are receiving traffic
  frontend/packages/console-app/src/models/index.ts
  frontend/packages/console-shared/src/components/pod/PodsOverview.tsx
  frontend/packages/dev-console/integration-tests/features/pod-list/pod-list-page.feature
  frontend/packages/dev-console/integration-tests/support/constants/global.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/global-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/pod-list.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/pod-list/pod-list-page.ts
  frontend/packages/topology/integration-tests/features/topology/topology-workload-sidebar.feature
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/workload-sidebar.ts
  frontend/public/components/filter-toolbar.tsx
  frontend/public/components/pod-traffic.tsx
  frontend/public/components/pod.tsx
  frontend/public/locales/en/public.json
  frontend/public/module/k8s/types.ts
Labels: approved, lgtm, component/shared, component/dev-console, component/core, docs-approved, qe-approved, px-approved, kind/i18n, component/topology

#12351 Sidebar-of-knative-revision-and-service| Knative Serverless
  frontend/packages/knative-plugin/integration-tests/features/serverless/side-bar-of-knative-revision-and-service.feature
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/side-bar-of-knative-revision-and-service.ts
Labels: approved, lgtm, component/knative, docs-approved, qe-approved, px-approved

#12283 ODC-7177: Add SBO label selector support for Topology page
  frontend/packages/console-app/src/actions/creators/common-factory.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/actions/providers.tsx
  frontend/packages/service-binding-plugin/locales/en/service-binding-plugin.json
  frontend/packages/service-binding-plugin/src/__tests__/mock-data.ts
  frontend/packages/service-binding-plugin/src/components/service-binding-details/ServiceBindingSummary.tsx
  frontend/packages/service-binding-plugin/src/components/service-binding-details/__tests__/ServiceBindingDetailsPage.spec.tsx
  frontend/packages/service-binding-plugin/src/components/service-binding-details/__tests__/ServiceBindingDetailsTab.spec.tsx
  frontend/packages/service-binding-plugin/src/types.ts
  frontend/packages/topology/integration-tests/features/topology/topology-chart-area-visual.feature
  frontend/packages/topology/integration-tests/support/page-objects/chart-area-po.ts
  frontend/packages/topology/integration-tests/support/pages/functions/chart-functions.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/chart-view.ts
  frontend/packages/topology/integration-tests/support/test-data/redis-standalone.yaml
  frontend/packages/topology/integration-tests/support/test-data/servicebinding-resource-label-selector.yaml
  frontend/packages/topology/src/__tests__/service-binding-test-data.ts
  frontend/packages/topology/src/operators/__tests__/operator-data-transformer.spec.ts
  frontend/packages/topology/src/operators/operators-data-transformer.ts
Labels: approved, lgtm, component/dev-console, component/core, docs-approved, qe-approved, px-approved, kind/i18n, component/topology

#12256 Bug 2100762: Adding data-checked-state to radio inputs
  frontend/packages/console-shared/src/components/formik-fields/RadioButtonField.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, bugzilla/severity-low

#12328 MGMT-12787: Move MarkdownView to plugins-shared
  frontend/__tests__/components/markdown-view.spec.tsx
  frontend/packages/console-plugin-shared/package.json
  frontend/packages/console-plugin-shared/src/components/Markdown/MarkdownView.scss
  frontend/packages/console-plugin-shared/src/components/Markdown/MarkdownView.tsx
  frontend/packages/console-plugin-shared/src/components/Markdown/index.ts
  frontend/packages/console-plugin-shared/src/components/index.ts
  frontend/packages/console-plugin-shared/src/hooks/index.ts
  frontend/packages/console-plugin-shared/src/hooks/useForceRender.ts
  frontend/packages/console-plugin-shared/src/hooks/useResizeObserver.ts
  frontend/packages/console-plugin-shared/src/index.ts
  frontend/packages/console-shared/src/hooks/useForceRender.ts
  frontend/packages/console-shared/src/hooks/useResizeObserver.ts
  frontend/packages/helm-plugin/src/components/details-page/__tests__/HelmReleaseNotes.spec.tsx
  frontend/packages/helm-plugin/src/topology/__tests__/TopologyHelmReleaseNotesPanel.spec.tsx
  frontend/public/components/markdown-view.tsx
Labels: approved, lgtm, component/shared, component/core, docs-approved, qe-approved, px-approved, component/helm

#12348 OCPBUGS-2525: improve newly migrated ConsoleLink test
  frontend/packages/integration-tests-cypress/tests/crd-extensions/console-link.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, kind/cypress, jira/valid-bug

#12359 OCPBUGS-3767: fixed node maintenance plugin route configuration for BareMetalNodesPage
  frontend/packages/metal3-plugin/src/plugin.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/metal3, jira/valid-bug, jira/severity-moderate

#12380 OCPBUGS-4975: Add missing translation in ceph stoage plugin
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/constants/bucket-class.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, kind/i18n, jira/valid-bug, jira/severity-informational

#11999 Bug 2005232: Pods list page should only show Create Pod button to user has sufficient permission
  frontend/public/components/pod.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low, jira/valid-bug

#12237 Bug 1948666: Fix to show correct help texts for each git repo status error code
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
  frontend/packages/git-service/src/services/__tests__/bitbucket-service.spec.ts
  frontend/packages/git-service/src/services/__tests__/github-service.spec.ts
  frontend/packages/git-service/src/services/bitbucket-service.ts
  frontend/packages/git-service/src/services/github-service.ts
  frontend/packages/git-service/src/services/gitlab-service.ts
  frontend/packages/git-service/src/types/repo.ts
  frontend/packages/git-service/src/utils/import-strategy-detector.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, component/git-service, bugzilla/severity-medium, kind/i18n

#12371 OU-122: Monitoring: Convert modals to use PatternFly directly
  frontend/packages/integration-tests-cypress/tests/monitoring/monitoring.spec.ts
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/dashboards/custom-time-range-modal.tsx
  frontend/public/components/monitoring/dashboards/timespan-dropdown.tsx
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved, kind/cypress

#12329 adds support for timeout and custom image in cloudshell
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/cloud-shell/CloudShellDrawer.tsx
  frontend/packages/console-app/src/components/cloud-shell/CloudShellTerminal.tsx
  frontend/packages/console-app/src/components/cloud-shell/MultiTabbedTerminal.scss
  frontend/packages/console-app/src/components/cloud-shell/cloud-shell-utils.ts
  frontend/packages/console-app/src/components/cloud-shell/setup/AdminNamespaceSection.tsx
  frontend/packages/console-app/src/components/cloud-shell/setup/CloudShellAdminSetup.tsx
  frontend/packages/console-app/src/components/cloud-shell/setup/CloudShellAdvancedOption.tsx
  frontend/packages/console-app/src/components/cloud-shell/setup/CloudShellDeveloperSetup.tsx
  frontend/packages/console-app/src/components/cloud-shell/setup/CloudShellSetupForm.tsx
  frontend/packages/console-app/src/components/cloud-shell/setup/ImageSection.tsx
  frontend/packages/console-app/src/components/cloud-shell/setup/TimeoutSection.tsx
  frontend/packages/console-app/src/components/cloud-shell/setup/__tests__/CloudShellSetupForm.spec.tsx
  frontend/packages/console-app/src/components/cloud-shell/setup/__tests__/cloud-shell-setup-utils.spec.ts
  frontend/packages/console-app/src/components/cloud-shell/setup/cloud-shell-setup-utils.ts
  frontend/packages/console-app/src/components/cloud-shell/setup/cloud-shell-types.ts
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/index.ts
  frontend/packages/console-shared/src/components/progressive-list/ProgressiveList.tsx
  frontend/packages/console-shared/src/components/progressive-list/ProgressiveListFooter.tsx
  frontend/packages/console-shared/src/components/progressive-list/ProgressiveListItem.scss
  frontend/packages/console-shared/src/components/progressive-list/ProgressiveListItem.tsx
  frontend/packages/console-shared/src/components/progressive-list/__tests__/ProgressiveList.spec.tsx
  frontend/packages/console-shared/src/components/progressive-list/__tests__/ProgressiveListFooter.spec.tsx
  frontend/packages/console-shared/src/components/progressive-list/__tests__/ProgressiveListItem.spec.tsx
  frontend/packages/console-shared/src/components/progressive-list/index.ts
  frontend/packages/dev-console/integration-tests/features/web-terminal/web-terminal-adminuser.feature
  frontend/packages/dev-console/integration-tests/features/web-terminal/web-terminal-devuser.feature
  frontend/packages/dev-console/integration-tests/support/step-definitions/web-terminal/web-Terminal-devuser.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/web-terminal/web-terminal-adminuser.ts
  frontend/packages/dev-console/src/components/buildconfig/BuildConfigFormEditor.tsx
  frontend/packages/dev-console/src/components/edit-deployment/AdvancedSection.tsx
  frontend/packages/dev-console/src/components/import/advanced/AdvancedSection.tsx
Labels: approved, lgtm, component/shared, component/dev-console, component/core, docs-approved, qe-approved, px-approved, kind/i18n

#12369 OCPBUGS-2824: The dropdown list component will be covered by deployment details page on Topology page
  frontend/packages/topology/src/components/side-bar/TopologySideBar.tsx
  frontend/packages/topology/src/components/side-bar/TopologySideBarTabSection.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/topology, jira/valid-bug, jira/severity-low

#12375 OCPBUGS-3314: Fix to use and set correct secretReference for build-config triggers
  frontend/packages/dev-console/src/components/buildconfig/form-utils/__tests__/convert-to-buildconfig.spec.ts
  frontend/packages/dev-console/src/components/buildconfig/form-utils/__tests__/convert-to-form.spec.ts
  frontend/packages/dev-console/src/components/buildconfig/form-utils/convert-to-buildconfig.ts
  frontend/packages/dev-console/src/components/buildconfig/form-utils/convert-to-form.ts
  frontend/packages/dev-console/src/components/buildconfig/sections/TriggersSection.tsx
  frontend/packages/dev-console/src/components/buildconfig/types.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/dev-console, jira/valid-bug, jira/severity-moderate

#12319 OCPBUGS-3373: Observe > Metrics > Monitors, Error Message to indicate limited view due to user privileges
  frontend/public/components/monitoring/targets.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, kind/i18n, jira/valid-bug, jira/severity-low

#12314 ODC-7182: add pinnedResources to server flags
  pkg/serverconfig/types.go
Labels: approved, lgtm, component/backend, docs-approved, qe-approved, px-approved

#12342 Monitoring: Convert Targets list page to use plugin SDK list filters
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/public/components/factory/ListPage/ListPageFilter.tsx
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/factory/table.tsx
  frontend/public/components/monitoring/targets.tsx
Labels: approved, lgtm, component/monitoring, component/core, component/sdk, docs-approved, qe-approved, px-approved

#12392 OCPBUGS-5165: Add DevSandbox specific telemetry config (to allow these cluster to enforce cluster type and opt-out)
  frontend/packages/console-shared/src/hooks/__tests__/useTelemetry.spec.ts
  frontend/packages/console-shared/src/hooks/useTelemetry.ts
  frontend/packages/console-telemetry-plugin/src/listeners/const.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, jira/valid-bug

#12391 OCPBUGS-5164: add support for version v1beta1 for knativeServing and knativeEventing
  frontend/packages/knative-plugin/console-extensions.json
Labels: approved, lgtm, bugzilla/valid-bug, component/knative, jira/valid-bug

#12349 ODC-7183: Provide a code snippet for adding pinned resources
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/utils/sample-utils.ts
Labels: approved, lgtm, component/shared, docs-approved, qe-approved, px-approved, kind/i18n

#12353 ODC-7185: Allow admins to define pre-pinned resources using a form driven experience
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/src/actions/providers/index.ts
  frontend/packages/console-app/src/actions/providers/perspective-state-provider.ts
  frontend/packages/console-app/src/consts.ts
  frontend/packages/console-shared/src/hooks/perspective-utils.ts
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/integration-tests/features/customization/customization-of-pinned-resource.feature
  frontend/packages/dev-console/integration-tests/support/constants/global.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/customization/customization-of-pinned-resource.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/add/AddPageConfiguration.tsx
  frontend/packages/dev-console/src/components/catalog/CatalogTypesConfiguration.tsx
  frontend/packages/dev-console/src/components/catalog/PinnedResourcesConfiguration.scss
  frontend/packages/dev-console/src/components/catalog/PinnedResourcesConfiguration.tsx
  frontend/packages/dev-console/src/components/catalog/index.ts
Labels: approved, lgtm, component/shared, component/dev-console, component/core, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n

#12397 OCPBUGS-4781: use /api/helm/release endpoint on helm release details page
  frontend/packages/helm-plugin/src/components/details-page/HelmReleaseDetails.tsx
  frontend/packages/helm-plugin/src/utils/helm-utils.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/helm, jira/valid-bug, jira/severity-low

#12354 ODC-7184: Show pre-pinned resources based on customization
  frontend/packages/console-shared/src/hooks/__tests__/usePinnedResources.spec.ts
  frontend/packages/console-shared/src/hooks/usePinnedResources.ts
  frontend/packages/dev-console/integration-tests/features/perspectives/configure-pinnedResources.feature
  frontend/packages/dev-console/integration-tests/support/step-definitions/consoleConfiguration/pinned-resources.ts
Labels: approved, lgtm, component/shared, component/dev-console, component/sdk, docs-approved, qe-approved, px-approved
