Repository openshift/console, pull requests merged in 2022-01, with the labels that each got.

#10719 Bug 2034829: cant delete VM with un-owned pvc attached
  frontend/packages/kubevirt-plugin/src/hooks/use-owned-volume-referenced-resources.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, bugzilla/severity-medium, backport-risk-assessed

#10744 Bug 2035933: volume mode and access mode are empty in customize wizard review tab
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#10745 Bug 2035141: [RFE] Show GPU/Host devices in template's details tab
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/modals/hardware-devices/GPUDeviceModal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/hardware-devices/HardwareDevicesModal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/hardware-devices/HostDevicesModal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-resource.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
  frontend/packages/kubevirt-plugin/src/utils/pending-changes.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium, kind/i18n

#10743 Bug 2035772: AccessMode and VolumeMode is not reserved for customize wizard
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/storage-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm/create-vm.tsx
  frontend/packages/kubevirt-plugin/src/types/url.ts
  frontend/packages/kubevirt-plugin/src/utils/url.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#10718 Bug 2034640: cant delete VM with un-owned pvc attached
  frontend/packages/kubevirt-plugin/src/hooks/use-owned-volume-referenced-resources.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, bugzilla/severity-medium, backport-risk-assessed

#10761 Bug 2027132: Changed Fedora and Centos icons in template screen
  frontend/packages/kubevirt-plugin/src/components/vm-templates/os-icons.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#10749 Bug 1994094: Added missing translations
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form-status.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/components/affinity-table/affinity-table.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/vm-snapshot-status.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm-snapshot/constants.ts
  frontend/packages/kubevirt-plugin/src/constants/vm-snapshot/index.ts
  frontend/packages/network-attachment-definition-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionsForm.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, component/network-attachment-definition, bugzilla/severity-low, kind/i18n

#10767 Read from tektonconfig to enable/disable the hub tasks in pipeline builder
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/catalog/__tests__/catalog-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/catalog/catalog-utils.ts
  frontend/packages/pipelines-plugin/src/components/catalog/const.ts
  frontend/packages/pipelines-plugin/src/components/catalog/providers/useTekonHubTasksProvider.tsx
  frontend/packages/pipelines-plugin/src/models/pipelines.ts
  frontend/packages/pipelines-plugin/src/test-data/tekon-config-data.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines

#10772 Bug 2035409: Change catsrc name as the older is no longer published
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/create-namespace.spec.ts
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, component/olm, bugzilla/severity-urgent

#10626 Bug 2023865: Pull in css to support react-virtualized-extension and remove overrides.
  frontend/public/components/factory/Table/VirtualizedTable.tsx
  frontend/public/components/factory/Table/_virtualized-table.scss
  frontend/public/components/factory/table.tsx
  frontend/public/components/filter-toolbar.tsx
  frontend/public/components/search.tsx
  frontend/public/style.scss
  frontend/public/style/_overrides.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/core, bugzilla/severity-medium, component/topology

#10764 Remove duplicate K8sKind type
  frontend/public/module/k8s/types.ts
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved

#10170 Bug 2010181: Environment variables not getting reset on reload on deployment edit form
  frontend/packages/dev-console/src/components/edit-deployment/EditDeployment.tsx
  frontend/packages/dev-console/src/components/edit-deployment/EditDeploymentForm.tsx
  frontend/packages/dev-console/src/components/edit-deployment/utils/edit-deployment-types.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-low

#10721 Update Event Sources Visualization and SideBar
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/components/add/event-sources/SinkSection.tsx
  frontend/packages/knative-plugin/src/components/overview/EventSourceResources.tsx
  frontend/packages/knative-plugin/src/topology/components/nodes/EventSource.tsx
  frontend/packages/knative-plugin/src/topology/listView/NoStatusListViewNode.tsx
  frontend/packages/topology/src/components/list-view/cells/TypedResourceBadgeCell.tsx
  frontend/packages/topology/src/components/svg/SvgBoxedText.tsx
  frontend/packages/topology/src/components/svg/SvgCircledIcon.tsx
Labels: approved, kind/feature, lgtm, component/knative, docs-approved, qe-approved, px-approved, kind/i18n, component/topology

#10780 Bug 2035910: Show manual approval options
  frontend/packages/operator-lifecycle-manager/src/components/operator-install-page.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, bugzilla/severity-high

#10786 Bug 2037801: disabled serverless specs as serverless operator is not available in the operatorhub
  test-cypress.sh
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high

#10706 Bug 2032415: Templates page - remove "support level" badge and add "support level" column which should not be hard coded
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-b/template-support.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/virtualization.ts
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm/tabs/select-template.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/VMTemplateCommnunityLabel.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/RowActions.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/VMCustomizeRow.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/VMTemplateRow.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/VMTemplateTable.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-urgent, kind/i18n

#10420 DevConsole refactor
  frontend/packages/gitops-plugin/locales/en/gitops-plugin.json
  frontend/packages/gitops-plugin/src/components/GitOpsEmptyState.scss
  frontend/packages/gitops-plugin/src/components/GitOpsListPage.scss
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetails.scss
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetails.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetailsPageHeading.scss
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetailsPageHeading.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsRenderStatusLabel.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsResourceRow.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsResourcesSection.scss
  frontend/packages/gitops-plugin/src/components/details/GitOpsResourcesSection.tsx
  frontend/packages/gitops-plugin/src/components/details/deploymentHistory/GitOpsDeploymentHistory.tsx
  frontend/packages/gitops-plugin/src/components/list/GitOpsList.scss
  frontend/packages/gitops-plugin/src/components/list/GitOpsList.tsx
  frontend/packages/gitops-plugin/src/components/list/GitOpsTableRow.scss
  frontend/packages/gitops-plugin/src/components/list/GitOpsTableRow.tsx
Labels: approved, lgtm, component/shared, component/dev-console, component/kubevirt, component/dashboard, component/knative, component/ceph, component/monitoring, component/core, component/metal3, component/sdk, component/backend, component/olm, component/git-service, component/network-attachment-definition, kind/dependency-change, component/lso, docs-approved, qe-approved, px-approved, component/insights, kind/i18n, component/helm, component/topology, component/gitops, component/pipelines, kind/cypress

#10601 Bug 2028170: Remove whitespaces around mirroring card popover
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/dashboards/block-pool/mirroring-card.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-low, kind/i18n

#10625 Monitoring: Add Prometheus Targets UI pages
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-types.ts
  frontend/packages/dev-console/src/components/monitoring/alerts/SilenceAlert.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/SilenceDurationDropdown.tsx
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/factory/table.tsx
  frontend/public/components/filter-toolbar.tsx
  frontend/public/components/graphs/index.tsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/dashboards/single-stat.tsx
  frontend/public/components/monitoring/dashboards/table.tsx
  frontend/public/components/monitoring/labels.tsx
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/components/monitoring/query-browser.tsx
  frontend/public/components/monitoring/targets.tsx
  frontend/public/components/monitoring/types.ts
  frontend/public/components/monitoring/utils.ts
  frontend/public/components/nav/admin-nav.tsx
  frontend/public/locales/en/public.json
  frontend/public/style/_text.scss
Labels: approved, lgtm, component/dev-console, component/monitoring, component/core, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n

#10685 Bug 2034068: updates tests for downstream
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/action.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/template-tabs.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-a/custom-template-support.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-a/customize-source.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-a/dashboard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-a/details.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-a/nad.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-a/source-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-a/template-resource.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-b/empty-state.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-b/template-support.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-b/validate-storage-profile.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-b/validate-virtio-win-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/customize-source.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-low

#10724 Bug 2035321: chore(i18n): update translations
  frontend/packages/ceph-storage-plugin/locales/ja/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/ko/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/zh/ceph-storage-plugin.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-shared/locales/ja/console-shared.json
  frontend/packages/console-shared/locales/ko/console-shared.json
  frontend/packages/console-shared/locales/zh/console-shared.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/operator-lifecycle-manager/locales/ko/olm.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/topology/locales/ja/topology.json
  frontend/packages/topology/locales/ko/topology.json
  frontend/packages/topology/locales/zh/topology.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/dev-console, component/kubevirt, component/knative, component/ceph, component/core, component/olm, bugzilla/severity-low, kind/i18n, component/topology

#10727 Bug 2035348: Fix two grammar issues in kubevirt-plugin
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/RowActions.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-low, kind/i18n

#10754 Bug 1999796: Add support for fetching partial metadata and fix helm list page crash
  frontend/packages/console-dynamic-plugin-sdk/src/app/k8s/actions/__tests__/k8s.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/k8s/actions/k8s.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/k8s-watcher.ts
  frontend/packages/helm-plugin/src/components/list-page/HelmReleaseList.tsx
  frontend/packages/helm-plugin/src/topology/helmResources.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/sdk, bugzilla/severity-medium, component/helm

#10762 Make ResourceIcon consume groupVersionKind
  frontend/public/components/utils/resource-icon.tsx
  frontend/public/module/k8s/k8s-ref.ts
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved

#10763 Bug 1957547: [RFE]VM name is not auto filled in dev console
  frontend/packages/kubevirt-plugin/src/components/create-vm/dev-console/dev-console-create-vm-form.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#10770 Move ResourceStatus to dynamic-plugin-sdk
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/utils/resource-status.scss
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/utils/resource-status.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/index.ts
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-install-page.tsx
  frontend/packages/operator-lifecycle-manager/src/components/subscription.tsx
  frontend/public/components/_resource.scss
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/utils/headings.tsx
  frontend/public/components/utils/index.tsx
  frontend/public/components/utils/resource-status.tsx
Labels: approved, lgtm, component/monitoring, component/core, component/sdk, component/olm, docs-approved, qe-approved, px-approved

#10774 Bug 2037182: update the ping source apiVersion
  frontend/packages/knative-plugin/src/models.ts
  frontend/packages/knative-plugin/src/utils/__mocks__/dynamic-event-source-crd-mock.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/knative, bugzilla/severity-low

#10775 Bug 1999903: Changed This is cdrom boot source checkbox id
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-low

#10776 Bug 2009754: Fix sticky footer in the import forms
  frontend/packages/dev-console/src/components/NamespacedPage.scss
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-low

#10779 adds/updates jsdoc comments, expose useK8sWatchResource(s) hooks from SDK and adds typing
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/fetch/console-fetch.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sModel.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sWatchResource.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sWatchResources.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-resource.ts
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved

#10705 Bug 2018234: Fix that user settings ConfigMap is also created for users with restricted access
  frontend/packages/console-shared/src/hooks/__tests__/useUserSettings.spec.ts
  frontend/packages/console-shared/src/hooks/useUserSettings.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, bugzilla/severity-medium

#10773 Bug 2035704: RoleBindings list page filter doesn't apply
  frontend/public/components/RBAC/bindings.jsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#10789 Bug 2035467: Query Browser: Fix `undefined` error when sorting the results table
  frontend/public/components/monitoring/metrics.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, bugzilla/severity-medium

#10468 GitOps: Add error handling (#1278)
  frontend/packages/gitops-plugin/locales/en/gitops-plugin.json
  frontend/packages/gitops-plugin/src/components/GitOpsDetailsPage.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetails.scss
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetails.tsx
  frontend/packages/gitops-plugin/src/components/utils/gitops-utils.ts
Labels: approved, lgtm, component/shared, component/dev-console, component/kubevirt, component/dashboard, component/knative, component/ceph, component/monitoring, component/core, component/sdk, component/olm, component/network-attachment-definition, docs-approved, qe-approved, px-approved, kind/i18n, component/helm, component/topology, component/gitops, component/pipelines

#10796 Bug 2025431: Provide specific windows source link
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/index.ts
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/tabs/boot-source.tsx
  frontend/packages/kubevirt-plugin/src/components/form/helper/url-source-help.tsx
  frontend/packages/kubevirt-plugin/src/utils/strings.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium, kind/i18n

#10778 Bug 2038663: Added Matan Schatzman and Aviv Turgeman to OWNERS file, removed some other inactive users
  frontend/packages/kubevirt-plugin/OWNERS
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-low

#10758 Bug 1987044: [OCPV48] Shutoff VM is being shown as "Starting" in WebUI when using spec.runStrategy Manual/RerunOnFailure
  frontend/packages/kubevirt-plugin/src/selectors/vm/selectors.ts
  frontend/packages/kubevirt-plugin/src/statuses/vm/vm-status.ts
  frontend/packages/kubevirt-plugin/src/strings/vm/status.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#10691 Bug 2038465: Upgrade chromedriver to 90.x to support Mac M1 chips
  frontend/package.json
  frontend/yarn.lock
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, bugzilla/severity-low

#10769 Bug 2021205: fix git url change validation
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-low

#10648 Bug 2039064: Disable Bulk Import e2e test
  frontend/packages/integration-tests-cypress/tests/crud/bulk-create-resources.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low, kind/cypress

#10714 HAC 374: Migrate last k8s reducer to SDK and revert sdkK8s back to k8s
  frontend/packages/console-dynamic-plugin-sdk/src/api/common-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/k8s/actions/k8s.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/k8s/reducers/k8s.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/k8s/reducers/k8sSelector.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/redux-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/redux.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-init.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sWatchResources.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-utils.ts
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlerts.tsx
  frontend/packages/kubevirt-plugin/src/utils/redux/id-reference.ts
  frontend/public/actions/k8s.ts
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/resource-dropdown.tsx
  frontend/public/components/utils/firehose.jsx
  frontend/public/models/index.ts
  frontend/public/module/k8s/get-resources.ts
  frontend/public/module/k8s/k8s-models.ts
  frontend/public/reducers/features.ts
  frontend/public/reducers/k8s.ts
  frontend/public/redux.ts
Labels: approved, lgtm, component/dev-console, component/kubevirt, component/monitoring, component/core, component/sdk, docs-approved, qe-approved, px-approved

#10801 Bug 2038832: Add registry URL suggestions for centos stream templates
  frontend/packages/kubevirt-plugin/src/components/form/helper/container-source-help.tsx
  frontend/packages/kubevirt-plugin/src/utils/strings.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#10808 Bug 2038761: Monitoring: Handle case where `service.metadata.labels` is undefined
  frontend/public/components/monitoring/targets.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, bugzilla/severity-high, qe-approved

#10809 Bug 2039586: update centos8 to centos stream8
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-b/hotplug.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-b/url-examples.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/index.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-low

#10823 Bug 2039756: Fix react warning on operator hub description component, used for example on the KnativeServing detail page
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, bugzilla/severity-low

#10816 Bug 2039529: disable Project Dashboard Resource Quotas Card test
  frontend/integration-tests/tests/dashboards/project-dashboard.scenario.ts
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium

#10797 Bug 2015420: Update SupportedExtension to include all dashboard extensions
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/__tests__/coderef-resolver.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/coderef-resolver.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/dashboards.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
  frontend/public/components/dashboard/project-dashboard/inventory-card.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dashboard, component/core, component/sdk, bugzilla/severity-low

#10817 Bug 2037246: Cusotmize boot source was missing DataVolumes in order to use new DataSource
  frontend/packages/kubevirt-plugin/src/components/vm-templates/customize-source/CustomizeSourceForm.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#10829 Bug 2037664: Override the PatternFly default vertical alignment value within tables to correctly align cell contents.
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/public/style/_overrides.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/core, component/olm, bugzilla/severity-low

#10831 Bug 2039056: Fix alignment of the schema breadcrumbs …
  frontend/public/components/sidebars/explore-type-sidebar.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#10819 Bug 2035146: Removed not useful error
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/utils/validations/vm/disk.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium, kind/i18n

#10748 Bug 2034190: unable to add new VirtIO disks to VMs
  frontend/packages/kubevirt-plugin/src/components/vm-disks/vm-disks.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#10787 Bug 2027524: delete channel and broker when deleting an application
  frontend/packages/console-shared/src/utils/__tests__/test-resource-data.ts
  frontend/packages/knative-plugin/src/topology/__tests__/topology-knative-test-data.ts
  frontend/packages/topology/src/utils/__tests__/application-utils.spec.ts
  frontend/packages/topology/src/utils/application-utils.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/shared, component/knative, bugzilla/severity-medium, component/topology

#10821 Bug 2039678: Check if 'auths' key when switching between create image secret subforms
  frontend/public/components/secrets/create-secret.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#10824 Bug 2039781: OBC navItem hidden for non-cluster admin
  frontend/packages/ceph-storage-plugin/src/features.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-medium

#10830 Bug 2014464: Fix navigation spacing in dev (generic) perspective
  frontend/public/components/nav/_perspective-nav.scss
  frontend/public/components/nav/perspective-nav.tsx
  frontend/public/components/nav/section.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#10654 Bug 2027563: e2e tests wait for add forms to load
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-page.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-high, docs-approved, qe-approved, px-approved

#10330 migrate knative plugin models to resource metadata dynamic plugin
  frontend/packages/dev-console/src/models/index.ts
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/catalog/event-source-data.ts
  frontend/packages/knative-plugin/src/components/add/__tests__/EventSource.spec.tsx
  frontend/packages/knative-plugin/src/components/add/channels/form-fields/ChannelSelector.tsx
  frontend/packages/knative-plugin/src/components/add/channels/sections/FormViewSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/form-fields/SinkResources.tsx
  frontend/packages/knative-plugin/src/components/add/import-types.ts
  frontend/packages/knative-plugin/src/components/overview/__tests__/EventSourceOwnedList.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/EventSourceResources.spec.tsx
  frontend/packages/knative-plugin/src/const.ts
  frontend/packages/knative-plugin/src/models.ts
  frontend/packages/knative-plugin/src/plugin.tsx
  frontend/packages/knative-plugin/src/topology/__tests__/topology-knative-test-data.ts
  frontend/packages/knative-plugin/src/topology/components/edges/EventingPubSubLink.tsx
  frontend/packages/knative-plugin/src/topology/data-transformer.ts
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
  frontend/packages/knative-plugin/src/utils/__tests__/create-channel-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/__tests__/create-eventsources-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/__tests__/fetch-dynamic-eventsources-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/__tests__/kebab-actions.spec.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-serving-data.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-topology-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/create-channel-utils.ts
  frontend/packages/knative-plugin/src/utils/get-knative-icon.ts
  frontend/packages/rhoas-plugin/src/topology/relationship-provider.ts
  frontend/public/module/k8s/get-resources.ts
Labels: approved, lgtm, component/shared, component/dev-console, component/knative, component/core, docs-approved, qe-approved, px-approved, kind/i18n, component/topology

#10811 Bug 2039057: Adjust kind column to target width in API explorer page
  frontend/public/components/api-explorer.tsx
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, component/core, bugzilla/severity-low

#10833 Bug 2040150: Make changes to HPCS KMS component
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/kms-config/hpcs-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/utils.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/advanced-kms-modal/advanced-ibm-kms-modal.tsx
  frontend/packages/ceph-storage-plugin/src/constants/kms.ts
  frontend/packages/ceph-storage-plugin/src/types.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-high, kind/i18n

#10846 Bug 2035703: - Roles -> RoleBindings tab doesn't show RoleBindings correctly
  frontend/public/components/factory/table-filters.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#10467 helm: support namespaced helm repository for helm API
  docs/helm/configure-namespaced-helm-repos.md
  pkg/helm/actions/fake/helmcrconfigs.go
  pkg/helm/chartproxy/proxy.go
  pkg/helm/chartproxy/proxy_test.go
  pkg/helm/chartproxy/repos.go
  pkg/helm/chartproxy/repos_test.go
  pkg/helm/handlers/handler_test.go
  pkg/helm/handlers/handlers.go
Labels: approved, lgtm, component/backend, docs-approved, qe-approved, px-approved

#10803 Bug 2038034: non-privileged user cannot see auto-update boot source
  frontend/packages/kubevirt-plugin/src/components/create-vm/hooks/use-vm-templates-resources.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-details-page.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-urgent

#10848 Bug 2041204: Fix templates link in inventory card
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/inventory-card/ResourcesSection.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#10825 Bug 2034362: Update description of disk interface
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/constants/vm/storage/disk-bus.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium, kind/i18n

#10836 Bug 2039770: Monitoring: use namespace to detect the active perspective instead of useActivePerspective hook
  frontend/public/components/monitoring/dashboards/graph.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, bugzilla/severity-medium

#10851 Bug 2039776: Monitoring: show a error message if wrong dashboard name is passed to the URL
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/locales/en/public.json
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, bugzilla/severity-low, kind/i18n

#10854 Bug 2038772: Monitoring: Handle service monitors with undefined matchLabels
  frontend/public/components/monitoring/targets.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, bugzilla/severity-medium

#10845 Bug 2039619: - [AWS] In tree provisioner storageclass aws disk type should contain 'gp3' and csi provisioner storageclass default aws disk type should be 'gp3'
  frontend/public/components/storage-class-form.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-high

#10844 Bug 2040661: Fix different react warnings when leaving topology
  frontend/packages/console-shared/src/hooks/__tests__/useUserSettings.spec.ts
  frontend/packages/console-shared/src/hooks/usePodsWatcher.ts
  frontend/packages/console-shared/src/hooks/useUserSettings.ts
  frontend/packages/console-shared/src/hooks/useUserSettingsLocalStorage.ts
  frontend/packages/topology/src/components/graph-view/components/edges/CreateConnector.tsx
  frontend/public/components/utils/managed-by.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/core, bugzilla/severity-low, component/topology

#10054 Bug 1982662: Fix localization issues in Add Storage page
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/attach-obc/attach-obc-deployment.tsx
  frontend/public/components/storage/attach-storage.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, component/core, component/sdk, bugzilla/severity-low, kind/i18n

#10806 Bug 2011368: fix PipelineRun visualization tooltip to show duration
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/pipeline-step-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineRunTaskRunGraph.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/pipeline-metrics-utils.ts
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-utils.spec.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-utils.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low, kind/i18n, component/pipelines

#10822 Bug 2039743: Fix react "missing key" warning when open operator hub detail page (and maybe others as well)
  frontend/public/components/utils/horizontal-nav.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#10861 Bug 2037241: Default cache ns store ttl to 0
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/state.ts
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/namespace-store-pages/cache-namespace-store.tsx
  frontend/packages/ceph-storage-plugin/src/utils/bucket-class.ts
  frontend/packages/ceph-storage-plugin/src/utils/time-duration-dropdown.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-high, kind/i18n

#10814 Bug 2039065: re-enable Bulk Import e2e test and increase wait
  frontend/packages/integration-tests-cypress/tests/crud/bulk-create-resources.spec.ts
  frontend/packages/integration-tests-cypress/views/yaml-editor.ts
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low, kind/cypress

#10832 Bug 2039798: contextual binding should create service binding connector
  frontend/packages/dev-console/src/actions/__tests__/add-resources.spec.tsx
  frontend/packages/dev-console/src/actions/add-resources.tsx
  frontend/packages/dev-console/src/actions/providers.ts
  frontend/packages/topology/src/models/service-binding.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-medium, component/topology

#10853 Bug 2013127: allow catalog categories and cards to open in new tab
  frontend/packages/console-shared/src/components/catalog/catalog-view/CatalogCategories.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
  frontend/public/components/utils/tile-view-page.jsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/core, component/olm, bugzilla/severity-low

#10843 Bug 2040655: Fix that user settings update fails when selecting application in topology sidebar
  frontend/packages/console-shared/src/hooks/__tests__/useUserSettings.spec.ts
  frontend/packages/console-shared/src/hooks/useUserSettings.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, bugzilla/severity-low

#10849 Bug 2040782: Fix that import YAML page blocks input with more then one generateName attributes
  frontend/public/components/edit-yaml.jsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#10486 Integrate PatternFly log viewer extension into Pods and Nodes
  frontend/package.json
  frontend/packages/console-app/src/components/nodes/NodeLogs.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/logs/logs-utils.ts
  frontend/public/components/build-logs.jsx
  frontend/public/components/pod-logs.jsx
  frontend/public/components/utils/_log-window.scss
  frontend/public/components/utils/_resource-log.scss
  frontend/public/components/utils/index.tsx
  frontend/public/components/utils/line-buffer.ts
  frontend/public/components/utils/log-window.jsx
  frontend/public/components/utils/resource-log.tsx
  frontend/public/locales/en/public.json
  frontend/yarn.lock
Labels: approved, lgtm, ok-to-test, component/core, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines

#10839 Bug 2015420: Add VMs resource to project's intentory card
  frontend/packages/kubevirt-plugin/console-extensions.json
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-low

#10842 Bug 2040653: Fix topology sidebar warns that another component is updated while rendering
  frontend/packages/topology/src/components/workload/build-tab-section.tsx
  frontend/packages/topology/src/components/workload/network-tab-section.tsx
  frontend/packages/topology/src/components/workload/pods-tab-section.tsx
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low, component/topology

#10850 Bug 2040783: Show the new resource name, esp. when using generateName on the import status page
  frontend/public/components/import-yaml-results.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#10867 Bug 2040616: - rolebindings page doesn't load for normal users
  frontend/public/components/RBAC/bindings.jsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#10725 Bug 1986302: Check rbac before polling for rules silences
  frontend/public/components/notification-drawer.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium, kind/i18n

#10707 adds support for host app to pass configurations for apiDiscovery , appInternalFetch
  frontend/packages/console-app/src/components/modals/service-binding/__tests__/bindable-services-utils.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/AppInitSDK.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/__tests__/AppInitSDK.spec.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/__tests__/configSetup.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/configSetup.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/useReduxStore.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/fetch/console-fetch-utils.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/fetch/console-fetch.ts
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/package.json
  frontend/packages/dev-console/src/components/topology/bindable-services/bindable-service-context.ts
  frontend/packages/dev-console/src/components/topology/bindable-services/bindable-service-resources.ts
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/package.json
  frontend/packages/knative-plugin/src/topology/eventing-context.ts
  frontend/packages/knative-plugin/src/topology/topology-plugin.ts
  frontend/public/__tests__/co-fetch.spec.ts
  frontend/public/co-fetch.js
  frontend/public/co-fetch.ts
  frontend/public/components/app.jsx
Labels: approved, lgtm, component/dev-console, component/knative, component/core, component/sdk, docs-approved, qe-approved, px-approved

#10868 Bug 2041763: Fix handling of the `defaultSortField` prop for tables
  frontend/public/components/factory/table-data-hook.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#10874 Bug 2038879: Check if name label exists before comparing
  frontend/packages/console-shared/src/utils/resource-utils.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/shared, bugzilla/severity-medium

#10878 Bug 2042382: kubevirt: only run smoke tests in CI
  frontend/packages/kubevirt-plugin/integration-tests-cypress/cypress.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/create-template-from-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/create-vm-from-customize-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/create-vm-from-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/source-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-actions.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-urgent

#10723 Gherkin and automation for specifying a name for service binding connector
  frontend/packages/dev-console/integration-tests/support/constants/global.ts
  frontend/packages/dev-console/integration-tests/support/constants/topology.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/operators-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/operators-page.ts
  frontend/packages/topology/integration-tests/features/topology/topology-chart-area-visual.feature
  frontend/packages/topology/integration-tests/support/pages/topology/topology-actions-page.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/chart-view.ts
  frontend/packages/topology/integration-tests/support/test-data/bindable-resource1.yaml
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, component/topology

#10768 Mock all the remaining github requests in e2e suite
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-devfile.feature
  frontend/packages/dev-console/integration-tests/testData/git-import/devfile-sample/contents.json
  frontend/packages/dev-console/integration-tests/testData/git-import/devfile-sample/package.json
  frontend/packages/dev-console/integration-tests/testData/git-import/devfile-sample/repo.json
  frontend/packages/dev-console/integration-tests/testData/git-import/flask-dockerfile-example/contents.json
  frontend/packages/dev-console/integration-tests/testData/git-import/flask-dockerfile-example/repo.json
  frontend/packages/dev-console/integration-tests/testData/git-import/repos.ts
  frontend/packages/dev-console/integration-tests/testData/git-import/s2i-dotnetcore-ex/contents.json
  frontend/packages/dev-console/integration-tests/testData/git-import/s2i-dotnetcore-ex/repo.json
  frontend/packages/topology/integration-tests/support/step-definitions/common/topology.ts
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, component/topology

#10835 Bug 2042567: elaborate on CodeReady in readme
  README.md
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low

#10837 Gherkin and automation for workload sidebar entry for pipeline triggers
  frontend/packages/topology/integration-tests/features/topology/pipelines-on-topology.feature
  frontend/packages/topology/integration-tests/support/pages/topology/topology-side-pane-page.ts
  frontend/packages/topology/integration-tests/support/step-definitions/common/topology.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/pipelines-on-topology.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/topology

#10859 ODC-6453: Allow multiple namespaces to be deleted as part of cleanup
  frontend/packages/dev-console/integration-tests/support/commands/hooks.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/project-creation.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/userPreferences/user-preferences-dev-perspective.ts
  frontend/packages/gitops-plugin/integration-tests/support/commands/hooks.ts
  frontend/packages/knative-plugin/integration-tests/support/commands/hooks.ts
  frontend/packages/pipelines-plugin/integration-tests/support/commands/hooks.ts
  frontend/packages/topology/integration-tests/support/commands/hooks.ts
  frontend/packages/topology/integration-tests/support/step-definitions/export-application/export-of-application.ts
Labels: approved, lgtm, component/dev-console, component/knative, docs-approved, qe-approved, px-approved, component/topology, component/gitops, component/pipelines

#10862 Bug 2041492: Fix spacing between resource items in inventory card
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/inventory-card/ResourcesSection.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/inventory-card/VMStatusInventoryItem.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/inventory-card/VmStatusesSection.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/inventory-card/virt-overview-inventory-card.scss
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/inventory-card/vm-status-inventory-item.scss
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/inventory-card/vm-statuses-section.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#10864 ODC-6455: Remove old labels from add page tests
  frontend/packages/dev-console/integration-tests/features/user-preferences/user-preferences-dev-perspective.feature
  frontend/packages/dev-console/integration-tests/support/constants/add.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/createGitWorkload.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-devfile.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-docker-file.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-git.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/page-details.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/addFlow.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/monitoring/topology-sidebar-actions.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/userPreferences/user-preferences-dev-perspective.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/common/addFlow.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/actions-on-knative-revision.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/create-knative-workload.ts
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-add-options.feature
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-from-add-options.ts
Labels: approved, lgtm, component/dev-console, component/knative, docs-approved, qe-approved, px-approved, component/pipelines

#10877 Bug 2038772: Monitoring: Fix handling of ServiceMonitor's matchExpressions
  frontend/public/components/monitoring/targets.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, bugzilla/severity-medium

#10866 Bug 2039618: Add validations to SAP HANA
  frontend/packages/kubevirt-plugin/src/components/vm-templates/instantiate-template/TemplateForm.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#10790 Bug 2033098: Conjunction in the ProgressiveListFooter is now translatable
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/buildconfig/BuildConfigFormEditor.tsx
  frontend/packages/dev-console/src/components/edit-deployment/AdvancedSection.tsx
  frontend/packages/dev-console/src/components/import/advanced/AdvancedSection.tsx
  frontend/packages/dev-console/src/components/import/advanced/__tests__/AdvancedSection.spec.tsx
  frontend/packages/dev-console/src/components/progressive-list/ProgressiveList.tsx
  frontend/packages/dev-console/src/components/progressive-list/ProgressiveListFooter.tsx
  frontend/packages/dev-console/src/components/progressive-list/__tests__/ProgressiveList.spec.tsx
  frontend/packages/dev-console/src/components/progressive-list/__tests__/ProgressiveListFooter.spec.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-low, kind/i18n

#10858 Bug 2041475: Add function names to components which are wrapped in memo to get their name in the react dev tools
  frontend/packages/console-app/src/components/detect-language/DetectLanguage.tsx
  frontend/packages/console-shared/src/components/error/error-boundary.tsx
  frontend/packages/console-shared/src/hoc/withLastNamespace.tsx
  frontend/packages/console-shared/src/hoc/withQuickStartContext.tsx
  frontend/packages/console-shared/src/hoc/withTelemetry.tsx
  frontend/packages/console-shared/src/hoc/withUserSettings.tsx
  frontend/packages/console-shared/src/hoc/withUserSettingsCompatibility.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/PodSet.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/WorkloadNode.tsx
  frontend/packages/topology/src/components/list-view/ListElementWrapper.tsx
  frontend/packages/topology/src/components/list-view/TopologyListView.tsx
  frontend/packages/topology/src/components/page/TopologyDataRenderer.tsx
  frontend/packages/topology/src/components/page/TopologyPageToolbar.tsx
  frontend/packages/topology/src/components/utils/subscribeOverviewAlerts.ts
  frontend/packages/topology/src/components/utils/subscribeOverviewMetrics.ts
  frontend/packages/topology/src/utils/withEditReviewAccess.tsx
  frontend/public/components/app.jsx
  frontend/public/components/namespace.jsx
  frontend/public/components/nav/index.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/core, bugzilla/severity-low, component/topology

#10826 Bug 2039868: Enhance Insights widget empty states
  frontend/packages/insights-plugin/locales/en/insights-plugin.json
  frontend/packages/insights-plugin/src/components/InsightsPopup/index.tsx
  frontend/packages/insights-plugin/src/components/InsightsPopup/mappers.ts
  frontend/packages/insights-plugin/src/components/InsightsPopup/status.ts
  frontend/packages/insights-plugin/src/plugin.tsx
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium, component/insights

#10865 Bug 2036989: Prevent route external link icon and copy-to-clipboard icon from wrapping separately from its associated inline text.
  frontend/public/components/routes.tsx
  frontend/public/components/utils/link.tsx
  frontend/public/style/_common.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#10894 Bug 2042829: Topology performance: Do not fetch HPA for each Deployment (Pod Ring)
  frontend/packages/console-shared/src/hooks/hpa-hooks.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, bugzilla/severity-high

#10897 Bug 2043068: Show total text even if current utilization is 0
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationItem.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/dashboard, bugzilla/severity-low

#10812 Bug 2039315: Filter superseded helm secrets and fix firehose to support partial metadata
  frontend/packages/helm-plugin/console-extensions.json
  frontend/packages/helm-plugin/src/actions/providers.ts
  frontend/packages/helm-plugin/src/components/list-page/HelmReleaseList.tsx
  frontend/packages/helm-plugin/src/topology/helm-data-transformer.ts
  frontend/packages/helm-plugin/src/topology/helmResources.ts
  frontend/packages/helm-plugin/src/topology/sidebar/release-panel/resource-link.tsx
  frontend/packages/helm-plugin/src/topology/sidebar/release-panel/tab-sections.tsx
  frontend/public/components/utils/firehose.jsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium, component/helm

#10879 Bug 2043064: Update patternfly-topology to include latest changes and improve topology performance a bit
  frontend/package.json
  frontend/yarn.lock
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low

#10881 Bug 2030240: Hide virtualization overview for non-admin users
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/inventory-card/ResourcesSection.tsx
  frontend/packages/kubevirt-plugin/src/utils/common.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#10890 Bug 2026383: Monitoring: Fix JS error when dashboard JSON cannot be parsed
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/dashboards/useFetchDashboards.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, bugzilla/severity-medium, qe-approved

#10898 Bug 2043117: Make recommended operator links internal
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/getting-started-card/RecommendedOperatorsCard.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#10788 [release-4.8] Bug 2036045: fix resource limit form validation
  frontend/packages/console-shared/src/components/formik-fields/ResourceLimitField.tsx
  frontend/packages/console-shared/src/components/formik-fields/field-types.ts
  frontend/packages/dev-console/src/components/import/advanced/ResourceLimitSection.tsx
  frontend/packages/dev-console/src/components/import/advanced/ServerlessScalingSection.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/shared, component/dev-console, bugzilla/severity-medium, backport-risk-assessed

#10885 Include the namespace-scoped Helm Chart Repositories in the dev catalog
  frontend/packages/console-shared/src/components/catalog/catalog-view/CatalogFilters.tsx
  frontend/packages/helm-plugin/src/catalog/providers/useHelmCharts.tsx
  frontend/packages/helm-plugin/src/components/forms/__tests__/HelmInstallUpgradeForm.spec.tsx
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmChartVersionDropdown.tsx
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradeForm.tsx
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradePage.tsx
Labels: approved, kind/feature, lgtm, component/shared, docs-approved, qe-approved, px-approved, component/helm

#10880 Bug 2042395:Add prerequisites for active health checks test
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/status-card/status-card.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/dashboard, component/ceph, bugzilla/severity-low

#10840 update version of quick-start library to latest
  frontend/package.json
  frontend/packages/console-app/src/components/quick-starts/utils/quick-start-context.tsx
  frontend/public/style/_overrides.scss
  frontend/yarn.lock
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved

#10892 Add KamletBinding Visualization
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/topology-details.ts
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/actions/providers.ts
  frontend/packages/knative-plugin/src/topology/__tests__/topology-knative-test-data.ts
  frontend/packages/knative-plugin/src/topology/components/anchors/EventSinkSourceAnchor.ts
  frontend/packages/knative-plugin/src/topology/components/anchors/EventSinkTargetAnchor.ts
  frontend/packages/knative-plugin/src/topology/components/edges/EventSinkLink.tsx
  frontend/packages/knative-plugin/src/topology/components/knativeComponentFactory.ts
  frontend/packages/knative-plugin/src/topology/components/nodes/EventSink.tsx
  frontend/packages/knative-plugin/src/topology/components/nodes/EventingPubSubNode.tsx
  frontend/packages/knative-plugin/src/topology/const.ts
  frontend/packages/knative-plugin/src/topology/data-transformer.ts
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
  frontend/packages/knative-plugin/src/topology/layouts/layoutConstraints.ts
  frontend/packages/knative-plugin/src/topology/listView/knativeListViewComponentFactory.ts
  frontend/packages/knative-plugin/src/topology/sidebar/KnativeOverviewSections.tsx
  frontend/packages/knative-plugin/src/topology/sidebar/index.ts
  frontend/packages/knative-plugin/src/topology/sidebar/knative-common-tab-sections.tsx
  frontend/packages/knative-plugin/src/topology/sidebar/knative-connectors-tab-sections.tsx
  frontend/packages/knative-plugin/src/topology/sidebar/knative-eventsource-tab-sections.tsx
  frontend/packages/knative-plugin/src/topology/sidebar/knative-resource-tab-sections.tsx
  frontend/packages/knative-plugin/src/topology/topology-types.ts
  frontend/packages/knative-plugin/src/utils/get-knative-resources.ts
  frontend/packages/topology/src/components/side-bar/SelectedEntityDetails.tsx
  frontend/packages/topology/src/components/workload/ResolveAdapter.ts
  frontend/packages/topology/src/components/workload/pods-tab-section.tsx
  frontend/packages/topology/src/operators/operatorsDataModelReconciler.ts
Labels: approved, lgtm, component/shared, component/knative, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n, component/topology

#10895 Bug 2041093: Changed validation of adding file content from not empty to not contain parsing errors
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/sysprep/SysprepFileField.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#9578 CONSOLE-2360: Add debug terminal for pods
  frontend/public/components/_terminal.scss
  frontend/public/components/app-contents.tsx
  frontend/public/components/debug-terminal.tsx
  frontend/public/components/pod-exec.jsx
  frontend/public/components/pod.tsx
  frontend/public/components/utils/resource-log.tsx
  frontend/public/locales/en/public.json
  frontend/public/module/k8s/pods.ts
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n

#10910 [release-4.9] Bug 2044089: Update CRW operator name to fix failing e2e tests
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-single-namespace.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-uninstall.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/olm, bugzilla/severity-high, backport-risk-assessed

#9878 Bug 1986819: fix string typos for hot-plug disks
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
Labels: lifecycle/rotten, approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-low, kind/i18n

#10799 [release-4.9] Bug 2038607: Fix that user settings ConfigMap is also created for users with restricted access
  frontend/packages/console-shared/src/hooks/__tests__/useUserSettings.spec.ts
  frontend/packages/console-shared/src/hooks/useUserSettings.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/shared, bugzilla/severity-medium, backport-risk-assessed

#10393 [release-4.9] Bug 2019884: adds feature flag for all extension for knative plugin
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/plugin.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/knative, bugzilla/severity-medium, kind/i18n, backport-risk-assessed

#10586 [release-4.9] Bug 2027804: use namespace instead of useActivePerspective hooks to get the variables in Observe dashboard
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/dashboards/monitoring-dashboard-utils.ts
  frontend/public/components/monitoring/dashboards/timespan-dropdown.tsx
  frontend/public/components/monitoring/dashboards/types.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/monitoring, component/core, bugzilla/severity-medium, backport-risk-assessed

#10785 Bug 2037772: Use correct caps in 'Service name' & 'System name '
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/details-card/details-card.tsx
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, component/ceph, bugzilla/severity-low, kind/i18n

#10759 [release-4.9] Bug 2036340: Fix secure route pre-filled issue in edit flow
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-data.ts
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/dev-console/src/components/import/DeployImage.tsx
  frontend/packages/dev-console/src/components/import/__mocks__/deployImage-validation-mock.ts
  frontend/packages/dev-console/src/components/import/__mocks__/import-validation-mock.ts
  frontend/packages/dev-console/src/components/import/__mocks__/upload-jar-mock.ts
  frontend/packages/dev-console/src/components/import/__tests__/deployImage-submit-utils-data.ts
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils-data.ts
  frontend/packages/dev-console/src/components/import/form-initial-values.ts
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/import/route/SecureRoute.tsx
  frontend/packages/dev-console/src/utils/__tests__/__snapshots__/shared-submit-utils.spec.ts.snap
  frontend/packages/dev-console/src/utils/shared-submit-utils.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-serving-data.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, component/knative, bugzilla/severity-high, backport-risk-assessed

#10875 CCXDEV-7039: make severity links clickable in Insights Advisor widget
  frontend/packages/insights-plugin/locales/en/insights-plugin.json
  frontend/packages/insights-plugin/src/components/InsightsPopup/index.tsx
  frontend/packages/insights-plugin/src/components/InsightsPopup/mappers.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/insights

#10884 Bug 2042619: Avoid runtime error when no CSVs
  frontend/packages/console-shared/src/components/dashboard/status-card/OperatorStatusBody.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/state-utils.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/health-item.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/dashboard, component/core, bugzilla/severity-high

#10905 Add user preferences to guided tour
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/guided-tour/index.ts
  frontend/public/components/masthead-toolbar.jsx
Labels: approved, lgtm, component/dev-console, component/core, docs-approved, qe-approved, px-approved, kind/i18n

#10917 Bug 2041671: Redirect to list after template deletion
  frontend/packages/kubevirt-plugin/src/components/modals/menu-actions-modals/delete-vm-template-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/menu-actions-modals/utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#10918 [release-4.8] Bug 2044571: Update CRW operator name to fix failing e2e tests
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-single-namespace.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/olm, bugzilla/severity-high, backport-risk-assessed

#10916 disable helm on multi cluster environment
  frontend/packages/dev-console/src/components/add/DeveloperFeaturesGettingStartedCard.tsx
  frontend/packages/dev-console/src/components/add/__tests__/DeveloperFeaturesGettingStartedCard.spec.tsx
  frontend/packages/helm-plugin/src/utils/helm-detection-utils.ts
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, component/helm

#10896 Bug 2037237: Add "This is a CD-ROM boot source" checkbox to customize wizard
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/storage-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/vm-settings-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/strings/renderable-field.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/CDRomBootSourceCheckbox.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/provision-source.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/vm-settings-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/types.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/utils/renderable-field-utils.ts
  frontend/packages/kubevirt-plugin/src/utils/storage.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium, kind/i18n

#10899 Bug 2042851: Create template from SAP HANA template flow
  frontend/packages/kubevirt-plugin/src/components/vm-templates/instantiate-template/CreateFromTemplate.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/instantiate-template/TemplateForm.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/instantiate-template/TemplateInfo.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/instantiate-template/TemplateResourceDetails.tsx
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/common.ts
  frontend/packages/kubevirt-plugin/src/utils/url.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-urgent

#10912 Bug 2044201: Support for DATA_SOURCE_NAME and DATA_SOURCE_NAMESPACE
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/storage-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/vm-settings-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm/tabs/boot-source.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/add-template-source/add-template-source.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/constants.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vmtemplate/customize.ts
  frontend/packages/kubevirt-plugin/src/selectors/immutable/common.ts
  frontend/packages/kubevirt-plugin/src/selectors/selectors.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm-template/advanced.ts
  frontend/packages/kubevirt-plugin/src/statuses/template/template-source-status.ts
  frontend/packages/kubevirt-plugin/src/utils/index.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-urgent

#10376 [release-4.8] Bug 2019301: Check for resource in ServiceBinding spec's service reference
  frontend/packages/rhoas-plugin/src/topology/rhoas-data-transformer.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium, backport-risk-assessed

#10551 CONSOLE-2280: show support level
  cmd/bridge/main.go
  frontend/integration-tests/tests/dashboards/cluster-dashboard.scenario.ts
  frontend/packages/patternfly/src/components/notification-drawer/notification-entry.tsx
  frontend/public/actions/ui.ts
  frontend/public/components/about-modal.tsx
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/details-card.tsx
  frontend/public/components/notification-drawer.tsx
  frontend/public/components/utils/index.tsx
  frontend/public/components/utils/service-level.tsx
  frontend/public/locales/en/public.json
  frontend/public/reducers/ui.ts
  pkg/server/server.go
Labels: approved, lgtm, component/dashboard, component/core, component/backend, component/olm, docs-approved, qe-approved, px-approved, kind/i18n

#10919 Bug 2044704: Revert "Monitoring: Add runbook URLs to alert and rule details pages"
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, bugzilla/severity-medium, kind/i18n

#10914 [release-4.9] Bug 2044287: Add support for fetching partial metadata and fix helm list page crash
  frontend/__tests__/actions/k8s.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/helm-plugin/src/components/list-page/HelmReleaseList.tsx
  frontend/packages/helm-plugin/src/topology/helmResources.ts
  frontend/public/actions/k8s.ts
  frontend/public/components/utils/k8s-watch-hook.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/core, component/sdk, bugzilla/severity-medium, component/helm, backport-risk-assessed

#10906 Bug 2025821: Make "Network Attachment Definitions" available to project-admin
  frontend/packages/network-attachment-definition-plugin/console-extensions.json
  frontend/packages/network-attachment-definition-plugin/package.json
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinition.tsx
  frontend/packages/network-attachment-definition-plugin/src/flags/check-nad-permissions.ts
  frontend/packages/network-attachment-definition-plugin/src/flags/const.ts
  frontend/packages/network-attachment-definition-plugin/src/flags/index.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/network-attachment-definition, bugzilla/severity-medium

#10888 [release 4.9] Bug 2042683: Check rbac before polling for rules silences
  frontend/public/components/notification-drawer.tsx
  frontend/public/locales/en/public.json
  frontend/public/reducers/ui.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/core, bugzilla/severity-medium, qe-approved, kind/i18n, backport-risk-assessed

#10924 Bug 2044201: Support for DATA_SOURCE_NAME and DATA_SOURCE_NAMESPACE fix
  frontend/packages/kubevirt-plugin/src/hooks/use-base-images.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-urgent

#10926 Bug 2039619: - [AWS] In tree provisioner storageclass aws disk type should contain 'gp3' and csi provisioner storageclass default aws disk type should be 'gp3'
  frontend/public/components/storage-class-form.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-high

#10887 Bug 2045849: chore(i18n): update translations
  frontend/packages/ceph-storage-plugin/locales/ja/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/ja/console-shared.json
  frontend/packages/ceph-storage-plugin/locales/ko/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/ko/console-shared.json
  frontend/packages/ceph-storage-plugin/locales/zh/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/zh/console-shared.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-shared/locales/ja/console-shared.json
  frontend/packages/console-shared/locales/ko/console-shared.json
  frontend/packages/console-shared/locales/zh/console-shared.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/gitops-plugin/locales/ja/gitops-plugin.json
  frontend/packages/gitops-plugin/locales/ko/gitops-plugin.json
  frontend/packages/gitops-plugin/locales/zh/gitops-plugin.json
  frontend/packages/helm-plugin/locales/ja/helm-plugin.json
  frontend/packages/helm-plugin/locales/ko/helm-plugin.json
  frontend/packages/helm-plugin/locales/zh/helm-plugin.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/ja/lso-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/ko/lso-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/zh/lso-plugin.json
  frontend/packages/network-attachment-definition-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/network-attachment-definition-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/network-attachment-definition-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/operator-lifecycle-manager/locales/ko/olm.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ko/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/packages/rhoas-plugin/locales/ja/rhoas-plugin.json
  frontend/packages/rhoas-plugin/locales/ko/rhoas-plugin.json
  frontend/packages/rhoas-plugin/locales/zh/rhoas-plugin.json
  frontend/packages/topology/locales/ja/topology.json
  frontend/packages/topology/locales/ko/topology.json
  frontend/packages/topology/locales/zh/topology.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/olm, component/network-attachment-definition, bugzilla/severity-low, kind/i18n, component/topology, component/pipelines

#10760 Bug 2035602: [e2e][automation] add tests for Virtualization Overview cards
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-b/hotplug.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/virtualization-overview/getting-started-card.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/virtualization-overview/overview-cards.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/virtualization-overview.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-low, kind/i18n

#10922 Bug 2015356: Different status shows on VM
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/status/VMStatusHealth.tsx
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-status-card.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#10921 Bug 2040535: Added support for customized wizard
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/storage-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/vm-settings-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/os.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/vm-settings-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/types.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/utils/utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#10937 Bug 2044724: Remove namespace column on VM list page when a project is selected
  frontend/packages/kubevirt-plugin/src/components/vms/vm-page-new.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#10939 Bug 2042274: Storage API should be used when upload PVC
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#10928 Bug 2037203: Add a scrollable legend to Running VMs graph
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/running-vms-per-template-card/RunningVMsChartLegend.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/running-vms-per-template-card/RunningVMsChartLegendLabel.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/running-vms-per-template-card/RunningVMsPerTemplateCard.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/running-vms-per-template-card/running-vms-per-template-card.scss
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/running-vms-per-template-card/utils.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-running-vms-per-template-resources.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium, kind/i18n

#10014 CONSOLE-2964: Update ts-node to v10.2.1
  frontend/integration-tests/protractor.conf.ts
  frontend/integration-tests/tests/dashboards/cluster-dashboard.scenario.ts
  frontend/integration-tests/tsconfig.json
  frontend/package.json
  frontend/packages/console-dynamic-plugin-sdk/tsconfig-base.json
  frontend/yarn.lock
Labels: approved, lgtm, component/sdk, kind/dependency-change, docs-approved, qe-approved, px-approved

#10491 Bug 2023675: Add warning alert when installing operator to non suggested namespace
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, bugzilla/severity-medium, kind/i18n

#10876 Add a new devfile telemetry event
  frontend/packages/dev-console/src/components/import/devfile/DevfileStrategySection.tsx
  frontend/packages/dev-console/src/components/import/devfile/devfileHooks.ts
Labels: approved, lgtm, ok-to-test, component/dev-console, docs-approved, qe-approved, px-approved
