Repository openshift/console, pull requests merged in 2022-05, with the labels that each got.

#11004 Monitoring: Add duplicate query option to kebab menu
  frontend/public/actions/observe.ts
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/locales/en/public.json
  frontend/public/reducers/observe.ts
Labels: approved, lgtm, ok-to-test, component/monitoring, component/core, docs-approved, qe-approved, px-approved, kind/i18n

#11389 Automation of knative-plugin | admin-perspective
  frontend/packages/dev-console/integration-tests/support/constants/pageTitle.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/operators-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/operators-page.ts
  frontend/packages/knative-plugin/integration-tests/cypress.json
  frontend/packages/knative-plugin/integration-tests/features/admin-perspective/eventing-page-admin.feature
  frontend/packages/knative-plugin/integration-tests/features/admin-perspective/filters-serving-eventing-admin.feature
  frontend/packages/knative-plugin/integration-tests/features/admin-perspective/serverless-admin-empty-state.feature
  frontend/packages/knative-plugin/integration-tests/features/admin-perspective/serving-page-admin.feature
  frontend/packages/knative-plugin/integration-tests/support/pageObjects/global-po.ts
  frontend/packages/knative-plugin/integration-tests/support/pageObjects/index.ts
  frontend/packages/knative-plugin/integration-tests/support/pages/admin-perspective/eventing-page.ts
  frontend/packages/knative-plugin/integration-tests/support/pages/index.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/admin-perspective/eventing-page-admin.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/admin-perspective/filters-serving-eventing-admin.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/admin-perspective/serverless-admin-empty-state.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/admin-perspective/serving-page-admin.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/common/common.ts
Labels: approved, lgtm, component/dev-console, component/knative, docs-approved, qe-approved, px-approved

#11395 Automation for application and resource grouping | Topology
  frontend/packages/topology/integration-tests/features/topology/resources-groupings.feature
  frontend/packages/topology/integration-tests/features/topology/topology-application-grouping.feature
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/application-groupings.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/topology

#11348 Bug 2071904: Translate Extensions On Each Language Change
  frontend/packages/console-dynamic-plugin-sdk/src/utils/__tests__/object.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/object.ts
  frontend/packages/console-plugin-sdk/src/api/useExtensions.ts
  frontend/packages/console-plugin-sdk/src/utils/extension-i18n.ts
  frontend/packages/console-plugin-sdk/src/utils/useTranslatedExtensions.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/sdk, bugzilla/severity-medium, backport-risk-assessed

#11427 Bug 2080873: Fix crash when stored topology layout isn't supported anymore
  frontend/packages/topology/src/components/graph-view/Topology.tsx
  frontend/packages/topology/src/components/graph-view/layouts/layoutFactory.ts
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high, component/topology

#11436 Bug 2081743: disable kubevirt flaky tests
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/create-template-from-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/create-vm-from-customize-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/source-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-a/customize-source.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.wizard.scenario.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-low

#11295 Expose UsePrometheusPoll in console-dynamic-plugin-sdk
  dynamic-demo-plugin/locales/en/plugin__console-demo-plugin.json
  dynamic-demo-plugin/src/components/ExamplePage.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/api/common-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-shared/src/components/dashboard/utilization-card/prometheus-hook.ts
  frontend/public/components/graphs/helpers.ts
  frontend/public/components/graphs/prometheus-poll-hook.ts
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/dashboards/single-stat.tsx
  frontend/public/components/monitoring/dashboards/table.tsx
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/components/monitoring/query-browser.tsx
  frontend/public/components/monitoring/targets.tsx
Labels: approved, lgtm, component/shared, component/dashboard, component/monitoring, component/core, component/sdk, docs-approved, qe-approved, px-approved

#11384 CONSOLE-3090: [Dark Theme] Convert custom row-filter to use PatternFly ToggleGroup component for styling that is dark theme enabled.
  frontend/public/components/_row-filter.scss
  frontend/public/components/row-filter.jsx
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved

#11397 Bug 1990384: Improve Alertmanager unavailable message
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/types.ts
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, bugzilla/severity-low, kind/i18n

#11410 Bug 2074585: fix kms issue for mcg standalone
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/security-and-network-step/encryption.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/hpcs-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/kms-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/providers.ts
  frontend/packages/ceph-storage-plugin/src/components/kms-config/vault-config.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-high

#11429 Document Console to SDK versions
  frontend/packages/console-dynamic-plugin-sdk/README.md
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved

#11446 Bug 2079961: Fix bug where the search results accordion section has no spacing between sidebar.
  frontend/public/components/_resource-dropdown.scss
  frontend/public/components/_search.scss
  frontend/public/components/search.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#11343 Bug 2072999: Add params prop to HorizontalNav component
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunLogs.tsx
  frontend/public/components/utils/horizontal-nav.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low, component/pipelines

#11444 Automation of event-sources-installation | knative-plugin
  frontend/packages/dev-console/integration-tests/support/constants/add.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/knative-plugin/integration-tests/cypress.json
  frontend/packages/knative-plugin/integration-tests/features/eventing/event-sources-installation-view.feature
  frontend/packages/knative-plugin/integration-tests/support/pageObjects/global-po.ts
  frontend/packages/knative-plugin/integration-tests/support/pages/dev-perspective/eventing-page.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/eventing/event-sources-installation-view.ts
  frontend/packages/knative-plugin/integration-tests/support/testData/createPingSource.yaml
Labels: approved, lgtm, component/dev-console, component/knative, docs-approved, qe-approved, px-approved

#11355 Bug 2013461: Import deployment from Git with s2i expose always port 8080 (Service and Pod template, not Route) if another Route port is selected by the user
  frontend/packages/dev-console/src/utils/__tests__/shared-submit-utils.spec.ts
  frontend/packages/dev-console/src/utils/shared-submit-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-low

#11334 Bug 2060329: show Limit exceeded state for large number of nodes in topology
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/page/LimitExceededState.tsx
  frontend/packages/topology/src/components/page/TopologyView.tsx
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high, kind/i18n, component/topology

#11408 CONSOLE-3081: updated skeleton color definitions, updated sidebar shadow
  frontend/packages/console-shared/src/styles/skeleton-screen.scss
  frontend/public/style/_overrides.scss
  frontend/public/style/_theme-dark.scss
Labels: approved, lgtm, ok-to-test, component/shared, component/core, docs-approved, qe-approved, px-approved

#11458 Bug 2082380: customize wizard is crashed
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/storage-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/vm-settings-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/selectors/immutable/template/combined.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-urgent

#11426 GitOps-1941 fixed dark theme color issue
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetails.scss
  frontend/packages/gitops-plugin/src/components/list/GitOpsTableRow.scss
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/gitops

#11459 Bug 2083149: fix bug where "Update blocked" label incorrectly displa…
  frontend/public/components/modals/cluster-more-updates-modal.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#11404 Bug 2076544: Added margin-bottom for the paragraph component
  frontend/packages/console-app/src/components/network-policies/_create-network-policy.scss
  frontend/packages/console-app/src/components/network-policies/network-policy-conditional-selector.tsx
  frontend/packages/dev-console/src/components/health-checks/AddHealthChecks.scss
  frontend/packages/dev-console/src/components/health-checks/AddHealthChecks.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebar.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebar.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarWhenExpression.tsx
  frontend/public/components/cluster-settings/_cluster-settings.scss
  frontend/public/components/cluster-settings/global-config.tsx
  frontend/public/components/modals/_modals.scss
  frontend/public/components/modals/add-secret-to-workload.tsx
  frontend/public/components/modals/configure-count-modal.tsx
  frontend/public/components/modals/configure-update-strategy-modal.tsx
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/silence-form.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, component/monitoring, component/core, bugzilla/severity-low, component/pipelines

#11428 Bug 2070720: Fix Filter Dropdown & Label Selection State Management
  frontend/public/components/filter-toolbar.tsx
  frontend/public/components/useLabelSelectionFix.ts
  frontend/public/components/useMirroredLocalState.ts
  frontend/public/components/useRowFilterFix.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#11438 Bug 2076527: Fix multiple Tektonhub Versions API call
  frontend/packages/pipelines-plugin/src/components/quicksearch/PipelineQuickSearchDetails.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/__tests__/PipelineQuicksearchDetails.spec.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low, component/pipelines

#11447 [Dark Theme]: fix quick search bar and project selector in User Preferences page
  frontend/packages/console-app/src/components/user-preferences/namespace/NamespaceDropdown.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchBar.scss
Labels: approved, lgtm, component/shared, component/core, docs-approved, qe-approved, px-approved

#11455 Update QE OWNERS roles for integration tests
  frontend/packages/dev-console/integration-tests/OWNERS
  frontend/packages/gitops-plugin/integration-tests/OWNERS
  frontend/packages/helm-plugin/integration-tests/OWNERS
  frontend/packages/knative-plugin/integration-tests/OWNERS
  frontend/packages/pipelines-plugin/integration-tests/OWNERS
  frontend/packages/topology/integration-tests/OWNERS
Labels: approved, lgtm, component/dev-console, component/knative, docs-approved, qe-approved, px-approved, component/helm, component/topology, component/gitops, component/pipelines

#11364 [release-4.10] Bug 2076777: add update mode to Update cluster
  frontend/__mocks__/clusterVersionMock.ts
  frontend/__tests__/components/cluster-settings.spec.tsx
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/machine-config-pools-selector.tsx
  frontend/public/components/modals/cluster-update-modal.tsx
  frontend/public/locales/en/public.json
  frontend/public/module/k8s/cluster-settings.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/core, bugzilla/severity-low, qe-approved, kind/i18n, backport-risk-assessed

#11365 [release-4.10] Bug 2076275: Update and scope our breadcrumb padding rule so it doesn't effect a pure implementation
  frontend/public/components/sidebars/explore-type-sidebar.tsx
  frontend/public/components/utils/details-item.tsx
  frontend/public/components/utils/headings.tsx
  frontend/public/style/_common.scss
  frontend/public/style/_overrides.scss
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/core, bugzilla/severity-medium, qe-approved, backport-risk-assessed

#11435 Bug 2078769: Added language translation on filter items
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/utils/pipeline-utils.ts
  frontend/public/components/pod.tsx
  frontend/public/components/secret.jsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium, kind/i18n, component/pipelines

#11457 Bug 2078375: Create VM from template that has sourceRef - will now reflect sourceRed at yaml
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/storage-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/main-actions/create-vm.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/prefill-vm-template-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/vm-settings-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/selectors/immutable/wizard-selectors.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/os.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/types.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/utils/utils.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/create.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/initialize-vm.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/simple-create.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/types.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/data-volume-wrapper.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/vm-wrapper.ts
  frontend/packages/kubevirt-plugin/src/redux/actions/sourceRef-actions.ts
  frontend/packages/kubevirt-plugin/src/redux/index.ts
  frontend/packages/kubevirt-plugin/src/redux/reducers/sourceRef-reducer.ts
  frontend/packages/kubevirt-plugin/src/statuses/template/template-source-status.ts
  frontend/packages/kubevirt-plugin/src/statuses/template/types.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-urgent

#11369 Bug 2075592: add z-index to ocs-drawer to make box-shadow visible
  frontend/packages/console-shared/src/components/drawer/Drawer.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, bugzilla/severity-low

#11301 Bug 2068181: Fix Event source powered with kamelet type source to show associated resources in the sidepanel
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/pod/PodsOverview.tsx
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/src/components/overview/EventSourceResources.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/EventSourceResources.spec.tsx
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
  frontend/packages/knative-plugin/src/topology/sidebar/__tests__/knative-eventsource-tab-sections.spec.tsx
  frontend/packages/knative-plugin/src/topology/sidebar/index.ts
  frontend/packages/knative-plugin/src/topology/sidebar/knative-eventsource-tab-sections.tsx
  frontend/packages/knative-plugin/src/topology/sidebar/knative-resource-tab-sections.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/shared, component/knative, bugzilla/severity-low, kind/i18n

#11356 [release-4.10] Bug 2076370: fix CRD name filter
  frontend/integration-tests/tests/crd-extensions.scenario.ts
  frontend/public/components/custom-resource-definition.tsx
  frontend/public/components/factory/table-filters.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/core, bugzilla/severity-low, qe-approved, backport-risk-assessed

#11443 E2E tests: wait for project list to load before creating
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved

#10959 [release-4.9] Bug 2046016: SnapShot with Disk Hot-plug hangs
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-modal/SnapshotsModal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/vm-snapshots.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, bugzilla/severity-medium, kind/i18n, backport-risk-assessed

#11473 Bug 2079062: Update user from node to 1001 similar to console docker file user id
  Dockerfile.plugins.demo
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium

#11433 Bug 1989610: Don't render empty div for invalid descriptors.
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/common.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/status/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/types.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
Labels: approved, lgtm, tide/merge-method-squash, bugzilla/valid-bug, component/olm, bugzilla/severity-low, kind/i18n

#11439 feat: Add Deployment History Tab (#1950)
  frontend/packages/gitops-plugin/locales/en/gitops-plugin.json
  frontend/packages/gitops-plugin/src/components/GitOpsDetailsPage.tsx
  frontend/packages/gitops-plugin/src/components/GitOpsDetailsPageTabs.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetails.scss
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetails.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetailsPageHeading.scss
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetailsPageHeading.tsx
  frontend/packages/gitops-plugin/src/components/details/deploymentHistory/GitOpsDeploymentHistory.tsx
  frontend/packages/gitops-plugin/src/components/history/CommitRevision.tsx
  frontend/packages/gitops-plugin/src/components/history/GitOpsDeploymentHistory.scss
  frontend/packages/gitops-plugin/src/components/history/GitOpsDeploymentHistory.tsx
  frontend/packages/gitops-plugin/src/components/history/GitOpsDeploymentHistoryTableColumnClasses.tsx
  frontend/packages/gitops-plugin/src/components/history/GitOpsDeploymentHistoryTableHeader.tsx
  frontend/packages/gitops-plugin/src/components/history/GitOpsDeploymentHistoryTableRow.tsx
  frontend/packages/gitops-plugin/src/components/list/GitOpsTableRow.tsx
  frontend/packages/gitops-plugin/src/components/utils/gitops-types.ts
  frontend/packages/gitops-plugin/src/plugin.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, kind/i18n, component/gitops

#11472 Bug 2081067: add help text indicating Cluster history may be excerpted
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low, kind/i18n

#11467 Bug 2084292: Add useDashboardResources hook
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-types.ts
  frontend/packages/console-shared/src/hooks/useDashboardResources.ts
  frontend/public/actions/dashboards.ts
  frontend/public/components/dashboard/with-dashboard-resources.tsx
  frontend/public/reducers/dashboards.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/dashboard, component/core, component/sdk, bugzilla/severity-high

#11475 Bug 2083641: fixes apiversion for k8s svc and resource selection for sink for form yaml switcher
  frontend/packages/knative-plugin/src/components/add/event-sources/form-fields/SinkResources.tsx
  frontend/packages/knative-plugin/src/utils/create-eventsources-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/knative, bugzilla/severity-high

#11480 Bug 2084124: fix upstream "Learn more" link in Update cluster modal
  frontend/public/components/modals/cluster-update-modal.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#11424 CONSOLE-3138: add conditional updates to cluster update modal
  frontend/__mocks__/clusterVersionMock.ts
  frontend/packages/console-shared/src/components/dropdown/dropdown-with-switch/DropdownWithSwitch.tsx
  frontend/packages/console-shared/src/components/dropdown/dropdown-with-switch/DropdownWithSwitchGroups.tsx
  frontend/packages/console-shared/src/components/dropdown/dropdown-with-switch/DropdownWithSwitchMenu.tsx
  frontend/packages/console-shared/src/components/dropdown/dropdown-with-switch/DropdownWithSwitchToggle.tsx
  frontend/packages/console-shared/src/components/dropdown/index.ts
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/modals/cluster-more-updates-modal.tsx
  frontend/public/components/modals/cluster-update-modal.tsx
  frontend/public/components/notification-drawer.tsx
  frontend/public/locales/en/public.json
  frontend/public/module/k8s/cluster-settings.ts
  frontend/public/module/k8s/types.ts
  frontend/public/style/_common.scss
Labels: approved, lgtm, component/shared, component/core, docs-approved, qe-approved, px-approved, kind/i18n

#11378 Gherkin Scripts and Automation for Web-Terminal | Dev Console
  frontend/packages/dev-console/integration-tests/features/web-terminal/web-terminal-adminuser.feature
  frontend/packages/dev-console/integration-tests/support/pageObjects/operators-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/web-terminal-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/addTerminalTabs.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/checkTerminalIcon.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/installOperatorOnCluster.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/operators.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/web-terminal/web-terminal-adminuser.ts
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved

#11451 CONSOLE-3086: Add tsdoc for dynamic plugin utility APIs
  frontend/packages/console-dynamic-plugin-sdk/scripts/generate-doc.ts
  frontend/packages/console-dynamic-plugin-sdk/scripts/templates/api.md.ejs
  frontend/packages/console-dynamic-plugin-sdk/src/api/core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/useResolvedExtensions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/safety-first.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/utils/rbac.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/core/reducers/core.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/core/reducers/coreSelectors.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/fetch/console-fetch-utils.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/fetch/console-fetch.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/flags.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sModel.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sWatchResource.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sWatchResources.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-get-resource.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-ref.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-resource.ts
Labels: approved, lgtm, tide/merge-method-squash, component/sdk, docs-approved, qe-approved, px-approved

#11485 Bug 2084489: Create VM from template that has sourceRef - will now reflect sourceRef at yaml
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/storage-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/main-actions/create-vm.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/prefill-vm-template-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/vm-settings-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/selectors/immutable/wizard-selectors.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/os.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/types.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/utils/utils.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/create.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/initialize-vm.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/simple-create.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/types.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/data-volume-wrapper.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/vm-wrapper.ts
  frontend/packages/kubevirt-plugin/src/redux/actions/sourceRef-actions.ts
  frontend/packages/kubevirt-plugin/src/redux/index.ts
  frontend/packages/kubevirt-plugin/src/redux/reducers/sourceRef-reducer.ts
  frontend/packages/kubevirt-plugin/src/statuses/template/template-source-status.ts
  frontend/packages/kubevirt-plugin/src/statuses/template/types.ts
  frontend/packages/kubevirt-plugin/src/types/types.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, bugzilla/severity-urgent, backport-risk-assessed

#11453 Chart-Area-Visual feature | Topology
  frontend/packages/topology/integration-tests/features/topology/topology-chart-area-visual.feature
  frontend/packages/topology/integration-tests/support/page-objects/chart-area-po.ts
  frontend/packages/topology/integration-tests/support/pages/functions/chart-functions.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/chart-view.ts
  frontend/packages/topology/integration-tests/support/test-data/postgres-operator-backed.yaml
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/topology

#11399 CCXDEV-7974: show error message when Insights Operator cannot process results
  frontend/packages/insights-plugin/src/components/InsightsPopup/index.tsx
  frontend/packages/insights-plugin/src/components/InsightsPopup/mappers.ts
  frontend/packages/insights-plugin/src/components/InsightsPopup/status.ts
  frontend/packages/insights-plugin/src/plugin.tsx
  frontend/public/components/error.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, component/insights, kind/i18n

#11489 Bug 2070457: and PF-2022-6 PF update to fix Image vulnerability Popover
  frontend/package.json
  frontend/public/components/graphs/tooltip.tsx
  frontend/yarn.lock
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#11440 ODC-6645: Convert the ProjectHelmChartRepository create form into a form-yaml switcher
  frontend/packages/helm-plugin/console-extensions.json
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/src/components/forms/ProjectHelmChartRepository/CreateProjectHelmChartRepository.tsx
  frontend/packages/helm-plugin/src/components/forms/ProjectHelmChartRepository/CreateProjectHelmChartRepositoryForm.tsx
  frontend/packages/helm-plugin/src/components/forms/ProjectHelmChartRepository/CreateProjectHelmChartRepositoryFormEditor.tsx
  frontend/packages/helm-plugin/src/components/forms/ProjectHelmChartRepository/CreateProjectHelmChartRepositoryPage.tsx
  frontend/packages/helm-plugin/src/components/forms/ProjectHelmChartRepository/__tests__/projecthelmchartrepository-create-utils.spec.ts
  frontend/packages/helm-plugin/src/components/forms/ProjectHelmChartRepository/__tests__/projecthelmchartrepository-data.ts
  frontend/packages/helm-plugin/src/components/forms/ProjectHelmChartRepository/projecthelmchartrepository-create-utils.ts
  frontend/packages/helm-plugin/src/components/forms/ProjectHelmChartRepository/projecthelmchartrepository-validation-utils.ts
  frontend/packages/helm-plugin/src/components/index.ts
  frontend/packages/helm-plugin/src/components/list-page/ProjectHelmChartRepositoryHeader.tsx
  frontend/packages/helm-plugin/src/components/list-page/ProjectHelmChartRepositoryList.tsx
  frontend/packages/helm-plugin/src/components/list-page/ProjectHelmChartRepositoryListPage.tsx
  frontend/packages/helm-plugin/src/components/list-page/ProjectHelmChartRepositoryRow.tsx
  frontend/packages/helm-plugin/src/types/helm-types.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, kind/i18n, component/helm

#11500 Bug 2055492: The default YAML on vm wizard is not latest
  frontend/packages/kubevirt-plugin/src/models/templates/vm-template-yaml.ts
  frontend/packages/kubevirt-plugin/src/models/templates/vm-yaml.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#11409 [release-4.8] Bug 2079436: Pipeline metrics: use prometheus-tenancy API to get data
  frontend/packages/pipelines-plugin/src/components/pipelines/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/hooks.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium, component/pipelines, backport-risk-assessed

#11478 Gherkin and automation for PAC bootstrap form
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-as-code.feature
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/task-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipeline-as-code.ts
  frontend/packages/pipelines-plugin/src/components/pac/PacAppForm.tsx
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/pipelines

#11495 Bug 2086417: Fix start pipeline default value for GIT REVISION field
  frontend/packages/pipelines-plugin/src/components/import/pipeline/__tests__/pipeline-template-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/import/pipeline/pipeline-template-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium, component/pipelines

#11464 Bug 2077943: If there is a service with multiple ports, and the route uses 8080, when editing the 8080 port isn't replaced, but a random port gets replaced and 8080 still stays
  frontend/packages/dev-console/src/components/import/deployImage-submit-utils.ts
  frontend/packages/dev-console/src/utils/__tests__/shared-submit-utils.spec.ts
  frontend/packages/dev-console/src/utils/shared-submit-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-medium

#11474 Monitoring: Add "fade out" horizontal gradient to Metrics page table
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved

#11499 Bug 2054735: Change learn more link in virtualization -> migration tool
  frontend/packages/kubevirt-plugin/src/components/vms/migration-tool/MigrationToolContent.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, component/core, bugzilla/severity-high

#11292 Bug 2076553: fix rolebinding in DevConsole dropping all subjects when updating
  frontend/packages/dev-console/src/components/project-access/ProjectAccess.tsx
  frontend/packages/dev-console/src/components/project-access/ProjectAccessForm.tsx
  frontend/packages/dev-console/src/components/project-access/__tests__/ProjectAccessForm.spec.tsx
  frontend/packages/dev-console/src/components/project-access/__tests__/project-access-form-data.ts
  frontend/packages/dev-console/src/components/project-access/__tests__/project-access-form-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/project-access/__tests__/project-access-form-utils.spec.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-submit-utils.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-utils-types.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-utils.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-validation-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-high

#11448 Gherkin for pipeline builder to support local tektonhub instances
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-builder-page.feature
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/pipelines

#11508 Bug 2067246: Removing SSH service selectors to minimum required
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHForm/ssh-form-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#11505 Bug 2086469: Monitoring: Fix first panel sometimes not rendered
  frontend/public/components/monitoring/dashboards/index.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, bugzilla/severity-medium

#11431 Bug 2081377: Remove pf-c-code-block__pre since pf updated allows classnames
  frontend/public/components/utils/copy-to-clipboard.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#11470 Improve cross portfolio consistency
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/dev-console/src/components/catalog/providers/useBuilderImageSamples.ts
  frontend/packages/dev-console/src/components/catalog/providers/useBuilderImages.tsx
  frontend/packages/dev-console/src/components/catalog/providers/useDevfile.tsx
  frontend/packages/dev-console/src/components/import/advanced/RouteSection.tsx
  frontend/packages/dev-console/src/components/import/git/AdvancedGitOptions.tsx
  frontend/packages/dev-console/src/components/import/route/AdvancedRouteOptions.tsx
  frontend/packages/topology/integration-tests/support/step-definitions/common/topology.ts
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/locales/ja/topology.json
  frontend/packages/topology/locales/ko/topology.json
  frontend/packages/topology/locales/zh/topology.json
  frontend/packages/topology/src/components/dropdowns/ApplicationSelector.tsx
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/dev-console, component/core, docs-approved, qe-approved, px-approved, kind/i18n, component/topology

#11471 Bug 2083729: Fix Filter Dropdown State Management
  frontend/public/components/filter-toolbar.tsx
  frontend/public/components/useLabelSelectionFix.ts
  frontend/public/components/useMirroredLocalState.ts
  frontend/public/components/useRowFilterFix.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/core, bugzilla/severity-medium, qe-approved, backport-risk-assessed

#11518 Bug 2069654: Adding missing annotations to create VM from YAML
  frontend/packages/kubevirt-plugin/src/models/templates/vm-yaml.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#11390 Send activity tick by polling
  frontend/packages/console-app/src/components/cloud-shell/CloudShellExec.tsx
  frontend/packages/console-app/src/components/cloud-shell/CloudShellTerminal.tsx
  frontend/packages/console-app/src/components/cloud-shell/MultiTabbedTerminal.tsx
  frontend/packages/console-app/src/components/cloud-shell/__tests__/CloudShellExec.spec.tsx
  frontend/packages/console-app/src/components/cloud-shell/useActivityTick.ts
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved

#11511 Bug 2086542: Fix that Service Binding could not be created via drag and drop
  frontend/packages/topology/src/components/graph-view/components/componentUtils.ts
  frontend/packages/topology/src/components/graph-view/components/nodes/BindableNode.tsx
  frontend/packages/topology/src/operators/components/OperatorBackedService.tsx
  frontend/packages/topology/src/utils/relationship-provider-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium, component/topology

#11512 Bug 2015356: Different status shows on VM list page and details page
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#11514 Bug 2064239: Overview page crash if no labels available
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/running-vms-per-template-card/RunningVMsPerTemplateCard.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-urgent

#11521 Bug 2066782: Attached disk keeps in loading status when add disk to a power off VM by non-privileged user
  frontend/packages/kubevirt-plugin/src/components/vm-disks/disk-row.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/vm-disks.tsx
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/combined-disk.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#11011 Bug 2051433: [release-4.10] Create HANA VM does not use values from customized HANA templates
  frontend/packages/kubevirt-plugin/src/components/vm-templates/menu-actions.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, bugzilla/severity-high, backport-risk-assessed

#10472 Bug 2020483: Monitoring dashboards: Improve display text for interval variables
  frontend/public/components/monitoring/dashboards/index.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, bugzilla/severity-low, qe-approved

#11520 adds hint and updates helptext for PAC
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pac/PacAppForm.tsx
  frontend/packages/pipelines-plugin/src/components/pac/PacForm.tsx
  frontend/packages/pipelines-plugin/src/components/pac/PacOverview.tsx
  frontend/packages/pipelines-plugin/src/components/pac/__tests__/PacOverview.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pac/const.ts
  frontend/packages/pipelines-plugin/src/components/pac/hooks/usePacGHManifest.ts
  frontend/packages/pipelines-plugin/src/test-data/pac-data.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines

#11401 CONSOLE-3113: Support ordering of plugin nav sections in admin perspective
  frontend/__tests__/components/nav/utils.spec.ts
  frontend/integration-tests/views/sidenav.view.ts
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/navigation.ts
  frontend/packages/console-plugin-sdk/src/typings/nav-items.ts
  frontend/packages/console-shared/src/hooks/useLocation.ts
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/pipelines-plugin/console-extensions.json
  frontend/public/components/nav/ExternalLink.tsx
  frontend/public/components/nav/NavHeader.scss
  frontend/public/components/nav/NavHeader.tsx
  frontend/public/components/nav/NavLink.tsx
  frontend/public/components/nav/NavLinkHref.tsx
  frontend/public/components/nav/NavLinkResourceCluster.tsx
  frontend/public/components/nav/NavLinkResourceNS.tsx
  frontend/public/components/nav/NavLinkRoot.tsx
  frontend/public/components/nav/NavSection.tsx
  frontend/public/components/nav/PerspectiveNav.scss
  frontend/public/components/nav/PerspectiveNav.tsx
  frontend/public/components/nav/PinnedResource.tsx
  frontend/public/components/nav/PluginNavItems.tsx
  frontend/public/components/nav/__tests__/perspective-nav.spec.tsx
  frontend/public/components/nav/admin-nav.tsx
  frontend/public/components/nav/index.tsx
  frontend/public/components/nav/items.tsx
  frontend/public/components/nav/section.tsx
  frontend/public/components/nav/useNavExtensionForPerspective.ts
  frontend/public/components/nav/useNavExtensionsForSection.ts
  frontend/public/components/nav/utils.ts
  frontend/public/locales/en/public.json
  frontend/public/reducers/features.ts
  frontend/public/style.scss
Labels: approved, lgtm, tide/merge-method-squash, component/shared, component/kubevirt, component/knative, component/core, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines

#11524 Bug 2088161: Match dockerfile image name with the name used in the release repo for demo plugin
  Dockerfile.plugins.demo
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low

#11496 In-context-add-options feature | Topology
  frontend/packages/dev-console/integration-tests/support/pages/functions/createGitWorkload.ts
  frontend/packages/topology/integration-tests/features/topology/topology-in-context-add-options.feature
  frontend/packages/topology/integration-tests/support/page-objects/topology-add-options-po.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-page.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/topology-add-options.ts
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, component/topology

#11481 Bug 2079845: fix catalog filter group getting removed on keyword change
  frontend/packages/console-shared/src/components/catalog/catalog-view/CatalogFilters.tsx
  frontend/packages/console-shared/src/components/catalog/catalog-view/CatalogView.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, bugzilla/severity-medium

#11536 Bug 2087944: fixes kafka sink visualisation
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/knative, bugzilla/severity-high

#11534 Bug 2088248: Create HANA VM does not use values from customized HANA templates
  frontend/packages/kubevirt-plugin/src/components/vm-templates/menu-actions.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#11487 [release-4.10] Bug 2087041: back port conditional updates
  frontend/__mocks__/clusterVersionMock.ts
  frontend/__tests__/components/cluster-settings.spec.tsx
  frontend/packages/console-shared/src/components/dropdown/dropdown-with-switch/DropdownWithSwitch.tsx
  frontend/packages/console-shared/src/components/dropdown/dropdown-with-switch/DropdownWithSwitchGroups.tsx
  frontend/packages/console-shared/src/components/dropdown/dropdown-with-switch/DropdownWithSwitchMenu.tsx
  frontend/packages/console-shared/src/components/dropdown/dropdown-with-switch/DropdownWithSwitchToggle.tsx
  frontend/packages/console-shared/src/components/dropdown/index.ts
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/modals/cluster-more-updates-modal.tsx
  frontend/public/components/modals/cluster-update-modal.tsx
  frontend/public/components/notification-drawer.tsx
  frontend/public/locales/en/public.json
  frontend/public/module/k8s/cluster-settings.ts
  frontend/public/module/k8s/types.ts
  frontend/public/style/_common.scss
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/shared, component/core, bugzilla/severity-low, qe-approved, kind/i18n, backport-risk-assessed

#11538 [release-4.10] Bug 2088247: Different status shows on VM list page and details page
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, bugzilla/severity-high, backport-risk-assessed

#11546 Bug 2089271: Virtualization appears twice in sidebar
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium, kind/i18n

#11497 Bug 2088304: Eliminate use of lookaside cache and move to Cachito
  Dockerfile.product
  frontend/package.json
  frontend/packages/console-plugin-sdk/src/codegen/plugin-resolver.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/sdk, bugzilla/severity-high

#11535 CONSOLE-3081: Include pf charts dark theme css file in app.jsx to ensure they are loaded last
  frontend/public/components/app.jsx
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved

#11462 chore(i18n): update translations : Completed-7034-OCP 4.11 UI Localization- print 217
  frontend/packages/ceph-storage-plugin/locales/ja/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/ko/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/zh/ceph-storage-plugin.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-shared/locales/ja/console-shared.json
  frontend/packages/console-shared/locales/ko/console-shared.json
  frontend/packages/console-shared/locales/zh/console-shared.json
  frontend/packages/container-security/locales/ja/container-security.json
  frontend/packages/container-security/locales/ko/container-security.json
  frontend/packages/container-security/locales/zh/container-security.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/helm-plugin/locales/ja/helm-plugin.json
  frontend/packages/helm-plugin/locales/ko/helm-plugin.json
  frontend/packages/helm-plugin/locales/zh/helm-plugin.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/ja/lso-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/ko/lso-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/zh/lso-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/operator-lifecycle-manager/locales/ko/olm.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ko/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, component/shared, component/dev-console, component/kubevirt, component/knative, component/ceph, component/core, component/olm, component/lso, docs-approved, qe-approved, px-approved, kind/i18n, component/helm, component/pipelines

#11558 [release-3.11] Bug 2089734: Eliminate use of lookaside cache and move to Cachito
  Dockerfile.product
  frontend/yarn.lock
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, backport-risk-assessed

#11544 Bug 2084287: Fix NPE when consuming CSVs with missing informations
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/types.ts
  frontend/packages/operator-lifecycle-manager/src/utils/useClusterServiceVersions.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, bugzilla/severity-high

#11376 CONSOLE-3081: swapped labels out for details view and modal
  frontend/integration-tests/views/crud.view.ts
  frontend/integration-tests/views/monitoring.view.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/descriptors.spec.ts
  frontend/public/components/modals/create-namespace-modal.jsx
  frontend/public/components/modals/labels-modal.jsx
  frontend/public/components/monitoring/alert-manager-config.tsx
  frontend/public/components/monitoring/labels.tsx
  frontend/public/components/overview/_overview.scss
  frontend/public/components/utils/_label.scss
  frontend/public/components/utils/label-list.tsx
  frontend/public/components/utils/selector-input.jsx
  frontend/public/style/_base.scss
  frontend/public/style/_common.scss
  frontend/public/style/_text.scss
Labels: approved, lgtm, ok-to-test, component/kubevirt, component/monitoring, component/core, component/olm, docs-approved, qe-approved, px-approved

#11519 Bug 2089546: [release-4.9] Eliminate use of lookaside cache and move to Cachito
  Dockerfile.product
  frontend/package.json
  frontend/packages/console-plugin-sdk/src/codegen/plugin-resolver.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/sdk, bugzilla/severity-high, backport-risk-assessed

#11559 [release-4.6] Bug 2089727: Eliminate use of lookaside cache and move to Cachito
  Dockerfile.product
  frontend/package.json
  frontend/packages/console-plugin-sdk/src/codegen/plugin-resolver.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/sdk, bugzilla/severity-high, backport-risk-assessed

#11543 Prometheus poll hook can return undefined
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved

#11555 Change metrics autocomplete filter
  frontend/public/components/monitoring/metrics.tsx
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved

#11542 Bug 2084459: fixes topology list URI flow
  frontend/packages/topology/src/components/list-view/TopologyListViewNode.tsx
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high, component/topology

#11567 Bug 2090178: Fix SSH command string
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHForm/ssh-form-utils.ts
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
  frontend/packages/kubevirt-plugin/src/hooks/use-ssh-command.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-ssh-service.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#11504 Bug 2090621: Handle medik8s node maintenance
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/utils.ts
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/dashboard/utils.ts
  frontend/packages/metal3-plugin/src/components/modals/StopNodeMaintenanceModal.tsx
  frontend/packages/metal3-plugin/src/features.ts
  frontend/packages/metal3-plugin/src/hooks/useMaintenanceCapability.ts
  frontend/packages/metal3-plugin/src/models.ts
  frontend/packages/metal3-plugin/src/plugin.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/metal3, bugzilla/severity-medium

#11411 Bug 2050273: Update MON_DISK_LOW whitelisted alert documentation URL
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/status-card/whitelisted-health-checks.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/ceph, bugzilla/severity-low, qe-approved, backport-risk-assessed

#11262 Form based experience for creating Deployments
  frontend/integration-tests/tests/environment.scenario.ts
  frontend/integration-tests/views/crud.view.ts
  frontend/integration-tests/views/yaml.view.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/edit-deployment/EditDeployment.tsx
  frontend/packages/dev-console/src/components/edit-deployment/EditDeploymentForm.tsx
  frontend/packages/dev-console/src/components/edit-deployment/EditDeploymentPage.tsx
  frontend/packages/dev-console/src/components/edit-deployment/utils/create-deployment-utils.ts
  frontend/packages/dev-console/src/components/edit-deployment/utils/edit-deployment-utils.ts
  frontend/packages/dev-console/src/components/edit-deployment/utils/edit-deployment-validation-utils.ts
  frontend/packages/dev-console/src/plugin.tsx
  frontend/packages/integration-tests-cypress/tests/app/filtering-and-searching.spec.ts
  frontend/packages/integration-tests-cypress/tests/crud/add-storage-crud.spec.ts
  frontend/packages/integration-tests-cypress/tests/crud/resource-crud.spec.ts
  frontend/public/components/deployment-config.tsx
  frontend/public/components/deployment.tsx
Labels: approved, lgtm, component/dev-console, component/core, docs-approved, qe-approved, px-approved, kind/i18n, kind/cypress

#11570 Add React-Router Docs to our Extension docs
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/pages.ts
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved

#11492 Bug 2090993: Handle missing BMH for Node gracefully
  frontend/packages/console-app/src/components/nodes/node-dashboard/NodeAlerts.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/NodeHealth.tsx
  frontend/packages/metal3-plugin/locales/en/metal3-plugin.json
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostDisks.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostNICs.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/DisksPage.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/NICsPage.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/dashboard/BareMetalNodeDashboard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/dashboard/BareMetalNodeDashboardContext.ts
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/dashboard/DetailsCard.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, component/metal3, bugzilla/severity-high, kind/i18n

#11587 Bug 2091087: Adding new team members and removing users not in team
  pkg/helm/OWNERS
Labels: approved, lgtm, bugzilla/valid-bug, component/backend, bugzilla/severity-medium

#11501 Bug 2083154: Fix missing params and formatting issues in dynamic plug in generated API docs
  frontend/packages/console-dynamic-plugin-sdk/scripts/generate-doc.ts
  frontend/packages/console-dynamic-plugin-sdk/scripts/templates/api.md.ejs
  frontend/packages/console-dynamic-plugin-sdk/src/api/core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/core/reducers/core.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/core/reducers/coreSelectors.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/fetch/console-fetch.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-get-resource.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-ref.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-resource.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/sdk, bugzilla/severity-medium

#11562 update helm catalog description
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/src/catalog/components/HelmCatalogTypeDescription.tsx
  frontend/packages/helm-plugin/src/catalog/components/__tests__/HelmCatalogTypeDescription.spec.tsx
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, kind/i18n, component/helm

#11582 Ocp 4.11 UI localization sprint 218
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/helm-plugin/locales/ja/helm-plugin.json
  frontend/packages/helm-plugin/locales/ko/helm-plugin.json
  frontend/packages/helm-plugin/locales/zh/helm-plugin.json
  frontend/packages/insights-plugin/locales/ja/insights-plugin.json
  frontend/packages/insights-plugin/locales/ko/insights-plugin.json
  frontend/packages/insights-plugin/locales/zh/insights-plugin.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ko/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/packages/topology/locales/ja/topology.json
  frontend/packages/topology/locales/ko/topology.json
  frontend/packages/topology/locales/zh/topology.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, component/shared, component/dev-console, component/kubevirt, component/knative, component/ceph, component/core, component/olm, component/lso, docs-approved, qe-approved, px-approved, component/insights, kind/i18n, component/helm, component/topology, component/pipelines

#11585 Bug 2091030: Expose boot mode field in BMH wizard
  frontend/packages/metal3-plugin/locales/en/metal3-plugin.json
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/add-baremetal-host/AddBareMetalHost.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/add-baremetal-host/AddBareMetalHostForm.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/add-baremetal-host/types.ts
  frontend/packages/metal3-plugin/src/k8s/objects/bare-metal-host.ts
  frontend/packages/metal3-plugin/src/k8s/requests/bare-metal-host.ts
  frontend/packages/metal3-plugin/src/types/host.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/metal3, bugzilla/severity-medium, kind/i18n

#11449 Bug 2074767: change metrics queries based on metrics level configurations
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipeline-metrics.ts
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelineDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/__tests__/pipelineDetailsPage.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/__tests__/PipelineRuns.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/types.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/hooks.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetrics.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetricsQuickstart.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineRunCount.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineRunDurationGraph.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineRunTaskRunGraph.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineSuccessRatioDonut.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineMetrics.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineRunCount.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineRunDuration.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineRunTaskRunGraph.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineSuccessRatioDonut.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/pipeline-metrics-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/utils/__tests__/pipeline-config.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/utils/__tests__/pipeline-operator.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/utils/pipeline-config.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/utils/pipeline-operator.ts
  frontend/packages/pipelines-plugin/src/test-data/tekon-config-data.ts
  frontend/packages/pipelines-plugin/src/types/coreTekton.ts
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium, qe-approved, kind/i18n, component/pipelines

#11591 Bug 2081201: cloud-init User check for Windows VM refuses to accept capitalized
  frontend/packages/kubevirt-plugin/src/utils/validations/cloudint-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium, kind/i18n, component/pipelines

#11599 Bug 2090178: Fix SSH command string
  frontend/packages/kubevirt-plugin/src/hooks/use-ssh-command.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#11557 Bug 2071617: remove Kubevirt extensions in favour of dynamic plugin
  frontend/packages/integration-tests-cypress/tests/app/demo-dynamic-plugin.spec.ts
  frontend/packages/kubevirt-plugin/console-extensions.json
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium, kind/cypress

#11507 e2e: Add package parameter to nightly cypress script
  test-prow-e2e.sh
Labels: approved, lgtm, docs-approved, qe-approved, px-approved

#11577 Automation of eventing-camelk | knative-eventing
  frontend/packages/knative-plugin/integration-tests/features/eventing/eventing-camelk.feature
  frontend/packages/knative-plugin/integration-tests/support/pageObjects/global-po.ts
  frontend/packages/knative-plugin/integration-tests/support/pages/dev-perspective/eventing-page.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/eventing/eventing-camelk.ts
Labels: approved, lgtm, component/knative, docs-approved, qe-approved, px-approved

#11529 Topology-toolbar-filter feature
  frontend/packages/topology/integration-tests/features/topology/topology-toolbar-filter.feature
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/topology-filters.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/topology

#11569 Bug 2087546: Expose getting started card resources
  frontend/packages/console-app/src/components/quick-starts/loader/QuickStartsLoader.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules-init.ts
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules.ts
  frontend/packages/console-shared/src/hooks/useUserSettings.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/dashboard, component/core, component/sdk, bugzilla/severity-medium

#11540 Fix Multiple instances of Object Bucket, Object Bucket Claims under storage section
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/console-app/console-extensions.json
Labels: approved, lgtm, component/ceph, component/core, component/backend, docs-approved, qe-approved, px-approved

#11603 Bug 2084635: Avoid using 'gp2' hardcoded storage class
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/VolumeClaimTemplateForm.tsx
  frontend/public/components/utils/storage-class-dropdown.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium, component/pipelines
