Repository openshift/console, pull requests merged in 2022-07, with the labels that each got.

#11776 Bug 2100774: add error color to required help text for image search field
  frontend/packages/dev-console/src/components/import/image-search/ImageSearch.scss
  frontend/packages/dev-console/src/components/import/image-search/ImageSearch.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-low

#11719 Bug 2093593: Updated selected strategy file as devfile when devfile is selected
  frontend/packages/dev-console/src/components/import/GitImportForm.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-medium

#11778 Bug 2052416: fix offensive vm names
  frontend/packages/kubevirt-plugin/package.json
  frontend/yarn.lock
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, bugzilla/severity-medium, backport-risk-assessed

#11780 Bug 2052662: Fix null reference
  frontend/packages/insights-plugin/src/components/InsightsPopup/mappers.ts
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, bugzilla/severity-medium, component/insights

#11798 [release-4.10] Bug 2104889: Fix topology sidebar update issues
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/topology-details.ts
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/src/components/topology/hpa-tab-section.tsx
  frontend/packages/dev-console/src/components/topology/observe-tab-section.tsx
  frontend/packages/dev-console/src/components/topology/sbr-sidebar/tab-section.tsx
  frontend/packages/helm-plugin/console-extensions.json
  frontend/packages/helm-plugin/src/topology/sidebar/release-panel/index.ts
  frontend/packages/helm-plugin/src/topology/sidebar/release-panel/tab-sections.tsx
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/src/topology/sidebar/index.ts
  frontend/packages/knative-plugin/src/topology/sidebar/knative-common-tab-sections.tsx
  frontend/packages/knative-plugin/src/topology/sidebar/knative-connectors-tab-sections.tsx
  frontend/packages/knative-plugin/src/topology/sidebar/knative-eventsource-tab-sections.tsx
  frontend/packages/knative-plugin/src/topology/sidebar/knative-pubsub-tab-sections.tsx
  frontend/packages/knative-plugin/src/topology/sidebar/knative-resource-tab-sections.tsx
  frontend/packages/knative-plugin/src/topology/sidebar/knative-revision-tab-sections.tsx
  frontend/packages/knative-plugin/src/topology/sidebar/knative-service-tab-sections.tsx
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/src/topology/vm-tab-sections.tsx
  frontend/packages/operator-lifecycle-manager/console-extensions.json
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/create-namespace.spec.ts
  frontend/packages/operator-lifecycle-manager/src/components/topology/operator-link-tab-section.tsx
  frontend/packages/operator-lifecycle-manager/src/components/topology/sidebar/details-sections.tsx
  frontend/packages/operator-lifecycle-manager/src/components/topology/sidebar/resource-sections.tsx
  frontend/packages/pipelines-plugin/console-extensions.json
  frontend/packages/pipelines-plugin/src/topology/pipeline-tab-section.tsx
  frontend/packages/rhoas-plugin/console-extensions.json
  frontend/packages/rhoas-plugin/src/topology/sidebar/index.ts
  frontend/packages/rhoas-plugin/src/topology/sidebar/kafka-connection-tab-section.tsx
  frontend/packages/topology/console-extensions.json
  frontend/packages/topology/src/components/application-panel/application-resource-tab-section.tsx
  frontend/packages/topology/src/components/side-bar/providers/SideBarTabHookResolver.tsx
  frontend/packages/topology/src/components/side-bar/providers/SideBarTabLoader.tsx
  frontend/packages/topology/src/components/side-bar/providers/useDetailsTab.tsx
  frontend/packages/topology/src/components/side-bar/providers/useDetailsTabSection.tsx
  frontend/packages/topology/src/components/visual-connector/resource-tab-section.tsx
  frontend/packages/topology/src/components/workload/CronJobSideBarDetails.tsx
  frontend/packages/topology/src/components/workload/DaemonSetSideBarDetails.tsx
  frontend/packages/topology/src/components/workload/DeploymentConfigSideBarDetails.tsx
  frontend/packages/topology/src/components/workload/DeploymentSideBarDetails.tsx
  frontend/packages/topology/src/components/workload/JobSideBarDetails.tsx
  frontend/packages/topology/src/components/workload/PodSideBarDetails.tsx
  frontend/packages/topology/src/components/workload/StatefulSetSideBarDetails.tsx
  frontend/packages/topology/src/components/workload/build-tab-section.tsx
  frontend/packages/topology/src/components/workload/jobs-tab-section.tsx
  frontend/packages/topology/src/components/workload/network-tab-section.tsx
  frontend/packages/topology/src/components/workload/pods-tab-section.tsx
  frontend/public/components/overview/resource-overview-details.tsx
  frontend/public/components/utils/simple-tab-nav.tsx
  frontend/public/module/k8s/types.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, component/kubevirt, component/knative, component/core, component/sdk, component/olm, bugzilla/severity-high, component/helm, component/topology, component/pipelines, backport-risk-assessed

#11774 Bug 2100330: disable upload for sourceRef templates
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
  frontend/packages/kubevirt-plugin/src/selectors/vm-template/advanced.ts
  frontend/packages/kubevirt-plugin/src/types/types.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, bugzilla/severity-high, backport-risk-assessed

#11809 Bug 2105909, Bug 2105328: Fix create-namespace e2e test, ESOCKET timeout issue, and a11y violations to unblock CI
  frontend/.yarnrc
  frontend/packages/integration-tests-cypress/support/a11y.ts
  frontend/packages/integration-tests-cypress/tests/crud/other-routes.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/create-namespace.spec.ts
  frontend/public/components/about-modal.tsx
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/details-card.tsx
  frontend/public/components/utils/service-level.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dashboard, component/core, component/olm, bugzilla/severity-high, kind/cypress

#11815 (chore) Do not extract not existing yarn archive
  Dockerfile.product
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, backport-risk-assessed

#11768 Bug 2098234: fix broken update server link
  frontend/packages/console-app/src/components/network-policies/network-policy-form.tsx
  frontend/packages/console-app/src/components/pdb/AvailabilityRequirementPopover.tsx
  frontend/packages/dev-console/src/components/health-checks/AddHealthChecks.tsx
  frontend/packages/dev-console/src/components/project-access/ProjectAccess.tsx
  frontend/packages/insights-plugin/src/components/InsightsPopup/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-page.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/__tests__/cluster-setup-getting-started-card.spec.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/cluster-setup-getting-started-card.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/explore-admin-features-getting-started-card.tsx
  frontend/public/components/image-stream.tsx
  frontend/public/components/modals/cluster-update-modal.tsx
  frontend/public/components/modals/configure-cluster-upstream-modal.tsx
  frontend/public/components/modals/create-namespace-modal.jsx
  frontend/public/components/network-policy.tsx
  frontend/public/components/storage-class-form.tsx
  frontend/public/components/utils/documentation.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, component/dashboard, component/core, component/olm, bugzilla/severity-medium, component/insights

#11626 Bug 2021297: Implement dynamic plugin dependency resolution
  cmd/bridge/main.go
  frontend/.vscode/settings.json
  frontend/@types/console/index.d.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/__tests__/plugin-dependencies.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/__tests__/plugin-loader.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/__tests__/plugin-utils.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-dependencies.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-loader.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-utils.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/plugin-package.ts
  pkg/server/server.go
  pkg/serverconfig/config.go
  pkg/serverconfig/types.go
Labels: approved, lgtm, bugzilla/valid-bug, component/sdk, component/backend, bugzilla/severity-high

#11743 Bug 2091542: - Error Loading/404 not found page shown after clicking "Current namespace only"
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, bugzilla/severity-medium

#11725 CONSOLE-3067: Adding Rollout Restart function to the OpenShift Console
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/actions/creators/deployment-factory.ts
  frontend/packages/console-app/src/actions/creators/health-checks-factory.ts
  frontend/packages/console-app/src/actions/providers/deployment-provider.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/actions.ts
  frontend/packages/console-shared/src/components/actions/LazyActionMenu.tsx
  frontend/packages/console-shared/src/components/actions/menu/ActionMenuItem.tsx
  frontend/public/components/deployment-config.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/shared, component/core, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n

#11594 Bug 2078769: Added translations for filter group names
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot-content.tsx
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot.tsx
  frontend/packages/console-app/src/status/snapshot.ts
  frontend/packages/helm-plugin/src/components/list-page/HelmReleaseList.tsx
  frontend/packages/helm-plugin/src/utils/helm-utils.ts
  frontend/packages/knative-plugin/src/components/eventing/channels-list/ChannelListPage.tsx
  frontend/packages/knative-plugin/src/components/eventing/eventsource-list/EventSourceListPage.tsx
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vm-disks/table-filters.ts
  frontend/packages/kubevirt-plugin/src/components/vm-disks/vm-disks.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/table-filters.ts
  frontend/packages/kubevirt-plugin/src/components/vms/vm-page-new.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/table-filters.ts
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/table-filters.ts
  frontend/packages/operator-lifecycle-manager/src/components/k8s-resource.tsx
  frontend/packages/pipelines-plugin/src/components/pipeline-resources/list-page/PipelineResourcesListPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunsResourceList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelinesResourceList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineRuns.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/list-page/PipelineAugmentRuns.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/list-page/PipelineAugmentRunsWrapper.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/list-page/PipelinesList.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunListPage.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/list-page/TaskRunsListPage.tsx
  frontend/public/components/secret.jsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, component/knative, component/core, component/metal3, component/olm, bugzilla/severity-medium, kind/i18n, component/helm, component/pipelines

#11799 Bug 2103972: fix MultiColumnField header alignment used for Pipeline parameters
  frontend/packages/console-shared/src/components/formik-fields/multi-column-field/MultiColumnFieldHeader.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, bugzilla/severity-low

#11790 Bug 2103224:Update the side nav perspective selection so it has the correct background and border color when in dark mode
  frontend/public/components/nav/NavHeader.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#11837 Bug 2103981: show last 3 build with option to view all in case of more then 3 builds
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/workload/BuildOverview.tsx
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low, kind/i18n, component/topology

#11678 Bug 2089773: Added separate reducers for status and title for pipeline status
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunCustomDetails.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/status/PipelineBars.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/status/TaskStatusTooltip.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationStepList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationTask.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/StatusIcon.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/pipeline-step-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/list-page/PipelineRow.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/WhenExpressionDecorator.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/__tests__/WhenExpressionDecorator.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/__tests__/utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/utils.ts
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/components/repository/list-page/RepositoryRow.tsx
  frontend/packages/pipelines-plugin/src/components/shared/results/ResultsList.tsx
  frontend/packages/pipelines-plugin/src/components/shared/results/__tests__/ResultsList.spec.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/TaskRunDetailsStatus.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/status/TaskRunStatus.tsx
  frontend/packages/pipelines-plugin/src/topology/build-decorators/PipelineBuildDecoratorTooltip.tsx
  frontend/packages/pipelines-plugin/src/types/computedStatus.ts
  frontend/packages/pipelines-plugin/src/types/index.ts
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-augment.spec.ts
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-utils.spec.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-augment.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-filter-reducer.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium, component/pipelines

#11835 Bug 2079214: Switch default modal scroll behavior from inner modal body scroll to entire modal scroll to prevent bug and have consistent display of dropdown menus.
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/advanced-kms-modal/advanced-ibm-kms-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/attach-deployment-obc-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/create-block-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/delete-block-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/update-block-pool-modal.tsx
  frontend/packages/console-app/src/components/modals/clone/clone-pvc-modal.tsx
  frontend/packages/console-app/src/components/modals/resource-limits/ResourceLimitsModal.tsx
  frontend/packages/console-app/src/components/modals/restore-pvc/restore-pvc-modal.tsx
  frontend/packages/console-app/src/components/modals/service-binding/CreateServiceBindingForm.tsx
  frontend/packages/console-shared/src/components/modals/DeleteResourceModal.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/PubSubModal.tsx
  frontend/packages/knative-plugin/src/components/sink-pubsub/SinkPubsubModal.tsx
  frontend/packages/knative-plugin/src/components/sink-source/SinkSourceModal.tsx
  frontend/packages/knative-plugin/src/components/sink-uri/SinkUriModal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/edit-default-sources-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/edit-registry-poll-interval-modal.tsx
  frontend/packages/topology/src/components/modals/EditApplicationModal.tsx
  frontend/packages/topology/src/components/modals/MoveConnectionModal.tsx
  frontend/public/components/modals/_modals.scss
  frontend/public/components/modals/cluster-channel-modal.tsx
  frontend/public/components/modals/cluster-update-modal.tsx
  frontend/public/components/modals/configure-cluster-upstream-modal.tsx
  frontend/public/components/modals/create-namespace-modal.jsx
  frontend/public/components/modals/expand-pvc-modal.tsx
  frontend/public/components/modals/taints-modal.tsx
  frontend/public/components/modals/tolerations-modal.tsx
  frontend/public/components/monitoring/dashboards/custom-time-range-modal.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/knative, component/ceph, component/monitoring, component/core, component/olm, bugzilla/severity-low, component/topology

#11781 Bug 2081674: Added onSubmit for create a project function for Dev perspective
  frontend/public/components/start-guide.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#11739 Bug 2093597: Added the spacing between advanced options
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/dev-console/src/components/buildconfig/BuildConfigFormEditor.tsx
  frontend/packages/dev-console/src/components/edit-deployment/AdvancedSection.tsx
  frontend/packages/dev-console/src/components/edit-deployment/__tests__/AdvancedSection.spec.tsx
  frontend/packages/dev-console/src/components/edit-deployment/__tests__/EditDeploymentForm.spec.tsx
  frontend/packages/dev-console/src/components/import/ImportStrategySection.scss
  frontend/packages/dev-console/src/components/import/__tests__/DeployImage.spec.tsx
  frontend/packages/dev-console/src/components/import/advanced/AdvancedSection.tsx
  frontend/packages/dev-console/src/components/progressive-list/ProgressiveList.tsx
  frontend/packages/dev-console/src/components/progressive-list/ProgressiveListFooter.tsx
  frontend/packages/dev-console/src/components/progressive-list/ProgressiveListItem.tsx
  frontend/packages/dev-console/src/components/progressive-list/__tests__/ProgressiveList.spec.tsx
  frontend/packages/dev-console/src/components/progressive-list/__tests__/ProgressiveListFooter.spec.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, component/core, bugzilla/severity-medium, kind/i18n

#11831 Bug 2106803: mock call to /api/devfile in e2e
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/dev-console/integration-tests/testData/git-import/devfile-sample/devFileResources.json
  frontend/packages/dev-console/integration-tests/testData/git-import/repos.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-low

#11817 Bug 2102098: There is no error message shown on node label edi...
  frontend/public/components/modals/labels-modal.jsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#11824 Bug 2090457: openshift-debug-node- namespaces do not get deleted for …
  frontend/public/components/debug-terminal.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#11744 CONSOLE-3091: Remove orphaned code along with consolidating some code to use PF instead of Bootstrap
  frontend/packages/console-shared/src/components/catalog/details/CatalogDetailsPanel.tsx
  frontend/packages/dev-console/integration-tests/support/pages/modal.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/repositoryDetails-page.ts
  frontend/public/components/_dropdown.scss
  frontend/public/components/_resource-dropdown.scss
  frontend/public/components/catalog/_catalog.scss
  frontend/public/components/monitoring/labels.tsx
  frontend/public/components/utils/_details-item.scss
  frontend/public/components/utils/_label.scss
  frontend/public/components/utils/selector-input.jsx
  frontend/public/style/_vars.scss
  frontend/public/style/ancillary/_bootstrap-residual.scss
  frontend/public/style/ancillary/_bootstrap-variables.scss
Labels: approved, lgtm, component/shared, component/dev-console, component/monitoring, component/core, docs-approved, qe-approved, px-approved, component/pipelines

#11665 Bug 2092137: Search doesn't show all entries when name filter is cleared
  frontend/public/components/factory/ListPage/filter-hook.ts
  frontend/public/components/factory/list-page.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#11763 [release-4.10] Bug 2100974: Restore spacing between/below modal body content
  frontend/public/components/modals/_modals.scss
  frontend/public/components/modals/delete-modal.tsx
  frontend/public/components/modals/delete-namespace-modal.tsx
  frontend/public/components/modals/managed-resource-save-modal.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/core, bugzilla/severity-low, backport-risk-assessed

#11856 Bug 2106866: Fix flaky OLM descriptor test
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/descriptors.spec.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, bugzilla/severity-low

#11779 [release-4.10] Bug 2095217: VM SSH command generated by UI points at api VIP
  frontend/packages/kubevirt-plugin/src/hooks/use-ssh-command.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, bugzilla/severity-medium, backport-risk-assessed

#11850 Bug 2100640: Adjust font size and alignment for show operands radio toggle
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
  frontend/packages/operator-lifecycle-manager/src/style.scss
  frontend/public/components/cluster-settings/related-objects.tsx
  frontend/public/vendor.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/core, component/olm, bugzilla/severity-unspecified

#11816 Bug 2105344: correct usePodActionsProvider and apply it
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/src/actions/providers/index.ts
  frontend/packages/console-app/src/actions/providers/pod-provider.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#11728 Bug 2094558: MetalLB: Creating ip address pool and community CR throu…
  frontend/packages/console-shared/src/components/dynamic-form/templates.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, bugzilla/severity-low

#11834 Bug 2079690: Fix operand affinity form field
  frontend/packages/console-dynamic-plugin-sdk/src/api/common-types.ts
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/match-expressions.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/sdk, component/olm, bugzilla/severity-medium, kind/i18n

#11767 add parameters tab on PipelineRun details page
  frontend/packages/pipelines-plugin/integration-tests/features/e2e/pipeline-ci.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-as-code.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-runs.feature
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineBuilder-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineRun-details-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-runs.ts
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunParametersForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/__tests__/PipelineRunDetailsPage.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelineParameters.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineParametersForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/index.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/index.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderFormEditor.tsx
Labels: approved, lgtm, component/shared, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines

#11818 Bug 2106805: Enable running specific spec files with headless test-cypress
  frontend/packages/dev-console/integration-tests/package.json
  frontend/packages/helm-plugin/integration-tests/package.json
  frontend/packages/knative-plugin/integration-tests/package.json
  frontend/packages/pipelines-plugin/integration-tests/package.json
  frontend/packages/topology/integration-tests/package.json
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, component/knative, bugzilla/severity-medium, docs-approved, qe-approved, px-approved, component/helm, component/topology, component/pipelines

#11828 Bug 2108638: SDK - expose useLastNamespace
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-types.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/sdk, bugzilla/severity-medium

#11855 Bug 2109469: Fix create-namespace e2e test: cleanup useServiceLevelTitle hook usage
  frontend/public/components/about-modal.tsx
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/details-card.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dashboard, component/core, bugzilla/severity-medium

#11771 Bump webpack dependency in plugin SDK and demo plugin
  build-demos.sh
  build.sh
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/yarn.lock
  frontend/packages/console-dynamic-plugin-sdk/package.json
  frontend/yarn.lock
  test-demos.sh
  test-frontend.sh
  test.sh
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved

#11846 chore(i18n): update translations: Completed-7034-OCP 4.11 UI Localization- sprint 220
  frontend/packages/ceph-storage-plugin/locales/ja/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/ko/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/zh/ceph-storage-plugin.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-shared/locales/ja/console-shared.json
  frontend/packages/console-shared/locales/ko/console-shared.json
  frontend/packages/console-shared/locales/zh/console-shared.json
  frontend/packages/container-security/locales/ja/container-security.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/helm-plugin/locales/ja/helm-plugin.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/ja/lso-plugin.json
  frontend/packages/metal3-plugin/locales/ja/metal3-plugin.json
  frontend/packages/network-attachment-definition-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/operator-lifecycle-manager/locales/ko/olm.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ko/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/packages/service-binding-plugin/locales/ja/service-binding-plugin.json
  frontend/packages/service-binding-plugin/locales/ko/service-binding-plugin.json
  frontend/packages/service-binding-plugin/locales/zh/service-binding-plugin.json
  frontend/packages/shipwright-plugin/locales/ja/shipwright-plugin.json
  frontend/packages/shipwright-plugin/locales/ko/shipwright-plugin.json
  frontend/packages/shipwright-plugin/locales/zh/shipwright-plugin.json
  frontend/packages/topology/locales/ja/topology.json
  frontend/packages/topology/locales/ko/topology.json
  frontend/packages/topology/locales/zh/topology.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, component/shared, component/dev-console, component/kubevirt, component/knative, component/ceph, component/core, component/metal3, component/olm, component/network-attachment-definition, component/lso, docs-approved, qe-approved, px-approved, kind/i18n, component/helm, component/topology, component/pipelines

#11862 Bug 2037329: remove redundant model check to prevent tab reloading
  frontend/packages/operator-lifecycle-manager/src/components/model-status-box.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, bugzilla/severity-medium

#11851 CONSOLE-3181: Deprecate useAccessReviewAllowed and useSafetyFirst
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/scripts/generate-doc.ts
  frontend/packages/console-dynamic-plugin-sdk/scripts/templates/api.md.ejs
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/safety-first.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/utils/rbac.tsx
  frontend/public/components/utils/rbac.tsx
Labels: approved, lgtm, component/core, component/sdk, docs-approved, qe-approved, px-approved

#11863 Bug 2108551: [CI Watcher] Bulk Import e2e test flaking at a high rate
  frontend/public/components/edit-yaml.jsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#11852 Bug 2106366, Bug 2106377: Use displayname for PHCR in the catalog page
  frontend/packages/dev-console/integration-tests/features/addFlow/helm-chart-repositories.feature
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/global-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/helm-chart-repository.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/helm-chart-repositories.ts
  frontend/packages/helm-plugin/src/catalog/providers/useHelmCharts.tsx
  frontend/public/components/search-filter-dropdown.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/dev-console, component/core, bugzilla/severity-medium, kind/i18n, component/helm

#11625 Bug 2109673: Align Console plugin SDK package dependencies with generated code
  frontend/packages/console-dynamic-plugin-sdk/scripts/package-definitions.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/sdk, bugzilla/severity-unspecified

#11657 Updates Ceph plugin OWNERS
  frontend/packages/ceph-storage-plugin/OWNERS
Labels: approved, lgtm, component/ceph, docs-approved, qe-approved, px-approved

#11677 Bug 2094240: Update workload-pause.tsx to fix inconsistency between buttons in the notification and kebab action dropdown.
  frontend/public/components/utils/workload-pause.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#11742 Bug 2097026: Administration - Cluster Settings - Cluster Operators : …
  frontend/public/components/cluster-settings/cluster-operator.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low, kind/i18n

#11845 Bug 2084453: - Edit PodDisruptionBudget page sometimes takes user to not synced YAML view
  frontend/packages/console-app/src/components/pdb/PDBForm.tsx
  frontend/packages/console-app/src/components/pdb/PDBFormPage.tsx
  frontend/packages/console-app/src/components/pdb/pdb-models.ts
  frontend/packages/console-shared/src/components/synced-editor/index.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/core, bugzilla/severity-medium

#11606 Bug 2089221: Could not de-select a Git Secret in add and edit forms
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/git/SourceSecretSelector.tsx
  frontend/packages/dev-console/src/utils/resource-label-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-low, kind/i18n

#11822 bump codemirror and promql editor to the last version
  frontend/package.json
  frontend/public/components/monitoring/promql-expression-input.tsx
  frontend/yarn.lock
Labels: approved, lgtm, ok-to-test, component/monitoring, component/core, docs-approved, qe-approved, px-approved

#11858 Bug 2075107: consistency in web terminal headers
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/cloud-shell/CloudShellDrawer.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low, kind/i18n

#11847 [release-4.10] Bug 2108193: update icons for eventSource and eventSink
  frontend/packages/knative-plugin/package.json
  frontend/packages/knative-plugin/src/actions/add-event-source.tsx
  frontend/packages/knative-plugin/src/imgs/event-source.svg
  frontend/packages/knative-plugin/src/topology/components/nodes/EventSink.tsx
  frontend/packages/knative-plugin/src/topology/components/nodes/EventSource.tsx
  frontend/packages/knative-plugin/src/topology/listView/NoStatusListViewNode.tsx
  frontend/packages/knative-plugin/src/utils/get-knative-icon.ts
  frontend/packages/knative-plugin/src/utils/icons.ts
  frontend/packages/knative-plugin/src/utils/icons.tsx
  frontend/public/components/catalog/catalog-item-icon.tsx
  frontend/public/imgs/logos/event-sink.svg
  frontend/public/imgs/logos/event-source.svg
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/knative, component/core, bugzilla/severity-medium, backport-risk-assessed

#11772 Bug 2063153: Use link to the downstream doc for Sysprep info
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/sysprep/SysprepInfo.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, bugzilla/severity-medium, backport-risk-assessed

#11879 Bug 2110938: VM list page crashed
  frontend/packages/kubevirt-plugin/src/selectors/vm/devices.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, bugzilla/severity-medium, backport-risk-assessed

#11877 Bug 2110927: Remove zero from edit yaml page and clear errors when the user press the save button
  frontend/public/components/edit-yaml.jsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#11885 Bug 2052444: Unstar RHEL 7 template
  frontend/packages/kubevirt-plugin/src/hooks/use-pinned-templates.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, bugzilla/severity-medium, backport-risk-assessed

#11894 Bug 2112146: Update pod YAML sample for restricted pod security admission policy
  frontend/public/models/yaml-templates.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-high

#11880 Bug 2111205: [CI Watcher] Add yarn config to dynamic-demo-plugin
  dynamic-demo-plugin/.yarnrc
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium

#11890 Bug 2070562: Base64 data value for java keystore secret changing auto…
  frontend/public/components/secrets/create-secret.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#11840 SDK - add plain yaml editor
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-shared/src/components/editor/YAMLEditor.tsx
  frontend/public/components/AsyncYAMLEditor.tsx
Labels: approved, lgtm, component/shared, component/core, component/sdk, docs-approved, qe-approved, px-approved

#11872 capture telemetry for helmChartRepo creation to detect scope
  frontend/packages/helm-plugin/src/components/forms/HelmChartRepository/CreateHelmChartRepository.tsx
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/helm

#11882 CONSOLE-3186: Add shared-plugin to the SDK Packages tables docs
  frontend/packages/console-dynamic-plugin-sdk/README.md
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved

#11794 HAC-1808: Update release number in dynamic plugin sdk docs
  frontend/package.json
  frontend/packages/console-dynamic-plugin-sdk/README.md
  frontend/packages/console-dynamic-plugin-sdk/scripts/generate-doc.ts
Labels: approved, lgtm, tide/merge-method-squash, component/sdk, docs-approved, qe-approved, px-approved
