Repository openshift/console, pull requests merged in 2022-03, with the labels that each got.

#11088 Remove Mode from Topology view
  frontend/packages/dev-console/integration-tests/support/constants/topology.ts
  frontend/packages/helm-plugin/src/topology/__tests__/helm-data-transformer.spec.ts
  frontend/packages/knative-plugin/src/topology/__tests__/data-transformer.spec.ts
  frontend/packages/knative-plugin/src/topology/components/groups/KnativeServiceGroup.tsx
  frontend/packages/knative-plugin/src/topology/components/groups/KnativeServiceNode.tsx
  frontend/packages/knative-plugin/src/topology/components/nodes/EventSink.tsx
  frontend/packages/knative-plugin/src/topology/components/nodes/EventSource.tsx
  frontend/packages/knative-plugin/src/topology/components/nodes/EventingPubSubNode.tsx
  frontend/packages/knative-plugin/src/topology/knativeFilters.ts
  frontend/packages/kubevirt-plugin/src/topology/components/nodes/VmNode.tsx
  frontend/packages/topology/integration-tests/features/e2e/topology-ci.feature
  frontend/packages/topology/integration-tests/features/topology/topology-filter-bar-display.feature
  frontend/packages/topology/integration-tests/support/pages/topology/topology-page.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/topology-filters.ts
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/graph-view/components/nodes/BaseNode.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/trapezoidNode/TrapezoidBaseNode.tsx
  frontend/packages/topology/src/data-transforms/TopologyDataRetriever.tsx
  frontend/packages/topology/src/data-transforms/__tests__/updateModelFromFilters.spec.ts
  frontend/packages/topology/src/data-transforms/__tests__/updateTopologyDataModel.spec.ts
  frontend/packages/topology/src/data-transforms/updateModelFromFilters.ts
  frontend/packages/topology/src/data-transforms/updateTopologyDataModel.ts
  frontend/packages/topology/src/filters/FilterDropdown.scss
  frontend/packages/topology/src/filters/FilterDropdown.tsx
  frontend/packages/topology/src/filters/__tests__/FilterDropdown.spec.tsx
  frontend/packages/topology/src/filters/__tests__/KindFilterDropdown.spec.tsx
  frontend/packages/topology/src/filters/const.ts
  frontend/packages/topology/src/filters/filter-utils.ts
  frontend/packages/topology/src/filters/useAllowEdgeCreation.ts
  frontend/packages/topology/src/operators/__tests__/operator-data-transformer.spec.ts
Labels: approved, lgtm, component/dev-console, component/kubevirt, component/knative, docs-approved, qe-approved, px-approved, kind/i18n, component/helm, component/topology

#11076 Bug 2052956: fix duplicate edit app action on installing virtualization operator
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/src/actions/provider.ts
  frontend/packages/topology/console-extensions.json
  frontend/packages/topology/src/actions/provider.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-low, component/topology

#10995 Bug 2044207: Clear text on switching auth method
  frontend/packages/ceph-storage-plugin/src/components/kms-config/vault-config.tsx
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, component/ceph, bugzilla/severity-medium

#10893 Bug 2059654: update ConsolePlugin proxy settings
  dynamic-demo-plugin/README.md
  dynamic-demo-plugin/oc-manifest.yaml
  dynamic-demo-plugin/src/components/ExampleProxyPage.tsx
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium

#11052 Bug 2052986: fix console crashing in the edit deployment form
  frontend/packages/dev-console/src/components/edit-deployment/__mocks__/edit-deployment-data.ts
  frontend/packages/dev-console/src/components/edit-deployment/__tests__/DeploymentStrategySection.spec.tsx
  frontend/packages/dev-console/src/components/edit-deployment/deployment-strategy/DeploymentStrategySection.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-medium

#11031 Bug 2042838: the status of container is not consistent on Container details and pod details page
  frontend/__mocks__/k8sResourcesMocks.ts
  frontend/__tests__/components/container.spec.tsx
  frontend/public/components/container.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#11107 Bug 2054630: Fix history stack handling when opening the silence alerts form
  frontend/public/components/monitoring/alerting.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, bugzilla/severity-low, qe-approved

#11017 Bug 2002602: remove returning of err if json fails to parse
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, component/ceph, bugzilla/severity-low

#11111 Bug 2058623: updates versions for kafka and kafkaTopic
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/src/models.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/knative, bugzilla/severity-medium

#11077 [release-4.7] Bug 2055403: Add support for fetching partial metadata and fix helm list page crash
  frontend/__tests__/actions/k8s.spec.ts
  frontend/packages/helm-plugin/src/components/list-page/HelmReleaseList.tsx
  frontend/packages/helm-plugin/src/topology/helm-topology-plugin.tsx
  frontend/public/actions/k8s.ts
  frontend/public/components/utils/k8s-watch-hook.ts
  frontend/public/module/k8s/resource.js
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/core, bugzilla/severity-high, backport-risk-assessed

#11083 Update PF Packages to 2022-2: Dark theme stylesheet
  frontend/package.json
  frontend/public/vendor.scss
  frontend/yarn.lock
Labels: approved, lgtm, component/knative, component/core, docs-approved, qe-approved, px-approved, component/topology

#11128 CONSOLE-3087: Fix ActionContext type warning in components/actions/types.ts
  frontend/packages/console-shared/src/components/actions/types.ts
Labels: approved, lgtm, component/shared, docs-approved, qe-approved, px-approved

#11035 service binding discoverability labels in dev catalog
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/catalog.ts
  frontend/packages/console-shared/src/components/catalog/hooks/__tests__/useCatalogExtensions.spec.ts
  frontend/packages/console-shared/src/components/catalog/hooks/useCatalogExtensions.ts
  frontend/packages/console-shared/src/components/catalog/service/CatalogExtensionHookResolver.tsx
  frontend/packages/console-shared/src/components/catalog/service/CatalogServiceProvider.tsx
  frontend/packages/console-shared/src/components/catalog/utils/__tests__/catalog-utils.spec.tsx
  frontend/packages/console-shared/src/components/catalog/utils/catalog-utils.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchDetails.tsx
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/catalog/providers/index.ts
  frontend/packages/dev-console/src/components/catalog/providers/useBindableItemMetadataProvider.ts
  frontend/packages/operator-lifecycle-manager/src/utils/useClusterServiceVersions.tsx
Labels: approved, lgtm, component/shared, component/dev-console, component/sdk, component/olm, docs-approved, qe-approved, px-approved, kind/i18n

#11099 Bug 2056496: update upload jar flow for no builder image
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/jar/UploadJar.tsx
  frontend/packages/dev-console/src/components/import/jar/UploadJarForm.tsx
  frontend/packages/dev-console/src/components/import/jar/UploadJarPage.tsx
  frontend/packages/dev-console/src/components/import/jar/__tests__/UploadJarForm.spec.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-medium, kind/i18n

#10934 Bug 2046156: fix showing error in netpol affected pods
  frontend/packages/console-app/src/components/network-policies/network-policy-selector-preview.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium, qe-approved

#11124 Bug 2055702: enable Serverless e2e tests
  frontend/packages/dev-console/integration-tests/support/constants/topology.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/installOperatorOnCluster.ts
  frontend/packages/dev-console/integration-tests/support/pages/operators-page.ts
  frontend/packages/dev-console/integration-tests/views/topology.view.ts
  frontend/packages/knative-plugin/integration-tests/features/e2e/knative-ci.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/eventing-broker-actions.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/actions-on-knative-revision.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/actions-on-knative-service.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/cards-display-on-serverless-operator-installation.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/create-knative-service-from-deployment-or-deployment-config.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/create-knative-workload.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/side-bar-of-knative-revision-and-service.feature
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/actions-on-knative-revision.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-actions-page.ts
  test-cypress.sh
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, component/knative, bugzilla/severity-low, component/topology

#11046 Fix CSS for edit bucket class modal
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/create-bc.scss
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/modals/_bs-modal.scss
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/modals/edit-backingstore-modal.tsx
Labels: approved, lgtm, ok-to-test, cherry-pick-approved, component/ceph, docs-approved, qe-approved, px-approved

#11116 Bug 2059674: Adjusts the Dynamic Demo Plugin and the SDK to meet on the usecases
  dynamic-demo-plugin/src/components/k8sConsumer/K8sAPIConsumer.tsx
  dynamic-demo-plugin/src/components/k8sConsumer/k8s-data.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-resource.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/sdk, bugzilla/severity-high

#11075 Bug 2060894: Preceding/Trailing Whitespaces In Form Elements on the add page
  frontend/packages/console-shared/src/components/formik-fields/BaseInputField.tsx
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
  frontend/packages/topology/src/components/dropdowns/ApplicationSelector.tsx
  frontend/packages/topology/src/components/dropdowns/__tests__/ApplicationSelector.spec.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/dev-console, bugzilla/severity-low, component/topology

#10923 [release-4.7] Bug 2044949: fix dev-catalog stuck in loading state
  frontend/packages/dev-console/src/components/catalog/catalog-view/CatalogTypeSelector.tsx
  frontend/packages/helm-plugin/src/catalog/providers/useHelmCharts.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, bugzilla/severity-medium, backport-risk-assessed

#11106 Bug 2061301: Add tooltips why add and delete buttons in knative traffic splitting modal are disabled
  frontend/packages/console-shared/src/components/formik-fields/field-types.ts
  frontend/packages/console-shared/src/components/formik-fields/multi-column-field/MultiColumnField.tsx
  frontend/packages/console-shared/src/components/formik-fields/multi-column-field/MultiColumnFieldFooter.tsx
  frontend/packages/console-shared/src/components/formik-fields/multi-column-field/MultiColumnFieldRow.tsx
  frontend/packages/console-shared/src/components/formik-fields/multi-column-field/__tests__/MultiColumnFieldFooter.spec.tsx
  frontend/packages/console-shared/src/components/formik-fields/text-column-field/TextColumnItemContent.tsx
  frontend/packages/console-shared/src/components/formik-fields/text-column-field/text-column-types.ts
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/components/traffic-splitting/TrafficSplittingFields.tsx
  frontend/packages/knative-plugin/src/components/traffic-splitting/__tests__/TrafficSplittingFields.spec.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/knative, bugzilla/severity-low, kind/i18n

#11146 Bug 2061333: Add optional chaining to avoid npe
  frontend/packages/pipelines-plugin/src/components/catalog/catalog-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low, component/pipelines

#11137 [release-4.8] Bug 2060616: Add error boundary in edit-flows
  frontend/packages/dev-console/src/components/edit-application/EditApplicationPage.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, bugzilla/severity-medium, backport-risk-assessed

#11126 Bug 2009345: Fix potential issues with namespaces that contains just numbers (crashes on 4.7)
  frontend/packages/console-app/src/components/detect-namespace/useLastNamespace.ts
  frontend/packages/console-app/src/components/user-preferences/namespace/usePreferredNamespace.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/core, bugzilla/severity-high

#11029 Bug 2013144: catalog category filters can be opened via ctrl+click now
  frontend/packages/console-shared/src/components/catalog/catalog-view/CatalogCategories.tsx
  frontend/public/components/utils/tile-view-page.jsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/core, bugzilla/severity-low

#11037 chore(vscode config): disabling the organizeImports functionality of …
  frontend/.vscode/settings.json
Labels: approved, lgtm, docs-approved, qe-approved, px-approved

#11147 fix(skeleton): updated sass var
  frontend/packages/console-shared/src/styles/skeleton-screen.scss
  frontend/public/components/utils/_skeleton-screen.scss
Labels: approved, lgtm, ok-to-test, component/shared, component/core, docs-approved, qe-approved, px-approved

#11065 [release-4.10] Bug 2048047: Make namespace bar full width and sticky in console
  frontend/packages/dev-console/src/components/NamespacedPage.scss
  frontend/public/components/app-contents.tsx
  frontend/public/style/_layout.scss
  frontend/public/style/_overrides.scss
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, component/core, bugzilla/severity-medium, backport-risk-assessed

#11171 Bug 2062524: fixes uri case for event sink
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/topology/sidebar/__tests__/__mocks__/event-sink-data.ts
  frontend/packages/knative-plugin/src/topology/sidebar/__tests__/knative-resource-tab-sections.spec.tsx
  frontend/packages/knative-plugin/src/topology/sidebar/knative-resource-tab-sections.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/knative, bugzilla/severity-medium, kind/i18n

#11145 ODC-6495 Remove layout2 topology
  frontend/packages/topology/integration-tests/features/topology/topology-layout-save.feature
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/graph-view/TopologyControlBar.tsx
  frontend/packages/topology/src/components/graph-view/layouts/layoutFactory.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, kind/i18n, component/topology

#11157 CONSOLE-3081: Integrate dark theme - fix borders updates #eee, #ededed, $table-border-color to `var(--pf-global--BorderColor--300)`
  frontend/packages/operator-lifecycle-manager/src/style.scss
  frontend/public/components/_autocomplete.scss
  frontend/public/components/_service.scss
  frontend/public/components/markdown-view.tsx
  frontend/public/style/_common.scss
  frontend/public/style/_forms.scss
  frontend/public/style/_overrides.scss
  frontend/public/style/_vars.scss
  frontend/public/style/ancillary/_bootstrap-residual.scss
Labels: approved, lgtm, ok-to-test, component/core, component/olm, docs-approved, qe-approved, px-approved

#11132 [release-4.10] Bug 2060448: Fix potential issues with namespaces that contains just numbers
  frontend/packages/console-app/src/components/detect-namespace/useLastNamespace.ts
  frontend/packages/console-app/src/components/user-preferences/namespace/usePreferredNamespace.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/core, bugzilla/severity-medium, backport-risk-assessed

#11154 CONSOLE-3081: Integrate dark theme - fix(borders): convert #ccc, #ddd, $pf-color-black-300, $color-row-filter-border to var(--pf-global--BorderColor--100)
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system.scss
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-page.scss
  frontend/packages/console-shared/src/components/dashboard/activity-card/activity-card.scss
  frontend/packages/console-shared/src/components/dashboard/inventory-card/inventory-card.scss
  frontend/packages/console-shared/src/components/dashboard/status-card/status-card.scss
  frontend/packages/console-shared/src/components/formik-fields/SyncedEditorField.scss
  frontend/packages/console-shared/src/components/synced-editor/styles.scss
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/top-consumers-card/top-consumers-card.scss
  frontend/packages/kubevirt-plugin/src/components/vms/vm-environment/vm-environment.scss
  frontend/packages/operator-lifecycle-manager/src/style.scss
  frontend/public/components/_edit-yaml.scss
  frontend/public/components/_environment.scss
  frontend/public/components/_image-stream.scss
  frontend/public/components/_row-filter.scss
  frontend/public/components/secrets/_create-secret.scss
  frontend/public/components/sidebars/_resource-sidebar.scss
  frontend/public/components/utils/_copy-to-clipboard.scss
  frontend/public/style/_forms.scss
  frontend/public/style/_layout.scss
Labels: approved, lgtm, ok-to-test, component/shared, component/kubevirt, component/dashboard, component/ceph, component/core, component/olm, docs-approved, qe-approved, px-approved

#11165 Replace GitTypes with the GitProvider type
  frontend/packages/dev-console/src/components/buildconfig/form-utils/initial-data.ts
  frontend/packages/dev-console/src/components/buildconfig/sections/__tests__/SourceSection.spec.tsx
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-data.ts
  frontend/packages/dev-console/src/components/import/GitImportForm.tsx
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/__mocks__/import-validation-mock.ts
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils-data.ts
  frontend/packages/dev-console/src/components/import/__tests__/import-validation-utils.spec.ts
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/import/import-validation-utils.ts
  frontend/packages/dev-console/src/components/import/render-utils.tsx
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved

#11168 CONSOLE-3081: Integrate dark theme - fix(background-color): updates to --pf-global--BackgroundColor—200
  frontend/packages/console-shared/src/components/drawer/Drawer.scss
  frontend/packages/dev-console/src/components/NamespacedPage.scss
  frontend/public/components/_dropdown.scss
  frontend/public/components/_image-stream.scss
  frontend/public/style/_common.scss
  frontend/public/style/_overrides.scss
Labels: approved, lgtm, ok-to-test, component/shared, component/dev-console, component/kubevirt, component/ceph, component/core, component/olm, component/lso, docs-approved, qe-approved, px-approved, component/topology, component/pipelines

#11139 CONSOLE-3081: [Dark theme] Changes to horizontal-nav to enable dark theme support
  frontend/public/components/_horizontal-nav.scss
  frontend/public/components/_nav-title.scss
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved

#11161 Sort catalog filters and other enhancements
  frontend/packages/console-shared/src/components/catalog/catalog-view/CatalogFilters.tsx
  frontend/packages/console-shared/src/components/catalog/service/CatalogServiceProvider.tsx
  frontend/packages/console-shared/src/components/catalog/utils/__tests__/catalog-utils.spec.tsx
  frontend/packages/console-shared/src/components/catalog/utils/catalog-utils.tsx
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/src/components/catalog/providers/useBindableItemMetadataProvider.ts
Labels: approved, kind/feature, lgtm, component/shared, component/dev-console, docs-approved, qe-approved, px-approved

#11120 Bug 2050637: add a hardcoded blog link as fallback in guided tours
  frontend/packages/dev-console/src/components/guided-tour/GuidedTourText.tsx
  frontend/packages/dev-console/src/components/guided-tour/__tests__/GuidedTourText.spec.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-low

#11179 Bug 2063897: Change the tekton hub api endpoint to use v1 api
  frontend/packages/pipelines-plugin/src/components/catalog/const.ts
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium, qe-approved, component/pipelines

#11187 Bug 2064596: [Tekton Hub] show read more link in the task quick search details pane
  frontend/packages/pipelines-plugin/src/components/quicksearch/PipelineQuickSearchDetails.tsx
  frontend/packages/pipelines-plugin/src/test-data/catalog-item-data.ts
  frontend/packages/pipelines-plugin/src/types/tektonHub.ts
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low, component/pipelines

#11180 Fix namespace and backing store table to show pre selected values.
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/backingstore-table.tsx
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/namespace-store-table.tsx
Labels: approved, lgtm, ok-to-test, component/ceph, docs-approved, qe-approved, px-approved

#11155 CONSOLE-3081: [Dark theme] Updates hint block element
  frontend/public/components/utils/_hint-block.scss
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved

#11194 Bug 2065338: Fix VolumeSnapshot creation sort
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot-content.tsx
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#11185 Bug 2060924: Fix alert from showing an object
  frontend/public/components/debug-terminal.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-high

#11091 Bug 2060583: Remove internal-kubevirt Console plugin SDK package
  frontend/packages/console-dynamic-plugin-sdk/README.md
  frontend/packages/console-dynamic-plugin-sdk/package.json
  frontend/packages/console-dynamic-plugin-sdk/scripts/generate-pkg-assets.ts
  frontend/packages/console-dynamic-plugin-sdk/scripts/package-definitions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-api-kubevirt.ts
  frontend/packages/console-dynamic-plugin-sdk/src/lib-internal-kubevirt.ts
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules-init.ts
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules.ts
  frontend/packages/console-dynamic-plugin-sdk/tsconfig-internal-kubevirt.json
  frontend/packages/kubevirt-plugin/src/actions/provider.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, component/sdk, bugzilla/severity-medium

#11167 CONSOLE-3081: Integrate dark theme - fix(background-color): updated to --pf-global--BackgroundColor—100
  frontend/packages/console-shared/src/components/form-utils/FormFooter.scss
  frontend/packages/console-shared/src/components/layout/PageLayout.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchContent.scss
  frontend/packages/topology/src/components/list-view/TopologyListView.scss
  frontend/packages/topology/src/components/page/TopologyView.scss
  frontend/packages/topology/src/filters/TopologyFilterBar.scss
  frontend/public/components/_edit-yaml.scss
  frontend/public/components/_sysevent-icon.scss
  frontend/public/components/_sysevent-stream.scss
  frontend/public/components/_toggle-play.scss
  frontend/public/components/utils/_label.scss
  frontend/public/components/utils/_resource-log.scss
  frontend/public/style/_overrides.scss
  frontend/public/style/ancillary/_bootstrap-residual.scss
Labels: approved, lgtm, ok-to-test, component/shared, component/ceph, component/core, component/lso, docs-approved, qe-approved, px-approved, component/topology

#11184 [release-4.9] Bug 2064454: (Topology) Performance improvement by reducing rerenderings and deep-copy toJSON() calls
  frontend/packages/console-shared/src/hooks/__tests__/useK8sModels.spec.tsx
  frontend/public/components/utils/__tests__/firehose.data.tsx
  frontend/public/components/utils/__tests__/firehose.spec.tsx
  frontend/public/components/utils/__tests__/k8s-watch-hook.spec.tsx
  frontend/public/components/utils/__tests__/useK8sWatchResource.data.tsx
  frontend/public/components/utils/__tests__/useK8sWatchResource.spec.tsx
  frontend/public/components/utils/__tests__/useK8sWatchResources.data.tsx
  frontend/public/components/utils/__tests__/useK8sWatchResources.spec.tsx
  frontend/public/components/utils/firehose.jsx
  frontend/public/components/utils/k8s-watch-hook.ts
  frontend/public/components/utils/k8s-watcher.js
  frontend/public/redux.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/shared, component/core, bugzilla/severity-high, backport-risk-assessed

#11133 [release-4.9] Bug 2060449: Fix potential issues with namespaces that contains just numbers
  frontend/packages/console-app/src/components/detect-namespace/useLastNamespace.ts
  frontend/packages/console-app/src/components/user-preferences/namespace/usePreferredNamespace.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/core, bugzilla/severity-medium, backport-risk-assessed

#11212 Bug 2063957: fix bug where impersonating message was not translated
  frontend/public/components/impersonate-notifier.jsx
  frontend/public/locales/en/public.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low, kind/i18n

#11174 Bug 2061755: remove Breadcrumbs from Create Operand pages
  frontend/packages/ceph-storage-plugin/src/components/block-pool/create-block-pool.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/create-bc.scss
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/create-bc.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-backingstore-page/create-bs-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/header.tsx
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/create-namespace-store.tsx
  frontend/packages/ceph-storage-plugin/src/components/noobaa-provider-endpoints/noobaa-provider-endpoints.scss
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-page.tsx
  frontend/packages/console-shared/src/components/synced-editor/editor-toggle.tsx
  frontend/packages/console-shared/src/components/synced-editor/styles.scss
  frontend/packages/integration-tests-cypress/tests/crud/resource-crud.spec.ts
  frontend/packages/local-storage-operator-plugin/locales/en/lso-plugin.json
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-discovery/create-local-volume-discovery.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/create-local-volume-set.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.scss
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.tsx
  frontend/packages/operator-lifecycle-manager/src/style.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/ceph, component/core, component/olm, component/lso, bugzilla/severity-medium, kind/i18n, kind/cypress

#11211 Bug 2063699: - Builds - Builds - Logs: i18n misses.
  frontend/packages/console-app/src/components/nodes/NodeLogs.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#11130 Bug 2019564: attach owner reference to resources created on creating a user to allow garbage collection
  pkg/usersettings/handlers.go
  pkg/usersettings/helpers.go
  pkg/usersettings/helpers_test.go
  pkg/usersettings/types.go
Labels: approved, lgtm, bugzilla/valid-bug, component/backend, bugzilla/severity-low

#11213 Bug 2063756: - User Preferences - Applications - Insecure traffic : i18n misses
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/user-preferences/SecureRouteFields.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-low, kind/i18n

#11215 Bug 2066754: Don't delete core Cypress reports
  frontend/packages/dev-console/integration-tests/package.json
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-medium

#11178 Bug 2058051: Exposing service list table
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-api.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/sdk, bugzilla/severity-high

#11136 CONSOLE-3081: [Dark theme] Changes to support the events and project select bar when in dark theme mode
  frontend/packages/console-shared/src/components/namespace/NamespaceDropdown.scss
  frontend/public/components/_dropdown.scss
  frontend/public/components/_horizontal-nav.scss
  frontend/public/components/_nav-title.scss
  frontend/public/components/_sysevent-icon.scss
  frontend/public/components/_sysevent-stream.scss
  frontend/public/components/_toggle-play.scss
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/utils/_file-input.scss
  frontend/public/components/utils/_status-box.scss
  frontend/public/style/_common.scss
  frontend/public/style/_vars.scss
  frontend/public/style/ancillary/_bootstrap-residual.scss
Labels: approved, lgtm, component/shared, component/dev-console, component/monitoring, component/core, docs-approved, qe-approved, px-approved, component/topology

#11207 Bug 2064553: Remove reference to deprecated `v2v-vmware` ConfigMap
  frontend/packages/kubevirt-plugin/src/constants/v2v.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/v2vvmware-configmap-validator.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/v2vvmware-configmap.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#11219 Bug 2057183: Add validSubscription filter to OperatorHub
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/index.ts
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-page.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, bugzilla/severity-urgent, kind/i18n

#11197 [release-4.9] Bug 2065549: Change the tekton hub api endpoint to use v1 api
  frontend/packages/pipelines-plugin/src/components/catalog/const.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium, component/pipelines, backport-risk-assessed

#10870 Bug 2041769: Pipeline metrics: use prometheus-tenancy API to get data
  frontend/packages/pipelines-plugin/src/components/pipelines/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/hooks.ts
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium, component/pipelines

#11217 Bug 2066418: correct ChannelDocLink url
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/modals/cluster-channel-modal.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#11151 feat(theme): added theme file
  frontend/packages/console-shared/src/components/getting-started/QuickStartGettingStartedCard.tsx
  frontend/packages/dev-console/src/components/add/DeveloperFeaturesGettingStartedCard.tsx
  frontend/packages/dev-console/src/components/add/SampleGettingStartedCard.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/getting-started-card/FeatureHighlightsCard.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/getting-started-card/RecommendedOperatorsCard.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/cluster-setup-getting-started-card.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/explore-admin-features-getting-started-card.tsx
  frontend/public/style.scss
  frontend/public/style/_theme-dark.scss
Labels: approved, lgtm, ok-to-test, component/shared, component/dev-console, component/kubevirt, component/dashboard, component/core, docs-approved, qe-approved, px-approved

#11221 Bug 2063708: correct JA translation for 'Expand'
  frontend/public/locales/ja/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low, kind/i18n

#11195 Bug 2064607: avoid pre-fetching tekton hub task versions in pipeline builder
  frontend/packages/pipelines-plugin/src/components/catalog/apis/__tests__/tektonHub.spec.ts
  frontend/packages/pipelines-plugin/src/components/catalog/apis/tektonHub.ts
  frontend/packages/pipelines-plugin/src/components/catalog/catalog-utils.ts
  frontend/packages/pipelines-plugin/src/components/catalog/const.ts
  frontend/packages/pipelines-plugin/src/components/catalog/providers/useTekonHubTasksProvider.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/PipelineQuickSearch.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/PipelineQuickSearchDetails.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/PipelineQuickSearchVersionDropdown.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/__tests__/PipelineQuickSearchVersionDropdown.spec.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/__tests__/PipelineQuicksearchDetails.spec.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/__tests__/pipeline-quicksearch-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/quicksearch/pipeline-quicksearch-utils.ts
  frontend/packages/pipelines-plugin/src/test-data/catalog-item-data.ts
  frontend/packages/pipelines-plugin/src/test-data/tekon-config-data.ts
  frontend/packages/pipelines-plugin/src/types/tektonHub.ts
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium, component/pipelines

#11115 Add theme switcher in user preferences page
  frontend/__tests__/components/markdown-view.spec.tsx
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/helm-plugin/src/components/details-page/__tests__/HelmReleaseNotes.spec.tsx
  frontend/packages/helm-plugin/src/topology/__tests__/TopologyHelmReleaseNotesPanel.spec.tsx
  frontend/public/components/ThemeProvider.tsx
  frontend/public/components/app.jsx
  frontend/public/components/markdown-view.tsx
  frontend/public/index.html
Labels: approved, kind/feature, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n, component/helm

#11177 CONSOLE-3081: [Dark theme] Additional skeleton updates for dark theme
  frontend/packages/console-shared/src/styles/skeleton-screen.scss
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/inventory-card/virt-overview-inventory-card.scss
  frontend/public/components/utils/_skeleton-screen.scss
Labels: approved, lgtm, component/shared, component/kubevirt, component/core, docs-approved, qe-approved, px-approved

#11142 Allow user to re-arrange the resources added to nav
  frontend/packages/console-shared/src/components/dnd/DragAndDrop.tsx
  frontend/packages/console-shared/src/components/dnd/index.ts
  frontend/packages/console-shared/src/components/formik-fields/text-column-field/TextColumnField.tsx
  frontend/public/components/nav/PinnedResource.scss
  frontend/public/components/nav/PinnedResource.tsx
  frontend/public/components/nav/__tests__/perspective-nav.spec.tsx
  frontend/public/components/nav/_perspective-nav.scss
  frontend/public/components/nav/items.tsx
  frontend/public/components/nav/perspective-nav.tsx
  frontend/public/components/search.tsx
  frontend/public/locales/en/public.json
Labels: approved, kind/feature, lgtm, component/shared, component/core, docs-approved, qe-approved, px-approved, kind/i18n

#11158 Update pf packages to pf 2022-3
  frontend/package.json
  frontend/packages/console-app/src/components/user-preferences/namespace/NamespaceDropdown.tsx
  frontend/packages/console-shared/src/components/actions/menu/ActionMenuContent.tsx
  frontend/packages/console-shared/src/components/actions/menu/ActionMenuItem.tsx
  frontend/packages/pipelines-plugin/src/components/shared/common/auto-complete/AutoCompletePopover.tsx
  frontend/yarn.lock
Labels: approved, lgtm, component/shared, component/core, docs-approved, qe-approved, px-approved, component/pipelines

#11170 Console3080 - Add Control Plane Topology flag to console UI
  cmd/bridge/main.go
  frontend/@types/console/index.d.ts
  pkg/server/server.go
  pkg/serverconfig/config.go
  pkg/serverconfig/types.go
  pkg/serverconfig/validate.go
  vendor/github.com/openshift/api/config/install.go
  vendor/github.com/openshift/api/config/v1/0000_00_cluster-version-operator_01_clusteroperator.crd.yaml
  vendor/github.com/openshift/api/config/v1/0000_00_cluster-version-operator_01_clusterversion.crd.yaml
  vendor/github.com/openshift/api/config/v1/0000_03_config-operator_01_operatorhub.crd.yaml
  vendor/github.com/openshift/api/config/v1/0000_03_config-operator_01_proxy.crd.yaml
  vendor/github.com/openshift/api/config/v1/0000_10_config-operator_01_apiserver.crd.yaml
  vendor/github.com/openshift/api/config/v1/0000_10_config-operator_01_authentication.crd.yaml
  vendor/github.com/openshift/api/config/v1/0000_10_config-operator_01_build.crd.yaml
  vendor/github.com/openshift/api/config/v1/0000_10_config-operator_01_console.crd.yaml
  vendor/github.com/openshift/api/config/v1/0000_10_config-operator_01_dns.crd.yaml
  vendor/github.com/openshift/api/config/v1/0000_10_config-operator_01_featuregate.crd.yaml
  vendor/github.com/openshift/api/config/v1/0000_10_config-operator_01_image.crd.yaml
  vendor/github.com/openshift/api/config/v1/0000_10_config-operator_01_imagecontentpolicy.crd.yaml
  vendor/github.com/openshift/api/config/v1/0000_10_config-operator_01_infrastructure.crd.yaml
  vendor/github.com/openshift/api/config/v1/0000_10_config-operator_01_ingress.crd.yaml
  vendor/github.com/openshift/api/config/v1/0000_10_config-operator_01_network.crd.yaml
  vendor/github.com/openshift/api/config/v1/0000_10_config-operator_01_oauth.crd.yaml
  vendor/github.com/openshift/api/config/v1/0000_10_config-operator_01_project.crd.yaml
  vendor/github.com/openshift/api/config/v1/0000_10_config-operator_01_scheduler.crd.yaml
  vendor/github.com/openshift/api/config/v1/doc.go
  vendor/github.com/openshift/api/config/v1/register.go
  vendor/github.com/openshift/api/config/v1/stringsource.go
  vendor/github.com/openshift/api/config/v1/types.go
  vendor/github.com/openshift/api/config/v1/types_apiserver.go
  vendor/github.com/openshift/api/config/v1/types_authentication.go
  vendor/github.com/openshift/api/config/v1/types_build.go
  vendor/github.com/openshift/api/config/v1/types_cluster_operator.go
  vendor/github.com/openshift/api/config/v1/types_cluster_version.go
  vendor/github.com/openshift/api/config/v1/types_console.go
  vendor/github.com/openshift/api/config/v1/types_dns.go
  vendor/github.com/openshift/api/config/v1/types_feature.go
  vendor/github.com/openshift/api/config/v1/types_features_test.go
  vendor/github.com/openshift/api/config/v1/types_image.go
  vendor/github.com/openshift/api/config/v1/types_image_content_policy.go
  vendor/github.com/openshift/api/config/v1/types_infrastructure.go
  vendor/github.com/openshift/api/config/v1/types_infrastructure_test.go
  vendor/github.com/openshift/api/config/v1/types_ingress.go
  vendor/github.com/openshift/api/config/v1/types_network.go
  vendor/github.com/openshift/api/config/v1/types_oauth.go
  vendor/github.com/openshift/api/config/v1/types_operatorhub.go
  vendor/github.com/openshift/api/config/v1/types_project.go
  vendor/github.com/openshift/api/config/v1/types_proxy.go
  vendor/github.com/openshift/api/config/v1/types_scheduling.go
  vendor/github.com/openshift/api/config/v1/types_tlssecurityprofile.go
  vendor/github.com/openshift/api/config/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
Labels: approved, lgtm, component/core, component/backend, kind/dependency-change, docs-approved, qe-approved, px-approved, kind/i18n

#11152 Bug 2017001: Bug fix context menu position on topology
  frontend/packages/topology/src/actions/__tests__/contextMenuActions.spec.ts
  frontend/packages/topology/src/actions/contextMenuActions.tsx
  frontend/packages/topology/src/components/graph-view/components/componentFactory.ts
  frontend/packages/topology/src/components/graph-view/components/componentUtils.ts
  frontend/packages/topology/src/components/graph-view/components/withTopologyContextMenu.tsx
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium, component/topology

#11229 Bug 2064744: Remove duplicate app label on debug terminal
  frontend/public/components/debug-terminal.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-unspecified

#11232 Bug 2067776: Update prometheus/client_golang to 1.11.1
  go.mod
  go.sum
  vendor/OWNERS
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/instrument_client.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/instrument_server.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/option.go
  vendor/modules.txt
Labels: approved, lgtm, bugzilla/valid-bug, component/backend, kind/dependency-change, bugzilla/severity-medium

#11228 Bug 2068115: Fixed the rendering of a Tab Extension when there is a version present
  dynamic-demo-plugin/console-extensions.json
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/src/components/ProjectTabExtensionContent.tsx
  dynamic-demo-plugin/yarn.lock
  frontend/public/components/factory/details.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#11169 Bug 2067180: Completed-7034-OCP 4.11 UI Localization- Sprint 215
  frontend/packages/ceph-storage-plugin/locales/ja/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/ko/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/zh/ceph-storage-plugin.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-shared/locales/ja/console-shared.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/helm-plugin/locales/ja/helm-plugin.json
  frontend/packages/helm-plugin/locales/ko/helm-plugin.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/operator-lifecycle-manager/locales/ko/olm.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/pipelines-plugin/locales/ko/pipelines-plugin.json
  frontend/packages/topology/locales/ja/topology.json
  frontend/packages/topology/locales/ko/topology.json
  frontend/packages/topology/locales/zh/topology.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/dev-console, component/kubevirt, component/knative, component/ceph, component/core, component/olm, bugzilla/severity-medium, kind/i18n, component/helm, component/topology, component/pipelines

#11134 [release-4.8] Bug 2060450: Fix that the preferred namespace was not selected when it contains just numbers
  frontend/packages/console-app/src/components/detect-namespace/namespace.ts
  frontend/packages/console-app/src/components/detect-namespace/useLastNamespace.ts
  frontend/packages/console-app/src/components/user-preferences/namespace/usePreferredNamespace.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/core, bugzilla/severity-high, backport-risk-assessed

#11172 Updates and fixes for pipelines-plugin cypress tests
  frontend/packages/dev-console/integration-tests/support/pages/functions/installOperatorOnCluster.ts
  frontend/packages/dev-console/integration-tests/support/pages/operators-page.ts
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-add-options.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-builder-page.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-actions.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-runs.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-secrets.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-triggers.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-workspaces.feature
  frontend/packages/pipelines-plugin/integration-tests/features/ui-validation-with-yaml/create-pipeline.feature
  frontend/packages/pipelines-plugin/integration-tests/support/constants/static-text/pipeline-details-text.ts
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineBuilder-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelines-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-runs.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-secrets.ts
  test-cypress.sh
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, component/pipelines

#11235 Bug 2068594: fix Cluster Dashboard Details Card test
  frontend/integration-tests/tests/dashboards/cluster-dashboard.scenario.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/details-card.tsx
  frontend/public/components/utils/service-level.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dashboard, component/core, bugzilla/severity-medium

#11233 Bug 2068490: change 'kubectl' to 'oc' to fix descriptors test
  frontend/packages/integration-tests-cypress/support/index.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/descriptors.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, bugzilla/severity-medium, kind/cypress

#11240 Bug 2069198: Use pre-installed pipeline task in e2e test
  frontend/packages/pipelines-plugin/integration-tests/features/e2e/pipeline-ci.feature
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-from-builder-page.ts
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium, component/pipelines

#11223 support visualisation of internal deployment in topology view and sidepanel for event sink
  frontend/packages/knative-plugin/src/topology/__tests__/__mocks__/knativeResourcesData.ts
  frontend/packages/knative-plugin/src/topology/__tests__/isKnativeResource.spec.ts
  frontend/packages/knative-plugin/src/topology/__tests__/knative-topology-utils.spec.ts
  frontend/packages/knative-plugin/src/topology/components/nodes/EventSink.tsx
  frontend/packages/knative-plugin/src/topology/isKnativeResource.ts
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
  frontend/packages/knative-plugin/src/topology/sidebar/knative-resource-tab-sections.tsx
  frontend/packages/knative-plugin/src/topology/topology-types.ts
  frontend/packages/knative-plugin/src/utils/get-knative-resources.ts
  frontend/packages/topology/src/components/graph-view/components/nodes/PodSet.tsx
Labels: approved, lgtm, component/knative, docs-approved, qe-approved, px-approved, component/topology

#11239 Bug 2068908: Update getting started blog link
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/getting-started-card/FeatureHighlightsCard.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-urgent, kind/i18n

#11241 Bug 2069181: Fix disabling community tasks in pipeline builder issue
  frontend/packages/pipelines-plugin/src/components/catalog/__tests__/catalog-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/catalog/catalog-utils.ts
  frontend/packages/pipelines-plugin/src/test-data/tekon-config-data.ts
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low, component/pipelines

#11183 CONSOLE-3081: [Dark theme] Update pages to use PageHeading where possible
  frontend/__tests__/components/routes/create-route.spec.tsx
  frontend/__tests__/components/storage-class-form.spec.tsx
  frontend/integration-tests/tests/crd-extensions.scenario.ts
  frontend/integration-tests/tests/oauth.scenario.ts
  frontend/packages/console-app/src/components/network-policies/create-network-policy.tsx
  frontend/packages/console-app/src/components/volume-snapshot/create-volume-snapshot/create-volume-snapshot.tsx
  frontend/packages/console-shared/src/components/badges/Badge.scss
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-yaml.ts
  frontend/packages/integration-tests-cypress/tests/app/debug-pod.spec.ts
  frontend/packages/integration-tests-cypress/tests/app/filtering-and-searching.spec.ts
  frontend/packages/integration-tests-cypress/tests/app/overview.spec.ts
  frontend/packages/integration-tests-cypress/views/rolebindings.ts
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/create-catalog-source.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.scss
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
  frontend/packages/operator-lifecycle-manager/src/style.scss
  frontend/public/components/RBAC/bindings.jsx
  frontend/public/components/_edit-yaml.scss
  frontend/public/components/api-explorer.tsx
  frontend/public/components/cluster-settings/basicauth-idp-form.tsx
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/cluster-settings/github-idp-form.tsx
  frontend/public/components/cluster-settings/gitlab-idp-form.tsx
  frontend/public/components/cluster-settings/google-idp-form.tsx
  frontend/public/components/cluster-settings/htpasswd-idp-form.tsx
  frontend/public/components/cluster-settings/keystone-idp-form.tsx
  frontend/public/components/cluster-settings/ldap-idp-form.tsx
  frontend/public/components/cluster-settings/openid-idp-form.tsx
  frontend/public/components/cluster-settings/request-header-idp-form.tsx
  frontend/public/components/edit-yaml.jsx
  frontend/public/components/error.tsx
  frontend/public/components/factory/modal.tsx
  frontend/public/components/instantiate-template.tsx
  frontend/public/components/monitoring/silence-form.tsx
  frontend/public/components/monitoring/targets.tsx
  frontend/public/components/routes/create-route.tsx
  frontend/public/components/secrets/create-secret.tsx
  frontend/public/components/storage-class-form.tsx
  frontend/public/components/storage/create-pvc.tsx
  frontend/public/components/utils/headings.tsx
  frontend/public/locales/en/public.json
  frontend/public/style/_common.scss
Labels: approved, lgtm, component/shared, component/dev-console, component/kubevirt, component/ceph, component/monitoring, component/core, component/metal3, component/olm, component/network-attachment-definition, component/lso, docs-approved, qe-approved, px-approved, kind/i18n, kind/cypress

#11247 Bug 2069577: Update ConsolePlugin manifest
  dynamic-demo-plugin/oc-manifest.yaml
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium

#11057 Bug 2054650: Allow custom template namespace
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm/hooks/use-vm-templates-resources.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/inventory-card/VirtOverviewInventoryCard.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/customize-source/CustomizeSourceForm.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-details-page.tsx
  frontend/packages/kubevirt-plugin/src/hooks/use-running-vms-per-template-resources.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, bugzilla/severity-high, backport-risk-assessed

#11214 updates text description for Event sinks
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/components/add/EventSinkPage.tsx
  frontend/packages/knative-plugin/src/components/add/EventSourcePage.tsx
  frontend/packages/knative-plugin/src/components/add/event-sinks/SourceSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/SinkSection.tsx
  frontend/packages/knative-plugin/src/components/overview/EventSourceResources.tsx
  frontend/packages/knative-plugin/src/topology/sidebar/__tests__/knative-resource-tab-sections.spec.tsx
  frontend/packages/knative-plugin/src/topology/sidebar/knative-resource-tab-sections.tsx
Labels: approved, lgtm, component/knative, docs-approved, qe-approved, px-approved, kind/i18n

#11245 Bug 2067298: Remove `modelsLoaded` conditional rendering from ModelStatusBox
  frontend/packages/operator-lifecycle-manager/src/components/model-status-box.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, component/sdk, component/olm, bugzilla/severity-high

#11252 Bug 1997142: improve performance of OperatorHub text input filter
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-hub.spec.ts
  frontend/public/components/catalog/_catalog.scss
  frontend/public/components/utils/tile-view-page.jsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, component/olm, bugzilla/severity-medium

#11222 update and add image vulnerability toggle group in IMV details page
  frontend/packages/container-security/locales/en/container-security.json
  frontend/packages/container-security/src/components/ImageVulnerabilitiesList.tsx
  frontend/packages/container-security/src/components/ImageVulnerabilitiesTable.tsx
  frontend/packages/container-security/src/components/ImageVulnerabilityRow.tsx
  frontend/packages/container-security/src/components/ImageVulnerabilityTogggleGroup.scss
  frontend/packages/container-security/src/components/ImageVulnerabilityToggleGroup.tsx
  frontend/packages/container-security/src/components/__tests__/ImageVulnerabilitiesList.spec.tsx
  frontend/packages/container-security/src/components/__tests__/ImageVulnerabilitiesTable.spec.tsx
  frontend/packages/container-security/src/components/__tests__/ImageVulnerabilityRow.spec.tsx
  frontend/packages/container-security/src/components/__tests__/ImageVulnerabilityToggleGroup.spec.tsx
  frontend/packages/container-security/src/components/__tests__/image-manifest-vuln.spec.tsx
  frontend/packages/container-security/src/components/__tests__/image-vulnerability-utils.spec.ts
  frontend/packages/container-security/src/components/__tests__/vulnerability-test-data.ts
  frontend/packages/container-security/src/components/image-manifest-vuln.scss
  frontend/packages/container-security/src/components/image-manifest-vuln.tsx
  frontend/packages/container-security/src/components/image-vulnerability-utils.ts
  frontend/packages/container-security/src/const.ts
Labels: approved, kind/feature, lgtm, docs-approved, qe-approved, px-approved, kind/i18n

#11238 Automation of Pipeline Actions
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipeline-metrics.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-actions.feature
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-actions.ts
Labels: approved, lgtm, component/dev-console, component/core, docs-approved, qe-approved, px-approved, component/pipelines

#11258 Automation of Builder Page Pipelines
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-builder-page.feature
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/common/pipelines.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-from-builder-page.ts
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, component/pipelines

#11256 Bug 2064454: return process data as array for list true in firehose as done in hooks
  frontend/public/components/utils/__tests__/firehose.spec.tsx
  frontend/public/components/utils/firehose.jsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/core, bugzilla/severity-high, backport-risk-assessed
