Repository openshift/console, pull requests merged in 2022-02, with the labels that each got.

#10782 Bug 2006067: Handle blank usernames in error message
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/install-plan.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, bugzilla/severity-medium, kind/i18n

#10945 Bug 2046591: Added support for customized wizard - new templates
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/storage-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/vm-settings-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/os.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/types.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#10951 Bug 2047277: Add storage status to status card
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/VirtOverviewDetailsCard.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/VirtualizationOverviewPage.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/status-card/StatusCardStoragePopover.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/status-card/StorageHealthItem.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/status-card/VirtOverviewStatusCard.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/status-card/constants.ts
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/status-card/utils.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-kubevirt-storage-operator-csvs.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium, kind/i18n

#10954 Bug 2014420: Remove depracated v2v resources from plugin config
  frontend/packages/kubevirt-plugin/console-extensions.json
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-urgent

#10949 Bug 2046601: Dont assume its a pvc
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form-reducer.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-urgent

#10980 Bug 2048221: Capitalization of titles first-word-only rule
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-resource.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-low, kind/i18n

#10931 [release-4.8] Bug 2046043: Topology performance: Do not fetch HPA for each Deployment (Pod Ring)
  frontend/packages/console-shared/src/hooks/hpa-hooks.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/shared, bugzilla/severity-high, backport-risk-assessed

#10930 Bug 2030530: Remove quotation marks surrounding VM pwd
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/initialize-vm.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-low

#10889 docs/helm: update documentation according reviews
  docs/helm/configure-namespaced-helm-repos.md
Labels: approved, lgtm, docs-approved, qe-approved, px-approved

#10805 Migrate Status component to the SDK
  frontend/packages/ceph-storage-plugin/src/components/block-pool/block-pool-list-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/block-pool/mirroring-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/utilization-card/utilization-item.tsx
  frontend/packages/ceph-storage-plugin/src/components/disk-inventory/ocs-status-column.tsx
  frontend/packages/console-app/src/components/nodes/NodeDetailsConditions.tsx
  frontend/packages/console-app/src/components/nodes/popovers/MarkAsSchedulablePopover.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-api-kubevirt.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/status/GenericStatus.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/status/PopoverStatus.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/status/Status.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/status/StatusIconAndText.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/status/icons.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/status/statuses.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/utils/camel-case-wrap.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/constants.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationItem.tsx
  frontend/packages/console-shared/src/components/status/LinkStatus.tsx
  frontend/packages/console-shared/src/components/status/NodeUnschedulableStatus.tsx
  frontend/packages/console-shared/src/components/status/Status.tsx
  frontend/packages/console-shared/src/components/status/icons.tsx
  frontend/packages/console-shared/src/components/status/index.tsx
  frontend/packages/console-shared/src/components/status/statuses.tsx
  frontend/packages/console-shared/src/components/status/types.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/import-providers-tab/providers/vm-import-provider-controller-status-row.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/import-providers-tab/providers/vm-import-provider-object-status.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-status/lazy-vm-status.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-status/vm-status.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-page-new.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostDetails.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostStatus.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/StatusCard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/CSRStatus.tsx
  frontend/packages/metal3-plugin/src/components/maintenance/MaintenancePopover.tsx
  frontend/packages/operator-lifecycle-manager/src/components/catalog-source.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-install-page.tsx
  frontend/packages/operator-lifecycle-manager/src/components/subscription.tsx
  frontend/packages/topology/src/components/workload/BuildOverview.tsx
  frontend/public/components/conditions.tsx
  frontend/public/components/overview/build-overview.tsx
  frontend/public/components/sidebars/explore-type-sidebar.tsx
  frontend/public/components/utils/index.tsx
Labels: approved, lgtm, component/shared, component/kubevirt, component/dashboard, component/knative, component/ceph, component/core, component/metal3, component/sdk, component/olm, docs-approved, qe-approved, px-approved, kind/i18n, component/topology

#10988 Bug 2044421: Allow topology list to select application group
  frontend/packages/topology/src/components/list-view/TopologyListViewAppGroup.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low, component/topology

#10966 Bug 2041774: defaulting to s2i if git type can't be figured out
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-low, qe-approved

#10992 Bug 2014640: Cannot change storage class of boot disk when creating VM
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard.tsx
  frontend/packages/kubevirt-plugin/src/hooks/use-update-data-volume.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#10977 Bug 2046596: Customized wizard PVC name
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/os.tsx
  frontend/packages/kubevirt-plugin/src/types/types.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-medium

#10903 default apiDiscovery in SDK
  frontend/packages/console-dynamic-plugin-sdk/src/app/AppInitSDK.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/__tests__/AppInitSDK.spec.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/k8s/api-discovery/api-discovery-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/k8s/api-discovery/api-discovery.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/k8s/api-discovery/discovery-cache.ts
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved

#10997 Monitoring: Comment to explain how Alertmanager links are handled
  frontend/public/components/monitoring/alerting.tsx
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved

#10996 Bug 2050011: Query Browser: Fix widths of timespan text input
  frontend/public/components/monitoring/_monitoring.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, bugzilla/severity-low

#10872 Expose useFlag as part of the Dynamic SDK
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/features.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/flags.ts
  frontend/packages/console-shared/src/hooks/flag.ts
  frontend/public/reducers/features.ts
  frontend/public/redux.ts
Labels: approved, lgtm, component/shared, component/core, component/sdk, docs-approved, qe-approved, px-approved

#11000 createProject for non-admin users
  frontend/packages/integration-tests-cypress/support/project.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, kind/cypress

#11003 Bug 2037628: added test-id to kms flows
  frontend/packages/ceph-storage-plugin/src/components/modals/advanced-kms-modal/advanced-vault-modal.tsx
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, component/ceph, bugzilla/severity-low

#10873 [release-4.8]Bug 2004086: Add name field in edit deployment form
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/edit-deployment/EditDeploymentFormEditor.tsx
  frontend/packages/dev-console/src/components/edit-deployment/NameSection.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, bugzilla/severity-low, kind/i18n, backport-risk-assessed

#11005 Bug 2046618: Add started-by annotation to pipelines created with "Start last run"
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/__tests__/utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-low, component/pipelines

#11009 `valut` typo fixed
  frontend/packages/ceph-storage-plugin/src/components/kms-config/kms-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/vault-config.tsx
Labels: approved, lgtm, ok-to-test, component/ceph, docs-approved, qe-approved, px-approved

#10932 [release-4.8] Bug 2046051: Add support for fetching partial metadata and fix helm list page crash
  frontend/__tests__/actions/k8s.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/api-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/helm-plugin/src/components/list-page/HelmReleaseList.tsx
  frontend/packages/helm-plugin/src/topology/helm-topology-plugin.tsx
  frontend/public/actions/k8s.ts
  frontend/public/components/utils/k8s-watch-hook.ts
  frontend/public/module/k8s/resource.js
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/core, component/sdk, bugzilla/severity-medium, component/helm, backport-risk-assessed

#10999 Bug 2046498: fix casing of project and application
  frontend/integration-tests/tests/deploy-image.scenario.ts
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/integration-tests/support/constants/topology.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/dev-console/src/actions/context-menu.ts
  frontend/packages/dev-console/src/components/add/__tests__/SampleGettingStartedCard.data.ts
  frontend/packages/dev-console/src/components/add/__tests__/add-page-test-data.tsx
  frontend/packages/dev-console/src/components/catalog/providers/useBuilderImages.tsx
  frontend/packages/dev-console/src/components/catalog/providers/useDevfile.tsx
  frontend/packages/dev-console/src/components/health-checks/health-checks-probe-utils.ts
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/ImportPage.tsx
  frontend/packages/dev-console/src/components/import/ImportSamplePage.tsx
  frontend/packages/dev-console/src/components/import/advanced/RouteSection.tsx
  frontend/packages/dev-console/src/components/import/advanced/ServerlessScalingSection.tsx
  frontend/packages/knative-plugin/integration-tests/features/eventing/eventing-broker-actions.feature
  frontend/packages/pipelines-plugin/console-extensions.json
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ko/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/packages/topology/integration-tests/features/e2e/topology-ci.feature
  frontend/packages/topology/integration-tests/features/topology/topology-application-grouping.feature
  frontend/packages/topology/integration-tests/features/topology/topology-in-context-add-options.feature
  frontend/packages/topology/integration-tests/support/pages/topology/topology-actions-page.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-side-pane-page.ts
  frontend/packages/topology/integration-tests/support/step-definitions/common/topology.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/application-groupings.ts
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/locales/ja/topology.json
  frontend/packages/topology/locales/ko/topology.json
  frontend/packages/topology/locales/zh/topology.json
  frontend/packages/topology/src/actions/modify-application.ts
  frontend/packages/topology/src/components/dropdowns/ApplicationDropdown.tsx
  frontend/packages/topology/src/components/dropdowns/ApplicationSelector.tsx
  frontend/packages/topology/src/components/dropdowns/NamespaceBarApplicationSelector.tsx
  frontend/packages/topology/src/components/export-app/ExportApplication.tsx
  frontend/packages/topology/src/components/export-app/export-app-context.ts
  frontend/packages/topology/src/components/graph-view/TopologyShortcuts.tsx
  frontend/packages/topology/src/components/graph-view/components/RegroupHint.tsx
  frontend/packages/topology/src/components/list-view/TopologyListViewUnassignedGroup.tsx
  frontend/packages/topology/src/components/modals/EditApplicationModal.tsx
  frontend/packages/topology/src/components/workload/resource-alert.tsx
  frontend/packages/topology/src/utils/application-utils.ts
  frontend/packages/topology/src/utils/moveNodeToGroup.tsx
  frontend/packages/topology/src/utils/topology-utils.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/shared, component/dev-console, component/knative, component/core, bugzilla/severity-low, kind/i18n, component/topology, component/pipelines

#10925 [release-4.8] Bug 2045051: Add subject name selector field to SinkBinding form
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/components/add/event-sources/SinkBindingSection.tsx
  frontend/packages/knative-plugin/src/components/add/eventSource-validation-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/knative, bugzilla/severity-high, kind/i18n, backport-risk-assessed

#10987 [release-4.8] Bug 2048900: Fix knative function label cherry pick
  frontend/packages/knative-plugin/src/const.ts
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-topology-utils.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/knative, bugzilla/severity-medium, backport-risk-assessed

#11014 Bug 2052095: Fix auth redirect loop caused by duplicate state-token cookie
  pkg/auth/auth.go
Labels: approved, lgtm, bugzilla/valid-bug, component/backend, bugzilla/severity-urgent

#11020 Bug 2052671: chore(i18n): update translations
  frontend/packages/ceph-storage-plugin/locales/ja/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/ko/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/zh/ceph-storage-plugin.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/gitops-plugin/locales/ja/gitops-plugin.json
  frontend/packages/gitops-plugin/locales/ko/gitops-plugin.json
  frontend/packages/gitops-plugin/locales/zh/gitops-plugin.json
  frontend/packages/helm-plugin/locales/ja/helm-plugin.json
  frontend/packages/helm-plugin/locales/ko/helm-plugin.json
  frontend/packages/helm-plugin/locales/zh/helm-plugin.json
  frontend/packages/insights-plugin/locales/ja/insights-plugin.json
  frontend/packages/insights-plugin/locales/ko/insights-plugin.json
  frontend/packages/insights-plugin/locales/zh/insights-plugin.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/operator-lifecycle-manager/locales/ko/olm.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ko/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, component/kubevirt, component/knative, component/ceph, component/core, component/olm, bugzilla/severity-low, component/insights, kind/i18n, component/helm, component/gitops, component/pipelines

#10953 Migrate impersonateStateToProps
  frontend/packages/console-app/src/components/cloud-shell/CloudShellExec.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/core/reducers/coreSelectors.ts
  frontend/packages/console-shared/src/components/actions/menu/ActionMenuItem.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-overview/PipelineStartButton.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-overview/TriggerLastRunButton.tsx
  frontend/packages/pipelines-plugin/src/topology/build-decorators/PipelineRunDecorator.tsx
  frontend/public/components/utils/dropdown.jsx
  frontend/public/components/utils/kebab.tsx
  frontend/public/components/utils/rbac.tsx
  frontend/public/reducers/ui.ts
Labels: approved, lgtm, component/shared, component/core, component/sdk, docs-approved, qe-approved, px-approved, component/pipelines

#11021 Bug 2052674: Remove a couple of extra spaces
  frontend/public/components/debug-terminal.tsx
  frontend/public/components/utils/service-level.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low, kind/i18n

#10990 [release-4.9] Bug 2047350: Fix TypeError when application has HelmRelease
  frontend/packages/topology/src/actions/groupActions.ts
  frontend/packages/topology/src/components/application-panel/TopologyApplicationResources.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-high, component/topology, backport-risk-assessed

#11002 Bug 2049483: Revert "fix annotations on updating workload"
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/topology-details.ts
  frontend/packages/topology/src/components/side-bar/providers/SideBarTabLoader.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/sdk, bugzilla/severity-high, component/topology

#11033 Bug 2052595: Revert "Add Dev Preview tag for IBM FlashSystem"
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/index.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-urgent

#11042 [release-4.9] Bug 2053496: Monitoring: use namespace to detect the activePerspective instead of useActivePerspective hook
  frontend/public/components/monitoring/dashboards/graph.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/monitoring, component/core, bugzilla/severity-medium, backport-risk-assessed

#11044 Bug 2054238: Update E2E to use 3scale operator
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/create-namespace.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-single-namespace.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, bugzilla/severity-urgent, docs-approved, qe-approved, px-approved

#11001 Bug 2053685: (Topology) Performance improvement by reducing rerenderings and deep-copy toJSON() calls
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/__tests__/k8s-watcher.spec.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/__tests__/useK8sModels.spec.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/__tests__/useK8sWatchResource.data.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/__tests__/useK8sWatchResource.spec.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/__tests__/useK8sWatchResources.data.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/__tests__/useK8sWatchResources.spec.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/k8s-watcher.ts
  frontend/public/components/utils/__tests__/firehose.data.tsx
  frontend/public/components/utils/__tests__/firehose.spec.tsx
  frontend/public/components/utils/firehose.jsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, component/sdk, bugzilla/severity-high

#11012 Bug 2051642: Remove tech preview badge for web terminal
  frontend/packages/console-app/src/components/cloud-shell/CloudShellDrawer.tsx
  frontend/packages/console-app/src/components/cloud-shell/CloudShellTab.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium

#11016 Bug 2051657: removed `Tech preview` badge
  frontend/packages/ceph-storage-plugin/src/utils/common-ocs-install-el.tsx
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, component/ceph, bugzilla/severity-low

#11007 Bug 2039647: Use namespaced links for dev perspective nav items
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/gitops-plugin/console-extensions.json
  frontend/packages/pipelines-plugin/console-extensions.json
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-low, component/gitops, component/pipelines

#10847 Migrate checkAccess & useAccessReview to the SDK
  frontend/__tests__/components/cluster-settings.spec.tsx
  frontend/__tests__/components/safety-first.spec.tsx
  frontend/packages/console-app/src/components/cloud-shell/useCloudShellNamespace.ts
  frontend/packages/console-app/src/components/cloud-shell/useCloudShellWorkspace.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/safety-first.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/utils/rbac.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/models/index.ts
  frontend/packages/console-shared/src/components/actions/menu/ActionMenu.tsx
  frontend/packages/console-shared/src/components/pod/PodRing.tsx
  frontend/packages/console-shared/src/hooks/usePodsWatcher.ts
  frontend/packages/console-shared/src/utils/pod-ring-utils.ts
  frontend/packages/console-shared/src/utils/pod-utils.ts
  frontend/packages/dev-console/src/components/health-checks/__tests__/AddHealthChecks.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/__tests__/MonitoringPage.spec.tsx
  frontend/packages/dev-console/src/components/projects/details/__tests__/ProjectDetailsPage.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/RevisionsOverviewList.spec.tsx
  frontend/packages/knative-plugin/src/utils/create-channel-utils.ts
  frontend/packages/knative-plugin/src/utils/fetch-dynamic-eventsources-utils.ts
  frontend/packages/kubevirt-plugin/src/components/vm-disks/vm-disks.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-nics/vm-nics.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/vm-snapshots.tsx
  frontend/packages/topology/src/__tests__/TopologyPageToolbar.spec.tsx
  frontend/public/components/utils/dropdown.jsx
  frontend/public/components/utils/managed-by.tsx
  frontend/public/components/utils/rbac.tsx
  frontend/public/module/k8s/types.ts
Labels: approved, lgtm, component/shared, component/dev-console, component/kubevirt, component/knative, component/ceph, component/core, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n, component/topology, kind/cypress

#11038 Bug 2050698: fix bug where Cluster Settings shows 0 of N, 0% progres…
  frontend/public/components/cluster-settings/cluster-settings.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-unspecified

#11043 Remove Console plugin SDK host-app package
  frontend/packages/console-dynamic-plugin-sdk/README.md
  frontend/packages/console-dynamic-plugin-sdk/package.json
  frontend/packages/console-dynamic-plugin-sdk/scripts/generate-pkg-assets.ts
  frontend/packages/console-dynamic-plugin-sdk/scripts/package-definitions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/host-app-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/lib-host-app.ts
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules-init.ts
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules.ts
  frontend/packages/console-dynamic-plugin-sdk/tsconfig-host-app.json
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved

#11047 Bug 2028821: Misspelled label in ODF management UI
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/data-consumption-card/data-consumption-card-dropdown.tsx
  frontend/packages/ceph-storage-plugin/src/constants/data-consumption.ts
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, component/ceph, bugzilla/severity-low, kind/i18n

#11054 Bug 2051775: Allow custom template namespace
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm/hooks/use-vm-templates-resources.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/inventory-card/VirtOverviewInventoryCard.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/customize-source/CustomizeSourceForm.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-details-page.tsx
  frontend/packages/kubevirt-plugin/src/hooks/use-running-vms-per-template-resources.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#11032 Bug 2050902: Fix to add labels to webhook secrets created during import
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/components/import/upload-jar-submit-utils.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-medium

#10998 Bug 2048442: Disabling Vault SA based auth for storage class encryption
  frontend/packages/ceph-storage-plugin/src/components/kms-config/providers.ts
  frontend/packages/ceph-storage-plugin/src/components/kms-config/utils.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/vault-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/advanced-kms-modal/advanced-vault-modal.tsx
  frontend/packages/ceph-storage-plugin/src/constants/kms.ts
  frontend/packages/ceph-storage-plugin/src/types.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, bugzilla/severity-high, kind/i18n

#11034 Bug 2053168: Fix dynamic plugin SDK typescript IDE errors
  frontend/packages/console-dynamic-plugin-sdk/src/api/core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/lib-core.ts
  frontend/packages/console-dynamic-plugin-sdk/src/lib-internal-kubevirt.ts
  frontend/packages/console-dynamic-plugin-sdk/src/lib-internal.ts
  frontend/packages/console-dynamic-plugin-sdk/src/lib-webpack.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sWatchResource.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sWatchResources.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/sdk, bugzilla/severity-low

#10016 Remove unnecessary polyfills
  frontend/package.json
  frontend/polyfills.js
  frontend/webpack.config.ts
  frontend/yarn.lock
Labels: lifecycle/rotten, approved, lgtm, kind/cleanup, component/core, docs-approved, qe-approved, px-approved

#11061 Bug 2051578: fix ClusterOperator Status, Version col sorts
  frontend/public/components/factory/table.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#11019 [release-4.9] Bug 2050271: show latest pipelinerun on the top of the list
  frontend/public/components/factory/table-data-hook.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/core, bugzilla/severity-low, backport-risk-assessed

#11063 Bug 2046496: Update the list Toolbar to use ToolbarToggleGroup when less than 769px width
  frontend/public/components/_filter-toolbar.scss
  frontend/public/components/_nav-title.scss
  frontend/public/components/filter-toolbar.tsx
  frontend/public/style/_overrides.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#10783 Bug 2037542: Fix sticky footer in pipeline builder's form yaml switcher
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModal.scss
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderFormEditor.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderPage.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/Sidebar.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/Sidebar.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebar.scss
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/shared, component/dev-console, component/core, bugzilla/severity-medium, component/pipelines

#11022 Bug 2037625: Always show ResourceQuota charts
  frontend/public/components/dashboard/project-dashboard/resource-quota-card.tsx
  frontend/public/components/resource-quota.jsx
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium

#11024 Bug 2046598: Display disk size in GiB in VM customize wizard
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/review-tab/storage-review.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/storage-tab/storage-tab.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#11040 Bug 2053304: Fix debug route and add testcases
  frontend/packages/integration-tests-cypress/tests/app/debug-pod.spec.ts
  frontend/packages/integration-tests-cypress/views/list-page.ts
  frontend/public/components/app-contents.tsx
  frontend/public/components/pod.tsx
  frontend/public/components/utils/resource-log.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low, kind/cypress

#11051 Bug 2055814: Support custom extensions in console-extensions.json files
  dynamic-demo-plugin/.gitignore
  dynamic-demo-plugin/.prettierrc
  dynamic-demo-plugin/.vscode/settings.json
  dynamic-demo-plugin/yarn.lock
  frontend/.vscode/settings.json
  frontend/packages/console-dynamic-plugin-sdk/scripts/parsers/ExtensionDeclarationParser.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/custom.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/plugin-manifest.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/test-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/sdk, bugzilla/severity-medium

#10963 Monitoring: Redirect Prometheus UI format URLs to query browser page
  frontend/public/components/monitoring/alerting.tsx
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved

#11071 Bug 2053501: Decode secrets before authorizing repository
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
  frontend/packages/dev-console/src/components/import/git/SourceSecretSelector.tsx
  frontend/packages/git-service/src/services/bitbucket-service.ts
  frontend/packages/git-service/src/services/github-service.ts
  frontend/packages/git-service/src/services/gitlab-service.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, component/git-service, bugzilla/severity-high

#11087 [release-4.9]Bug 2056826: Revert "Merge pull request #10316 from dtaylor113/e2e-tests-replace-codeready-operator"
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/create-namespace.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-single-namespace.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/olm, bugzilla/severity-urgent, backport-risk-assessed

#10938 Migrate ListPageBody to the SDK
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/factory/ListPage/ListPageBody.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/index.ts
  frontend/public/components/RBAC/bindings.jsx
  frontend/public/components/machine-set.tsx
  frontend/public/components/machine.tsx
  frontend/public/components/pod.tsx
Labels: approved, lgtm, component/core, component/sdk, docs-approved, qe-approved, px-approved

#11056 Bug 2014161: Fix pipeline run logs autoscrolling issue
  frontend/packages/pipelines-plugin/src/components/pipelineruns/logs/Logs.tsx
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-medium, component/pipelines

#11090 Bug 2048059: fix proxy so requests to account management service work
  pkg/server/server.go
Labels: approved, lgtm, bugzilla/valid-bug, component/backend, bugzilla/severity-medium

#11068 [release-4.9] Bug 2055100: Revert "Add Dev Preview tag for IBM FlashSystem"
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/index.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/ceph, bugzilla/severity-urgent, backport-risk-assessed

#11089 Bug 2046531: Remove schema subdir from dynamic plugin sdk
  frontend/packages/console-dynamic-plugin-sdk/package.json
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, component/sdk, bugzilla/severity-low

#11062 Bug 2050005: Fix webpack module federation runtime chunk ID clashes
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/yarn.lock
  frontend/packages/console-dynamic-plugin-sdk/package.json
  frontend/packages/console-dynamic-plugin-sdk/src/webpack/ConsoleRemotePlugin.ts
  frontend/yarn.lock
Labels: approved, lgtm, bugzilla/valid-bug, component/sdk, bugzilla/severity-high

#11058 Bug 2042710: Custom imagepullsecret reference information not found when creating pod using console in openshift
  frontend/__tests__/components/pod.spec.tsx
  frontend/public/components/pod.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-medium, kind/i18n

#11085 Bug 2054285: Show standalone resources as sink and not the one's owned by other resource
  frontend/packages/knative-plugin/src/components/add/event-sources/form-fields/SinkResources.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/form-fields/PubSubSubscriber.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/knative, bugzilla/severity-medium

#11100 Trim trailing whitespace in test names.
  frontend/packages/integration-tests-cypress/tests/crud/secrets.spec.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, kind/cypress

#11086 Clean up of CronJobSource code references
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/integration-tests/features/eventing/create-event-sources.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/cards-display-on-serverless-operator-installation.feature
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/eventing/create-event-sources.ts
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/components/add/__tests__/eventSource-validation-utils.spec.ts
  frontend/packages/knative-plugin/src/components/add/event-sources/CronJobSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/EventSourceSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/__tests__/EventSourceSection.spec.tsx
  frontend/packages/knative-plugin/src/components/add/eventSource-validation-utils.ts
  frontend/packages/knative-plugin/src/components/add/import-types.ts
  frontend/packages/knative-plugin/src/imgs/logos/pingsource.svg
  frontend/packages/knative-plugin/src/topology/__tests__/topology-knative-test-data.ts
  frontend/packages/knative-plugin/src/utils/__tests__/create-eventsources-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-serving-data.ts
  frontend/packages/knative-plugin/src/utils/create-eventsources-utils.ts
  frontend/packages/knative-plugin/src/utils/get-knative-icon.ts
  frontend/packages/topology/src/__tests__/topology-test-data.ts
Labels: approved, lgtm, component/knative, docs-approved, qe-approved, px-approved, kind/i18n, component/topology

#11103 Bug 2057054: Improves K8s Utils Return Type
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/__tests__/k8s-resource.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-resource.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/sdk, bugzilla/severity-medium

#11104 Bug 2046598: Display disk size in correct units
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/review-tab/storage-review.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/storage-tab/storage-tab.tsx
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/data-volume-wrapper.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#11105 Bug 2054950: Display correct disk size in Edit disk modal
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-high

#11102 Bug 2058424: Don't pass Authorization header when not needed
  pkg/server/server.go
Labels: approved, lgtm, bugzilla/valid-bug, component/backend, bugzilla/severity-high
