Repository openshift/console, pull requests merged in 2023-10, with the labels that each got.

#13211 OCPBUGS-19966: Builds - BuildConfigs : i18n misses
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, component/core, kind/i18n, jira/valid-bug, jira/valid-reference

#13208 OCPBUGS-19970: Home-Projects-Default-workloads-AddPage: upload JAR file's i18n misses
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/jar/section/JarSection.tsx
Labels: approved, lgtm, component/dev-console, kind/i18n, jira/valid-bug, jira/valid-reference

#13194 OCPBUGS-4242: Fix CSV list and details page managed namespaces for copied CSVs.
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/types.ts
Labels: approved, lgtm, component/olm, jira/valid-bug, jira/valid-reference

#13195 OCPBUGS-16736: use setTimeout to allow model to be created
  frontend/packages/console-shared/src/components/editor/yaml-editor-utils.ts
  frontend/public/components/edit-yaml.jsx
Labels: approved, lgtm, component/shared, component/core, jira/valid-bug, jira/valid-reference

#13056 [release-4.12] OCPBUGS-15474: Project admin can update and view subscription from operator details page
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-group.tsx
  frontend/packages/operator-lifecycle-manager/src/const.ts
  frontend/packages/operator-lifecycle-manager/src/status/csv-status.ts
Labels: approved, lgtm, tide/merge-method-squash, cherry-pick-approved, component/core, component/backend, component/olm, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#12804 [release-4.13] OCPBUGS-13285: add multipath device type to LocalVolumeSet
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/body.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/request.ts
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/types.ts
  frontend/packages/local-storage-operator-plugin/src/constants/index.ts
Labels: approved, lgtm, cherry-pick-approved, component/dev-console, component/kubevirt, component/knative, component/monitoring, component/core, component/backend, component/olm, component/lso, qe-approved, kind/i18n, component/helm, component/topology, component/gitops, component/pipelines, kind/cypress, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#13131 [release-4.11] OCPBUGS-18486: Fix stop PLR option
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/__tests__/PipelineRunDetailsPage.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunList.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/utils/pipeline-actions.tsx
Labels: approved, lgtm, cherry-pick-approved, qe-approved, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13226 OCPBUGS-20270: Add instructions to the README for running the monitoring plugin locally
  README.md
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#12747 [release-4.12] OCPBUGS-13580: Regression: OpenShift Console no-longer filters SecretList when displaying ServiceAccount
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/service-account.jsx
Labels: approved, lgtm, cherry-pick-approved, component/core, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#13105 CONSOLE-3675: Dynamic Demo Plugin: Add dashboard card with chart using QueryBrowser component
  dynamic-demo-plugin/console-extensions.json
  dynamic-demo-plugin/locales/en/plugin__console-demo-plugin.json
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/src/components/DashboardCard.tsx
  dynamic-demo-plugin/src/i18n.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/integration-tests-cypress/tests/app/demo-dynamic-plugin.spec.ts
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved, kind/cypress, jira/valid-reference

#13184 CONSOLE-3084: frontend/packages/console-shared/src/hooks/useCanClusterUpgrade: Not ROSA
  frontend/packages/console-shared/src/hooks/useCanClusterUpgrade.ts
Labels: approved, lgtm, component/shared, docs-approved, qe-approved, px-approved, jira/valid-reference

#13225 ODC-7396: Add Pipeline metrics tab using plugin
  frontend/packages/pipelines-plugin/console-extensions.json
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelineDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/__tests__/pipelineDetailsPage.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/index.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines, jira/valid-reference

#13183 CONSOLE-3758: add support for new features annotations while preserv…
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/index.ts
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-page.tsx
Labels: approved, lgtm, component/olm, docs-approved, qe-approved, px-approved, jira/valid-reference

#13223 [release-4.13] OCPBUGS-20231: fetch TaskRuns without selector and reduces the get TaskRuns requests
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/__tests__/PipelineRunDetailsPage.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/status/LinkedPipelineRunTaskStatus.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/status/PipelineRunStatus.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/list-page/PipelineList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/list-page/PipelineRow.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunList.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/components/repository/list-page/RepositoryRow.tsx
  frontend/packages/pipelines-plugin/src/components/repository/list-page/ReppositoryList.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/useTaskRuns.ts
  frontend/packages/pipelines-plugin/src/topology/build-decorators/PipelineRunDecorator.tsx
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-actions.spec.ts
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-augment.spec.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-actions.tsx
  frontend/packages/pipelines-plugin/src/utils/pipeline-augment.ts
Labels: approved, lgtm, cherry-pick-approved, qe-approved, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13224 [release-4.13] OCPBUGS-20232: show all the legends for Pipeline metrics in PipelineRun TaskRun Duration chart
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetrics.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetrics.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineRunTaskRunGraph.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/charts/lineChart.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/charts/lineChart.tsx
Labels: approved, lgtm, cherry-pick-approved, qe-approved, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13231 ODC-7400: Fix e2e for dev-console, knative, topology, helm and pipeline packages
  frontend/packages/dev-console/integration-tests/cypress.config.js
  frontend/packages/dev-console/integration-tests/cypress.json
  frontend/packages/dev-console/integration-tests/plugins/index.js
  frontend/packages/dev-console/integration-tests/support/commands/hooks.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/operators-po.ts
  frontend/packages/helm-plugin/integration-tests/cypress.config.js
  frontend/packages/helm-plugin/integration-tests/cypress.json
  frontend/packages/helm-plugin/integration-tests/features/helm-release.feature
  frontend/packages/helm-plugin/integration-tests/support/commands/hooks.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-release.ts
  frontend/packages/integration-tests-cypress/support/admin.ts
  frontend/packages/knative-plugin/integration-tests/cypress.config.js
  frontend/packages/knative-plugin/integration-tests/cypress.json
  frontend/packages/knative-plugin/integration-tests/features/e2e/knative-ci.feature
  frontend/packages/knative-plugin/integration-tests/support/commands/hooks.ts
  frontend/packages/knative-plugin/integration-tests/support/pages/dev-perspective/common.ts
  frontend/packages/pipelines-plugin/integration-tests/cypress.config.js
  frontend/packages/pipelines-plugin/integration-tests/cypress.json
  frontend/packages/pipelines-plugin/integration-tests/features/e2e/pipeline-ci.feature
  frontend/packages/pipelines-plugin/integration-tests/support/commands/hooks.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/functions/common.ts
  frontend/packages/shipwright-plugin/integration-tests/cypress.config.js
  frontend/packages/shipwright-plugin/integration-tests/cypress.json
  frontend/packages/shipwright-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/topology/integration-tests/cypress.config.js
  frontend/packages/topology/integration-tests/cypress.json
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-page.ts
  frontend/packages/webterminal-plugin/integration-tests/cypress.config.js
  frontend/packages/webterminal-plugin/integration-tests/cypress.json
  frontend/packages/webterminal-plugin/integration-tests/support/step-definitions/common/webTerminal.ts
  test-cypress.sh
  test-prow-e2e.sh
Labels: approved, lgtm, component/dev-console, component/knative, component/olm, docs-approved, qe-approved, px-approved, component/helm, component/topology, component/pipelines, kind/cypress, jira/valid-reference

#13247 ODC-7401: Remove protractor from dev-console and knative plugins
  frontend/integration-tests/tests/deploy-image.scenario.ts
  frontend/packages/dev-console/integration-tests/tests/dev-perspective.scenario.ts
  frontend/packages/dev-console/integration-tests/tests/git-import-flow.scenario.ts
  frontend/packages/dev-console/integration-tests/tests/pipeline.scenario.ts
  frontend/packages/dev-console/integration-tests/tests/topology.scenario.ts
  frontend/packages/dev-console/integration-tests/utilities/appFunctions.ts
  frontend/packages/dev-console/integration-tests/utilities/elementInteractions.ts
  frontend/packages/dev-console/integration-tests/utils/page.ts
  frontend/packages/dev-console/integration-tests/views/dev-perspective.view.ts
  frontend/packages/dev-console/integration-tests/views/git-import-flow.view.ts
  frontend/packages/dev-console/integration-tests/views/new-app-name.view.ts
  frontend/packages/dev-console/integration-tests/views/pipeline.view.ts
  frontend/packages/dev-console/integration-tests/views/sample-app-pipeline.yaml
  frontend/packages/dev-console/integration-tests/views/simple-pipeline-demo.yaml
  frontend/packages/dev-console/integration-tests/views/topology.view.ts
  frontend/packages/knative-plugin/integration-tests/tests/serverless.scenario.ts
  frontend/packages/knative-plugin/integration-tests/views/serverless.view.ts
Labels: approved, lgtm, component/dev-console, component/knative, docs-approved, qe-approved, px-approved, jira/valid-reference

#13176 OCPBUGS-21616: Fix empty editor error
  frontend/public/components/edit-yaml.jsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, kind/i18n, jira/valid-bug, jira/valid-reference

#13201 chore(i18n): update translations: Completed OCP-4.15/Master Branch/Sprint 242
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-shared/locales/ja/console-shared.json
  frontend/packages/console-shared/locales/ko/console-shared.json
  frontend/packages/console-shared/locales/zh/console-shared.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/helm-plugin/locales/ja/helm-plugin.json
  frontend/packages/helm-plugin/locales/ko/helm-plugin.json
  frontend/packages/helm-plugin/locales/zh/helm-plugin.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/metal3-plugin/locales/ja/metal3-plugin.json
  frontend/packages/metal3-plugin/locales/ko/metal3-plugin.json
  frontend/packages/metal3-plugin/locales/zh/metal3-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/operator-lifecycle-manager/locales/ko/olm.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ko/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/packages/shipwright-plugin/locales/ja/shipwright-plugin.json
  frontend/packages/shipwright-plugin/locales/ko/shipwright-plugin.json
  frontend/packages/shipwright-plugin/locales/zh/shipwright-plugin.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, component/shared, component/dev-console, component/kubevirt, component/knative, component/core, component/metal3, component/olm, docs-approved, qe-approved, px-approved, kind/i18n, component/helm, component/pipelines, jira/valid-reference

#13239 GITOPS-3433: get ready for cypress upgrade
  frontend/packages/gitops-plugin/integration-tests/README.md
  frontend/packages/gitops-plugin/integration-tests/cypress.config.js
  frontend/packages/gitops-plugin/integration-tests/cypress.json
  frontend/packages/gitops-plugin/integration-tests/features/BestPractices.md
Labels: approved, lgtm, tide/merge-method-squash, component/dev-console, component/olm, docs-approved, qe-approved, px-approved, component/topology, component/gitops, kind/cypress, jira/valid-reference

#13229 OCPBUGS-19714: hide page-specific doc links for ROSA and OSD
  frontend/packages/console-app/src/components/network-policies/network-policy-form.tsx
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/health-checks/AddHealthChecks.tsx
  frontend/packages/dev-console/src/components/project-access/ProjectAccess.tsx
  frontend/packages/insights-plugin/src/components/InsightsPopup/index.tsx
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
  frontend/public/components/build.tsx
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/deployment-config.tsx
  frontend/public/components/modals/cluster-channel-modal.tsx
  frontend/public/components/modals/cluster-update-modal.tsx
  frontend/public/components/modals/configure-cluster-upstream-modal.tsx
  frontend/public/components/modals/create-namespace-modal.jsx
  frontend/public/components/network-policy.tsx
  frontend/public/components/utils/documentation.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/dev-console, component/core, component/olm, component/insights, kind/i18n, jira/valid-bug, jira/valid-reference

#13236 OCPBUGS-20305: Extra space is in the translation text(Chinese) of 'Create rolebinding' and 'replicate rolebinding'
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, component/core, kind/i18n, jira/valid-bug, jira/valid-reference

#13197 CONSOLE-3766: Update i18next-parser dev dependency in console
  dynamic-demo-plugin/i18next-parser.config.js
  frontend/i18next-parser.config.js
  frontend/package.json
  frontend/yarn.lock
Labels: approved, lgtm, component/kubevirt, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#13221 OCPBUGS-20229: Service details page shows revisions and routes from other service also
  frontend/packages/knative-plugin/src/components/services/ServiceDetailsPage.tsx
Labels: approved, lgtm, component/knative, jira/valid-bug, jira/valid-reference

#13222 OCPBUGS-19783: Channel page shows "Required" message for the default name when navigate to create channel page
  frontend/packages/knative-plugin/src/components/add/channels/ChannelForm.tsx
Labels: approved, lgtm, component/knative, jira/valid-bug, jira/valid-reference

#13248 CONSOLE-3809: remove orphaned OLM Protractor views
  frontend/packages/operator-lifecycle-manager/integration-tests/views/operator-hub.view.ts
  frontend/packages/operator-lifecycle-manager/integration-tests/views/operator.view.ts
Labels: approved, lgtm, component/olm, docs-approved, qe-approved, px-approved, jira/valid-reference

#13249 CONSOLE-3812: remove packages/ceph-storage-plugin/integration-tests
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/add-capacity.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests/OWNERS
  frontend/packages/ceph-storage-plugin/integration-tests/mocks/expand-test-mocks.ts
  frontend/packages/ceph-storage-plugin/integration-tests/mocks/independent-external-cluster-data.ts
  frontend/packages/ceph-storage-plugin/integration-tests/mocks/storage-class.ts
  frontend/packages/ceph-storage-plugin/integration-tests/mocks/storage-pool.ts
  frontend/packages/ceph-storage-plugin/integration-tests/mocks/testFile.json
  frontend/packages/ceph-storage-plugin/integration-tests/tests/1-install/installFlow.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/tests/2-tests/add-capacity.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/tests/2-tests/multiple-pool.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/tests/2-tests/noobaa-sso-scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/tests/2-tests/ocp-dashboard-card-healthcheck.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/tests/2-tests/pvc.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/tests/2-tests/storage-dashboard.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/tests/2-tests/test-expand.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/tests/3-tests/multiple-storage-class-selection.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/tests/3-tests/upgrade.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests/utils/consts.ts
  frontend/packages/ceph-storage-plugin/integration-tests/utils/helpers.ts
  frontend/packages/ceph-storage-plugin/integration-tests/views/add-capacity.view.ts
  frontend/packages/ceph-storage-plugin/integration-tests/views/installFlow.view.ts
  frontend/packages/ceph-storage-plugin/integration-tests/views/multiple-pool.view.ts
  frontend/packages/ceph-storage-plugin/integration-tests/views/noobaa-sso.view.ts
  frontend/packages/ceph-storage-plugin/integration-tests/views/ocp-dashboard-card-healthcheck.view.ts
  frontend/packages/ceph-storage-plugin/integration-tests/views/pvc.view.ts
  frontend/packages/ceph-storage-plugin/integration-tests/views/storage-dashboard.view.ts
  frontend/packages/ceph-storage-plugin/integration-tests/views/upgrade.view.ts
  frontend/packages/ceph-storage-plugin/package.json
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/create-block-pool-modal.tsx
Labels: approved, lgtm, component/ceph, docs-approved, qe-approved, px-approved, jira/valid-reference

#13252 [release-4.12] OCPBUGS-21731: show all the legends for Pipeline metrics in PipelineRun TaskRun Duration chart
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetrics.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetrics.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineRunTaskRunGraph.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/charts/lineChart.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/charts/lineChart.tsx
Labels: approved, lgtm, cherry-pick-approved, qe-approved, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13088 OCPBUGS-9422: Telemetry- Current page was sometimes not tracked when reloading the current page
  frontend/public/components/app.jsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13251 [release-4.12] OCPBUGS-21727: fetch TaskRuns without selector and reduces the get TaskRuns requests
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/__tests__/PipelineRunDetailsPage.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/status/LinkedPipelineRunTaskStatus.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/status/PipelineRunStatus.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/list-page/PipelineList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/list-page/PipelineRow.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunList.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/components/repository/list-page/RepositoryRow.tsx
  frontend/packages/pipelines-plugin/src/components/repository/list-page/ReppositoryList.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/useTaskRuns.ts
  frontend/packages/pipelines-plugin/src/topology/build-decorators/PipelineRunDecorator.tsx
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-actions.spec.ts
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-augment.spec.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-actions.tsx
  frontend/packages/pipelines-plugin/src/utils/pipeline-augment.ts
Labels: approved, lgtm, cherry-pick-approved, qe-approved, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13230 OCPBUGS-20362: Delete results.tekton.dev annotations before rerun the pipelineRun
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/utils.ts
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/severity-important, jira/valid-reference

#13238 OCPBUGS-16756: Cluster dropdown items are not marked for i18n when ACM/MCE installed
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/nav/ClusterMenu.tsx
Labels: approved, lgtm, component/core, kind/i18n, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13264 OCPBUGS-19970: Workloads-AddPage: upload JAR file's i18n misses
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
Labels: approved, lgtm, component/dev-console, kind/i18n, jira/valid-bug, jira/valid-reference

#13265 OCPBUGS-22213: Fix links for CodeEditor component
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
Labels: approved, lgtm, component/sdk, jira/valid-bug, jira/valid-reference

#13268 OCPBUGS-22199: Save also the location.search and .hash values in localStorage to restore them after login
  frontend/public/co-fetch.ts
Labels: kind/bug, approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#13266 OCPBUGS-22284: updating doc links for 4.14 GA
  frontend/public/components/modals/configure-cluster-upstream-modal.tsx
  frontend/public/components/utils/documentation.tsx
Labels: approved, lgtm, component/core, docs-approved, jira/valid-bug, jira/valid-reference

#13275 CONSOLE-3740: fix bug where renamed tests weren't updated
  INTERNATIONALIZATION.md
  frontend/packages/integration-tests-cypress/README.md
  test-prow-e2e.sh
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, kind/cypress, jira/valid-reference

#13232 OCPBUGS-20295: clarify Operator installMode error message
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
Labels: approved, lgtm, component/olm, qe-approved, kind/i18n, jira/valid-bug, jira/valid-reference

#13114 OU-241,OCPBUGS-19458: Remove unused Observe > Metrics page code
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-bug, jira/valid-reference

#13274 OCPBUGS-22213: Fix links for CodeEditor component
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
Labels: approved, lgtm, component/sdk, jira/valid-bug, jira/valid-reference

#13281 CONSOLE-3740: remove references to removed packages
  README.md
  test-cypress.sh
  test-prow-e2e.sh
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, jira/valid-reference

#13214 OCPBUGS-10562: fix operator uninstall test
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-global.cy.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-uninstall.cy.ts
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.tsx
Labels: approved, lgtm, component/olm, jira/valid-bug, jira/valid-reference

#13241 OCPBUGS-22419: Fix the forms when BC is not installed in the cluster
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/src/components/add/SampleGettingStartedCard.tsx
Labels: approved, lgtm, component/dev-console, jira/valid-bug, jira/valid-reference

#13257 CONSOLE-3788: migrate console Protractor tests to Cypress
  frontend/integration-tests/protractor.conf.ts
  frontend/integration-tests/tests/alertmanager.scenario.ts
  frontend/integration-tests/tests/base.scenario.ts
  frontend/integration-tests/tests/cluster-settings.scenario.ts
  frontend/integration-tests/tests/environment.scenario.ts
  frontend/integration-tests/tests/login.scenario.ts
  frontend/integration-tests/tests/monitoring.scenario.ts
  frontend/integration-tests/tests/oauth.scenario.ts
  frontend/integration-tests/tests/secrets.scenario.ts
  frontend/integration-tests/views/cluster-settings.view.ts
  frontend/integration-tests/views/monitoring.view.ts
  frontend/integration-tests/views/oauth.view.ts
  frontend/packages/console-demo-plugin/integration-tests/tests/demo.scenario.ts
  frontend/packages/console-demo-plugin/package.json
  frontend/packages/integration-tests-cypress/tests/cluster-settings/alertmanager/alertmanager.cy.ts
  frontend/packages/integration-tests-cypress/tests/cluster-settings/alertmanager/receivers/email.cy.ts
  frontend/packages/integration-tests-cypress/tests/cluster-settings/alertmanager/receivers/pagerduty.cy.ts
  frontend/packages/integration-tests-cypress/tests/cluster-settings/alertmanager/receivers/slack.cy.ts
  frontend/packages/integration-tests-cypress/tests/cluster-settings/alertmanager/receivers/webhook.cy.ts
  frontend/packages/integration-tests-cypress/tests/cluster-settings/cluster-settings.cy.ts
  frontend/packages/integration-tests-cypress/tests/cluster-settings/oauth.cy.ts
  frontend/packages/integration-tests-cypress/tests/crud/environment.cy.ts
  frontend/packages/integration-tests-cypress/tests/crud/secrets/add-to-workload.cy.ts
  frontend/packages/integration-tests-cypress/tests/crud/secrets/image-pull.cy.ts
  frontend/packages/integration-tests-cypress/tests/crud/secrets/key-value.cy.ts
  frontend/packages/integration-tests-cypress/tests/crud/secrets/source.cy.ts
  frontend/packages/integration-tests-cypress/tests/crud/secrets/webhook.cy.ts
  frontend/packages/integration-tests-cypress/tsconfig.json
  frontend/packages/integration-tests-cypress/views/alertmanager.ts
  frontend/packages/integration-tests-cypress/views/environment.ts
  frontend/packages/integration-tests-cypress/views/oauth.ts
  frontend/packages/integration-tests-cypress/views/secret.ts
  frontend/public/components/configmap-and-secret-data.tsx
  frontend/public/components/modals/add-secret-to-workload.tsx
  frontend/public/components/monitoring/alertmanager/alertmanager-config.tsx
  frontend/public/components/monitoring/alertmanager/alertmanager-page.tsx
  frontend/public/components/secrets/create-secret.tsx
  frontend/public/components/utils/headings.tsx
  test-prow-e2e.sh
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved, kind/cypress, jira/valid-reference

#13145 ODC-7386: Ensure the Import Form gets submitted without errors if BC is not installed while Pipelines is installed
  frontend/packages/console-shared/src/components/formik-fields/SelectInputField.tsx
  frontend/packages/console-shared/src/components/formik-fields/field-types.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/edit-application/EditApplicationForm.tsx
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-data.ts
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-utils.spec.ts
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/dev-console/src/components/import/DeploySection.tsx
  frontend/packages/dev-console/src/components/import/GitImportForm.tsx
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/SourceToImageForm.tsx
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils-data.ts
  frontend/packages/dev-console/src/components/import/advanced/AdvancedSection.tsx
  frontend/packages/dev-console/src/components/import/advanced/BuildConfigSection.tsx
  frontend/packages/dev-console/src/components/import/advanced/DeploymentConfigSection.tsx
  frontend/packages/dev-console/src/components/import/advanced/__tests__/AdvancedSection.spec.tsx
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/import/section/BuildOptions.tsx
  frontend/packages/dev-console/src/components/import/section/BuildSection.tsx
  frontend/packages/dev-console/src/components/import/section/useDefaultBuildOption.ts
  frontend/packages/dev-console/src/const.ts
  frontend/packages/pipelines-plugin/src/components/import/pipeline/PipelineSection.tsx
  frontend/packages/pipelines-plugin/src/components/import/pipeline/PipelineTemplate.tsx
Labels: approved, lgtm, component/shared, component/dev-console, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines, jira/valid-reference

#13286 CONSOLE-3788: remove network-attachment-definition-plugin Protractor …
  frontend/packages/network-attachment-definition-plugin/integration-tests/.eslintrc.js
  frontend/packages/network-attachment-definition-plugin/integration-tests/tests/models/nad.ts
  frontend/packages/network-attachment-definition-plugin/integration-tests/tests/models/nadDetail.ts
  frontend/packages/network-attachment-definition-plugin/integration-tests/tests/models/nadForm.ts
  frontend/packages/network-attachment-definition-plugin/integration-tests/tests/nad.actions.scenario.ts
  frontend/packages/network-attachment-definition-plugin/integration-tests/tests/nad.detail.scenario.ts
  frontend/packages/network-attachment-definition-plugin/integration-tests/tests/nad.form.configs.ts
  frontend/packages/network-attachment-definition-plugin/integration-tests/tests/nad.form.scenario.ts
  frontend/packages/network-attachment-definition-plugin/integration-tests/tests/nad.yaml.scenario.ts
  frontend/packages/network-attachment-definition-plugin/integration-tests/tests/utils/constants.ts
  frontend/packages/network-attachment-definition-plugin/integration-tests/tests/utils/mocks.ts
  frontend/packages/network-attachment-definition-plugin/integration-tests/types/index.ts
  frontend/packages/network-attachment-definition-plugin/integration-tests/views/nad.detail.view.ts
  frontend/packages/network-attachment-definition-plugin/integration-tests/views/nad.form.view.ts
  frontend/packages/network-attachment-definition-plugin/integration-tests/views/nad.list.view.ts
  frontend/packages/network-attachment-definition-plugin/package.json
Labels: approved, lgtm, component/network-attachment-definition, docs-approved, qe-approved, px-approved, jira/valid-reference

#13291 CONSOLE-3788: remove local-storage-operator-plugin Protractor tests
  frontend/packages/local-storage-operator-plugin/integration-tests/tests/disks-list-page.scenario.ts
  frontend/packages/local-storage-operator-plugin/integration-tests/views/disks-list-page.views.ts
  frontend/packages/local-storage-operator-plugin/package.json
Labels: approved, lgtm, component/lso, docs-approved, qe-approved, px-approved, jira/valid-reference

#13267 ODC-7409: Use @kubernetes-models/shipwright types in shipwright-plugin
  frontend/packages/shipwright-plugin/package.json
  frontend/packages/shipwright-plugin/src/__tests__/api.spec.ts
  frontend/packages/shipwright-plugin/src/__tests__/mock-data.ts
  frontend/packages/shipwright-plugin/src/components/buildrun-duration/__tests__/BuildRunDuration.spec.tsx
  frontend/packages/shipwright-plugin/src/types.ts
  frontend/yarn.lock
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, jira/valid-reference

#13282 CONSOLE-3811: remove shared Protractor files
  frontend/packages/console-shared/src/test-utils/actions.view.ts
  frontend/packages/console-shared/src/test-utils/utils.ts
  frontend/packages/console-shared/src/test-views/dashboard-shared.view.ts
Labels: approved, lgtm, component/shared, component/network-attachment-definition, component/lso, docs-approved, qe-approved, px-approved, jira/valid-reference

#13292 OCPBUGS-22747: Display "With Data upload form" in Create PVC drop down once
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
Labels: approved, lgtm, component/kubevirt, qe-approved, kind/i18n, jira/valid-bug, jira/valid-reference
