Repository openshift/console, pull requests merged in 2023-03, with the labels that each got.

#12012 Correcting Knative Package Failures
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/event-source-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/createBroker.ts
  frontend/packages/knative-plugin/integration-tests/features/admin-perspective/eventing-page-admin.feature
  frontend/packages/knative-plugin/integration-tests/features/admin-perspective/serving-page-admin.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/actions-on-event-sources.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/create-event-sources.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/event-sources-installation-view.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/event-sources-sink-to-uri.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/eventing-broker-actions.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/eventing-broker-trigger.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/kafka-event-source-actions.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/kafka-event-source.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/kafka-source-connection-to-kafka-connection-instance.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/managed-services-kafka-connection.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/create-knative-service-from-deployment-or-deployment-config.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/serverless-function.feature
  frontend/packages/knative-plugin/integration-tests/support/pageObjects/global-po.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/common/operators.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/eventing/actions-on-event-sources.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/eventing/create-event-sink.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/eventing/create-event-sources.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/eventing/event-sources-sink-to-uri.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/eventing/eventing-broker-actions.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/eventing/eventing-channel.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/cards-display-on-serverless-operator-installation.ts
Labels: approved, lgtm, component/dev-console, component/knative, docs-approved, qe-approved, px-approved

#12617 OCPBUGS-8066: add checks for Pipeline in AddServerlessFunction form
  frontend/packages/dev-console/src/components/import/serverless-function/AddServerlessFunctionForm.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, jira/valid-bug, jira/severity-important, jira/valid-reference

#12610 OCPBUGS-6762: Increase filter input width to accomodate placeholder text
  frontend/public/components/_filter-toolbar.scss
  frontend/public/components/filter-toolbar.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, jira/valid-bug, jira/severity-low, jira/valid-reference

#12542 OCPBUGS-6994: when ACM is installed and no previous perspective is set, default perspective to All Clusters
  frontend/packages/console-app/src/components/detect-perspective/__tests__/useValuesForPerspectiveContext.spec.ts
  frontend/packages/console-app/src/components/detect-perspective/useValuesForPerspectiveContext.ts
  frontend/packages/console-dynamic-plugin-sdk/src/perspective/__tests__/perspective.data.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/core, component/sdk, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12527 ODC-7232, ODC-7233: Add new auth, serverconfig and usage metrics
  cmd/bridge/main.go
  frontend/packages/console-telemetry-plugin/console-extensions.json
  frontend/packages/console-telemetry-plugin/src/listeners/index.ts
  frontend/packages/console-telemetry-plugin/src/listeners/segment.ts
  frontend/packages/console-telemetry-plugin/src/listeners/usage.ts
  frontend/public/components/app.jsx
  pkg/auth/auth.go
  pkg/auth/metrics.go
  pkg/auth/metrics_test.go
  pkg/devfile/handler.go
  pkg/helm/.gitignore
  pkg/metrics/handler.go
  pkg/metrics/helpers.go
  pkg/server/server.go
  pkg/serverconfig/metrics.go
  pkg/serverconfig/metrics_test.go
  pkg/usage/handler.go
  pkg/usage/metrics.go
  pkg/usage/metrics_test.go
  pkg/usersettings/handlers.go
Labels: approved, lgtm, component/core, component/backend, docs-approved, qe-approved, px-approved, jira/valid-reference

#12618 OCPBUGS-7632: fix issue where project deletion fails
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-uninstall.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, jira/valid-bug, jira/valid-reference

#12591 OCPBUGS-7178: Add page title to Devconsole pages
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/user-preferences/UserPreferencePage.tsx
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlerts.tsx
  frontend/packages/dev-console/src/components/monitoring/events/MonitoringEvents.tsx
  frontend/packages/dev-console/src/components/project-access/ProjectAccessPage.tsx
  frontend/packages/dev-console/src/components/topology/TopologyPage.tsx
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/src/components/list-page/HelmReleaseList.tsx
  frontend/packages/helm-plugin/src/components/list-page/RepositoriesListPage.tsx
  frontend/packages/knative-plugin/src/components/eventing/brokers-list/BrokerListPage.tsx
  frontend/packages/knative-plugin/src/components/eventing/channels-list/ChannelListPage.tsx
  frontend/packages/knative-plugin/src/components/eventing/eventsource-list/EventSourceListPage.tsx
  frontend/packages/knative-plugin/src/components/eventing/subscription-list/SubscriptionListPage.tsx
  frontend/packages/knative-plugin/src/components/eventing/triggers-list/TriggerListPage.tsx
  frontend/packages/knative-plugin/src/components/revisions/RevisionsPage.tsx
  frontend/packages/knative-plugin/src/components/routes/RoutesPage.tsx
  frontend/packages/knative-plugin/src/components/services/ServicesPage.tsx
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipeline-resources/list-page/PipelineResourcesListPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunParametersForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunDetails.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunLogs.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/TaskRuns.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/events/PipelineRunEvents.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/events/__tests__/PipelineRunEvents.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelinesPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineDetails.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/list-page/PipelinesList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetrics.tsx
  frontend/packages/pipelines-plugin/src/components/repository/list-page/RepositoriesList.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/list-page/TaskRunsListPage.tsx
  frontend/packages/pipelines-plugin/src/components/tasks/list-page/ClusterTasksPage.tsx
  frontend/packages/pipelines-plugin/src/components/tasks/list-page/TasksListsPage.tsx
  frontend/packages/pipelines-plugin/src/components/tasks/list-page/TasksPage.tsx
  frontend/packages/pipelines-plugin/src/components/triggers-lists/ClusterTriggerBindingsPage.tsx
  frontend/packages/pipelines-plugin/src/components/triggers-lists/EventListnersPage.tsx
  frontend/packages/pipelines-plugin/src/components/triggers-lists/TriggerBindingsPage.tsx
  frontend/packages/pipelines-plugin/src/components/triggers-lists/TriggerTemplatesPage.tsx
  frontend/packages/pipelines-plugin/src/components/triggers-lists/TriggersPage.tsx
  frontend/packages/topology/src/components/page/TopologyPage.tsx
  frontend/public/components/build-config.tsx
  frontend/public/components/dashboard/project-dashboard/project-dashboard.tsx
  frontend/public/components/namespace.jsx
  frontend/public/components/overview/OverviewListPage.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, component/dashboard, component/knative, component/core, kind/i18n, component/helm, component/topology, component/pipelines, jira/valid-bug, jira/valid-reference

#12548 OCPBUGS-7446: Show type of sample on the samples view
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/src/components/catalog/providers/__tests__/useDevfileSamples.data.ts
  frontend/packages/dev-console/src/components/catalog/providers/useBuilderImageSamples.ts
  frontend/packages/dev-console/src/components/catalog/providers/useDevfileSamples.tsx
  frontend/packages/topology/integration-tests/support/step-definitions/common/topology.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/dev-console, component/topology, jira/valid-bug, jira/severity-informational, jira/valid-reference

#12538 Update dockerignore.
  .dockerignore
Labels: approved, lgtm, docs-approved, qe-approved, px-approved

#12621 OU-117: No response for duplicate query with default disabled status when click 'Hide all queries'
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#12438 CONSOLE-3425: Expose 'nameFilter' prop to 'ListPageFilter' component
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/public/components/factory/ListPage/ListPageFilter.tsx
Labels: approved, lgtm, component/core, component/sdk, docs-approved, qe-approved, px-approved, jira/valid-reference

#12360 CONSOLE-3393: Proxy managed cluster monitoring requests through MCE c…
  cmd/bridge/main.go
  contrib/multicluster-environment.sh
  go.mod
  pkg/server/kube_version.go
  pkg/server/server.go
Labels: approved, lgtm, component/backend, docs-approved, qe-approved, px-approved, jira/valid-reference

#12462 OCPBUGS-5826: update PollConsoleUpdates to only check new manifests
  frontend/packages/integration-tests-cypress/tests/app/demo-dynamic-plugin.spec.ts
  frontend/packages/integration-tests-cypress/tests/app/poll-console-updates.spec.ts
  frontend/public/components/app.jsx
Labels: approved, lgtm, tide/merge-method-squash, bugzilla/valid-bug, component/core, kind/cypress, jira/valid-bug, jira/valid-reference

#12429 OCPBUGS-7232: Fixes resource status alignment issue
  frontend/packages/gitops-plugin/src/components/details/GitOpsResourceRow.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsResourcesSection.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/gitops, jira/valid-bug, jira/valid-reference

#12558 OCPBUGS-10232: Fixes argocd link for non-KAM added application envs
  frontend/packages/gitops-plugin/src/components/details/ArgoCdLink.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetails.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/gitops, jira/valid-bug, jira/valid-reference

#12424 OCPBUGS-5360: re-enable operator-install-single-namespace.spec.ts test
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-single-namespace.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-uninstall.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/views/operator.view.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, jira/valid-bug, jira/severity-low

#12550 OCPBUGS-10230: Fixes card sizes not even issue when commit info is not available on Environments page
  frontend/packages/gitops-plugin/locales/en/gitops-plugin.json
  frontend/packages/gitops-plugin/src/components/GitOpsDetailsPage.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetails.scss
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetails.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsResourcesSection.scss
Labels: approved, lgtm, bugzilla/valid-bug, kind/i18n, component/gitops, jira/valid-bug, jira/valid-reference

#12626 OCPBUGS-7801: taskrun ui fails when using object type results
  frontend/packages/pipelines-plugin/src/utils/__tests__/render-utils.spec.tsx
  frontend/packages/pipelines-plugin/src/utils/render-utils.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/pipelines, jira/valid-bug, jira/severity-important, jira/valid-reference

#12638 OCPBUGS-8299: CronJobs table/details UI doesn't have Suspend indication
  frontend/public/components/cron-job.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/core, kind/i18n, jira/valid-bug, jira/valid-reference

#12634 OCPBUGS-10269: Fix grammatical error in feedback modal
  frontend/public/components/feedback-local.jsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/core, kind/i18n, jira/valid-bug, jira/valid-reference

#12654 OCPBUGS-10345: Fix backend runtime error
  pkg/server/server.go
Labels: approved, lgtm, bugzilla/valid-bug, component/backend, jira/severity-critical, jira/valid-bug, jira/valid-reference

#12647 OCPBUGS-7632: comment out suspected problematic test
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-uninstall.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, jira/valid-bug, jira/valid-reference

#12633 OCPBUGS-8268: OpenShift pipeline TaskRun(s) column Duration is not present as column in UI
  frontend/packages/pipelines-plugin/src/components/taskruns/list-page/TaskRunsHeader.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/list-page/TaskRunsRow.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/list-page/__tests__/TaskRunsRow.spec.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/list-page/taskruns-table.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/pipelines, jira/valid-bug, jira/valid-reference

#12588 OU-110: Observe > Dashboards : Code Consolidation Fixes
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/dashboards/table.tsx
Labels: approved, lgtm, component/monitoring, component/core, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#12632 OCPBUGS-9907: Fix alerts source display values
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12619 OCPBUGS-8086: Visual fixes for list items
  frontend/packages/operator-lifecycle-manager/src/components/install-plan.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
  frontend/public/components/namespace.jsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, component/olm, jira/valid-bug, jira/severity-low, jira/valid-reference

#12608 OCPBUGS-7620: Edit Deployment (and DC) form doesn't enable Save button when changing strategy type
  frontend/packages/dev-console/src/components/deployments/deployment-strategy/DeploymentStrategySection.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageStreamTagDropdown.tsx
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, component/dev-console, jira/valid-bug, jira/severity-low, jira/valid-reference

#12660 OCPBUGS-9956: update the default pipelineRun template name
  frontend/packages/pipelines-plugin/src/components/pac/const.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/pipelines, jira/valid-bug, jira/valid-reference

#12657 OCPBUGS-10509: Sync Debug in Terminal feature availability with 3.x pods in web console
  frontend/public/components/utils/resource-log.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, jira/valid-bug, jira/valid-reference

#12667 OCPBUGS-10655: Do not show builder ImageStreams without `sampleRepo` as samples
  frontend/packages/dev-console/src/components/catalog/providers/useBuilderImageSamples.ts
  frontend/packages/dev-console/src/components/catalog/providers/useBuilderImages.tsx
  frontend/packages/dev-console/src/components/catalog/providers/useDevfile.tsx
  frontend/packages/helm-plugin/src/catalog/utils/catalog-utils.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/dev-console/use-catalog-vm-templates.tsx
  frontend/packages/operator-lifecycle-manager/src/utils/useClusterServiceVersions.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, component/kubevirt, component/olm, component/helm, jira/valid-bug, jira/severity-low, jira/valid-reference

#12661 OCPBUGS-10562: re-enable and fix operator-uninstall.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-uninstall.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, jira/valid-bug, jira/valid-reference

#12664 PF Update 2023-2
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/yarn.lock
  frontend/package.json
  frontend/yarn.lock
Labels: approved, lgtm, docs-approved, qe-approved, px-approved

#12677 OCPBUGS-10562: disable operator-uninstall.spec.ts as the previous fix…
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-uninstall.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, jira/valid-bug, jira/valid-reference

#12680 OCPBUGS-10619: Enable modal scroll for uninstall operator instances
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/style.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, jira/valid-bug, jira/valid-reference

#12662 ODC-7276: Add cancelled status color in Pipeline metrics page
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineSuccessRatioDonut.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/charts/successRatioDonut.tsx
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/pipelines, jira/valid-reference

#12659 ODC-7271: add duration for PipelineRun and TaskRun on details page
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelineruns/__tests__/PipelineRunCustomDetails.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunCustomDetails.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/TaskRunDetailsStatus.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/__tests__/TaskRunDetailsStatus.spec.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/__tests__/taskrun-test-data.ts
  frontend/packages/pipelines-plugin/src/test-data/pipeline-data.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines, jira/valid-reference

#12682 OCPBUGS-10950: use PipelineRun template from 'pipelines-as-code-pipelinerun-go' configMap for Go runtime
  frontend/packages/pipelines-plugin/src/components/repository/consts.ts
  frontend/packages/pipelines-plugin/src/components/repository/repository-form-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/pipelines, jira/valid-bug, jira/severity-low, jira/valid-reference

#12676 OCPBUGS-10836: fix All projects selection on Pipelines page in dev perspective
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelineTabbedPage.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/pipelines, jira/valid-bug, jira/severity-moderate, jira/valid-reference
