Repository openshift/console, pull requests merged in 2023-06, with the labels that each got.

#12872 OCPBUGS-14352: E2e tests fails because OpenShift Pipelines operator could not be found
  test-cypress.sh
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#12866 OCPBUGS-14149: account for single object in status.conditions instead…
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
Labels: approved, lgtm, component/olm, jira/valid-bug, jira/severity-important, jira/valid-reference

#12673 OCPBUGS-10411: Edit deployment don't enable save button if image stream is added
  frontend/packages/dev-console/integration-tests/features/deployment/deployment-dev-perspective.feature
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/deployment/deployment-dev-perspective.ts
  frontend/packages/dev-console/src/components/deployments/utils/deployment-utils.ts
  frontend/packages/dev-console/src/components/import/image-search/ImageStreamDropdown.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, jira/valid-bug, jira/severity-low, jira/valid-reference

#12863 OCPBUGS-14262: Fix Pipeline metrics page
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/charts/TimeSeriesChart.tsx
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/severity-important, jira/valid-reference

#12869 OCPBUGS-14424: OVN Kubernetes multi-homing
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionsForm.tsx
  frontend/packages/network-attachment-definition-plugin/src/constants/index.ts
  frontend/packages/network-attachment-definition-plugin/src/types/types.ts
Labels: approved, lgtm, component/network-attachment-definition, jira/valid-bug, jira/valid-reference

#12855 ODC-7320: Gherkin for customisation of add page and developer catalog through customisation form view
  frontend/packages/dev-console/integration-tests/features/customization/customization-of-catalog-addPage-form-view.feature
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, jira/valid-reference

#12838 CONSOLE-3392: Implement exact search for more precise result sets and add user prefs setting
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/user-preferences/search/index.ts
  frontend/packages/console-app/src/components/user-preferences/search/useExactSearch.ts
  frontend/public/components/api-explorer.tsx
  frontend/public/components/factory/ListPage/filter-hook.ts
  frontend/public/components/factory/table-data-hook.ts
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/machine.tsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/targets.tsx
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#12862 OCPBUGS-14258: Add vSphere cluster field.
  frontend/packages/vsphere-plugin/__tests__/utils.spec.ts
  frontend/packages/vsphere-plugin/locales/en/vsphere-plugin.json
  frontend/packages/vsphere-plugin/src/components/ConnectionFormContext.tsx
  frontend/packages/vsphere-plugin/src/components/InProgress.tsx
  frontend/packages/vsphere-plugin/src/components/VSphereConnectionForm.tsx
  frontend/packages/vsphere-plugin/src/components/VSphereConnectionModal.tsx
  frontend/packages/vsphere-plugin/src/components/persist.ts
  frontend/packages/vsphere-plugin/src/components/types.ts
  frontend/packages/vsphere-plugin/src/constants.ts
  frontend/packages/vsphere-plugin/src/hooks/use-connection-form.ts
  frontend/packages/vsphere-plugin/src/hooks/use-connection-models.ts
  frontend/packages/vsphere-plugin/src/resources/infrastructure.ts
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#12877 OCPBUGS-14550: Use proxy with web socket connection and monitoring d…
  cmd/bridge/main.go
  pkg/proxy/proxy.go
Labels: approved, lgtm, component/backend, jira/valid-bug, jira/valid-reference

#12880 OCPBUGS-14602: selected project was not taking effect when searching …
  frontend/packages/operator-lifecycle-manager/src/components/install-plan.tsx
Labels: approved, lgtm, ok-to-test, component/olm, jira/valid-bug, jira/valid-reference

#12818 OCPBUGS-8274: Do not request token URL if auth is disabled
  frontend/__tests__/components/command-line-tools.spec.tsx
  frontend/packages/console-shared/src/hoc/withRequestTokenURL.tsx
  frontend/packages/console-shared/src/hooks/useRequestTokenURL.ts
  frontend/public/components/masthead-toolbar.jsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/core, jira/valid-bug, jira/severity-low, jira/valid-reference

#12861 CONSOLE-3660: Introduce react-router v6 compatibility
  frontend/package.json
  frontend/packages/console-app/src/components/detect-cluster/cluster.ts
  frontend/packages/console-dynamic-plugin-sdk/docs/console-extensions.md
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules-init.ts
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules.ts
  frontend/packages/console-dynamic-plugin-sdk/src/types.ts
  frontend/packages/console-shared/src/types/index.ts
  frontend/packages/console-shared/src/types/route-params.ts
  frontend/packages/helm-plugin/src/components/details-page/resources/__tests__/HelmReleaseResourcesRow.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/RevisionsOverviewList.spec.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/modal-resource-launcher.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/install-plan.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/k8s-resource.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-install-page.tsx
  frontend/public/components/app.jsx
  frontend/public/components/factory/modal.tsx
  frontend/public/components/monitoring/targets.tsx
  frontend/public/components/utils/horizontal-nav.tsx
  frontend/public/components/utils/router.ts
  frontend/yarn.lock
Labels: approved, lgtm, component/shared, component/kubevirt, component/knative, component/monitoring, component/core, component/sdk, component/olm, docs-approved, qe-approved, px-approved, component/helm, jira/valid-reference

#12729 ODC-7277: added v1 support for Pipeline
  frontend/packages/pipelines-plugin/console-extensions.json
  frontend/packages/pipelines-plugin/integration-tests/features/e2e/pipeline-ci.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-actions.feature
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineDetails-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-actions.ts
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipeline-resources/list-page/PipelineResourcesHeader.tsx
  frontend/packages/pipelines-plugin/src/components/pipeline-resources/list-page/PipelineResourcesList.tsx
  frontend/packages/pipelines-plugin/src/components/pipeline-resources/list-page/PipelineResourcesListPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipeline-resources/list-page/PipelineResourcesRow.tsx
  frontend/packages/pipelines-plugin/src/components/pipeline-resources/list-page/pipeline-resources-table.ts
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunDetails.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines-lists/PipelinesListsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelineDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/__tests__/pipelineDetailsPage.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/__tests__/utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/types.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderFormEditor.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineWorkspaceSuggestionIcon.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineWorkspaceSuggestionIcon.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/utils.ts
  frontend/packages/pipelines-plugin/src/components/taskruns/TaskRunDetails.tsx
  frontend/packages/pipelines-plugin/src/models/pipelines.ts
  frontend/packages/pipelines-plugin/src/types/pipelineRun.ts
  frontend/packages/pipelines-plugin/src/types/taskRun.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines, jira/valid-reference

#12809 ODC-7306: Show the latest Build status in the Build list view
  frontend/packages/shipwright-plugin/integration-tests/features/e2e/shipwright-ci.feature
  frontend/packages/shipwright-plugin/integration-tests/features/shipwright-build-in-topology.feature
  frontend/packages/shipwright-plugin/integration-tests/features/shipwright-table.feature
  frontend/packages/shipwright-plugin/integration-tests/support/step-definitions/builds/shipwright-table.ts
  frontend/packages/shipwright-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/shipwright-plugin/locales/en/shipwright-plugin.json
  frontend/packages/shipwright-plugin/src/components/build-list/BuildTable.tsx
  frontend/packages/shipwright-plugin/src/utils.ts
  frontend/public/components/build-config.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#12902 OCPBUGS-14964: Disable broken monitoring-tests
  frontend/integration-tests/tests/alertmanager.scenario.ts
  frontend/integration-tests/tests/monitoring.scenario.ts
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#12780 [release-4.13] OCPBUGS-12785: Project admin can update and view subscription from operator details page
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-group.tsx
  frontend/packages/operator-lifecycle-manager/src/const.ts
  frontend/packages/operator-lifecycle-manager/src/status/csv-status.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/olm, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#12755 ODC-7275: Implement invoke serverless functions
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-shared/src/components/editor/CodeEditor.tsx
  frontend/packages/console-shared/src/components/formik-fields/CodeEditorField.tsx
  frontend/packages/console-shared/src/components/formik-fields/field-types.ts
  frontend/packages/knative-plugin/integration-tests/features/serverless/serverless-function.feature
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/test-serverless-function.ts
  frontend/packages/knative-plugin/integration-tests/testData/test-serverless-fn/request-body-cloudevent.json
  frontend/packages/knative-plugin/integration-tests/testData/test-serverless-fn/request-body-http.json
  frontend/packages/knative-plugin/integration-tests/testData/test-serverless-fn/response-body-cloudevent.json
  frontend/packages/knative-plugin/integration-tests/testData/test-serverless-fn/response-body-http.json
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/actions/providers.ts
  frontend/packages/knative-plugin/src/components/test-function/RequestPane.tsx
  frontend/packages/knative-plugin/src/components/test-function/ResponsePane.tsx
  frontend/packages/knative-plugin/src/components/test-function/TestFunction.tsx
  frontend/packages/knative-plugin/src/components/test-function/TestFunctionController.tsx
  frontend/packages/knative-plugin/src/components/test-function/TestFunctionModal.scss
  frontend/packages/knative-plugin/src/components/test-function/TestFunctionModal.tsx
  frontend/packages/knative-plugin/src/components/test-function/modal-components/ModalBodyWrapper.tsx
  frontend/packages/knative-plugin/src/components/test-function/modal-components/ModalCompact.tsx
  frontend/packages/knative-plugin/src/components/test-function/modal-components/RequestBody.tsx
  frontend/packages/knative-plugin/src/components/test-function/modal-components/RequestOptions.tsx
  frontend/packages/knative-plugin/src/components/test-function/modal-components/RequestPane.tsx
  frontend/packages/knative-plugin/src/components/test-function/modal-components/ResponseBody.tsx
  frontend/packages/knative-plugin/src/components/test-function/modal-components/ResponseInfo.tsx
  frontend/packages/knative-plugin/src/components/test-function/modal-components/ResponsePane.tsx
  frontend/packages/knative-plugin/src/components/test-function/types.ts
  frontend/packages/knative-plugin/src/components/test-function/utils.ts
  frontend/packages/knative-plugin/src/const.ts
  frontend/public/components/factory/modal.tsx
Labels: approved, lgtm, component/shared, component/dev-console, component/knative, component/core, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n, component/topology, jira/valid-reference

#12788 OCPBUGS-9063: Remove frontend validation from legacy operand form gen…
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/operand/DEPRECATED_operand-form.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, kind/i18n, jira/valid-bug, jira/severity-low, jira/valid-reference

#12841 OU-138: Move QueryBrowser component to dynamic SDK
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-shared/src/components/query-browser/QueryBrowser.tsx
  frontend/packages/console-shared/src/components/query-browser/index.ts
  frontend/packages/console-shared/src/components/query-browser/theme.ts
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringDashboardGraph.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/__tests__/MonitoringDashboardGraph.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/metrics/MetricsChart.tsx
  frontend/packages/dev-console/src/components/monitoring/metrics/MetricsQueryInput.tsx
  frontend/packages/dev-console/src/components/monitoring/metrics/types.ts
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/dashboards/graph.tsx
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/components/utils/resource-metrics.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/shared, component/dev-console, component/monitoring, component/core, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#12642 OCPBUGS-4496: Fix Samples/Snippets tab
  frontend/packages/dev-console/src/components/deployments/DeploymentForm.tsx
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, component/dev-console, jira/valid-bug, jira/severity-low, jira/valid-reference

#12652 OCPBUGS-9214: Create button is disabled in Git Import form when git repo url has hyphens in owner part of the url
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/utils/__tests__/yup-validations.spec.ts
  frontend/packages/console-shared/src/utils/yup-validations.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/hpa/validation-utils.ts
  frontend/packages/dev-console/src/components/import/__tests__/deployImage-validation-utils.spec.ts
  frontend/packages/dev-console/src/components/import/__tests__/import-validation-utils.spec.ts
  frontend/packages/dev-console/src/components/import/deployImage-submit-utils.ts
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/components/import/import-validation-utils.ts
  frontend/packages/dev-console/src/utils/shared-submit-utils.ts
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/src/components/forms/HelmChartRepository/helmchartrepository-validation-utils.ts
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/__tests__/switch-to-form-validation-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/__tests__/validation-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/repository/repository-form-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/dev-console, kind/i18n, component/helm, component/pipelines, jira/valid-bug, jira/valid-reference

#12819 OCPBUGS-8682: Fix empty create dropdown on provided APIs page
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, jira/valid-bug, jira/severity-low, jira/valid-reference

#12853 OCPBUGS-12897: Knative Route Details Page should show the URL of the route as it is shown in the Openshift Routes Details page
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/components/routes/RouteDetailsPage.tsx
  frontend/public/module/k8s/types.ts
Labels: approved, lgtm, component/knative, component/core, kind/i18n, jira/valid-bug, jira/severity-low, jira/valid-reference

#12867 OCPBUGS-13208: Fix PVC metrics query
  frontend/public/components/persistent-volume-claim.jsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#12889 OCPBUGS-14716: add ROSA branding option
  cmd/bridge/main.go
  frontend/public/components/masthead.jsx
  frontend/public/imgs/openshift-service-on-aws-logo.svg
  frontend/public/index.html
  frontend/public/module/k8s/cluster-settings.ts
Labels: approved, lgtm, component/core, component/backend, jira/valid-bug, jira/valid-reference

#12891 OCPBUGS-14660: Helm Repository "Edit" button results in 404
  frontend/packages/helm-plugin/src/actions/creators.ts
Labels: approved, lgtm, component/helm, jira/valid-bug, jira/severity-low, jira/valid-reference

#12894 OCPBUGS-14002: Correct the alignment of yaml toolbar links
  frontend/packages/console-shared/src/components/editor/CodeEditorToolbar.scss
  frontend/packages/console-shared/src/components/editor/CodeEditorToolbar.tsx
  frontend/public/components/utils/resource-log.tsx
  frontend/public/style/_common.scss
Labels: approved, lgtm, component/shared, component/core, jira/valid-bug, jira/valid-reference

#12895 OCPBUGS-14890: Missing 'View details' link for several servicemonitors.spec.endpoints fields in YAML sidebar
  frontend/public/components/sidebars/explore-type-sidebar.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#12896 OCPBUGS-14836: Updated BuildConfig and Shipwright Build lists shows runs from another namespace
  frontend/packages/shipwright-plugin/src/components/build-list/BuildTable.tsx
  frontend/public/components/build-config.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12898 ODC-7326: Align Build, BuildRun and PipelineRun details page
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelineruns/__tests__/PipelineRunCustomDetails.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunCustomDetails.tsx
  frontend/public/components/build.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines, jira/valid-reference

#12888 OCPBUGS-14419: Remove tech preview badge from Pipeline repository pages
  frontend/packages/pipelines-plugin/src/components/repository/list-page/RepositoriesList.tsx
  frontend/packages/pipelines-plugin/src/models/pipelines.ts
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/severity-low, jira/valid-reference

#12846 ODC-7316: Add discoverability of the IDE extensions from Create Serverless form
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/serverless-function/AddServerlessFunctionForm.scss
  frontend/packages/dev-console/src/components/import/serverless-function/AddServerlessFunctionForm.tsx
  frontend/packages/knative-plugin/integration-tests/features/serverless/serverless-function.feature
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/serverless-function.ts
  frontend/public/imgs/logos/intellij.png
  frontend/public/imgs/logos/vscode.png
Labels: approved, lgtm, component/dev-console, component/knative, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#12835 [release-4.11] OCPBUGS-13214: the name of the object (imagestream-name) does not match the name on the URL (deployment_name)
  frontend/packages/dev-console/src/components/edit-deployment/utils/edit-deployment-types.ts
  frontend/packages/dev-console/src/components/edit-deployment/utils/edit-deployment-utils.ts
Labels: approved, lgtm, cherry-pick-approved, component/dev-console, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#12893 OCPBUGS-14915: Remove entries from the menu that are now added by `monitoring-plugin`
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/locales/en/console-app.json
  frontend/public/components/app-contents.tsx
Labels: approved, lgtm, component/core, kind/i18n, jira/valid-bug, jira/valid-reference

#12911 OCPBUGS-14354: e2e: Enable Pipeline tests
  frontend/packages/dev-console/integration-tests/support/pages/functions/installOperatorOnCluster.ts
  test-cypress.sh
Labels: approved, lgtm, component/dev-console, jira/valid-bug, jira/valid-reference

#12845 [release-4.11] OCPBUGS-14004: use PipelineRun template from 'pipelines-as-code-pipelinerun-go' configMap for Go runtime
  frontend/packages/pipelines-plugin/src/components/repository/consts.ts
  frontend/packages/pipelines-plugin/src/components/repository/repository-form-utils.ts
Labels: approved, lgtm, cherry-pick-approved, qe-approved, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/severity-low, jira/valid-reference

#12695 chore(i18n): update translations: Completed-7034-OCP 4.13/Master Branch UI Localization- Sprint 231
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/helm-plugin/locales/ja/helm-plugin.json
  frontend/packages/helm-plugin/locales/ko/helm-plugin.json
  frontend/packages/helm-plugin/locales/zh/helm-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/operator-lifecycle-manager/locales/ko/olm.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ko/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/packages/topology/locales/ja/topology.json
  frontend/packages/topology/locales/ko/topology.json
  frontend/packages/topology/locales/zh/topology.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, component/dev-console, component/core, component/olm, docs-approved, qe-approved, px-approved, kind/i18n, component/helm, component/topology, component/pipelines

#12743 CONSOLE-3372, OCPBUGS-13648, OCPBUGS-13833: Console supports installing non-latest Operator versions
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/views/operator.view.ts
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/mocks.ts
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-channel-version-select.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-item-details.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-page.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-install-page.tsx
  frontend/packages/operator-lifecycle-manager/src/types.ts
Labels: approved, lgtm, component/olm, docs-approved, qe-approved, px-approved, kind/i18n, jira/severity-critical, jira/valid-bug, jira/valid-reference

#12914 OCPBUGS-14015: Create helm release page doesn't show a YAML editor when schema isn't available (httpd-imagestreams chart)
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-installation-view.feature
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-installation-view.ts
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradeForm.tsx
Labels: approved, lgtm, kind/i18n, component/helm, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12892 OCPBUGS-14909: Disabling web-terminal tests in CI
  test-cypress.sh
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#12908 OCPBUGS-15135: Make knative routes copyable similar to openshift routes
  frontend/packages/knative-plugin/src/components/overview/KSRoutesOverviewListItem.tsx
  frontend/packages/knative-plugin/src/components/overview/RoutesUrlLink.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/KSRoutesOverviewListItem.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/domain-mapping/DomainMappingOverviewList.tsx
  frontend/packages/knative-plugin/src/components/routes/RouteDetailsPage.tsx
  frontend/packages/knative-plugin/src/components/routes/RouteRow.tsx
  frontend/packages/knative-plugin/src/components/routes/__tests__/RouteRow.spec.tsx
Labels: approved, lgtm, component/knative, component/core, kind/i18n, jira/valid-bug, jira/valid-reference

#12918 OCPBUGS-11464: Availability requirement update is initially disabled …
  frontend/packages/console-app/src/components/pdb/PDBForm.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#12912 MGMT-15023: Add help text to vCenter cluster field
  frontend/packages/vsphere-plugin/locales/en/vsphere-plugin.json
  frontend/packages/vsphere-plugin/src/components/VSphereConnectionForm.tsx
Labels: approved, lgtm, jira/valid-reference

#12905 ODC-7322: Implement a proxy to hit the Artifacthub.io API end point
  pkg/devconsole/proxy/proxy.go
  pkg/devconsole/proxy/proxy_test.go
  pkg/devconsole/proxy/types.go
  pkg/server/server.go
Labels: approved, lgtm, component/backend, docs-approved, qe-approved, px-approved, jira/valid-reference

#12777 CONSOLE-3612: User is warned when cluster is in STS mode
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/mocks.ts
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/index.ts
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-item-details.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-page.tsx
  frontend/public/models/index.ts
  frontend/public/module/k8s/types.ts
Labels: approved, lgtm, component/core, component/olm, docs-approved, px-approved, kind/i18n, jira/valid-reference

#12913 ODC-7329: Subsequent PipelineRuns take initial PipelineRun name into account
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/utils.ts
Labels: approved, lgtm, docs-approved, px-approved, component/pipelines, jira/valid-reference

#12923 OCPBUGS-13120: Serverless functions UI warning is misleading
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/serverless-function/AddServerlessFunctionForm.tsx
Labels: approved, lgtm, component/dev-console, kind/i18n, jira/valid-bug, jira/valid-reference

#12926 OCPBUGS-15299: Create Serverless Function Form is Broken
  frontend/packages/dev-console/src/components/import/serverless-function/AddServerlessFunction.tsx
  frontend/packages/knative-plugin/integration-tests/features/e2e/knative-ci.feature
Labels: approved, lgtm, component/dev-console, component/knative, jira/valid-bug, jira/severity-important, jira/valid-reference

#12782 CONSOLE-3616: Revert multicluster server flags
  cmd/bridge/main.go
  frontend/@types/console/index.d.ts
  frontend/packages/console-app/src/components/nav/ClusterMenu.tsx
  frontend/packages/console-app/src/utils/__tests__/isMultiClusterEnabled.spec.ts
  frontend/packages/console-app/src/utils/isMultiClusterEnabled.ts
  frontend/packages/integration-tests-cypress/tests/app/multi-cluster.spec.ts
  frontend/packages/knative-plugin/src/utils/__tests__/fetch-dynamic-eventsources-utils.spec.ts
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/utils/useClusterServiceVersion.tsx
  frontend/packages/operator-lifecycle-manager/src/utils/useClusterServiceVersionPath.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/__tests__/CloudShellTab.spec.tsx
  pkg/server/server.go
  pkg/serverconfig/types.go
Labels: approved, lgtm, component/knative, component/core, component/backend, component/olm, docs-approved, qe-approved, px-approved, kind/cypress, jira/valid-reference

#12609 OCPBUGS-7794: Image pull secret creation form doesn't re-enable Create button once it is disabled
  frontend/public/components/secrets/create-secret.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, jira/valid-bug, jira/valid-reference

#12921 OCPBUGS-15060: "Duplicate RoleBinding" leads to "Unsupported value" error
  frontend/public/components/RBAC/bindings.jsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12928 OCPBUGS-497: frontend: fix kube-apiserver availability query
  frontend/packages/console-app/src/queries.ts
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#12949 [release-4.13] OCPBUGS-15465, OCPBUGS-15481: Remove PipelineResource CRD check because it's not installed with PO 1.11 anymore and disable operator-uninstall test
  frontend/packages/dev-console/integration-tests/support/pages/functions/installOperatorOnCluster.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-uninstall.spec.ts
Labels: approved, lgtm, cherry-pick-approved, component/dev-console, component/olm, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#12948 [release-4.12] OCPBUGS-15482: Remove PipelineResource CRD check because it's not installed with PO 1.11 anymore
  frontend/packages/dev-console/integration-tests/support/pages/functions/installOperatorOnCluster.ts
Labels: approved, lgtm, cherry-pick-approved, component/dev-console, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#12884 ODC-7337: Skip wait for authentication operator to start progressing when the secret already exists
  test-prow-e2e.sh
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, jira/valid-reference

#12844 [release-4.13] OCPBUGS-11974: Add page title to Devconsole pages
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/user-preferences/UserPreferencePage.tsx
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlerts.tsx
  frontend/packages/dev-console/src/components/monitoring/events/MonitoringEvents.tsx
  frontend/packages/dev-console/src/components/project-access/ProjectAccessPage.tsx
  frontend/packages/dev-console/src/components/topology/TopologyPage.tsx
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/src/components/list-page/HelmReleaseList.tsx
  frontend/packages/helm-plugin/src/components/list-page/RepositoriesListPage.tsx
  frontend/packages/knative-plugin/src/components/eventing/brokers-list/BrokerListPage.tsx
  frontend/packages/knative-plugin/src/components/eventing/channels-list/ChannelListPage.tsx
  frontend/packages/knative-plugin/src/components/eventing/eventsource-list/EventSourceListPage.tsx
  frontend/packages/knative-plugin/src/components/eventing/subscription-list/SubscriptionListPage.tsx
  frontend/packages/knative-plugin/src/components/eventing/triggers-list/TriggerListPage.tsx
  frontend/packages/knative-plugin/src/components/revisions/RevisionsPage.tsx
  frontend/packages/knative-plugin/src/components/routes/RoutesPage.tsx
  frontend/packages/knative-plugin/src/components/services/ServicesPage.tsx
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipeline-resources/list-page/PipelineResourcesListPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunParametersForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunDetails.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunLogs.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/TaskRuns.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/events/PipelineRunEvents.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/events/__tests__/PipelineRunEvents.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelinesPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineDetails.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/list-page/PipelinesList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetrics.tsx
  frontend/packages/pipelines-plugin/src/components/repository/list-page/RepositoriesList.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/list-page/TaskRunsListPage.tsx
  frontend/packages/pipelines-plugin/src/components/tasks/list-page/ClusterTasksPage.tsx
  frontend/packages/pipelines-plugin/src/components/tasks/list-page/TasksListsPage.tsx
  frontend/packages/pipelines-plugin/src/components/tasks/list-page/TasksPage.tsx
  frontend/packages/pipelines-plugin/src/components/triggers-lists/ClusterTriggerBindingsPage.tsx
  frontend/packages/pipelines-plugin/src/components/triggers-lists/EventListnersPage.tsx
  frontend/packages/pipelines-plugin/src/components/triggers-lists/TriggerBindingsPage.tsx
  frontend/packages/pipelines-plugin/src/components/triggers-lists/TriggerTemplatesPage.tsx
  frontend/packages/pipelines-plugin/src/components/triggers-lists/TriggersPage.tsx
  frontend/packages/topology/src/components/page/TopologyPage.tsx
  frontend/public/components/build-config.tsx
  frontend/public/components/dashboard/project-dashboard/project-dashboard.tsx
  frontend/public/components/namespace.jsx
  frontend/public/components/overview/OverviewListPage.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, cherry-pick-approved, component/dev-console, component/dashboard, component/knative, component/core, qe-approved, kind/i18n, component/helm, component/topology, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#12927 [release-4.13] OCPBUGS-15335: Delete annotation 'tekton.dev/v1beta1TaskRuns' when rerun the PLR
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/utils.ts
Labels: approved, lgtm, cherry-pick-approved, qe-approved, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#12943 OU-198: Revert "Disable broken monitoring-tests"
  frontend/integration-tests/tests/alertmanager.scenario.ts
  frontend/integration-tests/tests/monitoring.scenario.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, jira/valid-reference

#12929 OCPBUGS-14874,OCPBUGS-14875,OCPBUGS-14665: Helm Chart installation form hangs on create if JSON-schema is using 2019-09 or 2020-20 standard revisions
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/dynamic-form/index.tsx
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradePage.tsx
Labels: approved, lgtm, component/shared, kind/i18n, component/helm, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12939 OCPBUGS-14959: Error for DuplicateClusterRoleBinding and Edit ClusterRoleBinding subject in RHOCP4 Web Console
  frontend/public/components/RBAC/bindings.jsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-important, jira/valid-reference

#12931 [release 4.13] OCPBUGS-15360: Serverless functions UI warning is misleading
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/serverless-function/AddServerlessFunctionForm.tsx
Labels: approved, lgtm, cherry-pick-approved, component/dev-console, kind/i18n, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#12937 [release-4.13] OCPBUGS-15228: Create helm release page doesn't show a YAML editor when schema isn't available (httpd-imagestreams chart)
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-installation-view.feature
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-installation-view.ts
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradeForm.tsx
Labels: approved, lgtm, cherry-pick-approved, qe-approved, kind/i18n, component/helm, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference
