Repository openshift/console, pull requests merged in 2023-11, with the labels that each got.

#13284 CONSOLE-3806: Remove Protractor
  .gitignore
  README.md
  bill-of-materials.json
  contrib/create-user.sh
  e2e.yaml
  frontend/.eslintignore
  frontend/@types/protractor/protractor.d.ts
  frontend/integration-tests/.eslintrc
  frontend/integration-tests/data/patch-htpasswd.yaml
  frontend/integration-tests/package.json
  frontend/integration-tests/protractor.conf.ts
  frontend/integration-tests/tsconfig.json
  frontend/integration-tests/views/catalog-page.view.ts
  frontend/integration-tests/views/catalog.view.ts
  frontend/integration-tests/views/crud.view.ts
  frontend/integration-tests/views/dashboard.view.ts
  frontend/integration-tests/views/environment.view.ts
  frontend/integration-tests/views/form.view.ts
  frontend/integration-tests/views/horizontal-nav.view.ts
  frontend/integration-tests/views/login.view.ts
  frontend/integration-tests/views/namespace.view.ts
  frontend/integration-tests/views/overview.view.ts
  frontend/integration-tests/views/search.view.ts
  frontend/integration-tests/views/secrets.view.ts
  frontend/integration-tests/views/sidenav.view.ts
  frontend/integration-tests/views/storage.view.ts
  frontend/integration-tests/views/yaml.view.ts
  frontend/package.json
  frontend/packages/console-shared/src/test-data/htpasswd-secret.yaml
  frontend/packages/console-shared/src/test-data/patch-htpasswd.yaml
  frontend/packages/dev-console/integration-tests/.github/PULL_REQUEST_TEMPLATE/qe-automation-pr.md
  frontend/packages/dev-console/integration-tests/cypress.config.js
  frontend/packages/dev-console/integration-tests/plugins/index.js
  frontend/packages/dev-console/integration-tests/support/commands/hooks.ts
  frontend/packages/gitops-plugin/integration-tests/cypress.config.js
  frontend/packages/helm-plugin/integration-tests/cypress.config.js
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-release.ts
  frontend/packages/integration-tests-cypress/README.md
  frontend/packages/knative-plugin/integration-tests/README.md
  frontend/packages/knative-plugin/integration-tests/cypress.config.js
  frontend/packages/knative-plugin/integration-tests/support/commands/hooks.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/sysprep/SysprepFileField.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/README.md
  frontend/packages/pipelines-plugin/integration-tests/cypress.config.js
  frontend/packages/shipwright-plugin/integration-tests/cypress.config.js
  frontend/packages/topology/integration-tests/cypress.config.js
  frontend/packages/webterminal-plugin/integration-tests/cypress.config.js
  frontend/yarn.lock
  test-protractor.sh
  test-prow-e2e.sh
Labels: approved, lgtm, tide/merge-method-squash, component/shared, component/dev-console, component/kubevirt, component/knative, component/monitoring, component/core, component/sdk, component/olm, component/network-attachment-definition, component/lso, docs-approved, qe-approved, px-approved, component/helm, component/topology, component/gitops, component/pipelines, kind/cypress, jira/valid-reference

#13272 OCPBUGS-19875: Fix plugin proxy handler
  pkg/plugins/handlers.go
Labels: approved, lgtm, component/backend, qe-approved, jira/valid-bug, jira/valid-reference

#13293 CNV-30298: Add UI for OVN Secondary Localnet Network
  frontend/packages/network-attachment-definition-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinition.scss
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionsForm.tsx
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkTypeOptions.tsx
  frontend/packages/network-attachment-definition-plugin/src/constants/index.ts
  frontend/packages/network-attachment-definition-plugin/src/types/types.ts
Labels: approved, lgtm, component/network-attachment-definition, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#13300 CONSOLE-3819: change Cypress' default browser to Electron
  README.md
  frontend/package.json
  frontend/packages/dev-console/integration-tests/package.json
  frontend/packages/gitops-plugin/integration-tests/package.json
  frontend/packages/helm-plugin/integration-tests/package.json
  frontend/packages/knative-plugin/integration-tests/package.json
  frontend/packages/pipelines-plugin/integration-tests/package.json
  frontend/packages/shipwright-plugin/integration-tests/package.json
  frontend/packages/topology/integration-tests/package.json
  frontend/packages/webterminal-plugin/integration-tests/package.json
Labels: approved, lgtm, component/dev-console, component/knative, docs-approved, qe-approved, px-approved, component/helm, component/topology, component/gitops, component/pipelines, jira/valid-reference

#13301 CONSOLE-3781: remove cypress.config comments
  frontend/packages/integration-tests-cypress/cypress.config.js
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/cypress.config.js
Labels: approved, lgtm, component/olm, docs-approved, qe-approved, px-approved, kind/cypress, jira/valid-reference

#13263 OCPBUGS-22749: Adjust NAD name by using unique-names-generator
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionsForm.tsx
Labels: approved, lgtm, component/network-attachment-definition, jira/valid-bug, jira/valid-reference

#13299 [release-4.13] OCPBUGS-22784: add support for new features annotations while preservi…
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/index.ts
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-page.tsx
Labels: approved, lgtm, cherry-pick-approved, component/olm, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#13306 OCPBUGS-22930: remove expandable toggle for conditional update risk d…
  frontend/public/components/modals/cluster-update-modal.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13244 CONSOLE-3614: Remove multicluster code from Bridge
  cmd/bridge/main.go
  contrib/multicluster-environment.sh
  pkg/auth/auth.go
  pkg/auth/auth_openshift.go
  pkg/auth/util.go
  pkg/helm/chartproxy/proxy.go
  pkg/helm/chartproxy/proxy_test.go
  pkg/server/kube_version.go
  pkg/server/middleware.go
  pkg/server/server.go
  pkg/serverconfig/config.go
  pkg/serverconfig/types.go
  pkg/serverconfig/validate.go
  pkg/serverutils/utils.go
  pkg/version/version.go
Labels: approved, lgtm, component/backend, docs-approved, qe-approved, px-approved, jira/valid-reference

#13309 CONSOLE-3740: Address memory issues in CI
  frontend/packages/dev-console/integration-tests/cypress.config.js
  frontend/packages/gitops-plugin/integration-tests/cypress.config.js
  frontend/packages/helm-plugin/integration-tests/cypress.config.js
  frontend/packages/integration-tests-cypress/cypress.config.js
  frontend/packages/knative-plugin/integration-tests/cypress.config.js
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/cypress.config.js
  frontend/packages/pipelines-plugin/integration-tests/cypress.config.js
  frontend/packages/shipwright-plugin/integration-tests/cypress.config.js
  frontend/packages/topology/integration-tests/cypress.config.js
  frontend/packages/webterminal-plugin/integration-tests/cypress.config.js
Labels: approved, lgtm, component/dev-console, component/knative, component/olm, docs-approved, qe-approved, px-approved, component/helm, component/topology, component/gitops, component/pipelines, kind/cypress, jira/valid-reference

#13318 OCPBUGS-23110: Disable Pipelines E2E Tests
  README.md
  test-cypress.sh
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference

#13287 CONSOLE-3814: Conditionally render "Users" and "Groups" nav items
  frontend/packages/console-app/console-extensions.json
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference

#13240 CONSOLE-3695: Add details item extension to console dynamic plugin SDK
  frontend/packages/console-app/src/components/console-operator/ConsoleOperatorConfig.tsx
  frontend/packages/console-dynamic-plugin-sdk/docs/console-extensions.md
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/details-item.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
  frontend/packages/console-shared/src/components/details-page/ExtensionDetailsItem.tsx
  frontend/packages/console-shared/src/hooks/useDetailsItemExtensionsForResource.ts
  frontend/packages/knative-plugin/src/components/overview/KnativeServingDetailsPage.tsx
  frontend/packages/knative-plugin/src/components/revisions/RevisionDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/ClusterTriggerBindingPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineConditionDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineResourceDetailsPage.tsx
  frontend/public/components/RBAC/role.jsx
  frontend/public/components/default-resource.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/shared, component/knative, component/core, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines, jira/valid-reference

#13295 OCPBUGS-20016: improve labels and annotations modal display and editi…
  frontend/packages/integration-tests-cypress/tests/crud/annotations.cy.ts
  frontend/packages/integration-tests-cypress/tests/crud/labels.cy.ts
  frontend/public/components/modals/labels-modal.tsx
  frontend/public/components/modals/tags.tsx
  frontend/public/components/utils/button-bar.jsx
  frontend/public/components/utils/selector-input.jsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, kind/i18n, kind/cypress, jira/valid-bug, jira/valid-reference

#13213 CONSOLE-3777: Update NodeJS v14 to v18
  .ci-operator.yaml
  Dockerfile.builder
  Dockerfile.dev
  Dockerfile.plugins.demo
  README.md
  builder-run.sh
  frontend/package.json
  frontend/packages/dev-console/integration-tests/cypress.config.js
  frontend/packages/gitops-plugin/integration-tests/cypress.config.js
  frontend/packages/helm-plugin/integration-tests/cypress.config.js
  frontend/packages/integration-tests-cypress/cypress.config.js
  frontend/packages/knative-plugin/integration-tests/cypress.config.js
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/cypress.config.js
  frontend/packages/pipelines-plugin/integration-tests/cypress.config.js
  frontend/packages/shipwright-plugin/integration-tests/cypress.config.js
  frontend/packages/topology/integration-tests/cypress.config.js
  frontend/packages/webterminal-plugin/integration-tests/cypress.config.js
  frontend/webpack.config.ts
  frontend/yarn.lock
Labels: approved, lgtm, component/dev-console, component/knative, component/olm, docs-approved, qe-approved, px-approved, component/helm, component/topology, component/gitops, component/pipelines, kind/cypress, jira/valid-reference

#13245 CONSOLE-3618: Remove frontend multicluster code
  frontend/packages/console-app/src/components/detect-cluster/DetectCluster.tsx
  frontend/packages/console-app/src/components/detect-cluster/cluster.ts
  frontend/packages/console-app/src/components/nav/ClusterMenu.tsx
  frontend/packages/console-app/src/utils/isMultiClusterEnabled.ts
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/utils/rbac.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/core/actions/core.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/core/reducers/core.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/core/reducers/coreSelectors.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/k8s/actions/k8s.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/redux-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/fetch/console-fetch-utils.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/fetch/console-fetch.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/__tests__/k8s-resource.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/__tests__/useK8sWatchResource.spec.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/__tests__/useK8sWatchResources.spec.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/k8s-watcher.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sWatchResource.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sWatchResources.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-resource.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-utils.ts
  frontend/packages/console-shared/src/constants/common.ts
  frontend/packages/console-shared/src/hooks/index.ts
  frontend/packages/console-shared/src/hooks/useActiveCluster.ts
  frontend/packages/console-shared/src/hooks/useRequestTokenURL.ts
  frontend/packages/console-shared/src/hooks/useUserSettings.ts
  frontend/packages/console-shared/src/utils/__tests__/user-settings.spec.ts
  frontend/packages/console-shared/src/utils/user-settings.ts
  frontend/packages/helm-plugin/src/providers/__tests__/helm-detection-provider.spec.ts
  frontend/packages/helm-plugin/src/providers/helm-detection-provider.ts
  frontend/packages/knative-plugin/src/utils/__tests__/fetch-dynamic-eventsources-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/fetch-dynamic-eventsources-utils.ts
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/CloudShellMastheadButton.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/CloudShellTab.tsx
  frontend/public/co-fetch.ts
  frontend/public/components/app.jsx
  frontend/public/components/factory/list-page.tsx
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/components/pod-exec.jsx
  frontend/public/components/utils/__tests__/firehose.data.tsx
  frontend/public/components/utils/__tests__/firehose.spec.tsx
  frontend/public/components/utils/firehose.jsx
  frontend/public/components/utils/k8s-get-hook.ts
  frontend/public/components/utils/resource-log.tsx
  frontend/public/locales/en/public.json
  frontend/public/module/auth.js
  frontend/public/module/k8s/resource.ts
  frontend/public/multicluster-logout.html
  frontend/webpack.config.ts
Labels: approved, lgtm, component/shared, component/knative, component/core, component/sdk, component/olm, docs-approved, qe-approved, px-approved, kind/i18n, component/helm, jira/valid-reference

#13314 ODC-7422: Add SBOM link and signed badge in PLR details page
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunCustomDetails.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/__tests__/PipelineRunCustomDetails.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/const.ts
  frontend/packages/pipelines-plugin/src/components/taskruns/__tests__/taskrun-test-data.ts
  frontend/packages/pipelines-plugin/src/images/signed-badge.svg
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-utils.spec.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-utils.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines, jira/valid-reference

#13289 ODC-7399: Create getting started content in functions list page
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/actions/add-resources.tsx
  frontend/packages/dev-console/src/actions/providers.tsx
  frontend/packages/dev-console/src/components/import/GitImportForm.tsx
  frontend/packages/dev-console/src/components/import/SamplesCatalog.tsx
  frontend/packages/dev-console/src/components/import/serverless-function/AddServerlessFunctionForm.scss
  frontend/packages/dev-console/src/components/import/serverless-function/AddServerlessFunctionForm.tsx
  frontend/packages/dev-console/src/components/import/serverless-function/ExtensionCard.tsx
  frontend/packages/dev-console/src/components/import/serverless-function/ExtensionCards.tsx
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/integration-tests/features/functions/functions-navigation.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/serverless-function.feature
  frontend/packages/knative-plugin/integration-tests/support/pageObjects/functions-po.ts
  frontend/packages/knative-plugin/integration-tests/support/pages/functions/functions-page.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/functions/functions-navigation.ts
  frontend/packages/knative-plugin/integration-tests/support/testData/serverless-functions-samples.yaml
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/package.json
  frontend/packages/knative-plugin/src/components/functions/CreateActionDropdown.tsx
  frontend/packages/knative-plugin/src/components/functions/FunctionRow.tsx
  frontend/packages/knative-plugin/src/components/functions/FunctionsDocsGettingStartedCard.tsx
  frontend/packages/knative-plugin/src/components/functions/FunctionsList.tsx
  frontend/packages/knative-plugin/src/components/functions/FunctionsPage.scss
  frontend/packages/knative-plugin/src/components/functions/FunctionsPage.tsx
  frontend/packages/knative-plugin/src/components/functions/GetConditionsForStatus.tsx
  frontend/packages/knative-plugin/src/components/functions/GettingStartedSection.scss
  frontend/packages/knative-plugin/src/components/functions/GettingStartedSection.tsx
  frontend/packages/knative-plugin/src/components/functions/QuickStartGettingStartedCard.tsx
  frontend/packages/knative-plugin/src/components/functions/SamplesGettingStartedCard.tsx
  frontend/packages/knative-plugin/src/components/services/ServiceDetailsPage.tsx
  frontend/packages/knative-plugin/src/components/services/ServiceHeader.tsx
  frontend/packages/knative-plugin/src/components/services/ServiceRow.tsx
  frontend/packages/knative-plugin/src/components/services/__tests__/ServiceRow.spec.tsx
  frontend/packages/knative-plugin/src/components/services/service-table.ts
  frontend/packages/knative-plugin/src/const.ts
  frontend/packages/knative-plugin/src/utils/icons.tsx
Labels: approved, lgtm, component/shared, component/dev-console, component/knative, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#13323 ODC-7423: move pipelinerun results to output tab
  frontend/packages/pipelines-plugin/console-extensions.json
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/package.json
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunDetails.tsx
  frontend/packages/pipelines-plugin/src/components/shared/results/OutputTab.tsx
  frontend/packages/pipelines-plugin/src/components/shared/results/index.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines, jira/valid-reference

#13261 CONSOLE-3823: Split auth config to its own module
  cmd/bridge/config/auth/authoptions.go
  cmd/bridge/main.go
  frontend/@types/console/index.d.ts
  pkg/bridge/validate.go
  pkg/flags/validate.go
  pkg/server/server.go
  pkg/serverconfig/config.go
  pkg/serverconfig/config_test.go
  pkg/serverconfig/validate.go
Labels: approved, lgtm, component/backend, docs-approved, qe-approved, px-approved, jira/valid-reference, acknowledge-critical-fixes-only

#13331 OCPBUGS-23292: Webpack-DevServer Hot-Reload Not Working
  frontend/webpack.config.ts
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, acknowledge-critical-fixes-only

#13325 ODC-7424: add e2e tests for SBOM section and output tab
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-runs.feature
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineRun-details-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelines-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-runs.ts
  frontend/packages/pipelines-plugin/integration-tests/testData/sbom-pipelinerun/pipelinerun-with-sbom-link.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/sbom-pipelinerun/sbom-task.yaml
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunCustomDetails.tsx
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/pipelines, jira/valid-reference, acknowledge-critical-fixes-only

#13329 ODC-7421: Show vulnerability column in the pipelinerun list page
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunCustomDetails.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/hooks/__tests__/usePipelineRunVulnerabilities.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelineruns/hooks/usePipelineRunVulnerabilities.ts
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunHeader.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunList.scss
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/pipelinerun-table.ts
  frontend/packages/pipelines-plugin/src/components/pipelineruns/status/PipelineRunVulnerabilities.scss
  frontend/packages/pipelines-plugin/src/components/pipelineruns/status/PipelineRunVulnerabilities.tsx
  frontend/packages/pipelines-plugin/src/test-data/pipeline-data.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-actions.tsx
  frontend/public/components/utils/resource-link.tsx
Labels: approved, lgtm, component/core, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines, jira/valid-reference, acknowledge-critical-fixes-only

#13310 [release-4.13] OCPBUGS-22986: Correct logout process
  frontend/public/module/auth.js
  pkg/auth/auth.go
  pkg/auth/auth_oidc.go
  pkg/auth/auth_openshift.go
  pkg/server/middleware.go
  pkg/server/server.go
Labels: approved, lgtm, cherry-pick-approved, component/core, component/backend, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#13341 OCPBUGS-23164: Cannot Edit Shipwright Build
  frontend/packages/shipwright-plugin/src/components/build-details/BuildDetailsPage.tsx
  frontend/packages/shipwright-plugin/src/components/buildrun-details/BuildRunDetailsPage.tsx
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, acknowledge-critical-fixes-only

#13335 ODC-7424: Add e2e tests for vulnerabilities column in pipelinerun list and details page
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-runs.feature
  frontend/packages/pipelines-plugin/integration-tests/support/constants/pipelines.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineRun-details-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-runs.ts
  frontend/packages/pipelines-plugin/integration-tests/testData/scan-pipelinerun/pipelinerun-with-scan-task.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/scan-pipelinerun/scan-task.yaml
  frontend/packages/pipelines-plugin/src/components/pipelineruns/status/PipelineRunVulnerabilities.tsx
Labels: approved, lgtm, component/core, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines, jira/valid-reference, acknowledge-critical-fixes-only

#13328 ODC-7384,ODC-7385, ODC-7383: Update the PipelineRun and TaskRun details page to use Tekton Results API to load all the info
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/__tests__/PipelineRunDetailsPage.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunLogs.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunVisualization.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/__tests__/PipelineRunVisualization.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/hooks/usePipelineRuns.ts
  frontend/packages/pipelines-plugin/src/components/pipelineruns/hooks/useTaskRuns.ts
  frontend/packages/pipelines-plugin/src/components/pipelineruns/hooks/useTektonResults.ts
  frontend/packages/pipelines-plugin/src/components/pipelineruns/logs/LogsWrapperComponent.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/logs/MultiStreamLogs.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/logs/TektonTaskRunLog.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/logs/__tests__/MultiStreamLogs.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/logs/logs-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelineruns/utils/tekton-results.ts
  frontend/packages/pipelines-plugin/src/components/taskruns/TaskRunDetails.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/TaskRunDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/TaskRunLog.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/events/__tests__/TaskRunDetailsPage.spec.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/list-page/TaskRunsList.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/list-page/TaskRunsListPage.tsx
  frontend/packages/pipelines-plugin/src/types/pipelineRun.ts
  frontend/packages/pipelines-plugin/src/types/taskRun.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-utils.ts
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines, jira/valid-reference, acknowledge-critical-fixes-only

#13218 CONSOLE-3655: Include VerticalPodAutoscaler recommended values for associated deployment, if they exist
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/vpa/VerticalPodAutoscalerRecommendations.tsx
  frontend/packages/console-shared/src/utils/resource-utils.ts
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/topology/console-extensions.json
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/workload/index.ts
  frontend/packages/topology/src/components/workload/vpa-tab-section.tsx
  frontend/public/components/deployment.tsx
Labels: approved, lgtm, tide/merge-method-squash, component/shared, component/dev-console, component/core, docs-approved, qe-approved, px-approved, kind/i18n, component/topology, jira/valid-reference, acknowledge-critical-fixes-only

#13347 OCPBUGS-20016: account for `useK8sWatchResource` returning `{}` like it does f…
  frontend/public/components/modals/labels-modal.tsx
  frontend/public/components/modals/tags.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13338 ODC-7425: Add serverless function icon in Add page group header
  frontend/packages/console-dynamic-plugin-sdk/docs/console-extensions.md
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/add-actions.ts
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/src/components/add/AddCard.scss
  frontend/packages/dev-console/src/components/add/AddCard.tsx
  frontend/packages/dev-console/src/components/add/AddCardSection.tsx
  frontend/packages/dev-console/src/components/types.ts
Labels: approved, lgtm, component/dev-console, component/sdk, docs-approved, qe-approved, px-approved, jira/valid-reference, acknowledge-critical-fixes-only

#13303 ODC-7419: Feature new Quickstarts (RHDH on the admin dashboard and Pipelines/Serverless on the dev add page)
  frontend/packages/dev-console/src/components/add/GettingStartedSection.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/getting-started-section.tsx
Labels: approved, lgtm, component/dev-console, component/dashboard, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference, acknowledge-critical-fixes-only

#13307 GITOPS-3575: Added disallowed flag to gitops static plugin
  frontend/packages/gitops-plugin/console-extensions.json
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/gitops, jira/valid-reference, acknowledge-critical-fixes-only

#13346 OCPBUGS-22778: Fix for yaml editor that crashes with MCE and ACM plugins enabled
  frontend/packages/console-shared/src/components/editor/CodeEditor.tsx
Labels: approved, lgtm, component/shared, jira/valid-bug, jira/severity-important, jira/valid-reference, acknowledge-critical-fixes-only

#13348 ODC-7428: Update quick start name and document links for getting started section
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/components/functions/FunctionsDocsGettingStartedCard.tsx
  frontend/packages/knative-plugin/src/components/functions/GettingStartedSection.tsx
  frontend/packages/knative-plugin/src/components/functions/QuickStartGettingStartedCard.tsx
Labels: approved, lgtm, component/knative, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference, acknowledge-critical-fixes-only

#13354 OCPBUGS-23543: Deployment option is missing in 'Deploy Image'
  frontend/packages/dev-console/src/components/import/DeployImageForm.tsx
  frontend/packages/dev-console/src/components/import/DeploySection.tsx
  frontend/packages/dev-console/src/components/import/__tests__/DeployImage.spec.tsx
  frontend/packages/dev-console/src/components/import/__tests__/DeployImageForm.spec.tsx
Labels: approved, lgtm, component/dev-console, jira/valid-bug, jira/severity-important, jira/valid-reference, acknowledge-critical-fixes-only

#13350 ODC-7389: Replace topology graphic with new version for openshift v4.15
  frontend/public/imgs/logos/openshift.svg
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference, acknowledge-critical-fixes-only

#13344 OCPBUGS-23388: Pipeline Name gets changed to "new-pipeline" on the Edit Pipeline YAML/Builder
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/utils.ts
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13353 ODC-7426: Deletion of pipeline run after tekton result installation should be user-friendly
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunDetailsPage.scss
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunList.scss
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/triggered-by/ResourceKebab.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/triggered-by/ResourceKebabWithUserLabel.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/utils/tekton-results.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/utils.ts
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/TaskRunDetailsPage.scss
  frontend/packages/pipelines-plugin/src/components/taskruns/TaskRunDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/list-page/TaskRunsRow.scss
  frontend/packages/pipelines-plugin/src/components/taskruns/list-page/TaskRunsRow.tsx
  frontend/packages/pipelines-plugin/src/utils/pipeline-actions.tsx
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines, jira/valid-reference, acknowledge-critical-fixes-only

#13364 OCPBUGS-23912 OCPBUGS-23918: Add Vulnerabilities column and signed icon in PAC repository PLR list
  frontend/packages/pipelines-plugin/src/components/pipelineruns/hooks/usePipelineRunVulnerabilities.ts
  frontend/packages/pipelines-plugin/src/components/pipelineruns/hooks/usePipelineRuns.ts
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunHeader.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunList.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunListPage.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/components/repository/list-page/RepositoryRow.tsx
  frontend/packages/pipelines-plugin/src/components/repository/list-page/ReppositoryList.tsx
  frontend/packages/pipelines-plugin/src/utils/pipeline-utils.ts
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13362 OCPBUGS-23768: After PatternFly5 update: Navigation: Extra space after divider
  frontend/packages/console-app/src/components/nav/PerspectiveNav.scss
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13361 OCPBUGS-23776: After PatternFly5 update: Add page > more button dropdown is too wide
  frontend/packages/console-shared/src/components/getting-started/GettingStartedGrid.scss
Labels: approved, lgtm, component/shared, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13367 OCPBUGS-23787: PatternFly5 update: fix Quickstarts catalog item count alignment
  frontend/packages/console-app/src/components/quick-starts/QuickStartCatalogPage.scss
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13296 ODC-7359: Fix shipwright build e2e tests
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/installOperatorOnCluster.ts
  frontend/packages/shipwright-plugin/integration-tests/features/shipwright-build-in-topology.feature
  frontend/packages/shipwright-plugin/integration-tests/support/pageObjects/build-po.ts
  frontend/packages/shipwright-plugin/integration-tests/support/step-definitions/builds/shipwright-build-detail-page.ts
  frontend/packages/shipwright-plugin/integration-tests/support/step-definitions/builds/shipwright-build-in-topology.ts
  frontend/packages/shipwright-plugin/integration-tests/testData/builds/shipwrightBuild.yaml
  frontend/packages/shipwright-plugin/integration-tests/testData/builds/shipwrightBuildRun.yaml
  frontend/packages/shipwright-plugin/integration-tests/testData/builds/shipwrightBuildStrategies.yaml
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, jira/valid-reference, acknowledge-critical-fixes-only

#13370 OCPBUGS-23765: fix dark theme issue for helm release readme modal
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradeForm.tsx
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmReadmeModal.tsx
  frontend/public/components/markdown-view.tsx
Labels: approved, lgtm, component/core, component/helm, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13365 OCPBUGS-23775: After PatternFly5 update: Form error is missing when import a container image
  frontend/packages/dev-console/src/components/import/image-search/ImageSearch.tsx
Labels: approved, lgtm, component/dev-console, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13369 OCPBUGS-23923: fix PipelineRun task logs switcher
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunLogs.scss
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunLogs.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/hooks/usePipelineRuns.ts
  frontend/packages/pipelines-plugin/src/components/pipelineruns/logs/LogsWrapperComponent.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/logs/MultiStreamLogs.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/logs/TektonTaskRunLog.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/logs/__tests__/MultiStreamLogs.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/logs/logs-utils.ts
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13356 OCPBUGS-23559: Styling issue in functions list page after PatternFly upgrade
  frontend/packages/knative-plugin/src/components/functions/FunctionsPage.scss
  frontend/packages/knative-plugin/src/components/functions/GettingStartedSection.scss
Labels: approved, lgtm, component/knative, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13312 CONSOLE-3793: add uptime to Node pages
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/nodes/NodeDetailsOverview.tsx
  frontend/packages/console-app/src/components/nodes/NodesPage.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/DetailsCard.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/NodeUptime.tsx
  frontend/packages/console-shared/src/selectors/node.ts
  frontend/packages/console-shared/src/sorts/nodes.ts
  frontend/public/components/factory/table.tsx
Labels: approved, lgtm, component/shared, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference, acknowledge-critical-fixes-only

#13368 OCPBUGS-23769: PatternFly5 update: fix Topologylist view hover effect
  frontend/packages/topology/src/components/list-view/TopologyListView.scss
Labels: approved, lgtm, component/topology, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13372 OCPBUGS-23927: fix table layout issue with Identity providers table
  frontend/public/components/cluster-settings/oauth.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13374 OCPBUGS-23756: fix layout of Show tooltips in YAML editor
  frontend/public/style/_overrides.scss
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13375 OCPBUGS-23778: Apply the correct font-family for the page header action button and menu items.
  frontend/public/components/_nav-title.scss
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#13377 OCPBUGS-23980: Fix logs streaming auto scroll issue
  frontend/packages/pipelines-plugin/src/components/pipelineruns/logs/Logs.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/logs/MultiStreamLogs.tsx
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13358 OCPBUGS-23248: change Alertmanager form to create using matchers inst…
  frontend/__tests__/components/monitoring.spec.tsx
  frontend/packages/integration-tests-cypress/tests/cluster-settings/alertmanager/alertmanager.cy.ts
  frontend/packages/integration-tests-cypress/tests/cluster-settings/alertmanager/receivers/email.cy.ts
  frontend/packages/integration-tests-cypress/tests/cluster-settings/alertmanager/receivers/pagerduty.cy.ts
  frontend/packages/integration-tests-cypress/tests/cluster-settings/alertmanager/receivers/slack.cy.ts
  frontend/packages/integration-tests-cypress/tests/cluster-settings/alertmanager/receivers/webhook.cy.ts
  frontend/packages/integration-tests-cypress/views/alertmanager.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/__tests__/cluster-setup-alert-receiver-link.spec.ts
  frontend/public/components/monitoring/alertmanager/alertmanager-config.tsx
  frontend/public/components/monitoring/receiver-forms/alert-manager-receiver-forms.tsx
  frontend/public/components/monitoring/receiver-forms/routing-labels-editor.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/dashboard, component/monitoring, component/core, kind/i18n, kind/cypress, jira/valid-bug, jira/severity-low, jira/valid-reference, acknowledge-critical-fixes-only

#13366 OCPBUGS-23786: PatternFly5 update: fix code snippet color in quick start in dark mode
  frontend/public/style/_overrides.scss
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13376 OCPBUGS-23780,OCPBUGS-23794,OCPBUGS-23977,OCPBUGS-23783: Bring back the Decorators and Pod Rings around resources in Topology
  frontend/packages/console-shared/src/components/pod/PodStatus.tsx
  frontend/packages/helm-plugin/src/topology/components/HelmReleaseStatusDecorator.tsx
  frontend/packages/knative-plugin/src/topology/components/decorators/RevisionRouteDecorator.tsx
  frontend/packages/knative-plugin/src/topology/components/decorators/ServiceRouteDecorator.tsx
  frontend/packages/knative-plugin/src/topology/components/groups/KnativeServiceGroup.tsx
  frontend/packages/knative-plugin/src/topology/components/nodes/EventSink.tsx
  frontend/packages/knative-plugin/src/topology/components/nodes/EventingPubSubNode.tsx
  frontend/packages/knative-plugin/src/topology/components/nodes/SinkUriNode.tsx
  frontend/packages/kubevirt-plugin/src/topology/components/nodes/VmNode.tsx
  frontend/packages/pipelines-plugin/src/topology/build-decorators/PipelineRunDecorator.tsx
  frontend/packages/shipwright-plugin/src/components/build-decorators/ShipwrightBuildDecorator.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/BuildDecorator.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/EditDecorator.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/MonitoringAlertsDecorator.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/UrlDecorator.tsx
  frontend/packages/topology/src/operators/components/OperatorBackedServiceGroup.tsx
  frontend/packages/topology/src/operators/components/OperatorBackedServiceNode.tsx
Labels: approved, lgtm, component/shared, component/kubevirt, component/knative, component/helm, component/topology, component/pipelines, jira/severity-critical, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13345 OCPBUGS-23125: add access review for impersonate
  frontend/packages/console-dynamic-plugin-sdk/src/api/common-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/public/components/RBAC/bindings.jsx
  frontend/public/components/user.tsx
Labels: approved, lgtm, component/core, component/sdk, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13320 CONSOLE-3764: Update husky to v8.0.3
  frontend/.husky/pre-commit
  frontend/package.json
  frontend/yarn.lock
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, jira/valid-reference

#13333 OCPBUGS-19426: Edit the secret and add the Chinese in the web-console, garbled characters will be displayed
  frontend/public/components/secrets/create-secret.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-important, jira/valid-reference, acknowledge-critical-fixes-only

#13382 OCPBUGS-23779: Fix crash when user clicks on Show tooltips
  frontend/public/components/edit-yaml.jsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#13332 [release-4.10] OCPBUGS-23310: add support for new features annotations while preserv…
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/index.ts
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-page.tsx
Labels: approved, lgtm, cherry-pick-approved, component/olm, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#12805 [release-4.12] OCPBUGS-13357: add multipath device type to LocalVolumeSet
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/body.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/request.ts
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/types.ts
  frontend/packages/local-storage-operator-plugin/src/constants/index.ts
Labels: approved, lgtm, cherry-pick-approved, component/shared, component/dev-console, component/kubevirt, component/knative, component/ceph, component/monitoring, component/core, component/metal3, component/sdk, component/backend, component/olm, component/git-service, component/lso, qe-approved, kind/i18n, component/helm, component/topology, component/pipelines, kind/cypress, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#13188 CONSOLE-3705: Phase 1 of using OpenShift Dynamic Plugin SDK
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/yarn.lock
  frontend/packages/console-app/src/components/console-operator/ConsoleOperatorConfig.tsx
  frontend/packages/console-dynamic-plugin-sdk/README.md
  frontend/packages/console-dynamic-plugin-sdk/package.json
  frontend/packages/console-dynamic-plugin-sdk/scripts/generate-schema.ts
  frontend/packages/console-dynamic-plugin-sdk/scripts/package-definitions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/build-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/constants.ts
  frontend/packages/console-dynamic-plugin-sdk/src/lib-webpack.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/__tests__/plugin-dependencies.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/__tests__/plugin-loader.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-dependencies.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-loader.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-manifest.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-utils.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/plugin-manifest.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/plugin-package.ts
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/schema.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/test-utils.ts
  frontend/packages/console-dynamic-plugin-sdk/src/validation/BaseValidator.ts
  frontend/packages/console-dynamic-plugin-sdk/src/validation/ExtensionValidator.ts
  frontend/packages/console-dynamic-plugin-sdk/src/validation/SchemaValidator.ts
  frontend/packages/console-dynamic-plugin-sdk/src/validation/ValidationAssertions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/validation/ValidationResult.ts
  frontend/packages/console-dynamic-plugin-sdk/src/validation/__tests__/ExtensionValidator.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/webpack/ConsoleAssetPlugin.ts
  frontend/packages/console-dynamic-plugin-sdk/src/webpack/ConsoleRemotePlugin.ts
  frontend/packages/console-plugin-sdk/src/__tests__/store.spec.ts
  frontend/packages/console-plugin-sdk/src/codegen/__tests__/active-plugins.spec.ts
  frontend/packages/console-plugin-sdk/src/codegen/active-plugins.ts
  frontend/packages/console-plugin-sdk/src/store.ts
  frontend/yarn.lock
Labels: approved, lgtm, component/core, component/sdk, docs-approved, qe-approved, px-approved, jira/valid-reference

#13298 CONSOLE-3732: Add option to enable/disable tailing to Pod log viewer
  frontend/packages/console-shared/src/constants/common.ts
  frontend/packages/integration-tests-cypress/tests/app/resource-log.cy.ts
  frontend/packages/pipelines-plugin/src/components/pipelineruns/logs/logs-utils.ts
  frontend/public/components/utils/line-buffer.ts
  frontend/public/components/utils/resource-log.tsx
  frontend/public/components/utils/useToggleLineBuffer.ts
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/shared, component/core, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines, kind/cypress, jira/valid-reference

#13383 OCPBUGS-24203: ConsolePlugin metrics must no longer be grouped by the vendor
  pkg/serverconfig/metrics.go
  pkg/serverconfig/metrics_test.go
Labels: approved, lgtm, component/backend, jira/valid-bug, jira/valid-reference
