Repository openshift/console, pull requests merged in 2023-12, with the labels that each got.

#13337 CONSOLE-3852: remove PatternFly classnames from integration tests
  dynamic-demo-plugin/src/components/ExamplePage.tsx
  frontend/packages/console-app/src/components/console-operator/ConsoleOperatorConfig.tsx
  frontend/packages/dev-console/integration-tests/cypress.config.js
  frontend/packages/gitops-plugin/integration-tests/cypress.config.js
  frontend/packages/helm-plugin/integration-tests/cypress.config.js
  frontend/packages/integration-tests-cypress/cypress.config.js
  frontend/packages/integration-tests-cypress/support/i18n.ts
  frontend/packages/integration-tests-cypress/support/selectors.ts
  frontend/packages/integration-tests-cypress/tests/app/debug-pod.cy.ts
  frontend/packages/integration-tests-cypress/tests/app/demo-dynamic-plugin.cy.ts
  frontend/packages/integration-tests-cypress/tests/app/filtering-and-searching.cy.ts
  frontend/packages/integration-tests-cypress/tests/app/overview.cy.ts
  frontend/packages/integration-tests-cypress/tests/cluster-settings/alertmanager/alertmanager.cy.ts
  frontend/packages/integration-tests-cypress/tests/crd-extensions/console-cli-download.cy.ts
  frontend/packages/integration-tests-cypress/tests/crd-extensions/console-external-log-link.cy.ts
  frontend/packages/integration-tests-cypress/tests/crd-extensions/console-link.cy.ts
  frontend/packages/integration-tests-cypress/tests/crd-extensions/console-notification.cy.ts
  frontend/packages/integration-tests-cypress/tests/crud/add-storage-crud.cy.ts
  frontend/packages/integration-tests-cypress/tests/crud/annotations.cy.ts
  frontend/packages/integration-tests-cypress/tests/crud/bulk-create-resources.cy.ts
  frontend/packages/integration-tests-cypress/tests/crud/customresourcedefinition.cy.ts
  frontend/packages/integration-tests-cypress/tests/crud/environment.cy.ts
  frontend/packages/integration-tests-cypress/tests/crud/labels.cy.ts
  frontend/packages/integration-tests-cypress/tests/crud/quotas.cy.ts
  frontend/packages/integration-tests-cypress/tests/crud/resource-crud.cy.ts
  frontend/packages/integration-tests-cypress/tests/crud/roles-rolebindings.cy.ts
  frontend/packages/integration-tests-cypress/tests/crud/secrets/key-value.cy.ts
  frontend/packages/integration-tests-cypress/tests/crud/secrets/webhook.cy.ts
  frontend/packages/integration-tests-cypress/tests/i18n/pseudolocalization.cy.ts
  frontend/packages/integration-tests-cypress/tests/monitoring/monitoring.cy.ts
  frontend/packages/integration-tests-cypress/views/alertmanager.ts
  frontend/packages/integration-tests-cypress/views/environment.ts
  frontend/packages/integration-tests-cypress/views/form.ts
  frontend/packages/integration-tests-cypress/views/labels.ts
  frontend/packages/integration-tests-cypress/views/list-page.ts
  frontend/packages/integration-tests-cypress/views/oauth.ts
  frontend/packages/integration-tests-cypress/views/rolebindings.ts
  frontend/packages/integration-tests-cypress/views/wizard.ts
  frontend/packages/knative-plugin/integration-tests/cypress.config.js
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/cypress.config.js
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/descriptors.cy.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-hub.cy.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-uninstall.cy.ts
  frontend/packages/pipelines-plugin/integration-tests/cypress.config.js
  frontend/packages/shipwright-plugin/integration-tests/cypress.config.js
  frontend/packages/topology/integration-tests/cypress.config.js
  frontend/packages/webterminal-plugin/integration-tests/cypress.config.js
  frontend/public/components/edit-yaml.jsx
  frontend/public/components/environment.jsx
  frontend/public/components/monitoring/alertmanager/alertmanager-yaml-editor.tsx
  frontend/public/components/monitoring/receiver-forms/email-receiver-form.tsx
  frontend/public/components/monitoring/receiver-forms/pagerduty-receiver-form.tsx
  frontend/public/components/monitoring/receiver-forms/slack-receiver-form.tsx
  frontend/public/components/monitoring/receiver-forms/webhook-receiver-form.tsx
  frontend/public/components/utils/button-bar.jsx
  frontend/public/components/utils/copy-to-clipboard.tsx
  frontend/public/components/utils/file-input.tsx
Labels: approved, lgtm, component/dev-console, component/knative, component/monitoring, component/core, component/olm, docs-approved, qe-approved, px-approved, component/helm, component/topology, component/gitops, component/pipelines, kind/cypress, jira/valid-reference

#13396 OCPBUGS-24339: Add note about git hooks and PATH env var to README
  README.md
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#13381 OCPBUGS-18371: Searching for items in quick search is confusing
  frontend/packages/console-shared/src/components/quick-search/QuickSearchList.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchList.tsx
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/catalog/providers/__tests__/useDevfileSamples.data.ts
  frontend/packages/dev-console/src/components/catalog/providers/useBuilderImageSamples.ts
  frontend/packages/dev-console/src/components/catalog/providers/useDevfileSamples.tsx
Labels: approved, lgtm, component/shared, component/dev-console, kind/i18n, jira/valid-bug, jira/valid-reference

#13386 OCPBUGS-24267: Cluster configuration fields are not visible
  frontend/packages/console-app/src/components/cluster-configuration/ClusterConfigurationForm.tsx
  frontend/packages/console-app/src/components/cluster-configuration/ClusterConfigurationPage.scss
  frontend/packages/console-app/src/components/cluster-configuration/ClusterConfigurationPage.tsx
  frontend/packages/console-app/src/components/cluster-configuration/getClusterConfigurationGroups.ts
  frontend/packages/console-app/src/components/cluster-configuration/types.ts
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#13330 OCPBUGS-23263: Update i18next-parser dev dependency in console
  frontend/package.json
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/yarn.lock
Labels: approved, lgtm, component/kubevirt, kind/i18n, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13395 OCPBUGS-18401: fix filtering issues on Events
  frontend/public/components/events.jsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-important, jira/valid-reference

#13398 OCPBUGS-23761: PatternFly5 update: Fix quick search input background color in dark mode
  frontend/packages/console-shared/src/components/quick-search/QuickSearchBar.scss
Labels: approved, lgtm, component/shared, jira/valid-bug, jira/valid-reference

#13406 OCPBUGS-24399: Update our overrides css rule to remove list bullet from PF4 ui elements
  frontend/public/style/_overrides.scss
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-low, jira/valid-reference

#13409 OCPBUGS-24339: Do not depend on a global installed lint-staged
  README.md
  frontend/.husky/pre-commit
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#13209 OCPBUGS-23347: fix vCenter cluster being empty
  frontend/packages/vsphere-plugin/src/hooks/use-connection-form.ts
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13390 OCPBUGS-23378: Set min-width for PF popovers that are being overridden by an inline style
  frontend/public/style/_overrides.scss
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#13414 OCPBUGS-23554: Fix for monaco editor that happens with yaml is being edited
  frontend/packages/console-shared/src/components/editor/yaml-editor-utils.ts
Labels: approved, lgtm, component/shared, jira/valid-bug, jira/valid-reference

#13340 OU-286: add test-id to panel charts to ease e2e tests when titles change
  frontend/public/components/monitoring/dashboards/index.tsx
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference

#13342 [release-4.12] OCPBUGS-23413: Correct logout process
  frontend/public/module/auth.js
  pkg/auth/auth.go
  pkg/auth/auth_oidc.go
  pkg/auth/auth_openshift.go
  pkg/server/middleware.go
  pkg/server/server.go
Labels: approved, lgtm, cherry-pick-approved, component/core, component/backend, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#13380 OCPBUGS-23764: bump PF dependencies to the latest patch fix
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/yarn.lock
  frontend/package.json
  frontend/packages/console-shared/src/components/getting-started/__tests__/RestoreGettingStartedButton.spec.tsx
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-devfile.feature
  frontend/packages/dev-console/integration-tests/features/e2e/add-flow-ci.feature
  frontend/packages/helm-plugin/integration-tests/features/helm-release.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/actions-on-helm-release.feature
  frontend/yarn.lock
Labels: approved, lgtm, component/shared, component/dev-console, component/helm, jira/valid-bug, jira/valid-reference

#13416 OCPBUGS-24252: fix subscription page fields
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
Labels: approved, lgtm, component/olm, jira/valid-bug, jira/severity-important, jira/valid-reference

#13384 [release-4.12] OCPBUGS-24236: Remove tech preview badge from Pipeline repository pages
  frontend/packages/pipelines-plugin/src/components/repository/list-page/RepositoriesList.tsx
  frontend/packages/pipelines-plugin/src/models/pipelines.ts
Labels: approved, lgtm, cherry-pick-approved, qe-approved, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/severity-low, jira/valid-reference

#13148 OCPBUGS-13204: Fix that customNodeDeployment pipeline YAML script wasn't working
  frontend/packages/pipelines-plugin/integration-tests/testData/customNodeDeployment.yaml
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference

#13407 OCPBUGS-18401: add type and text filters to Events integration test
  frontend/packages/integration-tests-cypress/tests/events/events.cy.ts
  frontend/public/components/events.jsx
Labels: approved, lgtm, component/core, kind/cypress, jira/valid-bug, jira/severity-important, jira/valid-reference

#13419 OCPBUGS-24582: Updated functions list page to use new hook useParams
  frontend/packages/knative-plugin/src/components/functions/FunctionsPage.tsx
Labels: approved, lgtm, component/knative, jira/valid-bug, jira/valid-reference

#13082 Console-3733: Add support for Azure Workload Identity / Federated Identity based installs in OperatorHub
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/index.ts
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-item-details.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-page.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-utils.ts
Labels: approved, lgtm, lifecycle/stale, component/olm, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#13404 OCPBUGS-24186: Strip 'Server' header from proxy response
  pkg/proxy/proxy.go
Labels: approved, lgtm, component/backend, jira/valid-bug, jira/severity-important, jira/valid-reference

#13424 [release-4.13] OCPBUGS-24591: ConsolePlugin metrics must no longer be grouped by the vendor
  pkg/serverconfig/metrics.go
  pkg/serverconfig/metrics_test.go
Labels: approved, lgtm, cherry-pick-approved, component/backend, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#12506 OCPBUGS-5113: Date&Time values are not showing as per browser default language
  frontend/packages/console-app/src/components/user-preferences/language/__tests__/getLastLanguage.spec.ts
  frontend/packages/console-app/src/components/user-preferences/language/getLastLanguage.ts
  frontend/packages/integration-tests-cypress/support/i18n.ts
  frontend/packages/integration-tests-cypress/tests/i18n/pseudolocalization.cy.ts
  frontend/packages/topology/src/components/export-app/ExportApplicationModal.tsx
  frontend/public/components/utils/datetime.ts
  frontend/public/components/utils/timestamp.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/ceph, component/core, component/topology, kind/cypress, jira/valid-bug, jira/valid-reference

#13403 chore(i18n): update translations: : Completed OCP-4.15/Master Branch/Sprint 244
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-shared/locales/ko/console-shared.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/network-attachment-definition-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/network-attachment-definition-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/network-attachment-definition-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/operator-lifecycle-manager/locales/ko/olm.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ko/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/packages/shipwright-plugin/locales/ko/shipwright-plugin.json
  frontend/packages/topology/locales/ja/topology.json
  frontend/packages/topology/locales/ko/topology.json
  frontend/packages/topology/locales/zh/topology.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, component/shared, component/dev-console, component/kubevirt, component/knative, component/core, component/olm, component/network-attachment-definition, docs-approved, qe-approved, px-approved, kind/i18n, component/topology, component/pipelines, jira/valid-reference

#13421 OCPBUGS-24280: Add missing https:// check for an external link
  frontend/packages/pipelines-plugin/console-extensions.json
  frontend/packages/pipelines-plugin/package.json
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunCustomDetails.tsx
Labels: kind/bug, approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference

#13388 CONSOLE-3853: Prevent PatternFly styles from being included in plugin compilation
  dynamic-demo-plugin/yarn.lock
  frontend/packages/console-dynamic-plugin-sdk/scripts/package-definitions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/webpack/ConsoleRemotePlugin.ts
  frontend/webpack.config.ts
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved, jira/valid-reference

#13429 OCPBUGS-23378: Prevent text overlap with popover close button on Create NetworkPolicy form
  frontend/packages/console-app/src/components/network-policies/network-policy-selector-preview.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#13104 OCPBUGS-18116: Bump helm version
  go.mod
  go.sum
  vendor/helm.sh/helm/v3/pkg/action/lint.go
  vendor/helm.sh/helm/v3/pkg/chartutil/create.go
  vendor/helm.sh/helm/v3/pkg/chartutil/jsonschema.go
  vendor/helm.sh/helm/v3/pkg/engine/lookup_func.go
  vendor/helm.sh/helm/v3/pkg/repo/index.go
  vendor/helm.sh/helm/v3/pkg/repo/repo.go
  vendor/helm.sh/helm/v3/pkg/strvals/parser.go
  vendor/modules.txt
  vendor/sigs.k8s.io/kustomize/kyaml/openapi/kubernetesapi/v1212/swagger.pb
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#13422 OCPBUGS-24408: fix runtime error on Node details Overview when Machin…
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/nodes/node-dashboard/NodeHealth.tsx
Labels: approved, lgtm, component/core, kind/i18n, jira/severity-critical, jira/valid-bug, jira/valid-reference

#13432 OCPBUGS-24715,OCPBUGS-25018: Fix pipelineRuns loading on repository details page
  frontend/packages/pipelines-plugin/src/components/ListPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunsResourceList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineRuns.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/__tests__/PipelineRuns.spec.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunListPage.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/list-page/TaskRunsListPage.tsx
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference

#13430 OCPBUGS-24711: fix preferredTab selection on Pipelines page
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelineTabbedPage.tsx
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference

#13445 OCPBUGS-23925: Follow on logic for only showing VPAs associated with a deployment for a specific project
  frontend/packages/console-shared/src/utils/resource-utils.ts
Labels: approved, lgtm, component/shared, jira/valid-bug, jira/severity-important, jira/valid-reference

#13397 OCPBUGS-23299: Replace checkbox with PF checkbox component to correct alignment
  frontend/packages/console-app/src/components/network-policies/_create-network-policy.scss
  frontend/packages/console-app/src/components/network-policies/network-policy-form.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#13428 OCPBUGS-24680: Backport Add support for Azure Workload Identity / Federated Identity
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/index.ts
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-item-details.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-page.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-utils.ts
Labels: approved, lgtm, cherry-pick-approved, component/olm, qe-approved, kind/i18n, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#13431 CONSOLE-3874: Refactor EventStream
  frontend/public/components/events.jsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#13450 OCPBUGS-25396: update the checks for showing Archived to Tekton results icon for PLRs and TRs list and details page
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/triggered-by/ResourceKebab.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/utils/tekton-results.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/utils.ts
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/TaskRunDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/list-page/TaskRunsRow.tsx
  frontend/packages/pipelines-plugin/src/const.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-actions.tsx
Labels: approved, lgtm, kind/i18n, component/pipelines, jira/valid-bug, jira/valid-reference

#13456 OCPBUGS-25530: fix bug where filter at mobile could be empty on Searc…
  frontend/public/components/filter-toolbar.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#13451 OCPBUGS-25441: fix Observe tab in Topology overview
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringDashboardGraph.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/__tests__/MonitoringDashboardGraph.spec.tsx
Labels: approved, lgtm, component/dev-console, jira/valid-bug, jira/valid-reference

#13453 OCPBUGS-18844: Replace the old sr-only class to the patternfly pf-v5-u-screen-reader class
  frontend/public/components/configmap-and-secret-data.tsx
  frontend/public/components/utils/copy-to-clipboard.tsx
  frontend/public/components/utils/link.tsx
  frontend/public/components/utils/name-value-editor.jsx
  frontend/public/components/utils/resource-icon.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13464 OCPBUGS-24592: Fix CI tests in helm and devconsole packages
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-devfile.feature
  frontend/packages/dev-console/integration-tests/features/e2e/add-flow-ci.feature
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-devfile.ts
  frontend/packages/helm-plugin/integration-tests/features/helm-release.feature
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-release.ts
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, component/helm, component/topology, jira/valid-bug, jira/valid-reference

#13455 OCPBUGS-25612: Logs for PipelineRuns fetched from the Tekton Results API is not loading
  frontend/packages/pipelines-plugin/src/components/pipelineruns/utils/tekton-results.ts
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference
