Repository openshift/console, pull requests merged in 2023-08, with the labels that each got.

#13013 [release-4.12] OCPBUGS-2182: re-enable operator-install-single-namespace.spec.ts test
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-single-namespace.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/views/operator.view.ts
Labels: approved, lgtm, cherry-pick-approved, component/olm, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#13059 OCPBUGS-15008: update the KnativeServing API version to v1beta1 for global-config extension
  frontend/packages/knative-plugin/console-extensions.json
Labels: approved, lgtm, component/knative, jira/valid-bug, jira/valid-reference

#13017 CONSOLE-3686: Convert SecretFormWrapper component in create-secret.ts…
  frontend/public/components/secrets/create-secret.tsx
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference

#13057 OCPBUGS-16844: external link icon in `resource added` toast notification not linked
  frontend/public/components/utils/link.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-low, jira/valid-reference

#13053 OCPBUGS-17196: Fix nad ovn type - annotation and netAttachName
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionsForm.tsx
  frontend/packages/network-attachment-definition-plugin/src/types/types.ts
Labels: approved, lgtm, component/network-attachment-definition, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13048 [release-4.13] OCPBUGS-16040: fix bug where binary secret values are corrupted on edit and add test coverage
  frontend/packages/integration-tests-cypress/tests/crud/secrets.spec.ts
  frontend/public/components/secrets/create-secret.tsx
  frontend/public/components/utils/file-input.tsx
Labels: approved, lgtm, cherry-pick-approved, component/core, qe-approved, kind/cypress, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#13069 OU-231: Add jgbernalp and zhuje to OWNERS for monitoring
  frontend/public/components/monitoring/OWNERS
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference

#13024 CONSOLE-3683: Convert FireMan component in list-page.tsx from class c…
  frontend/__tests__/components/factory/list-page.spec.tsx
  frontend/public/components/factory/list-page.tsx
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference

#13046 OCPBUGS-16693, OCPBUGS-13387: Import page create button is disabled due to PAC validation
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/pipelines-plugin/src/components/import/pipeline/PipelineTemplate.tsx
  frontend/packages/pipelines-plugin/src/components/repository/repository-form-utils.ts
Labels: approved, lgtm, component/dev-console, docs-approved, px-approved, component/pipelines, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12951 OCPBUGS-15419: Title on Overview page has changed to "Cluster · Red Hat OpenShift"
  frontend/public/components/dashboard/dashboards-page/dashboards.tsx
  frontend/public/components/dashboard/project-dashboard/project-dashboard.tsx
  frontend/public/components/namespace.jsx
Labels: approved, lgtm, component/dashboard, component/monitoring, component/core, kind/i18n, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13058 OCPBUGS-17347: Fix "View alerting rule" action URL
  frontend/public/components/monitoring/alerting.tsx
Labels: approved, lgtm, component/monitoring, component/core, qe-approved, jira/valid-bug, jira/valid-reference

#13068 OCPBUGS-17234: change Command Line Tools text
  frontend/public/components/command-line-tools.tsx
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, ok-to-test, component/core, kind/i18n, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13052 OCPBUGS-129: bump @patternfly/react-core to v4.276.11 to pick up Sel…
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/yarn.lock
  frontend/package.json
  frontend/yarn.lock
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#13062 OCPBUGS-15458: Links for console-dynamic-plugin-sdk markdown docs are not working
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/scripts/templates/api.md.ejs
Labels: approved, lgtm, component/sdk, jira/valid-bug, jira/valid-reference

#13078 OCPBUGS-14138: Console fix
  pkg/server/middleware.go
Labels: approved, lgtm, component/backend, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13074 OCPBUGS-17410: Fix that "Delete application" doesn't work in topology when Pipelines operator is not installed
  frontend/packages/dev-console/src/components/add/__tests__/GettingStartedSection.spec.tsx
  frontend/packages/topology/src/components/export-app/ExportApplicationModal.tsx
  frontend/packages/topology/src/utils/application-utils.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/__tests__/getting-started-section.spec.tsx
Labels: approved, lgtm, component/dev-console, component/dashboard, component/core, component/topology, jira/valid-bug, jira/severity-important, jira/valid-reference

#13075 OCPBUGS-16717: Fix name validation regex
  frontend/packages/metal3-plugin/locales/en/metal3-plugin.json
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/add-baremetal-host/AddBareMetalHost.tsx
  frontend/packages/metal3-plugin/src/validations/__tests__/regex.spec.ts
  frontend/packages/metal3-plugin/src/validations/regex.tsx
  frontend/packages/metal3-plugin/src/validations/validations.tsx
Labels: approved, lgtm, component/metal3, kind/i18n, jira/valid-bug, jira/valid-reference

#13085 OCPBUGS-17504: Dev console: Remove checkboxes on Alert Details page Silenced By list
  frontend/public/components/monitoring/alerting.tsx
Labels: approved, lgtm, component/monitoring, component/core, jira/valid-bug, jira/valid-reference

#13086 OCPBUGS-17515: Console UI is broken due to patternfly/react-core version change
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/yarn.lock
  frontend/package.json
  frontend/yarn.lock
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#13060 [release-4.13] OCPBUGS-17181: Creation of GH webhook and attaching it to repo while importing from git using PAC
  frontend/packages/console-shared/src/utils/proxy.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/toast/WebhookToastContent.tsx
  frontend/packages/git-service/src/services/base-service.ts
  frontend/packages/git-service/src/services/bitbucket-service.ts
  frontend/packages/git-service/src/services/github-service.ts
  frontend/packages/git-service/src/services/gitlab-service.ts
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryFormPage.tsx
  frontend/packages/pipelines-plugin/src/components/repository/consts.ts
  frontend/packages/pipelines-plugin/src/components/repository/repository-form-utils.ts
  frontend/packages/pipelines-plugin/src/components/repository/sections/WebhookSection.tsx
  frontend/packages/pipelines-plugin/src/components/repository/types.ts
  pkg/devconsole/proxy/proxy.go
  pkg/devconsole/proxy/proxy_test.go
  pkg/devconsole/proxy/types.go
  pkg/server/server.go
Labels: approved, lgtm, cherry-pick-approved, component/shared, component/dev-console, component/backend, component/git-service, qe-approved, kind/i18n, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#13072 CONSOLE-3126: Remove paused state since its no longer relevant due to 4.14 changes …
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#13051 [release-4.12] OCPBUGS-16846: Fix stop PLR option
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/__tests__/PipelineRunDetailsPage.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunList.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/utils/pipeline-actions.tsx
Labels: approved, lgtm, cherry-pick-approved, qe-approved, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13076 OCPBUGS-17496: Bridge NAD should set "preserveDefaultVlan": false
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionsForm.tsx
  frontend/packages/network-attachment-definition-plugin/src/types/types.ts
Labels: approved, lgtm, component/network-attachment-definition, jira/valid-bug, jira/valid-reference

#13036 CONSOLE-3681: Convert storage-class-form.tsx from class component to …
  frontend/__tests__/components/storage-class-form.spec.tsx
  frontend/public/components/storage-class-form.tsx
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference

#12940 OU-206: Merge monitoring alerts with alerts from other sources in the dev console
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/alerts.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/index.ts
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlerts.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlertsRulesDetailsPage.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/__tests__/MonitoringAlerts.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/useRuleAlertsPoller.tsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/fetch-alerts.tsx
Labels: approved, lgtm, component/dev-console, component/monitoring, component/core, component/sdk, docs-approved, qe-approved, px-approved, jira/valid-reference

#13090 OCPBUGS-17595: Updating YAML from console shows error
  frontend/public/components/edit-yaml.jsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13033 CONSOLE-3327: Expose useActiveNamespace within dynamic-core-api
  frontend/packages/console-app/src/components/detect-cluster/cluster.ts
  frontend/packages/console-app/src/components/detect-namespace/namespace.ts
  frontend/packages/console-app/src/components/nav/NavItemHref.tsx
  frontend/packages/console-app/src/components/nav/NavItemResource.tsx
  frontend/packages/console-app/src/components/user-preferences/UserPreferenceCheckboxField.tsx
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-shared/src/components/getting-started/__tests__/QuickStartGettingStartedCard.spec.tsx
  frontend/packages/console-shared/src/hooks/useActiveNamespace.ts
  frontend/packages/helm-plugin/src/catalog/components/HelmCatalogTypeDescription.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard-footer.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-nics/vm-nics.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-environment/vm-environment-page.tsx
  frontend/packages/kubevirt-plugin/src/hooks/use-ssh-service.ts
  frontend/packages/pipelines-plugin/src/components/import/pipeline/PacInfoPanel.tsx
  frontend/public/components/RBAC/bindings.jsx
  frontend/public/components/start-guide.tsx
  frontend/public/components/utils/namespace-redirect.tsx
Labels: approved, lgtm, component/shared, component/kubevirt, component/core, component/sdk, docs-approved, qe-approved, px-approved, component/helm, component/pipelines, jira/valid-reference

#13093 OCPBUGS-16374: Fix topology crash when a console.topology/data/factory extension tries to resolve a resource with version from the CRDs which doesn't exists
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sWatchResources.ts
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostsPage.tsx
  frontend/packages/topology/src/data-transforms/DataModelProvider.tsx
Labels: approved, lgtm, component/metal3, component/sdk, component/topology, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13091 OCPBUGS-15927: Error page when fresh normal user visiting BuildConfigs page of 'default' project
  frontend/public/components/build-config.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#13039 [release-4.12] OCPBUGS-16660: Manual cherry-pick of #12978
  cmd/bridge/main.go
  pkg/proxy/proxy.go
Labels: approved, lgtm, cherry-pick-approved, component/backend, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#13043 OCPBUGS-13892: Remove spaces from prometheus queries
  frontend/packages/console-shared/src/promql/resource-metrics.ts
  frontend/public/components/pod.tsx
Labels: approved, lgtm, jira/valid-bug, jira/severity-low, jira/valid-reference

#13097 OCPBUGS-17948: Fix that Devconsole plugin show essential features like add page and topology also when Builds and DeploymentConfigs capabilities are disabled
  frontend/packages/dev-console/console-extensions.json
  frontend/public/actions/features.ts
Labels: approved, lgtm, component/dev-console, component/core, jira/valid-bug, jira/severity-important, jira/valid-reference

#13096 OCPBUGS-17913: Typo in the OCP console menu
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/health-checks/ProbeForm.tsx
Labels: approved, lgtm, ok-to-test, component/dev-console, kind/i18n, jira/valid-bug, jira/valid-reference

#13099 OCPBUGS-17864: Web console slowness on Project>Project access page
  frontend/packages/console-shared/src/hooks/formik-validation-fix.ts
Labels: approved, lgtm, component/shared, jira/valid-bug, jira/valid-reference

#13100 [release-4.10] OCPBUGS-18014: When removing the project owner from the project in GUI, instead of that user, the group (the default group added as project admin through the project template) will be removed.
  frontend/packages/dev-console/src/components/project-access/ProjectAccess.tsx
  frontend/packages/dev-console/src/components/project-access/__tests__/project-access-form-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-submit-utils.ts
Labels: approved, lgtm, cherry-pick-approved, component/dev-console, qe-approved, backport-risk-assessed, jira/severity-critical, jira/valid-bug, jira/valid-reference

#13106 CONSOLE-3126: Update cluster paused alert message
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference, acknowledge-critical-fixes-only

#13118 OCPBUGS-16108: Fix DeploymentConfig list performance issues by lazy loading their ReplicationControllers
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/actions/creators/hpa-factory.ts
  frontend/packages/console-app/src/actions/providers/deployment-provider.ts
  frontend/packages/console-app/src/actions/providers/deploymentconfig-provider.ts
  frontend/packages/console-app/src/actions/providers/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-types.ts
  frontend/packages/console-shared/src/components/actions/LazyActionMenu.tsx
  frontend/public/components/deployment-config.tsx
  frontend/public/locales/en/public.json
  frontend/public/module/k8s/types.ts
Labels: kind/bug, approved, lgtm, component/shared, component/core, component/sdk, kind/i18n, jira/severity-critical, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13122 [release-4.12] OCPBUGS-18366: Fix DeploymentConfig list performance issues by lazy loading their ReplicationControllers
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/actions/creators/hpa-factory.ts
  frontend/packages/console-app/src/actions/providers/deployment-provider.ts
  frontend/packages/console-app/src/actions/providers/deploymentconfig-provider.ts
  frontend/packages/console-app/src/actions/providers/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-types.ts
  frontend/packages/console-shared/src/components/actions/LazyActionMenu.tsx
  frontend/public/components/deployment-config.tsx
  frontend/public/locales/en/public.json
  frontend/public/module/k8s/types.ts
Labels: kind/bug, approved, lgtm, cherry-pick-approved, component/shared, component/core, component/sdk, qe-approved, kind/i18n, backport-risk-assessed, jira/severity-critical, jira/valid-bug, jira/valid-reference

#13124 OCPBUGS-18406: Builds navigation item is missing in Developer perspective
  frontend/packages/dev-console/console-extensions.json
Labels: approved, lgtm, component/dev-console, jira/valid-bug, jira/severity-important, jira/valid-reference, acknowledge-critical-fixes-only
