Repository openshift/console, pull requests merged in 2023-02, with the labels that each got.

#12489 [release-4.12] OCPBUGS-6758: Add RBAC check on Create a Project link in all-namespaces pages
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/ProjectSelectPage.tsx
  frontend/packages/dev-console/src/components/SearchPage.tsx
  frontend/packages/dev-console/src/components/add/AddPage.tsx
  frontend/packages/dev-console/src/components/builds/BuildsTabListPage.tsx
  frontend/packages/dev-console/src/components/catalog/CatalogPage.tsx
  frontend/packages/dev-console/src/components/import/SamplesCatalog.tsx
  frontend/packages/dev-console/src/components/monitoring/MonitoringPage.tsx
  frontend/packages/dev-console/src/components/projects/CreateProjectListPage.tsx
  frontend/packages/dev-console/src/components/projects/details/ProjectDetailsPage.tsx
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/src/components/list-page/HelmTabbedPage.tsx
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelineTabbedPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelinesPage.tsx
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/page/TopologyPage.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, kind/i18n, component/helm, component/topology, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12439 ODC-7234: Provide option to configure PAC on importing app via import from git flow
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-git.feature
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/index.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/pac-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-pac-repo.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-data.ts
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-utils.spec.ts
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/dev-console/src/components/import/GitImportForm.tsx
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/ImportSamplePage.tsx
  frontend/packages/dev-console/src/components/import/ImportStrategySection.tsx
  frontend/packages/dev-console/src/components/import/ImportStrategySelector.tsx
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils-data.ts
  frontend/packages/dev-console/src/components/import/app/AppSection.tsx
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/import/pac/PacSection.scss
  frontend/packages/git-service/src/types/git.ts
  frontend/packages/git-service/src/utils/__tests__/import-strategy-detector.spec.ts
  frontend/packages/git-service/src/utils/import-strategy-detector.ts
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-add-options.feature
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-from-add-options.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipeline-as-code.ts
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/import/import-types.ts
  frontend/packages/pipelines-plugin/src/components/import/pipeline/PacInfoPanel.tsx
  frontend/packages/pipelines-plugin/src/components/import/pipeline/PacSection.scss
  frontend/packages/pipelines-plugin/src/components/import/pipeline/PacSection.tsx
  frontend/packages/pipelines-plugin/src/components/import/pipeline/PipelineTemplate.tsx
  frontend/packages/pipelines-plugin/src/components/repository/sections/RepositoryFormSection.tsx
  frontend/public/components/build.tsx
Labels: approved, lgtm, component/shared, component/dev-console, component/core, component/git-service, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines

#12498 OCPBUGS-186: PipelineRun task status overlaps status text
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunHeader.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/pipelines, jira/valid-bug, jira/severity-low, jira/valid-reference

#12502 ODC-7226: update helm install and upgrade flow
  frontend/packages/console-shared/src/utils/resource-utils.ts
  frontend/packages/helm-plugin/console-extensions.json
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/src/actions/creators.ts
  frontend/packages/helm-plugin/src/actions/providers.ts
  frontend/packages/helm-plugin/src/actions/types.ts
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradePage.tsx
  frontend/packages/helm-plugin/src/topology/components/HelmReleaseGroup.tsx
  frontend/packages/helm-plugin/src/topology/components/HelmReleaseStatusDecorator.tsx
  frontend/packages/helm-plugin/src/topology/components/getHelmReleaseStatusDecorator.tsx
  frontend/packages/helm-plugin/src/topology/helm-data-transformer.ts
  frontend/packages/helm-plugin/src/topology/index.ts
  frontend/packages/helm-plugin/src/types/helm-types.ts
  frontend/packages/helm-plugin/src/utils/__tests__/helm-utils.spec.ts
  frontend/packages/helm-plugin/src/utils/helm-utils.ts
  frontend/packages/topology/src/__tests__/topology-test-data.ts
Labels: approved, lgtm, component/shared, docs-approved, qe-approved, px-approved, kind/i18n, component/helm, component/topology, jira/valid-reference

#12434 OCPBUGS-5733: Remove description field from the PLR parameters page
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunParameters.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunParametersForm.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, kind/i18n, component/pipelines, jira/valid-bug

#12461 pf-2023-1 package updates
  dynamic-demo-plugin/yarn.lock
  frontend/package.json
  frontend/packages/console-shared/src/components/catalog/catalog-view/CatalogToolbar.tsx
  frontend/public/components/monitoring/dashboards/custom-time-range-modal.tsx
  frontend/public/components/utils/tile-view-page.jsx
  frontend/yarn.lock
Labels: approved, lgtm, tide/merge-method-squash, component/shared, component/monitoring, component/core, docs-approved, qe-approved, px-approved, component/topology

#12490 [release-4.12] OCPBUGS-6764: Add Git Repository (PAC) showed empty permission content and non-working help link until a git url is entered
  frontend/packages/pipelines-plugin/src/components/repository/consts.ts
  frontend/packages/pipelines-plugin/src/components/repository/sections/WebhookSection.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/severity-informational, jira/valid-reference

#12504 OCPBUGS-6647: Added translation to Last used in resource type dropdown
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/locales/en/devconsole.json
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, kind/i18n, jira/valid-bug, jira/severity-low, jira/valid-reference

#12520 OCPBUGS-6967: fix typeError while creating Serverless function
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, jira/valid-bug, jira/valid-reference

#12374 CONSOLE-3334: Update copiedCSVsDisabled to contain managed clusters
  cmd/bridge/main.go
  frontend/@types/console/index.d.ts
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/utils/useClusterServiceVersion.tsx
  frontend/packages/operator-lifecycle-manager/src/utils/useClusterServiceVersionPath.tsx
  pkg/server/server.go
  pkg/serverconfig/types.go
Labels: approved, lgtm, component/backend, component/olm, docs-approved, qe-approved, px-approved

#12491 [release-4.12] OCPBUGS-6766: Fix to provide an option to delete all app resources on delete-resource modal for D/DC/KSVC
  frontend/packages/console-app/src/actions/providers/deployment-provider.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/actions/context-menu.ts
  frontend/packages/knative-plugin/src/actions/providers.ts
  frontend/public/components/modals/delete-modal.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, component/knative, component/core, kind/i18n, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12481 [release-4.10] OCPBUGS-6690: Fix NPE when displaying CSV with incomplete information
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/types.ts
  frontend/packages/operator-lifecycle-manager/src/utils/useClusterServiceVersions.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/olm, backport-risk-assessed, jira/valid-bug, jira/severity-low, jira/valid-reference

#12366 CONSOLE-3055: Introduction of multi cluster menu filter capability
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/detect-cluster/cluster.ts
  frontend/packages/console-app/src/components/detect-perspective/__tests__/useValuesForPerspectiveContext.spec.ts
  frontend/packages/console-app/src/components/detect-perspective/useValuesForPerspectiveContext.ts
  frontend/packages/console-app/src/components/nav/ClusterMenu.tsx
  frontend/packages/console-app/src/components/nav/ClusterMenuToggle.tsx
  frontend/packages/console-app/src/components/nav/NavHeader.scss
  frontend/packages/console-app/src/components/nav/NavHeader.tsx
  frontend/packages/console-app/src/components/user-preferences/namespace/NamespaceDropdown.tsx
  frontend/packages/console-app/src/components/user-preferences/perspective/__tests__/perspective.data.ts
  frontend/packages/console-app/src/consts.ts
  frontend/packages/console-shared/src/components/namespace/NamespaceDropdown.tsx
  frontend/packages/console-shared/src/hooks/perspective-utils.ts
  frontend/packages/console-shared/src/utils/utils.ts
  frontend/public/components/app.jsx
  frontend/public/components/storage-class.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, tide/merge-method-squash, component/shared, component/core, docs-approved, qe-approved, px-approved, kind/i18n

#12495 OCPBUGS-6757: Get the Event type value from the latest PLR of the Repository
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryDetails.tsx
  frontend/packages/pipelines-plugin/src/components/repository/__tests__/RepositoryDetails.spec.tsx
  frontend/packages/pipelines-plugin/src/components/repository/__tests__/repository-mock.ts
  frontend/packages/pipelines-plugin/src/components/repository/list-page/RepositoryRow.tsx
  frontend/packages/pipelines-plugin/src/components/repository/types.ts
Labels: approved, lgtm, bugzilla/valid-bug, kind/i18n, component/pipelines, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12485 [release-4.10] OCPBUGS-5296: Pan nodes into view if all nodes are not visible on load
  frontend/packages/topology/src/components/graph-view/Topology.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/topology, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#12486 [release-4.10] OCPBUGS-6754: Fix for initial showing of topology contents
  frontend/packages/topology/src/data-transforms/TopologyDataRetriever.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/topology, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#12470 OCPBUGS-4008: Make sure console refresh toast notification pops up wh…
  frontend/public/components/app.jsx
  pkg/plugins/handlers.go
  pkg/server/server.go
Labels: approved, lgtm, bugzilla/valid-bug, component/core, component/backend, jira/valid-bug, jira/severity-low, jira/valid-reference

#12554 OCPBUGS-7199, OCPBUGS-6893: Fix different CI issues
  frontend/packages/console-dynamic-plugin-sdk/src/app/features.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/flags.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-sample.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/mocks/index.tsx
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/catalog-source-details.spec.ts
  frontend/packages/operator-lifecycle-manager/src/components/modals/edit-registry-poll-interval-modal.tsx
  frontend/public/components/app-contents.tsx
  frontend/public/reducers/features.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, component/core, component/sdk, component/olm, jira/severity-critical, jira/valid-bug, jira/valid-reference

#12431 OCPBUGS-5428: Add missing SDK extensions descriptions
  frontend/packages/console-dynamic-plugin-sdk/docs/console-extensions.md
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/add-actions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/catalog.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/cluster-settings.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/create-resource.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/file-upload.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/horizontal-nav-tabs.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/import-environments.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/navigation.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/notification-alert.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/perspectives.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/pvc.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/storage-class-provisioner.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/storage-provider.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/telemetry.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/topology-details.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/topology.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/user-preferences.ts
  frontend/packages/console-plugin-shared/src/components/OverviewPage/OverviewDetailItem.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/sdk, docs-approved, jira/valid-bug, jira/severity-important

#12517 OCPBUGS-5547: Webhook Secret (1 of 2) is not removed when Knative Service is deleted
  frontend/packages/dev-console/src/actions/context-menu.ts
  frontend/packages/knative-plugin/src/actions/providers.ts
  frontend/packages/knative-plugin/src/topology/__tests__/data-transformer.spec.ts
  frontend/packages/topology/src/utils/__tests__/application-utils.spec.ts
  frontend/packages/topology/src/utils/application-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, component/knative, component/topology, jira/valid-bug, jira/severity-low, jira/valid-reference

#12536 OCPBUGS-7090: Fix that Add to navigation does nothing when pinnedResource is {}
  frontend/packages/console-shared/src/hooks/usePinnedResources.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, jira/valid-bug, jira/severity-low, jira/valid-reference

#12514 [release-4.11] OCPBUGS-6492: Add RBAC check on Create a Project link in all-namespaces pages
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/ProjectSelectPage.tsx
  frontend/packages/dev-console/src/components/SearchPage.tsx
  frontend/packages/dev-console/src/components/add/AddPage.tsx
  frontend/packages/dev-console/src/components/builds/BuildsTabListPage.tsx
  frontend/packages/dev-console/src/components/catalog/CatalogPage.tsx
  frontend/packages/dev-console/src/components/import/SamplesCatalog.tsx
  frontend/packages/dev-console/src/components/monitoring/MonitoringPage.tsx
  frontend/packages/dev-console/src/components/projects/CreateProjectListPage.tsx
  frontend/packages/dev-console/src/components/projects/details/ProjectDetailsPage.tsx
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/src/components/list-page/HelmReleaseListPage.tsx
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelineTabbedPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelinesPage.tsx
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/page/TopologyPage.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, kind/i18n, component/helm, component/topology, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/severity-low, jira/valid-reference

#12537 OCPBUGS-1748: PipelineRun templates must be fetched from OpenShift namespace
  frontend/packages/pipelines-plugin/src/components/pipelines/const.ts
  frontend/packages/pipelines-plugin/src/components/repository/repository-form-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/pipelines, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12501 OCPBUGS-2479: Right border radius is 0 for the pipeline visualization wrapper in dark mode
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualization.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/PipelineTopologyGraph.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/pipelines, jira/valid-bug, jira/severity-low, jira/valid-reference

#12187 Bug 2115265: Search page: LazyActionMenus are shown below Add/Remove from navigation button
  frontend/packages/console-shared/src/components/actions/LazyActionMenu.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, bugzilla/severity-medium

#12540 [release-4.11] OCPBUGS-7127: Editing Pipeline in the ocp console should show correct information
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/__tests__/utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12522 OCPBUGS-6610: Developer - Topology : 'Filter by resource' drop-down i18n misses
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/list-view/list-view-utils.tsx
  frontend/packages/topology/src/filters/KindFilterDropdown.tsx
  frontend/packages/topology/src/filters/__tests__/KindFilterDropdown.spec.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, kind/i18n, component/topology, jira/valid-bug, jira/severity-low, jira/valid-reference

#12562 OCPBUGS-7418: set default value for Scaling fields in Create Serverless Function form
  frontend/packages/dev-console/src/components/import/serverless-function/AddServerlessFunction.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, jira/valid-bug, jira/valid-reference

#12555 [release-4.12] OCPBUGS-7506: Fix different CI issues
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/mocks/index.tsx
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/catalog-source-details.spec.ts
  frontend/packages/operator-lifecycle-manager/src/components/modals/edit-registry-poll-interval-modal.tsx
  frontend/public/components/app-contents.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/core, component/olm, backport-risk-assessed, jira/severity-critical, jira/valid-bug, jira/valid-reference

#12480 OCPBUGS-7089, OCPBUGS-7113: move cluster menu to masthead to fix usability issues
  frontend/packages/console-app/src/components/cloud-shell/CloudShellMastheadButton.tsx
  frontend/packages/console-app/src/components/nav/ClusterMenu.tsx
  frontend/packages/console-app/src/components/nav/ClusterMenuToggle.tsx
  frontend/packages/console-app/src/components/nav/NavHeader.scss
  frontend/packages/console-app/src/components/nav/NavHeader.tsx
  frontend/public/components/_masthead.scss
  frontend/public/components/app.jsx
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/components/masthead.jsx
  frontend/public/style/_overrides.scss
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/core, kind/i18n, jira/valid-bug, jira/valid-reference

#12454 OCPBUGS-3822: improve subscription exists alert message
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
Labels: approved, lgtm, tide/merge-method-squash, bugzilla/valid-bug, component/olm, kind/i18n, jira/valid-bug, jira/valid-reference

#12559 OCPBUGS-7427: Associate wait time with method to decrease run time
  frontend/packages/integration-tests-cypress/tests/app/demo-dynamic-plugin.spec.ts
  frontend/packages/integration-tests-cypress/views/form.ts
Labels: approved, lgtm, bugzilla/valid-bug, kind/cypress, jira/valid-bug, jira/severity-low, jira/valid-reference

#12568 chore(i18n): update translations: Completed-7034-OCP 4.13/Master Branch UI Localization- Sprint 229
  frontend/packages/ceph-storage-plugin/locales/ja/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/ko/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/zh/ceph-storage-plugin.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-shared/locales/ja/console-shared.json
  frontend/packages/console-shared/locales/ko/console-shared.json
  frontend/packages/console-shared/locales/zh/console-shared.json
  frontend/packages/container-security/locales/ja/container-security.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/git-service/locales/ja/git-service.json
  frontend/packages/gitops-plugin/locales/ja/gitops-plugin.json
  frontend/packages/helm-plugin/locales/ja/helm-plugin.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/ja/lso-plugin.json
  frontend/packages/metal3-plugin/locales/ja/metal3-plugin.json
  frontend/packages/metal3-plugin/locales/zh/metal3-plugin.json
  frontend/packages/network-attachment-definition-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/packages/rhoas-plugin/locales/ja/rhoas-plugin.json
  frontend/packages/shipwright-plugin/locales/ja/shipwright-plugin.json
  frontend/packages/topology/locales/ja/topology.json
  frontend/packages/topology/locales/zh/topology.json
  frontend/packages/vsphere-plugin/locales/ja/vsphere-plugin.json
  frontend/packages/vsphere-plugin/locales/ko/vsphere-plugin.json
  frontend/packages/vsphere-plugin/locales/zh/vsphere-plugin.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, component/shared, component/dev-console, component/kubevirt, component/knative, component/ceph, component/core, component/metal3, component/olm, component/git-service, component/network-attachment-definition, component/lso, docs-approved, qe-approved, px-approved, kind/i18n, component/helm, component/topology, component/gitops, component/pipelines

#12418 OCPBUGS-266: add subject kind dropdown in the project access form
  frontend/packages/console-shared/src/components/formik-fields/field-types.ts
  frontend/packages/dev-console/integration-tests/support/pages/importYaml.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/vulnerability/project-vulnerability.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/project-access/ProjectAccess.tsx
  frontend/packages/dev-console/src/components/project-access/ProjectAccessForm.scss
  frontend/packages/dev-console/src/components/project-access/ProjectAccessForm.tsx
  frontend/packages/dev-console/src/components/project-access/__tests__/ProjectAccessForm.spec.tsx
  frontend/packages/dev-console/src/components/project-access/__tests__/project-access-form-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/project-access/__tests__/project-access-form-utils.spec.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-submit-utils.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-utils-types.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-utils.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-validation-utils.ts
  frontend/public/components/utils/headings.tsx
  frontend/public/components/utils/list-dropdown.jsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/shared, component/dev-console, component/core, kind/i18n, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12503 [release-4.12] OCPBUGS-6831: Fix crash when pinnedResources is null
  frontend/packages/console-shared/src/hooks/usePinnedResources.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/shared, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12564 OCPBUGS-7399: fix pipeline selection in Edit flow in devconsole
  frontend/packages/pipelines-plugin/src/components/import/pipeline/PipelineTemplate.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/pipelines, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12580 OCPBUGS-7787: [4.10.z] Fix kubevirt-console tests
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/virtualization.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/create-template-from-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/create-vm-from-customize-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/create-vm-from-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/source-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/template-tabs.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-actions.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-tabs.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vmi-tabs.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/index.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12325 OCPBUGS-7789: [4.11.z] Fix kubevirt-console tests
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/create-vm-from-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/source-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/template-tabs.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-actions.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-tabs.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vmi-tabs.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/kubevirt, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12553 OCPBUGS-7117: Expose endpoint to obtain copy login command URL for each cluster
  frontend/packages/console-shared/src/hoc/index.ts
  frontend/packages/console-shared/src/hoc/withRequestTokenURL.tsx
  frontend/packages/console-shared/src/hooks/index.ts
  frontend/packages/console-shared/src/hooks/useRequestTokenURL.ts
  frontend/public/components/command-line-tools.tsx
  frontend/public/components/masthead-toolbar.jsx
  pkg/server/server.go
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/core, component/backend, jira/valid-bug, jira/valid-reference

#12577 OCPBUGS-3372: Fix create silence error message adding response from the backend
  frontend/public/components/monitoring/silence-form.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, qe-approved, jira/valid-bug, jira/severity-low, jira/valid-reference

#12574 OCPBUGS-7195: E2E correct sample page clicking
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-page.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, jira/valid-bug, jira/severity-low, jira/valid-reference

#12585 OCPBUGS-1706: Switch to use labelPlural for heading
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, jira/valid-bug, jira/valid-reference

#12561 OCPBUGS-7421: fix missing i18n error and validateDOMNesting warning
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/import/pipeline/PacInfoPanel.tsx
Labels: approved, lgtm, bugzilla/valid-bug, kind/i18n, component/pipelines, jira/valid-bug, jira/severity-low, jira/valid-reference

#12552 Serverless function creation with Pipelines
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/GitImportForm.tsx
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/components/import/serverless-function/AddServerlessFunctionForm.tsx
  frontend/packages/dev-console/src/components/import/serverless-function/ServerlessFunctionStrategySection.tsx
  frontend/packages/knative-plugin/integration-tests/features/serverless/serverless-function.feature
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/common/operators.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/serverless-function.ts
  frontend/packages/knative-plugin/integration-tests/support/testData/serverless-function-node-pipeline.yaml
  frontend/packages/pipelines-plugin/src/components/import/pipeline/PipelineTemplate.tsx
  frontend/packages/pipelines-plugin/src/components/import/pipeline/__tests__/pipeline-template-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/import/pipeline/pipeline-template-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-overview/PipelineOverview.tsx
  frontend/packages/pipelines-plugin/src/components/repository/sections/WebhookSection.tsx
  frontend/packages/pipelines-plugin/src/const.ts
Labels: approved, lgtm, component/dev-console, component/knative, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines

#12563 OCPBUGS-7144: fix alignment issue of info alert on Pipeline metrics page
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetrics.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/pipelines, jira/valid-bug, jira/severity-low, jira/valid-reference

#12567 OCPBUGS-4646: delete application should delete all part-of resources
  frontend/packages/console-shared/src/utils/__tests__/pod-resource-utils.spec.ts
  frontend/packages/console-shared/src/utils/__tests__/test-resource-data.ts
  frontend/packages/topology/src/data-transforms/__tests__/__snapshots__/data-transformer.spec.ts.snap
  frontend/packages/topology/src/data-transforms/__tests__/updateModelFromFilters.spec.ts
  frontend/packages/topology/src/operators/__tests__/operator-data-transformer.spec.ts
  frontend/packages/topology/src/utils/__tests__/application-utils.spec.ts
  frontend/packages/topology/src/utils/application-utils.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/shared, component/topology, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12436 Add additional alerts datasource extension
  frontend/packages/console-dynamic-plugin-sdk/src/api/common-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/alerts.ts
  frontend/packages/console-shared/src/utils/__mocks__/alerts-and-rules-data.ts
  frontend/public/components/graphs/prometheus-rules-hook.ts
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/fetch-alerts.tsx
  frontend/public/components/monitoring/types.ts
  frontend/public/components/monitoring/utils.ts
  frontend/public/components/notification-drawer.tsx
Labels: approved, lgtm, component/shared, component/monitoring, component/core, component/sdk, docs-approved, qe-approved, px-approved

#12422 OU-110: Observe > Dashboards page: Use datasource defined in dashboard definition
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/dashboard-data-source.ts
  frontend/public/components/graphs/bar.tsx
  frontend/public/components/graphs/prometheus-poll-hook.ts
  frontend/public/components/monitoring/dashboards/bar-chart.tsx
  frontend/public/components/monitoring/dashboards/graph.tsx
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/dashboards/monitoring-dashboard-utils.ts
  frontend/public/components/monitoring/dashboards/single-stat.tsx
  frontend/public/components/monitoring/dashboards/table.tsx
  frontend/public/components/monitoring/dashboards/types.ts
  frontend/public/components/monitoring/query-browser.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/monitoring, component/core, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#12572 OCPBUGS-3450: Missing containerd and wicd service logs in Windows nodes
  frontend/packages/console-app/src/components/nodes/NodeLogs.tsx
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12584 chore(i18n): update translations: Completed-7034-OCP 4.13/Master Branch UI Localization- Sprint 230
  frontend/packages/ceph-storage-plugin/locales/ja/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/ko/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/zh/ceph-storage-plugin.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/helm-plugin/locales/ja/helm-plugin.json
  frontend/packages/helm-plugin/locales/ko/helm-plugin.json
  frontend/packages/helm-plugin/locales/zh/helm-plugin.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/operator-lifecycle-manager/locales/ko/olm.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ko/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/packages/topology/locales/ja/topology.json
  frontend/packages/topology/locales/ko/topology.json
  frontend/packages/topology/locales/zh/topology.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, component/dev-console, component/kubevirt, component/knative, component/ceph, component/core, component/olm, docs-approved, qe-approved, px-approved, kind/i18n, component/helm, component/topology, component/pipelines

#12571 OCPBUGS-7806: Add NFS-export details for PersistentVolume details
  frontend/public/components/persistent-volume.jsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, component/core, kind/i18n, jira/valid-bug, jira/valid-reference

#12482 [release-4.9] OCPBUGS-6694: Fix NPE when displaying CSV with incomplete information
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/types.ts
  frontend/packages/operator-lifecycle-manager/src/utils/useClusterServiceVersions.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/olm, backport-risk-assessed, jira/valid-bug, jira/severity-low, jira/valid-reference

#12594 OCPBUGS-7879: fix devfile error
  frontend/packages/dev-console/src/components/import/devfile/__tests__/devfile-utils.spec.ts
  frontend/packages/dev-console/src/components/import/devfile/devfile-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, jira/valid-bug, jira/severity-important, jira/valid-reference

#11493 Bug 2076619: Modified git import flow module to handle create button enable-disable issue
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-git.feature
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-git.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/ImportStrategySection.tsx
  frontend/packages/dev-console/src/components/import/ImportStrategySelector.tsx
  frontend/packages/dev-console/src/components/import/devfile/DevfileStrategySection.tsx
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, bugzilla/severity-medium, kind/i18n

#12589 OCPBUGS-7308: remove 'Download kubeconfig file' from ServiceAccounts
  frontend/public/components/service-account.jsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/core, kind/i18n, jira/valid-bug, jira/valid-reference

#12440 [release-4.9] OCPBUGS-53: Non-existing link in the "Learn more about OpenShift update channels" in "Select Channel" pop-up.
  frontend/public/components/cluster-settings/cluster-settings.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/core, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12541 OCPBUGS-7031: Pipelines repository list and creation form doesn't show Tech Preview status
  frontend/packages/pipelines-plugin/src/components/repository/list-page/RepositoriesList.tsx
  frontend/packages/pipelines-plugin/src/components/repository/sections/RepositoryFormSection.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/pipelines, jira/valid-bug, jira/severity-informational, jira/valid-reference

#12592 OCPBUGS-7971: Monitoring: Fix "Label" filter on "Alerting rules" list page
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/monitoring/alerting.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, jira/valid-bug, jira/valid-reference

#12590 OCPBUGS-7970: always close filter dropdown
  frontend/packages/integration-tests-cypress/views/list-page.ts
Labels: approved, lgtm, bugzilla/valid-bug, kind/cypress, jira/valid-bug, jira/valid-reference

#12557 OCPBUGS-5773: Delete secret on async run error
  pkg/helm/actions/install_chart.go
  pkg/helm/actions/upgrade_release.go
Labels: approved, lgtm, bugzilla/valid-bug, component/backend, docs-approved, px-approved, jira/valid-bug, jira/valid-reference

#12549 IR-267: add details for submanifest to the ImageStreamTag
  frontend/public/components/image-stream-tag.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference
