Repository openshift/console, pull requests merged in 2023-01, with the labels that each got.

#12394 Health checks topology sidebar feature automation
  frontend/packages/dev-console/integration-tests/cypress.json
  frontend/packages/dev-console/integration-tests/features/healthChecks/add-health-checks-topology-sidebar.feature
  frontend/packages/dev-console/integration-tests/features/user-preferences/user-preferences-dev-perspective.feature
  frontend/packages/dev-console/integration-tests/support/pages/addHealthChecks-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/health-checks/add-health-checks-topology-sidebar.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/monitoring/topology-sidebar-actions.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-actions-page.ts
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, component/topology

#12362 OCPBUGS-4700: only show upgrade details if cluster not externally man…
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/modals/cluster-more-updates-modal.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, jira/valid-bug, jira/severity-low

#12386 OCPBUGS-3033: Make all feature flags available in perspective extensi…
  frontend/packages/console-dynamic-plugin-sdk/src/app/features.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/flags.ts
  frontend/public/components/app-contents.tsx
  frontend/public/reducers/features.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/core, component/sdk, jira/valid-bug, jira/severity-moderate

#12333 OCPBUGS-4279: Upgrade pf 2022 13
  frontend/@types/console/VictoryPortal.d.ts
  frontend/package.json
  frontend/packages/console-app/src/components/nodes/NodeLogs.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-console/connectors/SerialConsoleConnector.tsx
  frontend/packages/kubevirt-plugin/src/selectors/service/rdp/index.ts
  frontend/public/components/graphs/tooltip.tsx
  frontend/public/components/utils/resource-log.tsx
  frontend/yarn.lock
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, component/monitoring, component/core, qe-approved, jira/valid-bug, jira/severity-moderate

#12335 ODC-7188: On importing application via import from git flow pac should be configured for the application
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-git.feature
  frontend/packages/dev-console/integration-tests/features/e2e/add-flow-ci.feature
  frontend/packages/dev-console/integration-tests/features/getting-started/sample-card-add-page.feature
  frontend/packages/dev-console/integration-tests/support/constants/add.ts
  frontend/packages/dev-console/integration-tests/support/constants/pageTitle.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/index.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/pac-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/samples-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-sample.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-pac-repo.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-data.ts
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/dev-console/src/components/import/GitImportForm.tsx
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/ImportSamplePage.tsx
  frontend/packages/dev-console/src/components/import/ImportStrategySection.tsx
  frontend/packages/dev-console/src/components/import/ImportStrategySelector.tsx
  frontend/packages/dev-console/src/components/import/PacIcon.tsx
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils-data.ts
  frontend/packages/dev-console/src/components/import/app/AppSection.tsx
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/import/pac/PacSection.scss
  frontend/packages/dev-console/src/components/import/pac/PacSection.tsx
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/bitbucket/no-tekton.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/bitbucket/tekton.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/no-tekton.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/tekton.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/gitlab/no-tekton.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/gitlab/tekton.json
  frontend/packages/git-service/src/services/__tests__/bitbucket-service.spec.ts
  frontend/packages/git-service/src/services/__tests__/github-service.spec.ts
  frontend/packages/git-service/src/services/__tests__/gitlab-service.spec.ts
  frontend/packages/git-service/src/services/base-service.ts
  frontend/packages/git-service/src/services/bitbucket-service.ts
  frontend/packages/git-service/src/services/github-service.ts
  frontend/packages/git-service/src/services/gitlab-service.ts
  frontend/packages/git-service/src/types/git.ts
  frontend/packages/git-service/src/utils/__tests__/import-strategy-detector.spec.ts
  frontend/packages/git-service/src/utils/import-strategy-detector.ts
  frontend/packages/git-service/src/utils/pac-strategy-detector.ts
  frontend/packages/pipelines-plugin/src/components/repository/__tests__/repository-form-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/repository/consts.ts
  frontend/packages/pipelines-plugin/src/components/repository/hooks/pac-hook.ts
  frontend/packages/pipelines-plugin/src/components/repository/repository-form-utils.ts
  frontend/packages/pipelines-plugin/src/components/repository/sections/AdvancedConfigurations.tsx
  frontend/packages/pipelines-plugin/src/components/repository/sections/ConfigTypeSection.tsx
  frontend/packages/pipelines-plugin/src/components/repository/sections/PermissionsSection.tsx
  frontend/packages/pipelines-plugin/src/components/repository/sections/RepositoryFormSection.tsx
  frontend/packages/pipelines-plugin/src/components/repository/sections/WebhookSection.tsx
  frontend/packages/pipelines-plugin/src/components/repository/types.ts
  frontend/public/components/build.tsx
Labels: approved, lgtm, component/shared, component/dev-console, component/monitoring, component/core, component/sdk, component/backend, component/git-service, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines

#12361 OCPBUGS-4701: display 'Control plane is hosted' alert only when isCl…
  frontend/__tests__/components/cluster-settings.spec.tsx
  frontend/public/components/cluster-settings/cluster-settings.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, jira/valid-bug, jira/severity-low

#12363 OCPBUGS-1606: Do not filter spoke cluster operators by arch/os
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, jira/valid-bug, jira/severity-moderate

#12405 OCPBUGS-4047: disable key/value secrets test as they fail at a high rate
  frontend/packages/integration-tests-cypress/tests/crud/secrets.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, kind/cypress, jira/valid-bug

#12401 HELM-471:Modify list releases response
  docs/helm/endpoints_api.md
  frontend/packages/helm-plugin/src/components/list-page/HelmReleaseList.tsx
  frontend/packages/helm-plugin/src/utils/helm-utils.ts
  pkg/helm/actions/list_releases.go
  pkg/helm/actions/list_releases_test.go
  pkg/helm/handlers/handler_test.go
  pkg/helm/handlers/handlers.go
Labels: approved, lgtm, component/backend, docs-approved, qe-approved, px-approved, component/helm

#12406 OCPBUGS-5287: disable operator-install-single-namespace.spec.ts until…
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-single-namespace.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, jira/valid-bug, jira/severity-moderate

#12373 OCPBUGS-2145: maxUnavailable and minAvailable on PDB creation page - i18n misses
  frontend/packages/console-app/src/components/pdb/PDBForm.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, jira/valid-bug, jira/severity-low

#12390 Bug 2083087: Fix to provide an option to delete all app resources on delete-resource modal for D/DC/KSVC
  frontend/packages/console-app/src/actions/providers/deployment-provider.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/actions/context-menu.ts
  frontend/packages/knative-plugin/src/actions/providers.ts
  frontend/public/components/modals/delete-modal.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, component/knative, component/core, bugzilla/severity-medium, kind/i18n

#12263 OCPBUGS-3334: Fix type inconsistencies and Readme for DynamicPlugins
  dynamic-demo-plugin/README.md
  frontend/public/module/k8s/types.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/core, jira/valid-bug

#12378 [release-4.12] OCPBUGS-4960: Fix that topology sidebar actions shows outdated data (Edit Pod Count, Edit labels, Edit annotations, etc.)
  frontend/packages/helm-plugin/src/actions/providers.ts
  frontend/packages/topology/src/actions/TopologyActions.tsx
  frontend/packages/topology/src/actions/provider.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/helm, component/topology, backport-risk-assessed, jira/valid-bug, jira/severity-important

#12410 OCPBUGS-5346: Change vSphere connection health status icon
  frontend/packages/vsphere-plugin/locales/en/vsphere-plugin.json
  frontend/packages/vsphere-plugin/src/components/ClusterOverview/VSphereStatus.tsx
  frontend/packages/vsphere-plugin/src/components/getVSphereHealth.ts
Labels: approved, lgtm, bugzilla/valid-bug, qe-approved, jira/valid-bug

#12399 OU-121: Monitoring: Convert Alerting list pages to use plugin SDK list filters
  frontend/packages/integration-tests-cypress/tests/i18n/pseudolocalization.spec.ts
  frontend/packages/operator-lifecycle-manager/src/components/catalog-source.tsx
  frontend/public/components/factory/list-page.tsx
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/factory/table.tsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/targets.tsx
  frontend/public/components/monitoring/types.ts
  frontend/public/components/monitoring/utils.ts
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/monitoring, component/core, component/olm, docs-approved, qe-approved, px-approved, kind/i18n, kind/cypress

#12387 OCPBUGS-4571: Operator recommended namespace during installation incorrect.
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, jira/valid-bug

#12379 OCPBUGS-4894: Disabled Serverless add actions should not be displayed for Knative Service
  frontend/packages/knative-plugin/src/actions/providers.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/knative, jira/valid-bug, jira/severity-low

#12423 OCPBUGS-5540: fixes typo for milliseconds
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/cloud-shell/setup/TimeoutSection.tsx
  frontend/packages/console-app/src/components/cloud-shell/setup/cloud-shell-types.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/core, kind/i18n, jira/valid-bug, jira/severity-low

#12383 OCPBUGS-4377: Service name search ability while creating the Route from console
  frontend/public/components/routes/create-route.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, jira/valid-bug, jira/severity-low

#12336 OCPBUGS-1852: Subscription tab for operator doesn't land on correct URL
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, jira/valid-bug, jira/severity-important

#12428 OCPBUGS-5542: Project dropdown order is not as smart as project list page order
  frontend/packages/console-app/src/components/user-preferences/namespace/NamespaceDropdown.tsx
  frontend/packages/console-shared/src/components/namespace/NamespaceDropdown.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/core, jira/valid-bug, jira/severity-informational

#12420 Bug 2110565: PDB Remove add/edit/remove actions in Pod resource action menu
  frontend/packages/console-app/src/actions/providers/pod-provider.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/core, bugzilla/severity-low

#12073 Correcting Pipelines Package Failures
  frontend/packages/dev-console/integration-tests/support/commands/app.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/installOperatorOnCluster.ts
  frontend/packages/pipelines-plugin/integration-tests/features/e2e/pipeline-ci.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-add-options.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-builder-page.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/event-tab-in-pipeline-run-page.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipeline-metrics.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-as-code.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-runs.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-workspaces.feature
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineBuilder-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/common/pipelines.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-from-builder-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-pipeline-YAML-Editor.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/event-tab-in-pipeline-run-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipeline-as-code.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipeline-metrics.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipeline-task-runs-display.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-runs.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-workspaces.ts
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, component/pipelines

#12421 CONSOLE-3389: Use Cypress mock responses for multicluster cluster switcher and pod test
  frontend/packages/console-app/src/components/nav/NavHeader.tsx
  frontend/packages/integration-tests-cypress/tests/app/multi-cluster.spec.ts
  frontend/packages/integration-tests-cypress/views/nav.ts
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/cypress

#12433 OCPBUGS-5851: Using OLM descriptor components deletes operand
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/descriptors.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, jira/valid-bug

#12446 OCPBUGS-5016: Editing Pipeline in the ocp console should show correct information
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/utils.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/pipelines, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12411 ODC-7210: Create Serverless function using the Import from the Git with Builder Images
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/buildconfig/sections/__tests__/SourceSection.spec.tsx
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-data.ts
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/dev-console/src/components/import/DeployImage.tsx
  frontend/packages/dev-console/src/components/import/GitImportForm.tsx
  frontend/packages/dev-console/src/components/import/ImportStrategySection.tsx
  frontend/packages/dev-console/src/components/import/ImportStrategySelector.tsx
  frontend/packages/dev-console/src/components/import/ServerlessFxIcon.tsx
  frontend/packages/dev-console/src/components/import/__mocks__/upload-jar-mock.ts
  frontend/packages/dev-console/src/components/import/advanced/AdvancedSection.tsx
  frontend/packages/dev-console/src/components/import/advanced/BuildConfigSection.tsx
  frontend/packages/dev-console/src/components/import/advanced/__tests__/BuildConfigSection.spec.tsx
  frontend/packages/dev-console/src/components/import/builder/BuilderImageTagSelector.tsx
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/import/serverlessfunc/FuncSection.scss
  frontend/packages/dev-console/src/components/import/serverlessfunc/FuncSection.tsx
  frontend/packages/dev-console/src/components/import/serverlessfunc/func-utils.ts
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/bitbucket/func.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/bitbucket/no-func.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/func.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/github/no-func.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/gitlab/func-yaml.json
  frontend/packages/git-service/src/services/__tests__/__nock-fixtures__/gitlab/no-func-yaml.json
  frontend/packages/git-service/src/services/__tests__/bitbucket-service.spec.ts
  frontend/packages/git-service/src/services/__tests__/github-service.spec.ts
  frontend/packages/git-service/src/services/__tests__/gitlab-service.spec.ts
  frontend/packages/git-service/src/services/base-service.ts
  frontend/packages/git-service/src/services/bitbucket-service.ts
  frontend/packages/git-service/src/services/github-service.ts
  frontend/packages/git-service/src/services/gitlab-service.ts
  frontend/packages/git-service/src/types/git.ts
  frontend/packages/git-service/src/utils/__tests__/import-strategy-detector.spec.ts
  frontend/packages/git-service/src/utils/import-strategy-detector.ts
  frontend/packages/git-service/src/utils/serverless-strategy-detector.ts
  frontend/packages/knative-plugin/integration-tests/features/serverless/serverless-function.feature
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/create-serverless-function.ts
  frontend/packages/knative-plugin/src/types.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-serving-data.ts
  frontend/packages/knative-plugin/src/utils/create-knative-utils.ts
Labels: approved, lgtm, component/dev-console, component/knative, component/core, component/git-service, docs-approved, qe-approved, px-approved, kind/i18n

#12309 [release-4.8] OCPBUGS-4120: Show already loaded catalog items after a timeout (3sec)
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-catalog.feature
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/catalog-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-catalog.ts
  frontend/packages/dev-console/src/components/catalog/service/CatalogServiceProvider.tsx
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-navigation.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/create-knative-workload.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/common/common.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, component/knative, component/helm, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/severity-important

#12155 OCPBUGS-1598: updates toast wording to Workload
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/toast/ImportToastContent.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/dev-console, kind/i18n, jira/valid-bug, jira/severity-low

#12451 OCPBUGS-5851: delete existing operand via CLI to workaround failing t…
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/descriptors.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, jira/valid-bug

#12416 OCPBUGS-4684: In DeploymentConfig both the Form view and Yaml view are not in sync
  frontend/packages/dev-console/src/components/edit-deployment/utils/edit-deployment-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, jira/valid-bug, jira/severity-moderate

#12427 OCPBUGS-5534: add polling of plugin-manifest.json to PollConsoleUpdates
  frontend/packages/integration-tests-cypress/tests/app/poll-console-updates.spec.ts
  frontend/packages/integration-tests-cypress/views/form.ts
  frontend/public/components/app.jsx
Labels: approved, lgtm, tide/merge-method-squash, bugzilla/valid-bug, component/core, kind/cypress, jira/valid-bug, jira/severity-moderate

#12442 OCPBUGS-6272: Start the pipeline with workspace
  frontend/packages/pipelines-plugin/integration-tests/features/e2e/pipeline-ci.feature
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-runs.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, component/pipelines, jira/valid-bug, jira/valid-reference

#12450 OCPBUGS-6053: fix run-time error on Cluster Settings when availableUp…
  frontend/public/components/cluster-settings/cluster-settings.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, jira/valid-bug, jira/valid-reference

#12453 OCPBUGS-5851: refactor descriptors test to remove interdependencies
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/descriptors.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, jira/valid-bug

#12460 OCPBUGS-3228: fix broken pipeline secret
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/SecretForm.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/pipelines, jira/valid-bug, jira/valid-reference

#12444 OCPBUGS-6634: Enable building tectonic-console-builder on arm64 and fix the Dockerfile.product to work with no cached artifacts
  Dockerfile
  Dockerfile.builder
  Dockerfile.product
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug, jira/valid-reference

#12449 OCPBUGS-6049: Do not show UpdateInProgress when status is Failing
  frontend/public/components/cluster-settings/cluster-settings.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, jira/valid-bug, jira/valid-reference

#12084 Bug 2084452: PodDisruptionBudgets help message should be semantic
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/pdb/PodDisruptionBudgetField.tsx
  frontend/public/components/utils/details-item.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/monitoring, component/core, bugzilla/severity-low, kind/i18n

#12478 OCPBUGS-6689: Fix NPE when displaying CSV with incomplete information
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/olm, backport-risk-assessed, jira/valid-bug, jira/severity-low, jira/valid-reference

#12432 ODC-7225: Update Helm Releases list page and the details page
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/status/Status.tsx
  frontend/packages/dev-console/integration-tests/support/pageObjects/helm-po.ts
  frontend/packages/helm-plugin/integration-tests/features/helm-release.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/actions-on-helm-release-after-upgrade.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/actions-on-helm-release.feature
  frontend/packages/helm-plugin/integration-tests/support/pages/helm/helm-details-page.ts
  frontend/packages/helm-plugin/integration-tests/support/pages/helm/helm-page.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-navigation.ts
  frontend/packages/helm-plugin/src/actions/providers.ts
  frontend/packages/helm-plugin/src/actions/types.ts
  frontend/packages/helm-plugin/src/components/__tests__/helm-release-mock-data.ts
  frontend/packages/helm-plugin/src/components/details-page/HelmReleaseDetails.tsx
  frontend/packages/helm-plugin/src/components/details-page/HelmReleaseDetailsPage.tsx
  frontend/packages/helm-plugin/src/components/details-page/history/HelmReleaseHistoryRow.tsx
  frontend/packages/helm-plugin/src/components/details-page/overview/HelmChartSummary.tsx
  frontend/packages/helm-plugin/src/components/forms/rollback/RevisionListRow.tsx
  frontend/packages/helm-plugin/src/components/list-page/HelmReleaseListRow.tsx
  frontend/packages/helm-plugin/src/types/helm-types.ts
  frontend/packages/helm-plugin/src/utils/__tests__/helm-utils.spec.ts
  frontend/packages/helm-plugin/src/utils/helm-utils.ts
Labels: approved, lgtm, component/dev-console, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n, component/helm

#12430 Update ODC owner files
  dynamic-demo-plugin/OWNERS
  frontend/packages/console-telemetry-plugin/OWNERS
  frontend/packages/dev-console/OWNERS
  frontend/packages/git-service/OWNERS
  frontend/packages/gitops-plugin/OWNERS
  frontend/packages/helm-plugin/OWNERS
  frontend/packages/knative-plugin/OWNERS
  frontend/packages/pipelines-plugin/OWNERS
  frontend/packages/service-binding-plugin/OWNERS
  frontend/packages/shipwright-plugin/OWNERS
  frontend/packages/topology/OWNERS
Labels: approved, lgtm, component/dev-console, component/knative, component/git-service, docs-approved, qe-approved, px-approved, component/helm, component/topology, component/gitops, component/pipelines

#12396 add create serverless function form and add action on add page
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/integration-tests/support/constants/add.ts
  frontend/packages/dev-console/integration-tests/support/constants/pageTitle.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-page.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/package.json
  frontend/packages/dev-console/src/actions/add-resources.tsx
  frontend/packages/dev-console/src/actions/providers.tsx
  frontend/packages/dev-console/src/components/import/advanced/AdvancedSection.tsx
  frontend/packages/dev-console/src/components/import/builder/ImageStreamInfo.tsx
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/components/import/serverless-function/AddServerlessFunction.tsx
  frontend/packages/dev-console/src/components/import/serverless-function/AddServerlessFunctionForm.tsx
  frontend/packages/dev-console/src/components/import/serverless-function/ServerlessFunctionPage.tsx
  frontend/packages/dev-console/src/components/import/serverless-function/ServerlessFunctionStrategySection.tsx
  frontend/packages/dev-console/src/components/import/serverless-function/index.ts
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/integration-tests/features/serverless/serverless-function.feature
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/serverless-function.ts
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/components/overview/ServerlessFunctionType.tsx
  frontend/packages/knative-plugin/src/utils/create-knative-utils.ts
  frontend/packages/knative-plugin/src/utils/icons.tsx
Labels: approved, kind/feature, lgtm, component/dev-console, component/knative, component/core, component/git-service, docs-approved, qe-approved, px-approved, kind/i18n

#12279 OCPBUGS-2666: Add RBAC check on Create a Project link in all-namespaces pages
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/ProjectSelectPage.tsx
  frontend/packages/dev-console/src/components/SearchPage.tsx
  frontend/packages/dev-console/src/components/add/AddPage.tsx
  frontend/packages/dev-console/src/components/builds/BuildsTabListPage.tsx
  frontend/packages/dev-console/src/components/catalog/CatalogPage.tsx
  frontend/packages/dev-console/src/components/import/SamplesCatalog.tsx
  frontend/packages/dev-console/src/components/monitoring/MonitoringPage.tsx
  frontend/packages/dev-console/src/components/projects/CreateProjectListPage.tsx
  frontend/packages/dev-console/src/components/projects/details/ProjectDetailsPage.tsx
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/src/components/list-page/HelmTabbedPage.tsx
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelineTabbedPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelinesPage.tsx
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/page/TopologyPage.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, kind/i18n, component/helm, component/topology, component/pipelines, jira/valid-bug, jira/severity-moderate

#12464 Query browser: Remove unused `wrapperClassName` prop
  frontend/public/components/monitoring/query-browser.tsx
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved

#12426 add preferred tab per user for dev perspective Pipelines page and make PipelineRuns tab default for Repository details page
  frontend/packages/dev-console/integration-tests/support/constants/pageTitle.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipeline-navigation.feature
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/repositories-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/repositoryDetails-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipeline-as-code.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipeline-navigation.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelineTabbedPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/__tests__/PipelineTabbedPage.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/list-page/PipelineAugmentRunsWrapper.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/list-page/__tests__/PipelineAugmentRunsWrapper.spec.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryLinkList.tsx
  frontend/packages/pipelines-plugin/src/components/repository/list-page/RepositoriesList.tsx
  frontend/packages/pipelines-plugin/src/components/repository/list-page/RepositoryRow.tsx
  frontend/packages/pipelines-plugin/src/components/repository/sections/RepositoryOverview.tsx
  frontend/packages/pipelines-plugin/src/const.ts
Labels: approved, kind/feature, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, component/pipelines

#12471 OCPBUGS-6660: make Uninstall Operator checkbox instructions optional
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, kind/i18n, jira/valid-bug, jira/valid-reference

#12445 OCPBUGS-5997: Add Git Repository (PAC) showed empty permission content and non-working help link until a git url is entered
  frontend/packages/pipelines-plugin/src/components/repository/consts.ts
  frontend/packages/pipelines-plugin/src/components/repository/sections/WebhookSection.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/pipelines, jira/valid-bug, jira/severity-informational

#12384 OCPBUGS-4883: Default Git type to other info alert should get remove after changing the git type
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, jira/valid-bug, jira/severity-moderate

#12456 OCPBUGS-6098: Show Git icon and repo link as per the Git provider
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryLinkList.tsx
  frontend/packages/pipelines-plugin/src/components/repository/consts.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/pipelines, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12285 chore(i18n): update translations: : Completed-7034-OCP 4.12/Master Branch UI Localization- Sprint 225 & 228
  frontend/packages/ceph-storage-plugin/locales/ja/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/ko/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/zh/ceph-storage-plugin.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-shared/locales/ja/console-shared.json
  frontend/packages/console-shared/locales/ko/console-shared.json
  frontend/packages/console-shared/locales/zh/console-shared.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/gitops-plugin/locales/ja/gitops-plugin.json
  frontend/packages/helm-plugin/locales/ja/helm-plugin.json
  frontend/packages/helm-plugin/locales/ko/helm-plugin.json
  frontend/packages/helm-plugin/locales/zh/helm-plugin.json
  frontend/packages/insights-plugin/locales/ja/insights-plugin.json
  frontend/packages/insights-plugin/locales/ko/insights-plugin.json
  frontend/packages/insights-plugin/locales/zh/insights-plugin.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/ja/lso-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/ko/lso-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/zh/lso-plugin.json
  frontend/packages/metal3-plugin/locales/ja/metal3-plugin.json
  frontend/packages/metal3-plugin/locales/zh/metal3-plugin.json
  frontend/packages/network-attachment-definition-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/operator-lifecycle-manager/locales/ko/olm.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/patternfly/locales/ja/notification-drawer.json
  frontend/packages/patternfly/locales/ko/notification-drawer.json
  frontend/packages/patternfly/locales/zh/notification-drawer.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ko/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/packages/rhoas-plugin/locales/ja/rhoas-plugin.json
  frontend/packages/service-binding-plugin/locales/ja/service-binding-plugin.json
  frontend/packages/service-binding-plugin/locales/ko/service-binding-plugin.json
  frontend/packages/service-binding-plugin/locales/zh/service-binding-plugin.json
  frontend/packages/shipwright-plugin/locales/ja/shipwright-plugin.json
  frontend/packages/shipwright-plugin/locales/ko/shipwright-plugin.json
  frontend/packages/shipwright-plugin/locales/zh/shipwright-plugin.json
  frontend/packages/topology/locales/ja/topology.json
  frontend/packages/topology/locales/ko/topology.json
  frontend/packages/topology/locales/zh/topology.json
  frontend/packages/vsphere-plugin/locales/ja/vsphere-plugin.json
  frontend/packages/vsphere-plugin/locales/ko/vsphere-plugin.json
  frontend/packages/vsphere-plugin/locales/zh/vsphere-plugin.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, component/shared, component/dev-console, component/kubevirt, component/knative, component/ceph, component/core, component/metal3, component/olm, component/network-attachment-definition, component/lso, docs-approved, qe-approved, px-approved, component/insights, kind/i18n, component/helm, component/topology, component/gitops, component/pipelines

#12497 OCPBUGS-6799: Repositories list does not show the running pipelinerun as last pipelinerun
  frontend/packages/pipelines-plugin/src/components/repository/list-page/RepositoryRow.tsx
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug, jira/valid-reference

#12465 HELM-479: Uninstall the Helm Charts Asynchronously
  docs/helm/endpoints_api.md
  pkg/helm/actions/install_chart.go
  pkg/helm/actions/install_chart_test.go
  pkg/helm/actions/uninstall_release.go
  pkg/helm/actions/uninstall_release_test.go
  pkg/helm/actions/upgrade_release.go
  pkg/helm/actions/upgrade_release_test.go
  pkg/helm/actions/utility.go
  pkg/helm/handlers/handler_test.go
  pkg/helm/handlers/handlers.go
  pkg/server/server.go
Labels: approved, lgtm, component/backend, docs-approved, qe-approved, px-approved, jira/valid-reference
