Repository openshift/console, pull requests merged in 2023-05, with the labels that each got.

#12795 Bug 2176216: VMs are listed twice in cluster inventory
  frontend/packages/kubevirt-plugin/console-extensions.json
Labels: approved, lgtm, bugzilla/valid-bug, component/kubevirt, bugzilla/severity-unspecified

#12750 [release-4.12] OCPBUGS-12232: Fix for broken Create key/value secrets e2e tests
  frontend/packages/integration-tests-cypress/tests/crud/secrets.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, qe-approved, kind/cypress, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#12715 [release-4.12] OCPBUGS-11601: Move operator install status to it's own …
  frontend/packages/operator-lifecycle-manager/console-extensions.json
  frontend/packages/operator-lifecycle-manager/package.json
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-install-page.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/olm, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12770 [release-4.12] OCPBUGS-9336: use buildconfig form also for create
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/buildconfig/BuildConfigForm.tsx
  frontend/packages/dev-console/src/components/buildconfig/EditBuildConfig.tsx
  frontend/packages/dev-console/src/components/buildconfig/form-utils/validation.ts
  frontend/packages/dev-console/src/components/buildconfig/sections/ImagesSection.tsx
  frontend/packages/dev-console/src/components/edit-deployment/ContainerField.tsx
  frontend/packages/dev-console/src/plugin.tsx
  frontend/packages/integration-tests-cypress/tests/crud/resource-crud.spec.ts
  frontend/public/components/build-config.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, component/core, kind/i18n, kind/cypress, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12525 CONSOLE-3622: k8sResourcePrefix x-descriptor labelSelector filtering support
  frontend/packages/console-shared/src/components/dynamic-form/widgets.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/const.ts
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/reference/reference.md
  frontend/packages/operator-lifecycle-manager/src/components/operand/utils.spec.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand/utils.ts
  frontend/public/components/utils/list-dropdown.jsx
Labels: approved, lgtm, ok-to-test, tide/merge-method-squash, component/shared, component/core, component/sdk, component/olm, docs-approved, qe-approved, px-approved, jira/valid-reference

#12708 ODC-7296: Rename all instances of YAMLEditor to CodeEditor
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/editor/CodeEditor.scss
  frontend/packages/console-shared/src/components/editor/CodeEditor.tsx
  frontend/packages/console-shared/src/components/editor/CodeEditorSidebar.tsx
  frontend/packages/console-shared/src/components/editor/CodeEditorToolbar.scss
  frontend/packages/console-shared/src/components/editor/CodeEditorToolbar.tsx
  frontend/packages/console-shared/src/components/formik-fields/CodeEditorField.scss
  frontend/packages/console-shared/src/components/formik-fields/CodeEditorField.tsx
  frontend/packages/console-shared/src/components/formik-fields/__tests__/SyncedEditorField.spec.tsx
  frontend/packages/console-shared/src/components/formik-fields/field-types.ts
  frontend/packages/console-shared/src/components/formik-fields/index.ts
  frontend/packages/dev-console/src/components/buildconfig/BuildConfigForm.tsx
  frontend/packages/dev-console/src/components/deployments/DeploymentForm.tsx
  frontend/packages/dev-console/src/components/hpa/HPAForm.tsx
  frontend/packages/helm-plugin/src/components/forms/HelmChartRepository/CreateHelmChartRepositoryForm.tsx
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradeForm.tsx
  frontend/packages/knative-plugin/src/components/add/EventSinkForm.tsx
  frontend/packages/knative-plugin/src/components/add/EventSourceForm.tsx
  frontend/packages/knative-plugin/src/components/add/brokers/AddBrokerForm.tsx
  frontend/packages/knative-plugin/src/components/add/channels/ChannelForm.tsx
  frontend/packages/knative-plugin/src/components/test-function/modal-components/RequestBody.tsx
  frontend/packages/knative-plugin/src/components/test-function/modal-components/ResponseBody.tsx
  frontend/packages/kubevirt-plugin/src/components/form-with-editor/FormWithEditor.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/packages/pipelines-plugin/src/components/repository/sections/RepositoryOverview.tsx
  frontend/public/components/AsyncCodeEditor.tsx
  frontend/public/components/AsyncYAMLEditor.tsx
  frontend/public/components/configmaps/ConfigMapFormEditor.tsx
  frontend/public/components/edit-yaml.jsx
  frontend/public/components/routes/RouteForm.tsx
Labels: approved, lgtm, component/shared, component/dev-console, component/kubevirt, component/knative, component/core, component/sdk, component/olm, docs-approved, qe-approved, px-approved, kind/i18n, component/helm, component/pipelines, jira/valid-reference

#12768 HELM-484: Basic authentication documentation update
  docs/helm/configure-namespaced-helm-repos.md
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, jira/valid-reference

#12787 CONSOLE-3633: Add ability to show/hide tooltips in the yaml editor
  frontend/packages/console-shared/src/constants/common.ts
  frontend/public/components/edit-yaml.jsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, tide/merge-method-squash, component/shared, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#12700 ODC-7279: Correcting CI failures of ODC Packages
  frontend/packages/dev-console/integration-tests/features/e2e/add-flow-ci.feature
  frontend/packages/dev-console/integration-tests/support/commands/app.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-git.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/actions-on-knative-service.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineBuilder-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-secrets.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-page.ts
Labels: approved, lgtm, component/dev-console, component/knative, docs-approved, qe-approved, px-approved, component/topology, component/pipelines, jira/valid-reference

#12794 OCPBUGS-12244: only copy workload annotations to debug pod
  frontend/public/components/debug-terminal.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, jira/valid-bug, jira/severity-important, jira/valid-reference

#12802 ODC-7309: Remove dev console integration-tests reviewers
  frontend/packages/dev-console/integration-tests/OWNERS
  frontend/packages/gitops-plugin/integration-tests/OWNERS
  frontend/packages/helm-plugin/integration-tests/OWNERS
  frontend/packages/knative-plugin/integration-tests/OWNERS
  frontend/packages/pipelines-plugin/integration-tests/OWNERS
  frontend/packages/shipwright-plugin/integration-tests/OWNERS
  frontend/packages/topology/integration-tests/OWNERS
Labels: approved, lgtm, component/dev-console, component/knative, docs-approved, qe-approved, px-approved, component/helm, component/topology, component/gitops, component/pipelines, jira/valid-reference

#12799 OCPBUGS-13361: Update plural string dynamic demo plugin locales
  dynamic-demo-plugin/locales/en/plugin__console-demo-plugin.json
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug, jira/valid-reference

#12772 [release-4.11] OCPBUGS-10708: delete application should delete all part-of resources
  frontend/packages/console-shared/src/utils/__tests__/pod-resource-utils.spec.ts
  frontend/packages/console-shared/src/utils/__tests__/test-resource-data.ts
  frontend/packages/topology/src/data-transforms/__tests__/__snapshots__/data-transformer.spec.ts.snap
  frontend/packages/topology/src/data-transforms/__tests__/updateModelFromFilters.spec.ts
  frontend/packages/topology/src/operators/__tests__/operator-data-transformer.spec.ts
  frontend/packages/topology/src/utils/__tests__/application-utils.spec.ts
  frontend/packages/topology/src/utils/application-utils.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/shared, component/topology, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12828 CONSOLE-2501: Update builder image
  .ci-operator.yaml
  Dockerfile.builder
  Dockerfile.dev
  Dockerfile.plugins.demo
  builder-run.sh
  go.mod
  pkg/server/resource_lister.go
  pkg/serverconfig/metrics.go
  pkg/usersettings/helpers.go
  pkg/usersettings/helpers_test.go
Labels: approved, lgtm, component/backend, docs-approved, qe-approved, px-approved, jira/valid-reference, dependency-update/major

#12839 ODC-7318: Update ODC owners, May 2023 edition
  frontend/OWNERS
  frontend/packages/rhoas-plugin/OWNERS
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, jira/valid-reference, dependency-update/major

#12803 [release-4.10] OCPBUGS-13358: add subject kind dropdown in the project access form
  frontend/packages/console-shared/src/components/formik-fields/field-types.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/project-access/ProjectAccess.tsx
  frontend/packages/dev-console/src/components/project-access/ProjectAccessForm.scss
  frontend/packages/dev-console/src/components/project-access/ProjectAccessForm.tsx
  frontend/packages/dev-console/src/components/project-access/__tests__/ProjectAccessForm.spec.tsx
  frontend/packages/dev-console/src/components/project-access/__tests__/project-access-form-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/project-access/__tests__/project-access-form-utils.spec.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-submit-utils.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-utils-types.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-utils.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-validation-utils.ts
  frontend/public/components/utils/list-dropdown.jsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/shared, component/dev-console, component/core, qe-approved, kind/i18n, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12833 [release-4.10] OCPBUGS-13831: Get the Event type value from the latest PLR of the Repository
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryDetails.tsx
  frontend/packages/pipelines-plugin/src/components/repository/__tests__/RepositoryDetails.spec.tsx
  frontend/packages/pipelines-plugin/src/components/repository/__tests__/repository-mock.ts
  frontend/packages/pipelines-plugin/src/components/repository/list-page/RepositoryRow.tsx
  frontend/packages/pipelines-plugin/src/components/repository/types.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, qe-approved, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12148 OCPBUGS-1829: use service port name instead targetPort in the Pipeline Event listener route
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/submit-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/pipelines, jira/valid-bug

#12435 OCPBUGS-5453: Add Pipeline metrics unsupported empty page
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetrics.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetricsQuickstart.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetricsUnsupported.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineMetrics.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineMetricsUnsupported.spec.tsx
Labels: approved, lgtm, bugzilla/valid-bug, kind/i18n, component/pipelines, jira/valid-bug, jira/severity-important, jira/valid-reference

#12719 CONSOLE-3623: Add X-CSRF token to console request headers
  frontend/packages/console-dynamic-plugin-sdk/src/utils/fetch/console-fetch-utils.ts
  frontend/public/co-fetch.ts
Labels: approved, lgtm, component/core, component/sdk, docs-approved, qe-approved, px-approved, jira/valid-reference

#12800 OCPBUGS-12783: Remove "Action" type from OLM descriptor readme
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/README.md
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, jira/valid-bug, jira/valid-reference

#12806 MGMT-14527: Add vSphere cluster field.
  frontend/packages/vsphere-plugin/__tests__/utils.spec.ts
  frontend/packages/vsphere-plugin/locales/en/vsphere-plugin.json
  frontend/packages/vsphere-plugin/src/components/ConnectionFormContext.tsx
  frontend/packages/vsphere-plugin/src/components/InProgress.tsx
  frontend/packages/vsphere-plugin/src/components/VSphereConnectionForm.tsx
  frontend/packages/vsphere-plugin/src/components/VSphereConnectionModal.tsx
  frontend/packages/vsphere-plugin/src/components/persist.ts
  frontend/packages/vsphere-plugin/src/components/types.ts
  frontend/packages/vsphere-plugin/src/constants.ts
  frontend/packages/vsphere-plugin/src/hooks/use-connection-form.ts
  frontend/packages/vsphere-plugin/src/hooks/use-connection-models.ts
  frontend/packages/vsphere-plugin/src/resources/infrastructure.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, jira/valid-reference

#12808 OCPBUGS-13257: propagate labels to pipeline resources
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/pipelines-plugin/src/components/import/pipeline/pipeline-template-utils.ts
  frontend/packages/pipelines-plugin/src/components/repository/repository-form-utils.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/dev-console, component/pipelines, jira/valid-bug, jira/valid-reference

#12815 OCPBUGS-11996: Fixed Make Serverless Form Error
  frontend/packages/knative-plugin/src/utils/create-knative-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/knative, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12816 OCPBUGS-11256: Topology UI doesn't recognize Serverless Rust function for proper UI icon
  frontend/public/components/catalog/catalog-item-icon.tsx
  frontend/public/imgs/logos/rust.svg
Labels: approved, lgtm, bugzilla/valid-bug, component/core, jira/valid-bug, jira/severity-low, jira/valid-reference

#12817 OCPBUGS-13693: Fix RTE in bridge.
  pkg/serverconfig/metrics.go
Labels: approved, lgtm, bugzilla/valid-bug, component/backend, jira/valid-bug, jira/severity-low, jira/valid-reference

#12822 OCPBUGS-11668: Fix kebab actions on Installed Operators page
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, jira/valid-bug, jira/severity-low, jira/valid-reference

#12824 ODC-7315: Change help texts in initialize Terminal page
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/cloud-shell/setup/AdminNamespaceSection.tsx
  frontend/packages/console-app/src/components/cloud-shell/setup/ImageSection.tsx
  frontend/packages/console-app/src/components/cloud-shell/setup/NamespaceSection.tsx
  frontend/packages/console-app/src/components/cloud-shell/setup/TimeoutSection.tsx
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#12834 OCPBUGS-12896: Corrected Labels for resolving the bug related to the Create Route Checkbox
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-utils.spec.ts
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, jira/valid-bug, jira/valid-reference

#12840 OCPBUGS-13782: Surface the message from Operator developer
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.tsx
Labels: approved, lgtm, component/olm, kind/i18n, jira/valid-bug, jira/valid-reference

#12679 OCPBUGS-6767: Regression: OpenShift Console no-longer filters SecretList when displaying ServiceAccount
  frontend/public/components/service-account.jsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, jira/valid-bug, jira/valid-reference

#12775 [release-4.12] OCPBUGS-11989: Modified git import flow module to handle create button enable-disable issue
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-git.feature
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-git.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/ImportStrategySection.tsx
  frontend/packages/dev-console/src/components/import/ImportStrategySelector.tsx
  frontend/packages/dev-console/src/components/import/devfile/DevfileStrategySection.tsx
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
Labels: approved, lgtm, cherry-pick-approved, component/dev-console, qe-approved, kind/i18n, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12848 ODC-7317: Update Terminal step of the Guided Tour to indicate that odo CLI is accessible
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/guided-tour/GuidedTourText.tsx
  frontend/packages/dev-console/src/components/guided-tour/index.ts
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#12721 OCPBUGS-9909: Could not import multiple resources via JSON (while YAML supports this)
  frontend/public/components/edit-yaml.jsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, bugzilla/valid-bug, component/core, kind/i18n, jira/valid-bug, jira/valid-reference
