Repository openshift/console, pull requests merged in 2023-09, with the labels that each got.

#13117 OCPBUGS-18306: fix useDeleteModal Example formatting
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
Labels: approved, lgtm, component/sdk, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13126 OCPBUGS-13359: Fix crash when filtering the quick start catalog
  frontend/packages/console-app/src/components/quick-starts/PfQuickStartCatalogPage.tsx
  frontend/packages/console-app/src/components/quick-starts/QuickStartCatalogPage.tsx
Labels: kind/bug, approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference, acknowledge-critical-fixes-only

#12968 OCPBUGS-18348: Add deprecation alert for DeploymentConfig
  frontend/packages/dev-console/src/components/deployments/DeploymentForm.tsx
  frontend/packages/dev-console/src/components/deployments/DeploymentFormEditor.tsx
  frontend/packages/topology/src/components/side-bar/components/SideBarHeading.scss
  frontend/packages/topology/src/components/side-bar/components/SideBarHeading.tsx
  frontend/public/components/deployment-config.tsx
  frontend/public/components/utils/documentation.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/dev-console, component/core, docs-approved, qe-approved, px-approved, kind/i18n, component/topology, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13087 [release-12] OCPBUGS-17530: fix bug where binary secret values are corrupted on edit and add test coverage
  frontend/packages/integration-tests-cypress/tests/crud/secrets.spec.ts
  frontend/public/components/secrets/create-secret.tsx
  frontend/public/components/utils/file-input.tsx
Labels: approved, lgtm, cherry-pick-approved, component/core, qe-approved, kind/cypress, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#13055 [release-4.12] OCPBUGS-18563: OLM Pages work when copied CSVs are disabled
  cmd/bridge/main.go
  frontend/@types/console/index.d.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-global.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-single-namespace.spec.ts
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/k8s-resource.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
  frontend/packages/operator-lifecycle-manager/src/const.ts
  frontend/packages/operator-lifecycle-manager/src/plugin.tsx
  frontend/packages/operator-lifecycle-manager/src/utils/clusterserviceversions.ts
  frontend/packages/operator-lifecycle-manager/src/utils/useClusterServiceVersion.tsx
  frontend/packages/operator-lifecycle-manager/src/utils/useClusterServiceVersionPath.tsx
  frontend/public/components/factory/details.tsx
  pkg/server/server.go
  pkg/serverconfig/config.go
  pkg/serverconfig/types.go
Labels: approved, lgtm, cherry-pick-approved, component/core, component/backend, component/olm, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#13137 OCPBUGS-18094: Remove cluster filter and menu group title
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/nav/ClusterMenu.tsx
Labels: approved, lgtm, component/core, kind/i18n, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13134 OCPBUGS-18604: [knative] Don't rely on openshift/hello-openshift as a sample image
  frontend/packages/knative-plugin/integration-tests/features/e2e/knative-ci.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/create-event-sources.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/actions-on-knative-service.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/create-knative-workload.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/side-bar-of-knative-revision-and-service.feature
  frontend/packages/knative-plugin/src/utils/__mocks__/knatify-mock.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knatify-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-serving-data.ts
  frontend/packages/knative-plugin/src/yaml-templates.ts
Labels: approved, lgtm, component/knative, qe-approved, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13142 OCPBUGS-18686: Fix incorrect export of useLabelsModal in dynamic plug…
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
Labels: approved, lgtm, component/sdk, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13132 OCPBUGS-18439: use active namespace in Create cta href of create action for operator backed
  frontend/packages/operator-lifecycle-manager/src/utils/useClusterServiceVersions.tsx
Labels: approved, lgtm, component/olm, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13092 OCPBUGS-129: bump @patternfly/react-core to v4.276.11 to pick up Sele…
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/yarn.lock
  frontend/package.json
  frontend/packages/topology/src/behavior/withCreateConnector.tsx
  frontend/packages/topology/src/components/graph-view/components/edges/ServiceBinding.tsx
  frontend/packages/topology/src/components/graph-view/components/groups/ApplicationGroupExpanded.tsx
  frontend/yarn.lock
Labels: approved, lgtm, component/topology, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#12832 OCPBUGS-6513: Fixed Edit Application form for Knative Services
  frontend/packages/knative-plugin/src/utils/create-knative-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/knative, jira/valid-bug, jira/severity-low, jira/valid-reference, acknowledge-critical-fixes-only

#13139 [release-4.10] OCPBUGS-9055: Search doesn't show all entries when name filter is cleared
  frontend/public/components/factory/ListPage/filter-hook.ts
  frontend/public/components/factory/list-page.tsx
Labels: approved, lgtm, cherry-pick-approved, component/core, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13151 OCPBUGS-18485: Monitoring: Fix display of silenced alerts in dev console
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlerts.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/SilenceAlert.tsx
Labels: approved, lgtm, component/dev-console, qe-approved, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13127 [release-4.13] OCPBUGS-18443: Fix crash when filtering the quick start catalog
  frontend/packages/console-app/src/components/quick-starts/PfQuickStartCatalogPage.tsx
  frontend/packages/console-app/src/components/quick-starts/QuickStartCatalogPage.tsx
Labels: kind/bug, approved, lgtm, cherry-pick-approved, component/core, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13111 OCPBUGS-18188: Added React Icon
  frontend/public/components/catalog/catalog-item-icon.tsx
  frontend/public/imgs/logos/react.svg
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-low, jira/valid-reference, acknowledge-critical-fixes-only

#13129 OCPBUGS-19313: Hide DeploymentConfig option from forms when it's not installed in the cluster
  frontend/packages/dev-console/src/components/import/section/ResourceSection.tsx
  frontend/packages/dev-console/src/const.ts
Labels: approved, lgtm, component/dev-console, docs-approved, px-approved, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13064 OCPBUGS-17203: mock apis for git repo in test serverless function tests
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/dev-console/integration-tests/testData/git-import/hello-func-node-env/contents.json
  frontend/packages/dev-console/integration-tests/testData/git-import/hello-func-node-env/func.json
  frontend/packages/dev-console/integration-tests/testData/git-import/hello-func-node-env/package.json
  frontend/packages/dev-console/integration-tests/testData/git-import/hello-func-node-env/repo.json
  frontend/packages/dev-console/integration-tests/testData/git-import/hello-func-node/contents.json
  frontend/packages/dev-console/integration-tests/testData/git-import/hello-func-node/func.json
  frontend/packages/dev-console/integration-tests/testData/git-import/hello-func-node/package.json
  frontend/packages/dev-console/integration-tests/testData/git-import/hello-func-node/repo.json
  frontend/packages/dev-console/integration-tests/testData/git-import/hello-func-quarkus/contents.json
  frontend/packages/dev-console/integration-tests/testData/git-import/hello-func-quarkus/func.json
  frontend/packages/dev-console/integration-tests/testData/git-import/hello-func-quarkus/repo.json
  frontend/packages/dev-console/integration-tests/testData/git-import/kn-func-typescript-cloudevents/contents.json
  frontend/packages/dev-console/integration-tests/testData/git-import/kn-func-typescript-cloudevents/func.json
  frontend/packages/dev-console/integration-tests/testData/git-import/kn-func-typescript-cloudevents/package.json
  frontend/packages/dev-console/integration-tests/testData/git-import/kn-func-typescript-cloudevents/repo.json
  frontend/packages/dev-console/integration-tests/testData/git-import/kn-func-typescript-http/contents.json
  frontend/packages/dev-console/integration-tests/testData/git-import/kn-func-typescript-http/func.json
  frontend/packages/dev-console/integration-tests/testData/git-import/kn-func-typescript-http/package.json
  frontend/packages/dev-console/integration-tests/testData/git-import/kn-func-typescript-http/repo.json
  frontend/packages/dev-console/integration-tests/testData/git-import/repos.ts
  frontend/packages/dev-console/integration-tests/testData/git-import/serverless-func-repo/contents.json
  frontend/packages/dev-console/integration-tests/testData/git-import/serverless-func-repo/func.json
  frontend/packages/dev-console/integration-tests/testData/git-import/serverless-func-repo/package.json
  frontend/packages/dev-console/integration-tests/testData/git-import/serverless-func-repo/repo.json
  frontend/packages/knative-plugin/integration-tests/features/serverless/serverless-function.feature
  frontend/packages/knative-plugin/integration-tests/support/pages/dev-perspective/test-serverless-function-page.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/serverless-function.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/test-serverless-function.ts
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-builder-page.feature
Labels: approved, lgtm, component/dev-console, component/knative, docs-approved, qe-approved, px-approved, component/pipelines, jira/valid-bug, jira/valid-reference

#13103 OCPBUGS-3403: Fix resource table sorting crash
  frontend/packages/operator-lifecycle-manager/src/components/k8s-resource.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
Labels: approved, lgtm, ok-to-test, component/olm, jira/valid-bug, jira/valid-reference

#13108 OCPBUGS-5571: Update API docs content based on docs review
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/safety-first.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/status/icons.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/status/statuses.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/utils/rbac.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/utils/fetch/console-fetch-utils.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/fetch/console-fetch.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sWatchResource.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sWatchResources.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-ref.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-resource.ts
Labels: approved, lgtm, component/sdk, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13109 OCPBUGS-9285: Remove redundant break line
  frontend/packages/console-dynamic-plugin-sdk/docs/console-extensions.md
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/pages.ts
Labels: approved, lgtm, ok-to-test, component/sdk, qe-approved, jira/valid-bug, jira/valid-reference

#13110 OCPBUGS-6515: address ConsoleExternalLogLink test flake
  frontend/packages/integration-tests-cypress/tests/crd-extensions/console-external-log-link.spec.ts
Labels: approved, lgtm, kind/cypress, jira/valid-bug, jira/valid-reference

#13130 OCPBUGS-19314: Hide the DeploymentConfig option in the User Preferences if that resource type isn't available
  frontend/packages/dev-console/console-extensions.json
Labels: approved, lgtm, component/dev-console, docs-approved, px-approved, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13133 OCPBUGS-18494: Upgrade DomainMapping apiVersion to v1beta1
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/src/models.ts
  frontend/packages/knative-plugin/src/utils/__tests__/get-knative-resources.spec.ts
Labels: approved, lgtm, component/knative, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13141 OCPBUGS-18464: Hide the Builds NavItem if BuildConfig is not installed in the cluster
  frontend/packages/dev-console/console-extensions.json
Labels: approved, lgtm, component/dev-console, docs-approved, px-approved, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#12810 OCPBUGS-11286: Check if filtered object contains name property
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
Labels: approved, lgtm, lifecycle/stale, bugzilla/valid-bug, component/olm, jira/valid-bug, jira/severity-important, jira/valid-reference

#13153 OCPBUGS-18996: fix issues with refactored "Create StorageClass" form
  frontend/public/components/storage-class-form.tsx
Labels: approved, lgtm, component/core, jira/severity-critical, jira/valid-bug, jira/valid-reference

#13162 OCPBUGS-18832: change resource icon for FenceAgentRemediationTemplate…
  frontend/public/module/k8s/get-resources.ts
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#10177 OCPBUGS-9719: Correct logout process
  frontend/public/module/auth.js
  pkg/auth/auth.go
  pkg/auth/auth_oidc.go
  pkg/auth/auth_openshift.go
  pkg/server/middleware.go
  pkg/server/server.go
Labels: approved, lgtm, bugzilla/valid-bug, component/core, component/backend, jira/valid-bug, jira/severity-important, jira/valid-reference

#13079 [release-4.11] OCPBUGS-19359: Remove PipelineResource CRD check because it's not installed with PO 1.11 anymore
  frontend/packages/dev-console/integration-tests/support/pages/functions/installOperatorOnCluster.ts
Labels: approved, lgtm, cherry-pick-approved, component/dev-console, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#13065 OCPBUGS-13152: fetch TaskRuns without selector and reduces the get TaskRuns requests
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/__tests__/PipelineRunDetailsPage.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/status/LinkedPipelineRunTaskStatus.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/status/PipelineRunStatus.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/list-page/PipelineList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/list-page/PipelineRow.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunList.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/components/repository/list-page/RepositoryRow.tsx
  frontend/packages/pipelines-plugin/src/components/repository/list-page/ReppositoryList.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/useTaskRuns.ts
  frontend/packages/pipelines-plugin/src/topology/build-decorators/PipelineRunDecorator.tsx
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-actions.spec.ts
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-augment.spec.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-actions.tsx
  frontend/packages/pipelines-plugin/src/utils/pipeline-augment.ts
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13177 OCPBUGS-19394: document kebab menu cell props
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
Labels: approved, lgtm, component/sdk, jira/valid-bug, jira/valid-reference

#13166 OCPBUGS-19367: Console should not panic when no response is retrieved for plugin assets
  pkg/plugins/handlers.go
Labels: approved, lgtm, component/backend, jira/valid-bug, jira/valid-reference

#13172 OCPBUGS-19413: Fix demo dynamic plugin dev mode cypress tests
  frontend/packages/console-app/src/components/console-operator/ConsoleOperatorConfig.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#13182 OCPBUGS-19546: Set unlimited line width in YAML editor
  frontend/public/components/edit-yaml.jsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#13180 OCPBUGS-19437: API docs content issue
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sModel.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-ref.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-resource.ts
Labels: approved, lgtm, component/sdk, jira/valid-bug, jira/valid-reference

#13191 OCPBUGS-19640: Dont render ARN mode role field and warning for HyperShift clusters
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-item-details.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
Labels: approved, lgtm, component/olm, jira/valid-bug, jira/severity-important, jira/valid-reference

#13171 [release-4.11] OCPBUGS-19409: Backport tab extension to fix LOG-4504 (support LOG-3388 on OCP 4.11)
  dynamic-demo-plugin/console-extensions.json
  frontend/packages/console-dynamic-plugin-sdk/docs/console-extensions.md
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/horizontal-nav-tabs.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
  frontend/packages/dev-console/src/components/monitoring/MonitoringPage.tsx
  frontend/public/components/utils/horizontal-nav.tsx
Labels: approved, lgtm, cherry-pick-approved, component/dev-console, component/core, component/sdk, backport-risk-assessed, jira/severity-critical, jira/valid-bug, jira/valid-reference

#13040 OCPBUGS-9157: ‘Create Pod’ button should be disabled for normal user …
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/public/components/factory/Table/VirtualizedTable.tsx
  frontend/public/components/pod.tsx
Labels: approved, lgtm, component/core, component/sdk, jira/valid-bug, jira/severity-low, jira/valid-reference

#13102 OCPBUGS-8777: Don't redirect after logout from login error route
  frontend/public/components/app-contents.tsx
  frontend/public/components/app.jsx
  frontend/public/components/error.tsx
  frontend/public/locales/en/public.json
  frontend/public/module/auth.js
  pkg/auth/auth.go
  pkg/server/server.go
Labels: approved, lgtm, component/core, component/backend, kind/i18n, jira/valid-bug, jira/severity-low, jira/valid-reference

#13190 OCPBUGS-4426: All Projects' dropdown": Roles and RoleBindings "before all" hook for "test Roles detail page breadcrumbs to list page restores
  frontend/packages/integration-tests-cypress/tests/crud/roles-rolebindings.spec.ts
Labels: approved, lgtm, kind/cypress, jira/valid-bug, jira/valid-reference

#13101 OCPBUGS-17676: Enable white space retain in resource logs
  frontend/package.json
  frontend/packages/console-app/src/components/nodes/NodeLogs.tsx
  frontend/public/components/utils/resource-log.tsx
  frontend/yarn.lock
Labels: approved, lgtm, ok-to-test, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13156 OCPBUGS-18267: 404 - not found will show on Knative-serving Details page
  frontend/packages/knative-plugin/console-extensions.json
Labels: approved, lgtm, component/knative, jira/valid-bug, jira/valid-reference

#13192 OCPBUGS-19743: Fix Invalid URL crash
  frontend/public/module/auth.js
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#13135 [release-4.13] OCPBUGS-18538: OCP console mandate secret for repository creation
  frontend/packages/console-shared/src/components/formik-fields/RadioGroupField.tsx
  frontend/packages/console-shared/src/components/formik-fields/field-types.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/git-service/src/services/base-service.ts
  frontend/packages/git-service/src/services/bitbucket-service.ts
  frontend/packages/git-service/src/services/github-service.ts
  frontend/packages/git-service/src/services/gitlab-service.ts
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-as-code.feature
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/repositoryDetails-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipeline-as-code.ts
  frontend/packages/pipelines-plugin/integration-tests/testData/repository-crd-testdata/repository.yaml
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryDetails.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryFormPage.tsx
  frontend/packages/pipelines-plugin/src/components/repository/__tests__/RepositoryDetails.spec.tsx
  frontend/packages/pipelines-plugin/src/components/repository/repository-form-utils.ts
  frontend/packages/pipelines-plugin/src/components/repository/sections/AdvancedConfigurations.tsx
  frontend/packages/pipelines-plugin/src/components/repository/sections/PermissionsSection.tsx
  frontend/packages/pipelines-plugin/src/components/repository/sections/RepositoryOverview.tsx
  frontend/packages/pipelines-plugin/src/components/repository/sections/WebhookSection.tsx
  frontend/packages/pipelines-plugin/src/test-data/pipeline-data.ts
Labels: approved, lgtm, cherry-pick-approved, component/shared, component/dev-console, component/git-service, qe-approved, kind/i18n, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#13175 ODC-7391: Add a new allowInsecure option to the internet proxy API
  frontend/packages/console-shared/src/utils/proxy.ts
  pkg/devconsole/proxy/proxy.go
  pkg/devconsole/proxy/types.go
Labels: approved, lgtm, component/shared, component/backend, docs-approved, qe-approved, px-approved, jira/valid-reference

#13196 OCPBUGS-14322: fix ResourceLog permissions when impersonating
  frontend/public/components/utils/resource-log.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-important, jira/valid-reference

#13077 OCPBUGS-7893: show all the legends for Pipeline metrics in PipelineRun TaskRun Duration chart
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetrics.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetrics.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineRunTaskRunGraph.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/charts/lineChart.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/charts/lineChart.tsx
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13154 CONSOLE-3763: Update null-loader dev dependency in console
  frontend/package.json
  frontend/yarn.lock
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, jira/valid-reference

#13174 ODC-7377,ODC-7378: Add Revisions, Routes and Pods tab for service details page
  frontend/packages/console-shared/src/hooks/useTabbedTableBreadcrumb.ts
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/integration-tests/support/constants/global.ts
  frontend/packages/dev-console/integration-tests/support/constants/pageTitle.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/global-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/createGitWorkload.ts
  frontend/packages/dev-console/integration-tests/utilities/appFunctions.ts
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/integration-tests/features/functions/functions-navigation.feature
  frontend/packages/knative-plugin/integration-tests/support/pageObjects/functions-po.ts
  frontend/packages/knative-plugin/integration-tests/support/pages/functions/functions-page.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/functions/functions-navigation.ts
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/actions/creators.ts
  frontend/packages/knative-plugin/src/actions/providers.ts
  frontend/packages/knative-plugin/src/components/functions/FunctionDetailsPage.tsx
  frontend/packages/knative-plugin/src/components/functions/FunctionRow.tsx
  frontend/packages/knative-plugin/src/components/functions/FunctionsList.tsx
  frontend/packages/knative-plugin/src/components/functions/FunctionsPage.tsx
  frontend/packages/knative-plugin/src/components/functions/ServiceTypeContext.ts
  frontend/packages/knative-plugin/src/components/overview/RevisionsOverviewList.tsx
  frontend/packages/knative-plugin/src/components/overview/index.ts
  frontend/packages/knative-plugin/src/components/revisions/RevisionsPage.tsx
  frontend/packages/knative-plugin/src/components/routes/RoutesPage.tsx
  frontend/packages/knative-plugin/src/components/services/ServiceDetailsPage.tsx
  frontend/packages/knative-plugin/src/components/services/ServicesPage.tsx
  frontend/packages/knative-plugin/src/types.ts
Labels: approved, lgtm, component/shared, component/dev-console, component/knative, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#13198 OCPBUGS-19437: API docs content issue (additional fixes)
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
Labels: approved, lgtm, component/sdk, jira/valid-bug, jira/valid-reference
