Repository openshift/console, pull requests merged in 2023-07, with the labels that each got.

#12890 OCPBUGS-14548: update pipelines doc links
  frontend/public/components/build.tsx
  frontend/public/components/utils/documentation.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-low, jira/valid-reference

#12960 ODC-7340: Remove Shipwright Tech Preview badges
  frontend/packages/shipwright-plugin/console-extensions.json
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, jira/valid-reference

#12910 ODC-7325: Improve BuildConfig and Shipwright Build list pages
  frontend/packages/shipwright-plugin/locales/en/shipwright-plugin.json
  frontend/packages/shipwright-plugin/src/actions/useBuildActions.ts
  frontend/packages/shipwright-plugin/src/components/build-list/BuildListPage.tsx
  frontend/packages/shipwright-plugin/src/components/build-list/BuildTable.tsx
  frontend/packages/shipwright-plugin/src/components/buildrun-details/BuildRunSection.tsx
  frontend/packages/shipwright-plugin/src/components/buildrun-list/BuildRunTable.tsx
  frontend/packages/shipwright-plugin/src/components/buildrun-status/BuildRunStatus.tsx
  frontend/packages/shipwright-plugin/src/types.ts
  frontend/public/components/build-config.tsx
  frontend/public/components/build.tsx
  frontend/public/components/utils/build-utils.ts
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#12964 OCPBUGS-15427: Remove access review check for PipelineResource from Pipeline section
  frontend/packages/pipelines-plugin/src/components/import/pipeline/PipelineSection.tsx
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12814 ODC-7313: Run CI tests with non-admin user
  contrib/create-user.sh
  frontend/packages/dev-console/integration-tests/support/commands/hooks.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/knative-plugin/integration-tests/features/e2e/knative-ci.feature
  frontend/packages/knative-plugin/integration-tests/support/pages/dev-perspective/common.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/pipelines-plugin/integration-tests/features/e2e/pipeline-ci.feature
  frontend/packages/pipelines-plugin/integration-tests/support/pages/functions/common.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/common/common.ts
  test-prow-e2e.sh
Labels: approved, lgtm, component/dev-console, component/knative, docs-approved, qe-approved, px-approved, component/pipelines, jira/valid-reference

#12936 [release-4.13] OCPBUGS-15410: Add Git Repository (PAC) doesn't setup GitLab and Bitbucket configuration correct
  frontend/packages/dev-console/src/components/import/__mocks__/import-validation-mock.ts
  frontend/packages/dev-console/src/components/import/import-validation-utils.ts
  frontend/packages/dev-console/src/components/import/serverless-function/AddServerlessFunction.tsx
  frontend/packages/dev-console/src/utils/yup-validation-util.ts
  frontend/packages/knative-plugin/integration-tests/features/e2e/knative-ci.feature
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/import/pipeline/PacSection.tsx
  frontend/packages/pipelines-plugin/src/components/import/pipeline/PipelineTemplate.tsx
  frontend/packages/pipelines-plugin/src/components/repository/consts.ts
  frontend/packages/pipelines-plugin/src/components/repository/repository-form-utils.ts
  frontend/packages/pipelines-plugin/src/components/repository/sections/AdvancedConfigurations.tsx
  frontend/packages/pipelines-plugin/src/components/repository/sections/WebhookSection.tsx
  frontend/packages/pipelines-plugin/src/components/repository/types.ts
Labels: approved, lgtm, cherry-pick-approved, component/dev-console, component/knative, qe-approved, kind/i18n, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#12966 OCPBUGS-15773: The upgrade Helm Release tab in OpenShift GUI Developer console is not refreshing with updated values.
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmChartVersionDropdown.tsx
Labels: approved, lgtm, component/helm, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12778 CONSOLE-3610: User can filter on STS enabled clusters for Operators that claim support for STS
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/index.ts
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-item-details.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-page.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-utils.ts
Labels: approved, lgtm, component/core, component/olm, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#12864 [release-4.13] OCPBUGS-14267: Add Pipeline metrics unsupported empty page
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetrics.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetricsQuickstart.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetricsUnsupported.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineMetrics.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineMetricsUnsupported.spec.tsx
Labels: approved, lgtm, cherry-pick-approved, qe-approved, kind/i18n, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#12843 CONSOLE-3565: Expose annotations modal in dynamic plugins sdk
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/modals/useAnnotationsModal.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/modal-support/ModalProvider.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/modal-support/useModal.ts
  frontend/packages/console-shared/src/components/dashboard/status-card/states.tsx
  frontend/public/components/factory/modal.tsx
  frontend/public/components/modals/tags.tsx
  frontend/public/components/service.jsx
  frontend/public/components/utils/details-page.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/shared, component/dashboard, component/core, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#12979 OCPBUGS-14548: only show pipelines doc link for downstream
  frontend/public/components/build.tsx
  frontend/public/components/utils/documentation.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, kind/i18n, jira/valid-bug, jira/severity-low, jira/valid-reference

#12710 OCPBUGS-7416: get Kamelets from the camel-k-operator namespace as well
  frontend/packages/knative-plugin/src/const.ts
  frontend/packages/knative-plugin/src/hooks/useEventSinkStatus.ts
  frontend/packages/knative-plugin/src/hooks/useEventSourceStatus.ts
  frontend/packages/knative-plugin/src/hooks/useKameletsData.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/knative, jira/valid-bug, jira/valid-reference

#12886 RHSTOR-4533: added a mutator property for the storage class extension
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/storage-class-provisioner.ts
  frontend/public/components/storage-class-form.tsx
Labels: approved, lgtm, ok-to-test, component/shared, component/ceph, component/core, component/sdk, docs-approved, qe-approved, px-approved, kind/cypress, jira/valid-reference

#12980 OCPBUGS-15896: STS label not valid according to kube
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/index.ts
Labels: approved, lgtm, component/olm, jira/valid-bug, jira/severity-low, jira/valid-reference

#12977 [release-4.12] OCPBUGS-15849: Add Pipeline metrics unsupported empty page
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetrics.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetricsQuickstart.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetricsUnsupported.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineMetrics.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineMetricsUnsupported.spec.tsx
Labels: approved, lgtm, cherry-pick-approved, qe-approved, kind/i18n, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#12887 OCPBUGS-12891: check for valid OLM selector in K8sResourceWidget to p…
  frontend/packages/console-shared/src/components/dynamic-form/widgets.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/utils.spec.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand/utils.ts
Labels: approved, lgtm, component/shared, component/olm, jira/valid-bug, jira/valid-reference

#12917 OCPBUGS-15011: Upload JAR file does not work if the Cluster Samples Operator is disabled
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/src/actions/providers.tsx
  frontend/packages/dev-console/src/components/import/jar/UploadJarPage.tsx
  frontend/packages/dev-console/src/components/import/jar/useJavaImageStreamEnabled.ts
  frontend/packages/dev-console/src/const.ts
Labels: approved, lgtm, component/shared, component/dev-console, jira/valid-bug, jira/severity-low, jira/valid-reference

#12986 OCPBUGS-10844: fix bug where binary secret values are corrupted on edit and add test coverage
  frontend/packages/integration-tests-cypress/tests/crud/secrets.spec.ts
  frontend/public/components/secrets/create-secret.tsx
  frontend/public/components/utils/file-input.tsx
Labels: approved, lgtm, component/core, kind/cypress, jira/valid-bug, jira/severity-important, jira/valid-reference

#12990 OCPBUGS-14434: Running `yarn dev` results in the build running on a loop
  frontend/tsconfig.json
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#12963 [release-4.13] OCPBUGS-15720,OCPBUGS-15721,OCPBUGS-15722: Helm Chart installation form hangs on create if JSON-schema is using 2019-09 or 2020-20 standard revisions
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/dynamic-form/index.tsx
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradePage.tsx
Labels: approved, lgtm, cherry-pick-approved, component/shared, qe-approved, kind/i18n, component/helm, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12723 OCPBUGS-10884: add multipath device type to LocalVolumeSet
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/body.tsx
  frontend/packages/local-storage-operator-plugin/src/constants/index.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/lso, jira/valid-bug, jira/severity-important, jira/valid-reference

#12998 OCPBUGS-8005: Fix broken upstream doc link for cluster channel upgrades
  frontend/public/components/utils/documentation.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12972 ODC-7341: Show Build output in Shipwright Build list and details page
  frontend/packages/shipwright-plugin/integration-tests/features/shipwright-table.feature
  frontend/packages/shipwright-plugin/locales/en/shipwright-plugin.json
  frontend/packages/shipwright-plugin/src/components/build-details/BuildSpecSection.tsx
  frontend/packages/shipwright-plugin/src/components/build-list/BuildOutput.tsx
  frontend/packages/shipwright-plugin/src/components/build-list/BuildTable.tsx
  frontend/packages/shipwright-plugin/src/const.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, jira/valid-reference

#12944 OCPBUGS-15021: Use FLAGS.CAN_GET_NS to decide whether to show Route details > Metrics tab
  frontend/public/components/routes.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#12995 OCPBUGS-9991: Most of contents are lack of i18n on "Command Line Tools" page
  frontend/public/components/command-line-tools.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, kind/i18n, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12779 CONSOLE-3611: User can configure the install of Operators that authenticate using STS
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
  frontend/packages/operator-lifecycle-manager/src/types.ts
Labels: approved, lgtm, component/core, component/olm, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#12978 [release-4.13] OCPBUGS-15890: Use proxy with web socket connection and monitoring dashboard
  cmd/bridge/main.go
  pkg/proxy/proxy.go
Labels: approved, lgtm, cherry-pick-approved, component/backend, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#12933 CONSOLE-3685: Convert components in RBAC folder from class component …
  frontend/public/components/RBAC/bindings.jsx
  frontend/public/components/RBAC/edit-rule.jsx
  frontend/public/components/app-contents.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#12946 OCPBUGS-13808: Console SDK components should be using GroupVersionKin…
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/public/components/factory/ListPage/ListPageCreate.tsx
Labels: approved, lgtm, component/core, component/sdk, jira/valid-bug, jira/valid-reference

#12950 ODC-7295: Integrate Artifacthub in Pipeline tasks quick search
  frontend/packages/console-shared/src/components/quick-search/QuickSearchList.tsx
  frontend/packages/console-shared/src/utils/proxy.ts
  frontend/packages/pipelines-plugin/console-extensions.json
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-builder-page.feature
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-from-builder-page.ts
  frontend/packages/pipelines-plugin/src/components/catalog/apis/artifactHub.ts
  frontend/packages/pipelines-plugin/src/components/catalog/providers/index.ts
  frontend/packages/pipelines-plugin/src/components/catalog/providers/useArtifactHubTasksProvider.tsx
  frontend/packages/pipelines-plugin/src/components/catalog/providers/useTasksProvider.tsx
  frontend/packages/pipelines-plugin/src/components/catalog/providers/useTekonHubTasksProvider.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/const.ts
  frontend/packages/pipelines-plugin/src/components/quicksearch/PipelineQuickSearch.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/PipelineQuickSearchDetails.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/PipelineQuickSearchVersionDropdown.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/const.ts
  frontend/packages/pipelines-plugin/src/components/quicksearch/pipeline-quicksearch-utils.ts
  frontend/packages/pipelines-plugin/src/const.ts
  frontend/packages/pipelines-plugin/src/test-data/catalog-item-data.ts
Labels: approved, lgtm, tide/merge-method-squash, component/shared, docs-approved, qe-approved, px-approved, component/pipelines, jira/valid-reference

#12957 CONSOLE-3680: Convert row-filter.jsx from class component to function…
  frontend/public/components/row-filter.jsx
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference

#12987 OU-218: Monitoring: Use `useResolvedExtensions` instead of `useExtensions`
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/dashboards/index.tsx
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference

#12993 OCPBUGS-15458: Links for console-dynamic-plugin-sdk markdown docs are not working
  frontend/packages/console-dynamic-plugin-sdk/docs/console-extensions.md
  frontend/packages/console-dynamic-plugin-sdk/scripts/templates/console-extensions.md.ejs
Labels: approved, lgtm, component/sdk, jira/valid-bug, jira/valid-reference

#13009 OCPBUGS-16150: Fix Start last run action in Topology sidepanel
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-overview/TriggerLastRunButton.tsx
  frontend/packages/pipelines-plugin/src/utils/pipeline-actions.tsx
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference

#13010 OCPBUGS-16148: disable Save if Use existing claim is active and no …
  frontend/public/components/storage/attach-pvc-storage.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-low, jira/valid-reference

#12941 CONSOLE-3684: Convert components in modals folder from class componen…
  frontend/public/components/modals/add-secret-to-workload.tsx
  frontend/public/components/modals/create-namespace-modal.jsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#12932 OCPBUGS-14907: Fix operator backed catalog page when copied CSVs disabled
  frontend/packages/operator-lifecycle-manager/src/utils/useClusterServiceVersions.tsx
Labels: approved, lgtm, component/olm, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13012 OCPBUGS-13142: InstallPlan info cannot shown on Subscription tab for …
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
Labels: approved, lgtm, component/olm, jira/valid-bug, jira/valid-reference

#13015 OCPBUGS-16174: Update the VSCode extension link and descriptions on Create Serverless function form
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/serverless-function/AddServerlessFunctionForm.tsx
Labels: approved, lgtm, component/dev-console, kind/i18n, jira/valid-bug, jira/severity-important, jira/valid-reference

#12530 CONSOLE-3431: Allow building dynamic plugins without any exposed modules
  dynamic-demo-plugin/yarn.lock
  frontend/packages/console-dynamic-plugin-sdk/src/webpack/ConsoleRemotePlugin.ts
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved, jira/valid-reference

#12873 CONSOLE-3706: Remove custom history.pushPath alias function
  frontend/__tests__/actions/ui.spec.ts
  frontend/public/actions/ui.ts
  frontend/public/components/utils/router.ts
Labels: approved, lgtm, component/shared, component/kubevirt, component/knative, component/monitoring, component/core, component/sdk, component/olm, docs-approved, qe-approved, px-approved, component/helm, jira/valid-reference

#13020 OCPBUGS-11620: Fix stop PLR option
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/__tests__/PipelineRunDetailsPage.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunList.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/utils/pipeline-actions.tsx
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12991 OCPBUGS-11219: Fix incorrectly nested css rule for print styles
  frontend/public/style/_overrides.scss
Labels: approved, lgtm, component/core, component/sdk, jira/valid-bug, jira/valid-reference

#12925 CONSOLE-3687: Convert components in utils folder from class component…
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/subscription.tsx
  frontend/public/components/utils/dropdown.jsx
  frontend/public/components/utils/kebab.tsx
  frontend/public/components/volumes-table.tsx
Labels: approved, lgtm, component/core, component/olm, docs-approved, qe-approved, px-approved, jira/valid-reference

#13003 OCPBUGS-8274: Fix copy login command regression
  frontend/@types/console/index.d.ts
  frontend/packages/console-shared/src/hooks/useRequestTokenURL.ts
  frontend/packages/integration-tests-cypress/tests/app/masthead.spec.ts
  frontend/packages/integration-tests-cypress/views/masthead.ts
  frontend/public/components/masthead-toolbar.jsx
  pkg/server/server.go
Labels: approved, lgtm, component/shared, component/core, component/backend, kind/cypress, jira/valid-bug, jira/valid-reference

#13007 OCPBUGS-16025,OCPBUGS-14837: Hide the Duplicate Pipelines Card in the DevConsole Add Page
  frontend/packages/pipelines-plugin/console-extensions.json
  frontend/packages/pipelines-plugin/src/components/pipelines-index.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/utils/pipeline-operator.ts
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/severity-important, jira/valid-reference

#13016 OCPBUGS-11971: When removing the project owner from the project in GUI, instead of that user, the group (the default group added as project admin through the project template) will be removed.
  frontend/packages/dev-console/src/components/project-access/ProjectAccess.tsx
  frontend/packages/dev-console/src/components/project-access/__tests__/project-access-form-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-submit-utils.ts
Labels: approved, lgtm, component/dev-console, jira/severity-critical, jira/valid-bug, jira/valid-reference

#12881 CONSOLE-3666: Validate shared modules of dynamic plugins
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/yarn.lock
  frontend/packages/console-dynamic-plugin-sdk/README.md
  frontend/packages/console-dynamic-plugin-sdk/src/webpack/ConsoleAssetPlugin.ts
  frontend/packages/console-dynamic-plugin-sdk/src/webpack/ConsoleRemotePlugin.ts
Labels: approved, lgtm, component/shared, component/kubevirt, component/knative, component/monitoring, component/core, component/sdk, component/olm, docs-approved, qe-approved, px-approved, component/helm, jira/valid-reference

#12970 ODC-7334: Show ConsoleSamples resources in the samples catalog
  frontend/packages/console-app/src/components/quick-starts/QuickStartConfiguration.tsx
  frontend/packages/console-app/src/components/quick-starts/loader/QuickStartsLoader.tsx
  frontend/packages/console-app/src/components/quick-starts/utils/__tests__/useQuickStarts.data.ts
  frontend/packages/console-app/src/components/quick-starts/utils/__tests__/useQuickStarts.spec.ts
  frontend/packages/console-app/src/components/quick-starts/utils/useQuickStarts.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/catalog.ts
  frontend/packages/console-shared/src/components/catalog/CatalogTile.tsx
  frontend/packages/console-shared/src/components/catalog/utils/catalog-utils.tsx
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/catalog/providers/__tests__/useConsoleSamples.data.ts
  frontend/packages/dev-console/src/components/catalog/providers/__tests__/useConsoleSamples.spec.ts
  frontend/packages/dev-console/src/components/catalog/providers/__tests__/useDevfileSamples.data.ts
  frontend/packages/dev-console/src/components/catalog/providers/index.ts
  frontend/packages/dev-console/src/components/catalog/providers/useConsoleSamples.tsx
  frontend/packages/dev-console/src/components/catalog/providers/useDevfile.tsx
  frontend/packages/dev-console/src/components/catalog/providers/useDevfileSamples.tsx
  frontend/packages/dev-console/src/components/import/DeployImageForm.tsx
  frontend/packages/dev-console/src/components/import/GitImportForm.tsx
  frontend/packages/dev-console/src/components/import/ImportStrategySection.tsx
  frontend/packages/dev-console/src/components/import/devfile/devfileHooks.ts
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageSearch.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageSearchSection.tsx
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/import/serverless-function/AddServerlessFunctionForm.tsx
  frontend/packages/dev-console/src/components/import/serverless-function/ExtensionCard.tsx
  frontend/packages/dev-console/src/components/import/serverless-function/ExtensionCards.tsx
  frontend/packages/dev-console/src/components/import/serverless-function/FuncSection.scss
  frontend/packages/dev-console/src/components/import/serverless-function/FuncSection.tsx
  frontend/packages/dev-console/src/components/import/serverless-function/ServerlessFunctionSection.scss
  frontend/packages/dev-console/src/components/import/serverless-function/ServerlessFunctionSection.tsx
  frontend/packages/dev-console/src/components/import/serverless-function/ServerlessFunctionStrategySection.tsx
  frontend/packages/dev-console/src/components/import/serverlessfunc/FuncSection.scss
  frontend/packages/dev-console/src/models/index.ts
  frontend/packages/dev-console/src/models/samples.ts
  frontend/packages/dev-console/src/types/index.ts
  frontend/packages/dev-console/src/types/samples.ts
  frontend/packages/dev-console/src/utils/__tests__/samples.data.ts
  frontend/packages/dev-console/src/utils/__tests__/samples.spec.ts
  frontend/packages/dev-console/src/utils/samples.ts
  frontend/packages/dev-console/src/utils/serverless-functions.ts
Labels: approved, lgtm, component/shared, component/dev-console, component/core, component/sdk, component/git-service, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines, jira/valid-reference

#12942 CONSOLE-3694: Convert tile-view-page.jsx from class component to func…
  frontend/public/components/utils/tile-view-page.jsx
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference

#13001 CONSOLE-3591: Remove directory listing for /static/*
  pkg/server/server.go
Labels: approved, lgtm, component/backend, docs-approved, qe-approved, px-approved, jira/valid-reference

#13023 OCPBUGS-16433: Fixes location update issues
  frontend/public/components/utils/horizontal-nav.tsx
Labels: approved, lgtm, ok-to-test, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12999 chore(i18n): update translations: Completed Master Branch - Sprint 238
  frontend/packages/ceph-storage-plugin/locales/ja/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/ko/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/zh/ceph-storage-plugin.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-shared/locales/ja/console-shared.json
  frontend/packages/console-shared/locales/ko/console-shared.json
  frontend/packages/console-shared/locales/zh/console-shared.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/gitops-plugin/locales/ja/gitops-plugin.json
  frontend/packages/gitops-plugin/locales/ko/gitops-plugin.json
  frontend/packages/gitops-plugin/locales/zh/gitops-plugin.json
  frontend/packages/helm-plugin/locales/ja/helm-plugin.json
  frontend/packages/helm-plugin/locales/ko/helm-plugin.json
  frontend/packages/helm-plugin/locales/zh/helm-plugin.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/ja/lso-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/ko/lso-plugin.json
  frontend/packages/metal3-plugin/locales/ja/metal3-plugin.json
  frontend/packages/network-attachment-definition-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/network-attachment-definition-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/network-attachment-definition-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/operator-lifecycle-manager/locales/ko/olm.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ko/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/packages/shipwright-plugin/locales/ja/shipwright-plugin.json
  frontend/packages/shipwright-plugin/locales/ko/shipwright-plugin.json
  frontend/packages/shipwright-plugin/locales/zh/shipwright-plugin.json
  frontend/packages/topology/locales/ja/topology.json
  frontend/packages/topology/locales/ko/topology.json
  frontend/packages/topology/locales/zh/topology.json
  frontend/packages/vsphere-plugin/locales/ja/vsphere-plugin.json
  frontend/packages/vsphere-plugin/locales/ko/vsphere-plugin.json
  frontend/packages/vsphere-plugin/locales/zh/vsphere-plugin.json
  frontend/packages/webterminal-plugin/locales/ja/webterminal-plugin.json
  frontend/packages/webterminal-plugin/locales/ko/webterminal-plugin.json
  frontend/packages/webterminal-plugin/locales/zh/webterminal-plugin.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, component/shared, component/dev-console, component/kubevirt, component/knative, component/ceph, component/core, component/metal3, component/olm, component/network-attachment-definition, component/lso, docs-approved, qe-approved, px-approved, kind/i18n, component/helm, component/topology, component/gitops, component/pipelines, jira/valid-reference

#13028 OCPBUGS-11285: Dynamic plugin translation support for plurals broken
  frontend/public/i18n.js
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-important, jira/valid-reference

#12934 ODC-7336: automation for customization-of-catalog-add-page-form feature file
  frontend/packages/dev-console/integration-tests/features/customization/customization-of-catalog-addPage-form-view.feature
  frontend/packages/dev-console/integration-tests/support/pageObjects/customization.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/customization/customization-of-catalog-addPage-form-view.ts
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, jira/valid-reference

#13042 OCPBUGS-14341: Check operands deletionTimestamp to disable kebab action menu
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
Labels: approved, lgtm, component/olm, jira/valid-bug, jira/valid-reference

#13044 OCPBUGS-9285: Add note to the console.page/route extension regarding its usage
  frontend/packages/console-dynamic-plugin-sdk/docs/console-extensions.md
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/pages.ts
Labels: approved, lgtm, component/sdk, jira/valid-bug, jira/valid-reference

#13034 OCPBUGS-16599: allow creation of v1beta1 APIversion Pipeline in Pipeline builder YAML view
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-overview/TriggerLastRunButton.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/pipeline-quicksearch-utils.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-utils.ts
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference

#13031 [release-4.13] OCPBUGS-16434: Fix stop PLR option
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/__tests__/PipelineRunDetailsPage.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunList.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/utils/pipeline-actions.tsx
Labels: approved, lgtm, cherry-pick-approved, qe-approved, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13035 OCPBUGS-3495: Add cacheBuster query string when requesting plugin entry scripts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/__tests__/plugin-loader.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-loader.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/__tests__/url.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/url.ts
Labels: approved, lgtm, component/sdk, docs-approved, px-approved, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13049 OCPBUGS-9355: Fix translation bug
  frontend/public/components/modals/configure-update-strategy-modal.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-low, jira/valid-reference

#13050 OCPBUGS-16656: Devfile import fails on master branch
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/utils/__tests__/yup-validations.spec.ts
  frontend/packages/console-shared/src/utils/yup-validations.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/hpa/validation-utils.ts
  frontend/packages/dev-console/src/components/import/__tests__/deployImage-validation-utils.spec.ts
  frontend/packages/dev-console/src/components/import/__tests__/import-validation-utils.spec.ts
  frontend/packages/dev-console/src/components/import/deployImage-submit-utils.ts
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/components/import/import-validation-utils.ts
  frontend/packages/dev-console/src/utils/shared-submit-utils.ts
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/src/components/forms/HelmChartRepository/helmchartrepository-validation-utils.ts
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/__tests__/switch-to-form-validation-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/__tests__/validation-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/repository/repository-form-utils.ts
Labels: approved, lgtm, component/shared, component/dev-console, kind/i18n, component/helm, component/pipelines, jira/valid-bug, jira/valid-reference

#13022 OCPBUGS-10884: propagate mpath device type to request data
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/request.ts
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/types.ts
Labels: approved, lgtm, component/lso, jira/valid-bug, jira/severity-important, jira/valid-reference

#12900 OU-175: Monitoring: Add "Silences" tab to Developer console
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/monitoring/MonitoringPage.tsx
  frontend/packages/dev-console/src/components/monitoring/__tests__/MonitoringPage.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlertsRulesDetailsPage.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/monitoring-alerts-utils.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/monitoring-silences.tsx
  frontend/packages/dev-console/src/components/monitoring/index.ts
  frontend/public/actions/observe.ts
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/silence-form.tsx
  frontend/public/components/monitoring/types.ts
  frontend/public/locales/en/public.json
  frontend/public/reducers/observe.ts
Labels: approved, lgtm, component/dev-console, component/monitoring, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#12952 CONSOLE-3676: Convert app.jsx from class component to functional comp…
  frontend/public/components/app.jsx
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference

#13011 CONSOLE-3682: Convert components in cluster-settings folder from clas…
  frontend/__tests__/components/cluster-settings/basicauth-idp-form.spec.tsx
  frontend/__tests__/components/cluster-settings/github-idp-form.spec.tsx
  frontend/__tests__/components/cluster-settings/gitlab-idp-form.spec.tsx
  frontend/__tests__/components/cluster-settings/google-idp-form.spec.tsx
  frontend/__tests__/components/cluster-settings/htpasswd-idp-form.spec.tsx
  frontend/__tests__/components/cluster-settings/keystone-idp-form.spec.tsx
  frontend/__tests__/components/cluster-settings/ldap-idp-form.spec.tsx
  frontend/__tests__/components/cluster-settings/openid-idp-form.spec.tsx
  frontend/__tests__/components/cluster-settings/request-header-idp-form.spec.tsx
  frontend/public/components/cluster-settings/basicauth-idp-form.tsx
  frontend/public/components/cluster-settings/github-idp-form.tsx
  frontend/public/components/cluster-settings/gitlab-idp-form.tsx
  frontend/public/components/cluster-settings/google-idp-form.tsx
  frontend/public/components/cluster-settings/htpasswd-idp-form.tsx
  frontend/public/components/cluster-settings/keystone-idp-form.tsx
  frontend/public/components/cluster-settings/ldap-idp-form.tsx
  frontend/public/components/cluster-settings/openid-idp-form.tsx
  frontend/public/components/cluster-settings/request-header-idp-form.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#13018 CONSOLE-3715: Move useAnnotationsModal to console-shared
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/modals/useAnnotationsModal.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-shared/src/hooks/useAnnotationsModal.tsx
  frontend/public/actions/features.ts
  frontend/public/components/factory/modal.tsx
  frontend/public/components/modals/tags.tsx
  frontend/public/components/utils/details-page.tsx
  frontend/public/components/utils/horizontal-nav.tsx
  frontend/public/components/utils/types.ts
  frontend/public/graphql/client.ts
  frontend/public/module/k8s/types.ts
  frontend/public/reducers/features.ts
  frontend/webpack.circular-deps.ts
  frontend/webpack.config.ts
Labels: approved, lgtm, tide/merge-method-squash, component/shared, component/core, component/sdk, docs-approved, qe-approved, px-approved, jira/valid-reference

#13021 OCPBUGS-16093,OCPBUGS-9409,OCPBUGS-16270: Creation of GH webhook and attaching it to repo while importing from git using PAC
  frontend/packages/console-shared/src/utils/proxy.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/toast/WebhookToastContent.tsx
  frontend/packages/git-service/src/services/base-service.ts
  frontend/packages/git-service/src/services/bitbucket-service.ts
  frontend/packages/git-service/src/services/github-service.ts
  frontend/packages/git-service/src/services/gitlab-service.ts
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryFormPage.tsx
  frontend/packages/pipelines-plugin/src/components/repository/consts.ts
  frontend/packages/pipelines-plugin/src/components/repository/repository-form-utils.ts
  frontend/packages/pipelines-plugin/src/components/repository/sections/RepositoryOverview.tsx
  frontend/packages/pipelines-plugin/src/components/repository/sections/WebhookSection.tsx
  frontend/packages/pipelines-plugin/src/components/repository/types.ts
Labels: approved, lgtm, component/shared, component/dev-console, component/git-service, kind/i18n, component/pipelines, jira/valid-bug, jira/severity-important, jira/valid-reference

#12989 CONSOLE-3678: Convert EventStream component in events.jsx from class …
  frontend/public/components/events.jsx
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference

#12973 CONSOLE-3677: Convert edit-yaml.jsx from class component to functiona…
  frontend/public/components/edit-yaml.jsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#12974 CONSOLE-3568: expose DeleteModal via useDeleteModal hook in @console/shared
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/k8s/actions/k8s.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-shared/src/hooks/useDeleteModal.tsx
  frontend/public/components/modals/delete-modal.tsx
Labels: approved, lgtm, component/shared, component/dashboard, component/core, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#12947 CONSOLE-3679: Convert instantiate-template.tsx from class component t…
  frontend/public/components/instantiate-template.tsx
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference
