Repository openshift/console, pull requests merged in 2023-04, with the labels that each got.

#12643 [release-4.12] OCPBUGS-10225: Get the Event type value from the latest PLR of the Repository
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryDetails.tsx
  frontend/packages/pipelines-plugin/src/components/repository/__tests__/RepositoryDetails.spec.tsx
  frontend/packages/pipelines-plugin/src/components/repository/__tests__/repository-mock.ts
  frontend/packages/pipelines-plugin/src/components/repository/list-page/RepositoryRow.tsx
  frontend/packages/pipelines-plugin/src/components/repository/types.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, kind/i18n, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12681 OCPBUGS-10916: fix translation string for Image pull secret created alert
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/image-search/ImageSearch.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, kind/i18n, jira/valid-bug, jira/severity-low, jira/valid-reference

#12697 OCPBUGS-5940: Wait with CRD/model translation until i18n bundles are loaded
  frontend/@types/console/index.d.ts
  frontend/public/i18n.js
  frontend/public/module/k8s/get-resources.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/core, jira/valid-bug, jira/valid-reference

#12128 OCPBUGS-9948: docs: fix typo in component description
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
Labels: approved, lgtm, ok-to-test, tide/merge-method-squash, bugzilla/valid-bug, component/sdk, jira/valid-bug, jira/severity-low, jira/valid-reference

#12683 OCPBUGS-10961: Fix description for BuildAdapter SDK extension
  frontend/packages/console-dynamic-plugin-sdk/docs/console-extensions.md
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/topology-details.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/sdk, jira/valid-bug, jira/valid-reference

#12694 OCPBUGS-11197: Rephrase vCenter connection tooltips
  frontend/packages/vsphere-plugin/locales/en/vsphere-plugin.json
  frontend/packages/vsphere-plugin/src/components/ClusterOverview/VSphereStatus.tsx
  frontend/packages/vsphere-plugin/src/components/VSphereConnectionForm.tsx
  frontend/packages/vsphere-plugin/src/components/VSphereConnectionModal.tsx
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug, jira/valid-reference

#11807 Remove andybraren as dashboard reviewer
  frontend/packages/console-shared/src/components/dashboard/OWNERS
  frontend/public/components/dashboard/OWNERS
Labels: approved, lgtm, component/shared, component/dashboard, component/core, docs-approved, qe-approved, px-approved

#12689 ODC-7281: Provide Column management option for the TaskRuns list page
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipeline-task-runs-display.feature
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipeline-task-runs-display.ts
  frontend/packages/pipelines-plugin/src/components/taskruns/list-page/TaskRunsHeader.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/list-page/TaskRunsList.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/list-page/TaskRunsListPage.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/list-page/TaskRunsRow.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/list-page/__tests__/TaskRunsRow.spec.tsx
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines, jira/valid-reference

#12702 OCPBUGS-11020: fix runtime error on OperatorHub details pages
  frontend/packages/operator-lifecycle-manager/src/components/catalog-source.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-details.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, jira/valid-bug, jira/valid-reference

#12704 OCPBUGS-103: Move operator install status to it's own route/page
  frontend/packages/operator-lifecycle-manager/console-extensions.json
  frontend/packages/operator-lifecycle-manager/package.json
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-install-page.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12686 ODC-7274: Prepare a page and modal to invoke a Serverless function
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-shared/src/components/editor/YAMLEditor.tsx
  frontend/packages/console-shared/src/components/formik-fields/YAMLEditorField.tsx
  frontend/packages/console-shared/src/components/formik-fields/field-types.ts
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/actions/creators.ts
  frontend/packages/knative-plugin/src/actions/providers.ts
  frontend/packages/knative-plugin/src/components/modals/index.ts
  frontend/packages/knative-plugin/src/components/test-function/TestFunction.tsx
  frontend/packages/knative-plugin/src/components/test-function/TestFunctionController.tsx
  frontend/packages/knative-plugin/src/components/test-function/TestFunctionModal.scss
  frontend/packages/knative-plugin/src/components/test-function/TestFunctionModal.tsx
  frontend/packages/knative-plugin/src/components/test-function/modal-components/ModalBodyWrapper.tsx
  frontend/packages/knative-plugin/src/components/test-function/modal-components/ModalCompact.tsx
  frontend/packages/knative-plugin/src/components/test-function/modal-components/RequestBody.tsx
  frontend/packages/knative-plugin/src/components/test-function/modal-components/RequestOptions.tsx
  frontend/packages/knative-plugin/src/components/test-function/modal-components/RequestPane.tsx
  frontend/packages/knative-plugin/src/components/test-function/modal-components/ResponseBody.tsx
  frontend/packages/knative-plugin/src/components/test-function/modal-components/ResponseInfo.tsx
  frontend/packages/knative-plugin/src/components/test-function/modal-components/ResponsePane.tsx
  frontend/packages/knative-plugin/src/components/test-function/types.ts
  frontend/packages/knative-plugin/src/components/test-function/utils.ts
  frontend/packages/knative-plugin/src/const.ts
  frontend/public/components/factory/modal.tsx
  frontend/webpack.config.ts
Labels: approved, lgtm, component/shared, component/knative, component/core, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#12655 OCPBUGS-11382: Update Dockerfile to use latest builder images
  Dockerfile
Labels: approved, lgtm, bugzilla/valid-bug, jira/valid-bug, jira/severity-low, jira/valid-reference

#12678 OCPBUGS-10562: re-enable and fix operator-uninstall.spec.ts
  frontend/packages/console-shared/src/hooks/useOperands.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-uninstall.spec.ts
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, component/olm, jira/valid-bug, jira/valid-reference

#12672 ODC-7280: Add PipelineRun tab to Dev perspective Pipeline page
  frontend/packages/pipelines-plugin/integration-tests/features/e2e/pipeline-ci.feature
  frontend/packages/pipelines-plugin/integration-tests/support/constants/pipelines.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelines-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/common/pipelines.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-from-builder-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-runs.ts
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/__tests__/PipelineRunDetailsPage.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelineTabbedPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/__tests__/PipelineTabbedPage.spec.tsx
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/pipelines, jira/valid-reference

#12685 OCPBUGS-9305: add missing readOnly conditions
  frontend/public/components/volumes-table.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/core, jira/valid-bug, jira/severity-low, jira/valid-reference

#12713 Improvements on Web Terminal Operator Installation functionality
  frontend/packages/dev-console/integration-tests/features/web-terminal/web-terminal-adminuser.feature
  frontend/packages/dev-console/integration-tests/support/pages/functions/installOperatorOnCluster.ts
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved

#12115 Improve useModal docs example
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/app/modal-support/useModal.ts
Labels: approved, lgtm, lifecycle/stale, component/sdk, docs-approved, qe-approved, px-approved

#12709 Add the possibility login with different IDP and user credentials
  frontend/packages/dev-console/integration-tests/support/commands/hooks.ts
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved

#12587 OCPBUGS-5548: delete associated pipeline, triggertemplate and eventlistener when deleting app
  frontend/packages/pipelines-plugin/src/utils/pipeline-utils.ts
  frontend/packages/topology/src/utils/application-utils.ts
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/topology, component/pipelines, jira/valid-bug, jira/severity-low, jira/valid-reference

#12716 OCPBUGS-3036: Do not list subscriptions in all namespaces on CSV details page.
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-group.tsx
  frontend/packages/operator-lifecycle-manager/src/const.ts
  frontend/packages/operator-lifecycle-manager/src/status/csv-status.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12731 OCPBUGS-10562: disable operator-uninstall.ts as the uninstall test is…
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-uninstall.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, jira/valid-bug, jira/valid-reference

#12666 OCPBUGS-9329: update dynamic plugin info for development mode
  cmd/bridge/main.go
  frontend/@types/console/index.d.ts
  frontend/packages/console-app/src/components/console-operator/ConsoleOperatorConfig.tsx
  frontend/packages/console-app/src/components/dashboards-page/dynamic-plugins-health-resource/DynamicPluginsPopover.tsx
  frontend/packages/console-dynamic-plugin-sdk/README.md
  pkg/server/server.go
Labels: approved, lgtm, bugzilla/valid-bug, component/core, component/sdk, component/backend, jira/valid-bug, jira/severity-low, jira/valid-reference

#12707 CONSOLE-3600: Filter operators based on nodes OS type
  cmd/bridge/main.go
  frontend/@types/console/index.d.ts
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
  pkg/server/server.go
  pkg/serverconfig/config.go
  pkg/serverconfig/types.go
Labels: approved, lgtm, component/backend, component/olm, docs-approved, qe-approved, px-approved, jira/valid-reference

#12732 OCPBUGS-11869: Pod Status Overlapping in Sidebar
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/status/Status.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/sdk, jira/valid-bug, jira/severity-low, jira/valid-reference

#12722 OCPBUGS-6770: Pipeline doesn't render correctly when displayed but looks fine in edit mode
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/pipelines, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12635 OCPBUGS-10224: Multiple instances of tabs under ODF dashboard
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/mock-models.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Labels: approved, lgtm, ok-to-test, bugzilla/valid-bug, component/ceph, kind/i18n, jira/valid-bug, jira/valid-reference

#12717 OCPBUGS-11596: Do not fetch catalog sources on CSV or Subscription details pages.
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/subscription.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/subscription.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, kind/i18n, jira/valid-bug, jira/severity-low, jira/valid-reference

#12725 OCPBUGS-7485: When Creating Sample Devfile from the Samples Page, Topology Icon is not set
  frontend/packages/dev-console/src/components/import/devfile/DevfileStrategySection.tsx
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/const.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/dev-console, jira/valid-bug, jira/valid-reference

#12641 OCPBUGS-6581: Serverless - Eventing - Channels: Conditions column i18n misses
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/knative-plugin/src/components/eventing/channels-list/ChannelRow.tsx
  frontend/packages/knative-plugin/src/utils/condition-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/knative, kind/i18n, jira/valid-bug, jira/valid-reference

#12726 OCPBUGS-11057: Importing a kn Service shows a non-working Open URL decorator also when the Add Route checkbox was unselected
  frontend/packages/knative-plugin/src/components/overview/KSRoutesOverviewListItem.tsx
  frontend/packages/knative-plugin/src/components/overview/RoutesOverviewListItem.tsx
  frontend/packages/knative-plugin/src/components/overview/RoutesUrlLink.tsx
  frontend/packages/knative-plugin/src/const.ts
  frontend/packages/knative-plugin/src/topology/components/decorators/getServiceRouteDecorator.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/knative, jira/valid-bug, jira/valid-reference

#12753 [release-4.9] OCPBUGS-12246: disable operator-install-single-namespace.spec.ts to solve CI issues
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-single-namespace.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/olm, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12578 OCPBUGS-7692: Fix that helm details page shows an inf. loading indicator when api call fails
  frontend/packages/helm-plugin/src/components/details-page/HelmReleaseDetails.tsx
  frontend/packages/helm-plugin/src/components/details-page/__tests__/HelmReleaseDetails.spec.tsx
  frontend/packages/helm-plugin/src/utils/helm-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/helm, jira/valid-bug, jira/severity-important, jira/valid-reference

#12752 [release-4.10] OCPBUGS-12245: disable operator-install-single-namespace.spec.ts to solve CI issues
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-single-namespace.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/olm, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12742 [release-4.13] OCPBUGS-11919: Reduce metrics cardinality by grouping well-known and other perspectives and plugins
  pkg/server/server.go
  pkg/serverconfig/metrics.go
  pkg/serverconfig/metrics_test.go
  pkg/usage/metrics.go
  pkg/usage/metrics_test.go
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/backend, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#12766 OCPBUGS-12286: Fix missing console plugin control on CSV details page.
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/olm, jira/valid-bug, jira/valid-reference

#12767 OCPBUGS-12637: update helm release empty state text
  frontend/packages/helm-plugin/integration-tests/support/pages/helm/helm-page.ts
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/src/components/list-page/HelmReleaseList.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, kind/i18n, component/helm, jira/valid-bug, jira/valid-reference

#12771 OCPBUGS-12732: fix buildconfig form ns
  frontend/public/components/build-config.tsx
Labels: kind/bug, approved, lgtm, bugzilla/valid-bug, component/core, jira/valid-bug, jira/valid-reference

#12724 OCPBUGS-11099: add support for minimal status of tekton
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunCustomDetails.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunLogs.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunVisualization.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/__tests__/PipelineRunVisualization.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/hooks/useTaskStatus.ts
  frontend/packages/pipelines-plugin/src/components/pipelineruns/logs/__tests__/pipelineRunLogSnippet.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelineruns/logs/pipelineRunLogSnippet.ts
  frontend/packages/pipelines-plugin/src/components/pipelineruns/status/LinkedPipelineRunTaskStatus.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/status/PipelineBars.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/status/PipelineRunStatus.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualization.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-overview/PipelineRunItem.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/__tests__/utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/utils.ts
  frontend/packages/pipelines-plugin/src/components/taskruns/useTaskRuns.ts
  frontend/packages/pipelines-plugin/src/topology/build-decorators/PipelineBuildDecoratorTooltip.tsx
  frontend/packages/pipelines-plugin/src/topology/build-decorators/PipelineRunDecorator.tsx
  frontend/packages/pipelines-plugin/src/topology/build-decorators/__tests__/PipelineRunDecorator.spec.tsx
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-augment.spec.ts
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-utils.spec.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-augment.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-utils.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/pipelines, jira/valid-bug, jira/valid-reference

#12769 [release-4.9] OCPBUGS-12695: Fix that topology sidebar actions shows outdated data (Edit Pod Count, Edit labels, Edit annotations, etc.)
  frontend/packages/helm-plugin/src/actions/providers.ts
  frontend/packages/topology/console-extensions.json
  frontend/packages/topology/src/actions/TopologyActions.tsx
  frontend/packages/topology/src/actions/provider.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/helm, component/topology, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#12765 [release-4.12] OCPBUGS-12477: Users don't know what type of resource is being created by Import from Git or Deploy Image flows
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/userPreferences/user-preferences-dev-perspective.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/DeployImageForm.tsx
  frontend/packages/dev-console/src/components/import/GitImportForm.tsx
  frontend/packages/dev-console/src/components/import/SourceToImageForm.tsx
  frontend/packages/dev-console/src/components/import/__tests__/DeployImage.spec.tsx
  frontend/packages/dev-console/src/components/import/advanced/AdvancedSection.tsx
  frontend/packages/dev-console/src/components/import/advanced/__tests__/AdvancedSection.spec.tsx
  frontend/packages/dev-console/src/components/import/jar/UploadJarForm.tsx
  frontend/packages/dev-console/src/components/import/section/ResourceSection.tsx
  frontend/packages/git-service/src/types/git.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/create-knative-workload.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/dev-console, component/knative, component/git-service, kind/i18n, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#12758 OCPBUGS-12267: Fix OLM k8sResourcePrefix descriptor dropdown behavior
  frontend/packages/console-shared/src/components/dynamic-form/widgets.tsx
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#12573 [release-4.12] OCPBUGS-1753: Fix OLM descriptor components deletes operand e2e test failing
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/descriptors.spec.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/olm, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#12763 [release-4.12] OCPBUGS-12476: Pipelines repository list and creation form doesn't show Tech Preview status
  frontend/packages/pipelines-plugin/src/components/repository/list-page/RepositoriesList.tsx
  frontend/packages/pipelines-plugin/src/components/repository/sections/RepositoryFormSection.tsx
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#12511 [release-4.12] OCPBUGS-6888: Show Git icon and repo link as per the Git provider
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryLinkList.tsx
  frontend/packages/pipelines-plugin/src/components/repository/consts.ts
Labels: approved, lgtm, bugzilla/valid-bug, cherry-pick-approved, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference
