Repository openshift/console, pull requests merged in 2024-08, with the labels that each got.

#14101 OCPBUGS-37802: Build option is selected as Shipwright on edit if created the deployment using BuildConfig
  frontend/packages/dev-console/src/components/import/section/build-section/BuildSection.tsx
  frontend/packages/shipwright-plugin/src/components/build-list/BuildTable.tsx
Labels: approved, lgtm, component/dev-console, jira/valid-bug, jira/valid-reference

#13942 OCPBUGS-30889: No access to list pipelines.tekton.dev prevents from using Delete application form
  frontend/packages/topology/src/utils/application-utils.ts
Labels: approved, lgtm, component/topology, jira/valid-bug, jira/valid-reference

#14045 ODC-7635: Add alert for SW Builds when waiting
  frontend/packages/console-shared/src/components/pod/PodsOverview.tsx
Labels: approved, lgtm, tide/merge-method-squash, component/shared, docs-approved, qe-approved, px-approved, jira/valid-reference

#14087 ODC-7648: Open Lightspeed Chat Interface by clicking a button on the YAML Editor component
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/editor/CodeEditorToolbar.tsx
  frontend/packages/console-shared/src/hooks/ols-hook.ts
Labels: approved, lgtm, component/shared, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#14009 ODC-7626: Web Terminal Operator installation via cli
  frontend/packages/dev-console/integration-tests/support/constants/global.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/checkOperatorStatus.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/installOperatorOnClusterUsingCLI.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/operators.ts
  frontend/packages/webterminal-plugin/integration-tests/support/step-definitions/customization/customization-of-web-terminal.ts
  frontend/packages/webterminal-plugin/integration-tests/support/step-definitions/web-terminal/web-teminal-basic.ts
  frontend/packages/webterminal-plugin/integration-tests/testData/webterminalOperatorSubscription.yaml
Labels: approved, lgtm, component/dev-console, component/knative, docs-approved, qe-approved, px-approved, component/topology, component/pipelines, jira/valid-reference

#14029 ODC-7632: Combine Shipwright model pages
  frontend/packages/shipwright-plugin/console-extensions.json
  frontend/packages/shipwright-plugin/integration-tests/features/e2e/shipwright-ci.feature
  frontend/packages/shipwright-plugin/integration-tests/features/shipwright-table.feature
  frontend/packages/shipwright-plugin/integration-tests/support/step-definitions/builds/shipwright-build-detail-page.ts
  frontend/packages/shipwright-plugin/locales/en/shipwright-plugin.json
  frontend/packages/shipwright-plugin/src/components/build-details/BuildDetailsPage.tsx
  frontend/packages/shipwright-plugin/src/components/build-list/BuildListPage.tsx
  frontend/packages/shipwright-plugin/src/components/buildrun-details/BuildRunDetailsPage.tsx
  frontend/packages/shipwright-plugin/src/components/buildrun-list/BuildRunListPage.tsx
  frontend/packages/shipwright-plugin/src/components/buildstrategy-details/BuildStrategyDetailsPage.tsx
  frontend/packages/shipwright-plugin/src/components/clusterbuildstrategy-details/ClusterBuildStrategyDetailsPage.tsx
  frontend/packages/shipwright-plugin/src/components/shipwright-tablistpage/ShipwrightTabListPage.tsx
  frontend/packages/shipwright-plugin/src/pages.ts
  frontend/packages/shipwright-plugin/src/utils.ts
  frontend/public/components/default-resource.tsx
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference

#14081 OCPBUGS-37426: No documentation covering how to translate plugin messages
  frontend/packages/console-dynamic-plugin-sdk/README.md
Labels: approved, lgtm, component/sdk, jira/valid-bug, jira/valid-reference

#14056 CONSOLE-4104: Implement basic OLM V1 catalog view with filtering
  cmd/bridge/main.go
  contrib/oc-environment.sh
  frontend/packages/dev-console/integration-tests/support/pageObjects/operators-po.ts
  frontend/packages/operator-lifecycle-manager-v1/console-extensions.json
  frontend/packages/operator-lifecycle-manager-v1/locales/en/olm-v1.json
  frontend/packages/operator-lifecycle-manager-v1/package.json
  frontend/packages/operator-lifecycle-manager-v1/src/components/ExtensionCatalog.tsx
  frontend/packages/operator-lifecycle-manager-v1/src/const.ts
  frontend/packages/operator-lifecycle-manager-v1/src/contexts/ExtensionCatalogDatabaseContext.ts
  frontend/packages/operator-lifecycle-manager-v1/src/contexts/types.ts
  frontend/packages/operator-lifecycle-manager-v1/src/contexts/useExtensionCatalogDatabaseContextValues.ts
  frontend/packages/operator-lifecycle-manager-v1/src/database/bundles.ts
  frontend/packages/operator-lifecycle-manager-v1/src/database/channels.ts
  frontend/packages/operator-lifecycle-manager-v1/src/database/indexeddb.ts
  frontend/packages/operator-lifecycle-manager-v1/src/database/injest.ts
  frontend/packages/operator-lifecycle-manager-v1/src/database/jsonl.ts
  frontend/packages/operator-lifecycle-manager-v1/src/database/metadata.ts
  frontend/packages/operator-lifecycle-manager-v1/src/database/packages.ts
  frontend/packages/operator-lifecycle-manager-v1/src/database/type-guards.ts
  frontend/packages/operator-lifecycle-manager-v1/src/database/types.ts
  frontend/packages/operator-lifecycle-manager-v1/src/hooks/useExtensionCatalogItems.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-hub.cy.ts
  frontend/packages/operator-lifecycle-manager/src/components/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/index.ts
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-channel-version-select.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-details.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-item-details.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-page.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-utils.ts
  frontend/packages/operator-lifecycle-manager/src/const.ts
  pkg/server/server.go
Labels: approved, lgtm, component/dev-console, component/backend, component/olm, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#14111 OCPBUGS-38036: Properly chain trap commands
  frontend/integration-tests/test-cypress.sh
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#14112 [release-4.16] OCPBUGS-38093: correct link for Lightspeed operator
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/explore-admin-features-getting-started-card.tsx
Labels: approved, lgtm, cherry-pick-approved, component/dashboard, component/core, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#14124 NO-JIRA: Disable "Helm release status verification: HR-01-TC04" test due to CI outage
  frontend/packages/helm-plugin/integration-tests/features/helm-release.feature
Labels: approved, lgtm, do-not-merge/hold, docs-approved, qe-approved, px-approved, component/helm, jira/valid-reference

#14050 CONSOLE-4185: Export CSV option for Virtualized Table
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/public/components/factory/Table/VirtualizedTable.tsx
  frontend/public/components/factory/Table/_virtualized-table.scss
Labels: approved, lgtm, component/core, component/sdk, docs-approved, qe-approved, px-approved, jira/valid-reference

#14105 CONSOLE-4187: Dev console: Use Metrics page from monitoring-plugin
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/monitoring/MonitoringPage.tsx
  frontend/packages/dev-console/src/components/monitoring/__tests__/MonitoringPage.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/metrics/EmptyStateQuery.tsx
  frontend/packages/dev-console/src/components/monitoring/metrics/MetricsChart.scss
  frontend/packages/dev-console/src/components/monitoring/metrics/MetricsChart.tsx
  frontend/packages/dev-console/src/components/monitoring/metrics/MetricsQueryInput.scss
  frontend/packages/dev-console/src/components/monitoring/metrics/MetricsQueryInput.tsx
  frontend/packages/dev-console/src/components/monitoring/metrics/MonitoringMetrics.tsx
  frontend/packages/dev-console/src/components/monitoring/metrics/QueryInput.tsx
  frontend/packages/dev-console/src/components/monitoring/metrics/__tests__/MetricsChart.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/metrics/__tests__/MetricsQueryInput.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/metrics/__tests__/MonitoringMetrics.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/metrics/types.ts
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#13718 MULTIARCH-4148: Add the CPU architecture column to the NodeList and filter properties for all cpu archs
  frontend/packages/console-app/src/components/nodes/NodesPage.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-shared/src/promql/resource-metrics.ts
  frontend/packages/console-shared/src/selectors/node.ts
  frontend/packages/console-shared/src/sorts/nodes.ts
  frontend/public/components/utils/resource-metrics.tsx
Labels: approved, lgtm, component/shared, component/core, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#14047 NO-JIRA: Console PR Template: Fix position of colon
  .github/PULL_REQUEST_TEMPLATE/console_pr.md
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, jira/valid-reference

#14097 CONSOLE-4188: Add the signals correlation to the app launcher
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#14123 OCPBUGS-38236: Add telemetry to Lightspeed console capability
  frontend/packages/console-app/src/components/lightspeed/Lightspeed.tsx
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, jira/valid-bug, jira/valid-reference

#14084 OCPBUGS-37453: A value submitted in From view is wrapped with single quotation after switching to Yaml view.
  frontend/packages/dev-console/src/components/hpa/HPADetailsForm.tsx
Labels: approved, lgtm, component/dev-console, jira/valid-bug, jira/valid-reference

#14103 OCPBUGS-34365: Unrelated readme opened when opening CodeReady workspaces from Quarkus using s2i quickstart
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/EditDecorator.tsx
  frontend/packages/topology/src/data-transforms/__tests__/__snapshots__/data-transformer.spec.ts.snap
  frontend/packages/topology/src/data-transforms/__tests__/data-transformer.spec.ts
  frontend/packages/topology/src/data-transforms/data-transformer.ts
  frontend/packages/topology/src/data-transforms/transform-utils.ts
  frontend/packages/topology/src/utils/topology-utils.ts
Labels: approved, lgtm, component/knative, component/topology, jira/valid-bug, jira/valid-reference

#14010 ODC-7625: Red Hat Camel K Operator installation via cli
  frontend/packages/dev-console/integration-tests/support/constants/global.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/checkOperatorStatus.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/installOperatorOnClusterUsingCLI.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/knative-plugin/integration-tests/testData/redhatCamelkOperatorSubscription.yaml
Labels: approved, lgtm, component/dev-console, component/knative, docs-approved, qe-approved, px-approved, jira/valid-reference

#14132 OCPBUGS-38228: correct casing in "Lightspeed"
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/explore-admin-features-getting-started-card.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/dashboard, component/core, kind/i18n, jira/valid-bug, jira/severity-low, jira/valid-reference

#14026 OCPBUGS-32773: Values entered into the Instantiate Template form are automatically cleared
  frontend/public/components/instantiate-template.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-important, jira/valid-reference

#14120 OCPBUGS-37988: fix bug where cluster version text appears black in da…
  frontend/public/components/cluster-settings/_cluster-settings.scss
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-low, jira/valid-reference

#14136 NO-JIRA: Fix typos in Console dynamic plugin SDK README
  frontend/packages/console-dynamic-plugin-sdk/README.md
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved, jira/valid-reference

#14122 CNV-39065: Display memory overcommit
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/nodes/NodesPage.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/UtilizationCard.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/queries.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-types.ts
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationItem.tsx
  frontend/packages/console-shared/src/promql/cluster-dashboard.ts
  frontend/packages/console-shared/src/sorts/nodes.ts
  frontend/public/actions/ui.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/NodeMemoryOvercommitPopover.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/utilization-card.tsx
  frontend/public/components/utils/useClusterHasVMs.ts
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/shared, component/dashboard, component/core, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#14135 NO-JIRA: Update Console plugin SDK package changelogs post publish
  frontend/packages/console-dynamic-plugin-sdk/CHANGELOG-core.md
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved, jira/valid-reference

#13907 [release-4.12] OCPBUGS-34564: Routes created by devfiles do not always use HTTPS
  frontend/packages/dev-console/src/components/import/GitImportForm.tsx
Labels: approved, lgtm, cherry-pick-approved, component/dev-console, qe-approved, kind/i18n, component/helm, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#14116 OCPBUGS-38111: do not directly mutate links in useMemo
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/explore-admin-features-getting-started-card.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/dashboard, component/core, kind/i18n, jira/valid-bug, jira/valid-reference

#14086 OCPBUGS-38557: Add support for GCP Workload Identity / Federated identity operator installs
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-item-details.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
Labels: approved, lgtm, component/olm, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-bug, jira/valid-reference

#14043 OCPBUGS-34956: double k-native exec timeout
  frontend/integration-tests/test-cypress.sh
  frontend/packages/knative-plugin/integration-tests/cypress.config.js
  frontend/packages/knative-plugin/integration-tests/support/commands/hooks.ts
Labels: approved, lgtm, component/knative, docs-approved, qe-approved, px-approved, jira/valid-bug, jira/valid-reference

#14099 OCPBUGS-36967: RWOP access mode is not integrated in the UI [cephfs.csi.ceph.com & rbd.csi.ceph.com]
  frontend/public/components/storage/shared.ts
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#14110 OCPBUGS-38051: improve Lightspeed popup contents and navigation
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/lightspeed/Lightspeed.scss
  frontend/packages/console-app/src/components/lightspeed/Lightspeed.tsx
Labels: approved, lgtm, component/core, qe-approved, kind/i18n, jira/valid-bug, jira/valid-reference

#14121 CONSOLE-4118: Switch deprecated select for utilization card filter
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/utilization-card.tsx
Labels: approved, lgtm, component/dashboard, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference

#14125 OCPBUGS-38226: Modifying helm e2e test to fix CI issue
  frontend/packages/helm-plugin/integration-tests/features/helm-release.feature
Labels: approved, lgtm, component/dev-console, component/helm, jira/valid-bug, jira/valid-reference

#14100 OCPBUGS-35238: Storage -> StorageClasses -> Create StorageClass -> Provisioner -> kubernetes.io/gce-pd: i18n misses
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/locales/en/console-app.json
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-low, jira/valid-reference

#14165 OCPBUGS-37448: fix namespace for networkpolicy
  frontend/packages/console-app/src/components/network-policies/create-network-policy.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#14138 CONSOLE-4124: replace deprecated components in SilenceForm
  frontend/public/components/monitoring/silence-form.tsx
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference

#14006 CONSOLE-4118: Convert DropdownDeprecated to use new Dropdown
  frontend/packages/console-app/src/components/oauth-config/OAuthConfigDetails.tsx
  frontend/public/components/factory/ListPage/ListPageCreate.tsx
Labels: approved, lgtm, component/shared, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference

#14128 CONSOLE-4124: replace deprecated components in ResourceDropdown
  frontend/public/components/_resource-dropdown.scss
  frontend/public/components/resource-dropdown.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#14095 OCPBUGS-38803: CONSOLE-4108 [4.16 backport] Show deprecated operators in OperatorHub
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/mocks.ts
  frontend/packages/operator-lifecycle-manager/src/components/cluster-service-version-logo.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/deprecated-operator-warnings/deprecated-operator-warnings.tsx
  frontend/packages/operator-lifecycle-manager/src/components/deprecated-operator-warnings/use-deprecated-operator-warnings.ts
  frontend/packages/operator-lifecycle-manager/src/components/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/subscription-channel-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/DEPRECATED_operand-form.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/operand-form.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-channel-version-select.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-item-details.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-install-page.tsx
  frontend/packages/operator-lifecycle-manager/src/components/package-manifest.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/package-manifest.tsx
  frontend/packages/operator-lifecycle-manager/src/components/subscription.tsx
  frontend/packages/operator-lifecycle-manager/src/types.ts
  frontend/public/actions/ui.ts
  frontend/public/reducers/ui.ts
Labels: approved, lgtm, cherry-pick-approved, component/core, component/olm, qe-approved, kind/i18n, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#14133 CONSOLE-4124: replace deprecated components in ResourceLog
  frontend/public/components/utils/resource-log.tsx
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference

#13675 OCPBUGS-38789: Networking section depends on networking-console-plugin
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/integration-tests-cypress/tests/crud/namespace-crud.cy.ts
  frontend/packages/integration-tests-cypress/tests/crud/resource-crud.cy.ts
  frontend/packages/integration-tests-cypress/views/list-page.ts
  frontend/packages/network-attachment-definition-plugin/console-extensions.json
  frontend/packages/network-attachment-definition-plugin/src/plugin.ts
  frontend/public/components/resource-pages.ts
  frontend/public/models/yaml-templates.ts
Labels: approved, lgtm, component/core, component/network-attachment-definition, kind/i18n, kind/cypress, jira/valid-bug, jira/valid-reference

#14191 OCPBUGS-38923: temporarily disable pseudolocalization nav test
  frontend/packages/integration-tests-cypress/tests/i18n/pseudolocalization.cy.ts
Labels: approved, lgtm, kind/cypress, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#14151 CONSOLE-4120: remove orphaned GettingStartedGrid
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/getting-started/GettingStartedGrid.scss
  frontend/packages/console-shared/src/components/getting-started/GettingStartedGrid.tsx
  frontend/packages/console-shared/src/components/getting-started/__tests__/GettingStartedGrid.spec.tsx
  frontend/packages/console-shared/src/components/getting-started/index.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/getting-started-section.scss
Labels: approved, lgtm, component/shared, component/dashboard, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference, acknowledge-critical-fixes-only

#14190 OCPBUGS-38172: update README with info on yarn dev completion
  README.md
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13994 OCPBUGS-29528: List of default Camel K event sources disappears when adding a custom event source
  frontend/packages/knative-plugin/src/hooks/useKameletsData.ts
Labels: approved, lgtm, component/knative, jira/valid-bug, jira/valid-reference

#14150 CONSOLE-4117: replace deprecated components in MastheadToolbar
  frontend/packages/dev-console/integration-tests/support/step-definitions/quck-starts/quick-start-devperspective.ts
  frontend/packages/integration-tests-cypress/tests/crd-extensions/console-link.cy.ts
  frontend/packages/integration-tests-cypress/tests/i18n/pseudolocalization.cy.ts
  frontend/packages/integration-tests-cypress/views/masthead.ts
  frontend/packages/webterminal-plugin/src/components/cloud-shell/CloudShellMastheadAction.tsx
  frontend/public/components/_masthead.scss
  frontend/public/components/masthead-toolbar.jsx
Labels: approved, lgtm, component/dev-console, component/core, docs-approved, qe-approved, px-approved, kind/cypress, jira/valid-reference

#14167 OCPBUGS-38734: Expose EncodedExtension type via Console webpack SDK package
  frontend/packages/console-dynamic-plugin-sdk/src/lib-webpack.ts
Labels: approved, lgtm, component/sdk, docs-approved, px-approved, jira/valid-bug, jira/valid-reference

#14173 OCPBUGS-38701: update Events ChipGroup to use integrated close
  frontend/public/components/events.jsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#14197 [release-4.15] OCPBUGS-39112: Disable Knative e2e tests
  test-cypress.sh
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#14200 OCPBUGS-38923: remove nav psuedolocalization test
  frontend/packages/integration-tests-cypress/tests/i18n/pseudolocalization.cy.ts
Labels: approved, lgtm, kind/cypress, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#14182 OCPBUGS-38648: add Create button to Console plugins tab
  frontend/packages/console-app/src/components/console-operator/ConsoleOperatorConfig.tsx
Labels: approved, lgtm, component/core, jira/severity-critical, jira/valid-bug, jira/valid-reference

#14148 [release-4.16] OCPBUGS-38464: correct casing in "Lightspeed"
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/explore-admin-features-getting-started-card.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, cherry-pick-approved, component/dashboard, component/core, qe-approved, kind/i18n, backport-risk-assessed, jira/valid-bug, jira/severity-low, jira/valid-reference

#14137 CONSOLE-4124: replace deprecated components in FilterToolbar
  frontend/packages/dev-console/integration-tests/support/pageObjects/build-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/customization.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/helm-po.ts
  frontend/packages/shipwright-plugin/integration-tests/support/pageObjects/build-po.ts
  frontend/public/components/filter-toolbar.tsx
  frontend/public/style/_common.scss
Labels: approved, lgtm, component/dev-console, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference
