Repository openshift/console, pull requests merged in 2024-07, with the labels that each got.

#13869 OCPBUGS-33942: make sure folder is encapsulated with quotas
  frontend/packages/vsphere-plugin/__tests__/__snapshots__/utils.spec.ts.snap
  frontend/packages/vsphere-plugin/__tests__/utils.spec.ts
  frontend/packages/vsphere-plugin/package.json
  frontend/packages/vsphere-plugin/src/components/utils.ts
  frontend/webpack.config.ts
  frontend/yarn.lock
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#13996 CONSOLE-4069,OCPBUGS-36309: Refactor secret form util functions into React components
  frontend/public/components/secrets/create-secret/CreateSecret.tsx
  frontend/public/components/secrets/create-secret/EditSecret.tsx
  frontend/public/components/secrets/create-secret/SecretFormWrapper.tsx
  frontend/public/components/secrets/create-secret/SecretSubForm.tsx
  frontend/public/components/secrets/create-secret/index.tsx
  frontend/public/components/secrets/create-secret/utils.ts
Labels: approved, lgtm, tide/merge-method-squash, component/core, docs-approved, px-approved, kind/i18n, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13995 OCPBUGS-35284: fix BMH restart annotation
  frontend/packages/metal3-plugin/src/k8s/requests/bare-metal-host.ts
Labels: approved, lgtm, component/metal3, jira/valid-bug, jira/severity-important, jira/valid-reference

#13719 OCPBUGS-31685: Revert - terminal: use username if uid is not present
  pkg/terminal/proxy.go
Labels: approved, lgtm, component/backend, jira/valid-bug, jira/valid-reference

#14025 OCPBUGS-36424: DeploymentConfigs deprecation info alert should not present on the Edit deployment page
  frontend/packages/dev-console/src/components/deployments/DeploymentForm.tsx
  frontend/packages/dev-console/src/components/deployments/DeploymentFormEditor.tsx
Labels: approved, lgtm, component/dev-console, jira/valid-bug, jira/valid-reference

#14015 CONSOLE-4140: display URI decoded configuration files on MachineConfi…
  frontend/packages/integration-tests-cypress/tests/app/machine-config.cy.ts
  frontend/public/components/machine-config.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n, kind/cypress, jira/valid-reference

#14024 OCPBUGS-36339: Fix "Auto deploy when new image is available" becomes unchecked when editing a deployment from web console
  frontend/packages/dev-console/integration-tests/features/deployment/deployment-dev-perspective.feature
  frontend/packages/dev-console/integration-tests/support/step-definitions/deployment/deployment-dev-perspective.ts
  frontend/packages/dev-console/src/components/deployments/utils/deployment-utils.ts
Labels: approved, lgtm, component/dev-console, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13949 ODC-7612: Serverless Operator installation via CLI
  frontend/packages/dev-console/integration-tests/support/constants/global.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/checkOperatorStatus.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/installOperatorOnClusterUsingCLI.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/knativeSubscriptions.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/operators.ts
  frontend/packages/knative-plugin/integration-tests/support/commands/hooks.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/knative-plugin/integration-tests/testData/knative-eventing.yaml
  frontend/packages/knative-plugin/integration-tests/testData/knative-kafka.yaml
  frontend/packages/knative-plugin/integration-tests/testData/knative-serving.yaml
  frontend/packages/knative-plugin/integration-tests/testData/serverlessOperatorSubscription.yaml
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/shipwright-plugin/integration-tests/support/step-definitions/common/operators.ts
  frontend/packages/topology/integration-tests/support/step-definitions/common/topology.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/topology-add-options.ts
Labels: approved, lgtm, component/dev-console, component/knative, docs-approved, qe-approved, px-approved, component/topology, component/pipelines, jira/valid-reference

#13993 OCPBUGS-31047: Reordered dependancy warning to fix the lint error
  frontend/public/components/resource-dropdown.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-low, jira/valid-reference

#14023 OCPBUGS-36260: Tooltip on Pipeline when expression is not shows
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/PipelineTaskNode.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/utils.ts
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference

#14032 OCPBUGS-30841: Redirects to new PipelineRun logs URL from old PipelineRun logs URL
  frontend/packages/pipelines-plugin/console-extensions.json
  frontend/packages/pipelines-plugin/src/components/LogURLRedirect.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines-index.ts
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference

#14011 OCPBUGS-35926: Add debounce to PAC auto selecton in git import flow
  frontend/packages/console-shared/src/hooks/debounce.ts
  frontend/packages/console-shared/src/hooks/deep-compare-memoize.ts
  frontend/packages/dev-console/src/components/import/section/BuildSection.tsx
Labels: approved, lgtm, component/shared, component/dev-console, jira/valid-bug, jira/valid-reference

#14019 OCPBUGS-34956: disable failing knative e2e test
  frontend/integration-tests/test-cypress.sh
  frontend/packages/knative-plugin/integration-tests/cypress.config.js
  frontend/packages/knative-plugin/integration-tests/features/e2e/knative-ci.feature
Labels: approved, lgtm, component/knative, component/topology, jira/valid-bug, jira/valid-reference

#13961 CONSOLE-4060: Show deprecated operators in OperatorHub (Pre-installation screens)
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/mocks.ts
  frontend/packages/operator-lifecycle-manager/src/components/cluster-service-version-logo.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/deprecated-operator-warnings/deprecated-operator-warnings.tsx
  frontend/packages/operator-lifecycle-manager/src/components/deprecated-operator-warnings/use-deprecated-operator-warnings.ts
  frontend/packages/operator-lifecycle-manager/src/components/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/DEPRECATED_operand-form.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/operand-form.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-channel-version-select.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-item-details.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-install-page.tsx
  frontend/packages/operator-lifecycle-manager/src/components/package-manifest.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/package-manifest.tsx
  frontend/packages/operator-lifecycle-manager/src/types.ts
  frontend/public/actions/ui.ts
  frontend/public/reducers/ui.ts
Labels: approved, lgtm, component/shared, component/core, component/olm, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#14021 OCPBUGS-35940: Create RoleBinding will trigger Admission Webhook Warning
  frontend/public/components/RBAC/bindings.jsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#14007 ODC-7620: Modal submit button: show loading state
  frontend/public/components/factory/modal.tsx
Labels: approved, lgtm, component/shared, component/dev-console, component/core, component/olm, docs-approved, qe-approved, px-approved, component/topology, jira/valid-reference

#14042 OCPBUGS-36801: disable serverless tests till further investigation
  frontend/integration-tests/test-cypress.sh
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#14036 OCPBUGS-34901: ensure correct API version for OperandDetails
  frontend/packages/operator-lifecycle-manager/mocks.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
Labels: approved, lgtm, component/olm, jira/valid-bug, jira/severity-important, jira/valid-reference

#14041 OCPBUGS-34387: maintain session across tabs
  frontend/public/components/masthead-toolbar.jsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#13990 ODC-7624, ODC-7628: shipwright test improvement
  frontend/integration-tests/test-cypress.sh
  frontend/packages/dev-console/integration-tests/support/constants/global.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/checkOperatorStatus.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/installOperatorOnClusterUsingCLI.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/shipwrightSubscriptions.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/operators.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipeline-navigation.ts
  frontend/packages/shipwright-plugin/integration-tests/features/e2e/shipwright-ci.feature
  frontend/packages/shipwright-plugin/integration-tests/features/shipwright-build-in-topology.feature
  frontend/packages/shipwright-plugin/integration-tests/support/step-definitions/builds/shipwright-build-detail-page.ts
  frontend/packages/shipwright-plugin/integration-tests/support/step-definitions/common/operators.ts
  frontend/packages/shipwright-plugin/integration-tests/testData/sampleShipwrightBuild.yaml
  frontend/packages/shipwright-plugin/integration-tests/testData/shipwrightOperatorSubscription.yaml
Labels: approved, lgtm, component/dev-console, component/knative, docs-approved, qe-approved, px-approved, component/topology, component/pipelines, jira/valid-reference

#14005 ODC-7623: Persist previously opened tab in Builds Page
  frontend/packages/dev-console/integration-tests/support/constants/global.ts
  frontend/packages/dev-console/src/components/builds/BuildsTabListPage.tsx
  frontend/packages/dev-console/src/const.ts
  frontend/packages/shipwright-plugin/integration-tests/features/e2e/shipwright-ci.feature
  frontend/packages/shipwright-plugin/integration-tests/features/shipwright-table.feature
Labels: approved, lgtm, tide/merge-method-squash, component/dev-console, docs-approved, qe-approved, px-approved, jira/valid-reference

#14014 ODC-7639: Remove alerts list from dev console codebase
  frontend/packages/dev-console/integration-tests/support/pages/monitoring/monitoring-page.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/monitoring/MonitoringPage.tsx
  frontend/packages/dev-console/src/components/monitoring/__tests__/MonitoringPage.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlertColumn.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlerts.scss
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlerts.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/__tests__/MonitoringAlerts.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/__tests__/monitoring-alerts-utils.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/monitoring-alerts-utils.tsx
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#13997 CONSOLE-4071: Address tech debt in ImageSecretForm component
  frontend/public/components/secrets/create-secret/ImageSecretForm.tsx
  frontend/public/components/secrets/create-secret/PullSecretForm.tsx
  frontend/public/components/secrets/create-secret/SecretSubForm.tsx
  frontend/public/components/secrets/create-secret/index.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, tide/merge-method-squash, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference, acknowledge-critical-fixes-only

#14038 OCPBUGS-33801: Manually create an API token for a ServiceAccount
  README.md
  examples/run-bridge.sh
  examples/sa-secrets.yaml
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#14061 OCPBUGS-37054: hide 'View all steps in documentation' for ROSA and OSD
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/cluster-setup-getting-started-card.tsx
Labels: approved, lgtm, component/dashboard, component/core, jira/valid-bug, jira/severity-low, jira/valid-reference, acknowledge-critical-fixes-only

#14055 OCPBUGS-36678: Add useQuickStartContext hook and expose it via dynamic plugin API
  frontend/packages/console-app/src/components/quick-starts/utils/quick-start-context.tsx
  frontend/packages/console-app/src/components/user-preferences/language/useLanguage.ts
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-shared/src/components/getting-started/QuickStartGettingStartedCard.tsx
  frontend/packages/console-shared/src/hoc/index.ts
  frontend/packages/console-shared/src/hoc/withQuickStartContext.tsx
  frontend/packages/console-shared/src/hooks/index.ts
  frontend/packages/console-shared/src/hooks/useQuickStartContext.ts
  frontend/packages/knative-plugin/src/components/functions/QuickStartGettingStartedCard.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetricsQuickstart.tsx
  frontend/packages/topology/src/components/quick-search/topology-quick-search-utils.tsx
Labels: approved, lgtm, tide/merge-method-squash, component/shared, component/knative, component/core, component/sdk, component/topology, component/pipelines, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#14012 Add dynamic plugin SDK package changelogs & update plugin docs
  frontend/packages/console-dynamic-plugin-sdk/CHANGELOG-core.md
  frontend/packages/console-dynamic-plugin-sdk/CHANGELOG-webpack.md
  frontend/packages/console-dynamic-plugin-sdk/README.md
  frontend/packages/console-dynamic-plugin-sdk/scripts/package-definitions.ts
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved, jira/valid-reference, acknowledge-critical-fixes-only

#14054 CONSOLE-4171: i18n upload/download routine task - sprint 256
  frontend/packages/console-app/locales/es/console-app.json
  frontend/packages/console-app/locales/fr/console-app.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-shared/locales/es/console-shared.json
  frontend/packages/console-shared/locales/zh/console-shared.json
  frontend/packages/console-telemetry-plugin/locales/es/console-telemetry-plugin.json
  frontend/packages/dev-console/locales/es/devconsole.json
  frontend/packages/dev-console/locales/fr/devconsole.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/gitops-plugin/locales/ko/gitops-plugin.json
  frontend/packages/helm-plugin/locales/es/helm-plugin.json
  frontend/packages/helm-plugin/locales/ko/helm-plugin.json
  frontend/packages/insights-plugin/locales/es/insights-plugin.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/es/lso-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/fr/lso-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/ja/lso-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/ko/lso-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/zh/lso-plugin.json
  frontend/packages/metal3-plugin/locales/es/metal3-plugin.json
  frontend/packages/network-attachment-definition-plugin/locales/es/network-attachment-definition-plugin.json
  frontend/packages/network-attachment-definition-plugin/locales/fr/network-attachment-definition-plugin.json
  frontend/packages/network-attachment-definition-plugin/locales/ja/network-attachment-definition-plugin.json
  frontend/packages/network-attachment-definition-plugin/locales/ko/network-attachment-definition-plugin.json
  frontend/packages/network-attachment-definition-plugin/locales/zh/network-attachment-definition-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/es/olm.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/pipelines-plugin/locales/es/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ko/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/packages/rhoas-plugin/locales/es/rhoas-plugin.json
  frontend/packages/service-binding-plugin/locales/es/service-binding-plugin.json
  frontend/packages/topology/locales/es/topology.json
  frontend/packages/topology/locales/fr/topology.json
  frontend/packages/topology/locales/ja/topology.json
  frontend/packages/vsphere-plugin/locales/es/vsphere-plugin.json
  frontend/packages/vsphere-plugin/locales/fr/vsphere-plugin.json
  frontend/public/locales/es/public.json
  frontend/public/locales/fr/public.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, component/shared, component/dev-console, component/knative, component/core, component/metal3, component/olm, component/network-attachment-definition, component/lso, docs-approved, qe-approved, px-approved, component/insights, kind/i18n, component/helm, component/topology, component/gitops, component/pipelines, jira/valid-reference, acknowledge-critical-fixes-only

#14016 ODC-7621,ODC-7633: Add Shipwright as Build Options in Add & Edit Forms
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/edit-application/EditApplicationComponent.tsx
  frontend/packages/dev-console/src/components/edit-application/EditApplicationForm.tsx
  frontend/packages/dev-console/src/components/edit-application/EditApplicationPage.tsx
  frontend/packages/dev-console/src/components/edit-application/__tests__/EditApplicationForm.spec.tsx
  frontend/packages/dev-console/src/components/edit-application/edit-application-types.ts
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/dev-console/src/components/import/DeployImageForm.tsx
  frontend/packages/dev-console/src/components/import/GitImportForm.tsx
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/SourceToImageForm.tsx
  frontend/packages/dev-console/src/components/import/__tests__/DeployImage.spec.tsx
  frontend/packages/dev-console/src/components/import/__tests__/DeployImageForm.spec.tsx
  frontend/packages/dev-console/src/components/import/advanced/BuildConfigSection.tsx
  frontend/packages/dev-console/src/components/import/advanced/__tests__/BuildConfigSection.spec.tsx
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/import/section/BuildSection.tsx
  frontend/packages/dev-console/src/components/import/section/build-section/BuildOptions.tsx
  frontend/packages/dev-console/src/components/import/section/build-section/BuildSection.tsx
  frontend/packages/dev-console/src/components/import/section/build-section/BuildStrategySelector.tsx
  frontend/packages/dev-console/src/components/import/section/build-section/__tests__/BuildOptions.spec.tsx
  frontend/packages/dev-console/src/components/import/section/build-section/__tests__/BuildSection.spec.tsx
  frontend/packages/dev-console/src/components/import/section/build-section/__tests__/BuildStrategySelector.spec.tsx
  frontend/packages/dev-console/src/components/import/section/deploy-section/DeploySection.tsx
  frontend/packages/dev-console/src/components/import/section/useDefaultBuildOption.ts
  frontend/packages/dev-console/src/utils/shipwright-build-hook.tsx
  frontend/packages/shipwright-plugin/locales/en/shipwright-plugin.json
  frontend/packages/shipwright-plugin/samples-v1beta1/cbs-enabled/301-buildah-cbs-example.yaml
  frontend/packages/shipwright-plugin/samples-v1beta1/cbs-enabled/302-s2i-cbs-example.yaml
  frontend/packages/shipwright-plugin/src/__tests__/api-v1alpha1.spec.ts
  frontend/packages/shipwright-plugin/src/__tests__/api-v1beta1.spec.ts
  frontend/packages/shipwright-plugin/src/const.ts
  frontend/packages/shipwright-plugin/src/types.ts
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference, acknowledge-critical-fixes-only

#14044 OCPBUGS-37401, CNV-35124: OVN Kubernetes multi-homing
  frontend/packages/network-attachment-definition-plugin/locales/en/network-attachment-definition-plugin.json
  frontend/packages/network-attachment-definition-plugin/src/components/SubnetHelperText/SubnetHelperText.scss
  frontend/packages/network-attachment-definition-plugin/src/components/SubnetHelperText/SubnetHelperText.tsx
  frontend/packages/network-attachment-definition-plugin/src/components/TechPreview/TechPreview.scss
  frontend/packages/network-attachment-definition-plugin/src/components/TechPreview/TechPreview.tsx
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionCreateYaml.tsx
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionDetails.tsx
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionsForm.tsx
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkTypeOptions.tsx
  frontend/packages/network-attachment-definition-plugin/src/constants/constants.tsx
  frontend/packages/network-attachment-definition-plugin/src/types/types.ts
  frontend/packages/network-attachment-definition-plugin/src/utils/utils.ts
Labels: approved, lgtm, component/network-attachment-definition, kind/i18n, jira/valid-bug, jira/valid-reference

#14053 OCPBUGS-23332: Fix utilization card limits/total display
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationBody.tsx
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationItem.tsx
  frontend/packages/console-shared/src/components/dashboard/utilization-card/utilization-card.scss
Labels: approved, lgtm, component/shared, component/dashboard, kind/i18n, jira/valid-bug, jira/valid-reference

#14062 OCPBUGS-35301: add missing translation in TriggerBindingSection
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/TriggerBindingSection.tsx
Labels: approved, lgtm, kind/i18n, component/pipelines, jira/valid-bug, jira/severity-low, jira/valid-reference

#14048 CONSOLE-4098: Show deprecated operators in OperatorHub (Post-installation screens)
  frontend/packages/operator-lifecycle-manager/src/components/cluster-service-version-logo.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/deprecated-operator-warnings/deprecated-operator-warnings.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/subscription-channel-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
  frontend/packages/operator-lifecycle-manager/src/components/subscription.tsx
  frontend/packages/operator-lifecycle-manager/src/types.ts
Labels: approved, lgtm, component/olm, docs-approved, qe-approved, px-approved, jira/valid-reference, acknowledge-critical-fixes-only

#14072 ODC-7640: Remove Alerting Details Page from Console
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlertsRulesDetailsPage.tsx
  frontend/public/components/monitoring/alerting.tsx
Labels: approved, lgtm, component/dev-console, component/monitoring, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference

#13948 OCPBUGS-37403, CNV-41506: Localnet NAD incorrectly displayed
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionDetails.tsx
Labels: approved, lgtm, component/network-attachment-definition, jira/valid-bug, jira/valid-reference

#14080 OCPBUGS-36816: Include PatternFly-4 chart styles so they are available for dynamic plugins that still use PF4 react-charts
  frontend/public/vendor-patternfly-4-shared.scss
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#14075 ODC-7634: Test all current workflows, write Integration tests
  frontend/packages/dev-console/integration-tests/support/constants/global.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/checkOperatorStatus.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/installOperatorOnClusterUsingCLI.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/shipwrightSubscriptions.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-git.ts
  frontend/packages/shipwright-plugin/integration-tests/features/shipwright-import-form.feature
  frontend/packages/shipwright-plugin/integration-tests/support/step-definitions/builds/shipwright-import-form.ts
  frontend/packages/shipwright-plugin/integration-tests/support/step-definitions/common/operators.ts
  frontend/packages/shipwright-plugin/integration-tests/testData/buildsForOpenshiftOperatorInstallation/buildah.yaml
  frontend/packages/shipwright-plugin/integration-tests/testData/buildsForOpenshiftOperatorInstallation/buildsSubscription.yaml
  frontend/packages/shipwright-plugin/integration-tests/testData/buildsForOpenshiftOperatorInstallation/openshiftBuilds.yaml
  frontend/packages/shipwright-plugin/integration-tests/testData/buildsForOpenshiftOperatorInstallation/s2i.yaml
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, jira/valid-reference

#14034 OCPBUGS-36619: Switch to use annotations as labels from PipelineRuns created through Pipelines as Code is deprecated
  frontend/packages/pipelines-plugin/src/components/pipelineruns/hooks/useTektonResults.ts
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryLinkList.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunHeader.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunListPage.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/components/repository/consts.ts
  frontend/packages/pipelines-plugin/src/components/repository/repository-utils.tsx
  frontend/packages/pipelines-plugin/src/test-data/pipeline-data.ts
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference

#14085 [release-4.15] OCPBUGS-37458: one OAuth.config.openshift.io item on Global Configuration page links to non-existing resource
  frontend/packages/console-app/console-extensions.json
Labels: approved, lgtm, cherry-pick-approved, component/core, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#14063 CONSOLE-4172: Fix tech debt in packages/console-shared/src/selectors/…
  frontend/packages/console-app/src/components/nodes/NodeDetailsOverview.tsx
  frontend/packages/console-app/src/components/nodes/NodeIPList.tsx
  frontend/packages/console-app/src/components/nodes/NodesPage.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/NodeAlerts.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/NodeHealth.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-shared/src/selectors/node.ts
  frontend/packages/console-shared/src/types/index.ts
  frontend/packages/console-shared/src/types/node.ts
  frontend/public/module/k8s/types.ts
Labels: approved, lgtm, tide/merge-method-squash, component/shared, component/core, component/sdk, docs-approved, qe-approved, px-approved, jira/valid-reference
