Repository openshift/console, pull requests merged in 2024-05, with the labels that each got.

#13763 CONSOLE-3939: Display a warning message from kube-apiserver when creating / updating workloads resource
  frontend/packages/console-app/src/components/admission-webhook-warnings/AdmissionWebhookWarningNotifications.tsx
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/app/core/actions/core.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/core/reducers/__tests__/core.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/core/reducers/core.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/core/reducers/coreSelectors.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/redux-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/fetch/console-fetch.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-resource.ts
  frontend/public/components/app.jsx
  frontend/public/components/utils/documentation.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/shared, component/core, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#13813 OCPBUGS-33202: Pipeline list page is crashed when navigating from Search page
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelinesResourceList.tsx
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference

#13812 OCPBUGS-33199: The filepath including leading slash makes error during parsing devfile using Gitlab
  frontend/packages/git-service/src/services/gitlab-service.ts
Labels: approved, lgtm, component/dev-console, component/git-service, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13818 OCPBUGS-33222: List DeploymentConfig triggers a warning notification which is not required for Display warning policy feature
  frontend/packages/console-dynamic-plugin-sdk/src/utils/fetch/console-fetch.ts
Labels: approved, lgtm, component/sdk, jira/valid-bug, jira/valid-reference

#13787 [release-4.14] OCPBUGS-32697: Routes created by devfiles do not always use HTTPS
  frontend/packages/dev-console/src/components/import/GitImportForm.tsx
Labels: approved, lgtm, cherry-pick-approved, component/dev-console, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#13822 OCPBUGS-31558: Fix NAD creation defaulting to the default namespace
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionsForm.tsx
Labels: approved, lgtm, component/network-attachment-definition, jira/valid-bug, jira/valid-reference

#13815 OCPBUGS-33219: Fix StatusItem layout when no timestamp is present
  frontend/packages/console-shared/src/components/dashboard/status-card/AlertItem.tsx
Labels: approved, lgtm, component/shared, component/dashboard, jira/valid-bug, jira/valid-reference

#13772 CNV-36170: Multi NetworkPolicies
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/package.json
  frontend/packages/console-app/src/__tests__/network-policies/create-network-policy.spec.tsx
  frontend/packages/console-app/src/__tests__/network-policies/network-policy-form.spec.tsx
  frontend/packages/console-app/src/components/network-policies/NADsSelector.tsx
  frontend/packages/console-app/src/components/network-policies/OWNERS
  frontend/packages/console-app/src/components/network-policies/SelectMultiTypeahead/SelectMultiTypeahead.tsx
  frontend/packages/console-app/src/components/network-policies/SelectMultiTypeahead/Toggle.tsx
  frontend/packages/console-app/src/components/network-policies/SelectMultiTypeahead/constants.ts
  frontend/packages/console-app/src/components/network-policies/SelectMultiTypeahead/utils.ts
  frontend/packages/console-app/src/components/network-policies/create-network-policy.tsx
  frontend/packages/console-app/src/components/network-policies/multi-network-policy/MultiNetworkPolicyListPage.tsx
  frontend/packages/console-app/src/components/network-policies/multi-network-policy/constants.ts
  frontend/packages/console-app/src/components/network-policies/multi-network-policy/multiNetworkFlag.ts
  frontend/packages/console-app/src/components/network-policies/network-policy-form.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-model.ts
  frontend/packages/console-app/src/components/network-policies/useIsMultiNetworkPolicy.tsx
  frontend/public/components/app-contents.tsx
  frontend/public/components/network-policy.tsx
  frontend/public/components/resource-pages.ts
  frontend/public/locales/en/public.json
  frontend/public/models/index.ts
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n, kind/cypress, jira/valid-reference

#13805 OCPBUGS-33345: Disable create button on NAD empty state for regular user
  frontend/packages/network-attachment-definition-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinition.tsx
Labels: approved, lgtm, component/network-attachment-definition, qe-approved, kind/i18n, jira/valid-bug, jira/valid-reference

#13817 OCPBUGS-33352: Fix PatternFly modules check
  frontend/scripts/check-patternfly-modules.sh
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#13821 CONSOLE-3943: Backup to segment public api key
  frontend/packages/console-telemetry-plugin/src/listeners/segment.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, jira/valid-reference

#13814 CONSOLE-4019: Display a warning message from kube-apiserver when creating resource integration tests
  frontend/packages/console-app/src/components/admission-webhook-warnings/AdmissionWebhookWarningNotifications.tsx
  frontend/packages/console-shared/src/components/toast/ToastContext.tsx
  frontend/packages/console-shared/src/components/toast/ToastProvider.tsx
  frontend/packages/integration-tests-cypress/tests/app/admission-webhook-warning-notifications.cy.ts
  frontend/public/components/import-yaml-results.tsx
Labels: approved, lgtm, component/shared, component/core, docs-approved, qe-approved, px-approved, kind/cypress, jira/valid-reference

#13834 OCPBUGS-29745: Fix Pipeline details page with when expression using CEL expression
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/utils.ts
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference

#13838 OCPBUGS-33523: restrict Masthead logo to max-height
  frontend/packages/integration-tests-cypress/tests/app/masthead.cy.ts
  frontend/public/components/masthead.jsx
  frontend/public/style/_overrides.scss
Labels: approved, lgtm, component/core, kind/cypress, jira/valid-bug, jira/valid-reference

#13837 ODC-7574: Add e2e tests for QuickStart from Masthead in CI
  frontend/packages/dev-console/integration-tests/features/e2e/add-flow-ci.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/quick-start-devperspective.feature
  frontend/packages/dev-console/integration-tests/support/pageObjects/global-po.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/quck-starts/quick-start-devperspective.ts
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, jira/valid-reference

#13832 OCPBUGS-31901: Patch PF dynamic module parser to exclude 'next' modules
  frontend/packages/console-dynamic-plugin-sdk/src/utils/dynamic-module-parser.ts
  frontend/packages/console-dynamic-plugin-sdk/src/webpack/ConsoleRemotePlugin.ts
Labels: approved, lgtm, component/sdk, jira/valid-bug, jira/valid-reference

#13841 ODC-7576: Pipelines plugin test fixes
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/installOperatorOnCluster.ts
  frontend/packages/knative-plugin/integration-tests/features/serverless/serverless-function.feature
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/serverless-function.ts
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-add-options.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-builder-page.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/event-tab-in-pipeline-run-page.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipeline-navigation.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-actions.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-runs.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-triggers.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-workspaces.feature
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineBuilder-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineRun-details-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelines-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/task-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/common/pipelines.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-from-add-options.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/event-tab-in-pipeline-run-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipeline-as-code.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipeline-navigation.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-actions.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-runs.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-triggers.ts
  frontend/packages/pipelines-plugin/integration-tests/testData/pipelines-workspaces/using-optional-workspaces-in-when-expressions-pipelineRun/pipelineRun-using-optional-workspaces-in-when-expressions.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/task-creation-with-yaml/create-pipeline-with-task.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/task-creation-with-yaml/new-task.yaml
Labels: approved, lgtm, component/dev-console, component/knative, docs-approved, qe-approved, px-approved, component/pipelines, jira/valid-reference

#13831 [release-4.14] OCPBUGS-33462: fix issues with Edit Route form
  frontend/__tests__/components/routes/create-route.spec.tsx
  frontend/public/components/routes/RoutePage.tsx
  frontend/public/components/routes/create-route.tsx
  frontend/public/components/routes/utils.ts
Labels: approved, lgtm, cherry-pick-approved, component/core, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#13843 OCPBUGS-33567: Expose useUserSettings hooks in dynamic plugin sdk
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-shared/src/hooks/useUserSettings.ts
Labels: approved, lgtm, component/shared, component/sdk, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13847 [release-4.14] OCPBUGS-33635: restrict Masthead logo to max-height to 60px
  frontend/public/components/masthead.jsx
  frontend/public/style/_overrides.scss
Labels: approved, lgtm, cherry-pick-approved, component/core, qe-approved, kind/cypress, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#13806 OCPBUGS-32631: TaskRuns should not be fetched for Failed PLR's
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/status/PipelineRunStatusContent.scss
  frontend/packages/pipelines-plugin/src/components/pipelineruns/status/PipelineRunStatusContent.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/status/PipelineRunStatusPopoverContent.tsx
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13862 CONSOLE-4058: add user-impersonation to QuickStartGettingStartedCard,…
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/__tests__/explore-admin-features-getting-started-card.spec.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/explore-admin-features-getting-started-card.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/getting-started-section.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/dashboard, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference, acknowledge-critical-fixes-only

#13861 OCPBUGS-33869: i18n - Download and merge French and Spanish languages translations in the OCP Console
  frontend/packages/console-app/locales/es/console-app.json
  frontend/packages/console-app/locales/fr/console-app.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-shared/locales/es/console-shared.json
  frontend/packages/console-shared/locales/fr/console-shared.json
  frontend/packages/console-telemetry-plugin/locales/es/console-telemetry-plugin.json
  frontend/packages/console-telemetry-plugin/locales/fr/console-telemetry-plugin.json
  frontend/packages/container-security/locales/es/container-security.json
  frontend/packages/container-security/locales/fr/container-security.json
  frontend/packages/dev-console/locales/es/devconsole.json
  frontend/packages/dev-console/locales/fr/devconsole.json
  frontend/packages/git-service/locales/es/git-service.json
  frontend/packages/git-service/locales/fr/git-service.json
  frontend/packages/gitops-plugin/locales/es/gitops-plugin.json
  frontend/packages/gitops-plugin/locales/fr/gitops-plugin.json
  frontend/packages/helm-plugin/locales/es/helm-plugin.json
  frontend/packages/helm-plugin/locales/fr/helm-plugin.json
  frontend/packages/insights-plugin/locales/es/insights-plugin.json
  frontend/packages/insights-plugin/locales/fr/insights-plugin.json
  frontend/packages/knative-plugin/locales/es/knative-plugin.json
  frontend/packages/knative-plugin/locales/fr/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/es/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/fr/kubevirt-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/es/lso-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/fr/lso-plugin.json
  frontend/packages/metal3-plugin/locales/es/metal3-plugin.json
  frontend/packages/metal3-plugin/locales/fr/metal3-plugin.json
  frontend/packages/network-attachment-definition-plugin/locales/es/kubevirt-plugin.json
  frontend/packages/network-attachment-definition-plugin/locales/fr/kubevirt-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/es/olm.json
  frontend/packages/operator-lifecycle-manager/locales/fr/olm.json
  frontend/packages/patternfly/locales/es/notification-drawer.json
  frontend/packages/patternfly/locales/fr/notification-drawer.json
  frontend/packages/pipelines-plugin/locales/es/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/fr/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ko/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/packages/rhoas-plugin/locales/es/rhoas-plugin.json
  frontend/packages/rhoas-plugin/locales/fr/rhoas-plugin.json
  frontend/packages/service-binding-plugin/locales/es/service-binding-plugin.json
  frontend/packages/service-binding-plugin/locales/fr/service-binding-plugin.json
  frontend/packages/shipwright-plugin/locales/es/shipwright-plugin.json
  frontend/packages/shipwright-plugin/locales/fr/shipwright-plugin.json
  frontend/packages/topology/locales/es/topology.json
  frontend/packages/topology/locales/fr/topology.json
  frontend/packages/vsphere-plugin/locales/es/vsphere-plugin.json
  frontend/packages/vsphere-plugin/locales/fr/vsphere-plugin.json
  frontend/packages/webterminal-plugin/locales/es/webterminal-plugin.json
  frontend/packages/webterminal-plugin/locales/fr/webterminal-plugin.json
  frontend/public/locales/es/public.json
  frontend/public/locales/fr/public.json
Labels: approved, lgtm, component/shared, component/dev-console, component/kubevirt, component/knative, component/core, component/metal3, component/olm, component/git-service, component/network-attachment-definition, component/lso, component/insights, kind/i18n, component/helm, component/topology, component/gitops, component/pipelines, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13844 OCPBUGS-33587: Fix password set to Secret created through Start Pipeline form
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/SecretForm.tsx
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13852 OCPBUGS-33636: Updating the secrets using Form editor displays an unknown warning message
  frontend/public/components/secrets/create-secret.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13854 OCPBUGS-33717: Use bridge instead of cnv-bridge
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionsForm.tsx
  frontend/packages/network-attachment-definition-plugin/src/constants/index.ts
Labels: approved, lgtm, component/network-attachment-definition, qe-approved, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13864 [release-4.16] OCPBUGS-33872: add user-impersonation to QuickStartGettingStartedCard,…
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/__tests__/explore-admin-features-getting-started-card.spec.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/explore-admin-features-getting-started-card.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/getting-started-section.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, cherry-pick-approved, component/dashboard, component/core, qe-approved, kind/i18n, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#13713 OCPBUGS-29510: Fix console crash-loop with OIDC auth config
  cmd/bridge/config/auth/authoptions.go
  cmd/bridge/config/flagvalues/auth_type.go
  cmd/bridge/config/session/sessionoptions.go
  cmd/bridge/main.go
  contrib/environment.sh
  contrib/oc-environment.sh
  examples/run-bridge.sh
  pkg/auth/csrfverifier/csfr_test.go
  pkg/auth/csrfverifier/csrf.go
  pkg/auth/oauth2/auth.go
  pkg/auth/oauth2/auth_oidc.go
  pkg/auth/oauth2/auth_oidc_test.go
  pkg/auth/oauth2/auth_openshift.go
  pkg/auth/oauth2/auth_test.go
  pkg/auth/static/auth.go
  pkg/auth/types.go
  pkg/auth/util.go
  pkg/server/middleware.go
  pkg/server/server.go
  pkg/serverconfig/config.go
Labels: approved, lgtm, component/backend, jira/severity-critical, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13865 [release-4.15] OCPBUGS-33166: Fix NAD always on default namespace
  frontend/packages/network-attachment-definition-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionsForm.tsx
Labels: approved, lgtm, cherry-pick-approved, component/network-attachment-definition, kind/i18n, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#13635 NO-ISSUE: metal3: update OWNERS
  frontend/packages/metal3-plugin/OWNERS
Labels: approved, lgtm, component/metal3, docs-approved, qe-approved, px-approved, jira/valid-reference, acknowledge-critical-fixes-only

#13775 OCPBUGS-32405: Create Serverless form does not create BuildConfig
  frontend/packages/dev-console/src/components/import/serverless-function/AddServerlessFunction.tsx
Labels: approved, lgtm, component/dev-console, jira/valid-bug, jira/valid-reference

#13828 OCPBUGS-33383: Fix Admission webhook warning for Route and BuildConfig creation via import flow
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/utils/__tests__/__snapshots__/shared-submit-utils.spec.ts.snap
  frontend/packages/dev-console/src/utils/shared-submit-utils.ts
  frontend/packages/knative-plugin/src/utils/create-knative-utils.ts
Labels: approved, lgtm, component/dev-console, component/knative, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13853 OCPBUGS-32476: Import from Git allow users to import an app with Build option Pipeline also when no Pipeline is available
  frontend/packages/dev-console/src/components/import/import-validation-utils.ts
  frontend/packages/dev-console/src/components/import/validation-schema.ts
  frontend/packages/pipelines-plugin/src/components/import/pipeline/PipelineTemplate.tsx
Labels: approved, lgtm, component/dev-console, component/pipelines, jira/valid-bug, jira/severity-low, jira/valid-reference

#13858 OCPBUGS-33090: UI inconsistency in topology when application grouping is collapsed
  frontend/packages/topology/src/components/graph-view/components/groups/GroupNode.tsx
Labels: approved, lgtm, component/topology, jira/valid-bug, jira/valid-reference

#13842 OCPBUGS-32632: Improve Pipeline list page performance
  frontend/packages/pipelines-plugin/src/components/pipelines/list-page/PipelineList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/list-page/PipelineRow.tsx
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference

#13846 HELM-532: Sort on basis of Chart Version
  pkg/helm/chartproxy/proxy.go
  pkg/helm/chartproxy/proxy_test.go
  pkg/helm/chartproxy/testdata/mergedAzureRepoIndex.yaml
  pkg/helm/chartproxy/testdata/mergedRepoIndex.yaml
  pkg/helm/chartproxy/testdata/mergedSampleRepoIndex2.yaml
Labels: approved, lgtm, component/backend, docs-approved, qe-approved, px-approved, jira/valid-reference, acknowledge-critical-fixes-only

#13845 ODC-7432: Remove pf classnames from gitops integration test
  frontend/packages/gitops-plugin/integration-tests/features/gitops/add-manifest-url.feature
  frontend/packages/gitops-plugin/integration-tests/support/page-objects/environments-po.ts
Labels: approved, lgtm, ok-to-test, docs-approved, qe-approved, px-approved, component/gitops, jira/valid-reference

#13673 [release-4.14] OCPBUGS-33064: Fix PipelineRun Logs tab navigation
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunLogs.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/PipelineTaskNode.tsx
Labels: approved, lgtm, cherry-pick-approved, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#13888 CONSOLE-4085: Updated oc client link in readme
  README.md
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, jira/valid-reference

#13892 OCPBUGS-34200: fix bug where textarea is not resizable
  frontend/packages/dev-console/src/components/monitoring/metrics/QueryInput.tsx
  frontend/public/components/modals/create-namespace-modal.jsx
  frontend/public/components/utils/file-input.tsx
Labels: approved, lgtm, component/dev-console, component/core, jira/valid-bug, jira/valid-reference

#13827 [release-4.13] OCPBUGS-33382: Routes created by devfiles do not always use HTTPS
  frontend/packages/dev-console/src/components/import/GitImportForm.tsx
Labels: approved, lgtm, cherry-pick-approved, component/dev-console, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#13797 OCPBUGS-32950: Restore user toggle when authentification is disabled
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, kind/i18n, jira/valid-bug, jira/valid-reference

#13895 OCPBUGS-34222: Fix for cypress local auth issue
  pkg/auth/oauth2/auth.go
  pkg/auth/static/auth.go
  pkg/auth/types.go
  pkg/server/server.go
Labels: approved, lgtm, component/backend, jira/valid-bug, jira/valid-reference

#13798 OCPBUGS-32321: Add username/uid label and annotation for the user setting ConfigMap, Role and RoleBinding
  pkg/usersettings/helpers.go
  pkg/usersettings/helpers_test.go
  pkg/usersettings/types.go
Labels: approved, lgtm, component/backend, jira/valid-bug, jira/severity-low, jira/valid-reference

#13808 OCPBUGS-32698: Remove TELEMETRY_DISABLED check from console telemetry…
  frontend/packages/console-telemetry-plugin/src/listeners/segment.ts
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13850 OCPBUGS-33631: show "Debug container" link for pods with status.phase…
  frontend/public/components/debug-terminal.tsx
  frontend/public/components/utils/resource-log.tsx
Labels: approved, lgtm, component/core, qe-approved, jira/valid-bug, jira/valid-reference

#13878 OCPBUGS-29215: Update console cookies to use SameSite strict mode.
  pkg/auth/csrfverifier/csrf.go
  pkg/auth/oauth2/auth_openshift.go
  pkg/auth/sessions/combined_sessions.go
Labels: approved, lgtm, component/backend, jira/valid-bug, jira/valid-reference

#13876 OCPBUGS-19855: Validate watchK8sObject query must have name and namespace for namespaced resources
  frontend/packages/console-dynamic-plugin-sdk/src/app/k8s/actions/k8s.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/__tests__/useK8sWatchResource.spec.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/__tests__/useK8sWatchResources.spec.tsx
Labels: approved, lgtm, component/sdk, jira/valid-bug, jira/valid-reference

#13887 CONSOLE-4095: upgrade Cypress to v13.10.0
  frontend/package.json
  frontend/packages/integration-tests-cypress/support/selectors.ts
  frontend/packages/integration-tests-cypress/views/modal.ts
  frontend/yarn.lock
Labels: approved, lgtm, tide/merge-method-squash, docs-approved, qe-approved, px-approved, kind/cypress, jira/valid-reference

#13889 OCPBUGS-33733: The s2i build strategy is not assumed for Serverless Functions
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/ImportStrategySection.tsx
  frontend/packages/dev-console/src/components/import/serverless-function/AddServerlessFunctionForm.scss
  frontend/packages/dev-console/src/components/import/serverless-function/AddServerlessFunctionForm.tsx
  frontend/packages/git-service/src/utils/serverless-strategy-detector.ts
Labels: approved, lgtm, component/dev-console, component/git-service, kind/i18n, jira/valid-bug, jira/severity-low, jira/valid-reference

#13912 OCPBUGS-33747: console always query 'openshift' CSVs when listing namespaced operator details
  frontend/packages/operator-lifecycle-manager/src/utils/useClusterServiceVersion.tsx
Labels: approved, lgtm, component/olm, jira/valid-bug, jira/severity-low, jira/valid-reference
