Repository openshift/console, pull requests merged in 2024-04, with the labels that each got.

#13625 [release-4.14] OCPBUGS-29783: Fix operands list endpoint
  pkg/server/server.go
Labels: approved, lgtm, cherry-pick-approved, component/backend, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#13686 [release-4.15]OCPBUGS-31105: Update to pf5.2 to fix quick starts
  README.md
  frontend/package.json
  frontend/packages/console-app/src/components/cluster-configuration/ClusterConfigurationPage.tsx
  frontend/packages/console-app/src/components/nav/ClusterMenu.tsx
  frontend/packages/console-app/src/components/tabs/__tests__/Tabs.test.tsx
  frontend/packages/console-app/src/components/user-preferences/UserPreferencePage.tsx
  frontend/packages/console-app/src/components/user-preferences/namespace/NamespaceDropdown.tsx
  frontend/packages/console-shared/src/components/actions/LazyActionMenu.tsx
  frontend/packages/console-shared/src/components/actions/menu/ActionMenu.tsx
  frontend/packages/console-shared/src/components/actions/menu/ActionMenuContent.tsx
  frontend/packages/console-shared/src/components/dropdown/dropdown-with-switch/DropdownWithSwitchGroups.tsx
  frontend/packages/console-shared/src/components/dropdown/dropdown-with-switch/DropdownWithSwitchMenu.tsx
  frontend/packages/console-shared/src/components/formik-fields/InputGroupField.tsx
  frontend/packages/console-shared/src/components/query-browser/QueryBrowser.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchBar.tsx
  frontend/packages/dev-console/src/components/hpa/HPAUtilizationField.tsx
  frontend/packages/knative-plugin/src/components/overview/KSRoutesOverviewListItem.tsx
  frontend/packages/knative-plugin/src/components/overview/RoutesUrlLink.tsx
  frontend/packages/knative-plugin/src/components/test-function/ResponsePane.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/tabs/select-template.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineRunTaskRunGraph.tsx
  frontend/packages/pipelines-plugin/src/components/repository/sections/WebhookSection.tsx
  frontend/packages/pipelines-plugin/src/components/shared/common/auto-complete/AutoCompletePopover.tsx
  frontend/packages/rhoas-plugin/src/components/service-table/ServiceInstanceTable.tsx
  frontend/packages/topology/src/__tests__/TopologySideBar.spec.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/MultiTabbedTerminal.tsx
  frontend/yarn.lock
Labels: approved, lgtm, cherry-pick-approved, component/shared, component/dev-console, component/kubevirt, component/knative, component/core, qe-approved, component/topology, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13692 OCPBUGS-31315: i18n upload/download routine task - Sprint 249
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ko/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, component/dev-console, component/core, kind/i18n, component/pipelines, jira/valid-bug, jira/valid-reference

#13701 OCPBUGS-31431: Hide dev perspective Pipelines nav option if dynamic plugin nav option is enable
  frontend/packages/pipelines-plugin/console-extensions.json
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference

#13660 ODC-7436: shipwright test package update concerning pf5 update
  frontend/packages/shipwright-plugin/integration-tests/features/shipwright-build-in-topology.feature
  frontend/packages/shipwright-plugin/integration-tests/support/step-definitions/builds/shipwright-build-in-topology.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, jira/valid-reference

#13694 OCPBUGS-31355: add readOnly option to ResourceYAMLEditor
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/public/components/droppable-edit-yaml.tsx
Labels: approved, lgtm, component/core, component/sdk, jira/valid-bug, jira/valid-reference

#13720 OCPBUGS-31695: Use bearer-token for local dev with auth
  examples/run-bridge.sh
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13716 OCPBUGS-31482: oidc: use our own pre-configured client for token refreshes
  pkg/auth/auth_oidc.go
Labels: approved, lgtm, component/backend, jira/severity-critical, jira/valid-bug, jira/valid-reference

#13727 OCPBUGS-31732: Hide the cluster configuration for analytics
  frontend/packages/console-telemetry-plugin/console-extensions.json
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#13676 OCPBUGS-23480: Improve PipelineRun list view performance
  frontend/packages/pipelines-plugin/src/components/pipelineruns/hooks/usePipelineRuns.ts
  frontend/packages/pipelines-plugin/src/components/pipelineruns/hooks/useTaskRuns.ts
  frontend/packages/pipelines-plugin/src/components/pipelineruns/hooks/useTektonResults.ts
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/status/LinkedPipelineRunTaskStatus.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/status/PipelineBars.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/status/PipelineRunStatus.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/utils/tekton-results.ts
  frontend/packages/pipelines-plugin/src/test-data/pipeline-data.ts
  frontend/packages/pipelines-plugin/src/types/pipelineRun.ts
  frontend/packages/pipelines-plugin/src/types/taskRun.ts
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-utils.spec.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-actions.tsx
  frontend/packages/pipelines-plugin/src/utils/pipeline-augment.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-utils.ts
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13726 OCPBUGS-29823, OCPBUGS-29616, OCPBUGS-31613: Add validation for vSphere fields
  frontend/packages/vsphere-plugin/__tests__/utils.spec.ts
  frontend/packages/vsphere-plugin/locales/en/vsphere-plugin.json
  frontend/packages/vsphere-plugin/package.json
  frontend/packages/vsphere-plugin/src/PopoverHelpButton.tsx
  frontend/packages/vsphere-plugin/src/components/ClusterOverview/VSphereStatus.tsx
  frontend/packages/vsphere-plugin/src/components/ConnectionFormContext.tsx
  frontend/packages/vsphere-plugin/src/components/TextField.tsx
  frontend/packages/vsphere-plugin/src/components/VSphereConnectionForm.tsx
  frontend/packages/vsphere-plugin/src/components/VSphereConnectionModal.tsx
  frontend/packages/vsphere-plugin/src/components/persist.ts
  frontend/packages/vsphere-plugin/src/components/types.ts
  frontend/packages/vsphere-plugin/src/components/utils.ts
  frontend/packages/vsphere-plugin/src/hooks/use-connection-form.ts
  frontend/packages/vsphere-plugin/src/hooks/use-popup-visibility.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/health-item.tsx
  frontend/yarn.lock
Labels: approved, lgtm, component/dashboard, component/core, jira/valid-bug, jira/valid-reference

#13717 OCPBUGS-23319: fix bug where paused MCPs were incorrectly unpausing w…
  frontend/public/components/modals/cluster-update-modal.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#13728 CONSOLE-4014: Consume the telemetry parameter ORGANIZATION_ID and pass it as organizationId parameter to segment
  frontend/packages/console-shared/src/hooks/useTelemetry.ts
Labels: approved, lgtm, component/shared, docs-approved, qe-approved, px-approved, jira/valid-reference

#13722 OCPBUGS-31703: Resource yaml with create
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/public/components/droppable-edit-yaml.tsx
Labels: approved, lgtm, component/core, component/sdk, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13662 WINC-1182: [node] Modify filesystem queries to include Windows metrics
  frontend/packages/console-app/src/components/nodes/NodesPage.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/queries.ts
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference

#13742 OCPBUGS-31680: Correct the button text for VolumeSnapshotContent
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot-content.tsx
Labels: approved, lgtm, component/core, kind/i18n, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13740 OCPBUGS-31843: Use UserInfo username field when logging out as kubeadmin
  frontend/public/components/masthead-toolbar.jsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-important, jira/valid-reference

#13730 OCPBUGS-31759: Update i18n docs on how to update Phrase Project Template
  INTERNATIONALIZATION.md
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#13741 OCPBUGS-31082: Remove deprecated resources from spec of the Pipeline
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineForm.tsx
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference

#13647 CONSOLE-3916: Direct OIDC tech debt
  go.mod
  pkg/auth/auth_oidc.go
  pkg/auth/auth_oidc_test.go
  pkg/auth/auth_openshift.go
  pkg/auth/auth_test.go
  pkg/auth/sessions/combined_sessions.go
  pkg/auth/sessions/combined_sessions_test.go
  pkg/auth/sessions/loginstate.go
  pkg/auth/sessions/loginstate_test.go
  pkg/auth/sessions/server_session.go
  pkg/auth/sessions/server_session_test.go
Labels: approved, lgtm, component/backend, docs-approved, qe-approved, px-approved, jira/valid-reference

#13746 OCPBUGS-31745: TaskRun status is not displayed near the name
  frontend/packages/pipelines-plugin/src/components/taskruns/TaskRunDetailsPage.tsx
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference

#13751 OCPBUGS-32117: Add flag to hide Output tab contributed by pipelines-plugin
  frontend/packages/pipelines-plugin/console-extensions.json
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference

#13754 OCPBUGS-32175: Update i18n docs : Change "traditional Chinese" to "simplified Chinese"
  INTERNATIONALIZATION.md
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#13700 OCPBUGS-31430: Re-enable Pipelines e2e tests
  test-cypress.sh
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#13743 CONSOLE-3759: Update file-loader pkg
  frontend/package.json
  frontend/webpack.config.ts
  frontend/yarn.lock
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, jira/valid-reference

#13757 OCPBUGS-32189: Fix PatternFly version resolution check script for MacOS
  dynamic-demo-plugin/yarn.lock
  frontend/scripts/check-patternfly-modules.sh
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#13761 OCPBUGS-32307: Increase Max node limit for topology page to 300
  frontend/packages/topology/src/components/page/TopologyView.tsx
Labels: approved, lgtm, component/topology, jira/valid-bug, jira/valid-reference

#13714 [release-4.13] OCPBUGS-31595: Fix operands list endpoint.
  pkg/server/server.go
Labels: approved, lgtm, cherry-pick-approved, component/backend, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#13725 OCPBUGS-29377: Routes created by devfiles do not always use HTTPS
  frontend/packages/dev-console/src/components/import/GitImportForm.tsx
Labels: approved, lgtm, component/dev-console, jira/valid-bug, jira/valid-reference

#13747 OCPBUGS-32019: Handle loading issue for PLR status in PLR list page
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunRow.tsx
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference

#13677 CONSOLE-3944: Disable segment analytics when cluster telemetry is disabled
  frontend/packages/console-telemetry-plugin/src/listeners/const.ts
  frontend/packages/console-telemetry-plugin/src/listeners/segment.ts
Labels: approved, lgtm, component/shared, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference

#13492 OCPBUGS-26073: setting correct image trigger annotation
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/import/__tests__/upload-jar-submit-utils.spec.ts
  frontend/packages/dev-console/src/utils/__tests__/resource-label-utils-data.ts
  frontend/packages/dev-console/src/utils/__tests__/resource-label-utils.spec.tsx
  frontend/packages/dev-console/src/utils/resource-label-utils.ts
Labels: approved, lgtm, component/dev-console, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13712 OCPBUGS-12857: Add NaN handling for Stacked Graphs
  frontend/packages/console-shared/src/components/query-browser/QueryBrowser.tsx
Labels: approved, lgtm, component/shared, qe-approved, jira/valid-bug, jira/valid-reference

#13698 [release-4.14] OCPBUGS-31394: PipelineRuns in Console show wrong status or load indefinitely
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/status/LinkedPipelineRunTaskStatus.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/status/PipelineRunStatus.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/list-page/PipelineList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/list-page/PipelineRow.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunList.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/components/repository/list-page/RepositoryRow.tsx
  frontend/packages/pipelines-plugin/src/components/repository/list-page/ReppositoryList.tsx
Labels: approved, lgtm, cherry-pick-approved, qe-approved, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13715 ODC-7479: automation of quick-starts-cluster-overview.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/quick-starts-cluster-overview.feature
  frontend/packages/dev-console/integration-tests/support/pages/quickStartsPage.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/quck-starts/quick-starts-cluster-overview.ts
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, jira/valid-reference

#13768 OCPBUGS-32218: fix runtime error on Pending pod details page
  frontend/public/module/k8s/container.ts
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13591 OCPBUGS-28723: Improve Create serverless function error message
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/serverless-function/AddServerlessFunctionForm.scss
  frontend/packages/dev-console/src/components/import/serverless-function/AddServerlessFunctionForm.tsx
Labels: approved, lgtm, component/dev-console, kind/i18n, jira/valid-bug, jira/valid-reference

#13733 OCPBUGS-31809: Pipeline details page Metrics tab crashed due to no custom data
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/types.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetrics.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineMetrics.spec.tsx
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference

#13734 CONSOLE-3998: Update 'Explore new admin features' section
  frontend/packages/console-shared/src/components/getting-started/GettingStartedCard.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/__tests__/explore-admin-features-getting-started-card.spec.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/explore-admin-features-getting-started-card.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, tide/merge-method-squash, component/shared, component/dashboard, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#13773 ODC-7565: Update owners files (remove reviewers and add Avik and Prabhu as approvers for ODC)
  frontend/packages/console-telemetry-plugin/OWNERS
  frontend/packages/console-telemetry-plugin/integration-tests/OWNERS
  frontend/packages/dev-console/OWNERS
  frontend/packages/dev-console/integration-tests/OWNERS
  frontend/packages/git-service/OWNERS
  frontend/packages/gitops-plugin/OWNERS
  frontend/packages/gitops-plugin/integration-tests/OWNERS
  frontend/packages/helm-plugin/OWNERS
  frontend/packages/helm-plugin/integration-tests/OWNERS
  frontend/packages/knative-plugin/OWNERS
  frontend/packages/knative-plugin/integration-tests/OWNERS
  frontend/packages/pipelines-plugin/OWNERS
  frontend/packages/pipelines-plugin/integration-tests/OWNERS
  frontend/packages/service-binding-plugin/OWNERS
  frontend/packages/shipwright-plugin/OWNERS
  frontend/packages/shipwright-plugin/integration-tests/OWNERS
  frontend/packages/topology/OWNERS
  frontend/packages/topology/integration-tests/OWNERS
  frontend/packages/webterminal-plugin/OWNERS
  frontend/packages/webterminal-plugin/integration-tests/OWNERS
Labels: approved, lgtm, component/dev-console, component/knative, component/git-service, docs-approved, qe-approved, px-approved, component/helm, component/topology, component/gitops, component/pipelines, jira/valid-reference

#13766 OCPBUGS-32222: Add warning about service binding operator will not be supported from 4.15
  frontend/packages/console-app/src/components/modals/service-binding/CreateServiceBindingForm.tsx
  frontend/packages/console-shared/src/components/catalog/catalog-view/CatalogFilters.tsx
  frontend/packages/console-shared/src/components/catalog/details/CatalogDetailsModal.scss
  frontend/packages/console-shared/src/components/catalog/details/CatalogDetailsModal.tsx
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/service-binding-plugin/locales/en/service-binding-plugin.json
  frontend/packages/service-binding-plugin/src/components/service-binding-details/ServiceBindingDetailsPage.tsx
  frontend/packages/service-binding-plugin/src/components/service-binding-list/ServiceBindingListPage.tsx
  frontend/packages/service-binding-plugin/src/components/service-binding-utils/ServiceBindingAlerts.scss
  frontend/packages/service-binding-plugin/src/components/service-binding-utils/ServiceBindingAlerts.tsx
  frontend/packages/service-binding-plugin/src/utils.ts
  frontend/packages/topology/src/filters/TopologyFilterBar.tsx
Labels: approved, lgtm, component/shared, component/dev-console, component/core, docs-approved, qe-approved, px-approved, kind/i18n, component/topology, jira/valid-bug, jira/valid-reference

#13776 OCPBUGS-32059: Helm Plugin's Catalog incorrectly renders a single index entry into multiple tiles
  frontend/packages/helm-plugin/src/catalog/utils/catalog-utils.tsx
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmChartVersionDropdown.tsx
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradeForm.tsx
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradePage.tsx
  frontend/packages/helm-plugin/src/utils/helm-utils.ts
Labels: approved, lgtm, component/helm, jira/valid-bug, jira/valid-reference

#13755 OCPBUGS-32725: fix OIDC logging out
  cmd/bridge/config/auth/authoptions.go
  cmd/bridge/main.go
  frontend/@types/console/index.d.ts
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/module/auth.js
  go.mod
  pkg/auth/auth.go
  pkg/auth/auth_oidc.go
  pkg/auth/auth_openshift.go
  pkg/auth/metrics.go
  pkg/auth/sessions/combined_sessions.go
  pkg/auth/sessions/combined_sessions_test.go
  pkg/auth/sessions/server_session.go
  pkg/devfile/handler.go
  pkg/devfile/resources.go
  pkg/devfile/utils.go
  pkg/graphql/resolver/k8s.go
  pkg/helm/actions/config.go
  pkg/helm/actions/utility.go
  pkg/helm/chartproxy/proxy.go
  pkg/helm/chartproxy/repos.go
  pkg/knative/handler.go
  pkg/knative/utils.go
  pkg/plugins/handlers.go
  pkg/proxy/proxy.go
  pkg/server/kube_version.go
  pkg/server/middleware.go
  pkg/server/operands_handler.go
  pkg/server/resource_lister.go
  pkg/server/server.go
  pkg/serverconfig/config.go
  pkg/serverconfig/metrics.go
  pkg/serverutils/asynccache/asynccache.go
  pkg/serverutils/utils.go
  pkg/terminal/proxy.go
  pkg/usage/metrics.go
  pkg/usersettings/handlers.go
Labels: approved, lgtm, component/core, component/backend, component/gitops, component/pipelines, jira/valid-bug, jira/valid-reference

#13777 ODC-7433: Remove PatternFly classes from helm integration tests
  frontend/packages/dev-console/integration-tests/support/pageObjects/helm-po.ts
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-installation-view.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-page-tabs.feature
  frontend/packages/helm-plugin/integration-tests/support/pages/helm/helm-details-page.ts
  frontend/packages/helm-plugin/integration-tests/support/pages/helm/helm-page.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-installation-view.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-navigation.ts
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, component/helm, jira/valid-reference

#13765 OBSDOCS-986: Update the Monitoring topic used by the console team
  frontend/public/components/utils/documentation.tsx
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference

#13759 WINC-1180: Use record created for container_network metrics
  frontend/packages/console-shared/src/promql/resource-metrics.ts
  frontend/public/components/pod.tsx
Labels: approved, lgtm, component/shared, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference

#13790 OCPBUGS-32741: change OperatorHub filter FIPS Mode to Designed for FIPS
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/index.ts
Labels: approved, lgtm, component/olm, jira/valid-bug, jira/valid-reference

#13530 CONSOLE-3902: External login command modal
  cmd/bridge/config/auth/authoptions.go
  frontend/packages/console-shared/src/hoc/index.ts
  frontend/packages/console-shared/src/hoc/withRequestTokenURL.tsx
  frontend/packages/console-shared/src/hooks/index.ts
  frontend/packages/console-shared/src/hooks/useCopyCodeModal.tsx
  frontend/packages/console-shared/src/hooks/useCopyLoginCommands.ts
  frontend/packages/console-shared/src/hooks/useRequestTokenURL.ts
  frontend/public/components/command-line-tools.tsx
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/locales/en/public.json
  pkg/auth/auth.go
  pkg/server/server.go
  pkg/serverconfig/types.go
Labels: approved, lgtm, tide/merge-method-squash, component/shared, component/core, component/backend, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#13749 ODC-7535,ODC-7438: web-terminal automation improvement
  frontend/packages/dev-console/integration-tests/support/pageObjects/webterminal-po.ts
  frontend/packages/webterminal-plugin/integration-tests/features/web-terminal/web-teminal-basic.feature
  frontend/packages/webterminal-plugin/integration-tests/features/web-terminal/web-terminal-devuser.feature
  frontend/packages/webterminal-plugin/integration-tests/support/step-definitions/pages/web-terminal/initTerminal-page.ts
  frontend/packages/webterminal-plugin/integration-tests/support/step-definitions/web-terminal/web-Terminal-devuser.ts
  frontend/packages/webterminal-plugin/integration-tests/support/step-definitions/web-terminal/web-teminal-basic.ts
  frontend/packages/webterminal-plugin/integration-tests/support/step-definitions/web-terminal/web-terminal-adminuser.ts
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, jira/valid-reference

#13764 ODC-7547: Add e2e tests for QuickStarts in CI
  frontend/packages/dev-console/integration-tests/features/e2e/add-flow-ci.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/quick-start-devperspective.feature
  frontend/packages/dev-console/integration-tests/support/step-definitions/quck-starts/quick-start-devperspective.ts
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, jira/valid-reference

#13791 ODC-7569: Automation of the Recently Used Resources Section in the Search Resource page Dropdown
  frontend/packages/dev-console/integration-tests/features/search/search-devperspective.feature
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/pages/search-resources/search-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/search/search-devperspective.ts
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, jira/valid-reference

#13739 ODC-7435: Remove pf classes in pipelines package
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-builder-page.feature
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineBuilder-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelines-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-from-builder-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipeline-task-runs-display.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-actions.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-runs.ts
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, component/pipelines, jira/valid-reference

#13786 OCPBUGS-32791,CONSOLE-4014: Consume telemetry CLUSTER_ID and use it together with orgId as segment identifier
  dynamic-demo-plugin/src/utils/telemetry.ts
  frontend/packages/console-shared/src/hooks/__tests__/useTelemetry.spec.ts
  frontend/packages/console-shared/src/hooks/useTelemetry.ts
  frontend/packages/console-telemetry-plugin/console-extensions.json
  frontend/packages/console-telemetry-plugin/src/flags/detect-telemetry.ts
  frontend/packages/console-telemetry-plugin/src/listeners/debug.ts
  frontend/packages/console-telemetry-plugin/src/listeners/index.ts
  frontend/packages/console-telemetry-plugin/src/listeners/segment.ts
  frontend/public/components/app.jsx
Labels: approved, lgtm, component/shared, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-bug, jira/valid-reference

#13793 [4.15] OCPBUGS-32796: auth: fix OIDC logging out
  cmd/bridge/config/auth/authoptions.go
  cmd/bridge/main.go
  frontend/@types/console/index.d.ts
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/module/auth.js
  go.mod
  pkg/auth/auth.go
  pkg/auth/auth_oidc.go
  pkg/auth/auth_openshift.go
  pkg/auth/sessions/combined_sessions.go
  pkg/auth/sessions/combined_sessions_test.go
  pkg/auth/sessions/loginstate.go
  pkg/auth/sessions/loginstate_test.go
  pkg/auth/sessions/server_session.go
  pkg/auth/sessions/server_session_test.go
  pkg/server/server.go
Labels: approved, lgtm, cherry-pick-approved, component/core, component/backend, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#13799 OCPBUGS-33011: fix issues with Edit Route form
  frontend/__tests__/components/routes/create-route.spec.tsx
  frontend/public/components/routes/RoutePage.tsx
  frontend/public/components/routes/create-route.tsx
  frontend/public/components/routes/utils.ts
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#13710 ODC-7437: Remove pf classes in topology package
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-release.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/eventing/eventing-broker-trigger.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/eventing/kafka-event-sink.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/actions-on-knative-service.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/domain-mapping.ts
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-page.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-side-pane-page.ts
  frontend/packages/topology/integration-tests/support/step-definitions/common/topology.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/edit-workload.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/topology-filters.ts
  frontend/packages/topology/src/components/graph-view/components/groups/ApplicationGroupExpanded.tsx
  frontend/packages/topology/src/components/list-view/TopologyListViewNode.tsx
  frontend/packages/topology/src/components/side-bar/TopologySideBar.tsx
Labels: approved, lgtm, component/knative, docs-approved, qe-approved, px-approved, component/helm, component/topology, jira/valid-reference

#13774 CONSOLE-1756: replace PodIP with PodIPs or HostIP with HostIPs if mor…
  frontend/public/components/pod.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#13796 [release-4.15] OCPBUGS-32933: change OperatorHub filter FIPS Mode to Designed for FIPS
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/index.ts
Labels: approved, lgtm, cherry-pick-approved, component/olm, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#13803 OCPBUGS-32707: Fix React Router useParams in dynamic demo plugin
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/src/components/ExampleNamespacedPage.tsx
  dynamic-demo-plugin/yarn.lock
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference
