Repository openshift/console, pull requests merged in 2024-02, with the labels that each got.

#13539 CONSOLE-3818: Remove Chrome from the console builder image
  Dockerfile
  Dockerfile.builder
  Dockerfile.product.nodejs
  frontend/package.json
  frontend/yarn.lock
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, jira/valid-reference

#13519 CONSOLE-3909: i18n upload/download routine task - chore(i18n): update translations
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-shared/locales/ja/console-shared.json
  frontend/packages/console-shared/locales/ko/console-shared.json
  frontend/packages/console-shared/locales/zh/console-shared.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/metal3-plugin/locales/zh/metal3-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/operator-lifecycle-manager/locales/ko/olm.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ko/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/packages/shipwright-plugin/locales/zh/shipwright-plugin.json
  frontend/packages/topology/locales/ja/topology.json
  frontend/packages/topology/locales/ko/topology.json
  frontend/packages/topology/locales/zh/topology.json
  frontend/packages/vsphere-plugin/locales/zh/vsphere-plugin.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, component/shared, component/dev-console, component/kubevirt, component/knative, component/core, component/metal3, component/olm, component/lso, docs-approved, qe-approved, px-approved, component/insights, kind/i18n, component/helm, component/topology, component/pipelines, jira/valid-reference

#13521 CONSOLE-3853: Optimize module federation of PatternFly packages
  .gitignore
  dynamic-demo-plugin/.gitignore
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/src/components/ClusterOverview/Inventory.tsx
  dynamic-demo-plugin/tsconfig.json
  dynamic-demo-plugin/yarn.lock
  frontend/@types/console/index.d.ts
  frontend/package.json
  frontend/packages/console-dynamic-plugin-sdk/README.md
  frontend/packages/console-dynamic-plugin-sdk/package.json
  frontend/packages/console-dynamic-plugin-sdk/scripts/package-definitions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules-init.ts
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/dynamic-module-parser.ts
  frontend/packages/console-dynamic-plugin-sdk/src/webpack/ConsoleRemotePlugin.ts
  frontend/packages/console-dynamic-plugin-sdk/src/webpack/loaders/__tests__/dynamic-module-import-loader.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/webpack/loaders/dynamic-module-import-loader.ts
  frontend/packages/console-dynamic-plugin-sdk/tsconfig-webpack.json
  frontend/yarn.lock
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved, jira/valid-reference, acknowledge-critical-fixes-only

#13563 [release-4.15] AUTH-440: OIDC: refresh sessions with a refresh token if present
  cmd/bridge/config/auth/authoptions.go
  cmd/bridge/config/session/sessionoptions.go
  cmd/bridge/main.go
  go.mod
  go.sum
  pkg/auth/auth.go
  pkg/auth/auth_oidc.go
  pkg/auth/auth_openshift.go
  pkg/auth/auth_test.go
  pkg/auth/loginstate.go
  pkg/auth/loginstate_test.go
  pkg/auth/metrics.go
  pkg/auth/metrics_test.go
  pkg/auth/session.go
  pkg/auth/sessions/combined_sessions.go
  pkg/auth/sessions/loginstate.go
  pkg/auth/sessions/loginstate_test.go
  pkg/auth/sessions/server_session.go
  pkg/auth/sessions/server_session_test.go
  pkg/auth/util.go
  pkg/server/middleware.go
  pkg/server/server.go
  pkg/serverconfig/config.go
  pkg/serverconfig/types.go
  vendor/github.com/gorilla/securecookie/.editorconfig
  vendor/github.com/gorilla/securecookie/.gitignore
  vendor/github.com/gorilla/securecookie/LICENSE
  vendor/github.com/gorilla/securecookie/Makefile
  vendor/github.com/gorilla/securecookie/README.md
  vendor/github.com/gorilla/securecookie/doc.go
  vendor/github.com/gorilla/securecookie/securecookie.go
  vendor/github.com/gorilla/sessions/.editorconfig
  vendor/github.com/gorilla/sessions/.gitignore
  vendor/github.com/gorilla/sessions/LICENSE
  vendor/github.com/gorilla/sessions/Makefile
  vendor/github.com/gorilla/sessions/README.md
  vendor/github.com/gorilla/sessions/cookie.go
  vendor/github.com/gorilla/sessions/cookie_go111.go
  vendor/github.com/gorilla/sessions/doc.go
  vendor/github.com/gorilla/sessions/lex.go
  vendor/github.com/gorilla/sessions/options.go
  vendor/github.com/gorilla/sessions/options_go111.go
  vendor/github.com/gorilla/sessions/sessions.go
  vendor/github.com/gorilla/sessions/store.go
  vendor/modules.txt
Labels: approved, lgtm, cherry-pick-approved, component/core, component/backend, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#13557 OCPBUGS-28836: AUTH-440: fix usersettings identifier creation
  analyze.sh
  frontend/package.json
  frontend/packages/console-shared/src/hooks/useUserSettings.ts
  frontend/yarn.lock
  pkg/usersettings/helpers.go
Labels: approved, lgtm, component/shared, component/backend, jira/valid-bug, jira/valid-reference

#13567 CONSOLE-3377: Add Cypress integration tests for ConsoleYAMLSample CRDs
  frontend/packages/integration-tests-cypress/tests/crd-extensions/console-yaml-sample.cy.ts
  frontend/packages/integration-tests-cypress/views/resource-sidebar.ts
  frontend/public/components/sidebars/resource-sidebar-samples.tsx
  frontend/public/components/utils/simple-tab-nav.tsx
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/cypress, jira/valid-reference

#13553 OCPBUGS-28635: Bump graphql-go to v1.3.0
  go.mod
  go.sum
  vendor/github.com/Masterminds/semver/v3/constraints.go
  vendor/github.com/graph-gophers/graphql-go/.gitignore
  vendor/github.com/graph-gophers/graphql-go/.golangci.yml
  vendor/github.com/graph-gophers/graphql-go/CHANGELOG.md
  vendor/github.com/graph-gophers/graphql-go/README.md
  vendor/github.com/graph-gophers/graphql-go/decode/decode.go
  vendor/github.com/graph-gophers/graphql-go/errors/errors.go
  vendor/github.com/graph-gophers/graphql-go/errors/panic_handler.go
  vendor/github.com/graph-gophers/graphql-go/graphql.go
  vendor/github.com/graph-gophers/graphql-go/id.go
  vendor/github.com/graph-gophers/graphql-go/internal/common/directive.go
  vendor/github.com/graph-gophers/graphql-go/internal/common/lexer.go
  vendor/github.com/graph-gophers/graphql-go/internal/common/literals.go
  vendor/github.com/graph-gophers/graphql-go/internal/common/types.go
  vendor/github.com/graph-gophers/graphql-go/internal/common/values.go
  vendor/github.com/graph-gophers/graphql-go/internal/exec/exec.go
  vendor/github.com/graph-gophers/graphql-go/internal/exec/packer/packer.go
  vendor/github.com/graph-gophers/graphql-go/internal/exec/resolvable/meta.go
  vendor/github.com/graph-gophers/graphql-go/internal/exec/resolvable/resolvable.go
  vendor/github.com/graph-gophers/graphql-go/internal/exec/selected/selected.go
  vendor/github.com/graph-gophers/graphql-go/internal/exec/subscribe.go
  vendor/github.com/graph-gophers/graphql-go/internal/query/query.go
  vendor/github.com/graph-gophers/graphql-go/internal/schema/meta.go
  vendor/github.com/graph-gophers/graphql-go/internal/schema/schema.go
  vendor/github.com/graph-gophers/graphql-go/internal/validation/validation.go
  vendor/github.com/graph-gophers/graphql-go/introspection/introspection.go
  vendor/github.com/graph-gophers/graphql-go/nullable_types.go
  vendor/github.com/graph-gophers/graphql-go/relay/relay.go
  vendor/github.com/graph-gophers/graphql-go/subscriptions.go
  vendor/github.com/graph-gophers/graphql-go/time.go
  vendor/github.com/graph-gophers/graphql-go/trace/trace.go
  vendor/github.com/graph-gophers/graphql-go/trace/validation_trace.go
  vendor/github.com/graph-gophers/graphql-go/types/argument.go
  vendor/github.com/graph-gophers/graphql-go/types/directive.go
  vendor/github.com/graph-gophers/graphql-go/types/doc.go
  vendor/github.com/graph-gophers/graphql-go/types/enum.go
  vendor/github.com/graph-gophers/graphql-go/types/extension.go
  vendor/github.com/graph-gophers/graphql-go/types/field.go
  vendor/github.com/graph-gophers/graphql-go/types/fragment.go
  vendor/github.com/graph-gophers/graphql-go/types/input.go
  vendor/github.com/graph-gophers/graphql-go/types/interface.go
  vendor/github.com/graph-gophers/graphql-go/types/object.go
  vendor/github.com/graph-gophers/graphql-go/types/query.go
  vendor/github.com/graph-gophers/graphql-go/types/scalar.go
  vendor/github.com/graph-gophers/graphql-go/types/schema.go
  vendor/github.com/graph-gophers/graphql-go/types/types.go
  vendor/github.com/graph-gophers/graphql-go/types/union.go
  vendor/github.com/graph-gophers/graphql-go/types/value.go
  vendor/github.com/graph-gophers/graphql-go/types/variable.go
  vendor/modules.txt
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#13574 OCPBUGS-28856: make getGroupVersionKindForResource null safe
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-ref.ts
Labels: approved, lgtm, component/sdk, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13507 [release-4.14] OCPBUGS-27157: add additional check to determine if file is binary
  frontend/package.json
  frontend/public/components/utils/file-input.tsx
  frontend/yarn.lock
Labels: approved, lgtm, cherry-pick-approved, component/core, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#13527 ODC-7490: Add TaskRun tab in PLR details page using plugin
  frontend/packages/pipelines-plugin/console-extensions.json
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/__tests__/PipelineRunDetailsPage.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/index.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/pipelines, jira/valid-reference

#13568 OCPBUGS-22749: Adjust NAD name to "network-xxx-xxx" when creating
  frontend/packages/network-attachment-definition-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionsForm.tsx
  frontend/packages/network-attachment-definition-plugin/src/constants/index.ts
Labels: approved, lgtm, component/network-attachment-definition, kind/i18n, jira/valid-bug, jira/valid-reference

#13576 OCPBUGS-27246: Unhealthy conditions table should put Type as first column on MachineHealthCheck details page
  frontend/public/components/machine-health-check.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13477 OCPBUGS-25942: make sure folder is encapsulated with quotas
  frontend/packages/vsphere-plugin/__tests__/__snapshots__/utils.spec.ts.snap
  frontend/packages/vsphere-plugin/__tests__/utils.spec.ts
  frontend/packages/vsphere-plugin/package.json
  frontend/packages/vsphere-plugin/src/components/utils.ts
  frontend/webpack.config.ts
  frontend/yarn.lock
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference

#13577 OCPBUGS-27247: improve empty state message for Machines and MachineSets page
  frontend/public/components/machine-set.tsx
  frontend/public/components/machine.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-low, jira/valid-reference

#13547 OCPBUGS-28383: Activity card event has expanded content that is not correctly left aligned with the rest of the card content
  frontend/packages/console-shared/src/components/dashboard/activity-card/activity-card.scss
Labels: approved, lgtm, component/shared, component/dashboard, jira/valid-bug, jira/valid-reference

#13504 OCPBUGS-26566: Page fails to return to the Secrets list after clicking 'Cancel' on any Secret creation page
  frontend/public/components/secrets/create-secret.tsx
Labels: approved, lgtm, component/dev-console, component/core, jira/valid-bug, jira/valid-reference

#13556 OCPBUGS-28718: Revision tab and routes tab in serving details page showing no resource found
  frontend/packages/knative-plugin/src/components/services/ServiceDetailsPage.tsx
Labels: approved, lgtm, component/knative, jira/valid-bug, jira/valid-reference

#13411 OCPBUGS-9714: Any namespace after deletion is still visible on UI if it is the default selection in namespace dropdown
  frontend/public/components/namespace-bar.tsx
Labels: approved, lgtm, component/core, kind/cypress, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13566 OCPBUGS-28917: Optimize federation of shared PF5 code for dynamic plugins
  .gitignore
  dynamic-demo-plugin/.gitignore
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/src/components/ClusterOverview/Inventory.tsx
  dynamic-demo-plugin/tsconfig.json
  dynamic-demo-plugin/yarn.lock
  frontend/@types/console/index.d.ts
  frontend/package.json
  frontend/packages/console-dynamic-plugin-sdk/README.md
  frontend/packages/console-dynamic-plugin-sdk/package.json
  frontend/packages/console-dynamic-plugin-sdk/scripts/package-definitions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules-init.ts
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/dynamic-module-parser.ts
  frontend/packages/console-dynamic-plugin-sdk/src/webpack/ConsoleRemotePlugin.ts
  frontend/packages/console-dynamic-plugin-sdk/src/webpack/loaders/__tests__/dynamic-module-import-loader.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/webpack/loaders/dynamic-module-import-loader.ts
  frontend/packages/console-dynamic-plugin-sdk/tsconfig-webpack.json
  frontend/webpack.config.ts
  frontend/yarn.lock
Labels: approved, lgtm, cherry-pick-approved, component/sdk, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#13586 CONSOLE-3883: Update Console vs. dynamic plugin SDK package compat table
  frontend/packages/console-dynamic-plugin-sdk/README.md
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved, jira/valid-reference

#13583 OCPBUGS-27473: Error in displaying BuildRun logs in Console
  frontend/packages/shipwright-plugin/src/components/buildrun-details/BuildRunLogsTab.tsx
  frontend/packages/shipwright-plugin/src/types.ts
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference

#13600 [release-4.12] OCPBUGS-29348: Added Proxy to non k8s endpoints
  pkg/devconsole/proxy/proxy.go
  pkg/devconsole/proxy/proxy_test.go
  pkg/devconsole/proxy/types.go
  pkg/server/server.go
Labels: approved, lgtm, cherry-pick-approved, component/backend, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#13611 OCPBUGS-29601: Disabling pipeline tests to restore CI health
  test-cypress.sh
Labels: approved, lgtm, kind/cypress, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13602 OCPBUGS-29355: Output image url link leads to 404 for Shipwright Builds
  frontend/packages/shipwright-plugin/src/components/build-list/BuildOutput.tsx
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13604 OCPBUGS-29363: TaskRuns list page is loading constantly for all projects
  frontend/packages/pipelines-plugin/src/components/pipelineruns/hooks/usePipelineRuns.ts
  frontend/packages/pipelines-plugin/src/components/pipelineruns/hooks/useTektonResults.ts
  frontend/packages/pipelines-plugin/src/components/pipelineruns/utils/tekton-results.ts
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/list-page/TaskRunsRow.tsx
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13606 OCPBUGS-29423: update TableData doc to use PatternFly 5 classname
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
Labels: approved, lgtm, component/sdk, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13494 ODC-7477: automation of quick-start-access-code-snippet.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/quick-start-access-code-snippet.feature
  frontend/packages/dev-console/integration-tests/support/pageObjects/quickStarts-po.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/quck-starts/quick-start-access-code-snippet.ts
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, jira/valid-reference, acknowledge-critical-fixes-only

#13555 CONSOLE-3774: Enable OperatorHub filter by TLSProfiles annotation
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/index.ts
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-page.tsx
Labels: approved, lgtm, component/olm, docs-approved, qe-approved, px-approved, jira/valid-reference

#13597 OCPBUGS-29760: Dev console: Observe > Dashboard page should be called "Dashboards" (OU-260)
  frontend/packages/dev-console/integration-tests/features/monitoring/changing-context-monitoring-dashboard.feature
  frontend/packages/dev-console/integration-tests/support/step-definitions/monitoring/changing-context-dashboard.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/monitoring/topology-sidebar-actions.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/monitoring/MonitoringPage.tsx
  frontend/packages/dev-console/src/components/monitoring/__tests__/MonitoringPage.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/overview/MonitoringOverview.scss
  frontend/packages/dev-console/src/components/monitoring/overview/MonitoringOverview.tsx
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, kind/i18n, component/topology, jira/valid-bug, jira/valid-reference

#13552 CONSOLE-3921: Remove Disks/NICs page from Node details
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/DisksPage.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/NICsPage.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/baremetal-nodes-table.scss
  frontend/packages/metal3-plugin/src/plugin.tsx
Labels: approved, lgtm, component/metal3, docs-approved, qe-approved, px-approved, jira/valid-reference, acknowledge-critical-fixes-only

#13578 OCPBUGS-28967: 'Oh no somthing went wrong' shown on Image Manifest Vulnerability page after create IMV via CL
  frontend/packages/container-security/src/components/image-manifest-vuln.tsx
  frontend/packages/container-security/src/components/summary.tsx
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13619 OCPBUGS-29757: Use HTTP proxy configuration from environment variables in dev-console proxies, so that our backend proxies works fine on airgapped clusters
  pkg/devconsole/proxy/proxy.go
  pkg/knative/handler.go
Labels: kind/bug, approved, lgtm, component/backend, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13559 CONSOLE-3776: Add GCP token auth to Infrastructure features filter section in OpertorHub
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/index.ts
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-page.tsx
Labels: approved, lgtm, component/shared, component/core, component/olm, docs-approved, qe-approved, px-approved, jira/valid-reference

#13608 CONSOLE-3924: i18n upload/download routine task - version4.16/sprint247
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-shared/locales/ja/console-shared.json
  frontend/packages/console-shared/locales/ko/console-shared.json
  frontend/packages/console-shared/locales/zh/console-shared.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/metal3-plugin/locales/ja/metal3-plugin.json
  frontend/packages/metal3-plugin/locales/ko/metal3-plugin.json
  frontend/packages/metal3-plugin/locales/zh/metal3-plugin.json
  frontend/packages/network-attachment-definition-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/network-attachment-definition-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/network-attachment-definition-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/packages/shipwright-plugin/locales/zh/shipwright-plugin.json
  frontend/packages/topology/locales/zh/topology.json
  frontend/packages/vsphere-plugin/locales/zh/vsphere-plugin.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, component/shared, component/dev-console, component/kubevirt, component/core, component/metal3, component/olm, component/network-attachment-definition, docs-approved, qe-approved, px-approved, kind/i18n, component/topology, component/pipelines, jira/valid-reference, acknowledge-critical-fixes-only

#13511 ODC-7478: Gherkin and automation of "Install Red Hat Developer Hub with a Helm Chart" guided tour
  frontend/packages/dev-console/integration-tests/features/guided-tour/developer-hub-installation-with-helm-charts.feature
  frontend/packages/dev-console/integration-tests/support/pageObjects/quickStarts-po.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/guided-tours/developer-hub-installation-with-helm-charts.ts
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, jira/valid-reference

#13605 OCPBUGS-29701: Use selfsubjectreview API from frontend
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/package.json
  frontend/packages/console-app/src/components/oauth-config/IdentityProviders.tsx
  frontend/packages/console-app/src/components/oauth-config/OAuthConfigDetails.tsx
  frontend/packages/console-app/src/components/oauth-config/OAuthConfigDetailsPage.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/core/actions/core.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/core/reducers/__tests__/core.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/core/reducers/core.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/core/reducers/coreSelectors.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/redux-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-shared/src/constants/auth.ts
  frontend/packages/console-shared/src/hooks/useUserSettings.ts
  frontend/packages/dev-console/src/components/monitoring/alerts/SilenceDurationDropdown.tsx
  frontend/packages/operator-lifecycle-manager/src/components/install-plan.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/CloudShellTerminal.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/__tests__/cloud-shell-test-data.ts
  frontend/packages/webterminal-plugin/src/components/cloud-shell/setup/CloudShellDeveloperSetup.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/useCloudShellWorkspace.ts
  frontend/public/actions/features.gql
  frontend/public/actions/features.ts
  frontend/public/actions/ui.ts
  frontend/public/components/cluster-settings/global-config.tsx
  frontend/public/components/cluster-settings/oauth.tsx
  frontend/public/components/kube-admin-notifier.jsx
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/components/resource-pages.ts
  frontend/public/locales/en/public.json
  frontend/public/models/index.ts
  frontend/public/module/k8s/types.ts
  pkg/graphql/resolver/k8s.go
  pkg/graphql/schema.graphql
Labels: approved, lgtm, component/shared, component/dev-console, component/core, component/sdk, component/backend, component/olm, kind/i18n, jira/valid-bug, jira/valid-reference

#13622 CONSOLE-3948: rename 'supported but not recommended' to 'known issues…
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/modals/cluster-update-modal.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#13572 [release-4.14] OCPBUGS-28972: Add flags checks to hide Pipeline static plugin List and details pages
  frontend/packages/pipelines-plugin/console-extensions.json
Labels: approved, lgtm, cherry-pick-approved, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#13636 OCPBUGS-29914: [release-4.15] Use selfsubjectreview API from frontend
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/package.json
  frontend/packages/console-app/src/components/oauth-config/IdentityProviders.tsx
  frontend/packages/console-app/src/components/oauth-config/OAuthConfigDetails.tsx
  frontend/packages/console-app/src/components/oauth-config/OAuthConfigDetailsPage.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/core/actions/core.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/core/reducers/__tests__/core.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/core/reducers/core.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/core/reducers/coreSelectors.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/redux-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-shared/src/constants/auth.ts
  frontend/packages/console-shared/src/hooks/useUserSettings.ts
  frontend/packages/dev-console/src/components/monitoring/alerts/SilenceDurationDropdown.tsx
  frontend/packages/operator-lifecycle-manager/src/components/install-plan.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/CloudShellTerminal.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/__tests__/cloud-shell-test-data.ts
  frontend/packages/webterminal-plugin/src/components/cloud-shell/setup/CloudShellDeveloperSetup.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/useCloudShellWorkspace.ts
  frontend/public/actions/features.gql
  frontend/public/actions/features.ts
  frontend/public/actions/ui.ts
  frontend/public/components/cluster-settings/global-config.tsx
  frontend/public/components/cluster-settings/oauth.tsx
  frontend/public/components/kube-admin-notifier.jsx
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/components/resource-pages.ts
  frontend/public/locales/en/public.json
  frontend/public/models/index.ts
  frontend/public/module/k8s/types.ts
  pkg/graphql/resolver/k8s.go
  pkg/graphql/schema.graphql
Labels: approved, lgtm, cherry-pick-approved, component/shared, component/dev-console, component/core, component/sdk, component/backend, component/olm, staff-eng-approved, kind/i18n, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#13632 OCPBUGS-22487: Fix operands list endpoint.
  pkg/server/server.go
Labels: approved, lgtm, component/backend, jira/valid-bug, jira/valid-reference

#13554 CONSOLE-3907: add actions extension point to Events
  frontend/public/components/_sysevent-stream.scss
  frontend/public/components/events.jsx
  frontend/public/components/utils/event-stream.tsx
Labels: approved, lgtm, component/shared, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#13610 OCPBUGS-29479: Add retries to async cache initialization
  pkg/auth/asynccache.go
Labels: approved, lgtm, tide/merge-method-squash, component/backend, jira/valid-bug, jira/valid-reference

#13389 ODC-7480: Recently Searched Section in Search Resource Page Dropdown
  frontend/public/components/_resource-dropdown.scss
  frontend/public/components/resource-dropdown.tsx
  frontend/public/components/search.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#13233 OCPBUGS-30077: Add additional search filters in the toolbar
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/public/components/factory/ListPage/ListPageFilter.tsx
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/filter-toolbar.tsx
  frontend/public/components/useSearchFilters.ts
Labels: approved, lgtm, component/core, component/sdk, jira/valid-bug, jira/valid-reference
