Repository openshift/console, pull requests merged in 2024-10, with the labels that each got.

#14225 CONSOLE-4125: Convert user preference SelectDeprecated components
  frontend/packages/console-app/src/components/user-preferences/UserPreferenceDropdownField.tsx
  frontend/packages/console-app/src/components/user-preferences/__tests__/UserPreferenceDropdownField.spec.tsx
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference

#14357 OCPBUGS-42574: Project is "Undefined" on "VolumeSnapshot" create page
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot.tsx
Labels: approved, lgtm, ok-to-test, component/core, jira/valid-bug, jira/valid-reference

#14334 OCPBUGS-33519: Observe > Metrics targets, Alert user if they do not have access to information on this page (e.g. 403).
  frontend/public/components/monitoring/targets.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, cherry-pick-approved, component/monitoring, component/core, kind/i18n, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#14355 NO-JIRA: Update README with instructions for running monitoring-plugin
  README.md
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, jira/valid-reference

#13750 CONSOLE-3340: Rewriting the downloads server into golang
  Dockerfile.downloads
  README.md
  build-downloads.sh
  cmd/bridge/main.go
  cmd/downloads/config/defaultArtifactsConfig.yaml
  cmd/downloads/config/downloads_config.go
  cmd/downloads/main.go
Labels: approved, lgtm, tide/merge-method-squash, component/backend, docs-approved, qe-approved, px-approved, jira/valid-reference

#14255 NO-JIRA: Update OWNERS files
  OWNERS
  cmd/OWNERS
  frontend/OWNERS
  frontend/packages/integration-tests-cypress/OWNERS
  pkg/OWNERS
  pkg/auth/OWNERS
Labels: approved, lgtm, component/backend, docs-approved, qe-approved, px-approved, kind/cypress, jira/valid-reference

#14356 OCPBUGS-37705: Decoded "auth" contains whitespace when create image pull secret with whitespace in password
  frontend/public/components/secrets/create-secret/PullSecretCredentialEntry.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#14309 ODC-7655: Migrate `SelectVariant.typeaheadMulti` `SelectInputField`s to PF5
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/formik-fields/MultiTypeaheadField.tsx
  frontend/packages/console-shared/src/components/formik-fields/field-types.ts
  frontend/packages/console-shared/src/components/formik-fields/index.ts
  frontend/packages/dev-console/src/components/import/serverless/ServerlessRouteSection.tsx
  frontend/packages/dev-console/src/components/import/serverless/__tests__/ServerlessRouteSection.spec.tsx
  frontend/packages/knative-plugin/integration-tests/support/pageObjects/global-po.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/domain-mapping.ts
  frontend/packages/knative-plugin/src/components/add/event-sinks/KafkaSinkSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/KafkaSourceSection.tsx
  frontend/packages/knative-plugin/src/hooks/useBootstrapServers.ts
Labels: approved, lgtm, component/shared, component/dev-console, component/knative, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#14372 OCPBUGS-42782: Add missing pipelines plugin name to known plugins
  pkg/serverconfig/metrics.go
Labels: approved, lgtm, component/backend, jira/valid-bug, jira/valid-reference

#14172 CONSOLE-3761: (deps) replace `monaco-editor-core` with `monaco-editor` and bump version
  frontend/package.json
  frontend/packages/console-shared/src/components/editor/CodeEditorSidebar.tsx
  frontend/packages/console-shared/src/components/editor/theme.ts
  frontend/packages/console-shared/src/components/editor/yaml-editor-utils.ts
  frontend/packages/integration-tests-cypress/support/a11y.ts
  frontend/public/components/_edit-yaml.scss
  frontend/yarn.lock
Labels: approved, lgtm, component/shared, component/core, docs-approved, qe-approved, px-approved, kind/cypress, jira/valid-reference

#14327 CONSOLE-4139: replace react-copy-to-clipboard with PatternFly Clipboa…
  frontend/__tests__/components/utils/copy-to-clipboard.spec.tsx
  frontend/public/components/configmap-and-secret-data.tsx
  frontend/public/components/utils/copy-to-clipboard.tsx
  frontend/public/components/utils/link.tsx
  frontend/public/locales/en/public.json
  frontend/public/style/_common.scss
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, hacktoberfest-accepted, kind/i18n, kind/cypress, jira/valid-reference

#14369 [release-4.14] OCPBUGS-42757: Switch to use annotations as labels from PipelineRuns created through Pipelines as Code is deprecated
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryLinkList.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunHeader.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunListPage.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/components/repository/consts.ts
  frontend/packages/pipelines-plugin/src/components/repository/repository-utils.tsx
  frontend/packages/pipelines-plugin/src/test-data/pipeline-data.ts
Labels: approved, lgtm, cherry-pick-approved, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#14379 OCPBUGS-38533: remove axios as it is no longer in use
  frontend/package.json
  frontend/yarn.lock
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#14350 OCPBUGS-41492: show Samples tab when one or more exists
  frontend/public/components/configmaps/ConfigMapFormEditor.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#14192 CONSOLE-4236: Migrate Dev > Observe > Dashboard Page
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/monitoring/MonitoringPage.tsx
  frontend/packages/dev-console/src/components/monitoring/__tests__/MonitoringPage.spec.tsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/dashboards/bar-chart.tsx
  frontend/public/components/monitoring/dashboards/custom-time-range-modal.tsx
  frontend/public/components/monitoring/dashboards/graph.tsx
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/dashboards/monitoring-dashboard-utils.ts
  frontend/public/components/monitoring/dashboards/single-stat.tsx
  frontend/public/components/monitoring/dashboards/table.tsx
  frontend/public/components/monitoring/dashboards/timespan-dropdown.tsx
  frontend/public/components/monitoring/dashboards/types.ts
  frontend/public/components/monitoring/dashboards/useFetchDashboards.ts
  frontend/public/locales/en/public.json
  frontend/public/reducers/observe.ts
Labels: approved, lgtm, component/dev-console, component/monitoring, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#14156 CONSOLE-4263: Add initial Content Security Policy for Console web application
  frontend/packages/console-dynamic-plugin-sdk/README.md
  frontend/public/components/app.jsx
  pkg/proxy/proxy.go
  pkg/server/server.go
Labels: approved, lgtm, component/core, component/sdk, component/backend, docs-approved, qe-approved, px-approved, jira/valid-reference

#14382 OCPBUGS-42778, OCPBUGS-42850: Add missing plugin names to known plugins
  pkg/serverconfig/metrics.go
Labels: approved, lgtm, component/backend, jira/valid-bug, jira/valid-reference

#14020 [release-4.15] OCPBUGS-33283: Adjust NAD name to "network-xxx-xxx" when creating
  frontend/packages/network-attachment-definition-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionsForm.tsx
  frontend/packages/network-attachment-definition-plugin/src/constants/index.ts
Labels: approved, lgtm, cherry-pick-approved, component/network-attachment-definition, kind/i18n, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#14366 OCPBUGS-41904: fix annotation for ovn localnet
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionsForm.tsx
Labels: approved, lgtm, cherry-pick-approved, component/network-attachment-definition, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#14304 ODC-7664: Add subscribe form for Knative EventType
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/components/add/index.ts
  frontend/packages/knative-plugin/src/components/add/knative-event-type/Subscribe.tsx
  frontend/packages/knative-plugin/src/components/add/knative-event-type/SubscribeForm.tsx
  frontend/packages/knative-plugin/src/components/add/knative-event-type/SubscribePage.tsx
  frontend/packages/knative-plugin/src/components/add/knative-event-type/subscribe-utils.ts
  frontend/packages/knative-plugin/src/components/pub-sub/PubSub.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/PubSubModal.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/form-fields/PubSubFilter.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/form-fields/PubSubSubscriber.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/pubsub-validation-utils.ts
Labels: approved, lgtm, component/knative, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#14364 OCPBUGS-42712: Replace usage of `containsNonPrintableCharacters` function with `isBinary` function from 'istextorbinary' lib.
  frontend/public/components/configmap-and-secret-data.tsx
  frontend/public/components/droppable-edit-yaml.tsx
  frontend/public/components/secrets/create-secret/GenericSecretForm.tsx
  frontend/public/components/utils/file-input.tsx
Labels: approved, lgtm, component/core, hacktoberfest-accepted, jira/valid-bug, jira/severity-low, jira/valid-reference

#14362 CONSOLE-4191: update ContainerDropdown to use PatternFly Select
  frontend/packages/dev-console/src/components/health-checks/AddHealthChecks.tsx
  frontend/packages/dev-console/src/components/health-checks/__tests__/AddHealthChecks.spec.tsx
  frontend/public/components/environment.jsx
  frontend/public/components/pod-exec.jsx
  frontend/public/components/pod-logs.jsx
  frontend/public/components/utils/container-select.tsx
  frontend/public/components/utils/dropdown.jsx
  frontend/public/components/utils/index.tsx
Labels: approved, lgtm, component/dev-console, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference

#14380 OCPBUGS-42819: remove invalid resource name check for value '~new'
  frontend/packages/dev-console/src/components/buildconfig/BuildConfigForm.tsx
  frontend/packages/dev-console/src/components/buildconfig/BuildConfigFormPage.tsx
  frontend/packages/dev-console/src/components/buildconfig/EditBuildConfig.tsx
  frontend/packages/dev-console/src/components/buildconfig/__tests__/BuildConfigFormPage.spec.tsx
  frontend/packages/dev-console/src/components/deployments/DeploymentConfigPage.tsx
  frontend/packages/dev-console/src/components/deployments/DeploymentForm.tsx
  frontend/packages/dev-console/src/components/deployments/DeploymentPage.tsx
  frontend/packages/dev-console/src/components/deployments/EditDeployment.tsx
  frontend/packages/shipwright-plugin/src/components/build-form/BuildForm.tsx
  frontend/packages/shipwright-plugin/src/components/build-form/BuildFormPage.tsx
  frontend/packages/shipwright-plugin/src/components/build-form/EditBuild.tsx
  frontend/public/components/configmaps/ConfigMapPage.tsx
Labels: approved, lgtm, component/dev-console, component/core, jira/valid-bug, jira/valid-reference

#14291 OCPBUGS-38717: Telemetry userPreference results in empty nodes output to the DOM
  frontend/packages/console-telemetry-plugin/console-extensions.json
  frontend/packages/console-telemetry-plugin/src/components/TelemetryUserPreferenceDropdown.tsx
  frontend/packages/console-telemetry-plugin/src/const.ts
  frontend/packages/console-telemetry-plugin/src/providers/telemetry-provider.ts
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#14348 CONSOLE-4274: i18n upload/download routine task -sprint 260
  frontend/packages/console-app/locales/es/console-app.json
  frontend/packages/console-app/locales/fr/console-app.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-shared/locales/es/console-shared.json
  frontend/packages/console-shared/locales/fr/console-shared.json
  frontend/packages/console-shared/locales/ja/console-shared.json
  frontend/packages/console-shared/locales/ko/console-shared.json
  frontend/packages/console-shared/locales/zh/console-shared.json
  frontend/packages/knative-plugin/locales/es/knative-plugin.json
  frontend/packages/knative-plugin/locales/fr/knative-plugin.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/zh/lso-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/es/olm.json
  frontend/packages/operator-lifecycle-manager/locales/fr/olm.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/operator-lifecycle-manager/locales/ko/olm.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/public/locales/es/public.json
  frontend/public/locales/fr/public.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, component/shared, component/knative, component/core, component/olm, component/lso, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#14394 OCPBUGS-43110: fix id issues with ClipboardCopyButton
  frontend/public/components/utils/copy-to-clipboard.tsx
  frontend/public/components/utils/link.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#14345 ODC-7703: Quick create actions in the masthead toolbar
  frontend/packages/integration-tests-cypress/tests/app/masthead.cy.ts
  frontend/packages/integration-tests-cypress/views/masthead.ts
  frontend/public/components/QuickCreate.scss
  frontend/public/components/QuickCreate.tsx
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n, kind/cypress, jira/valid-reference

#14243 CONSOLE-4125: Convert language dropdown deprecated select
  frontend/packages/console-app/src/components/user-preferences/language/LanguageDropdown.tsx
  frontend/packages/console-app/src/components/user-preferences/language/__tests__/LanguageDropdown.spec.tsx
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, hacktoberfest-accepted, jira/valid-reference

#14242 CONSOLE-4256: (deps) update PatternFly to 5.3.0
  frontend/package.json
  frontend/packages/console-shared/src/components/formik-fields/MultiTypeaheadField.tsx
  frontend/packages/console-shared/src/components/formik-fields/SingleDropdownField.tsx
  frontend/public/components/_resource-dropdown.scss
  frontend/public/components/filter-toolbar.tsx
  frontend/public/components/resource-dropdown.tsx
  frontend/public/components/utils/single-typeahead-dropdown.tsx
  frontend/public/locales/en/public.json
  frontend/public/style/_common.scss
  frontend/yarn.lock
Labels: approved, lgtm, component/shared, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#14343 ODC-7680: Migrate `ResultsList` to PF5
  frontend/packages/pipelines-plugin/src/components/shared/results/ResultsList.tsx
  frontend/packages/pipelines-plugin/src/components/shared/results/__tests__/ResultsList.spec.tsx
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/pipelines, jira/valid-reference

#14402 [release-4.17] OCPBUGS-42955: Enabling topology e2e tests on CI
  frontend/packages/topology/integration-tests/features/e2e/topology-ci.feature
  frontend/packages/topology/integration-tests/features/topology/horizontal-pod-autoscaler/actions-on-hpa.feature
  frontend/packages/topology/integration-tests/features/topology/resource-quota-warning.feature
  frontend/packages/topology/integration-tests/features/topology/topology-connecting-workloads.feature
  frontend/packages/topology/integration-tests/features/topology/topology-workload-sidebar.feature
  frontend/packages/topology/integration-tests/features/topology/topoplogy-delete-workload.feature
  frontend/packages/topology/integration-tests/support/commands/hooks.ts
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-page.ts
  frontend/packages/topology/integration-tests/support/step-definitions/common/topology.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/chart-view.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/pipelines-on-topology.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/workload-sidebar.ts
Labels: approved, lgtm, cherry-pick-approved, component/topology, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#14399 OCPBUGS-43039: Broker form view by default throws error in Application name if an application exists
  frontend/packages/knative-plugin/src/components/add/brokers/add-broker-utils.ts
Labels: approved, lgtm, component/knative, jira/valid-bug, jira/valid-reference

#14404 OCPBUGS-31914: Searching node with label doesn't work.
  frontend/packages/console-app/src/components/nodes/NodesPage.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#14328 CONSOLE-4119: Convert deprecated perspective dropdown to select
  frontend/packages/console-app/src/components/nav/NavHeader.scss
  frontend/packages/console-app/src/components/nav/NavHeader.tsx
  frontend/packages/integration-tests-cypress/views/nav.ts
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/cypress, jira/valid-reference

#14363 ODC-7680: Remove `SeriesButton`, `QueryTable`
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#14390 CONSOLE-4182: replace DropdownDeprecated in SearchFilterDropdown
  frontend/public/components/_search.scss
  frontend/public/components/search-filter-dropdown.tsx
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference

#14410 OCPBUGS-43494: Searching volumesnapshot and volumesnaphotclass with label doesn't work.
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot-class.tsx
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#14305 ODC-7655: Migrate `SelectVariant.Typeahead` `SelectInputField`s to PF5
  frontend/packages/console-shared/src/components/formik-fields/SelectInputField.tsx
  frontend/packages/console-shared/src/components/formik-fields/SingleTypeaheadField.tsx
  frontend/packages/console-shared/src/components/formik-fields/field-types.ts
  frontend/packages/console-shared/src/components/formik-fields/index.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/advanced/__tests__/RouteSection.spec.tsx
  frontend/packages/dev-console/src/components/import/route/PortInputField.tsx
  frontend/packages/knative-plugin/src/components/test-function/RequestPane.tsx
  frontend/public/components/utils/single-typeahead-dropdown.tsx
Labels: approved, lgtm, component/shared, component/dev-console, component/knative, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#14396 OCPBUGS-42796: Do not pass CSV name to operand list page when an exen…
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
Labels: approved, lgtm, component/olm, hacktoberfest-accepted, jira/valid-bug, jira/severity-important, jira/valid-reference

#14420 OCPBUGS-43530: Searching resources with shortname doesn't work on Search page
  frontend/public/components/resource-dropdown.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#14412 OCPBUGS-43409: 'control plane' option is missing on 'filter node type' list
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/utilization-card.tsx
Labels: approved, lgtm, component/dashboard, component/core, jira/valid-bug, jira/severity-important, jira/valid-reference

#14340 ODC-7680: Migrate `FilterTable` to PF5
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/components/overview/FilterTable.tsx
Labels: approved, lgtm, component/knative, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#14300 OCPBUGS-42985: Update Console dynamic plugin SDK webpack dependency
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/yarn.lock
  frontend/packages/console-dynamic-plugin-sdk/package.json
  frontend/yarn.lock
Labels: approved, lgtm, component/sdk, jira/valid-bug, jira/valid-reference

#14427 OCPBUGS-43652: Filter dropdown doesn't collapse on second click
  frontend/public/components/filter-toolbar.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#14395 OCPBUGS-41358: While upgrading the cluster from UI observed `Warning alert:Admission Webhook Warning`
  frontend/public/components/notification-drawer.tsx
  frontend/public/module/k8s/cluster-settings.ts
  frontend/public/module/k8s/types.ts
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#14424 OCPBUGS-43640: Show danger status if invalid
  frontend/packages/console-shared/src/components/formik-fields/SingleTypeaheadField.tsx
  frontend/public/components/utils/single-typeahead-dropdown.tsx
Labels: approved, lgtm, component/shared, component/core, jira/valid-bug, jira/valid-reference

#14417 ODC-7665: E2E for EventType catalog and Subscribe form
  frontend/packages/dev-console/integration-tests/support/constants/add.ts
  frontend/packages/dev-console/integration-tests/support/constants/pageTitle.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/events-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/index.ts
  frontend/packages/knative-plugin/integration-tests/features/eventing/eventing-events-subscription.feature
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/eventing/eventing-events-subscription.ts
  frontend/packages/knative-plugin/integration-tests/support/testData/installation-yamls/createBroker.yaml
  frontend/packages/knative-plugin/integration-tests/support/testData/installation-yamls/createKnativeService.yaml
Labels: approved, lgtm, tide/merge-method-squash, component/dev-console, component/knative, docs-approved, qe-approved, px-approved, jira/valid-reference

#14365 OCPBUGS-43799: Debounce tile view searches
  frontend/packages/console-shared/src/components/catalog/catalog-view/CatalogToolbar.tsx
  frontend/packages/console-shared/src/components/catalog/catalog-view/CatalogView.tsx
  frontend/public/components/utils/tile-view-page.jsx
Labels: approved, lgtm, component/shared, component/core, hacktoberfest-accepted, jira/valid-bug, jira/valid-reference

#14432 OCPBUGS-43084: While accessing the node terminal from UI observed 'Warning alert:Admission Webhook Warning`
  frontend/packages/console-app/src/components/nodes/NodeTerminal.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#14421 OCPBUGS-43538: add onRowsRendered prop to VirtualizedTable in SDK
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/public/components/factory/Table/VirtualizedTable.tsx
  frontend/public/components/factory/Table/VirtualizedTableBody.tsx
Labels: approved, lgtm, component/core, component/sdk, jira/valid-bug, jira/valid-reference

#14435 CONSOLE-4295: i18n upload/download routine task - sprint 261
  frontend/packages/console-shared/locales/fr/console-shared.json
  frontend/packages/console-shared/locales/ja/console-shared.json
  frontend/packages/console-shared/locales/ko/console-shared.json
  frontend/packages/console-shared/locales/zh/console-shared.json
  frontend/packages/dev-console/locales/fr/devconsole.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/knative-plugin/locales/fr/knative-plugin.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/fr/olm.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/operator-lifecycle-manager/locales/ko/olm.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/public/locales/fr/public.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, component/shared, component/dev-console, component/knative, component/core, component/olm, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines, jira/valid-reference

#14431 OCPBUGS-43752: Add flag to hide the pipelines-plugin pipeline builder extensions
  frontend/packages/pipelines-plugin/console-extensions.json
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference

#14425 NO-JIRA: Update owners file after I changed my GitHub username
  OWNERS
  dynamic-demo-plugin/OWNERS
  frontend/OWNERS
  frontend/packages/console-telemetry-plugin/OWNERS
  frontend/packages/gitops-plugin/OWNERS
  frontend/packages/helm-plugin/OWNERS
  frontend/packages/knative-plugin/OWNERS
  frontend/packages/pipelines-plugin/OWNERS
  frontend/packages/service-binding-plugin/OWNERS
  frontend/packages/shipwright-plugin/OWNERS
  frontend/packages/topology/OWNERS
  frontend/packages/webterminal-plugin/OWNERS
Labels: approved, lgtm, ok-to-test, component/dev-console, component/knative, component/git-service, docs-approved, qe-approved, px-approved, component/helm, component/topology, component/gitops, component/pipelines, jira/valid-reference

#14376 ODC-7701: Add new Import to Console button to LightSpeed generated code-blocks
  frontend/packages/console-shared/src/components/editor/CodeEditorToolbar.tsx
  frontend/packages/console-shared/src/components/editor/__tests__/CodeEditorToolbar.spec.tsx
  frontend/public/components/droppable-edit-yaml.tsx
  frontend/public/components/edit-yaml.jsx
  frontend/public/components/import-yaml.tsx
  frontend/public/components/modals/__tests__/replace-code-modal.spec.tsx
  frontend/public/components/modals/replace-code-modal.tsx
  frontend/public/locales/en/public.json
  frontend/public/reducers/ols.ts
Labels: approved, lgtm, tide/merge-method-squash, component/shared, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#14445 OCPBUGS-43813: Unnecessary warning notification message on debug pod
  frontend/public/components/debug-terminal.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#14403 CONSOLE-4234,CONSOLE-4296: Remove deprecated PF table from Cons…
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/console-operator/ConsoleOperatorConfig.tsx
  frontend/packages/console-shared/src/utils/comparators.ts
Labels: approved, lgtm, component/shared, component/core, docs-approved, qe-approved, px-approved, hacktoberfest-accepted, kind/i18n, jira/valid-reference

#14252 OCPBUGS-41924, OCPBUGS-43540: Update and enable shipwright e2e test on CI
  frontend/integration-tests/test-cypress.sh
  frontend/packages/shipwright-plugin/integration-tests/features/e2e/shipwright-ci.feature
  frontend/packages/shipwright-plugin/integration-tests/testData/builds/shipwrightBuild.yaml
  frontend/packages/shipwright-plugin/integration-tests/testData/builds/shipwrightBuildStrategies.yaml
  frontend/packages/shipwright-plugin/integration-tests/testData/shipwrightOperatorSubscription.yaml
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, jira/valid-bug, jira/valid-reference

#14442 OCPBUGS-43853: Remove promql-expression-input and table-pagination
  frontend/package.json
  frontend/public/components/monitoring/promql-expression-input.tsx
  frontend/public/components/monitoring/table-pagination.tsx
  frontend/public/locales/en/public.json
  frontend/webpack.config.ts
  frontend/yarn.lock
Labels: approved, lgtm, component/monitoring, component/core, kind/i18n, jira/valid-bug, jira/valid-reference

#14451 NO-JIRA: Prepare to publish fresh Console plugin SDK packages
  frontend/packages/console-dynamic-plugin-sdk/CHANGELOG-core.md
  frontend/packages/console-dynamic-plugin-sdk/CHANGELOG-webpack.md
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved, jira/valid-reference

#14450 OCPBUGS-43996: Add flag to disallowed Pipeline edit URL in the pipelines-plugin
  frontend/packages/pipelines-plugin/console-extensions.json
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference

#14434 OCPBUGS-43718: Edit Deployment and Edit DeploymentConfig takes user to project workloads page
  frontend/packages/dev-console/src/components/deployments/EditDeployment.tsx
Labels: approved, lgtm, component/dev-console, jira/valid-bug, jira/severity-moderate, jira/valid-reference
