Repository openshift/console, pull requests merged in 2024-01, with the labels that each got.

#13210 OCPBUGS-25927: Fix config ini format
  frontend/packages/vsphere-plugin/__tests__/__snapshots__/utils.spec.ts.snap
  frontend/packages/vsphere-plugin/src/components/persist.ts
  frontend/packages/vsphere-plugin/src/components/utils.ts
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#13460 OCPBUGS-25934: clean up icon color and sizes
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/status/icons.tsx
  frontend/packages/console-shared/src/components/status/icons.tsx
Labels: approved, lgtm, component/shared, component/sdk, jira/valid-bug, jira/valid-reference

#13473 OCPBUGS-25780: fix bug where Update cluster modal will not open
  frontend/packages/console-shared/src/components/dropdown/dropdown-with-switch/DropdownWithSwitchToggle.tsx
  frontend/public/style/_common.scss
Labels: approved, lgtm, component/shared, component/core, jira/valid-bug, jira/severity-important, jira/valid-reference

#13474 OCPBUGS-25771: Enable catalog source badge to truncate for long names
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
  frontend/public/style/_overrides.scss
Labels: approved, lgtm, component/core, component/olm, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13349 [release-4.13] OCPBUGS-23483: add access to create, edit and delete silences for developer user from developer perspective
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/src/components/monitoring/alerts/monitoring-silences.tsx
  frontend/packages/dev-console/src/components/monitoring/index.ts
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/silence-form.tsx
Labels: approved, lgtm, cherry-pick-approved, component/dev-console, component/monitoring, component/core, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#13472 OCPBUGS-25840: make Azure warning title consistent
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
Labels: approved, lgtm, component/olm, kind/i18n, jira/valid-bug, jira/severity-low, jira/valid-reference

#13470 OCPBUGS-25898: Fix PipelineRun Logs tab navigation
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunLogs.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/PipelineTaskNode.tsx
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/severity-important, jira/valid-reference

#13480 OCPBUGS-25780: add integration test to check that Update cluster moda…
  frontend/packages/integration-tests-cypress/mocks/cluster-version.ts
  frontend/packages/integration-tests-cypress/tests/cluster-settings/cluster-settings.cy.ts
Labels: approved, lgtm, kind/cypress, jira/valid-bug, jira/severity-important, jira/valid-reference

#13478 [release-4.14] OCPBUGS-25997: change Alertmanager form to create using matchers inst…
  frontend/__tests__/components/monitoring.spec.tsx
  frontend/integration-tests/tests/alertmanager.scenario.ts
  frontend/integration-tests/tests/monitoring.scenario.ts
  frontend/integration-tests/views/monitoring.view.ts
  frontend/packages/integration-tests-cypress/support/admin.ts
  frontend/packages/integration-tests-cypress/support/index.ts
  frontend/packages/integration-tests-cypress/tests/cluster-settings/alertmanager/alertmanager.spec.ts
  frontend/packages/integration-tests-cypress/tests/cluster-settings/alertmanager/receivers/email.spec.ts
  frontend/packages/integration-tests-cypress/tests/cluster-settings/alertmanager/receivers/pagerduty.spec.ts
  frontend/packages/integration-tests-cypress/tests/cluster-settings/alertmanager/receivers/slack.spec.ts
  frontend/packages/integration-tests-cypress/tests/cluster-settings/alertmanager/receivers/webhook.spec.ts
  frontend/packages/integration-tests-cypress/views/alertmanager.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/__tests__/cluster-setup-alert-receiver-link.spec.ts
  frontend/public/components/monitoring/alertmanager/alertmanager-config.tsx
  frontend/public/components/monitoring/alertmanager/alertmanager-page.tsx
  frontend/public/components/monitoring/receiver-forms/alert-manager-receiver-forms.tsx
  frontend/public/components/monitoring/receiver-forms/routing-labels-editor.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, cherry-pick-approved, component/dashboard, component/monitoring, component/core, qe-approved, kind/i18n, kind/cypress, backport-risk-assessed, jira/valid-bug, jira/severity-low, jira/valid-reference

#13459 OCPBUGS-25722: Add support for custom segment domains (to load JS and make API calls)
  frontend/packages/console-telemetry-plugin/src/listeners/const.ts
  frontend/packages/console-telemetry-plugin/src/listeners/segment.ts
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#13441 chore(i18n): update translations: Completed OCP-4.15/Master Branch/Sprint 245
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ko/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/packages/shipwright-plugin/locales/zh/shipwright-plugin.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, component/dev-console, component/kubevirt, component/knative, component/core, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines, jira/valid-bug, jira/valid-reference

#13466 ODC-7465: Update Getting started section in Openshift UI to use expandable section
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/getting-started/GettingStartedExpandableGrid.scss
  frontend/packages/console-shared/src/components/getting-started/GettingStartedExpandableGrid.tsx
  frontend/packages/console-shared/src/components/getting-started/index.ts
  frontend/packages/console-shared/src/constants/common.ts
  frontend/packages/dev-console/src/components/add/AddPageLayout.tsx
  frontend/packages/dev-console/src/components/add/GettingStartedSection.tsx
  frontend/packages/dev-console/src/components/add/__tests__/GettingStartedSection.spec.tsx
  frontend/packages/dev-console/src/components/add/constants.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/__tests__/getting-started-section.spec.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/constants.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/getting-started-section.tsx
  frontend/public/components/dashboard/dashboards-page/dashboards.tsx
Labels: approved, lgtm, component/shared, component/dev-console, component/dashboard, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#13496 OCPBUGS-18699: add additional check to determine if file is binary
  frontend/package.json
  frontend/public/components/utils/file-input.tsx
  frontend/yarn.lock
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#13491 OCPBUGS-14481: update check for the 'provider' label on the PackageMa…
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
Labels: approved, lgtm, component/olm, jira/valid-bug, jira/valid-reference

#13500 OCPBUGS-25890: Prevent complete page reload when changing perspective
  frontend/packages/console-app/src/components/nav/NavHeader.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#13497 OCPBUGS-10851: Add source maps to production builds
  frontend/webpack.config.ts
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference

#13495 OCPBUGS-26039: Make editor sidebar width consistent
  frontend/packages/console-shared/src/components/formik-fields/CodeEditorField.scss
  frontend/public/style/_layout.scss
Labels: approved, lgtm, component/shared, component/core, jira/valid-bug, jira/severity-low, jira/valid-reference

#13503 OCPBUGS-26772: fix bug where Clone PVC modal assumes pvc.spec.resourc…
  frontend/packages/console-app/src/components/modals/clone/clone-pvc-modal.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-important, jira/valid-reference

#13276 AUTH-440: expand options for the OIDC authenticator
  cmd/bridge/config/auth/authoptions.go
  pkg/auth/asynccache.go
  pkg/auth/auth.go
  pkg/auth/auth_oidc.go
  pkg/auth/auth_openshift.go
  pkg/auth/metrics.go
  pkg/auth/session.go
  pkg/metrics/handler.go
  pkg/server/server.go
  pkg/serverconfig/types.go
Labels: approved, lgtm, component/core, component/backend, docs-approved, qe-approved, px-approved, jira/valid-reference

#13505 OCPBUGS-26933: Copy response code from proxied plugin requests
  pkg/plugins/handlers.go
Labels: approved, lgtm, tide/merge-method-squash, component/backend, jira/valid-bug, jira/severity-important, jira/valid-reference

#13493 CONSOLE-3899: Add Node CSR handling
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/package.json
  frontend/packages/console-app/src/components/nodes/NodeDetailsOverview.tsx
  frontend/packages/console-app/src/components/nodes/NodeStatus.tsx
  frontend/packages/console-app/src/components/nodes/NodesPage.tsx
  frontend/packages/console-app/src/components/nodes/csr.ts
  frontend/packages/console-app/src/components/nodes/menu-actions.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/NodeHealth.tsx
  frontend/packages/console-app/src/components/nodes/popovers/MarkAsSchedulablePopover.tsx
  frontend/packages/console-app/src/components/nodes/status/CSRStatus.tsx
  frontend/packages/console-app/src/components/nodes/status/SchedulableStatus.tsx
  frontend/packages/console-app/src/components/nodes/status/index.ts
  frontend/packages/console-app/src/components/nodes/useNodeStatusExtensions.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/status/PopoverStatus.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/node.ts
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/selectors/node.ts
  frontend/packages/console-shared/src/sorts/nodes.ts
  frontend/packages/metal3-plugin/src/plugin.tsx
  frontend/public/components/factory/table.tsx
  frontend/public/module/k8s/types.ts
Labels: approved, lgtm, tide/merge-method-squash, component/shared, component/core, component/metal3, component/sdk, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#13522 OCPBUGS-27399: Filter out Client CSRs for nodes which already exist
  frontend/packages/console-app/src/components/nodes/NodesPage.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13510 OCPBUGS-16736: Addition of optional chaining to prevent yaml crash
  frontend/packages/console-shared/src/components/editor/CodeEditor.tsx
  frontend/packages/console-shared/src/components/editor/yaml-editor-utils.ts
Labels: approved, lgtm, component/shared, jira/valid-bug, jira/valid-reference

#13533 OCPBUGS-27498: Update get method so it can display zero value when set
  frontend/public/components/machine-autoscaler.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#13512 ODC-7482: Add flags checks to hide Pipeline static plugin List and details pages
  frontend/packages/pipelines-plugin/console-extensions.json
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/pipelines, jira/valid-reference

#13515 CONSOLE-3430: add Cluster Settings > Details integration tests
  frontend/__tests__/components/cluster-settings.spec.tsx
  frontend/packages/console-shared/src/components/dropdown/dropdown-with-switch/DropdownWithSwitchGroups.tsx
  frontend/packages/console-shared/src/components/dropdown/dropdown-with-switch/DropdownWithSwitchMenu.tsx
  frontend/packages/console-shared/src/components/dropdown/dropdown-with-switch/DropdownWithSwitchToggle.tsx
  frontend/packages/integration-tests-cypress/mocks/cluster-version.ts
  frontend/packages/integration-tests-cypress/tests/cluster-settings/channel-modal.cy.ts
  frontend/packages/integration-tests-cypress/tests/cluster-settings/cluster-settings.cy.ts
  frontend/packages/integration-tests-cypress/tests/cluster-settings/managed-control-plane.cy.ts
  frontend/packages/integration-tests-cypress/tests/cluster-settings/update-in-progress.cy.ts
  frontend/packages/integration-tests-cypress/tests/cluster-settings/update-modal.cy.ts
  frontend/packages/integration-tests-cypress/tests/cluster-settings/update-status.cy.ts
  frontend/packages/integration-tests-cypress/tests/cluster-settings/updates-graph.cy.ts
  frontend/packages/integration-tests-cypress/tests/cluster-settings/upgradeable-false.cy.ts
  frontend/packages/integration-tests-cypress/tests/cluster-settings/upstream-modal.cy.ts
  frontend/packages/integration-tests-cypress/tests/cluster-settings/worker-mcp-paused.cy.ts
  frontend/packages/integration-tests-cypress/views/cluster-settings.ts
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/machine-config-pools-selector.tsx
  frontend/public/components/modals/cluster-channel-modal.tsx
  frontend/public/components/modals/cluster-more-updates-modal.tsx
  frontend/public/components/modals/cluster-update-modal.tsx
  frontend/public/components/utils/details-page.tsx
Labels: approved, lgtm, component/shared, component/core, docs-approved, qe-approved, px-approved, kind/cypress, jira/valid-reference

#13532 OCPBUGS-27779: fix bug where Expand PVC modal assumes pvc.spec.resou…
  frontend/public/components/modals/expand-pvc-modal.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-important, jira/valid-reference

#13506 OCPBUGS-25788: Add Node Maintenance menu actions to Node list/details
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/package.json
  frontend/packages/console-app/src/components/nodes/NodeDetailsPage.tsx
  frontend/packages/console-app/src/components/nodes/NodesPage.tsx
  frontend/packages/console-app/src/components/nodes/menu-actions.tsx
  frontend/packages/metal3-plugin/console-extensions.json
  frontend/packages/metal3-plugin/locales/en/metal3-plugin.json
  frontend/packages/metal3-plugin/package.json
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostDetailsPage.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostsPage.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostsTable.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/BareMetalNodeDetails.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/BareMetalNodeDetailsOverview.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/BareMetalNodeDetailsPage.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/BareMetalNodeStatus.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/BareMetalNodesPage.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/BareMetalNodesTable.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/CSRStatus.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/dashboard/BareMetalNodeDashboard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/dashboard/BareMetalNodeDashboardContext.ts
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/dashboard/DetailsCard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/dashboard/InventoryCard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/dashboard/StatusCard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/menu-actions.ts
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/table-filters.ts
  frontend/packages/metal3-plugin/src/components/maintenance/actions.tsx
  frontend/packages/metal3-plugin/src/components/modals/PowerOffHostModal.tsx
  frontend/packages/metal3-plugin/src/components/modals/StartNodeMaintenanceModal.tsx
  frontend/packages/metal3-plugin/src/features.ts
  frontend/packages/metal3-plugin/src/hooks/useMaintenanceCapability.ts
Labels: approved, lgtm, component/shared, component/core, component/metal3, component/sdk, kind/i18n, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#13524 OCPBUGS-27152: Fix popover jump in Tables
  frontend/public/components/factory/Table/VirtualizedTableBody.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-important, jira/valid-reference

#13502 OCPBUGS-27016: fix resizeObserver limit exceed for dev-console
  frontend/packages/dev-console/integration-tests/support/commands/hooks.ts
Labels: approved, lgtm, component/dev-console, jira/valid-bug, jira/severity-important, jira/valid-reference

#13529 OCPBUGS-27455: do not deduplicate ImageManifestVulns in Overview popover
  frontend/packages/container-security/src/components/summary.tsx
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#13418 OCPBUGS-25881: remove "openshift-storage" namespace usage from the console
  frontend/packages/console-shared/src/utils/storage-utils.ts
  frontend/public/components/storage/create-pvc.tsx
  frontend/public/components/storage/shared.ts
Labels: approved, lgtm, component/shared, component/core, jira/valid-bug, jira/severity-important, jira/valid-reference

#13483 OCPBUGS-25843: Fixed bug with user feedback where inform the direction of RedHat was not showing up
  frontend/public/components/feedback-local.jsx
  frontend/public/components/masthead-toolbar.jsx
Labels: approved, lgtm, ok-to-test, component/core, jira/valid-bug, jira/severity-important, jira/valid-reference

#13513 AUTH-440: OIDC: refresh sessions with a refresh token if present
  cmd/bridge/config/auth/authoptions.go
  cmd/bridge/config/session/sessionoptions.go
  cmd/bridge/main.go
  go.mod
  go.sum
  pkg/auth/auth.go
  pkg/auth/auth_oidc.go
  pkg/auth/auth_openshift.go
  pkg/auth/auth_test.go
  pkg/auth/loginstate.go
  pkg/auth/loginstate_test.go
  pkg/auth/metrics.go
  pkg/auth/metrics_test.go
  pkg/auth/session.go
  pkg/auth/sessions/combined_sessions.go
  pkg/auth/sessions/loginstate.go
  pkg/auth/sessions/loginstate_test.go
  pkg/auth/sessions/server_session.go
  pkg/auth/sessions/server_session_test.go
  pkg/auth/util.go
  pkg/server/middleware.go
  pkg/server/server.go
  pkg/serverconfig/config.go
  pkg/serverconfig/types.go
  vendor/github.com/gorilla/securecookie/.editorconfig
  vendor/github.com/gorilla/securecookie/.gitignore
  vendor/github.com/gorilla/securecookie/LICENSE
  vendor/github.com/gorilla/securecookie/Makefile
  vendor/github.com/gorilla/securecookie/README.md
  vendor/github.com/gorilla/securecookie/doc.go
  vendor/github.com/gorilla/securecookie/securecookie.go
  vendor/github.com/gorilla/sessions/.editorconfig
  vendor/github.com/gorilla/sessions/.gitignore
  vendor/github.com/gorilla/sessions/LICENSE
  vendor/github.com/gorilla/sessions/Makefile
  vendor/github.com/gorilla/sessions/README.md
  vendor/github.com/gorilla/sessions/cookie.go
  vendor/github.com/gorilla/sessions/cookie_go111.go
  vendor/github.com/gorilla/sessions/doc.go
  vendor/github.com/gorilla/sessions/lex.go
  vendor/github.com/gorilla/sessions/options.go
  vendor/github.com/gorilla/sessions/options_go111.go
  vendor/github.com/gorilla/sessions/sessions.go
  vendor/github.com/gorilla/sessions/store.go
  vendor/modules.txt
Labels: approved, lgtm, component/backend, docs-approved, qe-approved, px-approved, jira/valid-reference, acknowledge-critical-fixes-only

#13471 OCPBUGS-25936: fix copy-execute-demo.yaml inline syntax
  frontend/packages/dev-console/integration-tests/testData/quick-start/copy-execute-demo.yaml
Labels: approved, lgtm, component/dev-console, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#13525 [release-4.13] OCPBUGS-27406: Add Pipeline metrics tab using plugin
  frontend/packages/pipelines-plugin/console-extensions.json
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelineDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/__tests__/pipelineDetailsPage.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/index.ts
Labels: approved, lgtm, cherry-pick-approved, kind/i18n, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#13485 OCPBUGS-26236: VolumeSnapshots data not displayed in PVC > VolumeSnapshots tab
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-important, jira/valid-reference, acknowledge-critical-fixes-only

#13546 OCPBUGS-28216: Adjust width and spacing so that warning icons are not clipped.
  frontend/packages/console-shared/src/components/dashboard/activity-card/EventItem.tsx
  frontend/packages/console-shared/src/components/dashboard/activity-card/activity-card.scss
Labels: approved, lgtm, component/shared, component/dashboard, jira/valid-bug, jira/valid-reference
