Repository openshift/console, pull requests merged in 2024-12, with the labels that each got.

#14546 [release-4.17] OCPBUGS-43441: fix table combination
  frontend/public/components/monitoring/dashboards/table.tsx
Labels: approved, lgtm, cherry-pick-approved, component/monitoring, component/core, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#14565 OCPBUGS-36212: Missing translation for ""Read write once pod (RWOP)" ja and zh
  frontend/i18n-scripts/languages.sh
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, component/core, kind/i18n, jira/valid-bug, jira/severity-low, jira/valid-reference

#14470 OCPBUGS-44254: Bump pkijs from 2.1.89 to 2.1.90
  frontend/packages/metal3-plugin/package.json
  frontend/yarn.lock
Labels: approved, lgtm, component/metal3, jira/valid-bug, jira/valid-reference

#14582 OCPBUGS-45242: fix runtime error when backend service details don't e…
  frontend/packages/console-app/src/components/console-operator/ConsolePluginBackendDetail.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#14583 OCPBUGS-45198: fix bug where ConsolePlugins list does not display if …
  frontend/packages/console-app/src/components/console-operator/ConsoleOperatorConfig.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#14313 OCPBUGS-38543: OCP web console show pod status as Init:0/1 after using Native sidecars
  frontend/public/module/k8s/pods.ts
  frontend/public/module/k8s/types.ts
Labels: approved, lgtm, component/core, hacktoberfest-accepted, jira/valid-bug, jira/valid-reference

#14453 OCPBUGS-44059: Run `check-resolution` in parallel
  frontend/scripts/check-patternfly-modules.sh
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#14378 CONSOLE-3905: (deps) upgrade to webpack 5
  frontend/get-active-plugins.js
  frontend/package.json
  frontend/packages/console-dynamic-plugin-sdk/package.json
  frontend/packages/console-dynamic-plugin-sdk/scripts/package-definitions.ts
  frontend/packages/console-plugin-sdk/src/codegen/active-plugins.ts
  frontend/packages/console-plugin-sdk/src/webpack/ConsoleActivePluginsModule.ts
  frontend/packages/console-shared/src/test-utils/formik-props-utils.ts
  frontend/packages/dev-console/integration-tests/plugins/index.js
  frontend/packages/dev-console/src/components/project-access/__tests__/ProjectAccessForm.spec.tsx
  frontend/packages/integration-tests-cypress/plugins/index.js
  frontend/packages/topology/integration-tests/plugins/index.js
  frontend/public/components/configmap-and-secret-data.tsx
  frontend/public/components/droppable-edit-yaml.tsx
  frontend/public/components/secrets/create-secret/GenericSecretForm.tsx
  frontend/public/components/utils/drag-drop-context.tsx
  frontend/public/components/utils/file-input.tsx
  frontend/public/plugins.ts
  frontend/webpack.circular-deps.ts
  frontend/webpack.config.ts
  frontend/yarn.lock
Labels: approved, lgtm, component/shared, component/dev-console, component/knative, component/core, component/sdk, component/olm, docs-approved, qe-approved, px-approved, component/helm, component/topology, component/gitops, component/pipelines, kind/cypress, jira/valid-reference

#14590 OCPBUGS-45606: 'Channel' and 'Version' dropdowns do not collapse if the user does not select an option.
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-channel-version-select.tsx
Labels: approved, lgtm, component/olm, jira/valid-bug, jira/severity-low, jira/valid-reference

#14575 OCPBUGS-45319: Add customData field to the HorizontalNav component
  dynamic-demo-plugin/console-extensions.json
  dynamic-demo-plugin/locales/en/plugin__console-demo-plugin.json
  dynamic-demo-plugin/src/components/Nav.tsx
  dynamic-demo-plugin/src/i18n.ts
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/public/components/utils/horizontal-nav.tsx
Labels: approved, lgtm, component/core, component/sdk, jira/valid-bug, jira/valid-reference

#14599 OCPBUGS-45848: Throw warnings when `guessModuleFilePath` is needed to guess file extensions
  frontend/packages/console-app/package.json
  frontend/packages/console-plugin-sdk/src/codegen/active-plugins.ts
  frontend/packages/operator-lifecycle-manager/package.json
  frontend/packages/vsphere-plugin/package.json
Labels: approved, lgtm, component/core, component/sdk, component/olm, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#14596 CONSOLE-4380: Use AlertsRulesDetailPage from `monitoring-plugin`
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlertsRulesDetailsPage.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/monitoring-alerts-utils.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/useRuleAlertsPoller.tsx
  frontend/packages/dev-console/src/components/monitoring/index.ts
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/kebab-dropdown.tsx
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/components/monitoring/silence-form.tsx
  frontend/public/components/monitoring/utils.ts
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/dev-console, component/monitoring, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference, acknowledge-critical-fixes-only

#14597 OCPBUGS-45802: fix Number input focus layout issue
  frontend/public/style/ancillary/_patternfly4.scss
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-low, jira/valid-reference, acknowledge-critical-fixes-only

#14414 OCPBUGS-23924: Render TaskRun results even when failed
  frontend/packages/pipelines-plugin/src/components/shared/results/ResultsList.tsx
  frontend/packages/pipelines-plugin/src/components/shared/results/__tests__/ResultsList.spec.tsx
Labels: approved, lgtm, hacktoberfest-accepted, kind/i18n, component/pipelines, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#14503 CONSOLE-4357: Bump PatternFly to 5.4.2
  frontend/package.json
  frontend/yarn.lock
Labels: approved, lgtm, ok-to-test, tide/merge-method-squash, docs-approved, qe-approved, px-approved, jira/valid-reference, acknowledge-critical-fixes-only

#14543 OCPBUGS-45104: update release note link
  frontend/public/module/k8s/cluster-settings.ts
Labels: approved, lgtm, component/core, qe-approved, jira/valid-bug, jira/severity-low, jira/valid-reference

#14586 OCPBUGS-37058: i18n: Missing translations for "PodDisruptionBudget violated" string
  frontend/packages/console-app/locales/fr/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
Labels: approved, lgtm, component/core, kind/i18n, jira/valid-bug, jira/valid-reference

#14602 OCPBUGS-45787: Installing operator with a + in the version name doesn't work
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
Labels: approved, lgtm, component/olm, jira/valid-bug, jira/valid-reference

#14592 CONSOLE-4376: remove orphaned ClusterConfigurationDropdownField code
  frontend/packages/console-app/src/components/cluster-configuration/ClusterConfigurationDropdownField.tsx
  frontend/packages/console-app/src/components/cluster-configuration/ClusterConfigurationField.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/cluster-configuration.ts
Labels: approved, lgtm, component/core, component/sdk, docs-approved, qe-approved, px-approved, jira/valid-reference

#14593 CONSOLE-4377: update to use new DropdownItemProps from PatternFly 5
  frontend/packages/console-shared/src/components/actions/menu/ActionMenuItem.tsx
Labels: approved, lgtm, component/shared, docs-approved, qe-approved, px-approved, jira/valid-reference

#14594 CONSOLE-4378: remove orphaned PopupKebabMenu code
  frontend/packages/console-shared/src/components/contextMenu/PopupKebabMenu.scss
  frontend/packages/console-shared/src/components/contextMenu/PopupKebabMenu.tsx
  frontend/packages/console-shared/src/components/contextMenu/index.ts
  frontend/packages/console-shared/src/components/index.ts
Labels: approved, lgtm, component/shared, docs-approved, qe-approved, px-approved, jira/valid-reference

#14600 OCPBUGS-28206: ERROR in search tool: Cannot read properties of undefined (reading 'state')
  frontend/packages/operator-lifecycle-manager/src/components/subscription.tsx
Labels: approved, lgtm, component/olm, jira/valid-bug, jira/severity-important, jira/valid-reference

#14603 CONSOLE-3031: Remove `font-awesome` and `openshift-logos-icon`
  frontend/package.json
  frontend/packages/console-dynamic-plugin-sdk/README.md
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/status/StatusIconAndText.tsx
  frontend/packages/console-shared/src/components/markdown-extensions/inline-clipboard-extension.ts
  frontend/packages/console-shared/src/components/markdown-extensions/inline-execute-extension.ts
  frontend/packages/console-shared/src/components/markdown-extensions/multiline-clipboard-extension.ts
  frontend/packages/console-shared/src/components/markdown-extensions/multiline-execute-extension.ts
  frontend/packages/console-shared/src/components/markdown-extensions/showdown-extension.scss
  frontend/packages/console-shared/src/utils/icon-utils.ts
  frontend/packages/dev-console/src/images/devfile.svg
  frontend/packages/dev-console/src/images/from-git.svg
  frontend/packages/dev-console/src/images/yaml.svg
  frontend/packages/patternfly/src/components/notification-drawer/notification-category.tsx
  frontend/packages/patternfly/src/components/notification-drawer/notification-drawer-heading.tsx
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineBuilder-page.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationTask.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/StatusIcon.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/InstallingNodeDecorator.tsx
  frontend/public/components/_build-pipeline.scss
  frontend/public/components/_toggle-play.scss
  frontend/public/components/build-pipeline.tsx
  frontend/public/components/cluster-settings/cluster-status.tsx
  frontend/public/components/machine-config-pool.tsx
  frontend/public/components/utils/toggle-play.jsx
  frontend/public/style.scss
  frontend/public/style/_common.scss
  frontend/public/style/_vars.scss
  frontend/public/style/mixin/_font-awesome.scss
  frontend/public/vendor.scss
  frontend/yarn.lock
Labels: approved, lgtm, tide/merge-method-squash, component/shared, component/dev-console, component/core, component/sdk, docs-approved, qe-approved, px-approved, component/pipelines, jira/valid-reference, acknowledge-critical-fixes-only

#14490 CONSOLE-4073,CONSOLE-4074: Refactor Pull Secret forms
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/SecretForm.tsx
  frontend/public/components/secret.jsx
  frontend/public/components/secrets/create-secret/CreateConfigSubform.tsx
  frontend/public/components/secrets/create-secret/CreateSecret.tsx
  frontend/public/components/secrets/create-secret/EditSecret.tsx
  frontend/public/components/secrets/create-secret/GenericSecretForm.tsx
  frontend/public/components/secrets/create-secret/KeyValueEntryForm.tsx
  frontend/public/components/secrets/create-secret/PullSecretCredentialEntry.tsx
  frontend/public/components/secrets/create-secret/PullSecretCredentialsForm.tsx
  frontend/public/components/secrets/create-secret/PullSecretForm.tsx
  frontend/public/components/secrets/create-secret/PullSecretUploadForm.tsx
  frontend/public/components/secrets/create-secret/SecretFormWrapper.tsx
  frontend/public/components/secrets/create-secret/SecretSubForm.tsx
  frontend/public/components/secrets/create-secret/SourceSecretForm.tsx
  frontend/public/components/secrets/create-secret/UploadConfigSubform.tsx
  frontend/public/components/secrets/create-secret/const.ts
  frontend/public/components/secrets/create-secret/index.tsx
  frontend/public/components/secrets/create-secret/types.ts
  frontend/public/components/secrets/create-secret/utils.ts
  frontend/public/locales/en/public.json
Labels: approved, lgtm, tide/merge-method-squash, component/core, docs-approved, qe-approved, px-approved, kind/i18n, component/pipelines, jira/valid-reference

#14564 [release-4.15] OCPBUGS-45248: Remove ClusterTask dependency in console from Pipelines 1.17
  frontend/packages/pipelines-plugin/console-extensions.json
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineBuilder-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-from-builder-page.ts
  frontend/packages/pipelines-plugin/integration-tests/testData/customNodeDeployment.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/customPythonDeploymentConfig.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/installTasksInsteadOfClusterTask.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/petclinic-pipeline-all.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/pipelineWithParameterTypeArray.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/pipelines-workspaces/pipeline-task-tkn.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/pipelines-workspaces/pipeline-with-workspace.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/pipelines-workspaces/s2i-build-and-deploy-pipeline-using-workspace.yaml
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines-index.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationTask.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderVisualization.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/hooks.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/BuilderFinallyNode.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/PipelineTaskNode.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/TaskList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/TaskListNode.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/utils/pipeline-operator.ts
  frontend/packages/pipelines-plugin/src/components/tasks/list-page/TasksListsPage.tsx
  frontend/packages/pipelines-plugin/src/plugin.tsx
  frontend/packages/pipelines-plugin/src/types/pipeline.ts
Labels: approved, lgtm, cherry-pick-approved, qe-approved, kind/i18n, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#14311 OCPBUGS-41826, OCPBUGS-41676: upgrade axe-core and cypress-axe
  frontend/package.json
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/functions/common.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelines-page.ts
  frontend/public/components/app.jsx
  frontend/public/components/factory/Table/TableHeader.tsx
  frontend/public/components/factory/table.tsx
  frontend/public/locales/en/public.json
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: approved, lgtm, component/dev-console, component/core, kind/i18n, component/pipelines, jira/valid-bug, jira/valid-reference

#14614 CONSOLE-4380: Remove more already-migrated code
  frontend/public/components/monitoring/_promql-expression-input.scss
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/codicon.ttf
  frontend/public/components/monitoring/fetch-alerts.tsx
  frontend/public/components/monitoring/hooks/useIsVisible.ts
  frontend/public/components/monitoring/kebab-dropdown.tsx
  frontend/public/components/monitoring/labels.tsx
  frontend/public/components/monitoring/silence-form.tsx
  frontend/public/components/monitoring/targets.tsx
  frontend/public/components/monitoring/types.ts
  frontend/public/components/monitoring/utils.ts
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#14607 [release-4.17] OCPBUGS-45954: Fixed capitalization in OpenShift Lightspeed
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/lightspeed/Lightspeed.tsx
Labels: approved, lgtm, cherry-pick-approved, component/core, qe-approved, kind/i18n, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#14608 OCPBUGS-45987: Fix alert rule link to alert in dev perspective
  frontend/packages/dev-console/src/components/monitoring/alerts/useRuleAlertsPoller.tsx
Labels: approved, lgtm, cherry-pick-approved, component/dev-console, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#14409 OCPBUGS-43671: Disable GQL introspection
  pkg/server/server.go
Labels: approved, lgtm, component/backend, jira/valid-bug, jira/valid-reference

#14620 CONSOLE-4400: Upgrade TypeScript to v5
  dynamic-demo-plugin/tsconfig.json
  frontend/@types/console/index.d.ts
  frontend/package.json
  frontend/packages/console-app/src/components/pdb/PDBFormPage.tsx
  frontend/packages/console-app/src/components/pdb/pdb-models.ts
  frontend/packages/console-dynamic-plugin-sdk/docs/console-extensions.md
  frontend/packages/console-dynamic-plugin-sdk/package.json
  frontend/packages/console-dynamic-plugin-sdk/scripts/generate-schema.ts
  frontend/packages/console-dynamic-plugin-sdk/scripts/utils/type-resolver.ts
  frontend/packages/console-dynamic-plugin-sdk/scripts/utils/typescript.ts
  frontend/packages/console-dynamic-plugin-sdk/tsconfig-base.json
  frontend/packages/console-plugin-shared/tsconfig.json
  frontend/packages/dev-console/integration-tests/tsconfig.json
  frontend/packages/eslint-plugin-console/package.json
  frontend/packages/helm-plugin/src/actions/providers.ts
  frontend/packages/operator-lifecycle-manager/src/components/modals/edit-default-sources-modal.tsx
  frontend/packages/service-binding-plugin/src/components/service-binding-details/ServiceBindingSummary.tsx
  frontend/packages/topology/integration-tests/tsconfig.json
  frontend/public/components/utils/simple-tab-nav.tsx
  frontend/tsconfig-jest.json
  frontend/tsconfig.json
  frontend/webpack.circular-deps.ts
  frontend/yarn.lock
Labels: approved, lgtm, component/dev-console, component/core, component/sdk, component/olm, docs-approved, qe-approved, px-approved, component/helm, component/topology, jira/valid-reference

#14617 OCPBUGS-46461: Test helm CI failures
  frontend/packages/dev-console/integration-tests/support/pages/functions/createHelmChartFromAddPage.ts
  frontend/packages/helm-plugin/integration-tests/cypress.config.js
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-page-tabs.feature
  frontend/packages/helm-plugin/integration-tests/support/commands/app.ts
  frontend/packages/helm-plugin/integration-tests/support/commands/hooks.ts
  frontend/packages/helm-plugin/integration-tests/support/commands/index.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/integration-tests-cypress/support/admin.ts
Labels: approved, lgtm, component/dev-console, component/helm, kind/cypress, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#14630 OCPBUGS-46385: fix alignment of Font Awesome icons
  frontend/public/style/_common.scss
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference, acknowledge-critical-fixes-only

#14629 OCPBUGS-46452: i18n upload/download routine task - sprint 263
  frontend/packages/console-app/locales/es/console-app.json
  frontend/packages/console-app/locales/fr/console-app.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-shared/locales/es/console-shared.json
  frontend/packages/console-shared/locales/ja/console-shared.json
  frontend/packages/console-shared/locales/ko/console-shared.json
  frontend/packages/console-shared/locales/zh/console-shared.json
  frontend/packages/dev-console/locales/es/devconsole.json
  frontend/packages/dev-console/locales/fr/devconsole.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/insights-plugin/locales/ko/insights-plugin.json
  frontend/packages/knative-plugin/locales/es/knative-plugin.json
  frontend/packages/knative-plugin/locales/fr/knative-plugin.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/es/olm.json
  frontend/packages/operator-lifecycle-manager/locales/fr/olm.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/operator-lifecycle-manager/locales/ko/olm.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/patternfly/locales/ko/notification-drawer.json
  frontend/packages/pipelines-plugin/locales/es/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/fr/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ko/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/packages/shipwright-plugin/locales/es/shipwright-plugin.json
  frontend/packages/shipwright-plugin/locales/fr/shipwright-plugin.json
  frontend/packages/shipwright-plugin/locales/ja/shipwright-plugin.json
  frontend/packages/shipwright-plugin/locales/ko/shipwright-plugin.json
  frontend/packages/shipwright-plugin/locales/zh/shipwright-plugin.json
  frontend/public/locales/es/public.json
  frontend/public/locales/fr/public.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, component/shared, component/dev-console, component/knative, component/core, component/olm, component/insights, kind/i18n, component/pipelines, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#14646 OCPBUGS-47541: Incorrect capitalization for `Lightspeed` to capitalized `LightSpeed` in ja and zh langs
  frontend/packages/console-shared/locales/ja/console-shared.json
  frontend/packages/console-shared/locales/zh/console-shared.json
Labels: approved, lgtm, component/shared, kind/i18n, backport-risk-assessed, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#14554 OCPBUGS-45213: Fix BuildSpec details section heading font size
  frontend/packages/shipwright-plugin/src/components/buildrun-details/BuildRunDetailsTab.tsx
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only
