Repository openshift/console, pull requests merged in 2024-11, with the labels that each got.

#14447 OCPBUGS-43998: add allRowsSelected and canSelectAll in the virtualizedtable
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/public/components/factory/Table/VirtualizedTable.tsx
Labels: approved, lgtm, component/core, component/sdk, jira/valid-bug, jira/valid-reference

#14349 OCPBUGS-42298: Remove ClusterTask dependency in console from Pipelines 1.17
  frontend/packages/pipelines-plugin/console-extensions.json
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineBuilder-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-from-builder-page.ts
  frontend/packages/pipelines-plugin/integration-tests/testData/customNodeDeployment.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/customPythonDeploymentConfig.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/installTasksInsteadOfClusterTask.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/petclinic-pipeline-all.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/pipelineWithParameterTypeArray.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/pipelines-workspaces/pipeline-task-tkn.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/pipelines-workspaces/pipeline-with-workspace.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/pipelines-workspaces/s2i-build-and-deploy-pipeline-using-workspace.yaml
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines-index.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationTask.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/hooks.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/PipelineTaskNode.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/utils/pipeline-operator.ts
  frontend/packages/pipelines-plugin/src/components/tasks/list-page/TasksListsPage.tsx
  frontend/packages/pipelines-plugin/src/plugin.tsx
  frontend/packages/pipelines-plugin/src/types/pipeline.ts
Labels: approved, lgtm, component/dev-console, kind/i18n, component/pipelines, kind/cypress, jira/valid-bug, jira/valid-reference

#14463 NO-JIRA: Update dynamic plugin sdk core package changelog for 1.8.0
  frontend/packages/console-dynamic-plugin-sdk/CHANGELOG-core.md
  frontend/packages/console-dynamic-plugin-sdk/CHANGELOG-webpack.md
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved, jira/valid-reference

#14458 OCPBUGS-43266: remove Architecture from workloads Metrics tab
  frontend/packages/console-shared/src/promql/resource-metrics.ts
  frontend/public/components/utils/resource-metrics.tsx
Labels: approved, lgtm, component/shared, component/core, jira/valid-bug, jira/valid-reference

#14457 [release-4.17] OCPBUGS-43878: Add flag to hide the pipelines-plugin pipeline builder extensions
  frontend/packages/pipelines-plugin/console-extensions.json
Labels: approved, lgtm, cherry-pick-approved, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#14164 NO-JIRA: fix url in README file
  frontend/packages/dev-console/README.md
  frontend/packages/helm-plugin/integration-tests/README.md
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, component/helm, jira/valid-reference

#13983 OCPBUGS-16141: Fix ArtifactHub integration e2e test
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-builder-page.feature
  frontend/packages/pipelines-plugin/src/components/quicksearch/PipelineQuickSearchDetails.tsx
Labels: approved, lgtm, tide/merge-method-squash, component/dev-console, component/pipelines, jira/valid-bug, jira/valid-reference

#14438 OCPBUGS-43834: Enabling topology e2e tests on CI
  frontend/packages/topology/integration-tests/features/e2e/topology-ci.feature
  frontend/packages/topology/integration-tests/features/topology/horizontal-pod-autoscaler/actions-on-hpa.feature
  frontend/packages/topology/integration-tests/features/topology/resource-quota-warning.feature
  frontend/packages/topology/integration-tests/features/topology/topology-connecting-workloads.feature
  frontend/packages/topology/integration-tests/features/topology/topology-workload-sidebar.feature
  frontend/packages/topology/integration-tests/features/topology/topoplogy-delete-workload.feature
  frontend/packages/topology/integration-tests/support/commands/hooks.ts
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-page.ts
  frontend/packages/topology/integration-tests/support/step-definitions/common/topology.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/chart-view.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/pipelines-on-topology.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/workload-sidebar.ts
Labels: approved, lgtm, cherry-pick-approved, component/topology, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#14459 ODC-7684: Increase e2e CI tests for shipwright package
  frontend/packages/shipwright-plugin/integration-tests/features/e2e/shipwright-ci.feature
  frontend/packages/shipwright-plugin/integration-tests/support/step-definitions/builds/shipwright-build-detail-page.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, jira/valid-reference

#14428 CONSOLE-4227: refactor deprecated multiselectdropdown
  frontend/package.json
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/utils/multiselectdropdown.tsx
  frontend/yarn.lock
Labels: approved, lgtm, ok-to-test, component/shared, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#14449 OCPBUGS-43925: BuildConfig form breaks on manually enter the Git URL
  frontend/packages/dev-console/src/components/import/git/GitTypeSelector.tsx
Labels: approved, lgtm, component/dev-console, jira/valid-bug, jira/valid-reference

#14474 "OCPBUGS-44352: Fixed capitalization in OpenShift Lightspeed"
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/locales/es/console-app.json
  frontend/packages/console-app/locales/fr/console-app.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-app/src/components/lightspeed/Lightspeed.tsx
  frontend/packages/console-shared/locales/ja/console-shared.json
  frontend/packages/console-shared/locales/zh/console-shared.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, component/shared, component/core, kind/i18n, jira/valid-bug, jira/valid-reference

#14418 CONSOLE-4234,CONSOLE-4297: Remove deprecated PF Table from frontend/p…
  frontend/public/components/custom-resource-definition.tsx
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, hacktoberfest-accepted, jira/valid-reference

#14391 CONSOLE-4125,CONSOLE-4294: Replace SelectDeprecated component in user preferences PerspectiveDropdown
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/src/components/user-preferences/perspective/PerspectiveDropdown.tsx
  frontend/packages/console-app/src/components/user-preferences/perspective/PreferredPerspectiveSelect.tsx
  frontend/packages/console-app/src/components/user-preferences/perspective/__tests__/PreferredPerspectiveSelect.spec.tsx
  frontend/packages/console-app/src/components/user-preferences/perspective/index.ts
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, hacktoberfest-accepted, jira/valid-reference

#14347 OCPBUGS-41175: Operator Hub does not show correct description when installing new operator
  frontend/packages/console-plugin-shared/src/components/Markdown/MarkdownView.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-item-details.tsx
Labels: approved, lgtm, ok-to-test, component/olm, hacktoberfest-accepted, jira/valid-bug, jira/valid-reference

#14398 OCPBUGS-21755: Make sure correct PackageManifest is used on operator …
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/cluster-service-version-logo.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-install-page.tsx
Labels: approved, lgtm, tide/merge-method-squash, component/olm, hacktoberfest-accepted, kind/i18n, jira/valid-bug, jira/valid-reference

#14455 OCPBUGS-42674: Don't request user settings configmap if no user has been loaded.
  frontend/packages/console-shared/src/hooks/__tests__/useUserSettings.spec.ts
  frontend/packages/console-shared/src/hooks/useUserSettings.ts
Labels: approved, lgtm, component/shared, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#14446 OCPBUGS-43780: GCP environment parament cannot shown on Operator subscription page
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
Labels: approved, lgtm, component/olm, qe-approved, jira/severity-critical, jira/valid-bug, jira/valid-reference

#14468 OCPBUGS-44049: conditionally display MachineConfig details page Confi…
  frontend/public/components/machine-config.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-important, jira/valid-reference

#14261 OCPBUGS-38860: Collapse/Expand Feature Added, Removal Option Removed in Version 4.16
  frontend/packages/console-shared/src/components/getting-started/GettingStartedExpandableGrid.scss
  frontend/packages/console-shared/src/components/getting-started/GettingStartedExpandableGrid.tsx
  frontend/packages/dev-console/src/components/add/GettingStartedSection.tsx
  frontend/packages/dev-console/src/components/add/__tests__/GettingStartedSection.spec.tsx
  frontend/packages/dev-console/src/components/add/constants.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/__tests__/getting-started-section.spec.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/constants.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/getting-started-section.tsx
Labels: approved, lgtm, component/shared, component/dev-console, component/dashboard, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#14461 OCPBUGS-44014: Cancelling the file browser dialog causes TypeError crash
  frontend/public/components/utils/file-input.tsx
Labels: approved, lgtm, component/core, docs-approved, qe-approved, jira/valid-bug, jira/valid-reference

#14464 OCPBUGS-31367: include external labels so silenced alerts not displayed in notifications
  frontend/public/components/monitoring/utils.ts
Labels: approved, lgtm, component/monitoring, component/core, docs-approved, px-approved, jira/valid-bug, jira/valid-reference

#14400 CONSOLE-4266: Fix CSP inline script tag error in Console HTML template
  frontend/public/index.html
  pkg/auth/oauth2/auth_oidc_test.go
  pkg/auth/sessions/combined_sessions_test.go
  pkg/auth/sessions/server_session.go
  pkg/server/server.go
  pkg/utils/utils.go
Labels: approved, lgtm, component/core, component/backend, docs-approved, qe-approved, px-approved, jira/valid-reference

#14407 OCPBUGS-43360: Start last run do not work in buildConfig details page
  frontend/public/components/build-config.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#14441 CONSOLE-4291: Consolidate shared Type definitions for CreateSecret in "createsecret/type.ts" file
  frontend/public/components/secrets/create-secret/BasicAuthSubform.tsx
  frontend/public/components/secrets/create-secret/GenericSecretForm.tsx
  frontend/public/components/secrets/create-secret/KeyValueEntryForm.tsx
  frontend/public/components/secrets/create-secret/SecretSubForm.tsx
  frontend/public/components/secrets/create-secret/SourceSecretForm.tsx
  frontend/public/components/secrets/create-secret/WebHookSecretForm.tsx
  frontend/public/components/secrets/create-secret/index.tsx
  frontend/public/components/secrets/create-secret/types.ts
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference

#14479 OCPBUGS-44369: Event modal persists after Add option is selected if knative service is not present
  frontend/packages/knative-plugin/src/components/pub-sub/PubSubModal.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/form-fields/PubSubSubscriber.tsx
Labels: approved, lgtm, component/knative, jira/valid-bug, jira/valid-reference

#14492 OCPBUGS-44566: Address circular references in `packages/knative-plugin`
  frontend/packages/knative-plugin/src/topology/listView/KnativeRevisionListViewNode.tsx
  frontend/packages/knative-plugin/src/topology/listView/KnativeServiceListViewNode.tsx
  frontend/packages/knative-plugin/src/topology/listView/NoStatusListViewNode.tsx
  frontend/packages/knative-plugin/src/topology/listView/SinkUriListViewNode.tsx
Labels: approved, lgtm, component/knative, jira/valid-bug, jira/valid-reference

#14495 OCPBUGS-44574: Address circular references in `packages/console-shared`
  frontend/packages/console-shared/src/components/custom-resource-list/CustomResourceList.tsx
  frontend/packages/console-shared/src/components/modals/CreateNamespaceModal.tsx
  frontend/public/components/ThemeProvider.tsx
  frontend/public/components/factory/table.tsx
Labels: approved, lgtm, component/shared, component/core, jira/valid-bug, jira/valid-reference

#14496 OCPBUGS-44578: Rewrite `svg` and `png` to use ESM import style
  frontend/@types/console/index.d.ts
  frontend/__mocks__/fileMock.js
  frontend/packages/console-app/src/components/nav/NavHeader.tsx
  frontend/packages/console-shared/src/components/catalog/utils/catalog-utils.tsx
  frontend/packages/console-shared/src/components/empty-state/AccessDenied.tsx
  frontend/packages/console-shared/src/utils/sample-utils.ts
  frontend/packages/dev-console/src/utils/icons.tsx
  frontend/packages/gitops-plugin/src/components/details/ArgoCdLink.tsx
  frontend/packages/helm-plugin/src/catalog/utils/catalog-utils.tsx
  frontend/packages/helm-plugin/src/utils/icons.tsx
  frontend/packages/knative-plugin/src/actions/add-broker.tsx
  frontend/packages/knative-plugin/src/actions/add-channel.tsx
  frontend/packages/knative-plugin/src/topology/components/nodes/EventingPubSubNode.tsx
  frontend/packages/knative-plugin/src/utils/get-knative-icon.ts
  frontend/packages/knative-plugin/src/utils/icons.tsx
  frontend/packages/operator-lifecycle-manager/src/components/cluster-service-version-logo.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/utils/icons.ts
  frontend/packages/topology/src/components/graph-view/components/nodes/BindableNode.tsx
  frontend/public/components/catalog/catalog-item-icon.tsx
  frontend/public/components/instantiate-template.tsx
  frontend/public/components/masthead-toolbar.jsx
Labels: approved, lgtm, component/shared, component/dev-console, component/knative, component/core, component/olm, component/helm, component/topology, component/gitops, component/pipelines, jira/valid-bug, jira/valid-reference

#14487 CONSOLE-4269: add custom ConsolePlugin resource details page
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/package.json
  frontend/packages/console-app/src/components/console-operator/ConsoleOperatorConfig.tsx
  frontend/packages/console-app/src/components/console-operator/ConsolePluginBackendDetail.tsx
  frontend/packages/console-app/src/components/console-operator/ConsolePluginCSPStatusDetail.tsx
  frontend/packages/console-app/src/components/console-operator/ConsolePluginDescriptionDetail.tsx
  frontend/packages/console-app/src/components/console-operator/ConsolePluginEnabledStatusDetail.tsx
  frontend/packages/console-app/src/components/console-operator/ConsolePluginManifestPage.tsx
  frontend/packages/console-app/src/components/console-operator/ConsolePluginProxyDetail.tsx
  frontend/packages/console-app/src/components/console-operator/ConsolePluginStatusDetail.tsx
  frontend/packages/console-app/src/components/console-operator/ConsolePluginVersionDetail.tsx
  frontend/packages/console-app/src/plugin.tsx
  frontend/packages/console-dynamic-plugin-sdk/docs/console-extensions.md
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/details-item.ts
  frontend/packages/console-plugin-sdk/src/__tests__/store.spec.ts
  frontend/packages/console-plugin-sdk/src/api/pluginSubscriptionService.ts
  frontend/packages/console-plugin-sdk/src/api/usePluginStore.ts
  frontend/packages/console-plugin-sdk/src/index.ts
  frontend/packages/console-plugin-sdk/src/store.ts
  frontend/packages/console-shared/src/components/details-page/ExtensionDetailsItem.tsx
  frontend/packages/console-shared/src/components/modals/ConsolePluginModal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/public/components/app.jsx
  frontend/public/components/notification-drawer.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/shared, component/core, component/sdk, component/olm, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#14374 CONSOLE-4264: Notify users of Console plugin related Content Security Policy violations
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/console-operator/ConsoleOperatorConfig.tsx
  frontend/packages/console-plugin-sdk/src/__tests__/store.spec.ts
  frontend/packages/console-plugin-sdk/src/store.ts
  frontend/packages/console-shared/src/components/modals/ConsolePluginModal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/public/components/app.jsx
  frontend/public/locales/en/public.json
Labels: approved, component/shared, component/core, component/sdk, component/backend, component/olm, docs-approved, px-approved, kind/i18n, jira/valid-reference

#14494 OCPBUGS-44573: Address circular references in `webterminal-plugin` and `console-app`
  frontend/packages/console-app/src/components/user-preferences/synced-editor/usePreferredCreateEditMethod.ts
  frontend/packages/webterminal-plugin/src/components/cloud-shell/__tests__/useCloudShellAvailable.spec.ts
  frontend/packages/webterminal-plugin/src/components/cloud-shell/useCloudShellAvailable.ts
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#14484 OCPBUGS-44423: Word “Meet” in “Meet OpenShift Lightspeed” should be traslated when language is Chinese
  frontend/packages/console-app/locales/zh/console-app.json
Labels: approved, lgtm, component/core, kind/i18n, jira/valid-bug, jira/severity-low, jira/valid-reference

#14452 OCPBUGS-43983: update ConditionalUpdates release type
  frontend/public/module/k8s/cluster-settings.ts
  frontend/public/module/k8s/types.ts
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#14475 CONSOLE-4268: add CSP violations to cluster dashboard
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/dashboards-page/dynamic-plugins-health-resource/DynamicPluginsPopover.tsx
  frontend/packages/integration-tests-cypress/tests/app/demo-dynamic-plugin.cy.ts
Labels: approved, lgtm, component/shared, component/core, component/sdk, component/olm, docs-approved, qe-approved, px-approved, kind/i18n, kind/cypress, jira/valid-reference

#14493 OCPBUGS-44567: Address circular references in `packages/pipelines-plugin`
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/utils.ts
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference

#14480 CONSOLE-4330: Remove Developer perspective > Observe > Silences tab
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/monitoring/MonitoringPage.tsx
  frontend/packages/dev-console/src/components/monitoring/__tests__/MonitoringPage.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/SilenceAlert.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/SilenceDurationDropdown.scss
  frontend/packages/dev-console/src/components/monitoring/alerts/SilenceDurationDropdown.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/monitoring-silences.tsx
  frontend/packages/dev-console/src/components/monitoring/index.ts
Labels: approved, lgtm, component/dev-console, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#14500 OCPBUGS-44576: Address circular references in `@console/internal`
  frontend/__tests__/components/graphs/prometheus-graph.spec.tsx
  frontend/__tests__/reducers/features.spec.tsx
  frontend/packages/console-shared/src/components/modals/CreateProjectModal.tsx
  frontend/packages/metal3-plugin/src/features.ts
  frontend/public/actions/features.ts
  frontend/public/actions/flags.ts
  frontend/public/actions/ui.ts
  frontend/public/components/about-modal.tsx
  frontend/public/components/app.jsx
  frontend/public/components/build-logs.jsx
  frontend/public/components/build-pipeline.tsx
  frontend/public/components/cluster-settings/cluster-operator.tsx
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/cluster-settings/cluster-status.tsx
  frontend/public/components/graphs/consts.ts
  frontend/public/components/graphs/index.tsx
  frontend/public/components/graphs/status.jsx
  frontend/public/components/image-stream-timeline.tsx
  frontend/public/components/image-stream.tsx
  frontend/public/components/machine-config-pool.tsx
  frontend/public/components/masthead.jsx
  frontend/public/components/modals/error-modal.tsx
  frontend/public/components/monitoring/receiver-forms/alert-manager-receiver-forms.tsx
  frontend/public/components/monitoring/receiver-forms/email-receiver-form.tsx
  frontend/public/components/monitoring/receiver-forms/pagerduty-receiver-form.tsx
  frontend/public/components/monitoring/receiver-forms/receiver-form-props.ts
  frontend/public/components/monitoring/receiver-forms/save-as-default-checkbox.tsx
  frontend/public/components/monitoring/receiver-forms/send-resolved-alerts-checkbox.tsx
  frontend/public/components/monitoring/receiver-forms/slack-receiver-form.tsx
  frontend/public/components/monitoring/receiver-forms/webhook-receiver-form.tsx
  frontend/public/components/namespace-bar.tsx
  frontend/public/components/secret.jsx
  frontend/public/components/secrets/create-secret/CreateConfigSubform.tsx
  frontend/public/components/secrets/create-secret/CreateSecret.tsx
  frontend/public/components/secrets/create-secret/EditSecret.tsx
  frontend/public/components/secrets/create-secret/GenericSecretForm.tsx
  frontend/public/components/secrets/create-secret/KeyValueEntryForm.tsx
  frontend/public/components/secrets/create-secret/PullSecretForm.tsx
  frontend/public/components/secrets/create-secret/SSHAuthSubform.tsx
  frontend/public/components/secrets/create-secret/SecretFormWrapper.tsx
  frontend/public/components/secrets/create-secret/SecretSubForm.tsx
  frontend/public/components/secrets/create-secret/SourceSecretForm.tsx
  frontend/public/components/secrets/create-secret/UploadConfigSubform.tsx
  frontend/public/components/secrets/create-secret/WebHookSecretForm.tsx
  frontend/public/components/secrets/create-secret/utils.ts
  frontend/public/components/utils/__tests__/kebab.spec.tsx
  frontend/public/components/utils/branding.ts
  frontend/public/components/utils/kebab.tsx
  frontend/public/components/utils/telemetry.ts
  frontend/public/locales/en/public.json
  frontend/public/module/auth.js
  frontend/public/module/k8s/k8s-models.ts
  frontend/public/module/k8s/k8s.ts
  frontend/public/module/k8s/swagger.ts
  frontend/public/reducers/features.ts
Labels: approved, lgtm, component/shared, component/monitoring, component/core, component/metal3, kind/i18n, jira/valid-bug, jira/valid-reference

#14076 OCPBUGS-44657: Add IBM Block Storage CSI driver support for RWX
  frontend/public/components/storage/shared.ts
Labels: approved, lgtm, ok-to-test, component/core, qe-approved, jira/valid-bug, jira/valid-reference

#13468 CNV-35417, OCPBUGS-28702: Remove empty annotation from nad
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionsForm.tsx
Labels: approved, lgtm, lifecycle/stale, component/network-attachment-definition, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#14510 OCPBUGS-39361: Add help text for output image field in Create Shipwright build form
  frontend/packages/shipwright-plugin/locales/en/shipwright-plugin.json
  frontend/packages/shipwright-plugin/src/components/build-form/ImageSection.tsx
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#14506 OCPBUGS-44658: Move Events option above Event Source option on the add page
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/catalog/useEventTypeProvider.tsx
Labels: approved, lgtm, component/knative, kind/i18n, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#14472 OCPBUGS-44305: Unable to remove finally tasks in pipeline builder mode
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/utils.ts
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#14486 CONSOLE-4272: report csp violations to telemtry
  README.md
  frontend/packages/console-app/src/__tests__/hooks/useCSPViolationDetector.spec.tsx
  frontend/packages/console-app/src/hooks/useCSPVioliationDetector.tsx
  frontend/public/components/app.jsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference, acknowledge-critical-fixes-only

#14405 [release-4.16] OCPBUGS-43447: Ensure envs are initted upon first load
  frontend/packages/console-shared/src/components/formik-fields/EnvironmentField.tsx
  frontend/packages/dev-console/integration-tests/features/e2e/knative-service-workload.feature
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/addFlow.ts
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/advanced/BuildConfigSection.tsx
  frontend/packages/dev-console/src/components/import/advanced/DeploymentConfigSection.tsx
  frontend/packages/dev-console/src/components/import/advanced/__tests__/DeploymentConfigSection.spec.tsx
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/import/serverless-function/ServerlessFunctionSection.tsx
Labels: approved, lgtm, cherry-pick-approved, component/shared, component/dev-console, qe-approved, hacktoberfest-accepted, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#14512 [release-4.17]OCPBUGS-44183: Remove ClusterTask dependency in console from Pipelines 1.17
  frontend/packages/pipelines-plugin/console-extensions.json
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineBuilder-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-from-builder-page.ts
  frontend/packages/pipelines-plugin/integration-tests/testData/customNodeDeployment.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/customPythonDeploymentConfig.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/installTasksInsteadOfClusterTask.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/petclinic-pipeline-all.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/pipelineWithParameterTypeArray.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/pipelines-workspaces/pipeline-task-tkn.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/pipelines-workspaces/pipeline-with-workspace.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/pipelines-workspaces/s2i-build-and-deploy-pipeline-using-workspace.yaml
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines-index.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationTask.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderVisualization.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/hooks.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/BuilderFinallyNode.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/PipelineTaskNode.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/TaskList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/TaskListNode.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/utils/pipeline-operator.ts
  frontend/packages/pipelines-plugin/src/components/tasks/list-page/TasksListsPage.tsx
  frontend/packages/pipelines-plugin/src/plugin.tsx
  frontend/packages/pipelines-plugin/src/types/pipeline.ts
Labels: approved, lgtm, cherry-pick-approved, kind/i18n, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#14539 OCPBUGS-36561: Increase login flow state paramater length/entropy
  pkg/auth/auth.go
Labels: approved, lgtm, cherry-pick-approved, component/backend, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#14540 OCPBUGS-39359: Add optional build strategy params under ExpandCollapse
  frontend/packages/shipwright-plugin/locales/en/shipwright-plugin.json
  frontend/packages/shipwright-plugin/src/components/build-form/ParameterSection.tsx
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#14233 OCPBUGS-44920: Remove trailing dot from the i18n error msg
  frontend/public/i18n.js
Labels: approved, lgtm, tide/merge-method-squash, component/core, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#14514 OCPBUGS-39388: Filter out empty params before Shipwright build creation
  frontend/packages/shipwright-plugin/src/components/build-form/EditBuild.tsx
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#14538 [release-4.17] OCPBUGS-44169: use TaskRuns results.tekton.dev/record annotation to get the logs
  frontend/packages/pipelines-plugin/console-extensions.json
  frontend/packages/pipelines-plugin/src/components/pipelineruns/__tests__/PipelineRunDetailsPage.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/hooks/useTektonResults.ts
  frontend/packages/pipelines-plugin/src/components/pipelineruns/logs/TektonTaskRunLog.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/logs/logs-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelineruns/utils/tekton-results.ts
  frontend/packages/pipelines-plugin/src/components/taskruns/events/__tests__/TaskRunDetailsPage.spec.tsx
Labels: approved, lgtm, cherry-pick-approved, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#14413 ODC-7698: Replace `CopyPipelineRunButton` with PF5 design
  frontend/package.json
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/repository/form-fields/CopyPipelineRunButton.tsx
  frontend/packages/pipelines-plugin/src/components/repository/sections/RepositoryOverview.tsx
  frontend/yarn.lock
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, hacktoberfest-accepted, kind/i18n, component/pipelines, jira/valid-reference, acknowledge-critical-fixes-only

#14448 OCPBUGS-43830: Expand "Rollback Helm Release" status width
  frontend/packages/helm-plugin/src/components/forms/rollback/RevisionListHeader.tsx
Labels: approved, lgtm, component/sdk, component/helm, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#14471 OCPBUGS-44265: ReRun of Resolver based PipelineRuns fails from UI
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/utils.ts
  frontend/packages/pipelines-plugin/src/types/pipelineRun.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-actions.tsx
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#14502 OCPBUGS-44898: i18n upload/download routine task - sprint 262
  frontend/i18n-scripts/languages.sh
  frontend/packages/console-app/locales/fr/console-app.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-shared/locales/fr/console-shared.json
  frontend/packages/console-shared/locales/ja/console-shared.json
  frontend/packages/console-shared/locales/ko/console-shared.json
  frontend/packages/console-shared/locales/zh/console-shared.json
  frontend/packages/dev-console/locales/fr/devconsole.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/gitops-plugin/locales/ja/gitops-plugin.json
  frontend/packages/knative-plugin/locales/fr/knative-plugin.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/pipelines-plugin/locales/fr/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ko/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/packages/service-binding-plugin/locales/ja/service-binding-plugin.json
  frontend/packages/topology/locales/ja/topology.json
  frontend/public/locales/fr/public.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, component/shared, component/dev-console, component/knative, component/core, component/olm, docs-approved, qe-approved, px-approved, kind/i18n, component/topology, component/gitops, component/pipelines, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#14531 OCPBUGS-41974: ImagePullSecret getting duplicated when editing DeploymentConfig in Form View
  frontend/packages/dev-console/src/components/deployments/utils/deployment-utils.ts
Labels: approved, lgtm, component/dev-console, jira/valid-bug, jira/severity-low, jira/valid-reference

#14532 OCPBUGS-44595: only enable Save button in Console plugin enablement m…
  frontend/packages/console-shared/src/components/modals/ConsolePluginModal.tsx
Labels: approved, lgtm, component/shared, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#14130 OCPBUGS-13685: use default StorageClass for ServerlessFunction pipelineVolumeClaimTemplate
  frontend/packages/pipelines-plugin/src/components/import/pipeline/pipeline-template-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/utils.ts
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/severity-important, jira/valid-reference

#14134 OCPBUGS-32033: Fix Function Import: An error occurred Cannot read properties of undefined (reading 'filter')
  frontend/packages/dev-console/src/components/import/serverless-function/AddServerlessFunctionForm.tsx
  frontend/packages/dev-console/src/components/import/serverless-function/FuncSection.tsx
  frontend/packages/dev-console/src/components/import/serverless-function/ServerlessFunctionSection.tsx
Labels: approved, lgtm, component/dev-console, jira/valid-bug, jira/valid-reference

#14454 CONSOLE-4075: address tech debt in web hook secret form component
  frontend/public/components/secrets/create-secret/WebHookSecretForm.tsx
  frontend/public/components/secrets/create-secret/utils.ts
Labels: approved, lgtm, tide/merge-method-squash, component/shared, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#14521 OCPBUGS-44800: Add Dynamic Plugins nav item
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/package.json
  frontend/packages/console-app/src/consts.ts
  frontend/packages/console-app/src/hooks/useCanGetConsoleOperatorConfig.ts
Labels: approved, lgtm, component/core, kind/i18n, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#14436 CONSOLE-4234,CONSOLE-4298,CONSOLE-4299: Remove PF deprecated table from public/components/factory/table.tsx and public/components/factory/Table/VirtualizedTable.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-shared/src/components/custom-resource-list/CustomResourceList.tsx
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/catalog-source-details.cy.ts
  frontend/packages/operator-lifecycle-manager/src/components/package-manifest.tsx
  frontend/public/components/factory/ListPage/ListPageCreate.tsx
  frontend/public/components/factory/ListPage/ListPageFilter.tsx
  frontend/public/components/factory/ListPage/ListPageHeader.tsx
  frontend/public/components/factory/ListPage/filter-hook.ts
  frontend/public/components/factory/Table/TableHeader.tsx
  frontend/public/components/factory/Table/VirtualizedTable.tsx
  frontend/public/components/factory/Table/VirtualizedTableBody.tsx
  frontend/public/components/factory/Table/active-columns-hook.ts
  frontend/public/components/factory/details-breadcrumb-resolver.tsx
  frontend/public/components/factory/details.tsx
  frontend/public/components/factory/list-page.tsx
  frontend/public/components/factory/table-data-hook.ts
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/factory/table.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, tide/merge-method-squash, component/shared, component/core, component/sdk, component/olm, docs-approved, qe-approved, px-approved, hacktoberfest-accepted, kind/i18n, jira/valid-reference, acknowledge-critical-fixes-only
