Repository openshift/console, pull requests merged in 2025-04, with the labels that each got.

#14916 OCPBUGS-54430: Fix shifting play/pause button when loading
  frontend/public/components/_sysevent-stream.scss
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#14925 OCPBUGS-54485: Add dark theme feedback graphic
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/imgs/rh_feedback-dark.svg
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#14361 NO-JIRA: adding new reference plugin: kuadrant
  frontend/packages/console-dynamic-plugin-sdk/README.md
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved, jira/valid-reference, acknowledge-critical-fixes-only

#14655 OCPBUGS-47723: always show 'Plugin available' button on CSV list no matter plugin enabled or not
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
Labels: approved, lgtm, component/olm, kind/i18n, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#14924 OCPBUGS-54477: Remove char limit for favourite names
  frontend/packages/console-app/src/components/favorite/FavoriteButton.tsx
  frontend/packages/console-app/src/components/favorite/FavoriteNavItem.tsx
  frontend/packages/console-app/src/components/favorite/FavoriteNavItems.scss
  frontend/packages/console-app/src/components/favorite/FavoriteNavItems.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#14906 OCPBUGS-54265: Remove extra div in MultiTabListPage
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/favorite/FavoriteButton.tsx
  frontend/packages/console-shared/src/components/multi-tab-list/MultiTabListPage.tsx
  frontend/packages/dev-console/src/components/projects/CreateProjectListPage.tsx
  frontend/packages/dev-console/src/components/projects/ProjectListPage.tsx
  frontend/public/components/utils/headings.tsx
Labels: approved, lgtm, component/shared, component/dev-console, component/core, component/sdk, component/olm, kind/i18n, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only, plugin-api-changed, plugin-api-approved

#14928 OCPBUGS-53167: Re-enable guided tour in admin perspective
  frontend/packages/console-app/src/plugin.tsx
  frontend/packages/console-telemetry-plugin/integration-tests/support/commands/hooks.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/operators.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/integration-tests-cypress/tests/app/debug-pod.cy.ts
  frontend/packages/integration-tests-cypress/tests/app/demo-dynamic-plugin.cy.ts
  frontend/packages/integration-tests-cypress/tests/app/filtering-and-searching.cy.ts
  frontend/packages/integration-tests-cypress/tests/app/masthead.cy.ts
  frontend/packages/integration-tests-cypress/tests/app/node-terminal.cy.ts
  frontend/packages/integration-tests-cypress/tests/app/overview.cy.ts
  frontend/packages/integration-tests-cypress/tests/app/poll-console-updates.cy.ts
  frontend/packages/integration-tests-cypress/tests/app/resource-log.cy.ts
  frontend/packages/integration-tests-cypress/tests/app/start-job-from-cronjob.cy.ts
  frontend/packages/integration-tests-cypress/tests/cluster-settings/oauth.cy.ts
  frontend/packages/integration-tests-cypress/tests/crud/add-storage-crud.cy.ts
  frontend/packages/integration-tests-cypress/tests/crud/annotations.cy.ts
  frontend/packages/integration-tests-cypress/tests/crud/bulk-create-resources.cy.ts
  frontend/packages/integration-tests-cypress/tests/crud/customresourcedefinition.cy.ts
  frontend/packages/integration-tests-cypress/tests/crud/environment.cy.ts
  frontend/packages/integration-tests-cypress/tests/crud/image-pull-secret.cy.ts
  frontend/packages/integration-tests-cypress/tests/crud/namespace-crud.cy.ts
  frontend/packages/integration-tests-cypress/tests/crud/other-routes.cy.ts
  frontend/packages/integration-tests-cypress/tests/crud/quotas.cy.ts
  frontend/packages/integration-tests-cypress/tests/crud/resource-crud.cy.ts
  frontend/packages/integration-tests-cypress/tests/crud/secrets/add-to-workload.cy.ts
  frontend/packages/integration-tests-cypress/tests/crud/secrets/image-pull.cy.ts
  frontend/packages/integration-tests-cypress/tests/crud/secrets/key-value.cy.ts
  frontend/packages/integration-tests-cypress/tests/crud/secrets/source.cy.ts
  frontend/packages/integration-tests-cypress/tests/crud/secrets/webhook.cy.ts
  frontend/packages/integration-tests-cypress/tests/dashboards/cluster-dashboard.cy.ts
  frontend/packages/integration-tests-cypress/tests/dashboards/project-dashboard.cy.ts
  frontend/packages/integration-tests-cypress/tests/events/events.cy.ts
  frontend/packages/integration-tests-cypress/tests/i18n/pseudolocalization.cy.ts
  frontend/packages/integration-tests-cypress/tests/storage/clone.cy.ts
  frontend/packages/integration-tests-cypress/tests/storage/create-storage-class.cy.ts
  frontend/packages/integration-tests-cypress/tests/storage/snapshot.cy.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-hub.cy.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-global.cy.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-single-namespace.cy.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-uninstall.cy.ts
  frontend/packages/shipwright-plugin/integration-tests/support/commands/hooks.ts
  frontend/packages/webterminal-plugin/integration-tests/support/step-definitions/web-terminal/web-terminal-adminuser.ts
Labels: approved, lgtm, component/dev-console, component/core, component/olm, component/helm, kind/cypress, jira/valid-bug, jira/valid-reference

#14927 OCPBUGS-53065: Fix regression where normal Pod terminals are unresponsive.
  frontend/packages/console-app/src/components/nodes/NodeTerminal.tsx
  frontend/public/components/debug-terminal.tsx
  frontend/public/components/pod-connect.jsx
  frontend/public/components/pod.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#14922 OCPBUGS-54461: Add missing `href` props to masthead items
  frontend/packages/console-shared/src/components/links/LinkTo.tsx
  frontend/packages/dev-console/integration-tests/support/step-definitions/quck-starts/quick-start-devperspective.ts
  frontend/public/components/QuickCreate.tsx
  frontend/public/components/masthead-toolbar.jsx
Labels: approved, lgtm, component/shared, component/dev-console, component/core, jira/valid-bug, jira/valid-reference

#14923 OCPBUGS-54472: fix position of OpenShift Lightspeed button
  frontend/public/components/app.jsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#14907 OCPBUGS-46526: Add BaseNode in topology folder into Dynamic Plugin SDK
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-topology-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/topology-types.ts
  frontend/packages/knative-plugin/src/topology/components/groups/KnativeService.tsx
  frontend/packages/knative-plugin/src/topology/components/groups/KnativeServiceGroup.tsx
  frontend/packages/knative-plugin/src/topology/components/nodes/EventSink.tsx
  frontend/packages/knative-plugin/src/topology/components/nodes/EventSource.tsx
  frontend/packages/knative-plugin/src/topology/components/nodes/EventingPubSubNode.tsx
  frontend/packages/topology/src/behavior/withCreateConnector.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/BaseNode.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/BindableNode.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/PodSet.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/WorkloadNode.tsx
Labels: approved, lgtm, component/knative, component/sdk, component/topology, jira/valid-bug, jira/severity-important, jira/valid-reference, plugin-api-changed, plugin-api-approved

#14850 ODC-7778: Include Quick create in Admin perspective guided tour
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/guided-tour/index.ts
  frontend/public/components/QuickCreate.tsx
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#14920 CONSOLE-4540: add set as default sc action
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/package.json
  frontend/packages/console-app/src/actions/providers/storageclass-provider.ts
  frontend/public/components/storage-class.tsx
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#14911 ODC-7720: Further Developer Catalog -> Software Catalog renaming
  frontend/packages/console-dynamic-plugin-sdk/docs/console-extensions.md
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/catalog.ts
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/catalog/utils/catalog-utils.tsx
  frontend/packages/console-shared/src/utils/__tests__/isSubCatalogTypeEnabled.spec.ts
  frontend/packages/console-shared/src/utils/sample-utils.ts
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/integration-tests/features/addFlow/quick-search-add.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/software-catalog-details.feature
  frontend/packages/dev-console/integration-tests/features/customization/customization-of-catalog-addPage-form-view.feature
  frontend/packages/dev-console/integration-tests/features/customization/customization-of-catalog.feature
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/customization.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/quick-search-add.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/customization/customization-of-catalog-addPage-form-view.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/actions/add-resources.tsx
  frontend/packages/dev-console/src/actions/providers.tsx
  frontend/packages/dev-console/src/components/add/AddPageConfiguration.tsx
  frontend/packages/dev-console/src/components/add/__tests__/add-page-test-data.tsx
  frontend/packages/dev-console/src/components/catalog/CatalogTypesConfiguration.tsx
  frontend/packages/dev-console/src/components/project-access/ProjectAccessRolesConfiguration.tsx
  frontend/packages/dev-console/src/utils/__tests__/add-page-utils.spec.ts
  frontend/packages/dev-console/src/utils/icons.tsx
  frontend/packages/helm-plugin/integration-tests/features/helm-release.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-installation-view.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-navigation.feature
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-navigation.ts
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/src/components/forms/HelmChartRepository/CreateHelmChartRepositoryFormEditor.tsx
  frontend/packages/knative-plugin/integration-tests/features/serverless/create-knative-workload.feature
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-page.tsx
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-add-options.feature
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-from-add-options.ts
  frontend/packages/topology/integration-tests/features/topology/quick-search-topology.feature
  frontend/packages/topology/integration-tests/support/step-definitions/topology/quick-search-topology.ts
Labels: approved, lgtm, component/shared, component/dev-console, component/knative, component/sdk, component/olm, docs-approved, qe-approved, px-approved, kind/i18n, component/helm, component/topology, component/pipelines, jira/valid-reference, acknowledge-critical-fixes-only, plugin-api-changed, plugin-api-approved

#14912 CONSOLE-4538: Use PF component groups for Error states
  frontend/package.json
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/error/fallbacks/ErrorBoundaryFallbackInline.tsx
  frontend/packages/console-shared/src/components/error/fallbacks/ErrorBoundaryFallbackPage.tsx
  frontend/packages/console-shared/src/components/error/fallbacks/ErrorDetailsBlock.tsx
  frontend/packages/console-shared/src/components/heading/PrimaryHeading.tsx
  frontend/packages/console-shared/src/components/links/ButtonLink.tsx
  frontend/packages/console-shared/src/components/modals/ErrorDetailsModal.tsx
  frontend/packages/console-shared/src/components/status/StatusBox.tsx
  frontend/packages/console-shared/src/components/status/__tests__/status-box.spec.tsx
  frontend/packages/dev-console/src/components/ProjectSelectPage.tsx
  frontend/packages/helm-plugin/src/components/details-page/__tests__/HelmReleaseDetails.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/model-status-box.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/__tests__/pipelineDetailsPage.spec.tsx
  frontend/public/components/api-explorer.tsx
  frontend/public/components/error.tsx
  frontend/public/components/resource-list.tsx
  frontend/public/components/utils/headings.tsx
  frontend/public/locales/en/public.json
  frontend/public/style/_common.scss
  frontend/yarn.lock
Labels: approved, lgtm, component/shared, component/dev-console, component/core, component/sdk, component/olm, docs-approved, qe-approved, px-approved, kind/i18n, component/helm, component/pipelines, jira/valid-reference, plugin-api-changed, plugin-api-approved

#14931 OCPBUGS-54328: Incorrect English for remaining days of trial in OpenShift Console
  frontend/public/locales/en/public.json
Labels: approved, lgtm, ok-to-test, tide/merge-method-squash, component/core, kind/i18n, jira/valid-bug, jira/valid-reference

#14946 OCPBUGS-54492: metadata.name field is missing in PDB example YAML
  frontend/public/models/yaml-templates.ts
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#14948 OCPBUGS-54684: Remove orphaned notification drawer CSS class
  frontend/public/components/_notification-drawer.scss
  frontend/public/style.scss
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#14937 OCPBUGS-54540: fix flaking update-modal test
  frontend/packages/integration-tests-cypress/tests/cluster-settings/update-modal.cy.ts
Labels: approved, lgtm, kind/cypress, jira/valid-bug, jira/valid-reference

#14950 OCPBUGS-54733: fix bug where co-resource-icon--fixed-width can clip
  frontend/public/components/_resource.scss
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#14887 OCPBUGS-49870: Can't edit deployment (from the private git repository) in RHOCP 4.15 via console
  frontend/packages/dev-console/src/components/edit-application/EditApplicationForm.tsx
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
Labels: approved, lgtm, component/dev-console, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#14953 CONSOLE-4464: Update PatternFly to 6.2.0
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/yarn.lock
  frontend/package.json
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-page.ts
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/imgs/rh_feedback-dark.svg
  frontend/yarn.lock
Labels: approved, lgtm, component/dev-console, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference

#14945 CONSOLE-4520: Further PatternFly 6 bug fixes and cleanup
  frontend/package.json
  frontend/packages/console-app/src/components/favorite/FavoriteButton.tsx
  frontend/packages/console-shared/src/components/log/LogSnippet.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchController.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchList.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModal.tsx
  frontend/packages/dev-console/src/components/add/AddPageLayout.tsx
  frontend/packages/knative-plugin/src/topology/components/groups/KnativeService.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/PipelineQuickSearch.tsx
  frontend/packages/topology/src/components/list-view/cells/MemoryCell.scss
  frontend/packages/topology/src/components/list-view/cells/MetricsCell.scss
  frontend/packages/topology/src/components/page/TopologyView.tsx
  frontend/packages/topology/src/components/quick-search/TopologyQuickSearch.tsx
  frontend/packages/topology/src/components/quick-search/TopologyQuickSearchButton.tsx
  frontend/packages/topology/src/filters/NameLabelFilterDropdown.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/CloudShellTerminal.scss
  frontend/public/components/RBAC/_rbac.scss
  frontend/public/components/_autocomplete.scss
  frontend/public/components/autocomplete.tsx
  frontend/public/components/factory/ListPage/ListPageHeader.tsx
  frontend/public/components/filter-toolbar.tsx
  frontend/public/components/machine.tsx
  frontend/public/imgs/logos/r.svg
  frontend/public/imgs/logos/shiny.svg
  frontend/public/locales/en/public.json
  frontend/public/style/_vars.scss
  frontend/public/style/mixin/_catalog-logo-background.scss
  frontend/yarn.lock
Labels: approved, lgtm, component/shared, component/dev-console, component/knative, component/core, docs-approved, qe-approved, px-approved, kind/i18n, component/topology, component/pipelines, jira/valid-reference

#14954 CONSOLE-4507: Clean up catalog view
  frontend/packages/console-shared/src/components/catalog/CatalogController.tsx
  frontend/packages/console-shared/src/components/catalog/__tests__/CatalogController.spec.tsx
  frontend/packages/console-shared/src/components/catalog/catalog-view/CatalogGrid.tsx
  frontend/packages/console-shared/src/components/catalog/catalog-view/CatalogPage.tsx
  frontend/packages/console-shared/src/components/catalog/catalog-view/CatalogPageContent.tsx
  frontend/packages/console-shared/src/components/catalog/catalog-view/CatalogPageHeader.tsx
  frontend/packages/console-shared/src/components/catalog/catalog-view/CatalogPageHeading.tsx
  frontend/packages/console-shared/src/components/catalog/catalog-view/CatalogPageNumItems.tsx
  frontend/packages/console-shared/src/components/catalog/catalog-view/CatalogPageOverlay.tsx
  frontend/packages/console-shared/src/components/catalog/catalog-view/CatalogPageOverlayDescription.tsx
  frontend/packages/console-shared/src/components/catalog/catalog-view/CatalogPageTabs.tsx
  frontend/packages/console-shared/src/components/catalog/catalog-view/CatalogPageToolbar.tsx
  frontend/packages/console-shared/src/components/catalog/catalog-view/CatalogToolbar.tsx
  frontend/packages/console-shared/src/components/catalog/catalog-view/CatalogView.tsx
  frontend/packages/console-shared/src/components/catalog/details/CatalogDetailsPanel.tsx
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/helm-chart-repositories.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/software-catalog-details.ts
  frontend/packages/gitops-plugin/src/components/GitOpsListPage.tsx
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm.ts
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-community-provider-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-item-details.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-page.tsx
  frontend/public/components/catalog/_catalog.scss
  frontend/public/components/utils/_skeleton-screen.scss
  frontend/public/components/utils/skeleton-catalog.tsx
  frontend/public/components/utils/tile-view-page.jsx
  frontend/public/style/_overrides.scss
Labels: approved, lgtm, component/shared, component/dev-console, component/knative, component/monitoring, component/core, component/sdk, component/olm, docs-approved, qe-approved, px-approved, kind/i18n, component/helm, component/topology, component/gitops, component/pipelines, jira/valid-reference

#14921 OCPBUGS-36658: Fetching taskRuns in PLR details page using PLR UID also
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/TaskRuns.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/hooks/useTaskRuns.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/const.ts
  frontend/packages/pipelines-plugin/src/components/taskruns/list-page/TaskRunsListPage.tsx
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference

#14934 OCPEDGE-1614: hack: allow DualReplica in control plane topology validation
  cmd/bridge/main.go
  pkg/serverconfig/validate.go
Labels: approved, lgtm, component/backend, docs-approved, qe-approved, px-approved, jira/valid-reference

#14958 CONSOLE-4538: Add error reporting link to `ErrorBoundary` modal
  frontend/packages/console-shared/src/components/modals/ErrorDetailsModal.tsx
  frontend/packages/helm-plugin/src/components/details-page/__tests__/HelmReleaseDetails.spec.tsx
  frontend/public/components/utils/link.tsx
Labels: approved, lgtm, component/shared, component/core, docs-approved, qe-approved, px-approved, component/helm, jira/valid-reference

#14963 OCPBUGS-54878: Align left/right margins of add card items
  frontend/packages/dev-console/src/components/add/AddCard.scss
  frontend/packages/dev-console/src/components/add/AddCardItem.scss
Labels: approved, lgtm, component/dev-console, jira/valid-bug, jira/valid-reference

#14964 CONSOLE-4492: Use `helpText` for help text
  frontend/__tests__/components/utils/page-heading.spec.tsx
  frontend/packages/dev-console/src/components/import/jar/UploadJarPage.tsx
  frontend/packages/dev-console/src/components/project-access/ProjectAccess.tsx
  frontend/packages/dev-console/src/components/projects/ProjectListPage.tsx
  frontend/packages/knative-plugin/src/components/add/EventSinkPage.tsx
  frontend/packages/knative-plugin/src/components/add/EventSourcePage.tsx
  frontend/packages/knative-plugin/src/components/add/EventingBrokerPage.tsx
  frontend/packages/knative-plugin/src/components/add/EventingChannelPage.tsx
  frontend/packages/knative-plugin/src/components/add/knative-event-type/SubscribePage.tsx
  frontend/packages/knative-plugin/src/components/knatify/CreateKnatifyPage.tsx
  frontend/public/components/sidebars/explore-type-sidebar.tsx
  frontend/public/components/utils/details-item.tsx
  frontend/public/components/utils/headings.tsx
  frontend/public/style/_common.scss
Labels: approved, lgtm, component/dev-console, component/knative, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference

#14929 OCPBUGS-54536: Use router link for OLM CSV empty state
  frontend/packages/dev-console/src/components/import/toast/WebhookToastContent.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pac/PacOverview.tsx
  frontend/packages/pipelines-plugin/src/components/repository/sections/GithubSection.tsx
Labels: approved, lgtm, component/dev-console, component/olm, kind/i18n, component/pipelines, jira/valid-bug, jira/valid-reference

#14968 OCPBUGS-54963: Fix visual regression with knative getting started card
  frontend/packages/console-shared/src/components/getting-started/GettingStartedExpandableGrid.tsx
  frontend/packages/knative-plugin/src/components/functions/GettingStartedSection.scss
  frontend/packages/knative-plugin/src/components/functions/GettingStartedSection.tsx
Labels: approved, lgtm, component/shared, component/knative, jira/valid-bug, jira/valid-reference

#14956 OCPBUGS-54669: Enable project selector dropdown on Helm form in admin perspective
  frontend/packages/helm-plugin/src/components/forms/HelmChartRepository/CreateHelmChartRepositoryPage.tsx
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradePage.tsx
Labels: approved, lgtm, component/helm, jira/valid-bug, jira/valid-reference

#14952 ODC-7781: Running knative e2e tests from admin view
  frontend/packages/dev-console/integration-tests/support/pages/functions/checkDeveloperPerspective.ts
  frontend/packages/knative-plugin/integration-tests/features/e2e/knative-ci.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/actions-on-knative-revision.feature
  frontend/packages/knative-plugin/integration-tests/support/commands/hooks.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/common/addFlow.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/actions-on-knative-revision.ts
Labels: approved, lgtm, component/dev-console, component/knative, docs-approved, qe-approved, px-approved, jira/valid-reference

#14902 OCPBUGS-43792: Load extensions in same order as plugins listed in SERVER_FLAGS global
  frontend/packages/console-plugin-sdk/src/__tests__/store.spec.ts
  frontend/packages/console-plugin-sdk/src/store.ts
Labels: approved, lgtm, component/sdk, jira/severity-critical, jira/valid-bug, jira/valid-reference

#14949 CONSOLE-4524: Allow Deletion of Identity Providers (IDPs) via OpenShift Web Console
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/oauth-config/IdentityProviders.tsx
  frontend/packages/console-app/src/components/oauth-config/OAuthConfigDetails.tsx
  frontend/packages/integration-tests-cypress/tests/cluster-settings/oauth.cy.ts
  frontend/public/components/modals/remove-idp-modal.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n, kind/cypress, jira/valid-reference

#14967 CONSOLE-4541: deprecate VirtualizedTable and ListPageFilter and useLi…
  frontend/packages/console-dynamic-plugin-sdk/README.md
  frontend/packages/console-dynamic-plugin-sdk/docs/api.md
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved, jira/valid-reference, acknowledge-critical-fixes-only, plugin-api-changed, plugin-api-approved

#14966 CONSOLE-4542: Remove base `dl` `dd` `dt` CSS
  frontend/packages/console-dynamic-plugin-sdk/README.md
  frontend/packages/console-shared/src/components/editor/BasicCodeEditor.scss
  frontend/packages/console-shared/src/components/editor/CodeEditor.scss
  frontend/public/style/_base.scss
Labels: approved, lgtm, component/shared, component/core, component/sdk, docs-approved, qe-approved, px-approved, jira/valid-reference, acknowledge-critical-fixes-only

#14976 OCPBUGS-55084: fix bug where highlighting items from quickstart does …
  frontend/package.json
  frontend/yarn.lock
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#14881 CONSOLE-4505: Update i18next package
  frontend/package.json
  frontend/yarn.lock
Labels: approved, lgtm, ok-to-test, component/shared, component/dev-console, component/dashboard, component/knative, component/core, component/metal3, component/sdk, component/olm, component/lso, docs-approved, qe-approved, px-approved, kind/i18n, component/helm, component/topology, component/gitops, component/pipelines, kind/cypress, jira/valid-reference, plugin-api-changed, plugin-api-approved

#14974 OCPBUGS-55018: fix web terminal initialize form style
  frontend/packages/webterminal-plugin/src/components/cloud-shell/setup/CloudShellAdminSetup.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/setup/CloudShellAdvancedOption.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/setup/CloudShellDeveloperSetup.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/setup/CloudShellSetup.scss
  frontend/packages/webterminal-plugin/src/components/cloud-shell/setup/CloudShellSetupForm.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/setup/NamespaceSection.scss
  frontend/packages/webterminal-plugin/src/components/cloud-shell/setup/NamespaceSection.tsx
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#14972 OCPBUGS-55047: align spacing after breadrcumb with PatternFly
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/alertmanager/alertmanager-config.tsx
  frontend/public/components/monitoring/alertmanager/alertmanager-yaml-editor.tsx
  frontend/public/components/utils/headings.tsx
Labels: approved, lgtm, component/monitoring, component/core, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#14955 OCPBUGS-54657: Expose OdcBaseNode through the dynamic plugin SDK
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-topology-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/topology-types.ts
  frontend/packages/topology/src/elements/OdcBaseNode.ts
Labels: approved, lgtm, component/sdk, component/topology, jira/valid-bug, jira/severity-important, jira/valid-reference, plugin-api-changed, plugin-api-approved

#14979 CONSOLE-4464: Update PatternFly to latest
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/yarn.lock
  frontend/package.json
  frontend/packages/console-shared/src/components/editor/BasicCodeEditor.scss
  frontend/public/style/_overrides.scss
  frontend/yarn.lock
Labels: approved, lgtm, component/shared, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference, acknowledge-critical-fixes-only

#14978 OCPBUGS-45514: Add account email to the telemetry
  frontend/packages/console-shared/src/hooks/useTelemetry.ts
Labels: approved, lgtm, bugzilla/valid-bug, component/shared, jira/valid-bug, jira/valid-reference

#14983 OCPBUGS-54601: fix bug where operator appears twice
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
Labels: approved, lgtm, component/olm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, acknowledge-critical-fixes-only

#14940 OCPBUGS-54656: Add space between quick start action list items
  frontend/packages/console-app/src/components/quick-starts/QuickStartDrawer.scss
  frontend/packages/console-app/src/components/quick-starts/QuickStartDrawer.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#14969 OCPBUGS-54976: Mark `withHandlePromise` HOC as Deprecated
  frontend/public/components/utils/promise-component.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference, plugin-api-approved

#14977 OCPBUGS-55085: Add test case to verify IDP successfully removed
  frontend/packages/integration-tests-cypress/tests/cluster-settings/oauth.cy.ts
Labels: approved, lgtm, tide/merge-method-squash, kind/cypress, jira/valid-bug, jira/valid-reference

#14980 OCPBUGS-54833: fix spacing of secondary action in notification drawer…
  frontend/packages/console-app/package.json
  frontend/packages/insights-plugin/package.json
  frontend/packages/patternfly/.eslintrc
  frontend/packages/patternfly/locales/en/notification-drawer.json
  frontend/packages/patternfly/locales/es/notification-drawer.json
  frontend/packages/patternfly/locales/fr/notification-drawer.json
  frontend/packages/patternfly/locales/ja/notification-drawer.json
  frontend/packages/patternfly/locales/ko/notification-drawer.json
  frontend/packages/patternfly/locales/zh/notification-drawer.json
  frontend/packages/patternfly/package.json
  frontend/packages/patternfly/src/components/index.ts
  frontend/packages/patternfly/src/components/notification-drawer/index.ts
  frontend/packages/patternfly/src/components/notification-drawer/notification-category.tsx
  frontend/packages/patternfly/src/components/notification-drawer/notification-entry.tsx
  frontend/packages/patternfly/src/index.ts
  frontend/public/components/notification-drawer.tsx
  frontend/public/components/utils/service-level.tsx
  frontend/public/locales/en/public.json
  frontend/webpack.config.ts
Labels: approved, lgtm, component/core, component/insights, kind/i18n, jira/valid-bug, jira/severity-moderate, jira/valid-reference, acknowledge-critical-fixes-only

#14994 NO-JIRA: Deprecate `react-router-dom-v5-compat`
  frontend/packages/console-dynamic-plugin-sdk/README.md
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved, jira/valid-reference, plugin-api-approved

#14991 OCPBUGS-55252: fix bug where tab underline is missing
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/yarn.lock
  frontend/package.json
  frontend/packages/console-shared/src/components/editor/BasicCodeEditor.scss
  frontend/public/style/_overrides.scss
  frontend/yarn.lock
Labels: approved, lgtm, component/shared, component/core, docs-approved, qe-approved, px-approved, jira/valid-bug, jira/severity-important, jira/valid-reference

#14995 CONSOLE-4492: fix: do not render if listpageheader has no props
  frontend/packages/console-shared/src/components/heading/PageHeading.tsx
  frontend/public/components/factory/ListPage/ListPageHeader.tsx
  frontend/public/components/utils/headings.tsx
  frontend/public/style/_vars.scss
Labels: approved, lgtm, component/shared, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference

#14996 ODC-7727: Change favourites button defaultName
  frontend/packages/console-app/src/components/favorite/FavoriteButton.tsx
  frontend/packages/console-shared/src/components/heading/PageHeading.tsx
  frontend/packages/integration-tests-cypress/tests/favorite/favorite-option.cy.ts
Labels: approved, lgtm, component/shared, component/core, docs-approved, qe-approved, px-approved, kind/cypress, jira/valid-reference

#14988 OCPBUGS-53443: Check for ACM when hiding switcher
  frontend/packages/console-app/src/components/nav/NavHeader.tsx
  frontend/packages/integration-tests-cypress/tests/favorite/favorite-option.cy.ts
Labels: approved, lgtm, component/core, kind/cypress, jira/valid-bug, jira/severity-moderate, jira/valid-reference, acknowledge-critical-fixes-only
