Repository openshift/console, pull requests merged in 2025-08, with the labels that each got.

#15348 CONSOLE-4705: Convert some files to TypeScript
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/public/components/build-logs.tsx
  frontend/public/components/configmap.tsx
  frontend/public/components/feedback-local.ts
  frontend/public/components/impersonate-notifier.jsx
  frontend/public/components/impersonate-notifier.tsx
  frontend/public/components/kube-admin-notifier.tsx
  frontend/public/components/utils/cloud-provider.ts
  frontend/public/components/utils/draggable-item-types.ts
  frontend/public/components/utils/k8s-watcher.ts
  frontend/public/module/k8s/job.ts
  frontend/public/module/k8s/types.ts
  frontend/public/module/status.ts
Labels: approved, lgtm, component/core, component/sdk, docs-approved, qe-approved, px-approved, jira/valid-reference, plugin-api-changed, plugin-api-approved

#15351 OCPBUGS-60010: Fix i18n string for event stream
  frontend/public/components/events.jsx
  frontend/public/locales/en/public.json
  frontend/public/locales/es/public.json
  frontend/public/locales/fr/public.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, component/core, kind/i18n, jira/valid-bug, jira/severity-low, jira/valid-reference

#15257 CONSOLE-4624: Add CRD Schema Handler and endpoint integration
  pkg/crdschema/handler.go
  pkg/crdschema/handler_test.go
  pkg/server/server.go
Labels: approved, lgtm, tide/merge-method-squash, component/backend, docs-approved, qe-approved, px-approved, jira/valid-reference, acknowledge-critical-fixes-only

#15352 ODC-7811: enzyme -> RTL: webterminal-plugin
  frontend/__tests__/components/modals/configure-update-strategy-modal.spec.tsx
  frontend/__tests__/components/utils/connected-page-heading.spec.tsx
  frontend/packages/console-app/src/components/guided-tour/__tests__/GuidedTourText.spec.tsx
  frontend/packages/console-shared/src/components/formik-fields/__tests__/NumberSpinnerField.spec.tsx
  frontend/packages/console-shared/src/components/getting-started/__tests__/GettingStartedCard.spec.tsx
  frontend/packages/dev-console/src/components/add/__tests__/AddPageLayout.spec.tsx
  frontend/packages/topology/src/__tests__/TopologySideBar.spec.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/CloudShell.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/CloudShellDrawer.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/CloudShellExec.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/CloudShellMastheadAction.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/CloudShellMastheadButton.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/CloudShellTab.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/CloudShellTerminal.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/ExecuteCommand.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/MinimizeRestoreButton.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/MultiTabbedTerminal.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/TerminalLoadingBox.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/WebTerminalConfiguration.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/__tests__/CloudShellDrawer.spec.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/__tests__/CloudShellExec.spec.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/__tests__/CloudShellTab.spec.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/__tests__/CloudShellTerminal.spec.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/__tests__/MinimizeRestoreButton.spec.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/__tests__/MultiTabbedTerminal.spec.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/setup/AdminNamespaceSection.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/setup/CloudShellAdminSetup.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/setup/CloudShellAdvancedOption.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/setup/CloudShellDeveloperSetup.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/setup/CloudShellSetupForm.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/setup/ImageSection.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/setup/NamespaceSection.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/setup/TimeoutSection.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/setup/__tests__/CloudShellSetupForm.spec.tsx
Labels: approved, lgtm, component/shared, component/dev-console, component/core, docs-approved, qe-approved, px-approved, component/topology, jira/valid-reference

#15356 OCPBUGS-60056: update timestamp unit test to be more stable
  frontend/packages/console-shared/src/components/datetime/__tests__/Timestamp.spec.tsx
Labels: approved, lgtm, component/shared, jira/valid-bug, jira/valid-reference

#15343 CONSOLE-4703: Remove routes component in console
  frontend/__tests__/components/route-pages.spec.tsx
  frontend/__tests__/components/routes/create-route.spec.tsx
  frontend/packages/console-shared/src/components/utils/routes.tsx
  frontend/packages/dev-console/src/components/import/toast/ImportToastContent.tsx
  frontend/packages/dev-console/src/components/import/toast/__tests__/ImportToastContent.spec.tsx
  frontend/packages/knative-plugin/src/components/routes/RouteDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/utils/triggers.ts
  frontend/packages/topology/src/components/workload/NetworkingOverview.tsx
  frontend/packages/topology/src/utils/topology-utils.ts
  frontend/public/components/app-contents.tsx
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/routes.tsx
  frontend/public/components/routes/RouteForm.tsx
  frontend/public/components/routes/RoutePage.tsx
  frontend/public/components/routes/_create-route.scss
  frontend/public/components/routes/create-route.tsx
  frontend/public/components/routes/route-metrics.tsx
  frontend/public/components/routes/utils.ts
  frontend/public/locales/en/public.json
  frontend/public/style.scss
Labels: approved, lgtm, component/shared, component/dev-console, component/knative, component/core, docs-approved, qe-approved, px-approved, kind/i18n, component/topology, component/pipelines, jira/valid-reference

#15350 CONSOLE-4616: add additionalPrinterColumns to CustomResource list page
  frontend/packages/integration-tests-cypress/tests/crd-extensions/console-notification.cy.ts
  frontend/packages/integration-tests-cypress/tests/crd-extensions/console-yaml-sample.cy.ts
  frontend/public/components/default-resource.tsx
  frontend/public/components/factory/table.tsx
Labels: approved, lgtm, component/shared, component/core, component/backend, docs-approved, qe-approved, px-approved, kind/cypress, jira/valid-reference

#15236 [release-4.17] OCPBUGS-58337: Tolerate unknown fields in Infrastructur…
  frontend/packages/vsphere-plugin/__tests__/__snapshots__/utils.spec.ts.snap
  frontend/packages/vsphere-plugin/__tests__/utils.spec.ts
  frontend/packages/vsphere-plugin/locales/en/vsphere-plugin.json
  frontend/packages/vsphere-plugin/package.json
  frontend/packages/vsphere-plugin/src/components/VSphereConnectionModal.tsx
  frontend/packages/vsphere-plugin/src/components/persist.ts
  frontend/packages/vsphere-plugin/src/components/types.ts
  frontend/packages/vsphere-plugin/src/components/utils.ts
  frontend/packages/vsphere-plugin/src/hooks/use-connection-form.ts
  frontend/packages/vsphere-plugin/src/resources/infrastructure.ts
  frontend/yarn.lock
Labels: approved, lgtm, cherry-pick-approved, qe-approved, backport-risk-assessed, jira/severity-critical, jira/valid-bug, jira/valid-reference

#15361 CONSOLE-4617: follow-on fix for DetailsItem popover
  frontend/public/components/default-resource.tsx
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference

#15357 OCPBUGS-59382: OpenShift Console's "Start Job" action overrides configured "backoffLimit" to "6"
  frontend/packages/console-app/src/actions/creators/cronjob-factory.ts
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-important, jira/valid-reference

#15360 OCPBUGS-60130: Remove ancient `X-XSS-Protection` header
  pkg/server/middleware.go
Labels: approved, lgtm, ok-to-test, component/backend, jira/valid-bug, jira/valid-reference

#15316 OCPBUGS-56155: Click 'View operator details' in Plugin available popover will close the modal
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
Labels: approved, lgtm, component/core, component/olm, kind/i18n, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#15359 [release-4.15] OCPBUGS-59997: Remove the devconsole backend common internet proxy and replace it with dedicated ones
  cmd/bridge/main.go
  frontend/__tests__/reducers/features.spec.tsx
  frontend/packages/console-shared/src/constants/common.ts
  frontend/packages/console-shared/src/types/backend-api.ts
  frontend/packages/console-shared/src/types/index.ts
  frontend/packages/console-shared/src/utils/proxy.ts
  frontend/packages/git-service/src/services/bitbucket-service.ts
  frontend/packages/git-service/src/services/github-service.ts
  frontend/packages/git-service/src/services/gitlab-service.ts
  frontend/packages/pipelines-plugin/src/components/catalog/apis/artifactHub.ts
  frontend/packages/pipelines-plugin/src/components/catalog/apis/utils.ts
  frontend/packages/pipelines-plugin/src/components/catalog/providers/useArtifactHubTasksProvider.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/utils/tekton-results.ts
  frontend/packages/pipelines-plugin/src/const.ts
  frontend/public/reducers/features.ts
  pkg/devconsole/artifacthub/artifacthub.go
  pkg/devconsole/artifacthub/types.go
  pkg/devconsole/common/types.go
  pkg/devconsole/handler.go
  pkg/devconsole/proxy/proxy.go
  pkg/devconsole/proxy/proxy_test.go
  pkg/devconsole/proxy/types.go
  pkg/devconsole/tekton-results/results.go
  pkg/devconsole/tekton-results/types.go
  pkg/devconsole/webhooks/types.go
  pkg/devconsole/webhooks/webhooks.go
  pkg/server/server.go
Labels: approved, lgtm, component/shared, component/dev-console, component/core, component/backend, component/git-service, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#15384 OCPBUGS-60010: Fix i18n string for event stream (again)
  frontend/public/locales/zh/public.json
Labels: approved, lgtm, component/core, component/sdk, kind/i18n, jira/valid-bug, jira/severity-low, jira/valid-reference

#15293 ODC-7810: Migrate enzyme "packages/topology" unit tests to React Testing Library
  frontend/packages/topology/src/__tests__/DataModelProvider.spec.tsx
  frontend/packages/topology/src/__tests__/Graph.spec.tsx
  frontend/packages/topology/src/__tests__/TopologyPage.spec.tsx
  frontend/packages/topology/src/__tests__/TopologyPageToolbar.spec.tsx
  frontend/packages/topology/src/__tests__/TopologyShortcuts.spec.tsx
  frontend/packages/topology/src/__tests__/TopologySideBar.spec.tsx
  frontend/packages/topology/src/__tests__/topology-utils.spec.ts
  frontend/packages/topology/src/components/application-panel/__tests__/ApplicationGroupResource.spec.tsx
  frontend/packages/topology/src/components/dropdowns/__tests__/ApplicationSelector.spec.tsx
  frontend/packages/topology/src/components/export-app/__tests__/ExportApplication.spec.tsx
  frontend/packages/topology/src/components/export-app/__tests__/ExportApplicationModal.spec.tsx
  frontend/packages/topology/src/components/export-app/__tests__/ExportViewLogButton.spec.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/__tests__/Decorator.spec.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/__tests__/URLDecorator.spec.tsx
  frontend/packages/topology/src/components/svg/__tests__/SvgBoxedText.spec.tsx
  frontend/packages/topology/src/components/svg/__tests__/SvgResourceIcon.spec.tsx
  frontend/packages/topology/src/filters/__tests__/FilterDropdown.spec.tsx
  frontend/packages/topology/src/filters/__tests__/KindFilterDropdown.spec.tsx
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/topology, jira/valid-reference

#15317 CONSOLE-4694: Fixed SNC type errors in detect-language, detect-perspective, favorite, flags, and guided-tour
  frontend/packages/console-app/src/components/detect-perspective/DetectPerspective.tsx
  frontend/packages/console-app/src/components/detect-perspective/PerspectiveConfiguration.tsx
  frontend/packages/console-app/src/components/detect-perspective/PerspectiveDetector.tsx
  frontend/packages/console-app/src/components/detect-perspective/__tests__/useValuesForPerspectiveContext.spec.ts
  frontend/packages/console-app/src/components/detect-perspective/useValuesForPerspectiveContext.ts
  frontend/packages/console-app/src/components/favorite/FavoriteButton.tsx
  frontend/packages/console-app/src/components/favorite/FavoriteNavItems.tsx
  frontend/packages/console-app/src/components/guided-tour/GuidedTourText.tsx
Labels: approved, lgtm, tide/merge-method-squash, component/core, docs-approved, qe-approved, px-approved, kind/cypress, jira/valid-reference

#15347 CONSOLE-4690: Add Manifest tab to the ConsolePlugin resource details page
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/console-operator/ConsolePluginManifestPage.tsx
  frontend/packages/integration-tests-cypress/tests/app/demo-dynamic-plugin.cy.ts
Labels: approved, lgtm, tide/merge-method-squash, component/core, docs-approved, qe-approved, px-approved, kind/i18n, kind/cypress, jira/valid-reference

#15389 CONSOLE-4609: Refactor `testHook` to RTL, add `useWarningModal`
  frontend/__tests__/utils/hooks-utils.tsx
  frontend/packages/console-app/src/components/detect-namespace/__tests__/namespace.spec.ts
  frontend/packages/console-app/src/components/tour/__tests__/tour-context.spec.ts
  frontend/packages/console-plugin-sdk/src/utils/__tests__/useTranslationExt.spec.ts
  frontend/packages/console-shared/src/components/catalog/hooks/__tests__/useCatalogExtensions.spec.ts
  frontend/packages/console-shared/src/components/synced-editor/__tests__/useEditorType.spec.ts
  frontend/packages/console-shared/src/components/toast/__tests__/useToast.spec.tsx
  frontend/packages/console-shared/src/hooks/__tests__/perspective-utils.spec.ts
  frontend/packages/console-shared/src/hooks/__tests__/select-list.spec.ts
  frontend/packages/console-shared/src/hooks/__tests__/usePinnedResources.spec.ts
  frontend/packages/console-shared/src/hooks/__tests__/usePluginsOverviewTabSection.spec.ts
  frontend/packages/console-shared/src/hooks/__tests__/useTelemetry.spec.ts
  frontend/packages/console-shared/src/hooks/__tests__/useUserSettings.spec.ts
  frontend/packages/console-shared/src/hooks/useWarningModal.tsx
  frontend/packages/console-shared/src/test-utils/hooks-utils.tsx
  frontend/packages/console-shared/src/utils/__tests__/isSubCatalogTypeEnabled.spec.ts
  frontend/packages/console-shared/src/utils/__tests__/pod-ring-utils.spec.ts
  frontend/packages/dev-console/src/components/add/hooks/__tests__/useAccessFilterExtensions.spec.ts
  frontend/packages/dev-console/src/components/add/hooks/__tests__/useAddActionsAccessReviews.spec.ts
  frontend/packages/dev-console/src/components/catalog/providers/__tests__/useDevfileSamples.spec.ts
  frontend/packages/dev-console/src/components/project-access/__tests__/hooks.spec.ts
  frontend/packages/dev-console/src/utils/__tests__/useAddActionExtensions.spec.ts
  frontend/packages/dev-console/src/utils/__tests__/usePerspectiveDetection.spec.ts
  frontend/packages/helm-plugin/src/providers/__tests__/helm-detection-provider.spec.ts
  frontend/packages/knative-plugin/src/hooks/__tests__/useBootstrapServers.spec.ts
  frontend/packages/pipelines-plugin/src/components/catalog/__tests__/catalog-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/catalog/apis/__tests__/tektonHub.spec.ts
  frontend/packages/pipelines-plugin/src/components/pac/hooks/__tests__/usePacData.spec.ts
  frontend/packages/pipelines-plugin/src/components/pac/hooks/__tests__/usePacGHManifest.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelineruns/events/__tests__/event-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelineruns/hooks/__tests__/usePipelineFromPipelineRun.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelineruns/hooks/__tests__/usePipelineRunVulnerabilities.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/__tests__/hooks.spec.ts
  frontend/packages/pipelines-plugin/src/utils/__tests__/hooks.spec.ts
  frontend/packages/topology/src/filters/__tests__/useSearchFilter.spec.ts
  frontend/packages/webterminal-plugin/src/components/cloud-shell/__tests__/useActivityTick.spec.ts
  frontend/packages/webterminal-plugin/src/components/cloud-shell/__tests__/useCloudShellAvailable.spec.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/__tests__/cluster-setup-alert-receiver-link.spec.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/__tests__/cluster-setup-identity-provider-link.spec.ts
  frontend/public/components/modals/confirm-modal.jsx
  frontend/public/components/modals/index.ts
Labels: approved, lgtm, component/shared, component/dev-console, component/dashboard, component/knative, component/core, component/sdk, docs-approved, qe-approved, px-approved, component/helm, component/topology, component/pipelines, jira/valid-reference

#15370 [release-4.18] OCPBUGS-54660: Expose OdcBaseNode through the dynamic plugin SDK
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-topology-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/topology-types.ts
  frontend/packages/topology/src/elements/OdcBaseNode.ts
Labels: approved, lgtm, component/sdk, component/topology, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#15379 CONSOLE-4660: Remove SNC errors in frontend/packages/src/actions
  frontend/packages/console-app/src/actions/creators/cronjob-factory.ts
  frontend/packages/console-app/src/actions/creators/health-checks-factory.ts
  frontend/packages/console-app/src/actions/creators/hpa-factory.ts
  frontend/packages/console-app/src/actions/creators/pdb-factory.ts
  frontend/packages/console-app/src/actions/hooks/useCommonActions.ts
  frontend/packages/console-app/src/actions/hooks/useDeploymentActions.ts
  frontend/packages/console-app/src/actions/hooks/usePVCActions.ts
  frontend/packages/console-app/src/actions/hooks/useReplicationControllerActions.ts
  frontend/packages/console-app/src/actions/hooks/useRetryRolloutAction.ts
  frontend/packages/console-app/src/actions/modify-health-checks.ts
  frontend/packages/console-app/src/actions/providers/default-provider.ts
  frontend/packages/console-app/src/actions/providers/deployment-provider.ts
  frontend/packages/console-app/src/actions/providers/deploymentconfig-provider.ts
  frontend/packages/console-app/src/actions/providers/persistent-volume-claim-provider.ts
  frontend/packages/console-app/src/actions/providers/perspective-state-provider.ts
  frontend/packages/console-app/src/actions/providers/replicaset-provider.ts
  frontend/packages/console-app/src/actions/providers/replication-controllers-provider.ts
  frontend/packages/console-app/src/actions/providers/storageclass-provider.ts
Labels: approved, lgtm, tide/merge-method-squash, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference

#15386 OCPBUGS-45297: Refactor DroppableEditYAML
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/public/components/droppable-edit-yaml.tsx
  frontend/public/components/edit-yaml.tsx
  frontend/public/components/utils/_file-input.scss
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, component/sdk, kind/i18n, jira/valid-bug, jira/severity-moderate, jira/valid-reference, plugin-api-changed, plugin-api-approved

#15406 NO-JIRA: Update CHANGELOG for latest 4.19 plugin SDK package publish
  frontend/packages/console-dynamic-plugin-sdk/CHANGELOG-core.md
  frontend/packages/console-dynamic-plugin-sdk/CHANGELOG-webpack.md
Labels: approved, lgtm, component/sdk, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#15407 NO-JIRA: Update CHANGELOG for latest 4.20 prerelease plugin SDK package publish
  frontend/packages/console-dynamic-plugin-sdk/CHANGELOG-core.md
  frontend/packages/console-dynamic-plugin-sdk/CHANGELOG-webpack.md
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved, jira/valid-reference, plugin-api-approved

#15399 OCPBUGS-59204: Alignment of / and : within imagestream tag selection form fields
  frontend/packages/dev-console/src/components/import/image-search/ImageStream.scss
  frontend/packages/dev-console/src/components/import/image-search/ImageStream.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageStreamDropdown.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageStreamNsDropdown.tsx
Labels: approved, lgtm, component/dev-console, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#15417 [release-4.16] OCPBUGS-60641: Secret key with binary file changes when edited via Console
  frontend/public/components/secrets/create-secret.tsx
Labels: approved, lgtm, cherry-pick-approved, component/core, qe-approved, backport-risk-assessed, jira/valid-bug, jira/severity-important, jira/valid-reference

#15421 CONSOLE-4630: React.SFC -> FCC
  frontend/__tests__/components/safety-first.spec.tsx
  frontend/packages/console-shared/src/components/error/__tests__/error-boundary.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/actions/hooks/useSubscriptionActions.ts
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/status/phase.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
  frontend/public/components/alert-manager.tsx
  frontend/public/components/build-config.tsx
  frontend/public/components/build-pipeline.tsx
  frontend/public/components/build.tsx
  frontend/public/components/control-plane-machine-set.tsx
  frontend/public/components/create-yaml.tsx
  frontend/public/components/image-stream-tag.tsx
  frontend/public/components/image-stream.tsx
  frontend/public/components/limit-range.tsx
  frontend/public/components/machine-config-pool.tsx
  frontend/public/components/machine-config.tsx
  frontend/public/components/machine.tsx
  frontend/public/components/modals/managed-resource-save-modal.tsx
  frontend/public/components/namespace.jsx
  frontend/public/components/resource-dropdown.tsx
  frontend/public/components/template-instance.tsx
  frontend/public/components/utils/build-hooks.tsx
  frontend/public/components/utils/build-strategy.tsx
  frontend/public/components/utils/details-page.tsx
  frontend/public/components/utils/headings.tsx
  frontend/public/components/utils/label-list.tsx
  frontend/public/components/utils/managed-by.tsx
  frontend/public/components/utils/resource-icon.tsx
Labels: approved, lgtm, component/shared, component/core, component/olm, docs-approved, qe-approved, px-approved, jira/valid-reference

#15288 CONSOLE-4500: Segment Analytics integration code cleanup
  README.md
  cmd/bridge/main.go
  frontend/@types/console/index.d.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-console-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/segment-analytics.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-shared/src/hooks/useTelemetry.ts
  frontend/packages/console-telemetry-plugin/src/flags/detect-telemetry.ts
  frontend/packages/console-telemetry-plugin/src/listeners/const.ts
  frontend/packages/console-telemetry-plugin/src/listeners/debug.ts
  frontend/packages/console-telemetry-plugin/src/listeners/segment.ts
  frontend/packages/console-telemetry-plugin/src/providers/telemetry-provider.ts
  frontend/public/components/app.tsx
Labels: approved, lgtm, component/shared, component/core, component/sdk, component/backend, docs-approved, qe-approved, px-approved, jira/valid-reference, plugin-api-changed, plugin-api-approved

#15408 CONSOLE-4235: Bump xterm to 5.5.0
  frontend/package.json
  frontend/packages/console-shared/src/utils/index.ts
  frontend/packages/console-shared/src/utils/xterm-addon-fullscreen.scss
  frontend/packages/console-shared/src/utils/xterm-addon-fullscreen.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/webterminal-po.ts
  frontend/packages/webterminal-plugin/integration-tests/support/step-definitions/common/webTerminal.ts
  frontend/packages/webterminal-plugin/integration-tests/support/step-definitions/pages/web-terminal/webTerminal-page.ts
  frontend/packages/webterminal-plugin/src/components/cloud-shell/Terminal.tsx
  frontend/public/components/terminal.tsx
  frontend/yarn.lock
Labels: approved, lgtm, component/shared, component/dev-console, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference

#15346 CONSOLE-4689: Replace deprecated "withHandlePromise" with "usePromiseHandler" in console
  frontend/__tests__/components/utils/promise-component.spec.tsx
  frontend/packages/console-app/src/components/modals/clone/clone-pvc-modal.tsx
  frontend/packages/console-app/src/components/modals/restore-pvc/restore-pvc-modal.tsx
  frontend/packages/console-app/src/components/nodes/modals/ConfigureUnschedulableModal.tsx
  frontend/packages/console-app/src/components/volume-snapshot/create-volume-snapshot/create-volume-snapshot.tsx
  frontend/packages/console-shared/src/components/modals/ConsolePluginModal.tsx
  frontend/packages/dev-console/src/components/deployments/__tests__/EditDeployment.spec.tsx
  frontend/packages/metal3-plugin/src/components/modals/PowerOffHostModal.tsx
  frontend/packages/metal3-plugin/src/components/modals/RestartHostModal.tsx
  frontend/packages/metal3-plugin/src/components/modals/StartNodeMaintenanceModal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/create-catalog-source.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/resource-requirements.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/resource-requirements.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/delete-catalog-source-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/disable-default-source-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/edit-default-sources-modal.tsx
  frontend/public/components/modals/add-users-modal.tsx
  frontend/public/components/modals/cluster-channel-modal.tsx
  frontend/public/components/modals/cluster-update-modal.tsx
  frontend/public/components/modals/configure-cluster-upstream-modal.tsx
  frontend/public/components/modals/configure-count-modal.tsx
  frontend/public/components/modals/configure-machine-autoscaler-modal.tsx
  frontend/public/components/modals/configure-update-strategy-modal.tsx
  frontend/public/components/modals/delete-modal.tsx
  frontend/public/components/modals/delete-pvc-modal.tsx
  frontend/public/components/modals/error-modal.tsx
  frontend/public/components/modals/expand-pvc-modal.tsx
  frontend/public/components/modals/labels-modal.tsx
  frontend/public/components/modals/remove-user-modal.tsx
  frontend/public/components/modals/rollback-modal.jsx
  frontend/public/components/modals/tags.tsx
  frontend/public/components/modals/taints-modal.tsx
  frontend/public/components/modals/tolerations-modal.tsx
  frontend/public/components/utils/promise-component.tsx
Labels: approved, lgtm, component/shared, component/dev-console, component/core, component/metal3, component/olm, docs-approved, qe-approved, px-approved, jira/valid-reference, plugin-api-approved

#15414 CONSOLE-4661: Align LogViewer toolbar with CodeEditor toolbar
  frontend/packages/integration-tests-cypress/tests/app/resource-log.cy.ts
  frontend/packages/integration-tests-cypress/tests/crd-extensions/console-external-log-link.cy.ts
  frontend/public/components/utils/_resource-log.scss
  frontend/public/components/utils/resource-log.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n, kind/cypress, jira/valid-reference

#15366 [release-4.19] OCPBUGS-50571: Make sure CSP violations are only reported to telemetry once per day per browser
  frontend/packages/console-app/src/__tests__/hooks/useCSPViolationDetector.spec.tsx
  frontend/packages/console-app/src/hooks/useCSPViolationDetector.tsx
  frontend/packages/console-shared/src/constants/common.ts
  frontend/packages/console-shared/src/hooks/__tests__/useLocalStorageCache.spec.tsx
  frontend/packages/console-shared/src/hooks/useLocalStorageCache.ts
  frontend/public/components/app.jsx
Labels: approved, lgtm, component/shared, component/core, qe-approved, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#15427 CONSOLE-4661: Fix double scrollbar
  frontend/public/components/utils/_resource-log.scss
  frontend/public/components/utils/resource-log.tsx
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference, acknowledge-critical-fixes-only

#15371 [release-4.18] OCPBUGS-54660: Added patternfly/react-topology to shared module list of dynamic plugin sdk
  dynamic-demo-plugin/package.json
  frontend/packages/console-dynamic-plugin-sdk/README.md
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules-init.ts
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules.ts
Labels: approved, lgtm, component/sdk, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#15433 CONSOLE-4661: Fix `ResourceLog` "oepsie woepsie"
  frontend/public/components/utils/_resource-log.scss
  frontend/public/components/utils/resource-log.tsx
Labels: approved, lgtm, tide/merge-method-squash, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference, acknowledge-critical-fixes-only

#15426 OCPBUGS-56091: fix log line overlap when Wrap lines is enabled
  frontend/package.json
  frontend/yarn.lock
Labels: approved, lgtm, jira/valid-bug, jira/severity-low, jira/valid-reference, acknowledge-critical-fixes-only

#15434 OCPBUGS-60912: `/auth/error?error=missing_state&error_type=auth` is showing empty content
  frontend/public/components/app.tsx
  frontend/public/components/error.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, tide/merge-method-squash, component/core, kind/i18n, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#15411 CONSOLE-4679: Refactor builds.tsx menuActions to accept actions from provider
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/package.json
  frontend/packages/console-app/src/actions/hooks/types.ts
  frontend/packages/console-app/src/actions/hooks/useBuildsActions.ts
  frontend/packages/console-app/src/actions/providers/build-provider.ts
  frontend/packages/console-shared/src/hooks/useWarningModal.tsx
  frontend/public/components/build.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, tide/merge-method-squash, component/shared, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference, acknowledge-critical-fixes-only
