Repository openshift/console, pull requests merged in 2025-07, with the labels that each got.

#15219 OCPBUGS-55815: Breadcrumb Link fixed in Explore-type-sidebar.tsx
  frontend/public/components/sidebars/explore-type-sidebar.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#15232 OCPBUGS-58311: test fix for web-terminal by changing start terminal implemntation
  frontend/packages/topology/integration-tests/support/step-definitions/topology/edit-workload.ts
  frontend/packages/webterminal-plugin/integration-tests/support/step-definitions/pages/web-terminal/initTerminal-page.ts
Labels: approved, lgtm, component/topology, jira/valid-bug, jira/valid-reference

#15037 CONSOLE-4502, OCPBUGS-52835, OCPBUGS-55514: Implement sessions in openshift authenticator
  cmd/bridge/main.go
  dynamic-demo-plugin/console-extensions.json
  frontend/packages/console-telemetry-plugin/src/listeners/usage.ts
  frontend/packages/integration-tests-cypress/tests/app/demo-dynamic-plugin.cy.ts
  frontend/packages/integration-tests-cypress/tests/app/poll-console-updates.cy.ts
  frontend/packages/integration-tests-cypress/tests/dashboards/cluster-dashboard.cy.ts
  pkg/auth/oauth2/auth.go
  pkg/auth/oauth2/auth_oidc.go
  pkg/auth/oauth2/auth_openshift.go
  pkg/auth/sessions/loginstate.go
  pkg/auth/sessions/server_session.go
  pkg/auth/sessions/server_session_test.go
  pkg/auth/static/auth.go
  pkg/auth/tokenreviewer.go
  pkg/auth/types.go
  pkg/server/middleware.go
  pkg/server/server.go
Labels: approved, lgtm, component/core, component/backend, kind/cypress, jira/valid-bug, jira/severity-important, jira/valid-reference

#15128 OCPBUGS-57088: Update dynamic-plugin-demo/oc-manifest.yaml to use fresh image
  dynamic-demo-plugin/oc-manifest.yaml
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, jira/valid-bug, jira/valid-reference

#15224 [release-4.18] OCPBUGS-57213: Fixed typo- "Create PodDiscruptionBudget"
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/locales/es/console-app.json
  frontend/packages/console-app/locales/fr/console-app.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-app/src/components/pdb/PDBPage.tsx
Labels: approved, lgtm, tide/merge-method-squash, cherry-pick-approved, component/shared, component/dev-console, component/knative, component/core, component/sdk, component/backend, component/olm, component/git-service, qe-approved, component/insights, kind/i18n, component/helm, component/topology, component/gitops, component/pipelines, backport-risk-assessed, jira/severity-critical, jira/valid-bug, jira/valid-reference

#15225 OCPBUGS-58208: fix runtime error when editing HPA using the form
  frontend/packages/dev-console/src/components/hpa/hpa-utils.ts
Labels: approved, lgtm, component/dev-console, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#15231 OCPBUGS-58258: fix bug where / in console.tab/horizontalNav href breaks navigation
  frontend/packages/console-dynamic-plugin-sdk/docs/console-extensions.md
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/horizontal-nav-tabs.ts
  frontend/public/components/utils/horizontal-nav.tsx
Labels: approved, lgtm, component/core, component/sdk, jira/valid-bug, jira/valid-reference, plugin-api-changed, plugin-api-approved

#15193 OCPBUGS-56803: Deleted objects remain in favorites and cause 404 errors
  frontend/__tests__/components/container.spec.tsx
  frontend/packages/console-app/src/components/favorite/FavoriteButton.tsx
  frontend/packages/console-app/src/components/favorite/FavoriteNavItems.tsx
  frontend/packages/console-app/src/consts.ts
  frontend/packages/console-app/src/types.ts
  frontend/packages/console-shared/src/components/status/__tests__/status-box.spec.tsx
  frontend/packages/console-shared/src/hooks/__tests__/useUserSettings.spec.ts
  frontend/public/components/error.tsx
  frontend/public/components/useFavoritesOptions.ts
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/shared, component/core, kind/i18n, jira/valid-bug, jira/valid-reference

#15217 CONSOLE-4642: replace Bootstrap radio with PatternFly equivalent
  frontend/packages/console-app/src/components/volume-modes/volume-mode.tsx
  frontend/packages/console-shared/src/components/dynamic-form/widgets.tsx
  frontend/packages/console-shared/src/components/modals/ConsolePluginModal.tsx
  frontend/packages/console-shared/src/components/utils/ConsolePluginRadioInputs.tsx
  frontend/packages/integration-tests-cypress/tests/cluster-settings/alertmanager/receivers/slack.cy.ts
  frontend/packages/operator-lifecycle-manager/src/components/create-catalog-source.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/installplan-approval-modal.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/installplan-approval-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/subscription-channel-modal.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/subscription-channel-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/DEPRECATED_operand-form.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/ShowOperandsInAllNamespacesRadioGroup.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
  frontend/packages/operator-lifecycle-manager/src/style.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/VolumeClaimTemplateForm.tsx
  frontend/public/components/RBAC/bindings.jsx
  frontend/public/components/_radio.scss
  frontend/public/components/modals/add-secret-to-workload.tsx
  frontend/public/components/modals/configure-ns-pull-secret-modal.jsx
  frontend/public/components/monitoring/receiver-forms/pagerduty-receiver-form.tsx
  frontend/public/components/monitoring/receiver-forms/slack-receiver-form.tsx
  frontend/public/components/radio.tsx
  frontend/public/components/storage/attach-pvc-storage.tsx
  frontend/public/components/storage/create-pvc.tsx
  frontend/public/components/storage/shared.ts
  frontend/public/style.scss
  frontend/public/style/_overrides.scss
  frontend/public/style/ancillary/_bootstrap-residual.scss
Labels: approved, lgtm, component/shared, component/monitoring, component/core, component/olm, docs-approved, qe-approved, px-approved, component/pipelines, kind/cypress, jira/valid-reference, plugin-api-approved

#15252 OCPBUGS-52835: change '/metrics/usage' endpoint to '/api/metrics/usage'
  frontend/packages/console-telemetry-plugin/src/listeners/usage.ts
  pkg/server/server.go
Labels: approved, lgtm, component/backend, jira/valid-bug, jira/severity-important, jira/valid-reference

#15251 CONSOLE-4619: `_blank` removal followup
  frontend/packages/console-shared/src/components/getting-started/GettingStartedCard.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/components/utils/link.tsx
Labels: approved, lgtm, component/shared, component/core, component/olm, docs-approved, qe-approved, px-approved, jira/valid-reference

#15063 CONSOLE-4575: Refactor CommonActionFactory to hook form.
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/actions/creators/common-factory.ts
  frontend/packages/console-app/src/actions/hooks/types.ts
  frontend/packages/console-app/src/actions/hooks/useCommonActions.ts
  frontend/packages/console-app/src/actions/hooks/useCommonResourceActions.ts
  frontend/packages/console-app/src/actions/providers/cronjob-provider.ts
  frontend/packages/console-app/src/actions/providers/daemon-set-provider.ts
  frontend/packages/console-app/src/actions/providers/default-provider.ts
  frontend/packages/console-app/src/actions/providers/deployment-provider.ts
  frontend/packages/console-app/src/actions/providers/deploymentconfig-provider.ts
  frontend/packages/console-app/src/actions/providers/job-provider.ts
  frontend/packages/console-app/src/actions/providers/persistent-volume-claim-provider.ts
  frontend/packages/console-app/src/actions/providers/pod-provider.ts
  frontend/packages/console-app/src/actions/providers/replicaset-provider.ts
  frontend/packages/console-app/src/actions/providers/replication-controllers-provider.ts
  frontend/packages/console-app/src/actions/providers/stateful-set-provider.ts
  frontend/packages/console-app/src/actions/providers/storageclass-provider.ts
  frontend/packages/console-app/src/actions/providers/volume-snaphot-provider.ts
  frontend/packages/console-app/src/components/nodes/menu-actions.tsx
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/actions/providers.tsx
  frontend/packages/helm-plugin/src/actions/providers.ts
  frontend/packages/knative-plugin/src/actions/providers.ts
  frontend/packages/shipwright-plugin/src/actions/useBuildActions.ts
  frontend/packages/shipwright-plugin/src/actions/useBuildRunActions.ts
  frontend/packages/topology/src/components/workload/resource-alert.tsx
Labels: approved, lgtm, tide/merge-method-squash, component/dev-console, component/knative, component/core, docs-approved, qe-approved, px-approved, kind/i18n, component/helm, component/topology, jira/valid-reference

#15237 [release-4.18] OCPBUGS-58317: Implement sessions in openshift authenticator
  cmd/bridge/main.go
  dynamic-demo-plugin/console-extensions.json
  frontend/packages/console-telemetry-plugin/src/listeners/usage.ts
  frontend/packages/integration-tests-cypress/tests/app/demo-dynamic-plugin.cy.ts
  frontend/packages/integration-tests-cypress/tests/app/poll-console-updates.cy.ts
  frontend/packages/integration-tests-cypress/tests/dashboards/cluster-dashboard.cy.ts
  pkg/auth/oauth2/auth.go
  pkg/auth/oauth2/auth_oidc.go
  pkg/auth/oauth2/auth_openshift.go
  pkg/auth/sessions/loginstate.go
  pkg/auth/sessions/server_session.go
  pkg/auth/sessions/server_session_test.go
  pkg/auth/static/auth.go
  pkg/auth/tokenreviewer.go
  pkg/auth/types.go
  pkg/server/middleware.go
  pkg/server/server.go
Labels: approved, lgtm, cherry-pick-approved, component/backend, qe-approved, kind/cypress, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#15229 OCPBUGS-58050: fix missing form styles in storage pages
  frontend/packages/console-app/src/components/modals/restore-pvc/restore-pvc-modal.tsx
  frontend/public/components/storage/attach-storage.scss
  frontend/public/components/storage/attach-storage.tsx
  frontend/public/components/storage/create-pvc.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, tide/merge-method-squash, component/core, kind/i18n, jira/valid-bug, jira/valid-reference

#15226 ODC-7794: Add event-source, channel, and broker form page automation in CI
  frontend/packages/dev-console/integration-tests/support/constants/topology.ts
  frontend/packages/dev-console/integration-tests/support/pages/modal.ts
  frontend/packages/knative-plugin/integration-tests/features/e2e/knative-ci.feature
  frontend/packages/knative-plugin/integration-tests/support/pageObjects/global-po.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/admin-perspective/eventing-page-admin.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/common/functions/topology-admin-perspective.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/eventing/eventing-broker-actions.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/eventing/eventing-channel.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-actions-page.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-page.ts
Labels: approved, lgtm, component/dev-console, component/knative, docs-approved, qe-approved, px-approved, component/topology, jira/valid-reference

#15256 CONSOLE-4658: Replace Bootstrap Small text with PatternFly Extra Smal…
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot-class.tsx
  frontend/packages/console-shared/src/components/dashboard/inventory-card/InventoryCard.tsx
  frontend/packages/console-shared/src/components/dropdown/ResourceDropdown.tsx
  frontend/packages/console-shared/src/components/getting-started/GettingStartedCard.scss
  frontend/packages/console-shared/src/components/status/SecondaryStatus.tsx
  frontend/packages/container-security/src/components/image-manifest-vuln.tsx
  frontend/packages/container-security/src/components/summary.tsx
  frontend/packages/dev-console/src/components/catalog/PinnedResourcesConfiguration.tsx
  frontend/packages/dev-console/src/components/monitoring/overview/MonitoringOverviewAlerts.tsx
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmChartMetaDescription.tsx
  frontend/packages/knative-plugin/src/components/add/KnEventMetaDescription.tsx
  frontend/packages/operator-lifecycle-manager/src/components/cluster-service-version-logo.tsx
  frontend/packages/operator-lifecycle-manager/src/style.scss
  frontend/packages/shipwright-plugin/src/components/build-form/ParameterSection.tsx
  frontend/public/components/_deploy-image.scss
  frontend/public/components/_dropdown.scss
  frontend/public/components/_resource-dropdown.scss
  frontend/public/components/cluster-settings/global-config.tsx
  frontend/public/components/events.jsx
  frontend/public/components/hpa.tsx
  frontend/public/components/resource-dropdown.tsx
  frontend/public/components/search.tsx
  frontend/public/components/sidebars/explore-type-sidebar.tsx
  frontend/public/components/storage-class.tsx
  frontend/public/components/utils/storage-class-dropdown.tsx
  frontend/public/style/ancillary/_bootstrap-residual.scss
Labels: approved, lgtm, component/shared, component/dev-console, component/dashboard, component/knative, component/core, component/olm, docs-approved, qe-approved, px-approved, component/helm, jira/valid-reference

#15262 CONSOLE-4662: remove `screenfull`
  frontend/package.json
  frontend/packages/console-shared/src/hooks/useFullscreen.ts
  frontend/public/components/utils/resource-log.tsx
  frontend/yarn.lock
Labels: approved, lgtm, component/shared, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference

#15265 OCPBUGS-59163: Show possible enum values in ExploreTypeSidebar
  frontend/packages/integration-tests-cypress/tests/crud/other-routes.cy.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineBuilder-page.ts
  frontend/public/components/sidebars/_resource-sidebar.scss
  frontend/public/components/sidebars/explore-type-sidebar.tsx
  frontend/public/components/sidebars/resource-sidebar-samples.tsx
  frontend/public/locales/en/public.json
  frontend/public/style.scss
Labels: approved, lgtm, component/core, kind/i18n, component/pipelines, kind/cypress, jira/valid-bug, jira/valid-reference

#15253 OCPBUGS-57715: Fix Made - Clicking Cancel on YAML Creation now redirects to Secrets Page
  frontend/public/components/edit-yaml.jsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#15238 [release-4.17] OCPBUGS-58318: Implement sessions in openshift authenticator
  cmd/bridge/main.go
  dynamic-demo-plugin/console-extensions.json
  frontend/packages/console-telemetry-plugin/src/listeners/usage.ts
  frontend/packages/integration-tests-cypress/tests/app/demo-dynamic-plugin.cy.ts
  frontend/packages/integration-tests-cypress/tests/app/poll-console-updates.cy.ts
  frontend/packages/integration-tests-cypress/tests/dashboards/cluster-dashboard.cy.ts
  pkg/auth/oauth2/auth.go
  pkg/auth/oauth2/auth_oidc.go
  pkg/auth/oauth2/auth_openshift.go
  pkg/auth/sessions/loginstate.go
  pkg/auth/sessions/server_session.go
  pkg/auth/sessions/server_session_test.go
  pkg/auth/static/auth.go
  pkg/auth/tokenreviewer.go
  pkg/auth/types.go
  pkg/server/middleware.go
  pkg/server/server.go
  pkg/utils/utils.go
Labels: approved, lgtm, cherry-pick-approved, component/backend, qe-approved, kind/cypress, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#15187 CONSOLE-4578: OpenShift ConsoleCONSOLE-4578 Move "Installed Operators" from "Operators" to "Ecosystem" nav section
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/dev-console/integration-tests/support/pageObjects/operators-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/operators-page.ts
  frontend/packages/helm-plugin/console-extensions.json
  frontend/packages/integration-tests-cypress/tests/app/auth-multiuser-login.cy.ts
  frontend/packages/operator-lifecycle-manager/console-extensions.json
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-hub.cy.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-single-namespace.cy.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/views/operator.view.ts
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
Labels: approved, lgtm, component/dev-console, component/core, component/olm, docs-approved, qe-approved, px-approved, kind/i18n, component/helm, kind/cypress, jira/valid-reference

#15255 OCPBUGS-55340: Not able to launch terminal window from OCP web console due to console plugin conflicts
  frontend/packages/webterminal-plugin/console-extensions.json
  frontend/packages/webterminal-plugin/src/redux/actions/__tests__/cloud-shell-actions.spec.ts
  frontend/packages/webterminal-plugin/src/redux/reducers/__tests__/cloud-shell-selectors.spec.ts
  frontend/packages/webterminal-plugin/src/redux/reducers/cloud-shell-selectors.ts
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#15259 CONSOLE-4655: Replace Bootstrap List group with PatternFly List
  frontend/packages/console-shared/src/components/pod/PodsOverview.tsx
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-git.ts
  frontend/packages/dev-console/src/components/hpa/HpaOverview.tsx
  frontend/packages/knative-plugin/integration-tests/support/pageObjects/global-po.ts
  frontend/packages/knative-plugin/src/components/overview/ConfigurationsOverviewList.tsx
  frontend/packages/knative-plugin/src/components/overview/ConfigurationsOverviewListItem.tsx
  frontend/packages/knative-plugin/src/components/overview/DeploymentOverviewList.tsx
  frontend/packages/knative-plugin/src/components/overview/EventPubSubResources.tsx
  frontend/packages/knative-plugin/src/components/overview/EventPubSubSubscribers.tsx
  frontend/packages/knative-plugin/src/components/overview/EventSourceOwnedList.tsx
  frontend/packages/knative-plugin/src/components/overview/EventSourceResources.tsx
  frontend/packages/knative-plugin/src/components/overview/KSRouteSplitListItem.tsx
  frontend/packages/knative-plugin/src/components/overview/KSRoutesOverviewListItem.tsx
  frontend/packages/knative-plugin/src/components/overview/RevisionsOverviewList.tsx
  frontend/packages/knative-plugin/src/components/overview/RevisionsOverviewListItem.tsx
  frontend/packages/knative-plugin/src/components/overview/RoutesOverviewList.tsx
  frontend/packages/knative-plugin/src/components/overview/RoutesOverviewListItem.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/ConfigurationsOverviewListItem.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/KSRouteSplitListItem.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/KSRoutesOverviewListItem.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/RevisionsOverviewListItem.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/RoutesOverviewListItem.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/domain-mapping/DomainMappingOverviewList.tsx
  frontend/packages/knative-plugin/src/topology/sidebar/knative-resource-tab-sections.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-overview/PipelineOverview.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-overview/PipelineRunItem.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-overview/TriggersOverview.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-overview/__tests__/TriggersOverview.spec.tsx
  frontend/packages/shipwright-plugin/integration-tests/support/step-definitions/builds/shipwright-build-in-topology.ts
  frontend/packages/shipwright-plugin/src/components/build-tabsection/BuildOverview.tsx
  frontend/packages/shipwright-plugin/src/components/build-tabsection/BuildRunItem.tsx
  frontend/packages/topology/integration-tests/support/page-objects/hpa-po.ts
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-page.ts
  frontend/packages/topology/src/components/application-panel/TopologyApplicationList.tsx
  frontend/packages/topology/src/components/side-bar/TopologyEdgeResourcesPanel.tsx
  frontend/packages/topology/src/components/side-bar/TopologyGroupResourceItem.tsx
  frontend/packages/topology/src/components/side-bar/TopologyGroupResourceList.tsx
  frontend/packages/topology/src/components/workload/BuildOverview.tsx
  frontend/packages/topology/src/components/workload/JobsOverview.tsx
  frontend/packages/topology/src/components/workload/NetworkingOverview.tsx
  frontend/packages/topology/src/components/workload/vpa-tab-section.tsx
  frontend/public/style/ancillary/_bootstrap-residual.scss
Labels: approved, lgtm, component/shared, component/dev-console, component/knative, component/core, docs-approved, qe-approved, px-approved, component/topology, component/pipelines, jira/valid-reference

#15277 OCPBUGS-59277: update guided tour selector for Software catalog
  frontend/packages/console-app/src/components/guided-tour/index.ts
  frontend/packages/console-shared/src/components/spotlight/Spotlight.tsx
Labels: approved, lgtm, component/shared, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#15278 OCPBUGS-59195: Clicking on container dropdown button has no response when pod log is in fullscreen.
  frontend/public/components/utils/container-select.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-low, jira/valid-reference

#15260 [release-4.19] OCPBUGS-58217: fix missing form styles in Create PVC page + Clone PVC…
  frontend/packages/console-app/src/components/modals/clone/clone-pvc-modal.tsx
  frontend/packages/console-app/src/components/modals/restore-pvc/restore-pvc-modal.tsx
  frontend/public/components/modals/configure-cluster-upstream-modal.tsx
  frontend/public/components/storage/attach-storage.scss
  frontend/public/components/storage/attach-storage.tsx
  frontend/public/components/storage/create-pvc.tsx
  frontend/public/locales/en/public.json
  frontend/public/style/_forms.scss
  frontend/public/style/_overrides.scss
Labels: approved, lgtm, cherry-pick-approved, component/core, qe-approved, kind/i18n, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#15209 CONSOLE-4634: Refactor DeploymentActionFactory to hook form.
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/actions/creators/deployment-factory.ts
  frontend/packages/console-app/src/actions/hooks/types.ts
  frontend/packages/console-app/src/actions/hooks/useDeploymentActions.ts
  frontend/packages/console-app/src/actions/hooks/useRetryRolloutAction.ts
  frontend/packages/console-app/src/actions/providers/deployment-provider.ts
  frontend/packages/console-app/src/actions/providers/deploymentconfig-provider.ts
  frontend/packages/console-app/src/actions/providers/service-binding-provider.ts
  frontend/packages/knative-plugin/src/actions/providers.ts
  frontend/packages/topology/src/components/workload/resource-alert.tsx
Labels: approved, lgtm, component/knative, component/core, docs-approved, qe-approved, px-approved, kind/i18n, component/topology, jira/valid-reference

#15279 CONSOLE-4633, CONSOLE-4682, CONSOLE-4672: Refactor JobActionFactory, ReplicationControllerFactory and remove global menuActions for job.tsx
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/actions/creators/job-factory.ts
  frontend/packages/console-app/src/actions/creators/replication-controller-factory.ts
  frontend/packages/console-app/src/actions/hooks/types.ts
  frontend/packages/console-app/src/actions/hooks/useCommonActions.ts
  frontend/packages/console-app/src/actions/hooks/useJobActions.ts
  frontend/packages/console-app/src/actions/hooks/useReplicationControllerActions.ts
  frontend/packages/console-app/src/actions/providers/job-provider.ts
  frontend/packages/console-app/src/actions/providers/replication-controllers-provider.ts
  frontend/public/components/job.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#15302 OCPBUGS-59550: add data-test attrs to console plugins table
  frontend/packages/console-app/src/components/console-operator/ConsoleOperatorConfig.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#15283 CONSOLE-4671: Refactor ReplicaSetFactory to hook form
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/actions/creators/replicaset-factory.ts
  frontend/packages/console-app/src/actions/hooks/types.ts
  frontend/packages/console-app/src/actions/hooks/useReplicaSetActions.ts
  frontend/packages/console-app/src/actions/providers/replicaset-provider.ts
Labels: approved, lgtm, tide/merge-method-squash, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#15309 OCPBUGS-59483: Fixing no resources found message can not be shown completely
  frontend/public/components/start-guide.tsx
  frontend/public/components/utils/_disabled.scss
  frontend/public/components/utils/disabled.tsx
  frontend/public/components/utils/index.tsx
  frontend/public/style.scss
Labels: approved, lgtm, tide/merge-method-squash, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#15242 ODC-7803: Add custom icons in import flow
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-data.ts
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-utils.spec.ts
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/dev-console/src/components/import/deployImage-submit-utils.ts
  frontend/packages/dev-console/src/components/import/icon/CustomIconModal.tsx
  frontend/packages/dev-console/src/components/import/icon/IconDropdown.tsx
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/import/section/IconSection.tsx
  frontend/packages/dev-console/src/components/import/section/ResourceSection.tsx
  frontend/packages/dev-console/src/components/import/section/useDefaultBuildOption.ts
  frontend/packages/dev-console/src/components/import/upload-jar-submit-utils.ts
  frontend/packages/dev-console/src/const.ts
  frontend/packages/knative-plugin/src/utils/__mocks__/knatify-mock.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knatify-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/create-knative-utils.ts
  frontend/packages/knative-plugin/src/utils/knatify-utils.ts
  frontend/packages/topology/src/data-transforms/transform-utils.ts
Labels: approved, lgtm, component/shared, component/dev-console, component/knative, docs-approved, qe-approved, px-approved, kind/i18n, component/topology, jira/valid-reference

#15308 CONSOLE-4700: Address tech debt in `TogglePlay` and `ButtonBar`
  frontend/public/components/utils/button-bar.tsx
  frontend/public/components/utils/toggle-play.jsx
  frontend/public/components/utils/toggle-play.tsx
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference

#15312 [release-4.16] OCPBUGS-37603: Manual backport of several incremental fixes for unauthenticated endpoints
  README.md
  cmd/bridge/main.go
  dynamic-demo-plugin/console-extensions.json
  examples/.gitignore
  examples/run-bridge.sh
  examples/sa-secrets.yaml
  examples/secret.yaml
  frontend/packages/console-telemetry-plugin/src/listeners/usage.ts
  frontend/packages/integration-tests-cypress/tests/app/demo-dynamic-plugin.cy.ts
  frontend/packages/integration-tests-cypress/tests/app/poll-console-updates.cy.ts
  frontend/packages/integration-tests-cypress/tests/dashboards/cluster-dashboard.cy.ts
  pkg/auth/oauth2/auth.go
  pkg/auth/oauth2/auth_oidc.go
  pkg/auth/oauth2/auth_openshift.go
  pkg/auth/oauth2/auth_test.go
  pkg/auth/sessions/loginstate.go
  pkg/auth/tokenreviewer.go
  pkg/metrics/handler.go
  pkg/server/middleware.go
  pkg/server/server.go
  pkg/utils/utils.go
Labels: approved, lgtm, component/backend, kind/cypress, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#15323 NO-JIRA: Update README.md by adding removing co-disabled styling
  frontend/packages/console-dynamic-plugin-sdk/README.md
Labels: approved, lgtm, component/sdk, docs-approved, qe-approved, px-approved, jira/valid-reference

#15117 OCPBUGS-56466: The warning msg 'CPU and memory resource requests must be set' still shows up after deployment has resource requests set.
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/hpa/HPAFormikForm.tsx
  frontend/packages/dev-console/src/components/hpa/HPAPage.tsx
  frontend/packages/dev-console/src/components/hpa/__tests__/hpa-utils-data.ts
  frontend/packages/dev-console/src/components/hpa/__tests__/hpa-utils.spec.ts
  frontend/packages/dev-console/src/components/hpa/hpa-utils.ts
  frontend/packages/dev-console/src/components/hpa/types.ts
Labels: approved, lgtm, component/dev-console, component/core, kind/i18n, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#15314 OCPBUGS-57466: Default name is comprised of '-' on 'Add to favorites' page when language is Korean/Japanese/Chinese.
  frontend/packages/console-app/src/components/favorite/FavoriteButton.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#15318 ODC-7620: Use PF `isLoading` in CreateProjectModal
  frontend/packages/console-shared/src/components/modals/CreateProjectModal.tsx
Labels: approved, lgtm, component/shared, docs-approved, qe-approved, px-approved, jira/valid-reference

#15168 [release-4.19] OCPBUGS-56280: Follow-on fix. Add new "plugins-order" flag to bridge cli args
  cmd/bridge/main.go
  pkg/server/server.go
  pkg/serverconfig/config.go
  pkg/serverconfig/types.go
Labels: approved, lgtm, cherry-pick-approved, component/backend, qe-approved, backport-risk-assessed, jira/severity-critical, jira/valid-bug, jira/valid-reference

#15077 ODC-7802: Remove custom Drawer and Tabs from web-terminal
  frontend/package.json
  frontend/packages/console-app/src/components/tabs/Tabs.tsx
  frontend/packages/console-app/src/components/tabs/__tests__/Generated/Tabs.test.tsx
  frontend/packages/console-app/src/components/tabs/__tests__/Generated/__snapshots__/Tabs.test.tsx.snap
  frontend/packages/console-app/src/components/tabs/__tests__/Tabs.test.tsx
  frontend/packages/console-app/src/components/tabs/__tests__/__snapshots__/Tabs.test.tsx.snap
  frontend/packages/console-app/src/components/tabs/index.ts
  frontend/packages/console-shared/src/components/drawer/DraggableCoreIFrameFix.scss
  frontend/packages/console-shared/src/components/drawer/DraggableCoreIFrameFix.tsx
  frontend/packages/console-shared/src/components/drawer/Drawer.scss
  frontend/packages/console-shared/src/components/drawer/Drawer.tsx
  frontend/packages/console-shared/src/components/drawer/__tests__/DraggableCoreIFrameFix.spec.tsx
  frontend/packages/console-shared/src/components/drawer/__tests__/Drawer.spec.tsx
  frontend/packages/console-shared/src/components/drawer/index.ts
  frontend/packages/console-shared/src/components/index.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/webterminal-po.ts
  frontend/packages/integration-tests-cypress/views/nav.ts
  frontend/packages/webterminal-plugin/integration-tests/features/web-terminal/web-terminal-adminuser.feature
  frontend/packages/webterminal-plugin/integration-tests/support/step-definitions/pages/web-terminal/initTerminal-page.ts
  frontend/packages/webterminal-plugin/integration-tests/support/step-definitions/web-terminal/web-terminal-adminuser.ts
  frontend/packages/webterminal-plugin/locales/en/webterminal-plugin.json
  frontend/packages/webterminal-plugin/src/components/cloud-shell/CloudShell.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/CloudShellDrawer.scss
  frontend/packages/webterminal-plugin/src/components/cloud-shell/CloudShellDrawer.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/CloudShellMastheadButton.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/CloudShellTab.scss
  frontend/packages/webterminal-plugin/src/components/cloud-shell/CloudShellTab.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/CloudShellTerminal.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/MinimizeRestoreButton.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/MultiTabbedTerminal.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/__tests__/CloudShellDrawer.spec.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/__tests__/CloudShellTab.spec.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/__tests__/MinimizeRestoreButton.spec.tsx
  frontend/packages/webterminal-plugin/src/components/cloud-shell/__tests__/MultiTabbedTerminal.spec.tsx
  frontend/public/components/_sysevent-stream.scss
  frontend/public/components/app.tsx
  frontend/public/components/utils/event-stream.tsx
  frontend/yarn.lock
Labels: approved, lgtm, component/shared, component/dev-console, component/core, component/olm, docs-approved, qe-approved, px-approved, component/topology, kind/cypress, jira/valid-reference, acknowledge-critical-fixes-only

#15303 CONSOLE-4608: Drop createModalLauncher from helm-plugin and use useOverlay hook instead
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradeForm.tsx
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmReadmeModal.tsx
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/helm, jira/valid-reference, acknowledge-critical-fixes-only

#15319 CONSOLE-4699: Update dynamic demo plugin e2e tests
  frontend/packages/integration-tests-cypress/tests/app/demo-dynamic-plugin.cy.ts
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, kind/cypress, jira/valid-reference

#15341 OCPBUGS-59196: fix runtime exception in CreateYAMLInner
  frontend/public/components/create-yaml.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#15338 [release-4.17] OCPBUGS-59879: add data-test attrs to console plugins …
  frontend/packages/console-app/src/components/console-operator/ConsoleOperatorConfig.tsx
Labels: approved, lgtm, component/core, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#15332 OCPBUGS-57481: fix: Fix negative CPU util graphs
  frontend/packages/console-shared/src/promql/cluster-dashboard.ts
Labels: approved, lgtm, component/shared, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#15339 CONSOLE-4704: Update ThemeContext type
  frontend/packages/console-shared/src/hooks/useUserSettings.ts
  frontend/packages/console-shared/src/hooks/useUserSettingsCompatibility.ts
  frontend/packages/console-shared/src/hooks/useUserSettingsLocalStorage.ts
  frontend/packages/console-shared/src/utils/__tests__/user-settings.spec.ts
  frontend/packages/console-shared/src/utils/user-settings.ts
  frontend/packages/topology/src/components/side-bar/components/SideBarAlerts.tsx
  frontend/public/components/ThemeProvider.tsx
Labels: approved, lgtm, component/shared, component/core, docs-approved, qe-approved, px-approved, component/topology, jira/valid-reference

#15320 [release-4.19] OCPBUGS-59639: Fixing no resources found message can not be shown completely
  frontend/public/components/start-guide.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, kind/i18n, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#15337 OCPBUGS-59725: Refactor `RegistryPollIntervalModal`
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/catalog-source-details.cy.ts
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/catalog-source.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/edit-registry-poll-interval-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/registry-poll-interval-details.tsx
Labels: approved, lgtm, component/olm, kind/i18n, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#15245 OCPBUGS-57392: Update guided tour modal and add a image
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/guided-tour/index.tsx
  frontend/packages/console-app/src/components/tour/AdminGuidedTourBanner.tsx
  frontend/packages/console-app/src/components/tour/AdminGuidedTourBannerDark.tsx
  frontend/packages/console-app/src/components/tour/GuidedTour.tsx
  frontend/packages/console-app/src/components/tour/StepComponent.tsx
  frontend/packages/console-app/src/components/tour/TourStepComponent.tsx
  frontend/packages/console-app/src/components/tour/steps/StepFooter.tsx
  frontend/packages/console-app/src/components/tour/type.ts
  frontend/packages/dev-console/src/components/guided-tour/GuidedTourIntroBanner.tsx
  frontend/packages/dev-console/src/components/guided-tour/GuidedTourIntroBannerDark.tsx
  frontend/packages/dev-console/src/components/guided-tour/index.tsx
  frontend/public/components/masthead-toolbar.jsx
Labels: approved, lgtm, tide/merge-method-squash, component/dev-console, component/core, kind/i18n, jira/valid-bug, jira/valid-reference

#15268 OCPBUGS-59215: switch to dev perspective for `/dev-monitoring`
  frontend/packages/console-shared/src/components/dashboard/utilization-card/TopConsumerPopover.tsx
  frontend/packages/dev-console/src/components/monitoring/overview/MonitoringOverviewAlerts.tsx
  frontend/public/components/graphs/prometheus-graph.tsx
Labels: approved, lgtm, component/shared, component/dev-console, component/dashboard, component/core, qe-approved, jira/valid-bug, jira/valid-reference

#15307 OCPBUGS-59563: Resolving API Version Conflicts in Tekton Pipeline Runs
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/resource-overview/DynamicResourceLinkList.tsx
  frontend/packages/pipelines-plugin/src/components/shared/common/PipelineResourceRef.tsx
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference

#15342 CONSOLE-4688: Use PF instead of `noSelection` `Dropdown`
  frontend/packages/console-shared/src/components/multi-tab-list/MultiTabListPage.tsx
  frontend/packages/knative-plugin/integration-tests/support/pageObjects/global-po.ts
  frontend/packages/knative-plugin/integration-tests/support/pages/functions/functions-page.ts
  frontend/packages/knative-plugin/src/components/functions/CreateActionDropdown.tsx
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelines-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/task-page.ts
  frontend/packages/pipelines-plugin/src/components/ListPage.tsx
  frontend/public/components/factory/list-page.tsx
Labels: approved, lgtm, component/shared, component/knative, component/core, docs-approved, qe-approved, px-approved, component/pipelines, jira/valid-reference
