Repository openshift/console, pull requests merged in 2025-05, with the labels that each got.

#15012 OCPBUGS-55454: Disable web terminal and Shipwright e2e
  frontend/integration-tests/test-cypress.sh
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
Labels: approved, lgtm, component/topology, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#15011 OCPBUGS-55448: Fix +Add details switch animation regression
  frontend/packages/dev-console/src/components/add/AddPageLayout.tsx
  frontend/packages/topology/src/components/quick-search/TopologyQuickSearchButton.tsx
Labels: approved, lgtm, component/dev-console, component/topology, jira/valid-bug, jira/severity-low, jira/valid-reference, acknowledge-critical-fixes-only

#15007 OCPBUGS-55414: fix runtime error on MachineConfigPools page
  frontend/public/components/cluster-settings/cluster-settings.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference, acknowledge-critical-fixes-only

#15015 OCPBUGS-55633: fix bug where Critical Alerts section cannot be collapsed
  frontend/public/components/notification-drawer.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#15006 OCPBUGS-53320: Add DEVCONSOLE_PROXY flag
  frontend/__tests__/reducers/features.spec.tsx
  frontend/packages/console-shared/src/constants/common.ts
  frontend/public/reducers/features.ts
Labels: approved, lgtm, component/shared, component/core, component/backend, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#14701 OCPBUGS-49291: Improving the DevExp for passing the CSP directives to console per flag + Make use of connect-src and object-src directives
  README.md
  cmd/bridge/main.go
  pkg/server/server.go
  pkg/serverconfig/config.go
  pkg/serverconfig/config_test.go
  pkg/serverconfig/types.go
  pkg/utils/utils.go
  pkg/utils/utils_test.go
Labels: approved, lgtm, component/backend, jira/valid-bug, jira/valid-reference

#14990 OCPBUGS-54157: Sample segment sessions
  frontend/packages/console-telemetry-plugin/src/listeners/segment.ts
Labels: approved, lgtm, jira/valid-bug, jira/severity-important, jira/valid-reference

#14998 OCPBUGS-55375: add data-quickstart-id to quick create button
  frontend/public/components/QuickCreate.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#15001 OCPBUGS-53428: HorizontalPodAutoscalers via console require CPU resource limit even though HPAs use requests for scaling
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/hpa/HPADetailsForm.tsx
  frontend/packages/dev-console/src/components/hpa/HPAFormikForm.tsx
  frontend/packages/dev-console/src/components/hpa/__tests__/hpa-utils.spec.ts
  frontend/packages/dev-console/src/components/hpa/hpa-utils.ts
  frontend/packages/dev-console/src/components/hpa/validation-utils.ts
Labels: approved, lgtm, component/dev-console, kind/i18n, jira/valid-bug, jira/valid-reference

#15009 OCPBUGS-55430: resolve http Context and Client handling
  pkg/devconsole/artifacthub/artifacthub.go
  pkg/devconsole/tekton-results/results.go
  pkg/devconsole/webhooks/webhooks.go
Labels: approved, lgtm, ok-to-test, component/backend, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only

#14993 OCPBUGS-55323: Add patternfly/react-topology to shared modules list of dynamic plugin sdk
  frontend/packages/console-dynamic-plugin-sdk/README.md
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules/shared-modules-init.ts
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules/shared-modules-meta.ts
Labels: approved, lgtm, component/sdk, docs-approved, px-approved, jira/valid-bug, jira/valid-reference, acknowledge-critical-fixes-only, plugin-api-changed, plugin-api-approved

#15008 OCPBUGS-55412: Wrap ListPageHeader action with a div
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/public/components/factory/ListPage/ListPageHeader.tsx
Labels: approved, lgtm, component/core, component/olm, jira/valid-bug, jira/severity-moderate, jira/valid-reference, acknowledge-critical-fixes-only

#14841 CONSOLE-4393: Update to Node.js® v22
  .ci-operator.yaml
  Dockerfile
  Dockerfile.builder
  Dockerfile.dev
  Dockerfile.plugins.demo
  Dockerfile.plugins.demo2
  README.md
  builder-run.sh
  frontend/package.json
  frontend/yarn.lock
Labels: approved, lgtm, component/shared, component/dev-console, component/dashboard, component/knative, component/core, component/sdk, component/backend, component/olm, docs-approved, qe-approved, px-approved, component/helm, component/topology, component/pipelines, jira/valid-reference, acknowledge-critical-fixes-only

#15025 OCPBUGS-46385: fix alignment of Getting Started item icons
  frontend/packages/console-shared/src/components/getting-started/GettingStartedCard.tsx
  frontend/public/style/_common.scss
Labels: approved, lgtm, component/shared, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#15014 CONSOLE-4550: `col-sm-6` => `GridItem sm={6}`
  frontend/packages/console-app/src/components/pdb/PDBDetailsPage.tsx
  frontend/packages/container-security/src/components/image-manifest-vuln.tsx
  frontend/packages/helm-plugin/src/components/details-page/overview/HelmReleaseOverview.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/details/SubscriptionDetails.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/details/TriggerDetails.tsx
  frontend/packages/knative-plugin/src/components/routes/RouteDetailsPage.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostDetails.tsx
  frontend/packages/operator-lifecycle-manager/src/components/catalog-source.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/install-plan.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-details.tsx
  frontend/packages/operator-lifecycle-manager/src/components/subscription.tsx
  frontend/packages/pipelines-plugin/src/components/cluster-tasks/ClusterTaskDetails.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunDetailsSection.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/EventListenerDetails.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/TriggerBindingDetails.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/TriggerTemplateDetails.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineDetails.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryDetails.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/TaskRunDetailsSection.tsx
  frontend/packages/pipelines-plugin/src/components/tasks/TaskDetails.tsx
  frontend/packages/service-binding-plugin/src/components/service-binding-details/ServiceBindingDetailsTab.tsx
  frontend/packages/shipwright-plugin/src/components/build-details/BuildDetailsTab.tsx
  frontend/packages/shipwright-plugin/src/components/buildrun-details/BuildRunDetailsTab.tsx
  frontend/public/components/alert-manager.tsx
  frontend/public/components/build-config.tsx
  frontend/public/components/build.tsx
  frontend/public/components/cluster-settings/cluster-operator.tsx
  frontend/public/components/custom-resource-definition.tsx
  frontend/public/components/deployment-config.tsx
  frontend/public/components/deployment.tsx
  frontend/public/components/graphs/health.jsx
  frontend/public/components/hpa.tsx
  frontend/public/components/machine-config-pool.tsx
  frontend/public/components/machine-health-check.tsx
  frontend/public/components/machine.tsx
  frontend/public/components/modals/column-management-modal.tsx
  frontend/public/components/monitoring/alertmanager/alertmanager-config.tsx
  frontend/public/components/monitoring/receiver-forms/email-receiver-form.tsx
  frontend/public/components/namespace.jsx
  frontend/public/components/persistent-volume-claim.jsx
  frontend/public/components/persistent-volume.jsx
  frontend/public/components/pod.tsx
  frontend/public/components/resource-quota.jsx
  frontend/public/components/routes.tsx
  frontend/public/components/storage-class.tsx
  frontend/public/components/template-instance.tsx
Labels: approved, lgtm, component/knative, component/monitoring, component/core, component/metal3, component/olm, docs-approved, qe-approved, px-approved, component/helm, component/pipelines, jira/valid-reference

#15045 OCPBUGS-55919: remove 60 day alert from cluster update modal
  frontend/public/components/modals/cluster-update-modal.tsx
  frontend/public/components/utils/documentation.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, kind/i18n, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#15043 [release-4.18] OCPBUGS-55991: Remove the devconsole backend common internet proxy and replace it with dedicated ones
  cmd/bridge/main.go
  frontend/__tests__/reducers/features.spec.tsx
  frontend/packages/console-shared/src/constants/common.ts
  frontend/packages/console-shared/src/types/backend-api.ts
  frontend/packages/console-shared/src/types/index.ts
  frontend/packages/console-shared/src/utils/proxy.ts
  frontend/packages/git-service/src/services/bitbucket-service.ts
  frontend/packages/git-service/src/services/gitea-service.ts
  frontend/packages/git-service/src/services/github-service.ts
  frontend/packages/git-service/src/services/gitlab-service.ts
  frontend/packages/pipelines-plugin/src/components/catalog/apis/artifactHub.ts
  frontend/packages/pipelines-plugin/src/components/catalog/apis/utils.ts
  frontend/packages/pipelines-plugin/src/components/catalog/providers/useArtifactHubTasksProvider.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/utils/tekton-results.ts
  frontend/packages/pipelines-plugin/src/const.ts
  frontend/public/reducers/features.ts
  pkg/devconsole/artifacthub/artifacthub.go
  pkg/devconsole/artifacthub/types.go
  pkg/devconsole/common/types.go
  pkg/devconsole/handler.go
  pkg/devconsole/proxy/proxy.go
  pkg/devconsole/proxy/proxy_test.go
  pkg/devconsole/proxy/types.go
  pkg/devconsole/tekton-results/results.go
  pkg/devconsole/tekton-results/types.go
  pkg/devconsole/webhooks/types.go
  pkg/devconsole/webhooks/webhooks.go
  pkg/server/server.go
Labels: approved, lgtm, cherry-pick-approved, component/shared, component/dev-console, component/core, component/backend, component/git-service, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#15046 OCPBUGS-56039: Update supported languages in Internationalization docs
  INTERNATIONALIZATION.md
Labels: approved, lgtm, docs-approved, jira/valid-bug, jira/severity-important, jira/valid-reference

#15028 OCPBUGS-55896: Refactor Kebab+ActionsMenu to use PF
  frontend/packages/integration-tests-cypress/tests/cluster-settings/alertmanager/alertmanager.cy.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarHeader.tsx
  frontend/packages/topology/src/components/side-bar/TopologyEdgePanel.tsx
  frontend/public/components/utils/__tests__/kebab.spec.tsx
  frontend/public/components/utils/_kebab.scss
  frontend/public/components/utils/actions-menu.tsx
  frontend/public/components/utils/dropdown.jsx
  frontend/public/components/utils/headings.tsx
  frontend/public/components/utils/index.tsx
  frontend/public/components/utils/kebab.tsx
  frontend/public/style.scss
Labels: approved, lgtm, component/core, component/topology, component/pipelines, kind/cypress, jira/valid-bug, jira/valid-reference

#15026 OCPBUGS-55808: fix cy.createProject command
  frontend/packages/integration-tests-cypress/support/project.ts
Labels: approved, lgtm, kind/cypress, jira/severity-critical, jira/valid-bug, jira/valid-reference

#15003 OCPBUGS-55419: improve description of the custom logos CLI args
  cmd/bridge/main.go
Labels: approved, lgtm, component/backend, jira/valid-bug, jira/valid-reference

#14971 OCPBUGS-37977: Refresh console TLS certs at runtime
  cmd/bridge/main.go
Labels: approved, lgtm, component/backend, jira/valid-bug, jira/severity-low, jira/valid-reference, acknowledge-critical-fixes-only

#15054 OCPBUGS-56245: Remove dead code for deployment and deployment config
  frontend/packages/console-app/src/actions/edit-resource-limits.ts
  frontend/packages/console-app/src/actions/modify-hpa.ts
  frontend/public/components/deployment-config.tsx
  frontend/public/components/deployment.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/core, kind/i18n, jira/valid-bug, jira/valid-reference

#14999 OCPBUGS-55208: Should show default OpenShift Logo for a theme when there is not custom logo set for the theme.
  frontend/public/components/utils/branding.ts
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#15017 OCPBUGS-55368: [knative] Self-provisioner user can not access or create event sources via ODC
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/utils/rbac.tsx
  frontend/packages/knative-plugin/src/hooks/useEventSourceStatus.ts
Labels: approved, lgtm, component/knative, component/sdk, jira/valid-bug, jira/valid-reference

#14997 CONSOLE-3644: `app.jsx` -> `app.tsx`
  frontend/@types/console/index.d.ts
  frontend/public/components/app.tsx
  frontend/public/components/console-notifier.tsx
  frontend/public/components/masthead.tsx
  frontend/public/components/notification-drawer.tsx
  frontend/public/components/poll-console-updates.tsx
  frontend/public/components/utils/branding.ts
  frontend/public/locales/en/public.json
  frontend/webpack.config.ts
Labels: approved, lgtm, component/core, docs-approved, qe-approved, px-approved, kind/i18n, jira/valid-reference

#14903 OCPBUGS-54195: Enable pipeline tests by installing operator version 1.17
  frontend/integration-tests/test-cypress.sh
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineRun-details-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelines-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-runs.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-triggers.ts
  frontend/packages/pipelines-plugin/integration-tests/testData/pipelinesOperatorSubscription.yaml
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference

#14992 ODC-7786: Add flags in console static plugin for all the components of this epic
  frontend/packages/pipelines-plugin/console-extensions.json
Labels: approved, lgtm, docs-approved, qe-approved, px-approved, component/pipelines, jira/valid-reference

#15056 OCPBUGS-56410: Recognize Detached BMH status
  frontend/packages/metal3-plugin/locales/en/metal3-plugin.json
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostDetails.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostSecondaryStatus.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/StatusCard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/host-menu-actions.tsx
  frontend/packages/metal3-plugin/src/plugin.tsx
  frontend/packages/metal3-plugin/src/selectors/baremetal-hosts.ts
  frontend/packages/metal3-plugin/src/status/baremetal-node-status.ts
Labels: approved, lgtm, component/metal3, kind/i18n, jira/valid-bug, jira/severity-important, jira/valid-reference

#15064 OCPBUGS-49291: Set proper type for the CSP field for the serverconfig
  pkg/serverconfig/config.go
  pkg/serverconfig/config_test.go
  pkg/serverconfig/types.go
Labels: approved, lgtm, component/backend, jira/valid-bug, jira/valid-reference

#15065 OCPBUGS-54434: Update vSphere configuration form to support CM YAML f…
  frontend/packages/vsphere-plugin/__tests__/__snapshots__/utils.spec.ts.snap
  frontend/packages/vsphere-plugin/__tests__/utils.spec.ts
  frontend/packages/vsphere-plugin/locales/en/vsphere-plugin.json
  frontend/packages/vsphere-plugin/package.json
  frontend/packages/vsphere-plugin/src/components/ClusterOverview/VSphereStatus.tsx
  frontend/packages/vsphere-plugin/src/components/VSphereConnectionModal.tsx
  frontend/packages/vsphere-plugin/src/components/persist.ts
  frontend/packages/vsphere-plugin/src/components/types.ts
  frontend/packages/vsphere-plugin/src/components/utils.ts
  frontend/packages/vsphere-plugin/src/hooks/use-connection-form.ts
  frontend/packages/vsphere-plugin/src/resources/infrastructure.ts
  frontend/yarn.lock
Labels: approved, lgtm, jira/severity-critical, jira/valid-bug, jira/valid-reference

#14970 ODC-7782: Test adjustments to perspective merge
  frontend/packages/console-telemetry-plugin/integration-tests/support/step-definitions/common/telemetryAnalytics.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/createGitWorkload.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/export-application.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/helm-chart-repositories.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/sharing.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/addFlow.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/getting-started/sample-card-add-page.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-navigation.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm.ts
  frontend/packages/knative-plugin/integration-tests/features/admin-perspective/eventing-page-admin.feature
  frontend/packages/knative-plugin/integration-tests/features/admin-perspective/filters-serving-eventing-admin.feature
  frontend/packages/knative-plugin/integration-tests/features/admin-perspective/serving-page-admin.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/create-knative-workload.feature
  frontend/packages/knative-plugin/integration-tests/support/pageObjects/global-po.ts
  frontend/packages/knative-plugin/integration-tests/support/pages/admin-perspective/eventing-page.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/admin-perspective/serving-page-admin.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/functions/functions-navigation.ts
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-add-options.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-builder-page.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/event-tab-in-pipeline-run-page.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipeline-metrics.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipeline-navigation.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipeline-task-runs-display.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-actions.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-as-code.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-runs.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-secrets.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-triggers.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-workspaces.feature
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/common/pipelines.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-from-add-options.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-from-builder-page.ts
  frontend/packages/shipwright-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/topology/integration-tests/support/step-definitions/common/topology.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/chart-view.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/horizontal-pod-autoscaler/action-on-hpa.ts
  frontend/packages/webterminal-plugin/integration-tests/support/step-definitions/common/webTerminal.ts
Labels: approved, lgtm, component/dev-console, component/knative, docs-approved, qe-approved, px-approved, component/helm, component/topology, component/pipelines, jira/valid-reference

#15052 OCPBUGS-55806: fix bug where AlertItem is missing info icon
  frontend/packages/console-shared/src/components/dashboard/status-card/AlertItem.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, component/shared, component/dashboard, component/core, kind/i18n, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#15070 NO-JIRA: Update plugin SDK docs
  frontend/packages/console-dynamic-plugin-sdk/CHANGELOG-core.md
  frontend/packages/console-dynamic-plugin-sdk/CHANGELOG-webpack.md
  frontend/packages/console-dynamic-plugin-sdk/README.md
  frontend/packages/console-dynamic-plugin-sdk/upgrade-PatternFly.md
Labels: approved, lgtm, tide/merge-method-squash, component/sdk, docs-approved, qe-approved, px-approved, jira/valid-reference

#15072 [release-4.16] OCPBUGS-56472: Remove the devconsole backend common internet proxy and replace it with dedicated ones
  cmd/bridge/main.go
  frontend/__tests__/reducers/features.spec.tsx
  frontend/packages/console-shared/src/constants/common.ts
  frontend/packages/console-shared/src/types/backend-api.ts
  frontend/packages/console-shared/src/types/index.ts
  frontend/packages/console-shared/src/utils/proxy.ts
  frontend/packages/git-service/src/services/bitbucket-service.ts
  frontend/packages/git-service/src/services/github-service.ts
  frontend/packages/git-service/src/services/gitlab-service.ts
  frontend/packages/pipelines-plugin/src/components/catalog/apis/artifactHub.ts
  frontend/packages/pipelines-plugin/src/components/catalog/apis/utils.ts
  frontend/packages/pipelines-plugin/src/components/catalog/providers/useArtifactHubTasksProvider.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/utils/tekton-results.ts
  frontend/packages/pipelines-plugin/src/const.ts
  frontend/public/reducers/features.ts
  pkg/devconsole/artifacthub/artifacthub.go
  pkg/devconsole/artifacthub/types.go
  pkg/devconsole/common/types.go
  pkg/devconsole/handler.go
  pkg/devconsole/proxy/proxy.go
  pkg/devconsole/proxy/proxy_test.go
  pkg/devconsole/proxy/types.go
  pkg/devconsole/tekton-results/results.go
  pkg/devconsole/tekton-results/types.go
  pkg/devconsole/webhooks/types.go
  pkg/devconsole/webhooks/webhooks.go
  pkg/server/server.go
Labels: approved, lgtm, cherry-pick-approved, component/shared, component/dev-console, component/core, component/backend, component/git-service, qe-approved, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/valid-reference

#15068 ODC-7797: Expose PodRingSet via Dynamic Plugin SDK
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-topology-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/topology-types.ts
  frontend/packages/console-shared/src/components/pod/PodRingSet.tsx
Labels: approved, lgtm, component/shared, component/sdk, docs-approved, qe-approved, px-approved, jira/valid-reference, plugin-api-changed, plugin-api-approved

#15058 OCPBUGS-56087: Opening Edit Secret modal and saving without changes throws error
  frontend/public/components/secrets/create-secret/SecretFormWrapper.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#15080 OCPBUGS-56628: Fix regression with drawers and modals
  frontend/public/style/_overrides.scss
Labels: approved, lgtm, component/core, jira/valid-bug, jira/valid-reference

#15092 OCPBUGS-52842: Fix TypeError Cannot read properties of null (reading 'metadata')
  frontend/packages/console-shared/src/hooks/useServicesWatcher.ts
Labels: approved, lgtm, component/shared, jira/valid-bug, jira/severity-important, jira/valid-reference

#15085 OCPBUGS-56439: Remove duplicate sinkUri code
  frontend/packages/knative-plugin/src/actions/edit-sink-uri.ts
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#15084 OCPBUGS-54185: Helm resource list error in console
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmChartVersionDropdown.tsx
  frontend/packages/helm-plugin/src/utils/helm-utils.ts
Labels: approved, lgtm, component/helm, jira/valid-bug, jira/valid-reference

#15020 OCPBUGS-55431: Add initialization link annotation support to csv anno…
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/index.ts
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-utils.ts
  frontend/packages/operator-lifecycle-manager/src/components/operator-install-page.tsx
Labels: approved, lgtm, component/olm, kind/i18n, jira/valid-bug, jira/severity-important, jira/valid-reference

#15102 [release-4.16] OCPBUGS-56858: remove 60 day alert from cluster update modal
  frontend/public/components/modals/cluster-update-modal.tsx
  frontend/public/components/utils/documentation.tsx
  frontend/public/locales/en/public.json
Labels: approved, lgtm, cherry-pick-approved, component/core, qe-approved, kind/i18n, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#15090 OCPBUGS-56700: UI for search by label is distorted in topology
  frontend/packages/topology/src/filters/NameLabelFilterDropdown.scss
  frontend/packages/topology/src/filters/NameLabelFilterDropdown.tsx
  frontend/public/components/_autocomplete.scss
Labels: approved, lgtm, component/core, component/topology, jira/valid-bug, jira/valid-reference

#15101 OCPBUGS-56889: Add flags in console static plugin for all the components of this epic
  frontend/packages/pipelines-plugin/console-extensions.json
Labels: approved, lgtm, component/pipelines, jira/valid-bug, jira/valid-reference
