Repository openshift/console, pull requests merged in 2025-10, with the labels that each got.

#15418 CONSOLE-4697: Enable strickNullCheck for /console-app/components/resource-quota | quick-starts | tour | tabs | vpa | storage
  frontend/packages/console-app/src/components/quick-starts/QuickStartConfiguration.tsx
  frontend/packages/console-app/src/components/quick-starts/utils/useQuickStartPermission.ts
  frontend/packages/console-app/src/components/quick-starts/utils/useQuickStarts.ts
  frontend/packages/console-app/src/components/resource-quota/AppliedClusterResourceQuotaCharts.tsx
  frontend/packages/console-app/src/components/resource-quota/ClusterResourceQuotaCharts.tsx
  frontend/packages/console-app/src/components/resource-quota/ResourceQuotaCharts.tsx
  frontend/packages/console-app/src/components/resource-quota/utils.ts
  frontend/packages/console-app/src/components/storage/StorageClassProviders.ts
  frontend/packages/console-app/src/components/tour/GuidedTour.tsx
  frontend/packages/console-app/src/components/tour/StepComponent.tsx
  frontend/packages/console-app/src/components/tour/TourStepComponent.tsx
  frontend/packages/console-app/src/components/tour/tour-context.ts
  frontend/packages/console-app/src/components/tour/utils.ts
Labels: approved, lgtm, tide/merge-method-squash, component/core, docs-approved, qe-approved, px-approved, jira/valid-reference, acknowledge-critical-fixes-only, verified

#15550 CONSOLE-4798: Migrate `StorageClassProvisioner` to dynamic
  frontend/packages/console-plugin-sdk/src/typings/storage-class-params.ts
Labels: approved, lgtm, component/sdk, docs-approved, px-approved, hacktoberfest-accepted, jira/valid-reference, verified

#15524 OCPBUGS-59529: Prevent the topology context menu items from truncating
  frontend/packages/topology/src/components/graph-view/components/ContextMenu.scss
Labels: approved, lgtm, component/topology, jira/valid-bug, jira/valid-reference, verified, verified-later

#15553 CONSOLE-4800: Migrate `HorizontalNavTab` to dynamic
  frontend/packages/console-demo-plugin/src/components/test-pages.tsx
  frontend/packages/console-demo-plugin/src/plugin.tsx
  frontend/packages/console-plugin-sdk/src/typings/horizontal-nav.ts
  frontend/packages/console-plugin-sdk/src/typings/index.ts
  frontend/public/components/utils/horizontal-nav.tsx
Labels: approved, lgtm, component/core, component/sdk, docs-approved, px-approved, hacktoberfest-accepted, jira/valid-reference, verified

#15552 CONSOLE-4795, CONSOLE-4801, CONSOLE-4797: Migrate some static extensions to dynamic
  dynamic-demo-plugin/console-extensions.json
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/src/components/PrometheusActivity.tsx
  frontend/packages/console-demo-plugin/src/components/dashboards/activity.tsx
  frontend/packages/console-demo-plugin/src/plugin.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-types.ts
  frontend/packages/console-plugin-sdk/src/typings/dashboards.ts
  frontend/packages/console-plugin-sdk/src/typings/detail-page-bread-crumbs.ts
  frontend/packages/console-plugin-sdk/src/typings/index.ts
  frontend/packages/console-plugin-sdk/src/typings/overview.ts
  frontend/packages/console-shared/src/components/dashboard/activity-card/ActivityBody.tsx
  frontend/packages/console-shared/src/hooks/__tests__/usePluginsOverviewTabSection.spec.ts
  frontend/packages/console-shared/src/hooks/index.ts
  frontend/packages/console-shared/src/hooks/plugins-overview-tab-section.ts
  frontend/packages/console-shared/src/hooks/useTabbedTableBreadcrumb.ts
  frontend/packages/dev-console/src/plugin.tsx
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/package.json
  frontend/packages/knative-plugin/src/components/overview/OverviewDetailsKnativeResourcesTab.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/OverviewDetailsKnativeResourcesTab.spec.tsx
  frontend/packages/knative-plugin/src/plugin.tsx
  frontend/packages/knative-plugin/src/providers/index.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/activity-card.tsx
  frontend/public/components/dashboard/project-dashboard/inventory-card.tsx
  frontend/public/components/factory/details-breadcrumb-resolver.tsx
  frontend/public/components/factory/details.tsx
Labels: approved, lgtm, component/shared, component/dev-console, component/dashboard, component/knative, component/core, component/sdk, docs-approved, px-approved, hacktoberfest-accepted, kind/i18n, jira/valid-reference, plugin-api-changed, plugin-api-approved, verified

#15546 OCPBUGS-62315: Correct the width of the cluster config toolbar filter input
  frontend/public/components/cluster-settings/global-config.tsx
Labels: approved, lgtm, component/core, jira/valid-bug, jira/severity-moderate, jira/valid-reference, verified, verified-later

#15521 OCPBUGS-60603: Add bearer token file configuration to oc-environment script
  contrib/oc-environment.sh
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, verified

#15464 [release-4.14] OCPBUGS-59998: Remove the devconsole backend common internet proxy and replace it with dedicated ones
  cmd/bridge/main.go
  frontend/__tests__/reducers/features.spec.tsx
  frontend/packages/console-shared/src/constants/common.ts
  frontend/packages/console-shared/src/types/backend-api.ts
  frontend/packages/console-shared/src/types/index.ts
  frontend/packages/console-shared/src/utils/proxy.ts
  frontend/packages/git-service/src/services/bitbucket-service.ts
  frontend/packages/git-service/src/services/github-service.ts
  frontend/packages/git-service/src/services/gitlab-service.ts
  frontend/packages/pipelines-plugin/src/components/catalog/apis/artifactHub.ts
  frontend/packages/pipelines-plugin/src/components/catalog/apis/utils.ts
  frontend/packages/pipelines-plugin/src/components/catalog/providers/useArtifactHubTasksProvider.tsx
  frontend/packages/pipelines-plugin/src/const.ts
  frontend/public/reducers/features.ts
  pkg/devconsole/artifacthub/artifacthub.go
  pkg/devconsole/artifacthub/types.go
  pkg/devconsole/common/types.go
  pkg/devconsole/handler.go
  pkg/devconsole/proxy/proxy.go
  pkg/devconsole/proxy/proxy_test.go
  pkg/devconsole/proxy/types.go
  pkg/devconsole/webhooks/types.go
  pkg/devconsole/webhooks/webhooks.go
  pkg/server/server.go
Labels: approved, lgtm, component/shared, component/dev-console, component/core, component/backend, component/git-service, component/pipelines, backport-risk-assessed, jira/valid-bug, jira/severity-moderate, jira/valid-reference, verified, verified-later

#15514 CONSOLE-4602: Migrate enzyme "packages/console-app" unit tests to React Testing Library
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/modals/resource-limits/ResourceLimitsModal.tsx
  frontend/packages/console-app/src/components/modals/resource-limits/__tests__/ResourceLimitsModal.spec.tsx
  frontend/packages/console-app/src/components/nav/__tests__/PerspectiveNav.spec.tsx
  frontend/packages/console-app/src/components/nav/__tests__/perspective-nav.spec.tsx
  frontend/packages/console-app/src/components/tour/__tests__/TourStepComponent.spec.tsx
  frontend/packages/console-app/src/components/user-preferences/UserPreferenceForm.tsx
  frontend/packages/console-app/src/components/user-preferences/__tests__/UserPreferenceCheckboxField.spec.tsx
  frontend/packages/console-app/src/components/user-preferences/__tests__/UserPreferenceCustomField.spec.tsx
  frontend/packages/console-app/src/components/user-preferences/__tests__/UserPreferenceDropdownField.spec.tsx
  frontend/packages/console-app/src/components/user-preferences/__tests__/UserPreferenceField.spec.tsx
  frontend/packages/console-app/src/components/user-preferences/__tests__/UserPreferenceForm.spec.tsx
  frontend/packages/console-app/src/components/user-preferences/__tests__/UserPreferencesPage.spec.tsx
  frontend/packages/console-app/src/components/user-preferences/language/__tests__/LanguageDropdown.spec.tsx
  frontend/packages/console-app/src/components/user-preferences/namespace/__tests__/NamespaceDropdown.spec.tsx
  frontend/packages/console-app/src/components/user-preferences/perspective/__tests__/PreferredPerspectiveSelect.spec.tsx
  frontend/public/components/factory/modal.tsx
Labels: approved, lgtm, component/core, docs-approved, px-approved, kind/i18n, jira/valid-reference, verified
